{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Raisely Universal API",
    "version": "0.0.8",
    "description": "Manage Raisely campaigns, profiles, donations, users, and subscriptions"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/raisely/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/raisely/latest/actions/create-donation": {
      "post": {
        "operationId": "raisely.create-donation",
        "summary": "Create Donation",
        "description": "Creates a new donation in Raisely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/raisely/latest/actions/create-donation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data.currency",
                  "data.email",
                  "data.method",
                  "data.type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "data.address1": {
                    "type": "string",
                    "description": "Line 1 of an address\nExample: `31 Sunset Boulevard`"
                  },
                  "data.address2": {
                    "type": "string",
                    "description": "Line 2 of an address\nExample: `Unit 31b`",
                    "x-mindcloud-advanced": true
                  },
                  "data.anonymous": {
                    "type": "boolean",
                    "description": "Does the donor wish to be anonymous\nExamples: `true`, `false`",
                    "x-mindcloud-advanced": true
                  },
                  "data.campaignUuid": {
                    "type": "string",
                    "description": "Unique identifier for the record\nExample: `aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa`",
                    "x-mindcloud-advanced": true
                  },
                  "data.card": {
                    "type": "string",
                    "description": "ID of the payment method used (from the payment gateway)\nExample: `card_aabbccddeeffaabbccddeeff`",
                    "x-mindcloud-advanced": true
                  },
                  "data.country": {
                    "type": "string",
                    "description": "Examples: `AU`, `GB`, `US`",
                    "x-mindcloud-advanced": true
                  },
                  "data.currency": {
                    "type": "string",
                    "description": "3 letter currency code\nExamples: `AUD`, `USD`",
                    "x-mindcloud-advanced": true
                  },
                  "data.customer": {
                    "type": "string",
                    "description": "The customer ID (assigned by the payment gateway)",
                    "x-mindcloud-advanced": true
                  },
                  "data.date": {
                    "type": "string",
                    "description": "The date and time (in ISO8601 format) the donation was received by the organisation (only for OFFLINE donations)\nExample: `2020-12-03T06:52:46.330Z`",
                    "x-mindcloud-advanced": true
                  },
                  "data.email": {
                    "type": "string",
                    "description": "Email address of the donor\nExample: `harveymilk@example.com`",
                    "x-mindcloud-advanced": true
                  },
                  "data.firstName": {
                    "type": "string",
                    "description": "The first name of the person\nExample: `Leila`",
                    "x-mindcloud-advanced": true
                  },
                  "data.forRegistration": {
                    "type": "string",
                    "description": "Not null values indicate this transaction has been set aside to pay for an upcoming registration\nExamples: `true`, `null`",
                    "x-mindcloud-advanced": true
                  },
                  "data.fullName": {
                    "type": "string",
                    "description": "The full name of the person\nExample: `Leila Norma Eulalia Josefa Magistrado de Lima`",
                    "x-mindcloud-advanced": true
                  },
                  "data.gatewayVersion": {
                    "type": "string",
                    "description": "Gateway Version of donation method, if any",
                    "x-mindcloud-advanced": true
                  },
                  "data.items": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..amount": {
                    "type": "number",
                    "description": "The amount spent on the item in the currency of the donation",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..amountRefunded": {
                    "type": "number",
                    "description": "The total amount refunded in cents for this line item, in the donation currency.",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..attendance": {
                    "type": "string",
                    "description": "Whether the donation item (ticket) has been checked in",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..description": {
                    "type": "string",
                    "description": "Description of the item",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..includeInTotals": {
                    "type": "boolean",
                    "description": "If false, the amount is not included in receipts as part of the total donation",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..parentBundleItemDescription": {
                    "type": "string",
                    "description": "The ticket's parent bundle description",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..quantity": {
                    "type": "number",
                    "description": "If multiple of the item, the number of items claimed",
                    "x-mindcloud-advanced": true
                  },
                  "data.lastName": {
                    "type": "string",
                    "description": "The last name of the person\nExample: `de Lima`",
                    "x-mindcloud-advanced": true
                  },
                  "data.message": {
                    "type": "string",
                    "description": "Message from the donor\nExample: `Glad to help out with the fundraising!`",
                    "x-mindcloud-advanced": true
                  },
                  "data.method": {
                    "type": "string",
                    "description": "The payment gateway used\nExamples: `CREDIT_CARD`, `PAYPAL`, `APPLE_PAY`, `OFFLINE`, `CUSTOM`, `STRIPE_INTENT`, `FACEBOOK`",
                    "x-mindcloud-advanced": true
                  },
                  "data.methodType": {
                    "type": "string",
                    "description": "The type of payment method used, to distinguish between card, direct debit and digital wallet payments.\nExamples: `APPLE_PAY`, `CARD`, `GOOGLE_PAY`, `BROWSER_PAY`",
                    "x-mindcloud-advanced": true
                  },
                  "data.mode": {
                    "type": "string",
                    "description": "LIVE or TEST\nExamples: `LIVE`, `TEST`",
                    "x-mindcloud-advanced": true
                  },
                  "data.phoneNumber": {
                    "type": "string",
                    "description": "Phone number of the donor\nExample: `+1 123-456-7890`",
                    "x-mindcloud-advanced": true
                  },
                  "data.postcode": {
                    "type": "string",
                    "description": "Postal code of the donor\nExamples: `AAA BBBB`, `0000`, `AAA BBB`",
                    "x-mindcloud-advanced": true
                  },
                  "data.preferredName": {
                    "type": "string",
                    "description": "The name that the person prefers to be called\nExample: `Norma`",
                    "x-mindcloud-advanced": true
                  },
                  "data.private": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Private values for this record\nExample: `{\n  \"fieldA\": \"one\",\n  \"fieldB\": \"yes\"\n}`",
                    "x-mindcloud-advanced": true
                  },
                  "data.profileUuid": {
                    "type": "string",
                    "description": "Unique identifier for the record\nExample: `aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa`",
                    "x-mindcloud-advanced": true
                  },
                  "data.public": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Public values for this record\nExample: `{\n  \"fieldA\": \"one\",\n  \"fieldB\": \"yes\"\n}`",
                    "x-mindcloud-advanced": true
                  },
                  "data.state": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "data.suburb": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "data.swiftAidStatus": {
                    "type": "string",
                    "description": "Status of donation on SwiftAid\nExamples: `OK`, `FAILED`, `PENDING`, `DELETING`, `DELETED`",
                    "x-mindcloud-advanced": true
                  },
                  "data.token": {
                    "type": "string",
                    "description": "The payment token from the gateway\nExample: `tok_aaaaaaaaaaaaaaaaaaaaaaaa`",
                    "x-mindcloud-advanced": true
                  },
                  "data.type": {
                    "type": "string",
                    "description": "ONLINE or OFFLINE\nExamples: `ONLINE`, `OFFLINE`",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "anonymous": {
                            "type": "boolean"
                          },
                          "campaignUuid": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "fee": {
                            "type": "number"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string"
                          },
                          "mode": {
                            "type": "string"
                          },
                          "preferredName": {
                            "type": "string"
                          },
                          "profileUuid": {
                            "type": "string"
                          },
                          "publicAmount": {
                            "type": "number"
                          },
                          "publicFee": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subscriptionUuid": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userUuid": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/raisely/latest/actions/create-subscription": {
      "post": {
        "operationId": "raisely.create-subscription",
        "summary": "Create Subscription",
        "description": "Creates a new subscription in Raisely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/raisely/latest/actions/create-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data.count",
                  "data.currency",
                  "data.email",
                  "data.firstName",
                  "data.interval",
                  "data.lastName",
                  "data.method",
                  "data.token"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "data.anonymous": {
                    "type": "boolean",
                    "description": "True if the person's name should be hidden from donation feeds\nExamples: `true`, `false`",
                    "x-mindcloud-advanced": true
                  },
                  "data.card": {
                    "type": "string",
                    "description": "The gateway card ID to charge when collecting the subscription\nExample: `card_aabbccddeeffaabbccddeeff`",
                    "x-mindcloud-advanced": true
                  },
                  "data.count": {
                    "type": "number",
                    "description": "The frequency of the subscription, used in conjunction with the `interval` property. For instance, a monthly subscription would have a `count` of `1` and an `interval` of `MONTH`. A fortnightly subscription would have a `count` of `2` and an `interval` of `WEEK`.\nExamples: `1`, `4`",
                    "x-mindcloud-advanced": true
                  },
                  "data.currency": {
                    "type": "string",
                    "description": "ISO alpha-3 letter currency code\nExamples: `AUD`, `USD`",
                    "x-mindcloud-advanced": true
                  },
                  "data.customer": {
                    "type": "string",
                    "description": "The gateway customer ID (only used when importing new subscriptions)\nExample: `cus_xxxxxxxxxxxxxx`",
                    "x-mindcloud-advanced": true
                  },
                  "data.email": {
                    "type": "string",
                    "description": "The user's email address. Raisely uses this as a unique identifier and will associate the subscription with an existing record if the email matches.\nExample: `harveymilk@example.com`",
                    "x-mindcloud-advanced": true
                  },
                  "data.firstName": {
                    "type": "string",
                    "description": "The first name of the person\nExample: `Leila`",
                    "x-mindcloud-advanced": true
                  },
                  "data.fullName": {
                    "type": "string",
                    "description": "The full name of the person\nExample: `Leila Norma Eulalia Josefa Magistrado de Lima`",
                    "x-mindcloud-advanced": true
                  },
                  "data.interval": {
                    "type": "string",
                    "description": "The interval of the subscriptions. See `count`.\nExamples: `WEEK`, `MONTH`, `YEAR`",
                    "x-mindcloud-advanced": true
                  },
                  "data.items": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..amount": {
                    "type": "number",
                    "description": "`public` The amount spent on the item in the currency of the donation",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..amountRefunded": {
                    "type": "number",
                    "description": "`public` The total amount refunded in cents for this line item, in the donation currency.",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..attendance": {
                    "type": "string",
                    "description": "`public` Whether the donation item (ticket) has been checked in",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..campaignAmount": {
                    "type": "number",
                    "description": "`public` The amount spent on the item in the currency of the campaign",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..createdAt": {
                    "type": "string",
                    "description": "`public` ISO8601 created timestamp",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..description": {
                    "type": "string",
                    "description": "`public` Description of the item",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..includeInTotals": {
                    "type": "boolean",
                    "description": "`public` If false, the amount is not included in receipts as part of the total donation",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..itemId": {
                    "type": "string",
                    "description": "`public` The item ID / reference",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..originalAmount": {
                    "type": "number",
                    "description": "`public` The total amount of this line item in cents prior to any refunds, in the donation currency. Amount is tax inclusive.",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..parentBundleItem": {
                    "type": "string",
                    "description": "`public` The item ID / reference of this ticket's parent bundle",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..parentBundleItemDescription": {
                    "type": "string",
                    "description": "`public` The ticket's parent bundle description",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..perkUuid": {
                    "type": "string",
                    "description": "`public` Deprecated",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..productUuid": {
                    "type": "string",
                    "description": "`public` The uuid for the associated product or ticket.",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..quantity": {
                    "type": "number",
                    "description": "`public` If multiple of the item, the number of items claimed",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..status": {
                    "type": "string",
                    "description": "`public` The status of the donation item",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..type": {
                    "type": "string",
                    "description": "`public` The item type. For most manual API calls, you should use the value `OTHER`.",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..updatedAt": {
                    "type": "string",
                    "description": "`public` ISO8601 created timestamp",
                    "x-mindcloud-advanced": true
                  },
                  "data.items[]..uuid": {
                    "type": "string",
                    "description": "`public` Unique identifier for the item",
                    "x-mindcloud-advanced": true
                  },
                  "data.lastName": {
                    "type": "string",
                    "description": "The last name of the person\nExample: `de Lima`",
                    "x-mindcloud-advanced": true
                  },
                  "data.message": {
                    "type": "string",
                    "description": "A public message left by the donor\nExample: `Glad to help out with the fundraising!`",
                    "x-mindcloud-advanced": true
                  },
                  "data.method": {
                    "type": "string",
                    "description": "The payment gateway used for the subscription. Use STRIPE_INTENT for new subscriptions.\nExamples: `STRIPE_INTENT`, `CREDIT_CARD`, `CUSTOM`, `PAYPAL`",
                    "x-mindcloud-advanced": true
                  },
                  "data.methodType": {
                    "type": "string",
                    "description": "The type of payment method used, to distinguish between card, direct debit and digital wallet payments.\nExamples: `CARD`, `APPLE_PAY`, `GOOGLE_PAY`, `BROWSER_PAY`, `DD_BACS`, `DD_BECS`",
                    "x-mindcloud-advanced": true
                  },
                  "data.nextPayment": {
                    "type": "string",
                    "description": "An ISO8601 timestamp of the next payment due date. Raisely will charge the donation after this date.\nExample: `2020-12-03T06:52:46.330Z`",
                    "x-mindcloud-advanced": true
                  },
                  "data.preferredDay": {
                    "type": "number",
                    "description": "Stores the preferred day for the subscription to be billed on. If interval is WEEK, it's day of the week. If interval is MONTH, it's the day of the month. If interval is YEAR, it's day of the year.\nExample: `12345`",
                    "x-mindcloud-advanced": true
                  },
                  "data.preferredName": {
                    "type": "string",
                    "description": "The name that the person prefers to be called\nExample: `Norma`",
                    "x-mindcloud-advanced": true
                  },
                  "data.private": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Private values for this record\nExample: `{\n  \"fieldA\": \"one\",\n  \"fieldB\": \"yes\"\n}`",
                    "x-mindcloud-advanced": true
                  },
                  "data.public": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Public values for this record\nExample: `{\n  \"fieldA\": \"one\",\n  \"fieldB\": \"yes\"\n}`",
                    "x-mindcloud-advanced": true
                  },
                  "data.source": {
                    "type": "string",
                    "description": "The source of this subscription. Subscriptions created through the API should have a source of `OFFLINE`.\nExamples: `OFFLINE`, `ONLINE`",
                    "default": "OFFLINE",
                    "x-mindcloud-advanced": true
                  },
                  "data.token": {
                    "type": "string",
                    "description": "Payment gateway token. Set to `null` when adding offline subscriptions with `card` and `customer`.\nExamples: `seti_xxxxxxxxxxxxxxxxxx`, `EXISTING_CARD`",
                    "x-mindcloud-advanced": true
                  },
                  "data.treatAsNewSubscription": {
                    "type": "boolean",
                    "description": "This field is only for importing new subscriptions. When false (default), the first successful charge of the card will result in a subscription.rebilled event. Set to true to change the first event to subscription.succeeded and send the Regular Donation Welcome message on the first payment after import.\nExamples: `true`, `false`",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "campaignUuid": {
                            "type": "string"
                          },
                          "count": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "failed": {
                            "type": "boolean"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "interval": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string"
                          },
                          "mode": {
                            "type": "string"
                          },
                          "nextPayment": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "profileUuid": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userUuid": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/raisely/latest/actions/get-campaign": {
      "get": {
        "operationId": "raisely.get-campaign",
        "summary": "Get Campaign",
        "description": "Retrieves a campaign from Raisely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/raisely/latest/actions/get-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign",
            "in": "query",
            "required": true,
            "description": "The `uuid`, `path` or domain of the campaign to associate with the request",
            "schema": {
              "type": "string",
              "description": "The `uuid`, `path` or domain of the campaign to associate with the request"
            }
          },
          {
            "name": "private",
            "in": "query",
            "required": false,
            "description": "Returns the full record when authenticated",
            "schema": {
              "type": "boolean",
              "description": "Returns the full record when authenticated"
            }
          },
          {
            "name": "pruneConfig",
            "in": "query",
            "required": false,
            "description": "In private queries, removes the campaign.config to reduce request size",
            "schema": {
              "type": "boolean",
              "description": "In private queries, removes the campaign.config to reduce request size"
            }
          },
          {
            "name": "includeTags",
            "in": "query",
            "required": false,
            "description": "Also include any tags on this record (if applicable)",
            "schema": {
              "type": "boolean",
              "description": "Also include any tags on this record (if applicable)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowExperiments": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "feeTotal": {
                            "type": "number"
                          },
                          "goal": {
                            "type": "number"
                          },
                          "grandTotal": {
                            "type": "number"
                          },
                          "mode": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nonSelfDonationTotal": {
                            "type": "number"
                          },
                          "organisationUuid": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "primaryDomain": {
                            "type": "string"
                          },
                          "profile": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "goal": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "total": {
                                "type": "number"
                              },
                              "totalPercent": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              },
                              "uuid": {
                                "type": "string"
                              }
                            }
                          },
                          "publicKey": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "theme": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          },
                          "totalPercent": {
                            "type": "number"
                          },
                          "url": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/raisely/latest/actions/get-donation": {
      "get": {
        "operationId": "raisely.get-donation",
        "summary": "Get Donation",
        "description": "Retrieves a donation from Raisely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/raisely/latest/actions/get-donation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "description": "The `uuid` of the record",
            "schema": {
              "type": "string",
              "description": "The `uuid` of the record"
            }
          },
          {
            "name": "private",
            "in": "query",
            "required": false,
            "description": "Returns the full record when authenticated",
            "schema": {
              "type": "boolean",
              "description": "Returns the full record when authenticated"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "anonymous": {
                            "type": "boolean"
                          },
                          "campaignUuid": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "fee": {
                            "type": "number"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string"
                          },
                          "mode": {
                            "type": "string"
                          },
                          "preferredName": {
                            "type": "string"
                          },
                          "profileUuid": {
                            "type": "string"
                          },
                          "publicAmount": {
                            "type": "number"
                          },
                          "publicFee": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subscriptionUuid": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userUuid": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/raisely/latest/actions/get-profile": {
      "get": {
        "operationId": "raisely.get-profile",
        "summary": "Get Profile",
        "description": "Retrieves a profile from Raisely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/raisely/latest/actions/get-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "The `uuid` or `path` of the record",
            "schema": {
              "type": "string",
              "description": "The `uuid` or `path` of the record"
            }
          },
          {
            "name": "campaign",
            "in": "query",
            "required": false,
            "description": "The `uuid`, `path` or domain of the campaign to associate with the request",
            "schema": {
              "type": "string",
              "description": "The `uuid`, `path` or domain of the campaign to associate with the request"
            }
          },
          {
            "name": "private",
            "in": "query",
            "required": false,
            "description": "Returns the full record when authenticated",
            "schema": {
              "type": "boolean",
              "description": "Returns the full record when authenticated"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activityTotal": {
                            "type": "number"
                          },
                          "authorisations": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "badges": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "campaignTotal": {
                            "type": "number"
                          },
                          "campaignUuid": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "exerciseTotal": {
                            "type": "number"
                          },
                          "exerciseTotalTime": {
                            "type": "number"
                          },
                          "feeTotal": {
                            "type": "number"
                          },
                          "goal": {
                            "type": "number"
                          },
                          "grandTotal": {
                            "type": "number"
                          },
                          "memberCount": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nonSelfDonationTotal": {
                            "type": "number"
                          },
                          "paid": {
                            "type": "boolean"
                          },
                          "path": {
                            "type": "string"
                          },
                          "photoUrl": {
                            "type": "string"
                          },
                          "selfDonationTotal": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "total": {
                            "type": "number"
                          },
                          "totalPercent": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "permission": {
                                "type": "string"
                              },
                              "photoUrl": {
                                "type": "string"
                              },
                              "preferredName": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "uuid": {
                                "type": "string"
                              }
                            }
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/raisely/latest/actions/get-subscription": {
      "get": {
        "operationId": "raisely.get-subscription",
        "summary": "Get Subscription",
        "description": "Retrieves a subscription from Raisely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/raisely/latest/actions/get-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "description": "The `uuid` of the record",
            "schema": {
              "type": "string",
              "description": "The `uuid` of the record"
            }
          },
          {
            "name": "private",
            "in": "query",
            "required": false,
            "description": "Returns the full record when authenticated",
            "schema": {
              "type": "boolean",
              "description": "Returns the full record when authenticated"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "campaignUuid": {
                            "type": "string"
                          },
                          "count": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "failed": {
                            "type": "boolean"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "interval": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string"
                          },
                          "mode": {
                            "type": "string"
                          },
                          "nextPayment": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "profileUuid": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userUuid": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/raisely/latest/actions/get-user": {
      "get": {
        "operationId": "raisely.get-user",
        "summary": "Get User",
        "description": "Retrieves a user from Raisely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/raisely/latest/actions/get-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "description": "The `uuid` of the record",
            "schema": {
              "type": "string",
              "description": "The `uuid` of the record"
            }
          },
          {
            "name": "private",
            "in": "query",
            "required": false,
            "description": "Returns the full record when authenticated",
            "schema": {
              "type": "boolean",
              "description": "Returns the full record when authenticated"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "organisationUuid": {
                            "type": "string"
                          },
                          "permission": {
                            "type": "string"
                          },
                          "photoUrl": {
                            "type": "string"
                          },
                          "preferredName": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/raisely/latest/actions/list-campaign-donations": {
      "get": {
        "operationId": "raisely.list-campaign-donations",
        "summary": "List Campaign Donations",
        "description": "Retrieves donations from a Raisely campaign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/raisely/latest/actions/list-campaign-donations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign",
            "in": "query",
            "required": true,
            "description": "The `uuid`, `path` or domain of the campaign to associate with the request",
            "schema": {
              "type": "string",
              "description": "The `uuid`, `path` or domain of the campaign to associate with the request"
            }
          },
          {
            "name": "private",
            "in": "query",
            "required": false,
            "description": "Returns the full record when authenticated",
            "schema": {
              "type": "boolean",
              "description": "Returns the full record when authenticated"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search query to find records matching",
            "schema": {
              "type": "string",
              "description": "Search query to find records matching"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter Donation based on their type value",
            "schema": {
              "type": "string",
              "description": "Filter Donation based on their type value",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Filter Donation based on their currency value",
            "schema": {
              "type": "string",
              "description": "Filter Donation based on their currency value",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "isSuspicious",
            "in": "query",
            "required": false,
            "description": "Filter Donation based on their isSuspicious value",
            "schema": {
              "type": "boolean",
              "description": "Filter Donation based on their isSuspicious value",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter Donation based on their status value",
            "schema": {
              "type": "string",
              "description": "Filter Donation based on their status value",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "Filter Donation based on their mode value",
            "schema": {
              "type": "string",
              "description": "Filter Donation based on their mode value",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "user",
            "in": "query",
            "required": false,
            "description": "Filter by user uuid",
            "schema": {
              "type": "string",
              "description": "Filter by user uuid",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "organisation",
            "in": "query",
            "required": false,
            "description": "Filter by organisation uuid",
            "schema": {
              "type": "string",
              "description": "Filter by organisation uuid",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "profile",
            "in": "query",
            "required": false,
            "description": "Filter by profile path or uuid",
            "schema": {
              "type": "string",
              "description": "Filter by profile path or uuid",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "subscription",
            "in": "query",
            "required": false,
            "description": "Filter by subscription uuid",
            "schema": {
              "type": "string",
              "description": "Filter by subscription uuid",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "matchedDonationConfig",
            "in": "query",
            "required": false,
            "description": "Filter by matched donation config path or uuid",
            "schema": {
              "type": "string",
              "description": "Filter by matched donation config path or uuid",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "anonymous": {
                            "type": "boolean"
                          },
                          "campaignUuid": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "fee": {
                            "type": "number"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string"
                          },
                          "mode": {
                            "type": "string"
                          },
                          "preferredName": {
                            "type": "string"
                          },
                          "profileUuid": {
                            "type": "string"
                          },
                          "publicAmount": {
                            "type": "number"
                          },
                          "publicFee": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subscriptionUuid": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userUuid": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
[...]
