{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "BigDataCloud Universal API",
    "version": "0.0.3",
    "description": "Geolocate IPs and enrich location, network, phone, and email data"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/bigDataCloud/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/bigDataCloud/latest/actions/get-asn-info": {
      "get": {
        "operationId": "bigDataCloud.get-asn-info",
        "summary": "Get ASN Info",
        "description": "Retrieves ASN details from BigDataCloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bigDataCloud/latest/actions/get-asn-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asn",
            "in": "query",
            "required": false,
            "description": "Autonomous system number in numeric, AS, or ASN format.",
            "schema": {
              "type": "string",
              "description": "Autonomous system number in numeric, AS, or ASN format.",
              "example": "AS14618"
            }
          },
          {
            "name": "localityLanguage",
            "in": "query",
            "required": false,
            "description": "Preferred language for locality names in ISO 639-1 format.",
            "schema": {
              "type": "string",
              "description": "Preferred language for locality names in ISO 639-1 format.",
              "example": "en",
              "default": "en"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asn": {
                            "type": "string"
                          },
                          "asnNumeric": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "organisation": {
                            "type": "string"
                          },
                          "rank": {
                            "type": "number"
                          },
                          "rankText": {
                            "type": "string"
                          },
                          "registeredCountry": {
                            "type": "string"
                          },
                          "registeredCountryName": {
                            "type": "string"
                          },
                          "registrationLastChange": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "registry": {
                            "type": "string"
                          },
                          "totalIpv4Addresses": {
                            "type": "number"
                          },
                          "totalIpv4BogonPrefixes": {
                            "type": "number"
                          },
                          "totalIpv4Prefixes": {
                            "type": "number"
                          },
                          "totalIpv6BogonPrefixes": {
                            "type": "number"
                          },
                          "totalIpv6Prefixes": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bigDataCloud/latest/actions/get-asn-info-extended": {
      "get": {
        "operationId": "bigDataCloud.get-asn-info-extended",
        "summary": "Get ASN Info Extended",
        "description": "Retrieves extended ASN details from BigDataCloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bigDataCloud/latest/actions/get-asn-info-extended"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asn",
            "in": "query",
            "required": false,
            "description": "Autonomous System Number as numeric or ASN format, for example 123, AS123, or ASN123.",
            "schema": {
              "type": "string",
              "description": "Autonomous System Number as numeric or ASN format, for example 123, AS123, or ASN123.",
              "example": "AS14618"
            }
          },
          {
            "name": "localityLanguage",
            "in": "query",
            "required": false,
            "description": "Preferred language for localized place and country names.",
            "schema": {
              "type": "string",
              "description": "Preferred language for localized place and country names.",
              "example": "en",
              "default": "en"
            }
          },
          {
            "name": "peersCap",
            "in": "query",
            "required": false,
            "description": "Maximum number of receivingFrom and transitTo entries to retrieve. Default and hard limit are 50.",
            "schema": {
              "type": "number",
              "description": "Maximum number of receivingFrom and transitTo entries to retrieve. Default and hard limit are 50.",
              "example": 50
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asn": {
                            "type": "string",
                            "description": "Autonomous System Number string."
                          },
                          "asnNumeric": {
                            "type": "number",
                            "description": "Autonomous System Number."
                          },
                          "confidenceArea": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Most active geographical area detected for the ASN."
                          },
                          "name": {
                            "type": "string",
                            "description": "Registered ASN name."
                          },
                          "organisation": {
                            "type": "string",
                            "description": "Registered organization."
                          },
                          "rank": {
                            "type": "number",
                            "description": "Global rank by total number of announced IP addresses."
                          },
                          "rankText": {
                            "type": "string",
                            "description": "Global rank text including total."
                          },
                          "receivingFrom": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Active Autonomous Systems sending traffic to this ASN."
                          },
                          "registeredCountry": {
                            "type": "string",
                            "description": "Registered country ISO code."
                          },
                          "registeredCountryName": {
                            "type": "string",
                            "description": "Localized registered country name."
                          },
                          "registrationLastChange": {
                            "type": "string",
                            "description": "Registration modification date."
                          },
                          "registry": {
                            "type": "string",
                            "description": "Regional Internet Registry the ASN is registered with."
                          },
                          "totalIpv4Addresses": {
                            "type": "number",
                            "description": "Total number of IPv4 addresses announced by the ASN."
                          },
                          "totalIpv4BogonPrefixes": {
                            "type": "number",
                            "description": "Total number of IPv4 bogon prefixes announced by the ASN."
                          },
                          "totalIpv4Prefixes": {
                            "type": "number",
                            "description": "Total number of IPv4 BGP prefixes announced by the ASN."
                          },
                          "totalIpv6BogonPrefixes": {
                            "type": "number",
                            "description": "Total number of IPv6 bogon prefixes announced by the ASN."
                          },
                          "totalIpv6Prefixes": {
                            "type": "number",
                            "description": "Total number of IPv6 BGP prefixes announced by the ASN."
                          },
                          "totalReceivingFrom": {
                            "type": "number",
                            "description": "Total number of active Autonomous Systems sending traffic to this ASN."
                          },
                          "totalTransitTo": {
                            "type": "number",
                            "description": "Total number of active Autonomous Systems receiving traffic from this ASN."
                          },
                          "transitTo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Active Autonomous Systems receiving traffic from this ASN."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bigDataCloud/latest/actions/get-asn-receiving-from": {
      "get": {
        "operationId": "bigDataCloud.get-asn-receiving-from",
        "summary": "Get ASN Receiving From",
        "description": "Retrieves ASN receiving-from information from BigDataCloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bigDataCloud/latest/actions/get-asn-receiving-from"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asn",
            "in": "query",
            "required": false,
            "description": "Autonomous System Number as numeric or ASN format.",
            "schema": {
              "type": "string",
              "description": "Autonomous System Number as numeric or ASN format.",
              "example": "AS14618"
            }
          },
          {
            "name": "batchSize",
            "in": "query",
            "required": false,
            "description": "Number of receivingFrom entries to retrieve. Hard limit is 50.",
            "schema": {
              "type": "number",
              "description": "Number of receivingFrom entries to retrieve. Hard limit is 50.",
              "example": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of receivingFrom entries to skip.",
            "schema": {
              "type": "number",
              "description": "Number of receivingFrom entries to skip.",
              "example": 0,
              "default": 0
            }
          },
          {
            "name": "localityLanguage",
            "in": "query",
            "required": false,
            "description": "Preferred language for localized country names.",
            "schema": {
              "type": "string",
              "description": "Preferred language for localized country names.",
              "example": "en",
              "default": "en"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asn": {
                            "type": "string",
                            "description": "Autonomous System Number string."
                          },
                          "asnNumeric": {
                            "type": "number",
                            "description": "Autonomous System Number."
                          },
                          "name": {
                            "type": "string",
                            "description": "Registered ASN name."
                          },
                          "organisation": {
                            "type": "string",
                            "description": "Registered organization."
                          },
                          "rank": {
                            "type": "number",
                            "description": "Global rank by total number of announced IP addresses."
                          },
                          "rankText": {
                            "type": "string",
                            "description": "Global rank text including total."
                          },
                          "receivingFrom": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Active Autonomous Systems sending traffic to this ASN."
                          },
                          "registeredCountry": {
                            "type": "string",
                            "description": "Registered country ISO code."
                          },
                          "registeredCountryName": {
                            "type": "string",
                            "description": "Localized registered country name."
                          },
                          "registrationLastChange": {
                            "type": "string",
                            "description": "Registration modification date."
                          },
                          "registry": {
                            "type": "string",
                            "description": "Regional Internet Registry the ASN is registered with."
                          },
                          "totalIpv4Addresses": {
                            "type": "number",
                            "description": "Total number of IPv4 addresses announced by the ASN."
                          },
                          "totalIpv4BogonPrefixes": {
                            "type": "number",
                            "description": "Total number of IPv4 bogon prefixes announced by the ASN."
                          },
                          "totalIpv4Prefixes": {
                            "type": "number",
                            "description": "Total number of IPv4 BGP prefixes announced by the ASN."
                          },
                          "totalIpv6BogonPrefixes": {
                            "type": "number",
                            "description": "Total number of IPv6 bogon prefixes announced by the ASN."
                          },
                          "totalIpv6Prefixes": {
                            "type": "number",
                            "description": "Total number of IPv6 BGP prefixes announced by the ASN."
                          },
                          "totalReceivingFrom": {
                            "type": "number",
                            "description": "Total number of active Autonomous Systems sending traffic to this ASN."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bigDataCloud/latest/actions/get-asn-transit-to": {
      "get": {
        "operationId": "bigDataCloud.get-asn-transit-to",
        "summary": "Get ASN Transit To",
        "description": "Retrieves ASN transit-to information from BigDataCloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bigDataCloud/latest/actions/get-asn-transit-to"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asn",
            "in": "query",
            "required": false,
            "description": "Autonomous System Number as numeric or ASN format.",
            "schema": {
              "type": "string",
              "description": "Autonomous System Number as numeric or ASN format.",
              "example": "AS14618"
            }
          },
          {
            "name": "batchSize",
            "in": "query",
            "required": false,
            "description": "Number of transitTo entries to retrieve. Hard limit is 50.",
            "schema": {
              "type": "number",
              "description": "Number of transitTo entries to retrieve. Hard limit is 50.",
              "example": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of transitTo entries to skip.",
            "schema": {
              "type": "number",
              "description": "Number of transitTo entries to skip.",
              "example": 0,
              "default": 0
            }
          },
          {
            "name": "localityLanguage",
            "in": "query",
            "required": false,
            "description": "Preferred language for localized country names.",
            "schema": {
              "type": "string",
              "description": "Preferred language for localized country names.",
              "example": "en",
              "default": "en"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asn": {
                            "type": "string",
                            "description": "Autonomous System Number string."
                          },
                          "asnNumeric": {
                            "type": "number",
                            "description": "Autonomous System Number."
                          },
                          "name": {
                            "type": "string",
                            "description": "Registered ASN name."
                          },
                          "organisation": {
                            "type": "string",
                            "description": "Registered organization."
                          },
                          "rank": {
                            "type": "number",
                            "description": "Global rank by total number of announced IP addresses."
                          },
                          "rankText": {
                            "type": "string",
                            "description": "Global rank text including total."
                          },
                          "registeredCountry": {
                            "type": "string",
                            "description": "Registered country ISO code."
                          },
                          "registeredCountryName": {
                            "type": "string",
                            "description": "Localized registered country name."
                          },
                          "registrationLastChange": {
                            "type": "string",
                            "description": "Registration modification date."
                          },
                          "registry": {
                            "type": "string",
                            "description": "Regional Internet Registry the ASN is registered with."
                          },
                          "totalIpv4Addresses": {
                            "type": "number",
                            "description": "Total number of IPv4 addresses announced by the ASN."
                          },
                          "totalIpv4BogonPrefixes": {
                            "type": "number",
                            "description": "Total number of IPv4 bogon prefixes announced by the ASN."
                          },
                          "totalIpv4Prefixes": {
                            "type": "number",
                            "description": "Total number of IPv4 BGP prefixes announced by the ASN."
                          },
                          "totalIpv6BogonPrefixes": {
                            "type": "number",
                            "description": "Total number of IPv6 bogon prefixes announced by the ASN."
                          },
                          "totalIpv6Prefixes": {
                            "type": "number",
                            "description": "Total number of IPv6 BGP prefixes announced by the ASN."
                          },
                          "totalTransitTo": {
                            "type": "number",
                            "description": "Total number of active Autonomous Systems receiving traffic from this ASN."
                          },
                          "transitTo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Active Autonomous Systems receiving traffic from this ASN."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bigDataCloud/latest/actions/get-country-by-ip": {
      "get": {
        "operationId": "bigDataCloud.get-country-by-ip",
        "summary": "Get Country by IP",
        "description": "Retrieves country details by IP address from BigDataCloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bigDataCloud/latest/actions/get-country-by-ip"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "description": "If omitted, BigDataCloud uses the caller IP address.",
            "schema": {
              "type": "string",
              "description": "If omitted, BigDataCloud uses the caller IP address.",
              "example": "8.8.8.8"
            }
          },
          {
            "name": "localityLanguage",
            "in": "query",
            "required": false,
            "description": "Preferred language for locality names in ISO 639-1 format.",
            "schema": {
              "type": "string",
              "description": "Preferred language for locality names in ISO 639-1 format.",
              "example": "en",
              "default": "en"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "object",
                            "properties": {
                              "callingCode": {
                                "type": "string"
                              },
                              "countryFlagEmoji": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "minorUnits": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "numericCode": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "geonameId": {
                                "type": "number"
                              },
                              "isIndependent": {
                                "type": "boolean"
                              },
                              "isoAdminLanguages": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isoAlpha2": {
                                      "type": "string"
                                    },
                                    "isoAlpha3": {
                                      "type": "string"
                                    },
                                    "isoName": {
                                      "type": "string"
                                    },
                                    "nativeName": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "isoAlpha2": {
                                "type": "string"
                              },
                              "isoAlpha3": {
                                "type": "string"
                              },
                              "isoName": {
                                "type": "string"
                              },
                              "isoNameFull": {
                                "type": "string"
                              },
                              "m49Code": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "unRegion": {
                                "type": "string"
                              },
                              "wbIncomeLevel": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "iso2Code": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "wbRegion": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "iso2Code": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "wikidataId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ip": {
                            "type": "string"
                          },
                          "isReachableGlobally": {
                            "type": "boolean"
                          },
                          "lastUpdated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "localityLanguageRequested": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bigDataCloud/latest/actions/get-country-info": {
      "get": {
        "operationId": "bigDataCloud.get-country-info",
        "summary": "Get Country Info",
        "description": "Retrieves country information from BigDataCloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bigDataCloud/latest/actions/get-country-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "description": "Country code in ISO 3166-1 Alpha-2, Alpha-3, or numeric format.",
            "schema": {
              "type": "string",
              "description": "Country code in ISO 3166-1 Alpha-2, Alpha-3, or numeric format.",
              "example": "au"
            }
          },
          {
            "name": "localityLanguage",
            "in": "query",
            "required": false,
            "description": "Preferred language for locality names in ISO 639-1 format.",
            "schema": {
              "type": "string",
              "description": "Preferred language for locality names in ISO 639-1 format.",
              "example": "en",
              "default": "en"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "callingCode": {
                            "type": "string"
                          },
                          "countryFlagEmoji": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "minorUnits": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "numericCode": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "geonameId": {
                            "type": "number"
                          },
                          "isIndependent": {
                            "type": "boolean"
                          },
                          "isoAdminLanguages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "isoAlpha2": {
                                  "type": "string"
                                },
                                "isoAlpha3": {
                                  "type": "string"
                                },
                                "isoName": {
                                  "type": "string"
                                },
                                "nativeName": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "isoAlpha2": {
                            "type": "string"
                          },
                          "isoAlpha3": {
                            "type": "string"
                          },
                          "isoName": {
                            "type": "string"
                          },
                          "isoNameFull": {
                            "type": "string"
                          },
                          "m49Code": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "unRegion": {
                            "type": "string"
                          },
                          "wbIncomeLevel": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "iso2Code": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "wbRegion": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "iso2Code": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "wikidataId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bigDataCloud/latest/actions/get-hazard-report": {
      "get": {
        "operationId": "bigDataCloud.get-hazard-report",
        "summary": "Get Hazard Report",
        "description": "Retrieves hazard report details from BigDataCloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bigDataCloud/latest/actions/get-hazard-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "description": "If omitted, BigDataCloud uses the caller IP address.",
            "schema": {
              "type": "string",
              "description": "If omitted, BigDataCloud uses the caller IP address.",
              "example": "44.221.74.44"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hostingLikelihood": {
                            "type": "number"
                          },
                          "iCloudPrivateRelay": {
                            "type": "boolean"
                          },
                          "isBlacklistedBlocklistDe": {
                            "type": "boolean"
                          },
                          "isBlacklistedUceprotect": {
                            "type": "boolean"
                          },
                          "isBogon": {
                            "type": "boolean"
                          },
                          "isCellular": {
                            "type": "boolean"
                          },
                          "isHostingAsn": {
                            "type": "boolean"
                          },
                          "isKnownAsMailServer": {
                            "type": "boolean"
                          },
                          "isKnownAsProxy": {
                            "type": "boolean"
                          },
                          "isKnownAsPublicRouter": {
                            "type": "boolean"
                          },
                          "isKnownAsTorServer": {
                            "type": "boolean"
                          },
                          "isKnownAsVpn": {
                            "type": "boolean"
                          },
                          "isSpamhausAsnDrop": {
                            "type": "boolean"
                          },
                          "isSpamhausDrop": {
                            "type": "boolean"
                          },
                          "isSpamhausEdrop": {
                            "type": "boolean"
                          },
                          "isUnreachable": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bigDataCloud/latest/actions/get-ip-geolocation": {
      "get": {
        "operationId": "bigDataCloud.get-ip-geolocation",
        "summary": "Get IP Geolocation Report",
        "description": "Retrieves IP geolocation, confidence area, and hazard details from BigDataCloud.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bigDataCloud/latest/actions/get-ip-geolocation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "description": "If omitted, BigDataCloud uses the caller IP address.",
            "schema": {
              "type": "string",
              "description": "If omitted, BigDataCloud uses the caller IP address."
            }
          },
          {
            "name": "localityLanguage",
            "in": "query",
            "required": false,
            "description": "ISO 639-1 language code used for locality names.",
            "schema": {
              "type": "string",
              "description": "ISO 639-1 language code used for locality names.",
              "default": "en"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "confidence": {
                            "type": "string"
                          },
                          "confidenceArea": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "latitude": {
                                  "type": "number"
                                },
                                "longitude": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "country": {
                            "type": "object",
                            "properties": {
                              "callingCode": {
                                "type": "string"
                              },
                              "countryFlagEmoji": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "minorUnits": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "numericCode": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "geonameId": {
                                "type": "number"
                              },
                              "isIndependent": {
                                "type": "boolean"
                              },
                              "isoAdminLanguages": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isoAlpha2": {
                                      "type": "string"
                                    },
                                    "isoAlpha3": {
                                      "type": "string"
                                    },
                                    "isoName": {
                                      "type": "string"
                                    },
                                    "nativeName": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "isoAlpha2": {
                                "type": "string"
                              },
                              "isoAlpha3": {
                                "type": "string"
                              },
                              "isoName": {
                                "type": "string"
                              },
                              "isoNameFull": {
                                "type": "string"
                              },
                              "m49Code": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "unRegion": {
                                "type": "string"
                              },
                              "wbIncomeLevel": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "iso2Code": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "wbRegion": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "iso2Code": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "wikidataId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "hazardReport": {
                            "type": "object",
                            "properties": {
                              "hostingLikelihood": {
                                "type": "number"
                              },
                              "iCloudPrivateRelay": {
                                "type": "boolean"
                              },
                              "isBlacklistedBlocklistDe": {
                                "type": "boolean"
                              },
                              "isBlacklistedUceprotect": {
                                "type": "boolean"
                              },
                              "isBogon": {
                                "type": "boolean"
                              },
                              "isCellular": {
                                "type": "boolean"
                              },
                              "isHostingAsn": {
                                "type": "boolean"
                              },
                              "isKnownAsMailServer": {
                                "type": "boolean"
                              },
                              "isKnownAsProxy": {
                                "type": "boolean"
                              },
                              "isKnownAsPublicRouter": {
                                "type": "boolean"
                              },
                              "isKnownAsTorServer": {
                                "type": "boolean"
                              },
                              "isKnownAsVpn": {
                                "type": "boolean"
                              },
                              "isSpamhausAsnDrop": {
                                "type": "boolean"
                              },
                              "isSpamhausDrop": {
                                "type": "boolean"
                              },
                              "isSpamhausEdrop": {
                                "type": "boolean"
                              },
                              "isUnreachable": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ip": {
                            "type": "string"
                          },
                          "isReachableGlobally": {
                            "type": "boolean"
                          },
                          "lastUpdated": {
                            "type": "string"
                          },
                          "localityLanguageRequested": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "continent": {
                                "type": "string"
                              },
                              "continentCode": {
                                "type": "string"
                              },
                              "isoPrincipalSubdivision": {
                                "type": "string"
                              },
                              "isoPrincipalSubdivisionCode": {
                                "type": "string"
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "localityInfo": {
                                "type": "object",
                                "properties": {
                                  "administrative": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "adminLevel": {
                                          "type": "number"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "geonameId": {
                                          "type": "number"
                                        },
                                        "isoCode": {
                                          "type": "string"
                                        },
                                        "isoName": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "order": {
                                          "type": "number"
                                        },
                                        "wikidataId": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "informative": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "description": {
                                          "type": "string"
                                        },
                                        "geonameId": {
                                          "type": "number"
                                        },
                                        "isoCode": {
                                          "type": "string"
                                        },
                                        "isoName": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "order": {
                                          "type": "number"
                                        },
                                        "wikidataId": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "localityName": {
                                "type": "string"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "plusCode": {
                                "type": "string"
                              },
                              "postcode": {
                                "type": "string"
                              },
                              "principalSubdivision": {
                                "type": "string"
                              },
                              "timeZone": {
                                "type": "object",
                                "properties": {
                                  "displayName": {
                                    "type": "string"
                                  },
                                  "effectiveTimeZoneFull": {
                                    "type": "string"
                                  },
                                  "effectiveTimeZoneShort": {
                                    "type": "string"
                                  },
                                  "ianaTimeId": {
                                    "type": "string"
                                  },
                                  "isDaylightSavingTime": {
                                    "type": "boolean"
                                  },
                                  "localTime": {
                                    "type": "string"
                                  },
                                  "utcOffset": {
                                    "type": "string"
                                  },
                                  "utcOffsetSeconds": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "network": {
                            "type": "object",
                            "properties": {
                              "bgpPrefix": {
                                "type": "string"
                              },
                              "bgpPrefixLastAddress": {
                                "type": "string"
                              },
                              "bgpPrefixNetworkAddress": {
                                "type": "string"
                              },
                              "carriers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "asn": {
                                      "type": "string"
                                    },
                                    "asnNumeric": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "organisation": {
                                      "type": "string"
                                    },
                                    "rank": {
                                      "type": "number"
                                    },
                                    "rankText": {
                                      "type": "string"
                                    },
                                    "registeredCountry": {
                                      "type": "string"
                                    },
                                    "registeredCountryName": {
                                      "type": "string"
                                    },
                                    "registrationLastChange": {
                                      "type": "string"
                                    },
                                    "registry": {
                                      "type": "string"
                                    },
                                    "totalIpv4Addresses": {
                                      "type": "number"
                                    },
                                    "totalIpv4BogonPrefixes": {
                                      "type": "number"
                                    },
                                    "totalIpv4Prefixes": {
                                      "type": "number"
                                    },
                                    "totalIpv6BogonPrefixes": {
                                      "type": "number"
                                    },
                                    "totalIpv6Prefixes": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "isBogon": {
                                "type": "boolean"
                              },
                              "isReachableGlobally": {
                                "type": "boolean"
                              },
                              "organisation": {
                                "type": "string"
                              },
                              "registeredCountry": {
                                "type": "string"
                              },
                              "registeredCountryName": {
                                "type": "string"
                              },
                              "registry": {
                                "type": "string"
                              },
                              "registryStatus": {
                                "type": "string"
                              },
                              "totalAddresses": {
                                "type": "number"
                              },
                              "viaCarriers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "asn": {
                                      "type": "string"
                                    },
                                    "asnNumeric": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "organisation": {
                                      "type": "string"
                                    },
                                    "registeredCountry": {
                                      "type": "string"
                                    },
                                    "registeredCountryName": {
                                      "type": "string"
                                    },
                                    "registry": {
                                      "type": "string"
                                    },
                                    "totalIpv4Addresses": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "securityThreat": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
[...]
