{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "LeadIQ Universal API",
    "version": "0.0.8",
    "description": "Search and enrich people and company data with LeadIQ"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/leadIQ/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/leadIQ/latest/actions/flat-advanced-search": {
      "get": {
        "operationId": "leadIQ.flat-advanced-search",
        "summary": "Flat Advanced Search",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/leadIQ/latest/actions/flat-advanced-search"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyFilter",
            "in": "query",
            "required": false,
            "description": "CompanyFilter object. Common keys include domains, names, linkedinIds, industries, sizes, locations, and revenue filters.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "CompanyFilter object. Common keys include domains, names, linkedinIds, industries, sizes, locations, and revenue filters."
            }
          },
          {
            "name": "contactFilter",
            "in": "query",
            "required": false,
            "description": "ContactFilter object. Common keys include names, titles, linkedinIds, seniorities, roles, locations, updatedAt, newHireFrom, and newPromotionFrom.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "ContactFilter object. Common keys include names, titles, linkedinIds, seniorities, roles, locations, updatedAt, newHireFrom, and newPromotionFrom."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of contacts to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of contacts to return."
            }
          },
          {
            "name": "companyExcludedFilter",
            "in": "query",
            "required": false,
            "description": "Optional CompanyFilter object for companies to exclude from the search.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional CompanyFilter object for companies to exclude from the search.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "contactExcludedFilter",
            "in": "query",
            "required": false,
            "description": "Optional ContactFilter object for contacts to exclude from the search.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional ContactFilter object for contacts to exclude from the search.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sortContactsBy[]",
            "in": "query",
            "required": false,
            "description": "Optional array of contact sort values such as UpdatedAtDesc, NameAsc, RoleAsc, or SeniorityDesc.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Optional array of contact sort values such as UpdatedAtDesc, NameAsc, RoleAsc, or SeniorityDesc.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Number of matching contacts to skip before returning results.",
            "schema": {
              "type": "number",
              "description": "Number of matching contacts to skip before returning results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string"
                          },
                          "company": {
                            "type": "object",
                            "properties": {
                              "domain": {
                                "type": "string"
                              },
                              "employeeCount": {
                                "type": "number"
                              },
                              "id": {
                                "type": "string"
                              },
                              "industry": {
                                "type": "string"
                              },
                              "linkedinId": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "country": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "linkedinId": {
                            "type": "string"
                          },
                          "linkedinUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "seniority": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "verifiedWorkEmails": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "workEmails": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "workPhones": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/leadIQ/latest/actions/get-account": {
      "get": {
        "operationId": "leadIQ.get-account",
        "summary": "Get Account",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/leadIQ/latest/actions/get-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dataHubPlan": {
                            "type": "object",
                            "properties": {
                              "available": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "nextBillingPeriod": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "product": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "used": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "plans": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "nextBillingPeriod": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "product": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "universalPlan": {
                            "type": "object",
                            "properties": {
                              "available": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "nextBillingPeriod": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "product": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "used": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/leadIQ/latest/actions/grouped-advanced-search": {
      "get": {
        "operationId": "leadIQ.grouped-advanced-search",
        "summary": "Grouped Advanced Search",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/leadIQ/latest/actions/grouped-advanced-search"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyFilter",
            "in": "query",
            "required": false,
            "description": "CompanyFilter object. Common keys include domains, names, linkedinIds, industries, sizes, locations, and revenue filters.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "CompanyFilter object. Common keys include domains, names, linkedinIds, industries, sizes, locations, and revenue filters."
            }
          },
          {
            "name": "contactFilter",
            "in": "query",
            "required": false,
            "description": "ContactFilter object. Common keys include names, titles, linkedinIds, seniorities, roles, locations, updatedAt, newHireFrom, and newPromotionFrom.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "ContactFilter object. Common keys include names, titles, linkedinIds, seniorities, roles, locations, updatedAt, newHireFrom, and newPromotionFrom."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of company groups to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of company groups to return."
            }
          },
          {
            "name": "limitPerCompany",
            "in": "query",
            "required": false,
            "description": "Maximum number of people to return within each company group.",
            "schema": {
              "type": "number",
              "description": "Maximum number of people to return within each company group."
            }
          },
          {
            "name": "companyExcludedFilter",
            "in": "query",
            "required": false,
            "description": "Optional CompanyFilter object for companies to exclude from the search.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional CompanyFilter object for companies to exclude from the search.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "contactExcludedFilter",
            "in": "query",
            "required": false,
            "description": "Optional ContactFilter object for contacts to exclude from the search.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional ContactFilter object for contacts to exclude from the search.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sortCompaniesBy[]",
            "in": "query",
            "required": false,
            "description": "Optional array of company sort values such as NameAsc, SizeDesc, or IndustryAsc.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Optional array of company sort values such as NameAsc, SizeDesc, or IndustryAsc.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "sortContactsBy[]",
            "in": "query",
            "required": false,
            "description": "Optional array of contact sort values such as UpdatedAtDesc, NameAsc, RoleAsc, or SeniorityDesc.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Optional array of contact sort values such as UpdatedAtDesc, NameAsc, RoleAsc, or SeniorityDesc.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Number of matching company groups to skip before returning results.",
            "schema": {
              "type": "number",
              "description": "Number of matching company groups to skip before returning results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "domain": {
                                "type": "string"
                              },
                              "employeeCount": {
                                "type": "number"
                              },
                              "id": {
                                "type": "string"
                              },
                              "industry": {
                                "type": "string"
                              },
                              "linkedinId": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "people": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "linkedinId": {
                                  "type": "string"
                                },
                                "linkedinUrl": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "role": {
                                  "type": "string"
                                },
                                "seniority": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "verifiedWorkEmails": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "workPhones": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "totalContactsInCompany": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/leadIQ/latest/actions/search-company": {
      "get": {
        "operationId": "leadIQ.search-company",
        "summary": "Search Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/leadIQ/latest/actions/search-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Search by the LeadIQ company identifier.",
            "schema": {
              "type": "string",
              "description": "Search by the LeadIQ company identifier."
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Search by company name.",
            "schema": {
              "type": "string",
              "description": "Search by company name."
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Search by company domain, for example leadiq.com.",
            "schema": {
              "type": "string",
              "description": "Search by company domain, for example leadiq.com."
            }
          },
          {
            "name": "linkedinId",
            "in": "query",
            "required": false,
            "description": "Search by the LinkedIn company ID.",
            "schema": {
              "type": "string",
              "description": "Search by the LinkedIn company ID."
            }
          },
          {
            "name": "linkedinUrl",
            "in": "query",
            "required": false,
            "description": "Search by the LinkedIn company URL.",
            "schema": {
              "type": "string",
              "description": "Search by the LinkedIn company URL."
            }
          },
          {
            "name": "strict",
            "in": "query",
            "required": false,
            "description": "When true, require a stricter match against the identifiers you provide.",
            "schema": {
              "type": "boolean",
              "description": "When true, require a stricter match against the identifiers you provide."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "industry": {
                            "type": "string"
                          },
                          "isExcluded": {
                            "type": "boolean"
                          },
                          "linkedinId": {
                            "type": "string"
                          },
                          "linkedinUrl": {
                            "type": "string"
                          },
                          "logoUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "numberOfEmployees": {
                            "type": "number"
                          },
                          "updatedDate": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/leadIQ/latest/actions/search-people": {
      "get": {
        "operationId": "leadIQ.search-people",
        "summary": "Search People",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/leadIQ/latest/actions/search-people"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Search by the LeadIQ person identifier.",
            "schema": {
              "type": "string",
              "description": "Search by the LeadIQ person identifier."
            }
          },
          {
            "name": "firstName",
            "in": "query",
            "required": false,
            "description": "Search by first name.",
            "schema": {
              "type": "string",
              "description": "Search by first name."
            }
          },
          {
            "name": "lastName",
            "in": "query",
            "required": false,
            "description": "Search by last name.",
            "schema": {
              "type": "string",
              "description": "Search by last name."
            }
          },
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "description": "Search by a person's full name.",
            "schema": {
              "type": "string",
              "description": "Search by a person's full name."
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Search by email address.",
            "schema": {
              "type": "string",
              "description": "Search by email address."
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "description": "Search by phone number.",
            "schema": {
              "type": "string",
              "description": "Search by phone number."
            }
          },
          {
            "name": "linkedinId",
            "in": "query",
            "required": false,
            "description": "Search by the LinkedIn member ID.",
            "schema": {
              "type": "string",
              "description": "Search by the LinkedIn member ID."
            }
          },
          {
            "name": "linkedinUrl",
            "in": "query",
            "required": false,
            "description": "Search by the LinkedIn profile URL.",
            "schema": {
              "type": "string",
              "description": "Search by the LinkedIn profile URL."
            }
          },
          {
            "name": "company",
            "in": "query",
            "required": false,
            "description": "Optional CompanyDetails object. Supported keys: companyId, name, domain, emailDomain, linkedinId, country, searchInPastCompanies, strict.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional CompanyDetails object. Supported keys: companyId, name, domain, emailDomain, linkedinId, country, searchInPastCompanies, strict."
            }
          },
          {
            "name": "middleName",
            "in": "query",
            "required": false,
            "description": "Search by middle name.",
            "schema": {
              "type": "string",
              "description": "Search by middle name.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "hashedEmail",
            "in": "query",
            "required": false,
            "description": "Search by a SHA256 hashed email address.",
            "schema": {
              "type": "string",
              "description": "Search by a SHA256 hashed email address.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "workEmailStatusIn[]",
            "in": "query",
            "required": false,
            "description": "Optional array of email verification statuses: Verified, Unverified, VerifiedLikely, Invalid.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Optional array of email verification statuses: Verified, Unverified, VerifiedLikely, Invalid.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "containsWorkContactInfo",
            "in": "query",
            "required": false,
            "description": "When true, only return people with work contact info.",
            "schema": {
              "type": "boolean",
              "description": "When true, only return people with work contact info.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "profileFilter[]",
            "in": "query",
            "required": false,
            "description": "Optional array of profile filters: HasVerifiedWorkPhone, HasPersonalPhone, HasWorkPhone, HasPersonalEmail, HasVerifiedWorkEmail, HasWorkEmail.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Optional array of profile filters: HasVerifiedWorkPhone, HasPersonalPhone, HasWorkPhone, HasPersonalEmail, HasVerifiedWorkEmail, HasWorkEmail.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "includeInvalid",
            "in": "query",
            "required": false,
            "description": "When true, include Invalid emails in the result.",
            "schema": {
              "type": "boolean",
              "description": "When true, include Invalid emails in the result.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "qualityFilter",
            "in": "query",
            "required": false,
            "description": "Optional QualityFilter object. Currently supports the phone enum quality filter.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional QualityFilter object. Currently supports the phone enum quality filter.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "minConfidence",
            "in": "query",
            "required": false,
            "description": "Minimum person confidence score from 0 to 100.",
            "schema": {
              "type": "number",
              "description": "Minimum person confidence score from 0 to 100.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of people to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of people to return.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Number of matching people to skip before returning results.",
            "schema": {
              "type": "number",
              "description": "Number of matching people to skip before returning results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "confidence": {
                            "type": "number"
                          },
                          "currentPositions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "companyInfo": {
                                  "type": "object",
                                  "properties": {
                                    "domain": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "industry": {
                                      "type": "string"
                                    },
                                    "linkedinId": {
                                      "type": "string"
                                    },
                                    "linkedinUrl": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "numberOfEmployees": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "function": {
                                  "type": "string"
                                },
                                "matchedQuery": {
                                  "type": "boolean"
                                },
                                "seniority": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "linkedin": {
                            "type": "object",
                            "properties": {
                              "linkedinId": {
                                "type": "string"
                              },
                              "linkedinUrl": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "areaLevel1": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "countryCode2": {
                                "type": "string"
                              },
                              "fullAddress": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "object",
                            "properties": {
                              "first": {
                                "type": "string"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "last": {
                                "type": "string"
                              },
                              "middle": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/leadIQ/latest/actions/submit-person-feedback": {
      "put": {
        "operationId": "leadIQ.submit-person-feedback",
        "summary": "Submit Person Feedback",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/leadIQ/latest/actions/submit-person-feedback"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "value"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "personId": {
                    "type": "string",
                    "description": "LeadIQ person identifier for the contact you are reporting feedback about."
                  },
                  "value": {
                    "type": "string",
                    "description": "The corrected email address or phone number value you are submitting feedback for."
                  },
                  "status": {
                    "type": "string",
                    "description": "Contact info status. Allowed values: Correct or Invalid.",
                    "enum": [
                      "Correct",
                      "Invalid"
                    ]
                  },
                  "type": {
                    "type": "string",
                    "description": "Contact info type. Common values include WorkEmail, WorkPhone, PersonalEmail, and PersonalPhone.",
                    "enum": [
                      "Fax",
                      "PersonalEmail",
                      "PersonalLandline",
                      "PersonalMobile",
                      "PersonalPhone",
                      "WorkBranch",
                      "WorkEmail",
                      "WorkHQ",
                      "WorkMobile",
                      "WorkPhone"
                    ]
                  },
                  "linkedinUrl": {
                    "type": "string",
                    "description": "LinkedIn profile URL for the person you are reporting feedback about."
                  },
                  "linkedinId": {
                    "type": "string",
                    "description": "LinkedIn member ID for the person you are reporting feedback about."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the person the feedback refers to."
                  },
                  "companyId": {
                    "type": "string",
                    "description": "LeadIQ company identifier associated with the person."
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Company name associated with the person."
                  },
                  "companyDomain": {
                    "type": "string",
                    "description": "Company domain associated with the person."
                  },
                  "title": {
                    "type": "string",
                    "description": "Job title associated with the person."
                  },
                  "invalidReason": {
                    "type": "string",
                    "description": "Reason the value is invalid. Use one of LeadIQ's InvalidReason enum values such as WrongPerson or Other.",
                    "x-mindcloud-advanced": true
                  },
                  "lastSeen": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the contact value was last seen, as an ISO date-time.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
