{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PiAPI/Flux.1 Universal API",
    "version": "0.0.2",
    "description": "Generate and edit images with PiAPI Flux models"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/piAPIFlux1/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/piAPIFlux1/latest/actions/create-flux-control-net-lo-ra-task": {
      "post": {
        "operationId": "piAPIFlux1.create-flux-control-net-lo-ra-task",
        "summary": "Create Flux ControlNet LoRA Task",
        "description": "Creates a Flux ControlNet LoRA task in PiAPI/Flux.1.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIFlux1/latest/actions/create-flux-control-net-lo-ra-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.prompt",
                  "input.controlNetSettings[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.prompt": {
                    "type": "string"
                  },
                  "input.controlNetSettings[]": {
                    "type": "array",
                    "items": {}
                  },
                  "input.loraSettings[]": {
                    "type": "array",
                    "items": {}
                  },
                  "input.steps": {
                    "type": "number"
                  },
                  "input.negativePrompt": {
                    "type": "string"
                  },
                  "input.guidanceScale": {
                    "type": "number"
                  },
                  "config.webhookConfig.endpoint": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.secret": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "config": {
                                "type": "object",
                                "properties": {
                                  "service_mode": {
                                    "type": "string"
                                  },
                                  "webhook_config": {
                                    "type": "object",
                                    "properties": {
                                      "endpoint": {
                                        "type": "string"
                                      },
                                      "secret": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "error": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "number"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "raw_message": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "input": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "logs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "created_at": {
                                    "type": "string"
                                  },
                                  "ended_at": {
                                    "type": "string"
                                  },
                                  "is_using_private_pool": {
                                    "type": "boolean"
                                  },
                                  "started_at": {
                                    "type": "string"
                                  },
                                  "usage": {
                                    "type": "object",
                                    "properties": {
                                      "consume": {
                                        "type": "number"
                                      },
                                      "frozen": {
                                        "type": "number"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "model": {
                                "type": "string"
                              },
                              "output": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "task_id": {
                                "type": "string"
                              },
                              "task_type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIFlux1/latest/actions/create-flux-fill-inpaint-task": {
      "post": {
        "operationId": "piAPIFlux1.create-flux-fill-inpaint-task",
        "summary": "Create Flux Fill Inpaint Task",
        "description": "Creates a Flux fill inpaint task in PiAPI/Flux.1.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIFlux1/latest/actions/create-flux-fill-inpaint-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.prompt",
                  "input.image"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.prompt": {
                    "type": "string"
                  },
                  "input.image": {
                    "type": "string"
                  },
                  "config.webhookConfig.endpoint": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.secret": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "config": {
                                "type": "object",
                                "properties": {
                                  "service_mode": {
                                    "type": "string"
                                  },
                                  "webhook_config": {
                                    "type": "object",
                                    "properties": {
                                      "endpoint": {
                                        "type": "string"
                                      },
                                      "secret": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "error": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "number"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "raw_message": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "input": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "logs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "created_at": {
                                    "type": "string"
                                  },
                                  "ended_at": {
                                    "type": "string"
                                  },
                                  "is_using_private_pool": {
                                    "type": "boolean"
                                  },
                                  "started_at": {
                                    "type": "string"
                                  },
                                  "usage": {
                                    "type": "object",
                                    "properties": {
                                      "consume": {
                                        "type": "number"
                                      },
                                      "frozen": {
                                        "type": "number"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "model": {
                                "type": "string"
                              },
                              "output": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "task_id": {
                                "type": "string"
                              },
                              "task_type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIFlux1/latest/actions/create-flux-fill-outpaint-task": {
      "post": {
        "operationId": "piAPIFlux1.create-flux-fill-outpaint-task",
        "summary": "Create Flux Fill Outpaint Task",
        "description": "Creates a Flux fill outpaint task in PiAPI/Flux.1.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIFlux1/latest/actions/create-flux-fill-outpaint-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.prompt",
                  "input.image",
                  "input.customSettings[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.prompt": {
                    "type": "string"
                  },
                  "input.image": {
                    "type": "string"
                  },
                  "input.customSettings[]": {
                    "type": "array",
                    "items": {}
                  },
                  "config.webhookConfig.endpoint": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.secret": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "config": {
                                "type": "object",
                                "properties": {
                                  "service_mode": {
                                    "type": "string"
                                  },
                                  "webhook_config": {
                                    "type": "object",
                                    "properties": {
                                      "endpoint": {
                                        "type": "string"
                                      },
                                      "secret": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "error": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "number"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "raw_message": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "input": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "logs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "created_at": {
                                    "type": "string"
                                  },
                                  "ended_at": {
                                    "type": "string"
                                  },
                                  "is_using_private_pool": {
                                    "type": "boolean"
                                  },
                                  "started_at": {
                                    "type": "string"
                                  },
                                  "usage": {
                                    "type": "object",
                                    "properties": {
                                      "consume": {
                                        "type": "number"
                                      },
                                      "frozen": {
                                        "type": "number"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "model": {
                                "type": "string"
                              },
                              "output": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "task_id": {
                                "type": "string"
                              },
                              "task_type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIFlux1/latest/actions/create-flux-image-to-image-lo-ra-task": {
      "post": {
        "operationId": "piAPIFlux1.create-flux-image-to-image-lo-ra-task",
        "summary": "Create Flux Image to Image LoRA Task",
        "description": "Creates a Flux image-to-image LoRA task in PiAPI/Flux.1.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIFlux1/latest/actions/create-flux-image-to-image-lo-ra-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.prompt",
                  "input.image",
                  "input.loraSettings[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.prompt": {
                    "type": "string"
                  },
                  "input.image": {
                    "type": "string"
                  },
                  "input.loraSettings[]": {
                    "type": "array",
                    "items": {}
                  },
                  "config.webhookConfig.endpoint": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.secret": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "config": {
                                "type": "object",
                                "properties": {
                                  "service_mode": {
                                    "type": "string"
                                  },
                                  "webhook_config": {
                                    "type": "object",
                                    "properties": {
                                      "endpoint": {
                                        "type": "string"
                                      },
                                      "secret": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "error": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "number"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "raw_message": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "input": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "logs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "created_at": {
                                    "type": "string"
                                  },
                                  "ended_at": {
                                    "type": "string"
                                  },
                                  "is_using_private_pool": {
                                    "type": "boolean"
                                  },
                                  "started_at": {
                                    "type": "string"
                                  },
                                  "usage": {
                                    "type": "object",
                                    "properties": {
                                      "consume": {
                                        "type": "number"
                                      },
                                      "frozen": {
                                        "type": "number"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "model": {
                                "type": "string"
                              },
                              "output": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "task_id": {
                                "type": "string"
                              },
                              "task_type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIFlux1/latest/actions/create-flux-image-to-image-task": {
      "post": {
        "operationId": "piAPIFlux1.create-flux-image-to-image-task",
        "summary": "Create Flux Image to Image Task",
        "description": "Creates a Flux image-to-image task in PiAPI/Flux.1.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIFlux1/latest/actions/create-flux-image-to-image-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "model",
                  "input.prompt",
                  "input.image"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "model": {
                    "type": "string"
                  },
                  "input.prompt": {
                    "type": "string"
                  },
                  "input.image": {
                    "type": "string"
                  },
                  "config.webhookConfig.endpoint": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.secret": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "config": {
                                "type": "object",
                                "properties": {
                                  "service_mode": {
                                    "type": "string"
                                  },
                                  "webhook_config": {
                                    "type": "object",
                                    "properties": {
                                      "endpoint": {
                                        "type": "string"
                                      },
                                      "secret": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "error": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "number"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "raw_message": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "input": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "logs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "created_at": {
                                    "type": "string"
                                  },
                                  "ended_at": {
                                    "type": "string"
                                  },
                                  "is_using_private_pool": {
                                    "type": "boolean"
                                  },
                                  "started_at": {
                                    "type": "string"
                                  },
                                  "usage": {
                                    "type": "object",
                                    "properties": {
                                      "consume": {
                                        "type": "number"
                                      },
                                      "frozen": {
                                        "type": "number"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "model": {
                                "type": "string"
                              },
                              "output": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "task_id": {
                                "type": "string"
                              },
                              "task_type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIFlux1/latest/actions/create-flux-kontext-task": {
      "post": {
        "operationId": "piAPIFlux1.create-flux-kontext-task",
        "summary": "Create Flux Kontext Task",
        "description": "Creates a Flux Kontext task in PiAPI/Flux.1.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIFlux1/latest/actions/create-flux-kontext-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.prompt",
                  "input.image"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.prompt": {
                    "type": "string"
                  },
                  "input.image": {
                    "type": "string"
                  },
                  "input.width": {
                    "type": "number"
                  },
                  "input.height": {
                    "type": "number"
                  },
                  "input.steps": {
                    "type": "number"
                  },
                  "input.seed": {
                    "type": "number"
                  },
                  "config.webhookConfig.endpoint": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.secret": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "config": {
                                "type": "object",
                                "properties": {
                                  "service_mode": {
                                    "type": "string"
                                  },
                                  "webhook_config": {
                                    "type": "object",
                                    "properties": {
                                      "endpoint": {
                                        "type": "string"
                                      },
                                      "secret": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "error": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "number"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "raw_message": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "input": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "logs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "created_at": {
                                    "type": "string"
                                  },
                                  "ended_at": {
                                    "type": "string"
                                  },
                                  "is_using_private_pool": {
                                    "type": "boolean"
                                  },
                                  "started_at": {
                                    "type": "string"
                                  },
                                  "usage": {
                                    "type": "object",
                                    "properties": {
                                      "consume": {
                                        "type": "number"
                                      },
                                      "frozen": {
                                        "type": "number"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "model": {
                                "type": "string"
                              },
                              "output": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "task_id": {
                                "type": "string"
                              },
                              "task_type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIFlux1/latest/actions/create-flux-redux-variation-task": {
      "post": {
        "operationId": "piAPIFlux1.create-flux-redux-variation-task",
        "summary": "Create Flux Redux Variation Task",
        "description": "Creates a Flux Redux variation task in PiAPI/Flux.1.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIFlux1/latest/actions/create-flux-redux-variation-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.prompt",
                  "input.image"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.prompt": {
                    "type": "string"
                  },
                  "input.image": {
                    "type": "string"
                  },
                  "config.webhookConfig.endpoint": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.secret": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "config": {
                                "type": "object",
                                "properties": {
                                  "service_mode": {
                                    "type": "string"
                                  },
                                  "webhook_config": {
                                    "type": "object",
                                    "properties": {
                                      "endpoint": {
                                        "type": "string"
                                      },
                                      "secret": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "error": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "number"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "raw_message": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "input": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "logs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "created_at": {
                                    "type": "string"
                                  },
                                  "ended_at": {
                                    "type": "string"
                                  },
                                  "is_using_private_pool": {
                                    "type": "boolean"
                                  },
                                  "started_at": {
                                    "type": "string"
                                  },
                                  "usage": {
                                    "type": "object",
                                    "properties": {
                                      "consume": {
                                        "type": "number"
                                      },
                                      "frozen": {
                                        "type": "number"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "model": {
                                "type": "string"
                              },
                              "output": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "task_id": {
                                "type": "string"
                              },
                              "task_type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIFlux1/latest/actions/create-flux-text-to-image-lo-ra-task": {
      "post": {
        "operationId": "piAPIFlux1.create-flux-text-to-image-lo-ra-task",
        "summary": "Create Flux Text to Image LoRA Task",
        "description": "Creates a Flux text-to-image LoRA task in PiAPI/Flux.1.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIFlux1/latest/actions/create-flux-text-to-image-lo-ra-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.prompt",
                  "input.loraSettings[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.prompt": {
                    "type": "string"
                  },
                  "input.loraSettings[]": {
                    "type": "array",
                    "items": {}
                  },
                  "config.webhookConfig.endpoint": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.secret": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "config": {
                                "type": "object",
                                "properties": {
                                  "service_mode": {
                                    "type": "string"
                                  },
                                  "webhook_config": {
                                    "type": "object",
                                    "properties": {
                                      "endpoint": {
                                        "type": "string"
                                      },
                                      "secret": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "error": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "number"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "raw_message": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "input": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "logs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "created_at": {
                                    "type": "string"
                                  },
                                  "ended_at": {
                                    "type": "string"
                                  },
                                  "is_using_private_pool": {
                                    "type": "boolean"
                                  },
                                  "started_at": {
                                    "type": "string"
                                  },
                                  "usage": {
                                    "type": "object",
                                    "properties": {
                                      "consume": {
                                        "type": "number"
                                      },
                                      "frozen": {
                                        "type": "number"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "model": {
                                "type": "string"
                              },
                              "output": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "task_id": {
                                "type": "string"
                              },
                              "task_type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIFlux1/latest/actions/create-flux-text-to-image-task": {
      "post": {
        "operationId": "piAPIFlux1.create-flux-text-to-image-task",
        "summary": "Create Flux Text to Image Task",
        "description": "Creates a Flux text-to-image task in PiAPI/Flux.1.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIFlux1/latest/actions/create-flux-text-to-image-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "model",
                  "input.prompt"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "model": {
                    "type": "string"
                  },
                  "input.prompt": {
                    "type": "string"
                  },
                  "input.width": {
                    "type": "number"
                  },
                  "input.height": {
                    "type": "number"
                  },
                  "config.webhookConfig.endpoint": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.secret": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "config": {
                                "type": "object",
                                "properties": {
                                  "service_mode": {
                                    "type": "string"
                                  },
                                  "webhook_config": {
                                    "type": "object",
                                    "properties": {
                                      "endpoint": {
                                        "type": "string"
                                      },
                                      "secret": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "error": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "number"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "raw_message": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "input": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "logs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "created_at": {
                                    "type": "string"
                                  },
                                  "ended_at": {
                                    "type": "string"
                                  },
                                  "is_using_private_pool": {
                                    "type": "boolean"
                                  },
                                  "started_at": {
                                    "type": "string"
                                  },
                                  "usage": {
                                    "type": "object",
                                    "properties": {
                                      "consume": {
                                        "type": "number"
                                      },
                                      "frozen": {
                                        "type": "number"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "model": {
                                "type": "string"
                              },
                              "output": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "task_id": {
                                "type": "string"
                              },
                              "task_type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
[...]
