{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "COVID-19 JHU CSSE Universal API",
    "version": "0.0.3",
    "description": "Historical public COVID-19 case, death, recovery, daily report, location lookup, and correction data from the Johns Hopkins University Center for Systems Science and Engineering GitHub repository. JHU CSSE ceased collecting and reporting this dataset on March 10, 2023, so actions return archived historical data."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/cOVID19JHUCSSE/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/cOVID19JHUCSSE/latest/actions/get-global-daily-report-by-date": {
      "get": {
        "operationId": "cOVID19JHUCSSE.get-global-daily-report-by-date",
        "summary": "Get Global Daily Report by Date",
        "description": "Retrieves global COVID-19 daily report rows for a selected date.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cOVID19JHUCSSE/latest/actions/get-global-daily-report-by-date"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Report date in MM-DD-YYYY format. The archived daily report files are available for dates in the dataset history, with the latest global daily report at 03-09-2023.",
            "schema": {
              "type": "string",
              "description": "Report date in MM-DD-YYYY format. The archived daily report files are available for dates in the dataset history, with the latest global daily report at 03-09-2023.",
              "example": "03-09-2023",
              "default": "03-09-2023"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number",
                            "description": "Active case count when provided by the source."
                          },
                          "admin2": {
                            "type": "string",
                            "description": "County or equivalent local administrative area."
                          },
                          "caseFatalityRatio": {
                            "type": "number",
                            "description": "Case fatality ratio reported by the source."
                          },
                          "combinedKey": {
                            "type": "string",
                            "description": "Combined source location label."
                          },
                          "confirmed": {
                            "type": "number",
                            "description": "Cumulative confirmed cases."
                          },
                          "countryRegion": {
                            "type": "string",
                            "description": "Country or region name."
                          },
                          "deaths": {
                            "type": "number",
                            "description": "Cumulative deaths."
                          },
                          "fips": {
                            "type": "number",
                            "description": "FIPS code when provided."
                          },
                          "incidentRate": {
                            "type": "number",
                            "description": "Incident rate reported by the source."
                          },
                          "lastUpdate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Source last update timestamp."
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitude for the reported location."
                          },
                          "long": {
                            "type": "number",
                            "description": "Longitude for the reported location."
                          },
                          "provinceState": {
                            "type": "string",
                            "description": "Province or state name when provided."
                          },
                          "recovered": {
                            "type": "number",
                            "description": "Recovered count when provided by the source."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cOVID19JHUCSSE/latest/actions/get-us-daily-report-by-date": {
      "get": {
        "operationId": "cOVID19JHUCSSE.get-us-daily-report-by-date",
        "summary": "Get US Daily Report by Date",
        "description": "Retrieves United States COVID-19 daily report rows for a selected date.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cOVID19JHUCSSE/latest/actions/get-us-daily-report-by-date"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Report date in MM-DD-YYYY format. The archived U.S. daily report files are available for dates in the dataset history, with the latest U.S. daily report at 03-09-2023.",
            "schema": {
              "type": "string",
              "description": "Report date in MM-DD-YYYY format. The archived U.S. daily report files are available for dates in the dataset history, with the latest U.S. daily report at 03-09-2023.",
              "example": "03-09-2023",
              "default": "03-09-2023"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number",
                            "description": "Active case count when provided by the source."
                          },
                          "caseFatalityRatio": {
                            "type": "number",
                            "description": "Case fatality ratio reported by the source."
                          },
                          "confirmed": {
                            "type": "number",
                            "description": "Cumulative confirmed cases."
                          },
                          "countryRegion": {
                            "type": "string",
                            "description": "Country or region name."
                          },
                          "deaths": {
                            "type": "number",
                            "description": "Cumulative deaths."
                          },
                          "fips": {
                            "type": "number",
                            "description": "FIPS code when provided."
                          },
                          "hospitalizationRate": {
                            "type": "number",
                            "description": "Hospitalization rate when provided by the source."
                          },
                          "incidentRate": {
                            "type": "number",
                            "description": "Incident rate reported by the source."
                          },
                          "iso3": {
                            "type": "string",
                            "description": "ISO alpha-3 country code."
                          },
                          "lastUpdate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Source last update timestamp."
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitude for the reported location."
                          },
                          "long": {
                            "type": "number",
                            "description": "Longitude for the reported location."
                          },
                          "peopleHospitalized": {
                            "type": "number",
                            "description": "Hospitalization count when provided by the source."
                          },
                          "provinceState": {
                            "type": "string",
                            "description": "U.S. state or territory."
                          },
                          "recovered": {
                            "type": "number",
                            "description": "Recovered count when provided by the source."
                          },
                          "testingRate": {
                            "type": "number",
                            "description": "Testing rate when provided by the source."
                          },
                          "totalTestResults": {
                            "type": "number",
                            "description": "Total test results when provided by the source."
                          },
                          "uid": {
                            "type": "number",
                            "description": "JHU location UID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cOVID19JHUCSSE/latest/actions/list-global-confirmed-time-series": {
      "get": {
        "operationId": "cOVID19JHUCSSE.list-global-confirmed-time-series",
        "summary": "List Global Confirmed Time Series",
        "description": "Retrieves global confirmed COVID-19 time series rows.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cOVID19JHUCSSE/latest/actions/list-global-confirmed-time-series"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countryRegion": {
                            "type": "string",
                            "description": "Country or region name."
                          },
                          "dateValues": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Cumulative confirmed-case values by ISO date."
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitude for the reported location."
                          },
                          "long": {
                            "type": "number",
                            "description": "Longitude for the reported location."
                          },
                          "provinceState": {
                            "type": "string",
                            "description": "Province or state name when provided by the source row."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cOVID19JHUCSSE/latest/actions/list-global-deaths-time-series": {
      "get": {
        "operationId": "cOVID19JHUCSSE.list-global-deaths-time-series",
        "summary": "List Global Deaths Time Series",
        "description": "Retrieves global COVID-19 death time series rows.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cOVID19JHUCSSE/latest/actions/list-global-deaths-time-series"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countryRegion": {
                            "type": "string",
                            "description": "Country or region name."
                          },
                          "dateValues": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Cumulative death values by ISO date."
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitude for the reported location."
                          },
                          "long": {
                            "type": "number",
                            "description": "Longitude for the reported location."
                          },
                          "provinceState": {
                            "type": "string",
                            "description": "Province or state name when provided by the source row."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cOVID19JHUCSSE/latest/actions/list-global-recovered-time-series": {
      "get": {
        "operationId": "cOVID19JHUCSSE.list-global-recovered-time-series",
        "summary": "List Global Recovered Time Series",
        "description": "Retrieves global recovered COVID-19 time series rows.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cOVID19JHUCSSE/latest/actions/list-global-recovered-time-series"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countryRegion": {
                            "type": "string",
                            "description": "Country or region name."
                          },
                          "dateValues": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Cumulative recovered-case values by ISO date."
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitude for the reported location."
                          },
                          "long": {
                            "type": "number",
                            "description": "Longitude for the reported location."
                          },
                          "provinceState": {
                            "type": "string",
                            "description": "Province or state name when provided by the source row."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cOVID19JHUCSSE/latest/actions/list-latest-global-daily-report": {
      "get": {
        "operationId": "cOVID19JHUCSSE.list-latest-global-daily-report",
        "summary": "List Latest Global Daily Report",
        "description": "Retrieves the latest archived global COVID-19 daily report rows.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cOVID19JHUCSSE/latest/actions/list-latest-global-daily-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number",
                            "description": "Active case count when provided by the source."
                          },
                          "admin2": {
                            "type": "string",
                            "description": "County or equivalent local administrative area."
                          },
                          "caseFatalityRatio": {
                            "type": "number",
                            "description": "Case fatality ratio reported by the source."
                          },
                          "combinedKey": {
                            "type": "string",
                            "description": "Combined source location label."
                          },
                          "confirmed": {
                            "type": "number",
                            "description": "Cumulative confirmed cases."
                          },
                          "countryRegion": {
                            "type": "string",
                            "description": "Country or region name."
                          },
                          "deaths": {
                            "type": "number",
                            "description": "Cumulative deaths."
                          },
                          "fips": {
                            "type": "number",
                            "description": "FIPS code when provided."
                          },
                          "incidentRate": {
                            "type": "number",
                            "description": "Incident rate reported by the source."
                          },
                          "lastUpdate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Source last update timestamp."
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitude for the reported location."
                          },
                          "long": {
                            "type": "number",
                            "description": "Longitude for the reported location."
                          },
                          "provinceState": {
                            "type": "string",
                            "description": "Province or state name when provided."
                          },
                          "recovered": {
                            "type": "number",
                            "description": "Recovered count when provided by the source."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cOVID19JHUCSSE/latest/actions/list-latest-us-daily-report": {
      "get": {
        "operationId": "cOVID19JHUCSSE.list-latest-us-daily-report",
        "summary": "List Latest US Daily Report",
        "description": "Retrieves the latest archived United States COVID-19 daily report rows.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cOVID19JHUCSSE/latest/actions/list-latest-us-daily-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number",
                            "description": "Active case count when provided by the source."
                          },
                          "caseFatalityRatio": {
                            "type": "number",
                            "description": "Case fatality ratio reported by the source."
                          },
                          "confirmed": {
                            "type": "number",
                            "description": "Cumulative confirmed cases."
                          },
                          "countryRegion": {
                            "type": "string",
                            "description": "Country or region name."
                          },
                          "deaths": {
                            "type": "number",
                            "description": "Cumulative deaths."
                          },
                          "fips": {
                            "type": "number",
                            "description": "FIPS code when provided."
                          },
                          "hospitalizationRate": {
                            "type": "number",
                            "description": "Hospitalization rate when provided by the source."
                          },
                          "incidentRate": {
                            "type": "number",
                            "description": "Incident rate reported by the source."
                          },
                          "iso3": {
                            "type": "string",
                            "description": "ISO alpha-3 country code."
                          },
                          "lastUpdate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Source last update timestamp."
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitude for the reported location."
                          },
                          "long": {
                            "type": "number",
                            "description": "Longitude for the reported location."
                          },
                          "peopleHospitalized": {
                            "type": "number",
                            "description": "Hospitalization count when provided by the source."
                          },
                          "provinceState": {
                            "type": "string",
                            "description": "U.S. state or territory."
                          },
                          "recovered": {
                            "type": "number",
                            "description": "Recovered count when provided by the source."
                          },
                          "testingRate": {
                            "type": "number",
                            "description": "Testing rate when provided by the source."
                          },
                          "totalTestResults": {
                            "type": "number",
                            "description": "Total test results when provided by the source."
                          },
                          "uid": {
                            "type": "number",
                            "description": "JHU location UID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cOVID19JHUCSSE/latest/actions/list-location-lookup-table": {
      "get": {
        "operationId": "cOVID19JHUCSSE.list-location-lookup-table",
        "summary": "List Location Lookup Table",
        "description": "Retrieves the COVID-19 location lookup rows.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cOVID19JHUCSSE/latest/actions/list-location-lookup-table"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "admin2": {
                            "type": "string",
                            "description": "County or equivalent local administrative area."
                          },
                          "code3": {
                            "type": "number",
                            "description": "ISO numeric country code."
                          },
                          "combinedKey": {
                            "type": "string",
                            "description": "Combined source location label."
                          },
                          "countryRegion": {
                            "type": "string",
                            "description": "Country or region name."
                          },
                          "fips": {
                            "type": "number",
                            "description": "FIPS code when provided."
                          },
                          "iso2": {
                            "type": "string",
                            "description": "ISO alpha-2 country code."
                          },
                          "iso3": {
                            "type": "string",
                            "description": "ISO alpha-3 country code."
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitude for the location."
                          },
                          "long": {
                            "type": "number",
                            "description": "Longitude for the location."
                          },
                          "population": {
                            "type": "number",
                            "description": "Population for the location when provided."
                          },
                          "provinceState": {
                            "type": "string",
                            "description": "Province or state name when provided."
                          },
                          "uid": {
                            "type": "number",
                            "description": "JHU location UID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cOVID19JHUCSSE/latest/actions/list-time-series-errata": {
      "get": {
        "operationId": "cOVID19JHUCSSE.list-time-series-errata",
        "summary": "List Time Series Errata",
        "description": "Retrieves COVID-19 time series errata rows.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cOVID19JHUCSSE/latest/actions/list-time-series-errata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comments": {
                            "type": "string",
                            "description": "Source comment or explanation for the correction."
                          },
                          "fieldUpdated": {
                            "type": "string",
                            "description": "Field or date column that was corrected."
                          },
                          "file": {
                            "type": "string",
                            "description": "Source file affected by the correction."
                          },
                          "location": {
                            "type": "string",
                            "description": "Location affected by the correction."
                          },
                          "new": {
                            "type": "number",
                            "description": "Corrected value."
                          },
                          "old": {
                            "type": "number",
                            "description": "Previous value."
                          },
                          "updateDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date the correction was recorded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cOVID19JHUCSSE/latest/actions/list-us-confirmed-time-series": {
      "get": {
        "operationId": "cOVID19JHUCSSE.list-us-confirmed-time-series",
        "summary": "List US Confirmed Time Series",
        "description": "Retrieves United States confirmed COVID-19 time series rows.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cOVID19JHUCSSE/latest/actions/list-us-confirmed-time-series"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "admin2": {
                            "type": "string",
                            "description": "County or equivalent local administrative area."
                          },
                          "code3": {
                            "type": "number",
                            "description": "ISO numeric country code."
                          },
                          "combinedKey": {
                            "type": "string",
                            "description": "Combined source location label."
                          },
                          "countryRegion": {
                            "type": "string",
                            "description": "Country or region name."
                          },
                          "dateValues": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Cumulative confirmed-case values by ISO date."
                          },
                          "fips": {
                            "type": "number",
                            "description": "FIPS code when provided."
                          },
                          "iso2": {
                            "type": "string",
                            "description": "ISO alpha-2 country code."
                          },
                          "iso3": {
                            "type": "string",
                            "description": "ISO alpha-3 country code."
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitude for the reported location."
                          },
                          "long": {
                            "type": "number",
                            "description": "Longitude for the reported location."
                          },
                          "provinceState": {
                            "type": "string",
                            "description": "U.S. state or territory."
                          },
                          "uid": {
                            "type": "number",
                            "description": "JHU location UID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cOVID19JHUCSSE/latest/actions/list-us-deaths-time-series": {
      "get": {
        "operationId": "cOVID19JHUCSSE.list-us-deaths-time-series",
        "summary": "List US Deaths Time Series",
        "description": "Retrieves United States COVID-19 death time series rows.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cOVID19JHUCSSE/latest/actions/list-us-deaths-time-series"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "admin2": {
                            "type": "string",
                            "description": "County or equivalent local administrative area."
                          },
                          "code3": {
                            "type": "number",
                            "description": "ISO numeric country code."
                          },
                          "combinedKey": {
                            "type": "string",
                            "description": "Combined source location label."
                          },
                          "countryRegion": {
                            "type": "string",
                            "description": "Country or region name."
                          },
                          "dateValues": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Cumulative death values by ISO date."
                          },
                          "fips": {
                            "type": "number",
                            "description": "FIPS code when provided."
                          },
                          "iso2": {
                            "type": "string",
                            "description": "ISO alpha-2 country code."
                          },
                          "iso3": {
                            "type": "string",
                            "description": "ISO alpha-3 country code."
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitude for the reported location."
                          },
                          "long": {
                            "type": "number",
                            "description": "Longitude for the reported location."
                          },
                          "population": {
                            "type": "number",
                            "description": "Population for the location when provided."
                          },
                          "provinceState": {
                            "type": "string",
                            "description": "U.S. state or territory."
                          },
                          "uid": {
                            "type": "number",
                            "description": "JHU location UID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
