{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "eGestor Universal API",
    "version": "0.0.6",
    "description": "Manage eGestor sales, purchases, inventory, finance, and invoices"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/eGestor/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/eGestor/latest/actions/check-pix-status": {
      "get": {
        "operationId": "eGestor.check-pix-status",
        "summary": "Check Pix Status",
        "description": "Retrieves the status of a Pix charge from eGestor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eGestor/latest/actions/check-pix-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigo",
            "in": "query",
            "required": true,
            "description": "Código do Pix.",
            "schema": {
              "type": "number",
              "description": "Código do Pix.",
              "example": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eGestor/latest/actions/create-contact": {
      "post": {
        "operationId": "eGestor.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in eGestor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eGestor/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "nome",
                  "tipo[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "nome": {
                    "type": "string",
                    "description": "Nome do contato. Limite 60 caracteres.",
                    "example": "Kaya Labadie"
                  },
                  "tipo[]": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "cliente",
                        "fornecedor",
                        "transportadora"
                      ]
                    },
                    "description": "Tipos do contato como lista de strings. Valores documentados: cliente, fornecedor, transportadora."
                  },
                  "nomeParaContato": {
                    "type": "string",
                    "description": "Nome para contato. Limite 60 caracteres.",
                    "example": "Elfrieda Labadie"
                  },
                  "cpfcnpj": {
                    "type": "string",
                    "description": "CPF ou CNPJ do contato.",
                    "example": "00000000000191"
                  },
                  "dtNasc": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Data de nascimento no formato YYYY-MM-DD.",
                    "example": "1992-02-13"
                  },
                  "emails[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Lista de e-mails do contato."
                  },
                  "fones[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Lista de telefones do contato."
                  },
                  "logradouro": {
                    "type": "string",
                    "description": "Logradouro do contato.",
                    "example": "Rua Exemplo lado ímpar"
                  },
                  "numero": {
                    "type": "string",
                    "description": "Número do endereço do contato.",
                    "example": "999"
                  },
                  "codIBGE": {
                    "type": "string",
                    "description": "Código IBGE da cidade.",
                    "example": "3550308"
                  },
                  "uf": {
                    "type": "string",
                    "description": "UF referente ao código IBGE informado.",
                    "example": "SP"
                  },
                  "clienteFinal": {
                    "type": "boolean",
                    "description": "Define se o contato é cliente final.",
                    "example": true
                  },
                  "indicadorIE": {
                    "type": "string",
                    "description": "Indicador de inscrição estadual. Valores documentados: 1 contribuinte, 2 isento, 9 não contribuinte.",
                    "enum": [
                      "1",
                      "2",
                      "9"
                    ],
                    "example": "1"
                  },
                  "obs": {
                    "type": "string",
                    "description": "Observações gerais do contato.",
                    "example": "Contato criado pela automação",
                    "x-mindcloud-advanced": true
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Lista de palavras-chave do contato.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codigo": {
                            "type": "number"
                          },
                          "nome": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eGestor/latest/actions/create-payable": {
      "post": {
        "operationId": "eGestor.create-payable",
        "summary": "Create Payable",
        "description": "Creates a new payable in eGestor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eGestor/latest/actions/create-payable"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "codPlanoContas",
                  "descricao",
                  "valor",
                  "dtVenc",
                  "dtComp",
                  "codDisponivel"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "codPlanoContas": {
                    "type": "number"
                  },
                  "codFormaPgto": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "numDoc": {
                    "type": "string"
                  },
                  "descricao": {
                    "type": "string"
                  },
                  "valor": {
                    "type": "number"
                  },
                  "dtVenc": {
                    "type": "string"
                  },
                  "dtComp": {
                    "type": "string"
                  },
                  "dtPgto": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "pago": {
                    "type": "boolean",
                    "default": false
                  },
                  "codContato": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "codDisponivel": {
                    "type": "number"
                  },
                  "obs": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codigo": {
                            "type": "number",
                            "description": "Internal payable code."
                          },
                          "codModulo": {
                            "type": "number",
                            "description": "Source module record code."
                          },
                          "descricao": {
                            "type": "string",
                            "description": "Created payable description."
                          },
                          "origem": {
                            "type": "string",
                            "description": "Source module for the payable."
                          },
                          "situacao": {
                            "type": "number",
                            "description": "Payable status after creation."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eGestor/latest/actions/create-pix-charge": {
      "post": {
        "operationId": "eGestor.create-pix-charge",
        "summary": "Create Pix Charge",
        "description": "Creates a new Pix charge in eGestor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eGestor/latest/actions/create-pix-charge"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "codFinanceiro"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "codFinanceiro": {
                    "type": "number",
                    "description": "Código do financeiro para gerar a cobrança Pix.",
                    "example": 5
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eGestor/latest/actions/create-product": {
      "post": {
        "operationId": "eGestor.create-product",
        "summary": "Create Product",
        "description": "Creates a new product in eGestor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eGestor/latest/actions/create-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "descricao"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "descricao": {
                    "type": "string",
                    "description": "Descrição do produto.",
                    "example": "MindCloud Stage3 Product 20260401"
                  },
                  "codigoProprio": {
                    "type": "string",
                    "description": "Código próprio do produto.",
                    "example": "MC-20260401"
                  },
                  "estoque": {
                    "type": "number",
                    "description": "Quantidade em estoque.",
                    "example": 100
                  },
                  "estoqueMinimo": {
                    "type": "number",
                    "description": "Estoque mínimo.",
                    "example": 0
                  },
                  "controlarEstoque": {
                    "type": "boolean",
                    "description": "Define se o produto controla estoque.",
                    "example": true
                  },
                  "margemLucro": {
                    "type": "number",
                    "description": "Margem de lucro.",
                    "example": 0
                  },
                  "precoCusto": {
                    "type": "number",
                    "description": "Preço de custo.",
                    "example": 5
                  },
                  "precoVenda": {
                    "type": "number",
                    "description": "Preço de venda.",
                    "example": 10.37
                  },
                  "origemFiscal": {
                    "type": "number",
                    "description": "Origem fiscal do produto.",
                    "example": 0
                  },
                  "unidadeTributada": {
                    "type": "string",
                    "description": "Unidade tributada.",
                    "example": "UN"
                  },
                  "codigoGrupoTributos": {
                    "type": "number",
                    "description": "Código do grupo de tributos vinculado.",
                    "example": 0
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Lista de tags do produto.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codigo": {
                            "type": "number"
                          },
                          "descricao": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eGestor/latest/actions/create-purchase": {
      "post": {
        "operationId": "eGestor.create-purchase",
        "summary": "Create Purchase",
        "description": "Creates a new purchase in eGestor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eGestor/latest/actions/create-purchase"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "codContato",
                  "dtCompra",
                  "situacao",
                  "atualizarPrecoVenda",
                  "produtos[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "codContato": {
                    "type": "number",
                    "description": "Código do fornecedor da compra.",
                    "example": 2
                  },
                  "numNota": {
                    "type": "string",
                    "description": "Número do documento fiscal.",
                    "example": "775"
                  },
                  "dtCompra": {
                    "type": "string",
                    "description": "Data da realização da compra no formato YYYY-MM-DD.",
                    "example": "2026-04-01"
                  },
                  "dtEntrega": {
                    "type": "string",
                    "description": "Data da entrega no formato YYYY-MM-DD.",
                    "example": "2026-04-01"
                  },
                  "situacao": {
                    "type": "number",
                    "description": "Situação da compra. Use 10 para orçamento ou 50 para compra efetivada.",
                    "enum": [
                      "10",
                      "50"
                    ],
                    "example": 10
                  },
                  "atualizarPrecoVenda": {
                    "type": "boolean",
                    "description": "Define se o preço de venda será atualizado.",
                    "example": false
                  },
                  "produtos[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Lista de itens da compra. Cada item deve incluir codProduto, custoBruto, quant, vDesc, valorIPI e valorST."
                  },
                  "financeiros[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Lista de lançamentos financeiros quando aplicável.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codContato": {
                            "type": "number"
                          },
                          "codigo": {
                            "type": "number"
                          },
                          "dtCompra": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "nomeContato": {
                            "type": "string"
                          },
                          "valorTotal": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eGestor/latest/actions/create-receivable": {
      "post": {
        "operationId": "eGestor.create-receivable",
        "summary": "Create Receivable",
        "description": "Creates a new receivable in eGestor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eGestor/latest/actions/create-receivable"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "codPlanoContas",
                  "descricao",
                  "valor",
                  "dtVenc",
                  "dtComp",
                  "codDisponivel"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "codPlanoContas": {
                    "type": "number",
                    "description": "Internal account plan code linked to the receivable."
                  },
                  "codFormaPgto": {
                    "type": "number",
                    "description": "Internal payment method code for the receivable.",
                    "x-mindcloud-advanced": true
                  },
                  "numDoc": {
                    "type": "string",
                    "description": "Document number for the receivable."
                  },
                  "descricao": {
                    "type": "string",
                    "description": "Receivable description."
                  },
                  "valor": {
                    "type": "number",
                    "description": "Receivable amount."
                  },
                  "dtVenc": {
                    "type": "string",
                    "description": "Receivable due date in yyyy-mm-dd format."
                  },
                  "dtPgto": {
                    "type": "string",
                    "description": "Payment date in yyyy-mm-dd format.",
                    "x-mindcloud-advanced": true
                  },
                  "dtComp": {
                    "type": "string",
                    "description": "Competence date in yyyy-mm-dd format."
                  },
                  "dtCred": {
                    "type": "string",
                    "description": "Credit date in yyyy-mm-dd format.",
                    "x-mindcloud-advanced": true
                  },
                  "recebido": {
                    "type": "boolean",
                    "description": "Whether the receivable is already received.",
                    "default": false
                  },
                  "codContato": {
                    "type": "number",
                    "description": "Internal contact code.",
                    "x-mindcloud-advanced": true
                  },
                  "codDisponivel": {
                    "type": "number",
                    "description": "Internal cash account code."
                  },
                  "obs": {
                    "type": "string",
                    "description": "Additional receivable notes."
                  },
                  "tags": {
                    "type": "string",
                    "description": "Tags to attach to the receivable.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codigo": {
                            "type": "number"
                          },
                          "codModulo": {
                            "type": "number"
                          },
                          "origem": {
                            "type": "string"
                          },
                          "situacao": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eGestor/latest/actions/create-sale": {
      "post": {
        "operationId": "eGestor.create-sale",
        "summary": "Create Sale",
        "description": "Creates a new sale in eGestor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eGestor/latest/actions/create-sale"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "codContato",
                  "codVendedor",
                  "dtVenda",
                  "situacao",
                  "produtos[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "codContato": {
                    "type": "number",
                    "description": "Código do contato cliente da venda.",
                    "example": 3
                  },
                  "codVendedor": {
                    "type": "number",
                    "description": "Código do vendedor da venda.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "dtVenda": {
                    "type": "string",
                    "description": "Data da venda no formato YYYY-MM-DD.",
                    "example": "2026-04-01"
                  },
                  "dtEntrega": {
                    "type": "string",
                    "description": "Data de entrega no formato YYYY-MM-DD.",
                    "example": "2026-04-02"
                  },
                  "situacao": {
                    "type": "string",
                    "description": "Situação da venda, como orçamento ou venda efetivada.",
                    "enum": [
                      "10",
                      "50"
                    ],
                    "example": "50"
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags da venda.",
                    "x-mindcloud-advanced": true
                  },
                  "valorFrete": {
                    "type": "number",
                    "description": "Valor do frete da venda.",
                    "example": 5.5
                  },
                  "valorDesc": {
                    "type": "number",
                    "description": "Valor do desconto da venda.",
                    "example": 0
                  },
                  "valorDespesasAcessorias": {
                    "type": "number",
                    "description": "Valor das despesas acessórias da venda.",
                    "example": 0,
                    "x-mindcloud-advanced": true
                  },
                  "clienteFinal": {
                    "type": "boolean",
                    "description": "Define se o contato é cliente final.",
                    "example": true
                  },
                  "enderecoEntrega": {
                    "type": "number",
                    "description": "Código do endereço de entrega associado ao contato.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "situacaoOS": {
                    "type": "string",
                    "description": "Situação da ordem de serviço quando aplicável.",
                    "example": "Em espera",
                    "x-mindcloud-advanced": true
                  },
                  "customizado": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Objeto com campos personalizados da venda.",
                    "x-mindcloud-advanced": true
                  },
                  "produtos[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Lista de produtos da venda."
                  },
                  "financeiros[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Lista de recebimentos financeiros da venda."
                  },
                  "despesas[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Lista de despesas associadas à venda.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codigo": {
                            "type": "number",
                            "description": "Internal sale code."
                          },
                          "codVendedor": {
                            "type": "number",
                            "description": "Seller code linked to the created sale."
                          },
                          "dtVenda": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Sale date."
                          },
                          "valorTotal": {
                            "type": "number",
                            "description": "Total sale amount."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eGestor/latest/actions/create-service": {
      "post": {
        "operationId": "eGestor.create-service",
        "summary": "Create Service",
        "description": "Creates a new service in eGestor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eGestor/latest/actions/create-service"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "descricao"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "descricao": {
                    "type": "string",
                    "description": "Descrição do serviço.",
                    "example": "MindCloud Stage3 Service 20260401"
                  },
                  "precoVenda": {
                    "type": "number",
                    "description": "Preço de venda.",
                    "example": 10
                  },
                  "codigoGrupoTributos": {
                    "type": "number",
                    "description": "Código do grupo de tributos vinculado.",
                    "example": 0
                  },
                  "itemListaServico": {
                    "type": "string",
                    "description": "Código do item da lista de serviço.",
                    "example": "14.01"
                  },
                  "cnae": {
                    "type": "string",
                    "description": "Código CNAE.",
                    "example": "1234567"
                  },
                  "codTributacaoMun": {
                    "type": "string",
                    "description": "Código de tributação municipal.",
                    "example": "987654"
                  },
                  "anotacoesInternas": {
                    "type": "string",
                    "description": "Anotações internas do serviço.",
                    "example": "Anotação",
                    "x-mindcloud-advanced": true
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Lista de tags do serviço.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "codigo": {
                            "type": "number"
                          },
                          "descricao": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eGestor/latest/actions/delete-contact": {
      "delete": {
        "operationId": "eGestor.delete-contact",
        "summary": "Delete Contact",
        "description": "Deletes an existing contact from eGestor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eGestor/latest/actions/delete-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigo",
            "in": "query",
            "required": true,
            "description": "Código do contato.",
            "schema": {
              "type": "number",
              "description": "Código do contato.",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "msg": {
                            "type": "string"
                          },
                          "obs": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eGestor/latest/actions/delete-product": {
      "delete": {
        "operationId": "eGestor.delete-product",
        "summary": "Delete Product",
        "description": "Deletes an existing product from eGestor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eGestor/latest/actions/delete-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigo",
            "in": "query",
            "required": true,
            "description": "Código do produto.",
            "schema": {
              "type": "number",
              "description": "Código do produto.",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "fields": {
                            "type": "string"
                          },
                          "msg": {
                            "type": "string"
                          },
                          "obs": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eGestor/latest/actions/delete-service": {
      "delete": {
        "operationId": "eGestor.delete-service",
        "summary": "Delete Service",
        "description": "Deletes an existing service from eGestor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eGestor/latest/actions/delete-service"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigo",
            "in": "query",
            "required": true,
            "description": "Código do serviço.",
            "schema": {
              "type": "number",
              "description": "Código do serviço.",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "fields": {
                            "type": "string"
                          },
                          "msg": {
                            "type": "string"
                          },
                          "obs": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eGestor/latest/actions/finalize-purchase": {
      "put": {
        "operationId": "eGestor.finalize-purchase",
        "summary": "Finalize Purchase",
        "description": "Finalizes a purchase in eGestor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eGestor/latest/actions/finalize-purchase"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "codigo"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "codigo": {
                    "type": "number",
                    "description": "Código da compra.",
                    "example": 1
                  },
                  "atualizarPrecoVenda": {
                    "type": "boolean",
                    "description": "Define se o preço de venda dos produtos será atualizado ao efetivar.",
                    "example": false,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eGestor/latest/actions/generate-sale-n-fe": {
      "put": {
        "operationId": "eGestor.generate-sale-n-fe",
        "summary": "Generate Sale NFe",
        "description": "Generates an NFe for a sale in eGestor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eGestor/latest/actions/generate-sale-n-fe"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "codigo"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "codigo": {
                    "type": "number",
                    "description": "Código da venda.",
                    "example": 1
                  },
                  "enviar": {
                    "type": "boolean",
                    "description": "Define se a nota deve ser enviada à SEFAZ.",
                    "example": false
                  },
                  "contigOffline": {
                    "type": "boolean",
                    "description": "Define se a emissão será em contingência offline.",
                    "example": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errMsg": {
                            "type": "string"
                          },
                          "errObs": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
[...]
