{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Google Drive Universal API",
    "version": "0.0.188",
    "description": "Store files, share folders, collaborate on content, and manage access."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/googleDrive/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/googleDrive/latest/actions/copy-file": {
      "post": {
        "operationId": "googleDrive.copy-file",
        "summary": "Copy File",
        "description": "Creates a copy of a file in Google Drive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleDrive/latest/actions/copy-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "fileId": {
                    "type": "string",
                    "default": "1cfhq1a5PyfkxSXz8b0vA2V07u8Jf2_bTBSZR-td3Jok"
                  },
                  "mimeType": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "kind": {
                            "type": "string"
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleDrive/latest/actions/create-file": {
      "post": {
        "operationId": "googleDrive.create-file",
        "summary": "Create File",
        "description": "Creates a new file in Google Drive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleDrive/latest/actions/create-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "fileType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Give your new File a new Name."
                  },
                  "useContentAsIndexableText": {
                    "type": "boolean",
                    "description": "Whether to use the uploaded content as indexable text.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "fileType": {
                    "type": "string",
                    "description": "Choose which Google Workspace file type to create.",
                    "enum": [
                      "document",
                      "form",
                      "fusiontable",
                      "presentation",
                      "spreadsheet"
                    ],
                    "example": "Choose a file type"
                  },
                  "ignoreDefaultVisibility": {
                    "type": "boolean",
                    "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
                    "x-mindcloud-advanced": true
                  },
                  "parents": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The ID of a Google Drive Folder to place your file. When not specified files are added to your My Drive."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capabilities": {
                            "type": "object",
                            "properties": {
                              "canAcceptOwnership": {
                                "type": "boolean"
                              },
                              "canAddChildren": {
                                "type": "boolean"
                              },
                              "canAddMyDriveParent": {
                                "type": "boolean"
                              },
                              "canChangeCopyRequiresWriterPermission": {
                                "type": "boolean"
                              },
                              "canChangeSecurityUpdateEnabled": {
                                "type": "boolean"
                              },
                              "canChangeViewersCanCopyContent": {
                                "type": "boolean"
                              },
                              "canComment": {
                                "type": "boolean"
                              },
                              "canCopy": {
                                "type": "boolean"
                              },
                              "canDelete": {
                                "type": "boolean"
                              },
                              "canDownload": {
                                "type": "boolean"
                              },
                              "canEdit": {
                                "type": "boolean"
                              },
                              "canListChildren": {
                                "type": "boolean"
                              },
                              "canModifyContent": {
                                "type": "boolean"
                              },
                              "canModifyContentRestriction": {
                                "type": "boolean"
                              },
                              "canModifyEditorContentRestriction": {
                                "type": "boolean"
                              },
                              "canModifyLabels": {
                                "type": "boolean"
                              },
                              "canModifyOwnerContentRestriction": {
                                "type": "boolean"
                              },
                              "canMoveChildrenWithinDrive": {
                                "type": "boolean"
                              },
                              "canMoveItemIntoTeamDrive": {
                                "type": "boolean"
                              },
                              "canMoveItemOutOfDrive": {
                                "type": "boolean"
                              },
                              "canMoveItemWithinDrive": {
                                "type": "boolean"
                              },
                              "canReadLabels": {
                                "type": "boolean"
                              },
                              "canReadRevisions": {
                                "type": "boolean"
                              },
                              "canRemoveChildren": {
                                "type": "boolean"
                              },
                              "canRemoveContentRestriction": {
                                "type": "boolean"
                              },
                              "canRemoveMyDriveParent": {
                                "type": "boolean"
                              },
                              "canRename": {
                                "type": "boolean"
                              },
                              "canShare": {
                                "type": "boolean"
                              },
                              "canTrash": {
                                "type": "boolean"
                              },
                              "canUntrash": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "copyRequiresWriterPermission": {
                            "type": "boolean"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "explicitlyTrashed": {
                            "type": "boolean"
                          },
                          "folderColorRgb": {
                            "type": "string"
                          },
                          "hasThumbnail": {
                            "type": "boolean"
                          },
                          "iconLink": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isAppAuthorized": {
                            "type": "boolean"
                          },
                          "kind": {
                            "type": "string"
                          },
                          "lastModifyingUser": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string"
                              },
                              "emailAddress": {
                                "type": "string"
                              },
                              "kind": {
                                "type": "string"
                              },
                              "me": {
                                "type": "boolean"
                              },
                              "permissionId": {
                                "type": "string"
                              },
                              "photoLink": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "linkShareMetadata": {
                            "type": "object",
                            "properties": {
                              "securityUpdateEligible": {
                                "type": "boolean"
                              },
                              "securityUpdateEnabled": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "modifiedByMe": {
                            "type": "boolean"
                          },
                          "modifiedByMeTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "ownedByMe": {
                            "type": "boolean"
                          },
                          "owners": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string"
                                },
                                "emailAddress": {
                                  "type": "string"
                                },
                                "kind": {
                                  "type": "string"
                                },
                                "me": {
                                  "type": "boolean"
                                },
                                "permissionId": {
                                  "type": "string"
                                },
                                "photoLink": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "parents": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "permissionIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "permissions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "deleted": {
                                  "type": "boolean"
                                },
                                "displayName": {
                                  "type": "string"
                                },
                                "emailAddress": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "kind": {
                                  "type": "string"
                                },
                                "pendingOwner": {
                                  "type": "boolean"
                                },
                                "role": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "quotaBytesUsed": {
                            "type": "string"
                          },
                          "shared": {
                            "type": "boolean"
                          },
                          "spaces": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "starred": {
                            "type": "boolean"
                          },
                          "thumbnailVersion": {
                            "type": "string"
                          },
                          "trashed": {
                            "type": "boolean"
                          },
                          "version": {
                            "type": "string"
                          },
                          "viewedByMe": {
                            "type": "boolean"
                          },
                          "viewersCanCopyContent": {
                            "type": "boolean"
                          },
                          "webViewLink": {
                            "type": "string"
                          },
                          "writersCanShare": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleDrive/latest/actions/create-folder": {
      "post": {
        "operationId": "googleDrive.create-folder",
        "summary": "Create Folder",
        "description": "Creates a new Folder in Google Drive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleDrive/latest/actions/create-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Give the new Folder a name."
                  },
                  "parents": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The ID of a Google Drive Folder to place your file. When not specified files are added to your My Drive."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capabilities": {
                            "type": "object",
                            "properties": {
                              "canAcceptOwnership": {
                                "type": "boolean"
                              },
                              "canAddChildren": {
                                "type": "boolean"
                              },
                              "canAddMyDriveParent": {
                                "type": "boolean"
                              },
                              "canChangeCopyRequiresWriterPermission": {
                                "type": "boolean"
                              },
                              "canChangeSecurityUpdateEnabled": {
                                "type": "boolean"
                              },
                              "canChangeViewersCanCopyContent": {
                                "type": "boolean"
                              },
                              "canComment": {
                                "type": "boolean"
                              },
                              "canCopy": {
                                "type": "boolean"
                              },
                              "canDelete": {
                                "type": "boolean"
                              },
                              "canDownload": {
                                "type": "boolean"
                              },
                              "canEdit": {
                                "type": "boolean"
                              },
                              "canListChildren": {
                                "type": "boolean"
                              },
                              "canModifyContent": {
                                "type": "boolean"
                              },
                              "canModifyContentRestriction": {
                                "type": "boolean"
                              },
                              "canModifyEditorContentRestriction": {
                                "type": "boolean"
                              },
                              "canModifyLabels": {
                                "type": "boolean"
                              },
                              "canModifyOwnerContentRestriction": {
                                "type": "boolean"
                              },
                              "canMoveChildrenWithinDrive": {
                                "type": "boolean"
                              },
                              "canMoveItemIntoTeamDrive": {
                                "type": "boolean"
                              },
                              "canMoveItemOutOfDrive": {
                                "type": "boolean"
                              },
                              "canMoveItemWithinDrive": {
                                "type": "boolean"
                              },
                              "canReadLabels": {
                                "type": "boolean"
                              },
                              "canReadRevisions": {
                                "type": "boolean"
                              },
                              "canRemoveChildren": {
                                "type": "boolean"
                              },
                              "canRemoveContentRestriction": {
                                "type": "boolean"
                              },
                              "canRemoveMyDriveParent": {
                                "type": "boolean"
                              },
                              "canRename": {
                                "type": "boolean"
                              },
                              "canShare": {
                                "type": "boolean"
                              },
                              "canTrash": {
                                "type": "boolean"
                              },
                              "canUntrash": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "copyRequiresWriterPermission": {
                            "type": "boolean"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "explicitlyTrashed": {
                            "type": "boolean"
                          },
                          "folderColorRgb": {
                            "type": "string"
                          },
                          "hasThumbnail": {
                            "type": "boolean"
                          },
                          "iconLink": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isAppAuthorized": {
                            "type": "boolean"
                          },
                          "kind": {
                            "type": "string"
                          },
                          "lastModifyingUser": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string"
                              },
                              "emailAddress": {
                                "type": "string"
                              },
                              "kind": {
                                "type": "string"
                              },
                              "me": {
                                "type": "boolean"
                              },
                              "permissionId": {
                                "type": "string"
                              },
                              "photoLink": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "linkShareMetadata": {
                            "type": "object",
                            "properties": {
                              "securityUpdateEligible": {
                                "type": "boolean"
                              },
                              "securityUpdateEnabled": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "modifiedByMe": {
                            "type": "boolean"
                          },
                          "modifiedByMeTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "ownedByMe": {
                            "type": "boolean"
                          },
                          "owners": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string"
                                },
                                "emailAddress": {
                                  "type": "string"
                                },
                                "kind": {
                                  "type": "string"
                                },
                                "me": {
                                  "type": "boolean"
                                },
                                "permissionId": {
                                  "type": "string"
                                },
                                "photoLink": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "parents": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "permissionIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "permissions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "deleted": {
                                  "type": "boolean"
                                },
                                "displayName": {
                                  "type": "string"
                                },
                                "emailAddress": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "kind": {
                                  "type": "string"
                                },
                                "pendingOwner": {
                                  "type": "boolean"
                                },
                                "role": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "quotaBytesUsed": {
                            "type": "string"
                          },
                          "shared": {
                            "type": "boolean"
                          },
                          "spaces": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "starred": {
                            "type": "boolean"
                          },
                          "thumbnailVersion": {
                            "type": "string"
                          },
                          "trashed": {
                            "type": "boolean"
                          },
                          "version": {
                            "type": "string"
                          },
                          "viewedByMe": {
                            "type": "boolean"
                          },
                          "viewersCanCopyContent": {
                            "type": "boolean"
                          },
                          "webViewLink": {
                            "type": "string"
                          },
                          "writersCanShare": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleDrive/latest/actions/export-file": {
      "get": {
        "operationId": "googleDrive.export-file",
        "summary": "Export File",
        "description": "Exports a Google Workspace document from Google Drive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleDrive/latest/actions/export-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "description": "Select a Google Workspace file to export. With drive.file access, Google only allows files created by or explicitly authorized to the app.",
            "schema": {
              "type": "string",
              "description": "Select a Google Workspace file to export. With drive.file access, Google only allows files created by or explicitly authorized to the app."
            }
          },
          {
            "name": "mimeType",
            "in": "query",
            "required": true,
            "description": "The export format to request from Google Drive files.export.",
            "schema": {
              "type": "string",
              "description": "The export format to request from Google Drive files.export.",
              "enum": [
                "application/pdf",
                "application/rtf",
                "application/vnd.oasis.opendocument.text",
                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                "text/plain"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleDrive/latest/actions/get-drive-user-auth": {
      "get": {
        "operationId": "googleDrive.get-drive-user-auth",
        "summary": "Get Drive User (Auth)",
        "description": "Gets information about the authenticated user, the user's Drive, and system capabilities.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleDrive/latest/actions/get-drive-user-auth"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Specify the fields to return for this method. (kind,user,storageQuota)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Specify the fields to return for this method. (kind,user,storageQuota)"
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "appInstalled": {
                            "type": "boolean"
                          },
                          "canCreateDrives": {
                            "type": "boolean"
                          },
                          "canCreateTeamDrives": {
                            "type": "boolean"
                          },
                          "driveThemes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "backgroundImageLink": {
                                  "type": "string"
                                },
                                "colorRgb": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "exportFormats": {
                            "type": "object",
                            "properties": {
                              "application/vnd": {
                                "type": "object",
                                "properties": {
                                  "googleApps": {
                                    "type": "object",
                                    "properties": {
                                      "document": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "drawing": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "form": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "jam": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "mailLayout": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "presentation": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "script": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "site": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "spreadsheet": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "vid": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "folderColorPalette": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "importFormats": {
                            "type": "object",
                            "properties": {
                              "application/msword": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "application/pdf": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "application/rtf": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "application/vnd": {
                                "type": "object",
                                "properties": {
                                  "googleApps": {
                                    "type": "object",
                                    "properties": {
                                      "script+json": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "script+text/plain": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "msExcel": {
                                    "type": "object",
                                    "properties": {
                                      "sheet": {
                                        "type": "object",
                                        "properties": {
                                          "macroenabled": {
                                            "type": "object",
                                            "properties": {
                                              "12": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "template": {
                                        "type": "object",
                                        "properties": {
                                          "macroenabled": {
                                            "type": "object",
                                            "properties": {
                                              "12": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "msPowerpoint": {
                                    "type": "object",
                                    "properties": {
                                      "presentation": {
                                        "type": "object",
                                        "properties": {
                                          "macroenabled": {
                                            "type": "object",
                                            "properties": {
                                              "12": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "slideshow": {
                                        "type": "object",
                                        "properties": {
                                          "macroenabled": {
                                            "type": "object",
                                            "properties": {
                                              "12": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "template": {
                                        "type": "object",
                                        "properties": {
                                          "macroenabled": {
                                            "type": "object",
                                            "properties": {
                                              "12": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "msWord": {
                                    "type": "object",
                                    "properties": {
                                      "document": {
                                        "type": "object",
                                        "properties": {
                                          "macroenabled": {
                                            "type": "object",
                                            "properties": {
                                              "12": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "template": {
                                        "type": "object",
                                        "properties": {
                                          "macroenabled": {
                                            "type": "object",
                                            "properties": {
                                              "12": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "oasis": {
                                    "type": "object",
                                    "properties": {
                                      "opendocument": {
                                        "type": "object",
                                        "properties": {
                                          "presentation": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "spreadsheet": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "text": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "openxmlformatsOfficedocument": {
                                    "type": "object",
                                    "properties": {
                                      "presentationml": {
                                        "type": "object",
                                        "properties": {
                                          "presentation": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "slideshow": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "template": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "spreadsheetml": {
                                        "type": "object",
                                        "properties": {
                                          "sheet": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "template": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "wordprocessingml": {
                                        "type": "object",
                                        "properties": {
                                          "document": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "template": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "sun": {
                                    "type": "object",
                                    "properties": {
                                      "xml": {
                                        "type": "object",
                                        "properties": {
                                          "writer": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "application/xMsmetafile": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "application/xVnd": {
                                "type": "object",
                                "properties": {
                                  "oasis": {
                                    "type": "object",
                                    "properties": {
                                      "opendocument": {
                                        "type": "object",
                                        "properties": {
                                          "presentation": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "spreadsheet": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "text": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "image/bmp": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "image/gif": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "image/jpeg": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "image/jpg": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "image/pjpeg": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "image/png": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "image/xBmp": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "image/xPng": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "text/csv": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "text/html": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "text/markdown": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "text/plain": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "text/richtext": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "text/rtf": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "text/tabSeparatedValues": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "text/xMarkdown": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "kind": {
                            "type": "string"
                          },
                          "maxImportSizes": {
                            "type": "object",
                            "properties": {
                              "application/vnd": {
                                "type": "object",
                                "properties": {
                                  "googleApps": {
                                    "type": "object",
                                    "properties": {
                                      "document": {
                                        "type": "string"
                                      },
                                      "drawing": {
                                        "type": "string"
                                      },
                                      "presentation": {
                                        "type": "string"
                                      },
                                      "spreadsheet": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "maxUploadSize": {
                            "type": "string"
                          },
                          "storageQuota": {
                            "type": "object",
                            "properties": {
                              "limit": {
                                "type": "string"
                              },
                              "usage": {
                                "type": "string"
                              },
                              "usageInDrive": {
                                "type": "string"
                              },
                              "usageInDriveTrash": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "teamDriveThemes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "backgroundImageLink": {
                                  "type": "string"
                                },
                                "colorRgb": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string"
                              },
                              "emailAddress": {
                                "type": "string"
                              },
                              "kind": {
                                "type": "string"
                              },
                              "me": {
                                "type": "boolean"
                              },
                              "permissionId": {
                                "type": "string"
                              },
                              "photoLink": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleDrive/latest/actions/get-parent-folder": {
      "get": {
        "operationId": "googleDrive.get-parent-folder",
        "summary": "Get Parent Folder",
        "description": "Returns a Parent Folder for a File or Folder in Google Drive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleDrive/latest/actions/get-parent-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Projection fields to return from files.get. Use this action to retrieve parent metadata via the parents field.",
            "schema": {
              "type": "string",
              "description": "Projection fields to return from files.get. Use this action to retrieve parent metadata via the parents field.",
              "default": "id,name,mimeType,parents"
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "description": "The Id of a File to retrieve parent folders for.",
            "schema": {
              "type": "string",
              "description": "The Id of a File to retrieve parent folders for."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "kind": {
                            "type": "string"
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/googleDrive/latest/actions/list-documents": {
      "get": {
        "operationId": "googleDrive.list-documents",
        "summary": "List Documents",
        "description": "Finds documents in Google Drive by query.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/googleDrive/latest/actions/list-documents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "description": "Optional Google Drive orderBy expression, such as modifiedTime desc or name.",
            "schema": {
              "type": "string",
              "description": "Optional Google Drive orderBy expression, such as modifiedTime desc or name.",
              "example": "modifiedTime desc",
              "default": "modifiedTime desc",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Google Drive file ID."
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modified timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "Document name."
                          },
                          "owners": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string",
                                  "description": "Owner display name."
                                },
                                "emailAddress": {
[...]
