{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zoho Invoice Universal API",
    "version": "0.0.13",
    "description": "Create invoices, track expenses, and manage projects and payments"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zohoInvoice/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zohoInvoice/latest/actions/create-contact": {
      "post": {
        "operationId": "zohoInvoice.create-contact",
        "summary": "Create Contact",
        "description": "Creates a contact in Zoho Invoice.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInvoice/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contactName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contactName": {
                    "type": "string",
                    "description": "Name of the contact. This can be the name of an organisation or the name of an individual. Maximum length [200]",
                    "example": "Acme Corp"
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Name of the conact's company. Maximum length [200]",
                    "example": "Acme Corp"
                  },
                  "paymentTerms": {
                    "type": "number",
                    "description": "Net payment term for the customer.",
                    "example": 30
                  },
                  "currencyId": {
                    "type": "string",
                    "description": "Currency ID of the customer's currency.",
                    "example": "460000000000097"
                  },
                  "website": {
                    "type": "string",
                    "description": "Website of the contact.",
                    "example": "https://acme.example"
                  },
                  "customFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Custom fields or additional fields for the contact.",
                    "x-mindcloud-advanced": true
                  },
                  "customFields[].value": {
                    "type": "string",
                    "description": "Value of the custom field.",
                    "example": "Preferred account",
                    "x-mindcloud-advanced": true
                  },
                  "customFields[].index": {
                    "type": "number",
                    "description": "Index of the custom field. It can hold any value from 1 to 10.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "billingAddress": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Billing address of the contact."
                  },
                  "billingAddress.attention": {
                    "type": "string",
                    "description": "Attention of the contacts's billing address.",
                    "example": "Accounts Payable"
                  },
                  "billingAddress.address": {
                    "type": "string",
                    "description": "Billing address of the contact. Maximum length allowed [500]",
                    "example": "123 Main St"
                  },
                  "billingAddress.street2": {
                    "type": "string",
                    "example": "Suite 400"
                  },
                  "billingAddress.stateCode": {
                    "type": "string",
                    "example": "CA"
                  },
                  "billingAddress.city": {
                    "type": "string",
                    "description": "City of the customer's billing address.",
                    "example": "San Francisco"
                  },
                  "billingAddress.state": {
                    "type": "string",
                    "description": "State of the customer's billing address.",
                    "example": "California"
                  },
                  "billingAddress.zip": {
                    "type": "string",
                    "description": "Zip code of the customer's billing address.",
                    "example": "94105"
                  },
                  "billingAddress.country": {
                    "type": "string",
                    "description": "Country of the customer's billing address.",
                    "example": "USA"
                  },
                  "billingAddress.fax": {
                    "type": "string",
                    "description": "Customer's fax number.",
                    "example": "5551230000"
                  },
                  "billingAddress.phone": {
                    "type": "string",
                    "description": "Phone number of the contact person.",
                    "example": "5551231234"
                  },
                  "shippingAddress": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Customer's shipping address to which the goods must be delivered."
                  },
                  "shippingAddress.attention": {
                    "type": "string",
                    "description": "Attention of the contacts's billing address.",
                    "example": "Receiving"
                  },
                  "shippingAddress.address": {
                    "type": "string",
                    "description": "Billing address of the contact. Maximum length allowed [500]",
                    "example": "500 Market St"
                  },
                  "shippingAddress.street2": {
                    "type": "string",
                    "example": "Dock 3"
                  },
                  "shippingAddress.stateCode": {
                    "type": "string",
                    "example": "CA"
                  },
                  "shippingAddress.city": {
                    "type": "string",
                    "description": "City of the customer's billing address.",
                    "example": "San Francisco"
                  },
                  "shippingAddress.state": {
                    "type": "string",
                    "description": "State of the customer's billing address.",
                    "example": "California"
                  },
                  "shippingAddress.zip": {
                    "type": "string",
                    "description": "Zip code of the customer's billing address.",
                    "example": "94105"
                  },
                  "shippingAddress.country": {
                    "type": "string",
                    "description": "Country of the customer's billing address.",
                    "example": "USA"
                  },
                  "shippingAddress.fax": {
                    "type": "string",
                    "description": "Customer's fax number.",
                    "example": "5551230000"
                  },
                  "shippingAddress.phone": {
                    "type": "string",
                    "description": "Phone number of the contact person.",
                    "example": "5551231234"
                  },
                  "contactPersons[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Person/Individual who represents a company"
                  },
                  "contactPersons[].salutation": {
                    "type": "string",
                    "description": "Salutation for the contact",
                    "example": "Ms"
                  },
                  "contactPersons[].firstName": {
                    "type": "string",
                    "description": "First name of the contact. Maximum length [100]",
                    "example": "Jane"
                  },
                  "contactPersons[].lastName": {
                    "type": "string",
                    "description": "Last name of the contact. Maximum length [100]",
                    "example": "Doe"
                  },
                  "contactPersons[].email": {
                    "type": "string",
                    "description": "The Email ID of the contact person.",
                    "example": "jane@example.com"
                  },
                  "contactPersons[].phone": {
                    "type": "string",
                    "description": "Phone number of the contact person.",
                    "example": "5551231234"
                  },
                  "contactPersons[].mobile": {
                    "type": "string",
                    "description": "Mobile number of the contact person.",
                    "example": "5551231234"
                  },
                  "contactPersons[].isPrimaryContact": {
                    "type": "boolean",
                    "description": "To mark contact person as primary for contact. Allowed value is true only."
                  },
                  "defaultTemplates": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "ID of the Invoice template used",
                    "x-mindcloud-advanced": true
                  },
                  "defaultTemplates.invoiceTemplateId": {
                    "type": "string",
                    "description": "ID of the Invoice template used",
                    "example": "460000000012345",
                    "x-mindcloud-advanced": true
                  },
                  "defaultTemplates.invoiceTemplateName": {
                    "type": "string",
                    "description": "Name of the invoice template used",
                    "example": "Standard Invoice",
                    "x-mindcloud-advanced": true
                  },
                  "defaultTemplates.estimateTemplateId": {
                    "type": "string",
                    "description": "ID of the estimate template used",
                    "example": "460000000012346",
                    "x-mindcloud-advanced": true
                  },
                  "defaultTemplates.estimateTemplateName": {
                    "type": "string",
                    "description": "Name of the estimate template used",
                    "example": "Standard Estimate",
                    "x-mindcloud-advanced": true
                  },
                  "defaultTemplates.creditnoteTemplateId": {
                    "type": "string",
                    "description": "ID of teh credit note template used",
                    "example": "460000000012347",
                    "x-mindcloud-advanced": true
                  },
                  "defaultTemplates.creditnoteTemplateName": {
                    "type": "string",
                    "description": "Name of the credit note template used",
                    "example": "Standard Credit Note",
                    "x-mindcloud-advanced": true
                  },
                  "defaultTemplates.invoiceEmailTemplateId": {
                    "type": "string",
                    "description": "ID of the invoice email tempalte used",
                    "example": "460000000012348",
                    "x-mindcloud-advanced": true
                  },
                  "defaultTemplates.invoiceEmailTemplateName": {
                    "type": "string",
                    "description": "Name of the Invoice email template used",
                    "example": "Invoice Email",
                    "x-mindcloud-advanced": true
                  },
                  "defaultTemplates.estimateEmailTemplateId": {
                    "type": "string",
                    "description": "ID of the estimate email template used",
                    "example": "460000000012349",
                    "x-mindcloud-advanced": true
                  },
                  "defaultTemplates.estimateEmailTemplateName": {
                    "type": "string",
                    "description": "Name of the estimate email template used",
                    "example": "Estimate Email",
                    "x-mindcloud-advanced": true
                  },
                  "defaultTemplates.creditnoteEmailTemplateId": {
                    "type": "string",
                    "description": "ID of the credit note email template",
                    "example": "460000000012350",
                    "x-mindcloud-advanced": true
                  },
                  "defaultTemplates.creditnoteEmailTemplateName": {
                    "type": "string",
                    "description": "Name of the credit note email template",
                    "example": "Credit Note Email",
                    "x-mindcloud-advanced": true
                  },
                  "languageCode": {
                    "type": "string",
                    "description": "language of a contact. allowed values de,en,es,fr,it,ja,nl,pt,sv,zh",
                    "enum": [
                      "de",
                      "en",
                      "es",
                      "fr",
                      "it",
                      "ja",
                      "nl",
                      "pt",
                      "sv",
                      "zh"
                    ],
                    "example": "en",
                    "x-mindcloud-advanced": true
                  },
                  "notes": {
                    "type": "string",
                    "description": "Commennts about the payment made by the contact.",
                    "example": "Preferred customer"
                  },
                  "vatRegNo": {
                    "type": "string",
                    "description": "For UK Edition: VAT Registration number of a contact with length should be between 2 and 12 characters. For Avalara: If you are doing sales in the European Union (EU) then provide VAT Registration Number of your customers here. This is used to calculate VAT for B2B sales, from Avalara.",
                    "example": "GB123456789",
                    "x-mindcloud-advanced": true
                  },
                  "taxRegNo": {
                    "type": "string",
                    "description": "12 digit Tax Registration number of a contact with Tax treatment as home_country_mexico , border_region_mexico , non_mexico . Consumers generic RFC: XAXX010101000 , Overseas generic RFC: XEXX010101000",
                    "example": "RFC1234567890",
                    "x-mindcloud-advanced": true
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "For UK Edition: Two letter country code of a contact For Avalara: Two letter country code for the customer country, if your customer is not in US. Refer [AvaTax Codes for Countries and States][2].",
                    "example": "GB",
                    "x-mindcloud-advanced": true
                  },
                  "vatTreatment": {
                    "type": "string",
                    "description": "VAT treatment of the contact.Allowed Values: uk (A business that is located in the UK.), eu_vat_registered (A business that is reg for VAT and trade goods between Northern Ireland and EU. This node is available only for organizations enabled for NI protocal in VAT Settings.) and overseas (A business that is located outside UK. Pre Brexit, this was split as eu_vat_registered , eu_vat_not_registered and non_eu ).",
                    "enum": [
                      "eu_vat_registered",
                      "overseas",
                      "uk"
                    ],
                    "example": "uk",
                    "x-mindcloud-advanced": true
                  },
                  "taxTreatment": {
                    "type": "string",
                    "description": "VAT treatment of the contact.Allowed Values: home_country_mexico (A business that is located within MX) border_region_mexico (A business that is located in the northern and southern border regions in MX) non_mexico (A business that is located outside MX).",
                    "enum": [
                      "border_region_mexico",
                      "home_country_mexico",
                      "non_mexico"
                    ],
                    "example": "home_country_mexico",
                    "x-mindcloud-advanced": true
                  },
                  "taxRegime": {
                    "type": "string",
                    "description": "Tax Regime of the contact.Allowed Values: general_legal_person , legal_entities_non_profit , resident_abroad , production_cooperative_societies , agricultural_livestock , optional_group_of_companies , coordinated , simplified_trust , wages_salaries_income , lease , property_disposal_acquisition , other_income , resident_abroad , divident_income , individual_business_professional , interest_income , income_obtaining_price , no_tax_obligation , tax_incorporation , income_through_technology_platform , simplified_trust .",
                    "enum": [
                      "agricultural_livestock",
                      "coordinated",
                      "divident_income",
                      "general_legal_person",
                      "income_obtaining_price",
                      "income_through_technology_platform",
                      "individual_business_professional",
                      "interest_income",
                      "lease",
                      "legal_entities_non_profit",
                      "no_tax_obligation",
                      "optional_group_of_companies",
                      "other_income",
                      "production_cooperative_societies",
                      "property_disposal_acquisition",
                      "resident_abroad",
                      "simplified_trust",
                      "tax_incorporation",
                      "wages_salaries_income"
                    ],
                    "example": "general_legal_person",
                    "x-mindcloud-advanced": true
                  },
                  "legalName": {
                    "type": "string",
                    "description": "Legal Name of the contact.",
                    "example": "Acme Ltd",
                    "x-mindcloud-advanced": true
                  },
                  "isTdsRegistered": {
                    "type": "boolean",
                    "description": "Boolean to check if tax is registered.",
                    "x-mindcloud-advanced": true
                  },
                  "placeOfContact": {
                    "type": "string",
                    "description": "Location of the contact. (This node identifies the place of supply and source of supply when invoices/bills are raised for the customer/vendor respectively. This is not applicable for Overseas contacts)",
                    "example": "TN",
                    "x-mindcloud-advanced": true
                  },
                  "gstNo": {
                    "type": "string",
                    "description": "15 digit GST identification number of the customer/vendor.",
                    "example": "22AAAAA0000A1Z5",
                    "x-mindcloud-advanced": true
                  },
                  "gstTreatment": {
                    "type": "string",
                    "description": "Choose whether the contact is GST registered/unregistered/consumer/overseas. Allowed values are business_gst , business_none , overseas , consumer .",
                    "enum": [
                      "business_gst",
                      "business_none",
                      "consumer",
                      "overseas"
                    ],
                    "example": "business_gst",
                    "x-mindcloud-advanced": true
                  },
                  "taxAuthorityName": {
                    "type": "string",
                    "description": "Enter tax authority name.",
                    "example": "California",
                    "x-mindcloud-advanced": true
                  },
                  "taxExemptionCode": {
                    "type": "string",
                    "description": "Enter tax exemption code",
                    "example": "EXEMPT",
                    "x-mindcloud-advanced": true
                  },
                  "avataxExemptNo": {
                    "type": "string",
                    "description": "Exemption certificate number of the customer.",
                    "example": "EX-12345",
                    "x-mindcloud-advanced": true
                  },
                  "avataxUseCode": {
                    "type": "string",
                    "description": "Used to group like customers for exemption purposes. It is a custom value that links customers to a tax rule. Select from Avalara [standard codes][1] or enter a custom code.",
                    "example": "A",
                    "x-mindcloud-advanced": true
                  },
                  "taxExemptionId": {
                    "type": "string",
                    "description": "ID of the tax exemption.",
                    "example": "460000000012351",
                    "x-mindcloud-advanced": true
                  },
                  "taxAuthorityId": {
                    "type": "string",
                    "description": "ID of the tax authority. Tax authority depends on the location of the customer. For example, if the customer is located in NY, then the tax authority is NY tax authority.",
                    "example": "460000000012352",
                    "x-mindcloud-advanced": true
                  },
                  "taxId": {
                    "type": "string",
                    "description": "ID of the tax or tax group that can be collected from the contact. Tax can be given only if is_taxable is true .",
                    "example": "460000000012353",
                    "x-mindcloud-advanced": true
                  },
                  "tdsTaxId": {
                    "type": "string",
                    "description": "ID of the TDS tax.",
                    "example": "460000000012354",
                    "x-mindcloud-advanced": true
                  },
                  "isTaxable": {
                    "type": "boolean",
                    "description": "Boolean to track the taxability of the customer.",
                    "x-mindcloud-advanced": true
                  },
                  "facebook": {
                    "type": "string",
                    "description": "Facebook profile account of the contact. Maximum length [100]",
                    "example": "acmeco",
                    "x-mindcloud-advanced": true
                  },
                  "twitter": {
                    "type": "string",
                    "description": "Twitter account of the contact. Maximum length [100]",
                    "example": "acmeco",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companyName": {
                            "type": "string"
                          },
                          "contactId": {
                            "type": "string"
                          },
                          "contactName": {
                            "type": "string"
                          },
                          "contactType": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "customerName": {
                            "type": "string"
                          },
                          "customerSubType": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "hasAttachment": {
                            "type": "boolean"
                          },
                          "lastModifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInvoice/latest/actions/create-estimate": {
      "post": {
        "operationId": "zohoInvoice.create-estimate",
        "summary": "Create Estimate",
        "description": "Creates an estimate in Zoho Invoice.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInvoice/latest/actions/create-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "customerId",
                  "lineItems[]",
                  "lineItems[].itemId",
                  "lineItems[].rate",
                  "lineItems[].quantity"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "ID of the organization header X-com-zoho-invoice-organizationid.",
                    "example": "10234695"
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Customer ID on the estimate.",
                    "example": "982000000567001"
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Line items of the estimate."
                  },
                  "lineItems[].itemId": {
                    "type": "string",
                    "description": "Unique ID of the item.",
                    "example": "982000000567114"
                  },
                  "lineItems[].rate": {
                    "type": "number",
                    "description": "Rate of the line item.",
                    "example": 10
                  },
                  "lineItems[].quantity": {
                    "type": "number",
                    "description": "Quantity of the line item.",
                    "example": 1
                  },
                  "estimateNumber": {
                    "type": "string",
                    "description": "Estimate serial number."
                  },
                  "referenceNumber": {
                    "type": "string",
                    "description": "Transaction reference number."
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date on the estimate.",
                    "example": "2026-03-12"
                  },
                  "expiryDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Expiration date of the estimate.",
                    "example": "2026-03-31"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notes added below the estimate."
                  },
                  "terms": {
                    "type": "string",
                    "description": "Terms and conditions for the estimate."
                  },
                  "send": {
                    "type": "boolean",
                    "description": "Send the estimate to the associated contact persons.",
                    "x-mindcloud-advanced": true
                  },
                  "ignoreAutoNumberGeneration": {
                    "type": "boolean",
                    "description": "Ignore automatic estimate number generation and require a manual estimate number.",
                    "x-mindcloud-advanced": true
                  },
                  "lineItems[].name": {
                    "type": "string",
                    "description": "Name of the line item."
                  },
                  "lineItems[].description": {
                    "type": "string",
                    "description": "Description of the line item."
                  },
                  "lineItems[].unit": {
                    "type": "string",
                    "description": "Unit of measure for the line item."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companyName": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "customerId": {
                            "type": "string"
                          },
                          "customerName": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "estimateId": {
                            "type": "string"
                          },
                          "estimateNumber": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastModifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "referenceNumber": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInvoice/latest/actions/create-expense": {
      "post": {
        "operationId": "zohoInvoice.create-expense",
        "summary": "Create Expense",
        "description": "Creates an expense in Zoho Invoice.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInvoice/latest/actions/create-expense"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "amount",
                  "referenceNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "ID of the organization header X-com-zoho-invoice-organizationid.",
                    "example": "917578947"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Total expense value.",
                    "example": 112.5
                  },
                  "referenceNumber": {
                    "type": "string",
                    "description": "Reference number of the expense.",
                    "example": "#EXP-20260312-001"
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date of the expense.",
                    "example": "2026-03-12"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the expense.",
                    "example": "Taxi to client meeting"
                  },
                  "accountId": {
                    "type": "string",
                    "description": "ID of the expense account.",
                    "example": "982000000561057",
                    "x-mindcloud-advanced": true
                  },
                  "isBillable": {
                    "type": "boolean",
                    "description": "Check if an expense is billable.",
                    "x-mindcloud-advanced": true
                  },
                  "customerId": {
                    "type": "string",
                    "description": "ID of the expense account.",
                    "example": "982000000567001",
                    "x-mindcloud-advanced": true
                  },
                  "projectId": {
                    "type": "string",
                    "description": "ID of the project associated with the customer.",
                    "example": "982000000567226",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "string"
                          },
                          "accountName": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "expenseId": {
                            "type": "string"
                          },
                          "isBillable": {
                            "type": "boolean"
                          },
                          "lastModifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "referenceNumber": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInvoice/latest/actions/create-invoice": {
      "post": {
        "operationId": "zohoInvoice.create-invoice",
        "summary": "Create Invoice",
        "description": "Creates an invoice in Zoho Invoice.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInvoice/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "customerId",
                  "date",
                  "lineItems[]",
                  "lineItems[].itemId",
                  "lineItems[].rate",
                  "lineItems[].quantity"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "Unique identifier of the organization."
                  },
                  "adjustmentDescription": {
                    "type": "string",
                    "description": "Customize the adjustment description."
                  },
                  "avataxExemptNo": {
                    "type": "string",
                    "description": "Avalara exemption certificate number."
                  },
                  "avataxTaxCode": {
                    "type": "string",
                    "description": "Avalara tax code."
                  },
                  "avataxUseCode": {
                    "type": "string",
                    "description": "Avalara use code."
                  },
                  "cfdiUsage": {
                    "type": "string",
                    "description": "CFDI usage code for Mexico."
                  },
                  "customBody": {
                    "type": "string",
                    "description": "Customized email content for the invoice."
                  },
                  "customerId": {
                    "type": "string",
                    "description": "ID of the customer to whom the invoice is created."
                  },
                  "customFields[].label": {
                    "type": "string",
                    "description": "Name of the custom field."
                  },
                  "customFields[].value": {
                    "type": "string",
                    "description": "Value of the custom field."
                  },
                  "customSubject": {
                    "type": "string",
                    "description": "Customized email subject for the invoice."
                  },
                  "gstNo": {
                    "type": "string",
                    "description": "GST number for the invoice."
                  },
                  "invoicedEstimateId": {
                    "type": "string",
                    "description": "ID of the estimate from which the invoice is created."
                  },
                  "invoiceNumber": {
                    "type": "string",
                    "description": "Unique invoice number."
                  },
                  "lineItems[].avataxExemptNo": {
                    "type": "string",
                    "description": "Avalara exemption certificate number for the line item."
                  },
                  "lineItems[].avataxUseCode": {
                    "type": "string",
                    "description": "Avalara use code for the line item."
                  },
                  "lineItems[].description": {
                    "type": "string",
                    "description": "Description of the line item."
                  },
                  "lineItems[].expenseId": {
                    "type": "string",
                    "description": "Expense ID associated with the line item."
                  },
                  "lineItems[].hsnOrSac": {
                    "type": "string",
                    "description": "HSN or SAC code."
                  },
                  "lineItems[].name": {
                    "type": "string",
                    "description": "Name of the line item."
                  },
                  "lineItems[].productType": {
                    "type": "string",
                    "description": "Product type of the line item."
                  },
                  "lineItems[].satItemKeyCode": {
                    "type": "string",
                    "description": "SAT item key code."
                  },
                  "lineItems[].taxExemptionId": {
                    "type": "string",
                    "description": "Tax exemption ID for the line item."
                  },
                  "lineItems[].taxId": {
                    "type": "string",
                    "description": "Tax ID applied to the line item."
                  },
                  "lineItems[].taxName": {
                    "type": "string",
                    "description": "Tax name for the line item."
                  },
                  "lineItems[].taxType": {
                    "type": "string",
                    "description": "Tax type for the line item."
                  },
                  "lineItems[].tdsTaxId": {
                    "type": "string",
                    "description": "TDS tax ID applied to the line item."
                  },
                  "lineItems[].unit": {
                    "type": "string",
                    "description": "Unit of the line item."
                  },
                  "lineItems[].unitkeyCode": {
                    "type": "string",
                    "description": "Unit key code."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notes added to the invoice."
                  },
                  "paymentOptions.paymentGateways[].additionalField1": {
                    "type": "string",
                    "description": "Provider-specific additional field for the payment gateway."
                  },
                  "paymentOptions.paymentGateways[].gatewayName": {
                    "type": "string",
                    "description": "Name of the payment gateway."
                  },
                  "paymentTermsLabel": {
                    "type": "string",
                    "description": "Override label for the payment terms."
                  },
                  "projectId": {
                    "type": "string",
                    "description": "Project ID associated with the invoice."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Description of the attachment or reason field used by Zoho."
                  },
                  "recurringInvoiceId": {
                    "type": "string",
                    "description": "ID of the recurring invoice from which the invoice is created."
                  },
                  "referenceNumber": {
                    "type": "string",
                    "description": "Reference number for the invoice."
                  },
                  "salespersonName": {
                    "type": "string",
                    "description": "Name of the salesperson linked to the invoice."
                  },
                  "shippingCharge": {
                    "type": "string",
                    "description": "Shipping charges applied to the invoice."
                  },
                  "taxAuthorityId": {
                    "type": "string",
                    "description": "ID of the tax authority."
                  },
                  "taxExemptionId": {
                    "type": "string",
                    "description": "ID of the tax exemption."
                  },
                  "taxTreatment": {
                    "type": "string",
                    "description": "Tax treatment for the invoice."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "ID of the PDF template associated with the invoice."
                  },
                  "terms": {
                    "type": "string",
                    "description": "Terms and conditions for the invoice."
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Invoice date."
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Line items of the invoice."
                  },
                  "lineItems[].itemId": {
                    "type": "string",
                    "description": "Unique item ID."
                  },
                  "lineItems[].rate": {
                    "type": "number",
                    "description": "Rate of the line item."
                  },
                  "lineItems[].quantity": {
                    "type": "number",
                    "description": "Quantity of the line item."
                  },
                  "send": {
                    "type": "boolean",
                    "description": "Send the invoice to the contact persons associated with the invoice.",
                    "x-mindcloud-advanced": true
                  },
                  "ignoreAutoNumberGeneration": {
                    "type": "boolean",
                    "description": "Ignore auto invoice number generation for this invoice.",
                    "x-mindcloud-advanced": true
                  },
                  "contactPersons[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "IDs of the contact persons associated with the contact."
                  },
                  "paymentTerms": {
                    "type": "number",
                    "description": "Payment terms in days."
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Due date for the invoice."
                  },
                  "discount": {
                    "type": "number",
                    "description": "Discount applied to the invoice."
                  },
                  "discountType": {
                    "type": "string",
                    "description": "Type of discount applied to the invoice.",
                    "enum": [
                      "options"
                    ]
                  },
                  "isDiscountBeforeTax": {
                    "type": "boolean",
                    "description": "Whether discount is applied before tax."
                  },
                  "isInclusiveTax": {
                    "type": "boolean",
                    "description": "Whether the tax is inclusive."
                  },
                  "exchangeRate": {
                    "type": "number",
                    "description": "Exchange rate of the currency."
                  },
                  "adjustment": {
                    "type": "number",
                    "description": "Adjustment made to the invoice."
                  },
                  "customFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Custom fields for the invoice."
                  },
                  "lineItems[].projectId": {
                    "type": "string",
                    "description": "Project ID associated with the line item."
                  },
                  "lineItems[].timeEntryIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Time entry IDs linked to the line item project."
                  },
                  "lineItems[].itemOrder": {
                    "type": "number",
                    "description": "Display order of the line item."
                  },
                  "lineItems[].discount": {
                    "type": "number",
                    "description": "Discount applied to the line item."
                  },
                  "lineItems[].taxPercentage": {
                    "type": "number",
                    "description": "Tax percentage for the line item."
                  },
                  "lineItems[].itemTotal": {
                    "type": "number",
                    "description": "Total amount of the line item."
                  },
                  "paymentOptions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Payment options for the invoice."
                  },
                  "paymentOptions.paymentGateways[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Payment gateways configured for the invoice."
                  },
                  "paymentOptions.paymentGateways[].configured": {
                    "type": "boolean",
                    "description": "Whether the payment gateway is configured."
                  },
                  "allowPartialPayments": {
                    "type": "boolean",
                    "description": "Whether partial payments are allowed for the invoice."
                  },
                  "placeOfSupply": {
                    "type": "string",
                    "description": "Place of supply for GST/VAT.",
                    "x-mindcloud-advanced": true
                  },
                  "gstTreatment": {
                    "type": "string",
                    "description": "GST treatment for the invoice.",
                    "x-mindcloud-advanced": true
                  },
                  "vatTreatment": {
                    "type": "string",
                    "description": "VAT treatment for the invoice.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "customerId": {
                            "type": "string"
                          },
                          "customerName": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "invoiceId": {
                            "type": "string"
                          },
                          "invoiceNumber": {
                            "type": "string"
                          },
                          "invoiceUrl": {
                            "type": "string"
                          },
                          "lastModifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "referenceNumber": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInvoice/latest/actions/create-item": {
      "post": {
        "operationId": "zohoInvoice.create-item",
        "summary": "Create Item",
        "description": "Creates an item in Zoho Invoice.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInvoice/latest/actions/create-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "rate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the item. Maximum length of the name [100]",
                    "example": "Premium Support"
                  },
                  "rate": {
                    "type": "number",
                    "description": "Per unit price of an item.",
                    "example": 149.99
                  },
                  "description": {
                    "type": "string",
                    "description": "Description for the item. Maximum characters to be used for describing the item [2000]",
                    "example": "Monthly support retainer"
                  },
                  "taxId": {
                    "type": "string",
                    "description": "ID of the tax to be associated to the item.",
                    "example": "903000000012345"
                  },
                  "sku": {
                    "type": "string",
                    "description": "SKU or the Stock Keeping Unit value of an item, should be unique throughout the product",
                    "example": "SKU-001"
                  },
                  "productType": {
                    "type": "string",
                    "description": "Specify the type of an item. It can be either goods or service",
                    "enum": [
                      "goods",
                      "service"
                    ]
                  },
                  "isTaxable": {
                    "type": "boolean",
                    "description": "Boolean to track the taxability of the item."
                  },
                  "taxExemptionId": {
                    "type": "string",
                    "description": "ID of the tax exemption applied. Mandatory, if is_taxable is false.",
                    "example": "903000000067890",
                    "x-mindcloud-advanced": true
                  },
                  "hsnOrSac": {
                    "type": "string",
                    "description": "HSN Code",
                    "example": "9983",
                    "x-mindcloud-advanced": true
                  },
                  "satItemKeyCode": {
                    "type": "string",
                    "description": "Add SAT Item Key Code for your goods/services.",
                    "example": "81112100",
                    "x-mindcloud-advanced": true
                  },
                  "unitkeyCode": {
                    "type": "string",
                    "description": "Add Unit Key Code for your goods/services.",
                    "example": "E48",
                    "x-mindcloud-advanced": true
                  },
                  "itemTaxPreferences[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "ID of the tax to be associated to the item.",
                    "x-mindcloud-advanced": true
                  },
                  "itemTaxPreferences[].taxId": {
                    "type": "string",
                    "description": "ID of the tax to be associated to the item.",
                    "example": "903000000012345",
                    "x-mindcloud-advanced": true
                  },
                  "itemTaxPreferences[].taxSpecification": {
                    "type": "string",
                    "description": "Set whether the tax type is intra/interstate",
                    "example": "inter",
                    "x-mindcloud-advanced": true
                  },
                  "customFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Custom fields for an item.",
                    "x-mindcloud-advanced": true
                  },
                  "customFields[].customfieldId": {
                    "type": "number",
                    "description": "Unique identifier of the custom field",
                    "example": 460000000128045,
                    "x-mindcloud-advanced": true
                  },
                  "customFields[].value": {
                    "type": "string",
                    "description": "Value of the Custom Field",
                    "example": "Blue",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "hasAttachment": {
                            "type": "boolean"
                          },
                          "itemId": {
                            "type": "string"
                          },
                          "itemName": {
                            "type": "string"
                          },
                          "lastModifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "productType": {
                            "type": "string"
                          },
                          "rate": {
                            "type": "number"
                          },
                          "sku": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInvoice/latest/actions/create-payment": {
      "post": {
        "operationId": "zohoInvoice.create-payment",
        "summary": "Create Payment",
        "description": "Creates a payment in Zoho Invoice.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInvoice/latest/actions/create-payment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "customerId",
                  "paymentMode",
                  "amount",
                  "date",
                  "invoices[]",
                  "invoices[].invoiceId",
                  "invoices[].amountApplied"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "Unique identifier of the organization."
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Customer ID of the customer for whom the payment is recorded."
                  },
                  "paymentMode": {
                    "type": "string",
                    "description": "Mode of payment."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount received in the payment."
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date on which the payment is made."
                  },
                  "referenceNumber": {
                    "type": "string",
                    "description": "Reference number for the payment."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the payment."
                  },
                  "invoices[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Invoices associated with the payment."
                  },
                  "invoices[].invoiceId": {
                    "type": "string",
                    "description": "Invoice ID of the required invoice."
                  },
                  "invoices[].amountApplied": {
                    "type": "number",
                    "description": "Amount paid for the invoice."
                  },
                  "exchangeRate": {
                    "type": "number",
                    "description": "Exchange rate for the currency used in the invoices and the customer's currency."
                  },
                  "paymentForm": {
                    "type": "string",
                    "description": "Mode of vendor payment.",
                    "x-mindcloud-advanced": true
                  },
                  "bankCharges": {
                    "type": "number",
                    "description": "Additional bank charges.",
                    "x-mindcloud-advanced": true
                  },
                  "customFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Custom fields for the payment."
                  },
                  "customFields[].label": {
                    "type": "string",
                    "description": "Name of the custom field."
                  },
                  "customFields[].value": {
                    "type": "string",
                    "description": "Value of the custom field."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "customerId": {
                            "type": "string"
                          },
                          "customerName": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "paymentId": {
                            "type": "string"
                          },
                          "paymentMode": {
                            "type": "string"
                          },
                          "paymentNumber": {
                            "type": "string"
                          },
                          "paymentStatus": {
                            "type": "string"
                          },
                          "referenceNumber": {
                            "type": "string"
                          },
                          "unusedAmount": {
                            "type": "number"
                          },
                          "updatedTime": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInvoice/latest/actions/email-invoice": {
      "post": {
        "operationId": "zohoInvoice.email-invoice",
        "summary": "Email Invoice",
        "description": "Emails an invoice from Zoho Invoice.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInvoice/latest/actions/email-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "invoiceId",
                  "toMailIds[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "ID of the organization header X-com-zoho-invoice-organizationid."
                  },
                  "invoiceId": {
                    "type": "string",
                    "description": "Unique identifier of the invoice."
                  },
                  "sendFromOrgEmailId": {
                    "type": "boolean",
                    "description": "Boolean to trigger the email from the organization's email address."
                  },
                  "toMailIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of email addresses of the recipients."
                  },
                  "ccMailIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of email addresses of the recipients to be CC'd."
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the mail."
                  },
                  "body": {
                    "type": "string",
                    "description": "The body content of the mail."
                  },
                  "sendCustomerStatement": {
                    "type": "boolean",
                    "description": "Send customer statement PDF with the email.",
                    "x-mindcloud-advanced": true
                  },
                  "sendAttachment": {
                    "type": "boolean",
                    "description": "Send the invoice attachment with the email.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "isFirstEmail": {
                            "type": "boolean"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
[...]
