{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "LangChain Universal API",
    "version": "0.0.4",
    "description": "LangSmith API by LangChain for traces, runs, datasets, experiments, feedback, and prompt repositories."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/langChain/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/langChain/latest/actions/count-examples": {
      "get": {
        "operationId": "langChain.count-examples",
        "summary": "Count Examples",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/langChain/latest/actions/count-examples"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "query",
            "required": true,
            "description": "Dataset identifier used to scope example count.",
            "schema": {
              "type": "string",
              "description": "Dataset identifier used to scope example count."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "number",
                            "description": "Total number of examples in the scoped dataset."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/langChain/latest/actions/create-dataset": {
      "post": {
        "operationId": "langChain.create-dataset",
        "summary": "Create Dataset",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/langChain/latest/actions/create-dataset"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "baseline_experiment_id": {
                            "type": "string",
                            "description": "Optional baseline experiment UUID."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "data_type": {
                            "type": "string",
                            "description": "Dataset storage type."
                          },
                          "description": {
                            "type": "string",
                            "description": "Dataset description."
                          },
                          "example_count": {
                            "type": "number",
                            "description": "Example count."
                          },
                          "externally_managed": {
                            "type": "boolean",
                            "description": "Whether the dataset is externally managed."
                          },
                          "id": {
                            "type": "string",
                            "description": "Dataset UUID."
                          },
                          "inputs_schema_definition": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optional input schema."
                          },
                          "last_session_start_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last session start time."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom metadata."
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "Dataset name."
                          },
                          "outputs_schema_definition": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optional output schema."
                          },
                          "session_count": {
                            "type": "number",
                            "description": "Session count."
                          },
                          "tenant_id": {
                            "type": "string",
                            "description": "Workspace UUID."
                          },
                          "transformations": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optional transformation settings."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/langChain/latest/actions/create-example": {
      "post": {
        "operationId": "langChain.create-example",
        "summary": "Create Example",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/langChain/latest/actions/create-example"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachment_urls": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optional attachment URL map."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "dataset_id": {
                            "type": "string",
                            "description": "Dataset UUID containing this example."
                          },
                          "id": {
                            "type": "string",
                            "description": "Example UUID."
                          },
                          "inputs": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Input payload for this example."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider metadata for this example."
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "Example display name."
                          },
                          "outputs": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Output payload for this example."
                          },
                          "source_run_id": {
                            "type": "string",
                            "description": "Optional source run UUID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/langChain/latest/actions/create-feedback": {
      "post": {
        "operationId": "langChain.create-feedback",
        "summary": "Create Feedback",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/langChain/latest/actions/create-feedback"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "Optional feedback comment."
                          },
                          "comparative_experiment_id": {
                            "type": "string",
                            "description": "Optional comparative experiment UUID."
                          },
                          "correction": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optional correction payload."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "extra": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional provider metadata."
                          },
                          "feedback_group_id": {
                            "type": "string",
                            "description": "Optional feedback group UUID."
                          },
                          "feedback_source": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Feedback source metadata."
                          },
                          "feedback_thread_id": {
                            "type": "string",
                            "description": "Optional feedback thread UUID."
                          },
                          "id": {
                            "type": "string",
                            "description": "Feedback UUID."
                          },
                          "is_root": {
                            "type": "boolean",
                            "description": "Whether feedback is on a root run."
                          },
                          "key": {
                            "type": "string",
                            "description": "Feedback metric key."
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "run_id": {
                            "type": "string",
                            "description": "Associated run UUID."
                          },
                          "score": {
                            "type": "number",
                            "description": "Numeric score."
                          },
                          "session_id": {
                            "type": "string",
                            "description": "Associated session UUID."
                          },
                          "start_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Associated run start time."
                          },
                          "trace_id": {
                            "type": "string",
                            "description": "Associated trace UUID."
                          },
                          "value": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optional non-numeric value."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/langChain/latest/actions/create-run": {
      "post": {
        "operationId": "langChain.create-run",
        "summary": "Create Run",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/langChain/latest/actions/create-run"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Ingestion acceptance message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/langChain/latest/actions/create-session": {
      "post": {
        "operationId": "langChain.create-session",
        "summary": "Create Session",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/langChain/latest/actions/create-session"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "default_dataset_id": {
                            "type": "string",
                            "description": "Optional default dataset UUID."
                          },
                          "description": {
                            "type": "string",
                            "description": "Session description."
                          },
                          "end_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Session end timestamp."
                          },
                          "extra": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional metadata."
                          },
                          "id": {
                            "type": "string",
                            "description": "Session UUID."
                          },
                          "last_run_start_time_live": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Latest live run start time."
                          },
                          "name": {
                            "type": "string",
                            "description": "Session name."
                          },
                          "reference_dataset_id": {
                            "type": "string",
                            "description": "Optional reference dataset UUID."
                          },
                          "start_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Session start timestamp."
                          },
                          "tenant_id": {
                            "type": "string",
                            "description": "Workspace UUID."
                          },
                          "trace_tier": {
                            "type": "string",
                            "description": "Trace retention tier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/langChain/latest/actions/get-dataset": {
      "get": {
        "operationId": "langChain.get-dataset",
        "summary": "Get Dataset",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/langChain/latest/actions/get-dataset"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasetId",
            "in": "query",
            "required": true,
            "description": "Dataset identifier.",
            "schema": {
              "type": "string",
              "description": "Dataset identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "baseline_experiment_id": {
                            "type": "string",
                            "description": "Optional baseline experiment UUID."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "data_type": {
                            "type": "string",
                            "description": "Dataset storage type."
                          },
                          "description": {
                            "type": "string",
                            "description": "Dataset description."
                          },
                          "example_count": {
                            "type": "number",
                            "description": "Example count."
                          },
                          "externally_managed": {
                            "type": "boolean",
                            "description": "Whether the dataset is externally managed."
                          },
                          "id": {
                            "type": "string",
                            "description": "Dataset UUID."
                          },
                          "inputs_schema_definition": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optional input schema."
                          },
                          "last_session_start_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last session start time."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom metadata."
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "Dataset name."
                          },
                          "outputs_schema_definition": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optional output schema."
                          },
                          "session_count": {
                            "type": "number",
                            "description": "Session count."
                          },
                          "tenant_id": {
                            "type": "string",
                            "description": "Workspace UUID."
                          },
                          "transformations": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optional transformation settings."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/langChain/latest/actions/get-example": {
      "get": {
        "operationId": "langChain.get-example",
        "summary": "Get Example",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/langChain/latest/actions/get-example"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exampleId",
            "in": "query",
            "required": true,
            "description": "Example identifier.",
            "schema": {
              "type": "string",
              "description": "Example identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachment_urls": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optional attachment URLs."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "dataset_id": {
                            "type": "string",
                            "description": "Dataset UUID containing this example."
                          },
                          "id": {
                            "type": "string",
                            "description": "Example UUID."
                          },
                          "inputs": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Example input payload."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Example metadata."
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "Example display name."
                          },
                          "outputs": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Example output payload."
                          },
                          "source_run_id": {
                            "type": "string",
                            "description": "Optional source run UUID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/langChain/latest/actions/get-feedback": {
      "get": {
        "operationId": "langChain.get-feedback",
        "summary": "Get Feedback",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/langChain/latest/actions/get-feedback"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feedbackId",
            "in": "query",
            "required": true,
            "description": "Feedback identifier.",
            "schema": {
              "type": "string",
              "description": "Feedback identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string",
                            "description": "Optional feedback comment."
                          },
                          "comparative_experiment_id": {
                            "type": "string",
                            "description": "Optional comparative experiment UUID."
                          },
                          "correction": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optional correction payload."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "extra": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional provider metadata."
                          },
                          "feedback_group_id": {
                            "type": "string",
                            "description": "Optional feedback group UUID."
                          },
                          "feedback_source": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Feedback source metadata."
                          },
                          "feedback_thread_id": {
                            "type": "string",
                            "description": "Optional feedback thread UUID."
                          },
                          "id": {
                            "type": "string",
                            "description": "Feedback UUID."
                          },
                          "is_root": {
                            "type": "boolean",
                            "description": "Whether feedback is on a root run."
                          },
                          "key": {
                            "type": "string",
                            "description": "Feedback metric key."
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "run_id": {
                            "type": "string",
                            "description": "Associated run UUID."
                          },
                          "score": {
                            "type": "number",
                            "description": "Numeric score."
                          },
                          "session_id": {
                            "type": "string",
                            "description": "Associated session UUID."
                          },
                          "start_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Associated run start time."
                          },
                          "trace_id": {
                            "type": "string",
                            "description": "Associated trace UUID."
                          },
                          "value": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optional non-numeric value."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/langChain/latest/actions/get-run": {
      "get": {
        "operationId": "langChain.get-run",
        "summary": "Get Run",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/langChain/latest/actions/get-run"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runId",
            "in": "query",
            "required": true,
            "description": "Run identifier.",
            "schema": {
              "type": "string",
              "description": "Run identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "app_path": {
                            "type": "string",
                            "description": "Provider app path."
                          },
                          "completion_cost": {
                            "type": "number",
                            "description": "Completion cost."
                          },
                          "completion_tokens": {
                            "type": "number",
                            "description": "Completion token count."
                          },
                          "dotted_order": {
                            "type": "string",
                            "description": "Trace ordering token."
                          },
                          "end_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Run end time."
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Error details when failed."
                          },
                          "events": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Run events."
                          },
                          "execution_order": {
                            "type": "number",
                            "description": "Execution order in trace."
                          },
                          "feedback_stats": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Aggregated feedback stats."
                          },
                          "id": {
                            "type": "string",
                            "description": "Run UUID."
                          },
                          "inputs": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Run input payload."
                          },
                          "name": {
                            "type": "string",
                            "description": "Run name."
                          },
                          "outputs": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Run output payload."
                          },
                          "parent_run_id": {
                            "type": "string",
                            "description": "Optional parent run UUID."
                          },
                          "prompt_cost": {
                            "type": "number",
                            "description": "Prompt cost."
                          },
                          "prompt_tokens": {
                            "type": "number",
                            "description": "Prompt token count."
                          },
                          "run_type": {
                            "type": "string",
                            "description": "Run type."
                          },
                          "session_id": {
                            "type": "string",
                            "description": "Session UUID."
                          },
                          "start_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Run start time."
                          },
                          "status": {
                            "type": "string",
                            "description": "Run status."
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Run tags."
                          },
                          "total_cost": {
                            "type": "number",
                            "description": "Total cost."
                          },
                          "total_tokens": {
                            "type": "number",
                            "description": "Total tokens used."
                          },
                          "trace_first_received_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "First trace receive timestamp."
                          },
                          "trace_id": {
                            "type": "string",
                            "description": "Trace UUID."
                          },
                          "trace_tier": {
                            "type": "string",
                            "description": "Trace retention tier."
                          },
                          "trace_upgrade": {
                            "type": "boolean",
                            "description": "Whether trace tier was upgraded."
                          },
                          "ttl_seconds": {
                            "type": "number",
                            "description": "Trace TTL in seconds."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/langChain/latest/actions/get-run-stats": {
      "get": {
        "operationId": "langChain.get-run-stats",
        "summary": "Get Run Stats",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/langChain/latest/actions/get-run-stats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "completion_cost": {
                            "type": "number",
                            "description": "Completion cost."
                          },
                          "completion_cost_details": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Completion cost details."
                          },
                          "completion_token_details": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Completion token details."
                          },
                          "completion_tokens": {
                            "type": "number",
                            "description": "Total completion tokens."
                          },
                          "error_rate": {
                            "type": "number",
                            "description": "Run error rate."
                          },
                          "feedback_stats": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Feedback aggregates."
                          },
                          "first_token_p50": {
                            "type": "number",
                            "description": "P50 first-token latency."
                          },
                          "first_token_p99": {
                            "type": "number",
                            "description": "P99 first-token latency."
                          },
                          "last_run_start_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Most recent run start timestamp."
                          },
                          "latency_p50": {
                            "type": "number",
                            "description": "P50 latency."
                          },
                          "latency_p99": {
                            "type": "number",
                            "description": "P99 latency."
                          },
                          "prompt_cost": {
                            "type": "number",
                            "description": "Prompt cost."
                          },
                          "prompt_cost_details": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Prompt cost details."
                          },
                          "prompt_token_details": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Prompt token details."
                          },
                          "prompt_tokens": {
                            "type": "number",
                            "description": "Total prompt tokens."
                          },
                          "run_count": {
                            "type": "number",
                            "description": "Number of runs in scope."
                          },
                          "run_facets": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Run facets."
                          },
                          "streaming_rate": {
                            "type": "number",
                            "description": "Streaming run rate."
                          },
                          "total_cost": {
                            "type": "number",
                            "description": "Total cost."
                          },
                          "total_tokens": {
                            "type": "number",
                            "description": "Total tokens."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/langChain/latest/actions/get-session": {
      "get": {
        "operationId": "langChain.get-session",
        "summary": "Get Session",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/langChain/latest/actions/get-session"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "query",
            "required": true,
            "description": "Session identifier.",
            "schema": {
              "type": "string",
              "description": "Session identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "completion_cost": {
                            "type": "number",
                            "description": "Completion cost."
                          },
                          "completion_tokens": {
                            "type": "number",
                            "description": "Completion tokens."
                          },
                          "default_dataset_id": {
                            "type": "string",
                            "description": "Optional default dataset UUID."
                          },
                          "description": {
                            "type": "string",
                            "description": "Session description."
                          },
                          "end_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Session end timestamp."
                          },
                          "error_rate": {
                            "type": "number",
                            "description": "Error rate."
                          },
                          "extra": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional metadata."
                          },
                          "feedback_stats": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Feedback aggregates."
                          },
                          "first_token_p50": {
                            "type": "number",
                            "description": "P50 first-token latency."
                          },
                          "first_token_p99": {
                            "type": "number",
                            "description": "P99 first-token latency."
                          },
                          "id": {
                            "type": "string",
                            "description": "Session UUID."
                          },
                          "last_run_start_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last run start timestamp."
                          },
                          "last_run_start_time_live": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last live run start timestamp."
                          },
                          "latency_p50": {
                            "type": "number",
                            "description": "P50 latency."
                          },
                          "latency_p99": {
                            "type": "number",
                            "description": "P99 latency."
                          },
                          "name": {
                            "type": "string",
                            "description": "Session name."
                          },
                          "prompt_cost": {
                            "type": "number",
                            "description": "Prompt cost."
                          },
                          "prompt_tokens": {
                            "type": "number",
                            "description": "Prompt tokens."
                          },
                          "reference_dataset_id": {
                            "type": "string",
                            "description": "Optional reference dataset UUID."
                          },
                          "run_count": {
                            "type": "number",
                            "description": "Run count."
                          },
                          "run_facets": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Run facets."
                          },
                          "session_feedback_stats": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Session feedback aggregates."
                          },
                          "start_time": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Session start timestamp."
                          },
                          "streaming_rate": {
                            "type": "number",
                            "description": "Streaming rate."
                          },
                          "tenant_id": {
                            "type": "string",
                            "description": "Workspace UUID."
                          },
                          "test_run_number": {
                            "type": "number",
                            "description": "Test run number."
                          },
                          "total_cost": {
[...]
