{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Focusmate Universal API",
    "version": "0.0.4",
    "description": "Access Focusmate profile, partner profile, and session history data through the Focusmate Public API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/focusmate/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/focusmate/latest/actions/get-my-profile": {
      "get": {
        "operationId": "focusmate.get-my-profile",
        "summary": "Get My Profile",
        "description": "Retrieves your personal Focusmate profile data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/focusmate/latest/actions/get-my-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "Email address for the current Focusmate user."
                              },
                              "memberSince": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Date and time when the user joined Focusmate."
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the current Focusmate user."
                              },
                              "photoUrl": {
                                "type": "string",
                                "description": "Profile photo URL for the current user."
                              },
                              "timeZone": {
                                "type": "string",
                                "description": "IANA time zone for the current user."
                              },
                              "totalSessionCount": {
                                "type": "number",
                                "description": "Total number of sessions for the current user."
                              },
                              "userId": {
                                "type": "string",
                                "description": "Unique identifier for the current Focusmate user."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/focusmate/latest/actions/get-partner-profile": {
      "get": {
        "operationId": "focusmate.get-partner-profile",
        "summary": "Get Partner Profile",
        "description": "Retrieves a user's public Focusmate profile.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/focusmate/latest/actions/get-partner-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "Focusmate user ID to retrieve public profile data for.",
            "schema": {
              "type": "string",
              "description": "Focusmate user ID to retrieve public profile data for.",
              "example": "5edcf2e5-539c-4250-966a-468a7ddfa38d"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user": {
                            "type": "object",
                            "properties": {
                              "isFavorite": {
                                "type": "boolean",
                                "description": "Whether the requested user is currently a favorite partner for the calling user."
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the requested Focusmate user."
                              },
                              "photoUrl": {
                                "type": "string",
                                "description": "Profile photo URL when available."
                              },
                              "timeZone": {
                                "type": "string",
                                "description": "IANA time zone for the requested user."
                              },
                              "totalSessionCount": {
                                "type": "number",
                                "description": "Total number of sessions for the requested user."
                              },
                              "userId": {
                                "type": "string",
                                "description": "Unique identifier for the requested Focusmate user."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/focusmate/latest/actions/get-sessions": {
      "get": {
        "operationId": "focusmate.get-sessions",
        "summary": "Get Sessions",
        "description": "Retrieves your Focusmate sessions within a date range.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/focusmate/latest/actions/get-sessions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Lower limit for the date range as an ISO 8601 date-time with an offset or Z. Sessions partially within the range are included. The range must not exceed 1 year.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Lower limit for the date range as an ISO 8601 date-time with an offset or Z. Sessions partially within the range are included. The range must not exceed 1 year.",
              "example": "2026-04-01T00:00:00Z"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "description": "Upper limit for the date range as an ISO 8601 date-time with an offset or Z. Sessions partially within the range are included. The range must not exceed 1 year.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Upper limit for the date range as an ISO 8601 date-time with an offset or Z. Sessions partially within the range are included. The range must not exceed 1 year.",
              "example": "2026-04-29T23:59:59Z"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "number",
                            "description": "Session duration in milliseconds."
                          },
                          "sessionId": {
                            "type": "string",
                            "description": "Unique identifier for the Focusmate session."
                          },
                          "startTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Session start time in UTC."
                          },
                          "users": {
                            "type": "object",
                            "properties": {
                              "activityType": {
                                "type": "string",
                                "description": "Focusmate activity type for the participant."
                              },
                              "completed": {
                                "type": "boolean",
                                "description": "Whether the participant completed the session."
                              },
                              "isFavorite": {
                                "type": "boolean",
                                "description": "Current favorite status for the non-calling user when returned."
                              },
                              "joinedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Time the participant joined the session, when available."
                              },
                              "preferences": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Participant session preferences such as quiet mode and favorite-partner preference."
                              },
                              "requestedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Time the participant requested the session."
                              },
                              "sessionTitle": {
                                "type": "string",
                                "description": "Session title or task for the participant when available."
                              },
                              "userId": {
                                "type": "string",
                                "description": "Focusmate user ID for a participant."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Users who participated in the session. The calling user is first."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
