{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Amazon Seller Universal API",
    "version": "0.0.89",
    "description": "Manage Amazon listings, inventory, orders, and shipments"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/amazonSeller/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/amazonSeller/latest/actions/cancel-shipment": {
      "delete": {
        "operationId": "amazonSeller.cancel-shipment",
        "summary": "Cancel Shipment",
        "description": "Cancels a merchant fulfillment shipment in Amazon Seller.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amazonSeller/latest/actions/cancel-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shipmentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amazonOrderId": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string"
                          },
                          "insurance": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "currencyCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "itemList": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "dangerousGoodsDetails": {
                                  "type": "object",
                                  "properties": {
                                    "packingGroup": {
                                      "type": "string"
                                    },
                                    "packingInstruction": {
                                      "type": "string"
                                    },
                                    "transportationRegulatoryClass": {
                                      "type": "string"
                                    },
                                    "unitedNationsRegulatoryId": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "isHazmat": {
                                  "type": "boolean"
                                },
                                "itemDescription": {
                                  "type": "string"
                                },
                                "itemLevelSellerInputsList": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "additionalInputFieldName": {
                                        "type": "string"
                                      },
                                      "additionalSellerInput": {
                                        "type": "object",
                                        "properties": {
                                          "dataType": {
                                            "type": "string"
                                          },
                                          "valueAsAddress": {
                                            "type": "object",
                                            "properties": {
                                              "addressLine1": {
                                                "type": "string"
                                              },
                                              "addressLine2": {
                                                "type": "string"
                                              },
                                              "addressLine3": {
                                                "type": "string"
                                              },
                                              "city": {
                                                "type": "string"
                                              },
                                              "countryCode": {
                                                "type": "string"
                                              },
                                              "districtOrCounty": {
                                                "type": "string"
                                              },
                                              "email": {
                                                "type": "string"
                                              },
                                              "name": {
                                                "type": "string"
                                              },
                                              "phone": {
                                                "type": "string"
                                              },
                                              "postalCode": {
                                                "type": "string"
                                              },
                                              "stateOrProvinceCode": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          },
                                          "valueAsBoolean": {
                                            "type": "boolean"
                                          },
                                          "valueAsCurrency": {
                                            "type": "object",
                                            "properties": {
                                              "amount": {
                                                "type": "number"
                                              },
                                              "currencyCode": {
                                                "type": "string"
                                              }
                                            },
                                            "additionalProperties": false
                                          },
                                          "valueAsDimension": {
                                            "type": "object",
                                            "properties": {
                                              "unit": {
                                                "type": "string"
                                              },
                                              "value": {
                                                "type": "number"
                                              }
                                            },
                                            "additionalProperties": false
                                          },
                                          "valueAsInteger": {
                                            "type": "number"
                                          },
                                          "valueAsString": {
                                            "type": "string"
                                          },
                                          "valueAsTimestamp": {
                                            "type": "string"
                                          },
                                          "valueAsWeight": {
                                            "type": "object",
                                            "properties": {
                                              "unit": {
                                                "type": "string"
                                              },
                                              "value": {
                                                "type": "number"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "itemWeight": {
                                  "type": "object",
                                  "properties": {
                                    "unit": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "liquidVolume": {
                                  "type": "object",
                                  "properties": {
                                    "unit": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "orderItemId": {
                                  "type": "string"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "transparencyCodeList": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "label": {
                            "type": "object",
                            "properties": {
                              "customTextForLabel": {
                                "type": "string"
                              },
                              "dimensions": {
                                "type": "object",
                                "properties": {
                                  "length": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "fileContents": {
                                "type": "object",
                                "properties": {
                                  "checksum": {
                                    "type": "string"
                                  },
                                  "contents": {
                                    "type": "string"
                                  },
                                  "fileType": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "labelFormat": {
                                "type": "string"
                              },
                              "standardIdForLabel": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "lastUpdatedDate": {
                            "type": "string"
                          },
                          "packageDimensions": {
                            "type": "object",
                            "properties": {
                              "height": {
                                "type": "number"
                              },
                              "length": {
                                "type": "number"
                              },
                              "predefinedPackageDimensions": {
                                "type": "string"
                              },
                              "unit": {
                                "type": "string"
                              },
                              "width": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "sellerOrderId": {
                            "type": "string"
                          },
                          "shipFromAddress": {
                            "type": "object",
                            "properties": {
                              "addressLine1": {
                                "type": "string"
                              },
                              "addressLine2": {
                                "type": "string"
                              },
                              "addressLine3": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "countryCode": {
                                "type": "string"
                              },
                              "districtOrCounty": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "stateOrProvinceCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "shipmentId": {
                            "type": "string"
                          },
                          "shippingService": {
                            "type": "object",
                            "properties": {
                              "adjustmentItemList": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "rateItemCharge": {
                                      "type": "object",
                                      "properties": {
                                        "amount": {
                                          "type": "number"
                                        },
                                        "currencyCode": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "rateItemID": {
                                      "type": "string"
                                    },
                                    "rateItemNameLocalization": {
                                      "type": "string"
                                    },
                                    "rateItemType": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "availableFormatOptionsForLabel": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "includePackingSlipWithLabel": {
                                      "type": "boolean"
                                    },
                                    "labelFormat": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "availableLabelFormats": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "availableShippingServiceOptions": {
                                "type": "object",
                                "properties": {
                                  "availableCarrierWillPickUpOptions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "carrierWillPickUpOption": {
                                          "type": "string"
                                        },
                                        "charge": {
                                          "type": "object",
                                          "properties": {
                                            "amount": {
                                              "type": "number"
                                            },
                                            "currencyCode": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "availableDeliveryExperienceOptions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "charge": {
                                          "type": "object",
                                          "properties": {
                                            "amount": {
                                              "type": "number"
                                            },
                                            "currencyCode": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "deliveryExperienceOption": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "benefits": {
                                "type": "object",
                                "properties": {
                                  "excludedBenefits": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "benefit": {
                                          "type": "string"
                                        },
                                        "reasonCodes": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "includedBenefits": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "carrierName": {
                                "type": "string"
                              },
                              "earliestEstimatedDeliveryDate": {
                                "type": "string"
                              },
                              "latestEstimatedDeliveryDate": {
                                "type": "string"
                              },
                              "rate": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number"
                                  },
                                  "currencyCode": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "rateWithAdjustments": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "number"
                                  },
                                  "currencyCode": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "requiresAdditionalSellerInputs": {
                                "type": "boolean"
                              },
                              "shipDate": {
                                "type": "string"
                              },
                              "shippingServiceId": {
                                "type": "string"
                              },
                              "shippingServiceName": {
                                "type": "string"
                              },
                              "shippingServiceOfferId": {
                                "type": "string"
                              },
                              "shippingServiceOptions": {
                                "type": "object",
                                "properties": {
                                  "carrierWillPickUp": {
                                    "type": "boolean"
                                  },
                                  "carrierWillPickUpOption": {
                                    "type": "string"
                                  },
                                  "declaredValue": {
                                    "type": "object",
                                    "properties": {
                                      "amount": {
                                        "type": "number"
                                      },
                                      "currencyCode": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "deliveryExperience": {
                                    "type": "string"
                                  },
                                  "labelFormat": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "shipToAddress": {
                            "type": "object",
                            "properties": {
                              "addressLine1": {
                                "type": "string"
                              },
                              "addressLine2": {
                                "type": "string"
                              },
                              "addressLine3": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "countryCode": {
                                "type": "string"
                              },
                              "districtOrCounty": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "stateOrProvinceCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string"
                          },
                          "trackingId": {
                            "type": "string"
                          },
                          "weight": {
                            "type": "object",
                            "properties": {
                              "unit": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/amazonSeller/latest/actions/confirm-shipment": {
      "put": {
        "operationId": "amazonSeller.confirm-shipment",
        "summary": "Confirm Shipment",
        "description": "Updates shipment confirmation for an Amazon Seller order.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amazonSeller/latest/actions/confirm-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "orderId",
                  "marketplaceId",
                  "packageReferenceId",
                  "shipDate",
                  "carrierCode",
                  "trackingNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "orderId": {
                    "type": "string",
                    "description": "An Amazon-defined order identifier, in 3-7-7 format."
                  },
                  "marketplaceId": {
                    "type": "string",
                    "description": "A marketplace identifier. Specifies the marketplace where the product would be stored."
                  },
                  "orderItems[].orderItemId": {
                    "type": "string",
                    "description": "*required* The order item's unique identifier."
                  },
                  "orderItems[].quantity": {
                    "type": "string",
                    "description": "The items quantity."
                  },
                  "packageReferenceId": {
                    "type": "string",
                    "description": "A seller-supplied identifier that uniquely identifies a package within the scope of an order. Only positive numeric values are supported."
                  },
                  "orderItems[].transparencyCodes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of order items. (array of strings)"
                  },
                  "shipDate": {
                    "type": "string",
                    "description": "The shipping date for the package. Must be in ISO 8601 date/time format."
                  },
                  "carrierCode": {
                    "type": "string",
                    "description": "Identifies the carrier that will deliver the package. This field is required for all marketplaces.\n\nFor more information, refer to the (Carrier Code announcement)[https://developer-docs.amazon.com/sp-api/changelog/carriercode-value-required-in-shipment-confirmations-for-br-mx-ca-sg-au-in-jp-marketplaces]"
                  },
                  "carrierName": {
                    "type": "string",
                    "description": "Carrier name that will deliver the package. Required when carrierCode is \"Other\""
                  },
                  "trackingNumber": {
                    "type": "string",
                    "description": "The tracking number used to obtain tracking and delivery information."
                  },
                  "orderItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "A list of order items."
                  },
                  "shippingMethod": {
                    "type": "string",
                    "description": "Ship method to be used for shipping the order."
                  },
                  "shipFromSupplySourceId": {
                    "type": "string",
                    "description": "The unique identifier for the supply source."
                  },
                  "codCollectionMethod": {
                    "type": "string",
                    "description": "The COD collection method (only supported in the JP marketplace).\n\nAllowed: `DirectPayment`",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orderId": {
                            "type": "string",
                            "description": "Confirmed Amazon order identifier."
                          },
                          "packageReferenceId": {
                            "type": "string",
                            "description": "Confirmed package reference identifier."
                          },
                          "shipDate": {
                            "type": "string",
                            "description": "Confirmed shipment date."
                          },
                          "trackingNumber": {
                            "type": "string",
                            "description": "Confirmed carrier tracking number."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/amazonSeller/latest/actions/create-fbm-listings-inventory-report": {
      "post": {
        "operationId": "amazonSeller.create-fbm-listings-inventory-report",
        "summary": "Create FBM Listings Inventory Report",
        "description": "Creates an FBM listings inventory report in Amazon Seller.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amazonSeller/latest/actions/create-fbm-listings-inventory-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "reportType",
                  "marketplaceIds"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "reportType": {
                    "type": "string",
                    "enum": [
                      "GET_MERCHANT_LISTINGS_DATA",
                      "GET_MERCHANT_LISTINGS_DATA_LITER"
                    ],
                    "default": "GET_MERCHANT_LISTINGS_DATA_LITER"
                  },
                  "marketplaceIds": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "dataStartTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "dataEndTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "reportOptions": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/amazonSeller/latest/actions/create-fulfillment-order": {
      "post": {
        "operationId": "amazonSeller.create-fulfillment-order",
        "summary": "Create Fulfillment Order",
        "description": "Creates a fulfillment order in Amazon Seller.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amazonSeller/latest/actions/create-fulfillment-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "deliveryPreferences[].dropOffLocation[].type",
                  "destinationAddress.name",
                  "items[].perUnitDeclaredValue[].currencyCode",
                  "items[].perUnitPrice[].currencyCode",
                  "items[].perUnitTax[].currencyCode",
                  "items[].sellerSku",
                  "paymentInformation[].paymentTransactionId",
                  "destinationAddress",
                  "destinationAddress.addressLine1",
                  "items[].perUnitDeclaredValue[].value",
                  "items[].perUnitPrice[].value",
                  "items[].perUnitTax[].value",
                  "items[].quantity",
                  "paymentInformation[].paymentMode",
                  "paymentInformation[].paymentDate",
                  "items[].sellerFulfillmentOrderItemId",
                  "sellerFulfillmentOrderId",
                  "destinationAddress.postalCode",
                  "displayableOrderId",
                  "destinationAddress.countryCode",
                  "displayableOrderDate",
                  "destinationAddress.city",
                  "displayableOrderComment",
                  "shippingSpeedCategory"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "deliveryPreferences[].deliveryInstructions": {
                    "type": "string",
                    "description": "Additional delivery instructions. For example, this could be instructions on how to enter a building, nearby landmark or navigation instructions, or Beware of dogs."
                  },
                  "deliveryPreferences[].dropOffLocation[].type": {
                    "type": "string"
                  },
                  "deliveryWindow[].startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date timestamp"
                  },
                  "destinationAddress.name": {
                    "type": "string"
                  },
                  "items[].perUnitDeclaredValue[].currencyCode": {
                    "type": "string",
                    "description": "Three digit currency code in ISO 4217 format."
                  },
                  "items[].perUnitPrice[].currencyCode": {
                    "type": "string",
                    "description": "Three digit currency code in ISO 4217 format."
                  },
                  "items[].perUnitTax[].currencyCode": {
                    "type": "string",
                    "description": "Three digit currency code in ISO 4217 format."
                  },
                  "items[].sellerSku": {
                    "type": "string"
                  },
                  "marketplaceId": {
                    "type": "string",
                    "description": "A marketplace identifier. Specifies the marketplace where the product would be stored."
                  },
                  "paymentInformation[].paymentTransactionId": {
                    "type": "string",
                    "description": "The transaction identifier of this payment."
                  },
                  "deliveryPreferences[].dropOffLocation[]": {
                    "type": "array",
                    "items": {}
                  },
                  "deliveryWindow[].endDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date timestamp"
                  },
                  "destinationAddress": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "destinationAddress.addressLine1": {
                    "type": "string"
                  },
                  "items[].perUnitDeclaredValue[].value": {
                    "type": "string",
                    "description": "A decimal number with no loss of precision. Useful when precision loss is unacceptable, as with currencies. Follows RFC7159 for number representation."
                  },
                  "items[].perUnitPrice[].value": {
                    "type": "string",
                    "description": "A decimal number with no loss of precision. Useful when precision loss is unacceptable, as with currencies. Follows RFC7159 for number representation."
                  },
                  "items[].perUnitTax[].value": {
                    "type": "string",
                    "description": "A decimal number with no loss of precision. Useful when precision loss is unacceptable, as with currencies. Follows RFC7159 for number representation."
                  },
                  "items[].quantity": {
                    "type": "number"
                  },
                  "paymentInformation[].paymentMode": {
                    "type": "string",
                    "description": "The transaction mode of this payment."
                  },
                  "destinationAddress.addressLine2": {
                    "type": "string"
                  },
                  "items[]": {
                    "type": "array",
                    "items": {}
                  },
                  "items[].perUnitDeclaredValue[]": {
                    "type": "array",
                    "items": {}
                  },
                  "paymentInformation[].paymentDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "destinationAddress.addressLine3": {
                    "type": "string"
                  },
                  "items[].sellerFulfillmentOrderItemId": {
                    "type": "string",
                    "description": "A fulfillment order item identifier that the seller creates to track fulfillment order items. Used to disambiguate multiple fulfillment items that have the same sellerSku value. For example, the seller might assign different sellerFulfillmentOrderItemId values to two items in a fulfillment order that share the same sellerSku value but have different giftMessage values."
                  },
                  "sellerFulfillmentOrderId": {
                    "type": "string",
                    "description": "A fulfillment order identifier that the seller creates to track their fulfillment order. The sellerFulfillmentOrderId must be unique for each fulfillment order that a seller creates. If the seller's system already creates unique order identifiers, then these might be good values for them to use."
                  },
                  "destinationAddress.postalCode": {
                    "type": "string"
                  },
                  "displayableOrderId": {
                    "type": "string",
                    "description": "A fulfillment order identifier that the seller creates. This value displays as the order identifier in recipient-facing materials such as the outbound shipment packing slip. The value of displayableOrderId should match the order identifier that the seller provides to the recipient. The seller can use the SellerFulfillmentOrderId for this value or they can specify an alternate value if they want the recipient to reference an alternate order identifier.\n\nThe value must be an alpha-numeric or ISO 8859-1 compliant string from one to 40 characters in length. Cannot contain two spaces in a row. Leading and trailing white space is removed."
                  },
                  "items[].giftMessage": {
                    "type": "string",
                    "description": "A message to the gift recipient, if applicable."
                  },
                  "destinationAddress.countryCode": {
                    "type": "string",
                    "description": "The two digit country code. In ISO 3166-1 alpha-2 format."
                  },
                  "displayableOrderDate": {
                    "type": "string",
                    "description": "Date timestamp"
                  },
                  "items[].displayableComment": {
                    "type": "string",
                    "description": "Item-specific text that displays in recipient-facing materials such as the outbound shipment packing slip."
                  },
                  "destinationAddress.city": {
                    "type": "string"
                  },
                  "displayableOrderComment": {
                    "type": "string",
                    "description": "Order-specific text that appears in recipient-facing materials such as the outbound shipment packing slip."
                  },
                  "items[].fulfillmentNetworkSku": {
                    "type": "string",
                    "description": "Amazon's fulfillment network SKU of the item."
                  },
                  "destinationAddress.districtOrCounty": {
                    "type": "string"
                  },
                  "items[].perUnitPrice[]": {
                    "type": "array",
                    "items": {}
                  },
                  "shippingSpeedCategory": {
                    "type": "string",
                    "description": "The shipping method used for the fulfillment order. When this value is ScheduledDelivery, choose Ship for the fulfillmentAction. Hold is not a valid fulfillmentAction value when the shippingSpeedCategory value is ScheduledDelivery.\nNote: Shipping method service level agreements vary by marketplace. Sellers should refer to the Seller Central website in their marketplace for shipping method service level agreements and fulfillment fees.",
                    "default": "Standard"
                  },
                  "deliveryWindow[]": {
                    "type": "array",
                    "items": {}
                  },
                  "destinationAddress.stateOrRegion": {
                    "type": "string"
                  },
                  "items[].perUnitTax[]": {
                    "type": "array",
                    "items": {},
                    "description": "An amount of money, including units in the form of currency."
                  },
                  "deliveryPreferences[]": {
                    "type": "array",
                    "items": {}
                  },
                  "destinationAddress.phone": {
                    "type": "string"
                  },
                  "fulfillmentAction": {
                    "type": "string"
                  },
                  "fulfillmentPolicy": {
                    "type": "string"
                  },
                  "codSettings[]": {
                    "type": "array",
                    "items": {},
                    "description": "The COD (Cash On Delivery) charges that you associate with a COD fulfillment order."
                  },
                  "shipFromCountryCode": {
                    "type": "string"
                  },
                  "notificationEmails[]": {
                    "type": "array",
                    "items": {},
                    "description": "A list of email addresses that the seller provides that are used by Amazon to send ship-complete notifications to recipients on behalf of the seller."
                  },
                  "featureConstraints[]": {
                    "type": "array",
                    "items": {}
                  },
                  "paymentInformation[]": {
                    "type": "array",
                    "items": {},
                    "description": "An array of various payment attributes related to this fulfillment order."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/amazonSeller/latest/actions/create-shipment": {
      "post": {
        "operationId": "amazonSeller.create-shipment",
        "summary": "Create Shipment",
        "description": "Creates a merchant fulfillment shipment in Amazon Seller.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amazonSeller/latest/actions/create-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "shippingServiceId",
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsAddress.stateOrProvinceCode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "labelFormatOption.includePackingSlipWithLabel": {
                    "type": "boolean",
                    "description": "When true, include a packing slip with the label."
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsAddress.city": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.labelCustomization.customTextForLabel": {
                    "type": "string",
                    "description": "Custom text to print on the label. Note: Custom text is only included on labels that are in ZPL format (ZPL203). FedEx does not support CustomTextForLabel."
                  },
                  "shipmentRequestDetails.labelCustomization.standardIdForLabel": {
                    "type": "string",
                    "description": "The type of standard identifier to print on the label.\n\nAllowed: `AmazonOrderId`\n\nValue                     Description\nAmazonOrderId  Amazon-defined order identifier in 3-7-7 format is the StandardIdForLabel.",
                    "example": "AmazonOrderId"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.city": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shippingServiceOptions.labelFormat": {
                    "type": "string",
                    "description": "The label format.\n\nAllowed: `PDF`, `PNG`, `ZPL203`, `ZPL300`, `ShippingServiceDefault`\n\nFormat,Description\nPDF,Portable Document Format (pdf).\nPNG,Portable Network Graphics (png) format.\nZPL203,\"Zebra Programming Language (zpl) format, 203 dots per inch resolution.\"\nZPL300,\"Zebra Programming Language (zpl) format, 300 dots per inch resolution.\"\nShippingServiceDefault,The default provided by the shipping service.\n\nSources\nhttps://gitee.com/llzunmin/spapi"
                  },
                  "shippingServiceId": {
                    "type": "string"
                  },
                  "shippingServiceOfferId": {
                    "type": "string"
                  },
                  "shipmentRequestDetails": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "hazmatType": {
                    "type": "string"
                  },
                  "labelFormatOption": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentLevelSellerInputsList[]": {
                    "type": "array",
                    "items": {}
                  },
                  "accept": {
                    "type": "string"
                  },
                  "contentType": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalInputFieldName": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.dataType": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.addressLine1": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.addressLine2": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.addressLine3": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.city": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.countryCode": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.districtOrCounty": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.email": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.name": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.phone": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.postalCode": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.stateOrProvinceCode": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsBoolean": {
                    "type": "boolean"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsCurrency": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsCurrency.amount": {
                    "type": "number"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsCurrency.currencyCode": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsDimension": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsDimension.unit": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsDimension.value": {
                    "type": "number"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsInteger": {
                    "type": "number"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsString": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsTimestamp": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsWeight": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsWeight.unit": {
                    "type": "string"
                  },
                  "shipmentLevelSellerInputsList[].additionalSellerInput.valueAsWeight.value": {
                    "type": "number"
                  },
                  "shipmentRequestDetails.amazonOrderId": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.hazmatType": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[]": {
                    "type": "array",
                    "items": {}
                  },
                  "shipmentRequestDetails.itemList[].dangerousGoodsDetails": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.itemList[].dangerousGoodsDetails.packingGroup": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].dangerousGoodsDetails.packingInstruction": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].dangerousGoodsDetails.transportationRegulatoryClass": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].dangerousGoodsDetails.unitedNationsRegulatoryId": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].isHazmat": {
                    "type": "boolean"
                  },
                  "shipmentRequestDetails.itemList[].itemDescription": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[]": {
                    "type": "array",
                    "items": {}
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalInputFieldName": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.dataType": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsAddress": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsAddress.addressLine1": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsAddress.addressLine2": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsAddress.addressLine3": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsAddress.countryCode": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsAddress.districtOrCounty": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsAddress.email": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsAddress.name": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsAddress.phone": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsAddress.postalCode": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsAddress.stateOrProvinceCode": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsBoolean": {
                    "type": "boolean"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsCurrency": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsCurrency.amount": {
                    "type": "number"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsCurrency.currencyCode": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsDimension": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsDimension.unit": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsDimension.value": {
                    "type": "number"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsInteger": {
                    "type": "number"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsString": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsTimestamp": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsWeight": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsWeight.unit": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemLevelSellerInputsList[].additionalSellerInput.valueAsWeight.value": {
                    "type": "number"
                  },
                  "shipmentRequestDetails.itemList[].itemWeight": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.itemList[].itemWeight.unit": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].itemWeight.value": {
                    "type": "number"
                  },
                  "shipmentRequestDetails.itemList[].liquidVolume": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.itemList[].liquidVolume.unit": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].liquidVolume.value": {
                    "type": "number"
                  },
                  "shipmentRequestDetails.itemList[].orderItemId": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.itemList[].quantity": {
                    "type": "number"
                  },
                  "shipmentRequestDetails.itemList[].transparencyCodeList": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.labelCustomization": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.labelFormatOption": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.labelFormatOption.includePackingSlipWithLabel": {
                    "type": "boolean"
                  },
                  "shipmentRequestDetails.mustArriveByDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "shipmentRequestDetails.packageDimensions": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.packageDimensions.height": {
                    "type": "number"
                  },
                  "shipmentRequestDetails.packageDimensions.length": {
                    "type": "number"
                  },
                  "shipmentRequestDetails.packageDimensions.predefinedPackageDimensions": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.packageDimensions.unit": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.packageDimensions.width": {
                    "type": "number"
                  },
                  "shipmentRequestDetails.sellerOrderId": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "shipmentRequestDetails.shipFromAddress": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.shipFromAddress.addressLine1": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipFromAddress.addressLine2": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipFromAddress.addressLine3": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipFromAddress.city": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipFromAddress.countryCode": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipFromAddress.districtOrCounty": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipFromAddress.email": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipFromAddress.name": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipFromAddress.phone": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipFromAddress.postalCode": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipFromAddress.stateOrProvinceCode": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[]": {
                    "type": "array",
                    "items": {}
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalInputFieldName": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.dataType": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.addressLine1": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.addressLine2": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.addressLine3": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.countryCode": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.districtOrCounty": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.email": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.name": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.phone": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.postalCode": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsAddress.stateOrProvinceCode": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsBoolean": {
                    "type": "boolean"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsCurrency": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsCurrency.amount": {
                    "type": "number"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsCurrency.currencyCode": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsDimension": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsDimension.unit": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsDimension.value": {
                    "type": "number"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsInteger": {
                    "type": "number"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsString": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsTimestamp": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsWeight": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsWeight.unit": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shipmentLevelSellerInputsList[].additionalSellerInput.valueAsWeight.value": {
                    "type": "number"
                  },
                  "shipmentRequestDetails.shippingServiceId": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shippingServiceOfferId": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shippingServiceOptions": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.shippingServiceOptions.carrierWillPickUp": {
                    "type": "boolean"
                  },
                  "shipmentRequestDetails.shippingServiceOptions.carrierWillPickUpOption": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shippingServiceOptions.declaredValue": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.shippingServiceOptions.declaredValue.amount": {
                    "type": "number"
                  },
                  "shipmentRequestDetails.shippingServiceOptions.declaredValue.currencyCode": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.shippingServiceOptions.deliveryExperience": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.weight": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentRequestDetails.weight.unit": {
                    "type": "string"
                  },
                  "shipmentRequestDetails.weight.value": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amazonOrderId": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string"
                          },
                          "insurance": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "currencyCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "itemList": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "dangerousGoodsDetails": {
                                  "type": "object",
                                  "properties": {
                                    "packingGroup": {
                                      "type": "string"
                                    },
                                    "packingInstruction": {
                                      "type": "string"
                                    },
                                    "transportationRegulatoryClass": {
                                      "type": "string"
                                    },
                                    "unitedNationsRegulatoryId": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "isHazmat": {
                                  "type": "boolean"
                                },
                                "itemDescription": {
                                  "type": "string"
                                },
                                "itemLevelSellerInputsList": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "additionalInputFieldName": {
                                        "type": "string"
                                      },
                                      "additionalSellerInput": {
                                        "type": "object",
                                        "properties": {
                                          "dataType": {
                                            "type": "string"
                                          },
                                          "valueAsAddress": {
                                            "type": "object",
                                            "properties": {
                                              "addressLine1": {
                                                "type": "string"
                                              },
                                              "addressLine2": {
                                                "type": "string"
                                              },
                                              "addressLine3": {
                                                "type": "string"
                                              },
                                              "city": {
                                                "type": "string"
                                              },
                                              "countryCode": {
                                                "type": "string"
                                              },
                                              "districtOrCounty": {
                                                "type": "string"
[...]
