{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "VSCO Workspace Universal API",
    "version": "0.0.8",
    "description": "Manage studio leads, jobs, galleries, orders, and payments"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/vSCOWorkspace/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/vSCOWorkspace/latest/actions/apply-payment-to-order": {
      "post": {
        "operationId": "vSCOWorkspace.apply-payment-to-order",
        "summary": "Apply Payment to Order",
        "description": "Applies a payment to an order in VSCO Workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vSCOWorkspace/latest/actions/apply-payment-to-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "orderId",
                  "amount"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string"
                  },
                  "orderId": {
                    "type": "string",
                    "description": "A lowercase [ULID](https://github.com/ulid/spec) entity identifier"
                  },
                  "amount": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "authCode": {
                            "type": "string"
                          },
                          "checkNumber": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A server timestamp (always in UTC)"
                          },
                          "hidden": {
                            "type": "boolean",
                            "description": "Whether or not the object is hidden."
                          },
                          "id": {
                            "type": "string",
                            "description": "A lowercase [ULID](https://github.com/ulid/spec) entity identifier"
                          },
                          "invoiceItemId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "jobId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "memo": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A server timestamp (always in UTC)"
                          },
                          "payerId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "paymentAllocations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "paymentMethodId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "processedViaClientAccess": {
                            "type": "boolean"
                          },
                          "received": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                          },
                          "refundedAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "refunds": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "transactionId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vSCOWorkspace/latest/actions/create-contact": {
      "post": {
        "operationId": "vSCOWorkspace.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in VSCO Workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vSCOWorkspace/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "kind"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "kind": {
                    "type": "string"
                  },
                  "anniversary": {
                    "type": "string",
                    "format": "date-time",
                    "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                  },
                  "bestDayToCall": {
                    "type": "string"
                  },
                  "bestTimeToCall": {
                    "type": "string"
                  },
                  "birthdate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                  },
                  "brandId": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "cellPhone": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "companyName": {
                    "type": "string"
                  },
                  "contactPreference": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "fax": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  },
                  "homePhone": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "jobTitle": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "maidenName": {
                    "type": "string"
                  },
                  "mailingAddress": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Represents an address."
                  },
                  "previousClient": {
                    "type": "boolean"
                  },
                  "privacyOptIn": {
                    "type": "boolean",
                    "description": "Contact has Opted-In to Marketing and Processing"
                  },
                  "requireStrictPrivacy": {
                    "type": "boolean",
                    "description": "Require Strict Privacy (e.g. subject to Europe's GDPR)"
                  },
                  "salutation": {
                    "type": "string"
                  },
                  "schoolGradYear": {
                    "type": "number"
                  },
                  "schoolName": {
                    "type": "string"
                  },
                  "sport": {
                    "type": "string"
                  },
                  "startingCost": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "startingRevenue": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "teamName": {
                    "type": "string"
                  },
                  "teamPosition": {
                    "type": "string"
                  },
                  "vendorRoleId": {
                    "type": "string",
                    "description": "This is a vendor and defines the default job role does this\ncontact have when added to a job."
                  },
                  "workPhone": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "address": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Represents an address."
                  },
                  "chatAccount1": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "chatAccount2": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "chatAccount3": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "customFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "facebookUsername": {
                    "type": "string"
                  },
                  "notes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "A list of notes attached to this contact. This will only be returned\nin a get of a specific contact and not in the list response."
                  },
                  "pinned": {
                    "type": "boolean"
                  },
                  "secondaryEmail": {
                    "type": "string"
                  },
                  "totalCost": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "totalRevenue": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "twitterUsername": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  },
                  "accountNumber": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "primaryContactFirstName": {
                    "type": "string"
                  },
                  "primaryContactLastName": {
                    "type": "string"
                  },
                  "tollFree": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountBalance": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "accountNumber": {
                            "type": "string"
                          },
                          "address": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Represents an address."
                          },
                          "anniversary": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                          },
                          "anonymized": {
                            "type": "boolean",
                            "description": "This person requested to be anonymized so personally identifiable\ninformation has been anonymized."
                          },
                          "bestDayToCall": {
                            "type": "string"
                          },
                          "bestTimeToCall": {
                            "type": "string"
                          },
                          "birthdate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                          },
                          "brandId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cellPhone": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "chatAccount1": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "chatAccount2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "chatAccount3": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "contactPreference": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A server timestamp (always in UTC)"
                          },
                          "creditBalance": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "customNumber": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "externalMappings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "facebookUsername": {
                            "type": "string"
                          },
                          "fax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "hidden": {
                            "type": "boolean",
                            "description": "Whether or not the object is hidden."
                          },
                          "homePhone": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string",
                            "description": "A lowercase [ULID](https://github.com/ulid/spec) entity identifier"
                          },
                          "jobTitle": {
                            "type": "string"
                          },
                          "kind": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "maidenName": {
                            "type": "string"
                          },
                          "mailingAddress": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Represents an address."
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A server timestamp (always in UTC)"
                          },
                          "name": {
                            "type": "string",
                            "description": "This is used as the combination of firstName and lastName fields."
                          },
                          "notes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "A list of notes attached to this contact. This will only be returned\nin a get of a specific contact and not in the list response."
                          },
                          "phone": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pinned": {
                            "type": "boolean"
                          },
                          "previousClient": {
                            "type": "boolean"
                          },
                          "primaryContactFirstName": {
                            "type": "string"
                          },
                          "primaryContactLastName": {
                            "type": "string"
                          },
                          "privacyOptIn": {
                            "type": "boolean",
                            "description": "Contact has Opted-In to Marketing and Processing"
                          },
                          "requireStrictPrivacy": {
                            "type": "boolean",
                            "description": "Require Strict Privacy (e.g. subject to Europe's GDPR)"
                          },
                          "salutation": {
                            "type": "string"
                          },
                          "schoolGradYear": {
                            "type": "number"
                          },
                          "schoolName": {
                            "type": "string"
                          },
                          "secondaryEmail": {
                            "type": "string"
                          },
                          "sport": {
                            "type": "string"
                          },
                          "startingCost": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "startingRevenue": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "teamName": {
                            "type": "string"
                          },
                          "teamPosition": {
                            "type": "string"
                          },
                          "tollFree": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "totalCost": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "totalRevenue": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "twitterUsername": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "vendorRoleId": {
                            "type": "string",
                            "description": "This is a vendor and defines the default job role does this\ncontact have when added to a job."
                          },
                          "workPhone": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vSCOWorkspace/latest/actions/create-event": {
      "post": {
        "operationId": "vSCOWorkspace.create-event",
        "summary": "Create Event",
        "description": "Creates a new event in VSCO Workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vSCOWorkspace/latest/actions/create-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "allDay": {
                    "type": "boolean"
                  },
                  "channel": {
                    "type": "string"
                  },
                  "confirmed": {
                    "type": "boolean"
                  },
                  "descriptionHtml": {
                    "type": "string"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                  },
                  "endTime": {
                    "type": "string",
                    "description": "A time string using 24-hour format (seconds are ignored)"
                  },
                  "endUtc": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "galleryId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  },
                  "jobId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  },
                  "location": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "name": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                  },
                  "startTime": {
                    "type": "string",
                    "description": "A time string using 24-hour format (seconds are ignored)"
                  },
                  "startUtc": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "timezoneName": {
                    "type": "string",
                    "description": "A VSCO Workspace approved timezone name. If `timezoneId` is provided then this will be ignored."
                  },
                  "timezoneId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  },
                  "typeId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  },
                  "virtualUrl": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allDay": {
                            "type": "boolean"
                          },
                          "channel": {
                            "type": "string"
                          },
                          "confirmed": {
                            "type": "boolean"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A server timestamp (always in UTC)"
                          },
                          "descriptionHtml": {
                            "type": "string"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                          },
                          "endTime": {
                            "type": "string",
                            "description": "A time string using 24-hour format (seconds are ignored)"
                          },
                          "endUtc": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "externalMappings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "galleryId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "hidden": {
                            "type": "boolean",
                            "description": "Whether or not the object is hidden."
                          },
                          "id": {
                            "type": "string",
                            "description": "A lowercase [ULID](https://github.com/ulid/spec) entity identifier"
                          },
                          "jobId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A server timestamp (always in UTC)"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phoneNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "readOnly": {
                            "type": "boolean"
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                          },
                          "startTime": {
                            "type": "string",
                            "description": "A time string using 24-hour format (seconds are ignored)"
                          },
                          "startUtc": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "timezoneId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "timezoneName": {
                            "type": "string",
                            "description": "A VSCO Workspace approved timezone name. If `timezoneId` is provided then this will be ignored."
                          },
                          "typeId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "virtualUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vSCOWorkspace/latest/actions/create-file": {
      "post": {
        "operationId": "vSCOWorkspace.create-file",
        "summary": "Create File",
        "description": "Creates a new file in VSCO Workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vSCOWorkspace/latest/actions/create-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "filename"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "attachedTo[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "binaryData": {
                    "type": "string"
                  },
                  "createdByContactId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  },
                  "description": {
                    "type": "string"
                  },
                  "filename": {
                    "type": "string"
                  },
                  "imageMetaData": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "mimeType": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "remoteUrl": {
                    "type": "string"
                  },
                  "typeId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachedTo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "binaryData": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A server timestamp (always in UTC)"
                          },
                          "createdByContactId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "description": {
                            "type": "string"
                          },
                          "externalMappings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "filename": {
                            "type": "string"
                          },
                          "hidden": {
                            "type": "boolean",
                            "description": "Whether or not the object is hidden."
                          },
                          "id": {
                            "type": "string",
                            "description": "A lowercase [ULID](https://github.com/ulid/spec) entity identifier"
                          },
                          "imageMetaData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A server timestamp (always in UTC)"
                          },
                          "name": {
                            "type": "string"
                          },
                          "remoteUrl": {
                            "type": "string"
                          },
                          "size": {
                            "type": "number"
                          },
                          "typeId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vSCOWorkspace/latest/actions/create-gallery": {
      "post": {
        "operationId": "vSCOWorkspace.create-gallery",
        "summary": "Create Gallery",
        "description": "Creates a new gallery in VSCO Workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vSCOWorkspace/latest/actions/create-gallery"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "clientUrl",
                  "adminUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "jobId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  },
                  "eventId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  },
                  "remoteId": {
                    "type": "string",
                    "description": "The remote ID of this gallery. <b>This value must be unique for the studio.</b>"
                  },
                  "remoteCreated": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "status": {
                    "type": "string"
                  },
                  "coverPhoto": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "When creating or updating a gallery, this object may be used to import a cover photo. If the gallery does not yet have a covor photo, VSCO Workspace will use a placeholder graphic."
                  },
                  "public": {
                    "type": "boolean",
                    "description": "Whether this gallery is publicly accessible."
                  },
                  "requiresPassword": {
                    "type": "boolean"
                  },
                  "password": {
                    "type": "string",
                    "description": "A reusable plain-text passcode for unlocking the gallery. This pass code may be given to invited users."
                  },
                  "category": {
                    "type": "string",
                    "description": "The category of this gallery. Galleries may be grouped by this category text in future client portal designs."
                  },
                  "releaseDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date this gallery will be released to the public. Useful in automations or email tokens."
                  },
                  "eventDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date of the event this gallery is for. Useful in automations or email tokens."
                  },
                  "expirationDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date this gallery will expire and no longer be accessible. Useful in automations or email tokens."
                  },
                  "orderDueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date that orders for this gallery are due by. Useful in automations or email tokens."
                  },
                  "orderCount": {
                    "type": "number",
                    "description": "The number of orders placed for this gallery."
                  },
                  "photoCount": {
                    "type": "number",
                    "description": "The number of photos in this gallery."
                  },
                  "visitorCount": {
                    "type": "number",
                    "description": "The number of visitors to this gallery."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of this gallery."
                  },
                  "headline": {
                    "type": "string",
                    "description": "The headline of this gallery. Prioritized over name when displayed to the user."
                  },
                  "slug": {
                    "type": "string",
                    "description": "The URL path slug for this gallery. This is the URL-friendly version of the name and must contain only letters, numbers, dashes, and underscores. When setting this value, it will be converted to lowercase and any illegal characters stripped."
                  },
                  "clientUrl": {
                    "type": "string",
                    "description": "The URL of this gallery. Will be used for links in emails and the client portal."
                  },
                  "adminUrl": {
                    "type": "string",
                    "description": "The internal URL of this gallery in the remote admin portal. May be used to link employees to the gallery administration interface in the remote service."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adminUrl": {
                            "type": "string",
                            "description": "The internal URL of this gallery in the remote admin portal. May be used to link employees to the gallery administration interface in the remote service."
                          },
                          "category": {
                            "type": "string",
                            "description": "The category of this gallery. Galleries may be grouped by this category text in future client portal designs."
                          },
                          "clientUrl": {
                            "type": "string",
                            "description": "The URL of this gallery. Will be used for links in emails and the client portal."
                          },
                          "coverPhoto": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "When creating or updating a gallery, this object may be used to import a cover photo. If the gallery does not yet have a covor photo, VSCO Workspace will use a placeholder graphic."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A server timestamp (always in UTC)"
                          },
                          "eventDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date of the event this gallery is for. Useful in automations or email tokens."
                          },
                          "eventId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "expirationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date this gallery will expire and no longer be accessible. Useful in automations or email tokens."
                          },
                          "externalMappings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "headline": {
                            "type": "string",
                            "description": "The headline of this gallery. Prioritized over name when displayed to the user."
                          },
                          "hidden": {
                            "type": "boolean",
                            "description": "Whether or not the object is hidden."
                          },
                          "id": {
                            "type": "string",
                            "description": "A lowercase [ULID](https://github.com/ulid/spec) entity identifier"
                          },
                          "jobId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A server timestamp (always in UTC)"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of this gallery."
                          },
                          "orderCount": {
                            "type": "number",
                            "description": "The number of orders placed for this gallery."
                          },
                          "orderDueDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date that orders for this gallery are due by. Useful in automations or email tokens."
                          },
                          "password": {
                            "type": "string",
                            "description": "A reusable plain-text passcode for unlocking the gallery. This pass code may be given to invited users."
                          },
                          "photoCount": {
                            "type": "number",
                            "description": "The number of photos in this gallery."
                          },
                          "public": {
                            "type": "boolean",
                            "description": "Whether this gallery is publicly accessible."
                          },
                          "releaseDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date this gallery will be released to the public. Useful in automations or email tokens."
                          },
                          "remoteCreated": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "remoteId": {
                            "type": "string",
                            "description": "The remote ID of this gallery. <b>This value must be unique for the studio.</b>"
                          },
                          "requiresPassword": {
                            "type": "boolean"
                          },
                          "slug": {
                            "type": "string",
                            "description": "The URL path slug for this gallery. This is the URL-friendly version of the name and must contain only letters, numbers, dashes, and underscores. When setting this value, it will be converted to lowercase and any illegal characters stripped."
                          },
                          "status": {
                            "type": "string"
                          },
                          "visitorCount": {
                            "type": "number",
                            "description": "The number of visitors to this gallery."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vSCOWorkspace/latest/actions/create-job": {
      "post": {
        "operationId": "vSCOWorkspace.create-job",
        "summary": "Create Job",
        "description": "Creates a new job in VSCO Workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vSCOWorkspace/latest/actions/create-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "bookingDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                  },
                  "brandId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  },
                  "closed": {
                    "type": "boolean",
                    "description": "Whether or not the lead or job is closed. A closed reason might be\nprovided as well."
                  },
                  "closedReasonId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  },
                  "closedDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                  },
                  "completedDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                  },
                  "contactFormId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  },
                  "customFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "eventDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                  },
                  "fulfillmentDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                  },
                  "guestCount": {
                    "type": "number"
                  },
                  "inquiryDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                  },
                  "jobTypeId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  },
                  "lastClientActivity": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "leadConfidence": {
                    "type": "string"
                  },
                  "leadDecisionExpectedByDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                  },
                  "leadMaxBudget": {
                    "type": "number"
                  },
                  "leadNotes": {
                    "type": "string"
                  },
                  "leadRating": {
                    "type": "number"
                  },
                  "leadSourceId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  },
                  "leadStatusId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  },
                  "leadStatusChangedAt": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the job that will override the title."
                  },
                  "nextInteractionDate": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "pinned": {
                    "type": "boolean"
                  },
                  "primarySessionId": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "previousInteractionDate": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "stage": {
                    "type": "string",
                    "description": "Specifies the stage that the job is in."
                  },
                  "staleDate": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "totalCost": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "totalProfit": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "totalRevenue": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "webLead": {
                    "type": "boolean",
                    "description": "Whether or not the lead or job came from a contact form."
                  },
                  "workflowId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountBalance": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bookingDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                          },
                          "brandId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "closed": {
                            "type": "boolean",
                            "description": "Whether or not the lead or job is closed. A closed reason might be\nprovided as well."
                          },
                          "closedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                          },
                          "closedReasonId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "closedReasonName": {
                            "type": "string"
                          },
                          "completedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                          },
                          "contactFormId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A server timestamp (always in UTC)"
                          },
                          "creditBalance": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "customNumber": {
                            "type": "string"
                          },
                          "eventDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                          },
                          "externalMappings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "fulfillmentDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                          },
                          "guestCount": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string",
                            "description": "A lowercase [ULID](https://github.com/ulid/spec) entity identifier"
                          },
                          "inquiryDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                          },
                          "jobTypeId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "jobTypeName": {
                            "type": "string"
                          },
                          "lastClientActivity": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "leadConfidence": {
                            "type": "string"
                          },
                          "leadDecisionExpectedByDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A date string consisting of year, month and day in the timezone of the\nevent if specified or the studio."
                          },
                          "leadMaxBudget": {
                            "type": "number"
                          },
                          "leadNotes": {
                            "type": "string"
                          },
                          "leadRating": {
                            "type": "number"
                          },
                          "leadSourceId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "leadSourceName": {
                            "type": "string"
                          },
                          "leadStatusChangedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "leadStatusId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "leadStatusName": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A server timestamp (always in UTC)"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the job that will override the title."
                          },
                          "nextInteractionDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "nextInteractionItem": {
                            "type": "string"
                          },
                          "pinned": {
                            "type": "boolean"
                          },
                          "previousInteractionDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "previousInteractionItem": {
                            "type": "string"
                          },
                          "primarySessionId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sample": {
                            "type": "boolean",
                            "description": "Whether or not the lead or job is a sample job."
                          },
                          "stage": {
                            "type": "string",
                            "description": "Specifies the stage that the job is in."
                          },
                          "staleDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "title": {
                            "type": "string",
                            "description": "Generated title of the job"
                          },
                          "totalCost": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "totalProfit": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "totalRevenue": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "webLead": {
                            "type": "boolean",
                            "description": "Whether or not the lead or job came from a contact form."
                          },
                          "workflowId": {
                            "type": "string",
                            "description": "A ULID entity identifier that is nullable."
                          },
                          "workflowName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vSCOWorkspace/latest/actions/create-order-for-job": {
      "post": {
        "operationId": "vSCOWorkspace.create-order-for-job",
        "summary": "Create Order for Job",
        "description": "Creates a new order for a job in VSCO Workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vSCOWorkspace/latest/actions/create-order-for-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "jobId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "jobId": {
                    "type": "string"
                  },
                  "recipientId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  },
                  "dueDate": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "name": {
                    "type": "string"
                  },
                  "bookedOn": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "balance": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "taxGroupId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  },
                  "taxCombined": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "total": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "paymentTermsId": {
                    "type": "string",
                    "description": "A ULID entity identifier that is nullable."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "afterTaxDiscount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "balance": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bookedElectronically": {
                            "type": "boolean"
                          },
                          "bookedFromQuote": {
                            "type": "boolean"
                          },
                          "bookedOn": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "A server timestamp (always in UTC)"
                          },
                          "customNumber": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hidden": {
                            "type": "boolean",
                            "description": "Whether or not the object is hidden."
                          },
                          "id": {
                            "type": "string",
                            "description": "A lowercase [ULID](https://github.com/ulid/spec) entity identifier"
                          },
                          "invoices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "jobId": {
                            "type": "string",
                            "description": "A lowercase [ULID](https://github.com/ulid/spec) entity identifier"
                          },
                          "lineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
[...]
