{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Abstract IP Intelligence Universal API",
    "version": "0.0.5",
    "description": "Analyze an IP address for geolocation, company, ASN, timezone, currency, domain, and security signals using Abstract IP Intelligence."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/abstractIPIntelligence/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/abstractIPIntelligence/latest/actions/get-ip-intelligence": {
      "get": {
        "operationId": "abstractIPIntelligence.get-ip-intelligence",
        "summary": "Get IP Intelligence",
        "description": "Retrieves IP intelligence from Abstract IP Intelligence.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/abstractIPIntelligence/latest/actions/get-ip-intelligence"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipAddress",
            "in": "query",
            "required": false,
            "description": "IPv4 or IPv6 address to analyze. Leave blank to let Abstract infer the caller IP.",
            "schema": {
              "type": "string",
              "description": "IPv4 or IPv6 address to analyze. Leave blank to let Abstract infer the caller IP.",
              "example": "166.171.248.255"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated top-level response sections to return",
            "schema": {
              "type": "string",
              "description": "Comma-separated top-level response sections to return Pass multiple values separated by `,`.",
              "example": "location,security",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asn": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Autonomous system details for the IP address."
                          },
                          "company": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Company or ISP details associated with the IP address."
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Currency details for the detected country."
                          },
                          "domains": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Domains associated with the IP address."
                          },
                          "flag": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Country flag assets for the detected country."
                          },
                          "ip_address": {
                            "type": "string",
                            "description": "The IP address that was analyzed."
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Geolocation details for the IP address."
                          },
                          "security": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Security signals for VPN, proxy, TOR, hosting, relay, mobile, and abuse."
                          },
                          "timezone": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Timezone details for the analyzed IP address."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
