{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "FraudLabs Pro Universal API",
    "version": "0.0.6",
    "description": "Screen orders, users, SMS verification requests, and payment outcomes with FraudLabs Pro’s fraud-detection API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/fraudLabsPro/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/fraudLabsPro/latest/actions/feedback-order": {
      "put": {
        "operationId": "fraudLabsPro.feedback-order",
        "summary": "Feedback Order",
        "description": "Updates order feedback in FraudLabs Pro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fraudLabsPro/latest/actions/feedback-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "action"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The FraudLabs Pro transaction ID or merchant order ID."
                  },
                  "action": {
                    "type": "string",
                    "description": "Feedback action to send.",
                    "enum": [
                      "0",
                      "1",
                      "2"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fraudlabspro_id": {
                            "type": "string",
                            "description": "The FraudLabs Pro ID that was updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fraudLabsPro/latest/actions/feedback-payment": {
      "put": {
        "operationId": "fraudLabsPro.feedback-payment",
        "summary": "Feedback Payment",
        "description": "Updates payment feedback in FraudLabs Pro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fraudLabsPro/latest/actions/feedback-payment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email",
                  "status",
                  "message"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "The email address tied to the payment order."
                  },
                  "status": {
                    "type": "string",
                    "description": "The final payment status."
                  },
                  "message": {
                    "type": "string",
                    "description": "The message returned from the payment gateway."
                  },
                  "fraudlabspro_id": {
                    "type": "string",
                    "description": "The FraudLabs Pro transaction ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "string",
                            "description": "The result returned from the payment feedback API."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fraudLabsPro/latest/actions/feedback-user": {
      "put": {
        "operationId": "fraudLabsPro.feedback-user",
        "summary": "Feedback User",
        "description": "Updates user feedback in FraudLabs Pro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fraudLabsPro/latest/actions/feedback-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "action"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The FraudLabs Pro user transaction ID or merchant user ID."
                  },
                  "action": {
                    "type": "string",
                    "description": "Feedback action to send.",
                    "enum": [
                      "0",
                      "1",
                      "2"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_transaction_id": {
                            "type": "string",
                            "description": "The User Transaction ID that was updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fraudLabsPro/latest/actions/get-order-result": {
      "get": {
        "operationId": "fraudLabsPro.get-order-result",
        "summary": "Get Order Result",
        "description": "Retrieves an order result from FraudLabs Pro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fraudLabsPro/latest/actions/get-order-result"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The FraudLabs Pro transaction ID to look up.",
            "schema": {
              "type": "string",
              "description": "The FraudLabs Pro transaction ID to look up."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billing_address": {
                            "type": "object",
                            "properties": {
                              "ip_distance_in_km": {
                                "type": "number"
                              },
                              "ip_distance_in_mile": {
                                "type": "number"
                              },
                              "is_ip_country_match": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "credit_card": {
                            "type": "object",
                            "properties": {
                              "card_brand": {
                                "type": "string"
                              },
                              "card_issuing_bank": {
                                "type": "string"
                              },
                              "card_issuing_country": {
                                "type": "string"
                              },
                              "card_type": {
                                "type": "string"
                              },
                              "is_bin_country_match": {
                                "type": "boolean"
                              },
                              "is_bin_exist": {
                                "type": "boolean"
                              },
                              "is_in_blacklist": {
                                "type": "boolean"
                              },
                              "is_prepaid": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "device": {
                            "type": "object",
                            "properties": {
                              "is_in_blacklist": {
                                "type": "boolean"
                              },
                              "is_malware_exploit": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "email_address": {
                            "type": "object",
                            "properties": {
                              "is_disposable": {
                                "type": "boolean"
                              },
                              "is_domain_exist": {
                                "type": "boolean"
                              },
                              "is_free": {
                                "type": "boolean"
                              },
                              "is_in_blacklist": {
                                "type": "boolean"
                              },
                              "is_new_domain_name": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "fraudlabspro_id": {
                            "type": "string"
                          },
                          "fraudlabspro_rules": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "fraudlabspro_score": {
                            "type": "number"
                          },
                          "fraudlabspro_status": {
                            "type": "string"
                          },
                          "ip_geolocation": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "continent": {
                                "type": "string"
                              },
                              "country_code": {
                                "type": "string"
                              },
                              "country_name": {
                                "type": "string"
                              },
                              "domain": {
                                "type": "string"
                              },
                              "elevation": {
                                "type": "number"
                              },
                              "ip": {
                                "type": "string"
                              },
                              "is_in_blacklist": {
                                "type": "boolean"
                              },
                              "is_proxy": {
                                "type": "boolean"
                              },
                              "isp_name": {
                                "type": "string"
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "mobile_brand": {
                                "type": "string"
                              },
                              "mobile_mcc": {
                                "type": "string"
                              },
                              "mobile_mnc": {
                                "type": "string"
                              },
                              "netspeed": {
                                "type": "string"
                              },
                              "proxy_type": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "usage_type": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "zip_code": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "phone_number": {
                            "type": "object",
                            "properties": {
                              "is_disposable": {
                                "type": "boolean"
                              },
                              "is_in_blacklist": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "shipping_address": {
                            "type": "object",
                            "properties": {
                              "is_address_ship_forward": {
                                "type": "boolean"
                              },
                              "is_bill_city_match": {
                                "type": "boolean"
                              },
                              "is_bill_country_match": {
                                "type": "boolean"
                              },
                              "is_bill_postcode_match": {
                                "type": "boolean"
                              },
                              "is_bill_state_match": {
                                "type": "boolean"
                              },
                              "is_export_controlled_country": {
                                "type": "boolean"
                              },
                              "is_in_blacklist": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "user_order_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "object",
                            "properties": {
                              "is_high_risk": {
                                "type": "boolean"
                              },
                              "is_in_blacklist": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fraudLabsPro/latest/actions/get-user-result": {
      "get": {
        "operationId": "fraudLabsPro.get-user-result",
        "summary": "Get User Result",
        "description": "Retrieves a user result from FraudLabs Pro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fraudLabsPro/latest/actions/get-user-result"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The FraudLabs Pro user transaction ID or merchant user ID.",
            "schema": {
              "type": "string",
              "description": "The FraudLabs Pro user transaction ID or merchant user ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "device": {
                            "type": "object",
                            "properties": {
                              "browser": {
                                "type": "string",
                                "description": "The browser name and version."
                              },
                              "device_type": {
                                "type": "string",
                                "description": "The type of the associated device."
                              },
                              "is_in_blacklist": {
                                "type": "boolean",
                                "description": "Whether the device ID is in the blacklist database."
                              },
                              "is_malware_exploit": {
                                "type": "boolean",
                                "description": "Whether the machine is infected."
                              },
                              "operating_system": {
                                "type": "string",
                                "description": "The operating system name."
                              }
                            },
                            "additionalProperties": false
                          },
                          "email_address": {
                            "type": "object",
                            "properties": {
                              "is_disposable": {
                                "type": "boolean",
                                "description": "Whether the email is disposable."
                              },
                              "is_domain_exists": {
                                "type": "boolean",
                                "description": "Whether the email domain exists."
                              },
                              "is_free": {
                                "type": "boolean",
                                "description": "Whether the email is from a free email provider."
                              },
                              "is_in_blacklist": {
                                "type": "boolean",
                                "description": "Whether the email address is in the blacklist database."
                              },
                              "is_new_domain_name": {
                                "type": "boolean",
                                "description": "Whether the email domain name is newly registered."
                              }
                            },
                            "additionalProperties": false
                          },
                          "ip_geolocation": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string",
                                "description": "Estimated city of the IP address."
                              },
                              "continent": {
                                "type": "string",
                                "description": "Estimated continent of the IP address."
                              },
                              "country_code": {
                                "type": "string",
                                "description": "Estimated ISO-3166 alpha-2 country code of the IP address."
                              },
                              "country_name": {
                                "type": "string",
                                "description": "Estimated country of the IP address."
                              },
                              "domain": {
                                "type": "string",
                                "description": "Estimated domain name of the IP address."
                              },
                              "elevation": {
                                "type": "number",
                                "description": "Estimated elevation of the IP address."
                              },
                              "ip": {
                                "type": "string",
                                "description": "IP address of the transaction."
                              },
                              "is_in_blacklist": {
                                "type": "boolean",
                                "description": "Whether the IP address is in the blacklist database."
                              },
                              "is_proxy": {
                                "type": "boolean",
                                "description": "Whether the IP address is from a known anonymous proxy server."
                              },
                              "isp_name": {
                                "type": "string",
                                "description": "Estimated ISP name of the IP address."
                              },
                              "latitude": {
                                "type": "number",
                                "description": "Estimated latitude of the IP address."
                              },
                              "longitude": {
                                "type": "number",
                                "description": "Estimated longitude of the IP address."
                              },
                              "mobile_brand": {
                                "type": "string",
                                "description": "Estimated mobile brand information of the IP address."
                              },
                              "mobile_mcc": {
                                "type": "string",
                                "description": "Estimated mobile MCC information of the IP address."
                              },
                              "mobile_mnc": {
                                "type": "string",
                                "description": "Estimated mobile MNC information of the IP address."
                              },
                              "netspeed": {
                                "type": "string",
                                "description": "Estimated netspeed of the IP address."
                              },
                              "region": {
                                "type": "string",
                                "description": "Estimated region of the IP address."
                              },
                              "timezone": {
                                "type": "string",
                                "description": "Estimated timezone of the IP address."
                              },
                              "usage_type": {
                                "type": "string",
                                "description": "Estimated usage type of the IP address."
                              },
                              "zip_code": {
                                "type": "string",
                                "description": "Estimated ZIP code of the IP address."
                              }
                            },
                            "additionalProperties": false
                          },
                          "phone_number": {
                            "type": "object",
                            "properties": {
                              "is_disposable": {
                                "type": "boolean",
                                "description": "Whether the phone number is disposable."
                              },
                              "is_in_blacklist": {
                                "type": "boolean",
                                "description": "Whether the user's phone number is in the blacklist database."
                              }
                            },
                            "additionalProperties": false
                          },
                          "user_score": {
                            "type": "number",
                            "description": "Overall score between 1 and 100."
                          },
                          "user_transaction_id": {
                            "type": "string",
                            "description": "System unique identifier for this API transaction."
                          },
                          "user_transaction_rules": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Rules triggered by the system."
                            }
                          },
                          "user_transaction_status": {
                            "type": "string",
                            "description": "Final action based on the rules analysis."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fraudLabsPro/latest/actions/get-verification-result": {
      "get": {
        "operationId": "fraudLabsPro.get-verification-result",
        "summary": "Get Verification Result",
        "description": "Retrieves an SMS verification result from FraudLabs Pro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fraudLabsPro/latest/actions/get-verification-result"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tran_id",
            "in": "query",
            "required": true,
            "description": "The transaction id returned by Send SMS Verification.",
            "schema": {
              "type": "string",
              "description": "The transaction id returned by Send SMS Verification."
            }
          },
          {
            "name": "otp",
            "in": "query",
            "required": true,
            "description": "The one-time password received by the user.",
            "schema": {
              "type": "string",
              "description": "The one-time password received by the user."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fraudLabsPro/latest/actions/screen-order": {
      "post": {
        "operationId": "fraudLabsPro.screen-order",
        "summary": "Screen Order",
        "description": "Screens an order for fraud in FraudLabs Pro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fraudLabsPro/latest/actions/screen-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "ip"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "ip": {
                    "type": "string",
                    "description": "IP address of the online transaction."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "api_version": {
                            "type": "string"
                          },
                          "billing_address": {
                            "type": "object",
                            "properties": {
                              "ip_distance_in_km": {
                                "type": "number"
                              },
                              "ip_distance_in_mile": {
                                "type": "number"
                              },
                              "is_ip_country_match": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "credit_card": {
                            "type": "object",
                            "properties": {
                              "card_brand": {
                                "type": "string"
                              },
                              "card_issuing_bank": {
                                "type": "string"
                              },
                              "card_issuing_country": {
                                "type": "string"
                              },
                              "card_type": {
                                "type": "string"
                              },
                              "is_bin_country_match": {
                                "type": "boolean"
                              },
                              "is_bin_exist": {
                                "type": "boolean"
                              },
                              "is_in_blacklist": {
                                "type": "boolean"
                              },
                              "is_prepaid": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "device": {
                            "type": "object",
                            "properties": {
                              "is_in_blacklist": {
                                "type": "boolean"
                              },
                              "is_malware_exploit": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "email_address": {
                            "type": "object",
                            "properties": {
                              "is_disposable": {
                                "type": "boolean"
                              },
                              "is_domain_exist": {
                                "type": "boolean"
                              },
                              "is_free": {
                                "type": "boolean"
                              },
                              "is_in_blacklist": {
                                "type": "boolean"
                              },
                              "is_new_domain_name": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "fraudlabspro_id": {
                            "type": "string"
                          },
                          "fraudlabspro_rules": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "fraudlabspro_score": {
                            "type": "number"
                          },
                          "fraudlabspro_status": {
                            "type": "string"
                          },
                          "ip_geolocation": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "continent": {
                                "type": "string"
                              },
                              "country_code": {
                                "type": "string"
                              },
                              "country_name": {
                                "type": "string"
                              },
                              "domain": {
                                "type": "string"
                              },
                              "ip": {
                                "type": "string"
                              },
                              "is_in_blacklist": {
                                "type": "boolean"
                              },
                              "is_proxy": {
                                "type": "boolean"
                              },
                              "isp_name": {
                                "type": "string"
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "netspeed": {
                                "type": "string"
                              },
                              "proxy_type": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "usage_type": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "zip_code": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "phone_number": {
                            "type": "object",
                            "properties": {
                              "is_disposable": {
                                "type": "boolean"
                              },
                              "is_in_blacklist": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "remaining_credits": {
                            "type": "number"
                          },
                          "shipping_address": {
                            "type": "object",
                            "properties": {
                              "is_address_ship_forward": {
                                "type": "boolean"
                              },
                              "is_bill_city_match": {
                                "type": "boolean"
                              },
                              "is_bill_country_match": {
                                "type": "boolean"
                              },
                              "is_bill_postcode_match": {
                                "type": "boolean"
                              },
                              "is_bill_state_match": {
                                "type": "boolean"
                              },
                              "is_export_controlled_country": {
                                "type": "boolean"
                              },
                              "is_in_blacklist": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "user_order_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "object",
                            "properties": {
                              "is_high_risk": {
                                "type": "boolean"
                              },
                              "is_in_blacklist": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fraudLabsPro/latest/actions/screen-user": {
      "post": {
        "operationId": "fraudLabsPro.screen-user",
        "summary": "Screen User",
        "description": "Screens a user for fraud in FraudLabs Pro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fraudLabsPro/latest/actions/screen-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email",
                  "ip"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "The user email address."
                  },
                  "ip": {
                    "type": "string",
                    "description": "The user IP address."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "reason": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Reasons why the status is REJECT or REVIEW."
                            }
                          },
                          "user_score": {
                            "type": "number",
                            "description": "Overall score between 1 and 100. 100 is the highest risk and 1 is the lowest risk."
                          },
                          "user_transaction_id": {
                            "type": "string",
                            "description": "System unique identifier for this user screening transaction."
                          },
                          "user_transaction_status": {
                            "type": "string",
                            "description": "Final action based on the rules analysis."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fraudLabsPro/latest/actions/send-sms-verification": {
      "post": {
        "operationId": "fraudLabsPro.send-sms-verification",
        "summary": "Send SMS Verification",
        "description": "Sends an SMS verification in FraudLabs Pro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fraudLabsPro/latest/actions/send-sms-verification"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "tel",
                  "mesg"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "tel": {
                    "type": "string",
                    "description": "The recipient mobile phone number in E164 format."
                  },
                  "mesg": {
                    "type": "string",
                    "description": "The SMS template including the <otp> placeholder."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "credits_remaining": {
                            "type": "number"
                          },
                          "tran_id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
