{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Slack Universal API",
    "version": "0.3.34",
    "description": "Chat in channels, share knowledge, automate workflows, and join huddles."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/slack/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/slack/latest/actions/add-reaction": {
      "post": {
        "operationId": "slack.add-reaction",
        "summary": "Add Reaction",
        "description": "Adds a reaction to an item in Slack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/slack/latest/actions/add-reaction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "channel",
                  "timestamp",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "channel": {
                    "type": "string",
                    "description": "Channel where the message to add reaction to was posted."
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "Timestamp of the message to add reaction to."
                  },
                  "name": {
                    "type": "string",
                    "description": "Reaction (emoji) name. Ex: thumbsup"
                  },
                  "senderOverride": {
                    "type": "string",
                    "description": "Override the connection's Default Sender for this action only.",
                    "enum": [
                      "bot",
                      "user"
                    ],
                    "format": "toggle",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/slack/latest/actions/create-channel": {
      "post": {
        "operationId": "slack.create-channel",
        "summary": "Create Channel",
        "description": "Creates a new channel in Slack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/slack/latest/actions/create-channel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the public or private channel to create"
                  },
                  "isPrivate": {
                    "type": "boolean",
                    "description": "Create a private channel instead of a public one"
                  },
                  "sendAsBot": {
                    "type": "boolean",
                    "description": "Determines if this action should be performed by the current user or the Mindcloud bot.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contextTeamId": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "creator": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "isChannel": {
                            "type": "boolean"
                          },
                          "isExtShared": {
                            "type": "boolean"
                          },
                          "isGeneral": {
                            "type": "boolean"
                          },
                          "isGroup": {
                            "type": "boolean"
                          },
                          "isIm": {
                            "type": "boolean"
                          },
                          "isMember": {
                            "type": "boolean"
                          },
                          "isMpim": {
                            "type": "boolean"
                          },
                          "isOrgShared": {
                            "type": "boolean"
                          },
                          "isPendingExtShared": {
                            "type": "boolean"
                          },
                          "isPrivate": {
                            "type": "boolean"
                          },
                          "isShared": {
                            "type": "boolean"
                          },
                          "lastRead": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nameNormalized": {
                            "type": "string"
                          },
                          "parentConversation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "priority": {
                            "type": "number"
                          },
                          "purpose": {
                            "type": "object",
                            "properties": {
                              "creator": {
                                "type": "string"
                              },
                              "lastSet": {
                                "type": "number"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "sharedTeamIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "topic": {
                            "type": "object",
                            "properties": {
                              "creator": {
                                "type": "string"
                              },
                              "lastSet": {
                                "type": "number"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "unlinked": {
                            "type": "number"
                          },
                          "updated": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/slack/latest/actions/delete-file": {
      "delete": {
        "operationId": "slack.delete-file",
        "summary": "Delete File",
        "description": "Deletes an existing file from Slack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/slack/latest/actions/delete-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "description": "Channel containing the file to be deleted.",
            "schema": {
              "type": "string",
              "description": "Channel containing the file to be deleted."
            }
          },
          {
            "name": "file",
            "in": "query",
            "required": false,
            "description": "ID of file to delete.",
            "schema": {
              "type": "string",
              "description": "ID of file to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/slack/latest/actions/delete-message": {
      "delete": {
        "operationId": "slack.delete-message",
        "summary": "Delete Message",
        "description": "Deletes an existing message from Slack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/slack/latest/actions/delete-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "required": true,
            "description": "Channel containing the message to be deleted.",
            "schema": {
              "type": "string",
              "description": "Channel containing the message to be deleted."
            }
          },
          {
            "name": "ts",
            "in": "query",
            "required": true,
            "description": "Timestamp of the message to be deleted.",
            "schema": {
              "type": "string",
              "description": "Timestamp of the message to be deleted."
            }
          },
          {
            "name": "senderOverride",
            "in": "query",
            "required": false,
            "description": "Override the connection's Default Sender for this action only.",
            "schema": {
              "type": "string",
              "description": "Override the connection's Default Sender for this action only.",
              "enum": [
                "bot",
                "user"
              ],
              "format": "toggle",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/slack/latest/actions/delete-scheduled-message": {
      "delete": {
        "operationId": "slack.delete-scheduled-message",
        "summary": "Delete Scheduled Message",
        "description": "Deletes a scheduled message from Slack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/slack/latest/actions/delete-scheduled-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "required": true,
            "description": "The channel the message will be posted to",
            "schema": {
              "type": "string",
              "description": "The channel the message will be posted to"
            }
          },
          {
            "name": "scheduledMessageID",
            "in": "query",
            "required": true,
            "description": "ID of the scheduled message",
            "schema": {
              "type": "string",
              "description": "ID of the scheduled message"
            }
          },
          {
            "name": "senderOverride",
            "in": "query",
            "required": false,
            "description": "Override the connection's Default Sender for this action only.",
            "schema": {
              "type": "string",
              "description": "Override the connection's Default Sender for this action only.",
              "enum": [
                "bot",
                "user"
              ],
              "format": "toggle",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ok": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/slack/latest/actions/get-channel-information": {
      "get": {
        "operationId": "slack.get-channel-information",
        "summary": "Get Channel Information",
        "description": "Retrieves conversation details from a Slack workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/slack/latest/actions/get-channel-information"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "required": true,
            "description": "Conversation ID to learn more about",
            "schema": {
              "type": "string",
              "description": "Conversation ID to learn more about"
            }
          },
          {
            "name": "includeLocale",
            "in": "query",
            "required": false,
            "description": "Set this to true to receive the locale for this conversation.",
            "schema": {
              "type": "boolean",
              "description": "Set this to true to receive the locale for this conversation.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "includeMemberCount",
            "in": "query",
            "required": false,
            "description": "Set to true to include the member count for the specified conversation.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to include the member count for the specified conversation.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contextTeamId": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "creator": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "isChannel": {
                            "type": "boolean"
                          },
                          "isExtShared": {
                            "type": "boolean"
                          },
                          "isGeneral": {
                            "type": "boolean"
                          },
                          "isGroup": {
                            "type": "boolean"
                          },
                          "isIm": {
                            "type": "boolean"
                          },
                          "isMember": {
                            "type": "boolean"
                          },
                          "isMpim": {
                            "type": "boolean"
                          },
                          "isNonThreadable": {
                            "type": "boolean"
                          },
                          "isOrgShared": {
                            "type": "boolean"
                          },
                          "isPendingExtShared": {
                            "type": "boolean"
                          },
                          "isPrivate": {
                            "type": "boolean"
                          },
                          "isReadOnly": {
                            "type": "boolean"
                          },
                          "isShared": {
                            "type": "boolean"
                          },
                          "isThreadOnly": {
                            "type": "boolean"
                          },
                          "lastRead": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nameNormalized": {
                            "type": "string"
                          },
                          "parentConversation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "properties": {
                            "type": "object",
                            "properties": {
                              "tabs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "tabz": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "purpose": {
                            "type": "object",
                            "properties": {
                              "creator": {
                                "type": "string"
                              },
                              "lastSet": {
                                "type": "number"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "sharedTeamIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "topic": {
                            "type": "object",
                            "properties": {
                              "creator": {
                                "type": "string"
                              },
                              "lastSet": {
                                "type": "number"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "unlinked": {
                            "type": "number"
                          },
                          "updated": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/slack/latest/actions/get-file-information": {
      "get": {
        "operationId": "slack.get-file-information",
        "summary": "Get File Information",
        "description": "Retrieves file details from a Slack workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/slack/latest/actions/get-file-information"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "required": true,
            "description": "Channel containing the file.",
            "schema": {
              "type": "string",
              "description": "Channel containing the file."
            }
          },
          {
            "name": "file",
            "in": "query",
            "required": true,
            "description": "ID of the file.",
            "schema": {
              "type": "string",
              "description": "ID of the file."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "file": {
                            "type": "object",
                            "properties": {
                              "channels": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "commentsCount": {
                                "type": "number"
                              },
                              "created": {
                                "type": "number"
                              },
                              "displayAsBot": {
                                "type": "boolean"
                              },
                              "editable": {
                                "type": "boolean"
                              },
                              "externalType": {
                                "type": "string"
                              },
                              "fileAccess": {
                                "type": "string"
                              },
                              "filetype": {
                                "type": "string"
                              },
                              "hasMoreShares": {
                                "type": "boolean"
                              },
                              "hasRichPreview": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isExternal": {
                                "type": "boolean"
                              },
                              "isPublic": {
                                "type": "boolean"
                              },
                              "isStarred": {
                                "type": "boolean"
                              },
                              "mediaDisplayType": {
                                "type": "string"
                              },
                              "mimetype": {
                                "type": "string"
                              },
                              "mode": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "originalH": {
                                "type": "number"
                              },
                              "originalW": {
                                "type": "number"
                              },
                              "permalink": {
                                "type": "string"
                              },
                              "permalinkPublic": {
                                "type": "string"
                              },
                              "prettyType": {
                                "type": "string"
                              },
                              "publicUrlShared": {
                                "type": "boolean"
                              },
                              "shares": {
                                "type": "object",
                                "properties": {
                                  "public": {
                                    "type": "object",
                                    "properties": {
                                      "c3mavjkv0": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "channelName": {
                                              "type": "string"
                                            },
                                            "isSilentShare": {
                                              "type": "boolean"
                                            },
                                            "latestReply": {
                                              "type": "string"
                                            },
                                            "replyCount": {
                                              "type": "number"
                                            },
                                            "replyUsers": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              }
                                            },
                                            "replyUsersCount": {
                                              "type": "number"
                                            },
                                            "shareUserId": {
                                              "type": "string"
                                            },
                                            "source": {
                                              "type": "string"
                                            },
                                            "teamId": {
                                              "type": "string"
                                            },
                                            "ts": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "size": {
                                "type": "number"
                              },
                              "thumb1024": {
                                "type": "string"
                              },
                              "thumb1024H": {
                                "type": "number"
                              },
                              "thumb1024W": {
                                "type": "number"
                              },
                              "thumb160": {
                                "type": "string"
                              },
                              "thumb360": {
                                "type": "string"
                              },
                              "thumb360H": {
                                "type": "number"
                              },
                              "thumb360W": {
                                "type": "number"
                              },
                              "thumb480": {
                                "type": "string"
                              },
                              "thumb480H": {
                                "type": "number"
                              },
                              "thumb480W": {
                                "type": "number"
                              },
                              "thumb64": {
                                "type": "string"
                              },
                              "thumb720": {
                                "type": "string"
                              },
                              "thumb720H": {
                                "type": "number"
                              },
                              "thumb720W": {
                                "type": "number"
                              },
                              "thumb80": {
                                "type": "string"
                              },
                              "thumb800": {
                                "type": "string"
                              },
                              "thumb800H": {
                                "type": "number"
                              },
                              "thumb800W": {
                                "type": "number"
                              },
                              "thumb960": {
                                "type": "string"
                              },
                              "thumb960H": {
                                "type": "number"
                              },
                              "thumb960W": {
                                "type": "number"
                              },
                              "thumbTiny": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              },
                              "urlPrivate": {
                                "type": "string"
                              },
                              "urlPrivateDownload": {
                                "type": "string"
                              },
                              "user": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              },
                              "userTeam": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/slack/latest/actions/get-user-information": {
      "get": {
        "operationId": "slack.get-user-information",
        "summary": "Get User Information",
        "description": "Retrieves user details from a Slack workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/slack/latest/actions/get-user-information"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "required": true,
            "description": "User to get info on",
            "schema": {
              "type": "string",
              "description": "User to get info on"
            }
          },
          {
            "name": "includeLocale",
            "in": "query",
            "required": false,
            "description": "Set this to true to receive the locale for this user. Defaults to false",
            "schema": {
              "type": "boolean",
              "description": "Set this to true to receive the locale for this user. Defaults to false",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "color": {
                            "type": "string"
                          },
                          "deleted": {
                            "type": "boolean"
                          },
                          "has2fa": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isAdmin": {
                            "type": "boolean"
                          },
                          "isAppUser": {
                            "type": "boolean"
                          },
                          "isBot": {
                            "type": "boolean"
                          },
                          "isEmailConfirmed": {
                            "type": "boolean"
                          },
                          "isOwner": {
                            "type": "boolean"
                          },
                          "isPrimaryOwner": {
                            "type": "boolean"
                          },
                          "isRestricted": {
                            "type": "boolean"
                          },
                          "isUltraRestricted": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "profile": {
                            "type": "object",
                            "properties": {
                              "avatarHash": {
                                "type": "string"
                              },
                              "displayName": {
                                "type": "string"
                              },
                              "displayNameNormalized": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "image192": {
                                "type": "string"
                              },
                              "image24": {
                                "type": "string"
                              },
                              "image32": {
                                "type": "string"
                              },
                              "image48": {
                                "type": "string"
                              },
                              "image512": {
                                "type": "string"
                              },
                              "image72": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "realName": {
                                "type": "string"
                              },
                              "realNameNormalized": {
                                "type": "string"
                              },
                              "skype": {
                                "type": "string"
                              },
                              "statusEmoji": {
                                "type": "string"
                              },
                              "statusExpiration": {
                                "type": "number"
                              },
                              "statusText": {
                                "type": "string"
                              },
                              "statusTextCanonical": {
                                "type": "string"
                              },
                              "team": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "realName": {
                            "type": "string"
                          },
                          "teamId": {
                            "type": "string"
                          },
                          "tz": {
                            "type": "string"
                          },
                          "tzLabel": {
                            "type": "string"
                          },
                          "tzOffset": {
                            "type": "number"
                          },
                          "updated": {
                            "type": "number"
                          },
                          "whoCanShareContactCard": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/slack/latest/actions/invite-user-to-channel": {
      "post": {
        "operationId": "slack.invite-user-to-channel",
        "summary": "Invite User to Channel",
        "description": "Invites users to a Slack channel.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/slack/latest/actions/invite-user-to-channel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "channel",
                  "users"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "channel": {
                    "type": "string",
                    "description": "The ID of the public or private channel to invite user(s) to."
                  },
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A comma separated list of user IDs. Up to 1000 users may be listed."
                  },
                  "sendAsBot": {
                    "type": "boolean",
                    "description": "Determines if this action should be performed by the current user or the Mindcloud bot.",
                    "x-mindcloud-advanced": true
                  },
                  "force": {
                    "type": "boolean",
                    "description": "When set to true and multiple user IDs are provided, continue inviting the valid ones while disregarding invalid IDs.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contextTeamId": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "creator": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "isChannel": {
                            "type": "boolean"
                          },
                          "isExtShared": {
                            "type": "boolean"
                          },
                          "isGeneral": {
                            "type": "boolean"
                          },
                          "isGroup": {
                            "type": "boolean"
                          },
                          "isIm": {
                            "type": "boolean"
                          },
                          "isMember": {
                            "type": "boolean"
                          },
                          "isMpim": {
                            "type": "boolean"
                          },
                          "isOrgShared": {
                            "type": "boolean"
                          },
                          "isPendingExtShared": {
                            "type": "boolean"
                          },
                          "isPrivate": {
                            "type": "boolean"
                          },
                          "isShared": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nameNormalized": {
                            "type": "string"
                          },
                          "parentConversation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "purpose": {
                            "type": "object",
                            "properties": {
                              "creator": {
                                "type": "string"
                              },
                              "lastSet": {
                                "type": "number"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "sharedTeamIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "topic": {
                            "type": "object",
                            "properties": {
                              "creator": {
                                "type": "string"
                              },
                              "lastSet": {
                                "type": "number"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "unlinked": {
                            "type": "number"
                          },
                          "updated": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/slack/latest/actions/join-channel": {
      "put": {
        "operationId": "slack.join-channel",
        "summary": "Join Channel",
        "description": "Joins an existing conversation in Slack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/slack/latest/actions/join-channel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "channel"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "channel": {
                    "type": "string",
                    "description": "ID of conversation to join"
                  },
                  "sendAsBot": {
                    "type": "boolean",
                    "description": "Determines if this action should be performed by the current user or the Mindcloud bot.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contextTeamId": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "creator": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "isChannel": {
                            "type": "boolean"
                          },
                          "isExtShared": {
                            "type": "boolean"
                          },
                          "isGeneral": {
                            "type": "boolean"
                          },
                          "isGroup": {
                            "type": "boolean"
                          },
                          "isIm": {
                            "type": "boolean"
                          },
                          "isMember": {
                            "type": "boolean"
                          },
                          "isMpim": {
                            "type": "boolean"
                          },
                          "isOrgShared": {
                            "type": "boolean"
                          },
                          "isPendingExtShared": {
                            "type": "boolean"
                          },
                          "isPrivate": {
                            "type": "boolean"
                          },
                          "isShared": {
                            "type": "boolean"
                          },
                          "lastRead": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nameNormalized": {
                            "type": "string"
                          },
                          "parentConversation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "priority": {
                            "type": "number"
                          },
                          "purpose": {
                            "type": "object",
                            "properties": {
                              "creator": {
                                "type": "string"
                              },
                              "lastSet": {
                                "type": "number"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "sharedTeamIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "topic": {
                            "type": "object",
                            "properties": {
                              "creator": {
                                "type": "string"
                              },
                              "lastSet": {
                                "type": "number"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "unlinked": {
                            "type": "number"
                          },
                          "updated": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/slack/latest/actions/kick-user-from-channel": {
      "delete": {
        "operationId": "slack.kick-user-from-channel",
        "summary": "Kick User From Channel",
        "description": "Removes a user from a Slack conversation.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/slack/latest/actions/kick-user-from-channel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "required": true,
            "description": "ID of conversation to remove user from.",
            "schema": {
              "type": "string",
              "description": "ID of conversation to remove user from."
            }
          },
          {
            "name": "user",
            "in": "query",
            "required": true,
            "description": "User ID to be removed.",
            "schema": {
              "type": "string",
              "description": "User ID to be removed."
            }
          },
          {
            "name": "sendAsBot",
            "in": "query",
            "required": false,
            "description": "Determines if this action should be performed by the current user or the Mindcloud bot.",
            "schema": {
              "type": "boolean",
              "description": "Determines if this action should be performed by the current user or the Mindcloud bot."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
[...]
