{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Craftboxx Universal API",
    "version": "0.0.2",
    "description": "Craftboxx is field service and job-planning software for trades businesses, covering projects, assignments, customers, staff, time tracking, materials, tools, vehicles, and site documentation."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/craftboxx/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/craftboxx/latest/actions/check-assignment-availability": {
      "get": {
        "operationId": "craftboxx.check-assignment-availability",
        "summary": "Check Assignment Availability",
        "description": "Returns unavailable assignment master data for a date range from Craftboxx.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/craftboxx/latest/actions/check-assignment-availability"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "The interval end timestamp.",
            "schema": {
              "type": "string",
              "description": "The interval end timestamp."
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "description": "Optional assignment ID to exclude from the availability check.",
            "schema": {
              "type": "string",
              "description": "Optional assignment ID to exclude from the availability check."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The interval start timestamp.",
            "schema": {
              "type": "string",
              "description": "The interval start timestamp."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "employees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Unavailable employees in the requested interval."
                          },
                          "tools": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Unavailable tools in the requested interval."
                          },
                          "vehicles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Unavailable vehicles in the requested interval."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/craftboxx/latest/actions/create-access-token": {
      "post": {
        "operationId": "craftboxx.create-access-token",
        "summary": "Create Access Token",
        "description": "Creates and returns a Craftboxx access token.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/craftboxx/latest/actions/create-access-token"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "Craftboxx employee email address.",
                    "default": "{{credentials.email}}"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "access_token": {
                            "type": "string",
                            "description": "Craftboxx API access token."
                          },
                          "token_type": {
                            "type": "string",
                            "description": "Bearer token type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/craftboxx/latest/actions/create-article": {
      "post": {
        "operationId": "craftboxx.create-article",
        "summary": "Create Article",
        "description": "Creates an article in Craftboxx.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/craftboxx/latest/actions/create-article"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "currency": {
                    "type": "string",
                    "description": "The article currency."
                  },
                  "name": {
                    "type": "string",
                    "description": "The article name."
                  },
                  "unitPrice": {
                    "type": "number",
                    "description": "The article unit price."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "color": {
                            "type": "string",
                            "description": "Article color."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency code."
                          },
                          "dangerous_material": {
                            "type": "boolean",
                            "description": "Whether the article is dangerous material."
                          },
                          "first_line": {
                            "type": "string",
                            "description": "Primary display line."
                          },
                          "icon": {
                            "type": "string",
                            "description": "Article icon."
                          },
                          "id": {
                            "type": "number",
                            "description": "Article ID."
                          },
                          "interfaces": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Available interface flags."
                          },
                          "name": {
                            "type": "string",
                            "description": "Article name."
                          },
                          "planner_changelog_url": {
                            "type": "string",
                            "description": "Planner changelog URL."
                          },
                          "planner_delete_url": {
                            "type": "string",
                            "description": "Planner delete URL."
                          },
                          "planner_details_url": {
                            "type": "string",
                            "description": "Planner details URL."
                          },
                          "planner_edit_url": {
                            "type": "string",
                            "description": "Planner edit URL."
                          },
                          "unit": {
                            "type": "string",
                            "description": "Unit code."
                          },
                          "unit_price": {
                            "type": "number",
                            "description": "Unit price."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp."
                          },
                          "vat_included": {
                            "type": "string",
                            "description": "VAT included flag."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/craftboxx/latest/actions/create-assignment": {
      "post": {
        "operationId": "craftboxx.create-assignment",
        "summary": "Create Assignment",
        "description": "Creates an assignment in Craftboxx.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/craftboxx/latest/actions/create-assignment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "projectId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "end": {
                    "type": "string",
                    "description": "The assignment end timestamp."
                  },
                  "start": {
                    "type": "string",
                    "description": "The assignment start timestamp."
                  },
                  "title": {
                    "type": "string",
                    "description": "The assignment title."
                  },
                  "projectId": {
                    "type": "number",
                    "description": "The project ID for the assignment."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "duration": {
                            "type": "number",
                            "description": "Assignment duration in minutes."
                          },
                          "end": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End timestamp."
                          },
                          "first_line": {
                            "type": "string",
                            "description": "Primary display line."
                          },
                          "id": {
                            "type": "number",
                            "description": "Assignment ID."
                          },
                          "interfaces": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Available interface flags."
                          },
                          "planner_changelog_url": {
                            "type": "string",
                            "description": "Planner changelog URL."
                          },
                          "planner_delete_url": {
                            "type": "string",
                            "description": "Planner delete URL."
                          },
                          "planner_details_url": {
                            "type": "string",
                            "description": "Planner details URL."
                          },
                          "planner_edit_url": {
                            "type": "string",
                            "description": "Planner edit URL."
                          },
                          "project_id": {
                            "type": "number",
                            "description": "Project ID."
                          },
                          "second_line": {
                            "type": "string",
                            "description": "Secondary display line."
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Start timestamp."
                          },
                          "state": {
                            "type": "string",
                            "description": "Assignment state."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Assignment timezone."
                          },
                          "title": {
                            "type": "string",
                            "description": "Assignment title."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/craftboxx/latest/actions/create-customer": {
      "post": {
        "operationId": "craftboxx.create-customer",
        "summary": "Create Customer",
        "description": "Creates a customer in Craftboxx.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/craftboxx/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The customer name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "customer_number": {
                            "type": "string",
                            "description": "Customer number."
                          },
                          "first_line": {
                            "type": "string",
                            "description": "Primary display line."
                          },
                          "id": {
                            "type": "number",
                            "description": "Customer ID."
                          },
                          "info": {
                            "type": "string",
                            "description": "Additional customer info."
                          },
                          "interfaces": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Available interface flags."
                          },
                          "name": {
                            "type": "string",
                            "description": "Customer name."
                          },
                          "planner_changelog_url": {
                            "type": "string",
                            "description": "Planner changelog URL."
                          },
                          "planner_delete_url": {
                            "type": "string",
                            "description": "Planner delete URL."
                          },
                          "planner_details_url": {
                            "type": "string",
                            "description": "Planner details URL."
                          },
                          "planner_edit_url": {
                            "type": "string",
                            "description": "Planner edit URL."
                          },
                          "second_line": {
                            "type": "string",
                            "description": "Secondary display line."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/craftboxx/latest/actions/create-employee": {
      "post": {
        "operationId": "craftboxx.create-employee",
        "summary": "Create Employee",
        "description": "Creates an employee in Craftboxx.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/craftboxx/latest/actions/create-employee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName",
                  "lastName",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Employee first name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Employee last name."
                  },
                  "email": {
                    "type": "string",
                    "description": "The employee email address."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string",
                            "description": "Employee country."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "email": {
                            "type": "string",
                            "description": "Employee email address."
                          },
                          "first_line": {
                            "type": "string",
                            "description": "Primary display line."
                          },
                          "first_name": {
                            "type": "string",
                            "description": "Employee first name."
                          },
                          "full_name": {
                            "type": "string",
                            "description": "Employee full name."
                          },
                          "id": {
                            "type": "number",
                            "description": "Employee ID."
                          },
                          "inactive": {
                            "type": "boolean",
                            "description": "Whether the employee is inactive."
                          },
                          "interfaces": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Available interface flags."
                          },
                          "last_name": {
                            "type": "string",
                            "description": "Employee last name."
                          },
                          "locale": {
                            "type": "string",
                            "description": "Employee locale."
                          },
                          "planner_changelog_url": {
                            "type": "string",
                            "description": "Planner changelog URL."
                          },
                          "planner_delete_url": {
                            "type": "string",
                            "description": "Planner delete URL."
                          },
                          "planner_details_url": {
                            "type": "string",
                            "description": "Planner details URL."
                          },
                          "planner_edit_url": {
                            "type": "string",
                            "description": "Planner edit URL."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/craftboxx/latest/actions/create-project": {
      "post": {
        "operationId": "craftboxx.create-project",
        "summary": "Create Project",
        "description": "Creates a project in Craftboxx.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/craftboxx/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "customerId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "The project title."
                  },
                  "customerId": {
                    "type": "number",
                    "description": "The customer ID for the project."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "customer_id": {
                            "type": "number",
                            "description": "Associated customer ID."
                          },
                          "first_line": {
                            "type": "string",
                            "description": "Primary display line."
                          },
                          "id": {
                            "type": "number",
                            "description": "Project ID."
                          },
                          "interfaces": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Available interface flags."
                          },
                          "planner_changelog_url": {
                            "type": "string",
                            "description": "Planner changelog URL."
                          },
                          "planner_delete_url": {
                            "type": "string",
                            "description": "Planner delete URL."
                          },
                          "planner_details_url": {
                            "type": "string",
                            "description": "Planner details URL."
                          },
                          "planner_edit_url": {
                            "type": "string",
                            "description": "Planner edit URL."
                          },
                          "project_nr": {
                            "type": "string",
                            "description": "Project number."
                          },
                          "project_nr_reversed": {
                            "type": "string",
                            "description": "Reversed project number."
                          },
                          "second_line": {
                            "type": "string",
                            "description": "Secondary display line."
                          },
                          "title": {
                            "type": "string",
                            "description": "Project title."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/craftboxx/latest/actions/create-timesheet": {
      "post": {
        "operationId": "craftboxx.create-timesheet",
        "summary": "Create Timesheet",
        "description": "Creates a timesheet in Craftboxx.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/craftboxx/latest/actions/create-timesheet"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "employeeId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "employeeId": {
                    "type": "number",
                    "description": "The employee ID for the timesheet."
                  },
                  "end": {
                    "type": "string",
                    "description": "The timesheet end date or timestamp."
                  },
                  "start": {
                    "type": "string",
                    "description": "The timesheet start date or timestamp."
                  },
                  "workingTime": {
                    "type": "number",
                    "description": "The working time in minutes."
                  },
                  "breakTime": {
                    "type": "number",
                    "description": "The break time in minutes."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "break_time": {
                            "type": "number",
                            "description": "Break time in minutes."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "employee_id": {
                            "type": "number",
                            "description": "Employee ID."
                          },
                          "end": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End timestamp."
                          },
                          "first_line": {
                            "type": "string",
                            "description": "Primary display line."
                          },
                          "id": {
                            "type": "number",
                            "description": "Timesheet ID."
                          },
                          "interfaces": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Available interface flags."
                          },
                          "planner_changelog_url": {
                            "type": "string",
                            "description": "Planner changelog URL."
                          },
                          "planner_delete_url": {
                            "type": "string",
                            "description": "Planner delete URL."
                          },
                          "planner_details_url": {
                            "type": "string",
                            "description": "Planner details URL."
                          },
                          "planner_edit_url": {
                            "type": "string",
                            "description": "Planner edit URL."
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Start timestamp."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp."
                          },
                          "working_time": {
                            "type": "number",
                            "description": "Working time in minutes."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/craftboxx/latest/actions/get-article": {
      "get": {
        "operationId": "craftboxx.get-article",
        "summary": "Get Article",
        "description": "Returns a specific article from Craftboxx.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/craftboxx/latest/actions/get-article"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "articleId",
            "in": "query",
            "required": true,
            "description": "The Craftboxx article ID.",
            "schema": {
              "type": "number",
              "description": "The Craftboxx article ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "color": {
                            "type": "string",
                            "description": "Article color."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency code."
                          },
                          "dangerous_material": {
                            "type": "boolean",
                            "description": "Whether the article is dangerous material."
                          },
                          "first_line": {
                            "type": "string",
                            "description": "Primary display line."
                          },
                          "icon": {
                            "type": "string",
                            "description": "Article icon."
                          },
                          "id": {
                            "type": "number",
                            "description": "Article ID."
                          },
                          "interfaces": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Available interface flags."
                          },
                          "name": {
                            "type": "string",
                            "description": "Article name."
                          },
                          "planner_changelog_url": {
                            "type": "string",
                            "description": "Planner changelog URL."
                          },
                          "planner_delete_url": {
                            "type": "string",
                            "description": "Planner delete URL."
                          },
                          "planner_details_url": {
                            "type": "string",
                            "description": "Planner details URL."
                          },
                          "planner_edit_url": {
                            "type": "string",
                            "description": "Planner edit URL."
                          },
                          "unit": {
                            "type": "string",
                            "description": "Unit code."
                          },
                          "unit_price": {
                            "type": "number",
                            "description": "Unit price."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp."
                          },
                          "vat_included": {
                            "type": "string",
                            "description": "VAT included flag."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/craftboxx/latest/actions/get-assignment": {
      "get": {
        "operationId": "craftboxx.get-assignment",
        "summary": "Get Assignment",
        "description": "Returns a specific assignment from Craftboxx.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/craftboxx/latest/actions/get-assignment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignmentId",
            "in": "query",
            "required": true,
            "description": "The Craftboxx assignment ID.",
            "schema": {
              "type": "number",
              "description": "The Craftboxx assignment ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "duration": {
                            "type": "number",
                            "description": "Assignment duration in minutes."
                          },
                          "end": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End timestamp."
                          },
                          "first_line": {
                            "type": "string",
                            "description": "Primary display line."
                          },
                          "id": {
                            "type": "number",
                            "description": "Assignment ID."
                          },
                          "interfaces": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Available interface flags."
                          },
                          "planner_changelog_url": {
                            "type": "string",
                            "description": "Planner changelog URL."
                          },
                          "planner_delete_url": {
                            "type": "string",
                            "description": "Planner delete URL."
                          },
                          "planner_details_url": {
                            "type": "string",
                            "description": "Planner details URL."
                          },
                          "planner_edit_url": {
                            "type": "string",
                            "description": "Planner edit URL."
                          },
                          "project_id": {
                            "type": "number",
                            "description": "Project ID."
                          },
                          "second_line": {
                            "type": "string",
                            "description": "Secondary display line."
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Start timestamp."
                          },
                          "state": {
                            "type": "string",
                            "description": "Assignment state."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Assignment timezone."
                          },
                          "title": {
                            "type": "string",
                            "description": "Assignment title."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/craftboxx/latest/actions/get-customer": {
      "get": {
        "operationId": "craftboxx.get-customer",
        "summary": "Get Customer",
        "description": "Returns a specific customer from Craftboxx.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/craftboxx/latest/actions/get-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "description": "The Craftboxx customer ID.",
            "schema": {
              "type": "number",
              "description": "The Craftboxx customer ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "customer_number": {
                            "type": "string",
                            "description": "Customer number."
                          },
                          "first_line": {
                            "type": "string",
                            "description": "Primary display line."
                          },
                          "id": {
                            "type": "number",
                            "description": "Customer ID."
                          },
                          "info": {
                            "type": "string",
                            "description": "Additional customer info."
                          },
                          "interfaces": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Available interface flags."
                          },
                          "name": {
                            "type": "string",
                            "description": "Customer name."
                          },
                          "planner_changelog_url": {
                            "type": "string",
                            "description": "Planner changelog URL."
                          },
                          "planner_delete_url": {
                            "type": "string",
                            "description": "Planner delete URL."
                          },
                          "planner_details_url": {
                            "type": "string",
                            "description": "Planner details URL."
                          },
                          "planner_edit_url": {
                            "type": "string",
                            "description": "Planner edit URL."
                          },
                          "second_line": {
                            "type": "string",
                            "description": "Secondary display line."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/craftboxx/latest/actions/get-employee": {
      "get": {
        "operationId": "craftboxx.get-employee",
        "summary": "Get Employee",
        "description": "Returns a specific employee from Craftboxx.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/craftboxx/latest/actions/get-employee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employeeId",
            "in": "query",
            "required": true,
            "description": "The Craftboxx employee ID.",
            "schema": {
              "type": "number",
              "description": "The Craftboxx employee ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "Employee city"
                          },
                          "color": {
                            "type": "string",
                            "description": "Employee color"
                          },
                          "contrast_color": {
                            "type": "string",
                            "description": "Contrast color"
                          },
                          "country": {
                            "type": "string",
                            "description": "Employee country"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Employee creation timestamp"
                          },
                          "department": {
                            "type": "string",
                            "description": "Employee department"
                          },
                          "driver_license": {
                            "type": "boolean",
                            "description": "Whether the employee has a driver license"
                          },
                          "email": {
                            "type": "string",
                            "description": "Employee email address"
                          },
                          "first_line": {
                            "type": "string",
                            "description": "Primary display line"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "Employee first name"
                          },
                          "full_name": {
                            "type": "string",
                            "description": "Employee full name"
                          },
                          "group_id": {
                            "type": "number",
                            "description": "Employee group ID"
                          },
                          "holidays_overtake_balances": {
                            "type": "boolean",
                            "description": "Whether holiday balances overtake automatically"
                          },
[...]
