{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Nutshell Universal API",
    "version": "0.0.7",
    "description": "CRM for managing leads, contacts, companies, tasks, activities, notes, and related sales workflows in Nutshell."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/nutshell/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/nutshell/latest/actions/create-company": {
      "post": {
        "operationId": "nutshell.create-company",
        "summary": "Create Company",
        "description": "Creates a new company in Nutshell.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nutshell/latest/actions/create-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accounts[].name": {
                    "type": "string",
                    "description": "Name of the company."
                  },
                  "accounts[].description": {
                    "type": "string",
                    "description": "Description of the company."
                  },
                  "accounts[].emails[].value": {
                    "type": "string",
                    "description": "Email address for the company."
                  },
                  "accounts[].phones[].value": {
                    "type": "string",
                    "description": "Phone number for the company."
                  },
                  "accounts[].urls[].value": {
                    "type": "string",
                    "description": "Website URL for the company."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nutshell/latest/actions/create-contact": {
      "post": {
        "operationId": "nutshell.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in Nutshell.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nutshell/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contacts[].name": {
                    "type": "string",
                    "description": "Full name for the contact."
                  },
                  "contacts[].description": {
                    "type": "string",
                    "description": "Description to show under the contact name."
                  },
                  "contacts[].emails[].value": {
                    "type": "string",
                    "description": "Email address for the contact."
                  },
                  "contacts[].phones[].value.countryCode": {
                    "type": "string",
                    "description": "Country code for the contact phone number."
                  },
                  "contacts[].phones[].value.number": {
                    "type": "string",
                    "description": "Phone number digits for the contact."
                  },
                  "contacts[].links.accounts[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Company IDs to associate with the contact."
                  },
                  "contacts[].links.owner": {
                    "type": "string",
                    "description": "Owner user ID for the contact."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nutshell/latest/actions/create-lead": {
      "post": {
        "operationId": "nutshell.create-lead",
        "summary": "Create Lead",
        "description": "Creates a new lead in Nutshell.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nutshell/latest/actions/create-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "leads[].description": {
                    "type": "string",
                    "description": "Description for the lead."
                  },
                  "leads[].manualValue": {
                    "type": "string",
                    "description": "Manual value to assign to the lead."
                  },
                  "leads[].dueTime.timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Due time for the lead."
                  },
                  "leads[].links.accounts[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Company IDs to link to the lead."
                  },
                  "leads[].links.contacts[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Contact IDs to link to the lead."
                  },
                  "leads[].links.owner": {
                    "type": "string",
                    "description": "User ID to assign as the lead owner."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "anticipatedClosedTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "avatarUrl": {
                            "type": "string"
                          },
                          "closedTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "confidence": {
                            "type": "number"
                          },
                          "createdTime": {
                            "type": "object",
                            "properties": {
                              "absoluteLocalizedString": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "value": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "deletedTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string"
                          },
                          "dueTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "href": {
                            "type": "string"
                          },
                          "htmlUrl": {
                            "type": "string"
                          },
                          "htmlUrlPath": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "initials": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isCurrentUserWatching": {
                            "type": "boolean"
                          },
                          "isOverdue": {
                            "type": "boolean"
                          },
                          "lastContactedTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "accounts": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "contacts": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "creator": {
                                "type": "string"
                              },
                              "market": {
                                "type": "string"
                              },
                              "outcome": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "owner": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "stage": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "stageset": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "territory": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "overdueTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ownerType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pieState": {
                            "type": "string"
                          },
                          "priority": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "value": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "formatted": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nutshell/latest/actions/create-note": {
      "post": {
        "operationId": "nutshell.create-note",
        "summary": "Create Note",
        "description": "Creates a new note in Nutshell.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nutshell/latest/actions/create-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data.body": {
                    "type": "string",
                    "description": "Text to display in the note."
                  },
                  "data.links.parent": {
                    "type": "string",
                    "description": "Entity ID to attach the note to."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nutshell/latest/actions/create-task": {
      "post": {
        "operationId": "nutshell.create-task",
        "summary": "Create Task",
        "description": "Creates a new task in Nutshell.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nutshell/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Title of the task."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the task."
                  },
                  "dueTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Due time for the task."
                  },
                  "links.relatedEntity": {
                    "type": "string",
                    "description": "Entity ID to attach to the task."
                  },
                  "links.assignee": {
                    "type": "string",
                    "description": "User ID to assign to the task."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "completedTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creatorEntity": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deletedTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string"
                          },
                          "dueTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "href": {
                            "type": "string"
                          },
                          "htmlUrl": {
                            "type": "string"
                          },
                          "htmlUrlPath": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isAiGenerated": {
                            "type": "boolean"
                          },
                          "isCompleted": {
                            "type": "boolean"
                          },
                          "isOverdue": {
                            "type": "boolean"
                          },
                          "isRecurring": {
                            "type": "boolean"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "assignee": {
                                "type": "string"
                              },
                              "completer": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "creator": {
                                "type": "string"
                              },
                              "relatedEntity": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "recurringPeriod": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "title": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nutshell/latest/actions/get-company": {
      "get": {
        "operationId": "nutshell.get-company",
        "summary": "Get Company",
        "description": "Retrieves a company from Nutshell.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nutshell/latest/actions/get-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Nutshell account ID.",
            "schema": {
              "type": "string",
              "description": "The Nutshell account ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "isPrimary": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "object",
                                  "properties": {
                                    "address1": {
                                      "type": "string"
                                    },
                                    "address2": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "address3": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "city": {
                                      "type": "string"
                                    },
                                    "country": {
                                      "type": "string"
                                    },
                                    "location": {
                                      "type": "object",
                                      "properties": {
                                        "latitude": {
                                          "type": "number"
                                        },
                                        "longitude": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "locationAccuracy": {
                                      "type": "string"
                                    },
                                    "postalCode": {
                                      "type": "string"
                                    },
                                    "state": {
                                      "type": "string"
                                    },
                                    "timezone": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "avatarUrl": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string"
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "isPrimary": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "employeeCount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "href": {
                            "type": "string"
                          },
                          "htmlUrl": {
                            "type": "string"
                          },
                          "htmlUrlPath": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "initials": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "accountType": {
                                "type": "string"
                              },
                              "contacts": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "creator": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "followup": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "industry": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "mergedWith": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "origin": {
                                "type": "string"
                              },
                              "owner": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "recurringTask": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "territory": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "string"
                          },
                          "revenue": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "type": {
                            "type": "string"
                          },
                          "urls": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "isPrimary": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nutshell/latest/actions/get-contact": {
      "get": {
        "operationId": "nutshell.get-contact",
        "summary": "Get Contact",
        "description": "Retrieves a contact from Nutshell.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nutshell/latest/actions/get-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Nutshell contact ID.",
            "schema": {
              "type": "string",
              "description": "The Nutshell contact ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "isPrimary": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "object",
                                  "properties": {
                                    "address1": {
                                      "type": "string"
                                    },
                                    "address2": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "address3": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "city": {
                                      "type": "string"
                                    },
                                    "country": {
                                      "type": "string"
                                    },
                                    "location": {
                                      "type": "object",
                                      "properties": {
                                        "latitude": {
                                          "type": "number"
                                        },
                                        "longitude": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "locationAccuracy": {
                                      "type": "string"
                                    },
                                    "postalCode": {
                                      "type": "string"
                                    },
                                    "state": {
                                      "type": "string"
                                    },
                                    "timezone": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "avatarUrl": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string"
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "isPrimary": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "href": {
                            "type": "string"
                          },
                          "htmlUrl": {
                            "type": "string"
                          },
                          "htmlUrlPath": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "initials": {
                            "type": "string"
                          },
                          "jobTitle": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "accounts": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "creator": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "followup": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "mergedWith": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "origin": {
                                "type": "string"
                              },
                              "owner": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "recurringTask": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "territory": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "mcfxContactId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "urls": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "isPrimary": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nutshell/latest/actions/get-lead": {
      "get": {
        "operationId": "nutshell.get-lead",
        "summary": "Get Lead",
        "description": "Retrieves a lead from Nutshell.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nutshell/latest/actions/get-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Nutshell lead ID.",
            "schema": {
              "type": "string",
              "description": "The Nutshell lead ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nutshell/latest/actions/get-task": {
      "get": {
        "operationId": "nutshell.get-task",
        "summary": "Get Task",
        "description": "Retrieves a task from Nutshell.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nutshell/latest/actions/get-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Nutshell task ID.",
            "schema": {
              "type": "string",
              "description": "The Nutshell task ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nutshell/latest/actions/list-activities": {
      "get": {
        "operationId": "nutshell.list-activities",
        "summary": "List Activities",
        "description": "Retrieves activities from Nutshell.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nutshell/latest/actions/list-activities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search across activities.",
            "schema": {
              "type": "string",
              "description": "Search across activities."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of activities to return.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Maximum number of activities to return."
            }
          },
          {
            "name": "filter.activityType[]",
            "in": "query",
            "required": false,
            "description": "Filter activities by activity type.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              },
              "description": "Filter activities by activity type."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filter.status[]",
            "in": "query",
            "required": false,
            "description": "Filter activities by status.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter activities by status."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filter.participant[]",
            "in": "query",
            "required": false,
            "description": "Filter activities by participant.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter activities by participant."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filter.flagged",
            "in": "query",
            "required": false,
            "description": "Filter to flagged or unflagged activities.",
            "schema": {
              "type": "boolean",
              "description": "Filter to flagged or unflagged activities."
            }
          },
          {
            "name": "filter.isImportant",
            "in": "query",
            "required": false,
            "description": "Filter to important or non-important activities.",
            "schema": {
              "type": "boolean",
              "description": "Filter to important or non-important activities."
            }
          },
          {
            "name": "filter.leadPriority",
            "in": "query",
            "required": false,
            "description": "Filter activities by lead priority.",
            "schema": {
              "type": "string",
              "description": "Filter activities by lead priority."
            }
          },
          {
            "name": "filter.dateMin",
            "in": "query",
            "required": false,
            "description": "Return activities on or after this date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return activities on or after this date."
            }
          },
          {
            "name": "filter.dateMax",
            "in": "query",
            "required": false,
            "description": "Return activities on or before this date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return activities on or before this date."
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agenda": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "endTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "externalMeetingServiceType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "href": {
                            "type": "string"
                          },
                          "htmlUrl": {
                            "type": "string"
                          },
                          "htmlUrlPath": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isAllDay": {
                            "type": "boolean"
                          },
                          "isCancelled": {
                            "type": "boolean"
                          },
                          "isEditable": {
                            "type": "boolean"
                          },
                          "isFlagged": {
                            "type": "boolean"
                          },
                          "isLogged": {
                            "type": "boolean"
                          },
                          "isMediaLogged": {
                            "type": "boolean"
                          },
                          "isOverdue": {
                            "type": "boolean"
                          },
                          "isPrivate": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "activityType": {
                                "type": "string"
                              },
                              "contacts": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "creator": {
                                "type": "string"
                              },
                              "logger": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "logNote": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "loggedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "showTranscribeLoggingFlow": {
                            "type": "boolean"
                          },
                          "startTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "transcription": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nutshell/latest/actions/list-companies": {
      "get": {
        "operationId": "nutshell.list-companies",
        "summary": "List Companies",
        "description": "Retrieves companies from Nutshell.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nutshell/latest/actions/list-companies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search across companies.",
            "schema": {
              "type": "string",
              "description": "Search across companies."
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Filter companies by contact email address.",
            "schema": {
              "type": "string",
              "description": "Filter companies by contact email address."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
