{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "NetExplorer Universal API",
    "version": "0.0.4",
    "description": "Secure cloud file storage and collaboration for NetExplorer tenants, including folders, files, shares, upload links, archives, locks, and trash workflows."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/netExplorer/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/netExplorer/latest/actions/create-account-picture": {
      "post": {
        "operationId": "netExplorer.create-account-picture",
        "summary": "Update Account Picture",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/netExplorer/latest/actions/create-account-picture"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/netExplorer/latest/actions/create-alert": {
      "post": {
        "operationId": "netExplorer.create-alert",
        "summary": "Create Alert",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/netExplorer/latest/actions/create-alert"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "number",
                            "description": "Identifiant numérique unique de l'objet Email utilisé pour l'envoi de l'alerte."
                          },
                          "expirationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date d'expiration de l'alerte. Après cette date, l'alerte existera toujours, mais sera considérée comme inactive. Le champs vaut null si aucune date d'expiration n'a été définie."
                          },
                          "folderId": {
                            "type": "number",
                            "description": "Identifiant numérique unique du dossier."
                          },
                          "id": {
                            "type": "number",
                            "description": "Identifiant numérique unique de l'alerte."
                          },
                          "owner": {
                            "type": "string",
                            "description": "Nom complet de l'utilisateur ayant créé l'alerte."
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "Identifiant unique de l'utilisateur ayant créé l'alerte."
                          },
                          "target": {
                            "type": "string",
                            "description": "Nom complet de l'utilisateur cible, ou nom du groupe."
                          },
                          "targetId": {
                            "type": "number",
                            "description": "Identifiant unique de l'utilisateur ou du groupe alerté."
                          },
                          "targetIsgroup": {
                            "type": "boolean",
                            "description": "Indique si la cible est un utilisateur (true) ou un groupe (false)."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/netExplorer/latest/actions/create-annotation": {
      "post": {
        "operationId": "netExplorer.create-annotation",
        "summary": "Create Annotation",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/netExplorer/latest/actions/create-annotation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conversation": {
                            "type": "number",
                            "description": "Identifiant unique de l'annotation dont ce message est la réponse."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date à laquelle l'annotation a été créé."
                          },
                          "id": {
                            "type": "number",
                            "description": "Identifiant numérique unique de l'annotation."
                          },
                          "owner": {
                            "type": "string",
                            "description": "Nom complet de l'auteur de l'annotation."
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "Identifiant unique de l'auteur de l'annotation."
                          },
                          "targetId": {
                            "type": "number",
                            "description": "Identifiant numérique unique du fichier ou du dossier."
                          },
                          "targetType": {
                            "type": "string",
                            "description": "Type d'objet rattaché. Vaut \"file\" ou \"folder\"."
                          },
                          "text": {
                            "type": "string",
                            "description": "Contenu textuel de l'annotation"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/netExplorer/latest/actions/create-archive-folder": {
      "post": {
        "operationId": "netExplorer.create-archive-folder",
        "summary": "Create Folder",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/netExplorer/latest/actions/create-archive-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "canAdminAlerts": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut gérer les alertes emails sur le dossier."
                          },
                          "canAdminRights": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut gérer les droits sur le dossier."
                          },
                          "canDelete": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut supprimer des documents présents dans ce dossier."
                          },
                          "canDlink": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur peut générer un lien de téléchargement sur ce dossier, en prenant en compte les droits d'accès et les informations de configuration de la plateforme."
                          },
                          "canDownload": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut télécharger des documents présents dans ce dossier."
                          },
                          "canEdit": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut modifier des documents présents dans ce dossier."
                          },
                          "canRead": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut avoir un aperçu des documents présents dans ce dossier."
                          },
                          "canShare": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut partager des documents présents dans ce dossier avec des personnes extérieures."
                          },
                          "canUlink": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur peut générer un lien de dépôt sur ce dossier, en prenant en compte les droits d'accès et les informations de configuration de la plateforme."
                          },
                          "canWrite": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut créer de nouveaux fichiers dans ce dossier."
                          },
                          "content": {
                            "type": "string",
                            "description": "Contient 2 entrées, \"files\" et \"folders\", contenant les listes de fichiers et dossiers contenu dans le dossier courant. Ne sera retourné que si le listing récursif est demandé et que le niveau de profondeur indiqué n'a pas été atteint.{ \"files\": [ // Objets Fichier { \"id\": 1, \"name\": [ ... ] }, ... ], \"folders\": [ // Objets Dossier { \"id\": 1, \"name\": [ ... ] }, ... ] }"
                          },
                          "creation": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date de création du dossier."
                          },
                          "id": {
                            "type": "number",
                            "description": "Identifiant numérique unique du dossier."
                          },
                          "modification": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date de dernière modification du contenu du dossier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Nom du dossier."
                          },
                          "nbAnnotations": {
                            "type": "number",
                            "description": "Nombre d'annotations sur le dossier. Valeur présente uniquement si > 0."
                          },
                          "nbDFiles": {
                            "type": "number",
                            "description": "Nombre de fichiers présents, sans prendre en compte toute l'arborescence inférieure."
                          },
                          "nbDFolders": {
                            "type": "number",
                            "description": "Nombre de sous-dossiers présents, sans prendre en compte toute l'arborescence inférieure."
                          },
                          "nbFiles": {
                            "type": "number",
                            "description": "Nombre total de fichiers (totalité de l'arborescence)."
                          },
                          "nbFolders": {
                            "type": "number",
                            "description": "Nombre total de sous-dossiers (totalité de l'arborescence)."
                          },
                          "nbParticipants": {
                            "type": "number",
                            "description": "Nombre de participants invités sur le dossier. Valeur présente uniquement si > 0."
                          },
                          "nbUnreadAnnotations": {
                            "type": "number",
                            "description": "Nombre d'annotations non-lues sur le dossier. Valeur présente uniquement si > 0."
                          },
                          "owner": {
                            "type": "string",
                            "description": "Nom complet de l'utilisateur propriétaire du dossier."
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "Identifiant unique de l'utilisateur propriétaire du dossier."
                          },
                          "parentId": {
                            "type": "number",
                            "description": "Identifiant numérique unique du dossier parent."
                          },
                          "path": {
                            "type": "string",
                            "description": "Chemin d'accès au dossier, composé des identifiants uniques des dossiers parents."
                          },
                          "pathName": {
                            "type": "string",
                            "description": "Chemin d'accès au dossier, composé des noms des dossiers parents, limité par les droits d'accès de l'utilisateur."
                          },
                          "purgeFrequency": {
                            "type": "number",
                            "description": "Délai après lequel les fichiers sont automatiquement supprimés du dossier. 0 = désactivé, sinon un nombre de jours"
                          },
                          "quota": {
                            "type": "number",
                            "description": "Quota d'espace disque appliqué au dossier. 0 = illimité, -1 = Hériter du dossier parent, sinon un nombre d'octets."
                          },
                          "selfAlert": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant est alerté des modifications sur le dossier. Si l'option self_alert de la configuration n'est pas activée, ce champ sera totalement absent des réponses."
                          },
                          "shared": {
                            "type": "boolean",
                            "description": "Indique si le dossier est un dossier d'un espace privé qui a été partagé."
                          },
                          "size": {
                            "type": "number",
                            "description": "Taille en octets du dossier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/netExplorer/latest/actions/create-config-smtp-test": {
      "post": {
        "operationId": "netExplorer.create-config-smtp-test",
        "summary": "Create Test",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/netExplorer/latest/actions/create-config-smtp-test"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/netExplorer/latest/actions/create-delegate": {
      "post": {
        "operationId": "netExplorer.create-delegate",
        "summary": "Create Delegate",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/netExplorer/latest/actions/create-delegate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Contenu de l'email. Texte ou HTML accepté."
                          },
                          "id": {
                            "type": "number",
                            "description": "Identifiant numérique unique de l'email."
                          },
                          "object": {
                            "type": "string",
                            "description": "Objet de l'email."
                          },
                          "type": {
                            "type": "string",
                            "description": "Enumération pouvant prendre les valeurs suivantes: ValeurUtilisation EM_TE_DEFAUTUtilisation interne Email par défaut de NetExplorer."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/netExplorer/latest/actions/create-email": {
      "post": {
        "operationId": "netExplorer.create-email",
        "summary": "Create Email",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/netExplorer/latest/actions/create-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/netExplorer/latest/actions/create-file": {
      "post": {
        "operationId": "netExplorer.create-file",
        "summary": "Create File",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/netExplorer/latest/actions/create-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "canDelete": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut supprimer le fichier."
                          },
                          "canDownload": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut télécharger le fichier."
                          },
                          "canEdit": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut modifier une version existante du fichier."
                          },
                          "canShare": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut partager le fichier vers l'exterieur."
                          },
                          "canWrite": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut créer de nouvelles versions du fichier."
                          },
                          "creation": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date de création de la version courante du fichier."
                          },
                          "downloadToken": {
                            "type": "string",
                            "description": "Token d'accès pour le téléchargement du fichier."
                          },
                          "fileType": {
                            "type": "string",
                            "description": "Type d'aperçu du fichier. Peut valoir image, document ou video si l'aperçu est disponible pour ce fichier."
                          },
                          "guid": {
                            "type": "string",
                            "description": "Identifiant global unique du fichier (GUID) du fichier."
                          },
                          "hash": {
                            "type": "string",
                            "description": "Hash MD5 du fichier."
                          },
                          "id": {
                            "type": "number",
                            "description": "Identifiant numérique unique du fichier (version)."
                          },
                          "lock": {
                            "type": "string",
                            "description": "Contient les informations sur le verrou actuellement en place, s'il y en a un. Sinon, vaut null."
                          },
                          "meta": {
                            "type": "string",
                            "description": "Contient des méta-données. Le tableau a le format suivant: { \"author\": \"Luc MARCHAND\", // Auteur du document \"creator\": \"LibreOffice\", // Logiciel de traitement de texte utilisé \"date\": \"Sun Sep 1 00:00:00 2013\", // Date de dernière édition du document \"keywords\": \"mots clés document\", // Mots clés \"pages\": 10, // Nombre de pages \"producer\": \"GhostScript\", // Logiciel ayant produit le fichier \"subject\": \"Détail des ventes pour l'année 2013\", // Sujet détaillé du document \"title\": \"Rapport ventes 2013\" // Titre du document }"
                          },
                          "modification": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date de dernière modification de la version la plus récente du fichier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Nom du fichier."
                          },
                          "nbAnnotations": {
                            "type": "number",
                            "description": "Nombre d'annotations sur le fichier. Valeur présente uniquement si > 0."
                          },
                          "nbUnreadAnnotations": {
                            "type": "number",
                            "description": "Nombre d'annotations non-lues sur le fichier. Valeur présente uniquement si > 0"
                          },
                          "nbVersions": {
                            "type": "number",
                            "description": "Nombre de versions existantes pour ce fichier. Valeur présente uniquement si > 1."
                          },
                          "owner": {
                            "type": "string",
                            "description": "Nom complet de l'utilisateur propriétaire du fichier."
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "Identifiant unique de l'utilisateur propriétaire du fichier."
                          },
                          "parentId": {
                            "type": "number",
                            "description": "Identifiant numérique unique du dossier parent."
                          },
                          "path": {
                            "type": "string",
                            "description": "Chemin d'accès au fichier, composé des identifiants uniques des dossiers parents."
                          },
                          "thumbToken": {
                            "type": "string",
                            "description": "Token d'accès aux miniatures de ce fichier si le format est supporté."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/netExplorer/latest/actions/create-file-tus": {
      "post": {
        "operationId": "netExplorer.create-file-tus",
        "summary": "Create Tus Upload",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/netExplorer/latest/actions/create-file-tus"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "canDelete": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut supprimer le fichier."
                          },
                          "canDownload": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut télécharger le fichier."
                          },
                          "canEdit": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut modifier une version existante du fichier."
                          },
                          "canShare": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut partager le fichier vers l'exterieur."
                          },
                          "canWrite": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut créer de nouvelles versions du fichier."
                          },
                          "creation": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date de création de la version courante du fichier."
                          },
                          "downloadToken": {
                            "type": "string",
                            "description": "Token d'accès pour le téléchargement du fichier."
                          },
                          "fileType": {
                            "type": "string",
                            "description": "Type d'aperçu du fichier. Peut valoir image, document ou video si l'aperçu est disponible pour ce fichier."
                          },
                          "guid": {
                            "type": "string",
                            "description": "Identifiant global unique du fichier (GUID) du fichier."
                          },
                          "hash": {
                            "type": "string",
                            "description": "Hash MD5 du fichier."
                          },
                          "id": {
                            "type": "number",
                            "description": "Identifiant numérique unique du fichier (version)."
                          },
                          "lock": {
                            "type": "string",
                            "description": "Contient les informations sur le verrou actuellement en place, s'il y en a un. Sinon, vaut null."
                          },
                          "meta": {
                            "type": "string",
                            "description": "Contient des méta-données. Le tableau a le format suivant: { \"author\": \"Luc MARCHAND\", // Auteur du document \"creator\": \"LibreOffice\", // Logiciel de traitement de texte utilisé \"date\": \"Sun Sep 1 00:00:00 2013\", // Date de dernière édition du document \"keywords\": \"mots clés document\", // Mots clés \"pages\": 10, // Nombre de pages \"producer\": \"GhostScript\", // Logiciel ayant produit le fichier \"subject\": \"Détail des ventes pour l'année 2013\", // Sujet détaillé du document \"title\": \"Rapport ventes 2013\" // Titre du document }"
                          },
                          "modification": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date de dernière modification de la version la plus récente du fichier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Nom du fichier."
                          },
                          "nbAnnotations": {
                            "type": "number",
                            "description": "Nombre d'annotations sur le fichier. Valeur présente uniquement si > 0."
                          },
                          "nbUnreadAnnotations": {
                            "type": "number",
                            "description": "Nombre d'annotations non-lues sur le fichier. Valeur présente uniquement si > 0"
                          },
                          "nbVersions": {
                            "type": "number",
                            "description": "Nombre de versions existantes pour ce fichier. Valeur présente uniquement si > 1."
                          },
                          "owner": {
                            "type": "string",
                            "description": "Nom complet de l'utilisateur propriétaire du fichier."
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "Identifiant unique de l'utilisateur propriétaire du fichier."
                          },
                          "parentId": {
                            "type": "number",
                            "description": "Identifiant numérique unique du dossier parent."
                          },
                          "path": {
                            "type": "string",
                            "description": "Chemin d'accès au fichier, composé des identifiants uniques des dossiers parents."
                          },
                          "thumbToken": {
                            "type": "string",
                            "description": "Token d'accès aux miniatures de ce fichier si le format est supporté."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/netExplorer/latest/actions/create-file-upload": {
      "post": {
        "operationId": "netExplorer.create-file-upload",
        "summary": "Upload File",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/netExplorer/latest/actions/create-file-upload"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "canDelete": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut supprimer le fichier."
                          },
                          "canDownload": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut télécharger le fichier."
                          },
                          "canEdit": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut modifier une version existante du fichier."
                          },
                          "canShare": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut partager le fichier vers l'exterieur."
                          },
                          "canWrite": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut créer de nouvelles versions du fichier."
                          },
                          "creation": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date de création de la version courante du fichier."
                          },
                          "downloadToken": {
                            "type": "string",
                            "description": "Token d'accès pour le téléchargement du fichier."
                          },
                          "fileType": {
                            "type": "string",
                            "description": "Type d'aperçu du fichier. Peut valoir image, document ou video si l'aperçu est disponible pour ce fichier."
                          },
                          "guid": {
                            "type": "string",
                            "description": "Identifiant global unique du fichier (GUID) du fichier."
                          },
                          "hash": {
                            "type": "string",
                            "description": "Hash MD5 du fichier."
                          },
                          "id": {
                            "type": "number",
                            "description": "Identifiant numérique unique du fichier (version)."
                          },
                          "lock": {
                            "type": "string",
                            "description": "Contient les informations sur le verrou actuellement en place, s'il y en a un. Sinon, vaut null."
                          },
                          "meta": {
                            "type": "string",
                            "description": "Contient des méta-données. Le tableau a le format suivant: { \"author\": \"Luc MARCHAND\", // Auteur du document \"creator\": \"LibreOffice\", // Logiciel de traitement de texte utilisé \"date\": \"Sun Sep 1 00:00:00 2013\", // Date de dernière édition du document \"keywords\": \"mots clés document\", // Mots clés \"pages\": 10, // Nombre de pages \"producer\": \"GhostScript\", // Logiciel ayant produit le fichier \"subject\": \"Détail des ventes pour l'année 2013\", // Sujet détaillé du document \"title\": \"Rapport ventes 2013\" // Titre du document }"
                          },
                          "modification": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date de dernière modification de la version la plus récente du fichier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Nom du fichier."
                          },
                          "nbAnnotations": {
                            "type": "number",
                            "description": "Nombre d'annotations sur le fichier. Valeur présente uniquement si > 0."
                          },
                          "nbUnreadAnnotations": {
                            "type": "number",
                            "description": "Nombre d'annotations non-lues sur le fichier. Valeur présente uniquement si > 0"
                          },
                          "nbVersions": {
                            "type": "number",
                            "description": "Nombre de versions existantes pour ce fichier. Valeur présente uniquement si > 1."
                          },
                          "owner": {
                            "type": "string",
                            "description": "Nom complet de l'utilisateur propriétaire du fichier."
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "Identifiant unique de l'utilisateur propriétaire du fichier."
                          },
                          "parentId": {
                            "type": "number",
                            "description": "Identifiant numérique unique du dossier parent."
                          },
                          "path": {
                            "type": "string",
                            "description": "Chemin d'accès au fichier, composé des identifiants uniques des dossiers parents."
                          },
                          "thumbToken": {
                            "type": "string",
                            "description": "Token d'accès aux miniatures de ce fichier si le format est supporté."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/netExplorer/latest/actions/create-folder": {
      "post": {
        "operationId": "netExplorer.create-folder",
        "summary": "Create Folder",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/netExplorer/latest/actions/create-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "canAdminAlerts": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut gérer les alertes emails sur le dossier."
                          },
                          "canAdminRights": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut gérer les droits sur le dossier."
                          },
                          "canDelete": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut supprimer des documents présents dans ce dossier."
                          },
                          "canDlink": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur peut générer un lien de téléchargement sur ce dossier, en prenant en compte les droits d'accès et les informations de configuration de la plateforme."
                          },
                          "canDownload": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut télécharger des documents présents dans ce dossier."
                          },
                          "canEdit": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut modifier des documents présents dans ce dossier."
                          },
                          "canRead": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut avoir un aperçu des documents présents dans ce dossier."
                          },
                          "canShare": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut partager des documents présents dans ce dossier avec des personnes extérieures."
                          },
                          "canUlink": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur peut générer un lien de dépôt sur ce dossier, en prenant en compte les droits d'accès et les informations de configuration de la plateforme."
                          },
                          "canWrite": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant peut créer de nouveaux fichiers dans ce dossier."
                          },
                          "content": {
                            "type": "string",
                            "description": "Contient 2 entrées, \"files\" et \"folders\", contenant les listes de fichiers et dossiers contenu dans le dossier courant. Ne sera retourné que si le listing récursif est demandé et que le niveau de profondeur indiqué n'a pas été atteint.{ \"files\": [ // Objets Fichier { \"id\": 1, \"name\": [ ... ] }, ... ], \"folders\": [ // Objets Dossier { \"id\": 1, \"name\": [ ... ] }, ... ] }"
                          },
                          "creation": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date de création du dossier."
                          },
                          "id": {
                            "type": "number",
                            "description": "Identifiant numérique unique du dossier."
                          },
                          "modification": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date de dernière modification du contenu du dossier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Nom du dossier."
                          },
                          "nbAnnotations": {
                            "type": "number",
                            "description": "Nombre d'annotations sur le dossier. Valeur présente uniquement si > 0."
                          },
                          "nbDFiles": {
                            "type": "number",
                            "description": "Nombre de fichiers présents, sans prendre en compte toute l'arborescence inférieure."
                          },
                          "nbDFolders": {
                            "type": "number",
                            "description": "Nombre de sous-dossiers présents, sans prendre en compte toute l'arborescence inférieure."
                          },
                          "nbFiles": {
                            "type": "number",
                            "description": "Nombre total de fichiers (totalité de l'arborescence)."
                          },
                          "nbFolders": {
                            "type": "number",
                            "description": "Nombre total de sous-dossiers (totalité de l'arborescence)."
                          },
                          "nbParticipants": {
                            "type": "number",
                            "description": "Nombre de participants invités sur le dossier. Valeur présente uniquement si > 0."
                          },
                          "nbUnreadAnnotations": {
                            "type": "number",
                            "description": "Nombre d'annotations non-lues sur le dossier. Valeur présente uniquement si > 0."
                          },
                          "owner": {
                            "type": "string",
                            "description": "Nom complet de l'utilisateur propriétaire du dossier."
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "Identifiant unique de l'utilisateur propriétaire du dossier."
                          },
                          "parentId": {
                            "type": "number",
                            "description": "Identifiant numérique unique du dossier parent."
                          },
                          "path": {
                            "type": "string",
                            "description": "Chemin d'accès au dossier, composé des identifiants uniques des dossiers parents."
                          },
                          "pathName": {
                            "type": "string",
                            "description": "Chemin d'accès au dossier, composé des noms des dossiers parents, limité par les droits d'accès de l'utilisateur."
                          },
                          "purgeFrequency": {
                            "type": "number",
                            "description": "Délai après lequel les fichiers sont automatiquement supprimés du dossier. 0 = désactivé, sinon un nombre de jours"
                          },
                          "quota": {
                            "type": "number",
                            "description": "Quota d'espace disque appliqué au dossier. 0 = illimité, -1 = Hériter du dossier parent, sinon un nombre d'octets."
                          },
                          "selfAlert": {
                            "type": "boolean",
                            "description": "Indique si l'utilisateur courant est alerté des modifications sur le dossier. Si l'option self_alert de la configuration n'est pas activée, ce champ sera totalement absent des réponses."
                          },
                          "shared": {
                            "type": "boolean",
                            "description": "Indique si le dossier est un dossier d'un espace privé qui a été partagé."
                          },
                          "size": {
                            "type": "number",
                            "description": "Taille en octets du dossier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/netExplorer/latest/actions/create-group": {
      "post": {
        "operationId": "netExplorer.create-group",
        "summary": "Create Group",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/netExplorer/latest/actions/create-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
[...]
