{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SupportBee Universal API",
    "version": "0.0.9",
    "description": "SupportBee is a customer support help desk and shared inbox platform for managing tickets, replies, comments, teams, labels, and inbox workflows."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/supportBee/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/supportBee/latest/actions/add-label-to-ticket": {
      "put": {
        "operationId": "supportBee.add-label-to-ticket",
        "summary": "Add Label to Ticket",
        "description": "Adds a label to a SupportBee ticket.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/supportBee/latest/actions/add-label-to-ticket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "ticketId",
                  "labelName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "ticketId": {
                    "type": "number",
                    "description": "SupportBee ticket ID."
                  },
                  "labelName": {
                    "type": "string",
                    "description": "Label name to attach to the ticket."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "label": {
                                "type": "string"
                              },
                              "ticket": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/supportBee/latest/actions/archive-ticket": {
      "put": {
        "operationId": "supportBee.archive-ticket",
        "summary": "Archive Ticket",
        "description": "Archives a ticket in SupportBee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/supportBee/latest/actions/archive-ticket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
                    "description": "SupportBee ticket ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/supportBee/latest/actions/assign-ticket-to-team": {
      "put": {
        "operationId": "supportBee.assign-ticket-to-team",
        "summary": "Assign Ticket to Team",
        "description": "Assigns a SupportBee ticket to a team.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/supportBee/latest/actions/assign-ticket-to-team"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "teamAssignment.teamId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
                    "description": "SupportBee ticket ID."
                  },
                  "teamAssignment.teamId": {
                    "type": "number",
                    "description": "SupportBee team ID to assign."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "teamAssignment": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "assignee": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "team": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "id": {
                                        "type": "number"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "picture": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "thumb128": {
                                            "type": "string"
                                          },
                                          "thumb20": {
                                            "type": "string"
                                          },
                                          "thumb24": {
                                            "type": "string"
                                          },
                                          "thumb256": {
                                            "type": "string"
                                          },
                                          "thumb32": {
                                            "type": "string"
                                          },
                                          "thumb48": {
                                            "type": "string"
                                          },
                                          "thumb64": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "ticket": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/supportBee/latest/actions/assign-ticket-to-user": {
      "put": {
        "operationId": "supportBee.assign-ticket-to-user",
        "summary": "Assign Ticket to User",
        "description": "Assigns a SupportBee ticket to a user.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/supportBee/latest/actions/assign-ticket-to-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "userAssignment.userId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
                    "description": "SupportBee ticket ID."
                  },
                  "userAssignment.userId": {
                    "type": "number",
                    "description": "SupportBee user ID to assign."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userAssignment": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "assignee": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "user": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "agent": {
                                        "type": "boolean"
                                      },
                                      "canMembersAccessGroupTickets": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "email": {
                                        "type": "string"
                                      },
                                      "emailDomains": {
                                        "type": "array",
                                        "items": {
                                          "type": "array",
                                          "items": {}
                                        }
                                      },
                                      "firstName": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "number"
                                      },
                                      "lastName": {
                                        "type": "string"
                                      },
                                      "membersCount": {
                                        "type": "number"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "picture": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "thumb128": {
                                            "type": "string"
                                          },
                                          "thumb20": {
                                            "type": "string"
                                          },
                                          "thumb24": {
                                            "type": "string"
                                          },
                                          "thumb32": {
                                            "type": "string"
                                          },
                                          "thumb48": {
                                            "type": "string"
                                          },
                                          "thumb64": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "role": {
                                        "type": "string"
                                      },
                                      "twoFactorAuthenticationEnabled": {
                                        "type": "boolean"
                                      },
                                      "type": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "ticket": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/supportBee/latest/actions/create-comment": {
      "post": {
        "operationId": "supportBee.create-comment",
        "summary": "Create Comment",
        "description": "Creates a comment on a SupportBee ticket.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/supportBee/latest/actions/create-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "comment.content.text"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
                    "description": "SupportBee ticket ID."
                  },
                  "comment.content.text": {
                    "type": "string",
                    "description": "Plain-text internal comment body."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "commenter": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "agent": {
                                    "type": "boolean"
                                  },
                                  "canMembersAccessGroupTickets": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "emailDomains": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {}
                                    }
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "membersCount": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "picture": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "thumb128": {
                                        "type": "string"
                                      },
                                      "thumb20": {
                                        "type": "string"
                                      },
                                      "thumb24": {
                                        "type": "string"
                                      },
                                      "thumb32": {
                                        "type": "string"
                                      },
                                      "thumb48": {
                                        "type": "string"
                                      },
                                      "thumb64": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "role": {
                                    "type": "string"
                                  },
                                  "twoFactorAuthenticationEnabled": {
                                    "type": "boolean"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "content": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "attachments": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {}
                                    }
                                  },
                                  "html": {
                                    "type": "string"
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "truncated": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "merged": {
                                "type": "boolean"
                              },
                              "ticket": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "agentRepliesCount": {
                                    "type": "number"
                                  },
                                  "commentsCount": {
                                    "type": "number"
                                  },
                                  "repliesCount": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/supportBee/latest/actions/create-reply": {
      "post": {
        "operationId": "supportBee.create-reply",
        "summary": "Create Reply",
        "description": "Creates a reply on a SupportBee ticket.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/supportBee/latest/actions/create-reply"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "reply.content.text"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
                    "description": "SupportBee ticket ID."
                  },
                  "reply.content.text": {
                    "type": "string",
                    "description": "Plain-text reply body."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "reply": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "attachmentsCount": {
                                "type": "number"
                              },
                              "bcc": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "cc": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "content": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "attachments": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {}
                                    }
                                  },
                                  "html": {
                                    "type": "string"
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "truncated": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "historicalImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "id": {
                                "type": "number"
                              },
                              "merged": {
                                "type": "boolean"
                              },
                              "replier": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "agent": {
                                    "type": "boolean"
                                  },
                                  "canMembersAccessGroupTickets": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "emailDomains": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {}
                                    }
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "membersCount": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "picture": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "thumb128": {
                                        "type": "string"
                                      },
                                      "thumb20": {
                                        "type": "string"
                                      },
                                      "thumb24": {
                                        "type": "string"
                                      },
                                      "thumb32": {
                                        "type": "string"
                                      },
                                      "thumb48": {
                                        "type": "string"
                                      },
                                      "thumb64": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "role": {
                                    "type": "string"
                                  },
                                  "twoFactorAuthenticationEnabled": {
                                    "type": "boolean"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "summary": {
                                "type": "string"
                              },
                              "ticket": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "agentRepliesCount": {
                                    "type": "number"
                                  },
                                  "commentsCount": {
                                    "type": "number"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "repliesCount": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/supportBee/latest/actions/create-ticket": {
      "post": {
        "operationId": "supportBee.create-ticket",
        "summary": "Create Ticket",
        "description": "Creates a new ticket in SupportBee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/supportBee/latest/actions/create-ticket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "ticket.subject",
                  "ticket.requesterEmail",
                  "ticket.content.text"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "ticket.subject": {
                    "type": "string",
                    "description": "Ticket subject line."
                  },
                  "ticket.requesterName": {
                    "type": "string",
                    "description": "Requester display name."
                  },
                  "ticket.requesterEmail": {
                    "type": "string",
                    "description": "Requester email address."
                  },
                  "ticket.notifyRequester": {
                    "type": "boolean",
                    "description": "Whether to notify the requester on create."
                  },
                  "ticket.content.text": {
                    "type": "string",
                    "description": "Plain-text ticket body."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ticket": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "agentRepliesCount": {
                                "type": "number"
                              },
                              "archived": {
                                "type": "boolean"
                              },
                              "attachmentsCount": {
                                "type": "number"
                              },
                              "bcc": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "cc": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "commentsCount": {
                                "type": "number"
                              },
                              "content": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "attachments": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {}
                                    }
                                  },
                                  "html": {
                                    "type": "string"
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "truncated": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "currentTeamAssignee": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "currentUserAssignee": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "customerRating": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "draft": {
                                "type": "boolean"
                              },
                              "historicalImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "id": {
                                "type": "number"
                              },
                              "labels": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "lastActivityAt": {
                                "type": "string"
                              },
                              "lastReplyAt": {
                                "type": "string"
                              },
                              "notifyRequester": {
                                "type": "boolean"
                              },
                              "private": {
                                "type": "boolean"
                              },
                              "repliesCount": {
                                "type": "number"
                              },
                              "requester": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "agent": {
                                    "type": "boolean"
                                  },
                                  "canMembersAccessGroupTickets": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "emailDomains": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {}
                                    }
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "membersCount": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "picture": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "thumb128": {
                                        "type": "string"
                                      },
                                      "thumb20": {
                                        "type": "string"
                                      },
                                      "thumb24": {
                                        "type": "string"
                                      },
                                      "thumb32": {
                                        "type": "string"
                                      },
                                      "thumb48": {
                                        "type": "string"
                                      },
                                      "thumb64": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "role": {
                                    "type": "string"
                                  },
                                  "twoFactorAuthenticationEnabled": {
                                    "type": "boolean"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "snoozed": {
                                "type": "boolean"
                              },
                              "snoozedUntil": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "source": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "web": {
                                    "type": "string"
                                  }
                                }
                              },
                              "spam": {
                                "type": "boolean"
                              },
                              "subject": {
                                "type": "string"
                              },
                              "submitter": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "agent": {
                                    "type": "boolean"
                                  },
                                  "canMembersAccessGroupTickets": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "emailDomains": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {}
                                    }
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "membersCount": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "picture": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "thumb128": {
                                        "type": "string"
                                      },
                                      "thumb20": {
                                        "type": "string"
                                      },
                                      "thumb24": {
                                        "type": "string"
                                      },
                                      "thumb32": {
                                        "type": "string"
                                      },
                                      "thumb48": {
                                        "type": "string"
                                      },
                                      "thumb64": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "role": {
                                    "type": "string"
                                  },
                                  "twoFactorAuthenticationEnabled": {
                                    "type": "boolean"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "summary": {
                                "type": "string"
                              },
                              "trash": {
                                "type": "boolean"
                              },
                              "unanswered": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/supportBee/latest/actions/get-ticket": {
      "get": {
        "operationId": "supportBee.get-ticket",
        "summary": "Get Ticket",
        "description": "Retrieves a ticket from SupportBee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/supportBee/latest/actions/get-ticket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "SupportBee ticket ID.",
            "schema": {
              "type": "number",
              "description": "SupportBee ticket ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ticket": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "agentRepliesCount": {
                                "type": "number"
                              },
                              "archived": {
                                "type": "boolean"
                              },
                              "attachmentsCount": {
                                "type": "number"
                              },
                              "bcc": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "cc": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "commentsCount": {
                                "type": "number"
                              },
                              "content": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "attachments": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {}
                                    }
                                  },
                                  "html": {
                                    "type": "string"
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "truncated": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "currentTeamAssignee": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "currentUserAssignee": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "customerRating": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "draft": {
                                "type": "boolean"
                              },
                              "historicalImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "id": {
                                "type": "number"
                              },
                              "labels": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "lastActivityAt": {
                                "type": "string"
                              },
                              "lastReplyAt": {
                                "type": "string"
                              },
                              "notifyRequester": {
                                "type": "boolean"
                              },
                              "private": {
                                "type": "boolean"
                              },
                              "repliesCount": {
                                "type": "number"
                              },
                              "requester": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "agent": {
                                    "type": "boolean"
                                  },
                                  "canMembersAccessGroupTickets": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "emailDomains": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {}
                                    }
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "lastName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "membersCount": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "picture": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "thumb128": {
                                        "type": "string"
                                      },
                                      "thumb20": {
                                        "type": "string"
                                      },
                                      "thumb24": {
                                        "type": "string"
                                      },
                                      "thumb32": {
                                        "type": "string"
                                      },
                                      "thumb48": {
                                        "type": "string"
                                      },
                                      "thumb64": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "role": {
                                    "type": "string"
                                  },
                                  "twoFactorAuthenticationEnabled": {
                                    "type": "boolean"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "snoozed": {
                                "type": "boolean"
                              },
                              "snoozedUntil": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "source": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "web": {
                                    "type": "string"
                                  }
                                }
                              },
                              "spam": {
                                "type": "boolean"
                              },
                              "subject": {
                                "type": "string"
                              },
                              "submitter": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "agent": {
                                    "type": "boolean"
                                  },
                                  "canMembersAccessGroupTickets": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "emailDomains": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {}
                                    }
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "lastName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "membersCount": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "picture": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "thumb128": {
                                        "type": "string"
                                      },
                                      "thumb20": {
                                        "type": "string"
                                      },
                                      "thumb24": {
                                        "type": "string"
                                      },
                                      "thumb32": {
                                        "type": "string"
                                      },
                                      "thumb48": {
                                        "type": "string"
                                      },
                                      "thumb64": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "role": {
                                    "type": "string"
                                  },
                                  "twoFactorAuthenticationEnabled": {
                                    "type": "boolean"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "summary": {
                                "type": "string"
                              },
                              "trash": {
                                "type": "boolean"
                              },
                              "unanswered": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/supportBee/latest/actions/get-user": {
      "get": {
        "operationId": "supportBee.get-user",
        "summary": "Get User",
        "description": "Retrieves a user or customer group from SupportBee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/supportBee/latest/actions/get-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "SupportBee user ID.",
            "schema": {
              "type": "number",
              "description": "SupportBee user ID."
            }
          },
          {
            "name": "maxTickets",
            "in": "query",
            "required": false,
            "description": "Maximum number of related tickets to include.",
            "schema": {
              "type": "number",
              "description": "Maximum number of related tickets to include."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "activeTicketsCount": {
                                "type": "number"
                              },
                              "agent": {
                                "type": "boolean"
                              },
                              "canMembersAccessGroupTickets": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "customerGroups": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "email": {
                                "type": "string"
                              },
                              "emailDomains": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {}
                                }
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "membersCount": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "picture": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "thumb128": {
                                    "type": "string"
                                  },
                                  "thumb20": {
                                    "type": "string"
                                  },
                                  "thumb24": {
                                    "type": "string"
                                  },
                                  "thumb32": {
                                    "type": "string"
                                  },
                                  "thumb48": {
[...]
