{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Goodbarber eCommerce Universal API",
    "version": "0.0.6",
    "description": "Manage catalog, customers, orders, promotions, loyalty, push, and analytics for a GoodBarber Shopping app through the GoodBarber Commerce Public API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/goodbarberECommerce/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/goodbarberECommerce/latest/actions/create-product": {
      "post": {
        "operationId": "goodbarberECommerce.create-product",
        "summary": "Create Product",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goodbarberECommerce/latest/actions/create-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "collections[]",
                  "tags[]",
                  "setCustomSimilarProducts[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Product title."
                  },
                  "summary": {
                    "type": "string",
                    "description": "Short product summary."
                  },
                  "status": {
                    "type": "string",
                    "description": "Product publication status."
                  },
                  "slug": {
                    "type": "string",
                    "description": "Product slug."
                  },
                  "showSimilarProducts": {
                    "type": "boolean",
                    "description": "Whether related products should be shown."
                  },
                  "collections[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Collection IDs assigned to the product."
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags assigned to the product."
                  },
                  "setCustomSimilarProducts[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Explicit related product IDs."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "brand": {
                            "type": "string",
                            "description": "Product brand."
                          },
                          "collections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Assigned collections."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "id": {
                            "type": "number",
                            "description": "Product ID."
                          },
                          "productRef": {
                            "type": "string",
                            "description": "Merchant product reference."
                          },
                          "showSimilarProducts": {
                            "type": "boolean",
                            "description": "Whether related products are shown."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Product slug."
                          },
                          "status": {
                            "type": "string",
                            "description": "Product status."
                          },
                          "summary": {
                            "type": "string",
                            "description": "Short product summary."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Product tags."
                          },
                          "title": {
                            "type": "string",
                            "description": "Product title."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goodbarberECommerce/latest/actions/create-variant-option": {
      "post": {
        "operationId": "goodbarberECommerce.create-variant-option",
        "summary": "Create Variant Option",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goodbarberECommerce/latest/actions/create-variant-option"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Variant option display name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "id": {
                            "type": "number",
                            "description": "Variant option ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Variant option name."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Last update timestamp."
                          },
                          "values": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Option values."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goodbarberECommerce/latest/actions/delete-product": {
      "delete": {
        "operationId": "goodbarberECommerce.delete-product",
        "summary": "Delete Product",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goodbarberECommerce/latest/actions/delete-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "description": "Product ID.",
            "schema": {
              "type": "number",
              "description": "Product ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the product delete request completed."
                          },
                          "id": {
                            "type": "number",
                            "description": "Deleted product ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goodbarberECommerce/latest/actions/delete-variant-option": {
      "delete": {
        "operationId": "goodbarberECommerce.delete-variant-option",
        "summary": "Delete Variant Option",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goodbarberECommerce/latest/actions/delete-variant-option"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "optionId",
            "in": "query",
            "required": true,
            "description": "Variant option ID.",
            "schema": {
              "type": "number",
              "description": "Variant option ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the variant option delete request completed."
                          },
                          "id": {
                            "type": "number",
                            "description": "Deleted variant option ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goodbarberECommerce/latest/actions/get-collection": {
      "get": {
        "operationId": "goodbarberECommerce.get-collection",
        "summary": "Get Collection",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goodbarberECommerce/latest/actions/get-collection"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collectionId",
            "in": "query",
            "required": true,
            "description": "Collection Unique ID.",
            "schema": {
              "type": "number",
              "description": "Collection Unique ID.",
              "example": 1,
              "default": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Timestamp of the collection creation.</div>"
                          },
                          "demo_products_count": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Number of demo products in the collection (sample products generated automatically when GB shopping apps are created).</div>"
                          },
                          "id": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Collection unique ID.</div>"
                          },
                          "name": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Collection name.</div>"
                          },
                          "nb_products": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Number of products in the collection.</div>"
                          },
                          "product_positions": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "<div class=\"field_description\">Unique IDs of the products that belong to this collection, ordered by their position in the collection.</div>"
                          },
                          "slug": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Collection slug (used in its access URL).</div>"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Timestamp of the collection last update.</div>"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goodbarberECommerce/latest/actions/get-customer": {
      "get": {
        "operationId": "goodbarberECommerce.get-customer",
        "summary": "Get Customer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goodbarberECommerce/latest/actions/get-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "description": "Unique ID of the customer.",
            "schema": {
              "type": "number",
              "description": "Unique ID of the customer.",
              "example": 1,
              "default": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "birthday": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Customer birth date.</div>"
                          },
                          "client_num": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Number associated to the customer.</div>"
                          },
                          "email": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Email of the customer.</div>"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Customer first name.</div>"
                          },
                          "internal_note": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Notes about the customer.</div>"
                          },
                          "is_customer": {
                            "type": "boolean",
                            "description": "<div class=\"field_description\">This attribute's value is <code>true</code> when the user is a customer, and <code>false</code> when the user is a prospect.</div>"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Customer last name.</div>"
                          },
                          "phone": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Customer phone number.</div>"
                          },
                          "shipping_addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "<div class=\"field_description\">List of the customer's shipping addresses</div>"
                          },
                          "user_id": {
                            "type": "number",
                            "description": "<div class=\"field_description\">ID of the user.</div>"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goodbarberECommerce/latest/actions/get-order": {
      "get": {
        "operationId": "goodbarberECommerce.get-order",
        "summary": "Get Order",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goodbarberECommerce/latest/actions/get-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": true,
            "description": "Unique ID of the order.",
            "schema": {
              "type": "number",
              "description": "Unique ID of the order.",
              "example": 1,
              "default": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Timestamp of the order creation.</div>"
                          },
                          "currency": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Currency related to the amount of the order</div>"
                          },
                          "customer_note": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Note providing additional informations, written by the customer during his order process.</div>"
                          },
                          "discount": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Amount discounted off the order total thanks to promo code</div>"
                          },
                          "email": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Email provided by client</div>"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "<div class=\"field_description\">First name of the client</div>"
                          },
                          "has_invoice": {
                            "type": "boolean",
                            "description": "<div class=\"field_description\">Flag which indicates if the order has an associated invoice</div>"
                          },
                          "id": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Unique ID of the order.</div>"
                          },
                          "invoice_num": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Number related to the invoice of the order</div>"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "<div class=\"field_description\">List of items ordered by the end customer. Each of these items is a variant of a specific product, in other words a version of that product with specific characteristics (color, size, etc).</div>"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Last name of the client</div>"
                          },
                          "order_num": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Auto-incremented order ID (used for frontend display).</div>"
                          },
                          "payment_mode": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Mode used to pay the order.<br>It'll be <strong>'live'</strong> if the payment is processed in production<br>It'll be <strong>'test'</strong> if the payment is processed in test mode</div>"
                          },
                          "payment_type": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Method used to pay the order.<br>It can be <strong>'paypal', 'one_click_payment', 'stripe_no_cb', 'stripe_cb_three_d_secure', 'stripe_cb', 'mercado'</strong> for online production mode<br>It can be <strong>'sandbox'</strong> for test mode<br>It can be <strong>'offline'</strong> for offline production mode</div>"
                          },
                          "phone": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Phone provided by client</div>"
                          },
                          "pricing_details": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "promo_code": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Unique ID of the promo code used, if applicable</div>"
                          },
                          "receipt_num": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Number related to the receipt of the order</div>"
                          },
                          "selected_delivery_slot": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shipping_address": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shipping_amount": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Amount related to the cost of the shipping of the order</div>"
                          },
                          "shipping_method": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Shipping method name used for order delivery</div>"
                          },
                          "shipping_tax_amount": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Tax amount related to the cost of the shipping of the order</div>"
                          },
                          "shipping_tax_rate": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Tax rate applied to the cost of the shipping of the order</div>"
                          },
                          "shipping_type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subtotal": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Amount of the order used for taxes computations.</div>"
                          },
                          "tax_amount": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Tax amount related to the amount of the order</div>"
                          },
                          "tax_mode": {
                            "type": "string"
                          },
                          "tax_rate": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Tax rate applied to compute tax amount of the order</div>"
                          },
                          "total": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Total amount of the order (taxes and shipping included).</div>"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Timestamp of the order last update.</div>"
                          },
                          "user_id": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Contains the ID of the user if the order was made by a logged user, None otherwise.</div>"
                          },
                          "vat_number": {
                            "type": "string",
                            "description": "<div class=\"field_description\">VAT number of the order</div>"
                          },
                          "weight": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Total weight of the ordered items (unit: kg).</div></div>"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goodbarberECommerce/latest/actions/get-order-invoice": {
      "get": {
        "operationId": "goodbarberECommerce.get-order-invoice",
        "summary": "Get Order Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goodbarberECommerce/latest/actions/get-order-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": true,
            "description": "Unique ID of the order.",
            "schema": {
              "type": "number",
              "description": "Unique ID of the order.",
              "example": 1,
              "default": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goodbarberECommerce/latest/actions/get-order-shipping": {
      "get": {
        "operationId": "goodbarberECommerce.get-order-shipping",
        "summary": "Get Order Shipping",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goodbarberECommerce/latest/actions/get-order-shipping"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": true,
            "description": "Unique ID of the order.",
            "schema": {
              "type": "number",
              "description": "Unique ID of the order.",
              "example": 1,
              "default": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "shipping_tracking_num": {
                            "type": "string",
                            "description": "<div class=\"field_description\">ID that the customer can use to follow the delivery of its order on the carrier website.</div>"
                          },
                          "shipping_tracking_url": {
                            "type": "string",
                            "description": "<div class=\"field_description\">URL on which the customer can follow the delivery of its order.</div>"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goodbarberECommerce/latest/actions/get-page-views-per-week-day": {
      "get": {
        "operationId": "goodbarberECommerce.get-page-views-per-week-day",
        "summary": "Get Page Views Per Week Day",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goodbarberECommerce/latest/actions/get-page-views-per-week-day"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End date (included) with format %Y-%m-%d . Defaults to yesterday.",
            "schema": {
              "type": "string",
              "description": "End date (included) with format %Y-%m-%d . Defaults to yesterday.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Start date (included) with format %Y-%m-%d . Defaults to one month ago.",
            "schema": {
              "type": "string",
              "description": "Start date (included) with format %Y-%m-%d . Defaults to one month ago.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Friday": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Total number of pages viewed on fridays during the specified time interval.</div>"
                          },
                          "Monday": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Total number of pages viewed on mondays during the specified time interval.</div>"
                          },
                          "Saturday": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Total number of pages viewed on saturdays during the specified time interval.</div>"
                          },
                          "Sunday": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Total number of pages viewed on sundays during the specified time interval.</div>"
                          },
                          "Thursday": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Total number of pages viewed on thursdays during the specified time interval.</div>"
                          },
                          "Tuesday": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Total number of pages viewed on tuesdays during the specified time interval.</div>"
                          },
                          "Wednesday": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Total number of pages viewed on wednesdays during the specified time interval.</div>"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goodbarberECommerce/latest/actions/get-product": {
      "get": {
        "operationId": "goodbarberECommerce.get-product",
        "summary": "Get Product",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goodbarberECommerce/latest/actions/get-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "description": "Product Unique ID.",
            "schema": {
              "type": "number",
              "description": "Product Unique ID.",
              "example": 1,
              "default": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "auto_similar_products": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "<div class=\"field_description\">Automatically generated list containing products similar to the current instance.<br>The list is created from all the available products of the shop, based on criterias such as tags and collections.</div>"
                          },
                          "brand": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Product brand platform.</div>"
                          },
                          "collections": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "<div class=\"field_description\">List of the collections (unique IDs) to which the product belongs.</div>"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Timestamp of the product creation.</div>"
                          },
                          "custom_similar_products": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "<div class=\"field_description\">Manually defined list of similar products.</div>"
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "highlight": {
                            "type": "boolean",
                            "description": "<div class=\"field_description\">Boolean indicating if the product should be showcased in the shop products list or not.</div>"
                          },
                          "id": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Product unique ID.</div>"
                          },
                          "media": {
                            "type": "number",
                            "description": "<div class=\"field_description\">Unique ID of the slide selected as the product thumbnail.</div>"
                          },
                          "meta_description": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Product SEO description (for referencing by search engines).</div>"
                          },
                          "meta_title": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Product SEO title (for referencing by search engines).</div>"
                          },
                          "pdf": {
                            "type": "string",
                            "description": "<div class=\"field_description\">URL of the PDF file uploaded for this product.</div>"
                          },
                          "pdf_name": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Name of the PDF file associated with the product.</div>"
                          },
                          "product_ref": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Product reference ID.</div>"
                          },
                          "show_similar_products": {
                            "type": "boolean",
                            "description": "<div class=\"field_description\">Boolean indicating whether the \"Similar products\" section should be displayed in the shop for this product or not.</div>"
                          },
                          "slides": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "<div class=\"field_description\">Set of slides (pictures) associated with the product.</div>"
                          },
                          "slug": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Product slug (used in its access URL).</div>"
                          },
                          "status": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Product short description.</div>"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "<div class=\"field_description\">Set of tags associated with the product.</div>"
                          },
                          "title": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Product name.</div>"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Timestamp of the product last update.</div>"
                          },
                          "variants": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "<div class=\"field_description\">Product variants list.</div>"
                          },
                          "visibility_end": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Datetime <strong>until which</strong> the product should be visible to the customers.<br>If this field is <code>null</code>, the product will remain visible in the shop until it gets manually hidden or removed.</div>"
                          },
                          "visibility_start": {
                            "type": "string",
                            "description": "<div class=\"field_description\">Datetime <strong>from which</strong> the product should become visible to the customers.<br>If this field is <code>null</code>, the product will directly become visible when its status is set to <code>\"PUBLISHED\"</code>.</div>"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goodbarberECommerce/latest/actions/get-product-variant": {
      "get": {
        "operationId": "goodbarberECommerce.get-product-variant",
        "summary": "Get Product Variant",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goodbarberECommerce/latest/actions/get-product-variant"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "example": 1,
              "default": 1
            }
          },
          {
            "name": "variantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "example": 1,
              "default": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goodbarberECommerce/latest/actions/get-prospect": {
      "get": {
        "operationId": "goodbarberECommerce.get-prospect",
        "summary": "Get Prospect",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goodbarberECommerce/latest/actions/get-prospect"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
[...]
