{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Oanda Universal API",
    "version": "0.0.8",
    "description": "Get OANDA Exchange Rates API datasets, currencies, historical rates, supported forwards, remaining quote usage, streams, and book snapshots."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/oanda/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/oanda/latest/actions/get-aggregated-rates": {
      "get": {
        "operationId": "oanda.get-aggregated-rates",
        "summary": "Get Aggregated Rates",
        "description": "Retrieves aggregated candle rates from Oanda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oanda/latest/actions/get-aggregated-rates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": true,
            "description": "Base currency or comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Base currency or comma-separated list.",
              "default": "EUR"
            }
          },
          {
            "name": "data_set",
            "in": "query",
            "required": false,
            "description": "Dataset code.",
            "schema": {
              "type": "string",
              "description": "Dataset code."
            }
          },
          {
            "name": "decimal_places",
            "in": "query",
            "required": false,
            "description": "Decimal precision or all.",
            "schema": {
              "type": "string",
              "description": "Decimal precision or all."
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "description": "ISO 8601 end timestamp on a 15-minute boundary.",
            "schema": {
              "type": "string",
              "description": "ISO 8601 end timestamp on a 15-minute boundary.",
              "default": "2025-04-10T13:00:00+00:00"
            }
          },
          {
            "name": "ext",
            "in": "query",
            "required": true,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "default": "json"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields.",
            "schema": {
              "type": "string",
              "description": "Comma-separated response fields."
            }
          },
          {
            "name": "interbank",
            "in": "query",
            "required": false,
            "description": "Interbank pricing multiplier.",
            "schema": {
              "type": "string",
              "description": "Interbank pricing multiplier."
            }
          },
          {
            "name": "quote",
            "in": "query",
            "required": false,
            "description": "Quote currency or comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Quote currency or comma-separated list."
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "description": "ISO 8601 start timestamp on a 15-minute boundary.",
            "schema": {
              "type": "string",
              "description": "ISO 8601 start timestamp on a 15-minute boundary.",
              "default": "2025-04-10T12:00:00+00:00"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata and effective parameters."
                          },
                          "quotes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Aggregated candle quotes."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oanda/latest/actions/get-candle-rate": {
      "get": {
        "operationId": "oanda.get-candle-rate",
        "summary": "Get Candle Rate",
        "description": "Retrieves one daily candle rate from Oanda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oanda/latest/actions/get-candle-rate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": true,
            "description": "Base currency or comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Base currency or comma-separated list.",
              "default": "EUR"
            }
          },
          {
            "name": "data_set",
            "in": "query",
            "required": false,
            "description": "Dataset code.",
            "schema": {
              "type": "string",
              "description": "Dataset code."
            }
          },
          {
            "name": "date_time",
            "in": "query",
            "required": false,
            "description": "ISO 8601 timestamp on a 15-minute boundary.",
            "schema": {
              "type": "string",
              "description": "ISO 8601 timestamp on a 15-minute boundary."
            }
          },
          {
            "name": "decimal_places",
            "in": "query",
            "required": false,
            "description": "Decimal precision or all.",
            "schema": {
              "type": "string",
              "description": "Decimal precision or all."
            }
          },
          {
            "name": "ext",
            "in": "query",
            "required": true,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "default": "json"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields.",
            "schema": {
              "type": "string",
              "description": "Comma-separated response fields."
            }
          },
          {
            "name": "interbank",
            "in": "query",
            "required": false,
            "description": "Interbank pricing multiplier.",
            "schema": {
              "type": "string",
              "description": "Interbank pricing multiplier."
            }
          },
          {
            "name": "quote",
            "in": "query",
            "required": false,
            "description": "Quote currency or comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Quote currency or comma-separated list."
            }
          },
          {
            "name": "source_date",
            "in": "query",
            "required": false,
            "description": "Historical source date.",
            "schema": {
              "type": "string",
              "description": "Historical source date."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata and effective parameters."
                          },
                          "quotes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Candle quote payload."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oanda/latest/actions/get-candle-series": {
      "get": {
        "operationId": "oanda.get-candle-series",
        "summary": "Get Candle Series",
        "description": "Retrieves daily candle rates from Oanda over a time range.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oanda/latest/actions/get-candle-series"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": true,
            "description": "Base currency or comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Base currency or comma-separated list.",
              "default": "EUR"
            }
          },
          {
            "name": "data_set",
            "in": "query",
            "required": false,
            "description": "Dataset code.",
            "schema": {
              "type": "string",
              "description": "Dataset code."
            }
          },
          {
            "name": "decimal_places",
            "in": "query",
            "required": false,
            "description": "Decimal precision or all.",
            "schema": {
              "type": "string",
              "description": "Decimal precision or all."
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "description": "ISO 8601 end timestamp on a 15-minute boundary.",
            "schema": {
              "type": "string",
              "description": "ISO 8601 end timestamp on a 15-minute boundary.",
              "default": "2025-04-10T13:00:00+00:00"
            }
          },
          {
            "name": "ext",
            "in": "query",
            "required": true,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "default": "json"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields.",
            "schema": {
              "type": "string",
              "description": "Comma-separated response fields."
            }
          },
          {
            "name": "interbank",
            "in": "query",
            "required": false,
            "description": "Interbank pricing multiplier.",
            "schema": {
              "type": "string",
              "description": "Interbank pricing multiplier."
            }
          },
          {
            "name": "quote",
            "in": "query",
            "required": false,
            "description": "Quote currency or comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Quote currency or comma-separated list."
            }
          },
          {
            "name": "source_date",
            "in": "query",
            "required": false,
            "description": "Historical source date.",
            "schema": {
              "type": "string",
              "description": "Historical source date."
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "description": "ISO 8601 start timestamp on a 15-minute boundary.",
            "schema": {
              "type": "string",
              "description": "ISO 8601 start timestamp on a 15-minute boundary.",
              "default": "2025-04-10T12:00:00+00:00"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata and effective parameters."
                          },
                          "quotes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Series of candle quotes."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oanda/latest/actions/get-dataset": {
      "get": {
        "operationId": "oanda.get-dataset",
        "summary": "Get Dataset",
        "description": "Retrieves exchange-rate dataset details from Oanda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oanda/latest/actions/get-dataset"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_set",
            "in": "query",
            "required": true,
            "description": "Dataset code.",
            "schema": {
              "type": "string",
              "description": "Dataset code.",
              "default": "OANDA"
            }
          },
          {
            "name": "ext",
            "in": "query",
            "required": true,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "default": "json"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "datasets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Dataset details including quotables and cross currency."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oanda/latest/actions/get-forward-rate": {
      "get": {
        "operationId": "oanda.get-forward-rate",
        "summary": "Get Forward Rate",
        "description": "Retrieves forward rates from Oanda by tenor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oanda/latest/actions/get-forward-rate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": true,
            "description": "Base currency code.",
            "schema": {
              "type": "string",
              "description": "Base currency code.",
              "default": "EUR"
            }
          },
          {
            "name": "ext",
            "in": "query",
            "required": true,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "default": "json"
            }
          },
          {
            "name": "quote",
            "in": "query",
            "required": true,
            "description": "Quote currency code.",
            "schema": {
              "type": "string",
              "description": "Quote currency code.",
              "default": "USD"
            }
          },
          {
            "name": "source_date",
            "in": "query",
            "required": false,
            "description": "Historical source date.",
            "schema": {
              "type": "string",
              "description": "Historical source date."
            }
          },
          {
            "name": "tenor",
            "in": "query",
            "required": false,
            "description": "Forward tenor or comma-separated list of tenors.",
            "schema": {
              "type": "string",
              "description": "Forward tenor or comma-separated list of tenors."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata and effective parameters."
                          },
                          "quotes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Forward quotes for requested tenors."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oanda/latest/actions/get-order-book": {
      "get": {
        "operationId": "oanda.get-order-book",
        "summary": "Get Order Book",
        "description": "Retrieves order book snapshots from Oanda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oanda/latest/actions/get-order-book"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "The time of the snapshot to fetch.",
            "schema": {
              "type": "string",
              "description": "The time of the snapshot to fetch."
            }
          },
          {
            "name": "instrument",
            "in": "query",
            "required": true,
            "description": "Instrument name, for example EUR_USD.",
            "schema": {
              "type": "string",
              "description": "Instrument name, for example EUR_USD.",
              "default": "EUR_USD"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orderBook": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order book snapshot including buckets."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oanda/latest/actions/get-position-book": {
      "get": {
        "operationId": "oanda.get-position-book",
        "summary": "Get Position Book",
        "description": "Retrieves position book snapshots from Oanda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oanda/latest/actions/get-position-book"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "The time of the snapshot to fetch.",
            "schema": {
              "type": "string",
              "description": "The time of the snapshot to fetch."
            }
          },
          {
            "name": "instrument",
            "in": "query",
            "required": true,
            "description": "Instrument name, for example EUR_USD.",
            "schema": {
              "type": "string",
              "description": "Instrument name, for example EUR_USD.",
              "default": "EUR_USD"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "positionBook": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Position book snapshot including buckets."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oanda/latest/actions/get-rates": {
      "get": {
        "operationId": "oanda.get-rates",
        "summary": "Get Rates",
        "description": "Retrieves exchange rates from Oanda for one base currency.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oanda/latest/actions/get-rates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": true,
            "description": "Base currency code.",
            "schema": {
              "type": "string",
              "description": "Base currency code.",
              "default": "EUR"
            }
          },
          {
            "name": "data_set",
            "in": "query",
            "required": false,
            "description": "Dataset code.",
            "schema": {
              "type": "string",
              "description": "Dataset code."
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Historical date in YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "description": "Historical date in YYYY-MM-DD."
            }
          },
          {
            "name": "decimal_places",
            "in": "query",
            "required": false,
            "description": "Decimal precision or all.",
            "schema": {
              "type": "string",
              "description": "Decimal precision or all."
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "End date in YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "description": "End date in YYYY-MM-DD."
            }
          },
          {
            "name": "ext",
            "in": "query",
            "required": true,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "default": "json"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields.",
            "schema": {
              "type": "string",
              "description": "Comma-separated response fields."
            }
          },
          {
            "name": "quote",
            "in": "query",
            "required": false,
            "description": "Quote currency or comma-separated list of quote currencies.",
            "schema": {
              "type": "string",
              "description": "Quote currency or comma-separated list of quote currencies."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Start date in YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "description": "Start date in YYYY-MM-DD."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "base_currency": {
                            "type": "string",
                            "description": "Base currency code."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata and effective parameters."
                          },
                          "quotes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Quote map keyed by quote currency."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oanda/latest/actions/get-remaining-quotes": {
      "get": {
        "operationId": "oanda.get-remaining-quotes",
        "summary": "Get Remaining Quotes",
        "description": "Retrieves remaining quote usage from Oanda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oanda/latest/actions/get-remaining-quotes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "query",
            "required": true,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "default": "json"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "remaining_quotes": {
                            "type": "string",
                            "description": "Remaining quote allowance."
                          },
                          "used_quotes": {
                            "type": "number",
                            "description": "Used quote count."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oanda/latest/actions/get-spot-rates": {
      "get": {
        "operationId": "oanda.get-spot-rates",
        "summary": "Get Spot Rates",
        "description": "Retrieves spot exchange rates from Oanda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oanda/latest/actions/get-spot-rates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": true,
            "description": "Base currency or comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Base currency or comma-separated list.",
              "default": "EUR"
            }
          },
          {
            "name": "data_set",
            "in": "query",
            "required": false,
            "description": "Dataset code.",
            "schema": {
              "type": "string",
              "description": "Dataset code."
            }
          },
          {
            "name": "date_time",
            "in": "query",
            "required": false,
            "description": "ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "description": "ISO 8601 timestamp."
            }
          },
          {
            "name": "ext",
            "in": "query",
            "required": true,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "default": "json"
            }
          },
          {
            "name": "interbank",
            "in": "query",
            "required": false,
            "description": "Interbank pricing multiplier.",
            "schema": {
              "type": "string",
              "description": "Interbank pricing multiplier."
            }
          },
          {
            "name": "quote",
            "in": "query",
            "required": false,
            "description": "Quote currency or comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Quote currency or comma-separated list."
            }
          },
          {
            "name": "source_date",
            "in": "query",
            "required": false,
            "description": "Historical source date.",
            "schema": {
              "type": "string",
              "description": "Historical source date."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata and effective parameters."
                          },
                          "quotes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Spot quotes."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oanda/latest/actions/get-supported-forwards": {
      "get": {
        "operationId": "oanda.get-supported-forwards",
        "summary": "Get Supported Forwards",
        "description": "Retrieves supported forward tenors from Oanda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oanda/latest/actions/get-supported-forwards"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Base currency or comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Base currency or comma-separated list."
            }
          },
          {
            "name": "data_set",
            "in": "query",
            "required": false,
            "description": "Dataset code.",
            "schema": {
              "type": "string",
              "description": "Dataset code."
            }
          },
          {
            "name": "ext",
            "in": "query",
            "required": true,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "default": "json"
            }
          },
          {
            "name": "quote",
            "in": "query",
            "required": false,
            "description": "Quote currency or comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Quote currency or comma-separated list."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "supported_forwards": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Supported forward tenors per currency pair."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oanda/latest/actions/list-currencies": {
      "get": {
        "operationId": "oanda.list-currencies",
        "summary": "List Currencies",
        "description": "Retrieves supported currency codes from Oanda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oanda/latest/actions/list-currencies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_set",
            "in": "query",
            "required": false,
            "description": "Dataset code to filter currencies.",
            "schema": {
              "type": "string",
              "description": "Dataset code to filter currencies."
            }
          },
          {
            "name": "ext",
            "in": "query",
            "required": true,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "default": "json"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currencies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "List of currencies returned by the dataset."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oanda/latest/actions/stream-rates": {
      "get": {
        "operationId": "oanda.stream-rates",
        "summary": "Stream Rates",
        "description": "Streams live exchange rates from Oanda.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oanda/latest/actions/stream-rates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": true,
            "description": "Base currency or comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Base currency or comma-separated list.",
              "default": "EUR"
            }
          },
          {
            "name": "data_set",
            "in": "query",
            "required": false,
            "description": "Dataset code.",
            "schema": {
              "type": "string",
              "description": "Dataset code."
            }
          },
          {
            "name": "ext",
            "in": "query",
            "required": true,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "default": "json"
            }
          },
          {
            "name": "quote",
            "in": "query",
            "required": false,
            "description": "Quote currency or comma-separated list.",
            "schema": {
              "type": "string",
              "description": "Quote currency or comma-separated list."
            }
          },
          {
            "name": "tenor",
            "in": "query",
            "required": false,
            "description": "Forward tenor or comma-separated list of tenors.",
            "schema": {
              "type": "string",
              "description": "Forward tenor or comma-separated list of tenors."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Stream metadata when available."
                          },
                          "quotes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Streaming quote payload."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
