{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PagerDuty Universal API",
    "version": "0.0.5",
    "description": "Manage incidents, services, schedules, teams, and on-call operations"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/pagerDuty/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/pagerDuty/latest/actions/create-incident": {
      "post": {
        "operationId": "pagerDuty.create-incident",
        "summary": "Create Incident",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagerDuty/latest/actions/create-incident"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "incident.title",
                  "incident.service.id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "incident.title": {
                    "type": "string",
                    "description": "A short description of the incident."
                  },
                  "incident.service.id": {
                    "type": "string",
                    "description": "The PagerDuty service ID for the incident."
                  },
                  "incident.urgency": {
                    "type": "string",
                    "description": "The incident urgency."
                  },
                  "incident.incidentKey": {
                    "type": "string",
                    "description": "A de-duplication key for the incident."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the incident was first triggered."
                          },
                          "escalationPolicy": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "The escalation policy for the incident.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The escalation policy ID."
                              },
                              "summary": {
                                "type": "string",
                                "description": "PagerDuty's short summary for the escalation policy."
                              },
                              "type": {
                                "type": "string",
                                "description": "The PagerDuty object type for the escalation policy."
                              }
                            }
                          },
                          "htmlUrl": {
                            "type": "string",
                            "description": "The PagerDuty web URL for the incident."
                          },
                          "id": {
                            "type": "string",
                            "description": "The PagerDuty incident ID."
                          },
                          "incidentKey": {
                            "type": "string",
                            "description": "The incident de-duplication key."
                          },
                          "incidentNumber": {
                            "type": "number",
                            "description": "The incident number unique to the account."
                          },
                          "priority": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "The incident priority.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The priority ID."
                              },
                              "summary": {
                                "type": "string",
                                "description": "PagerDuty's short summary for the priority."
                              },
                              "type": {
                                "type": "string",
                                "description": "The PagerDuty object type for the priority."
                              }
                            }
                          },
                          "self": {
                            "type": "string",
                            "description": "The API URL for the incident."
                          },
                          "service": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "The service attached to the incident.",
                            "properties": {
                              "htmlUrl": {
                                "type": "string",
                                "description": "The PagerDuty web URL for the service."
                              },
                              "id": {
                                "type": "string",
                                "description": "The service ID."
                              },
                              "self": {
                                "type": "string",
                                "description": "The API URL for the service."
                              },
                              "summary": {
                                "type": "string",
                                "description": "PagerDuty's short summary for the service."
                              },
                              "type": {
                                "type": "string",
                                "description": "The PagerDuty object type for the service."
                              }
                            }
                          },
                          "status": {
                            "type": "string",
                            "description": "The current incident status."
                          },
                          "summary": {
                            "type": "string",
                            "description": "PagerDuty's short summary for the incident."
                          },
                          "title": {
                            "type": "string",
                            "description": "The incident title."
                          },
                          "type": {
                            "type": "string",
                            "description": "The PagerDuty object type."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the incident was last modified."
                          },
                          "urgency": {
                            "type": "string",
                            "description": "The incident urgency level."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagerDuty/latest/actions/create-service": {
      "post": {
        "operationId": "pagerDuty.create-service",
        "summary": "Create Service",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagerDuty/latest/actions/create-service"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "service.escalationPolicy.id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "service.name": {
                    "type": "string",
                    "description": "The service name."
                  },
                  "service.description": {
                    "type": "string",
                    "description": "A description of the service."
                  },
                  "service.escalationPolicy.id": {
                    "type": "string",
                    "description": "The escalation policy ID for the service."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the service was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "The service description."
                          },
                          "escalationPolicy": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "The escalation policy attached to the service.",
                            "properties": {
                              "htmlUrl": {
                                "type": "string",
                                "description": "The PagerDuty web URL for the escalation policy."
                              },
                              "id": {
                                "type": "string",
                                "description": "The escalation policy ID."
                              },
                              "self": {
                                "type": "string",
                                "description": "The API URL for the escalation policy."
                              },
                              "summary": {
                                "type": "string",
                                "description": "PagerDuty's short summary for the escalation policy."
                              },
                              "type": {
                                "type": "string",
                                "description": "The PagerDuty object type for the escalation policy."
                              }
                            }
                          },
                          "htmlUrl": {
                            "type": "string",
                            "description": "The PagerDuty web URL for the service."
                          },
                          "id": {
                            "type": "string",
                            "description": "The PagerDuty service ID."
                          },
                          "lastIncidentTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the most recent incident was created for the service."
                          },
                          "name": {
                            "type": "string",
                            "description": "The service name."
                          },
                          "self": {
                            "type": "string",
                            "description": "The API URL for the service."
                          },
                          "status": {
                            "type": "string",
                            "description": "The current PagerDuty status for the service."
                          },
                          "summary": {
                            "type": "string",
                            "description": "PagerDuty's short summary for the service."
                          },
                          "type": {
                            "type": "string",
                            "description": "The PagerDuty object type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagerDuty/latest/actions/delete-service": {
      "delete": {
        "operationId": "pagerDuty.delete-service",
        "summary": "Delete Service",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagerDuty/latest/actions/delete-service"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The PagerDuty service ID to delete.",
            "schema": {
              "type": "string",
              "description": "The PagerDuty service ID to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagerDuty/latest/actions/list-abilities": {
      "get": {
        "operationId": "pagerDuty.list-abilities",
        "summary": "List Abilities",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagerDuty/latest/actions/list-abilities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagerDuty/latest/actions/list-escalation-policies": {
      "get": {
        "operationId": "pagerDuty.list-escalation-policies",
        "summary": "List Escalation Policies",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagerDuty/latest/actions/list-escalation-policies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Filter escalation policies by a free-text search query.",
            "schema": {
              "type": "string",
              "description": "Filter escalation policies by a free-text search query."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the policy was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "The escalation policy description."
                          },
                          "escalationRules": {
                            "type": "array",
                            "items": {},
                            "description": "Escalation rules in the policy."
                          },
                          "htmlUrl": {
                            "type": "string",
                            "description": "The PagerDuty web URL for the escalation policy."
                          },
                          "id": {
                            "type": "string",
                            "description": "The escalation policy ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "The escalation policy name."
                          },
                          "numLoops": {
                            "type": "number",
                            "description": "The number of escalation loops."
                          },
                          "onCallHandoffNotifications": {
                            "type": "string",
                            "description": "How handoff notifications are handled."
                          },
                          "privilege": {
                            "type": "string",
                            "description": "Privilege information for the policy."
                          },
                          "self": {
                            "type": "string",
                            "description": "The API URL for the escalation policy."
                          },
                          "services": {
                            "type": "array",
                            "items": {},
                            "description": "Services attached to the escalation policy."
                          },
                          "summary": {
                            "type": "string",
                            "description": "PagerDuty's short summary for the escalation policy."
                          },
                          "teams": {
                            "type": "array",
                            "items": {},
                            "description": "Teams attached to the escalation policy."
                          },
                          "type": {
                            "type": "string",
                            "description": "The PagerDuty object type."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the policy was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagerDuty/latest/actions/list-incidents": {
      "get": {
        "operationId": "pagerDuty.list-incidents",
        "summary": "List Incidents",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagerDuty/latest/actions/list-incidents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateRange",
            "in": "query",
            "required": false,
            "description": "Set to all to ignore the default since and until range.",
            "schema": {
              "type": "string",
              "description": "Set to all to ignore the default since and until range."
            }
          },
          {
            "name": "incidentKey",
            "in": "query",
            "required": false,
            "description": "Filter incidents by incident de-duplication key.",
            "schema": {
              "type": "string",
              "description": "Filter incidents by incident de-duplication key."
            }
          },
          {
            "name": "serviceIds[]",
            "in": "query",
            "required": false,
            "description": "Return only incidents associated with these service IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Return only incidents associated with these service IDs."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "teamIds[]",
            "in": "query",
            "required": false,
            "description": "Return only incidents related to these team IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Return only incidents related to these team IDs."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "userIds[]",
            "in": "query",
            "required": false,
            "description": "Return only incidents currently assigned to these user IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Return only incidents currently assigned to these user IDs."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "urgencies[]",
            "in": "query",
            "required": false,
            "description": "Return only incidents with these urgency values.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Return only incidents with these urgency values."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "timeZone",
            "in": "query",
            "required": false,
            "description": "Time zone used when rendering the results.",
            "schema": {
              "type": "string",
              "description": "Time zone used when rendering the results."
            }
          },
          {
            "name": "statuses[]",
            "in": "query",
            "required": false,
            "description": "Return only incidents with these statuses.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Return only incidents with these statuses."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "include[]",
            "in": "query",
            "required": false,
            "description": "Include additional incident details in the response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Include additional incident details in the response."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Start of the incident search time range.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start of the incident search time range."
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "End of the incident search time range.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "End of the incident search time range."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignments": {
                            "type": "array",
                            "items": {},
                            "description": "Current assignments on the incident."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the incident was first triggered."
                          },
                          "escalationPolicy": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "The escalation policy for the incident.",
                            "properties": {
                              "htmlUrl": {
                                "type": "string",
                                "description": "The PagerDuty web URL for the escalation policy."
                              },
                              "id": {
                                "type": "string",
                                "description": "The escalation policy ID."
                              },
                              "self": {
                                "type": "string",
                                "description": "The API URL for the escalation policy."
                              },
                              "summary": {
                                "type": "string",
                                "description": "PagerDuty's short summary for the escalation policy."
                              },
                              "type": {
                                "type": "string",
                                "description": "The PagerDuty object type for the escalation policy."
                              }
                            }
                          },
                          "htmlUrl": {
                            "type": "string",
                            "description": "The PagerDuty web URL for the incident."
                          },
                          "id": {
                            "type": "string",
                            "description": "The PagerDuty incident ID."
                          },
                          "incidentKey": {
                            "type": "string",
                            "description": "The incident de-duplication key."
                          },
                          "incidentNumber": {
                            "type": "number",
                            "description": "The incident number unique to the account."
                          },
                          "priority": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "The incident priority.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The priority ID."
                              },
                              "summary": {
                                "type": "string",
                                "description": "PagerDuty's short summary for the priority."
                              },
                              "type": {
                                "type": "string",
                                "description": "The PagerDuty object type for the priority."
                              }
                            }
                          },
                          "self": {
                            "type": "string",
                            "description": "The API URL for the incident."
                          },
                          "service": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "The service attached to the incident.",
                            "properties": {
                              "htmlUrl": {
                                "type": "string",
                                "description": "The PagerDuty web URL for the service."
                              },
                              "id": {
                                "type": "string",
                                "description": "The service ID."
                              },
                              "self": {
                                "type": "string",
                                "description": "The API URL for the service."
                              },
                              "summary": {
                                "type": "string",
                                "description": "PagerDuty's short summary for the service."
                              },
                              "type": {
                                "type": "string",
                                "description": "The PagerDuty object type for the service."
                              }
                            }
                          },
                          "status": {
                            "type": "string",
                            "description": "The current incident status."
                          },
                          "summary": {
                            "type": "string",
                            "description": "PagerDuty's short summary for the incident."
                          },
                          "teams": {
                            "type": "array",
                            "items": {},
                            "description": "Teams involved in the incident."
                          },
                          "title": {
                            "type": "string",
                            "description": "The incident title."
                          },
                          "type": {
                            "type": "string",
                            "description": "The PagerDuty object type."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the incident was last modified."
                          },
                          "urgency": {
                            "type": "string",
                            "description": "The incident urgency level."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagerDuty/latest/actions/list-on-calls": {
      "get": {
        "operationId": "pagerDuty.list-on-calls",
        "summary": "List On-Calls",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagerDuty/latest/actions/list-on-calls"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Return on-calls starting from this date and time.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return on-calls starting from this date and time."
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "Return on-calls up to this date and time.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return on-calls up to this date and time."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "end": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the on-call window ends."
                          },
                          "escalationLevel": {
                            "type": "number",
                            "description": "The escalation level currently on call."
                          },
                          "escalationPolicy": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "The escalation policy currently on call.",
                            "properties": {
                              "htmlUrl": {
                                "type": "string",
                                "description": "The PagerDuty web URL for the escalation policy."
                              },
                              "id": {
                                "type": "string",
                                "description": "The escalation policy ID."
                              },
                              "self": {
                                "type": "string",
                                "description": "The API URL for the escalation policy."
                              },
                              "summary": {
                                "type": "string",
                                "description": "PagerDuty's short summary for the escalation policy."
                              },
                              "type": {
                                "type": "string",
                                "description": "The PagerDuty object type for the escalation policy."
                              }
                            }
                          },
                          "schedule": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The schedule currently on call."
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the on-call window starts."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "The user currently on call.",
                            "properties": {
                              "htmlUrl": {
                                "type": "string",
                                "description": "The PagerDuty web URL for the on-call user."
                              },
                              "id": {
                                "type": "string",
                                "description": "The on-call user ID."
                              },
                              "self": {
                                "type": "string",
                                "description": "The API URL for the on-call user."
                              },
                              "summary": {
                                "type": "string",
                                "description": "PagerDuty's short summary for the on-call user."
                              },
                              "type": {
                                "type": "string",
                                "description": "The PagerDuty object type for the on-call user."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagerDuty/latest/actions/list-schedules": {
      "get": {
        "operationId": "pagerDuty.list-schedules",
        "summary": "List Schedules",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagerDuty/latest/actions/list-schedules"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Filter schedules by a free-text search query.",
            "schema": {
              "type": "string",
              "description": "Filter schedules by a free-text search query."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "The description of the schedule."
                          },
                          "htmlUrl": {
                            "type": "string",
                            "description": "The PagerDuty web URL for the schedule."
                          },
                          "id": {
                            "type": "string",
                            "description": "The PagerDuty schedule ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the schedule."
                          },
                          "self": {
                            "type": "string",
                            "description": "The API URL for the schedule."
                          },
                          "summary": {
                            "type": "string",
                            "description": "PagerDuty's short summary for the schedule."
                          },
                          "timeZone": {
                            "type": "string",
                            "description": "The time zone of the schedule."
                          },
                          "type": {
                            "type": "string",
                            "description": "The PagerDuty object type for the schedule."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagerDuty/latest/actions/list-services": {
      "get": {
        "operationId": "pagerDuty.list-services",
        "summary": "List Services",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagerDuty/latest/actions/list-services"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Filter services by a free-text search query.",
            "schema": {
              "type": "string",
              "description": "Filter services by a free-text search query."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the service was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "The service description."
                          },
                          "escalationPolicy": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "The escalation policy attached to the service.",
                            "properties": {
                              "htmlUrl": {
                                "type": "string",
                                "description": "The PagerDuty web URL for the escalation policy."
                              },
                              "id": {
                                "type": "string",
                                "description": "The escalation policy ID."
                              },
                              "self": {
                                "type": "string",
                                "description": "The API URL for the escalation policy."
                              },
                              "summary": {
                                "type": "string",
                                "description": "PagerDuty's short summary for the escalation policy."
                              },
                              "type": {
                                "type": "string",
                                "description": "The PagerDuty object type for the escalation policy."
                              }
                            }
                          },
                          "htmlUrl": {
                            "type": "string",
                            "description": "The PagerDuty web URL for the service."
                          },
                          "id": {
                            "type": "string",
                            "description": "The PagerDuty service ID."
                          },
                          "lastIncidentTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the most recent incident was created for the service."
                          },
                          "name": {
                            "type": "string",
                            "description": "The service name."
                          },
                          "self": {
                            "type": "string",
                            "description": "The API URL for the service."
                          },
                          "status": {
                            "type": "string",
                            "description": "The current PagerDuty status for the service."
                          },
                          "summary": {
                            "type": "string",
                            "description": "PagerDuty's short summary for the service."
                          },
                          "type": {
                            "type": "string",
                            "description": "The PagerDuty object type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagerDuty/latest/actions/list-teams": {
      "get": {
        "operationId": "pagerDuty.list-teams",
        "summary": "List Teams",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagerDuty/latest/actions/list-teams"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Filter teams by a free-text search query.",
            "schema": {
              "type": "string",
              "description": "Filter teams by a free-text search query."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "defaultRole": {
                            "type": "string",
                            "description": "The default non-member role for the team."
                          },
                          "description": {
                            "type": "string",
                            "description": "The description of the team."
                          },
                          "htmlUrl": {
                            "type": "string",
                            "description": "The PagerDuty web URL for the team."
                          },
                          "id": {
                            "type": "string",
                            "description": "The PagerDuty team ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the team."
                          },
                          "self": {
                            "type": "string",
                            "description": "The API URL for the team."
                          },
                          "summary": {
                            "type": "string",
                            "description": "PagerDuty's short summary for the team."
                          },
                          "type": {
                            "type": "string",
                            "description": "The PagerDuty object type for the team."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pagerDuty/latest/actions/list-users": {
      "get": {
        "operationId": "pagerDuty.list-users",
        "summary": "List Users",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pagerDuty/latest/actions/list-users"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Filter users by a free-text search query.",
            "schema": {
              "type": "string",
              "description": "Filter users by a free-text search query."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatarUrl": {
                            "type": "string",
                            "description": "The user's avatar image URL."
                          },
                          "billed": {
                            "type": "boolean",
                            "description": "Whether the user is a billed user."
                          },
                          "color": {
                            "type": "string",
                            "description": "The PagerDuty color assigned to the user."
                          },
                          "contactMethods": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "htmlUrl": {
                                  "type": "string",
                                  "description": "The PagerDuty web URL for the contact method."
                                },
                                "id": {
                                  "type": "string",
[...]
