{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Superglue Universal API",
    "version": "0.0.2",
    "description": "Run tools, inspect runs, and manage end-user access"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/superglue/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/superglue/latest/actions/cancel-run": {
      "put": {
        "operationId": "superglue.cancel-run",
        "summary": "Cancel Run",
        "description": "Cancels an existing run in Superglue.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/superglue/latest/actions/cancel-run"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "runId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "runId": {
                    "type": "string",
                    "description": "ID of the Superglue run to cancel.",
                    "example": "7f3e9c1a-2b4d-4e8f-9a3b-1c5d7e9f2a4b"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Tool-specific execution result data for synchronous runs."
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message when the run failed or was aborted."
                          },
                          "executionMode": {
                            "type": "string",
                            "description": "Execution mode used for system credentials."
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "completedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Run completion timestamp when finished."
                              },
                              "durationMs": {
                                "type": "number",
                                "description": "Run duration in milliseconds."
                              },
                              "startedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Run start timestamp."
                              }
                            },
                            "additionalProperties": false
                          },
                          "options": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Execution options used for this run."
                          },
                          "requestSource": {
                            "type": "string",
                            "description": "Source identifier for where the run was initiated."
                          },
                          "resultStorageUri": {
                            "type": "string",
                            "description": "Storage URI for full run results when available."
                          },
                          "runId": {
                            "type": "string",
                            "description": "Unique identifier for this run."
                          },
                          "status": {
                            "type": "string",
                            "description": "Execution status for the run."
                          },
                          "stepResults": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Per-step execution results for multi-step tools."
                          },
                          "tool": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Identifier of the executed tool."
                              },
                              "instruction": {
                                "type": "string",
                                "description": "Human-readable instruction for the executed tool."
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the executed tool."
                              }
                            },
                            "additionalProperties": false
                          },
                          "toolId": {
                            "type": "string",
                            "description": "ID of the tool that was executed."
                          },
                          "toolPayload": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Inputs provided when running the tool."
                          },
                          "traceId": {
                            "type": "string",
                            "description": "Trace ID for debugging and log correlation."
                          },
                          "userId": {
                            "type": "string",
                            "description": "User or end user who triggered the run."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/superglue/latest/actions/create-end-user": {
      "post": {
        "operationId": "superglue.create-end-user",
        "summary": "Create End User",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/superglue/latest/actions/create-end-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "externalId": {
                    "type": "string",
                    "description": "Your application's user ID. Auto-generated if omitted.",
                    "example": "user-123"
                  },
                  "email": {
                    "type": "string",
                    "description": "End user's email address.",
                    "example": "user@example.com"
                  },
                  "name": {
                    "type": "string",
                    "description": "End user's display name.",
                    "example": "John Doe"
                  },
                  "allowedSystems[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of system IDs, or [\"*\"] for all systems. Defaults to no access."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowedSystems": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "System IDs this user can access."
                          },
                          "apiKey": {
                            "type": "string",
                            "description": "End-user API key returned only when the end user is created."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End user creation timestamp."
                          },
                          "email": {
                            "type": "string",
                            "description": "End user email address."
                          },
                          "externalId": {
                            "type": "string",
                            "description": "Application-defined external user ID."
                          },
                          "id": {
                            "type": "string",
                            "description": "Internal Superglue end user ID."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom metadata for the end user."
                          },
                          "name": {
                            "type": "string",
                            "description": "End user display name."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End user update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/superglue/latest/actions/delete-end-user": {
      "delete": {
        "operationId": "superglue.delete-end-user",
        "summary": "Delete End User",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/superglue/latest/actions/delete-end-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endUserId",
            "in": "query",
            "required": true,
            "description": "Internal Superglue end-user ID.",
            "schema": {
              "type": "string",
              "description": "Internal Superglue end-user ID.",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Whether the end user was deleted."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/superglue/latest/actions/generate-portal-link": {
      "post": {
        "operationId": "superglue.generate-portal-link",
        "summary": "Generate Portal Link",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/superglue/latest/actions/generate-portal-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "endUserId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "endUserId": {
                    "type": "string",
                    "description": "Internal Superglue end-user ID.",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "expiresAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiration timestamp for the portal link."
                          },
                          "portalUrl": {
                            "type": "string",
                            "description": "Portal authentication link for the end user."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/superglue/latest/actions/get-end-user-details": {
      "get": {
        "operationId": "superglue.get-end-user-details",
        "summary": "Get End User Details",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/superglue/latest/actions/get-end-user-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endUserId",
            "in": "query",
            "required": true,
            "description": "Internal Superglue end-user ID.",
            "schema": {
              "type": "string",
              "description": "Internal Superglue end-user ID.",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowedSystems": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "System IDs this user can access."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End user creation timestamp."
                          },
                          "credentials": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "hasCredentials": {
                                  "type": "boolean",
                                  "description": "Whether credentials exist for the system."
                                },
                                "systemId": {
                                  "type": "string",
                                  "description": "Credential system ID."
                                },
                                "systemName": {
                                  "type": "string",
                                  "description": "Credential system name."
                                }
                              }
                            },
                            "description": "Credential connection status entries for systems."
                          },
                          "email": {
                            "type": "string",
                            "description": "End user email address."
                          },
                          "externalId": {
                            "type": "string",
                            "description": "Application-defined external user ID."
                          },
                          "id": {
                            "type": "string",
                            "description": "Internal Superglue end user ID."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom metadata for the end user."
                          },
                          "name": {
                            "type": "string",
                            "description": "End user display name."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End user update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/superglue/latest/actions/get-full-run-results": {
      "get": {
        "operationId": "superglue.get-full-run-results",
        "summary": "Get Full Run Results",
        "description": "Retrieves full run results from Superglue.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/superglue/latest/actions/get-full-run-results"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runId",
            "in": "query",
            "required": true,
            "description": "ID of the Superglue run.",
            "schema": {
              "type": "string",
              "description": "ID of the Superglue run.",
              "example": "7f3e9c1a-2b4d-4e8f-9a3b-1c5d7e9f2a4b"
            }
          },
          {
            "name": "truncate",
            "in": "query",
            "required": false,
            "description": "If true, truncate large results for preview.",
            "schema": {
              "type": "string",
              "description": "If true, truncate large results for preview.",
              "enum": [
                "false",
                "true"
              ],
              "default": "false"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Full tool execution result data."
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message for failed stored results."
                          },
                          "message": {
                            "type": "string",
                            "description": "Message returned when no stored results are available."
                          },
                          "runId": {
                            "type": "string",
                            "description": "Unique identifier for the run results."
                          },
                          "stepResults": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Per-step execution results."
                          },
                          "storedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the run results were stored."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the stored run results were returned successfully."
                          },
                          "toolPayload": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Inputs provided when running the tool."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/superglue/latest/actions/get-run-status-and-metadata": {
      "get": {
        "operationId": "superglue.get-run-status-and-metadata",
        "summary": "Get Run Status and Metadata",
        "description": "Retrieves run status and metadata from Superglue.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/superglue/latest/actions/get-run-status-and-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runId",
            "in": "query",
            "required": true,
            "description": "ID of the Superglue run.",
            "schema": {
              "type": "string",
              "description": "ID of the Superglue run.",
              "example": "7f3e9c1a-2b4d-4e8f-9a3b-1c5d7e9f2a4b"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Tool-specific execution result data for synchronous runs."
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message when the run failed or was aborted."
                          },
                          "executionMode": {
                            "type": "string",
                            "description": "Execution mode used for system credentials."
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "completedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Run completion timestamp when finished."
                              },
                              "durationMs": {
                                "type": "number",
                                "description": "Run duration in milliseconds."
                              },
                              "startedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Run start timestamp."
                              }
                            },
                            "additionalProperties": false
                          },
                          "options": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Execution options used for this run."
                          },
                          "requestSource": {
                            "type": "string",
                            "description": "Source identifier for where the run was initiated."
                          },
                          "resultStorageUri": {
                            "type": "string",
                            "description": "Storage URI for full run results when available."
                          },
                          "runId": {
                            "type": "string",
                            "description": "Unique identifier for this run."
                          },
                          "status": {
                            "type": "string",
                            "description": "Execution status for the run."
                          },
                          "stepResults": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Per-step execution results for multi-step tools."
                          },
                          "tool": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Identifier of the executed tool."
                              },
                              "instruction": {
                                "type": "string",
                                "description": "Human-readable instruction for the executed tool."
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the executed tool."
                              }
                            },
                            "additionalProperties": false
                          },
                          "toolId": {
                            "type": "string",
                            "description": "ID of the tool that was executed."
                          },
                          "toolPayload": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Inputs provided when running the tool."
                          },
                          "traceId": {
                            "type": "string",
                            "description": "Trace ID for debugging and log correlation."
                          },
                          "userId": {
                            "type": "string",
                            "description": "User or end user who triggered the run."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/superglue/latest/actions/get-tool-details": {
      "get": {
        "operationId": "superglue.get-tool-details",
        "summary": "Get Tool Details",
        "description": "Retrieves tool details from Superglue.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/superglue/latest/actions/get-tool-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toolId",
            "in": "query",
            "required": true,
            "description": "ID of the Superglue tool.",
            "schema": {
              "type": "string",
              "description": "ID of the Superglue tool.",
              "example": "stock-email-alert"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Tool creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Superglue tool identifier."
                          },
                          "inputSchema": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "JSON schema for tool inputs."
                          },
                          "instruction": {
                            "type": "string",
                            "description": "Human-readable instruction describing what the tool does."
                          },
                          "outputTransform": {
                            "type": "string",
                            "description": "Optional output transformation expression."
                          },
                          "steps": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ordered execution steps that make up the tool."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Tool update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/superglue/latest/actions/list-end-users": {
      "get": {
        "operationId": "superglue.list-end-users",
        "summary": "List End Users",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/superglue/latest/actions/list-end-users"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowedSystems": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "System IDs this user can access."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End user creation timestamp."
                          },
                          "email": {
                            "type": "string",
                            "description": "End user email address."
                          },
                          "externalId": {
                            "type": "string",
                            "description": "Application-defined external user ID."
                          },
                          "id": {
                            "type": "string",
                            "description": "Internal Superglue end user ID."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom metadata for the end user."
                          },
                          "name": {
                            "type": "string",
                            "description": "End user display name."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End user update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/superglue/latest/actions/list-runs": {
      "get": {
        "operationId": "superglue.list-runs",
        "summary": "List Runs",
        "description": "Retrieves runs from Superglue.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/superglue/latest/actions/list-runs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toolId",
            "in": "query",
            "required": false,
            "description": "Filter runs by tool ID.",
            "schema": {
              "type": "string",
              "description": "Filter runs by tool ID.",
              "example": "stock-email-alert"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter runs by status.",
            "schema": {
              "type": "string",
              "description": "Filter runs by status.",
              "enum": [
                "aborted",
                "failed",
                "running",
                "success"
              ]
            }
          },
          {
            "name": "requestSources",
            "in": "query",
            "required": false,
            "description": "Filter by comma-separated request sources.",
            "schema": {
              "type": "string",
              "description": "Filter by comma-separated request sources.",
              "example": "api,webhook",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "Filter runs by user ID.",
            "schema": {
              "type": "string",
              "description": "Filter runs by user ID.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "systemId",
            "in": "query",
            "required": false,
            "description": "Filter runs by system ID.",
            "schema": {
              "type": "string",
              "description": "Filter runs by system ID.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Tool-specific execution result data for synchronous runs."
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message when the run failed or was aborted."
                          },
                          "executionMode": {
                            "type": "string",
                            "description": "Execution mode used for system credentials."
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "completedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Run completion timestamp when finished."
                              },
                              "durationMs": {
                                "type": "number",
                                "description": "Run duration in milliseconds."
                              },
                              "startedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Run start timestamp."
                              }
                            },
                            "additionalProperties": false
                          },
                          "options": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Execution options used for this run."
                          },
                          "requestSource": {
                            "type": "string",
                            "description": "Source identifier for where the run was initiated."
                          },
                          "resultStorageUri": {
                            "type": "string",
                            "description": "Storage URI for full run results when available."
                          },
                          "runId": {
                            "type": "string",
                            "description": "Unique identifier for this run."
                          },
                          "status": {
                            "type": "string",
                            "description": "Execution status for the run."
                          },
                          "stepResults": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Per-step execution results for multi-step tools."
                          },
                          "tool": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Identifier of the executed tool."
                              },
                              "instruction": {
                                "type": "string",
                                "description": "Human-readable instruction for the executed tool."
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the executed tool."
                              }
                            },
                            "additionalProperties": false
                          },
                          "toolId": {
                            "type": "string",
                            "description": "ID of the tool that was executed."
                          },
                          "toolPayload": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Inputs provided when running the tool."
                          },
                          "traceId": {
                            "type": "string",
                            "description": "Trace ID for debugging and log correlation."
                          },
                          "userId": {
                            "type": "string",
                            "description": "User or end user who triggered the run."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/superglue/latest/actions/list-tools": {
      "get": {
        "operationId": "superglue.list-tools",
        "summary": "List Tools",
        "description": "Retrieves tools from Superglue.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/superglue/latest/actions/list-tools"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Tool creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Superglue tool identifier."
                          },
                          "inputSchema": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "JSON schema for tool inputs."
                          },
                          "instruction": {
                            "type": "string",
                            "description": "Human-readable instruction describing what the tool does."
                          },
                          "outputTransform": {
                            "type": "string",
                            "description": "Optional output transformation expression."
                          },
                          "steps": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ordered execution steps that make up the tool."
                          },
                          "systemIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "System identifiers used by the tool."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Tool update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/superglue/latest/actions/run-tool": {
      "post": {
        "operationId": "superglue.run-tool",
        "summary": "Run Tool",
        "description": "Runs a tool in Superglue.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/superglue/latest/actions/run-tool"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "toolId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "toolId": {
                    "type": "string",
                    "description": "ID of the Superglue tool to run.",
                    "example": "stock-email-alert"
                  },
                  "runId": {
                    "type": "string",
                    "description": "Optional pre-generated run ID for idempotency and tracking.",
                    "example": "run-123",
                    "x-mindcloud-advanced": true
                  },
                  "inputs": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Tool-specific input parameters."
                  },
                  "options": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Execution options for the run.",
                    "x-mindcloud-advanced": true
                  },
                  "options.async": {
                    "type": "boolean",
                    "description": "Return immediately and execute asynchronously when true.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "options.timeout": {
                    "type": "number",
                    "description": "Request timeout in milliseconds.",
                    "example": 60000,
                    "default": 60000,
                    "x-mindcloud-advanced": true
                  },
                  "options.webhookUrl": {
                    "type": "string",
                    "description": "Callback URL or tool:{toolId} chain target when the run finishes.",
                    "example": "https://example.com/webhooks/superglue",
                    "x-mindcloud-advanced": true
                  },
                  "options.mode": {
                    "type": "string",
                    "description": "Execution mode for system resolution.",
                    "enum": [
                      "dev",
                      "prod"
                    ],
                    "default": "prod",
                    "x-mindcloud-advanced": true
                  },
                  "options.requestSource": {
                    "type": "string",
                    "description": "Override the request source identifier.",
                    "enum": [
                      "cli",
                      "frontend",
                      "mcp"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "options.traceId": {
                    "type": "string",
                    "description": "Custom trace ID for log tracking.",
                    "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
[...]
