{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Invoice.xhub Universal API",
    "version": "0.0.2",
    "description": "Generate, parse, and validate electronic invoices across 14 European countries with country-specific formats such as ZUGFeRD, XRechnung, Factur-X, UBL, QR-Bill, and FatturaPA."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/invoicexhub/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/invoicexhub/latest/actions/auto-detect-and-parse-invoice": {
      "get": {
        "operationId": "invoicexhub.auto-detect-and-parse-invoice",
        "summary": "Auto-Detect and Parse Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoicexhub/latest/actions/auto-detect-and-parse-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "required": true,
            "description": "Base64-encoded invoice document content.",
            "schema": {
              "type": "string",
              "description": "Base64-encoded invoice document content.",
              "default": "JVBERi0xLjQKJUZha2VQREY="
            }
          },
          {
            "name": "filename",
            "in": "query",
            "required": false,
            "description": "Optional filename used to hint format detection.",
            "schema": {
              "type": "string",
              "description": "Optional filename used to hint format detection.",
              "default": "sample.pdf"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "detection": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "hash": {
                            "type": "string"
                          },
                          "invoice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "success": {
                            "type": "boolean"
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoicexhub/latest/actions/generate-austria-eb-interface-invoice": {
      "post": {
        "operationId": "invoicexhub.generate-austria-eb-interface-invoice",
        "summary": "Generate Austria ebInterface Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoicexhub/latest/actions/generate-austria-eb-interface-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "invoice"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "invoice": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Invoice payload to generate the document from.",
                    "default": {
                      "type": "invoice",
                      "buyer": {
                        "city": "Munich",
                        "name": "BigCorp AG",
                        "street": "Kundenweg 42",
                        "postalCode": "80331",
                        "countryCode": "DE"
                      },
                      "items": [
                        {
                          "unit": "EA",
                          "taxRate": 19,
                          "position": 1,
                          "quantity": 1,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "unitPrice": 1500,
                          "description": "Software license",
                          "grossAmount": 1785
                        }
                      ],
                      "total": 1785,
                      "seller": {
                        "city": "Berlin",
                        "name": "Acme GmbH",
                        "email": "billing@acme.example",
                        "vatId": "DE123456789",
                        "street": "Musterstrasse 1",
                        "postalCode": "10115",
                        "countryCode": "DE"
                      },
                      "dueDate": "2025-02-15",
                      "currency": "EUR",
                      "subtotal": 1500,
                      "issueDate": "2025-01-15",
                      "taxSummary": [
                        {
                          "taxRate": 19,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "taxableAmount": 1500
                        }
                      ],
                      "paymentTerms": {
                        "dueDate": "2025-02-15",
                        "dueDays": 31
                      },
                      "invoiceNumber": "TEST-001"
                    }
                  },
                  "formatOptions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional format-specific generation options."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string"
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "filename": {
                            "type": "string"
                          },
                          "format": {
                            "type": "string"
                          },
                          "hash": {
                            "type": "string"
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoicexhub/latest/actions/generate-austria-pdf-invoice": {
      "post": {
        "operationId": "invoicexhub.generate-austria-pdf-invoice",
        "summary": "Generate Austria PDF Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoicexhub/latest/actions/generate-austria-pdf-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "invoice"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "invoice": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Invoice payload to generate.",
                    "default": {
                      "type": "invoice",
                      "buyer": {
                        "city": "Munich",
                        "name": "BigCorp AG",
                        "street": "Kundenweg 42",
                        "postalCode": "80331",
                        "countryCode": "DE"
                      },
                      "items": [
                        {
                          "unit": "EA",
                          "taxRate": 19,
                          "position": 1,
                          "quantity": 1,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "unitPrice": 1500,
                          "description": "Software license",
                          "grossAmount": 1785
                        }
                      ],
                      "total": 1785,
                      "seller": {
                        "city": "Berlin",
                        "name": "Acme GmbH",
                        "email": "billing@acme.example",
                        "vatId": "DE123456789",
                        "street": "Musterstrasse 1",
                        "postalCode": "10115",
                        "countryCode": "DE"
                      },
                      "dueDate": "2025-02-15",
                      "currency": "EUR",
                      "subtotal": 1500,
                      "issueDate": "2025-01-15",
                      "taxSummary": [
                        {
                          "taxRate": 19,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "taxableAmount": 1500
                        }
                      ],
                      "paymentTerms": {
                        "dueDate": "2025-02-15",
                        "dueDays": 31
                      },
                      "invoiceNumber": "TEST-001"
                    }
                  },
                  "formatOptions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional format-specific generation options."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string"
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "filename": {
                            "type": "string"
                          },
                          "format": {
                            "type": "string"
                          },
                          "hash": {
                            "type": "string"
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoicexhub/latest/actions/generate-belgium-pdf-invoice": {
      "post": {
        "operationId": "invoicexhub.generate-belgium-pdf-invoice",
        "summary": "Generate Belgium PDF Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoicexhub/latest/actions/generate-belgium-pdf-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "invoice"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "invoice": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Invoice payload to generate.",
                    "default": {
                      "type": "invoice",
                      "buyer": {
                        "city": "Munich",
                        "name": "BigCorp AG",
                        "street": "Kundenweg 42",
                        "postalCode": "80331",
                        "countryCode": "DE"
                      },
                      "items": [
                        {
                          "unit": "EA",
                          "taxRate": 19,
                          "position": 1,
                          "quantity": 1,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "unitPrice": 1500,
                          "description": "Software license",
                          "grossAmount": 1785
                        }
                      ],
                      "total": 1785,
                      "seller": {
                        "city": "Berlin",
                        "name": "Acme GmbH",
                        "email": "billing@acme.example",
                        "vatId": "DE123456789",
                        "street": "Musterstrasse 1",
                        "postalCode": "10115",
                        "countryCode": "DE"
                      },
                      "dueDate": "2025-02-15",
                      "currency": "EUR",
                      "subtotal": 1500,
                      "issueDate": "2025-01-15",
                      "taxSummary": [
                        {
                          "taxRate": 19,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "taxableAmount": 1500
                        }
                      ],
                      "paymentTerms": {
                        "dueDate": "2025-02-15",
                        "dueDays": 31
                      },
                      "invoiceNumber": "TEST-001"
                    }
                  },
                  "formatOptions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional format-specific generation options."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string"
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "filename": {
                            "type": "string"
                          },
                          "format": {
                            "type": "string"
                          },
                          "hash": {
                            "type": "string"
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoicexhub/latest/actions/generate-belgium-ubl-invoice": {
      "post": {
        "operationId": "invoicexhub.generate-belgium-ubl-invoice",
        "summary": "Generate Belgium UBL Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoicexhub/latest/actions/generate-belgium-ubl-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "invoice"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "invoice": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Invoice payload to generate the document from.",
                    "default": {
                      "type": "invoice",
                      "buyer": {
                        "city": "Munich",
                        "name": "BigCorp AG",
                        "street": "Kundenweg 42",
                        "postalCode": "80331",
                        "countryCode": "DE"
                      },
                      "items": [
                        {
                          "unit": "EA",
                          "taxRate": 19,
                          "position": 1,
                          "quantity": 1,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "unitPrice": 1500,
                          "description": "Software license",
                          "grossAmount": 1785
                        }
                      ],
                      "total": 1785,
                      "seller": {
                        "city": "Berlin",
                        "name": "Acme GmbH",
                        "email": "billing@acme.example",
                        "vatId": "DE123456789",
                        "street": "Musterstrasse 1",
                        "postalCode": "10115",
                        "countryCode": "DE"
                      },
                      "dueDate": "2025-02-15",
                      "currency": "EUR",
                      "subtotal": 1500,
                      "issueDate": "2025-01-15",
                      "taxSummary": [
                        {
                          "taxRate": 19,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "taxableAmount": 1500
                        }
                      ],
                      "paymentTerms": {
                        "dueDate": "2025-02-15",
                        "dueDays": 31
                      },
                      "invoiceNumber": "TEST-001"
                    }
                  },
                  "formatOptions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional format-specific generation options."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string"
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "filename": {
                            "type": "string"
                          },
                          "format": {
                            "type": "string"
                          },
                          "hash": {
                            "type": "string"
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoicexhub/latest/actions/generate-bulgaria-pdf-invoice": {
      "post": {
        "operationId": "invoicexhub.generate-bulgaria-pdf-invoice",
        "summary": "Generate Bulgaria PDF Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoicexhub/latest/actions/generate-bulgaria-pdf-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "invoice"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "invoice": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Invoice payload to generate.",
                    "default": {
                      "type": "invoice",
                      "buyer": {
                        "city": "Munich",
                        "name": "BigCorp AG",
                        "street": "Kundenweg 42",
                        "postalCode": "80331",
                        "countryCode": "DE"
                      },
                      "items": [
                        {
                          "unit": "EA",
                          "taxRate": 19,
                          "position": 1,
                          "quantity": 1,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "unitPrice": 1500,
                          "description": "Software license",
                          "grossAmount": 1785
                        }
                      ],
                      "total": 1785,
                      "seller": {
                        "city": "Berlin",
                        "name": "Acme GmbH",
                        "email": "billing@acme.example",
                        "vatId": "DE123456789",
                        "street": "Musterstrasse 1",
                        "postalCode": "10115",
                        "countryCode": "DE"
                      },
                      "dueDate": "2025-02-15",
                      "currency": "EUR",
                      "subtotal": 1500,
                      "issueDate": "2025-01-15",
                      "taxSummary": [
                        {
                          "taxRate": 19,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "taxableAmount": 1500
                        }
                      ],
                      "paymentTerms": {
                        "dueDate": "2025-02-15",
                        "dueDays": 31
                      },
                      "invoiceNumber": "TEST-001"
                    }
                  },
                  "formatOptions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional format-specific generation options."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string"
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "filename": {
                            "type": "string"
                          },
                          "format": {
                            "type": "string"
                          },
                          "hash": {
                            "type": "string"
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoicexhub/latest/actions/generate-bulgaria-ubl-invoice": {
      "post": {
        "operationId": "invoicexhub.generate-bulgaria-ubl-invoice",
        "summary": "Generate Bulgaria UBL Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoicexhub/latest/actions/generate-bulgaria-ubl-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "invoice"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "invoice": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Invoice payload to generate.",
                    "default": {
                      "type": "invoice",
                      "buyer": {
                        "city": "Munich",
                        "name": "BigCorp AG",
                        "street": "Kundenweg 42",
                        "postalCode": "80331",
                        "countryCode": "DE"
                      },
                      "items": [
                        {
                          "unit": "EA",
                          "taxRate": 19,
                          "position": 1,
                          "quantity": 1,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "unitPrice": 1500,
                          "description": "Software license",
                          "grossAmount": 1785
                        }
                      ],
                      "total": 1785,
                      "seller": {
                        "city": "Berlin",
                        "name": "Acme GmbH",
                        "email": "billing@acme.example",
                        "vatId": "DE123456789",
                        "street": "Musterstrasse 1",
                        "postalCode": "10115",
                        "countryCode": "DE"
                      },
                      "dueDate": "2025-02-15",
                      "currency": "EUR",
                      "subtotal": 1500,
                      "issueDate": "2025-01-15",
                      "taxSummary": [
                        {
                          "taxRate": 19,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "taxableAmount": 1500
                        }
                      ],
                      "paymentTerms": {
                        "dueDate": "2025-02-15",
                        "dueDays": 31
                      },
                      "invoiceNumber": "TEST-001"
                    }
                  },
                  "formatOptions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional format-specific generation options."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string"
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "filename": {
                            "type": "string"
                          },
                          "format": {
                            "type": "string"
                          },
                          "hash": {
                            "type": "string"
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoicexhub/latest/actions/generate-czech-republic-isdoc-invoice": {
      "post": {
        "operationId": "invoicexhub.generate-czech-republic-isdoc-invoice",
        "summary": "Generate Czech Republic ISDOC Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoicexhub/latest/actions/generate-czech-republic-isdoc-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "invoice"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "invoice": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Invoice payload to generate.",
                    "default": {
                      "type": "invoice",
                      "buyer": {
                        "city": "Munich",
                        "name": "BigCorp AG",
                        "street": "Kundenweg 42",
                        "postalCode": "80331",
                        "countryCode": "DE"
                      },
                      "items": [
                        {
                          "unit": "EA",
                          "taxRate": 19,
                          "position": 1,
                          "quantity": 1,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "unitPrice": 1500,
                          "description": "Software license",
                          "grossAmount": 1785
                        }
                      ],
                      "total": 1785,
                      "seller": {
                        "city": "Berlin",
                        "name": "Acme GmbH",
                        "email": "billing@acme.example",
                        "vatId": "DE123456789",
                        "street": "Musterstrasse 1",
                        "postalCode": "10115",
                        "countryCode": "DE"
                      },
                      "dueDate": "2025-02-15",
                      "currency": "EUR",
                      "subtotal": 1500,
                      "issueDate": "2025-01-15",
                      "taxSummary": [
                        {
                          "taxRate": 19,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "taxableAmount": 1500
                        }
                      ],
                      "paymentTerms": {
                        "dueDate": "2025-02-15",
                        "dueDays": 31
                      },
                      "invoiceNumber": "TEST-001"
                    }
                  },
                  "formatOptions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional format-specific generation options."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string"
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "filename": {
                            "type": "string"
                          },
                          "format": {
                            "type": "string"
                          },
                          "hash": {
                            "type": "string"
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoicexhub/latest/actions/generate-czech-republic-pdf-invoice": {
      "post": {
        "operationId": "invoicexhub.generate-czech-republic-pdf-invoice",
        "summary": "Generate Czech Republic PDF Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoicexhub/latest/actions/generate-czech-republic-pdf-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "invoice"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "invoice": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Invoice payload to generate.",
                    "default": {
                      "type": "invoice",
                      "buyer": {
                        "city": "Munich",
                        "name": "BigCorp AG",
                        "street": "Kundenweg 42",
                        "postalCode": "80331",
                        "countryCode": "DE"
                      },
                      "items": [
                        {
                          "unit": "EA",
                          "taxRate": 19,
                          "position": 1,
                          "quantity": 1,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "unitPrice": 1500,
                          "description": "Software license",
                          "grossAmount": 1785
                        }
                      ],
                      "total": 1785,
                      "seller": {
                        "city": "Berlin",
                        "name": "Acme GmbH",
                        "email": "billing@acme.example",
                        "vatId": "DE123456789",
                        "street": "Musterstrasse 1",
                        "postalCode": "10115",
                        "countryCode": "DE"
                      },
                      "dueDate": "2025-02-15",
                      "currency": "EUR",
                      "subtotal": 1500,
                      "issueDate": "2025-01-15",
                      "taxSummary": [
                        {
                          "taxRate": 19,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "taxableAmount": 1500
                        }
                      ],
                      "paymentTerms": {
                        "dueDate": "2025-02-15",
                        "dueDays": 31
                      },
                      "invoiceNumber": "TEST-001"
                    }
                  },
                  "formatOptions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional format-specific generation options."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string"
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "filename": {
                            "type": "string"
                          },
                          "format": {
                            "type": "string"
                          },
                          "hash": {
                            "type": "string"
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoicexhub/latest/actions/generate-france-factur-x-invoice": {
      "post": {
        "operationId": "invoicexhub.generate-france-factur-x-invoice",
        "summary": "Generate France Factur-X Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoicexhub/latest/actions/generate-france-factur-x-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "invoice"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "invoice": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Invoice payload to generate the document from.",
                    "default": {
                      "type": "invoice",
                      "buyer": {
                        "city": "Munich",
                        "name": "BigCorp AG",
                        "street": "Kundenweg 42",
                        "postalCode": "80331",
                        "countryCode": "DE"
                      },
                      "items": [
                        {
                          "unit": "EA",
                          "taxRate": 19,
                          "position": 1,
                          "quantity": 1,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "unitPrice": 1500,
                          "description": "Software license",
                          "grossAmount": 1785
                        }
                      ],
                      "total": 1785,
                      "seller": {
                        "city": "Berlin",
                        "name": "Acme GmbH",
                        "email": "billing@acme.example",
                        "vatId": "DE123456789",
                        "street": "Musterstrasse 1",
                        "postalCode": "10115",
                        "countryCode": "DE"
                      },
                      "dueDate": "2025-02-15",
                      "currency": "EUR",
                      "subtotal": 1500,
                      "issueDate": "2025-01-15",
                      "taxSummary": [
                        {
                          "taxRate": 19,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "taxableAmount": 1500
                        }
                      ],
                      "paymentTerms": {
                        "dueDate": "2025-02-15",
                        "dueDays": 31
                      },
                      "invoiceNumber": "TEST-001"
                    }
                  },
                  "formatOptions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional format-specific generation options."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string"
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "filename": {
                            "type": "string"
                          },
                          "format": {
                            "type": "string"
                          },
                          "hash": {
                            "type": "string"
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoicexhub/latest/actions/generate-france-pdf-invoice": {
      "post": {
        "operationId": "invoicexhub.generate-france-pdf-invoice",
        "summary": "Generate France PDF Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoicexhub/latest/actions/generate-france-pdf-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "invoice"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "invoice": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Invoice payload to generate.",
                    "default": {
                      "type": "invoice",
                      "buyer": {
                        "city": "Munich",
                        "name": "BigCorp AG",
                        "street": "Kundenweg 42",
                        "postalCode": "80331",
                        "countryCode": "DE"
                      },
                      "items": [
                        {
                          "unit": "EA",
                          "taxRate": 19,
                          "position": 1,
                          "quantity": 1,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "unitPrice": 1500,
                          "description": "Software license",
                          "grossAmount": 1785
                        }
                      ],
                      "total": 1785,
                      "seller": {
                        "city": "Berlin",
                        "name": "Acme GmbH",
                        "email": "billing@acme.example",
                        "vatId": "DE123456789",
                        "street": "Musterstrasse 1",
                        "postalCode": "10115",
                        "countryCode": "DE"
                      },
                      "dueDate": "2025-02-15",
                      "currency": "EUR",
                      "subtotal": 1500,
                      "issueDate": "2025-01-15",
                      "taxSummary": [
                        {
                          "taxRate": 19,
                          "netAmount": 1500,
                          "taxAmount": 285,
                          "taxableAmount": 1500
                        }
                      ],
                      "paymentTerms": {
                        "dueDate": "2025-02-15",
                        "dueDays": 31
                      },
                      "invoiceNumber": "TEST-001"
                    }
                  },
                  "formatOptions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional format-specific generation options."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string"
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "filename": {
                            "type": "string"
                          },
                          "format": {
                            "type": "string"
                          },
                          "hash": {
                            "type": "string"
                          },
                          "mimeType": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
[...]
