{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Placekey Universal API",
    "version": "0.0.3",
    "description": "Placekey provides APIs for matching physical locations, addresses, and points of interest to stable Placekey identifiers for deduplication, joining, and location intelligence workflows."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/placekey/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/placekey/latest/actions/get-placekey": {
      "get": {
        "operationId": "placekey.get-placekey",
        "summary": "Get Placekey",
        "description": "Retrieves a Placekey for one location in Placekey.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/placekey/latest/actions/get-placekey"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.locationName",
            "in": "query",
            "required": false,
            "description": "Name of the point of interest to match, when available.",
            "schema": {
              "type": "string",
              "description": "Name of the point of interest to match, when available.",
              "example": "San Francisco City Hall"
            }
          },
          {
            "name": "query.streetAddress",
            "in": "query",
            "required": false,
            "description": "Street address of the place.",
            "schema": {
              "type": "string",
              "description": "Street address of the place.",
              "example": "1 Dr Carlton B Goodlett Pl"
            }
          },
          {
            "name": "query.city",
            "in": "query",
            "required": false,
            "description": "City where the place is located.",
            "schema": {
              "type": "string",
              "description": "City where the place is located.",
              "example": "San Francisco"
            }
          },
          {
            "name": "query.region",
            "in": "query",
            "required": false,
            "description": "Second-level administrative region, such as a US state.",
            "schema": {
              "type": "string",
              "description": "Second-level administrative region, such as a US state.",
              "example": "CA"
            }
          },
          {
            "name": "query.postalCode",
            "in": "query",
            "required": false,
            "description": "Postal code of the place.",
            "schema": {
              "type": "string",
              "description": "Postal code of the place.",
              "example": "94102"
            }
          },
          {
            "name": "query.isoCountryCode",
            "in": "query",
            "required": false,
            "description": "ISO 2-letter country code for the place.",
            "schema": {
              "type": "string",
              "description": "ISO 2-letter country code for the place.",
              "example": "US"
            }
          },
          {
            "name": "query.latitude",
            "in": "query",
            "required": false,
            "description": "Latitude in WGS-84 coordinates.",
            "schema": {
              "type": "number",
              "description": "Latitude in WGS-84 coordinates.",
              "example": 37.7793
            }
          },
          {
            "name": "query.longitude",
            "in": "query",
            "required": false,
            "description": "Longitude in WGS-84 coordinates.",
            "schema": {
              "type": "number",
              "description": "Longitude in WGS-84 coordinates.",
              "example": -122.4193
            }
          },
          {
            "name": "options.fields",
            "in": "query",
            "required": false,
            "description": "Optional response fields to request, such as address_placekey, building_placekey, confidence_score, normalized_address, geocode, upi, geoid, parcel, or gers.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "0",
                  "1",
                  "2",
                  "3",
                  "4",
                  "5",
                  "6",
                  "7",
                  "8"
                ]
              },
              "description": "Optional response fields to request, such as address_placekey, building_placekey, confidence_score, normalized_address, geocode, upi, geoid, parcel, or gers."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressPlacekey": {
                            "type": "string",
                            "description": "Optional address-level Placekey when requested."
                          },
                          "buildingPlacekey": {
                            "type": "string",
                            "description": "Optional building-level Placekey when requested."
                          },
                          "confidenceScore": {
                            "type": "number",
                            "description": "Optional match confidence score when requested."
                          },
                          "geocode": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optional geocode object when requested."
                          },
                          "normalizedAddress": {
                            "type": "string",
                            "description": "Optional normalized address when requested."
                          },
                          "placekey": {
                            "type": "string",
                            "description": "Placekey identifier returned for the lookup."
                          },
                          "queryId": {
                            "type": "string",
                            "description": "Query ID echoed by Placekey."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/placekey/latest/actions/get-placekeys": {
      "get": {
        "operationId": "placekey.get-placekeys",
        "summary": "Get Placekeys",
        "description": "Retrieves Placekeys for multiple locations in Placekey.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/placekey/latest/actions/get-placekeys"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queries[].queryId",
            "in": "query",
            "required": false,
            "description": "Optional ID echoed back in the response for this query.",
            "schema": {
              "type": "string",
              "description": "Optional ID echoed back in the response for this query.",
              "example": "row-1"
            }
          },
          {
            "name": "queries[].locationName",
            "in": "query",
            "required": false,
            "description": "Name of the point of interest to match, when available.",
            "schema": {
              "type": "string",
              "description": "Name of the point of interest to match, when available.",
              "example": "Twin Peaks Petroleum"
            }
          },
          {
            "name": "queries[].streetAddress",
            "in": "query",
            "required": false,
            "description": "Street address of the place.",
            "schema": {
              "type": "string",
              "description": "Street address of the place.",
              "example": "598 Portola Dr"
            }
          },
          {
            "name": "queries[].city",
            "in": "query",
            "required": false,
            "description": "City where the place is located.",
            "schema": {
              "type": "string",
              "description": "City where the place is located.",
              "example": "San Francisco"
            }
          },
          {
            "name": "queries[].region",
            "in": "query",
            "required": false,
            "description": "Second-level administrative region, such as a US state.",
            "schema": {
              "type": "string",
              "description": "Second-level administrative region, such as a US state.",
              "example": "CA"
            }
          },
          {
            "name": "queries[].postalCode",
            "in": "query",
            "required": false,
            "description": "Postal code of the place.",
            "schema": {
              "type": "string",
              "description": "Postal code of the place.",
              "example": "94131"
            }
          },
          {
            "name": "queries[].isoCountryCode",
            "in": "query",
            "required": false,
            "description": "ISO 2-letter country code. Placekey requires all queries in a batch to use the same iso_country_code when supplied.",
            "schema": {
              "type": "string",
              "description": "ISO 2-letter country code. Placekey requires all queries in a batch to use the same iso_country_code when supplied.",
              "example": "US"
            }
          },
          {
            "name": "queries[].latitude",
            "in": "query",
            "required": false,
            "description": "Latitude in WGS-84 coordinates.",
            "schema": {
              "type": "number",
              "description": "Latitude in WGS-84 coordinates.",
              "example": 37.7371
            }
          },
          {
            "name": "queries[].longitude",
            "in": "query",
            "required": false,
            "description": "Longitude in WGS-84 coordinates.",
            "schema": {
              "type": "number",
              "description": "Longitude in WGS-84 coordinates.",
              "example": -122.44283
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressPlacekey": {
                            "type": "string",
                            "description": "Optional address-level Placekey when requested."
                          },
                          "buildingPlacekey": {
                            "type": "string",
                            "description": "Optional building-level Placekey when requested."
                          },
                          "confidenceScore": {
                            "type": "number",
                            "description": "Optional match confidence score when requested."
                          },
                          "geocode": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Optional geocode object when requested."
                          },
                          "normalizedAddress": {
                            "type": "string",
                            "description": "Optional normalized address when requested."
                          },
                          "placekey": {
                            "type": "string",
                            "description": "Placekey identifier returned for each lookup."
                          },
                          "queryId": {
                            "type": "string",
                            "description": "Query ID echoed by Placekey."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
