{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "College Football Data Universal API",
    "version": "0.0.4",
    "description": "Official College Football Data API for teams, games, rankings, recruiting, ratings, play-by-play, advanced metrics, and live college football data."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/collegeFootballData/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/collegeFootballData/latest/actions/get-adjusted-player-passing-stats": {
      "get": {
        "operationId": "collegeFootballData.get-adjusted-player-passing-stats",
        "summary": "List Adjusted Player Passing Stats",
        "description": "Retrieves opponent-adjusted player passing statistics from College Football Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/collegeFootballData/latest/actions/get-adjusted-player-passing-stats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Optional year filter",
            "schema": {
              "type": "number",
              "description": "Optional year filter"
            }
          },
          {
            "name": "team",
            "in": "query",
            "required": false,
            "description": "Optional team filter",
            "schema": {
              "type": "string",
              "description": "Optional team filter"
            }
          },
          {
            "name": "conference",
            "in": "query",
            "required": false,
            "description": "Optional conference abbreviation filter",
            "schema": {
              "type": "string",
              "description": "Optional conference abbreviation filter"
            }
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "description": "Optional position abbreviation filter",
            "schema": {
              "type": "string",
              "description": "Optional position abbreviation filter"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "athleteId": {
                            "type": "string"
                          },
                          "athleteName": {
                            "type": "string"
                          },
                          "conference": {
                            "type": "string"
                          },
                          "plays": {
                            "type": "number"
                          },
                          "position": {
                            "type": "string"
                          },
                          "team": {
                            "type": "string"
                          },
                          "wepa": {
                            "type": "number"
                          },
                          "year": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/collegeFootballData/latest/actions/get-adjusted-player-rushing-stats": {
      "get": {
        "operationId": "collegeFootballData.get-adjusted-player-rushing-stats",
        "summary": "List Adjusted Player Rushing Stats",
        "description": "Retrieves opponent-adjusted player rushing statistics from College Football Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/collegeFootballData/latest/actions/get-adjusted-player-rushing-stats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Optional year filter",
            "schema": {
              "type": "number",
              "description": "Optional year filter"
            }
          },
          {
            "name": "team",
            "in": "query",
            "required": false,
            "description": "Optional team filter",
            "schema": {
              "type": "string",
              "description": "Optional team filter"
            }
          },
          {
            "name": "conference",
            "in": "query",
            "required": false,
            "description": "Optional conference abbreviation filter",
            "schema": {
              "type": "string",
              "description": "Optional conference abbreviation filter"
            }
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "description": "Optional position abbreviation filter",
            "schema": {
              "type": "string",
              "description": "Optional position abbreviation filter"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "athleteId": {
                            "type": "string"
                          },
                          "athleteName": {
                            "type": "string"
                          },
                          "conference": {
                            "type": "string"
                          },
                          "plays": {
                            "type": "number"
                          },
                          "position": {
                            "type": "string"
                          },
                          "team": {
                            "type": "string"
                          },
                          "wepa": {
                            "type": "number"
                          },
                          "year": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/collegeFootballData/latest/actions/get-adjusted-team-season-stats": {
      "get": {
        "operationId": "collegeFootballData.get-adjusted-team-season-stats",
        "summary": "List Adjusted Team Season Stats",
        "description": "Retrieves opponent-adjusted team season statistics from College Football Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/collegeFootballData/latest/actions/get-adjusted-team-season-stats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Optional year filter",
            "schema": {
              "type": "number",
              "description": "Optional year filter"
            }
          },
          {
            "name": "team",
            "in": "query",
            "required": false,
            "description": "Optional team filter",
            "schema": {
              "type": "string",
              "description": "Optional team filter"
            }
          },
          {
            "name": "conference",
            "in": "query",
            "required": false,
            "description": "Optional conference filter",
            "schema": {
              "type": "string",
              "description": "Optional conference filter"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conference": {
                            "type": "string"
                          },
                          "epa": {
                            "type": "object",
                            "properties": {
                              "passing": {
                                "type": "number"
                              },
                              "rushing": {
                                "type": "number"
                              },
                              "total": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "epaAllowed": {
                            "type": "object",
                            "properties": {
                              "passing": {
                                "type": "number"
                              },
                              "rushing": {
                                "type": "number"
                              },
                              "total": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "explosiveness": {
                            "type": "number"
                          },
                          "explosivenessAllowed": {
                            "type": "number"
                          },
                          "rushing": {
                            "type": "object",
                            "properties": {
                              "highlightYards": {
                                "type": "number"
                              },
                              "lineYards": {
                                "type": "number"
                              },
                              "openFieldYards": {
                                "type": "number"
                              },
                              "secondLevelYards": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "rushingAllowed": {
                            "type": "object",
                            "properties": {
                              "highlightYards": {
                                "type": "number"
                              },
                              "lineYards": {
                                "type": "number"
                              },
                              "openFieldYards": {
                                "type": "number"
                              },
                              "secondLevelYards": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "successRate": {
                            "type": "object",
                            "properties": {
                              "passingDowns": {
                                "type": "number"
                              },
                              "standardDowns": {
                                "type": "number"
                              },
                              "total": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "successRateAllowed": {
                            "type": "object",
                            "properties": {
                              "passingDowns": {
                                "type": "number"
                              },
                              "standardDowns": {
                                "type": "number"
                              },
                              "total": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "team": {
                            "type": "string"
                          },
                          "teamId": {
                            "type": "number"
                          },
                          "year": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/collegeFootballData/latest/actions/get-advanced-box-score": {
      "get": {
        "operationId": "collegeFootballData.get-advanced-box-score",
        "summary": "Get Advanced Box Score",
        "description": "Retrieves an advanced box score from College Football Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/collegeFootballData/latest/actions/get-advanced-box-score"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Required game id filter",
            "schema": {
              "type": "number",
              "description": "Required game id filter",
              "default": 401756846
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "gameInfo": {
                            "type": "object",
                            "properties": {
                              "awayPoints": {
                                "type": "number"
                              },
                              "awayTeam": {
                                "type": "string"
                              },
                              "awayWinProb": {
                                "type": "number"
                              },
                              "excitement": {
                                "type": "number"
                              },
                              "homePoints": {
                                "type": "number"
                              },
                              "homeTeam": {
                                "type": "string"
                              },
                              "homeWinner": {
                                "type": "boolean"
                              },
                              "homeWinProb": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "players": {
                            "type": "object",
                            "properties": {
                              "ppa": {
                                "type": "object",
                                "properties": {
                                  "average": {
                                    "type": "object",
                                    "properties": {
                                      "passing": {
                                        "type": "number"
                                      },
                                      "quarter1": {
                                        "type": "number"
                                      },
                                      "quarter2": {
                                        "type": "number"
                                      },
                                      "quarter3": {
                                        "type": "number"
                                      },
                                      "quarter4": {
                                        "type": "number"
                                      },
                                      "rushing": {
                                        "type": "number"
                                      },
                                      "total": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "cumulative": {
                                    "type": "object",
                                    "properties": {
                                      "passing": {
                                        "type": "number"
                                      },
                                      "quarter1": {
                                        "type": "number"
                                      },
                                      "quarter2": {
                                        "type": "number"
                                      },
                                      "quarter3": {
                                        "type": "number"
                                      },
                                      "quarter4": {
                                        "type": "number"
                                      },
                                      "rushing": {
                                        "type": "number"
                                      },
                                      "total": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "player": {
                                    "type": "string"
                                  },
                                  "position": {
                                    "type": "string"
                                  },
                                  "team": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "usage": {
                                "type": "object",
                                "properties": {
                                  "passing": {
                                    "type": "number"
                                  },
                                  "player": {
                                    "type": "string"
                                  },
                                  "position": {
                                    "type": "string"
                                  },
                                  "quarter1": {
                                    "type": "number"
                                  },
                                  "quarter2": {
                                    "type": "number"
                                  },
                                  "quarter3": {
                                    "type": "number"
                                  },
                                  "quarter4": {
                                    "type": "number"
                                  },
                                  "rushing": {
                                    "type": "number"
                                  },
                                  "team": {
                                    "type": "string"
                                  },
                                  "total": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "teams": {
                            "type": "object",
                            "properties": {
                              "cumulativePpa": {
                                "type": "object",
                                "properties": {
                                  "overall": {
                                    "type": "object",
                                    "properties": {
                                      "quarter1": {
                                        "type": "number"
                                      },
                                      "quarter2": {
                                        "type": "number"
                                      },
                                      "quarter3": {
                                        "type": "number"
                                      },
                                      "quarter4": {
                                        "type": "number"
                                      },
                                      "total": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "passing": {
                                    "type": "object",
                                    "properties": {
                                      "quarter1": {
                                        "type": "number"
                                      },
                                      "quarter2": {
                                        "type": "number"
                                      },
                                      "quarter3": {
                                        "type": "number"
                                      },
                                      "quarter4": {
                                        "type": "number"
                                      },
                                      "total": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "plays": {
                                    "type": "number"
                                  },
                                  "rushing": {
                                    "type": "object",
                                    "properties": {
                                      "quarter1": {
                                        "type": "number"
                                      },
                                      "quarter2": {
                                        "type": "number"
                                      },
                                      "quarter3": {
                                        "type": "number"
                                      },
                                      "quarter4": {
                                        "type": "number"
                                      },
                                      "total": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "team": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "explosiveness": {
                                "type": "object",
                                "properties": {
                                  "overall": {
                                    "type": "object",
                                    "properties": {
                                      "quarter1": {
                                        "type": "number"
                                      },
                                      "quarter2": {
                                        "type": "number"
                                      },
                                      "quarter3": {
                                        "type": "number"
                                      },
                                      "quarter4": {
                                        "type": "number"
                                      },
                                      "total": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "team": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "fieldPosition": {
                                "type": "object",
                                "properties": {
                                  "averageStart": {
                                    "type": "number"
                                  },
                                  "averageStartingPredictedPoints": {
                                    "type": "number"
                                  },
                                  "team": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "havoc": {
                                "type": "object",
                                "properties": {
                                  "db": {
                                    "type": "number"
                                  },
                                  "frontSeven": {
                                    "type": "number"
                                  },
                                  "team": {
                                    "type": "string"
                                  },
                                  "total": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "ppa": {
                                "type": "object",
                                "properties": {
                                  "overall": {
                                    "type": "object",
                                    "properties": {
                                      "quarter1": {
                                        "type": "number"
                                      },
                                      "quarter2": {
                                        "type": "number"
                                      },
                                      "quarter3": {
                                        "type": "number"
                                      },
                                      "quarter4": {
                                        "type": "number"
                                      },
                                      "total": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "passing": {
                                    "type": "object",
                                    "properties": {
                                      "quarter1": {
                                        "type": "number"
                                      },
                                      "quarter2": {
                                        "type": "number"
                                      },
                                      "quarter3": {
                                        "type": "number"
                                      },
                                      "quarter4": {
                                        "type": "number"
                                      },
                                      "total": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "plays": {
                                    "type": "number"
                                  },
                                  "rushing": {
                                    "type": "object",
                                    "properties": {
                                      "quarter1": {
                                        "type": "number"
                                      },
                                      "quarter2": {
                                        "type": "number"
                                      },
                                      "quarter3": {
                                        "type": "number"
                                      },
                                      "quarter4": {
                                        "type": "number"
                                      },
                                      "total": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "team": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "rushing": {
                                "type": "object",
                                "properties": {
                                  "lineYards": {
                                    "type": "number"
                                  },
                                  "lineYardsAverage": {
                                    "type": "number"
                                  },
                                  "openFieldYards": {
                                    "type": "number"
                                  },
                                  "openFieldYardsAverage": {
                                    "type": "number"
                                  },
                                  "powerSuccess": {
                                    "type": "number"
                                  },
                                  "secondLevelYards": {
                                    "type": "number"
                                  },
                                  "secondLevelYardsAverage": {
                                    "type": "number"
                                  },
                                  "stuffRate": {
                                    "type": "number"
                                  },
                                  "team": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "scoringOpportunities": {
                                "type": "object",
                                "properties": {
                                  "opportunities": {
                                    "type": "number"
                                  },
                                  "points": {
                                    "type": "number"
                                  },
                                  "pointsPerOpportunity": {
                                    "type": "number"
                                  },
                                  "team": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "successRates": {
                                "type": "object",
                                "properties": {
                                  "overall": {
                                    "type": "object",
                                    "properties": {
                                      "quarter1": {
                                        "type": "number"
                                      },
                                      "quarter2": {
                                        "type": "number"
                                      },
                                      "quarter3": {
                                        "type": "number"
                                      },
                                      "quarter4": {
                                        "type": "number"
                                      },
                                      "total": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "passingDowns": {
                                    "type": "object",
                                    "properties": {
                                      "quarter1": {
                                        "type": "number"
                                      },
                                      "quarter2": {
                                        "type": "number"
                                      },
                                      "quarter3": {
                                        "type": "number"
                                      },
                                      "quarter4": {
                                        "type": "number"
                                      },
                                      "total": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "standardDowns": {
                                    "type": "object",
                                    "properties": {
                                      "quarter1": {
                                        "type": "number"
                                      },
                                      "quarter2": {
                                        "type": "number"
                                      },
                                      "quarter3": {
                                        "type": "number"
                                      },
                                      "quarter4": {
                                        "type": "number"
                                      },
                                      "total": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "team": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/collegeFootballData/latest/actions/get-advanced-game-stats": {
      "get": {
        "operationId": "collegeFootballData.get-advanced-game-stats",
        "summary": "List Advanced Game Stats",
        "description": "Retrieves advanced game statistics from College Football Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/collegeFootballData/latest/actions/get-advanced-game-stats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Year filter, required if team not specified",
            "schema": {
              "type": "number",
              "description": "Year filter, required if team not specified"
            }
          },
          {
            "name": "team",
            "in": "query",
            "required": false,
            "description": "Team filter, required if year not specified",
            "schema": {
              "type": "string",
              "description": "Team filter, required if year not specified"
            }
          },
          {
            "name": "week",
            "in": "query",
            "required": false,
            "description": "Optional week filter",
            "schema": {
              "type": "number",
              "description": "Optional week filter"
            }
          },
          {
            "name": "opponent",
            "in": "query",
            "required": false,
            "description": "Optional opponent filter",
            "schema": {
              "type": "string",
              "description": "Optional opponent filter"
            }
          },
          {
            "name": "excludeGarbageTime",
            "in": "query",
            "required": false,
            "description": "Garbage time exclusion filter, defaults to false",
            "schema": {
              "type": "boolean",
              "description": "Garbage time exclusion filter, defaults to false"
            }
          },
          {
            "name": "seasonType",
            "in": "query",
            "required": false,
            "description": "Optional season type filter",
            "schema": {
              "type": "string",
              "description": "Optional season type filter"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "defense": {
                            "type": "object",
                            "properties": {
                              "drives": {
                                "type": "number"
                              },
                              "explosiveness": {
                                "type": "number"
                              },
                              "lineYards": {
                                "type": "number"
                              },
                              "lineYardsTotal": {
                                "type": "number"
                              },
                              "openFieldYards": {
                                "type": "number"
                              },
                              "openFieldYardsTotal": {
                                "type": "number"
                              },
                              "passingDowns": {
                                "type": "object",
                                "properties": {
                                  "explosiveness": {
                                    "type": "number"
                                  },
                                  "ppa": {
                                    "type": "number"
                                  },
                                  "successRate": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "passingPlays": {
                                "type": "object",
                                "properties": {
                                  "explosiveness": {
                                    "type": "number"
                                  },
                                  "ppa": {
                                    "type": "number"
                                  },
                                  "successRate": {
                                    "type": "number"
                                  },
                                  "totalPPA": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "plays": {
                                "type": "number"
                              },
                              "powerSuccess": {
                                "type": "number"
                              },
                              "ppa": {
                                "type": "number"
                              },
                              "rushingPlays": {
                                "type": "object",
                                "properties": {
                                  "explosiveness": {
                                    "type": "number"
                                  },
                                  "ppa": {
                                    "type": "number"
                                  },
                                  "successRate": {
                                    "type": "number"
                                  },
                                  "totalPPA": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "secondLevelYards": {
                                "type": "number"
                              },
                              "secondLevelYardsTotal": {
                                "type": "number"
                              },
                              "standardDowns": {
                                "type": "object",
                                "properties": {
                                  "explosiveness": {
                                    "type": "number"
                                  },
                                  "ppa": {
                                    "type": "number"
                                  },
                                  "successRate": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "stuffRate": {
                                "type": "number"
                              },
                              "successRate": {
                                "type": "number"
                              },
                              "totalPPA": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "gameId": {
                            "type": "number"
                          },
                          "offense": {
                            "type": "object",
                            "properties": {
                              "drives": {
                                "type": "number"
                              },
                              "explosiveness": {
                                "type": "number"
                              },
                              "lineYards": {
                                "type": "number"
                              },
                              "lineYardsTotal": {
                                "type": "number"
                              },
                              "openFieldYards": {
                                "type": "number"
                              },
                              "openFieldYardsTotal": {
                                "type": "number"
                              },
                              "passingDowns": {
                                "type": "object",
                                "properties": {
                                  "explosiveness": {
                                    "type": "number"
                                  },
                                  "ppa": {
                                    "type": "number"
                                  },
                                  "successRate": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "passingPlays": {
                                "type": "object",
                                "properties": {
                                  "explosiveness": {
                                    "type": "number"
                                  },
                                  "ppa": {
                                    "type": "number"
                                  },
                                  "successRate": {
                                    "type": "number"
                                  },
                                  "totalPPA": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "plays": {
                                "type": "number"
                              },
                              "powerSuccess": {
                                "type": "number"
                              },
                              "ppa": {
                                "type": "number"
                              },
                              "rushingPlays": {
                                "type": "object",
                                "properties": {
                                  "explosiveness": {
                                    "type": "number"
                                  },
                                  "ppa": {
                                    "type": "number"
                                  },
                                  "successRate": {
                                    "type": "number"
                                  },
                                  "totalPPA": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "secondLevelYards": {
                                "type": "number"
                              },
                              "secondLevelYardsTotal": {
                                "type": "number"
                              },
                              "standardDowns": {
                                "type": "object",
                                "properties": {
                                  "explosiveness": {
                                    "type": "number"
                                  },
                                  "ppa": {
                                    "type": "number"
                                  },
                                  "successRate": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "stuffRate": {
                                "type": "number"
                              },
                              "successRate": {
                                "type": "number"
                              },
                              "totalPPA": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "opponent": {
                            "type": "string"
                          },
                          "season": {
                            "type": "number"
                          },
                          "seasonType": {
                            "type": "string"
                          },
                          "team": {
                            "type": "string"
                          },
                          "week": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/collegeFootballData/latest/actions/get-advanced-season-stats": {
      "get": {
        "operationId": "collegeFootballData.get-advanced-season-stats",
        "summary": "List Advanced Season Stats",
        "description": "Retrieves advanced team season statistics from College Football Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/collegeFootballData/latest/actions/get-advanced-season-stats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Year filter, required if team not specified",
            "schema": {
              "type": "number",
              "description": "Year filter, required if team not specified"
            }
          },
          {
            "name": "team",
            "in": "query",
            "required": false,
            "description": "Team filter, required if year not specified",
            "schema": {
              "type": "string",
              "description": "Team filter, required if year not specified"
            }
          },
          {
            "name": "excludeGarbageTime",
            "in": "query",
            "required": false,
            "description": "Garbage time exclusion filter, defaults to false",
            "schema": {
              "type": "boolean",
              "description": "Garbage time exclusion filter, defaults to false"
            }
          },
          {
            "name": "startWeek",
            "in": "query",
            "required": false,
            "description": "Optional start week range filter",
            "schema": {
              "type": "number",
              "description": "Optional start week range filter"
            }
          },
          {
            "name": "endWeek",
            "in": "query",
            "required": false,
            "description": "Optional end week range filter",
            "schema": {
              "type": "number",
              "description": "Optional end week range filter"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conference": {
                            "type": "string"
                          },
                          "defense": {
                            "type": "object",
                            "properties": {
                              "drives": {
                                "type": "number"
                              },
                              "explosiveness": {
                                "type": "number"
                              },
                              "fieldPosition": {
                                "type": "object",
                                "properties": {
                                  "averagePredictedPoints": {
                                    "type": "number"
                                  },
                                  "averageStart": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "havoc": {
                                "type": "object",
                                "properties": {
                                  "db": {
                                    "type": "number"
                                  },
                                  "frontSeven": {
                                    "type": "number"
                                  },
                                  "total": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "lineYards": {
                                "type": "number"
                              },
                              "lineYardsTotal": {
                                "type": "number"
                              },
                              "openFieldYards": {
                                "type": "number"
                              },
                              "openFieldYardsTotal": {
                                "type": "number"
                              },
                              "passingDowns": {
                                "type": "object",
                                "properties": {
                                  "explosiveness": {
                                    "type": "number"
                                  },
                                  "ppa": {
                                    "type": "number"
                                  },
                                  "rate": {
                                    "type": "number"
                                  },
                                  "successRate": {
                                    "type": "number"
                                  },
                                  "totalPPA": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "passingPlays": {
                                "type": "object",
                                "properties": {
                                  "explosiveness": {
                                    "type": "number"
                                  },
                                  "ppa": {
                                    "type": "number"
                                  },
                                  "rate": {
                                    "type": "number"
                                  },
                                  "successRate": {
                                    "type": "number"
                                  },
                                  "totalPPA": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "plays": {
                                "type": "number"
                              },
                              "pointsPerOpportunity": {
                                "type": "number"
                              },
                              "powerSuccess": {
                                "type": "number"
                              },
                              "ppa": {
                                "type": "number"
                              },
                              "rushingPlays": {
                                "type": "object",
                                "properties": {
                                  "explosiveness": {
                                    "type": "number"
                                  },
                                  "ppa": {
                                    "type": "number"
                                  },
                                  "rate": {
                                    "type": "number"
                                  },
                                  "successRate": {
                                    "type": "number"
                                  },
                                  "totalPPA": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "secondLevelYards": {
                                "type": "number"
                              },
                              "secondLevelYardsTotal": {
                                "type": "number"
                              },
                              "standardDowns": {
                                "type": "object",
                                "properties": {
                                  "explosiveness": {
                                    "type": "number"
                                  },
                                  "ppa": {
                                    "type": "number"
                                  },
                                  "rate": {
                                    "type": "number"
                                  },
                                  "successRate": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "stuffRate": {
                                "type": "number"
                              },
                              "successRate": {
                                "type": "number"
                              },
                              "totalOpportunies": {
                                "type": "number"
                              },
                              "totalPPA": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "offense": {
                            "type": "object",
                            "properties": {
                              "drives": {
                                "type": "number"
                              },
                              "explosiveness": {
                                "type": "number"
                              },
                              "fieldPosition": {
                                "type": "object",
                                "properties": {
                                  "averagePredictedPoints": {
                                    "type": "number"
                                  },
                                  "averageStart": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "havoc": {
                                "type": "object",
                                "properties": {
                                  "db": {
                                    "type": "number"
                                  },
                                  "frontSeven": {
                                    "type": "number"
                                  },
                                  "total": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "lineYards": {
                                "type": "number"
                              },
                              "lineYardsTotal": {
                                "type": "number"
                              },
                              "openFieldYards": {
                                "type": "number"
                              },
                              "openFieldYardsTotal": {
                                "type": "number"
                              },
                              "passingDowns": {
                                "type": "object",
                                "properties": {
                                  "explosiveness": {
                                    "type": "number"
                                  },
                                  "ppa": {
                                    "type": "number"
                                  },
                                  "rate": {
                                    "type": "number"
                                  },
                                  "successRate": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "passingPlays": {
                                "type": "object",
                                "properties": {
                                  "explosiveness": {
                                    "type": "number"
                                  },
                                  "ppa": {
                                    "type": "number"
                                  },
                                  "rate": {
                                    "type": "number"
                                  },
                                  "successRate": {
                                    "type": "number"
                                  },
                                  "totalPPA": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "plays": {
                                "type": "number"
                              },
                              "pointsPerOpportunity": {
                                "type": "number"
                              },
                              "powerSuccess": {
                                "type": "number"
                              },
                              "ppa": {
                                "type": "number"
                              },
                              "rushingPlays": {
                                "type": "object",
                                "properties": {
                                  "explosiveness": {
                                    "type": "number"
                                  },
                                  "ppa": {
                                    "type": "number"
                                  },
                                  "rate": {
                                    "type": "number"
                                  },
                                  "successRate": {
                                    "type": "number"
                                  },
                                  "totalPPA": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "secondLevelYards": {
                                "type": "number"
                              },
                              "secondLevelYardsTotal": {
                                "type": "number"
                              },
                              "standardDowns": {
                                "type": "object",
                                "properties": {
                                  "explosiveness": {
                                    "type": "number"
                                  },
                                  "ppa": {
                                    "type": "number"
                                  },
                                  "rate": {
                                    "type": "number"
                                  },
                                  "successRate": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "stuffRate": {
                                "type": "number"
                              },
                              "successRate": {
                                "type": "number"
                              },
                              "totalOpportunies": {
                                "type": "number"
                              },
                              "totalPPA": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "season": {
                            "type": "number"
                          },
                          "team": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/collegeFootballData/latest/actions/get-aggregated-team-recruiting-ratings": {
      "get": {
        "operationId": "collegeFootballData.get-aggregated-team-recruiting-ratings",
        "summary": "List Aggregated Team Recruiting Ratings",
        "description": "Retrieves aggregated team recruiting ratings from College Football Data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/collegeFootballData/latest/actions/get-aggregated-team-recruiting-ratings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team",
            "in": "query",
            "required": false,
            "description": "Optional team filter",
            "schema": {
              "type": "string",
              "description": "Optional team filter"
            }
          },
          {
            "name": "conference",
            "in": "query",
            "required": false,
            "description": "Optional conference filter",
            "schema": {
              "type": "string",
              "description": "Optional conference filter"
            }
          },
          {
            "name": "recruitType",
            "in": "query",
            "required": false,
            "description": "Optional recruit type filter, defaults to HighSchool",
            "schema": {
              "type": "string",
              "description": "Optional recruit type filter, defaults to HighSchool"
            }
          },
          {
            "name": "startYear",
            "in": "query",
            "required": false,
            "description": "Optional start year range, defaults to 2000",
            "schema": {
              "type": "number",
              "description": "Optional start year range, defaults to 2000"
            }
          },
          {
            "name": "endYear",
            "in": "query",
            "required": false,
            "description": "Optional end year range, defaults to current year",
            "schema": {
              "type": "number",
              "description": "Optional end year range, defaults to current year"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
[...]
