{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "IP2WHOIS Universal API",
    "version": "0.0.4",
    "description": "Lookup domain WHOIS records and hosted domains by IP"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/iP2WHOIS/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/iP2WHOIS/latest/actions/list-hosted-domains-by-ip": {
      "get": {
        "operationId": "iP2WHOIS.list-hosted-domains-by-ip",
        "summary": "List Hosted Domains by IP",
        "description": "Finds hosted domains in IP2WHOIS by IP address.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iP2WHOIS/latest/actions/list-hosted-domains-by-ip"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "required": true,
            "description": "IPv4 or IPv6 address to look up.",
            "schema": {
              "type": "string",
              "description": "IPv4 or IPv6 address to look up.",
              "example": "8.8.8.8"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for hosted domain results.",
            "schema": {
              "type": "number",
              "description": "Page number for hosted domain results.",
              "example": 1,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domains": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "ip": {
                            "type": "string"
                          },
                          "page": {
                            "type": "number"
                          },
                          "perPage": {
                            "type": "number"
                          },
                          "totalDomains": {
                            "type": "number"
                          },
                          "totalPages": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iP2WHOIS/latest/actions/lookup-domain-whois": {
      "get": {
        "operationId": "iP2WHOIS.lookup-domain-whois",
        "summary": "Lookup Domain WHOIS",
        "description": "Retrieves domain WHOIS details from IP2WHOIS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iP2WHOIS/latest/actions/lookup-domain-whois"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain name to look up.",
            "schema": {
              "type": "string",
              "description": "Domain name to look up.",
              "example": "example.com"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "admin": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "fax": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "organization": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "streetAddress": {
                                "type": "string"
                              },
                              "zipCode": {
                                "type": "string"
                              }
                            }
                          },
                          "billing": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "fax": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "organization": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "streetAddress": {
                                "type": "string"
                              },
                              "zipCode": {
                                "type": "string"
                              }
                            }
                          },
                          "createDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "domainAge": {
                            "type": "number"
                          },
                          "domainId": {
                            "type": "string"
                          },
                          "expireDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "nameservers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "registrant": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "fax": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "organization": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "streetAddress": {
                                "type": "string"
                              },
                              "zipCode": {
                                "type": "string"
                              }
                            }
                          },
                          "registrar": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "ianaId": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "tech": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "fax": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "organization": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "streetAddress": {
                                "type": "string"
                              },
                              "zipCode": {
                                "type": "string"
                              }
                            }
                          },
                          "updateDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "whoisServer": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
