{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "NASA Image and Video Library Universal API",
    "version": "0.0.3",
    "description": "Search and retrieve NASA images, videos, audio, and metadata"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/nASAImageAndVideoLibrary/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/nASAImageAndVideoLibrary/latest/actions/get-album-contents": {
      "get": {
        "operationId": "nASAImageAndVideoLibrary.get-album-contents",
        "summary": "Get Album Contents",
        "description": "Retrieves album contents from NASA Image and Video Library.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nASAImageAndVideoLibrary/latest/actions/get-album-contents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "albumName",
            "in": "query",
            "required": true,
            "description": "The case-sensitive NASA album name to retrieve.",
            "schema": {
              "type": "string",
              "description": "The case-sensitive NASA album name to retrieve."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to retrieve. Starts at 1.",
            "schema": {
              "type": "number",
              "description": "Page number to retrieve. Starts at 1."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "collection": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "Canonical NASA URL for this album result page."
                              },
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "data": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "center": {
                                            "type": "string",
                                            "description": "NASA center associated with the asset."
                                          },
                                          "date_created": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Asset creation date returned by NASA."
                                          },
                                          "description": {
                                            "type": "string",
                                            "description": "Asset description."
                                          },
                                          "keywords": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            },
                                            "description": "Keywords attached to the asset."
                                          },
                                          "location": {
                                            "type": "string",
                                            "description": "Location metadata for the asset."
                                          },
                                          "media_type": {
                                            "type": "string",
                                            "description": "Media type such as image, video, or audio."
                                          },
                                          "nasa_id": {
                                            "type": "string",
                                            "description": "NASA asset identifier."
                                          },
                                          "photographer": {
                                            "type": "string",
                                            "description": "Primary photographer name when present."
                                          },
                                          "title": {
                                            "type": "string",
                                            "description": "Asset title."
                                          }
                                        }
                                      },
                                      "description": "Metadata objects describing the album member."
                                    },
                                    "href": {
                                      "type": "string",
                                      "description": "Asset collection URL for one album member."
                                    },
                                    "links": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "description": "Preview and related asset links."
                                    }
                                  }
                                },
                                "description": "Album members returned for this page."
                              },
                              "links": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Pagination links such as next or previous."
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "total_hits": {
                                    "type": "number",
                                    "description": "Total number of album members across all pages."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "version": {
                                "type": "string",
                                "description": "Collection+JSON version returned by NASA."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nASAImageAndVideoLibrary/latest/actions/get-asset-manifest": {
      "get": {
        "operationId": "nASAImageAndVideoLibrary.get-asset-manifest",
        "summary": "Get Asset Manifest",
        "description": "Retrieves an asset manifest from NASA Image and Video Library.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nASAImageAndVideoLibrary/latest/actions/get-asset-manifest"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nasaId",
            "in": "query",
            "required": true,
            "description": "The NASA media asset ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "The NASA media asset ID to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "collection": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "Canonical NASA URL for this asset manifest."
                              },
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "href": {
                                      "type": "string",
                                      "description": "One downloadable file or metadata URL from the asset manifest."
                                    }
                                  }
                                },
                                "description": "File and metadata resources available for the asset."
                              },
                              "version": {
                                "type": "string",
                                "description": "Collection+JSON version returned by NASA."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nASAImageAndVideoLibrary/latest/actions/get-asset-metadata-location": {
      "get": {
        "operationId": "nASAImageAndVideoLibrary.get-asset-metadata-location",
        "summary": "Get Asset Metadata Location",
        "description": "Retrieves an asset metadata URL from NASA Image and Video Library.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nASAImageAndVideoLibrary/latest/actions/get-asset-metadata-location"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nasaId",
            "in": "query",
            "required": true,
            "description": "The NASA media asset ID whose metadata location to retrieve.",
            "schema": {
              "type": "string",
              "description": "The NASA media asset ID whose metadata location to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "location": {
                            "type": "string",
                            "description": "Direct URL to the asset metadata JSON document."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nASAImageAndVideoLibrary/latest/actions/get-video-captions-location": {
      "get": {
        "operationId": "nASAImageAndVideoLibrary.get-video-captions-location",
        "summary": "Get Video Captions Location",
        "description": "Retrieves a video captions URL from NASA Image and Video Library.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nASAImageAndVideoLibrary/latest/actions/get-video-captions-location"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nasaId",
            "in": "query",
            "required": true,
            "description": "The NASA video asset ID whose captions location to retrieve.",
            "schema": {
              "type": "string",
              "description": "The NASA video asset ID whose captions location to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "location": {
                            "type": "string",
                            "description": "Direct URL to the caption file for the video asset."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nASAImageAndVideoLibrary/latest/actions/search-assets": {
      "get": {
        "operationId": "nASAImageAndVideoLibrary.search-assets",
        "summary": "Search Assets",
        "description": "Finds assets in NASA Image and Video Library by search criteria.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nASAImageAndVideoLibrary/latest/actions/search-assets"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Free text terms to match across indexed NASA media metadata. Provide at least one search parameter somewhere in this action.",
            "schema": {
              "type": "string",
              "description": "Free text terms to match across indexed NASA media metadata. Provide at least one search parameter somewhere in this action."
            }
          },
          {
            "name": "nasaId",
            "in": "query",
            "required": false,
            "description": "Restrict results to a specific NASA media asset ID.",
            "schema": {
              "type": "string",
              "description": "Restrict results to a specific NASA media asset ID."
            }
          },
          {
            "name": "mediaType",
            "in": "query",
            "required": false,
            "description": "Comma-separated media types to return. Available values: image, video, audio.",
            "schema": {
              "type": "string",
              "description": "Comma-separated media types to return. Available values: image, video, audio."
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "description": "Terms to search within asset titles.",
            "schema": {
              "type": "string",
              "description": "Terms to search within asset titles."
            }
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "description": "Terms to search within asset descriptions.",
            "schema": {
              "type": "string",
              "description": "Terms to search within asset descriptions."
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "description": "Comma-separated keywords to search within asset keyword metadata.",
            "schema": {
              "type": "string",
              "description": "Comma-separated keywords to search within asset keyword metadata."
            }
          },
          {
            "name": "center",
            "in": "query",
            "required": false,
            "description": "Restrict results to a specific NASA center code such as JSC, KSC, or HQ.",
            "schema": {
              "type": "string",
              "description": "Restrict results to a specific NASA center code such as JSC, KSC, or HQ."
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "Terms to search within asset location metadata.",
            "schema": {
              "type": "string",
              "description": "Terms to search within asset location metadata."
            }
          },
          {
            "name": "photographer",
            "in": "query",
            "required": false,
            "description": "Restrict results by the primary photographer name.",
            "schema": {
              "type": "string",
              "description": "Restrict results by the primary photographer name."
            }
          },
          {
            "name": "yearStart",
            "in": "query",
            "required": false,
            "description": "Restrict results to assets created on or after this year. Format: YYYY.",
            "schema": {
              "type": "string",
              "description": "Restrict results to assets created on or after this year. Format: YYYY."
            }
          },
          {
            "name": "yearEnd",
            "in": "query",
            "required": false,
            "description": "Restrict results to assets created on or before this year. Format: YYYY.",
            "schema": {
              "type": "string",
              "description": "Restrict results to assets created on or before this year. Format: YYYY."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to retrieve. Starts at 1.",
            "schema": {
              "type": "number",
              "description": "Page number to retrieve. Starts at 1.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of results per page. NASA documents a default of 100.",
            "schema": {
              "type": "number",
              "description": "Number of results per page. NASA documents a default of 100.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "description508",
            "in": "query",
            "required": false,
            "description": "Terms to search within accessibility 508 descriptions.",
            "schema": {
              "type": "string",
              "description": "Terms to search within accessibility 508 descriptions.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "secondaryCreator",
            "in": "query",
            "required": false,
            "description": "Restrict results by a secondary photographer or videographer name.",
            "schema": {
              "type": "string",
              "description": "Restrict results by a secondary photographer or videographer name.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "collection": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "Canonical NASA URL for this search result page."
                              },
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "data": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "center": {
                                            "type": "string",
                                            "description": "NASA center associated with the asset."
                                          },
                                          "date_created": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Asset creation date returned by NASA."
                                          },
                                          "description": {
                                            "type": "string",
                                            "description": "Asset description."
                                          },
                                          "keywords": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            },
                                            "description": "Keywords attached to the asset."
                                          },
                                          "location": {
                                            "type": "string",
                                            "description": "Location metadata for the asset."
                                          },
                                          "media_type": {
                                            "type": "string",
                                            "description": "Media type such as image, video, or audio."
                                          },
                                          "nasa_id": {
                                            "type": "string",
                                            "description": "NASA asset identifier."
                                          },
                                          "photographer": {
                                            "type": "string",
                                            "description": "Primary photographer name when present."
                                          },
                                          "title": {
                                            "type": "string",
                                            "description": "Asset title."
                                          }
                                        }
                                      },
                                      "description": "Metadata objects describing the result asset."
                                    },
                                    "href": {
                                      "type": "string",
                                      "description": "Asset collection URL for one search result."
                                    },
                                    "links": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "description": "Preview and related asset links."
                                    }
                                  }
                                },
                                "description": "Search result items returned for this page."
                              },
                              "links": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Pagination links such as next or previous."
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "total_hits": {
                                    "type": "number",
                                    "description": "Total number of matching assets across all pages."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "version": {
                                "type": "string",
                                "description": "Collection+JSON version returned by NASA."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
