{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "GTmetrix Universal API",
    "version": "0.0.3",
    "description": "GTmetrix is a website performance testing platform for running page-speed tests, reading reports, managing tested pages, and retrieving performance artifacts through the GTmetrix REST API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/gTmetrix/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/gTmetrix/latest/actions/get-account-status": {
      "get": {
        "operationId": "gTmetrix.get-account-status",
        "summary": "Get Account Status",
        "description": "Retrieves your current GTmetrix account status.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gTmetrix/latest/actions/get-account-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "attributes": {
                                "type": "object",
                                "properties": {
                                  "account_pro_analysis_options_access": {
                                    "type": "boolean",
                                    "description": "Whether PRO analysis options are available."
                                  },
                                  "account_pro_locations_access": {
                                    "type": "boolean",
                                    "description": "Whether PRO test locations are available."
                                  },
                                  "account_type": {
                                    "type": "string",
                                    "description": "GTmetrix account plan type."
                                  },
                                  "account_whitelabel_pdf_access": {
                                    "type": "boolean",
                                    "description": "Whether whitelabel PDF export is available."
                                  },
                                  "api_credits": {
                                    "type": "number",
                                    "description": "Remaining API credits on the account."
                                  },
                                  "api_refill": {
                                    "type": "number",
                                    "description": "Unix timestamp for the next credit refill check."
                                  },
                                  "api_refill_amount": {
                                    "type": "number",
                                    "description": "Credits scheduled to be restored at refill time."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "id": {
                                "type": "string",
                                "description": "The authenticated GTmetrix API key identifier."
                              },
                              "type": {
                                "type": "string",
                                "description": "JSON:API resource type."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
