{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Yousign Universal API",
    "version": "0.0.8",
    "description": "Send, track, and manage Yousign signature requests and signers"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/yousign/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/yousign/latest/actions/activate-signature-request": {
      "put": {
        "operationId": "yousign.activate-signature-request",
        "summary": "Activate Signature Request",
        "description": "Activates a signature request in Yousign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yousign/latest/actions/activate-signature-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "signatureRequestId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "signatureRequestId": {
                    "type": "string",
                    "description": "The Yousign signature request ID."
                  },
                  "senderId": {
                    "type": "string",
                    "description": "Optional user ID to act as the sender during activation."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "approvers": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "auditTrailLocale": {
                            "type": "string"
                          },
                          "brandingId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customExperienceId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customRecipientOrder": {
                            "type": "boolean"
                          },
                          "deliveryMode": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "nature": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "emailCustomNote": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "emailNotification": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "customNote": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "customText": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "reminderBody": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "reminderSubject": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "requestBody": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "requestSubject": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "sender": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "customName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "expirationDate": {
                            "type": "string"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "orderedApprovers": {
                            "type": "boolean"
                          },
                          "orderedSigners": {
                            "type": "boolean"
                          },
                          "previousAttemptId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "rejectionInformation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderSettings": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sender": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "deliveryMode": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "signatureLink": {
                                  "type": "string"
                                },
                                "signatureLinkExpirationDate": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "signersAllowedToDecline": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "workflowSessionId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "workspaceId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yousign/latest/actions/add-signature-request-document": {
      "post": {
        "operationId": "yousign.add-signature-request-document",
        "summary": "Add Signature Request Document",
        "description": "Adds a document to a Yousign signature request.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yousign/latest/actions/add-signature-request-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "signatureRequestId",
                  "file",
                  "nature"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "signatureRequestId": {
                    "type": "string",
                    "description": "The Yousign signature request ID."
                  },
                  "file": {
                    "type": "string",
                    "description": "Binary file to upload."
                  },
                  "nature": {
                    "type": "string",
                    "description": "Document nature."
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional document name."
                  },
                  "password": {
                    "type": "string",
                    "description": "Password for protected files, when needed."
                  },
                  "parseAnchors": {
                    "type": "boolean",
                    "description": "Automatically parse smart anchors."
                  },
                  "insertAfterId": {
                    "type": "string",
                    "description": "Insert after an existing document ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contentType": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "initials": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isLocked": {
                            "type": "boolean"
                          },
                          "isProtected": {
                            "type": "boolean"
                          },
                          "isSigned": {
                            "type": "boolean"
                          },
                          "nature": {
                            "type": "string"
                          },
                          "sha256": {
                            "type": "string"
                          },
                          "totalAnchors": {
                            "type": "number"
                          },
                          "totalPages": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yousign/latest/actions/add-signature-request-signer": {
      "post": {
        "operationId": "yousign.add-signature-request-signer",
        "summary": "Add Signature Request Signer",
        "description": "Creates a signer for a Yousign signature request.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yousign/latest/actions/add-signature-request-signer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "signatureRequestId",
                  "contactId",
                  "signatureLevel"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "signatureRequestId": {
                    "type": "string",
                    "description": "The Yousign signature request ID."
                  },
                  "contactId": {
                    "type": "string",
                    "description": "Existing contact to add as signer."
                  },
                  "signatureLevel": {
                    "type": "string",
                    "description": "Signer signature level."
                  },
                  "signatureAuthenticationMode": {
                    "type": "string",
                    "description": "Signer authentication mode."
                  },
                  "deliveryMode": {
                    "type": "string",
                    "description": "Signer delivery mode."
                  },
                  "insertAfterId": {
                    "type": "string",
                    "description": "Recipient ID this signer should follow."
                  },
                  "groupWithId": {
                    "type": "string",
                    "description": "Recipient ID to group with."
                  },
                  "redirectUrls.success": {
                    "type": "string",
                    "description": "Redirect URL on successful signature."
                  },
                  "redirectUrls.error": {
                    "type": "string",
                    "description": "Redirect URL on signature error."
                  },
                  "redirectUrls.decline": {
                    "type": "string",
                    "description": "Redirect URL on signature decline."
                  },
                  "identificationAttestationId": {
                    "type": "string",
                    "description": "Identification attestation ID, when required."
                  },
                  "preIdentityVerificationRequired": {
                    "type": "boolean",
                    "description": "Require identity verification before signing."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customText": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "reminderBody": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "reminderSubject": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "requestBody": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "requestSubject": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "deliveryMode": {
                            "type": "string"
                          },
                          "emailNotification": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "disabled": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "identificationAttestationId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "info": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "locale": {
                                "type": "string"
                              },
                              "phoneNumber": {
                                "type": "string"
                              }
                            }
                          },
                          "preIdentityVerificationRequired": {
                            "type": "boolean"
                          },
                          "recipientStageIndex": {
                            "type": "number"
                          },
                          "redirectUrls": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "decline": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "error": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "success": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "signatureAuthenticationMode": {
                            "type": "string"
                          },
                          "signatureImagePreview": {
                            "type": "string"
                          },
                          "signatureLevel": {
                            "type": "string"
                          },
                          "signatureLink": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "signatureLinkExpirationDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "smsNotification": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "otpMessage": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "customText": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              }
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "verifiedIdentityId": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yousign/latest/actions/cancel-signature-request": {
      "put": {
        "operationId": "yousign.cancel-signature-request",
        "summary": "Cancel Signature Request",
        "description": "Cancels a signature request in Yousign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yousign/latest/actions/cancel-signature-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "signatureRequestId",
                  "reason"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "signatureRequestId": {
                    "type": "string",
                    "description": "The Yousign signature request ID."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Cancellation reason.",
                    "enum": [
                      "contractualization_aborted",
                      "errors_in_document",
                      "other"
                    ]
                  },
                  "customNote": {
                    "type": "string",
                    "description": "Optional cancellation note."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "approvers": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "auditTrailLocale": {
                            "type": "string"
                          },
                          "brandingId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bulkSendBatchId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customExperienceId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customProperties": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "customRecipientOrder": {
                            "type": "boolean"
                          },
                          "deliveryMode": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "nature": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "emailCustomNote": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "emailNotification": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "customNote": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "customText": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "reminderBody": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "reminderSubject": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "requestBody": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "requestSubject": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "sender": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "customName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "expirationDate": {
                            "type": "string"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "orderedApprovers": {
                            "type": "boolean"
                          },
                          "orderedSigners": {
                            "type": "boolean"
                          },
                          "previousAttemptId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "rejectionInformation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderSettings": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sender": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "customText": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "reminderBody": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "reminderSubject": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "requestBody": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "requestSubject": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  }
                                },
                                "deliveryMode": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "signersAllowedToDecline": {
                            "type": "boolean"
                          },
                          "source": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "workflowSessionId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "workspaceId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yousign/latest/actions/create-contact": {
      "post": {
        "operationId": "yousign.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in Yousign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yousign/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName",
                  "lastName",
                  "email",
                  "locale"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Contact first name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Contact last name."
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact email address."
                  },
                  "locale": {
                    "type": "string",
                    "description": "Contact locale."
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Contact phone number in E.164 format."
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Company name for the contact."
                  },
                  "jobTitle": {
                    "type": "string",
                    "description": "Job title for the contact."
                  },
                  "workspaceId": {
                    "type": "string",
                    "description": "Workspace ID to associate with the contact."
                  },
                  "addressLine1": {
                    "type": "string",
                    "description": "Primary street address line."
                  },
                  "addressLine2": {
                    "type": "string",
                    "description": "Secondary street address line."
                  },
                  "addressCity": {
                    "type": "string",
                    "description": "City for the contact address."
                  },
                  "addressPostalCode": {
                    "type": "string",
                    "description": "Postal code for the contact address."
                  },
                  "addressCountry": {
                    "type": "string",
                    "description": "Country for the contact address."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressCity": {
                            "type": "string",
                            "description": "Contact address city."
                          },
                          "addressCountry": {
                            "type": "string",
                            "description": "Contact address country."
                          },
                          "addressLine1": {
                            "type": "string",
                            "description": "Contact address line 1."
                          },
                          "addressLine2": {
                            "type": "string",
                            "description": "Contact address line 2."
                          },
                          "addressPostalCode": {
                            "type": "string",
                            "description": "Contact address postal code."
                          },
                          "companyName": {
                            "type": "string",
                            "description": "Contact company name."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Contact creation timestamp."
                          },
                          "email": {
                            "type": "string",
                            "description": "Contact email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Contact first name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Contact ID."
                          },
                          "jobTitle": {
                            "type": "string",
                            "description": "Contact job title."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Contact last name."
                          },
                          "locale": {
                            "type": "string",
                            "description": "Contact locale."
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "Contact phone number in E.164 format."
                          },
                          "workspaceId": {
                            "type": "string",
                            "description": "Workspace ID associated with the contact."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yousign/latest/actions/create-label": {
      "post": {
        "operationId": "yousign.create-label",
        "summary": "Create Label",
        "description": "Creates a new label in Yousign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yousign/latest/actions/create-label"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Label name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Label creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Label ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Label name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yousign/latest/actions/create-signature-request": {
      "post": {
        "operationId": "yousign.create-signature-request",
        "summary": "Create Signature Request",
        "description": "Creates a new signature request in Yousign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yousign/latest/actions/create-signature-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "deliveryMode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Signature request name."
                  },
                  "deliveryMode": {
                    "type": "string",
                    "description": "How Yousign should notify signers: email or none."
                  },
                  "orderedSigners": {
                    "type": "boolean",
                    "description": "Whether signers should be processed sequentially."
                  },
                  "workspaceId": {
                    "type": "string",
                    "description": "Workspace ID to scope the signature request."
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Signature request timezone."
                  },
                  "expirationDate": {
                    "type": "string",
                    "description": "Due date in yyyy-mm-dd format."
                  },
                  "externalId": {
                    "type": "string",
                    "description": "External identifier to attach to the signature request."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "Existing Yousign template ID to base the signature request on."
                  },
                  "signersAllowedToDecline": {
                    "type": "boolean",
                    "description": "Whether signers may decline to sign."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "approvers": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "auditTrailLocale": {
                            "type": "string"
                          },
                          "brandingId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bulkSendBatchId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customExperienceId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customProperties": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "customRecipientOrder": {
                            "type": "boolean"
                          },
                          "deliveryMode": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "emailCustomNote": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "emailNotification": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "customNote": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "customText": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "reminderBody": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "reminderSubject": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "requestBody": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "requestSubject": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "sender": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "customName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "expirationDate": {
                            "type": "string"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "orderedApprovers": {
                            "type": "boolean"
                          },
                          "orderedSigners": {
                            "type": "boolean"
                          },
                          "previousAttemptId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "rejectionInformation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderSettings": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sender": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "signersAllowedToDecline": {
                            "type": "boolean"
                          },
                          "source": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "workflowSessionId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "workspaceId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yousign/latest/actions/download-signature-request-documents": {
      "get": {
        "operationId": "yousign.download-signature-request-documents",
        "summary": "Download Signature Request Documents",
        "description": "Downloads documents from a Yousign signature request.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yousign/latest/actions/download-signature-request-documents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signatureRequestId",
            "in": "query",
            "required": true,
            "description": "The Yousign signature request ID.",
            "schema": {
              "type": "string",
              "description": "The Yousign signature request ID."
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "Which document version to download.",
            "schema": {
              "type": "string",
              "description": "Which document version to download."
            }
          },
          {
            "name": "archive",
            "in": "query",
            "required": false,
            "description": "Force ZIP archive download.",
            "schema": {
              "type": "boolean",
              "description": "Force ZIP archive download."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/yousign/latest/actions/fetch-signature-request": {
      "get": {
        "operationId": "yousign.fetch-signature-request",
        "summary": "Fetch Signature Request",
        "description": "Retrieves a signature request from Yousign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/yousign/latest/actions/fetch-signature-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signatureRequestId",
            "in": "query",
            "required": true,
            "description": "The Yousign signature request ID.",
            "schema": {
              "type": "string",
              "description": "The Yousign signature request ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "approvers": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "auditTrailLocale": {
                            "type": "string"
                          },
                          "brandingId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bulkSendBatchId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customExperienceId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customProperties": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "customRecipientOrder": {
                            "type": "boolean"
                          },
                          "declineInformation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deliveryMode": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "emailCustomNote": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "emailNotification": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "customNote": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "customText": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "reminderBody": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "reminderSubject": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "requestBody": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "requestSubject": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "sender": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "customName": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "expirationDate": {
                            "type": "string"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "orderedApprovers": {
                            "type": "boolean"
                          },
                          "orderedSigners": {
                            "type": "boolean"
                          },
                          "previousAttemptId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "rejectionInformation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderSettings": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sender": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "signersAllowedToDecline": {
                            "type": "boolean"
                          },
                          "source": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "workflowSessionId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "workspaceId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
[...]
