{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "retailCRM Universal API",
    "version": "0.0.4",
    "description": "Manage customers, orders, tasks, products, and retailCRM reference data."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/retailCRM/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/retailCRM/latest/actions/create-customer": {
      "post": {
        "operationId": "retailCRM.create-customer",
        "summary": "Create Customer",
        "description": "Creates a new customer in retailCRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/retailCRM/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "site",
                  "customer.externalId",
                  "customer.firstName",
                  "customer.phones[0].number"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "site": {
                    "type": "string"
                  },
                  "customer.externalId": {
                    "type": "string"
                  },
                  "customer.firstName": {
                    "type": "string"
                  },
                  "customer.lastName": {
                    "type": "string"
                  },
                  "customer.email": {
                    "type": "string"
                  },
                  "customer.phones[0].number": {
                    "type": "string"
                  },
                  "customer.managerId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/retailCRM/latest/actions/create-order": {
      "post": {
        "operationId": "retailCRM.create-order",
        "summary": "Create Order",
        "description": "Creates a new order in retailCRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/retailCRM/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "site",
                  "order.externalId",
                  "order.firstName",
                  "order.phone",
                  "order.orderType",
                  "order.orderMethod",
                  "order.items[0].productName",
                  "order.items[0].quantity",
                  "order.items[0].initialPrice"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "site": {
                    "type": "string"
                  },
                  "order.externalId": {
                    "type": "string"
                  },
                  "order.firstName": {
                    "type": "string"
                  },
                  "order.lastName": {
                    "type": "string"
                  },
                  "order.phone": {
                    "type": "string"
                  },
                  "order.orderType": {
                    "type": "string"
                  },
                  "order.orderMethod": {
                    "type": "string"
                  },
                  "order.items[0].productName": {
                    "type": "string"
                  },
                  "order.items[0].quantity": {
                    "type": "number"
                  },
                  "order.items[0].initialPrice": {
                    "type": "number"
                  },
                  "order.items[0].purchasePrice": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "order": {
                            "type": "object",
                            "properties": {
                              "bonusesChargeTotal": {
                                "type": "number"
                              },
                              "bonusesCreditTotal": {
                                "type": "number"
                              },
                              "call": {
                                "type": "boolean"
                              },
                              "contact": {
                                "type": "object",
                                "properties": {
                                  "averageSumm": {
                                    "type": "number"
                                  },
                                  "bad": {
                                    "type": "boolean"
                                  },
                                  "contragent": {
                                    "type": "object",
                                    "properties": {
                                      "contragentType": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "customerSubscriptions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "subscribed": {
                                          "type": "boolean"
                                        },
                                        "subscription": {
                                          "type": "object",
                                          "properties": {
                                            "active": {
                                              "type": "boolean"
                                            },
                                            "autoSubscribe": {
                                              "type": "boolean"
                                            },
                                            "channel": {
                                              "type": "string"
                                            },
                                            "code": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "type": "number"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "ordering": {
                                              "type": "number"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "customFields": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "isContact": {
                                    "type": "boolean"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "marginSumm": {
                                    "type": "number"
                                  },
                                  "mgCustomers": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "ordersCount": {
                                    "type": "number"
                                  },
                                  "personalDiscount": {
                                    "type": "number"
                                  },
                                  "phones": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "number": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "segments": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "site": {
                                    "type": "string"
                                  },
                                  "tags": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "totalSumm": {
                                    "type": "number"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "vip": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "contragent": {
                                "type": "object",
                                "properties": {
                                  "contragentType": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "countryIso": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "customer": {
                                "type": "object",
                                "properties": {
                                  "averageSumm": {
                                    "type": "number"
                                  },
                                  "bad": {
                                    "type": "boolean"
                                  },
                                  "contragent": {
                                    "type": "object",
                                    "properties": {
                                      "contragentType": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "customerSubscriptions": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "customFields": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "isContact": {
                                    "type": "boolean"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "marginSumm": {
                                    "type": "number"
                                  },
                                  "mgCustomers": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "ordersCount": {
                                    "type": "number"
                                  },
                                  "personalDiscount": {
                                    "type": "number"
                                  },
                                  "phones": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "number": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "segments": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "site": {
                                    "type": "string"
                                  },
                                  "tags": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "totalSumm": {
                                    "type": "number"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "vip": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "customFields": {
                                "type": "array",
                                "items": {}
                              },
                              "delivery": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "cost": {
                                    "type": "number"
                                  },
                                  "netCost": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "expired": {
                                "type": "boolean"
                              },
                              "externalId": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "fromApi": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "bonusesChargeTotal": {
                                      "type": "number"
                                    },
                                    "bonusesCreditTotal": {
                                      "type": "number"
                                    },
                                    "createdAt": {
                                      "type": "string"
                                    },
                                    "discounts": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "discountTotal": {
                                      "type": "number"
                                    },
                                    "id": {
                                      "type": "number"
                                    },
                                    "initialPrice": {
                                      "type": "number"
                                    },
                                    "markingObjects": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "offer": {
                                      "type": "object",
                                      "properties": {
                                        "displayName": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "type": "number"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "quantity": {
                                          "type": "number"
                                        },
                                        "unit": {
                                          "type": "object",
                                          "properties": {
                                            "code": {
                                              "type": "string"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "sym": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "xmlId": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "ordering": {
                                      "type": "number"
                                    },
                                    "prices": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "price": {
                                            "type": "number"
                                          },
                                          "quantity": {
                                            "type": "number"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "properties": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "purchasePrice": {
                                      "type": "number"
                                    },
                                    "quantity": {
                                      "type": "number"
                                    },
                                    "status": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "links": {
                                "type": "array",
                                "items": {}
                              },
                              "markDatetime": {
                                "type": "string"
                              },
                              "number": {
                                "type": "string"
                              },
                              "orderMethod": {
                                "type": "string"
                              },
                              "orderType": {
                                "type": "string"
                              },
                              "payments": {
                                "type": "array",
                                "items": {}
                              },
                              "phone": {
                                "type": "string"
                              },
                              "prepaySum": {
                                "type": "number"
                              },
                              "privilegeType": {
                                "type": "string"
                              },
                              "purchaseSumm": {
                                "type": "number"
                              },
                              "shipped": {
                                "type": "boolean"
                              },
                              "site": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "number"
                              },
                              "status": {
                                "type": "string"
                              },
                              "statusUpdatedAt": {
                                "type": "string"
                              },
                              "summ": {
                                "type": "number"
                              },
                              "totalSumm": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/retailCRM/latest/actions/create-task": {
      "post": {
        "operationId": "retailCRM.create-task",
        "summary": "Create Task",
        "description": "Creates a new task in retailCRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/retailCRM/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "site",
                  "task.text",
                  "task.datetime",
                  "task.performerId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "site": {
                    "type": "string"
                  },
                  "task.text": {
                    "type": "string"
                  },
                  "task.commentary": {
                    "type": "string"
                  },
                  "task.datetime": {
                    "type": "string"
                  },
                  "task.performerId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/retailCRM/latest/actions/get-customer": {
      "get": {
        "operationId": "retailCRM.get-customer",
        "summary": "Get Customer",
        "description": "Retrieves a customer from retailCRM by external ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/retailCRM/latest/actions/get-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "externalId",
                "id"
              ],
              "default": "externalId"
            }
          },
          {
            "name": "site",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "averageSumm": {
                            "type": "number"
                          },
                          "bad": {
                            "type": "boolean"
                          },
                          "contragent": {
                            "type": "object",
                            "properties": {
                              "contragentType": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customerSubscriptions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "subscribed": {
                                  "type": "boolean"
                                },
                                "subscription": {
                                  "type": "object",
                                  "properties": {
                                    "active": {
                                      "type": "boolean"
                                    },
                                    "autoSubscribe": {
                                      "type": "boolean"
                                    },
                                    "channel": {
                                      "type": "string"
                                    },
                                    "code": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "ordering": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "customFields": {
                            "type": "array",
                            "items": {}
                          },
                          "email": {
                            "type": "string"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isContact": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "managerId": {
                            "type": "number"
                          },
                          "marginSumm": {
                            "type": "number"
                          },
                          "mgCustomers": {
                            "type": "array",
                            "items": {}
                          },
                          "ordersCount": {
                            "type": "number"
                          },
                          "personalDiscount": {
                            "type": "number"
                          },
                          "phones": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "number": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "segments": {
                            "type": "array",
                            "items": {}
                          },
                          "site": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {}
                          },
                          "totalSumm": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "vip": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/retailCRM/latest/actions/get-order": {
      "get": {
        "operationId": "retailCRM.get-order",
        "summary": "Get Order",
        "description": "Retrieves an order from retailCRM by external ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/retailCRM/latest/actions/get-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "externalId",
                "id"
              ],
              "default": "externalId"
            }
          },
          {
            "name": "site",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bonusesChargeTotal": {
                            "type": "number"
                          },
                          "bonusesCreditTotal": {
                            "type": "number"
                          },
                          "call": {
                            "type": "boolean"
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "averageSumm": {
                                "type": "number"
                              },
                              "bad": {
                                "type": "boolean"
                              },
                              "contragent": {
                                "type": "object",
                                "properties": {
                                  "contragentType": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "customerSubscriptions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "subscribed": {
                                      "type": "boolean"
                                    },
                                    "subscription": {
                                      "type": "object",
                                      "properties": {
                                        "active": {
                                          "type": "boolean"
                                        },
                                        "autoSubscribe": {
                                          "type": "boolean"
                                        },
                                        "channel": {
                                          "type": "string"
                                        },
                                        "code": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "type": "number"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "ordering": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "customFields": {
                                "type": "array",
                                "items": {}
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "isContact": {
                                "type": "boolean"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "managerId": {
                                "type": "number"
                              },
                              "marginSumm": {
                                "type": "number"
                              },
                              "mgCustomers": {
                                "type": "array",
                                "items": {}
                              },
                              "ordersCount": {
                                "type": "number"
                              },
                              "personalDiscount": {
                                "type": "number"
                              },
                              "phones": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "number": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "segments": {
                                "type": "array",
                                "items": {}
                              },
                              "site": {
                                "type": "string"
                              },
                              "tags": {
                                "type": "array",
                                "items": {}
                              },
                              "totalSumm": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              },
                              "vip": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "contragent": {
                            "type": "object",
                            "properties": {
                              "contragentType": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "countryIso": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "object",
                            "properties": {
                              "averageSumm": {
                                "type": "number"
                              },
                              "bad": {
                                "type": "boolean"
                              },
                              "contragent": {
                                "type": "object",
                                "properties": {
                                  "contragentType": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "customerSubscriptions": {
                                "type": "array",
                                "items": {}
                              },
                              "customFields": {
                                "type": "array",
                                "items": {}
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "isContact": {
                                "type": "boolean"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "managerId": {
                                "type": "number"
                              },
                              "marginSumm": {
                                "type": "number"
                              },
                              "mgCustomers": {
                                "type": "array",
                                "items": {}
                              },
                              "ordersCount": {
                                "type": "number"
                              },
                              "personalDiscount": {
                                "type": "number"
                              },
                              "phones": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "number": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "segments": {
                                "type": "array",
                                "items": {}
                              },
                              "site": {
                                "type": "string"
                              },
                              "tags": {
                                "type": "array",
                                "items": {}
                              },
                              "totalSumm": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              },
                              "vip": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "customFields": {
                            "type": "array",
                            "items": {}
                          },
                          "delivery": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "object",
                                "properties": {
                                  "countryIso": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "cost": {
                                "type": "number"
                              },
                              "netCost": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "expired": {
                            "type": "boolean"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "fromApi": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "bonusesChargeTotal": {
                                  "type": "number"
                                },
                                "bonusesCreditTotal": {
                                  "type": "number"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "discounts": {
                                  "type": "array",
                                  "items": {}
                                },
                                "discountTotal": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "initialPrice": {
                                  "type": "number"
                                },
                                "markingObjects": {
                                  "type": "array",
                                  "items": {}
                                },
                                "offer": {
                                  "type": "object",
                                  "properties": {
                                    "displayName": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "quantity": {
                                      "type": "number"
                                    },
                                    "unit": {
                                      "type": "object",
                                      "properties": {
                                        "code": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "sym": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "xmlId": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "ordering": {
                                  "type": "number"
                                },
                                "prices": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "price": {
                                        "type": "number"
                                      },
                                      "quantity": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "properties": {
                                  "type": "array",
                                  "items": {}
                                },
                                "purchasePrice": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "status": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "managerComment": {
                            "type": "string"
                          },
                          "managerId": {
                            "type": "number"
                          },
                          "markDatetime": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "orderMethod": {
                            "type": "string"
                          },
                          "orderType": {
                            "type": "string"
                          },
                          "payments": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "phone": {
                            "type": "string"
                          },
                          "prepaySum": {
                            "type": "number"
                          },
                          "privilegeType": {
                            "type": "string"
                          },
                          "purchaseSumm": {
                            "type": "number"
                          },
                          "shipped": {
                            "type": "boolean"
                          },
                          "site": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "statusUpdatedAt": {
                            "type": "string"
                          },
                          "summ": {
                            "type": "number"
                          },
                          "totalSumm": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/retailCRM/latest/actions/get-task": {
      "get": {
        "operationId": "retailCRM.get-task",
        "summary": "Get Task",
        "description": "Retrieves a task from retailCRM by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/retailCRM/latest/actions/get-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "commentary": {
                            "type": "string"
                          },
                          "complete": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "datetime": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "performer": {
                            "type": "number"
                          },
                          "performerType": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/retailCRM/latest/actions/get-user": {
      "get": {
        "operationId": "retailCRM.get-user",
        "summary": "Get User",
        "description": "Retrieves a user from retailCRM by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/retailCRM/latest/actions/get-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "groups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "isAdmin": {
                            "type": "boolean"
                          },
                          "isManager": {
                            "type": "boolean"
                          },
                          "lastOnline": {
                            "type": "string"
                          },
                          "mgUserId": {
                            "type": "number"
                          },
                          "online": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/retailCRM/latest/actions/list-currencies": {
      "get": {
        "operationId": "retailCRM.list-currencies",
        "summary": "List Currencies",
        "description": "Retrieves currencies from retailCRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/retailCRM/latest/actions/list-currencies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isAutoConvert": {
                            "type": "boolean"
                          },
                          "isBase": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/retailCRM/latest/actions/list-customers": {
      "get": {
        "operationId": "retailCRM.list-customers",
        "summary": "List Customers",
        "description": "Retrieves customers from retailCRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/retailCRM/latest/actions/list-customers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
[...]
