{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Podio Universal API",
    "version": "0.0.7",
    "description": "Manage workspaces, items, tasks, and collaboration in Podio"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/podio/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/podio/latest/actions/add-comment-to-object": {
      "post": {
        "operationId": "podio.add-comment-to-object",
        "summary": "Add Comment to Object",
        "description": "Creates a comment on a Podio object.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/podio/latest/actions/add-comment-to-object"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "type",
                  "id",
                  "value"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of object to comment on.",
                    "example": "item"
                  },
                  "id": {
                    "type": "string",
                    "description": "The ID of the object to comment on.",
                    "example": "12345"
                  },
                  "value": {
                    "type": "string",
                    "description": "The comment text to add.",
                    "example": "Please review the updated timeline."
                  },
                  "externalId": {
                    "type": "string",
                    "description": "An external ID for the comment, if any.",
                    "example": "comment-123",
                    "x-mindcloud-advanced": true
                  },
                  "fileIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Uploaded file IDs to attach to the comment.",
                    "x-mindcloud-advanced": true
                  },
                  "embedId": {
                    "type": "string",
                    "description": "The ID of an embedded link created in Podio.",
                    "example": "12345",
                    "x-mindcloud-advanced": true
                  },
                  "embedUrl": {
                    "type": "string",
                    "description": "A URL to attach to the comment.",
                    "example": "https://example.com/spec",
                    "x-mindcloud-advanced": true
                  },
                  "alertInvite": {
                    "type": "boolean",
                    "description": "Automatically invite mentioned users when needed.",
                    "x-mindcloud-advanced": true
                  },
                  "hook": {
                    "type": "boolean",
                    "description": "Run Podio hooks for the change.",
                    "x-mindcloud-advanced": true
                  },
                  "silent": {
                    "type": "boolean",
                    "description": "Suppress stream bumping and notifications for the comment.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "commentId": {
                            "type": "number"
                          },
                          "createdBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdVia": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "embed": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "embedFile": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "grantedUsers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "invitedUsers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "isLiked": {
                            "type": "boolean"
                          },
                          "lastEditOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "likeCount": {
                            "type": "number"
                          },
                          "questions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "ref": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "richValue": {
                            "type": "string"
                          },
                          "rights": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/podio/latest/actions/add-item": {
      "post": {
        "operationId": "podio.add-item",
        "summary": "Add Item",
        "description": "Creates a new item in Podio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/podio/latest/actions/add-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "appId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "appId": {
                    "type": "number",
                    "description": "The id of the app to add the item to.",
                    "example": 123456789
                  },
                  "hook": {
                    "type": "boolean",
                    "description": "True to run item hooks.",
                    "x-mindcloud-advanced": true
                  },
                  "silent": {
                    "type": "boolean",
                    "description": "True to suppress notifications.",
                    "x-mindcloud-advanced": true
                  },
                  "fields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Field values keyed by field id or external id."
                  },
                  "externalId": {
                    "type": "string",
                    "description": "Unique external id for the item.",
                    "example": "external-item-001",
                    "x-mindcloud-advanced": true
                  },
                  "fileIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Files to attach to the item.",
                    "x-mindcloud-advanced": true
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to add to the item.",
                    "x-mindcloud-advanced": true
                  },
                  "reminder": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Reminder configuration for the item.",
                    "x-mindcloud-advanced": true
                  },
                  "recurrence": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Recurrence settings for the item.",
                    "x-mindcloud-advanced": true
                  },
                  "linkedAccountId": {
                    "type": "number",
                    "description": "Linked account id to use when creating the item.",
                    "example": 12345,
                    "x-mindcloud-advanced": true
                  },
                  "ref": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Reference object used for ratings or app auth.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "app": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "appItemId": {
                            "type": "number"
                          },
                          "appItemIdFormatted": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdVia": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "currentRevision": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "initialRevision": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "itemId": {
                            "type": "number"
                          },
                          "lastEventOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "link": {
                            "type": "string"
                          },
                          "linkedAccountData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "linkedAccountId": {
                            "type": "number"
                          },
                          "participants": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "presence": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "priority": {
                            "type": "number"
                          },
                          "push": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "recurrence": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ref": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminder": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "revision": {
                            "type": "number"
                          },
                          "rights": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "sharefileVaultFolderId": {
                            "type": "number"
                          },
                          "sharefileVaultUrl": {
                            "type": "string"
                          },
                          "subscribedCount": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/podio/latest/actions/attach-file": {
      "post": {
        "operationId": "podio.attach-file",
        "summary": "Attach File",
        "description": "Attaches a file to a Podio object.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/podio/latest/actions/attach-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileId",
                  "refType",
                  "refId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileId": {
                    "type": "string",
                    "description": "The ID of the uploaded file to attach.",
                    "example": "12345"
                  },
                  "refType": {
                    "type": "string",
                    "description": "The type of object the file should be attached to.",
                    "example": "item"
                  },
                  "refId": {
                    "type": "number",
                    "description": "The ID of the object the file should be attached to.",
                    "example": 987654
                  },
                  "silent": {
                    "type": "boolean",
                    "description": "Suppress stream bumping and notifications for the attachment.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string",
                            "description": "Empty response body on success."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/podio/latest/actions/complete-task": {
      "put": {
        "operationId": "podio.complete-task",
        "summary": "Complete Task",
        "description": "Marks an existing task complete in Podio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/podio/latest/actions/complete-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "taskId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "taskId": {
                    "type": "string",
                    "description": "The ID of the task to complete.",
                    "example": "12345"
                  },
                  "hook": {
                    "type": "boolean",
                    "description": "Run Podio hooks for the change.",
                    "x-mindcloud-advanced": true
                  },
                  "silent": {
                    "type": "boolean",
                    "description": "Suppress stream bumping and notifications for the completion.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "recurringTaskId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/podio/latest/actions/create-task": {
      "post": {
        "operationId": "podio.create-task",
        "summary": "Create Task",
        "description": "Creates a new task in Podio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/podio/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "text"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "text": {
                    "type": "string",
                    "description": "Text of the task.",
                    "example": "Follow up with the client"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the task.",
                    "example": "Add context for the task"
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Due date in YYYY-MM-DD format.",
                    "example": "2026-03-15"
                  },
                  "dueTime": {
                    "type": "string",
                    "description": "Time of the due date in HH:MM format.",
                    "example": "14:30"
                  },
                  "dueOn": {
                    "type": "string",
                    "example": "2026-03-15 14:30:00"
                  },
                  "refType": {
                    "type": "string",
                    "example": "item",
                    "x-mindcloud-advanced": true
                  },
                  "private": {
                    "type": "boolean",
                    "description": "True to make the task private.",
                    "x-mindcloud-advanced": true
                  },
                  "refId": {
                    "type": "number",
                    "example": 12345,
                    "x-mindcloud-advanced": true
                  },
                  "responsible[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "User id, auth object, or list of user ids to assign."
                  },
                  "hook": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "silent": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "externalId": {
                    "type": "string",
                    "example": "external-task-001",
                    "x-mindcloud-advanced": true
                  },
                  "fileIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "labels[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "labelIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "reminder": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "recurrence": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "completedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "completedOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "completedVia": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdVia": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dueOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dueTime": {
                            "type": "string"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "link": {
                            "type": "string"
                          },
                          "presence": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "private": {
                            "type": "boolean"
                          },
                          "push": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "recurrence": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ref": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminder": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "responsible": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "rights": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "spaceId": {
                            "type": "number"
                          },
                          "started": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          },
                          "taskId": {
                            "type": "number"
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/podio/latest/actions/delete-item": {
      "delete": {
        "operationId": "podio.delete-item",
        "summary": "Delete Item",
        "description": "Deletes an existing item from Podio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/podio/latest/actions/delete-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "query",
            "required": true,
            "description": "The id of the item.",
            "schema": {
              "type": "number",
              "description": "The id of the item.",
              "example": 123456789
            }
          },
          {
            "name": "hook",
            "in": "query",
            "required": false,
            "description": "True to run item hooks.",
            "schema": {
              "type": "boolean",
              "description": "True to run item hooks.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "silent",
            "in": "query",
            "required": false,
            "description": "True to suppress notifications.",
            "schema": {
              "type": "boolean",
              "description": "True to suppress notifications.",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string",
                            "description": "Empty response body on success."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/podio/latest/actions/filter-items": {
      "get": {
        "operationId": "podio.filter-items",
        "summary": "Filter Items",
        "description": "Finds items in Podio using filters.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/podio/latest/actions/filter-items"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "description": "The app ID.",
            "schema": {
              "type": "number",
              "description": "The app ID.",
              "example": 123456
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "description": "The filters object to apply.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "The filters object to apply."
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "The sort order to use.",
            "schema": {
              "type": "string",
              "description": "The sort order to use.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sortDesc",
            "in": "query",
            "required": false,
            "description": "True to sort descending, false otherwise.",
            "schema": {
              "type": "boolean",
              "description": "True to sort descending, false otherwise.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "number",
              "description": "The maximum number of items to return.",
              "example": 30,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset into the returned items.",
            "schema": {
              "type": "number",
              "description": "The offset into the returned items.",
              "example": 0,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "remember",
            "in": "query",
            "required": false,
            "description": "True if the view should be remembered, false otherwise.",
            "schema": {
              "type": "boolean",
              "description": "True if the view should be remembered, false otherwise.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "filtered": {
                            "type": "number",
                            "description": "Number of items matching the filter."
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Returned Podio items."
                          },
                          "total": {
                            "type": "number",
                            "description": "Total number of items in the app."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/podio/latest/actions/filter-items-by-view": {
      "get": {
        "operationId": "podio.filter-items-by-view",
        "summary": "Filter Items by View",
        "description": "Finds items in a Podio view.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/podio/latest/actions/filter-items-by-view"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "description": "The app ID.",
            "schema": {
              "type": "number",
              "description": "The app ID.",
              "example": 123456
            }
          },
          {
            "name": "viewId",
            "in": "query",
            "required": true,
            "description": "The view ID.",
            "schema": {
              "type": "string",
              "description": "The view ID.",
              "example": "all_by_date"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "The sort order to use. If omitted, Podio uses the sort order from the view.",
            "schema": {
              "type": "string",
              "description": "The sort order to use. If omitted, Podio uses the sort order from the view.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sortDesc",
            "in": "query",
            "required": false,
            "description": "True to sort descending, false otherwise. If omitted, Podio uses the sort order from the view.",
            "schema": {
              "type": "boolean",
              "description": "True to sort descending, false otherwise. If omitted, Podio uses the sort order from the view.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "number",
              "description": "The maximum number of items to return.",
              "example": 30,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The offset into the returned items.",
            "schema": {
              "type": "number",
              "description": "The offset into the returned items.",
              "example": 0,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "remember",
            "in": "query",
            "required": false,
            "description": "True if the view should be remembered, false otherwise.",
            "schema": {
              "type": "boolean",
              "description": "True if the view should be remembered, false otherwise.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "filtered": {
                            "type": "number"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/podio/latest/actions/get-app": {
      "get": {
        "operationId": "podio.get-app",
        "summary": "Get App",
        "description": "Retrieves an existing app from Podio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/podio/latest/actions/get-app"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "description": "The app ID.",
            "schema": {
              "type": "number",
              "description": "The app ID.",
              "example": 123456
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "appId": {
                            "type": "number"
                          },
                          "config": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "currentRevision": {
                            "type": "number"
                          },
                          "defaultViewId": {
                            "type": "number"
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "integration": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isDefault": {
                            "type": "boolean"
                          },
                          "itemAccountingInfo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "layouts": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "link": {
                            "type": "string"
                          },
                          "linkAdd": {
                            "type": "string"
                          },
                          "mailbox": {
                            "type": "string"
                          },
                          "original": {
                            "type": "number"
                          },
                          "originalRevision": {
                            "type": "number"
                          },
                          "owner": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "rights": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "sharefileVaultUrl": {
                            "type": "string"
                          },
                          "spaceId": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subscribed": {
                            "type": "boolean"
                          },
                          "token": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "urlAdd": {
                            "type": "string"
                          },
                          "urlLabel": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/podio/latest/actions/get-item": {
      "get": {
        "operationId": "podio.get-item",
        "summary": "Get Item",
        "description": "Retrieves an existing item from Podio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/podio/latest/actions/get-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "query",
            "required": true,
            "description": "The id of the item.",
            "schema": {
              "type": "number",
              "description": "The id of the item.",
              "example": 123456789
            }
          },
          {
            "name": "markAsViewed",
            "in": "query",
            "required": false,
            "description": "True to mark the item as viewed.",
            "schema": {
              "type": "boolean",
              "description": "True to mark the item as viewed.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "app": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "appItemId": {
                            "type": "number"
                          },
                          "appItemIdFormatted": {
                            "type": "string"
                          },
                          "comments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "createdBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdVia": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "currentRevision": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "initialRevision": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "invite": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isLiked": {
                            "type": "boolean"
                          },
                          "itemId": {
                            "type": "number"
                          },
                          "lastEventOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "likeCount": {
                            "type": "number"
                          },
                          "link": {
                            "type": "string"
                          },
                          "linkedAccountData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "linkedAccountId": {
                            "type": "number"
                          },
                          "participants": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "presence": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "priority": {
                            "type": "number"
                          },
                          "push": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ratings": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "recurrence": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ref": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "refs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "reminder": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "revision": {
                            "type": "number"
                          },
                          "revisions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "rights": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "sharefileVaultFolderId": {
                            "type": "number"
                          },
                          "sharefileVaultUrl": {
                            "type": "string"
                          },
                          "subscribed": {
                            "type": "boolean"
                          },
                          "subscribedCount": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "title": {
                            "type": "string"
                          },
                          "userRatings": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/podio/latest/actions/get-item-values-v2": {
      "get": {
        "operationId": "podio.get-item-values-v2",
        "summary": "Get Item Values v2",
        "description": "Retrieves item values from Podio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/podio/latest/actions/get-item-values-v2"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "query",
            "required": true,
            "description": "The id of the item.",
            "schema": {
              "type": "number",
              "description": "The id of the item.",
              "example": 123456789
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
[...]
