{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Placecats Universal API",
    "version": "0.0.1",
    "description": "Read public random, named, and grayscale cat placeholder images with documented dimensions, fit, and position options."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/placecats/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/placecats/latest/actions/get-grayscale-cat-placeholder": {
      "get": {
        "operationId": "placecats.get-grayscale-cat-placeholder",
        "summary": "Get Grayscale Cat Placeholder",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/placecats/latest/actions/get-grayscale-cat-placeholder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": true,
            "description": "Required image width in pixels.",
            "schema": {
              "type": "number",
              "description": "Required image width in pixels."
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": true,
            "description": "Required image height in pixels.",
            "schema": {
              "type": "number",
              "description": "Required image height in pixels."
            }
          },
          {
            "name": "fit",
            "in": "query",
            "required": false,
            "description": "Optional fit: cover (default), contain, fill, inside, or outside.",
            "schema": {
              "type": "string",
              "description": "Optional fit: cover (default), contain, fill, inside, or outside."
            }
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "description": "Optional crop position: center (default), top, bottom, left, or right.",
            "schema": {
              "type": "string",
              "description": "Optional crop position: center (default), top, bottom, left, or right."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Native platform Buffer byte sequence for the returned JPEG."
                          },
                          "type": {
                            "type": "string",
                            "description": "Native platform raw-response marker; runtime value is Buffer."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/placecats/latest/actions/get-random-cat-placeholder": {
      "get": {
        "operationId": "placecats.get-random-cat-placeholder",
        "summary": "Get Random Cat Placeholder",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/placecats/latest/actions/get-random-cat-placeholder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": true,
            "description": "Required image width in pixels.",
            "schema": {
              "type": "number",
              "description": "Required image width in pixels."
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": true,
            "description": "Required image height in pixels.",
            "schema": {
              "type": "number",
              "description": "Required image height in pixels."
            }
          },
          {
            "name": "fit",
            "in": "query",
            "required": false,
            "description": "Optional fit: cover (default), contain, fill, inside, or outside.",
            "schema": {
              "type": "string",
              "description": "Optional fit: cover (default), contain, fill, inside, or outside."
            }
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "description": "Optional crop position: center (default), top, bottom, left, or right.",
            "schema": {
              "type": "string",
              "description": "Optional crop position: center (default), top, bottom, left, or right."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Native platform Buffer byte sequence for the returned JPEG."
                          },
                          "type": {
                            "type": "string",
                            "description": "Native platform raw-response marker; runtime value is Buffer."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/placecats/latest/actions/get-specific-cat-placeholder": {
      "get": {
        "operationId": "placecats.get-specific-cat-placeholder",
        "summary": "Get Specific Cat Placeholder",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/placecats/latest/actions/get-specific-cat-placeholder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cat",
            "in": "query",
            "required": true,
            "description": "Required named-cat route value: neo, millie, millie_neo, neo_banana, neo_2, bella, poppy, or louie.",
            "schema": {
              "type": "string",
              "description": "Required named-cat route value: neo, millie, millie_neo, neo_banana, neo_2, bella, poppy, or louie."
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": true,
            "description": "Required image width in pixels.",
            "schema": {
              "type": "number",
              "description": "Required image width in pixels."
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": true,
            "description": "Required image height in pixels.",
            "schema": {
              "type": "number",
              "description": "Required image height in pixels."
            }
          },
          {
            "name": "fit",
            "in": "query",
            "required": false,
            "description": "Optional fit: cover (default), contain, fill, inside, or outside.",
            "schema": {
              "type": "string",
              "description": "Optional fit: cover (default), contain, fill, inside, or outside."
            }
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "description": "Optional crop position: center (default), top, bottom, left, or right.",
            "schema": {
              "type": "string",
              "description": "Optional crop position: center (default), top, bottom, left, or right."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Native platform Buffer byte sequence for the returned JPEG."
                          },
                          "type": {
                            "type": "string",
                            "description": "Native platform raw-response marker; runtime value is Buffer."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
