{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Moxie Universal API",
    "version": "0.0.9",
    "description": "Manage clients, projects, invoices, and payments"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/moxie/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/moxie/latest/actions/apply-payment-to-invoice": {
      "post": {
        "operationId": "moxie.apply-payment-to-invoice",
        "summary": "Apply Payment to Invoice",
        "description": "Applies a payment to an invoice in Moxie.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moxie/latest/actions/apply-payment-to-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "date",
                  "amount",
                  "invoiceNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "date": {
                    "type": "string",
                    "description": "Payment date in YYYY-MM-DD format.",
                    "example": "2026-03-15"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Payment amount."
                  },
                  "invoiceNumber": {
                    "type": "string",
                    "description": "Invoice number to apply the payment to."
                  },
                  "clientName": {
                    "type": "string",
                    "description": "Client name tied to the invoice."
                  },
                  "paymentType": {
                    "type": "string",
                    "description": "Optional payment type enum. Use one of OTHER, VENMO, PAYPAL, APP_PAYOUT, CREDIT_CARD, CHECK, ZELLE, STRIPE, BANK_TRANSFER, or CASH.",
                    "example": "CREDIT_CARD"
                  },
                  "referenceNumber": {
                    "type": "string",
                    "description": "Reference number for the payment."
                  },
                  "memo": {
                    "type": "string",
                    "description": "Internal payment memo."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number"
                          },
                          "amountDue": {
                            "type": "number"
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "clientInfo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "currency": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "datePaid": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invoiceNumber": {
                            "type": "number"
                          },
                          "invoiceNumberFormatted": {
                            "type": "string"
                          },
                          "payments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "paymentTotal": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          },
                          "viewOnlineUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moxie/latest/actions/create-client": {
      "post": {
        "operationId": "moxie.create-client",
        "summary": "Create Client",
        "description": "Creates a new client in Moxie.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moxie/latest/actions/create-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "clientType",
                  "currency"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Business name for the client."
                  },
                  "clientType": {
                    "type": "string",
                    "description": "Either Client or Prospect."
                  },
                  "currency": {
                    "type": "string",
                    "description": "ISO 4217 currency code for the client."
                  },
                  "website": {
                    "type": "string",
                    "description": "Website URL for the client."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Primary phone number for the client."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Internal notes for the client."
                  },
                  "paymentTerms": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Payment terms object for the client."
                  },
                  "contacts": {
                    "type": "string",
                    "description": "Optional list of contacts to create with the client."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number"
                          },
                          "clientType": {
                            "type": "string"
                          },
                          "contacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "paymentTerms": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "phone": {
                            "type": "string"
                          },
                          "sampleData": {
                            "type": "boolean"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moxie/latest/actions/create-comment-on-ticket": {
      "post": {
        "operationId": "moxie.create-comment-on-ticket",
        "summary": "Create Comment on Ticket",
        "description": "Creates a comment on a ticket in Moxie.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moxie/latest/actions/create-comment-on-ticket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "userEmail",
                  "ticketNumber",
                  "privateComment",
                  "comment"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "userEmail": {
                    "type": "string",
                    "description": "Email of the user posting the comment."
                  },
                  "ticketNumber": {
                    "type": "number",
                    "description": "Numeric ticket number."
                  },
                  "privateComment": {
                    "type": "boolean",
                    "description": "Whether the comment is private."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Comment body."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "ticket": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moxie/latest/actions/create-contact": {
      "post": {
        "operationId": "moxie.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in Moxie.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moxie/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "first",
                  "last"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "first": {
                    "type": "string",
                    "description": "Contact first name."
                  },
                  "last": {
                    "type": "string",
                    "description": "Contact last name."
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact email address."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Contact phone number."
                  },
                  "clientName": {
                    "type": "string",
                    "description": "Existing client name to attach the contact to."
                  },
                  "defaultContact": {
                    "type": "boolean",
                    "description": "Whether this should be the default client contact."
                  },
                  "portalAccess": {
                    "type": "boolean",
                    "description": "Whether the contact should have portal access."
                  },
                  "invoiceContact": {
                    "type": "boolean",
                    "description": "Whether the contact should receive invoices."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number"
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "clientPortalUserId": {
                            "type": "number"
                          },
                          "defaultContact": {
                            "type": "boolean"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invoiceContact": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "portalAccess": {
                            "type": "boolean"
                          },
                          "role": {
                            "type": "string"
                          },
                          "sampleData": {
                            "type": "boolean"
                          },
                          "searchObject": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moxie/latest/actions/create-expense": {
      "post": {
        "operationId": "moxie.create-expense",
        "summary": "Create Expense",
        "description": "Creates a new expense in Moxie.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moxie/latest/actions/create-expense"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "date",
                  "amount",
                  "currency",
                  "paid",
                  "reimbursable"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "billNo": {
                    "type": "string",
                    "description": "Optional bill number for the expense."
                  },
                  "category": {
                    "type": "string",
                    "description": "Optional expense category name."
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Expense date."
                  },
                  "markupPercentage": {
                    "type": "number",
                    "description": "Optional markup percentage to apply when the expense is reimbursable. Defaults to 0 to avoid Moxie sample-mode response errors.",
                    "default": 0
                  },
                  "notes": {
                    "type": "string",
                    "description": "Optional notes for the expense."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Expense amount."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Expense currency code."
                  },
                  "paid": {
                    "type": "boolean",
                    "description": "Whether the expense has been paid."
                  },
                  "reimbursable": {
                    "type": "boolean",
                    "description": "Whether the expense is reimbursable."
                  },
                  "vendor": {
                    "type": "string",
                    "description": "Vendor name for the expense."
                  },
                  "clientName": {
                    "type": "string",
                    "description": "Client name tied to the expense."
                  },
                  "description": {
                    "type": "string",
                    "description": "Expense description."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "client": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "integrationKeys": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "markupPercent": {
                            "type": "number"
                          },
                          "paid": {
                            "type": "boolean"
                          },
                          "paidDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "reimbursable": {
                            "type": "boolean"
                          },
                          "sampleData": {
                            "type": "boolean"
                          },
                          "total": {
                            "type": "number"
                          },
                          "totalWithMarkup": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moxie/latest/actions/create-form-submission": {
      "post": {
        "operationId": "moxie.create-form-submission",
        "summary": "Create Form Submission",
        "description": "Creates a new form submission in Moxie.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moxie/latest/actions/create-form-submission"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "formName": {
                    "type": "string",
                    "description": "Form name to submit."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Lead first name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Lead last name."
                  },
                  "email": {
                    "type": "string",
                    "description": "Lead email address."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Lead phone number."
                  },
                  "businessName": {
                    "type": "string",
                    "description": "Business name from the form submission."
                  },
                  "pipelineStageName": {
                    "type": "string",
                    "description": "Pipeline stage name for the submission."
                  },
                  "answers": {
                    "type": "string",
                    "description": "List of answer objects for form questions."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number"
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "formData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "formName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "ipLookup": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isDiscovery": {
                            "type": "boolean"
                          },
                          "leadGenArchived": {
                            "type": "boolean"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "opportunityId": {
                            "type": "string"
                          },
                          "privateSubmission": {
                            "type": "boolean"
                          },
                          "submissionToken": {
                            "type": "string"
                          },
                          "submittedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "summary": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moxie/latest/actions/create-invoice": {
      "post": {
        "operationId": "moxie.create-invoice",
        "summary": "Create Invoice",
        "description": "Creates a new invoice in Moxie.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moxie/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "clientName",
                  "items"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "clientName": {
                    "type": "string",
                    "description": "Existing client name for the invoice."
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Invoice due date."
                  },
                  "templateName": {
                    "type": "string",
                    "description": "Invoice template name."
                  },
                  "invoiceNumber": {
                    "type": "string",
                    "description": "Custom invoice number."
                  },
                  "taxRate": {
                    "type": "number",
                    "description": "Invoice tax rate percentage."
                  },
                  "discountPercent": {
                    "type": "number",
                    "description": "Invoice discount percentage."
                  },
                  "paymentInstructions": {
                    "type": "string",
                    "description": "Payment instructions shown on the invoice."
                  },
                  "items": {
                    "type": "string",
                    "description": "List of invoice line items."
                  },
                  "sendTo": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Recipient object for sending the invoice."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number"
                          },
                          "amountDue": {
                            "type": "number"
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "clientInfo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "currency": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateDue": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "datePaid": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateSent": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "integrationKeys": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "invoiceNumber": {
                            "type": "number"
                          },
                          "invoiceNumberFormatted": {
                            "type": "string"
                          },
                          "invoiceType": {
                            "type": "string"
                          },
                          "payments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "paymentTotal": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          },
                          "viewOnlineUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moxie/latest/actions/create-opportunity": {
      "post": {
        "operationId": "moxie.create-opportunity",
        "summary": "Create Opportunity",
        "description": "Creates a new opportunity in Moxie.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moxie/latest/actions/create-opportunity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Opportunity name."
                  },
                  "description": {
                    "type": "string",
                    "description": "Opportunity description."
                  },
                  "clientName": {
                    "type": "string",
                    "description": "Existing client name for the opportunity."
                  },
                  "stageName": {
                    "type": "string",
                    "description": "Pipeline stage name."
                  },
                  "value": {
                    "type": "number",
                    "description": "Opportunity value."
                  },
                  "estCloseDate": {
                    "type": "string",
                    "description": "Estimated close date in YYYY-MM-DD format.",
                    "example": "2026-03-21"
                  },
                  "leadInfo": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Lead info object for a new opportunity."
                  },
                  "toDos": {
                    "type": "string",
                    "description": "List of opportunity to-do items."
                  },
                  "customValues": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom values object for the opportunity."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number"
                          },
                          "archive": {
                            "type": "boolean"
                          },
                          "client": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "comments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "customValues": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "description": {
                            "type": "string"
                          },
                          "estCloseDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "formData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "history": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "initialWorkflow": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "periods": {
                            "type": "number"
                          },
                          "sampleData": {
                            "type": "boolean"
                          },
                          "statusId": {
                            "type": "string"
                          },
                          "statusLabel": {
                            "type": "string"
                          },
                          "timePeriod": {
                            "type": "string"
                          },
                          "toDos": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "value": {
                            "type": "number"
                          },
                          "workflow": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moxie/latest/actions/create-project": {
      "post": {
        "operationId": "moxie.create-project",
        "summary": "Create Project",
        "description": "Creates a new project in Moxie.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moxie/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "clientName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Project name."
                  },
                  "clientName": {
                    "type": "string",
                    "description": "Existing client name for the project."
                  },
                  "templateName": {
                    "type": "string",
                    "description": "Project template name to clone from."
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Project start date."
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Project due date."
                  },
                  "portalAccess": {
                    "type": "string",
                    "description": "Portal access level for the project."
                  },
                  "showTimeWorkedInPortal": {
                    "type": "boolean",
                    "description": "Whether time worked should be visible in the client portal."
                  },
                  "feeSchedule": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Fee schedule object when not using a template."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "clientMini": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customValues": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feeSchedule": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "invoiceIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "portalAccess": {
                            "type": "string"
                          },
                          "projectTypeId": {
                            "type": "string"
                          },
                          "sampleData": {
                            "type": "boolean"
                          },
                          "showTimeWorkedInPortal": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moxie/latest/actions/create-task": {
      "post": {
        "operationId": "moxie.create-task",
        "summary": "Create Task",
        "description": "Creates a new task in Moxie.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moxie/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "clientName",
                  "projectName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Task name."
                  },
                  "clientName": {
                    "type": "string",
                    "description": "Existing client name for the task."
                  },
                  "projectName": {
                    "type": "string",
                    "description": "Existing project name for the task."
                  },
                  "status": {
                    "type": "string",
                    "description": "Task status label."
                  },
                  "description": {
                    "type": "string",
                    "description": "Task description."
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Task due date."
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Task start date."
                  },
                  "priority": {
                    "type": "number",
                    "description": "Task priority value."
                  },
                  "assignedTo": {
                    "type": "string",
                    "description": "List of assignee emails."
                  },
                  "tasks": {
                    "type": "string",
                    "description": "Optional list of subtask labels."
                  },
                  "customValues": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom values object for the task."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number"
                          },
                          "approvalRequired": {
                            "type": "boolean"
                          },
                          "approvals": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "archived": {
                            "type": "boolean"
                          },
                          "assignedToList": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "comments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customValues": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "description": {
                            "type": "string"
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "isSubTask": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "priority": {
                            "type": "number"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "projectTypeId": {
                            "type": "string"
                          },
                          "sampleData": {
                            "type": "boolean"
                          },
                          "statusId": {
                            "type": "string"
                          },
                          "taskPriority": {
                            "type": "string"
                          },
                          "tasks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moxie/latest/actions/create-ticket": {
      "post": {
        "operationId": "moxie.create-ticket",
        "summary": "Create Ticket",
        "description": "Creates a new ticket in Moxie.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moxie/latest/actions/create-ticket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "userEmail",
                  "ticketType",
                  "subject",
                  "comment"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "userEmail": {
                    "type": "string",
                    "description": "Email of the user creating the ticket."
                  },
                  "ticketType": {
                    "type": "string",
                    "description": "Ticket type identifier."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Ticket subject line."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Initial ticket comment body."
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Ticket due date."
                  },
                  "formData": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Ticket form data object."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "ticket": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
[...]
