{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Guestmeter Universal API",
    "version": "0.0.5",
    "description": "Send guest satisfaction surveys and retrieve guest feedback data through Guestmeter's REST API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/guestmeter/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/guestmeter/latest/actions/get-guest": {
      "get": {
        "operationId": "guestmeter.get-guest",
        "summary": "Get Guest",
        "description": "Retrieves guest details from Guestmeter.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/guestmeter/latest/actions/get-guest"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "guestId",
            "in": "query",
            "required": true,
            "description": "Guest ID in UUID format.",
            "schema": {
              "type": "string",
              "description": "Guest ID in UUID format.",
              "example": "9d77b4cc-cdaa-4768-9aa9-94a0d772f222"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clickedDate": {
                            "type": "string"
                          },
                          "contactInfo": {
                            "type": "string"
                          },
                          "contactType": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "creationDate": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "string"
                          },
                          "guestID": {
                            "type": "string"
                          },
                          "guestName": {
                            "type": "string"
                          },
                          "integrationID": {
                            "type": "string"
                          },
                          "languageCode": {
                            "type": "string"
                          },
                          "mainChannel": {
                            "type": "string"
                          },
                          "propertyName": {
                            "type": "string"
                          },
                          "ratedDate": {
                            "type": "string"
                          },
                          "rating": {
                            "type": "string"
                          },
                          "ratingType": {
                            "type": "string"
                          },
                          "roomNumber": {
                            "type": "string"
                          },
                          "sentDate": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "statusDetail": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/guestmeter/latest/actions/list-guests": {
      "get": {
        "operationId": "guestmeter.list-guests",
        "summary": "List Guests",
        "description": "Retrieves guests from Guestmeter.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/guestmeter/latest/actions/list-guests"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clickedDate": {
                            "type": "string"
                          },
                          "contactInfo": {
                            "type": "string"
                          },
                          "contactType": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "creationDate": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "string"
                          },
                          "guestID": {
                            "type": "string"
                          },
                          "guestName": {
                            "type": "string"
                          },
                          "integrationID": {
                            "type": "string"
                          },
                          "languageCode": {
                            "type": "string"
                          },
                          "mainChannel": {
                            "type": "string"
                          },
                          "propertyName": {
                            "type": "string"
                          },
                          "ratedDate": {
                            "type": "string"
                          },
                          "rating": {
                            "type": "string"
                          },
                          "ratingType": {
                            "type": "string"
                          },
                          "roomNumber": {
                            "type": "string"
                          },
                          "sentDate": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "statusDetail": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/guestmeter/latest/actions/send-survey": {
      "post": {
        "operationId": "guestmeter.send-survey",
        "summary": "Send Survey",
        "description": "Creates a guest survey request in Guestmeter.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/guestmeter/latest/actions/send-survey"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "guestEmail",
                  "guestName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "checkoutDate": {
                    "type": "string",
                    "description": "Optional send date in DD.MM.YYYY or DD-MM-YYYY format.",
                    "example": "31.12.2026"
                  },
                  "guestEmail": {
                    "type": "string",
                    "description": "Guest email address.",
                    "example": "guest@example.com"
                  },
                  "guestName": {
                    "type": "string",
                    "description": "Guest full name.",
                    "example": "Jane Guest"
                  },
                  "guestPhone": {
                    "type": "string",
                    "description": "Guest mobile number in international format.",
                    "example": "+15551234567"
                  },
                  "integrationID": {
                    "type": "string",
                    "description": "Reference ID for the guest in your source system (for example reservation ID).",
                    "example": "reservation-12345"
                  },
                  "languageCode": {
                    "type": "string",
                    "description": "Two-letter language code (for example en).",
                    "example": "en",
                    "default": "en"
                  },
                  "primarySendMethod": {
                    "type": "string",
                    "description": "Preferred channel when both email and phone exist: email or sms.",
                    "example": "email"
                  },
                  "roomNumber": {
                    "type": "string",
                    "description": "Guest room number or table number."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "statusList": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "status": {
                                  "type": "string"
                                },
                                "statusCode": {
                                  "type": "string"
                                },
                                "statusMessage": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
