{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Twilio Universal API",
    "version": "0.0.10",
    "description": "Send messages, make calls, verify users, and build communication workflows."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/twilio/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/twilio/latest/actions/create-messaging-service": {
      "post": {
        "operationId": "twilio.create-messaging-service",
        "summary": "Create Messaging Service",
        "description": "Creates a new messaging service in Twilio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twilio/latest/actions/create-messaging-service"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "friendlyName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "friendlyName": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountSid": {
                            "type": "string"
                          },
                          "areaCodeGeomatch": {
                            "type": "boolean"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fallbackMethod": {
                            "type": "string"
                          },
                          "fallbackToLongCode": {
                            "type": "boolean"
                          },
                          "fallbackUrl": {
                            "type": "string"
                          },
                          "friendlyName": {
                            "type": "string"
                          },
                          "inboundMethod": {
                            "type": "string"
                          },
                          "inboundRequestUrl": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "alphaSenders": {
                                "type": "string"
                              },
                              "channelSenders": {
                                "type": "string"
                              },
                              "destinationAlphaSenders": {
                                "type": "string"
                              },
                              "messages": {
                                "type": "string"
                              },
                              "phoneNumbers": {
                                "type": "string"
                              },
                              "shortCodes": {
                                "type": "string"
                              },
                              "usAppToPerson": {
                                "type": "string"
                              },
                              "usAppToPersonUsecases": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mmsConverter": {
                            "type": "boolean"
                          },
                          "scanMessageContent": {
                            "type": "string"
                          },
                          "sid": {
                            "type": "string"
                          },
                          "smartEncoding": {
                            "type": "boolean"
                          },
                          "statusCallback": {
                            "type": "string"
                          },
                          "stickySender": {
                            "type": "boolean"
                          },
                          "synchronousValidation": {
                            "type": "boolean"
                          },
                          "url": {
                            "type": "string"
                          },
                          "usAppToPersonRegistered": {
                            "type": "boolean"
                          },
                          "usecase": {
                            "type": "string"
                          },
                          "useInboundWebhookOnNumber": {
                            "type": "boolean"
                          },
                          "validityPeriod": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twilio/latest/actions/delete-messaging-service": {
      "delete": {
        "operationId": "twilio.delete-messaging-service",
        "summary": "Delete Messaging Service",
        "description": "Deletes an existing messaging service from Twilio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twilio/latest/actions/delete-messaging-service"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sid",
            "in": "query",
            "required": true,
            "description": "Messaging Service SID to delete",
            "schema": {
              "type": "string",
              "description": "Messaging Service SID to delete"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twilio/latest/actions/get-available-phone-number-country": {
      "get": {
        "operationId": "twilio.get-available-phone-number-country",
        "summary": "Get Available Phone Number Country",
        "description": "Retrieves available phone number details for a country in Twilio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twilio/latest/actions/get-available-phone-number-country"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "US"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "beta": {
                            "type": "boolean"
                          },
                          "country": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "subresourceUris": {
                            "type": "object",
                            "properties": {
                              "local": {
                                "type": "string"
                              },
                              "mobile": {
                                "type": "string"
                              },
                              "tollFree": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twilio/latest/actions/get-message": {
      "get": {
        "operationId": "twilio.get-message",
        "summary": "Get Message",
        "description": "Retrieves a message from Twilio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twilio/latest/actions/get-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageSid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountSid": {
                            "type": "string"
                          },
                          "apiVersion": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string"
                          },
                          "dateSent": {
                            "type": "string"
                          },
                          "dateUpdated": {
                            "type": "string"
                          },
                          "direction": {
                            "type": "string"
                          },
                          "errorCode": {
                            "type": "number"
                          },
                          "errorMessage": {
                            "type": "string"
                          },
                          "from": {
                            "type": "string"
                          },
                          "messagingServiceSid": {
                            "type": "string"
                          },
                          "numMedia": {
                            "type": "string"
                          },
                          "numSegments": {
                            "type": "string"
                          },
                          "price": {
                            "type": "string"
                          },
                          "priceUnit": {
                            "type": "string"
                          },
                          "sid": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subresourceUris": {
                            "type": "object",
                            "properties": {
                              "feedback": {
                                "type": "string"
                              },
                              "media": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "to": {
                            "type": "string"
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twilio/latest/actions/get-messaging-pricing-country": {
      "get": {
        "operationId": "twilio.get-messaging-pricing-country",
        "summary": "Get Messaging Pricing Country",
        "description": "Retrieves messaging pricing for a country from Twilio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twilio/latest/actions/get-messaging-pricing-country"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isoCountry",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "US",
              "default": "US"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string"
                          },
                          "inboundSmsPrices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "basePrice": {
                                  "type": "string"
                                },
                                "currentPrice": {
                                  "type": "string"
                                },
                                "numberType": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "isoCountry": {
                            "type": "string"
                          },
                          "outboundSmsPrices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "carrier": {
                                  "type": "string"
                                },
                                "mcc": {
                                  "type": "string"
                                },
                                "mnc": {
                                  "type": "string"
                                },
                                "prices": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "basePrice": {
                                        "type": "string"
                                      },
                                      "currentPrice": {
                                        "type": "string"
                                      },
                                      "numberType": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "priceUnit": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twilio/latest/actions/get-messaging-service": {
      "get": {
        "operationId": "twilio.get-messaging-service",
        "summary": "Get Messaging Service",
        "description": "Retrieves a messaging service from Twilio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twilio/latest/actions/get-messaging-service"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "{{credentials.twilioMessagingServiceSid}}"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountSid": {
                            "type": "string"
                          },
                          "areaCodeGeomatch": {
                            "type": "boolean"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fallbackMethod": {
                            "type": "string"
                          },
                          "fallbackToLongCode": {
                            "type": "boolean"
                          },
                          "fallbackUrl": {
                            "type": "string"
                          },
                          "friendlyName": {
                            "type": "string"
                          },
                          "inboundMethod": {
                            "type": "string"
                          },
                          "inboundRequestUrl": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "alphaSenders": {
                                "type": "string"
                              },
                              "channelSenders": {
                                "type": "string"
                              },
                              "destinationAlphaSenders": {
                                "type": "string"
                              },
                              "messages": {
                                "type": "string"
                              },
                              "phoneNumbers": {
                                "type": "string"
                              },
                              "shortCodes": {
                                "type": "string"
                              },
                              "usAppToPerson": {
                                "type": "string"
                              },
                              "usAppToPersonUsecases": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mmsConverter": {
                            "type": "boolean"
                          },
                          "scanMessageContent": {
                            "type": "string"
                          },
                          "sid": {
                            "type": "string"
                          },
                          "smartEncoding": {
                            "type": "boolean"
                          },
                          "statusCallback": {
                            "type": "string"
                          },
                          "stickySender": {
                            "type": "boolean"
                          },
                          "synchronousValidation": {
                            "type": "boolean"
                          },
                          "url": {
                            "type": "string"
                          },
                          "usAppToPersonRegistered": {
                            "type": "boolean"
                          },
                          "usecase": {
                            "type": "string"
                          },
                          "useInboundWebhookOnNumber": {
                            "type": "boolean"
                          },
                          "validityPeriod": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twilio/latest/actions/list-available-phone-number-countries": {
      "get": {
        "operationId": "twilio.list-available-phone-number-countries",
        "summary": "List Available Phone Number Countries",
        "description": "Retrieves available phone number countries from Twilio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twilio/latest/actions/list-available-phone-number-countries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "countries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "beta": {
                                  "type": "boolean"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "countryCode": {
                                  "type": "string"
                                },
                                "subresourceUris": {
                                  "type": "object",
                                  "properties": {
                                    "local": {
                                      "type": "string"
                                    },
                                    "mobile": {
                                      "type": "string"
                                    },
                                    "tollFree": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "uri": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twilio/latest/actions/list-available-phone-numbers-local": {
      "get": {
        "operationId": "twilio.list-available-phone-numbers-local",
        "summary": "List Available Phone Numbers Local",
        "description": "Finds available local phone numbers in Twilio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twilio/latest/actions/list-available-phone-numbers-local"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "US"
            }
          },
          {
            "name": "areaCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "availablePhoneNumbers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "addressRequirements": {
                                  "type": "string"
                                },
                                "beta": {
                                  "type": "boolean"
                                },
                                "capabilities": {
                                  "type": "object",
                                  "properties": {
                                    "mms": {
                                      "type": "boolean"
                                    },
                                    "sms": {
                                      "type": "boolean"
                                    },
                                    "voice": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "friendlyName": {
                                  "type": "string"
                                },
                                "isoCountry": {
                                  "type": "string"
                                },
                                "lata": {
                                  "type": "string"
                                },
                                "latitude": {
                                  "type": "string"
                                },
                                "locality": {
                                  "type": "string"
                                },
                                "longitude": {
                                  "type": "string"
                                },
                                "phoneNumber": {
                                  "type": "string"
                                },
                                "postalCode": {
                                  "type": "string"
                                },
                                "rateCenter": {
                                  "type": "string"
                                },
                                "region": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twilio/latest/actions/list-available-phone-numbers-mobile": {
      "get": {
        "operationId": "twilio.list-available-phone-numbers-mobile",
        "summary": "List Available Phone Numbers Mobile",
        "description": "Finds available mobile phone numbers in Twilio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twilio/latest/actions/list-available-phone-numbers-mobile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "GB"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "availablePhoneNumbers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "addressRequirements": {
                                  "type": "string"
                                },
                                "beta": {
                                  "type": "boolean"
                                },
                                "capabilities": {
                                  "type": "object",
                                  "properties": {
                                    "mms": {
                                      "type": "boolean"
                                    },
                                    "sms": {
                                      "type": "boolean"
                                    },
                                    "voice": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "friendlyName": {
                                  "type": "string"
                                },
                                "isoCountry": {
                                  "type": "string"
                                },
                                "lata": {
                                  "type": "string"
                                },
                                "latitude": {
                                  "type": "string"
                                },
                                "locality": {
                                  "type": "string"
                                },
                                "longitude": {
                                  "type": "string"
                                },
                                "phoneNumber": {
                                  "type": "string"
                                },
                                "postalCode": {
                                  "type": "string"
                                },
                                "rateCenter": {
                                  "type": "string"
                                },
                                "region": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twilio/latest/actions/list-available-phone-numbers-toll-free": {
      "get": {
        "operationId": "twilio.list-available-phone-numbers-toll-free",
        "summary": "List Available Phone Numbers Toll-Free",
        "description": "Finds available toll-free phone numbers in Twilio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twilio/latest/actions/list-available-phone-numbers-toll-free"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "US"
            }
          },
          {
            "name": "contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "availablePhoneNumbers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "addressRequirements": {
                                  "type": "string"
                                },
                                "beta": {
                                  "type": "boolean"
                                },
                                "capabilities": {
                                  "type": "object",
                                  "properties": {
                                    "mms": {
                                      "type": "boolean"
                                    },
                                    "sms": {
                                      "type": "boolean"
                                    },
                                    "voice": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "friendlyName": {
                                  "type": "string"
                                },
                                "isoCountry": {
                                  "type": "string"
                                },
                                "lata": {
                                  "type": "string"
                                },
                                "latitude": {
                                  "type": "string"
                                },
                                "locality": {
                                  "type": "string"
                                },
                                "longitude": {
                                  "type": "string"
                                },
                                "phoneNumber": {
                                  "type": "string"
                                },
                                "postalCode": {
                                  "type": "string"
                                },
                                "rateCenter": {
                                  "type": "string"
                                },
                                "region": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twilio/latest/actions/list-incoming-phone-numbers": {
      "get": {
        "operationId": "twilio.list-incoming-phone-numbers",
        "summary": "List Incoming Phone Numbers",
        "description": "Retrieves incoming phone numbers from Twilio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twilio/latest/actions/list-incoming-phone-numbers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "friendlyName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "end": {
                            "type": "number"
                          },
                          "firstPageUri": {
                            "type": "string"
                          },
                          "incomingPhoneNumbers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accountSid": {
                                  "type": "string"
                                },
                                "addressRequirements": {
                                  "type": "string"
                                },
                                "addressSid": {
                                  "type": "string"
                                },
                                "apiVersion": {
                                  "type": "string"
                                },
                                "beta": {
                                  "type": "boolean"
                                },
                                "bundleSid": {
                                  "type": "string"
                                },
                                "capabilities": {
                                  "type": "object",
                                  "properties": {
                                    "fax": {
                                      "type": "boolean"
                                    },
                                    "mms": {
                                      "type": "boolean"
                                    },
                                    "sms": {
                                      "type": "boolean"
                                    },
                                    "voice": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "dateCreated": {
                                  "type": "string"
                                },
                                "dateUpdated": {
                                  "type": "string"
                                },
                                "emergencyAddressSid": {
                                  "type": "string"
                                },
                                "emergencyAddressStatus": {
                                  "type": "string"
                                },
                                "emergencyStatus": {
                                  "type": "string"
                                },
                                "friendlyName": {
                                  "type": "string"
                                },
                                "identitySid": {
                                  "type": "string"
                                },
                                "origin": {
                                  "type": "string"
                                },
                                "phoneNumber": {
                                  "type": "string"
                                },
                                "sid": {
                                  "type": "string"
                                },
                                "smsApplicationSid": {
                                  "type": "string"
                                },
                                "smsFallbackMethod": {
                                  "type": "string"
                                },
                                "smsFallbackUrl": {
                                  "type": "string"
                                },
                                "smsMethod": {
                                  "type": "string"
                                },
                                "smsUrl": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "statusCallback": {
                                  "type": "string"
                                },
                                "statusCallbackMethod": {
                                  "type": "string"
                                },
                                "subresourceUris": {
                                  "type": "object",
                                  "properties": {
                                    "assignedAddOns": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "trunkSid": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "uri": {
                                  "type": "string"
                                },
                                "voiceApplicationSid": {
                                  "type": "string"
                                },
                                "voiceCallerIdLookup": {
                                  "type": "boolean"
                                },
                                "voiceFallbackMethod": {
                                  "type": "string"
                                },
                                "voiceFallbackUrl": {
                                  "type": "string"
                                },
                                "voiceMethod": {
                                  "type": "string"
                                },
                                "voiceReceiveMode": {
                                  "type": "string"
                                },
                                "voiceUrl": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "nextPageUri": {
                            "type": "string"
                          },
                          "page": {
                            "type": "number"
                          },
                          "pageSize": {
                            "type": "number"
                          },
                          "previousPageUri": {
                            "type": "string"
                          },
                          "start": {
                            "type": "number"
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twilio/latest/actions/list-messages": {
      "get": {
        "operationId": "twilio.list-messages",
        "summary": "List Messages",
        "description": "Retrieves messages from Twilio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twilio/latest/actions/list-messages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
[...]
