{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Is It Christmas? Universal API",
    "version": "0.0.7",
    "description": "Check whether it is Christmas and browse Christmas history"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/isItChristmas/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/isItChristmas/latest/actions/list-christmases": {
      "get": {
        "operationId": "isItChristmas.list-christmases",
        "summary": "List Christmases",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/isItChristmas/latest/actions/list-christmases"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "ISO 3166-1 alpha-2 country code used for localized yes/no text.",
            "schema": {
              "type": "string",
              "description": "ISO 3166-1 alpha-2 country code used for localized yes/no text.",
              "example": "US"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "IANA timezone name used to calculate Christmas in that zone.",
            "schema": {
              "type": "string",
              "description": "IANA timezone name used to calculate Christmas in that zone.",
              "example": "UTC"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answer": {
                            "type": "string",
                            "description": "Localized yes/no string for the requested country."
                          },
                          "christmas": {
                            "type": "boolean",
                            "description": "Whether the returned row represents Christmas Day."
                          },
                          "christmas_day": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO timestamp for Christmas Day in the requested timezone."
                          },
                          "christmas_time": {
                            "type": "number",
                            "description": "Unix timestamp for Christmas Day."
                          },
                          "country": {
                            "type": "string",
                            "description": "ISO 3166-1 alpha-2 country code."
                          },
                          "country_names": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Localized country names returned by the provider."
                          },
                          "id": {
                            "type": "string",
                            "description": "Stable Christmas occurrence identifier."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "IANA timezone used for the calculation."
                          },
                          "year": {
                            "type": "number",
                            "description": "Calendar year for the Christmas occurrence."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
