{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Simpro Universal API",
    "version": "0.0.7",
    "description": "Manage jobs, customers, quotes, and invoices in Simpro"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/simpro/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/simpro/latest/actions/create-contact": {
      "post": {
        "operationId": "simpro.create-contact",
        "summary": "Create Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpro/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "companyId",
                  "GivenName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyId": {
                    "type": "number",
                    "description": "Simpro company ID. Single-company builds usually use 0.",
                    "example": 0,
                    "default": 0
                  },
                  "GivenName": {
                    "type": "string",
                    "description": "Contact first name.",
                    "example": "Morgan"
                  },
                  "FamilyName": {
                    "type": "string",
                    "description": "Contact last name.",
                    "example": "Reed"
                  },
                  "Email": {
                    "type": "string",
                    "description": "Contact email address.",
                    "example": "morgan.reed@example.com"
                  },
                  "CellPhone": {
                    "type": "string",
                    "description": "Contact mobile phone.",
                    "example": "+1 415 555 0133"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "altPhone": {
                            "type": "string"
                          },
                          "cellPhone": {
                            "type": "string"
                          },
                          "dateModified": {
                            "type": "string"
                          },
                          "department": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "familyName": {
                            "type": "string"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "givenName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "position": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "workPhone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpro/latest/actions/create-customer": {
      "post": {
        "operationId": "simpro.create-customer",
        "summary": "Create Customer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpro/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "companyId",
                  "CompanyName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyId": {
                    "type": "number",
                    "description": "Simpro company ID. Single-company builds usually use 0.",
                    "example": 0,
                    "default": 0
                  },
                  "CompanyName": {
                    "type": "string",
                    "description": "Company customer name.",
                    "example": "Acme Facilities Pty Ltd"
                  },
                  "Email": {
                    "type": "string",
                    "description": "Customer email address.",
                    "example": "billing@example.com"
                  },
                  "Phone": {
                    "type": "string",
                    "description": "Customer telephone number.",
                    "example": "+1 415 555 0101"
                  },
                  "createSite": {
                    "type": "boolean",
                    "description": "Whether Simpro should create a site with the customer.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "altPhone": {
                            "type": "string"
                          },
                          "amountOwing": {
                            "type": "number"
                          },
                          "archived": {
                            "type": "boolean"
                          },
                          "banking": {
                            "type": "object",
                            "properties": {
                              "accountName": {
                                "type": "string"
                              },
                              "accountNo": {
                                "type": "string"
                              },
                              "creditLimit": {
                                "type": "number"
                              },
                              "onStop": {
                                "type": "boolean"
                              },
                              "paymentMethod": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "paymentTermID": {
                                "type": "number"
                              },
                              "paymentTerms": {
                                "type": "object",
                                "properties": {
                                  "days": {
                                    "type": "number"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "retention": {
                                "type": "string"
                              },
                              "routingNo": {
                                "type": "string"
                              },
                              "vendorOrderNoRequired": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "billingAddress": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "companyNumber": {
                            "type": "string"
                          },
                          "customerType": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string"
                          },
                          "dateModified": {
                            "type": "string"
                          },
                          "doNotCall": {
                            "type": "boolean"
                          },
                          "ein": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "profile": {
                            "type": "object",
                            "properties": {
                              "accountManager": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "currency": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "visible": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "customerGroup": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "customerProfile": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "notes": {
                                "type": "string"
                              },
                              "serviceJobCostCenter": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "rates": {
                            "type": "object",
                            "properties": {
                              "alwaysDeductCIS": {
                                "type": "boolean"
                              },
                              "discountFee": {
                                "type": "number"
                              },
                              "labourTaxCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "material": {
                                "type": "object",
                                "properties": {
                                  "markup": {
                                    "type": "number"
                                  },
                                  "pricingTier": {
                                    "type": "object",
                                    "properties": {
                                      "defaultMarkup": {
                                        "type": "number"
                                      },
                                      "id": {
                                        "type": "number"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "partTaxCode": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "sites": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpro/latest/actions/create-job": {
      "post": {
        "operationId": "simpro.create-job",
        "summary": "Create Job",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpro/latest/actions/create-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "companyId",
                  "Type",
                  "Site"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyId": {
                    "type": "number",
                    "default": 0
                  },
                  "Type": {
                    "type": "string"
                  },
                  "Site": {
                    "type": "number"
                  },
                  "Customer": {
                    "type": "number"
                  },
                  "Description": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archiveReason": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "autoAdjustStatus": {
                            "type": "boolean"
                          },
                          "completedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "convertedFrom": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "convertedFromQuote": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customer": {
                            "type": "object",
                            "properties": {
                              "companyName": {
                                "type": "string"
                              },
                              "familyName": {
                                "type": "string"
                              },
                              "givenName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "customerContact": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customerContract": {
                            "type": "object",
                            "properties": {
                              "contractNo": {
                                "type": "string"
                              },
                              "endDate": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "startDate": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dateIssued": {
                            "type": "string"
                          },
                          "dateModified": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dueTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "isRetentionEnabled": {
                            "type": "boolean"
                          },
                          "isVariation": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "orderNo": {
                            "type": "string"
                          },
                          "projectManager": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "requestNo": {
                            "type": "string"
                          },
                          "salesperson": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "site": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "siteContact": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "stage": {
                            "type": "string"
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "color": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "stc": {
                            "type": "object",
                            "properties": {
                              "sTCsEligible": {
                                "type": "boolean"
                              },
                              "sTCValue": {
                                "type": "number"
                              },
                              "vEECsEligible": {
                                "type": "boolean"
                              },
                              "vEECValue": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "technician": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "total": {
                            "type": "object",
                            "properties": {
                              "exTax": {
                                "type": "number"
                              },
                              "incTax": {
                                "type": "number"
                              },
                              "tax": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "totals": {
                            "type": "object",
                            "properties": {
                              "adjusted": {
                                "type": "object",
                                "properties": {
                                  "actual": {
                                    "type": "number"
                                  },
                                  "estimate": {
                                    "type": "number"
                                  },
                                  "revised": {
                                    "type": "number"
                                  },
                                  "revized": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "discount": {
                                "type": "number"
                              },
                              "grossMargin": {
                                "type": "object",
                                "properties": {
                                  "actual": {
                                    "type": "number"
                                  },
                                  "estimate": {
                                    "type": "number"
                                  },
                                  "revised": {
                                    "type": "number"
                                  },
                                  "revized": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "grossProfitLoss": {
                                "type": "object",
                                "properties": {
                                  "actual": {
                                    "type": "number"
                                  },
                                  "estimate": {
                                    "type": "number"
                                  },
                                  "revised": {
                                    "type": "number"
                                  },
                                  "revized": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "invoicedValue": {
                                "type": "number"
                              },
                              "invoicePercentage": {
                                "type": "number"
                              },
                              "materialsCost": {
                                "type": "object",
                                "properties": {
                                  "actual": {
                                    "type": "number"
                                  },
                                  "committed": {
                                    "type": "number"
                                  },
                                  "estimate": {
                                    "type": "number"
                                  },
                                  "revised": {
                                    "type": "number"
                                  },
                                  "revized": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "materialsMarkup": {
                                "type": "object",
                                "properties": {
                                  "actual": {
                                    "type": "number"
                                  },
                                  "estimate": {
                                    "type": "number"
                                  },
                                  "revised": {
                                    "type": "number"
                                  },
                                  "revized": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "membershipDiscount": {
                                "type": "number"
                              },
                              "nettMargin": {
                                "type": "object",
                                "properties": {
                                  "actual": {
                                    "type": "number"
                                  },
                                  "estimate": {
                                    "type": "number"
                                  },
                                  "revised": {
                                    "type": "number"
                                  },
                                  "revized": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "nettProfitLoss": {
                                "type": "object",
                                "properties": {
                                  "actual": {
                                    "type": "number"
                                  },
                                  "estimate": {
                                    "type": "number"
                                  },
                                  "revised": {
                                    "type": "number"
                                  },
                                  "revized": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "resourcesCost": {
                                "type": "object",
                                "properties": {
                                  "commission": {
                                    "type": "object",
                                    "properties": {
                                      "actual": {
                                        "type": "number"
                                      },
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "labor": {
                                    "type": "object",
                                    "properties": {
                                      "actual": {
                                        "type": "number"
                                      },
                                      "committed": {
                                        "type": "number"
                                      },
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "laborHours": {
                                    "type": "object",
                                    "properties": {
                                      "actual": {
                                        "type": "number"
                                      },
                                      "committed": {
                                        "type": "number"
                                      },
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "overhead": {
                                    "type": "object",
                                    "properties": {
                                      "actual": {
                                        "type": "number"
                                      },
                                      "committed": {
                                        "type": "number"
                                      },
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "plantAndEquipment": {
                                    "type": "object",
                                    "properties": {
                                      "actual": {
                                        "type": "number"
                                      },
                                      "committed": {
                                        "type": "number"
                                      },
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "plantAndEquipmentHours": {
                                    "type": "object",
                                    "properties": {
                                      "actual": {
                                        "type": "number"
                                      },
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "total": {
                                    "type": "object",
                                    "properties": {
                                      "actual": {
                                        "type": "number"
                                      },
                                      "committed": {
                                        "type": "number"
                                      },
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "resourcesMarkup": {
                                "type": "object",
                                "properties": {
                                  "labor": {
                                    "type": "object",
                                    "properties": {
                                      "actual": {
                                        "type": "number"
                                      },
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "plantAndEquipment": {
                                    "type": "object",
                                    "properties": {
                                      "actual": {
                                        "type": "number"
                                      },
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "total": {
                                    "type": "object",
                                    "properties": {
                                      "actual": {
                                        "type": "number"
                                      },
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "sTCs": {
                                "type": "number"
                              },
                              "vEECs": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpro/latest/actions/create-quote": {
      "post": {
        "operationId": "simpro.create-quote",
        "summary": "Create Quote",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpro/latest/actions/create-quote"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "companyId",
                  "Type",
                  "Site",
                  "Customer"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyId": {
                    "type": "number",
                    "default": 0
                  },
                  "Type": {
                    "type": "string"
                  },
                  "Site": {
                    "type": "number"
                  },
                  "Customer": {
                    "type": "number"
                  },
                  "Description": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "autoAdjustStatus": {
                            "type": "boolean"
                          },
                          "convertedFromLead": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customer": {
                            "type": "object",
                            "properties": {
                              "companyName": {
                                "type": "string"
                              },
                              "familyName": {
                                "type": "string"
                              },
                              "givenName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "customerContact": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customerContract": {
                            "type": "object",
                            "properties": {
                              "contractNo": {
                                "type": "string"
                              },
                              "endDate": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "startDate": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "customerStage": {
                            "type": "string"
                          },
                          "dateApproved": {
                            "type": "string"
                          },
                          "dateIssued": {
                            "type": "string"
                          },
                          "dateModified": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "forecast": {
                            "type": "object",
                            "properties": {
                              "month": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "percent": {
                                "type": "number"
                              },
                              "year": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "number"
                          },
                          "isClosed": {
                            "type": "boolean"
                          },
                          "isVariation": {
                            "type": "boolean"
                          },
                          "jobNo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "linkedJobID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "orderNo": {
                            "type": "string"
                          },
                          "projectManager": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "requestNo": {
                            "type": "string"
                          },
                          "salesperson": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "site": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "siteContact": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "stage": {
                            "type": "string"
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "color": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "stc": {
                            "type": "object",
                            "properties": {
                              "sTCsEligible": {
                                "type": "boolean"
                              },
                              "sTCValue": {
                                "type": "number"
                              },
                              "vEECsEligible": {
                                "type": "boolean"
                              },
                              "vEECValue": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "technician": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "total": {
                            "type": "object",
                            "properties": {
                              "exTax": {
                                "type": "number"
                              },
                              "incTax": {
                                "type": "number"
                              },
                              "tax": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "totals": {
                            "type": "object",
                            "properties": {
                              "adjusted": {
                                "type": "object",
                                "properties": {
                                  "estimate": {
                                    "type": "number"
                                  },
                                  "revised": {
                                    "type": "number"
                                  },
                                  "revized": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "discount": {
                                "type": "number"
                              },
                              "grossMargin": {
                                "type": "object",
                                "properties": {
                                  "estimate": {
                                    "type": "number"
                                  },
                                  "revised": {
                                    "type": "number"
                                  },
                                  "revized": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "grossProfitLoss": {
                                "type": "object",
                                "properties": {
                                  "estimate": {
                                    "type": "number"
                                  },
                                  "revised": {
                                    "type": "number"
                                  },
                                  "revized": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "materialsCost": {
                                "type": "object",
                                "properties": {
                                  "estimate": {
                                    "type": "number"
                                  },
                                  "revised": {
                                    "type": "number"
                                  },
                                  "revized": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "materialsMarkup": {
                                "type": "object",
                                "properties": {
                                  "estimate": {
                                    "type": "number"
                                  },
                                  "revised": {
                                    "type": "number"
                                  },
                                  "revized": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "membershipDiscount": {
                                "type": "number"
                              },
                              "nettMargin": {
                                "type": "object",
                                "properties": {
                                  "estimate": {
                                    "type": "number"
                                  },
                                  "revised": {
                                    "type": "number"
                                  },
                                  "revized": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "nettProfitLoss": {
                                "type": "object",
                                "properties": {
                                  "estimate": {
                                    "type": "number"
                                  },
                                  "revised": {
                                    "type": "number"
                                  },
                                  "revized": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "resourcesCost": {
                                "type": "object",
                                "properties": {
                                  "commission": {
                                    "type": "object",
                                    "properties": {
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "labor": {
                                    "type": "object",
                                    "properties": {
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "laborHours": {
                                    "type": "object",
                                    "properties": {
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "overhead": {
                                    "type": "object",
                                    "properties": {
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "plantAndEquipment": {
                                    "type": "object",
                                    "properties": {
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "plantAndEquipmentHours": {
                                    "type": "object",
                                    "properties": {
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "total": {
                                    "type": "object",
                                    "properties": {
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "resourcesMarkup": {
                                "type": "object",
                                "properties": {
                                  "labor": {
                                    "type": "object",
                                    "properties": {
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "plantAndEquipment": {
                                    "type": "object",
                                    "properties": {
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "total": {
                                    "type": "object",
                                    "properties": {
                                      "estimate": {
                                        "type": "number"
                                      },
                                      "revised": {
                                        "type": "number"
                                      },
                                      "revized": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "sTCs": {
                                "type": "number"
                              },
                              "vEECs": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          },
                          "validityDays": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpro/latest/actions/create-site": {
      "post": {
        "operationId": "simpro.create-site",
        "summary": "Create Site",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpro/latest/actions/create-site"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "companyId",
                  "Name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyId": {
                    "type": "number",
                    "description": "Simpro company ID. Single-company builds usually use 0.",
                    "example": 0,
                    "default": 0
                  },
                  "Name": {
                    "type": "string",
                    "description": "Site name.",
                    "example": "MindCloud Test Site"
                  },
                  "Customers[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Customer IDs linked to the site."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "archived": {
                            "type": "boolean"
                          },
                          "billingAddress": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "billingContact": {
                            "type": "string"
                          },
                          "customers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "companyName": {
                                  "type": "string"
                                },
                                "familyName": {
                                  "type": "string"
                                },
                                "givenName": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "dateModified": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "primaryContact": {
                            "type": "object",
                            "properties": {
                              "cellPhone": {
                                "type": "string"
                              },
                              "contact": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "string"
                              },
                              "familyName": {
                                "type": "string"
                              },
                              "fax": {
                                "type": "string"
                              },
                              "givenName": {
                                "type": "string"
                              },
                              "position": {
                                "type": "string"
                              },
                              "preferredNotificationMethod": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "workPhone": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "privateNotes": {
                            "type": "string"
                          },
                          "publicNotes": {
                            "type": "string"
                          },
                          "rates": {
                            "type": "object",
                            "properties": {
                              "serviceFee": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "sTCZone": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vEECZone": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "zone": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpro/latest/actions/get-catalog-item": {
      "get": {
        "operationId": "simpro.get-catalog-item",
        "summary": "Get Catalog Item",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpro/latest/actions/get-catalog-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "description": "The Simpro company ID.",
            "schema": {
              "type": "string",
              "description": "The Simpro company ID.",
              "example": "0"
            }
          },
          {
            "name": "catalogId",
            "in": "query",
            "required": true,
            "description": "The Simpro catalog item ID.",
            "schema": {
              "type": "string",
              "description": "The Simpro catalog item ID.",
              "example": "365"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addOnPriceEnabled": {
                            "type": "boolean"
                          },
                          "archived": {
                            "type": "boolean"
                          },
                          "assetTypeId": {
                            "type": "string"
                          },
                          "basePrice": {
                            "type": "number"
                          },
                          "countryOfOrigin": {
                            "type": "string"
                          },
                          "dateModified": {
                            "type": "string"
                          },
                          "displayOrder": {
                            "type": "number"
                          },
                          "estimatedTime": {
                            "type": "number"
                          },
                          "group": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "parentGroup": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "number"
                          },
                          "isAsset": {
                            "type": "boolean"
                          },
                          "isFavorite": {
                            "type": "boolean"
                          },
[...]
