{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Belong Universal API",
    "version": "0.0.7",
    "description": "Belong is a token-gated events, memberships, and venue engagement platform with APIs for events, hubs, notes, addresses, QR pass workflows, and on-chain collection flows."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/belong/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/belong/latest/actions/get-current-user-profile": {
      "get": {
        "operationId": "belong.get-current-user-profile",
        "summary": "Get Current User Profile",
        "description": "Retrieves the current user profile from Belong.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/belong/latest/actions/get-current-user-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "biography": {
                            "type": "string",
                            "description": "Profile biography text."
                          },
                          "email": {
                            "type": "string",
                            "description": "Primary email address for the authenticated user."
                          },
                          "id": {
                            "type": "string",
                            "description": "Belong user ID."
                          },
                          "name": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Structured name object returned by Belong."
                          },
                          "phoneNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "proGaslessCollection": {
                            "type": "boolean",
                            "description": "Whether gasless collection support is enabled for the user."
                          },
                          "username": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/belong/latest/actions/get-event": {
      "get": {
        "operationId": "belong.get-event",
        "summary": "Get Event",
        "description": "Retrieves an event from Belong by ID or slug.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/belong/latest/actions/get-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "69d509a56e0cc96c27ed7e90"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowMultiPass": {
                            "type": "boolean",
                            "description": "Whether multiple passes are allowed."
                          },
                          "analytics": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "category": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Event category labels."
                          },
                          "categoryParentID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "categorySubEventIDs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "cost": {
                            "type": "number",
                            "description": "Ticket or participation cost when present."
                          },
                          "costCurrency": {
                            "type": "string",
                            "description": "Currency code for the event cost."
                          },
                          "coupons": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "coverImage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string",
                            "description": "Event description."
                          },
                          "end": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Event end timestamp."
                          },
                          "eventType": {
                            "type": "string",
                            "description": "Belong event type identifier."
                          },
                          "friendsInTrip": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "games": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "gasless": {
                            "type": "boolean",
                            "description": "Whether gasless flows are enabled."
                          },
                          "geoRestrictedMinting": {
                            "type": "boolean"
                          },
                          "googleId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string",
                            "description": "Belong event ID."
                          },
                          "inputVoice": {
                            "type": "boolean"
                          },
                          "isHidden": {
                            "type": "boolean",
                            "description": "Whether the event is hidden from normal visibility."
                          },
                          "link": {
                            "type": "string",
                            "description": "External event link."
                          },
                          "locale": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "localizations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "media": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Media assets attached to the event."
                          },
                          "members": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "moderators": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "name": {
                            "type": "string",
                            "description": "Event title."
                          },
                          "online": {
                            "type": "boolean",
                            "description": "Whether the event is online."
                          },
                          "owner": {
                            "type": "string",
                            "description": "Owner user ID."
                          },
                          "paperServiceAllowed": {
                            "type": "boolean",
                            "description": "Whether paper service is allowed."
                          },
                          "passStrategy": {
                            "type": "string",
                            "description": "Pass issuance strategy when configured."
                          },
                          "place": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Venue or location details for the event."
                          },
                          "private": {
                            "type": "boolean",
                            "description": "Whether the event is private."
                          },
                          "recurrence": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "recurrenceParentId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shareurlIDs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "slug": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "source": {
                            "type": "string",
                            "description": "System that created the event."
                          },
                          "sourcePlatform": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Event start timestamp."
                          },
                          "status": {
                            "type": "string",
                            "description": "Publication status for the event."
                          },
                          "timelineType": {
                            "type": "string",
                            "description": "Timeline classification used by Belong."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Timezone for the event schedule."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "visibleToGroups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "visibleToProperties": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "visibleToUsers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/belong/latest/actions/get-hub": {
      "get": {
        "operationId": "belong.get-hub",
        "summary": "Get Hub",
        "description": "Retrieves a hub from Belong by ID or slug.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/belong/latest/actions/get-hub"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "belong"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adminsIDs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Admin user IDs."
                          },
                          "allowMultiPass": {
                            "type": "boolean",
                            "description": "Whether multiple passes are allowed."
                          },
                          "avatar": {
                            "type": "string",
                            "description": "Avatar asset reference."
                          },
                          "contracts": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Associated contract identifiers."
                          },
                          "countMembers": {
                            "type": "number",
                            "description": "Current member count."
                          },
                          "coverImage": {
                            "type": "string",
                            "description": "Cover image asset reference."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string",
                            "description": "Hub description."
                          },
                          "externalLink": {
                            "type": "string",
                            "description": "External link configured for the hub."
                          },
                          "gasless": {
                            "type": "boolean",
                            "description": "Whether gasless flows are enabled."
                          },
                          "geoRestrictedMinting": {
                            "type": "boolean",
                            "description": "Whether minting is geo-restricted."
                          },
                          "hubType": {
                            "type": "string",
                            "description": "Belong hub type."
                          },
                          "id": {
                            "type": "string",
                            "description": "Belong hub ID."
                          },
                          "linkInstagram": {
                            "type": "string"
                          },
                          "linkTwitter": {
                            "type": "string"
                          },
                          "linkWebsite": {
                            "type": "string"
                          },
                          "locale": {
                            "type": "string",
                            "description": "Hub locale."
                          },
                          "localizations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Hub geolocation object."
                          },
                          "mediaData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resolved media variants and dominant colors."
                          },
                          "membersIDs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Member user IDs."
                          },
                          "name": {
                            "type": "string",
                            "description": "Hub display name."
                          },
                          "nftMedia": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "NFT media metadata when present."
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "Owner user ID."
                          },
                          "paperServiceAllowed": {
                            "type": "boolean",
                            "description": "Whether paper service is allowed."
                          },
                          "passStrategy": {
                            "type": "string",
                            "description": "Pass issuance strategy when configured."
                          },
                          "place": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Hub place metadata."
                          },
                          "private": {
                            "type": "boolean",
                            "description": "Whether the hub is private."
                          },
                          "propertyId": {
                            "type": "string",
                            "description": "Associated property ID when present."
                          },
                          "relatedHubIDs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related hub IDs."
                          },
                          "relatedToIDs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Reverse-related hub IDs."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Hub slug."
                          },
                          "source": {
                            "type": "string",
                            "description": "System that created the hub."
                          },
                          "status": {
                            "type": "string",
                            "description": "Publication status for the hub."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/belong/latest/actions/get-note": {
      "get": {
        "operationId": "belong.get-note",
        "summary": "Get Note",
        "description": "Retrieves a note from Belong by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/belong/latest/actions/get-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "67f930635a7faf0a41f76f5d"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Note body content."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Short note description."
                          },
                          "hubId": {
                            "type": "string",
                            "description": "Belong hub ID associated with the note."
                          },
                          "id": {
                            "type": "string",
                            "description": "Belong note ID."
                          },
                          "title": {
                            "type": "string",
                            "description": "Note title."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "userId": {
                            "type": "string",
                            "description": "Owner user ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/belong/latest/actions/list-events": {
      "get": {
        "operationId": "belong.list-events",
        "summary": "List Events",
        "description": "Retrieves all available events from Belong.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/belong/latest/actions/list-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hubId",
            "in": "query",
            "required": false,
            "description": "Filter events by hub ID.",
            "schema": {
              "type": "string",
              "description": "Filter events by hub ID.",
              "example": "60a763d0b9b1c60004040404"
            }
          },
          {
            "name": "category[]",
            "in": "query",
            "required": false,
            "description": "Filter events by category.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter events by category. Pass multiple values separated by `,`."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "online",
            "in": "query",
            "required": false,
            "description": "Filter for online events.",
            "schema": {
              "type": "boolean",
              "description": "Filter for online events."
            }
          },
          {
            "name": "private",
            "in": "query",
            "required": false,
            "description": "Filter for private events.",
            "schema": {
              "type": "boolean",
              "description": "Filter for private events."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Return events intersecting this start time.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return events intersecting this start time.",
              "example": "2026-04-07T00:00:00.000Z"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Return events intersecting this end time.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return events intersecting this end time.",
              "example": "2026-04-08T00:00:00.000Z"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search events.",
            "schema": {
              "type": "string",
              "description": "Search events.",
              "example": "community summit"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field.",
            "schema": {
              "type": "string",
              "description": "Sort field.",
              "enum": [
                "Created At",
                "Updated At"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "description": "Sort direction.",
              "enum": [
                "Ascending",
                "Descending"
              ]
            }
          },
          {
            "name": "fields[]",
            "in": "query",
            "required": false,
            "description": "Restrict returned fields.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Restrict returned fields. Pass multiple values separated by `,`."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based page number.",
            "schema": {
              "type": "number",
              "description": "1-based page number.",
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Items per page.",
            "schema": {
              "type": "number",
              "description": "Items per page.",
              "example": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor from the previous page.",
            "schema": {
              "type": "string",
              "description": "Cursor from the previous page."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowMultiPass": {
                            "type": "boolean",
                            "description": "Whether multiple passes are allowed."
                          },
                          "analytics": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "category": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Event category labels."
                          },
                          "categoryParentID": {
                            "type": "string"
                          },
                          "categorySubEventIDs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "cost": {
                            "type": "number",
                            "description": "Ticket or participation cost when present."
                          },
                          "costCurrency": {
                            "type": "string",
                            "description": "Currency code for the event cost."
                          },
                          "coupons": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "coverImage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string",
                            "description": "Event description."
                          },
                          "end": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Event end timestamp."
                          },
                          "eventType": {
                            "type": "string",
                            "description": "Belong event type identifier."
                          },
                          "friendsInTrip": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "games": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "gasless": {
                            "type": "boolean",
                            "description": "Whether gasless flows are enabled."
                          },
                          "geoRestrictedMinting": {
                            "type": "boolean"
                          },
                          "googleId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string",
                            "description": "Belong event ID."
                          },
                          "inputVoice": {
                            "type": "boolean"
                          },
                          "isHidden": {
                            "type": "boolean",
                            "description": "Whether the event is hidden from normal visibility."
                          },
                          "link": {
                            "type": "string",
                            "description": "External event link."
                          },
                          "locale": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "localizations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "media": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Media assets attached to the event."
                          },
                          "members": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "moderators": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "name": {
                            "type": "string",
                            "description": "Event title."
                          },
                          "online": {
                            "type": "boolean",
                            "description": "Whether the event is online."
                          },
                          "owner": {
                            "type": "string",
                            "description": "Owner user ID."
                          },
                          "paperServiceAllowed": {
                            "type": "boolean",
                            "description": "Whether paper service is allowed."
                          },
                          "passStrategy": {
                            "type": "string",
                            "description": "Pass issuance strategy when configured."
                          },
                          "place": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Venue or location details for the event."
                          },
                          "private": {
                            "type": "boolean",
                            "description": "Whether the event is private."
                          },
                          "recurrence": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "recurrenceParentId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shareurlIDs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "slug": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "source": {
                            "type": "string",
                            "description": "System that created the event."
                          },
                          "sourcePlatform": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Event start timestamp."
                          },
                          "status": {
                            "type": "string",
                            "description": "Publication status for the event."
                          },
                          "timelineType": {
                            "type": "string",
                            "description": "Timeline classification used by Belong."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Timezone for the event schedule."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "visibleToGroups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "visibleToProperties": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "visibleToUsers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/belong/latest/actions/list-hubs": {
      "get": {
        "operationId": "belong.list-hubs",
        "summary": "List Hubs",
        "description": "Retrieves all available hubs from Belong.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/belong/latest/actions/list-hubs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hubType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Group",
                "NFT Collection"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Incomplete",
                "Published"
              ]
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "API",
                "App",
                "External",
                "MCP"
              ]
            }
          },
          {
            "name": "private",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ownerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "69d45f6c6e0cc96c27ed7be4"
            }
          },
          {
            "name": "memberId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "69d45f6c6e0cc96c27ed7be4"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "community"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Created At",
                "Updated At"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Ascending",
                "Descending"
              ]
            }
          },
          {
            "name": "fields[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Pass multiple values separated by `,`."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "60a763d0b9b1c60004040404"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adminsIDs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Admin user IDs."
                          },
                          "allowMultiPass": {
                            "type": "boolean",
                            "description": "Whether multiple passes are allowed."
                          },
                          "avatar": {
                            "type": "string",
                            "description": "Avatar asset reference."
                          },
                          "contracts": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Associated contract identifiers."
                          },
                          "countMembers": {
                            "type": "number",
                            "description": "Current member count."
                          },
                          "coverImage": {
                            "type": "string",
                            "description": "Cover image asset reference."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string",
                            "description": "Hub description."
                          },
                          "externalLink": {
                            "type": "string",
                            "description": "External link configured for the hub."
                          },
                          "gasless": {
                            "type": "boolean",
                            "description": "Whether gasless flows are enabled."
                          },
                          "geoRestrictedMinting": {
                            "type": "boolean",
                            "description": "Whether minting is geo-restricted."
                          },
                          "hubType": {
                            "type": "string",
                            "description": "Belong hub type."
                          },
                          "id": {
                            "type": "string",
                            "description": "Belong hub ID."
                          },
                          "linkInstagram": {
                            "type": "string"
                          },
                          "linkTwitter": {
                            "type": "string"
                          },
                          "linkWebsite": {
                            "type": "string"
                          },
                          "locale": {
                            "type": "string",
                            "description": "Hub locale."
                          },
                          "localizations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Hub geolocation object."
                          },
                          "mediaData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resolved media variants and dominant colors."
                          },
                          "membersIDs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Member user IDs."
                          },
                          "name": {
                            "type": "string",
                            "description": "Hub display name."
                          },
                          "nftMedia": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "NFT media metadata when present."
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "Owner user ID."
                          },
                          "paperServiceAllowed": {
                            "type": "boolean",
                            "description": "Whether paper service is allowed."
                          },
                          "passStrategy": {
                            "type": "string",
                            "description": "Pass issuance strategy when configured."
                          },
                          "place": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Hub place metadata."
                          },
                          "private": {
                            "type": "boolean",
                            "description": "Whether the hub is private."
                          },
                          "propertyId": {
                            "type": "string",
                            "description": "Associated property ID when present."
                          },
                          "relatedHubIDs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related hub IDs."
                          },
                          "relatedToIDs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Reverse-related hub IDs."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Hub slug."
                          },
                          "source": {
                            "type": "string",
                            "description": "System that created the hub."
                          },
                          "status": {
                            "type": "string",
                            "description": "Publication status for the hub."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/belong/latest/actions/list-notes": {
      "get": {
        "operationId": "belong.list-notes",
        "summary": "List Notes",
        "description": "Retrieves all note entries from Belong.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/belong/latest/actions/list-notes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hubId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "64f19d90e9ac7f0f4d86b3f1"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "69d45f6c6e0cc96c27ed7be4"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "launch notes"
            }
          },
          {
            "name": "take",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": 20
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "67f930635a7faf0a41f76f5d"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Created At",
                "Title",
                "Updated At"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Ascending",
                "Descending"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Note body content."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Short note description."
                          },
                          "hubId": {
                            "type": "string",
                            "description": "Belong hub ID associated with the note."
                          },
                          "id": {
                            "type": "string",
                            "description": "Belong note ID."
                          },
                          "title": {
                            "type": "string",
                            "description": "Note title."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "userId": {
                            "type": "string",
                            "description": "Owner user ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/belong/latest/actions/list-related-hubs": {
      "get": {
        "operationId": "belong.list-related-hubs",
        "summary": "List Related Hubs",
        "description": "Retrieves related hubs from Belong by hub ID or slug.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/belong/latest/actions/list-related-hubs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "belong"
            }
          },
          {
            "name": "withMarkers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "60a763d0b9b1c60004040404"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adminsIDs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Admin user IDs."
                          },
                          "allowMultiPass": {
                            "type": "boolean",
                            "description": "Whether multiple passes are allowed."
                          },
                          "avatar": {
                            "type": "string",
                            "description": "Avatar asset reference."
                          },
                          "contracts": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Associated contract identifiers."
                          },
                          "countMembers": {
                            "type": "number",
                            "description": "Current member count."
                          },
                          "coverImage": {
                            "type": "string",
                            "description": "Cover image asset reference."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Related hub description."
                          },
                          "externalLink": {
                            "type": "string",
                            "description": "External link configured for the hub."
                          },
                          "gasless": {
                            "type": "boolean",
                            "description": "Whether gasless flows are enabled."
                          },
                          "geoRestrictedMinting": {
                            "type": "boolean",
                            "description": "Whether minting is geo-restricted."
                          },
                          "hubType": {
                            "type": "string",
                            "description": "Belong hub type."
                          },
                          "id": {
                            "type": "string",
                            "description": "Belong related hub ID."
                          },
                          "isJoined": {
                            "type": "boolean",
                            "description": "Whether the current user is joined to the related hub."
                          },
                          "locale": {
                            "type": "string",
                            "description": "Hub locale."
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Hub geolocation object."
                          },
                          "mediaData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resolved media variants and dominant colors."
                          },
                          "membersIDs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Member user IDs."
                          },
                          "name": {
                            "type": "string",
                            "description": "Related hub display name."
                          },
                          "nftMedia": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "NFT media metadata when present."
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "Owner user ID."
                          },
                          "paperServiceAllowed": {
                            "type": "boolean",
                            "description": "Whether paper service is allowed."
                          },
                          "passStrategy": {
                            "type": "string",
                            "description": "Pass issuance strategy when configured."
                          },
                          "place": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Hub place metadata."
                          },
                          "private": {
                            "type": "boolean",
                            "description": "Whether the hub is private."
                          },
                          "propertyId": {
                            "type": "string",
                            "description": "Associated property ID when present."
                          },
                          "relatedHubIDs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related hub IDs."
                          },
                          "relatedToIDs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Reverse-related hub IDs."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Public hub slug."
                          },
[...]
