{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Column Universal API",
    "version": "0.0.4",
    "description": "Open accounts, move money, and manage entities and transfers"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/column/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/column/latest/actions/cancel-ach-transfer": {
      "put": {
        "operationId": "column.cancel-ach-transfer",
        "summary": "Cancel ACH Transfer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/column/latest/actions/cancel-ach-transfer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "achTransferId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "achTransferId": {
                    "type": "string",
                    "description": "ID of the ACH transfer to cancel."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/column/latest/actions/cancel-book-transfer": {
      "put": {
        "operationId": "column.cancel-book-transfer",
        "summary": "Cancel Book Transfer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/column/latest/actions/cancel-book-transfer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "bookTransferId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "bookTransferId": {
                    "type": "string",
                    "description": "ID of the book transfer hold to cancel."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/column/latest/actions/create-account-number": {
      "post": {
        "operationId": "column.create-account-number",
        "summary": "Create Account Number",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/column/latest/actions/create-account-number"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "bankAccountId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "bankAccountId": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/column/latest/actions/create-ach-transfer": {
      "post": {
        "operationId": "column.create-ach-transfer",
        "summary": "Create ACH Transfer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/column/latest/actions/create-ach-transfer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "amount",
                  "currencyCode",
                  "counterpartyId",
                  "type",
                  "entryClassCode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount in cents of the ACH transfer."
                  },
                  "currencyCode": {
                    "type": "string",
                    "description": "ISO 4217 currency code for the transfer.",
                    "default": "USD"
                  },
                  "bankAccountId": {
                    "type": "string",
                    "description": "Column bank account ID to send the transfer from. Provide either Bank Account ID or Account Number ID."
                  },
                  "accountNumberId": {
                    "type": "string",
                    "description": "Specific Column account number ID to send the transfer from.",
                    "x-mindcloud-advanced": true
                  },
                  "counterpartyId": {
                    "type": "string",
                    "description": "Counterparty ID that will receive the transfer."
                  },
                  "type": {
                    "type": "string",
                    "description": "ACH transfer direction: CREDIT or DEBIT."
                  },
                  "entryClassCode": {
                    "type": "string",
                    "description": "ACH Standard Entry Class code.",
                    "default": "PPD"
                  },
                  "description": {
                    "type": "string",
                    "description": "Internal description visible in your platform."
                  },
                  "effectiveDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Effective date in YYYY-MM-DD format.",
                    "x-mindcloud-advanced": true
                  },
                  "sameDay": {
                    "type": "boolean",
                    "description": "Whether to submit the ACH transfer as same-day ACH.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountNumberId": {
                            "type": "string"
                          },
                          "acknowledgedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "allowOverdraft": {
                            "type": "boolean"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "bankAccountId": {
                            "type": "string"
                          },
                          "cancelledAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyDiscretionaryData": {
                            "type": "string"
                          },
                          "companyEntryDescription": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "completedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "counterpartyId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "effectiveOn": {
                            "type": "string"
                          },
                          "entryClassCode": {
                            "type": "string"
                          },
                          "entryDetails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "iat": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "idempotencyKey": {
                            "type": "string"
                          },
                          "initiatedAt": {
                            "type": "string"
                          },
                          "intermediaryFinancialInstitutions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isIncoming": {
                            "type": "boolean"
                          },
                          "isOnUs": {
                            "type": "boolean"
                          },
                          "manualReviewAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "notificationOfChanges": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "nsfDeadline": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "odfiRoutingNumber": {
                            "type": "string"
                          },
                          "paymentRelatedInfo": {
                            "type": "string"
                          },
                          "receiverId": {
                            "type": "string"
                          },
                          "receiverName": {
                            "type": "string"
                          },
                          "returnContestedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "returnDishonoredAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "returnDishonoredFundsUnlockedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "returnedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reversalPairTransferId": {
                            "type": "string"
                          },
                          "sameDay": {
                            "type": "boolean"
                          },
                          "settledAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "submittedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "traceNumber": {
                            "type": "string"
                          },
                          "transactionTypeCode": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "ultimateBeneficiaryCounterpartyId": {
                            "type": "string"
                          },
                          "ultimateOriginatorCounterpartyId": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/column/latest/actions/create-bank-account": {
      "post": {
        "operationId": "column.create-bank-account",
        "summary": "Create Bank Account",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/column/latest/actions/create-bank-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "description",
                  "entityId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "description": {
                    "type": "string"
                  },
                  "entityId": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "isInterestBearing": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "interestConfigId": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "isOverdraftable": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "overdraftReserveAccountId": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/column/latest/actions/create-book-transfer": {
      "post": {
        "operationId": "column.create-book-transfer",
        "summary": "Create Book Transfer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/column/latest/actions/create-book-transfer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "amount",
                  "currencyCode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount in cents of the book transfer."
                  },
                  "currencyCode": {
                    "type": "string",
                    "description": "ISO 4217 currency code for the transfer.",
                    "default": "USD"
                  },
                  "senderBankAccountId": {
                    "type": "string",
                    "description": "Sender bank account ID. Provide either Sender Bank Account ID or Sender Account Number ID."
                  },
                  "senderAccountNumberId": {
                    "type": "string",
                    "description": "Specific sender account number ID.",
                    "x-mindcloud-advanced": true
                  },
                  "receiverBankAccountId": {
                    "type": "string",
                    "description": "Receiver bank account ID. Provide either Receiver Bank Account ID or Receiver Account Number ID."
                  },
                  "receiverAccountNumberId": {
                    "type": "string",
                    "description": "Specific receiver account number ID.",
                    "x-mindcloud-advanced": true
                  },
                  "description": {
                    "type": "string",
                    "description": "Description visible in account activity."
                  },
                  "hold": {
                    "type": "boolean",
                    "description": "Create the book transfer in hold state so it can be cleared or canceled later."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowOverdraft": {
                            "type": "boolean"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "idempotencyKey": {
                            "type": "string"
                          },
                          "receiverAccountNumberId": {
                            "type": "string"
                          },
                          "receiverBankAccountId": {
                            "type": "string"
                          },
                          "senderAccountNumberId": {
                            "type": "string"
                          },
                          "senderBankAccountId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/column/latest/actions/create-business-entity": {
      "post": {
        "operationId": "column.create-business-entity",
        "summary": "Create Business Entity",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/column/latest/actions/create-business-entity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "businessName",
                  "ein",
                  "address.line1",
                  "address.city",
                  "address.state",
                  "address.postalCode",
                  "address.countryCode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "businessName": {
                    "type": "string",
                    "description": "Legal business name."
                  },
                  "ein": {
                    "type": "string",
                    "description": "Employer Identification Number."
                  },
                  "legalType": {
                    "type": "string",
                    "description": "Type of business.",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3",
                      "4",
                      "5"
                    ]
                  },
                  "address.line1": {
                    "type": "string",
                    "description": "Street address line 1."
                  },
                  "address.city": {
                    "type": "string",
                    "description": "City."
                  },
                  "address.state": {
                    "type": "string",
                    "description": "State or province."
                  },
                  "address.postalCode": {
                    "type": "string",
                    "description": "Postal code."
                  },
                  "address.countryCode": {
                    "type": "string",
                    "description": "ISO 3166-1 Alpha-2 country code."
                  },
                  "isRoot": {
                    "type": "boolean",
                    "description": "Whether the business is a root entity.",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/column/latest/actions/create-counterparty": {
      "post": {
        "operationId": "column.create-counterparty",
        "summary": "Create Counterparty",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/column/latest/actions/create-counterparty"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "routingNumber",
                  "accountNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "routingNumber": {
                    "type": "string",
                    "description": "The routing number of the bank."
                  },
                  "accountNumber": {
                    "type": "string",
                    "description": "The account number of the bank account."
                  },
                  "accountType": {
                    "type": "string",
                    "description": "The type of the account number. Can be checking or savings.",
                    "enum": [
                      "0",
                      "1"
                    ]
                  },
                  "routingNumberType": {
                    "type": "string",
                    "description": "The type of the routing number. Can be aba or bic.",
                    "enum": [
                      "0",
                      "1"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the counterparty visible only in your platform."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountNumber": {
                            "type": "string"
                          },
                          "accountType": {
                            "type": "string"
                          },
                          "address": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isColumnAccount": {
                            "type": "boolean"
                          },
                          "legalId": {
                            "type": "string"
                          },
                          "legalType": {
                            "type": "string"
                          },
                          "localAccountNumber": {
                            "type": "string"
                          },
                          "localBankCode": {
                            "type": "string"
                          },
                          "localBankCountryCode": {
                            "type": "string"
                          },
                          "localBankName": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "routingNumber": {
                            "type": "string"
                          },
                          "routingNumberType": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "wire": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "wireDrawdownAllowed": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/column/latest/actions/create-evidence-with-file-upload": {
      "post": {
        "operationId": "column.create-evidence-with-file-upload",
        "summary": "Create Evidence With File Upload",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/column/latest/actions/create-evidence-with-file-upload"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "entityId",
                  "file",
                  "purpose",
                  "documentType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "entityId": {
                    "type": "string"
                  },
                  "file": {
                    "type": "string"
                  },
                  "purpose": {
                    "type": "string",
                    "enum": [
                      "Active Status Certificate",
                      "Adverse Media Screening",
                      "Attestation Account Info Truth",
                      "Attestation Beneficial Ownership",
                      "Attestation Control Person",
                      "Attestation Privacy Policy",
                      "Attestation Terms of Service",
                      "Business Formation",
                      "Complete Customer File",
                      "EDD",
                      "IRS Form 990",
                      "IRS Form SS4",
                      "Identity Verification",
                      "Nonprofit Other Evidence",
                      "OFAC Screening",
                      "PEP Screening",
                      "Proof of Address",
                      "Signed Account Agreement",
                      "Tax ID Confirmation"
                    ]
                  },
                  "documentType": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/column/latest/actions/create-person-entity": {
      "post": {
        "operationId": "column.create-person-entity",
        "summary": "Create Person Entity",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/column/latest/actions/create-person-entity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName",
                  "lastName",
                  "ssn",
                  "dateOfBirth",
                  "address.line1",
                  "address.city",
                  "address.state",
                  "address.postalCode",
                  "address.countryCode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "First name of the individual."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name of the individual."
                  },
                  "ssn": {
                    "type": "string",
                    "description": "Social Security Number."
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "description": "Date of birth in YYYY-MM-DD format."
                  },
                  "address.line1": {
                    "type": "string",
                    "description": "Street address line 1."
                  },
                  "address.city": {
                    "type": "string",
                    "description": "City."
                  },
                  "address.state": {
                    "type": "string",
                    "description": "State or province."
                  },
                  "address.postalCode": {
                    "type": "string",
                    "description": "Postal code."
                  },
                  "address.countryCode": {
                    "type": "string",
                    "description": "ISO 3166-1 Alpha-2 country code."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/column/latest/actions/create-wire-transfer": {
      "post": {
        "operationId": "column.create-wire-transfer",
        "summary": "Create Wire Transfer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/column/latest/actions/create-wire-transfer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "amount",
                  "currencyCode",
                  "counterpartyId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount in cents of the wire transfer."
                  },
                  "currencyCode": {
                    "type": "string",
                    "description": "ISO 4217 currency code for the transfer.",
                    "default": "USD"
                  },
                  "bankAccountId": {
                    "type": "string",
                    "description": "Bank account ID to send the wire from. Provide either Bank Account ID or Account Number ID."
                  },
                  "accountNumberId": {
                    "type": "string",
                    "description": "Specific account number ID to send the wire from.",
                    "x-mindcloud-advanced": true
                  },
                  "counterpartyId": {
                    "type": "string",
                    "description": "Counterparty ID that will receive the wire. The counterparty must have wire details attached."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description transmitted to the beneficiary bank statement."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountNumberId": {
                            "type": "string"
                          },
                          "allowOverdraft": {
                            "type": "boolean"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "bankAccountId": {
                            "type": "string"
                          },
                          "beneficiaryAccountNumber": {
                            "type": "string"
                          },
                          "beneficiaryName": {
                            "type": "string"
                          },
                          "beneficiaryReference": {
                            "type": "string"
                          },
                          "businessFunctionCode": {
                            "type": "string"
                          },
                          "completedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "counterpartyId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "creditorAgentName": {
                            "type": "string"
                          },
                          "creditorAgentRoutingNumber": {
                            "type": "string"
                          },
                          "creditorTaxId": {
                            "type": "string"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "debtorAgentName": {
                            "type": "string"
                          },
                          "debtorAgentRoutingNumber": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "fiToFiInformationLine1": {
                            "type": "string"
                          },
                          "fiToFiInformationLine2": {
                            "type": "string"
                          },
                          "fiToFiInformationLine3": {
                            "type": "string"
                          },
                          "fiToFiInformationLine4": {
                            "type": "string"
                          },
                          "fiToFiInformationLine5": {
                            "type": "string"
                          },
                          "fiToFiInformationLine6": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "idempotencyKey": {
                            "type": "string"
                          },
                          "imad": {
                            "type": "string"
                          },
                          "initiatedAt": {
                            "type": "string"
                          },
                          "instructedAgentName": {
                            "type": "string"
                          },
                          "instructedAgentRoutingNumber": {
                            "type": "string"
                          },
                          "instructingAgentName": {
                            "type": "string"
                          },
                          "instructingAgentRoutingNumber": {
                            "type": "string"
                          },
                          "isIncoming": {
                            "type": "boolean"
                          },
                          "isOnUs": {
                            "type": "boolean"
                          },
                          "manualReviewAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "omad": {
                            "type": "string"
                          },
                          "originatorAccountNumber": {
                            "type": "string"
                          },
                          "originatorName": {
                            "type": "string"
                          },
                          "originatorToBeneficiaryInformationLine1": {
                            "type": "string"
                          },
                          "originatorToBeneficiaryInformationLine2": {
                            "type": "string"
                          },
                          "originatorToBeneficiaryInformationLine3": {
                            "type": "string"
                          },
                          "originatorToBeneficiaryInformationLine4": {
                            "type": "string"
                          },
                          "pendingSubmissionAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "previousMessageReference": {
                            "type": "string"
                          },
                          "rawBeneficiaryAddress": {
                            "type": "string"
                          },
                          "rawOriginatorAddress": {
                            "type": "string"
                          },
                          "receiverDiName": {
                            "type": "string"
                          },
                          "receiverDiRoutingNumber": {
                            "type": "string"
                          },
                          "rejectedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reversalPairTransferId": {
                            "type": "string"
                          },
                          "senderAddress": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "countryCode": {
                                "type": "string"
                              },
                              "line1": {
                                "type": "string"
                              },
                              "line2": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "senderDiName": {
                            "type": "string"
                          },
                          "senderDiRoutingNumber": {
                            "type": "string"
                          },
                          "senderReference": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "submittedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subtypeCode": {
                            "type": "string"
                          },
                          "taxRecordPeriodType": {
                            "type": "string"
                          },
                          "taxTypeCode": {
                            "type": "string"
                          },
                          "taxYear": {
                            "type": "string"
                          },
                          "typeCode": {
                            "type": "string"
                          },
                          "ultimateOriginatorCounterpartyId": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "wireDrawdownRequestId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/column/latest/actions/get-ach-transfer": {
      "get": {
        "operationId": "column.get-ach-transfer",
        "summary": "Get ACH Transfer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/column/latest/actions/get-ach-transfer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "achTransferId",
            "in": "query",
            "required": true,
            "description": "ID of the ACH transfer to retrieve.",
            "schema": {
              "type": "string",
              "description": "ID of the ACH transfer to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountNumberId": {
                            "type": "string"
                          },
                          "acknowledgedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "allowOverdraft": {
                            "type": "boolean"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "bankAccountId": {
                            "type": "string"
                          },
                          "cancelledAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyDiscretionaryData": {
                            "type": "string"
                          },
                          "companyEntryDescription": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "completedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "counterpartyId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "effectiveOn": {
                            "type": "string"
                          },
                          "entryClassCode": {
                            "type": "string"
                          },
                          "entryDetails": {
                            "type": "object",
                            "properties": {
                              "transactionCode": {
                                "type": "number"
                              },
                              "transactionCodeName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "iat": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "idempotencyKey": {
                            "type": "string"
                          },
[...]
