{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Quanta Science Podcast Universal API",
    "version": "0.0.2",
    "description": "Browse Quanta podcast episodes and audio links"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/quantaSciencePodcast/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/quantaSciencePodcast/latest/actions/list-podcast-episodes": {
      "get": {
        "operationId": "quantaSciencePodcast.list-podcast-episodes",
        "summary": "List Podcast Episodes",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/quantaSciencePodcast/latest/actions/list-podcast-episodes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "articleUrl": {
                            "type": "string",
                            "description": "Quanta article URL extracted from the RSS description when present."
                          },
                          "audioLength": {
                            "type": "number",
                            "description": "Audio file length in bytes when present."
                          },
                          "audioType": {
                            "type": "string",
                            "description": "Audio MIME type from the RSS enclosure."
                          },
                          "audioUrl": {
                            "type": "string",
                            "description": "Direct tracked audio file URL from the RSS enclosure or media content."
                          },
                          "author": {
                            "type": "string",
                            "description": "Episode author/publisher."
                          },
                          "description": {
                            "type": "string",
                            "description": "Plain-text episode description derived from the RSS HTML description."
                          },
                          "descriptionHtml": {
                            "type": "string",
                            "description": "Original HTML description from the RSS item."
                          },
                          "duration": {
                            "type": "string",
                            "description": "Episode duration in the feed format."
                          },
                          "episodeType": {
                            "type": "string",
                            "description": "Podcast episode type, such as full."
                          },
                          "guid": {
                            "type": "string",
                            "description": "Stable RSS item identifier."
                          },
                          "imageUrl": {
                            "type": "string",
                            "description": "Episode artwork URL from the iTunes image field."
                          },
                          "link": {
                            "type": "string",
                            "description": "Podcast playback link from the RSS item."
                          },
                          "pubDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Episode publication date from the RSS item."
                          },
                          "season": {
                            "type": "number",
                            "description": "Podcast season number when present."
                          },
                          "source": {
                            "type": "string",
                            "description": "Static source label for the feed publisher."
                          },
                          "subtitle": {
                            "type": "string",
                            "description": "Short episode subtitle from the iTunes RSS field."
                          },
                          "summary": {
                            "type": "string",
                            "description": "Plain-text episode summary derived from the iTunes summary or RSS description."
                          },
                          "summaryHtml": {
                            "type": "string",
                            "description": "Original HTML summary from the RSS item."
                          },
                          "title": {
                            "type": "string",
                            "description": "Episode title."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
