{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "HTTP Universal API",
    "version": "0.0.1",
    "description": "Make an HTTP(s) request to a given URL and handle the returned response."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/httpRequest/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/httpRequest/latest/actions/send-http-request": {
      "get": {
        "operationId": "httpRequest.send-http-request",
        "summary": "Send HTTP Request",
        "description": "Sends an HTTP request to any URL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/httpRequest/latest/actions/send-http-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Full URL to request, including any query string. Signed links are passed through unchanged.",
            "schema": {
              "type": "string",
              "description": "Full URL to request, including any query string. Signed links are passed through unchanged.",
              "example": "https://example.com/path?query=value"
            }
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "description": "HTTP method to use.",
            "schema": {
              "type": "string",
              "description": "HTTP method to use.",
              "enum": [
                "DELETE",
                "GET",
                "HEAD",
                "OPTIONS",
                "PATCH",
                "POST",
                "PUT"
              ]
            }
          },
          {
            "name": "headers",
            "in": "query",
            "required": false,
            "description": "HTTP headers to send, as an array of { key, value } pairs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "HTTP headers to send, as an array of { key, value } pairs."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "queryParams",
            "in": "query",
            "required": false,
            "description": "Extra query parameters as { key, value } pairs. Parameters already in the URL are kept.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Extra query parameters as { key, value } pairs. Parameters already in the URL are kept.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "bodyFormat",
            "in": "query",
            "required": false,
            "description": "Request body encoding. Leave unset (None) for requests without a body.",
            "schema": {
              "type": "string",
              "description": "Request body encoding. Leave unset (None) for requests without a body.",
              "enum": [
                "Form Data",
                "JSON",
                "None",
                "Raw",
                "x-www-form-urlencoded"
              ]
            }
          },
          {
            "name": "bodyJson",
            "in": "query",
            "required": false,
            "description": "JSON request body, sent as provided. Used when Body Format is JSON.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "JSON request body, sent as provided. Used when Body Format is JSON."
            }
          },
          {
            "name": "bodyRaw",
            "in": "query",
            "required": false,
            "description": "Raw text request body. Used when Body Format is Raw.",
            "schema": {
              "type": "string",
              "description": "Raw text request body. Used when Body Format is Raw.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "bodyFormData",
            "in": "query",
            "required": false,
            "description": "Multipart form fields as key-value pairs. Used when Body Format is Form Data.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Multipart form fields as key-value pairs. Used when Body Format is Form Data.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "bodyXWwwForm",
            "in": "query",
            "required": false,
            "description": "URL-encoded form fields as key-value pairs. Used when Body Format is x-www-form-urlencoded.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "URL-encoded form fields as key-value pairs. Used when Body Format is x-www-form-urlencoded.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "contentType",
            "in": "query",
            "required": false,
            "description": "Content-Type header for Raw bodies, e.g. text/csv.",
            "schema": {
              "type": "string",
              "description": "Content-Type header for Raw bodies, e.g. text/csv.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "followRedirects",
            "in": "query",
            "required": false,
            "description": "Follow HTTP redirects (up to 10). Defaults to true.",
            "schema": {
              "type": "boolean",
              "description": "Follow HTTP redirects (up to 10). Defaults to true.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "headers[].key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "headers[].value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryParams[].key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryParams[].value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
