{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "EDEN AI Universal API",
    "version": "0.0.19",
    "description": "Access Eden AI's unified V3 API for text, OCR, image, translation, audio, video, and LLM workflows through one integration."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/eDENAI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/eDENAI/latest/actions/get-background-removal-info": {
      "get": {
        "operationId": "eDENAI.get-background-removal-info",
        "summary": "Get Background Removal Info",
        "description": "Retrieves feature information for background removal in EDEN AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eDENAI/latest/actions/get-background-removal-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Subfeature description."
                          },
                          "endpoints": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Available endpoint operations for the subfeature.",
                            "properties": {
                              "create": {
                                "type": "string",
                                "description": "Create endpoint for executing the subfeature."
                              }
                            }
                          },
                          "feature": {
                            "type": "string",
                            "description": "Top-level Eden AI feature category."
                          },
                          "inputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Input schema for the background removal action.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Supported input fields."
                              }
                            }
                          },
                          "mode": {
                            "type": "string",
                            "description": "Execution mode for the subfeature."
                          },
                          "models": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "model": {
                                  "type": "string",
                                  "description": "Provider model identifier."
                                },
                                "regions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "code": {
                                        "type": "string",
                                        "description": "Region code."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Region name."
                                      }
                                    }
                                  },
                                  "description": "Regions supported by the model."
                                }
                              }
                            },
                            "description": "Provider models available for the subfeature."
                          },
                          "outputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Output schema for background removal results.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Top-level output fields."
                              }
                            }
                          },
                          "subfeature": {
                            "type": "string",
                            "description": "Specific Eden AI subfeature key."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eDENAI/latest/actions/get-credits": {
      "get": {
        "operationId": "eDENAI.get-credits",
        "summary": "Get Credits",
        "description": "Retrieves your available credits from EDEN AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eDENAI/latest/actions/get-credits"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "credits": {
                            "type": "number",
                            "description": "Remaining Eden AI credits balance."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eDENAI/latest/actions/get-deepfake-detection-info": {
      "get": {
        "operationId": "eDENAI.get-deepfake-detection-info",
        "summary": "Get Deepfake Detection Info",
        "description": "Retrieves feature information for deepfake detection in EDEN AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eDENAI/latest/actions/get-deepfake-detection-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Subfeature description."
                          },
                          "endpoints": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Available endpoint operations for the subfeature.",
                            "properties": {
                              "create": {
                                "type": "string",
                                "description": "Create endpoint for executing the subfeature."
                              }
                            }
                          },
                          "feature": {
                            "type": "string",
                            "description": "Top-level Eden AI feature category."
                          },
                          "inputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Input schema for the deepfake detection action.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Supported input fields."
                              }
                            }
                          },
                          "mode": {
                            "type": "string",
                            "description": "Execution mode for the subfeature."
                          },
                          "models": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "model": {
                                  "type": "string",
                                  "description": "Provider model identifier."
                                },
                                "regions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "code": {
                                        "type": "string",
                                        "description": "Region code."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Region name."
                                      }
                                    }
                                  },
                                  "description": "Regions supported by the model."
                                }
                              }
                            },
                            "description": "Provider models available for the subfeature."
                          },
                          "outputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Output schema for deepfake detection results.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Top-level output fields."
                              }
                            }
                          },
                          "subfeature": {
                            "type": "string",
                            "description": "Specific Eden AI subfeature key."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eDENAI/latest/actions/get-document-translation-info": {
      "get": {
        "operationId": "eDENAI.get-document-translation-info",
        "summary": "Get Document Translation Info",
        "description": "Retrieves feature information for document translation in EDEN AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eDENAI/latest/actions/get-document-translation-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Subfeature description."
                          },
                          "endpoints": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Available endpoint operations for the subfeature.",
                            "properties": {
                              "create": {
                                "type": "string",
                                "description": "Create endpoint for executing the subfeature."
                              }
                            }
                          },
                          "feature": {
                            "type": "string",
                            "description": "Top-level Eden AI feature category."
                          },
                          "inputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Input schema for the document translation action.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Supported input fields."
                              }
                            }
                          },
                          "mode": {
                            "type": "string",
                            "description": "Execution mode for the subfeature."
                          },
                          "models": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "model": {
                                  "type": "string",
                                  "description": "Provider model identifier."
                                },
                                "regions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "code": {
                                        "type": "string",
                                        "description": "Region code."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Region name."
                                      }
                                    }
                                  },
                                  "description": "Regions supported by the model."
                                }
                              }
                            },
                            "description": "Provider models available for the subfeature."
                          },
                          "outputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Output schema for document translation results.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Top-level output fields."
                              }
                            }
                          },
                          "subfeature": {
                            "type": "string",
                            "description": "Specific Eden AI subfeature key."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eDENAI/latest/actions/get-explicit-content-info": {
      "get": {
        "operationId": "eDENAI.get-explicit-content-info",
        "summary": "Get Explicit Content Info",
        "description": "Retrieves feature information for explicit content in EDEN AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eDENAI/latest/actions/get-explicit-content-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Subfeature description."
                          },
                          "endpoints": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Available endpoint operations for the subfeature.",
                            "properties": {
                              "create": {
                                "type": "string",
                                "description": "Create endpoint for executing the subfeature."
                              }
                            }
                          },
                          "feature": {
                            "type": "string",
                            "description": "Top-level Eden AI feature category."
                          },
                          "inputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Input schema for the explicit content action.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Supported input fields."
                              }
                            }
                          },
                          "mode": {
                            "type": "string",
                            "description": "Execution mode for the subfeature."
                          },
                          "models": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "model": {
                                  "type": "string",
                                  "description": "Provider model identifier."
                                },
                                "regions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "code": {
                                        "type": "string",
                                        "description": "Region code."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Region name."
                                      }
                                    }
                                  },
                                  "description": "Regions supported by the model."
                                }
                              }
                            },
                            "description": "Provider models available for the subfeature."
                          },
                          "outputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Output schema for explicit content results.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Top-level output fields."
                              }
                            }
                          },
                          "subfeature": {
                            "type": "string",
                            "description": "Specific Eden AI subfeature key."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eDENAI/latest/actions/get-face-compare-info": {
      "get": {
        "operationId": "eDENAI.get-face-compare-info",
        "summary": "Get Face Compare Info",
        "description": "Retrieves feature information for face comparison in EDEN AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eDENAI/latest/actions/get-face-compare-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Subfeature description."
                          },
                          "endpoints": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Available endpoint operations for the subfeature.",
                            "properties": {
                              "create": {
                                "type": "string",
                                "description": "Create endpoint for executing the subfeature."
                              }
                            }
                          },
                          "feature": {
                            "type": "string",
                            "description": "Top-level Eden AI feature category."
                          },
                          "inputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Input schema for the face compare action.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Supported input fields."
                              }
                            }
                          },
                          "mode": {
                            "type": "string",
                            "description": "Execution mode for the subfeature."
                          },
                          "models": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "model": {
                                  "type": "string",
                                  "description": "Provider model identifier."
                                },
                                "regions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "code": {
                                        "type": "string",
                                        "description": "Region code."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Region name."
                                      }
                                    }
                                  },
                                  "description": "Regions supported by the model."
                                }
                              }
                            },
                            "description": "Provider models available for the subfeature."
                          },
                          "outputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Output schema for face compare results.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Top-level output fields."
                              }
                            }
                          },
                          "subfeature": {
                            "type": "string",
                            "description": "Specific Eden AI subfeature key."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eDENAI/latest/actions/get-face-detection-info": {
      "get": {
        "operationId": "eDENAI.get-face-detection-info",
        "summary": "Get Face Detection Info",
        "description": "Retrieves feature information for face detection in EDEN AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eDENAI/latest/actions/get-face-detection-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Subfeature description."
                          },
                          "endpoints": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Available endpoint operations for the subfeature.",
                            "properties": {
                              "create": {
                                "type": "string",
                                "description": "Create endpoint for executing the subfeature."
                              }
                            }
                          },
                          "feature": {
                            "type": "string",
                            "description": "Top-level Eden AI feature category."
                          },
                          "inputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Input schema for the face detection action.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Supported input fields."
                              }
                            }
                          },
                          "mode": {
                            "type": "string",
                            "description": "Execution mode for the subfeature."
                          },
                          "models": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "model": {
                                  "type": "string",
                                  "description": "Provider model identifier."
                                },
                                "regions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "code": {
                                        "type": "string",
                                        "description": "Region code."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Region name."
                                      }
                                    }
                                  },
                                  "description": "Regions supported by the model."
                                }
                              }
                            },
                            "description": "Provider models available for the subfeature."
                          },
                          "outputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Output schema for face detection results.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Top-level output fields."
                              }
                            }
                          },
                          "subfeature": {
                            "type": "string",
                            "description": "Specific Eden AI subfeature key."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eDENAI/latest/actions/get-financial-parser-info": {
      "get": {
        "operationId": "eDENAI.get-financial-parser-info",
        "summary": "Get Financial Parser Info",
        "description": "Retrieves feature information for financial parsing in EDEN AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eDENAI/latest/actions/get-financial-parser-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Subfeature description."
                          },
                          "endpoints": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Available endpoint operations for the subfeature.",
                            "properties": {
                              "create": {
                                "type": "string",
                                "description": "Create endpoint for executing the subfeature."
                              }
                            }
                          },
                          "feature": {
                            "type": "string",
                            "description": "Top-level Eden AI feature category."
                          },
                          "inputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Input schema for the financial parser action.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Supported input fields."
                              }
                            }
                          },
                          "mode": {
                            "type": "string",
                            "description": "Execution mode for the subfeature."
                          },
                          "models": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "model": {
                                  "type": "string",
                                  "description": "Provider model identifier."
                                },
                                "regions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "code": {
                                        "type": "string",
                                        "description": "Region code."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Region name."
                                      }
                                    }
                                  },
                                  "description": "Regions supported by the model."
                                }
                              }
                            },
                            "description": "Provider models available for the subfeature."
                          },
                          "outputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Output schema for financial parser results.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Top-level output fields."
                              }
                            }
                          },
                          "subfeature": {
                            "type": "string",
                            "description": "Specific Eden AI subfeature key."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eDENAI/latest/actions/get-identity-parser-info": {
      "get": {
        "operationId": "eDENAI.get-identity-parser-info",
        "summary": "Get Identity Parser Info",
        "description": "Retrieves feature information for identity parsing in EDEN AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eDENAI/latest/actions/get-identity-parser-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Subfeature description."
                          },
                          "endpoints": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Available endpoint operations for the subfeature.",
                            "properties": {
                              "create": {
                                "type": "string",
                                "description": "Create endpoint for executing the subfeature."
                              }
                            }
                          },
                          "feature": {
                            "type": "string",
                            "description": "Top-level Eden AI feature category."
                          },
                          "inputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Input schema for the identity parser action.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Supported input fields."
                              }
                            }
                          },
                          "mode": {
                            "type": "string",
                            "description": "Execution mode for the subfeature."
                          },
                          "models": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "model": {
                                  "type": "string",
                                  "description": "Provider model identifier."
                                },
                                "regions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "code": {
                                        "type": "string",
                                        "description": "Region code."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Region name."
                                      }
                                    }
                                  },
                                  "description": "Regions supported by the model."
                                }
                              }
                            },
                            "description": "Provider models available for the subfeature."
                          },
                          "outputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Output schema for identity parser results.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Top-level output fields."
                              }
                            }
                          },
                          "subfeature": {
                            "type": "string",
                            "description": "Specific Eden AI subfeature key."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eDENAI/latest/actions/get-image-ai-detection-info": {
      "get": {
        "operationId": "eDENAI.get-image-ai-detection-info",
        "summary": "Get Image AI Detection Info",
        "description": "Retrieves feature information for image AI detection in EDEN AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eDENAI/latest/actions/get-image-ai-detection-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Subfeature description."
                          },
                          "endpoints": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Available endpoint operations for the subfeature.",
                            "properties": {
                              "create": {
                                "type": "string",
                                "description": "Create endpoint for executing the subfeature."
                              }
                            }
                          },
                          "feature": {
                            "type": "string",
                            "description": "Top-level Eden AI feature category."
                          },
                          "inputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Input schema for the image AI detection action.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Supported input fields."
                              }
                            }
                          },
                          "mode": {
                            "type": "string",
                            "description": "Execution mode for the subfeature."
                          },
                          "models": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "model": {
                                  "type": "string",
                                  "description": "Provider model identifier."
                                },
                                "regions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "code": {
                                        "type": "string",
                                        "description": "Region code."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Region name."
                                      }
                                    }
                                  },
                                  "description": "Regions supported by the model."
                                }
                              }
                            },
                            "description": "Provider models available for the subfeature."
                          },
                          "outputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Output schema for image AI detection results.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Top-level output fields."
                              }
                            }
                          },
                          "subfeature": {
                            "type": "string",
                            "description": "Specific Eden AI subfeature key."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eDENAI/latest/actions/get-image-anonymization-info": {
      "get": {
        "operationId": "eDENAI.get-image-anonymization-info",
        "summary": "Get Image Anonymization Info",
        "description": "Retrieves feature information for image anonymization in EDEN AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eDENAI/latest/actions/get-image-anonymization-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Subfeature description."
                          },
                          "endpoints": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Available endpoint operations for the subfeature.",
                            "properties": {
                              "create": {
                                "type": "string",
                                "description": "Create endpoint for executing the subfeature."
                              }
                            }
                          },
                          "feature": {
                            "type": "string",
                            "description": "Top-level Eden AI feature category."
                          },
                          "inputSchema": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Input schema for the image anonymization action.",
                            "properties": {
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Supported input fields."
                              }
                            }
                          },
                          "mode": {
                            "type": "string",
                            "description": "Execution mode for the subfeature."
                          },
                          "models": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "model": {
                                  "type": "string",
                                  "description": "Provider model identifier."
                                },
                                "regions": {
[...]
