{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Energy Information Administration Universal API",
    "version": "0.0.2",
    "description": "Access U.S. Energy Information Administration open energy datasets, including electricity, fuel, emissions, forecasts, state energy data, international statistics, and nuclear outage data."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/energyInformationAdministration/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/energyInformationAdministration/latest/actions/query-aeo-data": {
      "get": {
        "operationId": "energyInformationAdministration.query-aeo-data",
        "summary": "Query AEO Data",
        "description": "Retrieves AEO dataset records from EIA.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/energyInformationAdministration/latest/actions/query-aeo-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "route1",
            "in": "query",
            "required": true,
            "description": "Path segment required by this EIA route.",
            "schema": {
              "type": "string",
              "description": "Path segment required by this EIA route."
            }
          },
          {
            "name": "dataColumns",
            "in": "query",
            "required": false,
            "description": "One or more EIA data column IDs to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more EIA data column IDs to return."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "frequency",
            "in": "query",
            "required": false,
            "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported.",
            "schema": {
              "type": "string",
              "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional inclusive start period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive start period in the format supported by the selected EIA route.",
              "example": "2024"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional inclusive end period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive end period in the format supported by the selected EIA route.",
              "example": "2025"
            }
          },
          {
            "name": "facetFiltersJson",
            "in": "query",
            "required": false,
            "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
            "schema": {
              "type": "string",
              "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
              "example": "[object Object]"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/energyInformationAdministration/latest/actions/query-co2-emissions-aggregates-data": {
      "get": {
        "operationId": "energyInformationAdministration.query-co2-emissions-aggregates-data",
        "summary": "Query CO2 Emissions Aggregates Data",
        "description": "Retrieves CO2 emissions aggregate data from EIA.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/energyInformationAdministration/latest/actions/query-co2-emissions-aggregates-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataColumns",
            "in": "query",
            "required": false,
            "description": "One or more EIA data column IDs to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more EIA data column IDs to return."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "frequency",
            "in": "query",
            "required": false,
            "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported.",
            "schema": {
              "type": "string",
              "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional inclusive start period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive start period in the format supported by the selected EIA route.",
              "example": "2024"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional inclusive end period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive end period in the format supported by the selected EIA route.",
              "example": "2025"
            }
          },
          {
            "name": "facetFiltersJson",
            "in": "query",
            "required": false,
            "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
            "schema": {
              "type": "string",
              "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
              "example": "[object Object]"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/energyInformationAdministration/latest/actions/query-co2-emissions-and-carbon-coefficients-data": {
      "get": {
        "operationId": "energyInformationAdministration.query-co2-emissions-and-carbon-coefficients-data",
        "summary": "Query CO2 Emissions And Carbon Coefficients Data",
        "description": "Retrieves CO2 emissions and carbon coefficient data from EIA.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/energyInformationAdministration/latest/actions/query-co2-emissions-and-carbon-coefficients-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataColumns",
            "in": "query",
            "required": false,
            "description": "One or more EIA data column IDs to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more EIA data column IDs to return."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "frequency",
            "in": "query",
            "required": false,
            "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported.",
            "schema": {
              "type": "string",
              "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional inclusive start period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive start period in the format supported by the selected EIA route.",
              "example": "2024"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional inclusive end period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive end period in the format supported by the selected EIA route.",
              "example": "2025"
            }
          },
          {
            "name": "facetFiltersJson",
            "in": "query",
            "required": false,
            "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
            "schema": {
              "type": "string",
              "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
              "example": "[object Object]"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/energyInformationAdministration/latest/actions/query-coal-aggregate-production-data": {
      "get": {
        "operationId": "energyInformationAdministration.query-coal-aggregate-production-data",
        "summary": "Query Coal Aggregate Production Data",
        "description": "Retrieves coal aggregate production data from EIA.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/energyInformationAdministration/latest/actions/query-coal-aggregate-production-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataColumns",
            "in": "query",
            "required": false,
            "description": "One or more EIA data column IDs to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more EIA data column IDs to return."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "frequency",
            "in": "query",
            "required": false,
            "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported.",
            "schema": {
              "type": "string",
              "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional inclusive start period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive start period in the format supported by the selected EIA route.",
              "example": "2024"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional inclusive end period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive end period in the format supported by the selected EIA route.",
              "example": "2025"
            }
          },
          {
            "name": "facetFiltersJson",
            "in": "query",
            "required": false,
            "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
            "schema": {
              "type": "string",
              "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
              "example": "[object Object]"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/energyInformationAdministration/latest/actions/query-coal-consumption-and-quality-data": {
      "get": {
        "operationId": "energyInformationAdministration.query-coal-consumption-and-quality-data",
        "summary": "Query Coal Consumption And Quality Data",
        "description": "Retrieves coal consumption and quality data from EIA.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/energyInformationAdministration/latest/actions/query-coal-consumption-and-quality-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataColumns",
            "in": "query",
            "required": false,
            "description": "One or more EIA data column IDs to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more EIA data column IDs to return."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "frequency",
            "in": "query",
            "required": false,
            "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported.",
            "schema": {
              "type": "string",
              "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional inclusive start period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive start period in the format supported by the selected EIA route.",
              "example": "2024"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional inclusive end period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive end period in the format supported by the selected EIA route.",
              "example": "2025"
            }
          },
          {
            "name": "facetFiltersJson",
            "in": "query",
            "required": false,
            "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
            "schema": {
              "type": "string",
              "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
              "example": "[object Object]"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/energyInformationAdministration/latest/actions/query-coal-exports-imports-quantity-price-data": {
      "get": {
        "operationId": "energyInformationAdministration.query-coal-exports-imports-quantity-price-data",
        "summary": "Query Coal Exports Imports Quantity Price Data",
        "description": "Retrieves coal export and import quantity and price data from EIA.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/energyInformationAdministration/latest/actions/query-coal-exports-imports-quantity-price-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataColumns",
            "in": "query",
            "required": false,
            "description": "One or more EIA data column IDs to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more EIA data column IDs to return."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "frequency",
            "in": "query",
            "required": false,
            "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported.",
            "schema": {
              "type": "string",
              "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional inclusive start period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive start period in the format supported by the selected EIA route.",
              "example": "2024"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional inclusive end period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive end period in the format supported by the selected EIA route.",
              "example": "2025"
            }
          },
          {
            "name": "facetFiltersJson",
            "in": "query",
            "required": false,
            "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
            "schema": {
              "type": "string",
              "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
              "example": "[object Object]"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/energyInformationAdministration/latest/actions/query-coal-market-sales-price-data": {
      "get": {
        "operationId": "energyInformationAdministration.query-coal-market-sales-price-data",
        "summary": "Query Coal Market Sales Price Data",
        "description": "Retrieves coal market sales price data from EIA.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/energyInformationAdministration/latest/actions/query-coal-market-sales-price-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataColumns",
            "in": "query",
            "required": false,
            "description": "One or more EIA data column IDs to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more EIA data column IDs to return."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "frequency",
            "in": "query",
            "required": false,
            "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported.",
            "schema": {
              "type": "string",
              "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional inclusive start period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive start period in the format supported by the selected EIA route.",
              "example": "2024"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional inclusive end period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive end period in the format supported by the selected EIA route.",
              "example": "2025"
            }
          },
          {
            "name": "facetFiltersJson",
            "in": "query",
            "required": false,
            "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
            "schema": {
              "type": "string",
              "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
              "example": "[object Object]"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/energyInformationAdministration/latest/actions/query-coal-mine-production-data": {
      "get": {
        "operationId": "energyInformationAdministration.query-coal-mine-production-data",
        "summary": "Query Coal Mine Production Data",
        "description": "Retrieves coal mine production data from EIA.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/energyInformationAdministration/latest/actions/query-coal-mine-production-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataColumns",
            "in": "query",
            "required": false,
            "description": "One or more EIA data column IDs to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more EIA data column IDs to return."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "frequency",
            "in": "query",
            "required": false,
            "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported.",
            "schema": {
              "type": "string",
              "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional inclusive start period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive start period in the format supported by the selected EIA route.",
              "example": "2024"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional inclusive end period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive end period in the format supported by the selected EIA route.",
              "example": "2025"
            }
          },
          {
            "name": "facetFiltersJson",
            "in": "query",
            "required": false,
            "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
            "schema": {
              "type": "string",
              "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
              "example": "[object Object]"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/energyInformationAdministration/latest/actions/query-coal-price-by-rank-data": {
      "get": {
        "operationId": "energyInformationAdministration.query-coal-price-by-rank-data",
        "summary": "Query Coal Price By Rank Data",
        "description": "Retrieves coal price by rank data from EIA.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/energyInformationAdministration/latest/actions/query-coal-price-by-rank-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataColumns",
            "in": "query",
            "required": false,
            "description": "One or more EIA data column IDs to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more EIA data column IDs to return."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "frequency",
            "in": "query",
            "required": false,
            "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported.",
            "schema": {
              "type": "string",
              "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional inclusive start period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive start period in the format supported by the selected EIA route.",
              "example": "2024"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional inclusive end period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive end period in the format supported by the selected EIA route.",
              "example": "2025"
            }
          },
          {
            "name": "facetFiltersJson",
            "in": "query",
            "required": false,
            "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
            "schema": {
              "type": "string",
              "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
              "example": "[object Object]"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/energyInformationAdministration/latest/actions/query-coal-reserves-capacity-data": {
      "get": {
        "operationId": "energyInformationAdministration.query-coal-reserves-capacity-data",
        "summary": "Query Coal Reserves Capacity Data",
        "description": "Retrieves coal reserves and capacity data from EIA.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/energyInformationAdministration/latest/actions/query-coal-reserves-capacity-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataColumns",
            "in": "query",
            "required": false,
            "description": "One or more EIA data column IDs to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more EIA data column IDs to return."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "frequency",
            "in": "query",
            "required": false,
            "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported.",
            "schema": {
              "type": "string",
              "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional inclusive start period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive start period in the format supported by the selected EIA route.",
              "example": "2024"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional inclusive end period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive end period in the format supported by the selected EIA route.",
              "example": "2025"
            }
          },
          {
            "name": "facetFiltersJson",
            "in": "query",
            "required": false,
            "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
            "schema": {
              "type": "string",
              "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
              "example": "[object Object]"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/energyInformationAdministration/latest/actions/query-coal-shipments-by-mine-by-plant-data": {
      "get": {
        "operationId": "energyInformationAdministration.query-coal-shipments-by-mine-by-plant-data",
        "summary": "Query Coal Shipments By Mine By Plant Data",
        "description": "Retrieves coal shipments by mine and plant data from EIA.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/energyInformationAdministration/latest/actions/query-coal-shipments-by-mine-by-plant-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataColumns",
            "in": "query",
            "required": false,
            "description": "One or more EIA data column IDs to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more EIA data column IDs to return."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "frequency",
            "in": "query",
            "required": false,
            "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported.",
            "schema": {
              "type": "string",
              "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional inclusive start period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive start period in the format supported by the selected EIA route.",
              "example": "2024"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional inclusive end period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive end period in the format supported by the selected EIA route.",
              "example": "2025"
            }
          },
          {
            "name": "facetFiltersJson",
            "in": "query",
            "required": false,
            "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
            "schema": {
              "type": "string",
              "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
              "example": "[object Object]"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/energyInformationAdministration/latest/actions/query-coal-shipments-mine-aggregates-data": {
      "get": {
        "operationId": "energyInformationAdministration.query-coal-shipments-mine-aggregates-data",
        "summary": "Query Coal Shipments Mine Aggregates Data",
        "description": "Retrieves coal shipment aggregates by mine from EIA.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/energyInformationAdministration/latest/actions/query-coal-shipments-mine-aggregates-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataColumns",
            "in": "query",
            "required": false,
            "description": "One or more EIA data column IDs to return.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more EIA data column IDs to return."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "frequency",
            "in": "query",
            "required": false,
            "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported.",
            "schema": {
              "type": "string",
              "description": "Optional EIA frequency code for the dataset, such as annual, monthly, daily, or hourly where supported."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional inclusive start period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive start period in the format supported by the selected EIA route.",
              "example": "2024"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional inclusive end period in the format supported by the selected EIA route.",
            "schema": {
              "type": "string",
              "description": "Optional inclusive end period in the format supported by the selected EIA route.",
              "example": "2025"
            }
          },
          {
            "name": "facetFiltersJson",
            "in": "query",
            "required": false,
            "description": "Optional JSON object mapping EIA facet IDs to one or more values. Example: {\"stateid\":[\"CA\"]}.",
            "schema": {
              "type": "string",
[...]
