{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "MarketTime Universal API",
    "version": "0.0.7",
    "description": "Manage MarketTime orders, inventory, customers, items, and shipments"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/marketTime/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/marketTime/latest/actions/get-item-inventory": {
      "get": {
        "operationId": "marketTime.get-item-inventory",
        "summary": "Get Item Inventory",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/marketTime/latest/actions/get-item-inventory"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/marketTime/latest/actions/list-item-inventory": {
      "get": {
        "operationId": "marketTime.list-item-inventory",
        "summary": "List Item Inventory",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/marketTime/latest/actions/list-item-inventory"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/marketTime/latest/actions/list-items-by-item-id": {
      "get": {
        "operationId": "marketTime.list-items-by-item-id",
        "summary": "List Items by Item ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/marketTime/latest/actions/list-items-by-item-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/marketTime/latest/actions/pull-orders": {
      "get": {
        "operationId": "marketTime.pull-orders",
        "summary": "Pull Orders",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/marketTime/latest/actions/pull-orders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {}
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters[].field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeOrderDetails",
            "in": "query",
            "required": false,
            "description": "Exclude line details from the response.",
            "schema": {
              "type": "boolean",
              "description": "Exclude line details from the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "filters[].operator",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[].value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/marketTime/latest/actions/update-item-inventory": {
      "put": {
        "operationId": "marketTime.update-item-inventory",
        "summary": "Update Item Inventory",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/marketTime/latest/actions/update-item-inventory"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "itemId",
                  "itemNumber",
                  "manufacturerId",
                  "name",
                  "unitPrice",
                  "unitQuantity"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "itemId": {
                    "type": "string"
                  },
                  "useExternalId": {
                    "type": "boolean"
                  },
                  "recordId": {
                    "type": "number",
                    "description": "Required unless Use External ID is enabled."
                  },
                  "primaryImageUrl": {
                    "type": "string",
                    "description": "URL of primary image of item"
                  },
                  "additionalImageUrl[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of URLs for additional images uploaded for items. Maximum of 6 allowed."
                  },
                  "caseQuantity": {
                    "type": "number",
                    "description": "Number of items available in a case"
                  },
                  "catalogPageNumber": {
                    "type": "number",
                    "description": "Number of the catalog page where the item exists"
                  },
                  "category": {
                    "type": "string",
                    "description": "Generic category name for the item"
                  },
                  "dateIntroduced": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date when the item was released"
                  },
                  "defaultCancelDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Default cancel date for the item"
                  },
                  "defaultShipDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Default shipping date for the item"
                  },
                  "description": {
                    "type": "string",
                    "description": "Common description of item, can be longer than Name"
                  },
                  "detailedDescription": {
                    "type": "string",
                    "description": "Additional description field"
                  },
                  "discontinued": {
                    "type": "string",
                    "description": "Whether the item is discontinued"
                  },
                  "discountEndDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date at which a discount ends"
                  },
                  "discountPercent": {
                    "type": "number",
                    "description": "Percentage of the item discount"
                  },
                  "discountStartDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date at which a discount begins"
                  },
                  "hasImage": {
                    "type": "string",
                    "description": "Whether an image exists for the item"
                  },
                  "isAvailable": {
                    "type": "string",
                    "description": "Whether the item is available"
                  },
                  "commissionPercent": {
                    "type": "number",
                    "description": "Percentage of commission"
                  },
                  "isCommissionable": {
                    "type": "string",
                    "description": "Whether the item is commissionable"
                  },
                  "itemNumber": {
                    "type": "string"
                  },
                  "itemID": {
                    "type": "number",
                    "description": "SKU, item number, or catalog number"
                  },
                  "linkedItem": {
                    "type": "string",
                    "description": "Item connected to the added item"
                  },
                  "manufacturerId": {
                    "type": "string"
                  },
                  "minimumQuantity": {
                    "type": "number",
                    "description": "Minimum quantity for item. Required for create operations, but optional for this update operation."
                  },
                  "name": {
                    "type": "string"
                  },
                  "nextAvailableDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date at which the item is next available for order"
                  },
                  "noFurtherDiscountApplied": {
                    "type": "string",
                    "description": "Whether further discount is applied to the item"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Custom notes for providing extra details"
                  },
                  "quantityAvailable": {
                    "type": "number"
                  },
                  "quantityAvailableUpdated": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "qtyOnWater": {
                    "type": "number",
                    "description": "Current quantity for an item on water"
                  },
                  "quantityIncrement": {
                    "type": "number",
                    "description": "Quantity increment for an item"
                  },
                  "retailPrice": {
                    "type": "number",
                    "description": "Retail price for item, also known as MSRP"
                  },
                  "season": {
                    "type": "string",
                    "description": "Item availability season"
                  },
                  "showOnWebsite": {
                    "type": "string",
                    "description": "Whether to show this item on the website"
                  },
                  "sizeUnitOfMeasure": {
                    "type": "string",
                    "description": "Unit of measure for the height, width, and length of the item"
                  },
                  "tags": {
                    "type": "string",
                    "description": "Custom category names for item"
                  },
                  "unitOfMeasure": {
                    "type": "string",
                    "description": "Unit of measure for the product"
                  },
                  "unitPrice": {
                    "type": "number"
                  },
                  "unitQuantity": {
                    "type": "number"
                  },
                  "upc1": {
                    "type": "string",
                    "description": "UPC number for an item"
                  },
                  "upc2": {
                    "type": "string",
                    "description": "Additional UPC number for an item"
                  },
                  "upc3": {
                    "type": "string",
                    "description": "Additional UPC number for an item"
                  },
                  "weight": {
                    "type": "string",
                    "description": "Weight of the product"
                  },
                  "weightUnitOfMeasure": {
                    "type": "string",
                    "description": "Unit of measure for the product weight"
                  },
                  "width": {
                    "type": "string",
                    "description": "Width of the product"
                  },
                  "height": {
                    "type": "string",
                    "description": "Height of the product"
                  },
                  "length": {
                    "type": "string",
                    "description": "Length of the product"
                  },
                  "manufacturerCategory1": {
                    "type": "string",
                    "description": "First category of the manufacturer item"
                  },
                  "manufacturerCategory2": {
                    "type": "string",
                    "description": "Second category of the manufacturer item"
                  },
                  "manufacturerCategory3": {
                    "type": "string",
                    "description": "Third category of the manufacturer item"
                  },
                  "categoryPath": {
                    "type": "string",
                    "description": "Concatenation of the manufacturer categories"
                  },
                  "repGroupCategoryPath": {
                    "type": "string",
                    "description": "Concatenation of the RepGroup categories"
                  },
                  "recordDeleted": {
                    "type": "string",
                    "description": "Whether the item record is deleted"
                  },
                  "itemLineId": {
                    "type": "number"
                  },
                  "itemLineName": {
                    "type": "string",
                    "description": "Name of the item line"
                  },
                  "externalId": {
                    "type": "string",
                    "description": "Value for referencing external systems"
                  },
                  "externalId2": {
                    "type": "string",
                    "description": "Additional value for referencing external systems"
                  },
                  "isPublic": {
                    "type": "string"
                  },
                  "isTopItem": {
                    "type": "string"
                  },
                  "sequencePublic": {
                    "type": "number"
                  },
                  "sequenceTopItem": {
                    "type": "number"
                  },
                  "manufacturerName": {
                    "type": "string",
                    "description": "Name of the manufacturer"
                  },
                  "repGroupCategories[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "scsDetails[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "volumePricing[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "dimensions": {
                    "type": "string",
                    "description": "Value of height, width, and length concatenated"
                  },
                  "updatedFields": {
                    "type": "string"
                  },
                  "itemTag": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "keywords": {
                    "type": "string"
                  },
                  "newItem": {
                    "type": "boolean"
                  },
                  "updatedItem": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
