{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "File.io Universal API",
    "version": "0.0.8",
    "description": "Share, manage, and retrieve temporary files through File.io's public REST API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/fileio/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/fileio/latest/actions/delete-file": {
      "delete": {
        "operationId": "fileio.delete-file",
        "summary": "Delete File",
        "description": "Deletes a file from File.io by key.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fileio/latest/actions/delete-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "File.io file key to delete.",
            "schema": {
              "type": "string",
              "description": "File.io file key to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "number",
                            "description": "Provider status code from File.io."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether File.io deleted the file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fileio/latest/actions/download-file": {
      "get": {
        "operationId": "fileio.download-file",
        "summary": "Download File",
        "description": "Downloads a file from File.io by key.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fileio/latest/actions/download-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "File.io file key to download.",
            "schema": {
              "type": "string",
              "description": "File.io file key to download."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "file": {
                            "type": "string",
                            "description": "Raw downloaded file content returned by File.io."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fileio/latest/actions/list-files": {
      "get": {
        "operationId": "fileio.list-files",
        "summary": "List Files",
        "description": "Retrieves files from File.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fileio/latest/actions/list-files"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "autoDelete": {
                            "type": "boolean",
                            "description": "Whether File.io auto-deletes the file."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "downloads": {
                            "type": "number",
                            "description": "Number of downloads."
                          },
                          "expires": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiration timestamp."
                          },
                          "expiry": {
                            "type": "string",
                            "description": "Human-readable expiration window."
                          },
                          "id": {
                            "type": "string",
                            "description": "File identifier."
                          },
                          "key": {
                            "type": "string",
                            "description": "File.io download key."
                          },
                          "link": {
                            "type": "string",
                            "description": "Shareable File.io link."
                          },
                          "maxDownloads": {
                            "type": "number",
                            "description": "Maximum downloads before expiration."
                          },
                          "mimeType": {
                            "type": "string",
                            "description": "File MIME type."
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modification timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "File name."
                          },
                          "size": {
                            "type": "number",
                            "description": "File size in bytes."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fileio/latest/actions/replace-file": {
      "put": {
        "operationId": "fileio.replace-file",
        "summary": "Replace File",
        "description": "Updates a file in File.io, resetting omitted fields.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fileio/latest/actions/replace-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "key"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "key": {
                    "type": "string",
                    "description": "File.io file key to replace."
                  },
                  "file": {
                    "type": "string",
                    "description": "Replacement file content as multipart/form-data."
                  },
                  "expires": {
                    "type": "string",
                    "description": "Optional replacement expiration duration such as 1d, 1w, 1M, or 1y.",
                    "example": "1d"
                  },
                  "maxDownloads": {
                    "type": "number",
                    "description": "Optional replacement maximum download count.",
                    "example": 1
                  },
                  "autoDelete": {
                    "type": "boolean",
                    "description": "Optional replacement auto-delete setting.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "autoDelete": {
                            "type": "boolean",
                            "description": "Whether File.io auto-deletes the file."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "downloads": {
                            "type": "number",
                            "description": "Number of downloads."
                          },
                          "expires": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiration timestamp."
                          },
                          "expiry": {
                            "type": "string",
                            "description": "Human-readable expiration window."
                          },
                          "id": {
                            "type": "string",
                            "description": "File identifier."
                          },
                          "key": {
                            "type": "string",
                            "description": "File.io download key."
                          },
                          "link": {
                            "type": "string",
                            "description": "Shareable File.io link."
                          },
                          "maxDownloads": {
                            "type": "number",
                            "description": "Maximum downloads before expiration."
                          },
                          "mimeType": {
                            "type": "string",
                            "description": "File MIME type."
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modification timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "File name."
                          },
                          "size": {
                            "type": "number",
                            "description": "File size in bytes."
                          },
                          "status": {
                            "type": "number",
                            "description": "Provider status code from File.io."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether File.io accepted the operation."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fileio/latest/actions/update-file": {
      "put": {
        "operationId": "fileio.update-file",
        "summary": "Update File",
        "description": "Updates a file in File.io, retaining omitted fields.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fileio/latest/actions/update-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "key"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "key": {
                    "type": "string",
                    "description": "File.io file key to update."
                  },
                  "file": {
                    "type": "string",
                    "description": "Optional file content to patch as multipart/form-data."
                  },
                  "expires": {
                    "type": "string",
                    "description": "Optional expiration duration to patch such as 1d, 1w, 1M, or 1y.",
                    "example": "1d"
                  },
                  "maxDownloads": {
                    "type": "number",
                    "description": "Optional maximum download count to patch.",
                    "example": 1
                  },
                  "autoDelete": {
                    "type": "boolean",
                    "description": "Optional auto-delete setting to patch.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "autoDelete": {
                            "type": "boolean",
                            "description": "Whether File.io auto-deletes the file."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "downloads": {
                            "type": "number",
                            "description": "Number of downloads."
                          },
                          "expires": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiration timestamp."
                          },
                          "expiry": {
                            "type": "string",
                            "description": "Human-readable expiration window."
                          },
                          "id": {
                            "type": "string",
                            "description": "File identifier."
                          },
                          "key": {
                            "type": "string",
                            "description": "File.io download key."
                          },
                          "link": {
                            "type": "string",
                            "description": "Shareable File.io link."
                          },
                          "maxDownloads": {
                            "type": "number",
                            "description": "Maximum downloads before expiration."
                          },
                          "mimeType": {
                            "type": "string",
                            "description": "File MIME type."
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modification timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "File name."
                          },
                          "size": {
                            "type": "number",
                            "description": "File size in bytes."
                          },
                          "status": {
                            "type": "number",
                            "description": "Provider status code from File.io."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether File.io accepted the operation."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/fileio/latest/actions/upload-file": {
      "post": {
        "operationId": "fileio.upload-file",
        "summary": "Upload File",
        "description": "Uploads a file to File.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fileio/latest/actions/upload-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "File to upload as multipart/form-data. Required by File.io for file upload."
                  },
                  "expires": {
                    "type": "string",
                    "description": "Optional expiration duration such as 1d, 1w, 1M, or 1y.",
                    "example": "1d"
                  },
                  "maxDownloads": {
                    "type": "number",
                    "description": "Optional maximum number of downloads before the file expires.",
                    "example": 1
                  },
                  "autoDelete": {
                    "type": "boolean",
                    "description": "Whether File.io should automatically delete the file after download or expiration.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "autoDelete": {
                            "type": "boolean",
                            "description": "Whether File.io auto-deletes the file."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "downloads": {
                            "type": "number",
                            "description": "Number of downloads."
                          },
                          "expires": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiration timestamp."
                          },
                          "expiry": {
                            "type": "string",
                            "description": "Human-readable expiration window."
                          },
                          "id": {
                            "type": "string",
                            "description": "File identifier."
                          },
                          "key": {
                            "type": "string",
                            "description": "File.io download key."
                          },
                          "link": {
                            "type": "string",
                            "description": "Shareable File.io link."
                          },
                          "maxDownloads": {
                            "type": "number",
                            "description": "Maximum downloads before expiration."
                          },
                          "mimeType": {
                            "type": "string",
                            "description": "File MIME type."
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modification timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "Uploaded file name."
                          },
                          "size": {
                            "type": "number",
                            "description": "File size in bytes."
                          },
                          "status": {
                            "type": "number",
                            "description": "Provider status code from File.io."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether File.io accepted the operation."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
