{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Creator Science Podcast Universal API",
    "version": "0.0.2",
    "description": "List Creator Science podcast episodes"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/creatorSciencePodcast/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/creatorSciencePodcast/latest/actions/list-podcast-episodes": {
      "get": {
        "operationId": "creatorSciencePodcast.list-podcast-episodes",
        "summary": "List Podcast Episodes",
        "description": "Retrieves podcast episodes from the Creator Science Podcast feed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/creatorSciencePodcast/latest/actions/list-podcast-episodes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audioType": {
                            "type": "string",
                            "description": "MIME type for the audio enclosure."
                          },
                          "audioUrl": {
                            "type": "string",
                            "description": "Audio enclosure URL for the episode."
                          },
                          "author": {
                            "type": "string",
                            "description": "Episode author."
                          },
                          "contentHtml": {
                            "type": "string",
                            "description": "Full HTML show notes from content:encoded."
                          },
                          "description": {
                            "type": "string",
                            "description": "RSS description text for the episode."
                          },
                          "durationSeconds": {
                            "type": "number",
                            "description": "Episode duration in seconds."
                          },
                          "episodeNumber": {
                            "type": "number",
                            "description": "Episode number when provided by the feed."
                          },
                          "episodeType": {
                            "type": "string",
                            "description": "RSS episode type, such as full or trailer."
                          },
                          "guid": {
                            "type": "string",
                            "description": "RSS guid value for the episode."
                          },
                          "id": {
                            "type": "string",
                            "description": "Stable episode identifier from the RSS guid, link, or title."
                          },
                          "imageUrl": {
                            "type": "string",
                            "description": "Episode artwork URL when provided."
                          },
                          "isExplicit": {
                            "type": "boolean",
                            "description": "Whether the episode is marked explicit in the feed."
                          },
                          "link": {
                            "type": "string",
                            "description": "Public episode page URL."
                          },
                          "publishedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Episode publication date from pubDate."
                          },
                          "rawTitle": {
                            "type": "string",
                            "description": "Original RSS title value including any feed numbering."
                          },
                          "seasonNumber": {
                            "type": "number",
                            "description": "Season number when provided by the feed."
                          },
                          "subtitle": {
                            "type": "string",
                            "description": "Short episode subtitle from the iTunes RSS namespace."
                          },
                          "summary": {
                            "type": "string",
                            "description": "Episode summary text."
                          },
                          "title": {
                            "type": "string",
                            "description": "Episode title."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
