{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ScreenshotAPI Universal API",
    "version": "0.0.7",
    "description": "Capture, extract, and automate website screenshots and web content"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/screenshotAPI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/screenshotAPI/latest/actions/extract-html": {
      "post": {
        "operationId": "screenshotAPI.extract-html",
        "summary": "Extract HTML",
        "description": "Creates extracted page HTML in ScreenshotAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/screenshotAPI/latest/actions/extract-html"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The fully qualified URL to extract HTML from."
                  },
                  "fresh": {
                    "type": "boolean",
                    "description": "When true, request a newly rendered capture instead of cached output.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when ScreenshotAPI created the capture."
                          },
                          "extractedHtml": {
                            "type": "string",
                            "description": "URL of the extracted HTML file."
                          },
                          "extractHtml": {
                            "type": "string",
                            "description": "Whether HTML extraction was enabled."
                          },
                          "fresh": {
                            "type": "string",
                            "description": "Whether ScreenshotAPI forced a fresh render."
                          },
                          "output": {
                            "type": "string",
                            "description": "Output mode returned by ScreenshotAPI."
                          },
                          "screenshot": {
                            "type": "string",
                            "description": "URL of the generated screenshot file."
                          },
                          "sizes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Optional sizes payload returned by ScreenshotAPI."
                          },
                          "ttl": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiration timestamp for the generated file."
                          },
                          "url": {
                            "type": "string",
                            "description": "Captured page URL returned by ScreenshotAPI."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/screenshotAPI/latest/actions/extract-text": {
      "post": {
        "operationId": "screenshotAPI.extract-text",
        "summary": "Extract Text",
        "description": "Creates extracted page text in ScreenshotAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/screenshotAPI/latest/actions/extract-text"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The fully qualified URL to extract text from."
                  },
                  "fresh": {
                    "type": "boolean",
                    "description": "When true, request a newly rendered capture instead of cached output.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when ScreenshotAPI created the capture."
                          },
                          "extractedText": {
                            "type": "string",
                            "description": "URL of the extracted text file."
                          },
                          "extractText": {
                            "type": "string",
                            "description": "Whether text extraction was enabled."
                          },
                          "fresh": {
                            "type": "string",
                            "description": "Whether ScreenshotAPI forced a fresh render."
                          },
                          "output": {
                            "type": "string",
                            "description": "Output mode returned by ScreenshotAPI."
                          },
                          "screenshot": {
                            "type": "string",
                            "description": "URL of the generated screenshot file."
                          },
                          "sizes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Optional sizes payload returned by ScreenshotAPI."
                          },
                          "ttl": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiration timestamp for the generated file."
                          },
                          "url": {
                            "type": "string",
                            "description": "Captured page URL returned by ScreenshotAPI."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/screenshotAPI/latest/actions/generate-pdf": {
      "post": {
        "operationId": "screenshotAPI.generate-pdf",
        "summary": "Generate PDF",
        "description": "Creates a new PDF capture in ScreenshotAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/screenshotAPI/latest/actions/generate-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The fully qualified URL to render as a PDF."
                  },
                  "fresh": {
                    "type": "boolean",
                    "description": "When true, request a newly rendered PDF instead of cached output.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when ScreenshotAPI created the PDF."
                          },
                          "fileType": {
                            "type": "string",
                            "description": "Generated file format."
                          },
                          "fresh": {
                            "type": "string",
                            "description": "Whether ScreenshotAPI forced a fresh render."
                          },
                          "output": {
                            "type": "string",
                            "description": "Output mode returned by ScreenshotAPI."
                          },
                          "screenshot": {
                            "type": "string",
                            "description": "URL of the generated PDF file."
                          },
                          "sizes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Optional sizes payload returned by ScreenshotAPI."
                          },
                          "ttl": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiration timestamp for the generated file."
                          },
                          "url": {
                            "type": "string",
                            "description": "Captured page URL returned by ScreenshotAPI."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/screenshotAPI/latest/actions/record-multiple-scrolling-screenshots": {
      "post": {
        "operationId": "screenshotAPI.record-multiple-scrolling-screenshots",
        "summary": "Record Multiple Scrolling Screenshots",
        "description": "Creates multiple scrolling screenshot recordings in ScreenshotAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/screenshotAPI/latest/actions/record-multiple-scrolling-screenshots"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url",
                  "sizes"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The fully qualified URL to record at multiple target sizes."
                  },
                  "fileType": {
                    "type": "string",
                    "description": "The scrolling capture file format.",
                    "default": "mp4"
                  },
                  "sizes": {
                    "type": "string",
                    "description": "JSON array string describing the output sizes to generate."
                  },
                  "fresh": {
                    "type": "boolean",
                    "description": "Request a newly rendered scrolling capture instead of cached output.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when ScreenshotAPI created the capture."
                          },
                          "fileType": {
                            "type": "string",
                            "description": "Generated file format."
                          },
                          "fresh": {
                            "type": "string",
                            "description": "Whether ScreenshotAPI forced a fresh render."
                          },
                          "multipleScrolling": {
                            "type": "string",
                            "description": "Whether multiple scrolling mode was enabled."
                          },
                          "output": {
                            "type": "string",
                            "description": "Output mode returned by ScreenshotAPI."
                          },
                          "screenshot": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Object of generated file URLs keyed by size identifier."
                          },
                          "scrollingScreenshot": {
                            "type": "string",
                            "description": "Whether scrolling mode was enabled."
                          },
                          "sizes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Requested output sizes returned by ScreenshotAPI."
                          },
                          "ttl": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiration timestamp for the generated files."
                          },
                          "url": {
                            "type": "string",
                            "description": "Captured page URL returned by ScreenshotAPI."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/screenshotAPI/latest/actions/record-scrolling-screenshot": {
      "post": {
        "operationId": "screenshotAPI.record-scrolling-screenshot",
        "summary": "Record Scrolling Screenshot",
        "description": "Creates a scrolling screenshot recording in ScreenshotAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/screenshotAPI/latest/actions/record-scrolling-screenshot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The fully qualified URL to record as a scrolling screenshot."
                  },
                  "fileType": {
                    "type": "string",
                    "description": "The scrolling capture file format.",
                    "default": "mp4"
                  },
                  "scrollSpeed": {
                    "type": "string",
                    "description": "Control how quickly the page scrolls during capture.",
                    "default": "normal"
                  },
                  "duration": {
                    "type": "number",
                    "description": "Capture duration in seconds for the scrolling recording."
                  },
                  "scrollBack": {
                    "type": "boolean",
                    "description": "Scroll back to the top after reaching the bottom of the page.",
                    "default": false
                  },
                  "startImmediately": {
                    "type": "boolean",
                    "description": "Begin recording immediately without waiting for page load.",
                    "default": false
                  },
                  "fresh": {
                    "type": "boolean",
                    "description": "Request a newly rendered scrolling capture instead of cached output.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when ScreenshotAPI created the capture."
                          },
                          "duration": {
                            "type": "string",
                            "description": "Requested capture duration in seconds."
                          },
                          "fileType": {
                            "type": "string",
                            "description": "Generated file format."
                          },
                          "fresh": {
                            "type": "string",
                            "description": "Whether ScreenshotAPI forced a fresh render."
                          },
                          "output": {
                            "type": "string",
                            "description": "Output mode returned by ScreenshotAPI."
                          },
                          "screenshot": {
                            "type": "string",
                            "description": "URL of the generated scrolling video file."
                          },
                          "scrollBack": {
                            "type": "string",
                            "description": "Whether the capture scrolled back to the top."
                          },
                          "scrollingScreenshot": {
                            "type": "string",
                            "description": "Whether scrolling mode was enabled."
                          },
                          "scrollSpeed": {
                            "type": "string",
                            "description": "Scroll speed used for the capture."
                          },
                          "sizes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Optional sizes payload returned by ScreenshotAPI."
                          },
                          "startImmediately": {
                            "type": "string",
                            "description": "Whether recording started immediately."
                          },
                          "ttl": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiration timestamp for the generated file."
                          },
                          "url": {
                            "type": "string",
                            "description": "Captured page URL returned by ScreenshotAPI."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/screenshotAPI/latest/actions/render-custom-html": {
      "post": {
        "operationId": "screenshotAPI.render-custom-html",
        "summary": "Render Custom HTML",
        "description": "Creates a screenshot from custom HTML in ScreenshotAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/screenshotAPI/latest/actions/render-custom-html"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customHtml"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customHtml": {
                    "type": "string",
                    "description": "HTML markup to render instead of loading a URL."
                  },
                  "fileType": {
                    "type": "string",
                    "description": "The file format to generate from the provided HTML.",
                    "default": "png"
                  },
                  "fresh": {
                    "type": "boolean",
                    "description": "Request a newly rendered custom HTML capture instead of cached output.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when ScreenshotAPI created the capture."
                          },
                          "customHtml": {
                            "type": "string",
                            "description": "The custom HTML markup sent to ScreenshotAPI."
                          },
                          "fileType": {
                            "type": "string",
                            "description": "Generated file format."
                          },
                          "fresh": {
                            "type": "string",
                            "description": "Whether ScreenshotAPI forced a fresh render."
                          },
                          "output": {
                            "type": "string",
                            "description": "Output mode returned by ScreenshotAPI."
                          },
                          "screenshot": {
                            "type": "string",
                            "description": "URL of the generated screenshot file."
                          },
                          "sizes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Optional sizes payload returned by ScreenshotAPI."
                          },
                          "ttl": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiration timestamp for the generated file."
                          },
                          "url": {
                            "type": "string",
                            "description": "Provider-returned source URL value for the render."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/screenshotAPI/latest/actions/render-screenshot": {
      "post": {
        "operationId": "screenshotAPI.render-screenshot",
        "summary": "Render Screenshot",
        "description": "Creates a new PNG screenshot in ScreenshotAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/screenshotAPI/latest/actions/render-screenshot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The fully qualified URL to capture."
                  },
                  "fresh": {
                    "type": "boolean",
                    "description": "When true, request a newly rendered screenshot instead of cached output.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when ScreenshotAPI created the capture."
                          },
                          "fileType": {
                            "type": "string",
                            "description": "Generated file format."
                          },
                          "fresh": {
                            "type": "string",
                            "description": "Whether ScreenshotAPI forced a fresh render."
                          },
                          "output": {
                            "type": "string",
                            "description": "Output mode returned by ScreenshotAPI."
                          },
                          "screenshot": {
                            "type": "string",
                            "description": "URL of the generated screenshot file."
                          },
                          "sizes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Optional sizes payload returned by ScreenshotAPI."
                          },
                          "ttl": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiration timestamp for the generated file."
                          },
                          "url": {
                            "type": "string",
                            "description": "Captured page URL returned by ScreenshotAPI."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/screenshotAPI/latest/actions/render-screenshot-json": {
      "post": {
        "operationId": "screenshotAPI.render-screenshot-json",
        "summary": "Render Screenshot JSON",
        "description": "Creates screenshot metadata in ScreenshotAPI with selectable file output.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/screenshotAPI/latest/actions/render-screenshot-json"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The fully qualified URL to capture."
                  },
                  "fileType": {
                    "type": "string",
                    "description": "The screenshot file format to generate.",
                    "default": "png"
                  },
                  "fresh": {
                    "type": "boolean",
                    "description": "When true, request a newly rendered screenshot instead of cached output.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when ScreenshotAPI created the capture."
                          },
                          "fileType": {
                            "type": "string",
                            "description": "Generated file format."
                          },
                          "fresh": {
                            "type": "string",
                            "description": "Whether ScreenshotAPI forced a fresh render."
                          },
                          "output": {
                            "type": "string",
                            "description": "Output mode returned by ScreenshotAPI."
                          },
                          "screenshot": {
                            "type": "string",
                            "description": "URL of the generated screenshot file."
                          },
                          "sizes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Optional sizes payload returned by ScreenshotAPI."
                          },
                          "ttl": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiration timestamp for the generated file."
                          },
                          "url": {
                            "type": "string",
                            "description": "Captured page URL returned by ScreenshotAPI."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
