{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Upnify Universal API",
    "version": "0.0.8",
    "description": "Upnify CRM REST API wrapper for prospects, clients, opportunities, sales, companies, catalogs, and reports."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/upnify/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/upnify/latest/actions/create-client": {
      "post": {
        "operationId": "upnify.create-client",
        "summary": "Create Client",
        "description": "Creates a new client in Upnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upnify/latest/actions/create-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "nombre",
                  "empresa",
                  "telefono"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "nombre": {
                    "type": "string",
                    "description": "Contiene el nombre del nuevo cliente."
                  },
                  "tkEmpresa": {
                    "type": "string",
                    "description": "Código token que identifica de forma única a una empresa dentro el sistema, a la cuál pertenecerá el nuevo cliente.\n ¿Dónde obtengo el token?"
                  },
                  "apellidos": {
                    "type": "string",
                    "description": "Almacena los apellidos del cliente."
                  },
                  "titulo": {
                    "type": "string",
                    "description": "Almacena el título del cliente."
                  },
                  "puesto": {
                    "type": "string",
                    "description": "Almacena el puesto que ocupa el cliente en la empresa."
                  },
                  "empresa": {
                    "type": "string",
                    "description": "Almacena el nombre de la empresa a la que pertenece el cliente."
                  },
                  "correo": {
                    "type": "string",
                    "description": "Especifica el correo del cliente."
                  },
                  "noEmpleado": {
                    "type": "number",
                    "description": "Especifica el número de empleado del cliente en la empresa."
                  },
                  "calle": {
                    "type": "string",
                    "description": "Contiene el nombre o número de la calle, que forma parte de la ubicación del cliente."
                  },
                  "colonia": {
                    "type": "string",
                    "description": "Contiene el nombre o número de la colonia, que forma parte de la ubicación del cliente."
                  },
                  "telefono": {
                    "type": "string",
                    "description": "Almacena el número de teléfono que pertenece al cliente (Si tiene un valor no númerico, devolvera un String)."
                  },
                  "telefono2": {
                    "type": "string",
                    "description": "En caso de existir, se guarda un número de teléfono secundario del cliente (Si tiene un valor no númerico, devolvera un String)."
                  },
                  "movil": {
                    "type": "string",
                    "description": "Almacena un número de teléfono movil del cliente (Si tiene un valor no númerico, devolvera un String)."
                  },
                  "idPais": {
                    "type": "string",
                    "description": "Código que indica el país del nuevo cliente.\n ¿Donde obtengo el Id?"
                  },
                  "idEstado": {
                    "type": "string",
                    "description": "Código que indica un estado del país.\n ¿Donde obtengo el Id?"
                  },
                  "idMunicipio": {
                    "type": "string",
                    "description": "contiene un código que indica un municipio de un estado.\n ¿Donde obtengo el Id?"
                  },
                  "ciudad": {
                    "type": "string",
                    "description": "Contiene la ciudad del cliente."
                  },
                  "codigoPostal": {
                    "type": "string",
                    "description": "Indica el código postal del nuevo cliente."
                  },
                  "tkFase": {
                    "type": "string",
                    "description": "Código token que identifica de forma única a una fase dentro el sistema.\n ¿Donde obtengo el Token?"
                  },
                  "tkOrigen": {
                    "type": "string",
                    "description": "Código token que identifica de forma única a una fase dentro el sistema.\n ¿Donde obtengo el Token?"
                  },
                  "sexo": {
                    "type": "string",
                    "description": "Indica el sexo del nuevo cliente.\n - H Hombre.\n - M Mujer."
                  },
                  "url": {
                    "type": "string",
                    "description": "Contiene la url del sitio web del cliente."
                  },
                  "facebook": {
                    "type": "string",
                    "description": "Contiene la url del sitio de facebook del cliente."
                  },
                  "twitter": {
                    "type": "string",
                    "description": "Contiene la url del sitio de twitter del cliente."
                  },
                  "skype": {
                    "type": "string",
                    "description": "Contiene la url del sitio de skype del cliente."
                  },
                  "linkedin": {
                    "type": "string",
                    "description": "Contiene la url del sitio de linkedin del cliente."
                  },
                  "googlePlus": {
                    "type": "string",
                    "description": "Contiene la url del sitio de googlePlus del cliente."
                  },
                  "comentarios": {
                    "type": "string",
                    "description": "Contiene un comentario para el nuevo cliente."
                  },
                  "cp1": {
                    "type": "string",
                    "description": "Contiene el valor del primer campo personalizado, se pueden colocar hasta 100 y son definidos por el usuario."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "Response status code returned by Upnify when creating a client."
                          },
                          "details": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Additional result details, including the token of the created client when available."
                          },
                          "msg": {
                            "type": "string",
                            "description": "Human-readable result message returned by Upnify."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upnify/latest/actions/create-company": {
      "post": {
        "operationId": "upnify.create-company",
        "summary": "Create Company",
        "description": "Creates a new company in Upnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upnify/latest/actions/create-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "empresa",
                  "tkIndustria"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "empresa": {
                    "type": "string",
                    "description": "Contiene el nombre de la empresa."
                  },
                  "tkIndustria": {
                    "type": "string",
                    "description": "Código token que identifica de forma única a una industria en el sistema.\n ¿Dónde obtengo el token?"
                  },
                  "url": {
                    "type": "string",
                    "description": "Contiene la dirección de la página web de la empresa."
                  },
                  "telefonoCorporativo": {
                    "type": "string",
                    "description": "Indica el número de teléfono de la nueva empresa (Si tiene un valor no númerico, devolvera un String)."
                  },
                  "direccion1": {
                    "type": "string",
                    "description": "Dirección que representa la ubicación de la empresa."
                  },
                  "direccion2": {
                    "type": "string",
                    "description": "En caso de existir, se añade una segunda dirección."
                  },
                  "ciudad": {
                    "type": "string",
                    "description": "Ciudad donde se encuentra establecida la empresa."
                  },
                  "codigoPostal": {
                    "type": "string",
                    "description": "Código postal que pertenece a la zona de la empresa."
                  },
                  "idPais": {
                    "type": "string",
                    "description": "Clave del país donde se encuentra establecida la empresa.\n ¿Dónde obtengo el id?"
                  },
                  "idEstado": {
                    "type": "string",
                    "description": "Clave del estado del país donde se encuentra establecida la empresa.\n ¿Dónde obtengo el id?"
                  },
                  "idMunicipio": {
                    "type": "string",
                    "description": "Clave del municipio del estado donde se encuentra establecida la empresa.\n ¿Dónde obtengo el id?"
                  },
                  "numeroInterior": {
                    "type": "number",
                    "description": "Variable que forma parte de la dirección de la empresa."
                  },
                  "numeroExterior": {
                    "type": "number",
                    "description": "Variable que forma parte de la dirección de la empresa."
                  },
                  "tkCorporativo": {
                    "type": "string",
                    "description": "Código token que identifica a un Grupo de compañia."
                  },
                  "idExterno": {
                    "type": "string",
                    "description": "Identificador unico, no obligatorio para la interconexión con sistemas externos."
                  },
                  "numeroEmpleados": {
                    "type": "number",
                    "description": "Contiene un número de empleados de la empresa."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "Proporciona un código de verificación como respuesta.\n - 0 Proceso correcto.\n- 1 Falló la inserción.\n- 2 Faltan parámetros.\n- 3 Error al eliminar el registro.\n- 4 Token de sesión vencido.\n - 5 Fallo de procedimiento en base de datos.\n- 6 Permisos insuficientes.\n- 7 Mensajes en la lógica de negocios."
                          },
                          "details": {
                            "type": "string",
                            "description": "Contiene el token del nuevo registro creado, el nombre de la variable \"tkEmpresa\", deberá coincidir con el nombre de la variable que contiene el token del nuevo registro agregado."
                          },
                          "msg": {
                            "type": "string",
                            "description": "Proporciona un mensaje descriptivo o razón dependiendo el resultado."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upnify/latest/actions/create-product": {
      "post": {
        "operationId": "upnify.create-product",
        "summary": "Create Product",
        "description": "Creates a new product in Upnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upnify/latest/actions/create-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "idProductoServicioMx",
                  "idUnidadMx",
                  "codigo",
                  "nombre",
                  "costo",
                  "unidad",
                  "precioMinimo",
                  "existencia",
                  "tkMarca",
                  "tkLinea",
                  "precio1",
                  "comision1",
                  "impuesto1",
                  "impuestoR1"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "idProductoServicioMx": {
                    "type": "number",
                    "description": "Identificador que define el código del catálogo de productos del SAT utilizado.\n ¿Dónde obtengo el id?"
                  },
                  "idUnidadMx": {
                    "type": "number",
                    "description": "Identificador que define el código del catálogo de unidades del SAT.\n ¿Dónde obtengo el id?"
                  },
                  "codigo": {
                    "type": "string",
                    "description": "Contiene un código que puede ser establecido por el usuario para poder identificar el producto en el sistema."
                  },
                  "nombre": {
                    "type": "string",
                    "description": "Guarda el nombre con el que el producto que se registró en el sistema."
                  },
                  "costo": {
                    "type": "number",
                    "description": "Guarda el costo real del producto."
                  },
                  "unidad": {
                    "type": "string",
                    "description": "Muestra la unidad de medida utilizada para contabilizar el producto."
                  },
                  "precioMinimo": {
                    "type": "number",
                    "description": "Contiene el costo de venta al público del producto este precio no puede ser menor al costo real del producto."
                  },
                  "existencia": {
                    "type": "number",
                    "description": "Guarda la cantidad de productos disponibles."
                  },
                  "tkMarca": {
                    "type": "string",
                    "description": "Código que corresponde e identifica de forma única a una marca.\n ¿Dónde obtengo el token?"
                  },
                  "tkLinea": {
                    "type": "string",
                    "description": "Código que corresponde e identifica de forma única a una línea de productos.\n ¿Dónde obtengo el token?"
                  },
                  "precio1": {
                    "type": "number",
                    "description": "Establece el monto a asignar para la primera lista de precio configurada en el sistema.\nSe pueden colocar hasta 10 parámetros de precio, (\"precio1\",\"precio2\",\"precio3\", ...), uno por cada lista de precio configurada en el sistema.\nPara determinar que lista de precio corresponde a cada parámetro \"PRECIO\", es necesario obtener el \"indiceLista\" de las listas de precio.\n ¿Dónde obtengo el indice de la lista de precio?\nEl monto de mi lista de precio con \"indiceLista\": \"1\" , se debe enviar en el parámetro \"precio1\".\nEl monto de mi lista de precio con \"indiceLista\": \"2\" , se debe enviar en el parámetro \"precio2\".\nAsí sucesivamente."
                  },
                  "comision1": {
                    "type": "number",
                    "description": "Establece el monto a asignar para la primera comisión del producto.\nSe pueden colocar hasta 10 parámetros de comision, (\"comision1\",\"comision2\",\"comision3\", ...), uno por cada comisión configurada en el sistema.\nPara determinar que comisión corresponde a cada parámetro \"comision\", es necesario obtener el \"indiceComision\" de las comisiones configuradas.\n ¿Dónde obtengo el indice de las comisiones?\nEl monto de mi comision con \"indiceComision\": \"1\" , se debe enviar en el parámetro \"comision1\".\nEl monto de mi comision con \"indiceComision\": \"2\" , se debe enviar en el parámetro \"comision2\".\nAsí sucesivamente."
                  },
                  "impuesto1": {
                    "type": "number",
                    "description": "Establece el monto del primer impuesto trasladado configurado en el sistema.\nSe pueden colocar hasta 10 parámetros de impuesto, (\"impuesto1\",\"impuesto2\",\"impuesto3\", ...), uno por cada impuesto configurado en el sistema.\nPara determinar impuesto corresponde a cada parámetro \"impuesto\", es necesario obtener el \"indiceImpuesto\" de los impuestos configurados.\n ¿Dónde obtengo el indice de los impuestos?\nEl monto de mi impuesto con \"indiceImpuesto\": \"1\" , se debe enviar en el parámetro \"impuesto1\".\nEl monto de mi impuesto con \"indiceImpuesto\": \"2\" , se debe enviar en el parámetro \"impuesto2\".\nAsí sucesivamente."
                  },
                  "impuestoR1": {
                    "type": "number",
                    "description": "Establece el monto del primer impuesto retenido configurado en el sistema.\nSe pueden colocar hasta 10 parámetros de impuestoR, (\"impuestoR1\",\"impuestoR2\",\"impuestoR3\", ...), uno por cada impuesto configurado en el sistema.\nPara determinar impuesto corresponde a cada parámetro \"impuesto\", es necesario obtener el \"indiceImpuesto\" de los impuestos configurados.\n ¿Dónde obtengo el indice de los impuestos?\nEl monto de mi impuesto con \"indiceImpuesto\": \"1\" , se debe enviar en el parámetro \"impuestoR1\".\nEl monto de mi impuesto con \"indiceImpuesto\": \"2\" , se debe enviar en el parámetro \"impuestoR2\".\nAsí sucesivamente."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "Proporciona un código de verificación como respuesta."
                          },
                          "details": {
                            "type": "string",
                            "description": "Contiene el token del nuevo registro creado, el nombre de la variable \"tkNombreVariable\", deberá coincidir con el nombre de la variable que contiene el token del nuevo registro agregado."
                          },
                          "msg": {
                            "type": "string",
                            "description": "Proporciona un mensaje descriptivo o razón dependiendo el resultado.\n - 0 Proceso correcto.\n- 1 Falló la inserción.\n- 2 Faltan parámetros.\n- 3 Error al eliminar el registro.\n- 4 Token de sesión vencido.\n - 5 Fallo de procedimiento en base de datos.\n- 6 Permisos insuficientes.\n- 7 Mensajes en la lógica de negocios."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upnify/latest/actions/create-prospect": {
      "post": {
        "operationId": "upnify.create-prospect",
        "summary": "Create Prospect",
        "description": "Creates a new prospect in Upnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upnify/latest/actions/create-prospect"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "nombre",
                  "empresa",
                  "telefono"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "nombre": {
                    "type": "string",
                    "description": "Contiene el nombre del nuevo prospecto."
                  },
                  "tkEmpresa": {
                    "type": "string",
                    "description": "Código token que identifica de forma única a una empresa dentro el sistema, a la cuál pertenecerá el nuevo prospecto.\n ¿Dónde obtengo el token?"
                  },
                  "apellidos": {
                    "type": "string",
                    "description": "Almacena los apellidos del prospecto."
                  },
                  "titulo": {
                    "type": "string",
                    "description": "Almacena el título del prospecto."
                  },
                  "puesto": {
                    "type": "string",
                    "description": "Almacena el puesto que ocupa el prospecto en la empresa."
                  },
                  "empresa": {
                    "type": "string",
                    "description": "Almacena el nombre de la empresa a la que pertenece el prospecto."
                  },
                  "correo": {
                    "type": "string",
                    "description": "Especifica el correo del prospecto."
                  },
                  "noEmpleado": {
                    "type": "number",
                    "description": "Especifica el número de empleado del prospecto en la empresa."
                  },
                  "calle": {
                    "type": "string",
                    "description": "Contiene el nombre o número de la calle, que forma parte de la ubicación del prospecto."
                  },
                  "colonia": {
                    "type": "string",
                    "description": "Contiene el nombre o número de la colonia, que forma parte de la ubicación del prospecto."
                  },
                  "telefono": {
                    "type": "string",
                    "description": "Almacena el número de teléfono que pertenece al prospecto (Si tiene un valor no númerico, devolvera un String)."
                  },
                  "telefono2": {
                    "type": "string",
                    "description": "En caso de existir, se guarda un número de teléfono secundario del prospecto (Si tiene un valor no númerico, devolvera un String)."
                  },
                  "movil": {
                    "type": "string",
                    "description": "Almacena un número de teléfono movil del prospecto (Si tiene un valor no númerico, devolvera un String)."
                  },
                  "idPais": {
                    "type": "string",
                    "description": "Código que indica el país del nuevo prospecto.\n ¿Donde obtengo el Id?"
                  },
                  "idEstado": {
                    "type": "string",
                    "description": "Código que indica un estado del país.\n ¿Donde obtengo el Id?"
                  },
                  "idMunicipio": {
                    "type": "string",
                    "description": "contiene un código que indica un municipio de un estado.\n ¿Donde obtengo el Id?"
                  },
                  "ciudad": {
                    "type": "string",
                    "description": "Contiene la ciudad del prospecto."
                  },
                  "codigoPostal": {
                    "type": "string",
                    "description": "Indica el código postal del nuevo prospecto."
                  },
                  "tkFase": {
                    "type": "string",
                    "description": "Código token que identifica de forma única a una fase dentro el sistema.\n ¿Donde obtengo el Token?"
                  },
                  "tkOrigen": {
                    "type": "string",
                    "description": "Código token que identifica de forma única a una fase dentro el sistema.\n ¿Donde obtengo el Token?"
                  },
                  "sexo": {
                    "type": "string",
                    "description": "Indica el sexo del nuevo prospecto.\n - H Hombre.\n - M Mujer."
                  },
                  "url": {
                    "type": "string",
                    "description": "Contiene la url del sitio web del prospecto."
                  },
                  "facebook": {
                    "type": "string",
                    "description": "Contiene la url del sitio de facebook del prospecto."
                  },
                  "twitter": {
                    "type": "string",
                    "description": "Contiene la url del sitio de twitter del prospecto."
                  },
                  "skype": {
                    "type": "string",
                    "description": "Contiene la url del sitio de skype del prospecto."
                  },
                  "linkedin": {
                    "type": "string",
                    "description": "Contiene la url del sitio de linkedin del prospecto."
                  },
                  "googlePlus": {
                    "type": "string",
                    "description": "Contiene la url del sitio de googlePlus del prospecto."
                  },
                  "comentarios": {
                    "type": "string",
                    "description": "Contiene un comentario para el nuevo prospecto."
                  },
                  "cp1": {
                    "type": "string",
                    "description": "Contiene el valor del primer campo personalizado, se pueden colocar hasta 100 y son definidos por el usuario."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "Proporciona un código de verificación como respuesta.\n - 0 Proceso correcto.\n- 1 Falló la inserción.\n- 2 Faltan parámetros.\n- 3 Error al eliminar el registro.\n- 4 Token de sesión vencido.\n - 5 Fallo de procedimiento en base de datos.\n- 6 Permisos insuficientes.\n- 7 Mensajes en la lógica de negocios."
                          },
                          "details": {
                            "type": "string",
                            "description": "Contiene el token del nuevo registro creado, el nombre de la variable \"tkNombreVariable\", deberá coincidir con el nombre de la variable que contiene el token del nuevo registro agregado."
                          },
                          "msg": {
                            "type": "string",
                            "description": "Proporciona un mensaje descriptivo o razón dependiendo el resultado."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upnify/latest/actions/create-sale": {
      "post": {
        "operationId": "upnify.create-sale",
        "summary": "Create Sale",
        "description": "Creates a new sale in Upnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upnify/latest/actions/create-sale"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "tkProspecto",
                  "tkFase",
                  "tkLineaProducto",
                  "tkMoneda",
                  "tkCerteza",
                  "concepto",
                  "cantidad",
                  "referencia",
                  "fechaCierreVenta",
                  "monto",
                  "anticiposMonto",
                  "anticiposComision",
                  "comision",
                  "comisionMonto",
                  "saldoMonto",
                  "saldoComision",
                  "productos",
                  "pagos",
                  "tipoDeCambio",
                  "tipoComision",
                  "parcialidades",
                  "periodicidad",
                  "montoPagado",
                  "descuento",
                  "descuentoPct",
                  "subtotal",
                  "impuestos",
                  "impuestosRetenidos"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "tkProspecto": {
                    "type": "string",
                    "description": "Código token del prospecto al que se agregará la venta.\n ¿Dónde obtengo el token?"
                  },
                  "tkFase": {
                    "type": "string",
                    "description": "Código token que identificade forma única a una fase en el sistema.\n ¿Dónde obtengo el token?"
                  },
                  "tkLineaProducto": {
                    "type": "string",
                    "description": "Código token que identificade forma única a una línea de productos en el sistema.\n ¿Dónde obtengo el token?"
                  },
                  "tkMoneda": {
                    "type": "string",
                    "description": "Código token que identificade forma única a un tipo de moneda en el sistema.\n ¿Dónde obtengo el token?"
                  },
                  "tkCerteza": {
                    "type": "string",
                    "description": "Código token que identificade forma única a una certeza en el sistema.\n ¿Dónde obtengo el token?"
                  },
                  "concepto": {
                    "type": "string",
                    "description": "Identifica el concepto de la oportunidad."
                  },
                  "cantidad": {
                    "type": "number",
                    "description": "Identifica la cantidad de productos/servicios de la venta."
                  },
                  "referencia": {
                    "type": "string",
                    "description": "Identifica el motivo de la venta."
                  },
                  "fechaCierreVenta": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Contiene un formato compuesto por fecha y hora que indica cuando se realizó la venta."
                  },
                  "monto": {
                    "type": "number",
                    "description": "Cantidad monetaria con la que se generará la venta."
                  },
                  "anticiposMonto": {
                    "type": "number",
                    "description": "Cantidad monetaria que indica el monto que estan pagando de la venta."
                  },
                  "anticiposComision": {
                    "type": "number",
                    "description": "Cantidad monetaria que indica el monto que estan pagando de la comision de la venta."
                  },
                  "comision": {
                    "type": "number",
                    "description": "Indica una cantidad de comision con base 1, (donde 1 es el 100%)por el la venta."
                  },
                  "comisionMonto": {
                    "type": "number",
                    "description": "Cantidad monetaria que indica el monto total de comisión por la venta."
                  },
                  "saldoMonto": {
                    "type": "number",
                    "description": "Cantidad monetaría que identifica el saldo pendiente de la venta."
                  },
                  "saldoComision": {
                    "type": "number",
                    "description": "Cantidad monetaría que identifica el saldo pendiente de la comisión por la venta."
                  },
                  "productos": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Arreglo de datos en las que se agregan los productos relacionados a la venta."
                  },
                  "pagos": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Arreglo de datos en las que se agregan los pagos relacionados a la venta."
                  },
                  "tipoDeCambio": {
                    "type": "number",
                    "description": "Indica el tipo de cambio con el que se generará la venta."
                  },
                  "tipoComision": {
                    "type": "number",
                    "description": "Indica la forma en la que se pagarán las comisiones.\n - 0 Prorrateadas.\n - 1 Primer pago.\n - 2 Último pago.\n - 3 Manual."
                  },
                  "parcialidades": {
                    "type": "number",
                    "description": "Indica el numero de parcialidades en las que se liquidará la venta."
                  },
                  "periodicidad": {
                    "type": "number",
                    "description": "Indica la forma en la que se realizaran los pagos de la venta\n - 1 Mensual.\n - 2 Bimestral.\n - 3 Trimestral.\n - 4 Semestral.\n - 5 Anual.\n - 6 Otro.\n - 7 Semanal.\n - 8 Quincenal."
                  },
                  "montoPagado": {
                    "type": "number",
                    "description": "Indica el monto que se esta pagando de la venta."
                  },
                  "descuento": {
                    "type": "number",
                    "description": "Indica la cantidad monetaria del descuento realizado a la venta."
                  },
                  "descuentoPct": {
                    "type": "number",
                    "description": "Almacena un valor con base 1, donde 1 es el 100%. Este valor indica el porcentaje del descuento."
                  },
                  "subtotal": {
                    "type": "number",
                    "description": "Almacena una cantidad monetaria que indica el subtotal de la venta."
                  },
                  "impuestos": {
                    "type": "number",
                    "description": "Almacena una cantidad monetaria que indica el monto total de los impuestos trasladados de la venta."
                  },
                  "impuestosRetenidos": {
                    "type": "number",
                    "description": "Almacena una cantidad monetaria que indica el monto total de los impuestos retenidos de la venta."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "Proporciona un código de verificación como respuesta.\n - 0 Proceso correcto.\n- 1 Falló la inserción.\n- 2 Faltan parámetros.\n- 3 Error al eliminar el registro.\n- 4 Token de sesión vencido.\n - 5 Fallo de procedimiento en base de datos.\n- 6 Permisos insuficientes.\n- 7 Mensajes en la lógica de negocios."
                          },
                          "details": {
                            "type": "string",
                            "description": "Contiene el token del nuevo registro creado, el nombre de la variable \"tkNombreVariable\", deberá coincidir con el nombre de la variable que contiene el token del nuevo registro agregado."
                          },
                          "msg": {
                            "type": "string",
                            "description": "Proporciona un mensaje descriptivo o razón dependiendo el resultado."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upnify/latest/actions/create-user": {
      "post": {
        "operationId": "upnify.create-user",
        "summary": "Create User",
        "description": "Creates a new user in Upnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upnify/latest/actions/create-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "nombre",
                  "apellidos",
                  "email",
                  "tkGrupo",
                  "nivel",
                  "contrasenia1",
                  "contrasenia2"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "nombre": {
                    "type": "string",
                    "description": "Contiene el nombre de un usuario."
                  },
                  "apellidos": {
                    "type": "string",
                    "description": "Guarda los apellidos de un usuario."
                  },
                  "iniciales": {
                    "type": "string",
                    "description": "Almacena la primera letra del nombre y apellido de un usuario."
                  },
                  "email": {
                    "type": "string",
                    "description": "Almacena el correo electrónico de un usuario."
                  },
                  "tkGrupo": {
                    "type": "string",
                    "description": "Código token que corresponde a un grupo de usuarios al que pertenecerá el nuevo usuario.\n ¿Dónde obtengo el token?"
                  },
                  "nivel": {
                    "type": "number",
                    "description": "Código que define el nivel de privilegio de un usuario.\n - 1 Auditor.\n - 2 Gerente de ventas.\n - 3 Ejecutivo de ventas."
                  },
                  "verSistema": {
                    "type": "number",
                    "description": "Este código indica si el usuario tendrá permisos de administrador en el sistema, este valor es 1 cuando se desea crear un usuario de nivel \"Administrador del Sistema\" o \"Gerente de ventas\"\n - 0 No es administrador.\n - 1 Es administrador.",
                    "default": 0
                  },
                  "contrasenia1": {
                    "type": "string",
                    "description": "Almacena la contraseña establecida para el usuario."
                  },
                  "contrasenia2": {
                    "type": "string",
                    "description": "Se repite la contraseña establecida para el usuario."
                  },
                  "telefono": {
                    "type": "string",
                    "description": "Contiene el número de teléfono de un usuario (Si tiene un valor no númerico, devolvera un String)."
                  },
                  "movil": {
                    "type": "string",
                    "description": "Guarda el número de celular de un usuario (Si tiene un valor no númerico, devolvera un String)."
                  },
                  "puesto": {
                    "type": "string",
                    "description": "Define el puesto o cargo de de un usuarioen la empresa."
                  },
                  "pais": {
                    "type": "string",
                    "description": "Código que define el país al que pertenece el usuario.\n ¿Dónde obtengo el id?"
                  },
                  "gmt": {
                    "type": "number",
                    "description": "Guarda un código que define la zona horaria a la que pertenece un usuario.\n ¿Dónde obtengo el id?"
                  },
                  "estado": {
                    "type": "string",
                    "description": "Código que define un estado del país al que pertenece un usuario.\n ¿Dónde obtengo el id?"
                  },
                  "comisionUsuario": {
                    "type": "string",
                    "description": "Código token que identifica de forma única a una comisión en el sistema."
                  },
                  "crearEmpresas": {
                    "type": "number",
                    "description": "Código que indica si el usuario tiene permisos para crear empresas.\n - 0 No permitido.\n - 1 Permitido.",
                    "default": 0
                  },
                  "crearEtiquetas": {
                    "type": "number",
                    "description": "Código que indica si el usuario tiene permisos para crear etiquetas.\n - 0 No permitido.\n - 1 Permitido.",
                    "default": 0
                  },
                  "crearPlantillas": {
                    "type": "number",
                    "description": "Código que indica si el usuario tiene permisos para crear plantillas.\n - 0 No permitido.\n - 1 Permitido.",
                    "default": 0
                  },
                  "crearComunicaciones": {
                    "type": "number",
                    "description": "Código que indica si el usuario tiene permisos para crear comunicaciones.\n - 0 No permitido.\n - 1 Permitido.",
                    "default": 0
                  },
                  "crearDocumentos": {
                    "type": "number",
                    "description": "Código que indica si el usuario tiene permisos para crear documentos.\n - 0 No permitido.\n - 1 Permitido.",
                    "default": 0
                  },
                  "puedeExportar": {
                    "type": "number",
                    "description": "Código que indica si el usuario tiene permisos para exportar.\n - 0 No permitido.\n - 1 Permitido.",
                    "default": 0
                  },
                  "hacerDescuentos": {
                    "type": "number",
                    "description": "Código que indica si el usuario tiene permisos para hacer descuentos.\n - 0 No permitido.\n - 1 Permitido.",
                    "default": 0
                  },
                  "cambiarPrecios": {
                    "type": "number",
                    "description": "Código que indica si el usuario tiene permisos para modificar precios.\n - 0 No permitido.\n - 1 Permitido.",
                    "default": 0
                  },
                  "mantenimientoDb": {
                    "type": "number",
                    "description": "Código que indica si el usuario tiene permisos para realizar mantenimintos a las bases de datos.\n - 0 No permitido.\n - 1 Permitido.",
                    "default": 0
                  },
                  "etiquetar": {
                    "type": "number",
                    "description": "Código que indica si el usuario tiene permisos para realizar etiquetas.\n - 0 No permitido.\n - 1 Permitido.",
                    "default": 0
                  },
                  "puedeCompartir": {
                    "type": "number",
                    "description": "Código que indica si el usuario tiene permisos para compartir.\n - 0 No permitido.\n - 1 Permitido.",
                    "default": 0
                  },
                  "comisionUsuariol": {
                    "type": "number",
                    "description": "Código que indica si el usuario obtendrá algún tipo de comisión.\n - 0 No permitido.\n - 1 Permitido.",
                    "default": 0
                  },
                  "importar": {
                    "type": "number",
                    "description": "Código que indica si el usuario tiene permisos para realizar importaciones.\n - 1 No permitido.\n - 0 Permitido.",
                    "default": 0
                  },
                  "reasignar": {
                    "type": "number",
                    "description": "Código que indica si el usuario tiene permisos para realizar reasignaciones.\n - 0 No permitido.\n - 1 Permitido.",
                    "default": 0
                  },
                  "facturar": {
                    "type": "number",
                    "description": "Código que indica si el usuario tiene permisos para facturar.\n - 0 No permitido.\n - 1 Permitido.",
                    "default": 0
                  },
                  "cancelarFactura": {
                    "type": "number",
                    "description": "Código que indica si el usuario tiene permisos para cancelar facturas.\n - 0 No permitido.\n - 1 Permitido.",
                    "default": 0
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "Proporciona un código de verificación como respuesta."
                          },
                          "details": {
                            "type": "string",
                            "description": "Contiene el token del nuevo registro creado, el nombre de la variable \"tkNombreVariable\", deberá coincidir con el nombre de la variable que contiene el token del nuevo registro agregado."
                          },
                          "msg": {
                            "type": "string",
                            "description": "Proporciona un mensaje descriptivo o razón dependiendo el resultado.\n - 0 Proceso correcto.\n- 1 Falló la inserción.\n- 2 Faltan parámetros.\n- 3 Error al eliminar el registro.\n- 4 Token de sesión vencido.\n - 5 Fallo de procedimiento en base de datos.\n- 6 Permisos insuficientes.\n- 7 Mensajes en la lógica de negocios."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upnify/latest/actions/delete-client": {
      "delete": {
        "operationId": "upnify.delete-client",
        "summary": "Delete Client",
        "description": "Deletes an existing client from Upnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upnify/latest/actions/delete-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tkCliente",
            "in": "query",
            "required": true,
            "description": "El código token que identifica a un cliente de manera única dentro del CRM, el cual se requiere descartar.\n ¿Dónde obtengo el token?",
            "schema": {
              "type": "string",
              "description": "El código token que identifica a un cliente de manera única dentro del CRM, el cual se requiere descartar.\n ¿Dónde obtengo el token?"
            }
          },
          {
            "name": "tkRazonPerdida",
            "in": "query",
            "required": true,
            "description": "Código token que corresponde a una razón de descartado.\n ¿Dónde obtengo el token?",
            "schema": {
              "type": "string",
              "description": "Código token que corresponde a una razón de descartado.\n ¿Dónde obtengo el token?"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "Proporciona un código de verificación como respuesta."
                          },
                          "msg": {
                            "type": "string",
                            "description": "Proporciona un mensaje descriptivo o razón dependiendo el resultado.\n - 0 Proceso correcto.\n- 1 Falló la inserción.\n- 2 Faltan parámetros.\n- 3 Error al eliminar el registro.\n- 4 Token de sesión vencido.\n - 5 Fallo de procedimiento en base de datos.\n- 6 Permisos insuficientes.\n- 7 Mensajes en la lógica de negocios."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upnify/latest/actions/delete-company": {
      "delete": {
        "operationId": "upnify.delete-company",
        "summary": "Delete Company",
        "description": "Deletes an existing company from Upnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upnify/latest/actions/delete-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tkEmpresa",
            "in": "query",
            "required": true,
            "description": "Código token que identifica de forma única a una empresa en el sistema, la cual será eliminada.\n ¿Dónde obtengo el token?",
            "schema": {
              "type": "string",
              "description": "Código token que identifica de forma única a una empresa en el sistema, la cual será eliminada.\n ¿Dónde obtengo el token?"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "Proporciona un código de verificación como respuesta."
                          },
                          "msg": {
                            "type": "string",
                            "description": "Proporciona un mensaje descriptivo o razón dependiendo el resultado.\n - 0 Proceso correcto.\n- 1 Falló la inserción.\n- 2 Faltan parámetros.\n- 3 Error al eliminar el registro.\n- 4 Token de sesión vencido.\n - 5 Fallo de procedimiento en base de datos.\n- 6 Permisos insuficientes.\n- 7 Mensajes en la lógica de negocios."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upnify/latest/actions/delete-opportunity": {
      "delete": {
        "operationId": "upnify.delete-opportunity",
        "summary": "Delete Opportunity",
        "description": "Deletes an existing opportunity from Upnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upnify/latest/actions/delete-opportunity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tkOportunidad",
            "in": "query",
            "required": true,
            "description": "El código token que identifica a una oportunidad de manera única dentro del CRM, la cual se requiere eliminar.\n ¿Dónde obtengo el token?",
            "schema": {
              "type": "string",
              "description": "El código token que identifica a una oportunidad de manera única dentro del CRM, la cual se requiere eliminar.\n ¿Dónde obtengo el token?"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "Proporciona un código de verificación como respuesta.\n - 0 Proceso correcto.\n- 1 Falló la inserción.\n- 2 Faltan parámetros.\n- 3 Error al eliminar el registro.\n- 4 Token de sesión vencido.\n - 5 Fallo de procedimiento en base de datos.\n- 6 Permisos insuficientes.\n- 7 Mensajes en la lógica de negocios."
                          },
                          "msg": {
                            "type": "string",
                            "description": "Proporciona un mensaje descriptivo o razón dependiendo el resultado."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upnify/latest/actions/delete-prospect": {
      "delete": {
        "operationId": "upnify.delete-prospect",
        "summary": "Delete Prospect",
        "description": "Deletes an existing prospect from Upnify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upnify/latest/actions/delete-prospect"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tkProspecto",
            "in": "query",
            "required": true,
            "description": "El código token que identifica a un prospecto de manera única dentro del CRM, el cual requerimos descartar.\n ¿Dónde obtengo el token?",
            "schema": {
              "type": "string",
              "description": "El código token que identifica a un prospecto de manera única dentro del CRM, el cual requerimos descartar.\n ¿Dónde obtengo el token?"
            }
          },
          {
            "name": "tkRazonPerdida",
            "in": "query",
            "required": true,
            "description": "Código token que corresponde a una razón de descartado.\n ¿Dónde obtengo el token?",
            "schema": {
              "type": "string",
              "description": "Código token que corresponde a una razón de descartado.\n ¿Dónde obtengo el token?"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "Proporciona un código de verificación como respuesta.\n - 0 Proceso correcto.\n- 1 Falló la inserción.\n- 2 Faltan parámetros.\n- 3 Error al eliminar el registro.\n- 4 Token de sesión vencido.\n - 5 Fallo de procedimiento en base de datos.\n- 6 Permisos insuficientes.\n- 7 Mensajes en la lógica de negocios."
                          },
                          "msg": {
                            "type": "string",
                            "description": "Proporciona un mensaje descriptivo o razón dependiendo el resultado."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
[...]
