{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Vimeo Universal API",
    "version": "0.0.11",
    "description": "Manage Vimeo videos, uploads, folders, and playback"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/vimeo/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/vimeo/latest/actions/add-video-to-project": {
      "post": {
        "operationId": "vimeo.add-video-to-project",
        "summary": "Add Video to Project",
        "description": "Adds a video to a project in Vimeo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vimeo/latest/actions/add-video-to-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "userId",
                  "projectId",
                  "videoId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "userId": {
                    "type": "number",
                    "description": "The ID of the user.",
                    "example": 152184
                  },
                  "projectId": {
                    "type": "number",
                    "description": "The ID of the folder.",
                    "example": 12345
                  },
                  "videoId": {
                    "type": "number",
                    "description": "The ID of the video.",
                    "example": 33031367
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The raw response body. Vimeo returns an empty string on successful 204 No Content mutations."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vimeo/latest/actions/add-video-to-showcase": {
      "post": {
        "operationId": "vimeo.add-video-to-showcase",
        "summary": "Add Video to Showcase",
        "description": "Adds a video to a showcase in Vimeo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vimeo/latest/actions/add-video-to-showcase"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "userId",
                  "albumId",
                  "videoId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "userId": {
                    "type": "number",
                    "description": "The ID of the user who owns the showcase."
                  },
                  "albumId": {
                    "type": "number",
                    "description": "The ID of the showcase."
                  },
                  "videoId": {
                    "type": "number",
                    "description": "The ID of the video to add to the showcase."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The raw response body. Vimeo returns an empty string on successful 204 No Content mutations."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vimeo/latest/actions/delete-video": {
      "delete": {
        "operationId": "vimeo.delete-video",
        "summary": "Delete Video",
        "description": "Deletes an existing video from Vimeo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vimeo/latest/actions/delete-video"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoId",
            "in": "query",
            "required": true,
            "description": "The ID of the video.",
            "schema": {
              "type": "number",
              "description": "The ID of the video.",
              "example": 1146062919
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The raw response body. Vimeo returns an empty string on successful 204 No Content mutations."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vimeo/latest/actions/get-channel": {
      "get": {
        "operationId": "vimeo.get-channel",
        "summary": "Get Channel",
        "description": "Retrieves a channel record from Vimeo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vimeo/latest/actions/get-channel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "description": "The ID of the channel.",
            "schema": {
              "type": "number",
              "description": "The ID of the channel."
            }
          },
          {
            "name": "sizes",
            "in": "query",
            "required": false,
            "description": "The pixel dimensions of the image in {width}x{height} format.",
            "schema": {
              "type": "string",
              "description": "The pixel dimensions of the image in {width}x{height} format."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The channel categories."
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the channel was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "The channel description, when present."
                          },
                          "header": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The channel header image object."
                          },
                          "link": {
                            "type": "string",
                            "description": "The public Vimeo URL for the channel."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The channel metadata connections and interactions."
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the channel was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "The channel name."
                          },
                          "pictures": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The channel pictures object."
                          },
                          "privacy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The channel privacy settings."
                          },
                          "resourceKey": {
                            "type": "string",
                            "description": "The Vimeo resource key for the channel."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The tags associated with the channel."
                          },
                          "uri": {
                            "type": "string",
                            "description": "The channel URI."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The channel owner."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vimeo/latest/actions/get-project": {
      "get": {
        "operationId": "vimeo.get-project",
        "summary": "Get Project",
        "description": "Retrieves a project record from Vimeo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vimeo/latest/actions/get-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "The ID of the user.",
            "schema": {
              "type": "number",
              "description": "The ID of the user.",
              "example": 152184
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "The ID of the folder.",
            "schema": {
              "type": "number",
              "description": "The ID of the folder.",
              "example": 12345
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accessGrant": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The access grant for the project, when present."
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the project was created."
                          },
                          "isPinned": {
                            "type": "boolean",
                            "description": "Whether the project is pinned."
                          },
                          "isPrivateToUser": {
                            "type": "boolean",
                            "description": "Whether the project is private to the user."
                          },
                          "lastUserActionEventDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the last user action occurred in the project."
                          },
                          "link": {
                            "type": "string",
                            "description": "The public project link when Vimeo provides one."
                          },
                          "manageLink": {
                            "type": "string",
                            "description": "The Vimeo manage URL for the project."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The project metadata connections and interactions."
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the project was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "The project name."
                          },
                          "pinnedOn": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the project was pinned, when present."
                          },
                          "privacy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The project privacy settings."
                          },
                          "resourceKey": {
                            "type": "string",
                            "description": "The Vimeo resource key for the project."
                          },
                          "uri": {
                            "type": "string",
                            "description": "The project URI."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The project owner."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vimeo/latest/actions/get-showcase": {
      "get": {
        "operationId": "vimeo.get-showcase",
        "summary": "Get Showcase",
        "description": "Retrieves a showcase record from Vimeo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vimeo/latest/actions/get-showcase"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "The ID of the user.",
            "schema": {
              "type": "number",
              "description": "The ID of the user.",
              "example": 152184
            }
          },
          {
            "name": "albumId",
            "in": "query",
            "required": true,
            "description": "The ID of the showcase.",
            "schema": {
              "type": "number",
              "description": "The ID of the showcase.",
              "example": 40988
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the showcase was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "The showcase description."
                          },
                          "duration": {
                            "type": "number",
                            "description": "Total showcase duration in seconds."
                          },
                          "layout": {
                            "type": "string",
                            "description": "The showcase layout mode."
                          },
                          "link": {
                            "type": "string",
                            "description": "The public Vimeo showcase URL."
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the showcase was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "The showcase name."
                          },
                          "shareLink": {
                            "type": "string",
                            "description": "The share link for the showcase."
                          },
                          "sort": {
                            "type": "string",
                            "description": "The showcase sort mode."
                          },
                          "theme": {
                            "type": "string",
                            "description": "The showcase theme."
                          },
                          "totalClips": {
                            "type": "number",
                            "description": "Total number of clips in the showcase."
                          },
                          "uri": {
                            "type": "string",
                            "description": "The showcase API URI."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vimeo/latest/actions/get-user": {
      "get": {
        "operationId": "vimeo.get-user",
        "summary": "Get User",
        "description": "Retrieves a user record from Vimeo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vimeo/latest/actions/get-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "The ID of the user.",
            "schema": {
              "type": "number",
              "description": "The ID of the user.",
              "example": 152184
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "string",
                            "description": "Vimeo account tier."
                          },
                          "bio": {
                            "type": "string",
                            "description": "User biography."
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "User creation time."
                          },
                          "link": {
                            "type": "string",
                            "description": "User profile link."
                          },
                          "name": {
                            "type": "string",
                            "description": "User display name."
                          },
                          "pictures": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "User profile pictures."
                          },
                          "uri": {
                            "type": "string",
                            "description": "User URI."
                          },
                          "websites": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Linked websites."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vimeo/latest/actions/get-video": {
      "get": {
        "operationId": "vimeo.get-video",
        "summary": "Get Video",
        "description": "Retrieves a video record from Vimeo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vimeo/latest/actions/get-video"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoId",
            "in": "query",
            "required": true,
            "description": "The ID of the video.",
            "schema": {
              "type": "number",
              "description": "The ID of the video.",
              "example": 1146062919
            }
          },
          {
            "name": "timeLinks",
            "in": "query",
            "required": false,
            "description": "Whether to return timestamps in the description as links.",
            "schema": {
              "type": "boolean",
              "description": "Whether to return timestamps in the description as links.",
              "example": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Video creation time."
                          },
                          "description": {
                            "type": "string",
                            "description": "Video description."
                          },
                          "duration": {
                            "type": "number",
                            "description": "Video duration in seconds."
                          },
                          "link": {
                            "type": "string",
                            "description": "Video link."
                          },
                          "name": {
                            "type": "string",
                            "description": "Video title."
                          },
                          "pictures": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Video pictures."
                          },
                          "privacy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Video privacy settings."
                          },
                          "status": {
                            "type": "string",
                            "description": "Video status."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Video tags."
                          },
                          "uri": {
                            "type": "string",
                            "description": "Video URI."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Video owner."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vimeo/latest/actions/list-available-video-showcases": {
      "get": {
        "operationId": "vimeo.list-available-video-showcases",
        "summary": "List Available Video Showcases",
        "description": "Retrieves showcases available for a Vimeo video.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vimeo/latest/actions/list-available-video-showcases"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "videoId",
            "in": "query",
            "required": true,
            "description": "The ID of the video.",
            "schema": {
              "type": "number",
              "description": "The ID of the video."
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search text to filter the returned showcases.",
            "schema": {
              "type": "string",
              "description": "Search text to filter the returned showcases."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the showcase was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "The showcase description."
                          },
                          "duration": {
                            "type": "number",
                            "description": "Total showcase duration in seconds."
                          },
                          "layout": {
                            "type": "string",
                            "description": "The showcase layout mode."
                          },
                          "link": {
                            "type": "string",
                            "description": "The public Vimeo showcase URL."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The showcase metadata connections and interactions."
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the showcase was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "The showcase name."
                          },
                          "pictures": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The showcase pictures object."
                          },
                          "privacy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The showcase privacy settings."
                          },
                          "resourceKey": {
                            "type": "string",
                            "description": "The Vimeo resource key for the showcase."
                          },
                          "shareLink": {
                            "type": "string",
                            "description": "The share link for the showcase."
                          },
                          "sort": {
                            "type": "string",
                            "description": "The showcase sort mode."
                          },
                          "theme": {
                            "type": "string",
                            "description": "The showcase theme."
                          },
                          "totalClips": {
                            "type": "number",
                            "description": "Total number of clips in the showcase."
                          },
                          "uri": {
                            "type": "string",
                            "description": "The showcase API URI."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The showcase owner."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vimeo/latest/actions/list-channel-videos": {
      "get": {
        "operationId": "vimeo.list-channel-videos",
        "summary": "List Channel Videos",
        "description": "Retrieves videos in a Vimeo channel.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vimeo/latest/actions/list-channel-videos"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "description": "The ID of the channel.",
            "schema": {
              "type": "number",
              "description": "The ID of the channel."
            }
          },
          {
            "name": "containingUri",
            "in": "query",
            "required": false,
            "description": "The page that contains the video URI.",
            "schema": {
              "type": "string",
              "description": "The page that contains the video URI.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "The attribute by which to filter the results.",
            "schema": {
              "type": "string",
              "description": "The attribute by which to filter the results.",
              "enum": [
                "embeddable"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "filterEmbeddable",
            "in": "query",
            "required": false,
            "description": "Whether to filter the results by embeddable or non-embeddable videos.",
            "schema": {
              "type": "boolean",
              "description": "Whether to filter the results by embeddable or non-embeddable videos.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "The search query to use to filter the results.",
            "schema": {
              "type": "string",
              "description": "The search query to use to filter the results."
            }
          },
          {
            "name": "sizes",
            "in": "query",
            "required": false,
            "description": "The pixel dimensions of the image in {width}x{height} format.",
            "schema": {
              "type": "string",
              "description": "The pixel dimensions of the image in {width}x{height} format.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "app": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The originating Vimeo app information."
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The categories associated with the video."
                          },
                          "contentRating": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The content rating labels."
                          },
                          "contentRatingClass": {
                            "type": "string",
                            "description": "The normalized content rating classification."
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the video was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "The video description, when present."
                          },
                          "duration": {
                            "type": "number",
                            "description": "The video duration in seconds."
                          },
                          "embed": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The embed settings and iframe HTML."
                          },
                          "hasAudio": {
                            "type": "boolean",
                            "description": "Whether the video has audio."
                          },
                          "height": {
                            "type": "number",
                            "description": "The video height in pixels."
                          },
                          "isPlayable": {
                            "type": "boolean",
                            "description": "Whether the video is playable."
                          },
                          "language": {
                            "type": "string",
                            "description": "The video language, when present."
                          },
                          "license": {
                            "type": "string",
                            "description": "The video license, when present."
                          },
                          "link": {
                            "type": "string",
                            "description": "The public Vimeo URL for the video."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The video metadata connections and interactions."
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the video was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "The video name."
                          },
                          "pictures": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The video pictures object."
                          },
                          "play": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Playability details."
                          },
                          "playerEmbedUrl": {
                            "type": "string",
                            "description": "The embeddable player URL."
                          },
                          "privacy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The video privacy settings."
                          },
                          "ratingModLocked": {
                            "type": "boolean",
                            "description": "Whether rating moderation is locked."
                          },
                          "releaseTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the video was released."
                          },
                          "resourceKey": {
                            "type": "string",
                            "description": "The Vimeo resource key for the video."
                          },
                          "stats": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The video statistics object."
                          },
                          "status": {
                            "type": "string",
                            "description": "The video status."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The tags associated with the video."
                          },
                          "transcode": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Transcode details, when present."
                          },
                          "type": {
                            "type": "string",
                            "description": "The Vimeo resource type."
                          },
                          "upload": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Upload details, when present."
                          },
                          "uploader": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Uploader display information."
                          },
                          "uri": {
                            "type": "string",
                            "description": "The video URI."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The video owner."
                          },
                          "width": {
                            "type": "number",
                            "description": "The video width in pixels."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vimeo/latest/actions/list-channels": {
      "get": {
        "operationId": "vimeo.list-channels",
        "summary": "List Channels",
        "description": "Retrieves channel records from the Vimeo API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vimeo/latest/actions/list-channels"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "The search query to use to filter the returned channels.",
            "schema": {
              "type": "string",
              "description": "The search query to use to filter the returned channels."
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Return only channels that match the selected channel filter.",
            "schema": {
              "type": "string",
              "description": "Return only channels that match the selected channel filter.",
              "enum": [
                "featured"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The channel categories."
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the channel was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "The channel description, when present."
                          },
                          "header": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The channel header image object."
                          },
                          "link": {
                            "type": "string",
                            "description": "The public Vimeo URL for the channel."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The channel metadata connections and interactions."
                          },
                          "modifiedTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the channel was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "The channel name."
                          },
                          "pictures": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The channel pictures object."
                          },
                          "privacy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The channel privacy settings."
                          },
                          "resourceKey": {
                            "type": "string",
                            "description": "The Vimeo resource key for the channel."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The tags associated with the channel."
                          },
                          "uri": {
                            "type": "string",
                            "description": "The channel URI."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The channel owner."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
[...]
