{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Avaza Universal API",
    "version": "0.0.7",
    "description": "Manage projects, tasks, timesheets, expenses, invoices, and estimates"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/avaza/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/avaza/latest/actions/create-bill": {
      "post": {
        "operationId": "avaza.create-bill",
        "summary": "Create Bill",
        "description": "Creates a new bill in Avaza.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avaza/latest/actions/create-bill"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "lineitems",
                  "lineitems[].quantity",
                  "lineitems[].unitprice"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "transactionprefix": {
                    "type": "string",
                    "description": "A prefix for the Invoice number. e.g. 'INV'. If left blank it will be set to the account default. Max length 20 characters."
                  },
                  "billnumber": {
                    "type": "string",
                    "description": "Pass any string. If left blank it will use the next number in the auto incrementing sequence. If an integer is passed then the largest integer will be use as the seed to auto generate the next invoice number in the sequence."
                  },
                  "companyidfk": {
                    "type": "number",
                    "description": "If left blank then you must specify Company Name."
                  },
                  "companyname": {
                    "type": "string",
                    "description": "If left blank then you must specify Company ID. Specified Name will be used to match existing customer record. If not matched then it will be used to create a new customer. First Name, Last Name and Email will only be used if it is a new company. If the Company name appears multiple times we will check the email address to find a matching company. If email address doesn't identify a matching company then the invoice creation will be rejected."
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Specified value will be used to create a new customer contact only if a new customer is being created."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Specified value will be used to create a new customer contact only if a new customer is being created."
                  },
                  "email": {
                    "type": "string",
                    "description": "Specified value will be used to create a new customer contact only if a new customer is being created."
                  },
                  "currencycode": {
                    "type": "string",
                    "description": "Expects ISO Standard 3 character currency code. If left blank the currency will default to account's currency in general setting. For existing companies this field will be ignored and the invoice will use the currency of the customer. For new customers if the currency is not specified then account currency will be used otherwise the specified currency will be used."
                  },
                  "exchangerate": {
                    "type": "number",
                    "description": "Exchange rate is only valid for invoices in currency other than default account currency. If not specified it will get the market rate based on the Date Issued."
                  },
                  "billtemplateidfk": {
                    "type": "number",
                    "description": "If left blank the account default invoice template will be used."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Plain UTF8 text. (no HTML). 255 characters max"
                  },
                  "supplierponumber": {
                    "type": "string",
                    "description": "Plain UTF8 text. 100 characters max"
                  },
                  "dateissued": {
                    "type": "string",
                    "format": "date-time",
                    "description": "If not specified it will use today's date. The date should be specified as local date."
                  },
                  "paymentterms": {
                    "type": "number",
                    "description": "\"If left blank we will set it to customer default. If specified then it must match one of your existing pre configured payment term periods. Your account starts with:\r\n(-1 --- Custom, 0 --- Upon Receipt, 7 --- 7 Days, 15 --- 15 Days, 30 --- 30 Days, 45 --- 45 Days, 60 --- 60 Days)"
                  },
                  "duedate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "It will be auto calculated based on the payment term and issue date. Due Date must be greater than or equal to Issue Date. If the Due Date is specified then Payment Terms will be set to -1 (Custom)"
                  },
                  "transactiontaxconfigcode": {
                    "type": "string",
                    "description": "Possible values are (EX --- Tax Exclusive, INC --- Tax Inclusive). If left empty it will use the account default."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Plain UTF8 text. (no HTML). Max 2000 characters"
                  },
                  "lineitems": {
                    "type": "string"
                  },
                  "lineitems[].inventoryitemidfk": {
                    "type": "number",
                    "description": "If not specified then Inventory Item Name must be specified."
                  },
                  "lineitems[].inventoryitemname": {
                    "type": "string",
                    "description": "If not specified then Inventory item ID must be specified. If specified and not matched to any existing inventory items then a new inventory item will be created. Max 200 characters."
                  },
                  "lineitems[].description": {
                    "type": "string",
                    "description": "Plain UTF8 text. (no HTML)"
                  },
                  "lineitems[].quantity": {
                    "type": "number",
                    "description": "The quantity for the line item"
                  },
                  "lineitems[].unitprice": {
                    "type": "number",
                    "description": "The unit price for the lineitem."
                  },
                  "lineitems[].taxidfk": {
                    "type": "number",
                    "description": "If specified then it must match an existing Tax ID. If not specified then Tax Name and Tax Percent must be specified."
                  },
                  "lineitems[].taxname": {
                    "type": "string",
                    "description": "Must be specified if the Tax ID is blank. If the Tax Name is specified it will be matched to an existing Tax Name or else a new Tax will be created."
                  },
                  "lineitems[].taxpercent": {
                    "type": "number",
                    "description": "The Tax Percent will only be used if a new tax is being created."
                  },
                  "lineitems[].discount": {
                    "type": "number",
                    "description": "Enter 10.5 to give a 10.5% discount"
                  },
                  "lineitems[].projectidfk": {
                    "type": "number",
                    "description": "Optional. Project ID of an Avaza Project that belongs to this customer, so line item is attributed to that Project for reporting."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avaza/latest/actions/create-bill-payment": {
      "post": {
        "operationId": "avaza.create-bill-payment",
        "summary": "Create Bill Payment",
        "description": "Creates a new bill payment in Avaza.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avaza/latest/actions/create-bill-payment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "paymentallocations"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amount": {
                    "type": "number"
                  },
                  "paymentnumber": {
                    "type": "string",
                    "description": "Optional. If not specified will be automatically generated"
                  },
                  "dateissued": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date of Payment. If not specified, assumes today."
                  },
                  "transactionprefix": {
                    "type": "string",
                    "description": "Optional to override the default prefix added to Payment Numbers"
                  },
                  "companyidfk": {
                    "type": "number",
                    "description": "Only required if no invoice allocations specified."
                  },
                  "exchangerate": {
                    "type": "number",
                    "description": "Optional. Only used when the Company's currency is different from the Avaza account's base currency. Specifies the exchange rate that should apply between the Company currency and base currency. If not provided we will obtain an up to date exchange rate for the Payment Issue Date."
                  },
                  "transactionreference": {
                    "type": "string",
                    "description": "Optional for storing the reference # of the payment method."
                  },
                  "notes": {
                    "type": "string"
                  },
                  "paymentprovidercode": {
                    "type": "string",
                    "description": "Optional for storing the payment provider who was the source of funds."
                  },
                  "currencycode": {
                    "type": "string",
                    "description": "Optional for specifying the Bill Payment's Currency (3 letter ISO Currency Code)."
                  },
                  "paymentallocations": {
                    "type": "string",
                    "description": "List of amounts within this payment that are allocated to invoices. The sum of these be less than or equal to the payment amount."
                  },
                  "paymentallocations[].billtransactionidfk": {
                    "type": "number",
                    "description": "The Avaza Bill TransactionID that is having a payment amount allocated to it."
                  },
                  "paymentallocations[].allocationamount": {
                    "type": "number",
                    "description": "The Amount being allocated to the bill. Expects same currency as bill currency"
                  },
                  "paymentallocations[].allocationdate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional. Defaults to the current time in the Avaza account's timezone. The date the allocation is applied to the bill. Can be different from the Payment Date when doing prepayments etc."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avaza/latest/actions/create-company": {
      "post": {
        "operationId": "avaza.create-company",
        "summary": "Create Company",
        "description": "Creates a new company in Avaza.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avaza/latest/actions/create-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "companyname"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyname": {
                    "type": "string"
                  },
                  "currencycode": {
                    "type": "string"
                  },
                  "billingaddressline": {
                    "type": "string"
                  },
                  "billingaddresscity": {
                    "type": "string"
                  },
                  "billingaddressstate": {
                    "type": "string"
                  },
                  "billingaddresspostcode": {
                    "type": "string"
                  },
                  "billingcountrycode": {
                    "type": "string"
                  },
                  "billingaddress": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "fax": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  },
                  "taxnumber": {
                    "type": "string"
                  },
                  "comments": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avaza/latest/actions/create-contact": {
      "post": {
        "operationId": "avaza.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in Avaza.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avaza/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contactemail",
                  "firstname",
                  "lastname"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyidfk": {
                    "type": "number"
                  },
                  "companyname": {
                    "type": "string"
                  },
                  "currencycode": {
                    "type": "string"
                  },
                  "companybillingaddress": {
                    "type": "string"
                  },
                  "companybillingaddressline": {
                    "type": "string"
                  },
                  "companybillingaddresscity": {
                    "type": "string"
                  },
                  "companybillingaddressstate": {
                    "type": "string"
                  },
                  "companybillingaddresspostcode": {
                    "type": "string"
                  },
                  "companybillingaddresscountrycode": {
                    "type": "string"
                  },
                  "contactemail": {
                    "type": "string"
                  },
                  "firstname": {
                    "type": "string"
                  },
                  "lastname": {
                    "type": "string"
                  },
                  "positiontitle": {
                    "type": "string"
                  },
                  "mobile": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "updateexisting": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avaza/latest/actions/create-estimate": {
      "post": {
        "operationId": "avaza.create-estimate",
        "summary": "Create Estimate",
        "description": "Creates a new estimate in Avaza.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avaza/latest/actions/create-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "lineitems",
                  "lineitems[].quantity",
                  "lineitems[].unitprice"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "estimateprefix": {
                    "type": "string",
                    "description": "A prefix for the Estimate number. e.g. 'INV'. If left blank it will be set to the account default. Max length 20 characters."
                  },
                  "estimatenumber": {
                    "type": "string",
                    "description": "Pass any string. If left blank it will use the next number in the auto incrementing sequence. If an integer is passed then the largest integer will be use as the seed to auto generate the next Estimate number in the sequence."
                  },
                  "companyidfk": {
                    "type": "number",
                    "description": "If left blank then you must specify Company Name."
                  },
                  "companyname": {
                    "type": "string",
                    "description": "If left blank then you must specify Company ID. Specified Name will be used to match existing customer record. If not matched then it will be used to create a new customer. First Name, Last Name and Email will only be used if it is a new company. If the Company name appears multiple times we will check the email address to find a matching company. If email address doesn't identify a matching company then the Estimate creation will be rejected."
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Specified value will be used to create a new customer contact only if a new customer is being created."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Specified value will be used to create a new customer contact only if a new customer is being created."
                  },
                  "email": {
                    "type": "string",
                    "description": "Specified value will be used to create a new customer contact only if a new customer is being created."
                  },
                  "currencycode": {
                    "type": "string",
                    "description": "Expects ISO Standard 3 character currency code. If left blank the currency will default to account's currency in general setting. For existing companies this field will be ignored and the Estimate will use the currency of the customer. For new customers if the currency is not specified then account currency will be used otherwise the specified currency will be used."
                  },
                  "exchangerate": {
                    "type": "number",
                    "description": "Exchange rate is only valid for Estimates in currency other than default account currency. If not specified it will get the market rate based on the Date Issued."
                  },
                  "invoicetemplateidfk": {
                    "type": "number",
                    "description": "If left blank the account default Estimate template will be used."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Plain UTF8 text. (no HTML). 255 characters max"
                  },
                  "customerponumber": {
                    "type": "string",
                    "description": "Plain UTF8 text. 100 characters max"
                  },
                  "dateissued": {
                    "type": "string",
                    "format": "date-time",
                    "description": "If not specified it will use today's date. The date should be specified as local date."
                  },
                  "duedate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "It will be auto calculated based on the payment term and issue date. Due Date must be greater than or equal to Issue Date. If the Due Date is specified then Payment Terms will be set to -1 (Custom)"
                  },
                  "estimatetaxconfigcode": {
                    "type": "string",
                    "description": "Possible values are (EX --- Tax Exclusive, INC --- Tax Inclusive). If left empty it will use the account default."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Plain UTF8 text. (no HTML). Max 2000 characters"
                  },
                  "lineitems": {
                    "type": "string"
                  },
                  "lineitems[].inventoryitemidfk": {
                    "type": "number",
                    "description": "If not specified then Inventory Item Name must be specified."
                  },
                  "lineitems[].inventoryitemname": {
                    "type": "string",
                    "description": "If not specified then Inventory item ID must be specified. If specified and not matched to any existing inventory items then a new inventory item will be created. Max 200 characters."
                  },
                  "lineitems[].description": {
                    "type": "string",
                    "description": "Plain UTF8 text. (no HTML)"
                  },
                  "lineitems[].quantity": {
                    "type": "number",
                    "description": "The quantity for the line item"
                  },
                  "lineitems[].unitprice": {
                    "type": "number",
                    "description": "The unit price for the lineitem."
                  },
                  "lineitems[].taxidfk": {
                    "type": "number",
                    "description": "If specified then it must match an existing Tax ID. If not specified then Tax Name and Tax Percent must be specified."
                  },
                  "lineitems[].taxname": {
                    "type": "string",
                    "description": "Must be specified if the Tax ID is blank. If the Tax Name is specified it will be matched to an existing Tax Name or else a new Tax will be created."
                  },
                  "lineitems[].taxpercent": {
                    "type": "number",
                    "description": "The Tax Percent will only be used if a new tax is being created."
                  },
                  "lineitems[].discount": {
                    "type": "number",
                    "description": "Enter 10.5 to give a 10.5% discount"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avaza/latest/actions/create-expense": {
      "post": {
        "operationId": "avaza.create-expense",
        "summary": "Create Expense",
        "description": "Creates a new expense in Avaza.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avaza/latest/actions/create-expense"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileattachmentids"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "expensedate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date of the expense entry (Required)"
                  },
                  "useridfk": {
                    "type": "number",
                    "description": "UserID for a Timesheet/Expense user in Avaza. If not provided, UserEmail field must be provided"
                  },
                  "useremail": {
                    "type": "string",
                    "description": "The email address of a Timesheet/Expense user in Avaza. If not provided, UserIDFK field must be provided."
                  },
                  "expensecategoryidfk": {
                    "type": "number",
                    "description": "The expense category to link the Expense to. If not provided, ExpenseCategoryName must be provided"
                  },
                  "expensecategoryname": {
                    "type": "string",
                    "description": "Must match an existing expense category name otherwise a new category will be created. If left blank Expense Category ID must be provided."
                  },
                  "ischargeable": {
                    "type": "boolean",
                    "description": "aka Billable. Defaults to false if not provided. If set to true, a CustomerIDFK or CustomerName must be provided."
                  },
                  "isreimbursable": {
                    "type": "boolean",
                    "description": "Defaults to false if not provided."
                  },
                  "quantity": {
                    "type": "number",
                    "description": "Conditional - available for expenses that are assigned a unit priced based expense category. e.g Mileage"
                  },
                  "customeridfk": {
                    "type": "number",
                    "description": "The Avaza Customer ID to associate the Expense with. Either this field or CustomerName can be provided."
                  },
                  "customername": {
                    "type": "string",
                    "description": "The name of an existing customer in Avaza. Must be an exact (case insensitive) match."
                  },
                  "projectidfk": {
                    "type": "number",
                    "description": "The Avaza project ID to associate the Expense with."
                  },
                  "projectname": {
                    "type": "string",
                    "description": "Can work for matching an expense to a project, but only if it's an exact match for a single project under the customer."
                  },
                  "taskidfk": {
                    "type": "number",
                    "description": "(optional) TaskID of a Task to link the new Expense to. A Customer and Project must be provided also."
                  },
                  "currencycode": {
                    "type": "string",
                    "description": "A 3-letter ISO CurrencyCode for the expense currency. (e.g. USD). If not provided, defaults to the Account base currency."
                  },
                  "exchangerate": {
                    "type": "number",
                    "description": "Optional (Only relevant if the expense currency is different to your account currency. If not provided we will look up the market exchange rate for you based on the expense date.) Exchange Rate = Expense Currency Amount / Base Currency Amount (e.g. if Expense currency is in AUD, and Base Currency is in USD, Exchange Rate = AUD $140 / USD $100 = 1.4)"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Expense Amount (Required). Must be &gt;= 0"
                  },
                  "taxidfk": {
                    "type": "number",
                    "description": "Avaza Tax ID the expense belongs to. If left blank then Tax Name must be provided."
                  },
                  "taxname": {
                    "type": "string",
                    "description": "Must exactly match an existing Tax Name that you have configured in Avaza Tax settings. If left blank then Tax ID must be provided."
                  },
                  "transactiontaxconfigcode": {
                    "type": "string",
                    "description": "Optional - Enter \"INC\" if the tax amount is included in the expense amount otherwise enter \"EX\" when the amount exlcudes the tax. Defaults to \"Ex\". The tax amount on the expense will be autocalculated."
                  },
                  "grouptripname": {
                    "type": "string",
                    "description": "Links the expense to a Grouping/Trip report. If no matching name found, creates a new Group/Trip Report name."
                  },
                  "expensepaymentmethodidfk": {
                    "type": "number",
                    "description": "(Optional) ID of Expense Payment Method."
                  },
                  "merchant": {
                    "type": "string",
                    "description": "The name of the merchant."
                  },
                  "merchanttaxnumber": {
                    "type": "string",
                    "description": "A Tax number identifier for the merchant."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Expense Notes"
                  },
                  "verifyandsave": {
                    "type": "boolean",
                    "description": "Pass false if creating a draft expense. True otherwise."
                  },
                  "fileattachmentids": {
                    "type": "string",
                    "description": "Array of File Attachment IDs to associate with this expense. The files need to have already been uploaded. Currently only accepts a single file."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avaza/latest/actions/create-expense-attachment": {
      "post": {
        "operationId": "avaza.create-expense-attachment",
        "summary": "Create Expense Attachment",
        "description": "Uploads an expense attachment to Avaza.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avaza/latest/actions/create-expense-attachment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "Upload software package"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avaza/latest/actions/create-invoice": {
      "post": {
        "operationId": "avaza.create-invoice",
        "summary": "Create Invoice",
        "description": "Creates a new invoice in Avaza.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avaza/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "lineitems",
                  "lineitems[].quantity",
                  "lineitems[].unitprice"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "transactionprefix": {
                    "type": "string",
                    "description": "A prefix for the Invoice number. e.g. 'INV'. If left blank it will be set to the account default. Max length 20 characters."
                  },
                  "invoicenumber": {
                    "type": "string",
                    "description": "Pass any string. If left blank it will use the next number in the auto incrementing sequence. If an integer is passed then the largest integer will be use as the seed to auto generate the next invoice number in the sequence."
                  },
                  "companyidfk": {
                    "type": "number",
                    "description": "If left blank then you must specify Company Name."
                  },
                  "companyname": {
                    "type": "string",
                    "description": "If left blank then you must specify Company ID. Specified Name will be used to match existing customer record. If not matched then it will be used to create a new customer. First Name, Last Name and Email will only be used if it is a new company. If the Company name appears multiple times we will check the email address to find a matching company. If email address doesn't identify a matching company then the invoice creation will be rejected."
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Specified value will be used to create a new customer contact only if a new customer is being created."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Specified value will be used to create a new customer contact only if a new customer is being created."
                  },
                  "email": {
                    "type": "string",
                    "description": "Specified value will be used to create a new customer contact only if a new customer is being created."
                  },
                  "currencycode": {
                    "type": "string",
                    "description": "Expects ISO Standard 3 character currency code. If left blank the currency will default to account's currency in general setting. For existing companies this field will be ignored and the invoice will use the currency of the customer. For new customers if the currency is not specified then account currency will be used otherwise the specified currency will be used."
                  },
                  "exchangerate": {
                    "type": "number",
                    "description": "Exchange rate is only valid for invoices in currency other than default account currency. If not specified it will get the market rate based on the Date Issued."
                  },
                  "invoicetemplateidfk": {
                    "type": "number",
                    "description": "If left blank the account default invoice template will be used."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Plain UTF8 text. (no HTML). 255 characters max"
                  },
                  "customerponumber": {
                    "type": "string",
                    "description": "Plain UTF8 text. 100 characters max"
                  },
                  "dateissued": {
                    "type": "string",
                    "format": "date-time",
                    "description": "If not specified it will use today's date. The date should be specified as local date."
                  },
                  "paymentterms": {
                    "type": "number",
                    "description": "\"If left blank we will set it to customer default. If specified then it must match one of your existing pre configured payment term periods. Your account starts with:\r\n(-1 --- Custom, 0 --- Upon Receipt, 7 --- 7 Days, 15 --- 15 Days, 30 --- 30 Days, 45 --- 45 Days, 60 --- 60 Days)"
                  },
                  "duedate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "It will be auto calculated based on the payment term and issue date. Due Date must be greater than or equal to Issue Date. If the Due Date is specified then Payment Terms will be set to -1 (Custom)"
                  },
                  "transactiontaxconfigcode": {
                    "type": "string",
                    "description": "Possible values are (EX --- Tax Exclusive, INC --- Tax Inclusive). If left empty it will use the account default."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Plain UTF8 text. (no HTML). Max 2000 characters"
                  },
                  "lineitems": {
                    "type": "string"
                  },
                  "lineitems[].inventoryitemidfk": {
                    "type": "number",
                    "description": "If not specified then Inventory Item Name must be specified."
                  },
                  "lineitems[].inventoryitemname": {
                    "type": "string",
                    "description": "If not specified then Inventory item ID must be specified. If specified and not matched to any existing inventory items then a new inventory item will be created. Max 200 characters."
                  },
                  "lineitems[].description": {
                    "type": "string",
                    "description": "Plain UTF8 text. (no HTML)"
                  },
                  "lineitems[].quantity": {
                    "type": "number",
                    "description": "The quantity for the line item"
                  },
                  "lineitems[].unitprice": {
                    "type": "number",
                    "description": "The unit price for the lineitem."
                  },
                  "lineitems[].taxidfk": {
                    "type": "number",
                    "description": "If specified then it must match an existing Tax ID. If not specified then Tax Name and Tax Percent must be specified."
                  },
                  "lineitems[].taxname": {
                    "type": "string",
                    "description": "Must be specified if the Tax ID is blank. If the Tax Name is specified it will be matched to an existing Tax Name or else a new Tax will be created."
                  },
                  "lineitems[].taxpercent": {
                    "type": "number",
                    "description": "The Tax Percent will only be used if a new tax is being created."
                  },
                  "lineitems[].discount": {
                    "type": "number",
                    "description": "Enter 10.5 to give a 10.5% discount"
                  },
                  "lineitems[].projectidfk": {
                    "type": "number",
                    "description": "Optional. Project ID of an Avaza Project that belongs to this customer, so line item is attributed to that Project for reporting."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avaza/latest/actions/create-leave-booking": {
      "post": {
        "operationId": "avaza.create-leave-booking",
        "summary": "Create Leave Booking",
        "description": "Creates a leave booking in Avaza.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avaza/latest/actions/create-leave-booking"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "leaveuseridfk": {
                    "type": "number"
                  },
                  "leavenotify": {
                    "type": "boolean"
                  },
                  "leavehoursperday": {
                    "type": "number"
                  },
                  "leavetypeidfk": {
                    "type": "number"
                  },
                  "leavenotes": {
                    "type": "string"
                  },
                  "leavestartdate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "leaveenddate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "leavestarttime": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avaza/latest/actions/create-payment": {
      "post": {
        "operationId": "avaza.create-payment",
        "summary": "Create Payment",
        "description": "Creates a new payment in Avaza.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avaza/latest/actions/create-payment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "paymentallocations"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amount": {
                    "type": "number"
                  },
                  "paymentnumber": {
                    "type": "string",
                    "description": "Optional. If not specified will be automatically generated"
                  },
                  "dateissued": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date of Payment. If not specified, assumes today."
                  },
                  "transactionprefix": {
                    "type": "string",
                    "description": "Optional to override the default prefix added to Payment Numbers"
                  },
                  "customeridfk": {
                    "type": "number",
                    "description": "Only required if no invoice allocations specified."
                  },
                  "exchangerate": {
                    "type": "number",
                    "description": "Optional. Only used when the Customer's currecy is different from the Avaza account's base currency. Specifies the exchange rate that should apply between the customer currency and base currency. If not provided we will obtain an up to date exchange rate for the Payment Issue Date."
                  },
                  "transactionreference": {
                    "type": "string",
                    "description": "Optional for storing the reference # of the payment method."
                  },
                  "notes": {
                    "type": "string"
                  },
                  "paymentprovidercode": {
                    "type": "string",
                    "description": "Optional for storing the payment provider who was the source of funds."
                  },
                  "paymentallocations": {
                    "type": "string",
                    "description": "List of amounts within this payment that are allocated to invoices. The sum of these be less than or equal to the payment amount."
                  },
                  "paymentallocations[].invoicetransactionidfk": {
                    "type": "number",
                    "description": "The Avaza Invoice TransactionID that is having a payment amount allocated to it."
                  },
                  "paymentallocations[].allocationamount": {
                    "type": "number",
                    "description": "The Amount being allocated to the invoice. Expects same currency as invoice currency"
                  },
                  "paymentallocations[].allocationdate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional. Defaults to the current time in the Avaza account's timezone. The date the allocation is applied to the invoice. Can be difference from the Payment Date when doing prepayments etc."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/avaza/latest/actions/create-project": {
      "post": {
        "operationId": "avaza.create-project",
        "summary": "Create Project",
        "description": "Creates a new project in Avaza.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/avaza/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projecttitle"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyidfk": {
                    "type": "number",
                    "description": "An ID of a company in Avaza to create the Project under. You must provide either a CompanyID, or a CompanyName"
                  },
                  "companyname": {
                    "type": "string",
                    "description": "The name for a Company to create the project under. Will create company unless it matches an existing company name"
                  },
                  "currencycode": {
                    "type": "string",
                    "description": "The ISO 3 letter currency code to use when creating a new Company. If not provided, the account's default currency will be used."
                  },
                  "projecttitle": {
                    "type": "string",
                    "description": "The title of the new project. (255 characters max)"
                  },
                  "projectcode": {
                    "type": "string",
                    "description": "Used when Manual Project Codes are enabled"
                  },
                  "projectnotes": {
                    "type": "string",
                    "description": "Any descriptive notes about the project. (2000 characters max)"
                  },
                  "timesheetapprovalrequiredbydefault": {
                    "type": "boolean"
                  },
                  "populatedefaultprojectmembers": {
                    "type": "boolean",
                    "description": "Defaults to true."
                  },
                  "istaskrequiredontimesheet": {
                    "type": "boolean"
                  },
                  "startdate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "enddate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "budgetamount": {
                    "type": "number"
                  },
                  "budgethours": {
                    "type": "number"
                  },
                  "projectstatuscode": {
                    "type": "string"
                  },
                  "projectcategoryidfk": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
[...]
