{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Cloudmersive Virus Scan Universal API",
    "version": "0.0.2",
    "description": "Scan files, websites, and content with Cloudmersive Virus Scan to detect viruses, malware, and related security threats."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/cloudmersiveVirusScan/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/cloudmersiveVirusScan/latest/actions/advanced-scan-file-for-viruses": {
      "get": {
        "operationId": "cloudmersiveVirusScan.advanced-scan-file-for-viruses",
        "summary": "Advanced Scan File for Viruses",
        "description": "Performs an advanced file virus scan with Cloudmersive Virus Scan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cloudmersiveVirusScan/latest/actions/advanced-scan-file-for-viruses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inputFile",
            "in": "query",
            "required": true,
            "description": "Input file to scan for viruses and advanced content threats.",
            "schema": {
              "type": "string",
              "description": "Input file to scan for viruses and advanced content threats."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CleanResult": {
                            "type": "boolean",
                            "description": "True when Cloudmersive found no viruses or advanced content threats."
                          },
                          "ContainsExecutable": {
                            "type": "boolean",
                            "description": "True when the file contains executable code."
                          },
                          "ContainsHtml": {
                            "type": "boolean",
                            "description": "True when the input contains HTML."
                          },
                          "ContainsInsecureDeserialization": {
                            "type": "boolean",
                            "description": "True when the input contains insecure deserialization threats."
                          },
                          "ContainsInvalidFile": {
                            "type": "boolean",
                            "description": "True when the input contains an invalid file."
                          },
                          "ContainsMacros": {
                            "type": "boolean",
                            "description": "True when the input contains document macros."
                          },
                          "ContainsOleEmbeddedObject": {
                            "type": "boolean",
                            "description": "True when the input contains an OLE embedded object."
                          },
                          "ContainsPasswordProtectedFile": {
                            "type": "boolean",
                            "description": "True when the input contains password protected or encrypted files."
                          },
                          "ContainsRestrictedFileFormat": {
                            "type": "boolean",
                            "description": "True when the file type is not allowed by the optional restrictFileTypes setting."
                          },
                          "ContainsScript": {
                            "type": "boolean",
                            "description": "True when the input contains script content."
                          },
                          "ContainsUnsafeArchive": {
                            "type": "boolean",
                            "description": "True when the input contains unsafe archive content."
                          },
                          "ContainsUnwantedAction": {
                            "type": "boolean",
                            "description": "True when the input contains an unwanted automatic action."
                          },
                          "ContainsXmlExternalEntities": {
                            "type": "boolean",
                            "description": "True when the input contains XML External Entity threats."
                          },
                          "ContentInformation": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Additional non-threat content verification information.",
                            "properties": {
                              "ContainsImage": {
                                "type": "boolean",
                                "description": "True when the input file contains image data."
                              },
                              "ContainsJSON": {
                                "type": "boolean",
                                "description": "True when the input file contains JSON data."
                              },
                              "ContainsXML": {
                                "type": "boolean",
                                "description": "True when the input file contains XML data."
                              },
                              "Hash_SHA1": {
                                "type": "string",
                                "description": "SHA1 hash of the input file."
                              },
                              "IsAuthenticodeSigned": {
                                "type": "boolean",
                                "description": "True when there is a valid Authenticode signature."
                              },
                              "RelevantSubfileHash_SHA1": {
                                "type": "string",
                                "description": "SHA1 hash of the relevant subfile in an archive, if any."
                              },
                              "RelevantSubfileName": {
                                "type": "string",
                                "description": "Relevant subfile name in an archive for identified threats, if any."
                              }
                            }
                          },
                          "FoundViruses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "FileName": {
                                  "type": "string",
                                  "description": "File name where the virus was found."
                                },
                                "VirusName": {
                                  "type": "string",
                                  "description": "Detected virus or malware name."
                                }
                              }
                            },
                            "description": "Viruses found in the scanned file, when any are detected."
                          },
                          "VerifiedFileFormat": {
                            "type": "string",
                            "description": "Detected and verified file format."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cloudmersiveVirusScan/latest/actions/scan-file-for-viruses": {
      "get": {
        "operationId": "cloudmersiveVirusScan.scan-file-for-viruses",
        "summary": "Scan File for Viruses",
        "description": "Scans a file for viruses with Cloudmersive Virus Scan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cloudmersiveVirusScan/latest/actions/scan-file-for-viruses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inputFile",
            "in": "query",
            "required": true,
            "description": "Input file to scan for viruses.",
            "schema": {
              "type": "string",
              "description": "Input file to scan for viruses."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CleanResult": {
                            "type": "boolean",
                            "description": "True when Cloudmersive found no virus in the scanned file."
                          },
                          "FoundViruses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "FileName": {
                                  "type": "string",
                                  "description": "File name where the virus was found."
                                },
                                "VirusName": {
                                  "type": "string",
                                  "description": "Detected virus or malware name."
                                }
                              }
                            },
                            "description": "Viruses found in the scanned file, when any are detected."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cloudmersiveVirusScan/latest/actions/scan-website-for-threats": {
      "get": {
        "operationId": "cloudmersiveVirusScan.scan-website-for-threats",
        "summary": "Scan Website for Threats",
        "description": "Scans a website for malicious content with Cloudmersive Virus Scan.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cloudmersiveVirusScan/latest/actions/scan-website-for-threats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Website URL to scan for malicious content and threats. Must begin with http:// or https://.",
            "schema": {
              "type": "string",
              "description": "Website URL to scan for malicious content and threats. Must begin with http:// or https://."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CleanResult": {
                            "type": "boolean",
                            "description": "True when the website scan finds no malicious content or threats."
                          },
                          "FoundViruses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "FileName": {
                                  "type": "string",
                                  "description": "File name or content item where the virus was found."
                                },
                                "VirusName": {
                                  "type": "string",
                                  "description": "Detected virus or malware name."
                                }
                              }
                            },
                            "description": "Viruses found in website content, when any are detected."
                          },
                          "WebsiteHttpResponseCode": {
                            "type": "number",
                            "description": "HTTP response code observed while scanning the website."
                          },
                          "WebsiteThreatType": {
                            "type": "string",
                            "description": "Threat category detected for the website, when any."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
