{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Pipedrive Universal API",
    "version": "0.0.21",
    "description": "Manage deals, activities, contacts, and sales pipelines"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/pipedrive/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/pipedrive/latest/actions/add-activity": {
      "post": {
        "operationId": "pipedrive.add-activity",
        "summary": "Add Activity",
        "description": "Creates a new activity in Pipedrive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipedrive/latest/actions/add-activity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "subject",
                  "type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "Due date (YYYY-MM-DD)."
                  },
                  "dueTime": {
                    "type": "string",
                    "description": "Due time (HH:mm)."
                  },
                  "duration": {
                    "type": "string",
                    "description": "Duration in HH:mm format."
                  },
                  "leadId": {
                    "type": "string",
                    "description": "Linked lead ID."
                  },
                  "note": {
                    "type": "string",
                    "description": "Activity note."
                  },
                  "priority": {
                    "type": "string",
                    "description": "Activity priority."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Activity subject."
                  },
                  "type": {
                    "type": "string",
                    "description": "Activity type."
                  },
                  "ownerId": {
                    "type": "number",
                    "description": "Owner user ID."
                  },
                  "dealId": {
                    "type": "number",
                    "description": "Linked deal ID."
                  },
                  "personId": {
                    "type": "number",
                    "description": "Linked person ID."
                  },
                  "orgId": {
                    "type": "number",
                    "description": "Linked organization ID."
                  },
                  "done": {
                    "type": "boolean",
                    "description": "Completion state."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addTime": {
                            "type": "string"
                          },
                          "busy": {
                            "type": "boolean"
                          },
                          "conferenceMeetingClient": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "conferenceMeetingId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "conferenceMeetingUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "creatorUserId": {
                            "type": "number"
                          },
                          "dealId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "done": {
                            "type": "boolean"
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "dueTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "duration": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "isDeleted": {
                            "type": "boolean"
                          },
                          "leadId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "markedAsDoneTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "note": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orgId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ownerId": {
                            "type": "number"
                          },
                          "personId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "priority": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "projectId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "publicDescription": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subject": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updateTime": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipedrive/latest/actions/add-deal": {
      "post": {
        "operationId": "pipedrive.add-deal",
        "summary": "Add Deal",
        "description": "Creates a new deal in Pipedrive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipedrive/latest/actions/add-deal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code, e.g. USD."
                  },
                  "expectedCloseDate": {
                    "type": "string",
                    "description": "Expected close date (YYYY-MM-DD)."
                  },
                  "lostReason": {
                    "type": "string",
                    "description": "Lost reason text."
                  },
                  "status": {
                    "type": "string",
                    "description": "Deal status."
                  },
                  "title": {
                    "type": "string",
                    "description": "Deal title."
                  },
                  "ownerId": {
                    "type": "number",
                    "description": "Owner user ID."
                  },
                  "personId": {
                    "type": "number",
                    "description": "Person ID linked to deal."
                  },
                  "orgId": {
                    "type": "number",
                    "description": "Organization ID linked to deal."
                  },
                  "pipelineId": {
                    "type": "number",
                    "description": "Pipeline ID."
                  },
                  "stageId": {
                    "type": "number",
                    "description": "Stage ID."
                  },
                  "value": {
                    "type": "number",
                    "description": "Deal value."
                  },
                  "probability": {
                    "type": "number",
                    "description": "Win probability percentage."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addTime": {
                            "type": "string"
                          },
                          "archiveTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "channel": {
                            "type": "number"
                          },
                          "channelId": {
                            "type": "string"
                          },
                          "closeTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "creatorUserId": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "expectedCloseDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "isDeleted": {
                            "type": "boolean"
                          },
                          "localCloseDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "localLostDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "localWonDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lostReason": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lostTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orgId": {
                            "type": "number"
                          },
                          "origin": {
                            "type": "string"
                          },
                          "originId": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "number"
                          },
                          "personId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pipelineId": {
                            "type": "number"
                          },
                          "probability": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "stageChangeTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "stageId": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updateTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "value": {
                            "type": "number"
                          },
                          "visibleTo": {
                            "type": "number"
                          },
                          "wonTime": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipedrive/latest/actions/add-lead": {
      "post": {
        "operationId": "pipedrive.add-lead",
        "summary": "Add Lead",
        "description": "Creates a new lead in Pipedrive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipedrive/latest/actions/add-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "leadTitle"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "leadTitle": {
                    "type": "string",
                    "description": "Lead title."
                  },
                  "personId": {
                    "type": "number",
                    "description": "Person ID to link to the lead."
                  },
                  "organizationId": {
                    "type": "number",
                    "description": "Organization ID to link to the lead."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addTime": {
                            "type": "string"
                          },
                          "archiveTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ccEmail": {
                            "type": "string"
                          },
                          "channel": {
                            "type": "number"
                          },
                          "channelId": {
                            "type": "string"
                          },
                          "creatorId": {
                            "type": "number"
                          },
                          "expectedCloseDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "nextActivityId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "organizationId": {
                            "type": "number"
                          },
                          "origin": {
                            "type": "string"
                          },
                          "originId": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "number"
                          },
                          "personId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sourceDealId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sourceName": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updateTime": {
                            "type": "string"
                          },
                          "value": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "visibleTo": {
                            "type": "string"
                          },
                          "wasSeen": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipedrive/latest/actions/add-organization": {
      "post": {
        "operationId": "pipedrive.add-organization",
        "summary": "Add Organization",
        "description": "Creates a new organization in Pipedrive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipedrive/latest/actions/add-organization"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the organization."
                  },
                  "ownerId": {
                    "type": "number",
                    "description": "Owner user ID for the organization."
                  },
                  "address": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Address object for the organization."
                  },
                  "labelIds": {
                    "type": "string",
                    "description": "Label IDs to assign to the organization."
                  },
                  "visibleTo": {
                    "type": "string",
                    "description": "Visibility setting for the organization record."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addTime": {
                            "type": "string"
                          },
                          "annualRevenue": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "employeeCount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "industry": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isDeleted": {
                            "type": "boolean"
                          },
                          "linkedin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "number"
                          },
                          "updateTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "visibleTo": {
                            "type": "number"
                          },
                          "website": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipedrive/latest/actions/add-person": {
      "post": {
        "operationId": "pipedrive.add-person",
        "summary": "Add Person",
        "description": "Creates a new person in Pipedrive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipedrive/latest/actions/add-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Full name of the person."
                  },
                  "ownerId": {
                    "type": "number",
                    "description": "Owner user ID for the person."
                  },
                  "orgId": {
                    "type": "number",
                    "description": "Organization ID linked to the person."
                  },
                  "labelIds": {
                    "type": "string",
                    "description": "Label IDs to assign to the person."
                  },
                  "emails": {
                    "type": "string",
                    "description": "Array of email objects for the person."
                  },
                  "phones": {
                    "type": "string",
                    "description": "Array of phone objects for the person."
                  },
                  "visibleTo": {
                    "type": "string",
                    "description": "Visibility setting for the person record."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addTime": {
                            "type": "string"
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isDeleted": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "number"
                          },
                          "ownerId": {
                            "type": "number"
                          },
                          "pictureId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updateTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "visibleTo": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipedrive/latest/actions/add-product": {
      "post": {
        "operationId": "pipedrive.add-product",
        "summary": "Add Product",
        "description": "Creates a new product in Pipedrive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipedrive/latest/actions/add-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "productName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "productName": {
                    "type": "string",
                    "description": "Product name."
                  },
                  "code": {
                    "type": "string",
                    "description": "Product code."
                  },
                  "description": {
                    "type": "string",
                    "description": "Product description."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addTime": {
                            "type": "string"
                          },
                          "category": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isDeleted": {
                            "type": "boolean"
                          },
                          "isLinkable": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "number"
                          },
                          "prices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "cost": {
                                  "type": "number"
                                },
                                "currency": {
                                  "type": "string"
                                },
                                "directCost": {
                                  "type": "number"
                                },
                                "notes": {
                                  "type": "string"
                                },
                                "price": {
                                  "type": "number"
                                },
                                "productId": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "tax": {
                            "type": "number"
                          },
                          "unit": {
                            "type": "string"
                          },
                          "updateTime": {
                            "type": "string"
                          },
                          "visibleTo": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipedrive/latest/actions/add-product-to-deal": {
      "post": {
        "operationId": "pipedrive.add-product-to-deal",
        "summary": "Add Product to Deal",
        "description": "Adds a product to a deal in Pipedrive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipedrive/latest/actions/add-product-to-deal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "dealId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "dealId": {
                    "type": "string"
                  },
                  "productId": {
                    "type": "number"
                  },
                  "itemPrice": {
                    "type": "number"
                  },
                  "quantity": {
                    "type": "number"
                  },
                  "comments": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipedrive/latest/actions/add-webhook": {
      "post": {
        "operationId": "pipedrive.add-webhook",
        "summary": "Add Webhook",
        "description": "Creates a new webhook in Pipedrive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipedrive/latest/actions/add-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "subscriptionUrl",
                  "eventAction",
                  "eventObject"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "subscriptionUrl": {
                    "type": "string",
                    "description": "HTTPS callback URL to receive webhook payloads."
                  },
                  "eventAction": {
                    "type": "string",
                    "description": "Webhook event action: added, updated, deleted, *."
                  },
                  "eventObject": {
                    "type": "string",
                    "description": "Webhook event object: deal, person, organization, activity, note, product, lead, etc."
                  },
                  "version": {
                    "type": "string",
                    "description": "Webhook API version.",
                    "default": "2.0"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addTime": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "number"
                          },
                          "eventAction": {
                            "type": "string"
                          },
                          "eventObject": {
                            "type": "string"
                          },
                          "httpAuthPassword": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "httpAuthUser": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "isActive": {
                            "type": "number"
                          },
                          "name": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ownerId": {
                            "type": "number"
                          },
                          "removeReason": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "removeTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subscriptionUrl": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "number"
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipedrive/latest/actions/convert-deal-to-lead": {
      "put": {
        "operationId": "pipedrive.convert-deal-to-lead",
        "summary": "Convert Deal To Lead",
        "description": "Converts a deal to a lead in Pipedrive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipedrive/latest/actions/convert-deal-to-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
                    "description": "Unique ID of the deal to convert."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conversionId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipedrive/latest/actions/convert-lead-to-deal": {
      "post": {
        "operationId": "pipedrive.convert-lead-to-deal",
        "summary": "Convert Lead To Deal",
        "description": "Converts a lead to a deal in Pipedrive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipedrive/latest/actions/convert-lead-to-deal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Lead ID to convert into a deal."
                  },
                  "stageId": {
                    "type": "number",
                    "description": "Optional stage ID where the created deal will be placed."
                  },
                  "pipelineId": {
                    "type": "number",
                    "description": "Optional pipeline ID where the created deal will be placed."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conversionId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipedrive/latest/actions/delete-activity": {
      "delete": {
        "operationId": "pipedrive.delete-activity",
        "summary": "Delete Activity",
        "description": "Deletes an existing activity from Pipedrive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipedrive/latest/actions/delete-activity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique ID of the activity to delete.",
            "schema": {
              "type": "number",
              "description": "Unique ID of the activity to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipedrive/latest/actions/delete-deal": {
      "delete": {
        "operationId": "pipedrive.delete-deal",
        "summary": "Delete Deal",
        "description": "Deletes an existing deal from Pipedrive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipedrive/latest/actions/delete-deal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique ID of the deal to delete.",
            "schema": {
              "type": "number",
              "description": "Unique ID of the deal to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipedrive/latest/actions/get-activities": {
      "get": {
        "operationId": "pipedrive.get-activities",
        "summary": "Get Activities",
        "description": "Retrieves activities from Pipedrive.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipedrive/latest/actions/get-activities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor."
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "required": false,
            "description": "Saved filter ID for activities.",
            "schema": {
              "type": "number",
              "description": "Saved filter ID for activities."
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "description": "Comma-separated activity IDs.",
            "schema": {
              "type": "string",
              "description": "Comma-separated activity IDs."
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "required": false,
            "description": "Comma-separated additional fields to include.",
            "schema": {
              "type": "string",
              "description": "Comma-separated additional fields to include."
            }
          },
          {
            "name": "leadId",
            "in": "query",
            "required": false,
            "description": "Filter by lead ID.",
            "schema": {
              "type": "string",
              "description": "Filter by lead ID."
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort field.",
            "schema": {
              "type": "string",
              "description": "Sort field."
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "required": false,
            "description": "Sort direction, asc or desc.",
            "schema": {
              "type": "string",
              "description": "Sort direction, asc or desc."
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "required": false,
            "description": "Return activities updated after this datetime.",
            "schema": {
              "type": "string",
              "description": "Return activities updated after this datetime."
            }
          },
          {
            "name": "updatedUntil",
            "in": "query",
            "required": false,
            "description": "Return activities updated before this datetime.",
            "schema": {
              "type": "string",
              "description": "Return activities updated before this datetime."
            }
          },
          {
            "name": "ownerId",
            "in": "query",
            "required": false,
            "description": "Owner user ID.",
            "schema": {
              "type": "number",
              "description": "Owner user ID."
            }
          },
          {
            "name": "dealId",
            "in": "query",
            "required": false,
            "description": "Filter by deal ID.",
            "schema": {
              "type": "number",
              "description": "Filter by deal ID."
            }
          },
          {
            "name": "personId",
            "in": "query",
            "required": false,
            "description": "Filter by person ID.",
            "schema": {
              "type": "number",
              "description": "Filter by person ID."
            }
          },
          {
            "name": "orgId",
[...]
