{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "NASA APOD Universal API",
    "version": "0.0.1",
    "description": "Browse astronomy pictures with NASA APOD metadata."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/nASAAPOD/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/nASAAPOD/latest/actions/get-apod-date-range": {
      "get": {
        "operationId": "nASAAPOD.get-apod-date-range",
        "summary": "Get APOD Date Range",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nASAAPOD/latest/actions/get-apod-date-range"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "First APOD date in YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "First APOD date in YYYY-MM-DD."
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Optional last APOD date in YYYY-MM-DD. NASA defaults it to today.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Optional last APOD date in YYYY-MM-DD. NASA defaults it to today."
            }
          },
          {
            "name": "thumbs",
            "in": "query",
            "required": false,
            "description": "When true, NASA includes thumbnail_url for video APODs.",
            "schema": {
              "type": "boolean",
              "description": "When true, NASA includes thumbnail_url for video APODs.",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "copyright": {
                            "type": "string",
                            "description": "Optional copyright holder; present when the item is not public domain."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "APOD date."
                          },
                          "explanation": {
                            "type": "string",
                            "description": "NASA's description of the APOD."
                          },
                          "hdurl": {
                            "type": "string",
                            "description": "Optional high-resolution image URL."
                          },
                          "media_type": {
                            "type": "string",
                            "description": "Media type, such as image or video."
                          },
                          "service_version": {
                            "type": "string",
                            "description": "APOD service version."
                          },
                          "thumbnail_url": {
                            "type": "string",
                            "description": "Optional video thumbnail URL when thumbs is requested."
                          },
                          "title": {
                            "type": "string",
                            "description": "APOD title."
                          },
                          "url": {
                            "type": "string",
                            "description": "Media URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nASAAPOD/latest/actions/get-astronomy-picture-of-the-day": {
      "get": {
        "operationId": "nASAAPOD.get-astronomy-picture-of-the-day",
        "summary": "Get Astronomy Picture of the Day",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nASAAPOD/latest/actions/get-astronomy-picture-of-the-day"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Optional APOD date in YYYY-MM-DD. Leave empty for today.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Optional APOD date in YYYY-MM-DD. Leave empty for today."
            }
          },
          {
            "name": "thumbs",
            "in": "query",
            "required": false,
            "description": "When true, NASA includes thumbnail_url for video APODs.",
            "schema": {
              "type": "boolean",
              "description": "When true, NASA includes thumbnail_url for video APODs.",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "copyright": {
                            "type": "string",
                            "description": "Optional copyright holder; present when the item is not public domain."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "APOD date."
                          },
                          "explanation": {
                            "type": "string",
                            "description": "NASA's description of the APOD."
                          },
                          "hdurl": {
                            "type": "string",
                            "description": "Optional high-resolution image URL."
                          },
                          "media_type": {
                            "type": "string",
                            "description": "Media type, such as image or video."
                          },
                          "service_version": {
                            "type": "string",
                            "description": "APOD service version."
                          },
                          "thumbnail_url": {
                            "type": "string",
                            "description": "Optional video thumbnail URL when thumbs is requested."
                          },
                          "title": {
                            "type": "string",
                            "description": "APOD title."
                          },
                          "url": {
                            "type": "string",
                            "description": "Media URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nASAAPOD/latest/actions/get-random-apods": {
      "get": {
        "operationId": "nASAAPOD.get-random-apods",
        "summary": "Get Random APODs",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nASAAPOD/latest/actions/get-random-apods"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of randomly selected APODs.",
            "schema": {
              "type": "number",
              "description": "Number of randomly selected APODs.",
              "default": 1
            }
          },
          {
            "name": "thumbs",
            "in": "query",
            "required": false,
            "description": "When true, NASA includes thumbnail_url for video APODs.",
            "schema": {
              "type": "boolean",
              "description": "When true, NASA includes thumbnail_url for video APODs.",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "copyright": {
                            "type": "string",
                            "description": "Optional copyright holder; present when the item is not public domain."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "APOD date."
                          },
                          "explanation": {
                            "type": "string",
                            "description": "NASA's description of the APOD."
                          },
                          "hdurl": {
                            "type": "string",
                            "description": "Optional high-resolution image URL."
                          },
                          "media_type": {
                            "type": "string",
                            "description": "Media type, such as image or video."
                          },
                          "service_version": {
                            "type": "string",
                            "description": "APOD service version."
                          },
                          "thumbnail_url": {
                            "type": "string",
                            "description": "Optional video thumbnail URL when thumbs is requested."
                          },
                          "title": {
                            "type": "string",
                            "description": "APOD title."
                          },
                          "url": {
                            "type": "string",
                            "description": "Media URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
