{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "pretix Universal API",
    "version": "0.0.3",
    "description": "pretix is an open-source and hosted ticketing platform for selling tickets, managing events, orders, vouchers, check-in workflows, teams, and event operations through a documented REST API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/pretix/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/pretix/latest/actions/download-invoice": {
      "get": {
        "operationId": "pretix.download-invoice",
        "summary": "Download Invoice",
        "description": "Retrieves an invoice download from pretix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pretix/latest/actions/download-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizer",
            "in": "query",
            "required": true,
            "description": "pretix organizer slug.",
            "schema": {
              "type": "string",
              "description": "pretix organizer slug."
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "description": "pretix event slug.",
            "schema": {
              "type": "string",
              "description": "pretix event slug."
            }
          },
          {
            "name": "invoice",
            "in": "query",
            "required": true,
            "description": "pretix invoice number.",
            "schema": {
              "type": "string",
              "description": "pretix invoice number."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pretix/latest/actions/download-order-ticket-pdf": {
      "get": {
        "operationId": "pretix.download-order-ticket-pdf",
        "summary": "Download Order Ticket PDF",
        "description": "Retrieves an order ticket PDF from pretix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pretix/latest/actions/download-order-ticket-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizer",
            "in": "query",
            "required": true,
            "description": "pretix organizer slug.",
            "schema": {
              "type": "string",
              "description": "pretix organizer slug."
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "description": "pretix event slug.",
            "schema": {
              "type": "string",
              "description": "pretix event slug."
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "pretix order code.",
            "schema": {
              "type": "string",
              "description": "pretix order code."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pretix/latest/actions/get-check-in-list": {
      "get": {
        "operationId": "pretix.get-check-in-list",
        "summary": "Get Check In List",
        "description": "Retrieves a check-in list from pretix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pretix/latest/actions/get-check-in-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizer",
            "in": "query",
            "required": true,
            "description": "pretix organizer slug.",
            "schema": {
              "type": "string",
              "description": "pretix organizer slug."
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "description": "pretix event slug.",
            "schema": {
              "type": "string",
              "description": "pretix event slug."
            }
          },
          {
            "name": "list",
            "in": "query",
            "required": true,
            "description": "pretix check-in list ID.",
            "schema": {
              "type": "string",
              "description": "pretix check-in list ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowEntryAfterExit": {
                            "type": "boolean"
                          },
                          "allowMultipleEntries": {
                            "type": "boolean"
                          },
                          "allProducts": {
                            "type": "boolean"
                          },
                          "checkinCount": {
                            "type": "number"
                          },
                          "exitAllAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "includePending": {
                            "type": "boolean"
                          },
                          "limitProducts": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "positionCount": {
                            "type": "number"
                          },
                          "rules": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subevent": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pretix/latest/actions/get-event": {
      "get": {
        "operationId": "pretix.get-event",
        "summary": "Get Event",
        "description": "Retrieves an event from pretix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pretix/latest/actions/get-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizer",
            "in": "query",
            "required": true,
            "description": "pretix organizer slug.",
            "schema": {
              "type": "string",
              "description": "pretix organizer slug."
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "description": "pretix event slug.",
            "schema": {
              "type": "string",
              "description": "pretix event slug."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "dateAdmission": {
                            "type": "string"
                          },
                          "dateFrom": {
                            "type": "string"
                          },
                          "dateTo": {
                            "type": "string"
                          },
                          "hasSubevents": {
                            "type": "boolean"
                          },
                          "isPublic": {
                            "type": "boolean"
                          },
                          "live": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "plugins": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "publicUrl": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "testmode": {
                            "type": "boolean"
                          },
                          "timezone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pretix/latest/actions/get-event-settings": {
      "get": {
        "operationId": "pretix.get-event-settings",
        "summary": "Get Event Settings",
        "description": "Retrieves event settings from pretix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pretix/latest/actions/get-event-settings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizer",
            "in": "query",
            "required": true,
            "description": "pretix organizer slug.",
            "schema": {
              "type": "string",
              "description": "pretix organizer slug."
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "description": "pretix event slug.",
            "schema": {
              "type": "string",
              "description": "pretix event slug."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "imprintUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pretix/latest/actions/get-invoice": {
      "get": {
        "operationId": "pretix.get-invoice",
        "summary": "Get Invoice",
        "description": "Retrieves an invoice from pretix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pretix/latest/actions/get-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizer",
            "in": "query",
            "required": true,
            "description": "pretix organizer slug.",
            "schema": {
              "type": "string",
              "description": "pretix organizer slug."
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "description": "pretix event slug.",
            "schema": {
              "type": "string",
              "description": "pretix event slug."
            }
          },
          {
            "name": "invoice",
            "in": "query",
            "required": true,
            "description": "pretix invoice number.",
            "schema": {
              "type": "string",
              "description": "pretix invoice number."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "datetime": {
                            "type": "string"
                          },
                          "event": {
                            "type": "string"
                          },
                          "invoiceFrom": {
                            "type": "string"
                          },
                          "invoiceFromCity": {
                            "type": "string"
                          },
                          "invoiceFromCountry": {
                            "type": "string"
                          },
                          "invoiceFromName": {
                            "type": "string"
                          },
                          "invoiceFromZipcode": {
                            "type": "string"
                          },
                          "invoiceToName": {
                            "type": "string"
                          },
                          "isCancellation": {
                            "type": "boolean"
                          },
                          "number": {
                            "type": "string"
                          },
                          "order": {
                            "type": "string"
                          },
                          "total": {
                            "type": "string"
                          },
                          "transmissionType": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pretix/latest/actions/get-item": {
      "get": {
        "operationId": "pretix.get-item",
        "summary": "Get Item",
        "description": "Retrieves an item from pretix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pretix/latest/actions/get-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizer",
            "in": "query",
            "required": true,
            "description": "pretix organizer slug.",
            "schema": {
              "type": "string",
              "description": "pretix organizer slug."
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "description": "pretix event slug.",
            "schema": {
              "type": "string",
              "description": "pretix event slug."
            }
          },
          {
            "name": "item",
            "in": "query",
            "required": true,
            "description": "pretix item ID.",
            "schema": {
              "type": "string",
              "description": "pretix item ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "admission": {
                            "type": "boolean"
                          },
                          "allSalesChannels": {
                            "type": "boolean"
                          },
                          "availableFrom": {
                            "type": "string"
                          },
                          "availableFromMode": {
                            "type": "string"
                          },
                          "availableUntil": {
                            "type": "string"
                          },
                          "availableUntilMode": {
                            "type": "string"
                          },
                          "category": {
                            "type": "number"
                          },
                          "defaultPrice": {
                            "type": "string"
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "freePrice": {
                            "type": "boolean"
                          },
                          "hasVariations": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "internalName": {
                            "type": "string"
                          },
                          "limitSalesChannels": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "name": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "personalized": {
                            "type": "boolean"
                          },
                          "position": {
                            "type": "number"
                          },
                          "requireVoucher": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pretix/latest/actions/get-item-variation": {
      "get": {
        "operationId": "pretix.get-item-variation",
        "summary": "Get Item Variation",
        "description": "Retrieves an item variation from pretix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pretix/latest/actions/get-item-variation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizer",
            "in": "query",
            "required": true,
            "description": "pretix organizer slug.",
            "schema": {
              "type": "string",
              "description": "pretix organizer slug."
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "description": "pretix event slug.",
            "schema": {
              "type": "string",
              "description": "pretix event slug."
            }
          },
          {
            "name": "item",
            "in": "query",
            "required": true,
            "description": "pretix item ID.",
            "schema": {
              "type": "string",
              "description": "pretix item ID."
            }
          },
          {
            "name": "variation",
            "in": "query",
            "required": true,
            "description": "pretix item variation ID.",
            "schema": {
              "type": "string",
              "description": "pretix item variation ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "allSalesChannels": {
                            "type": "boolean"
                          },
                          "availableFrom": {
                            "type": "string"
                          },
                          "availableUntil": {
                            "type": "string"
                          },
                          "checkinAttention": {
                            "type": "boolean"
                          },
                          "checkinText": {
                            "type": "string"
                          },
                          "defaultPrice": {
                            "type": "string"
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "limitSalesChannels": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "position": {
                            "type": "number"
                          },
                          "price": {
                            "type": "string"
                          },
                          "requireApproval": {
                            "type": "boolean"
                          },
                          "requireMembership": {
                            "type": "boolean"
                          },
                          "requireMembershipTypes": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "value": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pretix/latest/actions/get-order": {
      "get": {
        "operationId": "pretix.get-order",
        "summary": "Get Order",
        "description": "Retrieves an order from pretix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pretix/latest/actions/get-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizer",
            "in": "query",
            "required": true,
            "description": "pretix organizer slug.",
            "schema": {
              "type": "string",
              "description": "pretix organizer slug."
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "description": "pretix event slug.",
            "schema": {
              "type": "string",
              "description": "pretix event slug."
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "pretix order code.",
            "schema": {
              "type": "string",
              "description": "pretix order code."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "checkinAttention": {
                            "type": "boolean"
                          },
                          "code": {
                            "type": "string"
                          },
                          "comment": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "datetime": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "event": {
                            "type": "string"
                          },
                          "expires": {
                            "type": "string"
                          },
                          "invoiceAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "locale": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "salesChannel": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "testmode": {
                            "type": "boolean"
                          },
                          "total": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pretix/latest/actions/get-order-position": {
      "get": {
        "operationId": "pretix.get-order-position",
        "summary": "Get Order Position",
        "description": "Retrieves an order position from pretix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pretix/latest/actions/get-order-position"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizer",
            "in": "query",
            "required": true,
            "description": "pretix organizer slug.",
            "schema": {
              "type": "string",
              "description": "pretix organizer slug."
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "description": "pretix event slug.",
            "schema": {
              "type": "string",
              "description": "pretix event slug."
            }
          },
          {
            "name": "position",
            "in": "query",
            "required": true,
            "description": "pretix order position ID.",
            "schema": {
              "type": "string",
              "description": "pretix order position ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attendeeEmail": {
                            "type": "string"
                          },
                          "attendeeName": {
                            "type": "string"
                          },
                          "canceled": {
                            "type": "boolean"
                          },
                          "city": {
                            "type": "string"
                          },
                          "company": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "item": {
                            "type": "number"
                          },
                          "order": {
                            "type": "string"
                          },
                          "positionid": {
                            "type": "number"
                          },
                          "price": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "street": {
                            "type": "string"
                          },
                          "variation": {
                            "type": "number"
                          },
                          "voucher": {
                            "type": "number"
                          },
                          "zipcode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pretix/latest/actions/get-organizer": {
      "get": {
        "operationId": "pretix.get-organizer",
        "summary": "Get Organizer",
        "description": "Retrieves an organizer from pretix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pretix/latest/actions/get-organizer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizer",
            "in": "query",
            "required": true,
            "description": "pretix organizer slug.",
            "schema": {
              "type": "string",
              "description": "pretix organizer slug.",
              "example": "mindcloud-stage0"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "plugins": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "publicUrl": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pretix/latest/actions/get-organizer-settings": {
      "get": {
        "operationId": "pretix.get-organizer-settings",
        "summary": "Get Organizer Settings",
        "description": "Retrieves organizer settings from pretix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pretix/latest/actions/get-organizer-settings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizer",
            "in": "query",
            "required": true,
            "description": "pretix organizer slug.",
            "schema": {
              "type": "string",
              "description": "pretix organizer slug."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accessibilityTitle": {
                            "type": "object",
                            "properties": {
                              "en": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "cookieConsent": {
                            "type": "boolean"
                          },
                          "cookieConsentDialogButtonNo": {
                            "type": "object",
                            "properties": {
                              "en": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "cookieConsentDialogButtonYes": {
                            "type": "object",
                            "properties": {
                              "en": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "cookieConsentDialogText": {
                            "type": "object",
                            "properties": {
                              "en": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "cookieConsentDialogTextSecondary": {
                            "type": "object",
                            "properties": {
                              "en": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "cookieConsentDialogTitle": {
                            "type": "object",
                            "properties": {
                              "en": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "customerAccounts": {
                            "type": "boolean"
                          },
                          "customerAccountsLinkByEmail": {
                            "type": "boolean"
                          },
                          "customerAccountsNative": {
                            "type": "boolean"
                          },
                          "customerAccountsRequireLoginForOrderAccess": {
                            "type": "boolean"
                          },
                          "eventListAvailability": {
                            "type": "boolean"
                          },
                          "eventListType": {
                            "type": "string"
                          },
                          "eventTeamProvisioning": {
                            "type": "boolean"
                          },
                          "giftcardLength": {
                            "type": "number"
                          },
                          "invoiceRegenerateAllowed": {
                            "type": "boolean"
                          },
                          "locales": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "organizerHomepageText": {
                            "type": "object",
                            "properties": {
                              "en": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "organizerInfoText": {
                            "type": "object",
                            "properties": {
                              "en": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "organizerLinkBack": {
                            "type": "boolean"
                          },
                          "organizerLogoImageInherit": {
                            "type": "boolean"
                          },
                          "organizerLogoImageLarge": {
                            "type": "boolean"
                          },
                          "primaryColor": {
                            "type": "string"
                          },
                          "primaryFont": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "reusableMediaActive": {
                            "type": "boolean"
                          },
                          "reusableMediaTypeBarcode": {
                            "type": "boolean"
                          },
                          "reusableMediaTypeBarcodeIdentifierLength": {
                            "type": "number"
                          },
                          "reusableMediaTypeNfcMf0aes": {
                            "type": "boolean"
                          },
                          "reusableMediaTypeNfcMf0aesAutocreateGiftcard": {
                            "type": "boolean"
                          },
                          "reusableMediaTypeNfcMf0aesAutocreateGiftcardCurrency": {
                            "type": "string"
                          },
                          "reusableMediaTypeNfcMf0aesRandomUid": {
                            "type": "boolean"
                          },
                          "reusableMediaTypeNfcUid": {
                            "type": "boolean"
                          },
                          "reusableMediaTypeNfcUidAutocreateGiftcard": {
                            "type": "boolean"
                          },
                          "reusableMediaTypeNfcUidAutocreateGiftcardCurrency": {
                            "type": "string"
                          },
                          "themeColorBackground": {
                            "type": "string"
                          },
                          "themeColorDanger": {
                            "type": "string"
                          },
                          "themeColorSuccess": {
                            "type": "string"
                          },
                          "themeRoundBorders": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pretix/latest/actions/get-quota": {
      "get": {
        "operationId": "pretix.get-quota",
        "summary": "Get Quota",
        "description": "Retrieves a quota from pretix.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pretix/latest/actions/get-quota"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizer",
            "in": "query",
            "required": true,
            "description": "pretix organizer slug.",
            "schema": {
              "type": "string",
              "description": "pretix organizer slug."
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "description": "pretix event slug.",
            "schema": {
              "type": "string",
              "description": "pretix event slug."
            }
          },
          {
            "name": "quota",
            "in": "query",
            "required": true,
            "description": "pretix quota ID.",
            "schema": {
              "type": "string",
              "description": "pretix quota ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "available": {
                            "type": "boolean"
                          },
                          "availableNumber": {
                            "type": "number"
                          },
                          "closed": {
                            "type": "boolean"
                          },
                          "closeWhenSoldOut": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "ignoreForEventAvailability": {
                            "type": "boolean"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "releaseAfterExit": {
                            "type": "boolean"
                          },
[...]
