{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Encodian - Utilities Universal API",
    "version": "0.0.2",
    "description": "Use Encodian Flowr Utilities to format dates, transform text, validate values, extract data with regex, and manipulate arrays through Encodian's REST API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/encodianUtilities/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/encodianUtilities/latest/actions/utilities-array-add-items": {
      "get": {
        "operationId": "encodianUtilities.utilities-array-add-items",
        "summary": "Utilities - Array Add Items",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianUtilities/latest/actions/utilities-array-add-items"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "required": true,
            "description": "The JSON array or object to modify",
            "schema": {
              "type": "string",
              "description": "The JSON array or object to modify"
            }
          },
          {
            "name": "items",
            "in": "query",
            "required": true,
            "description": "The items to add to the 'Data' provided",
            "schema": {
              "type": "string",
              "description": "The items to add to the 'Data' provided"
            }
          },
          {
            "name": "itemPosition",
            "in": "query",
            "required": true,
            "description": "Set whether to return the first item, last item or a specified item",
            "schema": {
              "type": "string",
              "description": "Set whether to return the first item, last item or a specified item",
              "enum": [
                "0",
                "1",
                "2"
              ],
              "default": "Last",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "itemIndex",
            "in": "query",
            "required": false,
            "description": "Index of the item to return. This is only applicable when the 'Item Position' property is set to 'Specific'",
            "schema": {
              "type": "number",
              "description": "Index of the item to return. This is only applicable when the 'Item Position' property is set to 'Specific'",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "Select a specific node within the 'Data' using a JSONPath expression",
            "schema": {
              "type": "string",
              "description": "Select a specific node within the 'Data' using a JSONPath expression",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string",
                            "description": "The response value for the request"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianUtilities/latest/actions/utilities-array-contains-value": {
      "get": {
        "operationId": "encodianUtilities.utilities-array-contains-value",
        "summary": "Utilities - Array Contains Value",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianUtilities/latest/actions/utilities-array-contains-value"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "required": true,
            "description": "The JSON data to evaluate",
            "schema": {
              "type": "string",
              "description": "The JSON data to evaluate"
            }
          },
          {
            "name": "value",
            "in": "query",
            "required": true,
            "description": "The value to check is contained within the array",
            "schema": {
              "type": "string",
              "description": "The value to check is contained within the array"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "Select a specific node within the 'Data' using a JSONPath expression",
            "schema": {
              "type": "string",
              "description": "Select a specific node within the 'Data' using a JSONPath expression",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "ignoreCase",
            "in": "query",
            "required": false,
            "description": "Set whether text case should be ignored when searching the array",
            "schema": {
              "type": "boolean",
              "description": "Set whether text case should be ignored when searching the array",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          },
                          "result": {
                            "type": "boolean",
                            "description": "The response value for the request"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianUtilities/latest/actions/utilities-array-count-items": {
      "get": {
        "operationId": "encodianUtilities.utilities-array-count-items",
        "summary": "Utilities - Array Count Items",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianUtilities/latest/actions/utilities-array-count-items"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "required": true,
            "description": "The JSON array or object to evaluate",
            "schema": {
              "type": "string",
              "description": "The JSON array or object to evaluate"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "Select a specific node using a JSONPath expression",
            "schema": {
              "type": "string",
              "description": "Select a specific node using a JSONPath expression",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          },
                          "result": {
                            "type": "number",
                            "description": "The response value for the request"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianUtilities/latest/actions/utilities-array-remove-duplicates": {
      "get": {
        "operationId": "encodianUtilities.utilities-array-remove-duplicates",
        "summary": "Utilities - Array Remove Duplicates",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianUtilities/latest/actions/utilities-array-remove-duplicates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "required": true,
            "description": "The JSON data to modify",
            "schema": {
              "type": "string",
              "description": "The JSON data to modify"
            }
          },
          {
            "name": "ignoreCase",
            "in": "query",
            "required": true,
            "description": "Set whether the text case should be ignored when searching for duplicates",
            "schema": {
              "type": "boolean",
              "description": "Set whether the text case should be ignored when searching for duplicates",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "Select a specific node within the 'Data' using a JSONPath expression",
            "schema": {
              "type": "string",
              "description": "Select a specific node within the 'Data' using a JSONPath expression",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string",
                            "description": "The response value for the request"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianUtilities/latest/actions/utilities-calculate-date": {
      "get": {
        "operationId": "encodianUtilities.utilities-calculate-date",
        "summary": "Utilities - Calculate Date",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianUtilities/latest/actions/utilities-calculate-date"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "The date value to calculate",
            "schema": {
              "type": "string",
              "description": "The date value to calculate"
            }
          },
          {
            "name": "measurement",
            "in": "query",
            "required": true,
            "description": "Set the time measurement used for the calculation",
            "schema": {
              "type": "string",
              "description": "Set the time measurement used for the calculation",
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7"
              ],
              "default": "Days"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "description": "Set the operation type, either add or subtract",
            "schema": {
              "type": "string",
              "description": "Set the operation type, either add or subtract",
              "enum": [
                "0",
                "1"
              ],
              "default": "Add"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "description": "Set amount of time to add or subtract from the 'Date' value provided",
            "schema": {
              "type": "number",
              "description": "Set amount of time to add or subtract from the 'Date' value provided",
              "default": 1
            }
          },
          {
            "name": "daysToExclude",
            "in": "query",
            "required": false,
            "description": "Specify the days to be excluded from the calculation as a comma-delimited list, for example: Saturday, Sunday",
            "schema": {
              "type": "string",
              "description": "Specify the days to be excluded from the calculation as a comma-delimited list, for example: Saturday, Sunday",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "datesToExclude",
            "in": "query",
            "required": false,
            "description": "Specify the dates to be excluded from the calculation as a comma-delimited list, for example: 25/12/2024,26/12/2024",
            "schema": {
              "type": "string",
              "description": "Specify the dates to be excluded from the calculation as a comma-delimited list, for example: 25/12/2024,26/12/2024",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "cultureName",
            "in": "query",
            "required": false,
            "description": "Change the thread culture used to process the request.",
            "schema": {
              "type": "string",
              "description": "Change the thread culture used to process the request.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string",
                            "description": "The response value for the request"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianUtilities/latest/actions/utilities-clean-text": {
      "get": {
        "operationId": "encodianUtilities.utilities-clean-text",
        "summary": "Utilities - Clean Text",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianUtilities/latest/actions/utilities-clean-text"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "The text value to process",
            "schema": {
              "type": "string",
              "description": "The text value to process"
            }
          },
          {
            "name": "removeCharacterSet",
            "in": "query",
            "required": false,
            "description": "Set the collection of characters to remove from the text value provided",
            "schema": {
              "type": "string",
              "description": "Set the collection of characters to remove from the text value provided"
            }
          },
          {
            "name": "removeControlChars",
            "in": "query",
            "required": false,
            "description": "Set whether to remove control characters from the text value",
            "schema": {
              "type": "boolean",
              "description": "Set whether to remove control characters from the text value",
              "default": false
            }
          },
          {
            "name": "removeInvalidFileNameChars",
            "in": "query",
            "required": false,
            "description": "Set whether to remove characters that are invalid in file names from the text value",
            "schema": {
              "type": "boolean",
              "description": "Set whether to remove characters that are invalid in file names from the text value",
              "default": false
            }
          },
          {
            "name": "trimResult",
            "in": "query",
            "required": false,
            "description": "Set whether white-space should be trimmed from the processed text value",
            "schema": {
              "type": "boolean",
              "description": "Set whether white-space should be trimmed from the processed text value",
              "default": true,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string",
                            "description": "The response value for the request"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianUtilities/latest/actions/utilities-compare-text": {
      "get": {
        "operationId": "encodianUtilities.utilities-compare-text",
        "summary": "Utilities - Compare Text",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianUtilities/latest/actions/utilities-compare-text"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "primaryText",
            "in": "query",
            "required": true,
            "description": "The first text value to compare",
            "schema": {
              "type": "string",
              "description": "The first text value to compare"
            }
          },
          {
            "name": "secondaryText",
            "in": "query",
            "required": true,
            "description": "The second text value to compare",
            "schema": {
              "type": "string",
              "description": "The second text value to compare"
            }
          },
          {
            "name": "ignoreCase",
            "in": "query",
            "required": false,
            "description": "Set whether text case should be ignored when comparing the text values provided",
            "schema": {
              "type": "boolean",
              "description": "Set whether text case should be ignored when comparing the text values provided",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          },
                          "result": {
                            "type": "boolean",
                            "description": "The response value for the request"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianUtilities/latest/actions/utilities-concatenate-text": {
      "get": {
        "operationId": "encodianUtilities.utilities-concatenate-text",
        "summary": "Utilities - Concatenate Text",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianUtilities/latest/actions/utilities-concatenate-text"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "textList[]",
            "in": "query",
            "required": false,
            "description": "The array of text values to concatenate",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The array of text values to concatenate"
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "delimiter",
            "in": "query",
            "required": false,
            "description": "The delimiter to place between the concatenated text values",
            "schema": {
              "type": "string",
              "description": "The delimiter to place between the concatenated text values"
            }
          },
          {
            "name": "trimResult",
            "in": "query",
            "required": false,
            "description": "Set whether white-space should be trimmed from the processed text value",
            "schema": {
              "type": "boolean",
              "description": "Set whether white-space should be trimmed from the processed text value",
              "default": true,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string",
                            "description": "The response value for the request"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianUtilities/latest/actions/utilities-create-guid": {
      "post": {
        "operationId": "encodianUtilities.utilities-create-guid",
        "summary": "Utilities - Create GUID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianUtilities/latest/actions/utilities-create-guid"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "case"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "case": {
                    "type": "string",
                    "description": "Set the case of the GUID (Lower or Upper)",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "default": "Lower"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string",
                            "description": "The response value for the request"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianUtilities/latest/actions/utilities-extract-email-addresses-from-text": {
      "get": {
        "operationId": "encodianUtilities.utilities-extract-email-addresses-from-text",
        "summary": "Utilities - Extract Email Addresses from Text",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianUtilities/latest/actions/utilities-extract-email-addresses-from-text"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "The text from which email addresses are to be extracted",
            "schema": {
              "type": "string",
              "description": "The text from which email addresses are to be extracted"
            }
          },
          {
            "name": "regex",
            "in": "query",
            "required": true,
            "description": "The default regular expression used for extraction",
            "schema": {
              "type": "string",
              "description": "The default regular expression used for extraction",
              "default": "\\S+?@\\S+?\\.\\S+",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          },
                          "result": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The response value for the request"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianUtilities/latest/actions/utilities-extract-text-between-values": {
      "get": {
        "operationId": "encodianUtilities.utilities-extract-text-between-values",
        "summary": "Utilities - Extract Text between Values",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianUtilities/latest/actions/utilities-extract-text-between-values"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "The text from which a value is to be extracted",
            "schema": {
              "type": "string",
              "description": "The text from which a value is to be extracted"
            }
          },
          {
            "name": "startValue",
            "in": "query",
            "required": false,
            "description": "The text value to start the extraction from",
            "schema": {
              "type": "string",
              "description": "The text value to start the extraction from"
            }
          },
          {
            "name": "endValue",
            "in": "query",
            "required": false,
            "description": "The text value to end the extraction from",
            "schema": {
              "type": "string",
              "description": "The text value to end the extraction from"
            }
          },
          {
            "name": "ignoreCase",
            "in": "query",
            "required": false,
            "description": "Set whether the text case should be ignored when executing the extraction",
            "schema": {
              "type": "boolean",
              "description": "Set whether the text case should be ignored when executing the extraction",
              "default": true,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "includeValues",
            "in": "query",
            "required": false,
            "description": "Set whether any or both of the 'Start Value' and 'End Value' should be included within the result",
            "schema": {
              "type": "string",
              "description": "Set whether any or both of the 'Start Value' and 'End Value' should be included within the result",
              "enum": [
                "0",
                "1",
                "2",
                "3"
              ],
              "default": "None",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "trimResult",
            "in": "query",
            "required": false,
            "description": "Set whether white-space should be trimmed from the extracted string",
            "schema": {
              "type": "boolean",
              "description": "Set whether white-space should be trimmed from the extracted string",
              "default": true,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string",
                            "description": "The response value for the request"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianUtilities/latest/actions/utilities-extract-urls-from-text": {
      "get": {
        "operationId": "encodianUtilities.utilities-extract-urls-from-text",
        "summary": "Utilities - Extract URLs from Text",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianUtilities/latest/actions/utilities-extract-urls-from-text"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "The text from which URL's are to be extracted",
            "schema": {
              "type": "string",
              "description": "The text from which URL's are to be extracted"
            }
          },
          {
            "name": "regex",
            "in": "query",
            "required": true,
            "description": "The default regular expression used for extraction",
            "schema": {
              "type": "string",
              "description": "The default regular expression used for extraction",
              "default": "\\b(?:https?://|www\\.)[^\\s<>\"]+[^.,;:\\s<>\")\\]]",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          },
                          "result": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The response value for the request"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianUtilities/latest/actions/utilities-format-date": {
      "get": {
        "operationId": "encodianUtilities.utilities-format-date",
        "summary": "Utilities - Format Date",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianUtilities/latest/actions/utilities-format-date"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "The date value to format",
            "schema": {
              "type": "string",
              "description": "The date value to format"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "description": "Set the date format - https://learn.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings",
            "schema": {
              "type": "string",
              "description": "Set the date format - https://learn.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings"
            }
          },
          {
            "name": "cultureName",
            "in": "query",
            "required": false,
            "description": "Change the thread culture used to process the request.",
            "schema": {
              "type": "string",
              "description": "Change the thread culture used to process the request."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "httpStatusCode": {
                            "type": "number"
                          },
                          "httpStatusMessage": {
                            "type": "string"
                          },
                          "operationId": {
                            "type": "string"
                          },
                          "operationStatus": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string",
                            "description": "The response value for the request"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
[...]
