{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Bedrijfsdata.nl Universal API",
    "version": "0.0.9",
    "description": "Search, enrich, validate, and retrieve Dutch company and business-related data from Bedrijfsdata.nl."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/bedrijfsdatanl/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/bedrijfsdatanl/latest/actions/check-password-exposure": {
      "get": {
        "operationId": "bedrijfsdatanl.check-password-exposure",
        "summary": "Check Password Exposure",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bedrijfsdatanl/latest/actions/check-password-exposure"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "required": false,
            "description": "Password value to check for known exposure.",
            "schema": {
              "type": "string",
              "description": "Password value to check for known exposure."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsUsed": {
                            "type": "number"
                          },
                          "creditsUsedMonth": {
                            "type": "number"
                          },
                          "monthlyCredits": {
                            "type": "number"
                          },
                          "password": {
                            "type": "object",
                            "properties": {
                              "found": {
                                "type": "number"
                              },
                              "message": {
                                "type": "string"
                              },
                              "success": {
                                "type": "number"
                              },
                              "wrongPassword": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "product": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bedrijfsdatanl/latest/actions/enrich-company": {
      "get": {
        "operationId": "bedrijfsdatanl.enrich-company",
        "summary": "Enrich Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bedrijfsdatanl/latest/actions/enrich-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Bedrijfsdata company ID to enrich.",
            "schema": {
              "type": "string",
              "description": "Bedrijfsdata company ID to enrich."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsUsed": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bedrijfsdatanl/latest/actions/find-companies-at-shared-address": {
      "get": {
        "operationId": "bedrijfsdatanl.find-companies-at-shared-address",
        "summary": "Find Companies At Shared Address",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bedrijfsdatanl/latest/actions/find-companies-at-shared-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Company ID used to find related companies at the same address.",
            "schema": {
              "type": "string",
              "description": "Company ID used to find related companies at the same address."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "product": {
                            "type": "string"
                          },
                          "q": {
                            "type": "string"
                          },
                          "qid": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bedrijfsdatanl/latest/actions/find-company-news": {
      "get": {
        "operationId": "bedrijfsdatanl.find-company-news",
        "summary": "Find Company News",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bedrijfsdatanl/latest/actions/find-company-news"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Company name used to find news.",
            "schema": {
              "type": "string",
              "description": "Company name used to find news."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsUsed": {
                            "type": "number"
                          },
                          "creditsUsedMonth": {
                            "type": "number"
                          },
                          "found": {
                            "type": "number"
                          },
                          "latest": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "monthlyCredits": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nameSearch": {
                            "type": "string"
                          },
                          "product": {
                            "type": "string"
                          },
                          "sq": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bedrijfsdatanl/latest/actions/find-company-people": {
      "get": {
        "operationId": "bedrijfsdatanl.find-company-people",
        "summary": "Find Company People",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bedrijfsdatanl/latest/actions/find-company-people"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Company name used to find people records.",
            "schema": {
              "type": "string",
              "description": "Company name used to find people records."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsUsed": {
                            "type": "number"
                          },
                          "creditsUsedMonth": {
                            "type": "number"
                          },
                          "emailformat": {
                            "type": "string"
                          },
                          "employees": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "found": {
                            "type": "number"
                          },
                          "monthlyCredits": {
                            "type": "number"
                          },
                          "namecounts": {
                            "type": "object",
                            "properties": {
                              "changedDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "cocCount": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "name": {
                                "type": "string"
                              },
                              "nameids": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "nameMain": {
                                "type": "string"
                              },
                              "names": {
                                "type": "string"
                              },
                              "text": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "product": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bedrijfsdatanl/latest/actions/find-company-vacancies": {
      "get": {
        "operationId": "bedrijfsdatanl.find-company-vacancies",
        "summary": "Find Company Vacancies",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bedrijfsdatanl/latest/actions/find-company-vacancies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "coc",
            "in": "query",
            "required": false,
            "description": "Dutch Chamber of Commerce number used to find vacancies.",
            "schema": {
              "type": "string",
              "description": "Dutch Chamber of Commerce number used to find vacancies."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ago": {
                            "type": "number"
                          },
                          "creditsUsed": {
                            "type": "number"
                          },
                          "creditsUsedMonth": {
                            "type": "number"
                          },
                          "found": {
                            "type": "number"
                          },
                          "latest": {
                            "type": "number"
                          },
                          "monthlyCredits": {
                            "type": "number"
                          },
                          "product": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "vacancies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "active": {
                                  "type": "number"
                                },
                                "coc": {
                                  "type": "string"
                                },
                                "company": {
                                  "type": "string"
                                },
                                "date": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "domain": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "rank": {
                                  "type": "number"
                                },
                                "time": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bedrijfsdatanl/latest/actions/geocode-address": {
      "get": {
        "operationId": "bedrijfsdatanl.geocode-address",
        "summary": "Geocode Address",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bedrijfsdatanl/latest/actions/geocode-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "description": "ISO2 country code.",
            "schema": {
              "type": "string",
              "description": "ISO2 country code."
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Address or place query to geocode.",
            "schema": {
              "type": "string",
              "description": "Address or place query to geocode."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsUsed": {
                            "type": "number"
                          },
                          "creditsUsedMonth": {
                            "type": "number"
                          },
                          "found": {
                            "type": "number"
                          },
                          "geocoding": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "addition": {
                                  "type": "string"
                                },
                                "city": {
                                  "type": "string"
                                },
                                "countryCode": {
                                  "type": "string"
                                },
                                "freeformaddress": {
                                  "type": "string"
                                },
                                "lat": {
                                  "type": "number"
                                },
                                "letter": {
                                  "type": "string"
                                },
                                "lon": {
                                  "type": "number"
                                },
                                "municipality": {
                                  "type": "string"
                                },
                                "number": {
                                  "type": "number"
                                },
                                "postcode": {
                                  "type": "string"
                                },
                                "province": {
                                  "type": "string"
                                },
                                "provinceCode": {
                                  "type": "string"
                                },
                                "street": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "monthlyCredits": {
                            "type": "number"
                          },
                          "product": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bedrijfsdatanl/latest/actions/get-corporate-family": {
      "get": {
        "operationId": "bedrijfsdatanl.get-corporate-family",
        "summary": "Get Corporate Family",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bedrijfsdatanl/latest/actions/get-corporate-family"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Company ID used to resolve a corporate family.",
            "schema": {
              "type": "string",
              "description": "Company ID used to resolve a corporate family."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "product": {
                            "type": "string"
                          },
                          "q": {
                            "type": "string"
                          },
                          "qid": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bedrijfsdatanl/latest/actions/get-site-rank-metrics": {
      "get": {
        "operationId": "bedrijfsdatanl.get-site-rank-metrics",
        "summary": "Get Site Rank Metrics",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bedrijfsdatanl/latest/actions/get-site-rank-metrics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Domain to evaluate for site metrics.",
            "schema": {
              "type": "string",
              "description": "Domain to evaluate for site metrics."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "backlinkDomains": {
                            "type": "number"
                          },
                          "backlinks": {
                            "type": "number"
                          },
                          "bounceRate": {
                            "type": "number"
                          },
                          "creditsUsed": {
                            "type": "number"
                          },
                          "creditsUsedMonth": {
                            "type": "number"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "homepageMobileResources": {
                            "type": "number"
                          },
                          "homepageMobileTiming": {
                            "type": "number"
                          },
                          "indexableUrls": {
                            "type": "number"
                          },
                          "monthlyCredits": {
                            "type": "number"
                          },
                          "monthlyVisits": {
                            "type": "number"
                          },
                          "pagerank": {
                            "type": "number"
                          },
                          "pagespeedMobileScore": {
                            "type": "object",
                            "properties": {
                              "accessibility": {
                                "type": "number"
                              },
                              "bestPractices": {
                                "type": "number"
                              },
                              "performance": {
                                "type": "number"
                              },
                              "seo": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "product": {
                            "type": "string"
                          },
                          "rankings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "perc": {
                                  "type": "number"
                                },
                                "percList": {
                                  "type": "number"
                                },
                                "rank": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "timeOnSite": {
                            "type": "number"
                          },
                          "url": {
                            "type": "string"
                          },
                          "visitedPages": {
                            "type": "number"
                          },
                          "webrankHistory": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "date": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "perc": {
                                  "type": "number"
                                },
                                "time": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "webrank": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bedrijfsdatanl/latest/actions/get-web-rank-summary": {
      "get": {
        "operationId": "bedrijfsdatanl.get-web-rank-summary",
        "summary": "Get Web Rank Summary",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bedrijfsdatanl/latest/actions/get-web-rank-summary"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Domain to evaluate for web rank data.",
            "schema": {
              "type": "string",
              "description": "Domain to evaluate for web rank data."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsUsed": {
                            "type": "number"
                          },
                          "creditsUsedMonth": {
                            "type": "number"
                          },
                          "monthlyCredits": {
                            "type": "number"
                          },
                          "product": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "webrank": {
                            "type": "object",
                            "properties": {
                              "builtwith": {
                                "type": "number"
                              },
                              "cloudflare": {
                                "type": "number"
                              },
                              "commoncrawl": {
                                "type": "number"
                              },
                              "crux": {
                                "type": "number"
                              },
                              "domain": {
                                "type": "string"
                              },
                              "domcop": {
                                "type": "number"
                              },
                              "hostio": {
                                "type": "number"
                              },
                              "majestic": {
                                "type": "number"
                              },
                              "pagerank": {
                                "type": "number"
                              },
                              "tranco": {
                                "type": "number"
                              },
                              "umbrella": {
                                "type": "number"
                              },
                              "webrank": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bedrijfsdatanl/latest/actions/list-companies": {
      "get": {
        "operationId": "bedrijfsdatanl.list-companies",
        "summary": "List Companies",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bedrijfsdatanl/latest/actions/list-companies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Optional search query for company discovery.",
            "schema": {
              "type": "string",
              "description": "Optional search query for company discovery."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string"
                                },
                                "addressid": {
                                  "type": "string"
                                },
                                "apps": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "appsCat": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "appsCms": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "appsTagManagers": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "bagAddressid": {
                                  "type": "string"
                                },
                                "bagBouwjaar": {
                                  "type": "number"
                                },
                                "bagGebruiksdoel": {
                                  "type": "string"
                                },
                                "bagOppervlakte": {
                                  "type": "number"
                                },
                                "bagOppervlakteAvg": {
                                  "type": "number"
                                },
                                "bagPndId": {
                                  "type": "string"
                                },
                                "bingId": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "ch": {
                                  "type": "string"
                                },
                                "city": {
                                  "type": "string"
                                },
                                "coc": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "countryCode": {
                                  "type": "string"
                                },
                                "dataExists": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "description": {
                                  "type": "string"
                                },
                                "domain": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "employees": {
                                  "type": "number"
                                },
                                "employeesRange": {
                                  "type": "number"
                                },
                                "facebookFollowers": {
                                  "type": "number"
                                },
                                "facebookId": {
                                  "type": "number"
                                },
                                "facebookLink": {
                                  "type": "string"
                                },
                                "facebookRating": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "facebookReviews": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "fastRank": {
                                  "type": "number"
                                },
                                "fd": {
                                  "type": "string"
                                },
                                "founded": {
                                  "type": "number"
                                },
                                "fullProfile": {
                                  "type": "string"
                                },
                                "geo": {
                                  "type": "string"
                                },
                                "googleId": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "id": {
                                  "type": "string"
                                },
                                "imageUrl": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "imageUrlMain": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "imageUrls": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "industry": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "industrySection": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "introduction": {
                                  "type": "string"
                                },
                                "introductionEn": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "introductionNl": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "isic": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "keywordEn": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "keywordNl": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "keywords": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "lang": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "linkedBy": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "linkedCount": {
                                  "type": "number"
                                },
                                "linkedinIndustryShort": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "linkedKeyword": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "linkedRank": {
                                  "type": "number"
                                },
                                "mentionedBy": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "municipality": {
                                  "type": "string"
                                },
                                "naceIndustry": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "naics": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "naicsIndustry": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "name": {
                                  "type": "string"
                                },
                                "names": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "officeType": {
                                  "type": "string"
                                },
                                "orgtype": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "phoneInternational": {
                                  "type": "string"
                                },
                                "postcode": {
                                  "type": "string"
                                },
                                "province": {
                                  "type": "string"
                                },
                                "provinceLocal": {
                                  "type": "string"
                                },
                                "rank": {
                                  "type": "number"
                                },
                                "rating": {
                                  "type": "number"
                                },
                                "registerId": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "relatedUrlsList": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "revenue": {
                                  "type": "number"
                                },
                                "revenueRange": {
                                  "type": "number"
                                },
                                "reviews": {
                                  "type": "number"
                                },
                                "sbi": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "sbi2008": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "sbi2025": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "sbiMain": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "socialExists": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "socialInteractions": {
                                  "type": "number"
                                },
                                "ultimateParentCocs": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "url": {
                                  "type": "string"
                                },
                                "ussic8": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "ussic8Industry": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "vat": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "creditsUsed": {
                            "type": "number"
                          },
                          "creditsUsedMonth": {
                            "type": "number"
                          },
                          "found": {
                            "type": "number"
                          },
                          "monthlyCredits": {
                            "type": "number"
                          },
                          "product": {
                            "type": "string"
                          },
                          "q": {
                            "type": "string"
                          },
                          "qid": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
[...]
