{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zillow Agent Reviews Universal API",
    "version": "0.0.3",
    "description": "Bridge-hosted Zillow Agent Reviews data access. Requires a Bridge account and access to the reviews dataset."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zillowAgentReviews/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zillowAgentReviews/latest/actions/list-reviewees": {
      "get": {
        "operationId": "zillowAgentReviews.list-reviewees",
        "summary": "List reviewees",
        "description": "Retrieves reviewees from Zillow Agent Reviews.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowAgentReviews/latest/actions/list-reviewees"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AccountIdReviewee": {
                            "type": "string",
                            "description": "Primary identifier for reviewees."
                          },
                          "AverageReviewRating": {
                            "type": "number",
                            "description": "Reviewee's average rating."
                          },
                          "BridgeModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp for the latest Bridge-side modification."
                          },
                          "ReviewCount": {
                            "type": "number",
                            "description": "Number of reviews for the reviewee."
                          },
                          "RevieweeBusinessName": {
                            "type": "string",
                            "description": "Reviewee business name."
                          },
                          "RevieweeEmail": {
                            "type": "string",
                            "description": "Reviewee email."
                          },
                          "RevieweeFullName": {
                            "type": "string",
                            "description": "Reviewee full name."
                          },
                          "RevieweeKey": {
                            "type": "string",
                            "description": "Bridge primary key for reviewees."
                          },
                          "RevieweeProfileURL": {
                            "type": "string",
                            "description": "Reviewee profile URL."
                          },
                          "RevieweeScreenName": {
                            "type": "string",
                            "description": "Reviewee screen name."
                          },
                          "RevieweeTitle": {
                            "type": "string",
                            "description": "Reviewee title."
                          },
                          "ReviewRequestURL": {
                            "type": "string",
                            "description": "Review request URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zillowAgentReviews/latest/actions/list-reviews": {
      "get": {
        "operationId": "zillowAgentReviews.list-reviews",
        "summary": "List reviews",
        "description": "Retrieves agent reviews from Zillow Agent Reviews.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zillowAgentReviews/latest/actions/list-reviews"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AccountIdReviewee": {
                            "type": "string",
                            "description": "Primary identifier for the reviewee."
                          },
                          "AccountIdReviewer": {
                            "type": "string",
                            "description": "Primary identifier for the reviewer."
                          },
                          "BridgeModificationTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp for the latest Bridge-side modification."
                          },
                          "Description": {
                            "type": "string",
                            "description": "Review content."
                          },
                          "FreeFormLocation": {
                            "type": "string",
                            "description": "Free-form location text."
                          },
                          "PropertyId": {
                            "type": "string",
                            "description": "Property identifier."
                          },
                          "PropertyLocationNames": {
                            "type": "string",
                            "description": "Property location names."
                          },
                          "Rating": {
                            "type": "number",
                            "description": "Review rating."
                          },
                          "RegionId": {
                            "type": "string",
                            "description": "Region identifier."
                          },
                          "RegionLocationNames": {
                            "type": "string",
                            "description": "Region location names."
                          },
                          "ReviewDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Review date."
                          },
                          "RevieweeKey": {
                            "type": "string",
                            "description": "Bridge foreign key for reviewees."
                          },
                          "ReviewerFullName": {
                            "type": "string",
                            "description": "Reviewer's full name."
                          },
                          "ReviewerScreenName": {
                            "type": "string",
                            "description": "Reviewer's screen name."
                          },
                          "ReviewId": {
                            "type": "string",
                            "description": "Primary identifier for reviews."
                          },
                          "ReviewKey": {
                            "type": "string",
                            "description": "Bridge primary key for reviews."
                          },
                          "ServiceProviderDesc": {
                            "type": "string",
                            "description": "Service provider description."
                          },
                          "ServiceYear": {
                            "type": "number",
                            "description": "Service year."
                          },
                          "TeamLeadAccountId": {
                            "type": "string",
                            "description": "Primary identifier for the team lead."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
