{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SatisMeter Universal API",
    "version": "0.0.8",
    "description": "Manage surveys, responses, users, and feedback analytics"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/satisMeter/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/satisMeter/latest/actions/delete-user": {
      "delete": {
        "operationId": "satisMeter.delete-user",
        "summary": "Delete User",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/satisMeter/latest/actions/delete-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "SatisMeter internal user ID.",
            "schema": {
              "type": "string",
              "description": "SatisMeter internal user ID.",
              "example": "61fcfe756f8492a197205e84"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/satisMeter/latest/actions/get-project": {
      "get": {
        "operationId": "satisMeter.get-project",
        "summary": "Get Project",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/satisMeter/latest/actions/get-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "Project ID.",
            "schema": {
              "type": "string",
              "description": "Project ID.",
              "example": "61fce0adea447e24ec27d606"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Project ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Project name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/satisMeter/latest/actions/get-survey": {
      "get": {
        "operationId": "satisMeter.get-survey",
        "summary": "Get Survey",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/satisMeter/latest/actions/get-survey"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "Survey ID.",
            "schema": {
              "type": "string",
              "description": "Survey ID.",
              "example": "61fce0adea447e24ec27d609"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "Project ID.",
            "schema": {
              "type": "string",
              "description": "Project ID.",
              "example": "61fce0adea447e24ec27d606"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Survey ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Survey name."
                          },
                          "state": {
                            "type": "string",
                            "description": "Survey state."
                          },
                          "type": {
                            "type": "string",
                            "description": "Survey type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/satisMeter/latest/actions/get-survey-statistics": {
      "get": {
        "operationId": "satisMeter.get-survey-statistics",
        "summary": "Get Survey Statistics",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/satisMeter/latest/actions/get-survey-statistics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "Survey ID.",
            "schema": {
              "type": "string",
              "description": "Survey ID.",
              "example": "61fce0adea447e24ec27d609"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter statistics using responses recorded before this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter statistics using responses recorded before this ISO 8601 timestamp.",
              "example": "2026-03-17T23:59:59Z"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "Project ID.",
            "schema": {
              "type": "string",
              "description": "Project ID.",
              "example": "61fce0adea447e24ec27d606"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Filter statistics using responses recorded after this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter statistics using responses recorded after this ISO 8601 timestamp.",
              "example": "2026-03-01T00:00:00Z"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "questions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Question ID."
                                },
                                "label": {
                                  "type": "string",
                                  "description": "Question label."
                                },
                                "statistics": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Question-level statistics.",
                                  "properties": {
                                    "answers": {
                                      "type": "number",
                                      "description": "Number of answers for the question."
                                    },
                                    "metric": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "description": "Question metric summary when provided.",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "description": "Metric type."
                                        },
                                        "value": {
                                          "type": "number",
                                          "description": "Metric value."
                                        }
                                      }
                                    },
                                    "values": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "answers": {
                                            "type": "number",
                                            "description": "Answer count for the scale value."
                                          },
                                          "value": {
                                            "type": "number",
                                            "description": "Scale value."
                                          }
                                        }
                                      },
                                      "description": "Per-scale answer counts when provided."
                                    }
                                  }
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Question type."
                                }
                              }
                            },
                            "description": "Survey questions and per-question statistics."
                          },
                          "statistics": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Survey response totals.",
                            "properties": {
                              "displays": {
                                "type": "number",
                                "description": "Total survey displays."
                              },
                              "responseRate": {
                                "type": "number",
                                "description": "Survey response rate."
                              },
                              "responses": {
                                "type": "number",
                                "description": "Total survey responses."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/satisMeter/latest/actions/insert-nps-survey-response": {
      "post": {
        "operationId": "satisMeter.insert-nps-survey-response",
        "summary": "Insert NPS Survey Response",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/satisMeter/latest/actions/insert-nps-survey-response"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "writeKey",
                  "userId",
                  "score"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "writeKey": {
                    "type": "string",
                    "description": "SatisMeter survey write key for response insertion."
                  },
                  "userId": {
                    "type": "string",
                    "description": "External user identifier for the disposable or real survey respondent."
                  },
                  "score": {
                    "type": "number",
                    "description": "NPS score value for the rating question."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Free-text answer for the comment question."
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional respondent name sent into traits."
                  },
                  "email": {
                    "type": "string",
                    "description": "Optional respondent email sent into traits."
                  },
                  "forceSurvey": {
                    "type": "boolean",
                    "description": "When true, allows creating the response even if survey rules would normally suppress it.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/satisMeter/latest/actions/list-project-responses": {
      "get": {
        "operationId": "satisMeter.list-project-responses",
        "summary": "List Project Responses",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/satisMeter/latest/actions/list-project-responses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter responses recorded before this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter responses recorded before this ISO 8601 timestamp.",
              "example": "2026-03-17T23:59:59Z"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "Project ID.",
            "schema": {
              "type": "string",
              "description": "Project ID.",
              "example": "61fce0adea447e24ec27d606"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Filter responses recorded after this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter responses recorded after this ISO 8601 timestamp.",
              "example": "2026-03-01T00:00:00Z"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Question ID."
                                },
                                "label": {
                                  "type": "string",
                                  "description": "Question label."
                                },
                                "metric": {
                                  "type": "string",
                                  "description": "Metric type when provided."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Provider answer token."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Question type."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Question answer value. SatisMeter may return strings or numbers depending on question type."
                                }
                              }
                            },
                            "description": "Recorded answers for the response."
                          },
                          "campaign": {
                            "type": "string",
                            "description": "Survey ID."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Response creation timestamp."
                          },
                          "device": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Device summary.",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "Device type."
                              }
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Response ID."
                          },
                          "language": {
                            "type": "string",
                            "description": "Response language."
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Location summary.",
                            "properties": {
                              "city": {
                                "type": "string",
                                "description": "City."
                              },
                              "country": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Country summary.",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "description": "Country code."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Country name."
                                  }
                                }
                              },
                              "region": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Region summary.",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "description": "Region code."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Region name."
                                  }
                                }
                              }
                            }
                          },
                          "method": {
                            "type": "string",
                            "description": "Survey delivery method."
                          },
                          "project": {
                            "type": "string",
                            "description": "Project ID."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Associated user summary.",
                            "properties": {
                              "deleted": {
                                "type": "boolean",
                                "description": "Whether the user has been anonymized or deleted."
                              },
                              "id": {
                                "type": "string",
                                "description": "SatisMeter internal user ID."
                              },
                              "userId": {
                                "type": "string",
                                "description": "External user ID."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/satisMeter/latest/actions/list-survey-responses": {
      "get": {
        "operationId": "satisMeter.list-survey-responses",
        "summary": "List Survey Responses",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/satisMeter/latest/actions/list-survey-responses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "Survey ID.",
            "schema": {
              "type": "string",
              "description": "Survey ID.",
              "example": "61fce0adea447e24ec27d609"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter responses recorded before this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter responses recorded before this ISO 8601 timestamp.",
              "example": "2026-03-17T23:59:59Z"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "Project ID.",
            "schema": {
              "type": "string",
              "description": "Project ID.",
              "example": "61fce0adea447e24ec27d606"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Filter responses recorded after this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter responses recorded after this ISO 8601 timestamp.",
              "example": "2026-03-01T00:00:00Z"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Question ID."
                                },
                                "label": {
                                  "type": "string",
                                  "description": "Question label."
                                },
                                "metric": {
                                  "type": "string",
                                  "description": "Metric type when provided."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Provider answer token."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Question type."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Question answer value. SatisMeter may return strings or numbers depending on question type."
                                }
                              }
                            },
                            "description": "Recorded answers for the response."
                          },
                          "campaign": {
                            "type": "string",
                            "description": "Survey ID."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Response creation timestamp."
                          },
                          "device": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Device summary.",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "Device type."
                              }
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Response ID."
                          },
                          "language": {
                            "type": "string",
                            "description": "Response language."
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Location summary.",
                            "properties": {
                              "city": {
                                "type": "string",
                                "description": "City."
                              },
                              "country": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Country summary.",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "description": "Country code."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Country name."
                                  }
                                }
                              },
                              "region": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Region summary.",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "description": "Region code."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Region name."
                                  }
                                }
                              }
                            }
                          },
                          "method": {
                            "type": "string",
                            "description": "Survey delivery method."
                          },
                          "project": {
                            "type": "string",
                            "description": "Project ID."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Associated user summary.",
                            "properties": {
                              "deleted": {
                                "type": "boolean",
                                "description": "Whether the user has been anonymized or deleted."
                              },
                              "id": {
                                "type": "string",
                                "description": "SatisMeter internal user ID."
                              },
                              "userId": {
                                "type": "string",
                                "description": "External user ID."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/satisMeter/latest/actions/list-surveys": {
      "get": {
        "operationId": "satisMeter.list-surveys",
        "summary": "List Surveys",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/satisMeter/latest/actions/list-surveys"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "Project ID.",
            "schema": {
              "type": "string",
              "description": "Project ID.",
              "example": "61fce0adea447e24ec27d606"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Survey ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Survey name."
                          },
                          "state": {
                            "type": "string",
                            "description": "Survey state."
                          },
                          "type": {
                            "type": "string",
                            "description": "Survey type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/satisMeter/latest/actions/list-unsubscribed-emails": {
      "get": {
        "operationId": "satisMeter.list-unsubscribed-emails",
        "summary": "List Unsubscribed Emails",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/satisMeter/latest/actions/list-unsubscribed-emails"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "Project ID.",
            "schema": {
              "type": "string",
              "description": "Project ID.",
              "example": "61fce0adea447e24ec27d606"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Project unsubscribe resource.",
                            "properties": {
                              "attributes": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Unsubscribe attributes.",
                                "properties": {
                                  "emails": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Unsubscribed email addresses."
                                  }
                                }
                              },
                              "id": {
                                "type": "string",
                                "description": "Project ID."
                              },
                              "type": {
                                "type": "string",
                                "description": "Resource type."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/satisMeter/latest/actions/list-users": {
      "get": {
        "operationId": "satisMeter.list-users",
        "summary": "List Users",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/satisMeter/latest/actions/list-users"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": true,
            "description": "Project ID.",
            "schema": {
              "type": "string",
              "description": "Project ID.",
              "example": "61fce0adea447e24ec27d606"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "Filter by a specific user ID.",
            "schema": {
              "type": "string",
              "description": "Filter by a specific user ID.",
              "example": "1234"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "created": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "User creation timestamp."
                                },
                                "email": {
                                  "type": "string",
                                  "description": "User email."
                                },
                                "events": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "description": "Tracked events for the user."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "SatisMeter internal user ID."
                                },
                                "lastSeen": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Most recent activity timestamp."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "User display name."
                                },
                                "project": {
                                  "type": "string",
                                  "description": "Project ID."
                                },
                                "traits": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "User traits stored in SatisMeter.",
                                  "properties": {
                                    "createdAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "User creation timestamp stored as a trait when provided."
                                    },
                                    "email": {
                                      "type": "string",
                                      "description": "User email stored as a trait when provided."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "User name stored as a trait when provided."
                                    }
                                  }
                                },
                                "userId": {
                                  "type": "string",
                                  "description": "External user ID."
                                }
                              }
                            },
                            "description": "Matched users for the project and optional filters."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/satisMeter/latest/actions/track-event": {
      "post": {
        "operationId": "satisMeter.track-event",
        "summary": "Track Event",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/satisMeter/latest/actions/track-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "event",
                  "project",
                  "userId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "event": {
                    "type": "string",
                    "description": "Event name.",
                    "example": "user_signed_in"
                  },
                  "project": {
                    "type": "string",
                    "description": "Project ID.",
                    "example": "61fce0adea447e24ec27d606"
                  },
                  "userId": {
                    "type": "string",
                    "description": "User ID used on your end to uniquely identify the user.",
                    "example": "1234"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/satisMeter/latest/actions/update-unsubscribed-emails": {
      "put": {
        "operationId": "satisMeter.update-unsubscribed-emails",
        "summary": "Update Unsubscribed Emails",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/satisMeter/latest/actions/update-unsubscribed-emails"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "emails",
                  "projectId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "emails": {
                    "type": "string",
                    "description": "Complete unsubscribe list to persist for the project. Provide the full desired set of unsubscribed email addresses.",
                    "example": "user@example.com"
                  },
                  "projectId": {
                    "type": "string",
                    "description": "Project ID.",
                    "example": "61fce0adea447e24ec27d606"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/satisMeter/latest/actions/upsert-user": {
      "put": {
        "operationId": "satisMeter.upsert-user",
        "summary": "Upsert User",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/satisMeter/latest/actions/upsert-user"
        },
        "security": [
          {
            "bearerAuth": []
[...]
