{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "eTermin Universal API",
    "version": "0.0.5",
    "description": "eTermin is an online appointment scheduling platform with a REST API for calendars, appointments, contacts, services, availability, and schedule management."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/eTermin/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/eTermin/latest/actions/assign-calendar-services": {
      "post": {
        "operationId": "eTermin.assign-calendar-services",
        "summary": "Assign Calendar Services",
        "description": "Assigns services to a calendar in eTermin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eTermin/latest/actions/assign-calendar-services"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "calendarid",
                  "serviceid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "calendarid": {
                    "type": "string",
                    "description": "ID of the calendar"
                  },
                  "serviceid": {
                    "type": "string",
                    "description": "ID of the service"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eTermin/latest/actions/create-appointment": {
      "post": {
        "operationId": "eTermin.create-appointment",
        "summary": "Create Appointment",
        "description": "Creates a new appointment in eTermin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eTermin/latest/actions/create-appointment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "start",
                  "end",
                  "calendarid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "start": {
                    "type": "string",
                    "description": "Start date and time of the appointment. Format: yyyy-mm-dd HH:MM e.g. 2017-10-24 18:00"
                  },
                  "end": {
                    "type": "string",
                    "description": "End date and time of the appointment. Format: yyyy-mm-dd HH:MM e.g. 2017-10-24 19:00"
                  },
                  "calendarid": {
                    "type": "number",
                    "description": "ID of the calendar. Use the 'Calendar - Get calendar details' function to get a list with all available calendars"
                  },
                  "calendarname": {
                    "type": "string",
                    "description": "Name of the calendar (needed for Webpush)"
                  },
                  "services": {
                    "type": "string",
                    "description": "ID of the service. Use the 'Service - Get service details' function to get a list with all available services. To use multiple services use a comma (,) to seperate the IDs"
                  },
                  "servicestext": {
                    "type": "string",
                    "description": "Name of the services"
                  },
                  "servicesinclsgtext": {
                    "type": "string",
                    "description": "Name of the services including the service groups"
                  },
                  "servicesabb": {
                    "type": "string",
                    "description": "Abbreviation of the services"
                  },
                  "capacity": {
                    "type": "number",
                    "description": "Defines the capacity of the appointment"
                  },
                  "capused": {
                    "type": "boolean",
                    "description": "true if the capacity of the appointment needs to be checked"
                  },
                  "capmaxused": {
                    "type": "number",
                    "description": "Maximum capacity that can't be exceeded"
                  },
                  "location": {
                    "type": "string",
                    "description": "Location of the appointment"
                  },
                  "bookingtype": {
                    "type": "string",
                    "description": "Information about how the appointment is booked"
                  },
                  "bookingurl": {
                    "type": "string",
                    "description": "Information from which URL the appointment got booked"
                  },
                  "checkexist": {
                    "type": "boolean",
                    "description": "Checks if the appointment start/end time is available (1 = yes, 0 = no). May not work with multiple capacity"
                  },
                  "manualconfirmed": {
                    "type": "number",
                    "description": "Set to 0 to have the appointment manually confirmed by the appoinment provider"
                  },
                  "confirmappointment": {
                    "type": "number",
                    "description": "Set to 1 to have the appointment manually confirmed by the booker, won't work if manualconfirmed is set to 0"
                  },
                  "confirmtime": {
                    "type": "number",
                    "description": "Time in minutes that the booker is able to confirm the appointment before it gets deleted"
                  },
                  "language": {
                    "type": "string",
                    "description": "Languagecode, defines in which language the emails are sent"
                  },
                  "sendemail": {
                    "type": "boolean",
                    "description": "Send a confirmation email to the adress that was specified in the email parameter (1 = yes, 0 = no)"
                  },
                  "sms": {
                    "type": "boolean",
                    "description": "Send a confirmation sms to the phone number that was specified in the phone field (1 = yes, 0 = no)."
                  },
                  "notificationmsg": {
                    "type": "boolean",
                    "description": "Send an information email to the appointment provider (1 = yes, 0 = no)."
                  },
                  "sync": {
                    "type": "boolean",
                    "description": "True if the appointment should be synchronized with external calendars (1 = yes, 0 = no)."
                  },
                  "calselid": {
                    "type": "number",
                    "description": "Use this parameter with the value -1 to also use the Calendar Linking function (also requires a valid value for the parameter services)"
                  },
                  "appointmentreminderhours": {
                    "type": "number",
                    "description": "Defines when the first reminder is sent in hours (needs to be a negative value)"
                  },
                  "appointmentreminderhours2": {
                    "type": "number",
                    "description": "Defines when the second reminder is sent in hours (needs to be a negative value)"
                  },
                  "canceldeadline": {
                    "type": "number",
                    "description": "Minutes how long before the startdate the appointment can be cancelled"
                  },
                  "recurrencerule": {
                    "type": "string",
                    "description": "Recurrence rule. e.g. DTSTART:{20171126T083000Z} DTEND:{20171126T090000Z} RRULE:FREQ=WEEKLY;INTERVAL=1;BYDAY=WE;"
                  },
                  "recurrenceparentid": {
                    "type": "string",
                    "description": "ID of the parent recurring appointment"
                  },
                  "pricegross": {
                    "type": "number",
                    "description": "Price including vat multiplied by 100 (e.g. 18.50€ = 1850)"
                  },
                  "pricenet": {
                    "type": "number",
                    "description": "Price excluding vat multiplied by 100 (e.g. 18.50€ = 1850)"
                  },
                  "vat": {
                    "type": "number",
                    "description": "Vat multiplied by 100 (e.g. 18.50€ = 1850)"
                  },
                  "salutation": {
                    "type": "string",
                    "description": "Salutation of the person"
                  },
                  "title": {
                    "type": "string",
                    "description": "Title of the person"
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Lastname of the person"
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Firstname of the person"
                  },
                  "email": {
                    "type": "string",
                    "description": "E-Mail of the person"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone of the person"
                  },
                  "company": {
                    "type": "string",
                    "description": "Company of the person (make sure this field exists in your account)"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Appointment notes"
                  },
                  "street": {
                    "type": "string",
                    "description": "Street of the person that booked appointment"
                  },
                  "zip": {
                    "type": "string",
                    "description": "Zip of the person that booked appointment"
                  },
                  "city": {
                    "type": "string",
                    "description": "City of the person that booked appointment"
                  },
                  "customernumber": {
                    "type": "string",
                    "description": "ID of the person that booked appointment"
                  },
                  "birthday": {
                    "type": "string",
                    "description": "Date of birth of the person that booked appointment"
                  },
                  "additional1": {
                    "type": "string",
                    "description": "Additional appointment field 1"
                  },
                  "additional2": {
                    "type": "string",
                    "description": "Additional appointment field 2"
                  },
                  "additional3": {
                    "type": "string",
                    "description": "Additional appointment field 3"
                  },
                  "additional4": {
                    "type": "string",
                    "description": "Additional appointment field 4"
                  },
                  "additional5": {
                    "type": "string",
                    "description": "Additional appointment field 5"
                  },
                  "additional6": {
                    "type": "string",
                    "description": "Additional appointment field 6"
                  },
                  "additional7": {
                    "type": "string",
                    "description": "Additional appointment field 7"
                  },
                  "additional8": {
                    "type": "string",
                    "description": "Additional appointment field 8"
                  },
                  "additional9": {
                    "type": "string",
                    "description": "Additional appointment field 9"
                  },
                  "additional10": {
                    "type": "string",
                    "description": "Additional appointment field 10"
                  },
                  "additional11": {
                    "type": "string",
                    "description": "Additional appointment field 11"
                  },
                  "additional12": {
                    "type": "string",
                    "description": "Additional appointment field 12"
                  },
                  "additional13": {
                    "type": "string",
                    "description": "Additional appointment field 13"
                  },
                  "additional14": {
                    "type": "string",
                    "description": "Additional appointment field 14"
                  },
                  "additional15": {
                    "type": "string",
                    "description": "Additional appointment field 15"
                  },
                  "additional16": {
                    "type": "string",
                    "description": "Additional appointment field 16"
                  },
                  "additional17": {
                    "type": "string",
                    "description": "Additional appointment field 17"
                  },
                  "additional18": {
                    "type": "string",
                    "description": "Additional appointment field 18"
                  },
                  "additional19": {
                    "type": "string",
                    "description": "Additional appointment field 19"
                  },
                  "additional20": {
                    "type": "string",
                    "description": "Additional appointment field 20"
                  },
                  "agbaccepted": {
                    "type": "boolean",
                    "description": "true if customer accepted the terms of service"
                  },
                  "dataprivacyaccepted": {
                    "type": "boolean",
                    "description": "true if customer accepted the privacy terms"
                  },
                  "feedbackpermissionaccepted": {
                    "type": "boolean",
                    "description": "true if the customer should get a feedback mail"
                  },
                  "newsletter": {
                    "type": "boolean",
                    "description": "true if the customer accepted to get newsletters"
                  },
                  "bookerinfo": {
                    "type": "string",
                    "description": "Parameter that includes information for the notification message to the appointment provider"
                  },
                  "emailm": {
                    "type": "number",
                    "description": "Checks if there is an email, if set to 1"
                  },
                  "lnm": {
                    "type": "number",
                    "description": "Checks if there is a lastname, if set to 1"
                  },
                  "blacklist": {
                    "type": "number",
                    "description": "Checks if the email is on the blacklist, if set to 1"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalInformation": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "iid": {
                            "type": "number"
                          },
                          "iide": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "statusMsg": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eTermin/latest/actions/create-calendar": {
      "post": {
        "operationId": "eTermin.create-calendar",
        "summary": "Create Calendar",
        "description": "Creates a new calendar in eTermin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eTermin/latest/actions/create-calendar"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eTermin/latest/actions/create-calendar-absence": {
      "post": {
        "operationId": "eTermin.create-calendar-absence",
        "summary": "Create Calendar Absence",
        "description": "Creates a new calendar absence in eTermin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eTermin/latest/actions/create-calendar-absence"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "appcalendarid",
                  "startdate",
                  "enddate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "appcalendarid": {
                    "type": "number",
                    "description": "ID of the calendar. Use the \"Calendar - Get calendar details\" function to get a list with all available calendars."
                  },
                  "startdate": {
                    "type": "string",
                    "description": "Start time of the absence. Format: yyyy-mm-dd HH:MM e.g. 2017-10-24 18:00"
                  },
                  "enddate": {
                    "type": "string",
                    "description": "End time of the absence. Format: yyyy-mm-dd HH:MM e.g. 2017-10-24 18:00"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason or note for the absence."
                  },
                  "nwtype": {
                    "type": "boolean",
                    "description": "Indicates if the absence is dynamic."
                  },
                  "dynamicdays": {
                    "type": "number",
                    "description": "Number of days for the dynamic absence to begin (nwtype has to be 1)."
                  },
                  "dynamicdaysduration": {
                    "type": "number",
                    "description": "Number of days for the dynamic absence to last (nwtype has to be 1)."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eTermin/latest/actions/create-contact": {
      "post": {
        "operationId": "eTermin.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in eTermin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eTermin/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "updatewhenexistsgdt": {
                    "type": "number",
                    "description": "Set to 1 to check if the contact is already existing. If so the existing contact gets updated. Needs email or firstname, lastname, birthday."
                  },
                  "salutation": {
                    "type": "string",
                    "description": "Salutation of the person."
                  },
                  "title": {
                    "type": "string",
                    "description": "Title of the person."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Lastname of the person."
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Firstname of the person."
                  },
                  "birthday": {
                    "type": "string",
                    "description": "Birthday of the person."
                  },
                  "email": {
                    "type": "string",
                    "description": "E-Mail of the person."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone of the person."
                  },
                  "company": {
                    "type": "string",
                    "description": "Company of the person (make sure this field exists in your account)"
                  },
                  "street": {
                    "type": "string",
                    "description": "Street of the person."
                  },
                  "zip": {
                    "type": "string",
                    "description": "Zip of the person."
                  },
                  "city": {
                    "type": "string",
                    "description": "City of the person."
                  },
                  "state": {
                    "type": "string",
                    "description": "State of the person."
                  },
                  "country": {
                    "type": "string",
                    "description": "Country of the person."
                  },
                  "customernumber": {
                    "type": "string",
                    "description": "ID of the person."
                  },
                  "loginid": {
                    "type": "string",
                    "description": "Sets the loginID for the contact (if Login is used on Bookingpage)."
                  },
                  "password": {
                    "type": "string",
                    "description": "Sets the initial password for the contact."
                  },
                  "newsletter": {
                    "type": "boolean",
                    "description": "Opts the contact into the newsletter."
                  },
                  "additional1": {
                    "type": "string",
                    "description": "Additional appointment field 1."
                  },
                  "additional2": {
                    "type": "string",
                    "description": "Additional appointment field 2."
                  },
                  "additional3": {
                    "type": "string",
                    "description": "Additional appointment field 3."
                  },
                  "additional4": {
                    "type": "string",
                    "description": "Additional appointment field 4."
                  },
                  "additional5": {
                    "type": "string",
                    "description": "Additional appointment field 5."
                  },
                  "additional6": {
                    "type": "string",
                    "description": "Additional appointment field 6."
                  },
                  "additional7": {
                    "type": "string",
                    "description": "Additional appointment field 7."
                  },
                  "additional8": {
                    "type": "string",
                    "description": "Additional appointment field 8."
                  },
                  "additional9": {
                    "type": "string",
                    "description": "Additional appointment field 9."
                  },
                  "additional10": {
                    "type": "string",
                    "description": "Additional appointment field 10."
                  },
                  "additional11": {
                    "type": "string",
                    "description": "Additional appointment field 11."
                  },
                  "additional12": {
                    "type": "string",
                    "description": "Additional appointment field 12."
                  },
                  "additional13": {
                    "type": "string",
                    "description": "Additional appointment field 13."
                  },
                  "additional14": {
                    "type": "string",
                    "description": "Additional appointment field 14."
                  },
                  "additional15": {
                    "type": "string",
                    "description": "Additional appointment field 15."
                  },
                  "additional16": {
                    "type": "string",
                    "description": "Additional appointment field 16."
                  },
                  "additional17": {
                    "type": "string",
                    "description": "Additional appointment field 17."
                  },
                  "additional18": {
                    "type": "string",
                    "description": "Additional appointment field 18."
                  },
                  "additional19": {
                    "type": "string",
                    "description": "Additional appointment field 19."
                  },
                  "additional20": {
                    "type": "string",
                    "description": "Additional appointment field 20."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "iid": {
                            "type": "string"
                          },
                          "iide": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "statusMsg": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eTermin/latest/actions/create-service": {
      "post": {
        "operationId": "eTermin.create-service",
        "summary": "Create Service",
        "description": "Creates a new service in eTermin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eTermin/latest/actions/create-service"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "servicegroupid",
                  "servicede",
                  "timeslotminutes"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "servicegroupid": {
                    "type": "number",
                    "description": "ID of the service group"
                  },
                  "servicede": {
                    "type": "string",
                    "description": "Name of the service in german. For other languages use serviceLANGUAGECODE e.g. serviceen"
                  },
                  "timeslotminutes": {
                    "type": "number",
                    "description": "Duration of the service in minutes"
                  },
                  "infode": {
                    "type": "string",
                    "description": "Additional description of the service in german. For other languages use serviceLANGUAGECODE e.g. infoen"
                  },
                  "infodisplay": {
                    "type": "number",
                    "description": "Defines where the information is shown (0 = below service name, 1 = informationtext page 2, 2 = summary after booking, 3 = below service name and summary after booking)"
                  },
                  "differenttimeresource": {
                    "type": "boolean",
                    "description": "True if you want to add pre- or post processing times"
                  },
                  "timeslotminutesresstart": {
                    "type": "number",
                    "description": "Busy by minute (use negative number to have a pre-processing time)"
                  },
                  "timeslotminutesresend": {
                    "type": "number",
                    "description": "Busy until minute (use a number greater than timeslotminutes to have a post-processing time)"
                  },
                  "price": {
                    "type": "number",
                    "description": "Price of the service"
                  },
                  "priceispercentage": {
                    "type": "boolean",
                    "description": "True if price is a percentage"
                  },
                  "abbreviation": {
                    "type": "string",
                    "description": "abbreviation of the service"
                  },
                  "enablecapacity": {
                    "type": "boolean",
                    "description": "True to enable the capacity of the service"
                  },
                  "showcapselectionbox": {
                    "type": "boolean",
                    "description": "True if the customer is able to select the capacity"
                  },
                  "maxcapacity": {
                    "type": "number",
                    "description": "Sets the maximum capacity of the service"
                  },
                  "maxcapacityusersel": {
                    "type": "number",
                    "description": "Sets the maximum capacity the user can set on the booking page (needs showcapselectionbox to be true)"
                  },
                  "capacitynonsel": {
                    "type": "number",
                    "description": "Sets the capacity if selected on the booking page (needs showcapselectionbox to be false)"
                  },
                  "image": {
                    "type": "string",
                    "description": "Image of the service"
                  },
                  "appdeadline": {
                    "type": "number",
                    "description": "Time the appointment must be booked in advance in minutes"
                  },
                  "appfuture": {
                    "type": "number",
                    "description": "Time the appointment can be booked in the future in days"
                  },
                  "startedapp": {
                    "type": "number",
                    "description": "Time the appointment can be booked if already started in minutes (has to be a negative value)"
                  },
                  "canceldeadline": {
                    "type": "number",
                    "description": "Time the appointment can be cancelled in hours"
                  },
                  "dayselectiontype": {
                    "type": "number",
                    "description": "Defines how page 2 shows the available days (0 = Calendar, 1 = list of days)"
                  },
                  "appointmentlocation": {
                    "type": "number",
                    "description": "Defines the location of the appointment"
                  },
                  "appointmentlocationtext": {
                    "type": "string",
                    "description": "Defines the location text if appointmentlocation = 3"
                  },
                  "vendorconfirmation": {
                    "type": "number",
                    "description": "Defines if the appointment provider needs to manually confirm the appointment (0 = manually, 1 = automatically)"
                  },
                  "smsconfirmation": {
                    "type": "number",
                    "description": "Defines if a SMS confirmation is sent after booking (1 = enabled, 0 = disabled)"
                  },
                  "reminderhours": {
                    "type": "number",
                    "description": "Defines when the first reminder is sent in hours (needs to be a negative value)"
                  },
                  "reminderhours2": {
                    "type": "number",
                    "description": "Defines when the second reminder is sent in hours (needs to be a negative value)"
                  },
                  "cluster": {
                    "type": "number",
                    "description": "Defines if the cluster is applied to this service (1 = enabled, 0 = disabled)"
                  },
                  "customerconfirm": {
                    "type": "number",
                    "description": "Defines if the customer needs to confirm the appointment (1 = enabled, 0 = disabled; doesn't work with online payments or vendorconfirmation)"
                  },
                  "customerconfirmtime": {
                    "type": "number",
                    "description": "Time in minutes the customer has time to confirm the appointment (customerconfirm must be set to 1)"
                  },
                  "pm0": {
                    "type": "number",
                    "description": "Shows online payment options (1 = enabled, 0 = disabled)"
                  },
                  "pm1": {
                    "type": "number",
                    "description": "Shows on site payment options (1 = enabled, 0 = disabled)"
                  },
                  "pm2": {
                    "type": "number",
                    "description": "Shows by invoice payment options (1 = enabled, 0 = disabled)"
                  },
                  "paymentamountpercentage": {
                    "type": "number",
                    "description": "Defines the payment amount that needs to be paid at the end of booking"
                  },
                  "paymentamountisabsolute": {
                    "type": "number",
                    "description": "Defines if paymentamountpercentage is abolute or a percentage (1 = absolute, 0 = percentage)"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Defines the currency of the service"
                  },
                  "voucherfield": {
                    "type": "number",
                    "description": "Defines if the voucherfield is shown (0 = not shown, 1 = shown, 2 = shown and mandatory)"
                  },
                  "mpbs": {
                    "type": "number",
                    "description": "Defines if the price is multiplied by the amount of booked appointments"
                  },
                  "timeslotformat": {
                    "type": "number",
                    "description": "Defines how the timeslots are shown on page 2 on the bookingpage (0 = starttime - endtime, 1 = starttime, 2 = only date, 3 = calendar week, 4 = like 0 but with dates, 5 = startdate only)"
                  },
                  "multiappointment": {
                    "type": "number",
                    "description": "Defines if multiple appointments can be booked in one booking (0 = no, 1 = yes)"
                  },
                  "multiservicedurationcalcmethod": {
                    "type": "number",
                    "description": "Defines how the duration is calculated if multiple services are selected (0 = all durations are summed up, 1 = only duration of the longest service, 2 = all durations are halfed, 3 = like 2 except the longest service)"
                  },
                  "calendarselection": {
                    "type": "number",
                    "description": "Defines if the calendar selection should be shown (0 = no, 1 = yes)"
                  },
                  "ssca": {
                    "type": "number",
                    "description": "Defines if in the calendar selection the entry all calendars is shown (0 = no, 1 = yes)"
                  },
                  "showcalname": {
                    "type": "number",
                    "description": "Defines if in the calendar name is shown in the time slot (0 = no, 1 = yes)"
                  },
                  "showcalpic": {
                    "type": "number",
                    "description": "Defines if in the calendar picture is shown after the timeslot is selected (0 = no, 1 = yes)"
                  },
                  "showavcap": {
                    "type": "number",
                    "description": "Defines if the available capacity is shown in time slots (0 = no, 1 = yes)"
                  },
                  "limitbooking": {
                    "type": "number",
                    "description": "Defines if this service can be booked a limited amount of times per customer (0 = no, 1 = yes)"
                  },
                  "limitappointmentstype": {
                    "type": "number",
                    "description": "Defines how the appointments are limited (0 = per booking day, 1 = per week, 2 = per month, 3 = per year, 4 = per booked day)"
                  },
                  "limitappointments": {
                    "type": "number",
                    "description": "Defines how many appointments can be booked per customer"
                  },
                  "limitservice": {
                    "type": "number",
                    "description": "Defines if the limitation only applies to this specific service"
                  },
                  "wowing": {
                    "type": "number",
                    "description": "Set to 0 if the Wowing interface should be disabled for this service"
                  },
                  "wowingautomationid": {
                    "type": "number",
                    "description": "Defines the Woing Automation ID"
                  },
                  "paymentduration": {
                    "type": "number",
                    "description": "Defines the payment term for LexOffice"
                  },
                  "workloadperc": {
                    "type": "number",
                    "description": "Defines the percentage of time slots that are not shown"
                  },
                  "nrtimeslotentries": {
                    "type": "number",
                    "description": "Defines the maximum amount of time slots that are shown"
                  },
                  "feedback": {
                    "type": "number",
                    "description": "Set to 0 if the feedback checkbox should not be shown"
                  },
                  "calcdrivingtime": {
                    "type": "number",
                    "description": "Defines if driving time should be calculated (0 = no, 1 = yes)"
                  },
                  "fillcalendarstrategy": {
                    "type": "number",
                    "description": "Defines how the calender should be filled (0 = standard, 1 = random, 2 = round Robin, 3 = sequential, 4 = skills, 5 = strict round Robin)"
                  },
                  "waitinglist": {
                    "type": "number",
                    "description": "Defines if the waiting list should be available (0 = no, 1 = yes)"
                  },
                  "notearlyapp": {
                    "type": "number",
                    "description": "Defines if the customer should get an email if an earlier appointment is available (0 = not active, 1 = for appointments that were cancelled online, 2 = for appointments cancelled online and manually, 3 = like 1 but per calendar, 4 = like 2 but per calendar)"
                  },
                  "sortorder": {
                    "type": "number",
                    "description": "Defines the position in the servicegroup"
                  },
                  "bookingtype": {
                    "type": "number",
                    "description": "Defines the bookingtype (0 = appointment, 1 = no appointment booking allowed, 2 = 'negative' appointment, 3 = reservation list, 4 = voucher sale)"
                  },
                  "showinternal": {
                    "type": "boolean",
                    "description": "Defines if the service is shown in the backend"
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Defines if the service is shown in the frontend"
                  },
                  "showindb": {
                    "type": "boolean",
                    "description": "Defines if the service is shown in the most booked area of the Dashboard"
                  },
                  "emailsender": {
                    "type": "string",
                    "description": "Defines the sender adress of the email for this service"
                  },
                  "emailtxtde": {
                    "type": "string",
                    "description": "A special placeholder %SERVICETEXT% for emails, use other language codes to set the text (for example emailtxten for english)"
                  },
                  "infotxtp2": {
                    "type": "string",
                    "description": "A special placeholder %INFOTEXTP2% for page 2 of the booking page"
                  },
                  "pricesuffixde": {
                    "type": "string",
                    "description": "Additional information for the price, use other language codes to set the text (for example emailtxten for english)"
                  },
                  "priceinfopos": {
                    "type": "number",
                    "description": "Defines where the pricesuffix is shown (0 = left side, 1 = right side)"
                  },
                  "vat": {
                    "type": "number",
                    "description": "Defines the vat rate of the service"
                  },
                  "multiplypricewithcap": {
                    "type": "boolean",
                    "description": "Defines if the price is multiplied with the capacity"
                  },
                  "pricediffperday": {
                    "type": "boolean",
                    "description": "Defines if different prices per weekday are applied"
                  },
                  "issubscription": {
                    "type": "boolean",
                    "description": "Defines if the service is a subscription"
                  },
                  "capseltextde": {
                    "type": "string",
                    "description": "Defines the text if there is a capacity selection on that service, use other language codes to set the text (for example capseltexten for english)"
                  },
                  "mstextpos": {
                    "type": "number",
                    "description": "Defines the position of capseltext (0 = above selection, 1 = to the right)"
                  },
                  "allowonlythisservice": {
                    "type": "boolean",
                    "description": "If there are multiple services with capacity available at the same time, this option prevents that they will get mixed, if set to true"
                  },
                  "multiservicesel": {
                    "type": "boolean",
                    "description": "True, if the service can be booked multiple times after another. This won't work if the parameter enablecapacity is true aswell"
                  },
                  "multiservicemin": {
                    "type": "number",
                    "description": "Defines the minimum amount that can be choosen for multi service selection"
                  },
                  "multiservicemax": {
                    "type": "number",
                    "description": "Defines the maximum amount that can be choosen for multi service selection"
                  },
                  "extramin": {
                    "type": "number",
                    "description": "Defines total wrap up time"
                  },
                  "extramintype": {
                    "type": "number",
                    "description": "0 if extramin should not be applied if differenttimeresource is true, 1 if extramin should be added to timeslotminutesresend"
                  },
                  "maxappsel": {
                    "type": "number",
                    "description": "Defines the maximum amount of appointments that can be selected on the booking page if multiappointment is true (in this service or globally)"
                  },
                  "nrappsel": {
                    "type": "number",
                    "description": "Defines the maximum / minimum amount of appointments that MUST be selected on the booking page if multiappointment is true (in this service or globally)"
                  },
                  "maxminslots": {
                    "type": "boolean",
                    "description": "Defines if nrappsel is maximum (0) or minimum (1)"
                  },
                  "nrappseladjacent": {
                    "type": "boolean",
                    "description": "True, if the selected appointments have to be adjacent"
                  },
                  "nrappseladjacenttype": {
                    "type": "number",
                    "description": "0 = the date and time need to be adjacent, 1 = only the day need to be adjacent"
                  },
                  "specificrangenextslot": {
                    "type": "boolean",
                    "description": "True, if the next appointment needs to be after a specific timeframe"
                  },
                  "rangestart": {
                    "type": "number",
                    "description": "Days after the last appoinment"
                  },
                  "rangeend": {
                    "type": "number",
                    "description": "Days range for the new appointment"
                  },
                  "infotextinslots": {
                    "type": "boolean",
                    "description": "True, if the info text should be shown in the slot text in page 2 of the booking page"
                  },
                  "appattrib": {
                    "type": "number",
                    "description": "Defines which attribute is set automatically in appointment. Attributes are binary encoded (1st attribute = 1, 2nd = 2, 3rd = 4; 1st + 2nd = 3)"
                  },
                  "addapphours": {
                    "type": "number",
                    "description": "Hours after the first appointment, where a second appointment is booked"
                  },
                  "rrule": {
                    "type": "string",
                    "description": "Defines the RRULE for this service"
                  },
                  "bookingminute": {
                    "type": "number",
                    "description": "Defines when the timeslots are shown (61 = no restrictions, 0 = every full hour, 31 = every full and half hour, 15 or 30 or 45 = x minutes after a full hour)"
                  },
                  "showserviceids": {
                    "type": "string",
                    "description": "Service(s) that have to be selected to show this service"
                  },
                  "hideserviceids": {
                    "type": "string",
                    "description": "Service(s) that should be hidden, if this service is selected"
                  },
                  "uselogo": {
                    "type": "boolean",
                    "description": "True, if the the picture of this service should be used for the email logo"
                  },
                  "severalcalendarsused": {
                    "type": "boolean",
                    "description": "True, if the service can only be booked if another calendar is available"
                  },
                  "differenttimecombined": {
                    "type": "boolean",
                    "description": "True, if the service has a different time if booked with another service"
                  },
                  "timeslotcombined": {
                    "type": "number",
                    "description": "Defines the time of the appointment if booked with another service. differenttimecombined has to be true"
                  },
                  "tags": {
                    "type": "string",
                    "description": "ID of the tags that the contact gets after booking"
                  },
                  "tagscancel": {
                    "type": "string",
                    "description": "ID of the tags that the contact gets after cancellation of the appointment"
                  },
                  "externalreference": {
                    "type": "string",
                    "description": "Used for a tag ID or external reference after booking"
                  },
                  "externalreferencedelete": {
                    "type": "string",
                    "description": "Used for a tag ID or external reference after cancellation of the appointment"
                  },
                  "externalreferencechange": {
                    "type": "string",
                    "description": "Used for a tag ID or external reference after a change of the appointment"
                  },
                  "externalreferencedate": {
                    "type": "string",
                    "description": "ID of a field that should contain the date of the appointment"
                  },
                  "externalreferencelocation": {
                    "type": "string",
                    "description": "ID of a field that should contain the location of the appointment"
                  },
                  "externalreferencecalname": {
                    "type": "string",
                    "description": "ID of a field that should contain the calendar name of the appointment"
                  },
                  "externalreferencecancel": {
                    "type": "string",
                    "description": "ID of a field that should contain the cancellation link of the appointment"
                  },
                  "jscode": {
                    "type": "string",
                    "description": "Used for JavaScript code that will be executed after the booking of the appointment (for example to redirect to another website)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "status": {
                            "type": "number"
                          },
                          "statusMsg": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eTermin/latest/actions/create-service-group": {
      "post": {
        "operationId": "eTermin.create-service-group",
        "summary": "Create Service Group",
        "description": "Creates a new service group in eTermin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eTermin/latest/actions/create-service-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "servicegroupde": {
                    "type": "string",
                    "description": "Name of the service group in german. For other languages use servicegroupLANGUAGECODE e.g. servicegroupen"
                  },
                  "additionaltextde": {
                    "type": "string",
                    "description": "Additional information of the service group in german. For other languages use additionaltextLANGUAGECODE e.g. additionaltexten"
                  },
                  "addtextdisplaymode": {
                    "type": "number",
                    "description": "Defines the location of the additional text (0 = via Tooltip; 1 = under the name of the service group)"
                  },
                  "servicegrouptype": {
                    "type": "number",
                    "description": "Defines the service group type (0 = Service selection; 2 = Text field; 5 = location selection; 8 = Day amount selection; 9 = Number search; 10 = Minutes amount selection)"
                  },
                  "answerselection": {
                    "type": "number",
                    "description": "Selection type for services (0 = Single selection; 1 = Multi selection; 2 = list selection). Has to be -1 if servicegrouptype is not 0!"
                  },
                  "isoptional": {
                    "type": "boolean",
                    "description": "Defines if a selection of a service is mandatory"
                  },
                  "showprice": {
                    "type": "boolean",
                    "description": "Defines if the price of the service is shown"
                  },
                  "showduration": {
                    "type": "boolean",
                    "description": "Defines if the duration of the service is shown"
                  },
                  "nrservicecolumns": {
                    "type": "number",
                    "description": "Defines how many columns the services should be displayed in"
                  },
                  "showtoggle": {
                    "type": "boolean",
                    "description": "true if the service group can be collapsed"
                  },
                  "collapse": {
                    "type": "boolean",
                    "description": "true if the service group is shown collapsed as default (need showtoggle to be true)"
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "false if the service group should not appear on the bookingpage (only via direct link or for internal services)"
                  },
                  "showinsummary": {
                    "type": "boolean",
                    "description": "false if the selected service should not appear in the summary box"
                  },
                  "showwhencertainanswerselected": {
                    "type": "string",
                    "description": "List of services that have to be selected to show this service group. Set to -1 if the service group should be shown initially"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "status": {
                            "type": "number"
                          },
                          "statusmsg": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eTermin/latest/actions/create-working-times": {
      "post": {
        "operationId": "eTermin.create-working-times",
        "summary": "Create Working Times",
        "description": "Creates new working times in eTermin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eTermin/latest/actions/create-working-times"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "start",
                  "end",
                  "calendarid",
                  "weekday"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "start": {
                    "type": "string",
                    "description": "Start time of the slot, e.g. 09:00"
                  },
                  "end": {
                    "type": "string",
                    "description": "End time of the slot, e.g. 17:00"
                  },
                  "calendarid": {
                    "type": "number",
                    "description": "ID of the calendar"
                  },
                  "weekday": {
                    "type": "string",
                    "description": "ID of the weekday 1 = Sunday, 7 = Saturday. You can add several weekdays separated by a comma e.g. 2,3,5"
                  },
                  "enable": {
                    "type": "number",
                    "description": "0 if the time slot should exist but not being considered yet"
                  },
                  "slottype": {
                    "type": "number",
                    "description": "0 if time slots should be valid for internal and external (online booked) appointments. 1 if timeslots are only valid for interal (manually entered) appointments"
                  },
                  "validwithserviceid": {
                    "type": "string",
                    "description": "List of services that work with this working slot"
                  },
                  "allserviceidsrequired": {
                    "type": "number",
                    "description": "Defines how the validity of the services are checked. Exclusive means that only the services provided with the parameter validwithserviceid are allowed. If not exclusive, every service the calendar is activated for can be used. <br> 0 = one service needs to be selected <br> 1 = all services need to be selected exclusively <br> 2 = all services need to be selected <br> 3 = one service needs to be selected exclusively)"
                  },
                  "nrapps": {
                    "type": "number",
                    "description": "Amount of appointments that are bookable in this working slot. (-1 = unlimited)"
                  },
                  "weektype": {
                    "type": "number",
                    "description": "Defines in which interval the time slot should be shown <br> 0 = Every week <br> 1 = Odd weeks <br> 2 = Even weeks <br> 3 = First occurrence in month <br> 4 = second occurrence in month <br> 5 = third occurrence in month <br> 6 = fourth occurrence in month <br> 7 = Every 3 weeks first occurrence <br> 8 = Every 3 weeks second occurrence <br> 9 = Every 3 weeks third occurrence <br> 10 = fifth occurrence in month <br> 11 = Every 4 weeks first occurrence <br> 12 = Every 4 weeks second occurrence <br> 13 = Every 4 weeks third occurrence <br> 14 = Every 4 weeks fourth occurrence"
                  },
                  "locationid": {
                    "type": "number",
                    "description": "ID of the location for this working slot if locations are used in working times"
                  },
                  "calendarintervalid": {
                    "type": "number",
                    "description": "ID of the period for this working slot if periods are used in working times"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "number"
                          },
                          "statusmsg": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eTermin/latest/actions/create-working-times-by-date": {
      "post": {
        "operationId": "eTermin.create-working-times-by-date",
        "summary": "Create Working Times by Date",
        "description": "Creates working times by date in eTermin.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eTermin/latest/actions/create-working-times-by-date"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "start",
                  "end",
                  "calendarid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "start": {
                    "type": "string",
                    "description": "Start date/time of working time e.g. 2019-07-14 09:00"
                  },
                  "end": {
                    "type": "string",
[...]
