{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "vPlan Universal API",
    "version": "0.0.4",
    "description": "Plan work, manage boards, collections, cards, resources, orders, projects, and webhooks in vPlan."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/vPlan/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/vPlan/latest/actions/create-activity": {
      "post": {
        "operationId": "vPlan.create-activity",
        "summary": "Create Activity",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vPlan/latest/actions/create-activity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "boardId",
                  "description",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "boardId": {
                    "type": "string",
                    "description": "Board identifier for the new activity.",
                    "default": "85b9270e-b0f4-4f8c-b492-1fb8a19c984f"
                  },
                  "description": {
                    "type": "string",
                    "description": "Activity description.",
                    "default": "Created through MindCloud action validation"
                  },
                  "name": {
                    "type": "string",
                    "description": "Activity name.",
                    "default": "Codex Action Activity"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived_at": {
                            "type": "string",
                            "description": "Archive timestamp."
                          },
                          "billable": {
                            "type": "boolean",
                            "description": "Whether the activity is billable."
                          },
                          "code": {
                            "type": "string",
                            "description": "Activity code."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "day_max_duration": {
                            "type": "number",
                            "description": "Maximum day duration."
                          },
                          "default_duration": {
                            "type": "number",
                            "description": "Default duration."
                          },
                          "deleted_at": {
                            "type": "string",
                            "description": "Deletion timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Activity description."
                          },
                          "external_ref": {
                            "type": "string",
                            "description": "External reference."
                          },
                          "hourly_rate": {
                            "type": "number",
                            "description": "Hourly rate."
                          },
                          "id": {
                            "type": "string",
                            "description": "Activity identifier."
                          },
                          "item_id": {
                            "type": "string",
                            "description": "Linked item identifier when present."
                          },
                          "resource_type": {
                            "type": "string",
                            "description": "Activity resource type."
                          },
                          "transaction": {
                            "type": "string",
                            "description": "Provider transaction value."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vPlan/latest/actions/create-attachment-link": {
      "post": {
        "operationId": "vPlan.create-attachment-link",
        "summary": "Create Attachment Link",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vPlan/latest/actions/create-attachment-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "collectionId",
                  "filename",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "cardId": {
                    "type": "string",
                    "description": "Optional card to attach the link to."
                  },
                  "collectionId": {
                    "type": "string",
                    "default": "41ea0941-d431-4790-b328-f25b36f51326"
                  },
                  "type": {
                    "type": "string",
                    "description": "Attachment provider/type label.",
                    "default": "external"
                  },
                  "filename": {
                    "type": "string",
                    "description": "Attachment filename.",
                    "default": "codex-link.txt"
                  },
                  "file": {
                    "type": "string",
                    "description": "Public URL for the attachment link.",
                    "default": "https://example.com"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bytes": {
                            "type": "number",
                            "description": "Attachment size in bytes."
                          },
                          "card_id": {
                            "type": "string",
                            "description": "Attached card identifier when present."
                          },
                          "checksum": {
                            "type": "string",
                            "description": "File checksum."
                          },
                          "collection_id": {
                            "type": "string",
                            "description": "Collection identifier."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "deleted_at": {
                            "type": "string",
                            "description": "Deletion timestamp when removed."
                          },
                          "external_ref": {
                            "type": "string",
                            "description": "External reference."
                          },
                          "file": {
                            "type": "string",
                            "description": "Attachment URL."
                          },
                          "filename": {
                            "type": "string",
                            "description": "Attachment filename."
                          },
                          "id": {
                            "type": "string",
                            "description": "Attachment identifier."
                          },
                          "signature": {
                            "type": "string",
                            "description": "File signature."
                          },
                          "thumbnail": {
                            "type": "string",
                            "description": "Thumbnail URL."
                          },
                          "thumbnail_bytes": {
                            "type": "number",
                            "description": "Thumbnail size in bytes."
                          },
                          "thumbnail_checksum": {
                            "type": "string",
                            "description": "Thumbnail checksum."
                          },
                          "thumbnail_signature": {
                            "type": "string",
                            "description": "Thumbnail signature."
                          },
                          "thumbnail_type": {
                            "type": "string",
                            "description": "Thumbnail storage type."
                          },
                          "type": {
                            "type": "string",
                            "description": "Normalized attachment type."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Last update timestamp."
                          },
                          "user_id": {
                            "type": "string",
                            "description": "User who created the attachment."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vPlan/latest/actions/create-board": {
      "post": {
        "operationId": "vPlan.create-board",
        "summary": "Create Board",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vPlan/latest/actions/create-board"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Board name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived_at": {
                            "type": "string",
                            "description": "Archive timestamp."
                          },
                          "capacity_method": {
                            "type": "string",
                            "description": "Capacity calculation method."
                          },
                          "card_lock_options": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Card lock option list."
                          },
                          "color": {
                            "type": "string",
                            "description": "Board color."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "deleted_at": {
                            "type": "string",
                            "description": "Deletion timestamp."
                          },
                          "dependency_behavior": {
                            "type": "string",
                            "description": "Dependency behavior."
                          },
                          "id": {
                            "type": "string",
                            "description": "Board identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Board name."
                          },
                          "own_backlog": {
                            "type": "boolean",
                            "description": "Whether the board uses its own backlog."
                          },
                          "permission_set": {
                            "type": "string",
                            "description": "Permission set for the current auth."
                          },
                          "split_cards_by_activity": {
                            "type": "boolean",
                            "description": "Whether cards are split by activity."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Last update timestamp."
                          },
                          "visibility": {
                            "type": "string",
                            "description": "Board visibility."
                          },
                          "workdays": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Configured workdays map."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vPlan/latest/actions/create-card": {
      "post": {
        "operationId": "vPlan.create-card",
        "summary": "Create Card",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vPlan/latest/actions/create-card"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "collectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "collectionId": {
                    "type": "string",
                    "default": "afce2e88-9fcd-48de-b941-54008c914efe"
                  },
                  "description": {
                    "type": "string",
                    "description": "Card description."
                  },
                  "name": {
                    "type": "string",
                    "description": "Card name.",
                    "default": "Codex Planned Card"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "batch_id": {
                            "type": "string",
                            "description": "Batch identifier."
                          },
                          "board_id": {
                            "type": "string",
                            "description": "Board identifier."
                          },
                          "card_recurring_id": {
                            "type": "string",
                            "description": "Recurring card identifier."
                          },
                          "collection_id": {
                            "type": "string",
                            "description": "Collection identifier."
                          },
                          "completed_at": {
                            "type": "string",
                            "description": "Completion timestamp."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "custom_fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom field values."
                          },
                          "date": {
                            "type": "string",
                            "description": "Card date."
                          },
                          "days_active": {
                            "type": "number",
                            "description": "Active day count."
                          },
                          "days_diff": {
                            "type": "number",
                            "description": "Days difference metric."
                          },
                          "deleted_at": {
                            "type": "string",
                            "description": "Deletion timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Card description."
                          },
                          "end": {
                            "type": "string",
                            "description": "End datetime."
                          },
                          "end_date": {
                            "type": "string",
                            "description": "End date."
                          },
                          "end_time": {
                            "type": "string",
                            "description": "End time."
                          },
                          "external_ref": {
                            "type": "string",
                            "description": "External reference."
                          },
                          "id": {
                            "type": "string",
                            "description": "Card identifier."
                          },
                          "locked": {
                            "type": "boolean",
                            "description": "Whether the card is locked."
                          },
                          "name": {
                            "type": "string",
                            "description": "Card name."
                          },
                          "parent_card_id": {
                            "type": "string",
                            "description": "Parent card identifier."
                          },
                          "position": {
                            "type": "number",
                            "description": "Card position."
                          },
                          "rank": {
                            "type": "string",
                            "description": "Card rank."
                          },
                          "stage_id": {
                            "type": "string",
                            "description": "Stage identifier."
                          },
                          "start": {
                            "type": "string",
                            "description": "Start datetime."
                          },
                          "start_date": {
                            "type": "string",
                            "description": "Start date."
                          },
                          "start_time": {
                            "type": "string",
                            "description": "Start time."
                          },
                          "status_id": {
                            "type": "string",
                            "description": "Status identifier."
                          },
                          "time_tracking_running": {
                            "type": "boolean",
                            "description": "Whether time tracking is running."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vPlan/latest/actions/create-collection": {
      "post": {
        "operationId": "vPlan.create-collection",
        "summary": "Create Collection",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vPlan/latest/actions/create-collection"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "boardId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "boardId": {
                    "type": "string",
                    "description": "Board identifier for the new collection."
                  },
                  "name": {
                    "type": "string",
                    "description": "Collection name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "batch_id": {
                            "type": "string",
                            "description": "Batch identifier when present."
                          },
                          "board_id": {
                            "type": "string",
                            "description": "Parent board identifier."
                          },
                          "cover_color_hex": {
                            "type": "string",
                            "description": "Cover color."
                          },
                          "cover_image_bytes": {
                            "type": "number",
                            "description": "Cover image size in bytes."
                          },
                          "cover_image_checksum": {
                            "type": "string",
                            "description": "Cover image checksum."
                          },
                          "cover_image_signature": {
                            "type": "string",
                            "description": "Cover image signature."
                          },
                          "cover_image_url": {
                            "type": "string",
                            "description": "Cover image URL."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "custom_fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom field values."
                          },
                          "deleted_at": {
                            "type": "string",
                            "description": "Deletion timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Collection description."
                          },
                          "due_date": {
                            "type": "string",
                            "description": "Due date."
                          },
                          "end": {
                            "type": "string",
                            "description": "End date."
                          },
                          "external_ref": {
                            "type": "string",
                            "description": "External reference."
                          },
                          "id": {
                            "type": "string",
                            "description": "Collection identifier."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional metadata."
                          },
                          "name": {
                            "type": "string",
                            "description": "Collection name."
                          },
                          "position": {
                            "type": "number",
                            "description": "Collection position."
                          },
                          "progress": {
                            "type": "string",
                            "description": "Collection progress."
                          },
                          "source_type": {
                            "type": "string",
                            "description": "Collection source type."
                          },
                          "start": {
                            "type": "string",
                            "description": "Start date."
                          },
                          "status": {
                            "type": "string",
                            "description": "Collection status."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Last update timestamp."
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Collection warnings."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vPlan/latest/actions/create-comment": {
      "post": {
        "operationId": "vPlan.create-comment",
        "summary": "Create Comment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vPlan/latest/actions/create-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "collectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "collectionId": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string",
                    "description": "Comment text."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "card_id": {
                            "type": "string",
                            "description": "Attached card identifier when present."
                          },
                          "collection_id": {
                            "type": "string",
                            "description": "Collection identifier."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "deleted_at": {
                            "type": "string",
                            "description": "Deletion timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Comment identifier."
                          },
                          "parent_id": {
                            "type": "string",
                            "description": "Parent comment identifier."
                          },
                          "text": {
                            "type": "string",
                            "description": "Comment text."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Last update timestamp."
                          },
                          "user_id": {
                            "type": "string",
                            "description": "Author identifier."
                          },
                          "user_mentions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Mentioned users."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vPlan/latest/actions/create-item": {
      "post": {
        "operationId": "vPlan.create-item",
        "summary": "Create Item",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vPlan/latest/actions/create-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Item code."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Item description."
                          },
                          "external_ref": {
                            "type": "string",
                            "description": "External reference."
                          },
                          "id": {
                            "type": "string",
                            "description": "Item identifier."
                          },
                          "location": {
                            "type": "string",
                            "description": "Item location."
                          },
                          "note": {
                            "type": "string",
                            "description": "Item note."
                          },
                          "stockmanagement": {
                            "type": "boolean",
                            "description": "Whether stock management is enabled."
                          },
                          "type": {
                            "type": "string",
                            "description": "Item type."
                          },
                          "unit": {
                            "type": "string",
                            "description": "Item unit."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vPlan/latest/actions/create-order": {
      "post": {
        "operationId": "vPlan.create-order",
        "summary": "Create Order",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vPlan/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address_id": {
                            "type": "string",
                            "description": "Address identifier."
                          },
                          "code": {
                            "type": "string",
                            "description": "Order code."
                          },
                          "collection_id": {
                            "type": "string",
                            "description": "Collection identifier."
                          },
                          "contact": {
                            "type": "string",
                            "description": "Order contact."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "date": {
                            "type": "string",
                            "description": "Order date."
                          },
                          "delivered_date": {
                            "type": "string",
                            "description": "Delivered date."
                          },
                          "description": {
                            "type": "string",
                            "description": "Order description."
                          },
                          "desired_date": {
                            "type": "string",
                            "description": "Desired date."
                          },
                          "external_ref": {
                            "type": "string",
                            "description": "External reference."
                          },
                          "external_url": {
                            "type": "string",
                            "description": "External URL."
                          },
                          "id": {
                            "type": "string",
                            "description": "Order identifier."
                          },
                          "item_id": {
                            "type": "string",
                            "description": "Item identifier."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional metadata."
                          },
                          "note": {
                            "type": "string",
                            "description": "Order note."
                          },
                          "project_id": {
                            "type": "string",
                            "description": "Project identifier."
                          },
                          "promised_date": {
                            "type": "string",
                            "description": "Promised date."
                          },
                          "quantity": {
                            "type": "string",
                            "description": "Order quantity."
                          },
                          "relation_id": {
                            "type": "string",
                            "description": "Relation identifier."
                          },
                          "relation_ref": {
                            "type": "string",
                            "description": "Relation reference."
                          },
                          "status": {
                            "type": "string",
                            "description": "Order status."
                          },
                          "sub_type": {
                            "type": "string",
                            "description": "Order subtype."
                          },
                          "transaction": {
                            "type": "string",
                            "description": "Provider transaction value."
                          },
                          "type": {
                            "type": "string",
                            "description": "Order type."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Last update timestamp."
                          },
                          "warehouse_id": {
                            "type": "string",
                            "description": "Warehouse identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vPlan/latest/actions/create-project": {
      "post": {
        "operationId": "vPlan.create-project",
        "summary": "Create Project",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vPlan/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Project name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Project code."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Project description."
                          },
                          "external_ref": {
                            "type": "string",
                            "description": "External reference."
                          },
                          "id": {
                            "type": "string",
                            "description": "Project identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Project name."
                          },
                          "transaction": {
                            "type": "string",
                            "description": "Provider transaction value."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vPlan/latest/actions/create-relation": {
      "post": {
        "operationId": "vPlan.create-relation",
        "summary": "Create Relation",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vPlan/latest/actions/create-relation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Relation description."
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address."
                          },
                          "external_ref": {
                            "type": "string",
                            "description": "External reference."
                          },
                          "fax": {
                            "type": "string",
                            "description": "Fax number."
                          },
                          "id": {
                            "type": "string",
                            "description": "Relation identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Relation name."
                          },
                          "note": {
                            "type": "string",
                            "description": "Relation note."
                          },
                          "phone": {
                            "type": "string",
                            "description": "Phone number."
                          },
                          "type": {
                            "type": "string",
                            "description": "Relation type."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Last update timestamp."
                          },
                          "website": {
                            "type": "string",
                            "description": "Website URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vPlan/latest/actions/create-stage": {
      "post": {
        "operationId": "vPlan.create-stage",
        "summary": "Create Stage",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vPlan/latest/actions/create-stage"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "boardId",
                  "delayDay",
                  "name",
                  "priority"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "boardId": {
                    "type": "string",
                    "description": "Board identifier for the new stage."
                  },
                  "delayDay": {
                    "type": "number",
                    "description": "Stage delay day value."
                  },
                  "name": {
                    "type": "string",
                    "description": "Stage name."
                  },
                  "priority": {
                    "type": "number",
                    "description": "Stage priority."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "board_id": {
                            "type": "string",
                            "description": "Board identifier."
                          },
                          "capacity_notification": {
                            "type": "boolean",
                            "description": "Whether capacity notifications are enabled."
                          },
                          "capacity_notification_max": {
                            "type": "number",
                            "description": "Maximum notification threshold."
                          },
                          "capacity_notification_min": {
                            "type": "number",
                            "description": "Minimum notification threshold."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "default_percentage": {
                            "type": "number",
                            "description": "Default percentage allocation."
                          },
                          "delay_day": {
                            "type": "number",
                            "description": "Delay day value."
                          },
                          "efficiency": {
                            "type": "number",
                            "description": "Stage efficiency percentage."
                          },
                          "id": {
                            "type": "string",
                            "description": "Stage identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Stage name."
                          },
                          "priority": {
                            "type": "number",
                            "description": "Stage priority."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vPlan/latest/actions/create-time-tracking-entry": {
      "post": {
        "operationId": "vPlan.create-time-tracking-entry",
        "summary": "Create Time Tracking Entry",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vPlan/latest/actions/create-time-tracking-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
[...]
