{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Skyvern Universal API",
    "version": "0.0.8",
    "description": "Run browser tasks, workflows, and scripts with Skyvern"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/skyvern/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/skyvern/latest/actions/cancel-run": {
      "put": {
        "operationId": "skyvern.cancel-run",
        "summary": "Cancel Run",
        "description": "Cancels a task or workflow run in Skyvern.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/skyvern/latest/actions/cancel-run"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "runId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "runId": {
                    "type": "string",
                    "description": "The task run or workflow run ID to cancel."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/skyvern/latest/actions/create-folder": {
      "post": {
        "operationId": "skyvern.create-folder",
        "summary": "Create Folder",
        "description": "Creates a new workflow folder in Skyvern.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/skyvern/latest/actions/create-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "description": {
                    "type": "string",
                    "description": "Folder description"
                  },
                  "title": {
                    "type": "string",
                    "description": "Folder title"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Folder creation timestamp"
                          },
                          "description": {
                            "type": "string",
                            "description": "Folder description"
                          },
                          "folder_id": {
                            "type": "string",
                            "description": "Folder ID"
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Folder modification timestamp"
                          },
                          "organization_id": {
                            "type": "string",
                            "description": "Organization ID"
                          },
                          "title": {
                            "type": "string",
                            "description": "Folder title"
                          },
                          "workflow_count": {
                            "type": "number",
                            "description": "Number of workflows in the folder"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/skyvern/latest/actions/create-script": {
      "post": {
        "operationId": "skyvern.create-script",
        "summary": "Create Script",
        "description": "Creates a new script in Skyvern.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/skyvern/latest/actions/create-script"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "files": {
                    "type": "string",
                    "description": "Array of files to include in the script"
                  },
                  "runId": {
                    "type": "string",
                    "description": "Associated run ID"
                  },
                  "workflowId": {
                    "type": "string",
                    "description": "Associated workflow ID"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Script creation timestamp"
                          },
                          "file_count": {
                            "type": "number",
                            "description": "Total number of files in the script"
                          },
                          "file_tree": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Hierarchical file tree structure"
                          },
                          "run_id": {
                            "type": "string",
                            "description": "Workflow or task run ID that generated the script"
                          },
                          "script_id": {
                            "type": "string",
                            "description": "Unique script identifier"
                          },
                          "version": {
                            "type": "number",
                            "description": "Script version number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/skyvern/latest/actions/create-workflow": {
      "post": {
        "operationId": "skyvern.create-workflow",
        "summary": "Create Workflow",
        "description": "Creates a new workflow in Skyvern.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/skyvern/latest/actions/create-workflow"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "folderId": {
                    "type": "string",
                    "description": "Optional folder ID to assign the workflow to"
                  },
                  "jsonDefinition": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Workflow definition in JSON format"
                  },
                  "yamlDefinition": {
                    "type": "string",
                    "description": "Workflow definition in YAML format"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adaptiveCaching": {
                            "type": "boolean",
                            "description": "Whether adaptive caching is enabled"
                          },
                          "aiFallback": {
                            "type": "boolean",
                            "description": "Whether the workflow can fall back to AI"
                          },
                          "cacheKey": {
                            "type": "string",
                            "description": "Workflow cache key"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Workflow creation timestamp"
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Workflow deletion timestamp"
                          },
                          "description": {
                            "type": "string",
                            "description": "Workflow description"
                          },
                          "extraHttpHeaders": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional HTTP headers used by the workflow"
                          },
                          "folderId": {
                            "type": "string",
                            "description": "Folder ID"
                          },
                          "generateScriptOnTerminal": {
                            "type": "boolean",
                            "description": "Whether to generate script output on the terminal"
                          },
                          "importError": {
                            "type": "string",
                            "description": "Import error message, when present"
                          },
                          "isSavedTask": {
                            "type": "boolean",
                            "description": "Whether this workflow is saved as a task"
                          },
                          "isTemplate": {
                            "type": "boolean",
                            "description": "Whether this workflow is a template"
                          },
                          "maxScreenshotScrolls": {
                            "type": "number",
                            "description": "Maximum number of screenshot scrolls"
                          },
                          "model": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Model configuration"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Workflow last modification timestamp"
                          },
                          "organizationId": {
                            "type": "string",
                            "description": "Organization ID"
                          },
                          "persistBrowserSession": {
                            "type": "boolean",
                            "description": "Whether the browser session is persisted"
                          },
                          "proxyLocation": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Proxy location configuration"
                          },
                          "runSequentially": {
                            "type": "boolean",
                            "description": "Whether workflow runs are forced to be sequential"
                          },
                          "runWith": {
                            "type": "string",
                            "description": "Execution mode used for this workflow"
                          },
                          "sequentialKey": {
                            "type": "string",
                            "description": "Sequential execution key"
                          },
                          "status": {
                            "type": "string",
                            "description": "Workflow status"
                          },
                          "title": {
                            "type": "string",
                            "description": "Workflow title"
                          },
                          "totpIdentifier": {
                            "type": "string",
                            "description": "TOTP identifier"
                          },
                          "totpVerificationUrl": {
                            "type": "string",
                            "description": "TOTP verification URL"
                          },
                          "version": {
                            "type": "number",
                            "description": "Workflow version"
                          },
                          "webhookCallbackUrl": {
                            "type": "string",
                            "description": "Webhook callback URL"
                          },
                          "workflowDefinition": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Workflow definition payload"
                          },
                          "workflowId": {
                            "type": "string",
                            "description": "Workflow ID"
                          },
                          "workflowPermanentId": {
                            "type": "string",
                            "description": "Permanent workflow identifier"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/skyvern/latest/actions/delete-workflow": {
      "delete": {
        "operationId": "skyvern.delete-workflow",
        "summary": "Delete Workflow",
        "description": "Deletes an existing workflow from Skyvern.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/skyvern/latest/actions/delete-workflow"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "query",
            "required": true,
            "description": "The ID of the workflow to delete. Workflow ID starts with wpid_.",
            "schema": {
              "type": "string",
              "description": "The ID of the workflow to delete. Workflow ID starts with wpid_."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/skyvern/latest/actions/get-artifact": {
      "get": {
        "operationId": "skyvern.get-artifact",
        "summary": "Get Artifact",
        "description": "Retrieves a run artifact from Skyvern.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/skyvern/latest/actions/get-artifact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artifactId",
            "in": "query",
            "required": true,
            "description": "The artifact ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "The artifact ID to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aiSuggestionId": {
                            "type": "string",
                            "description": "AI suggestion ID"
                          },
                          "artifactId": {
                            "type": "string",
                            "description": "Artifact ID"
                          },
                          "artifactType": {
                            "type": "string",
                            "description": "Artifact type"
                          },
                          "bundleKey": {
                            "type": "string",
                            "description": "Artifact bundle key"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Artifact creation timestamp"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Artifact last modification timestamp"
                          },
                          "observerCruiseId": {
                            "type": "string",
                            "description": "Observer cruise ID"
                          },
                          "observerThoughtId": {
                            "type": "string",
                            "description": "Observer thought ID"
                          },
                          "organizationId": {
                            "type": "string",
                            "description": "Organization ID"
                          },
                          "runId": {
                            "type": "string",
                            "description": "Run ID"
                          },
                          "signedUrl": {
                            "type": "string",
                            "description": "Signed URL for downloading the artifact"
                          },
                          "stepId": {
                            "type": "string",
                            "description": "Step ID"
                          },
                          "taskId": {
                            "type": "string",
                            "description": "Task ID"
                          },
                          "uri": {
                            "type": "string",
                            "description": "Artifact storage URI"
                          },
                          "workflowRunBlockId": {
                            "type": "string",
                            "description": "Workflow run block ID"
                          },
                          "workflowRunId": {
                            "type": "string",
                            "description": "Workflow run ID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/skyvern/latest/actions/get-run": {
      "get": {
        "operationId": "skyvern.get-run",
        "summary": "Get Run",
        "description": "Retrieves task or workflow run details from Skyvern.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/skyvern/latest/actions/get-run"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runId",
            "in": "query",
            "required": true,
            "description": "The task run or workflow run ID.",
            "schema": {
              "type": "string",
              "description": "The task run or workflow run ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aiFallback": {
                            "type": "boolean",
                            "description": "Whether the run can fall back to AI"
                          },
                          "appUrl": {
                            "type": "string",
                            "description": "URL to the application UI where the run can be viewed"
                          },
                          "browserProfileId": {
                            "type": "string",
                            "description": "ID of the browser profile used for this run"
                          },
                          "browserSessionId": {
                            "type": "string",
                            "description": "ID of the persistent browser session used for this run"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when this run was created"
                          },
                          "downloadedFiles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "List of files downloaded during the run"
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Errors captured for the run"
                          },
                          "failureReason": {
                            "type": "string",
                            "description": "Reason for failure if the run failed or terminated"
                          },
                          "finishedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when this run finished"
                          },
                          "maxScreenshotScrolls": {
                            "type": "number",
                            "description": "Maximum number of screenshot scrolls captured for this run"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when this run was last modified"
                          },
                          "output": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Output data from the run, if any"
                          },
                          "queuedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when this run was queued"
                          },
                          "recordingUrl": {
                            "type": "string",
                            "description": "URL to the recording of the run"
                          },
                          "runId": {
                            "type": "string",
                            "description": "Unique identifier for this run"
                          },
                          "runRequest": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Original request parameters used to start this run"
                          },
                          "runType": {
                            "type": "string",
                            "description": "Type of run"
                          },
                          "runWith": {
                            "type": "string",
                            "description": "Execution mode used for the run"
                          },
                          "screenshotUrls": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of screenshot URLs"
                          },
                          "scriptRun": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Script run result, when present"
                          },
                          "startedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when this run started execution"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current status of the run"
                          },
                          "stepCount": {
                            "type": "number",
                            "description": "Total number of steps executed in this run"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/skyvern/latest/actions/get-run-timeline": {
      "get": {
        "operationId": "skyvern.get-run-timeline",
        "summary": "Get Run Timeline",
        "description": "Retrieves timeline events for a run from Skyvern.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/skyvern/latest/actions/get-run-timeline"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runId",
            "in": "query",
            "required": true,
            "description": "The workflow run or task run ID.",
            "schema": {
              "type": "string",
              "description": "The workflow run or task run ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Timeline block payload"
                          },
                          "children": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Child timeline entries"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timeline entry creation timestamp"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timeline entry last modification timestamp"
                          },
                          "thought": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Timeline thought payload"
                          },
                          "type": {
                            "type": "string",
                            "description": "Timeline entry type"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/skyvern/latest/actions/get-script": {
      "get": {
        "operationId": "skyvern.get-script",
        "summary": "Get Script",
        "description": "Retrieves a script by ID from Skyvern.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/skyvern/latest/actions/get-script"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scriptId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the script",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the script"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Script creation timestamp"
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Soft delete timestamp"
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Script last modified timestamp"
                          },
                          "organization_id": {
                            "type": "string",
                            "description": "Organization ID"
                          },
                          "run_id": {
                            "type": "string",
                            "description": "Workflow or task run ID that generated the script"
                          },
                          "script_id": {
                            "type": "string",
                            "description": "Stable script identifier"
                          },
                          "script_revision_id": {
                            "type": "string",
                            "description": "Unique identifier for this script revision"
                          },
                          "version": {
                            "type": "number",
                            "description": "Script version number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/skyvern/latest/actions/get-workflow": {
      "get": {
        "operationId": "skyvern.get-workflow",
        "summary": "Get Workflow",
        "description": "Retrieves a workflow by permanent ID from Skyvern.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/skyvern/latest/actions/get-workflow"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowPermanentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adaptiveCaching": {
                            "type": "boolean",
                            "description": "Whether adaptive caching is enabled"
                          },
                          "aiFallback": {
                            "type": "boolean",
                            "description": "Whether the workflow can fall back to AI"
                          },
                          "cacheKey": {
                            "type": "string",
                            "description": "Workflow cache key"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Workflow creation timestamp"
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Workflow deletion timestamp"
                          },
                          "description": {
                            "type": "string",
                            "description": "Workflow description"
                          },
                          "extraHttpHeaders": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional HTTP headers used by the workflow"
                          },
                          "folderId": {
                            "type": "string",
                            "description": "Folder ID"
                          },
                          "generateScriptOnTerminal": {
                            "type": "boolean",
                            "description": "Whether to generate script output on the terminal"
                          },
                          "importError": {
                            "type": "string",
                            "description": "Import error message, when present"
                          },
                          "isSavedTask": {
                            "type": "boolean",
                            "description": "Whether this workflow is saved as a task"
                          },
                          "isTemplate": {
                            "type": "boolean",
                            "description": "Whether this workflow is a template"
                          },
                          "maxScreenshotScrolls": {
                            "type": "number",
                            "description": "Maximum number of screenshot scrolls"
                          },
                          "model": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Model configuration"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Workflow last modification timestamp"
                          },
                          "organizationId": {
                            "type": "string",
                            "description": "Organization ID"
                          },
                          "persistBrowserSession": {
                            "type": "boolean",
                            "description": "Whether the browser session is persisted"
                          },
                          "proxyLocation": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Proxy location configuration"
                          },
                          "runSequentially": {
                            "type": "boolean",
                            "description": "Whether workflow runs are forced to be sequential"
                          },
                          "runWith": {
                            "type": "string",
                            "description": "Execution mode used for this workflow"
                          },
                          "sequentialKey": {
                            "type": "string",
                            "description": "Sequential execution key"
                          },
                          "status": {
                            "type": "string",
                            "description": "Workflow status"
                          },
                          "title": {
                            "type": "string",
                            "description": "Workflow title"
                          },
                          "totpIdentifier": {
                            "type": "string",
                            "description": "TOTP identifier"
                          },
                          "totpVerificationUrl": {
                            "type": "string",
                            "description": "TOTP verification URL"
                          },
                          "version": {
                            "type": "number",
                            "description": "Workflow version"
                          },
                          "webhookCallbackUrl": {
                            "type": "string",
                            "description": "Webhook callback URL"
                          },
                          "workflowDefinition": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Workflow definition payload"
                          },
                          "workflowId": {
                            "type": "string",
                            "description": "Workflow ID"
                          },
                          "workflowPermanentId": {
                            "type": "string",
                            "description": "Permanent workflow identifier"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/skyvern/latest/actions/list-folders": {
      "get": {
        "operationId": "skyvern.list-folders",
        "summary": "List Folders",
        "description": "Retrieves workflow folders for your organization from Skyvern.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/skyvern/latest/actions/list-folders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search folders by title or description",
            "schema": {
              "type": "string",
              "description": "Search folders by title or description"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Folder creation timestamp"
                          },
                          "description": {
                            "type": "string",
                            "description": "Folder description"
                          },
                          "folder_id": {
                            "type": "string",
                            "description": "Folder ID"
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Folder modification timestamp"
                          },
                          "organization_id": {
                            "type": "string",
                            "description": "Organization ID"
                          },
                          "title": {
                            "type": "string",
                            "description": "Folder title"
                          },
                          "workflow_count": {
                            "type": "number",
                            "description": "Number of workflows in the folder"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/skyvern/latest/actions/list-run-artifacts": {
      "get": {
        "operationId": "skyvern.list-run-artifacts",
        "summary": "List Run Artifacts",
        "description": "Retrieves artifacts for a run from Skyvern.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/skyvern/latest/actions/list-run-artifacts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artifactType",
            "in": "query",
            "required": false,
            "description": "Optional filter for artifacts returned by the run.",
            "schema": {
              "type": "string",
              "description": "Optional filter for artifacts returned by the run."
            }
          },
          {
            "name": "runId",
            "in": "query",
            "required": true,
            "description": "The task run or workflow run ID.",
            "schema": {
              "type": "string",
              "description": "The task run or workflow run ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aiSuggestionId": {
                            "type": "string",
                            "description": "AI suggestion ID"
                          },
                          "artifactId": {
                            "type": "string",
                            "description": "Artifact ID"
                          },
                          "artifactType": {
                            "type": "string",
                            "description": "Artifact type"
                          },
                          "bundleKey": {
                            "type": "string",
                            "description": "Artifact bundle key"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Artifact creation timestamp"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Artifact last modification timestamp"
                          },
                          "observerCruiseId": {
                            "type": "string",
                            "description": "Observer cruise ID"
                          },
                          "observerThoughtId": {
                            "type": "string",
                            "description": "Observer thought ID"
                          },
                          "organizationId": {
                            "type": "string",
                            "description": "Organization ID"
                          },
                          "runId": {
                            "type": "string",
                            "description": "Run ID"
                          },
                          "signedUrl": {
                            "type": "string",
                            "description": "Signed URL for downloading the artifact"
                          },
                          "stepId": {
                            "type": "string",
                            "description": "Step ID"
                          },
                          "taskId": {
                            "type": "string",
                            "description": "Task ID"
                          },
                          "uri": {
                            "type": "string",
                            "description": "Artifact storage URI"
                          },
                          "workflowRunBlockId": {
                            "type": "string",
                            "description": "Workflow run block ID"
                          },
                          "workflowRunId": {
                            "type": "string",
                            "description": "Workflow run ID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
[...]
