{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "RapidoForm Universal API",
    "version": "0.0.5",
    "description": "Create forms, manage questions and themes, capture responses, and send webhooks"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/rapidoForm/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/rapidoForm/latest/actions/create-form": {
      "post": {
        "operationId": "rapidoForm.create-form",
        "summary": "Create Form",
        "description": "Creates a new form in RapidoForm.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rapidoForm/latest/actions/create-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "surveyName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "surveyName": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creatorId": {
                            "type": "string"
                          },
                          "Id": {
                            "type": "number"
                          },
                          "isVpnIntegrationAdded": {
                            "type": "boolean"
                          },
                          "randamizationCondition": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "string"
                          },
                          "surveyName": {
                            "type": "string"
                          },
                          "themeId": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "V": {
                            "type": "number"
                          },
                          "workspaceId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rapidoForm/latest/actions/create-question": {
      "post": {
        "operationId": "rapidoForm.create-question",
        "summary": "Create Question",
        "description": "Creates a new question in RapidoForm.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rapidoForm/latest/actions/create-question"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "questionDescription",
                  "questionOrder",
                  "questionText",
                  "surveyId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "questionDescription": {
                    "type": "string"
                  },
                  "questionOrder": {
                    "type": "number"
                  },
                  "questionText": {
                    "type": "string"
                  },
                  "questionType": {
                    "type": "string"
                  },
                  "surveyId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audioPlayerType": {
                            "type": "string"
                          },
                          "codingDifficultyMode": {
                            "type": "string"
                          },
                          "codingQuePoints": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creatorId": {
                            "type": "string"
                          },
                          "currencyType": {
                            "type": "string"
                          },
                          "focalPoint": {
                            "type": "object",
                            "properties": {
                              "x": {
                                "type": "number"
                              },
                              "y": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "hideBackBtn": {
                            "type": "boolean"
                          },
                          "hideNextBtn": {
                            "type": "boolean"
                          },
                          "Id": {
                            "type": "string"
                          },
                          "imagesCountPerRow": {
                            "type": "number"
                          },
                          "isBtnLink": {
                            "type": "boolean"
                          },
                          "lowerBoundLevel": {
                            "type": "string"
                          },
                          "lowerBoundNumber": {
                            "type": "string"
                          },
                          "makeAudioOptional": {
                            "type": "boolean"
                          },
                          "markOptional": {
                            "type": "boolean"
                          },
                          "maxTextLength": {
                            "type": "number"
                          },
                          "mediaAltText": {
                            "type": "string"
                          },
                          "mediaBrightness": {
                            "type": "number"
                          },
                          "mediaMaxDuration": {
                            "type": "number"
                          },
                          "mediaPlayback": {
                            "type": "boolean"
                          },
                          "minTextLength": {
                            "type": "number"
                          },
                          "nextBtnLink": {
                            "type": "string"
                          },
                          "optionRandomOrder": {
                            "type": "boolean"
                          },
                          "paymentAccLabel": {
                            "type": "string"
                          },
                          "paymentAmt": {
                            "type": "number"
                          },
                          "payPalClientId": {
                            "type": "string"
                          },
                          "questionAnswer": {
                            "type": "string"
                          },
                          "questionOrder": {
                            "type": "number"
                          },
                          "questionText": {
                            "type": "string"
                          },
                          "questionType": {
                            "type": "string"
                          },
                          "randomGroupInd": {
                            "type": "number"
                          },
                          "randomizationAdd": {
                            "type": "boolean"
                          },
                          "ratingScale": {
                            "type": "number"
                          },
                          "ratingSliderOn": {
                            "type": "boolean"
                          },
                          "ratingType": {
                            "type": "string"
                          },
                          "rule": {
                            "type": "string"
                          },
                          "selectionType": {
                            "type": "string"
                          },
                          "setMaxTextLength": {
                            "type": "boolean"
                          },
                          "setMediaMaxDuration": {
                            "type": "boolean"
                          },
                          "setMinTextLength": {
                            "type": "boolean"
                          },
                          "setTimeMinimum": {
                            "type": "boolean"
                          },
                          "shuffleImages": {
                            "type": "boolean"
                          },
                          "silenceCheck": {
                            "type": "boolean"
                          },
                          "sliderIncrement": {
                            "type": "number"
                          },
                          "statementQueBtnText": {
                            "type": "string"
                          },
                          "stimuliMedia": {
                            "type": "object",
                            "properties": {
                              "iconColor": {
                                "type": "string"
                              },
                              "layoutType": {
                                "type": "string"
                              },
                              "mediaFormat": {
                                "type": "string"
                              },
                              "mediaLink": {
                                "type": "string"
                              },
                              "mobileLayoutType": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "stripeAccId": {
                            "type": "string"
                          },
                          "surveyId": {
                            "type": "string"
                          },
                          "timeMinimum": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uploadLimit": {
                            "type": "number"
                          },
                          "upperBoundLevel": {
                            "type": "string"
                          },
                          "upperBoundNumber": {
                            "type": "number"
                          },
                          "V": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rapidoForm/latest/actions/create-theme": {
      "post": {
        "operationId": "rapidoForm.create-theme",
        "summary": "Create Theme",
        "description": "Creates a new theme in RapidoForm.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rapidoForm/latest/actions/create-theme"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "backgroundColor": {
                    "type": "string"
                  },
                  "bottomLineColor": {
                    "type": "string"
                  },
                  "btnBackgroundColor": {
                    "type": "string"
                  },
                  "btnTextColor": {
                    "type": "string"
                  },
                  "fontFamily": {
                    "type": "string"
                  },
                  "questionColor": {
                    "type": "string"
                  },
                  "questionTypeColor": {
                    "type": "string"
                  },
                  "textAlignment": {
                    "type": "string"
                  },
                  "themeName": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "backgroundColor": {
                            "type": "string"
                          },
                          "backgroundImage": {
                            "type": "string"
                          },
                          "backgroundImageType": {
                            "type": "string"
                          },
                          "backgroundImageTypeColor": {
                            "type": "string"
                          },
                          "bgImgBrigthness": {
                            "type": "number"
                          },
                          "bottomLineColor": {
                            "type": "string"
                          },
                          "btnBackgroundColor": {
                            "type": "string"
                          },
                          "btnTextColor": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fontFamily": {
                            "type": "string"
                          },
                          "fontSize": {
                            "type": "string"
                          },
                          "fontUrl": {
                            "type": "string"
                          },
                          "Id": {
                            "type": "string"
                          },
                          "isGalleryTheme": {
                            "type": "boolean"
                          },
                          "isPaidTheme": {
                            "type": "boolean"
                          },
                          "logo": {
                            "type": "string"
                          },
                          "logoAltText": {
                            "type": "string"
                          },
                          "logoSize": {
                            "type": "number"
                          },
                          "logoType": {
                            "type": "string"
                          },
                          "logoTypeColor": {
                            "type": "string"
                          },
                          "questionColor": {
                            "type": "string"
                          },
                          "questionTypeColor": {
                            "type": "string"
                          },
                          "radius": {
                            "type": "string"
                          },
                          "textAlignment": {
                            "type": "string"
                          },
                          "themeCreatorId": {
                            "type": "string"
                          },
                          "themeName": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "V": {
                            "type": "number"
                          },
                          "welcomeFontSize": {
                            "type": "string"
                          },
                          "welcomeTextAlignment": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rapidoForm/latest/actions/create-webhook": {
      "post": {
        "operationId": "rapidoForm.create-webhook",
        "summary": "Create Webhook",
        "description": "Creates a webhook for RapidoForm form submissions.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rapidoForm/latest/actions/create-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "surveyId",
                  "webhookUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "surveyId": {
                    "type": "string"
                  },
                  "webhookUrl": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Id": {
                            "type": "string"
                          },
                          "isWebhookOn": {
                            "type": "boolean"
                          },
                          "surveyId": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "V": {
                            "type": "number"
                          },
                          "verifySSL": {
                            "type": "boolean"
                          },
                          "webhookSecret": {
                            "type": "string"
                          },
                          "webhookUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rapidoForm/latest/actions/list-forms": {
      "get": {
        "operationId": "rapidoForm.list-forms",
        "summary": "List Forms",
        "description": "Retrieves all available forms from RapidoForm.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rapidoForm/latest/actions/list-forms"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to retrieve.",
            "schema": {
              "type": "number",
              "description": "Page number to retrieve."
            }
          },
          {
            "name": "surveyId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Only return forms with the selected status.",
            "schema": {
              "type": "string",
              "description": "Only return forms with the selected status."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creatorId": {
                            "type": "string"
                          },
                          "Id": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "surveyName": {
                            "type": "string"
                          },
                          "totalQuestion": {
                            "type": "number"
                          },
                          "totalResponses": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rapidoForm/latest/actions/list-my-themes": {
      "get": {
        "operationId": "rapidoForm.list-my-themes",
        "summary": "List My Themes",
        "description": "Retrieves your saved themes from RapidoForm.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rapidoForm/latest/actions/list-my-themes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "backgroundColor": {
                            "type": "string"
                          },
                          "backgroundImage": {
                            "type": "string"
                          },
                          "backgroundImageType": {
                            "type": "string"
                          },
                          "backgroundImageTypeColor": {
                            "type": "string"
                          },
                          "bgImgBrigthness": {
                            "type": "number"
                          },
                          "bottomLineColor": {
                            "type": "string"
                          },
                          "btnBackgroundColor": {
                            "type": "string"
                          },
                          "btnTextColor": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fontFamily": {
                            "type": "string"
                          },
                          "fontSize": {
                            "type": "string"
                          },
                          "fontUrl": {
                            "type": "string"
                          },
                          "Id": {
                            "type": "string"
                          },
                          "isGalleryTheme": {
                            "type": "boolean"
                          },
                          "isPaidTheme": {
                            "type": "boolean"
                          },
                          "logo": {
                            "type": "string"
                          },
                          "logoAltText": {
                            "type": "string"
                          },
                          "logoSize": {
                            "type": "number"
                          },
                          "logoType": {
                            "type": "string"
                          },
                          "logoTypeColor": {
                            "type": "string"
                          },
                          "questionColor": {
                            "type": "string"
                          },
                          "questionTypeColor": {
                            "type": "string"
                          },
                          "radius": {
                            "type": "string"
                          },
                          "textAlignment": {
                            "type": "string"
                          },
                          "themeCreatorId": {
                            "type": "string"
                          },
                          "themeName": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "V": {
                            "type": "number"
                          },
                          "welcomeFontSize": {
                            "type": "string"
                          },
                          "welcomeTextAlignment": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rapidoForm/latest/actions/list-theme-gallery": {
      "get": {
        "operationId": "rapidoForm.list-theme-gallery",
        "summary": "List Theme Gallery",
        "description": "Retrieves all gallery themes from RapidoForm.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rapidoForm/latest/actions/list-theme-gallery"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "backgroundColor": {
                            "type": "string"
                          },
                          "backgroundImage": {
                            "type": "string"
                          },
                          "backgroundImageType": {
                            "type": "string"
                          },
                          "backgroundImageTypeColor": {
                            "type": "string"
                          },
                          "bgImgBrigthness": {
                            "type": "number"
                          },
                          "bottomLineColor": {
                            "type": "string"
                          },
                          "btnBackgroundColor": {
                            "type": "string"
                          },
                          "btnTextColor": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fontFamily": {
                            "type": "string"
                          },
                          "fontSize": {
                            "type": "string"
                          },
                          "fontUrl": {
                            "type": "string"
                          },
                          "Id": {
                            "type": "string"
                          },
                          "isGalleryTheme": {
                            "type": "boolean"
                          },
                          "isPaidTheme": {
                            "type": "boolean"
                          },
                          "logo": {
                            "type": "string"
                          },
                          "logoAltText": {
                            "type": "string"
                          },
                          "logoSize": {
                            "type": "number"
                          },
                          "logoType": {
                            "type": "string"
                          },
                          "logoTypeColor": {
                            "type": "string"
                          },
                          "questionColor": {
                            "type": "string"
                          },
                          "questionTypeColor": {
                            "type": "string"
                          },
                          "radius": {
                            "type": "string"
                          },
                          "textAlignment": {
                            "type": "string"
                          },
                          "themeCreatorId": {
                            "type": "string"
                          },
                          "themeName": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "V": {
                            "type": "number"
                          },
                          "welcomeFontSize": {
                            "type": "string"
                          },
                          "welcomeTextAlignment": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
