{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PDF-app Universal API",
    "version": "0.0.5",
    "description": "Convert, extract, and automate PDF and document workflows"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/pDFApp/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/pDFApp/latest/actions/add-watermark": {
      "put": {
        "operationId": "pDFApp.add-watermark",
        "summary": "Add Watermark",
        "description": "Updates a PDF with a watermark in PDF-app.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFApp/latest/actions/add-watermark"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileUrl": {
                    "type": "string",
                    "description": "File URL to watermark.",
                    "example": "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Desired output file name.",
                    "example": "watermarked-dummy"
                  },
                  "fontType": {
                    "type": "string",
                    "description": "PDF text watermark font type.",
                    "example": "Helvetica"
                  },
                  "customFont": {
                    "type": "string",
                    "description": "Custom font download URL for text watermarks.",
                    "example": "https://raw.githubusercontent.com/notofonts/noto-cjk/main/Sans/OTF/Korean/NotoSansCJKkr-Regular.otf"
                  },
                  "watermarkText": {
                    "type": "string",
                    "description": "Text to use as the watermark.",
                    "example": "MindCloud"
                  },
                  "textColor": {
                    "type": "string",
                    "description": "Hex color for the text watermark.",
                    "example": "#000000"
                  },
                  "textOpacity": {
                    "type": "number",
                    "description": "Opacity for the text watermark.",
                    "example": 0.5
                  },
                  "fontSize": {
                    "type": "number",
                    "description": "Font size for the text watermark.",
                    "example": 18
                  },
                  "placement": {
                    "type": "string",
                    "description": "Placement preset for the watermark.",
                    "example": "center"
                  },
                  "textAngle": {
                    "type": "number",
                    "description": "Rotation angle for the text watermark.",
                    "example": 45
                  },
                  "horizontal_margine": {
                    "type": "number",
                    "description": "Horizontal offset for the watermark.",
                    "example": 0
                  },
                  "vertical_margine": {
                    "type": "number",
                    "description": "Vertical offset for the watermark.",
                    "example": 0
                  },
                  "pageRange": {
                    "type": "string",
                    "description": "Page range to apply the watermark to.",
                    "example": "2-5"
                  },
                  "watermarkImageUrl": {
                    "type": "string",
                    "description": "Optional image URL to use as the watermark.",
                    "example": "https://example.com/watermark.png"
                  },
                  "imageAngle": {
                    "type": "number",
                    "description": "Rotation angle for the image watermark.",
                    "example": 45
                  },
                  "imageScale": {
                    "type": "number",
                    "description": "Scale factor for the image watermark.",
                    "example": 1
                  },
                  "imageOpacity": {
                    "type": "number",
                    "description": "Opacity for the image watermark.",
                    "example": 0.5
                  },
                  "fixedWidth": {
                    "type": "number",
                    "description": "Fixed width for the image watermark.",
                    "example": 200
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsConsumed": {
                            "type": "number",
                            "description": "Credits consumed by the operation"
                          },
                          "creditsRemaining": {
                            "type": "number",
                            "description": "Remaining account credits after the run"
                          },
                          "job_id": {
                            "type": "string",
                            "description": "Processing job identifier"
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider success message"
                          },
                          "presignedUrl": {
                            "type": "string",
                            "description": "Temporary download URL for the watermarked file"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFApp/latest/actions/analyze-file-with-ai": {
      "get": {
        "operationId": "pDFApp.analyze-file-with-ai",
        "summary": "Analyze File With AI",
        "description": "Retrieves AI analysis from a file in PDF-app.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFApp/latest/actions/analyze-file-with-ai"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "input_text",
            "in": "query",
            "required": false,
            "description": "Instruction or question for the AI analyzer.",
            "schema": {
              "type": "string",
              "description": "Instruction or question for the AI analyzer.",
              "example": "Summarize the attached file in three bullet points."
            }
          },
          {
            "name": "fileUrl[]",
            "in": "query",
            "required": false,
            "description": "Optional file URLs to analyze alongside the prompt.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Optional file URLs to analyze alongside the prompt."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "examples",
            "in": "query",
            "required": false,
            "description": "Optional extra examples or guidance for the AI model.",
            "schema": {
              "type": "string",
              "description": "Optional extra examples or guidance for the AI model.",
              "example": "Focus on invoice totals and due dates."
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "description": "Whether to run the AI analysis asynchronously.",
            "schema": {
              "type": "boolean",
              "description": "Whether to run the AI analysis asynchronously.",
              "default": false
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Model selector such as model1, model2, or model3.",
            "schema": {
              "type": "string",
              "description": "Model selector such as model1, model2, or model3.",
              "example": "model2"
            }
          },
          {
            "name": "temperature",
            "in": "query",
            "required": false,
            "description": "Controls response variability between 0 and 1.",
            "schema": {
              "type": "number",
              "description": "Controls response variability between 0 and 1.",
              "example": 0.2
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFApp/latest/actions/compress-pdf": {
      "post": {
        "operationId": "pDFApp.compress-pdf",
        "summary": "Compress PDF",
        "description": "Creates a compressed PDF in PDF-app.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFApp/latest/actions/compress-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileUrl": {
                    "type": "string",
                    "description": "Public URL of the PDF to compress."
                  },
                  "pdfSettings": {
                    "type": "string",
                    "description": "Compression profile such as /screen, /ebook, /printer, or /prepress."
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Set true to run compression asynchronously."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Optional output file name for the compressed PDF."
                  },
                  "jpegQuality": {
                    "type": "number",
                    "description": "Optional JPEG quality setting for image recompression.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsConsumed": {
                            "type": "number",
                            "description": "Credits consumed by the operation."
                          },
                          "creditsRemaining": {
                            "type": "number",
                            "description": "Remaining PDF-app credits after the operation."
                          },
                          "jobId": {
                            "type": "string",
                            "description": "Job identifier returned by PDF-app."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider success message."
                          },
                          "presignedUrl": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Temporary download URL array for the compressed PDF."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFApp/latest/actions/convert-docx-to-pdf": {
      "post": {
        "operationId": "pDFApp.convert-docx-to-pdf",
        "summary": "Convert DOCX To PDF",
        "description": "Creates a PDF from a DOCX file in PDF-app.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFApp/latest/actions/convert-docx-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileUrl": {
                    "type": "string",
                    "description": "Public URL of the DOCX file to convert."
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Set true to queue the conversion asynchronously."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Optional output file name for the converted PDF."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsConsumed": {
                            "type": "number",
                            "description": "Credits consumed by the operation."
                          },
                          "creditsRemaining": {
                            "type": "number",
                            "description": "Remaining PDF-app credits after the operation."
                          },
                          "jobId": {
                            "type": "string",
                            "description": "Job identifier returned by PDF-app."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider success message."
                          },
                          "presignedUrls": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Temporary download URLs for the converted PDF file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFApp/latest/actions/convert-images-to-pdf": {
      "post": {
        "operationId": "pDFApp.convert-images-to-pdf",
        "summary": "Convert Images To PDF",
        "description": "Creates a PDF from image files in PDF-app.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFApp/latest/actions/convert-images-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "imageUrls[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "imageUrls[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Public image URLs to combine into a PDF in order."
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Set true to queue the conversion asynchronously."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Optional output file name for the created PDF."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFApp/latest/actions/convert-pdf-to-docx": {
      "post": {
        "operationId": "pDFApp.convert-pdf-to-docx",
        "summary": "Convert PDF To DOCX",
        "description": "Creates a DOCX file from a PDF in PDF-app.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFApp/latest/actions/convert-pdf-to-docx"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "pdfUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "pdfUrl": {
                    "type": "string",
                    "description": "Public URL of the PDF file to convert to DOCX."
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Set true to queue the conversion asynchronously."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Optional output file name for the DOCX file."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsConsumed": {
                            "type": "number"
                          },
                          "creditsRemaining": {
                            "type": "number"
                          },
                          "jobId": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "presignedUrls": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFApp/latest/actions/convert-pdf-to-html": {
      "post": {
        "operationId": "pDFApp.convert-pdf-to-html",
        "summary": "Convert PDF To HTML",
        "description": "Creates HTML from a PDF in PDF-app.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFApp/latest/actions/convert-pdf-to-html"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "pdfUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "pdfUrl": {
                    "type": "string",
                    "description": "Public URL of the PDF file to convert to HTML."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsConsumed": {
                            "type": "number"
                          },
                          "creditsRemaining": {
                            "type": "number"
                          },
                          "jobId": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "presignedUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFApp/latest/actions/convert-pdf-to-images": {
      "post": {
        "operationId": "pDFApp.convert-pdf-to-images",
        "summary": "Convert PDF To Images",
        "description": "Creates image files from a PDF in PDF-app.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFApp/latest/actions/convert-pdf-to-images"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "pdfUrls[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "pdfUrls[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Public URLs of the PDF files to convert into images."
                  },
                  "imageType": {
                    "type": "string",
                    "description": "Output image format for the converted pages, such as jpeg or png."
                  },
                  "quality": {
                    "type": "number",
                    "description": "Output image quality from 72 to 400.",
                    "x-mindcloud-advanced": true
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Run the conversion asynchronously and fetch the result later by job ID."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Optional base filename for the generated image files."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFApp/latest/actions/convert-text-to-speech": {
      "post": {
        "operationId": "pDFApp.convert-text-to-speech",
        "summary": "Convert Text To Speech",
        "description": "Creates speech audio from text in PDF-app.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFApp/latest/actions/convert-text-to-speech"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileUrl": {
                    "type": "string",
                    "description": "Optional text file or HTML file URL to convert to speech.",
                    "example": "https://example.com/input.txt"
                  },
                  "text": {
                    "type": "string",
                    "description": "Plain text or SSML content to convert to speech.",
                    "example": "Hello from MindCloud"
                  },
                  "voiceId": {
                    "type": "string",
                    "description": "AWS Polly voice identifier to use for the generated audio.",
                    "example": "Danielle"
                  },
                  "outputFormat": {
                    "type": "string",
                    "description": "Audio output format, such as mp3 or ogg_vorbis.",
                    "example": "mp3"
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Whether to run speech generation asynchronously.",
                    "default": false
                  },
                  "type": {
                    "type": "string",
                    "description": "Speech engine type: longform, generative, neural, or standard.",
                    "example": "standard"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code for the selected voice.",
                    "example": "en-US"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsConsumed": {
                            "type": "number",
                            "description": "Credits consumed by the request."
                          },
                          "creditsRemaining": {
                            "type": "number",
                            "description": "Remaining provider credits after the request."
                          },
                          "job_id": {
                            "type": "string",
                            "description": "Provider job identifier for the text-to-speech request."
                          },
                          "message": {
                            "type": "string",
                            "description": "Summary of the speech conversion result."
                          },
                          "presignedUrl": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Temporary download URLs for the generated audio output."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFApp/latest/actions/create-pdf-from-html": {
      "post": {
        "operationId": "pDFApp.create-pdf-from-html",
        "summary": "Create PDF From HTML",
        "description": "Creates a PDF from HTML in PDF-app.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFApp/latest/actions/create-pdf-from-html"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "htmlTemplate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "htmlTemplate": {
                    "type": "string",
                    "description": "HTML content to render into a PDF."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Optional output file name."
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Set true to queue the PDF generation asynchronously."
                  },
                  "format": {
                    "type": "string",
                    "description": "Optional paper format such as A4 or Letter.",
                    "x-mindcloud-advanced": true
                  },
                  "templateHtmlId": {
                    "type": "string",
                    "description": "Optional saved HTML template ID to reuse instead of sending raw HTML.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsConsumed": {
                            "type": "number",
                            "description": "Credits consumed by the operation."
                          },
                          "creditsRemaining": {
                            "type": "number",
                            "description": "Remaining PDF-app credits after the operation."
                          },
                          "jobId": {
                            "type": "string",
                            "description": "Job identifier returned by PDF-app."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider success message."
                          },
                          "presignedUrl": {
                            "type": "string",
                            "description": "Temporary download URL for the generated PDF."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFApp/latest/actions/create-qr-code-or-barcode": {
      "post": {
        "operationId": "pDFApp.create-qr-code-or-barcode",
        "summary": "Create QR Code Or Barcode",
        "description": "Creates a QR code or barcode in PDF-app.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFApp/latest/actions/create-qr-code-or-barcode"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "type",
                  "texts[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "type": {
                    "type": "string",
                    "description": "Choose whether to generate a qr code or a barcode."
                  },
                  "texts[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of text values to encode into the generated qr codes or barcodes."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Optional base filename for the generated output files."
                  },
                  "size": {
                    "type": "number",
                    "description": "QR code size in pixels."
                  },
                  "margin": {
                    "type": "number",
                    "description": "QR code margin.",
                    "x-mindcloud-advanced": true
                  },
                  "color": {
                    "type": "string",
                    "description": "Foreground color for the generated code.",
                    "x-mindcloud-advanced": true
                  },
                  "backgroundColor": {
                    "type": "string",
                    "description": "Background color for qr generation.",
                    "x-mindcloud-advanced": true
                  },
                  "format": {
                    "type": "string",
                    "description": "Output image format, such as jpeg or png.",
                    "x-mindcloud-advanced": true
                  },
                  "width": {
                    "type": "number",
                    "description": "Barcode bar width.",
                    "x-mindcloud-advanced": true
                  },
                  "height": {
                    "type": "number",
                    "description": "Barcode height.",
                    "x-mindcloud-advanced": true
                  },
                  "includeText": {
                    "type": "boolean",
                    "description": "Whether to include readable text below the barcode.",
                    "x-mindcloud-advanced": true
                  },
                  "textXAlign": {
                    "type": "string",
                    "description": "Horizontal alignment for barcode text.",
                    "x-mindcloud-advanced": true
                  },
                  "textPadding": {
                    "type": "number",
                    "description": "Padding between the barcode and its text.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFApp/latest/actions/edit-pdf": {
      "put": {
        "operationId": "pDFApp.edit-pdf",
        "summary": "Edit PDF",
        "description": "Updates a PDF with edits in PDF-app.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFApp/latest/actions/edit-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "PDF file URL to edit.",
                    "example": "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Whether to run PDF editing asynchronously.",
                    "default": false
                  },
                  "annotations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Text annotations to add to the PDF."
                  },
                  "images[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Images to insert into the PDF."
                  },
                  "remove_elements[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Regions to clear from the PDF."
                  },
                  "search_texts[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Search-and-replace operations for text in the PDF."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Desired file name for the edited PDF output.",
                    "example": "edited-dummy"
                  },
                  "deletePages[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Page numbers to delete from the PDF."
                  },
                  "moveContent[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Content transformations to apply to rectangular areas of the PDF."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsConsumed": {
                            "type": "number",
                            "description": "Credits consumed by the PDF edit request."
                          },
                          "creditsRemaining": {
                            "type": "number",
                            "description": "Remaining provider credits after the edit request."
                          },
                          "job_id": {
                            "type": "string",
                            "description": "Provider job identifier for the edit request."
                          },
                          "message": {
                            "type": "string",
                            "description": "Summary of the PDF edit result."
                          },
                          "presignedUrls": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Temporary download URLs for the edited PDF output."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFApp/latest/actions/encrypt-file": {
      "put": {
        "operationId": "pDFApp.encrypt-file",
        "summary": "Encrypt File",
        "description": "Updates a file with password encryption in PDF-app.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFApp/latest/actions/encrypt-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileUrl": {
                    "type": "string",
                    "description": "File URL to encrypt or decrypt.",
                    "example": "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                  },
                  "selfEncrypt": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Encryption settings including algorithm, key, and IV. Runtime verification confirmed `aes256`/`AES256` as accepted algorithm tokens."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Desired output file name.",
                    "example": "encrypted-dummy"
                  },
                  "command": {
                    "type": "string",
                    "description": "Whether to encrypt or decrypt the file.",
                    "example": "encrypt"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsConsumed": {
                            "type": "number",
                            "description": "Credits consumed by the operation"
                          },
                          "creditsRemaining": {
                            "type": "number",
                            "description": "Remaining account credits after the run"
                          },
                          "job_id": {
                            "type": "string",
                            "description": "Processing job identifier"
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider success message"
                          },
                          "presignedUrl": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Temporary download URLs for the encrypted file"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
[...]
