{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "NYC Squirrel Census Universal API",
    "version": "0.0.1",
    "description": "Read historical 2018 Central Park squirrel sightings from the NYC Open Data Socrata dataset."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/nYCSquirrelCensus/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/nYCSquirrelCensus/latest/actions/list-squirrel-sightings": {
      "get": {
        "operationId": "nYCSquirrelCensus.list-squirrel-sightings",
        "summary": "List squirrel sightings",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nYCSquirrelCensus/latest/actions/list-squirrel-sightings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "Optional advanced SoQL predicate for the fixed NYC Squirrel Census dataset. For example: primary_fur_color = 'Gray'.",
            "schema": {
              "type": "string",
              "description": "Optional advanced SoQL predicate for the fixed NYC Squirrel Census dataset. For example: primary_fur_color = 'Gray'.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "above_ground_sighter": {
                            "type": "string",
                            "description": "Reported above-ground measurement when present."
                          },
                          "age": {
                            "type": "string",
                            "description": "Reported squirrel age when present."
                          },
                          "approaches": {
                            "type": "boolean",
                            "description": "Whether the squirrel approached a human."
                          },
                          "chasing": {
                            "type": "boolean",
                            "description": "Whether the squirrel was observed chasing."
                          },
                          "climbing": {
                            "type": "boolean",
                            "description": "Whether the squirrel was observed climbing."
                          },
                          "color_notes": {
                            "type": "string",
                            "description": "Observer fur-color notes when present."
                          },
                          "combination_of_primary_and": {
                            "type": "string",
                            "description": "Dataset combination of primary and highlight fur color."
                          },
                          "date": {
                            "type": "string",
                            "description": "Dataset sighting date representation."
                          },
                          "eating": {
                            "type": "boolean",
                            "description": "Whether the squirrel was observed eating."
                          },
                          "foraging": {
                            "type": "boolean",
                            "description": "Whether the squirrel was observed foraging."
                          },
                          "geocoded_column": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "GeoJSON Point object for the sighting when present."
                          },
                          "hectare": {
                            "type": "string",
                            "description": "Central Park hectare grid identifier."
                          },
                          "hectare_squirrel_number": {
                            "type": "string",
                            "description": "Sighting sequence number within the session, returned as a string."
                          },
                          "highlight_fur_color": {
                            "type": "string",
                            "description": "Reported highlight fur color when present."
                          },
                          "indifferent": {
                            "type": "boolean",
                            "description": "Whether the squirrel was indifferent to humans."
                          },
                          "kuks": {
                            "type": "boolean",
                            "description": "Whether kuk vocalization was observed."
                          },
                          "location": {
                            "type": "string",
                            "description": "Initial sighting location when present."
                          },
                          "moans": {
                            "type": "boolean",
                            "description": "Whether moan vocalization was observed."
                          },
                          "other_activities": {
                            "type": "string",
                            "description": "Other observed activity notes when present."
                          },
                          "other_interactions": {
                            "type": "string",
                            "description": "Other squirrel-human interaction notes when present."
                          },
                          "primary_fur_color": {
                            "type": "string",
                            "description": "Reported primary fur color when present."
                          },
                          "quaas": {
                            "type": "boolean",
                            "description": "Whether quaa vocalization was observed."
                          },
                          "running": {
                            "type": "boolean",
                            "description": "Whether the squirrel was observed running."
                          },
                          "runs_from": {
                            "type": "boolean",
                            "description": "Whether the squirrel ran from humans."
                          },
                          "shift": {
                            "type": "string",
                            "description": "Sighting shift, such as AM or PM."
                          },
                          "specific_location": {
                            "type": "string",
                            "description": "Observer location notes when present."
                          },
                          "tail_flags": {
                            "type": "boolean",
                            "description": "Whether tail flagging was observed."
                          },
                          "tail_twitches": {
                            "type": "boolean",
                            "description": "Whether tail twitching was observed."
                          },
                          "unique_squirrel_id": {
                            "type": "string",
                            "description": "Dataset identifier for the sighting."
                          },
                          "x": {
                            "type": "string",
                            "description": "Longitude coordinate returned by Socrata."
                          },
                          "y": {
                            "type": "string",
                            "description": "Latitude coordinate returned by Socrata."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
