{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Firebolt Universal API",
    "version": "0.0.5",
    "description": "Run Firebolt queries and manage engines"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/firebolt/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/firebolt/latest/actions/cancel-query": {
      "delete": {
        "operationId": "firebolt.cancel-query",
        "summary": "Cancel Query",
        "description": "Deletes a running query from Firebolt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/firebolt/latest/actions/cancel-query"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "engineUrl",
            "in": "query",
            "required": true,
            "description": "Firebolt engine URL host used to cancel the query.",
            "schema": {
              "type": "string",
              "description": "Firebolt engine URL host used to cancel the query.",
              "example": "account-1-mindcloud.api.us-east-1.app.firebolt.io"
            }
          },
          {
            "name": "engineName",
            "in": "query",
            "required": false,
            "description": "User engine name used to run the cancel command.",
            "schema": {
              "type": "string",
              "description": "User engine name used to run the cancel command.",
              "example": "mc_fb_act_20260422_engine",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": false,
            "description": "Database to target for user-engine cancel commands when required.",
            "schema": {
              "type": "string",
              "description": "Database to target for user-engine cancel commands when required.",
              "example": "mc_fb_act_20260422_db",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "queryId",
            "in": "query",
            "required": true,
            "description": "Firebolt query id to cancel.",
            "schema": {
              "type": "string",
              "description": "Firebolt query id to cancel.",
              "example": "c1ecdc7f-2acb-4c3f-8f44-08a6200e718c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/firebolt/latest/actions/check-async-query-status": {
      "get": {
        "operationId": "firebolt.check-async-query-status",
        "summary": "Check Async Query Status",
        "description": "Retrieves asynchronous query status from Firebolt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/firebolt/latest/actions/check-async-query-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "engineUrl",
            "in": "query",
            "required": true,
            "description": "Firebolt engine URL host or engine endpoint used to check async query status.",
            "schema": {
              "type": "string",
              "description": "Firebolt engine URL host or engine endpoint used to check async query status.",
              "example": "01abcde12345.api.us-east-1.app.firebolt.io"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": false,
            "description": "Database to target for user-engine async status checks when required.",
            "schema": {
              "type": "string",
              "description": "Database to target for user-engine async status checks when required.",
              "example": "analytics",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "engineName",
            "in": "query",
            "required": false,
            "description": "User engine name to target when checking async query status on a user engine.",
            "schema": {
              "type": "string",
              "description": "User engine name to target when checking async query status on a user engine.",
              "example": "mc_fb_act_20260422_engine",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "asyncToken",
            "in": "query",
            "required": true,
            "description": "Async query token returned by Firebolt.",
            "schema": {
              "type": "string",
              "description": "Async query token returned by Firebolt.",
              "example": "CiQ..."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountName": {
                            "type": "string"
                          },
                          "endTime": {
                            "type": "string"
                          },
                          "errorMessage": {
                            "type": "string"
                          },
                          "queryId": {
                            "type": "string"
                          },
                          "requestId": {
                            "type": "string"
                          },
                          "retries": {
                            "type": "string"
                          },
                          "scannedBytes": {
                            "type": "string"
                          },
                          "scannedRows": {
                            "type": "string"
                          },
                          "startTime": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "submittedTime": {
                            "type": "string"
                          },
                          "userName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/firebolt/latest/actions/copy-from-s3": {
      "post": {
        "operationId": "firebolt.copy-from-s3",
        "summary": "Copy From S3",
        "description": "Creates a copy-from-S3 operation in Firebolt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/firebolt/latest/actions/copy-from-s3"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "engineHost",
                  "tableName",
                  "source"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "engineHost": {
                    "type": "string",
                    "description": "Firebolt user-engine host, for example account-1-mindcloud.api.us-east-1.app.firebolt.io.",
                    "example": "account-1-mindcloud.api.us-east-1.app.firebolt.io"
                  },
                  "engineName": {
                    "type": "string",
                    "description": "Optional user engine name when routing through a shared user-engine host.",
                    "example": "mc_fb_act_20260422_engine",
                    "x-mindcloud-advanced": true
                  },
                  "database": {
                    "type": "string",
                    "description": "Optional database to target for the COPY FROM statement.",
                    "example": "mc_fb_act_20260422_db",
                    "x-mindcloud-advanced": true
                  },
                  "tableName": {
                    "type": "string",
                    "description": "Target table to copy data into.",
                    "example": "mc_fb_copy_from_20260422"
                  },
                  "source": {
                    "type": "string",
                    "description": "An Amazon S3 URL or Firebolt location object name to copy data from.",
                    "example": "s3://firebolt-publishing-public/help_center_assets/firebolt_sample_dataset/levels.csv"
                  },
                  "copyOptions": {
                    "type": "string",
                    "description": "Optional COPY FROM options. For URL sources that need access configuration, include the CREDENTIALS = (...) clause here.",
                    "example": "HEADER=TRUE",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Firebolt async acceptance message."
                          },
                          "monitorSql": {
                            "type": "string",
                            "description": "SQL statement that can be used to check the async query status."
                          },
                          "token": {
                            "type": "string",
                            "description": "Firebolt async query token."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/firebolt/latest/actions/copy-to-s3": {
      "post": {
        "operationId": "firebolt.copy-to-s3",
        "summary": "Copy To S3",
        "description": "Creates a copy-to-S3 operation in Firebolt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/firebolt/latest/actions/copy-to-s3"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "engineHost",
                  "selectQuery",
                  "destination"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "engineHost": {
                    "type": "string",
                    "description": "Firebolt user-engine host, for example account-1-mindcloud.api.us-east-1.app.firebolt.io.",
                    "example": "account-1-mindcloud.api.us-east-1.app.firebolt.io"
                  },
                  "engineName": {
                    "type": "string",
                    "description": "Optional user engine name when routing through a shared user-engine host.",
                    "example": "mc_fb_act_20260422_engine",
                    "x-mindcloud-advanced": true
                  },
                  "database": {
                    "type": "string",
                    "description": "Optional database to target for the COPY TO statement.",
                    "example": "mc_fb_act_20260422_db",
                    "x-mindcloud-advanced": true
                  },
                  "selectQuery": {
                    "type": "string",
                    "description": "SELECT query whose results should be exported.",
                    "example": "SELECT * FROM mc_fb_act_20260422_table ORDER BY id"
                  },
                  "destination": {
                    "type": "string",
                    "description": "An Amazon S3 URL or Firebolt location object name to copy data to.",
                    "example": "my_export_location"
                  },
                  "copyOptions": {
                    "type": "string",
                    "description": "Optional COPY TO options. For URL destinations that need access configuration, include the CREDENTIALS = (...) clause here.",
                    "example": "TYPE = JSON, COMPRESSION = NONE, SINGLE_FILE = TRUE, FILE_NAME_PREFIX = 'latest-export', OVERWRITE_EXISTING_FILES = TRUE",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Firebolt async acceptance message."
                          },
                          "monitorSql": {
                            "type": "string",
                            "description": "SQL statement that can be used to check the async query status."
                          },
                          "token": {
                            "type": "string",
                            "description": "Firebolt async query token."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/firebolt/latest/actions/create-database": {
      "post": {
        "operationId": "firebolt.create-database",
        "summary": "Create Database",
        "description": "Creates a new database in Firebolt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/firebolt/latest/actions/create-database"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "engineUrl",
                  "databaseName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "engineUrl": {
                    "type": "string",
                    "description": "System engine host, for example 01kjtg5w4vwy72rfew4r8vg135.api.us-east-1.app.firebolt.io.",
                    "example": "01kjtg5w4vwy72rfew4r8vg135.api.us-east-1.app.firebolt.io"
                  },
                  "databaseName": {
                    "type": "string",
                    "description": "Name of the Firebolt database to create.",
                    "example": "mc_stage3_20260422_db1"
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional database description, up to 64 characters.",
                    "example": "MindCloud stage 3 database",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/firebolt/latest/actions/create-engine": {
      "post": {
        "operationId": "firebolt.create-engine",
        "summary": "Create Engine",
        "description": "Creates a new engine in Firebolt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/firebolt/latest/actions/create-engine"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "engineUrl",
                  "engineName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "engineUrl": {
                    "type": "string",
                    "description": "System engine host, for example 01kjtg5w4vwy72rfew4r8vg135.api.us-east-1.app.firebolt.io.",
                    "example": "01kjtg5w4vwy72rfew4r8vg135.api.us-east-1.app.firebolt.io"
                  },
                  "engineName": {
                    "type": "string",
                    "description": "Name of the Firebolt engine to create.",
                    "example": "mc_stage3_20260422_engine1"
                  },
                  "defaultDatabase": {
                    "type": "string",
                    "description": "Optional default database for the new engine.",
                    "example": "mc_stage3_20260422_db1"
                  },
                  "initiallyStopped": {
                    "type": "boolean",
                    "description": "When true, the new engine is created without starting immediately.",
                    "x-mindcloud-advanced": true
                  },
                  "autoStopMinutes": {
                    "type": "number",
                    "description": "Optional idle time in minutes before the engine auto-stops.",
                    "example": 5,
                    "x-mindcloud-advanced": true
                  },
                  "engineType": {
                    "type": "string",
                    "description": "Optional engine type such as S or M.",
                    "example": "S",
                    "x-mindcloud-advanced": true
                  },
                  "nodes": {
                    "type": "number",
                    "description": "Optional number of nodes per cluster.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/firebolt/latest/actions/create-role": {
      "post": {
        "operationId": "firebolt.create-role",
        "summary": "Create Role",
        "description": "Creates a new role in Firebolt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/firebolt/latest/actions/create-role"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "engineHost",
                  "roleName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "engineHost": {
                    "type": "string",
                    "description": "The Firebolt system engine host to send the SQL request to.",
                    "example": "01kjtg5w4vwy72rfew4r8vg135.api.us-east-1.app.firebolt.io"
                  },
                  "roleName": {
                    "type": "string",
                    "description": "The Firebolt role name to create. Firebolt role names should use valid identifier syntax.",
                    "example": "mc_fb_action_role_20260422"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Returned data rows."
                          },
                          "meta": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Column metadata for the response."
                          },
                          "query": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Firebolt query metadata."
                          },
                          "rows": {
                            "type": "number",
                            "description": "Number of rows returned in the data payload."
                          },
                          "statistics": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Firebolt execution statistics."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/firebolt/latest/actions/create-user": {
      "post": {
        "operationId": "firebolt.create-user",
        "summary": "Create User",
        "description": "Creates a new user in Firebolt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/firebolt/latest/actions/create-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "engineHost",
                  "userName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "engineHost": {
                    "type": "string",
                    "description": "The Firebolt system engine host to send the SQL request to.",
                    "example": "01kjtg5w4vwy72rfew4r8vg135.api.us-east-1.app.firebolt.io"
                  },
                  "userName": {
                    "type": "string",
                    "description": "The Firebolt user name to create.",
                    "example": "mc_fb_action_user_20260422"
                  },
                  "serviceAccountName": {
                    "type": "string",
                    "description": "Optional Firebolt service account name to associate with the user.",
                    "example": "my_service_account",
                    "x-mindcloud-advanced": true
                  },
                  "defaultDatabase": {
                    "type": "string",
                    "description": "Optional Firebolt default database for the user.",
                    "example": "analytics",
                    "x-mindcloud-advanced": true
                  },
                  "defaultEngine": {
                    "type": "string",
                    "description": "Optional Firebolt default engine for the user.",
                    "example": "my_engine",
                    "x-mindcloud-advanced": true
                  },
                  "roleNames": {
                    "type": "string",
                    "description": "Optional comma-separated Firebolt role names to assign during user creation.",
                    "example": "analyst,data_engineer",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Returned data rows."
                          },
                          "meta": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Column metadata for the response."
                          },
                          "query": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Firebolt query metadata."
                          },
                          "rows": {
                            "type": "number",
                            "description": "Number of rows returned in the data payload."
                          },
                          "statistics": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Firebolt execution statistics."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/firebolt/latest/actions/create-view": {
      "post": {
        "operationId": "firebolt.create-view",
        "summary": "Create View",
        "description": "Creates a new view in Firebolt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/firebolt/latest/actions/create-view"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "engineUrl",
                  "engineName",
                  "database",
                  "viewName",
                  "selectStatement"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "engineUrl": {
                    "type": "string",
                    "description": "Firebolt user engine host, for example account-1-mindcloud.api.us-east-1.app.firebolt.io.",
                    "example": "account-1-mindcloud.api.us-east-1.app.firebolt.io"
                  },
                  "engineName": {
                    "type": "string",
                    "description": "Name of the user engine, for example mc_fb_act_20260422_engine.",
                    "example": "mc_fb_act_20260422_engine"
                  },
                  "database": {
                    "type": "string",
                    "description": "Database to use for the statement.",
                    "example": "mc_fb_act_20260422_db"
                  },
                  "viewName": {
                    "type": "string",
                    "description": "Name of the view to create.",
                    "example": "mc_stage3_20260422_view2"
                  },
                  "selectStatement": {
                    "type": "string",
                    "description": "SELECT statement that defines the view.",
                    "example": "SELECT 1 AS value"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/firebolt/latest/actions/delete-engine": {
      "delete": {
        "operationId": "firebolt.delete-engine",
        "summary": "Delete Engine",
        "description": "Deletes an existing engine from Firebolt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/firebolt/latest/actions/delete-engine"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "engineHost",
            "in": "query",
            "required": true,
            "description": "System engine host to execute the DROP ENGINE statement against.",
            "schema": {
              "type": "string",
              "description": "System engine host to execute the DROP ENGINE statement against.",
              "example": "01kjtg5w4vwy72rfew4r8vg135.api.us-east-1.app.firebolt.io"
            }
          },
          {
            "name": "engineName",
            "in": "query",
            "required": true,
            "description": "The Firebolt engine to delete.",
            "schema": {
              "type": "string",
              "description": "The Firebolt engine to delete.",
              "example": "mc_fb_lifecycle_20260422_engine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Firebolt async acceptance message."
                          },
                          "monitorSql": {
                            "type": "string",
                            "description": "SQL statement that can be used to check the async query status."
                          },
                          "token": {
                            "type": "string",
                            "description": "Firebolt async query token."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/firebolt/latest/actions/delete-rows": {
      "delete": {
        "operationId": "firebolt.delete-rows",
        "summary": "Delete Rows",
        "description": "Deletes existing rows from Firebolt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/firebolt/latest/actions/delete-rows"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "engineHost",
            "in": "query",
            "required": true,
            "description": "User engine host to execute the DELETE statement against.",
            "schema": {
              "type": "string",
              "description": "User engine host to execute the DELETE statement against.",
              "example": "account-1-mindcloud.api.us-east-1.app.firebolt.io"
            }
          },
          {
            "name": "engineName",
            "in": "query",
            "required": false,
            "description": "Optional engine name to send as the Firebolt engine query parameter.",
            "schema": {
              "type": "string",
              "description": "Optional engine name to send as the Firebolt engine query parameter.",
              "example": "mc_fb_act_20260422_engine",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": false,
            "description": "Optional Firebolt database to execute the DELETE statement in.",
            "schema": {
              "type": "string",
              "description": "Optional Firebolt database to execute the DELETE statement in.",
              "example": "mc_fb_act_20260422_db",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "tableName",
            "in": "query",
            "required": true,
            "description": "The Firebolt table to delete rows from.",
            "schema": {
              "type": "string",
              "description": "The Firebolt table to delete rows from.",
              "example": "mc_fb_act_20260422_table"
            }
          },
          {
            "name": "tableAlias",
            "in": "query",
            "required": false,
            "description": "Optional alias for the target table.",
            "schema": {
              "type": "string",
              "description": "Optional alias for the target table.",
              "example": "t",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "usingClause",
            "in": "query",
            "required": false,
            "description": "Optional USING clause contents to join other tables into the DELETE statement.",
            "schema": {
              "type": "string",
              "description": "Optional USING clause contents to join other tables into the DELETE statement.",
              "example": "other_table ot",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "whereClause",
            "in": "query",
            "required": false,
            "description": "Optional WHERE clause to restrict which rows are deleted.",
            "schema": {
              "type": "string",
              "description": "Optional WHERE clause to restrict which rows are deleted.",
              "example": "id = 4"
            }
          },
          {
            "name": "settingsClause",
            "in": "query",
            "required": false,
            "description": "Optional WITH settings clause contents for query settings overrides.",
            "schema": {
              "type": "string",
              "description": "Optional WITH settings clause contents for query settings overrides.",
              "example": "max_memory = 2147483648",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Returned data rows."
                          },
                          "meta": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Column metadata for the response."
                          },
                          "query": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Firebolt query metadata."
                          },
                          "rows": {
                            "type": "number",
                            "description": "Number of rows returned in the data payload."
                          },
                          "statistics": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Firebolt execution statistics."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/firebolt/latest/actions/delete-view": {
      "delete": {
        "operationId": "firebolt.delete-view",
        "summary": "Delete View",
        "description": "Deletes an existing view from Firebolt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/firebolt/latest/actions/delete-view"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "engineHost",
            "in": "query",
            "required": true,
            "description": "User engine host to execute the DROP VIEW statement against.",
            "schema": {
              "type": "string",
              "description": "User engine host to execute the DROP VIEW statement against.",
              "example": "account-1-mindcloud.api.us-east-1.app.firebolt.io"
            }
          },
          {
            "name": "engineName",
            "in": "query",
            "required": false,
            "description": "Optional engine name to send as the Firebolt engine query parameter.",
            "schema": {
              "type": "string",
              "description": "Optional engine name to send as the Firebolt engine query parameter.",
              "example": "mc_fb_act_20260422_engine",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": false,
            "description": "Optional Firebolt database to execute the DROP VIEW statement in.",
            "schema": {
              "type": "string",
              "description": "Optional Firebolt database to execute the DROP VIEW statement in.",
              "example": "mc_fb_act_20260422_db",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "viewName",
            "in": "query",
            "required": true,
            "description": "The Firebolt view to delete.",
            "schema": {
              "type": "string",
              "description": "The Firebolt view to delete.",
              "example": "mc_fb_delete_view_20260422"
            }
          },
          {
            "name": "ifExists",
            "in": "query",
            "required": false,
            "description": "When true, suppresses the error if the view does not exist.",
            "schema": {
              "type": "boolean",
              "description": "When true, suppresses the error if the view does not exist.",
              "example": true,
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Returned data rows."
                          },
                          "meta": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Column metadata for the response."
                          },
                          "query": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Firebolt query metadata."
                          },
                          "rows": {
                            "type": "number",
                            "description": "Number of rows returned in the data payload."
                          },
                          "statistics": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Firebolt execution statistics."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/firebolt/latest/actions/describe-object": {
      "get": {
        "operationId": "firebolt.describe-object",
        "summary": "Describe Object",
        "description": "Retrieves object details from Firebolt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/firebolt/latest/actions/describe-object"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "engineUrl",
            "in": "query",
            "required": true,
            "description": "Firebolt user engine host, for example account-1-mindcloud.api.us-east-1.app.firebolt.io.",
            "schema": {
              "type": "string",
              "description": "Firebolt user engine host, for example account-1-mindcloud.api.us-east-1.app.firebolt.io.",
              "example": "account-1-mindcloud.api.us-east-1.app.firebolt.io"
            }
          },
          {
            "name": "engineName",
            "in": "query",
            "required": true,
            "description": "Name of the user engine, for example mc_fb_act_20260422_engine.",
            "schema": {
              "type": "string",
              "description": "Name of the user engine, for example mc_fb_act_20260422_engine.",
              "example": "mc_fb_act_20260422_engine"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": true,
            "description": "Database to use for the statement.",
            "schema": {
              "type": "string",
              "description": "Database to use for the statement.",
              "example": "mc_fb_act_20260422_db"
            }
          },
          {
            "name": "tableName",
            "in": "query",
            "required": true,
            "description": "Table name to describe. Firebolt's DESCRIBE reference is table-scoped.",
            "schema": {
              "type": "string",
              "description": "Table name to describe. Firebolt's DESCRIBE reference is table-scoped.",
              "example": "mc_stage3_20260422_table1"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
[...]
