{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Cloudmersive Document Conversion Universal API",
    "version": "0.0.2",
    "description": "Converts documents, spreadsheets, presentations, PDFs, HTML, emails, and images between common formats using Cloudmersive Document Convert APIs."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/cloudmersiveDocumentConversion/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/cloudmersiveDocumentConversion/latest/actions/convert-csv-to-xlsx": {
      "get": {
        "operationId": "cloudmersiveDocumentConversion.convert-csv-to-xlsx",
        "summary": "Convert CSV to XLSX",
        "description": "Converts a CSV file to XLSX.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cloudmersiveDocumentConversion/latest/actions/convert-csv-to-xlsx"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inputFile",
            "in": "query",
            "required": true,
            "description": "Input CSV file to convert to XLSX.",
            "schema": {
              "type": "string",
              "description": "Input CSV file to convert to XLSX.",
              "default": "bmFtZSx2YWx1ZQpFeGFtcGxlLDEK"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "outputFile": {
                            "type": "string",
                            "description": "Converted XLSX file content returned by Cloudmersive."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cloudmersiveDocumentConversion/latest/actions/convert-document-to-jpg-array": {
      "get": {
        "operationId": "cloudmersiveDocumentConversion.convert-document-to-jpg-array",
        "summary": "Convert Document to JPG Array",
        "description": "Converts a document to JPG images in Cloudmersive Document Conversion.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cloudmersiveDocumentConversion/latest/actions/convert-document-to-jpg-array"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inputFile",
            "in": "query",
            "required": true,
            "description": "Input file to automatically detect and convert to JPG pages.",
            "schema": {
              "type": "string",
              "description": "Input file to automatically detect and convert to JPG pages.",
              "default": "JVBERi0xLjQKMSAwIG9iaiA8PCAvVHlwZSAvQ2F0YWxvZyAvUGFnZXMgMiAwIFIgPj4gZW5kb2JqCjIgMCBvYmogPDwgL1R5cGUgL1BhZ2VzIC9LaWRzIFszIDAgUl0gL0NvdW50IDEgPj4gZW5kb2JqCjMgMCBvYmogPDwgL1R5cGUgL1BhZ2UgL1BhcmVudCAyIDAgUiAvTWVkaWFCb3ggWzAgMCAyMDAgMjAwXSAvQ29udGVudHMgNCAwIFIgPj4gZW5kb2JqCjQgMCBvYmogPDwgL0xlbmd0aCA0NCA+PiBzdHJlYW0KQlQgL0YxIDEyIFRmIDIwIDEwMCBUZCAoQ2xvdWRtZXJzaXZlIHNhbXBsZSBQREYpIFRqIEVUCmVuZHN0cmVhbSBlbmRvYmoKeHJlZgowIDUKMDAwMDAwMDAwMCA2NTUzNSBmIAp0cmFpbGVyIDw8IC9Sb290IDEgMCBSIC9TaXplIDUgPj4Kc3RhcnR4cmVmCjAKJSVFT0YK"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "JpgResultPages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Array of converted JPG page results with PageNumber and Content."
                          },
                          "Successful": {
                            "type": "boolean",
                            "description": "True if the operation was successful."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cloudmersiveDocumentConversion/latest/actions/convert-document-to-pdf": {
      "get": {
        "operationId": "cloudmersiveDocumentConversion.convert-document-to-pdf",
        "summary": "Convert Document to PDF",
        "description": "Converts a document to PDF in Cloudmersive Document Conversion.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cloudmersiveDocumentConversion/latest/actions/convert-document-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inputFile",
            "in": "query",
            "required": true,
            "description": "Input file to automatically detect and convert to PDF.",
            "schema": {
              "type": "string",
              "description": "Input file to automatically detect and convert to PDF.",
              "default": "UEsDBBQAAgAIAIYyB1c8116uQQgAACKVAAARABEAd29yZC9kb2N1bWVudC54bWxVVA0ABzON0GQzjdBkM43QZO2YW48bNRTH3/kUVp6nSXa7rUpEioCqqBJUhW15d2acxDAznvqS7fLp+R/bcwmosNvuAA9HqppNxnN8fG4+5/fV1x+aWpyUddq028XFcr0Qqi1NpdvDdvHu7ctHzxbCedlWsjat2i5ulVt8/fyLr242lSlDo1ovIKF1m6bcLo7ed5vVypVH1Ui3NJ1q8XBvbCM9vtrDqpH2t9A9Kk3TSa93utb+dnW5Xj9dZDEn9SBizHYRbLvJIh41urTGmb2nVzZmv9elyh/9G/Yu+6ZXXuSTxx1XVtXQwbTuqDvXS2s+VRoeHgdb/N0hTk3dr7vp7rJbZeUNvNrUaaMbY6vOmlI5h19fpIeDxIv1HQxIIoY37qLC+Z69Jo3U7SCm/av/h72X2DsbLYoaDzLaQn6CKaYKdLr8BAl4ywerRocc7nWKi/WfTPO9NaEbpbnPk3Z9lN2o28XVp0gjCzfl5tWhNVbuangJgqLMjetkie+dVU7Zk1o8R3HYmeqWPrv43xsbP679ba3EzeYk6+3iW6x4qz74xYqe2bTEvjStd1giXan1dvFWN8qJ1+pG/Gwa2aa17vdexuWaflnl11d5p1W/7bx7P3mIvcl28BAe7hTiC2b88iI90W2FX2u19yjLF48X+GL14Ri/5SW/lr3QnUHVWI1qYG0+WVzon/8A2Y1AgQqNqExtrHDaC9koX4gStUuVXiGChax0p11USaGoLsULVP1SNPKDboITMhyCErIU74NsRB0Q9a4QKgh7NG2JBbU+hFpifa1ckJVcimtVDXsJbyz+Ca/qOril+FGqUrXSTVUocBvVtN6LvQyl3kFq/0chahl3UUaog8K95EQXbNThAPF7FQ4aLzZaQBIOIlrTYjWpSbsFi58cKQRjHKw86UoWZDSfPDk13Ll3opWvzsKN3hIfeTlbvcM5UdmVew+rKaQYna0QzlRkH9Eq/L4Ub6zRLYyoXWMqMgU2q6FoFXQh8ASHJ6NFk7sA53QwDw62FK8g+6CswNFxYxuyWfysJdyNH0/qqEvyB5kB39tQ13DJL/okyZteNR0+XKlqBcuQknFFIYKHklCi1D6gFejdqqgyaIoTMjc0PzsfeSAeic5QabrTQhPDi4IGPqFgOzNJEz0Czxi709O3xN7C7hq6wKewRbRDCrfes70RYdFewFTlotcZwXoKdRe89NCxVr1arXZ1Ei7ozE1pbEemtBJaUoxohBo9TUoKY0stKBdwLcKG3wWUwWgKxBK9mEMbuRAlZ2WzlkvxEo5To/sQu9mvxZBcvwbnjdBVMaZP77HB0YMDslakUK13iC3RQQGvSQdZoqNwMroc5olnIhnJRQirGA9taMvBitO4EjGDUub2kZT3GBI5f59YrqDd9sgX2EwPhWBXo3VEHTnLk88vkk/PKvekKD9+iKL8sKX3Ojj0D5V2TiHebA7wWA1gMSc7rVpxklZTbOu21FVo4a7XZFuBnGt1k2pWXonQQS2sISM7Zynewc/ayz6hUiSNeT54LebgjPUu3S9UVqjI92cRMQmpMCFtLEo2coTiPxZ9VLV0BQ2pn0p8MshQPRC0y7sr/gityf00/0a1CgkzWCrlIspgpanqphTvk6TPZsoVNEyo2uYeul3e9xKhC2454wbx/plRPsw0o/RJ6zDjLrFnKmbcQIUZhTempqqh5tSf7pgZ5b/zcyp/UHOKT2VR5v5r7MoqmhqbseigSqZkz/WFbnTqpXGtO+oq9Jy96nQKsMHbYVCoSa7GRRQe+ha/WH/sGr/6/13juYGbXKWYQpYiXxy5H8rts5MHHZ2WbuV4h8jyT81v8m608fkkNNyEofYW7Z46m49yZ9D0YwGUmV7xY+/Xt7qT9ppu0r7pxwQU28HJup+C7jv5OFpR7B1aSb1338eJX4b2Y8ZYzLuJk6mD75A40VZ9WvSNeZoToRylRu46imFKGLqPVu+OuZ0YbHfSJ2XtZE6NDQn6ku4orfIWe72Wk8yMvXLu0+FG44KyQ7f1PtCAkpyl4tg28ed0uIo9H/VBRWwd+lPGDq8M1tGAPUQUtXxx5hj6+kLIWkOOF/ngxTA03qN4/aUzIuv9a/351TzQZBZmMqRN6lLjrJUASErr6bg50IVYwNPoPo6dFCHJmbldLCbx2Y9gaWLqs3XSPdsyYCocR7TJkICZrg9GihcoEFLaUvWZDqkVhgciKbEUxZJRxPOMA0l6d49ST+s0NbyVVn6cPU+Iy1ZSVRtfOmKwsQhvLEuE6RVddf8YTKMD5d4ru12sP+YcrEXdS28dlayU/Vlhe9WWFBv+toPzK7WXyL6FsBtdbRf2VfUkvUqPe4FwI+wWTHDpWXe4pqi8odD4EhcR/j7i76fPrtb9gh+lFf2uePT4yRWt2huTVSYFTEdBfRW/QGdvGnx/Fr/mMFxfrqdxuL4c5L8OzdukIaqt9TmKV+ORPxNozsRJGYEyAmUEygiUESgjUEagjEAZgTICZQTKCJQRKCNQRqCMQBmBMgJlBDoPAv2PqSWzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKb/M/Z5P+UMe4QWfGPyqBw4lTP/wBQSwMEFAACAAgAhjIHV/7LMwiUAQAAegMAABEAEQB3b3JkL3NldHRpbmdzLnhtbFVUDQAHM43QZDON0GQzjdBknVPLbtswELznKwzebclG0AZC5Bzy6sHtxS5yXlOriCjJJZaUVeXru7YkO0CBwuhJ5O7MaPbB+4ffzs4OyNGQL9VykasZek2V8e+l+rl7md+pWUzgK7DksVQ9RvWwvrnviogpCSrORMHHgkrVsi+ibtBBnDujmSLVaa7JFVTXRuP4USODS9WkFIosG0kLCuglVxM7SHLl92ygPJFuHfqUrfL8S8ZoIYnf2JgQJzX3v2qSbCaRw7+KODg74bplfkW5HXF1Zlxj70gITBpjlM46Oxk0fpKJ9hqdIbUxewbuP4msZWwfRG7WFQFZSwtk5KtcZcdEhTW0Nu1gv00UBHIA+dnXc5qhE1OvbKpvxOaDfAK7DaAlOIGXywlsYrDQX4BPF/azbFs/MVYDXjfAoBPyKPgoJCY7oSr6QemRXGDpzMiQG6TjqbU7BnOygqdUbCDgBnpq08b8wre3u1O4jfjyPIQ/KWyHLT5XcKvk2LL5q83nCS+EOC5SNky4Kzw4eRuDotkba1L/nSo8Ws0uXrPLo1nf/AFQSwMEFAACAAgAhjIHV9tzMs5UAQAAJAMAABMAEQBkb2NQcm9wcy9jdXN0b20ueG1sVVQNAAczjdBkM43QZDON0GS1kjtvwjAUhXd+heWpHUIcpwGCkqCSwFSpVFCGblbiQKTYjuwbCq3632tebRm69CF5se/1d46PbzTaihptuDaVkjH2ugQjLnNVVHIV48fF1BlgZIDJgtVK8hjvuMGjpBPNtGq4hoobZAnSxHgN0Axd1+RrLpjp2rK0lVJpwcBu9cpVZVnlPFN5K7gElxLSc/PWgBJO84HDR95wAz9FFirfuzPLxa6xvCQ6wXeoFFAVMX7NgjTLAhI4dBKmjke8sRP6Yd8hA0LomKbT8HbyhlGzb6YYSSbsy1PNGfDC8jYwLKuaQyV4Qgn17T2H0AUhw8N6ityvHZF71v+lE//CidJHJ3XzbEAnM7bi5iB8Ovgz2Zuz7B0zMGeb7yPo/3sEwdmL/eCizfllBoLl93O0PA4z8vyuh67GbVUXiNK0F1yjh5ZpeEGzbJoqCXwL3wXmfo530nkHUEsDBBQAAgAIAIYyB1esmwoJXQEAAJQFAAATABEAW0NvbnRlbnRfVHlwZXNdLnhtbFVUDQAHM43QZDON0GQzjdBktZRNT8JAEIbv/Ipmr6Rd8GCMoXDw46gc8Aesu1PYuF/ZGRD+vVOKHAyCCl6atDPv+7yz03Y0WXtXrCCjjaEWw2ogCgg6GhvmtXiZPZY3okBSwSgXA9RiAygm495otkmABYsD1mJBlG6lRL0Ar7CKCQJXmpi9Ir7Nc5mUflNzkFeDwbXUMRAEKqn1EOPRPTRq6ah4WPPjLkgGh6K46xpbVi1USs5qRVyXq2C+UModoWLltgcXNmGfG4Q8SGgr3wN2umc+mWwNFFOV6Ul57pLvMRtpol56VlbHbQ7kjE1jNez1rVvKUQMiH7l31b7ilQ39UzmQNg7w8ik632N41k5zTCiZdDYf2r0YMCWHSJDJHmd3owMRh/2P4XfOJyMQv+/QXYdnx9janEQ2DJipVweXH3tv/aO165j/kOHzK23Vv1n2ApSBPLz80J3xzyZeIkV/doTO5sDwcvtPHfc+AFBLAwQUAAIACACGMgdXViXrsSIBAAAbAgAAEAARAGRvY1Byb3BzL2FwcC54bWxVVA0ABzON0GQzjdBkM43QZJ2RT28CIRDF736KDXdl9dA0ZhbTaJoe+i9xtWcCsy4pyxBAo9++rNa1TW/lNu8NP94wsDh2tjhgiIZcxaaTkhXoFGnjdhXb1I/je1bEJJ2WlhxW7ISRLcQI3gN5DMlgLDLBxYq1Kfk551G12Mk4ybbLTkOhkymXYcepaYzCFal9hy7xWVnecTwmdBr12A9AdiHOD+m/UE2qzxe39clnnoAaO29lQvHa37TABwFqStLWpkNRZnko4MF7a5RM+V/Ei1GBIjWpeDu/VnxQ0MB/tkBOsEa1DyadetLPEtZKWlzmRKKRNiLwmwDPxn3Gja9p1cf59n+LsG5lQJ2Rw/1BgKc8YrB9/7KVbof62vPX6GfaXlYtprNJmc95iKsG/LZVMfoCUEsDBBQAAgAIAIYyB1erzAqoGwEAAC0CAAARABEAZG9jUHJvcHMvY29yZS54bWxVVA0ABzON0GQzjdBkM43QZKWRQU/DIBiG7/sVDfcW2sa5kLY7aHbSxMQZjTcC3zpioQQ+7fbvZXXrXNzNI7zP9+SFr1ruTJd8gQ+6tzXJM0YSsLJX2rY1eVmv0gVJAgqrRNdbqMkeAlk2s0o6LnsPT7534FFDSKLIBi5dTbaIjlMa5BaMCFkkbAw3vTcC49G31An5IVqgBWNzagCFEijoQZi6yUiOSiUnpfv03ShQkkIHBiwGmmc5PbMI3oSrA2PyizQa9w6uoqdwondBT+AwDNlQjmjsn9O3x4fn8amptoevkkCaSkmOGjtogjCug7yi0011LMmlB4GgkijnP1VOyWt5d79ekaZgRZmyRcpu12zOC8bLm/eD6WL+LDRxbxv9D+NJ0FT0z4Kb2TdQSwMEFAACAAgAhjIHV/FwEXXuAAAAKAMAABwAEQB3b3JkL19yZWxzL2RvY3VtZW50LnhtbC5yZWxzVVQNAAczjdBkM43QZDON0GStks1qwzAQhO95CrH3Wnb6QymRcwmBXIv7AFt5/UNlSUjbUr99RV0SB4LpwccZsTMf2t3tvwcjvijE3lkFRZaDIKtd3dtWwVt1vHsGERltjcZZUjBShH252b2SQU4zset9FCnERgUds3+RMuqOBoyZ82TTS+PCgJxkaKVH/YEtyW2eP8kwz4DyKlOcagXhVBcgqtHTf7Jd0/SaDk5/DmT5RoWMPJrELyoMLbGCSWcpB+Tt+u2a9Y2zXOG7oQvB2VqCuF8TgtPsDOBXTmaxxPCw6h6IOR3YfBN/zhLC45oIHWFN4QIw6fMXyKv7Ljc/UEsDBBQAAgAIAIYyB1cmEeh37wAAAP0BAAASABEAd29yZC9mb250VGFibGUueG1sVVQNAAczjdBkM43QZDON0GSNjkFOwzAQRfc9heU9dWCBUNSkQkIsu0DlAIMzaSzZM5HHxPT2uEoiFmWRnf3/8/c7HH+CVxNGcUyNftxXWiFZ7hxdGv15fn940UoSUAeeCRt9RdHHdnfIdc+URJXnJHVs9JDSWBsjdsAAsucRqXQ9xwCpXOPFcN87i29svwNSMk9V9WwiekjlaxncKHpZy1vWMsdujGxRpLgGP+8FcKTbxU7lmiAU6bMLKOqEWX1wgBkAn06lLMwE/h4xN8YOEAXTylRz2kNw/rqG8Q8fXbLDmk8QHXx5vFVm9rnzei2I/89mLjY7SHYiWx2Wg7S7X1BLAwQUAAIACACGMgdXLnNjJ/YCAADWCwAADwARAHdvcmQvc3R5bGVzLnhtbFVUDQAHM43QZDON0GQzjdBk1VZbb9owFH7vr4j8ThPYNFHUtKI3tdLGqkK1Z5MciCfHzmzTlP36HTsODZBUbBrS9kTO/TsXn8P55WvOgxdQmkkRk/5pRAIQiUyZWMbkeXbXG5JAGypSyqWAmKxBk8uLk/NypM2agw7QXuiRiklmTDEKQ51kkFN9KgsQKFtIlVODpFqGcrFgCdzIZJWDMOEgij6FCjg1GFtnrNDEeysP8VZKlRZKJqA1gs155S+nTJALhJfK5AYWdMWNtqR6VJ70lPu5k8LooBwl2mAcTC9nQqorljKC3GwsNJs1BPeWYSVAtRlrRluFVCesxSy0EfVPVHihPCaDQc251rs8TsWy5oHoPU+t2zmiiglVvem4CaHWQMPQJxbuplvsUvanZKksr7EASvI6WFTFpysjpwXFXt12SiY7Eo1c5mBzJuBpxTF7q008B7P7GLk8ALsI1s7WamFAbXwwkVptWBgvVmyZmY34e1LHtCo+48Jn3Mwx3Gu/G9bA/z6kMfHCR6roUtEis5NgI6YVH5+Cpcy6QKRJhloJAnWDJWgONQ7vJdi4CZwfh3bFHhWTipl1rd33lYKc3bM0BVHpiYyl8C0D8awhrZJyMFtxz+icw8Q+A94F11iVPajOMPCWHQAHhwEsRz/u3EN032bOq4HCjwfXwNJ3r4KTvlJSK14D519opS2LblXb327pXBoj8265m5oucbgNJNwk8G7ZJ/Iz050DIlb5HBRO/17VJzJwhh0FPzv785HYBtJAWs9Gha2oR7MF23uz4Ie12Wl8YmHb9nQLLyZjxarAbm826LdVtWEluib2Fl5Ce7fTtg23swO3F153665kup7BqzmkJFY3cMrVoFEs/1fxDxascUeGLXdkePyyzpjBLXNATSvFv1XP/VODmtHwA9k6PPCK+3r/pgyi5tHo7MuM5fjHZgJl8CRzKhodapG8lbNFaLu2y97pX78f7TdwwzxmB+1i2hyuQzppDd5O3VGeyFEn1l7A30q4upn/Scb1l744+QVQSwMEFAACAAgAhjIHVwwscMT5BAAAKhAAABAAEQB3b3JkL2hlYWRlcjEueG1sVVQNAAczjdBkM43QZDON0GTtV99T2zgQfu9f4dG9NtgOgSQ+QqfAQZlhaIdyfe0oshyryJIqyYnDX9+VZDsJvaE5ymOHmXgtrb79od1vzcm7puLRkmrDpJih9CBBERVE5kwsZujf+8vBBEXGYpFjLgWdoTU16N3pm5NVVuY6gsPCZBWZodJalcWxISWtsDmQigrYLKSusIVXvYgrrB9qNSCyUtiyOePMruNhkhyjFmZJXwVGzlCtRdZCDCpGtDSysO5IJouCEdo+uhN6H7vhyIUkdUWF9RZjTTn4IIUpmTIdWvVSNNgs+1w8F8Sy4p3eSu1jLdd4BRda8WBoJXWutCTUGFi9CJs9YprskUAH0Z/Yx4Vdm50nFWaihxE/339v+wBst0nzUJtANrnAL0jFtgOKkRcgwClba7q5kMX/iiJNnqTmSstabdDM76F9LrHa+JaOXoLmMlyR7HohpMZzDrcEQB4zMwoTeFeaGqqXFJ0CLyj/80n7x2e75jRaZUvMZ+hM5ut72lgUuz13FjyETc7c1TvMIN/VzgiurQyaOoCZxw5omLiNuN2Je3O61YZNcPg9t1QLbOm5FBa6zC+elxIijO7o95qB1xALdK471l4riCrDgpRSRzkz9n6GgBKddNZLN7105yXMuVx9BBLlGNoxRRHHa1nba3FOOQ8LkjzQ3CvPaclEDp3vNwyrFKefpPF7gU+W9ANli9LO0GgyPjocJZMEebd65ajx6mv3G/stJQ1zTPShx7jUEphI4QVFncbHojDUnqaAOj06grxtr3avAWYH9MseoJPROEmS5zC/+BNw/XAVEYEIDifJZDycoohAIOPh4TTpoqFFQYn9J6hyH6sNCQop3MS90ljdwmAKb7kkn3TEcp9agSuoIldvc9lEaXuA3C6v4EzJyKUGBVc3OFtsrdzAVZk4uP6c8pZ4gS2Oas1eo1Wdk9CpRgUBPPhFRF7nMzRAZJsz2TjFdt2o4HBT6Mo9wf6TwsHuOp67i3hzWmljr6isIifMkIYLQm4dL2+MDaqdik9eZ99Jtpk3rsfcs2/GXab4iQ2SyeEuH9AGg0lYmlOgY9rVQAbd5PRoYT0xgKxD93i5YODUjYds9b+RjkbcmR2G0ZfgnIFtbAiD67xnFTXRLV1Fd7LCouWtnobS9Bc89PuYkLPTG4i2cis2rL/MQp9fb2ZwuIfh6LWNjvYweq1MvRtt7CslflI+8VZhgTSH2QI94Phghsz3GruRzK9FIFbbCboT5v2K5efSc4yrZiHfw9gpmI1bCwG3ffFtGe/0/fZ7II0wPLzD/UyJ+8njh9AlTIw5Jg++/uH74fRkmRnX/natqO/2rw2wafLVDpMhiiQk0hc3yEQCaRj2CPU8TI+T5K3/RRF8DJczVL3lYUGHTR4ejeMVMGG1fKDRN8mEcXMZ9BmMSHcDy8wBRBBIziC93hn5MEPWWSdSCGh351zb+C47Wy73/kctbsf5GZ4byWtL/4bP9gUTA9dyWToaH4zT4XQ6VrbbsFJlx8cHx9PhNHXLK5bbMgOdgym8lX4gZkf+gJGDDn8AmWaPUBKYD7oZlbnxtKsFo9ky8pPO4wC4gzbZID0aT4Yjl8YQ41876Xf3AZPFBwgsXDDO3SwvMDfU/XPkktq/u1TYlqEhzdTx0Fv/h/4w4B8GfFUG7CsNzqWJ/xZqC1jAJ9F2kwYIzzTxDv/E//md/MQq/Kd/+uYHUEsDBBQAAgAIAIYyB1d4gV/SIwYAALwhAAAVABEAd29yZC90aGVtZS90aGVtZTEueG1sVVQNAAczjdBkM43QZDON0GTtWs2P00YUP5e/YuQ7xPlwyCIC2mQTaGFhtRuoOE7sSTzs2GPNTHbJrYJjpUpVadVDkXrroWqLBFIv9K/ZlqqlEv9C39iJM3bsbFk2Aqrdw8p+837va97HjHcvX30QMHRAhKQ8bFvVC7aFSOhyj4bjtnVn0D/fspBUOPQw4yFpW1MiratXzl3Gl5RPAoIAHspLuG35SkWXKhXpAhnLCzwiIayNuAiwglcxrngCH4LYgFVqtt2sBJiGFgpxAFJvj0bUJWigRVpXzn00F99j8CtUEkia5jKx58ZqTZgGxMvefjV+1M9yKrtMoAPM2hZo9fjhgDxQFmJYKlhoW3b8Y1UScGWBBjBTqwQZQvrxjyFkjoytqS2EiPEwlVLtNzYubmU01xaaS0C9Xq/bq2Y0pSDsuhCkajGw0W9VO6Y2kzsFl2jt2o7dWAbnNNeLwRudTsfZWALXs+BGMbhlNxubtSVwIwt2SnzubHa7zSWwkwU3i8H9ixvNxjK4OQf7jIb7xVCdUZl0WPAC64iz6+XYFmBbZj6a7Po9Tf5ZMYx4qFZVQ4Dvc9EHplQfw4qGSE0jMsIuALo4GAqKZzo1B8HGskF3ZTFd24CkK2ik2tYnEYaCXvC9fvHT6xfP0NHD50cPfz169Ojo4S9l0Os4HJvQVz98+c+Tz9Dfz75/9fjrFSBpgv74+fPff/tqBbcyuV9+8/TP509ffvvFXz8+LsNsCjw0MQMaEIlukUO0ywNwtkwVGYoTwAY+piZsMxxLHGINLIP0lJ+B3JpihsuYOyQb5LsC2lkp97XJ/YwTe76YKFrGfcMPMtzbnLMOF+XO3tCqzRhNwvEKW8TEZN7F+KDUlG4uLXqTCIqElgrv+iRj+g6DTMFjEhKF9BrfJ6QMe4/STPy3qSu45COF7lHUwbQ8YAM6VMXI6zSATZziFWmSidz2XdThrFTRFjnIskOpYVYqnLBMpK/hicJBuRc4YCb7Taz8UsP3psLNbIxUkCBjwjjqeUTKUuBtMc24cANDXyzPlm02DbLsQtH9UvabmHOTfYvvd30cROV+0NA3AR/Lfch2jHa4KreJZ2tPv8Om4XB1ltylRJ2gk9yhY784ufTKRBhTJjsl9Nig4bFjg1GYG2seG9CZX3735AMfGJswXtl/HRMrmfPDocuFRz/M2bCFJ+EOgRo6Gw1no+FsNJzSaFjZPd5kIJj9P7mHzO8Z84tHsPLeMaKM7akpIzflYoZI8Mjrw0pCiUmxjPT+E/nwmNpfWYIAYixwTECCq0+p8vd8HIH+qrUQOpap1tk7iriEm9mcp1x1yhB/faAQvXjRMT4TpHistrmXrNftHENs+1xBakpF21JgWF3LP7Fx9YtrNa6awE9qXdU5xjrnja1LXhZ7rI8ncDjB+mtVtVlL7IW0x4x4OjOMfJpnz7tIJ+ljj8zyqbo6KNX6W21Z6wQ7Zli3UV+rdSdKKNO8xnHmOevNKLs0o+JWmW99Wli41AxZiA7BF6fmWMjFUdsawREbHoMINEg9DTAbh23LVcLIxXwLPT54udjlQ5MLnZ1dL4pcQVvWYiIh1RaWfiIoZjDDxMKc5zWnoWO6Btcrp2tovVV9nw1NHvMJR0Yj4qqlpDPICz0JMdvj+EQRsed7h2jIJmIXg7+NpAg8KuEsUZu/CGhmjVl9ZFtorsLzn0jNDhB/jmWRj2cjoVVQvwneTMzURiOMOV8WJMPnU41DfZ1xcM7icLpxSEoRrm51z3DOhROswEjXW9viQvkcmnrkU7cv4NibMRtcQtADtDeI6T+WaTfJgTETZt/pY5GGDgZHbLVLx0hQmCnKF4TsqFnA/qOKai13kItLfybXbCUZB7XHUcbdITkgbKBbW1NH1kL+vBtnGlIKKkqeHM3oPMNx//919m/Yp36ANQ1rvNXpulF0ujbG/cZabX/bk1ztmNDWnNM4yUVY+Uj/gkFNhcuIZbiiT2sDvguJjNJ7HoLiO9+a9bCUOAR/WxmDtS4t9/24XiySomW/fxdCY9frx+26bb+rXXcKNt15kz3XhOUOGF8LgsUHFP2e/9cGPWSH98GiLTLCE6ZkJSGSB0rg7vzPviAQ6Cn+yrl/AVBLAwQUAAIACACGMgdXmWuCvfcAAADhAgAACwARAF9yZWxzLy5yZWxzVVQNAAczjdBkM43QZDON0GStks9OwzAMh+97isj31d1ACKGluyCk3RAqD2Al7h/RJlHiwfb2BASCSqPssGOcn798trLZHsZBvXJMvXcaVkUJip3xtnethuf6YXkLKgk5S4N3rOHICbbVYvPEA0nuSV0fksoQlzR0IuEOMZmOR0qFD+zyTePjSJKPscVA5oVaxnVZ3mD8zYBqwlQ7qyHu7ApUfQx8Dts3TW/43pv9yE5OPIF8EHaW7TLE3B+lz8OommLLosF685jLCSmEIqMBTxutzzf6e1ocWciSEBofed7nIzEndHXJFU0TPzZvPlq0X+U5m+tL2ph9Ej/+s57PzLcSTj5mtXgHUEsBAhcLFAACAAgAhjIHVzzXXq5BCAAAIpUAABEACQAAAAAAAAAAAACAAAAAAHdvcmQvZG9jdW1lbnQueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV/7LMwiUAQAAegMAABEACQAAAAAAAAAAAACAgQgAAHdvcmQvc2V0dGluZ3MueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV9tzMs5UAQAAJAMAABMACQAAAAAAAAAAAACAVQoAAGRvY1Byb3BzL2N1c3RvbS54bWxVVAUABzON0GRQSwECFwsUAAIACACGMgdXrJsKCV0BAACUBQAAEwAJAAAAAAAAAAAAAIDrCwAAW0NvbnRlbnRfVHlwZXNdLnhtbFVUBQAHM43QZFBLAQIXCxQAAgAIAIYyB1dWJeuxIgEAABsCAAAQAAkAAAAAAAAAAAAAgIoNAABkb2NQcm9wcy9hcHAueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV6vMCqgbAQAALQIAABEACQAAAAAAAAAAAACA6w4AAGRvY1Byb3BzL2NvcmUueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV/FwEXXuAAAAKAMAABwACQAAAAAAAAAAAACARhAAAHdvcmQvX3JlbHMvZG9jdW1lbnQueG1sLnJlbHNVVAUABzON0GRQSwECFwsUAAIACACGMgdXJhHod+8AAAD9AQAAEgAJAAAAAAAAAAAAAIB/EQAAd29yZC9mb250VGFibGUueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHVy5zYyf2AgAA1gsAAA8ACQAAAAAAAAAAAACArxIAAHdvcmQvc3R5bGVzLnhtbFVUBQAHM43QZFBLAQIXCxQAAgAIAIYyB1cMLHDE+QQAACoQAAAQAAkAAAAAAAAAAAAAgOMVAAB3b3JkL2hlYWRlcjEueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV3iBX9IjBgAAvCEAABUACQAAAAAAAAAAAACAGxsAAHdvcmQvdGhlbWUvdGhlbWUxLnhtbFVUBQAHM43QZFBLAQIXCxQAAgAIAIYyB1eZa4K99wAAAOECAAALAAkAAAAAAAAAAAAAgIIhAABfcmVscy8ucmVsc1VUBQAHM43QZFBLBQYAAAAADAAMAGoDAACzIgAAAAA="
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "outputFile": {
                            "type": "string",
                            "description": "Converted binary file content returned by Cloudmersive."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cloudmersiveDocumentConversion/latest/actions/convert-document-to-png-array": {
      "get": {
        "operationId": "cloudmersiveDocumentConversion.convert-document-to-png-array",
        "summary": "Convert Document to PNG Array",
        "description": "Converts a document to PNG images in Cloudmersive Document Conversion.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cloudmersiveDocumentConversion/latest/actions/convert-document-to-png-array"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inputFile",
            "in": "query",
            "required": true,
            "description": "Input file to automatically detect and convert to PNG pages.",
            "schema": {
              "type": "string",
              "description": "Input file to automatically detect and convert to PNG pages.",
              "default": "UEsDBBQAAgAIAIYyB1c8116uQQgAACKVAAARABEAd29yZC9kb2N1bWVudC54bWxVVA0ABzON0GQzjdBkM43QZO2YW48bNRTH3/kUVp6nSXa7rUpEioCqqBJUhW15d2acxDAznvqS7fLp+R/bcwmosNvuAA9HqppNxnN8fG4+5/fV1x+aWpyUddq028XFcr0Qqi1NpdvDdvHu7ctHzxbCedlWsjat2i5ulVt8/fyLr242lSlDo1ovIKF1m6bcLo7ed5vVypVH1Ui3NJ1q8XBvbCM9vtrDqpH2t9A9Kk3TSa93utb+dnW5Xj9dZDEn9SBizHYRbLvJIh41urTGmb2nVzZmv9elyh/9G/Yu+6ZXXuSTxx1XVtXQwbTuqDvXS2s+VRoeHgdb/N0hTk3dr7vp7rJbZeUNvNrUaaMbY6vOmlI5h19fpIeDxIv1HQxIIoY37qLC+Z69Jo3U7SCm/av/h72X2DsbLYoaDzLaQn6CKaYKdLr8BAl4ywerRocc7nWKi/WfTPO9NaEbpbnPk3Z9lN2o28XVp0gjCzfl5tWhNVbuangJgqLMjetkie+dVU7Zk1o8R3HYmeqWPrv43xsbP679ba3EzeYk6+3iW6x4qz74xYqe2bTEvjStd1giXan1dvFWN8qJ1+pG/Gwa2aa17vdexuWaflnl11d5p1W/7bx7P3mIvcl28BAe7hTiC2b88iI90W2FX2u19yjLF48X+GL14Ri/5SW/lr3QnUHVWI1qYG0+WVzon/8A2Y1AgQqNqExtrHDaC9koX4gStUuVXiGChax0p11USaGoLsULVP1SNPKDboITMhyCErIU74NsRB0Q9a4QKgh7NG2JBbU+hFpifa1ckJVcimtVDXsJbyz+Ca/qOril+FGqUrXSTVUocBvVtN6LvQyl3kFq/0chahl3UUaog8K95EQXbNThAPF7FQ4aLzZaQBIOIlrTYjWpSbsFi58cKQRjHKw86UoWZDSfPDk13Ll3opWvzsKN3hIfeTlbvcM5UdmVew+rKaQYna0QzlRkH9Eq/L4Ub6zRLYyoXWMqMgU2q6FoFXQh8ASHJ6NFk7sA53QwDw62FK8g+6CswNFxYxuyWfysJdyNH0/qqEvyB5kB39tQ13DJL/okyZteNR0+XKlqBcuQknFFIYKHklCi1D6gFejdqqgyaIoTMjc0PzsfeSAeic5QabrTQhPDi4IGPqFgOzNJEz0Czxi709O3xN7C7hq6wKewRbRDCrfes70RYdFewFTlotcZwXoKdRe89NCxVr1arXZ1Ei7ozE1pbEemtBJaUoxohBo9TUoKY0stKBdwLcKG3wWUwWgKxBK9mEMbuRAlZ2WzlkvxEo5To/sQu9mvxZBcvwbnjdBVMaZP77HB0YMDslakUK13iC3RQQGvSQdZoqNwMroc5olnIhnJRQirGA9taMvBitO4EjGDUub2kZT3GBI5f59YrqDd9sgX2EwPhWBXo3VEHTnLk88vkk/PKvekKD9+iKL8sKX3Ojj0D5V2TiHebA7wWA1gMSc7rVpxklZTbOu21FVo4a7XZFuBnGt1k2pWXonQQS2sISM7Zynewc/ayz6hUiSNeT54LebgjPUu3S9UVqjI92cRMQmpMCFtLEo2coTiPxZ9VLV0BQ2pn0p8MshQPRC0y7sr/gityf00/0a1CgkzWCrlIspgpanqphTvk6TPZsoVNEyo2uYeul3e9xKhC2454wbx/plRPsw0o/RJ6zDjLrFnKmbcQIUZhTempqqh5tSf7pgZ5b/zcyp/UHOKT2VR5v5r7MoqmhqbseigSqZkz/WFbnTqpXGtO+oq9Jy96nQKsMHbYVCoSa7GRRQe+ha/WH/sGr/6/13juYGbXKWYQpYiXxy5H8rts5MHHZ2WbuV4h8jyT81v8m608fkkNNyEofYW7Z46m49yZ9D0YwGUmV7xY+/Xt7qT9ppu0r7pxwQU28HJup+C7jv5OFpR7B1aSb1338eJX4b2Y8ZYzLuJk6mD75A40VZ9WvSNeZoToRylRu46imFKGLqPVu+OuZ0YbHfSJ2XtZE6NDQn6ku4orfIWe72Wk8yMvXLu0+FG44KyQ7f1PtCAkpyl4tg28ed0uIo9H/VBRWwd+lPGDq8M1tGAPUQUtXxx5hj6+kLIWkOOF/ngxTA03qN4/aUzIuv9a/351TzQZBZmMqRN6lLjrJUASErr6bg50IVYwNPoPo6dFCHJmbldLCbx2Y9gaWLqs3XSPdsyYCocR7TJkICZrg9GihcoEFLaUvWZDqkVhgciKbEUxZJRxPOMA0l6d49ST+s0NbyVVn6cPU+Iy1ZSVRtfOmKwsQhvLEuE6RVddf8YTKMD5d4ru12sP+YcrEXdS28dlayU/Vlhe9WWFBv+toPzK7WXyL6FsBtdbRf2VfUkvUqPe4FwI+wWTHDpWXe4pqi8odD4EhcR/j7i76fPrtb9gh+lFf2uePT4yRWt2huTVSYFTEdBfRW/QGdvGnx/Fr/mMFxfrqdxuL4c5L8OzdukIaqt9TmKV+ORPxNozsRJGYEyAmUEygiUESgjUEagjEAZgTICZQTKCJQRKCNQRqCMQBmBMgJlBDoPAv2PqSWzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKb/M/Z5P+UMe4QWfGPyqBw4lTP/wBQSwMEFAACAAgAhjIHV/7LMwiUAQAAegMAABEAEQB3b3JkL3NldHRpbmdzLnhtbFVUDQAHM43QZDON0GQzjdBknVPLbtswELznKwzebclG0AZC5Bzy6sHtxS5yXlOriCjJJZaUVeXru7YkO0CBwuhJ5O7MaPbB+4ffzs4OyNGQL9VykasZek2V8e+l+rl7md+pWUzgK7DksVQ9RvWwvrnviogpCSrORMHHgkrVsi+ibtBBnDujmSLVaa7JFVTXRuP4USODS9WkFIosG0kLCuglVxM7SHLl92ygPJFuHfqUrfL8S8ZoIYnf2JgQJzX3v2qSbCaRw7+KODg74bplfkW5HXF1Zlxj70gITBpjlM46Oxk0fpKJ9hqdIbUxewbuP4msZWwfRG7WFQFZSwtk5KtcZcdEhTW0Nu1gv00UBHIA+dnXc5qhE1OvbKpvxOaDfAK7DaAlOIGXywlsYrDQX4BPF/azbFs/MVYDXjfAoBPyKPgoJCY7oSr6QemRXGDpzMiQG6TjqbU7BnOygqdUbCDgBnpq08b8wre3u1O4jfjyPIQ/KWyHLT5XcKvk2LL5q83nCS+EOC5SNky4Kzw4eRuDotkba1L/nSo8Ws0uXrPLo1nf/AFQSwMEFAACAAgAhjIHV9tzMs5UAQAAJAMAABMAEQBkb2NQcm9wcy9jdXN0b20ueG1sVVQNAAczjdBkM43QZDON0GS1kjtvwjAUhXd+heWpHUIcpwGCkqCSwFSpVFCGblbiQKTYjuwbCq3632tebRm69CF5se/1d46PbzTaihptuDaVkjH2ugQjLnNVVHIV48fF1BlgZIDJgtVK8hjvuMGjpBPNtGq4hoobZAnSxHgN0Axd1+RrLpjp2rK0lVJpwcBu9cpVZVnlPFN5K7gElxLSc/PWgBJO84HDR95wAz9FFirfuzPLxa6xvCQ6wXeoFFAVMX7NgjTLAhI4dBKmjke8sRP6Yd8hA0LomKbT8HbyhlGzb6YYSSbsy1PNGfDC8jYwLKuaQyV4Qgn17T2H0AUhw8N6ityvHZF71v+lE//CidJHJ3XzbEAnM7bi5iB8Ovgz2Zuz7B0zMGeb7yPo/3sEwdmL/eCizfllBoLl93O0PA4z8vyuh67GbVUXiNK0F1yjh5ZpeEGzbJoqCXwL3wXmfo530nkHUEsDBBQAAgAIAIYyB1esmwoJXQEAAJQFAAATABEAW0NvbnRlbnRfVHlwZXNdLnhtbFVUDQAHM43QZDON0GQzjdBktZRNT8JAEIbv/Ipmr6Rd8GCMoXDw46gc8Aesu1PYuF/ZGRD+vVOKHAyCCl6atDPv+7yz03Y0WXtXrCCjjaEWw2ogCgg6GhvmtXiZPZY3okBSwSgXA9RiAygm495otkmABYsD1mJBlG6lRL0Ar7CKCQJXmpi9Ir7Nc5mUflNzkFeDwbXUMRAEKqn1EOPRPTRq6ah4WPPjLkgGh6K46xpbVi1USs5qRVyXq2C+UModoWLltgcXNmGfG4Q8SGgr3wN2umc+mWwNFFOV6Ul57pLvMRtpol56VlbHbQ7kjE1jNez1rVvKUQMiH7l31b7ilQ39UzmQNg7w8ik632N41k5zTCiZdDYf2r0YMCWHSJDJHmd3owMRh/2P4XfOJyMQv+/QXYdnx9janEQ2DJipVweXH3tv/aO165j/kOHzK23Vv1n2ApSBPLz80J3xzyZeIkV/doTO5sDwcvtPHfc+AFBLAwQUAAIACACGMgdXViXrsSIBAAAbAgAAEAARAGRvY1Byb3BzL2FwcC54bWxVVA0ABzON0GQzjdBkM43QZJ2RT28CIRDF736KDXdl9dA0ZhbTaJoe+i9xtWcCsy4pyxBAo9++rNa1TW/lNu8NP94wsDh2tjhgiIZcxaaTkhXoFGnjdhXb1I/je1bEJJ2WlhxW7ISRLcQI3gN5DMlgLDLBxYq1Kfk551G12Mk4ybbLTkOhkymXYcepaYzCFal9hy7xWVnecTwmdBr12A9AdiHOD+m/UE2qzxe39clnnoAaO29lQvHa37TABwFqStLWpkNRZnko4MF7a5RM+V/Ei1GBIjWpeDu/VnxQ0MB/tkBOsEa1DyadetLPEtZKWlzmRKKRNiLwmwDPxn3Gja9p1cf59n+LsG5lQJ2Rw/1BgKc8YrB9/7KVbof62vPX6GfaXlYtprNJmc95iKsG/LZVMfoCUEsDBBQAAgAIAIYyB1erzAqoGwEAAC0CAAARABEAZG9jUHJvcHMvY29yZS54bWxVVA0ABzON0GQzjdBkM43QZKWRQU/DIBiG7/sVDfcW2sa5kLY7aHbSxMQZjTcC3zpioQQ+7fbvZXXrXNzNI7zP9+SFr1ruTJd8gQ+6tzXJM0YSsLJX2rY1eVmv0gVJAgqrRNdbqMkeAlk2s0o6LnsPT7534FFDSKLIBi5dTbaIjlMa5BaMCFkkbAw3vTcC49G31An5IVqgBWNzagCFEijoQZi6yUiOSiUnpfv03ShQkkIHBiwGmmc5PbMI3oSrA2PyizQa9w6uoqdwondBT+AwDNlQjmjsn9O3x4fn8amptoevkkCaSkmOGjtogjCug7yi0011LMmlB4GgkijnP1VOyWt5d79ekaZgRZmyRcpu12zOC8bLm/eD6WL+LDRxbxv9D+NJ0FT0z4Kb2TdQSwMEFAACAAgAhjIHV/FwEXXuAAAAKAMAABwAEQB3b3JkL19yZWxzL2RvY3VtZW50LnhtbC5yZWxzVVQNAAczjdBkM43QZDON0GStks1qwzAQhO95CrH3Wnb6QymRcwmBXIv7AFt5/UNlSUjbUr99RV0SB4LpwccZsTMf2t3tvwcjvijE3lkFRZaDIKtd3dtWwVt1vHsGERltjcZZUjBShH252b2SQU4zset9FCnERgUds3+RMuqOBoyZ82TTS+PCgJxkaKVH/YEtyW2eP8kwz4DyKlOcagXhVBcgqtHTf7Jd0/SaDk5/DmT5RoWMPJrELyoMLbGCSWcpB+Tt+u2a9Y2zXOG7oQvB2VqCuF8TgtPsDOBXTmaxxPCw6h6IOR3YfBN/zhLC45oIHWFN4QIw6fMXyKv7Ljc/UEsDBBQAAgAIAIYyB1cmEeh37wAAAP0BAAASABEAd29yZC9mb250VGFibGUueG1sVVQNAAczjdBkM43QZDON0GSNjkFOwzAQRfc9heU9dWCBUNSkQkIsu0DlAIMzaSzZM5HHxPT2uEoiFmWRnf3/8/c7HH+CVxNGcUyNftxXWiFZ7hxdGv15fn940UoSUAeeCRt9RdHHdnfIdc+URJXnJHVs9JDSWBsjdsAAsucRqXQ9xwCpXOPFcN87i29svwNSMk9V9WwiekjlaxncKHpZy1vWMsdujGxRpLgGP+8FcKTbxU7lmiAU6bMLKOqEWX1wgBkAn06lLMwE/h4xN8YOEAXTylRz2kNw/rqG8Q8fXbLDmk8QHXx5vFVm9rnzei2I/89mLjY7SHYiWx2Wg7S7X1BLAwQUAAIACACGMgdXLnNjJ/YCAADWCwAADwARAHdvcmQvc3R5bGVzLnhtbFVUDQAHM43QZDON0GQzjdBk1VZbb9owFH7vr4j8ThPYNFHUtKI3tdLGqkK1Z5MciCfHzmzTlP36HTsODZBUbBrS9kTO/TsXn8P55WvOgxdQmkkRk/5pRAIQiUyZWMbkeXbXG5JAGypSyqWAmKxBk8uLk/NypM2agw7QXuiRiklmTDEKQ51kkFN9KgsQKFtIlVODpFqGcrFgCdzIZJWDMOEgij6FCjg1GFtnrNDEeysP8VZKlRZKJqA1gs155S+nTJALhJfK5AYWdMWNtqR6VJ70lPu5k8LooBwl2mAcTC9nQqorljKC3GwsNJs1BPeWYSVAtRlrRluFVCesxSy0EfVPVHihPCaDQc251rs8TsWy5oHoPU+t2zmiiglVvem4CaHWQMPQJxbuplvsUvanZKksr7EASvI6WFTFpysjpwXFXt12SiY7Eo1c5mBzJuBpxTF7q008B7P7GLk8ALsI1s7WamFAbXwwkVptWBgvVmyZmY34e1LHtCo+48Jn3Mwx3Gu/G9bA/z6kMfHCR6roUtEis5NgI6YVH5+Cpcy6QKRJhloJAnWDJWgONQ7vJdi4CZwfh3bFHhWTipl1rd33lYKc3bM0BVHpiYyl8C0D8awhrZJyMFtxz+icw8Q+A94F11iVPajOMPCWHQAHhwEsRz/u3EN032bOq4HCjwfXwNJ3r4KTvlJSK14D519opS2LblXb327pXBoj8265m5oucbgNJNwk8G7ZJ/Iz050DIlb5HBRO/17VJzJwhh0FPzv785HYBtJAWs9Gha2oR7MF23uz4Ie12Wl8YmHb9nQLLyZjxarAbm826LdVtWEluib2Fl5Ce7fTtg23swO3F153665kup7BqzmkJFY3cMrVoFEs/1fxDxascUeGLXdkePyyzpjBLXNATSvFv1XP/VODmtHwA9k6PPCK+3r/pgyi5tHo7MuM5fjHZgJl8CRzKhodapG8lbNFaLu2y97pX78f7TdwwzxmB+1i2hyuQzppDd5O3VGeyFEn1l7A30q4upn/Scb1l744+QVQSwMEFAACAAgAhjIHVwwscMT5BAAAKhAAABAAEQB3b3JkL2hlYWRlcjEueG1sVVQNAAczjdBkM43QZDON0GTtV99T2zgQfu9f4dG9NtgOgSQ+QqfAQZlhaIdyfe0oshyryJIqyYnDX9+VZDsJvaE5ymOHmXgtrb79od1vzcm7puLRkmrDpJih9CBBERVE5kwsZujf+8vBBEXGYpFjLgWdoTU16N3pm5NVVuY6gsPCZBWZodJalcWxISWtsDmQigrYLKSusIVXvYgrrB9qNSCyUtiyOePMruNhkhyjFmZJXwVGzlCtRdZCDCpGtDSysO5IJouCEdo+uhN6H7vhyIUkdUWF9RZjTTn4IIUpmTIdWvVSNNgs+1w8F8Sy4p3eSu1jLdd4BRda8WBoJXWutCTUGFi9CJs9YprskUAH0Z/Yx4Vdm50nFWaihxE/339v+wBst0nzUJtANrnAL0jFtgOKkRcgwClba7q5kMX/iiJNnqTmSstabdDM76F9LrHa+JaOXoLmMlyR7HohpMZzDrcEQB4zMwoTeFeaGqqXFJ0CLyj/80n7x2e75jRaZUvMZ+hM5ut72lgUuz13FjyETc7c1TvMIN/VzgiurQyaOoCZxw5omLiNuN2Je3O61YZNcPg9t1QLbOm5FBa6zC+elxIijO7o95qB1xALdK471l4riCrDgpRSRzkz9n6GgBKddNZLN7105yXMuVx9BBLlGNoxRRHHa1nba3FOOQ8LkjzQ3CvPaclEDp3vNwyrFKefpPF7gU+W9ANli9LO0GgyPjocJZMEebd65ajx6mv3G/stJQ1zTPShx7jUEphI4QVFncbHojDUnqaAOj06grxtr3avAWYH9MseoJPROEmS5zC/+BNw/XAVEYEIDifJZDycoohAIOPh4TTpoqFFQYn9J6hyH6sNCQop3MS90ljdwmAKb7kkn3TEcp9agSuoIldvc9lEaXuA3C6v4EzJyKUGBVc3OFtsrdzAVZk4uP6c8pZ4gS2Oas1eo1Wdk9CpRgUBPPhFRF7nMzRAZJsz2TjFdt2o4HBT6Mo9wf6TwsHuOp67i3hzWmljr6isIifMkIYLQm4dL2+MDaqdik9eZ99Jtpk3rsfcs2/GXab4iQ2SyeEuH9AGg0lYmlOgY9rVQAbd5PRoYT0xgKxD93i5YODUjYds9b+RjkbcmR2G0ZfgnIFtbAiD67xnFTXRLV1Fd7LCouWtnobS9Bc89PuYkLPTG4i2cis2rL/MQp9fb2ZwuIfh6LWNjvYweq1MvRtt7CslflI+8VZhgTSH2QI94Phghsz3GruRzK9FIFbbCboT5v2K5efSc4yrZiHfw9gpmI1bCwG3ffFtGe/0/fZ7II0wPLzD/UyJ+8njh9AlTIw5Jg++/uH74fRkmRnX/natqO/2rw2wafLVDpMhiiQk0hc3yEQCaRj2CPU8TI+T5K3/RRF8DJczVL3lYUGHTR4ejeMVMGG1fKDRN8mEcXMZ9BmMSHcDy8wBRBBIziC93hn5MEPWWSdSCGh351zb+C47Wy73/kctbsf5GZ4byWtL/4bP9gUTA9dyWToaH4zT4XQ6VrbbsFJlx8cHx9PhNHXLK5bbMgOdgym8lX4gZkf+gJGDDn8AmWaPUBKYD7oZlbnxtKsFo9ky8pPO4wC4gzbZID0aT4Yjl8YQ41876Xf3AZPFBwgsXDDO3SwvMDfU/XPkktq/u1TYlqEhzdTx0Fv/h/4w4B8GfFUG7CsNzqWJ/xZqC1jAJ9F2kwYIzzTxDv/E//md/MQq/Kd/+uYHUEsDBBQAAgAIAIYyB1d4gV/SIwYAALwhAAAVABEAd29yZC90aGVtZS90aGVtZTEueG1sVVQNAAczjdBkM43QZDON0GTtWs2P00YUP5e/YuQ7xPlwyCIC2mQTaGFhtRuoOE7sSTzs2GPNTHbJrYJjpUpVadVDkXrroWqLBFIv9K/ZlqqlEv9C39iJM3bsbFk2Aqrdw8p+837va97HjHcvX30QMHRAhKQ8bFvVC7aFSOhyj4bjtnVn0D/fspBUOPQw4yFpW1MiratXzl3Gl5RPAoIAHspLuG35SkWXKhXpAhnLCzwiIayNuAiwglcxrngCH4LYgFVqtt2sBJiGFgpxAFJvj0bUJWigRVpXzn00F99j8CtUEkia5jKx58ZqTZgGxMvefjV+1M9yKrtMoAPM2hZo9fjhgDxQFmJYKlhoW3b8Y1UScGWBBjBTqwQZQvrxjyFkjoytqS2EiPEwlVLtNzYubmU01xaaS0C9Xq/bq2Y0pSDsuhCkajGw0W9VO6Y2kzsFl2jt2o7dWAbnNNeLwRudTsfZWALXs+BGMbhlNxubtSVwIwt2SnzubHa7zSWwkwU3i8H9ixvNxjK4OQf7jIb7xVCdUZl0WPAC64iz6+XYFmBbZj6a7Po9Tf5ZMYx4qFZVQ4Dvc9EHplQfw4qGSE0jMsIuALo4GAqKZzo1B8HGskF3ZTFd24CkK2ik2tYnEYaCXvC9fvHT6xfP0NHD50cPfz169Ojo4S9l0Os4HJvQVz98+c+Tz9Dfz75/9fjrFSBpgv74+fPff/tqBbcyuV9+8/TP509ffvvFXz8+LsNsCjw0MQMaEIlukUO0ywNwtkwVGYoTwAY+piZsMxxLHGINLIP0lJ+B3JpihsuYOyQb5LsC2lkp97XJ/YwTe76YKFrGfcMPMtzbnLMOF+XO3tCqzRhNwvEKW8TEZN7F+KDUlG4uLXqTCIqElgrv+iRj+g6DTMFjEhKF9BrfJ6QMe4/STPy3qSu45COF7lHUwbQ8YAM6VMXI6zSATZziFWmSidz2XdThrFTRFjnIskOpYVYqnLBMpK/hicJBuRc4YCb7Taz8UsP3psLNbIxUkCBjwjjqeUTKUuBtMc24cANDXyzPlm02DbLsQtH9UvabmHOTfYvvd30cROV+0NA3AR/Lfch2jHa4KreJZ2tPv8Om4XB1ltylRJ2gk9yhY784ufTKRBhTJjsl9Nig4bFjg1GYG2seG9CZX3735AMfGJswXtl/HRMrmfPDocuFRz/M2bCFJ+EOgRo6Gw1no+FsNJzSaFjZPd5kIJj9P7mHzO8Z84tHsPLeMaKM7akpIzflYoZI8Mjrw0pCiUmxjPT+E/nwmNpfWYIAYixwTECCq0+p8vd8HIH+qrUQOpap1tk7iriEm9mcp1x1yhB/faAQvXjRMT4TpHistrmXrNftHENs+1xBakpF21JgWF3LP7Fx9YtrNa6awE9qXdU5xjrnja1LXhZ7rI8ncDjB+mtVtVlL7IW0x4x4OjOMfJpnz7tIJ+ljj8zyqbo6KNX6W21Z6wQ7Zli3UV+rdSdKKNO8xnHmOevNKLs0o+JWmW99Wli41AxZiA7BF6fmWMjFUdsawREbHoMINEg9DTAbh23LVcLIxXwLPT54udjlQ5MLnZ1dL4pcQVvWYiIh1RaWfiIoZjDDxMKc5zWnoWO6Btcrp2tovVV9nw1NHvMJR0Yj4qqlpDPICz0JMdvj+EQRsed7h2jIJmIXg7+NpAg8KuEsUZu/CGhmjVl9ZFtorsLzn0jNDhB/jmWRj2cjoVVQvwneTMzURiOMOV8WJMPnU41DfZ1xcM7icLpxSEoRrm51z3DOhROswEjXW9viQvkcmnrkU7cv4NibMRtcQtADtDeI6T+WaTfJgTETZt/pY5GGDgZHbLVLx0hQmCnKF4TsqFnA/qOKai13kItLfybXbCUZB7XHUcbdITkgbKBbW1NH1kL+vBtnGlIKKkqeHM3oPMNx//919m/Yp36ANQ1rvNXpulF0ujbG/cZabX/bk1ztmNDWnNM4yUVY+Uj/gkFNhcuIZbiiT2sDvguJjNJ7HoLiO9+a9bCUOAR/WxmDtS4t9/24XiySomW/fxdCY9frx+26bb+rXXcKNt15kz3XhOUOGF8LgsUHFP2e/9cGPWSH98GiLTLCE6ZkJSGSB0rg7vzPviAQ6Cn+yrl/AVBLAwQUAAIACACGMgdXmWuCvfcAAADhAgAACwARAF9yZWxzLy5yZWxzVVQNAAczjdBkM43QZDON0GStks9OwzAMh+97isj31d1ACKGluyCk3RAqD2Al7h/RJlHiwfb2BASCSqPssGOcn798trLZHsZBvXJMvXcaVkUJip3xtnethuf6YXkLKgk5S4N3rOHICbbVYvPEA0nuSV0fksoQlzR0IuEOMZmOR0qFD+zyTePjSJKPscVA5oVaxnVZ3mD8zYBqwlQ7qyHu7ApUfQx8Dts3TW/43pv9yE5OPIF8EHaW7TLE3B+lz8OommLLosF685jLCSmEIqMBTxutzzf6e1ocWciSEBofed7nIzEndHXJFU0TPzZvPlq0X+U5m+tL2ph9Ej/+s57PzLcSTj5mtXgHUEsBAhcLFAACAAgAhjIHVzzXXq5BCAAAIpUAABEACQAAAAAAAAAAAACAAAAAAHdvcmQvZG9jdW1lbnQueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV/7LMwiUAQAAegMAABEACQAAAAAAAAAAAACAgQgAAHdvcmQvc2V0dGluZ3MueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV9tzMs5UAQAAJAMAABMACQAAAAAAAAAAAACAVQoAAGRvY1Byb3BzL2N1c3RvbS54bWxVVAUABzON0GRQSwECFwsUAAIACACGMgdXrJsKCV0BAACUBQAAEwAJAAAAAAAAAAAAAIDrCwAAW0NvbnRlbnRfVHlwZXNdLnhtbFVUBQAHM43QZFBLAQIXCxQAAgAIAIYyB1dWJeuxIgEAABsCAAAQAAkAAAAAAAAAAAAAgIoNAABkb2NQcm9wcy9hcHAueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV6vMCqgbAQAALQIAABEACQAAAAAAAAAAAACA6w4AAGRvY1Byb3BzL2NvcmUueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV/FwEXXuAAAAKAMAABwACQAAAAAAAAAAAACARhAAAHdvcmQvX3JlbHMvZG9jdW1lbnQueG1sLnJlbHNVVAUABzON0GRQSwECFwsUAAIACACGMgdXJhHod+8AAAD9AQAAEgAJAAAAAAAAAAAAAIB/EQAAd29yZC9mb250VGFibGUueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHVy5zYyf2AgAA1gsAAA8ACQAAAAAAAAAAAACArxIAAHdvcmQvc3R5bGVzLnhtbFVUBQAHM43QZFBLAQIXCxQAAgAIAIYyB1cMLHDE+QQAACoQAAAQAAkAAAAAAAAAAAAAgOMVAAB3b3JkL2hlYWRlcjEueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV3iBX9IjBgAAvCEAABUACQAAAAAAAAAAAACAGxsAAHdvcmQvdGhlbWUvdGhlbWUxLnhtbFVUBQAHM43QZFBLAQIXCxQAAgAIAIYyB1eZa4K99wAAAOECAAALAAkAAAAAAAAAAAAAgIIhAABfcmVscy8ucmVsc1VUBQAHM43QZFBLBQYAAAAADAAMAGoDAACzIgAAAAA="
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "PngResultPages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Array of converted PNG page results with PageNumber and URL."
                          },
                          "Successful": {
                            "type": "boolean",
                            "description": "True if the operation was successful."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cloudmersiveDocumentConversion/latest/actions/convert-document-to-text": {
      "get": {
        "operationId": "cloudmersiveDocumentConversion.convert-document-to-text",
        "summary": "Convert Document to Text",
        "description": "Converts a document to text in Cloudmersive Document Conversion.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cloudmersiveDocumentConversion/latest/actions/convert-document-to-text"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inputFile",
            "in": "query",
            "required": true,
            "description": "Input file to automatically detect and convert to text.",
            "schema": {
              "type": "string",
              "description": "Input file to automatically detect and convert to text.",
              "default": "UEsDBBQAAgAIAIYyB1c8116uQQgAACKVAAARABEAd29yZC9kb2N1bWVudC54bWxVVA0ABzON0GQzjdBkM43QZO2YW48bNRTH3/kUVp6nSXa7rUpEioCqqBJUhW15d2acxDAznvqS7fLp+R/bcwmosNvuAA9HqppNxnN8fG4+5/fV1x+aWpyUddq028XFcr0Qqi1NpdvDdvHu7ctHzxbCedlWsjat2i5ulVt8/fyLr242lSlDo1ovIKF1m6bcLo7ed5vVypVH1Ui3NJ1q8XBvbCM9vtrDqpH2t9A9Kk3TSa93utb+dnW5Xj9dZDEn9SBizHYRbLvJIh41urTGmb2nVzZmv9elyh/9G/Yu+6ZXXuSTxx1XVtXQwbTuqDvXS2s+VRoeHgdb/N0hTk3dr7vp7rJbZeUNvNrUaaMbY6vOmlI5h19fpIeDxIv1HQxIIoY37qLC+Z69Jo3U7SCm/av/h72X2DsbLYoaDzLaQn6CKaYKdLr8BAl4ywerRocc7nWKi/WfTPO9NaEbpbnPk3Z9lN2o28XVp0gjCzfl5tWhNVbuangJgqLMjetkie+dVU7Zk1o8R3HYmeqWPrv43xsbP679ba3EzeYk6+3iW6x4qz74xYqe2bTEvjStd1giXan1dvFWN8qJ1+pG/Gwa2aa17vdexuWaflnl11d5p1W/7bx7P3mIvcl28BAe7hTiC2b88iI90W2FX2u19yjLF48X+GL14Ri/5SW/lr3QnUHVWI1qYG0+WVzon/8A2Y1AgQqNqExtrHDaC9koX4gStUuVXiGChax0p11USaGoLsULVP1SNPKDboITMhyCErIU74NsRB0Q9a4QKgh7NG2JBbU+hFpifa1ckJVcimtVDXsJbyz+Ca/qOril+FGqUrXSTVUocBvVtN6LvQyl3kFq/0chahl3UUaog8K95EQXbNThAPF7FQ4aLzZaQBIOIlrTYjWpSbsFi58cKQRjHKw86UoWZDSfPDk13Ll3opWvzsKN3hIfeTlbvcM5UdmVew+rKaQYna0QzlRkH9Eq/L4Ub6zRLYyoXWMqMgU2q6FoFXQh8ASHJ6NFk7sA53QwDw62FK8g+6CswNFxYxuyWfysJdyNH0/qqEvyB5kB39tQ13DJL/okyZteNR0+XKlqBcuQknFFIYKHklCi1D6gFejdqqgyaIoTMjc0PzsfeSAeic5QabrTQhPDi4IGPqFgOzNJEz0Czxi709O3xN7C7hq6wKewRbRDCrfes70RYdFewFTlotcZwXoKdRe89NCxVr1arXZ1Ei7ozE1pbEemtBJaUoxohBo9TUoKY0stKBdwLcKG3wWUwWgKxBK9mEMbuRAlZ2WzlkvxEo5To/sQu9mvxZBcvwbnjdBVMaZP77HB0YMDslakUK13iC3RQQGvSQdZoqNwMroc5olnIhnJRQirGA9taMvBitO4EjGDUub2kZT3GBI5f59YrqDd9sgX2EwPhWBXo3VEHTnLk88vkk/PKvekKD9+iKL8sKX3Ojj0D5V2TiHebA7wWA1gMSc7rVpxklZTbOu21FVo4a7XZFuBnGt1k2pWXonQQS2sISM7Zynewc/ayz6hUiSNeT54LebgjPUu3S9UVqjI92cRMQmpMCFtLEo2coTiPxZ9VLV0BQ2pn0p8MshQPRC0y7sr/gityf00/0a1CgkzWCrlIspgpanqphTvk6TPZsoVNEyo2uYeul3e9xKhC2454wbx/plRPsw0o/RJ6zDjLrFnKmbcQIUZhTempqqh5tSf7pgZ5b/zcyp/UHOKT2VR5v5r7MoqmhqbseigSqZkz/WFbnTqpXGtO+oq9Jy96nQKsMHbYVCoSa7GRRQe+ha/WH/sGr/6/13juYGbXKWYQpYiXxy5H8rts5MHHZ2WbuV4h8jyT81v8m608fkkNNyEofYW7Z46m49yZ9D0YwGUmV7xY+/Xt7qT9ppu0r7pxwQU28HJup+C7jv5OFpR7B1aSb1338eJX4b2Y8ZYzLuJk6mD75A40VZ9WvSNeZoToRylRu46imFKGLqPVu+OuZ0YbHfSJ2XtZE6NDQn6ku4orfIWe72Wk8yMvXLu0+FG44KyQ7f1PtCAkpyl4tg28ed0uIo9H/VBRWwd+lPGDq8M1tGAPUQUtXxx5hj6+kLIWkOOF/ngxTA03qN4/aUzIuv9a/351TzQZBZmMqRN6lLjrJUASErr6bg50IVYwNPoPo6dFCHJmbldLCbx2Y9gaWLqs3XSPdsyYCocR7TJkICZrg9GihcoEFLaUvWZDqkVhgciKbEUxZJRxPOMA0l6d49ST+s0NbyVVn6cPU+Iy1ZSVRtfOmKwsQhvLEuE6RVddf8YTKMD5d4ru12sP+YcrEXdS28dlayU/Vlhe9WWFBv+toPzK7WXyL6FsBtdbRf2VfUkvUqPe4FwI+wWTHDpWXe4pqi8odD4EhcR/j7i76fPrtb9gh+lFf2uePT4yRWt2huTVSYFTEdBfRW/QGdvGnx/Fr/mMFxfrqdxuL4c5L8OzdukIaqt9TmKV+ORPxNozsRJGYEyAmUEygiUESgjUEagjEAZgTICZQTKCJQRKCNQRqCMQBmBMgJlBDoPAv2PqSWzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKb/M/Z5P+UMe4QWfGPyqBw4lTP/wBQSwMEFAACAAgAhjIHV/7LMwiUAQAAegMAABEAEQB3b3JkL3NldHRpbmdzLnhtbFVUDQAHM43QZDON0GQzjdBknVPLbtswELznKwzebclG0AZC5Bzy6sHtxS5yXlOriCjJJZaUVeXru7YkO0CBwuhJ5O7MaPbB+4ffzs4OyNGQL9VykasZek2V8e+l+rl7md+pWUzgK7DksVQ9RvWwvrnviogpCSrORMHHgkrVsi+ibtBBnDujmSLVaa7JFVTXRuP4USODS9WkFIosG0kLCuglVxM7SHLl92ygPJFuHfqUrfL8S8ZoIYnf2JgQJzX3v2qSbCaRw7+KODg74bplfkW5HXF1Zlxj70gITBpjlM46Oxk0fpKJ9hqdIbUxewbuP4msZWwfRG7WFQFZSwtk5KtcZcdEhTW0Nu1gv00UBHIA+dnXc5qhE1OvbKpvxOaDfAK7DaAlOIGXywlsYrDQX4BPF/azbFs/MVYDXjfAoBPyKPgoJCY7oSr6QemRXGDpzMiQG6TjqbU7BnOygqdUbCDgBnpq08b8wre3u1O4jfjyPIQ/KWyHLT5XcKvk2LL5q83nCS+EOC5SNky4Kzw4eRuDotkba1L/nSo8Ws0uXrPLo1nf/AFQSwMEFAACAAgAhjIHV9tzMs5UAQAAJAMAABMAEQBkb2NQcm9wcy9jdXN0b20ueG1sVVQNAAczjdBkM43QZDON0GS1kjtvwjAUhXd+heWpHUIcpwGCkqCSwFSpVFCGblbiQKTYjuwbCq3632tebRm69CF5se/1d46PbzTaihptuDaVkjH2ugQjLnNVVHIV48fF1BlgZIDJgtVK8hjvuMGjpBPNtGq4hoobZAnSxHgN0Axd1+RrLpjp2rK0lVJpwcBu9cpVZVnlPFN5K7gElxLSc/PWgBJO84HDR95wAz9FFirfuzPLxa6xvCQ6wXeoFFAVMX7NgjTLAhI4dBKmjke8sRP6Yd8hA0LomKbT8HbyhlGzb6YYSSbsy1PNGfDC8jYwLKuaQyV4Qgn17T2H0AUhw8N6ityvHZF71v+lE//CidJHJ3XzbEAnM7bi5iB8Ovgz2Zuz7B0zMGeb7yPo/3sEwdmL/eCizfllBoLl93O0PA4z8vyuh67GbVUXiNK0F1yjh5ZpeEGzbJoqCXwL3wXmfo530nkHUEsDBBQAAgAIAIYyB1esmwoJXQEAAJQFAAATABEAW0NvbnRlbnRfVHlwZXNdLnhtbFVUDQAHM43QZDON0GQzjdBktZRNT8JAEIbv/Ipmr6Rd8GCMoXDw46gc8Aesu1PYuF/ZGRD+vVOKHAyCCl6atDPv+7yz03Y0WXtXrCCjjaEWw2ogCgg6GhvmtXiZPZY3okBSwSgXA9RiAygm495otkmABYsD1mJBlG6lRL0Ar7CKCQJXmpi9Ir7Nc5mUflNzkFeDwbXUMRAEKqn1EOPRPTRq6ah4WPPjLkgGh6K46xpbVi1USs5qRVyXq2C+UModoWLltgcXNmGfG4Q8SGgr3wN2umc+mWwNFFOV6Ul57pLvMRtpol56VlbHbQ7kjE1jNez1rVvKUQMiH7l31b7ilQ39UzmQNg7w8ik632N41k5zTCiZdDYf2r0YMCWHSJDJHmd3owMRh/2P4XfOJyMQv+/QXYdnx9janEQ2DJipVweXH3tv/aO165j/kOHzK23Vv1n2ApSBPLz80J3xzyZeIkV/doTO5sDwcvtPHfc+AFBLAwQUAAIACACGMgdXViXrsSIBAAAbAgAAEAARAGRvY1Byb3BzL2FwcC54bWxVVA0ABzON0GQzjdBkM43QZJ2RT28CIRDF736KDXdl9dA0ZhbTaJoe+i9xtWcCsy4pyxBAo9++rNa1TW/lNu8NP94wsDh2tjhgiIZcxaaTkhXoFGnjdhXb1I/je1bEJJ2WlhxW7ISRLcQI3gN5DMlgLDLBxYq1Kfk551G12Mk4ybbLTkOhkymXYcepaYzCFal9hy7xWVnecTwmdBr12A9AdiHOD+m/UE2qzxe39clnnoAaO29lQvHa37TABwFqStLWpkNRZnko4MF7a5RM+V/Ei1GBIjWpeDu/VnxQ0MB/tkBOsEa1DyadetLPEtZKWlzmRKKRNiLwmwDPxn3Gja9p1cf59n+LsG5lQJ2Rw/1BgKc8YrB9/7KVbof62vPX6GfaXlYtprNJmc95iKsG/LZVMfoCUEsDBBQAAgAIAIYyB1erzAqoGwEAAC0CAAARABEAZG9jUHJvcHMvY29yZS54bWxVVA0ABzON0GQzjdBkM43QZKWRQU/DIBiG7/sVDfcW2sa5kLY7aHbSxMQZjTcC3zpioQQ+7fbvZXXrXNzNI7zP9+SFr1ruTJd8gQ+6tzXJM0YSsLJX2rY1eVmv0gVJAgqrRNdbqMkeAlk2s0o6LnsPT7534FFDSKLIBi5dTbaIjlMa5BaMCFkkbAw3vTcC49G31An5IVqgBWNzagCFEijoQZi6yUiOSiUnpfv03ShQkkIHBiwGmmc5PbMI3oSrA2PyizQa9w6uoqdwondBT+AwDNlQjmjsn9O3x4fn8amptoevkkCaSkmOGjtogjCug7yi0011LMmlB4GgkijnP1VOyWt5d79ekaZgRZmyRcpu12zOC8bLm/eD6WL+LDRxbxv9D+NJ0FT0z4Kb2TdQSwMEFAACAAgAhjIHV/FwEXXuAAAAKAMAABwAEQB3b3JkL19yZWxzL2RvY3VtZW50LnhtbC5yZWxzVVQNAAczjdBkM43QZDON0GStks1qwzAQhO95CrH3Wnb6QymRcwmBXIv7AFt5/UNlSUjbUr99RV0SB4LpwccZsTMf2t3tvwcjvijE3lkFRZaDIKtd3dtWwVt1vHsGERltjcZZUjBShH252b2SQU4zset9FCnERgUds3+RMuqOBoyZ82TTS+PCgJxkaKVH/YEtyW2eP8kwz4DyKlOcagXhVBcgqtHTf7Jd0/SaDk5/DmT5RoWMPJrELyoMLbGCSWcpB+Tt+u2a9Y2zXOG7oQvB2VqCuF8TgtPsDOBXTmaxxPCw6h6IOR3YfBN/zhLC45oIHWFN4QIw6fMXyKv7Ljc/UEsDBBQAAgAIAIYyB1cmEeh37wAAAP0BAAASABEAd29yZC9mb250VGFibGUueG1sVVQNAAczjdBkM43QZDON0GSNjkFOwzAQRfc9heU9dWCBUNSkQkIsu0DlAIMzaSzZM5HHxPT2uEoiFmWRnf3/8/c7HH+CVxNGcUyNftxXWiFZ7hxdGv15fn940UoSUAeeCRt9RdHHdnfIdc+URJXnJHVs9JDSWBsjdsAAsucRqXQ9xwCpXOPFcN87i29svwNSMk9V9WwiekjlaxncKHpZy1vWMsdujGxRpLgGP+8FcKTbxU7lmiAU6bMLKOqEWX1wgBkAn06lLMwE/h4xN8YOEAXTylRz2kNw/rqG8Q8fXbLDmk8QHXx5vFVm9rnzei2I/89mLjY7SHYiWx2Wg7S7X1BLAwQUAAIACACGMgdXLnNjJ/YCAADWCwAADwARAHdvcmQvc3R5bGVzLnhtbFVUDQAHM43QZDON0GQzjdBk1VZbb9owFH7vr4j8ThPYNFHUtKI3tdLGqkK1Z5MciCfHzmzTlP36HTsODZBUbBrS9kTO/TsXn8P55WvOgxdQmkkRk/5pRAIQiUyZWMbkeXbXG5JAGypSyqWAmKxBk8uLk/NypM2agw7QXuiRiklmTDEKQ51kkFN9KgsQKFtIlVODpFqGcrFgCdzIZJWDMOEgij6FCjg1GFtnrNDEeysP8VZKlRZKJqA1gs155S+nTJALhJfK5AYWdMWNtqR6VJ70lPu5k8LooBwl2mAcTC9nQqorljKC3GwsNJs1BPeWYSVAtRlrRluFVCesxSy0EfVPVHihPCaDQc251rs8TsWy5oHoPU+t2zmiiglVvem4CaHWQMPQJxbuplvsUvanZKksr7EASvI6WFTFpysjpwXFXt12SiY7Eo1c5mBzJuBpxTF7q008B7P7GLk8ALsI1s7WamFAbXwwkVptWBgvVmyZmY34e1LHtCo+48Jn3Mwx3Gu/G9bA/z6kMfHCR6roUtEis5NgI6YVH5+Cpcy6QKRJhloJAnWDJWgONQ7vJdi4CZwfh3bFHhWTipl1rd33lYKc3bM0BVHpiYyl8C0D8awhrZJyMFtxz+icw8Q+A94F11iVPajOMPCWHQAHhwEsRz/u3EN032bOq4HCjwfXwNJ3r4KTvlJSK14D519opS2LblXb327pXBoj8265m5oucbgNJNwk8G7ZJ/Iz050DIlb5HBRO/17VJzJwhh0FPzv785HYBtJAWs9Gha2oR7MF23uz4Ie12Wl8YmHb9nQLLyZjxarAbm826LdVtWEluib2Fl5Ce7fTtg23swO3F153665kup7BqzmkJFY3cMrVoFEs/1fxDxascUeGLXdkePyyzpjBLXNATSvFv1XP/VODmtHwA9k6PPCK+3r/pgyi5tHo7MuM5fjHZgJl8CRzKhodapG8lbNFaLu2y97pX78f7TdwwzxmB+1i2hyuQzppDd5O3VGeyFEn1l7A30q4upn/Scb1l744+QVQSwMEFAACAAgAhjIHVwwscMT5BAAAKhAAABAAEQB3b3JkL2hlYWRlcjEueG1sVVQNAAczjdBkM43QZDON0GTtV99T2zgQfu9f4dG9NtgOgSQ+QqfAQZlhaIdyfe0oshyryJIqyYnDX9+VZDsJvaE5ymOHmXgtrb79od1vzcm7puLRkmrDpJih9CBBERVE5kwsZujf+8vBBEXGYpFjLgWdoTU16N3pm5NVVuY6gsPCZBWZodJalcWxISWtsDmQigrYLKSusIVXvYgrrB9qNSCyUtiyOePMruNhkhyjFmZJXwVGzlCtRdZCDCpGtDSysO5IJouCEdo+uhN6H7vhyIUkdUWF9RZjTTn4IIUpmTIdWvVSNNgs+1w8F8Sy4p3eSu1jLdd4BRda8WBoJXWutCTUGFi9CJs9YprskUAH0Z/Yx4Vdm50nFWaihxE/339v+wBst0nzUJtANrnAL0jFtgOKkRcgwClba7q5kMX/iiJNnqTmSstabdDM76F9LrHa+JaOXoLmMlyR7HohpMZzDrcEQB4zMwoTeFeaGqqXFJ0CLyj/80n7x2e75jRaZUvMZ+hM5ut72lgUuz13FjyETc7c1TvMIN/VzgiurQyaOoCZxw5omLiNuN2Je3O61YZNcPg9t1QLbOm5FBa6zC+elxIijO7o95qB1xALdK471l4riCrDgpRSRzkz9n6GgBKddNZLN7105yXMuVx9BBLlGNoxRRHHa1nba3FOOQ8LkjzQ3CvPaclEDp3vNwyrFKefpPF7gU+W9ANli9LO0GgyPjocJZMEebd65ajx6mv3G/stJQ1zTPShx7jUEphI4QVFncbHojDUnqaAOj06grxtr3avAWYH9MseoJPROEmS5zC/+BNw/XAVEYEIDifJZDycoohAIOPh4TTpoqFFQYn9J6hyH6sNCQop3MS90ljdwmAKb7kkn3TEcp9agSuoIldvc9lEaXuA3C6v4EzJyKUGBVc3OFtsrdzAVZk4uP6c8pZ4gS2Oas1eo1Wdk9CpRgUBPPhFRF7nMzRAZJsz2TjFdt2o4HBT6Mo9wf6TwsHuOp67i3hzWmljr6isIifMkIYLQm4dL2+MDaqdik9eZ99Jtpk3rsfcs2/GXab4iQ2SyeEuH9AGg0lYmlOgY9rVQAbd5PRoYT0xgKxD93i5YODUjYds9b+RjkbcmR2G0ZfgnIFtbAiD67xnFTXRLV1Fd7LCouWtnobS9Bc89PuYkLPTG4i2cis2rL/MQp9fb2ZwuIfh6LWNjvYweq1MvRtt7CslflI+8VZhgTSH2QI94Phghsz3GruRzK9FIFbbCboT5v2K5efSc4yrZiHfw9gpmI1bCwG3ffFtGe/0/fZ7II0wPLzD/UyJ+8njh9AlTIw5Jg++/uH74fRkmRnX/natqO/2rw2wafLVDpMhiiQk0hc3yEQCaRj2CPU8TI+T5K3/RRF8DJczVL3lYUGHTR4ejeMVMGG1fKDRN8mEcXMZ9BmMSHcDy8wBRBBIziC93hn5MEPWWSdSCGh351zb+C47Wy73/kctbsf5GZ4byWtL/4bP9gUTA9dyWToaH4zT4XQ6VrbbsFJlx8cHx9PhNHXLK5bbMgOdgym8lX4gZkf+gJGDDn8AmWaPUBKYD7oZlbnxtKsFo9ky8pPO4wC4gzbZID0aT4Yjl8YQ41876Xf3AZPFBwgsXDDO3SwvMDfU/XPkktq/u1TYlqEhzdTx0Fv/h/4w4B8GfFUG7CsNzqWJ/xZqC1jAJ9F2kwYIzzTxDv/E//md/MQq/Kd/+uYHUEsDBBQAAgAIAIYyB1d4gV/SIwYAALwhAAAVABEAd29yZC90aGVtZS90aGVtZTEueG1sVVQNAAczjdBkM43QZDON0GTtWs2P00YUP5e/YuQ7xPlwyCIC2mQTaGFhtRuoOE7sSTzs2GPNTHbJrYJjpUpVadVDkXrroWqLBFIv9K/ZlqqlEv9C39iJM3bsbFk2Aqrdw8p+837va97HjHcvX30QMHRAhKQ8bFvVC7aFSOhyj4bjtnVn0D/fspBUOPQw4yFpW1MiratXzl3Gl5RPAoIAHspLuG35SkWXKhXpAhnLCzwiIayNuAiwglcxrngCH4LYgFVqtt2sBJiGFgpxAFJvj0bUJWigRVpXzn00F99j8CtUEkia5jKx58ZqTZgGxMvefjV+1M9yKrtMoAPM2hZo9fjhgDxQFmJYKlhoW3b8Y1UScGWBBjBTqwQZQvrxjyFkjoytqS2EiPEwlVLtNzYubmU01xaaS0C9Xq/bq2Y0pSDsuhCkajGw0W9VO6Y2kzsFl2jt2o7dWAbnNNeLwRudTsfZWALXs+BGMbhlNxubtSVwIwt2SnzubHa7zSWwkwU3i8H9ixvNxjK4OQf7jIb7xVCdUZl0WPAC64iz6+XYFmBbZj6a7Po9Tf5ZMYx4qFZVQ4Dvc9EHplQfw4qGSE0jMsIuALo4GAqKZzo1B8HGskF3ZTFd24CkK2ik2tYnEYaCXvC9fvHT6xfP0NHD50cPfz169Ojo4S9l0Os4HJvQVz98+c+Tz9Dfz75/9fjrFSBpgv74+fPff/tqBbcyuV9+8/TP509ffvvFXz8+LsNsCjw0MQMaEIlukUO0ywNwtkwVGYoTwAY+piZsMxxLHGINLIP0lJ+B3JpihsuYOyQb5LsC2lkp97XJ/YwTe76YKFrGfcMPMtzbnLMOF+XO3tCqzRhNwvEKW8TEZN7F+KDUlG4uLXqTCIqElgrv+iRj+g6DTMFjEhKF9BrfJ6QMe4/STPy3qSu45COF7lHUwbQ8YAM6VMXI6zSATZziFWmSidz2XdThrFTRFjnIskOpYVYqnLBMpK/hicJBuRc4YCb7Taz8UsP3psLNbIxUkCBjwjjqeUTKUuBtMc24cANDXyzPlm02DbLsQtH9UvabmHOTfYvvd30cROV+0NA3AR/Lfch2jHa4KreJZ2tPv8Om4XB1ltylRJ2gk9yhY784ufTKRBhTJjsl9Nig4bFjg1GYG2seG9CZX3735AMfGJswXtl/HRMrmfPDocuFRz/M2bCFJ+EOgRo6Gw1no+FsNJzSaFjZPd5kIJj9P7mHzO8Z84tHsPLeMaKM7akpIzflYoZI8Mjrw0pCiUmxjPT+E/nwmNpfWYIAYixwTECCq0+p8vd8HIH+qrUQOpap1tk7iriEm9mcp1x1yhB/faAQvXjRMT4TpHistrmXrNftHENs+1xBakpF21JgWF3LP7Fx9YtrNa6awE9qXdU5xjrnja1LXhZ7rI8ncDjB+mtVtVlL7IW0x4x4OjOMfJpnz7tIJ+ljj8zyqbo6KNX6W21Z6wQ7Zli3UV+rdSdKKNO8xnHmOevNKLs0o+JWmW99Wli41AxZiA7BF6fmWMjFUdsawREbHoMINEg9DTAbh23LVcLIxXwLPT54udjlQ5MLnZ1dL4pcQVvWYiIh1RaWfiIoZjDDxMKc5zWnoWO6Btcrp2tovVV9nw1NHvMJR0Yj4qqlpDPICz0JMdvj+EQRsed7h2jIJmIXg7+NpAg8KuEsUZu/CGhmjVl9ZFtorsLzn0jNDhB/jmWRj2cjoVVQvwneTMzURiOMOV8WJMPnU41DfZ1xcM7icLpxSEoRrm51z3DOhROswEjXW9viQvkcmnrkU7cv4NibMRtcQtADtDeI6T+WaTfJgTETZt/pY5GGDgZHbLVLx0hQmCnKF4TsqFnA/qOKai13kItLfybXbCUZB7XHUcbdITkgbKBbW1NH1kL+vBtnGlIKKkqeHM3oPMNx//919m/Yp36ANQ1rvNXpulF0ujbG/cZabX/bk1ztmNDWnNM4yUVY+Uj/gkFNhcuIZbiiT2sDvguJjNJ7HoLiO9+a9bCUOAR/WxmDtS4t9/24XiySomW/fxdCY9frx+26bb+rXXcKNt15kz3XhOUOGF8LgsUHFP2e/9cGPWSH98GiLTLCE6ZkJSGSB0rg7vzPviAQ6Cn+yrl/AVBLAwQUAAIACACGMgdXmWuCvfcAAADhAgAACwARAF9yZWxzLy5yZWxzVVQNAAczjdBkM43QZDON0GStks9OwzAMh+97isj31d1ACKGluyCk3RAqD2Al7h/RJlHiwfb2BASCSqPssGOcn798trLZHsZBvXJMvXcaVkUJip3xtnethuf6YXkLKgk5S4N3rOHICbbVYvPEA0nuSV0fksoQlzR0IuEOMZmOR0qFD+zyTePjSJKPscVA5oVaxnVZ3mD8zYBqwlQ7qyHu7ApUfQx8Dts3TW/43pv9yE5OPIF8EHaW7TLE3B+lz8OommLLosF685jLCSmEIqMBTxutzzf6e1ocWciSEBofed7nIzEndHXJFU0TPzZvPlq0X+U5m+tL2ph9Ej/+s57PzLcSTj5mtXgHUEsBAhcLFAACAAgAhjIHVzzXXq5BCAAAIpUAABEACQAAAAAAAAAAAACAAAAAAHdvcmQvZG9jdW1lbnQueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV/7LMwiUAQAAegMAABEACQAAAAAAAAAAAACAgQgAAHdvcmQvc2V0dGluZ3MueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV9tzMs5UAQAAJAMAABMACQAAAAAAAAAAAACAVQoAAGRvY1Byb3BzL2N1c3RvbS54bWxVVAUABzON0GRQSwECFwsUAAIACACGMgdXrJsKCV0BAACUBQAAEwAJAAAAAAAAAAAAAIDrCwAAW0NvbnRlbnRfVHlwZXNdLnhtbFVUBQAHM43QZFBLAQIXCxQAAgAIAIYyB1dWJeuxIgEAABsCAAAQAAkAAAAAAAAAAAAAgIoNAABkb2NQcm9wcy9hcHAueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV6vMCqgbAQAALQIAABEACQAAAAAAAAAAAACA6w4AAGRvY1Byb3BzL2NvcmUueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV/FwEXXuAAAAKAMAABwACQAAAAAAAAAAAACARhAAAHdvcmQvX3JlbHMvZG9jdW1lbnQueG1sLnJlbHNVVAUABzON0GRQSwECFwsUAAIACACGMgdXJhHod+8AAAD9AQAAEgAJAAAAAAAAAAAAAIB/EQAAd29yZC9mb250VGFibGUueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHVy5zYyf2AgAA1gsAAA8ACQAAAAAAAAAAAACArxIAAHdvcmQvc3R5bGVzLnhtbFVUBQAHM43QZFBLAQIXCxQAAgAIAIYyB1cMLHDE+QQAACoQAAAQAAkAAAAAAAAAAAAAgOMVAAB3b3JkL2hlYWRlcjEueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV3iBX9IjBgAAvCEAABUACQAAAAAAAAAAAACAGxsAAHdvcmQvdGhlbWUvdGhlbWUxLnhtbFVUBQAHM43QZFBLAQIXCxQAAgAIAIYyB1eZa4K99wAAAOECAAALAAkAAAAAAAAAAAAAgIIhAABfcmVscy8ucmVsc1VUBQAHM43QZFBLBQYAAAAADAAMAGoDAACzIgAAAAA="
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Successful": {
                            "type": "boolean",
                            "description": "True if the operation was successful."
                          },
                          "TextResult": {
                            "type": "string",
                            "description": "Plain text conversion result returned as a string."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cloudmersiveDocumentConversion/latest/actions/convert-docx-to-html": {
      "get": {
        "operationId": "cloudmersiveDocumentConversion.convert-docx-to-html",
        "summary": "Convert Word DOCX to HTML",
        "description": "Converts a Word DOCX document to HTML.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cloudmersiveDocumentConversion/latest/actions/convert-docx-to-html"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inputFile",
            "in": "query",
            "required": true,
            "description": "Input Word DOCX document to convert to HTML.",
            "schema": {
              "type": "string",
              "description": "Input Word DOCX document to convert to HTML.",
              "default": "UEsDBBQAAgAIAIYyB1c8116uQQgAACKVAAARABEAd29yZC9kb2N1bWVudC54bWxVVA0ABzON0GQzjdBkM43QZO2YW48bNRTH3/kUVp6nSXa7rUpEioCqqBJUhW15d2acxDAznvqS7fLp+R/bcwmosNvuAA9HqppNxnN8fG4+5/fV1x+aWpyUddq028XFcr0Qqi1NpdvDdvHu7ctHzxbCedlWsjat2i5ulVt8/fyLr242lSlDo1ovIKF1m6bcLo7ed5vVypVH1Ui3NJ1q8XBvbCM9vtrDqpH2t9A9Kk3TSa93utb+dnW5Xj9dZDEn9SBizHYRbLvJIh41urTGmb2nVzZmv9elyh/9G/Yu+6ZXXuSTxx1XVtXQwbTuqDvXS2s+VRoeHgdb/N0hTk3dr7vp7rJbZeUNvNrUaaMbY6vOmlI5h19fpIeDxIv1HQxIIoY37qLC+Z69Jo3U7SCm/av/h72X2DsbLYoaDzLaQn6CKaYKdLr8BAl4ywerRocc7nWKi/WfTPO9NaEbpbnPk3Z9lN2o28XVp0gjCzfl5tWhNVbuangJgqLMjetkie+dVU7Zk1o8R3HYmeqWPrv43xsbP679ba3EzeYk6+3iW6x4qz74xYqe2bTEvjStd1giXan1dvFWN8qJ1+pG/Gwa2aa17vdexuWaflnl11d5p1W/7bx7P3mIvcl28BAe7hTiC2b88iI90W2FX2u19yjLF48X+GL14Ri/5SW/lr3QnUHVWI1qYG0+WVzon/8A2Y1AgQqNqExtrHDaC9koX4gStUuVXiGChax0p11USaGoLsULVP1SNPKDboITMhyCErIU74NsRB0Q9a4QKgh7NG2JBbU+hFpifa1ckJVcimtVDXsJbyz+Ca/qOril+FGqUrXSTVUocBvVtN6LvQyl3kFq/0chahl3UUaog8K95EQXbNThAPF7FQ4aLzZaQBIOIlrTYjWpSbsFi58cKQRjHKw86UoWZDSfPDk13Ll3opWvzsKN3hIfeTlbvcM5UdmVew+rKaQYna0QzlRkH9Eq/L4Ub6zRLYyoXWMqMgU2q6FoFXQh8ASHJ6NFk7sA53QwDw62FK8g+6CswNFxYxuyWfysJdyNH0/qqEvyB5kB39tQ13DJL/okyZteNR0+XKlqBcuQknFFIYKHklCi1D6gFejdqqgyaIoTMjc0PzsfeSAeic5QabrTQhPDi4IGPqFgOzNJEz0Czxi709O3xN7C7hq6wKewRbRDCrfes70RYdFewFTlotcZwXoKdRe89NCxVr1arXZ1Ei7ozE1pbEemtBJaUoxohBo9TUoKY0stKBdwLcKG3wWUwWgKxBK9mEMbuRAlZ2WzlkvxEo5To/sQu9mvxZBcvwbnjdBVMaZP77HB0YMDslakUK13iC3RQQGvSQdZoqNwMroc5olnIhnJRQirGA9taMvBitO4EjGDUub2kZT3GBI5f59YrqDd9sgX2EwPhWBXo3VEHTnLk88vkk/PKvekKD9+iKL8sKX3Ojj0D5V2TiHebA7wWA1gMSc7rVpxklZTbOu21FVo4a7XZFuBnGt1k2pWXonQQS2sISM7Zynewc/ayz6hUiSNeT54LebgjPUu3S9UVqjI92cRMQmpMCFtLEo2coTiPxZ9VLV0BQ2pn0p8MshQPRC0y7sr/gityf00/0a1CgkzWCrlIspgpanqphTvk6TPZsoVNEyo2uYeul3e9xKhC2454wbx/plRPsw0o/RJ6zDjLrFnKmbcQIUZhTempqqh5tSf7pgZ5b/zcyp/UHOKT2VR5v5r7MoqmhqbseigSqZkz/WFbnTqpXGtO+oq9Jy96nQKsMHbYVCoSa7GRRQe+ha/WH/sGr/6/13juYGbXKWYQpYiXxy5H8rts5MHHZ2WbuV4h8jyT81v8m608fkkNNyEofYW7Z46m49yZ9D0YwGUmV7xY+/Xt7qT9ppu0r7pxwQU28HJup+C7jv5OFpR7B1aSb1338eJX4b2Y8ZYzLuJk6mD75A40VZ9WvSNeZoToRylRu46imFKGLqPVu+OuZ0YbHfSJ2XtZE6NDQn6ku4orfIWe72Wk8yMvXLu0+FG44KyQ7f1PtCAkpyl4tg28ed0uIo9H/VBRWwd+lPGDq8M1tGAPUQUtXxx5hj6+kLIWkOOF/ngxTA03qN4/aUzIuv9a/351TzQZBZmMqRN6lLjrJUASErr6bg50IVYwNPoPo6dFCHJmbldLCbx2Y9gaWLqs3XSPdsyYCocR7TJkICZrg9GihcoEFLaUvWZDqkVhgciKbEUxZJRxPOMA0l6d49ST+s0NbyVVn6cPU+Iy1ZSVRtfOmKwsQhvLEuE6RVddf8YTKMD5d4ru12sP+YcrEXdS28dlayU/Vlhe9WWFBv+toPzK7WXyL6FsBtdbRf2VfUkvUqPe4FwI+wWTHDpWXe4pqi8odD4EhcR/j7i76fPrtb9gh+lFf2uePT4yRWt2huTVSYFTEdBfRW/QGdvGnx/Fr/mMFxfrqdxuL4c5L8OzdukIaqt9TmKV+ORPxNozsRJGYEyAmUEygiUESgjUEagjEAZgTICZQTKCJQRKCNQRqCMQBmBMgJlBDoPAv2PqSWzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKb/M/Z5P+UMe4QWfGPyqBw4lTP/wBQSwMEFAACAAgAhjIHV/7LMwiUAQAAegMAABEAEQB3b3JkL3NldHRpbmdzLnhtbFVUDQAHM43QZDON0GQzjdBknVPLbtswELznKwzebclG0AZC5Bzy6sHtxS5yXlOriCjJJZaUVeXru7YkO0CBwuhJ5O7MaPbB+4ffzs4OyNGQL9VykasZek2V8e+l+rl7md+pWUzgK7DksVQ9RvWwvrnviogpCSrORMHHgkrVsi+ibtBBnDujmSLVaa7JFVTXRuP4USODS9WkFIosG0kLCuglVxM7SHLl92ygPJFuHfqUrfL8S8ZoIYnf2JgQJzX3v2qSbCaRw7+KODg74bplfkW5HXF1Zlxj70gITBpjlM46Oxk0fpKJ9hqdIbUxewbuP4msZWwfRG7WFQFZSwtk5KtcZcdEhTW0Nu1gv00UBHIA+dnXc5qhE1OvbKpvxOaDfAK7DaAlOIGXywlsYrDQX4BPF/azbFs/MVYDXjfAoBPyKPgoJCY7oSr6QemRXGDpzMiQG6TjqbU7BnOygqdUbCDgBnpq08b8wre3u1O4jfjyPIQ/KWyHLT5XcKvk2LL5q83nCS+EOC5SNky4Kzw4eRuDotkba1L/nSo8Ws0uXrPLo1nf/AFQSwMEFAACAAgAhjIHV9tzMs5UAQAAJAMAABMAEQBkb2NQcm9wcy9jdXN0b20ueG1sVVQNAAczjdBkM43QZDON0GS1kjtvwjAUhXd+heWpHUIcpwGCkqCSwFSpVFCGblbiQKTYjuwbCq3632tebRm69CF5se/1d46PbzTaihptuDaVkjH2ugQjLnNVVHIV48fF1BlgZIDJgtVK8hjvuMGjpBPNtGq4hoobZAnSxHgN0Axd1+RrLpjp2rK0lVJpwcBu9cpVZVnlPFN5K7gElxLSc/PWgBJO84HDR95wAz9FFirfuzPLxa6xvCQ6wXeoFFAVMX7NgjTLAhI4dBKmjke8sRP6Yd8hA0LomKbT8HbyhlGzb6YYSSbsy1PNGfDC8jYwLKuaQyV4Qgn17T2H0AUhw8N6ityvHZF71v+lE//CidJHJ3XzbEAnM7bi5iB8Ovgz2Zuz7B0zMGeb7yPo/3sEwdmL/eCizfllBoLl93O0PA4z8vyuh67GbVUXiNK0F1yjh5ZpeEGzbJoqCXwL3wXmfo530nkHUEsDBBQAAgAIAIYyB1esmwoJXQEAAJQFAAATABEAW0NvbnRlbnRfVHlwZXNdLnhtbFVUDQAHM43QZDON0GQzjdBktZRNT8JAEIbv/Ipmr6Rd8GCMoXDw46gc8Aesu1PYuF/ZGRD+vVOKHAyCCl6atDPv+7yz03Y0WXtXrCCjjaEWw2ogCgg6GhvmtXiZPZY3okBSwSgXA9RiAygm495otkmABYsD1mJBlG6lRL0Ar7CKCQJXmpi9Ir7Nc5mUflNzkFeDwbXUMRAEKqn1EOPRPTRq6ah4WPPjLkgGh6K46xpbVi1USs5qRVyXq2C+UModoWLltgcXNmGfG4Q8SGgr3wN2umc+mWwNFFOV6Ul57pLvMRtpol56VlbHbQ7kjE1jNez1rVvKUQMiH7l31b7ilQ39UzmQNg7w8ik632N41k5zTCiZdDYf2r0YMCWHSJDJHmd3owMRh/2P4XfOJyMQv+/QXYdnx9janEQ2DJipVweXH3tv/aO165j/kOHzK23Vv1n2ApSBPLz80J3xzyZeIkV/doTO5sDwcvtPHfc+AFBLAwQUAAIACACGMgdXViXrsSIBAAAbAgAAEAARAGRvY1Byb3BzL2FwcC54bWxVVA0ABzON0GQzjdBkM43QZJ2RT28CIRDF736KDXdl9dA0ZhbTaJoe+i9xtWcCsy4pyxBAo9++rNa1TW/lNu8NP94wsDh2tjhgiIZcxaaTkhXoFGnjdhXb1I/je1bEJJ2WlhxW7ISRLcQI3gN5DMlgLDLBxYq1Kfk551G12Mk4ybbLTkOhkymXYcepaYzCFal9hy7xWVnecTwmdBr12A9AdiHOD+m/UE2qzxe39clnnoAaO29lQvHa37TABwFqStLWpkNRZnko4MF7a5RM+V/Ei1GBIjWpeDu/VnxQ0MB/tkBOsEa1DyadetLPEtZKWlzmRKKRNiLwmwDPxn3Gja9p1cf59n+LsG5lQJ2Rw/1BgKc8YrB9/7KVbof62vPX6GfaXlYtprNJmc95iKsG/LZVMfoCUEsDBBQAAgAIAIYyB1erzAqoGwEAAC0CAAARABEAZG9jUHJvcHMvY29yZS54bWxVVA0ABzON0GQzjdBkM43QZKWRQU/DIBiG7/sVDfcW2sa5kLY7aHbSxMQZjTcC3zpioQQ+7fbvZXXrXNzNI7zP9+SFr1ruTJd8gQ+6tzXJM0YSsLJX2rY1eVmv0gVJAgqrRNdbqMkeAlk2s0o6LnsPT7534FFDSKLIBi5dTbaIjlMa5BaMCFkkbAw3vTcC49G31An5IVqgBWNzagCFEijoQZi6yUiOSiUnpfv03ShQkkIHBiwGmmc5PbMI3oSrA2PyizQa9w6uoqdwondBT+AwDNlQjmjsn9O3x4fn8amptoevkkCaSkmOGjtogjCug7yi0011LMmlB4GgkijnP1VOyWt5d79ekaZgRZmyRcpu12zOC8bLm/eD6WL+LDRxbxv9D+NJ0FT0z4Kb2TdQSwMEFAACAAgAhjIHV/FwEXXuAAAAKAMAABwAEQB3b3JkL19yZWxzL2RvY3VtZW50LnhtbC5yZWxzVVQNAAczjdBkM43QZDON0GStks1qwzAQhO95CrH3Wnb6QymRcwmBXIv7AFt5/UNlSUjbUr99RV0SB4LpwccZsTMf2t3tvwcjvijE3lkFRZaDIKtd3dtWwVt1vHsGERltjcZZUjBShH252b2SQU4zset9FCnERgUds3+RMuqOBoyZ82TTS+PCgJxkaKVH/YEtyW2eP8kwz4DyKlOcagXhVBcgqtHTf7Jd0/SaDk5/DmT5RoWMPJrELyoMLbGCSWcpB+Tt+u2a9Y2zXOG7oQvB2VqCuF8TgtPsDOBXTmaxxPCw6h6IOR3YfBN/zhLC45oIHWFN4QIw6fMXyKv7Ljc/UEsDBBQAAgAIAIYyB1cmEeh37wAAAP0BAAASABEAd29yZC9mb250VGFibGUueG1sVVQNAAczjdBkM43QZDON0GSNjkFOwzAQRfc9heU9dWCBUNSkQkIsu0DlAIMzaSzZM5HHxPT2uEoiFmWRnf3/8/c7HH+CVxNGcUyNftxXWiFZ7hxdGv15fn940UoSUAeeCRt9RdHHdnfIdc+URJXnJHVs9JDSWBsjdsAAsucRqXQ9xwCpXOPFcN87i29svwNSMk9V9WwiekjlaxncKHpZy1vWMsdujGxRpLgGP+8FcKTbxU7lmiAU6bMLKOqEWX1wgBkAn06lLMwE/h4xN8YOEAXTylRz2kNw/rqG8Q8fXbLDmk8QHXx5vFVm9rnzei2I/89mLjY7SHYiWx2Wg7S7X1BLAwQUAAIACACGMgdXLnNjJ/YCAADWCwAADwARAHdvcmQvc3R5bGVzLnhtbFVUDQAHM43QZDON0GQzjdBk1VZbb9owFH7vr4j8ThPYNFHUtKI3tdLGqkK1Z5MciCfHzmzTlP36HTsODZBUbBrS9kTO/TsXn8P55WvOgxdQmkkRk/5pRAIQiUyZWMbkeXbXG5JAGypSyqWAmKxBk8uLk/NypM2agw7QXuiRiklmTDEKQ51kkFN9KgsQKFtIlVODpFqGcrFgCdzIZJWDMOEgij6FCjg1GFtnrNDEeysP8VZKlRZKJqA1gs155S+nTJALhJfK5AYWdMWNtqR6VJ70lPu5k8LooBwl2mAcTC9nQqorljKC3GwsNJs1BPeWYSVAtRlrRluFVCesxSy0EfVPVHihPCaDQc251rs8TsWy5oHoPU+t2zmiiglVvem4CaHWQMPQJxbuplvsUvanZKksr7EASvI6WFTFpysjpwXFXt12SiY7Eo1c5mBzJuBpxTF7q008B7P7GLk8ALsI1s7WamFAbXwwkVptWBgvVmyZmY34e1LHtCo+48Jn3Mwx3Gu/G9bA/z6kMfHCR6roUtEis5NgI6YVH5+Cpcy6QKRJhloJAnWDJWgONQ7vJdi4CZwfh3bFHhWTipl1rd33lYKc3bM0BVHpiYyl8C0D8awhrZJyMFtxz+icw8Q+A94F11iVPajOMPCWHQAHhwEsRz/u3EN032bOq4HCjwfXwNJ3r4KTvlJSK14D519opS2LblXb327pXBoj8265m5oucbgNJNwk8G7ZJ/Iz050DIlb5HBRO/17VJzJwhh0FPzv785HYBtJAWs9Gha2oR7MF23uz4Ie12Wl8YmHb9nQLLyZjxarAbm826LdVtWEluib2Fl5Ce7fTtg23swO3F153665kup7BqzmkJFY3cMrVoFEs/1fxDxascUeGLXdkePyyzpjBLXNATSvFv1XP/VODmtHwA9k6PPCK+3r/pgyi5tHo7MuM5fjHZgJl8CRzKhodapG8lbNFaLu2y97pX78f7TdwwzxmB+1i2hyuQzppDd5O3VGeyFEn1l7A30q4upn/Scb1l744+QVQSwMEFAACAAgAhjIHVwwscMT5BAAAKhAAABAAEQB3b3JkL2hlYWRlcjEueG1sVVQNAAczjdBkM43QZDON0GTtV99T2zgQfu9f4dG9NtgOgSQ+QqfAQZlhaIdyfe0oshyryJIqyYnDX9+VZDsJvaE5ymOHmXgtrb79od1vzcm7puLRkmrDpJih9CBBERVE5kwsZujf+8vBBEXGYpFjLgWdoTU16N3pm5NVVuY6gsPCZBWZodJalcWxISWtsDmQigrYLKSusIVXvYgrrB9qNSCyUtiyOePMruNhkhyjFmZJXwVGzlCtRdZCDCpGtDSysO5IJouCEdo+uhN6H7vhyIUkdUWF9RZjTTn4IIUpmTIdWvVSNNgs+1w8F8Sy4p3eSu1jLdd4BRda8WBoJXWutCTUGFi9CJs9YprskUAH0Z/Yx4Vdm50nFWaihxE/339v+wBst0nzUJtANrnAL0jFtgOKkRcgwClba7q5kMX/iiJNnqTmSstabdDM76F9LrHa+JaOXoLmMlyR7HohpMZzDrcEQB4zMwoTeFeaGqqXFJ0CLyj/80n7x2e75jRaZUvMZ+hM5ut72lgUuz13FjyETc7c1TvMIN/VzgiurQyaOoCZxw5omLiNuN2Je3O61YZNcPg9t1QLbOm5FBa6zC+elxIijO7o95qB1xALdK471l4riCrDgpRSRzkz9n6GgBKddNZLN7105yXMuVx9BBLlGNoxRRHHa1nba3FOOQ8LkjzQ3CvPaclEDp3vNwyrFKefpPF7gU+W9ANli9LO0GgyPjocJZMEebd65ajx6mv3G/stJQ1zTPShx7jUEphI4QVFncbHojDUnqaAOj06grxtr3avAWYH9MseoJPROEmS5zC/+BNw/XAVEYEIDifJZDycoohAIOPh4TTpoqFFQYn9J6hyH6sNCQop3MS90ljdwmAKb7kkn3TEcp9agSuoIldvc9lEaXuA3C6v4EzJyKUGBVc3OFtsrdzAVZk4uP6c8pZ4gS2Oas1eo1Wdk9CpRgUBPPhFRF7nMzRAZJsz2TjFdt2o4HBT6Mo9wf6TwsHuOp67i3hzWmljr6isIifMkIYLQm4dL2+MDaqdik9eZ99Jtpk3rsfcs2/GXab4iQ2SyeEuH9AGg0lYmlOgY9rVQAbd5PRoYT0xgKxD93i5YODUjYds9b+RjkbcmR2G0ZfgnIFtbAiD67xnFTXRLV1Fd7LCouWtnobS9Bc89PuYkLPTG4i2cis2rL/MQp9fb2ZwuIfh6LWNjvYweq1MvRtt7CslflI+8VZhgTSH2QI94Phghsz3GruRzK9FIFbbCboT5v2K5efSc4yrZiHfw9gpmI1bCwG3ffFtGe/0/fZ7II0wPLzD/UyJ+8njh9AlTIw5Jg++/uH74fRkmRnX/natqO/2rw2wafLVDpMhiiQk0hc3yEQCaRj2CPU8TI+T5K3/RRF8DJczVL3lYUGHTR4ejeMVMGG1fKDRN8mEcXMZ9BmMSHcDy8wBRBBIziC93hn5MEPWWSdSCGh351zb+C47Wy73/kctbsf5GZ4byWtL/4bP9gUTA9dyWToaH4zT4XQ6VrbbsFJlx8cHx9PhNHXLK5bbMgOdgym8lX4gZkf+gJGDDn8AmWaPUBKYD7oZlbnxtKsFo9ky8pPO4wC4gzbZID0aT4Yjl8YQ41876Xf3AZPFBwgsXDDO3SwvMDfU/XPkktq/u1TYlqEhzdTx0Fv/h/4w4B8GfFUG7CsNzqWJ/xZqC1jAJ9F2kwYIzzTxDv/E//md/MQq/Kd/+uYHUEsDBBQAAgAIAIYyB1d4gV/SIwYAALwhAAAVABEAd29yZC90aGVtZS90aGVtZTEueG1sVVQNAAczjdBkM43QZDON0GTtWs2P00YUP5e/YuQ7xPlwyCIC2mQTaGFhtRuoOE7sSTzs2GPNTHbJrYJjpUpVadVDkXrroWqLBFIv9K/ZlqqlEv9C39iJM3bsbFk2Aqrdw8p+837va97HjHcvX30QMHRAhKQ8bFvVC7aFSOhyj4bjtnVn0D/fspBUOPQw4yFpW1MiratXzl3Gl5RPAoIAHspLuG35SkWXKhXpAhnLCzwiIayNuAiwglcxrngCH4LYgFVqtt2sBJiGFgpxAFJvj0bUJWigRVpXzn00F99j8CtUEkia5jKx58ZqTZgGxMvefjV+1M9yKrtMoAPM2hZo9fjhgDxQFmJYKlhoW3b8Y1UScGWBBjBTqwQZQvrxjyFkjoytqS2EiPEwlVLtNzYubmU01xaaS0C9Xq/bq2Y0pSDsuhCkajGw0W9VO6Y2kzsFl2jt2o7dWAbnNNeLwRudTsfZWALXs+BGMbhlNxubtSVwIwt2SnzubHa7zSWwkwU3i8H9ixvNxjK4OQf7jIb7xVCdUZl0WPAC64iz6+XYFmBbZj6a7Po9Tf5ZMYx4qFZVQ4Dvc9EHplQfw4qGSE0jMsIuALo4GAqKZzo1B8HGskF3ZTFd24CkK2ik2tYnEYaCXvC9fvHT6xfP0NHD50cPfz169Ojo4S9l0Os4HJvQVz98+c+Tz9Dfz75/9fjrFSBpgv74+fPff/tqBbcyuV9+8/TP509ffvvFXz8+LsNsCjw0MQMaEIlukUO0ywNwtkwVGYoTwAY+piZsMxxLHGINLIP0lJ+B3JpihsuYOyQb5LsC2lkp97XJ/YwTe76YKFrGfcMPMtzbnLMOF+XO3tCqzRhNwvEKW8TEZN7F+KDUlG4uLXqTCIqElgrv+iRj+g6DTMFjEhKF9BrfJ6QMe4/STPy3qSu45COF7lHUwbQ8YAM6VMXI6zSATZziFWmSidz2XdThrFTRFjnIskOpYVYqnLBMpK/hicJBuRc4YCb7Taz8UsP3psLNbIxUkCBjwjjqeUTKUuBtMc24cANDXyzPlm02DbLsQtH9UvabmHOTfYvvd30cROV+0NA3AR/Lfch2jHa4KreJZ2tPv8Om4XB1ltylRJ2gk9yhY784ufTKRBhTJjsl9Nig4bFjg1GYG2seG9CZX3735AMfGJswXtl/HRMrmfPDocuFRz/M2bCFJ+EOgRo6Gw1no+FsNJzSaFjZPd5kIJj9P7mHzO8Z84tHsPLeMaKM7akpIzflYoZI8Mjrw0pCiUmxjPT+E/nwmNpfWYIAYixwTECCq0+p8vd8HIH+qrUQOpap1tk7iriEm9mcp1x1yhB/faAQvXjRMT4TpHistrmXrNftHENs+1xBakpF21JgWF3LP7Fx9YtrNa6awE9qXdU5xjrnja1LXhZ7rI8ncDjB+mtVtVlL7IW0x4x4OjOMfJpnz7tIJ+ljj8zyqbo6KNX6W21Z6wQ7Zli3UV+rdSdKKNO8xnHmOevNKLs0o+JWmW99Wli41AxZiA7BF6fmWMjFUdsawREbHoMINEg9DTAbh23LVcLIxXwLPT54udjlQ5MLnZ1dL4pcQVvWYiIh1RaWfiIoZjDDxMKc5zWnoWO6Btcrp2tovVV9nw1NHvMJR0Yj4qqlpDPICz0JMdvj+EQRsed7h2jIJmIXg7+NpAg8KuEsUZu/CGhmjVl9ZFtorsLzn0jNDhB/jmWRj2cjoVVQvwneTMzURiOMOV8WJMPnU41DfZ1xcM7icLpxSEoRrm51z3DOhROswEjXW9viQvkcmnrkU7cv4NibMRtcQtADtDeI6T+WaTfJgTETZt/pY5GGDgZHbLVLx0hQmCnKF4TsqFnA/qOKai13kItLfybXbCUZB7XHUcbdITkgbKBbW1NH1kL+vBtnGlIKKkqeHM3oPMNx//919m/Yp36ANQ1rvNXpulF0ujbG/cZabX/bk1ztmNDWnNM4yUVY+Uj/gkFNhcuIZbiiT2sDvguJjNJ7HoLiO9+a9bCUOAR/WxmDtS4t9/24XiySomW/fxdCY9frx+26bb+rXXcKNt15kz3XhOUOGF8LgsUHFP2e/9cGPWSH98GiLTLCE6ZkJSGSB0rg7vzPviAQ6Cn+yrl/AVBLAwQUAAIACACGMgdXmWuCvfcAAADhAgAACwARAF9yZWxzLy5yZWxzVVQNAAczjdBkM43QZDON0GStks9OwzAMh+97isj31d1ACKGluyCk3RAqD2Al7h/RJlHiwfb2BASCSqPssGOcn798trLZHsZBvXJMvXcaVkUJip3xtnethuf6YXkLKgk5S4N3rOHICbbVYvPEA0nuSV0fksoQlzR0IuEOMZmOR0qFD+zyTePjSJKPscVA5oVaxnVZ3mD8zYBqwlQ7qyHu7ApUfQx8Dts3TW/43pv9yE5OPIF8EHaW7TLE3B+lz8OommLLosF685jLCSmEIqMBTxutzzf6e1ocWciSEBofed7nIzEndHXJFU0TPzZvPlq0X+U5m+tL2ph9Ej/+s57PzLcSTj5mtXgHUEsBAhcLFAACAAgAhjIHVzzXXq5BCAAAIpUAABEACQAAAAAAAAAAAACAAAAAAHdvcmQvZG9jdW1lbnQueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV/7LMwiUAQAAegMAABEACQAAAAAAAAAAAACAgQgAAHdvcmQvc2V0dGluZ3MueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV9tzMs5UAQAAJAMAABMACQAAAAAAAAAAAACAVQoAAGRvY1Byb3BzL2N1c3RvbS54bWxVVAUABzON0GRQSwECFwsUAAIACACGMgdXrJsKCV0BAACUBQAAEwAJAAAAAAAAAAAAAIDrCwAAW0NvbnRlbnRfVHlwZXNdLnhtbFVUBQAHM43QZFBLAQIXCxQAAgAIAIYyB1dWJeuxIgEAABsCAAAQAAkAAAAAAAAAAAAAgIoNAABkb2NQcm9wcy9hcHAueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV6vMCqgbAQAALQIAABEACQAAAAAAAAAAAACA6w4AAGRvY1Byb3BzL2NvcmUueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV/FwEXXuAAAAKAMAABwACQAAAAAAAAAAAACARhAAAHdvcmQvX3JlbHMvZG9jdW1lbnQueG1sLnJlbHNVVAUABzON0GRQSwECFwsUAAIACACGMgdXJhHod+8AAAD9AQAAEgAJAAAAAAAAAAAAAIB/EQAAd29yZC9mb250VGFibGUueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHVy5zYyf2AgAA1gsAAA8ACQAAAAAAAAAAAACArxIAAHdvcmQvc3R5bGVzLnhtbFVUBQAHM43QZFBLAQIXCxQAAgAIAIYyB1cMLHDE+QQAACoQAAAQAAkAAAAAAAAAAAAAgOMVAAB3b3JkL2hlYWRlcjEueG1sVVQFAAczjdBkUEsBAhcLFAACAAgAhjIHV3iBX9IjBgAAvCEAABUACQAAAAAAAAAAAACAGxsAAHdvcmQvdGhlbWUvdGhlbWUxLnhtbFVUBQAHM43QZFBLAQIXCxQAAgAIAIYyB1eZa4K99wAAAOECAAALAAkAAAAAAAAAAAAAgIIhAABfcmVscy8ucmVsc1VUBQAHM43QZFBLBQYAAAAADAAMAGoDAACzIgAAAAA="
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "outputFile": {
                            "type": "string",
                            "description": "Converted HTML document content returned by Cloudmersive."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cloudmersiveDocumentConversion/latest/actions/convert-docx-to-pdf": {
      "get": {
        "operationId": "cloudmersiveDocumentConversion.convert-docx-to-pdf",
        "summary": "Convert Word DOCX to PDF",
        "description": "Converts a Word DOCX document to PDF.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cloudmersiveDocumentConversion/latest/actions/convert-docx-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inputFile",
            "in": "query",
            "required": true,
            "description": "Input Word DOCX document to convert to PDF.",
            "schema": {
              "type": "string",
              "description": "Input Word DOCX document to convert to PDF.",
              "default": "UEsDBBQAAgAIAIYyB1c8116uQQgAACKVAAARABEAd29yZC9kb2N1bWVudC54bWxVVA0ABzON0GQzjdBkM43QZO2YW48bNRTH3/kUVp6nSXa7rUpEioCqqBJUhW15d2acxDAznvqS7fLp+R/bcwmosNvuAA9HqppNxnN8fG4+5/fV1x+aWpyUddq028XFcr0Qqi1NpdvDdvHu7ctHzxbCedlWsjat2i5ulVt8/fyLr242lSlDo1ovIKF1m6bcLo7ed5vVypVH1Ui3NJ1q8XBvbCM9vtrDqpH2t9A9Kk3TSa93utb+dnW5Xj9dZDEn9SBizHYRbLvJIh41urTGmb2nVzZmv9elyh/9G/Yu+6ZXXuSTxx1XVtXQwbTuqDvXS2s+VRoeHgdb/N0hTk3dr7vp7rJbZeUNvNrUaaMbY6vOmlI5h19fpIeDxIv1HQxIIoY37qLC+Z69Jo3U7SCm/av/h72X2DsbLYoaDzLaQn6CKaYKdLr8BAl4ywerRocc7nWKi/WfTPO9NaEbpbnPk3Z9lN2o28XVp0gjCzfl5tWhNVbuangJgqLMjetkie+dVU7Zk1o8R3HYmeqWPrv43xsbP679ba3EzeYk6+3iW6x4qz74xYqe2bTEvjStd1giXan1dvFWN8qJ1+pG/Gwa2aa17vdexuWaflnl11d5p1W/7bx7P3mIvcl28BAe7hTiC2b88iI90W2FX2u19yjLF48X+GL14Ri/5SW/lr3QnUHVWI1qYG0+WVzon/8A2Y1AgQqNqExtrHDaC9koX4gStUuVXiGChax0p11USaGoLsULVP1SNPKDboITMhyCErIU74NsRB0Q9a4QKgh7NG2JBbU+hFpifa1ckJVcimtVDXsJbyz+Ca/qOril+FGqUrXSTVUocBvVtN6LvQyl3kFq/0chahl3UUaog8K95EQXbNThAPF7FQ4aLzZaQBIOIlrTYjWpSbsFi58cKQRjHKw86UoWZDSfPDk13Ll3opWvzsKN3hIfeTlbvcM5UdmVew+rKaQYna0QzlRkH9Eq/L4Ub6zRLYyoXWMqMgU2q6FoFXQh8ASHJ6NFk7sA53QwDw62FK8g+6CswNFxYxuyWfysJdyNH0/qqEvyB5kB39tQ13DJL/okyZteNR0+XKlqBcuQknFFIYKHklCi1D6gFejdqqgyaIoTMjc0PzsfeSAeic5QabrTQhPDi4IGPqFgOzNJEz0Czxi709O3xN7C7hq6wKewRbRDCrfes70RYdFewFTlotcZwXoKdRe89NCxVr1arXZ1Ei7ozE1pbEemtBJaUoxohBo9TUoKY0stKBdwLcKG3wWUwWgKxBK9mEMbuRAlZ2WzlkvxEo5To/sQu9mvxZBcvwbnjdBVMaZP77HB0YMDslakUK13iC3RQQGvSQdZoqNwMroc5olnIhnJRQirGA9taMvBitO4EjGDUub2kZT3GBI5f59YrqDd9sgX2EwPhWBXo3VEHTnLk88vkk/PKvekKD9+iKL8sKX3Ojj0D5V2TiHebA7wWA1gMSc7rVpxklZTbOu21FVo4a7XZFuBnGt1k2pWXonQQS2sISM7Zynewc/ayz6hUiSNeT54LebgjPUu3S9UVqjI92cRMQmpMCFtLEo2coTiPxZ9VLV0BQ2pn0p8MshQPRC0y7sr/gityf00/0a1CgkzWCrlIspgpanqphTvk6TPZsoVNEyo2uYeul3e9xKhC2454wbx/plRPsw0o/RJ6zDjLrFnKmbcQIUZhTempqqh5tSf7pgZ5b/zcyp/UHOKT2VR5v5r7MoqmhqbseigSqZkz/WFbnTqpXGtO+oq9Jy96nQKsMHbYVCoSa7GRRQe+ha/WH/sGr/6/13juYGbXKWYQpYiXxy5H8rts5MHHZ2WbuV4h8jyT81v8m608fkkNNyEofYW7Z46m49yZ9D0YwGUmV7xY+/Xt7qT9ppu0r7pxwQU28HJup+C7jv5OFpR7B1aSb1338eJX4b2Y8ZYzLuJk6mD75A40VZ9WvSNeZoToRylRu46imFKGLqPVu+OuZ0YbHfSJ2XtZE6NDQn6ku4orfIWe72Wk8yMvXLu0+FG44KyQ7f1PtCAkpyl4tg28ed0uIo9H/VBRWwd+lPGDq8M1tGAPUQUtXxx5hj6+kLIWkOOF/ngxTA03qN4/aUzIuv9a/351TzQZBZmMqRN6lLjrJUASErr6bg50IVYwNPoPo6dFCHJmbldLCbx2Y9gaWLqs3XSPdsyYCocR7TJkICZrg9GihcoEFLaUvWZDqkVhgciKbEUxZJRxPOMA0l6d49ST+s0NbyVVn6cPU+Iy1ZSVRtfOmKwsQhvLEuE6RVddf8YTKMD5d4ru12sP+YcrEXdS28dlayU/Vlhe9WWFBv+toPzK7WXyL6FsBtdbRf2VfUkvUqPe4FwI+wWTHDpWXe4pqi8odD4EhcR/j7i76fPrtb9gh+lFf2uePT4yRWt2huTVSYFTEdBfRW/QGdvGnx/Fr/mMFxfrqdxuL4c5L8OzdukIaqt9TmKV+ORPxNozsRJGYEyAmUEygiUESgjUEagjEAZgTICZQTKCJQRKCNQRqCMQBmBMgJlBDoPAv2PqSWzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKbZDbJbJLZJLNJZpPMJplNMptkNslsktkks0lmk8wmmU0ym2Q2yWyS2SSzSWaTzCaZTTKb/M/Z5P+UMe4QWfGPyqBw4lTP/wBQSwMEFAACAAgAhjIHV/7LMwiUAQAAegMAABEAEQB3b3JkL3NldHRpbmdzLnhtbFVUDQAHM43QZDON0GQzjdBknVPLbtswELznKwzebclG0AZC5Bzy6sHtxS5yXlOriCjJJZaUVeXru7YkO0CBwuhJ5O7MaPbB+4ffzs4OyNGQL9VykasZek2V8e+l+rl7md+pWUzgK7DksVQ9RvWwvrnviogpCSrORMHHgkrVsi+ibtBBnDujmSLVaa7JFVTXRuP4USODS9WkFIosG0kLCuglVxM7SHLl92ygPJFuHfqUrfL8S8ZoIYnf2JgQJzX3v2qSbCaRw7+KODg74bplfkW5HXF1Zlxj70gITBpjlM46Oxk0fpKJ9hqdIbUxewbuP4msZWwfRG7WFQFZSwtk5KtcZcdEhTW0Nu1gv00UBHIA+dnXc5qhE1OvbKpvxOaDfAK7DaAlOIGXywlsYrDQX4BPF/azbFs/MVYDXjfAoBPyKPgoJCY7oSr6QemRXGDpzMiQG6TjqbU7BnOygqdUbCDgBnpq08b8wre3u1O4jfjyPIQ/KWyHLT5XcKvk2LL5q83nCS+EOC5SNky4Kzw4eRuDotkba1L/nSo8Ws0uXrPLo1nf/AFQSwMEFAACAAgAhjIHV9tzMs5UAQAAJAMAABMAEQBkb2NQcm9wcy9jdXN0b20ueG1sVVQNAAczjdBkM43QZDON0GS1kjtvwjAUhXd+heWpHUIcpwGCkqCSwFSpVFCGblbiQKTYjuwbCq3632tebRm69CF5se/1d46PbzTaihptuDaVkjH2ugQjLnNVVHIV48fF1BlgZIDJgtVK8hjvuMGjpBPNtGq4hoobZAnSxHgN0Axd1+RrLpjp2rK0lVJpwcBu9cpVZVnlPFN5K7gElxLSc/PWgBJO84HDR95wAz9FFirfuzPLxa6xvCQ6wXeoFFAVMX7NgjTLAhI4dBKmjke8sRP6Yd8hA0LomKbT8HbyhlGzb6YYSSbsy1PNGfDC8jYwLKuaQyV4Qgn17T2H0AUhw8N6ityvHZF71v+lE//CidJHJ3XzbEAnM7bi5iB8Ovgz2Zuz7B0zMGeb7yPo/3sEwdmL/eCizfllBoLl93O0PA4z8vyuh67GbVUXiNK0F1yjh5ZpeEGzbJoqCXwL3wXmfo530nkHUEsDBBQAAgAIAIYyB1esmwoJXQEAAJQFAAATABEAW0NvbnRlbnRfVHlwZXNdLnhtbFVUDQAHM43QZDON0GQzjdBktZRNT8JAEIbv/Ipmr6Rd8GCMoXDw46gc8Aesu1PYuF/ZGRD+vVOKHAyCCl6atDPv+7yz03Y0WXtXrCCjjaEWw2ogCgg6GhvmtXiZPZY3okBSwSgXA9RiAygm495otkmABYsD1mJBlG6lRL0Ar7CKCQJXmpi9Ir7Nc5mUflNzkFeDwbXUMRAEKqn1EOPRPTRq6ah4WPPjLkgGh6K46xpbVi1USs5qRVyXq2C+UModoWLltgcXNmGfG4Q8SGgr3wN2umc+mWwNFFOV6Ul57pLvMRtpol56VlbHbQ7kjE1jNez1rVvKUQMiH7l31b7ilQ39UzmQNg7w8ik632N41k5zTCiZdDYf2r0YMCWHSJDJHmd3owMRh/2P4XfOJyMQv+/QXYdnx9janEQ2DJipVweXH3tv/aO165j/kOHzK23Vv1n2ApSBPLz80J3xzyZeIkV/doTO5sDwcvtPHfc+AFBLAwQUAAIACACGMgdXViXrsSIBAAAbAgAAEAARAGRvY1Byb3BzL2FwcC54bWxVVA0ABzON0GQzjdBkM43QZJ2RT28CIRDF736KDXdl9dA0ZhbTaJoe+i9xtWcCsy4pyxBAo9++rNa1TW/lNu8NP94wsDh2tjhgiIZcxaaTkhXoFGnjdhXb1I/je1bEJJ2WlhxW7ISRLcQI3gN5DMlgLDLBxYq1Kfk551G12Mk4ybbLTkOhkymXYcepaYzCFal9hy7xWVnecTwmdBr12A9AdiHOD+m/UE2qzxe39clnnoAaO29lQvHa37TABwFqStLWpkNRZnko4MF7a5RM+V/Ei1GBIjWpeDu/VnxQ0MB/tkBOsEa1DyadetLPEtZKWlzmRKKRNiLwmwDPxn3Gja9p1cf59n+LsG5lQJ2Rw/1BgKc8YrB9/7KVbof62vPX6GfaXlYtprNJmc95iKsG/LZVMfoCUEsDBBQAAgAIAIYyB1erzAqoGwEAAC0CAAARABEAZG9jUHJvcHMvY29yZS54bWxVVA0ABzON0GQzjdBkM43QZKWRQU/DIBiG7/sVDfcW2sa5kLY7aHbSxMQZjTcC3zpioQQ+7fbvZXXrXNzNI7zP9+SFr1ruTJd8gQ+6tzXJM0YSsLJX2rY1eVmv0gVJAgqrRNdbqMkeAlk2s0o6LnsPT7534FFDSKLIBi5dTbaIjlMa5BaMCFkkbAw3vTcC49G31An5IVqgBWNzagCFEijoQZi6yUiOSiUnpfv03ShQkkIHBiwGmmc5PbMI3oSrA2PyizQa9w6uoqdwondBT+AwDNlQjmjsn9O3x4fn8amptoevkkCaSkmOGjtogjCug7yi0011LMmlB4GgkijnP1VOyWt5d79ekaZgRZmyRcpu12zOC8bLm/eD6WL+LDRxbxv9D+NJ0FT0z4Kb2TdQSwMEFAACAAgAhjIHV/FwEXXuAAAAKAMAABwAEQB3b3JkL19yZWxzL2RvY3VtZW50LnhtbC5yZWxzVVQNAAczjdBkM43QZDON0GStks1qwzAQhO95CrH3Wnb6QymRcwmBXIv7AFt5/UNlSUjbUr99RV0SB4LpwccZsTMf2t3tvwcjvijE3lkFRZaDIKtd3dtWwVt1vHsGERltjcZZUjBShH252b2SQU4zset9FCnERgUds3+RMuqOBoyZ82TTS+PCgJxkaKVH/YEtyW2eP8kwz4DyKlOcagXhVBcgqtHTf7Jd0/SaDk5/DmT5RoWMPJrELyoMLbGCSWcpB+Tt+u2a9Y2zXOG7oQvB2VqCuF8TgtPsDOBXTmaxxPCw6h6IOR3YfBN/zhLC45oIHWFN4QIw6fMXyKv7Ljc/UEsDBBQAAgAIAIYyB1cmEeh37wAAAP0BAAASABEAd29yZC9mb250VGFibGUueG1sVVQNAAczjdBkM43QZDON0GSNjkFOwzAQRfc9heU9dWCBUNSkQkIsu0DlAIMzaSzZM5HHxPT2uEoiFmWRnf3/8/c7HH+CVxNGcUyNftxXWiFZ7hxdGv15fn940UoSUAeeCRt9RdHHdnfIdc+URJXnJHVs9JDSWBsjdsAAsucRqXQ9xwCpXOPFcN87i29svwNSMk9V9WwiekjlaxncKHpZy1vWMsdujGxRpLgGP+8FcKTbxU7lmiAU6bMLKOqEWX1wgBkAn06lLMwE/h4xN8YOEAXTylRz2kNw/rqG8Q8fXbLDmk8QHXx5vFVm9rnzei2I/89mLjY7SHYiWx2Wg7S7X1BLAwQUAAIACACGMgdXLnNjJ/YCAADWCwAADwARAHdvcmQvc3R5bGVzLnhtbFVUDQAHM43QZDON0GQzjdBk1VZbb9owFH7vr4j8ThPYNFHUtKI3tdLGqkK1Z5MciCfHzmzTlP36HTsODZBUbBrS9kTO/TsXn8P55WvOgxdQmkkRk/5pRAIQiUyZWMbkeXbXG5JAGypSyqWAmKxBk8uLk/NypM2agw7QXuiRiklmTDEKQ51kkFN9KgsQKFtIlVODpFqGcrFgCdzIZJWDMOEgij6FCjg1GFtnrNDEeysP8VZKlRZKJqA1gs155S+nTJALhJfK5AYWdMWNtqR6VJ70lPu5k8LooBwl2mAcTC9nQqorljKC3GwsNJs1BPeWYSVAtRlrRluFVCesxSy0EfVPVHihPCaDQc251rs8TsWy5oHoPU+t2zmiiglVvem4CaHWQMPQJxbuplvsUvanZKksr7EASvI6WFTFpysjpwXFXt12SiY7Eo1c5mBzJuBpxTF7q008B7P7GLk8ALsI1s7WamFAbXwwkVptWBgvVmyZmY34e1LHtCo+48Jn3Mwx3Gu/G9bA/z6kMfHCR6roUtEis5NgI6YVH5+Cpcy6QKRJhloJAnWDJWgONQ7vJdi4CZwfh3bFHhWTipl1rd33lYKc3bM0BVHpiYyl8C0D8awhrZJyMFtxz+icw8Q+A94F11iVPajOMPCWHQAHhwEsRz/u3EN032bOq4HCjwfXwNJ3r4KTvlJSK14D519opS2LblXb327pXBoj8265m5oucbgNJNwk8G7ZJ/Iz050DIlb5HBRO/17VJzJwhh0FPzv785HYBtJAWs9Gha2oR7MF23uz4Ie12Wl8YmHb9nQLLyZjxarAbm826LdVtWEluib2Fl5Ce7fTtg23swO3F153665ku
[...]
