{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "XSS PDF Solutions Universal API",
    "version": "0.0.2",
    "description": "PDF document automation tools from Cross Service Solutions, including PDF merge, compression, conversion, protection, unlocking, metadata removal, flattening, and AI question answering."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/xSSPDFSolutions/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/xSSPDFSolutions/latest/actions/ask-pdf-with-ai": {
      "post": {
        "operationId": "xSSPDFSolutions.ask-pdf-with-ai",
        "summary": "Ask PDF With AI",
        "description": "Creates answers from a PDF in XSS PDF Solutions.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xSSPDFSolutions/latest/actions/ask-pdf-with-ai"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file",
                  "questtext"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "The PDF file to be analyzed by AI.",
                    "example": "Upload a PDF, or use the default sample PDF URL.",
                    "default": "https://raw.githubusercontent.com/ArturT/Test-PDF-Files/master/not_encrypted.pdf"
                  },
                  "questtext": {
                    "type": "string",
                    "description": "The question related to the content of the PDF.",
                    "example": "Ask a question about the PDF.",
                    "default": "What text is in this PDF?"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Unique ID of the request."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the operation."
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "result": {
                                    "type": "string",
                                    "description": "Detailed AI answer or operation result."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "files": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "Output file content when returned inline."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Name of the output file."
                                  },
                                  "path": {
                                    "type": "string",
                                    "description": "URL to access the output file."
                                  }
                                },
                                "additionalProperties": false,
                                "description": "Files returned by the operation."
                              },
                              "result": {
                                "type": "string",
                                "description": "Result message from the operation."
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "The current status of the process."
                          },
                          "steps": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Name of the processing step."
                              },
                              "status": {
                                "type": "string",
                                "description": "Status of the processing step."
                              }
                            },
                            "additionalProperties": false,
                            "description": "List of processing steps."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xSSPDFSolutions/latest/actions/compress-pdf": {
      "post": {
        "operationId": "xSSPDFSolutions.compress-pdf",
        "summary": "Compress PDF",
        "description": "Creates a compressed PDF in XSS PDF Solutions.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xSSPDFSolutions/latest/actions/compress-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file",
                  "dpi",
                  "imageQuality"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "The PDF file to compress.",
                    "example": "Upload a PDF, or use the default sample PDF URL.",
                    "default": "https://raw.githubusercontent.com/ArturT/Test-PDF-Files/master/not_encrypted.pdf"
                  },
                  "dpi": {
                    "type": "number",
                    "description": "Dots per inch from 72 to 300. Smaller values reduce file size and quality.",
                    "default": 150
                  },
                  "imageQuality": {
                    "type": "number",
                    "description": "Image quality percentage from 0 to 100. Smaller values reduce file size and quality.",
                    "default": 80
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Unique ID of the request."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the operation."
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "result": {
                                    "type": "string",
                                    "description": "Detailed operation result."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "files": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "Output file content when returned inline."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Name of the output file."
                                  },
                                  "path": {
                                    "type": "string",
                                    "description": "URL to access the output file."
                                  }
                                },
                                "additionalProperties": false,
                                "description": "Files returned by the operation."
                              },
                              "result": {
                                "type": "string",
                                "description": "Result message from the operation."
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "The current status of the process."
                          },
                          "steps": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Name of the processing step."
                              },
                              "status": {
                                "type": "string",
                                "description": "Status of the processing step."
                              }
                            },
                            "additionalProperties": false,
                            "description": "List of processing steps."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xSSPDFSolutions/latest/actions/convert-to-pdf": {
      "post": {
        "operationId": "xSSPDFSolutions.convert-to-pdf",
        "summary": "Convert to PDF",
        "description": "Creates a PDF in XSS PDF Solutions.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xSSPDFSolutions/latest/actions/convert-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "The file to convert to PDF.",
                    "example": "Upload a file, or use the default sample PDF URL.",
                    "default": "https://raw.githubusercontent.com/ArturT/Test-PDF-Files/master/not_encrypted.pdf"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Unique ID of the request."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the operation."
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "result": {
                                    "type": "string",
                                    "description": "Detailed operation result."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "files": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "Output file content when returned inline."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Name of the output file."
                                  },
                                  "path": {
                                    "type": "string",
                                    "description": "URL to access the output file."
                                  }
                                },
                                "additionalProperties": false,
                                "description": "Files returned by the operation."
                              },
                              "result": {
                                "type": "string",
                                "description": "Result message from the operation."
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "The current status of the process."
                          },
                          "steps": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Name of the processing step."
                              },
                              "status": {
                                "type": "string",
                                "description": "Status of the processing step."
                              }
                            },
                            "additionalProperties": false,
                            "description": "List of processing steps."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xSSPDFSolutions/latest/actions/flatten-pdf": {
      "post": {
        "operationId": "xSSPDFSolutions.flatten-pdf",
        "summary": "Flatten PDF",
        "description": "Creates a flattened PDF in XSS PDF Solutions.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xSSPDFSolutions/latest/actions/flatten-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "The PDF file to be flattened.",
                    "example": "Upload a PDF, or use the default sample PDF URL.",
                    "default": "https://raw.githubusercontent.com/ArturT/Test-PDF-Files/master/not_encrypted.pdf"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Unique ID of the request."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the operation."
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "result": {
                                    "type": "string",
                                    "description": "Detailed operation result."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "files": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "Output file content when returned inline."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Name of the output file."
                                  },
                                  "path": {
                                    "type": "string",
                                    "description": "URL to access the output file."
                                  }
                                },
                                "additionalProperties": false,
                                "description": "Files returned by the operation."
                              },
                              "result": {
                                "type": "string",
                                "description": "Result message from the operation."
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "The current status of the process."
                          },
                          "steps": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Name of the processing step."
                              },
                              "status": {
                                "type": "string",
                                "description": "Status of the processing step."
                              }
                            },
                            "additionalProperties": false,
                            "description": "List of processing steps."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xSSPDFSolutions/latest/actions/merge-multiple-pd-fs": {
      "post": {
        "operationId": "xSSPDFSolutions.merge-multiple-pd-fs",
        "summary": "Merge Multiple PDFs",
        "description": "Creates a merged PDF in XSS PDF Solutions.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xSSPDFSolutions/latest/actions/merge-multiple-pd-fs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file1",
                  "file2"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file1": {
                    "type": "string",
                    "description": "The first PDF file to merge.",
                    "example": "Upload a PDF, or use the default sample PDF URL.",
                    "default": "https://raw.githubusercontent.com/ArturT/Test-PDF-Files/master/not_encrypted.pdf"
                  },
                  "file2": {
                    "type": "string",
                    "description": "The second PDF file to merge.",
                    "example": "Upload a second PDF, or use the default sample PDF URL.",
                    "default": "https://raw.githubusercontent.com/ArturT/Test-PDF-Files/master/not_encrypted.pdf"
                  },
                  "file3": {
                    "type": "string",
                    "description": "Optional PDF file to merge.",
                    "x-mindcloud-advanced": true
                  },
                  "file4": {
                    "type": "string",
                    "description": "Optional PDF file to merge.",
                    "x-mindcloud-advanced": true
                  },
                  "file5": {
                    "type": "string",
                    "description": "Optional PDF file to merge.",
                    "x-mindcloud-advanced": true
                  },
                  "file6": {
                    "type": "string",
                    "description": "Optional PDF file to merge.",
                    "x-mindcloud-advanced": true
                  },
                  "file7": {
                    "type": "string",
                    "description": "Optional PDF file to merge.",
                    "x-mindcloud-advanced": true
                  },
                  "file8": {
                    "type": "string",
                    "description": "Optional PDF file to merge.",
                    "x-mindcloud-advanced": true
                  },
                  "file9": {
                    "type": "string",
                    "description": "Optional PDF file to merge.",
                    "x-mindcloud-advanced": true
                  },
                  "file10": {
                    "type": "string",
                    "description": "Optional PDF file to merge.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Unique ID of the request."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the operation."
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "result": {
                                    "type": "string",
                                    "description": "Detailed operation result."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "files": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "Output file content when returned inline."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Name of the output file."
                                  },
                                  "path": {
                                    "type": "string",
                                    "description": "URL to access the output file."
                                  }
                                },
                                "additionalProperties": false,
                                "description": "Files returned by the operation."
                              },
                              "result": {
                                "type": "string",
                                "description": "Result message from the operation."
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "The current status of the process."
                          },
                          "steps": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Name of the processing step."
                              },
                              "status": {
                                "type": "string",
                                "description": "Status of the processing step."
                              }
                            },
                            "additionalProperties": false,
                            "description": "List of processing steps."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xSSPDFSolutions/latest/actions/protect-pdf": {
      "post": {
        "operationId": "xSSPDFSolutions.protect-pdf",
        "summary": "Protect PDF",
        "description": "Creates a protected PDF in XSS PDF Solutions.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xSSPDFSolutions/latest/actions/protect-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file",
                  "userPass"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "The file to be protected with a password.",
                    "example": "Upload a PDF, or use the default sample PDF URL.",
                    "default": "https://raw.githubusercontent.com/ArturT/Test-PDF-Files/master/not_encrypted.pdf"
                  },
                  "userPass": {
                    "type": "string",
                    "description": "The password to lock the PDF.",
                    "example": "Password for the protected PDF.",
                    "default": "mindcloud-test"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Unique ID of the request."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the operation."
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "result": {
                                    "type": "string",
                                    "description": "Detailed operation result."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "files": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "Output file content when returned inline."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Name of the output file."
                                  },
                                  "path": {
                                    "type": "string",
                                    "description": "URL to access the output file."
                                  }
                                },
                                "additionalProperties": false,
                                "description": "Files returned by the operation."
                              },
                              "result": {
                                "type": "string",
                                "description": "Result message from the operation."
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "The current status of the process."
                          },
                          "steps": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Name of the processing step."
                              },
                              "status": {
                                "type": "string",
                                "description": "Status of the processing step."
                              }
                            },
                            "additionalProperties": false,
                            "description": "List of processing steps."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xSSPDFSolutions/latest/actions/remove-metadata-from-pdf": {
      "post": {
        "operationId": "xSSPDFSolutions.remove-metadata-from-pdf",
        "summary": "Remove Metadata from PDF",
        "description": "Creates a PDF without metadata in XSS PDF Solutions.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xSSPDFSolutions/latest/actions/remove-metadata-from-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "The PDF file from which metadata will be removed.",
                    "example": "Upload a PDF, or use the default sample PDF URL.",
                    "default": "https://raw.githubusercontent.com/ArturT/Test-PDF-Files/master/not_encrypted.pdf"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Unique ID of the request."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the operation."
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "result": {
                                    "type": "string",
                                    "description": "Detailed operation result."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "files": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "Output file content when returned inline."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Name of the output file."
                                  },
                                  "path": {
                                    "type": "string",
                                    "description": "URL to access the output file."
                                  }
                                },
                                "additionalProperties": false,
                                "description": "Files returned by the operation."
                              },
                              "result": {
                                "type": "string",
                                "description": "Result message from the operation."
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "The current status of the process."
                          },
                          "steps": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Name of the processing step."
                              },
                              "status": {
                                "type": "string",
                                "description": "Status of the processing step."
                              }
                            },
                            "additionalProperties": false,
                            "description": "List of processing steps."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/xSSPDFSolutions/latest/actions/unlock-pdf": {
      "post": {
        "operationId": "xSSPDFSolutions.unlock-pdf",
        "summary": "Unlock PDF",
        "description": "Creates an unlocked PDF in XSS PDF Solutions.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/xSSPDFSolutions/latest/actions/unlock-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file",
                  "password"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "The locked PDF file to be unlocked.",
                    "example": "Upload a password-protected PDF, or use the default sample PDF URL.",
                    "default": "https://raw.githubusercontent.com/ArturT/Test-PDF-Files/master/encrypted.pdf"
                  },
                  "password": {
                    "type": "string",
                    "description": "The password to unlock the protected PDF.",
                    "example": "Password for the PDF.",
                    "default": "kanbanery"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Unique ID of the request."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the operation."
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "result": {
                                    "type": "string",
                                    "description": "Detailed operation result."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "files": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "Output file content when returned inline."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Name of the output file."
                                  },
                                  "path": {
                                    "type": "string",
                                    "description": "URL to access the output file."
                                  }
                                },
                                "additionalProperties": false,
                                "description": "Files returned by the operation."
                              },
                              "result": {
                                "type": "string",
                                "description": "Result message from the operation."
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "The current status of the process."
                          },
                          "steps": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Name of the processing step."
                              },
                              "status": {
                                "type": "string",
                                "description": "Status of the processing step."
                              }
                            },
                            "additionalProperties": false,
                            "description": "List of processing steps."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
