{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Invoice Ninja Universal API",
    "version": "0.0.4",
    "description": "Create invoices, manage clients, track expenses, and get paid"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/invoiceNinja/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/invoiceNinja/latest/actions/bulk-client-actions": {
      "put": {
        "operationId": "invoiceNinja.bulk-client-actions",
        "summary": "Bulk Client Actions",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoiceNinja/latest/actions/bulk-client-actions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "action",
                  "ids[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "action": {
                    "type": "string",
                    "description": "Bulk action to perform, such as archive, restore, delete, template, assign_group, or bulk_update."
                  },
                  "ids[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of client IDs to include in the bulk action."
                  },
                  "column": {
                    "type": "string",
                    "description": "Required for bulk_update. Invoice Ninja supports columns including public_notes, industry_id, size_id, country_id, and custom_value fields."
                  },
                  "newValue": {
                    "type": "string",
                    "description": "Required for bulk_update. New value to set on the selected column."
                  },
                  "include": {
                    "type": "string",
                    "description": "Optional related records to include in the response, such as contacts, documents, activities, ledger, or system_logs.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number",
                            "description": "Outstanding balance for the client."
                          },
                          "contacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Client contact records returned by Invoice Ninja."
                          },
                          "country_id": {
                            "type": "string",
                            "description": "Country identifier."
                          },
                          "created_at": {
                            "type": "number",
                            "description": "Unix timestamp when the client was created."
                          },
                          "display_name": {
                            "type": "string",
                            "description": "Display label for the client."
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Documents attached to the client."
                          },
                          "has_valid_vat_number": {
                            "type": "boolean",
                            "description": "Whether the VAT number is valid."
                          },
                          "id": {
                            "type": "string",
                            "description": "Hashed client ID."
                          },
                          "is_deleted": {
                            "type": "boolean",
                            "description": "Whether the client is deleted."
                          },
                          "is_tax_exempt": {
                            "type": "boolean",
                            "description": "Whether the client is tax exempt."
                          },
                          "locations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Locations associated with the client."
                          },
                          "name": {
                            "type": "string",
                            "description": "Client company or organization name."
                          },
                          "number": {
                            "type": "string",
                            "description": "Client number."
                          },
                          "public_notes": {
                            "type": "string",
                            "description": "Public notes shown on client-facing documents."
                          },
                          "settings": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Client-level settings object."
                          },
                          "updated_at": {
                            "type": "number",
                            "description": "Unix timestamp when the client was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoiceNinja/latest/actions/bulk-invoice-actions": {
      "put": {
        "operationId": "invoiceNinja.bulk-invoice-actions",
        "summary": "Bulk Invoice Actions",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoiceNinja/latest/actions/bulk-invoice-actions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "action",
                  "ids"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "action": {
                    "type": "string",
                    "description": "Bulk action such as mark_sent, archive, delete, or email."
                  },
                  "ids": {
                    "type": "string",
                    "description": "Array of invoice ids to act on."
                  },
                  "emailType": {
                    "type": "string",
                    "description": "Email template type when emailing invoices.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "archivedAt": {
                            "type": "number"
                          },
                          "autoBillEnabled": {
                            "type": "boolean"
                          },
                          "backup": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "balance": {
                            "type": "number"
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "eInvoice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "entityType": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invitations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "isDeleted": {
                            "type": "boolean"
                          },
                          "lineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "number": {
                            "type": "string"
                          },
                          "paidToDate": {
                            "type": "number"
                          },
                          "privateNotes": {
                            "type": "string"
                          },
                          "publicNotes": {
                            "type": "string"
                          },
                          "statusId": {
                            "type": "string"
                          },
                          "taxInfo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoiceNinja/latest/actions/bulk-quote-actions": {
      "put": {
        "operationId": "invoiceNinja.bulk-quote-actions",
        "summary": "Bulk Quote Actions",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoiceNinja/latest/actions/bulk-quote-actions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "action",
                  "ids[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "action": {
                    "type": "string",
                    "description": "Bulk quote action such as approve, convert, send_email, mark_sent, restore, delete, or archive."
                  },
                  "ids[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of quote IDs for the bulk action."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "archived_at": {
                            "type": "number"
                          },
                          "balance": {
                            "type": "number"
                          },
                          "client_id": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "due_date": {
                            "type": "string"
                          },
                          "entity_type": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invitations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "is_deleted": {
                            "type": "boolean"
                          },
                          "line_items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "number": {
                            "type": "string"
                          },
                          "public_notes": {
                            "type": "string"
                          },
                          "status_id": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoiceNinja/latest/actions/client-statement-pdf": {
      "get": {
        "operationId": "invoiceNinja.client-statement-pdf",
        "summary": "Client Statement PDF",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoiceNinja/latest/actions/client-statement-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Start date for the statement period in Y-m-d format.",
            "schema": {
              "type": "string",
              "description": "Start date for the statement period in Y-m-d format.",
              "example": "2026-01-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "End date for the statement period in Y-m-d format.",
            "schema": {
              "type": "string",
              "description": "End date for the statement period in Y-m-d format.",
              "example": "2026-03-20"
            }
          },
          {
            "name": "clientId",
            "in": "query",
            "required": true,
            "description": "Hashed client ID for the statement.",
            "schema": {
              "type": "string",
              "description": "Hashed client ID for the statement."
            }
          },
          {
            "name": "showPaymentsTable",
            "in": "query",
            "required": false,
            "description": "Whether to include the payments table in the PDF.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include the payments table in the PDF."
            }
          },
          {
            "name": "showCreditsTable",
            "in": "query",
            "required": false,
            "description": "Whether to include the credits table in the PDF.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include the credits table in the PDF."
            }
          },
          {
            "name": "showAgingTable",
            "in": "query",
            "required": false,
            "description": "Whether to include the aging table in the PDF.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include the aging table in the PDF."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string",
                            "description": "Raw PDF payload returned by Invoice Ninja for the generated client statement."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoiceNinja/latest/actions/create-client": {
      "post": {
        "operationId": "invoiceNinja.create-client",
        "summary": "Create Client",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoiceNinja/latest/actions/create-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "countryId",
                  "contacts[0].first_name",
                  "contacts[0].last_name",
                  "contacts[0].email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "include": {
                    "type": "string",
                    "description": "Optional related resources to include, comma separated."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the client company or organization."
                  },
                  "countryId": {
                    "type": "number",
                    "description": "Country identifier required by the Invoice Ninja client schema.",
                    "example": 840
                  },
                  "contacts[0].first_name": {
                    "type": "string",
                    "description": "First name for the primary contact. Client contacts must be included on mutating requests."
                  },
                  "contacts[0].last_name": {
                    "type": "string",
                    "description": "Last name for the primary contact. Client contacts must be included on mutating requests."
                  },
                  "contacts[0].email": {
                    "type": "string",
                    "description": "Email for the primary contact. Client contacts must be included on mutating requests."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number",
                            "description": "Outstanding balance for the client."
                          },
                          "contacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Client contact records returned by Invoice Ninja."
                          },
                          "country_id": {
                            "type": "string",
                            "description": "Country identifier."
                          },
                          "created_at": {
                            "type": "number",
                            "description": "Unix timestamp when the client was created."
                          },
                          "display_name": {
                            "type": "string",
                            "description": "Display label for the client."
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Documents attached to the client."
                          },
                          "has_valid_vat_number": {
                            "type": "boolean",
                            "description": "Whether the VAT number is valid."
                          },
                          "id": {
                            "type": "string",
                            "description": "Hashed client ID."
                          },
                          "is_deleted": {
                            "type": "boolean",
                            "description": "Whether the client is deleted."
                          },
                          "is_tax_exempt": {
                            "type": "boolean",
                            "description": "Whether the client is tax exempt."
                          },
                          "locations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Locations associated with the client."
                          },
                          "name": {
                            "type": "string",
                            "description": "Client company or organization name."
                          },
                          "number": {
                            "type": "string",
                            "description": "Client number."
                          },
                          "settings": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Client-level settings object."
                          },
                          "updated_at": {
                            "type": "number",
                            "description": "Unix timestamp when the client was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoiceNinja/latest/actions/create-expense": {
      "post": {
        "operationId": "invoiceNinja.create-expense",
        "summary": "Create Expense",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoiceNinja/latest/actions/create-expense"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "vendorId": {
                    "type": "string",
                    "description": "The vendor for the expense."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Expense amount."
                  },
                  "date": {
                    "type": "string",
                    "description": "Expense date."
                  },
                  "privateNotes": {
                    "type": "string",
                    "description": "Internal expense notes."
                  },
                  "publicNotes": {
                    "type": "string",
                    "description": "Expense description visible on documents."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "archivedAt": {
                            "type": "number"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "currencyId": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "eInvoice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "entityType": {
                            "type": "string"
                          },
                          "exchangeRate": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isDeleted": {
                            "type": "boolean"
                          },
                          "number": {
                            "type": "string"
                          },
                          "paymentTypeId": {
                            "type": "string"
                          },
                          "privateNotes": {
                            "type": "string"
                          },
                          "publicNotes": {
                            "type": "string"
                          },
                          "transactionReference": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "number"
                          },
                          "vendorId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoiceNinja/latest/actions/create-invoice": {
      "post": {
        "operationId": "invoiceNinja.create-invoice",
        "summary": "Create Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoiceNinja/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "clientId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "clientId": {
                    "type": "string",
                    "description": "The client hashed id."
                  },
                  "date": {
                    "type": "string",
                    "description": "The invoice date in YYYY-MM-DD format."
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "The due date in YYYY-MM-DD format."
                  },
                  "lineItems": {
                    "type": "string",
                    "description": "Array of invoice line item objects."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "archivedAt": {
                            "type": "number"
                          },
                          "autoBillEnabled": {
                            "type": "boolean"
                          },
                          "backup": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "balance": {
                            "type": "number"
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "eInvoice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "entityType": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invitations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "isDeleted": {
                            "type": "boolean"
                          },
                          "lineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "number": {
                            "type": "string"
                          },
                          "paidToDate": {
                            "type": "number"
                          },
                          "privateNotes": {
                            "type": "string"
                          },
                          "publicNotes": {
                            "type": "string"
                          },
                          "statusId": {
                            "type": "string"
                          },
                          "taxInfo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoiceNinja/latest/actions/create-payment": {
      "post": {
        "operationId": "invoiceNinja.create-payment",
        "summary": "Create Payment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoiceNinja/latest/actions/create-payment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "clientId",
                  "typeId",
                  "date",
                  "amount",
                  "invoices"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "clientId": {
                    "type": "string",
                    "description": "The client receiving the payment."
                  },
                  "typeId": {
                    "type": "string",
                    "description": "The payment type identifier."
                  },
                  "date": {
                    "type": "string",
                    "description": "The payment date."
                  },
                  "amount": {
                    "type": "number",
                    "description": "The payment amount."
                  },
                  "invoices": {
                    "type": "string",
                    "description": "Invoices to apply the payment to."
                  },
                  "transactionReference": {
                    "type": "string",
                    "description": "External transaction reference."
                  },
                  "privateNotes": {
                    "type": "string",
                    "description": "Internal payment notes."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "applied": {
                            "type": "number"
                          },
                          "archivedAt": {
                            "type": "number"
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "currencyId": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "exchangeRate": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isDeleted": {
                            "type": "boolean"
                          },
                          "isManual": {
                            "type": "boolean"
                          },
                          "number": {
                            "type": "string"
                          },
                          "paymentables": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "privateNotes": {
                            "type": "string"
                          },
                          "refunded": {
                            "type": "number"
                          },
                          "statusId": {
                            "type": "string"
                          },
                          "transactionReference": {
                            "type": "string"
                          },
                          "typeId": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoiceNinja/latest/actions/create-product": {
      "post": {
        "operationId": "invoiceNinja.create-product",
        "summary": "Create Product",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoiceNinja/latest/actions/create-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "productKey",
                  "cost",
                  "price"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "productKey": {
                    "type": "string",
                    "description": "Invoice Ninja product key."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notes or description for the product."
                  },
                  "cost": {
                    "type": "number",
                    "description": "Product cost."
                  },
                  "price": {
                    "type": "number",
                    "description": "Product price."
                  },
                  "quantity": {
                    "type": "number",
                    "description": "Product quantity. The docs show a default of 1.",
                    "default": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cost": {
                            "type": "number",
                            "description": "Product cost."
                          },
                          "created_at": {
                            "type": "number",
                            "description": "Unix timestamp when the product was created."
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Documents attached to the product."
                          },
                          "id": {
                            "type": "string",
                            "description": "Hashed product ID."
                          },
                          "in_stock_quantity": {
                            "type": "number",
                            "description": "Current in-stock quantity."
                          },
                          "is_deleted": {
                            "type": "boolean",
                            "description": "Whether the product is deleted."
                          },
                          "max_quantity": {
                            "type": "number",
                            "description": "Maximum quantity allowed."
                          },
                          "notes": {
                            "type": "string",
                            "description": "Product notes or description."
                          },
                          "price": {
                            "type": "number",
                            "description": "Product price."
                          },
                          "product_image": {
                            "type": "string",
                            "description": "Product image URL or path."
                          },
                          "product_key": {
                            "type": "string",
                            "description": "Invoice Ninja product key."
                          },
                          "quantity": {
                            "type": "number",
                            "description": "Product quantity."
                          },
                          "stock_notification": {
                            "type": "boolean",
                            "description": "Whether stock notifications are enabled."
                          },
                          "stock_notification_threshold": {
                            "type": "number",
                            "description": "Threshold for stock notifications."
                          },
                          "tax_id": {
                            "type": "string",
                            "description": "Associated tax ID."
                          },
                          "tax_name1": {
                            "type": "string",
                            "description": "Primary tax name."
                          },
                          "tax_name2": {
                            "type": "string",
                            "description": "Secondary tax name."
                          },
                          "tax_name3": {
                            "type": "string",
                            "description": "Tertiary tax name."
                          },
                          "tax_rate1": {
                            "type": "number",
                            "description": "Primary tax rate."
                          },
                          "tax_rate2": {
                            "type": "number",
                            "description": "Secondary tax rate."
                          },
                          "tax_rate3": {
                            "type": "number",
                            "description": "Tertiary tax rate."
                          },
                          "updated_at": {
                            "type": "number",
                            "description": "Unix timestamp when the product was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoiceNinja/latest/actions/create-quote": {
      "post": {
        "operationId": "invoiceNinja.create-quote",
        "summary": "Create Quote",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoiceNinja/latest/actions/create-quote"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "clientId",
                  "date",
                  "dueDate",
                  "line_items[0].product_key",
                  "line_items[0].quantity",
                  "line_items[0].cost"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "clientId": {
                    "type": "string",
                    "description": "Hashed client ID for the quote."
                  },
                  "date": {
                    "type": "string",
                    "description": "Quote date in YYYY-MM-DD format.",
                    "example": "2026-03-20"
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "Quote due date in YYYY-MM-DD format.",
                    "example": "2026-03-27"
                  },
                  "publicNotes": {
                    "type": "string",
                    "description": "Public notes for the quote."
                  },
                  "line_items[0].product_key": {
                    "type": "string",
                    "description": "Product key for the first line item."
                  },
                  "line_items[0].quantity": {
                    "type": "number",
                    "description": "Quantity for the first line item."
                  },
                  "line_items[0].cost": {
                    "type": "number",
                    "description": "Cost for the first line item."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "archived_at": {
                            "type": "number"
                          },
                          "balance": {
                            "type": "number"
                          },
                          "client_id": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "due_date": {
                            "type": "string"
                          },
                          "entity_type": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invitations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "is_deleted": {
                            "type": "boolean"
                          },
                          "line_items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "number": {
                            "type": "string"
                          },
                          "public_notes": {
                            "type": "string"
                          },
                          "status_id": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/invoiceNinja/latest/actions/create-recurring-invoice": {
      "post": {
        "operationId": "invoiceNinja.create-recurring-invoice",
        "summary": "Create Recurring Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/invoiceNinja/latest/actions/create-recurring-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "clientId",
                  "date",
                  "dueDate",
                  "frequencyId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "clientId": {
                    "type": "string",
                    "description": "The client to bill."
                  },
                  "date": {
                    "type": "string",
                    "description": "The recurring invoice date."
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "The recurring invoice due date."
                  },
                  "frequencyId": {
                    "type": "string",
                    "description": "The recurrence frequency."
                  },
                  "remainingCycles": {
                    "type": "string",
                    "description": "Optional number of remaining cycles."
                  },
                  "privateNotes": {
                    "type": "string",
                    "description": "Internal recurring invoice notes."
                  },
                  "lineItems": {
                    "type": "string",
                    "description": "Line items for the recurring invoice."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "archivedAt": {
                            "type": "number"
                          },
                          "autoBill": {
                            "type": "string"
                          },
                          "autoBillEnabled": {
                            "type": "boolean"
                          },
                          "balance": {
                            "type": "number"
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "eInvoice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "entityType": {
                            "type": "string"
                          },
                          "frequencyId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invitations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "isDeleted": {
[...]
