{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Finnish BIS Universal API",
    "version": "0.1.4",
    "description": "Public Finnish Business Information System open-data API from the Finnish Patent and Registration Office (PRH) for searching Finnish companies, retrieving code-list descriptions, postal-code data, and the downloadable company register dataset."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/finnishBIS/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/finnishBIS/latest/actions/get-code-list-description": {
      "get": {
        "operationId": "finnishBIS.get-code-list-description",
        "summary": "Get Code List Description",
        "description": "Retrieves code list details from Finnish BIS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/finnishBIS/latest/actions/get-code-list-description"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "PRH code list identifier to retrieve.",
            "schema": {
              "type": "string",
              "description": "PRH code list identifier to retrieve.",
              "enum": [
                "KIELI",
                "KONK",
                "REK",
                "REK_KDI",
                "SANE",
                "SELTILA",
                "SELTILA,SANE,KONK",
                "STATUS3",
                "TLAHDE",
                "TLAJI",
                "TOIMI",
                "TOIMI2",
                "TOIMI3",
                "TOIMI4",
                "VIRANOM",
                "YRMU"
              ],
              "default": "YRMU"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "description": "Language code for the code list description.",
            "schema": {
              "type": "string",
              "description": "Language code for the code list description.",
              "enum": [
                "en",
                "fi",
                "sv"
              ],
              "default": "en"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string",
                            "description": "Plain-text tab-separated code-list description returned by PRH."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/finnishBIS/latest/actions/list-post-codes": {
      "get": {
        "operationId": "finnishBIS.list-post-codes",
        "summary": "List Post Codes",
        "description": "Retrieves postal code details from Finnish BIS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/finnishBIS/latest/actions/list-post-codes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": true,
            "description": "Language code for postal code details.",
            "schema": {
              "type": "string",
              "description": "Language code for postal code details.",
              "enum": [
                "en",
                "fi",
                "sv"
              ],
              "default": "en"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Whether the post code is active."
                          },
                          "city": {
                            "type": "string",
                            "description": "Postal city or destination name."
                          },
                          "languageCode": {
                            "type": "string",
                            "description": "Language code used by the source record."
                          },
                          "municipalityCode": {
                            "type": "string",
                            "description": "Finnish municipality code."
                          },
                          "postCode": {
                            "type": "string",
                            "description": "Finnish postal code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/finnishBIS/latest/actions/search-companies": {
      "get": {
        "operationId": "finnishBIS.search-companies",
        "summary": "Search Companies",
        "description": "Finds companies in Finnish BIS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/finnishBIS/latest/actions/search-companies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Company name. Searches current, previous, parallel, and auxiliary company names.",
            "schema": {
              "type": "string",
              "description": "Company name. Searches current, previous, parallel, and auxiliary company names."
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "Town or city.",
            "schema": {
              "type": "string",
              "description": "Town or city.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "businessId",
            "in": "query",
            "required": false,
            "description": "Finnish Business ID, for example 0116297-6.",
            "schema": {
              "type": "string",
              "description": "Finnish Business ID, for example 0116297-6."
            }
          },
          {
            "name": "companyForm",
            "in": "query",
            "required": false,
            "description": "Company form code from the PRH YRMU code list.",
            "schema": {
              "type": "string",
              "description": "Company form code from the PRH YRMU code list.",
              "enum": [
                "AOY",
                "ASH",
                "ASY",
                "AY",
                "AYH",
                "ETS",
                "ETY",
                "HY",
                "KOY",
                "KVJ",
                "KVY",
                "KY",
                "OK",
                "OP",
                "OY",
                "OYJ",
                "SCE",
                "SCP",
                "SE",
                "SL",
                "SP",
                "SÄÄ",
                "TYH",
                "VALTLL",
                "VOJ",
                "VOY",
                "VY"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "mainBusinessLine",
            "in": "query",
            "required": false,
            "description": "Statistics Finland TOL 2008 main business line code or text.",
            "schema": {
              "type": "string",
              "description": "Statistics Finland TOL 2008 main business line code or text.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "registrationDateStart",
            "in": "query",
            "required": false,
            "description": "Company registration date range start in yyyy-mm-dd format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Company registration date range start in yyyy-mm-dd format.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "registrationDateEnd",
            "in": "query",
            "required": false,
            "description": "Company registration date range end in yyyy-mm-dd format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Company registration date range end in yyyy-mm-dd format.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "postCode",
            "in": "query",
            "required": false,
            "description": "Postal code of street or postal address.",
            "schema": {
              "type": "string",
              "description": "Postal code of street or postal address.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "businessIdRegistrationStart",
            "in": "query",
            "required": false,
            "description": "Business ID grant date range start in yyyy-mm-dd format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Business ID grant date range start in yyyy-mm-dd format.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "businessIdRegistrationEnd",
            "in": "query",
            "required": false,
            "description": "Business ID grant date range end in yyyy-mm-dd format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Business ID grant date range end in yyyy-mm-dd format.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Results page number. If omitted or out of range, PRH returns the first page.",
            "schema": {
              "type": "number",
              "description": "Results page number. If omitted or out of range, PRH returns the first page.",
              "default": 1,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Company address records."
                          },
                          "businessId": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Finnish Business ID object, including the displayed value."
                          },
                          "companyForms": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Company-form classifications."
                          },
                          "companySituations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Company situation/status classifications."
                          },
                          "euId": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "EU identifier object when available."
                          },
                          "lastModified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modification timestamp for this result."
                          },
                          "mainBusinessLine": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Primary business-line classification for the company."
                          },
                          "names": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Company names returned by the BIS search result."
                          },
                          "registeredEntries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Registry entries associated with the company."
                          },
                          "registrationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Company registration date."
                          },
                          "status": {
                            "type": "string",
                            "description": "Overall company status."
                          },
                          "tradeRegisterStatus": {
                            "type": "string",
                            "description": "Trade-register status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
