{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Strale Universal API",
    "version": "0.0.2",
    "description": "Run Strale capabilities, search solutions, and verify transactions"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/strale/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/strale/latest/actions/create-wallet-top-up": {
      "post": {
        "operationId": "strale.create-wallet-top-up",
        "summary": "Create Wallet Top-Up",
        "description": "Creates a wallet top-up checkout session in Strale.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/strale/latest/actions/create-wallet-top-up"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "amount_cents"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amount_cents": {
                    "type": "number",
                    "description": "Top-up amount in euro cents."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountCents": {
                            "type": "number",
                            "description": "Requested top-up amount in cents."
                          },
                          "checkoutUrl": {
                            "type": "string",
                            "description": "Stripe Checkout URL for the wallet top-up session."
                          },
                          "sessionId": {
                            "type": "string",
                            "description": "Created checkout session identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/strale/latest/actions/execute-capability": {
      "post": {
        "operationId": "strale.execute-capability",
        "summary": "Execute Capability",
        "description": "Executes a capability in Strale.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/strale/latest/actions/execute-capability"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "capability_slug"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "capability_slug": {
                    "type": "string",
                    "description": "Capability slug to execute directly."
                  },
                  "dry_run": {
                    "type": "boolean",
                    "description": "Return the matched capability without executing it."
                  },
                  "inputs": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Capability-specific input object."
                  },
                  "max_price_cents": {
                    "type": "number",
                    "description": "Maximum price you are willing to pay in euro cents."
                  },
                  "min_sqs": {
                    "type": "number",
                    "description": "Minimum acceptable Strale Quality Score."
                  },
                  "timeout_seconds": {
                    "type": "number",
                    "description": "Maximum execution time in seconds."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dryRun": {
                            "type": "boolean",
                            "description": "Whether the result is a dry-run preview."
                          },
                          "priceCents": {
                            "type": "number",
                            "description": "Estimated execution price in cents."
                          },
                          "walletBalanceCents": {
                            "type": "number",
                            "description": "Current wallet balance in cents."
                          },
                          "walletSufficient": {
                            "type": "boolean",
                            "description": "Whether the wallet can cover the estimated cost."
                          },
                          "wouldExecute": {
                            "type": "string",
                            "description": "Capability slug that would run."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/strale/latest/actions/execute-task": {
      "post": {
        "operationId": "strale.execute-task",
        "summary": "Execute Task",
        "description": "Executes a task in Strale using semantic matching.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/strale/latest/actions/execute-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "dry_run": {
                    "type": "boolean",
                    "description": "Return the matched capability without executing it."
                  },
                  "max_price_cents": {
                    "type": "number",
                    "description": "Maximum price you are willing to pay in euro cents."
                  },
                  "min_sqs": {
                    "type": "number",
                    "description": "Minimum acceptable Strale Quality Score."
                  },
                  "task": {
                    "type": "string",
                    "description": "Natural language task to execute."
                  },
                  "timeout_seconds": {
                    "type": "number",
                    "description": "Maximum execution time in seconds."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dryRun": {
                            "type": "boolean",
                            "description": "Whether the result is a dry-run preview."
                          },
                          "priceCents": {
                            "type": "number",
                            "description": "Estimated execution price in cents."
                          },
                          "walletBalanceCents": {
                            "type": "number",
                            "description": "Current wallet balance in cents."
                          },
                          "walletSufficient": {
                            "type": "boolean",
                            "description": "Whether the wallet can cover the estimated cost."
                          },
                          "wouldExecute": {
                            "type": "string",
                            "description": "Capability slug that would run."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/strale/latest/actions/get-capability": {
      "get": {
        "operationId": "strale.get-capability",
        "summary": "Get Capability",
        "description": "Retrieves a capability from Strale.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/strale/latest/actions/get-capability"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "description": "Capability slug.",
            "schema": {
              "type": "string",
              "description": "Capability slug."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string",
                            "description": "Capability category."
                          },
                          "dataSource": {
                            "type": "string",
                            "description": "Primary data source description."
                          },
                          "description": {
                            "type": "string",
                            "description": "Capability description."
                          },
                          "geography": {
                            "type": "string",
                            "description": "Geography scope."
                          },
                          "isFreeTier": {
                            "type": "boolean",
                            "description": "Whether the capability is available in a free tier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Capability name."
                          },
                          "priceCents": {
                            "type": "number",
                            "description": "Capability price in cents."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Capability slug."
                          },
                          "transparencyTag": {
                            "type": "string",
                            "description": "Transparency classification."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/strale/latest/actions/get-capability-quality": {
      "get": {
        "operationId": "strale.get-capability-quality",
        "summary": "Get Capability Quality",
        "description": "Retrieves a capability quality score from Strale.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/strale/latest/actions/get-capability-quality"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "description": "Capability slug.",
            "schema": {
              "type": "string",
              "description": "Capability slug."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capability": {
                            "type": "string",
                            "description": "Capability slug covered by this quality report."
                          },
                          "pending": {
                            "type": "boolean",
                            "description": "Whether quality data is still pending."
                          },
                          "qualityProfile": {
                            "type": "object",
                            "properties": {
                              "grade": {
                                "type": "string",
                                "description": "Overall quality grade."
                              },
                              "label": {
                                "type": "string",
                                "description": "Human-readable quality label."
                              },
                              "score": {
                                "type": "number",
                                "description": "Overall quality score."
                              }
                            },
                            "additionalProperties": false
                          },
                          "reliabilityProfile": {
                            "type": "object",
                            "properties": {
                              "capabilityType": {
                                "type": "string",
                                "description": "Provider reliability model classification."
                              },
                              "grade": {
                                "type": "string",
                                "description": "Overall reliability grade."
                              },
                              "label": {
                                "type": "string",
                                "description": "Human-readable reliability label."
                              },
                              "score": {
                                "type": "number",
                                "description": "Overall reliability score."
                              }
                            },
                            "additionalProperties": false
                          },
                          "runsAnalyzed": {
                            "type": "number",
                            "description": "Number of historical runs included in this report."
                          },
                          "sqs": {
                            "type": "object",
                            "properties": {
                              "freshnessLevel": {
                                "type": "string",
                                "description": "Freshness indicator for recent tests."
                              },
                              "label": {
                                "type": "string",
                                "description": "Human-readable SQS label."
                              },
                              "rawScore": {
                                "type": "number",
                                "description": "Underlying unrounded Strale quality score."
                              },
                              "score": {
                                "type": "number",
                                "description": "Current Strale quality score."
                              },
                              "trend": {
                                "type": "string",
                                "description": "Current score trend."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/strale/latest/actions/get-solution": {
      "get": {
        "operationId": "strale.get-solution",
        "summary": "Get Solution",
        "description": "Retrieves a solution from Strale.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/strale/latest/actions/get-solution"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "description": "Solution slug.",
            "schema": {
              "type": "string",
              "description": "Solution slug."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agentDescription": {
                            "type": "string",
                            "description": "Search-oriented agent description."
                          },
                          "category": {
                            "type": "string",
                            "description": "Solution category."
                          },
                          "componentSumCents": {
                            "type": "number",
                            "description": "Combined price of component capabilities."
                          },
                          "description": {
                            "type": "string",
                            "description": "Short solution description."
                          },
                          "geography": {
                            "type": "string",
                            "description": "Geography scope."
                          },
                          "longDescription": {
                            "type": "string",
                            "description": "Detailed solution description."
                          },
                          "marketingName": {
                            "type": "string",
                            "description": "Optional marketing-facing name."
                          },
                          "name": {
                            "type": "string",
                            "description": "Solution name."
                          },
                          "priceCents": {
                            "type": "number",
                            "description": "Solution price in cents."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Solution slug."
                          },
                          "targetAudience": {
                            "type": "string",
                            "description": "Primary target audience."
                          },
                          "transparencyTag": {
                            "type": "string",
                            "description": "Transparency classification."
                          },
                          "valueTier": {
                            "type": "string",
                            "description": "Provider value tier label."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/strale/latest/actions/get-transaction": {
      "get": {
        "operationId": "strale.get-transaction",
        "summary": "Get Transaction",
        "description": "Retrieves a transaction from Strale.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/strale/latest/actions/get-transaction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Transaction ID.",
            "schema": {
              "type": "string",
              "description": "Transaction ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capabilitySlug": {
                            "type": "string",
                            "description": "Capability slug when the transaction is capability-based."
                          },
                          "completedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Transaction completion timestamp."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Transaction creation timestamp."
                          },
                          "dataJurisdiction": {
                            "type": "string",
                            "description": "Jurisdiction label for processed data."
                          },
                          "id": {
                            "type": "string",
                            "description": "Transaction identifier."
                          },
                          "input": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "Submitted email input."
                              }
                            },
                            "additionalProperties": false
                          },
                          "isFreeTier": {
                            "type": "boolean",
                            "description": "Whether this run used a free-tier allowance."
                          },
                          "latencyMs": {
                            "type": "number",
                            "description": "Observed latency in milliseconds."
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "domain": {
                                "type": "string",
                                "description": "Resolved email domain."
                              },
                              "email": {
                                "type": "string",
                                "description": "Validated email output."
                              },
                              "formatValid": {
                                "type": "boolean",
                                "description": "Whether the input format was valid."
                              },
                              "hasMxRecords": {
                                "type": "boolean",
                                "description": "Whether MX records were found for the domain."
                              },
                              "isDisposable": {
                                "type": "boolean",
                                "description": "Whether the email uses a disposable provider."
                              },
                              "isFreeProvider": {
                                "type": "boolean",
                                "description": "Whether the email uses a free email provider."
                              },
                              "isRoleAddress": {
                                "type": "boolean",
                                "description": "Whether the mailbox looks like a role address."
                              },
                              "valid": {
                                "type": "boolean",
                                "description": "Whether the email was considered valid."
                              }
                            },
                            "additionalProperties": false
                          },
                          "priceCents": {
                            "type": "number",
                            "description": "Transaction price in cents."
                          },
                          "provenance": {
                            "type": "object",
                            "properties": {
                              "fetchedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When upstream data was fetched."
                              },
                              "source": {
                                "type": "string",
                                "description": "Primary provenance source."
                              }
                            },
                            "additionalProperties": false
                          },
                          "quality": {
                            "type": "object",
                            "properties": {
                              "qualityGrade": {
                                "type": "string",
                                "description": "Overall quality grade."
                              },
                              "reliabilityGrade": {
                                "type": "string",
                                "description": "Overall reliability grade."
                              },
                              "sqs": {
                                "type": "number",
                                "description": "Strale quality score for this transaction."
                              },
                              "sqsLabel": {
                                "type": "string",
                                "description": "Human-readable transaction quality label."
                              },
                              "strategy": {
                                "type": "string",
                                "description": "Execution strategy used for this result."
                              },
                              "usable": {
                                "type": "boolean",
                                "description": "Whether the result is considered usable."
                              }
                            },
                            "additionalProperties": false
                          },
                          "solutionSlug": {
                            "type": "string",
                            "description": "Solution slug when the transaction is solution-based."
                          },
                          "status": {
                            "type": "string",
                            "description": "Transaction status."
                          },
                          "transparencyMarker": {
                            "type": "string",
                            "description": "Transparency marker for the execution path."
                          },
                          "type": {
                            "type": "string",
                            "description": "Transaction type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/strale/latest/actions/get-wallet-balance": {
      "get": {
        "operationId": "strale.get-wallet-balance",
        "summary": "Get Wallet Balance",
        "description": "Retrieves your wallet balance from Strale.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/strale/latest/actions/get-wallet-balance"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balanceCents": {
                            "type": "number",
                            "description": "Wallet balance in cents."
                          },
                          "currency": {
                            "type": "string",
                            "description": "Wallet currency code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/strale/latest/actions/list-capabilities": {
      "get": {
        "operationId": "strale.list-capabilities",
        "summary": "List Capabilities",
        "description": "Retrieves capabilities from Strale.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/strale/latest/actions/list-capabilities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string",
                            "description": "Capability category."
                          },
                          "dataSource": {
                            "type": "string",
                            "description": "Primary data source description."
                          },
                          "description": {
                            "type": "string",
                            "description": "Capability description."
                          },
                          "freshnessLevel": {
                            "type": "string",
                            "description": "Freshness indicator."
                          },
                          "geography": {
                            "type": "string",
                            "description": "Geography scope."
                          },
                          "isFreeTier": {
                            "type": "boolean",
                            "description": "Whether the capability is available in a free tier."
                          },
                          "lastTestedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Most recent test timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "Capability name."
                          },
                          "priceCents": {
                            "type": "number",
                            "description": "Capability price in cents."
                          },
                          "quality": {
                            "type": "string",
                            "description": "Quality grade."
                          },
                          "reliability": {
                            "type": "string",
                            "description": "Reliability grade."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Capability slug."
                          },
                          "sqs": {
                            "type": "number",
                            "description": "Strale quality score."
                          },
                          "sqsLabel": {
                            "type": "string",
                            "description": "Human-readable quality label."
                          },
                          "strategy": {
                            "type": "string",
                            "description": "Execution strategy."
                          },
                          "transparencyTag": {
                            "type": "string",
                            "description": "Transparency classification."
                          },
                          "trend": {
                            "type": "string",
                            "description": "Current trend label."
                          },
                          "usable": {
                            "type": "boolean",
                            "description": "Whether the capability is currently usable."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/strale/latest/actions/list-solutions": {
      "get": {
        "operationId": "strale.list-solutions",
        "summary": "List Solutions",
        "description": "Retrieves solutions from Strale.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/strale/latest/actions/list-solutions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter by solution category slug.",
            "schema": {
              "type": "string",
              "description": "Filter by solution category slug."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string",
                            "description": "Solution category."
                          },
                          "description": {
                            "type": "string",
                            "description": "Solution description."
                          },
                          "freshnessLevel": {
                            "type": "string",
                            "description": "Freshness indicator."
                          },
                          "geography": {
                            "type": "string",
                            "description": "Geography scope."
                          },
                          "lastTestedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Most recent test timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "Solution name."
                          },
                          "priceCents": {
                            "type": "number",
                            "description": "Solution price in cents."
                          },
                          "quality": {
                            "type": "string",
                            "description": "Quality grade."
                          },
                          "reliability": {
                            "type": "string",
                            "description": "Reliability grade."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Solution slug."
                          },
                          "sqs": {
                            "type": "number",
                            "description": "Strale quality score."
                          },
                          "sqsLabel": {
                            "type": "string",
                            "description": "Human-readable quality label."
                          },
                          "stepCount": {
                            "type": "number",
                            "description": "Number of steps in the solution."
                          },
                          "strategy": {
                            "type": "string",
                            "description": "Execution strategy."
                          },
                          "transparencyTag": {
                            "type": "string",
                            "description": "Transparency classification."
                          },
                          "trend": {
                            "type": "string",
                            "description": "Current trend label."
                          },
                          "usable": {
                            "type": "boolean",
                            "description": "Whether the solution is currently usable."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/strale/latest/actions/list-transactions": {
      "get": {
        "operationId": "strale.list-transactions",
        "summary": "List Transactions",
        "description": "Retrieves transactions from Strale.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/strale/latest/actions/list-transactions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capabilitySlug": {
                            "type": "string",
                            "description": "Capability slug when the transaction is capability-based."
                          },
                          "completedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Transaction completion timestamp."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Transaction creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Transaction identifier."
                          },
                          "latencyMs": {
                            "type": "number",
                            "description": "Observed latency in milliseconds."
                          },
                          "priceCents": {
                            "type": "number",
                            "description": "Transaction price in cents."
                          },
                          "solutionSlug": {
                            "type": "string",
                            "description": "Solution slug when the transaction is solution-based."
                          },
                          "status": {
                            "type": "string",
                            "description": "Transaction status."
                          },
                          "type": {
                            "type": "string",
                            "description": "Transaction type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/strale/latest/actions/list-wallet-transactions": {
      "get": {
        "operationId": "strale.list-wallet-transactions",
        "summary": "List Wallet Transactions",
        "description": "Retrieves wallet transactions from Strale.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/strale/latest/actions/list-wallet-transactions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountCents": {
                            "type": "number",
                            "description": "Wallet transaction amount in cents."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Wallet transaction creation timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Wallet transaction description."
                          },
                          "id": {
                            "type": "string",
                            "description": "Wallet transaction identifier."
                          },
                          "type": {
                            "type": "string",
                            "description": "Wallet transaction type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/strale/latest/actions/reissue-audit-token": {
      "post": {
        "operationId": "strale.reissue-audit-token",
        "summary": "Reissue Audit Token",
        "description": "Reissues an audit token for a transaction in Strale.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/strale/latest/actions/reissue-audit-token"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "expires_in_days": {
                    "type": "number",
                    "description": "Number of days before the new audit token expires."
                  },
                  "id": {
                    "type": "string",
                    "description": "Transaction ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "auditUrl": {
                            "type": "string",
                            "description": "Shareable audit URL."
                          },
[...]
