{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SalesViewer Universal API",
    "version": "0.0.6",
    "description": "SalesViewer is a website visitor intelligence platform that exposes a compact REST API for querying tracked visitor sessions and related website activity."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/salesViewer/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/salesViewer/latest/actions/search-sessions": {
      "get": {
        "operationId": "salesViewer.search-sessions",
        "summary": "Search Sessions",
        "description": "Finds sessions in SalesViewer by query parameters.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/salesViewer/latest/actions/search-sessions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Starting datetime for the session query.",
            "schema": {
              "type": "string",
              "description": "Starting datetime for the session query."
            }
          },
          {
            "name": "include_company",
            "in": "query",
            "required": false,
            "description": "Include company details in each session.",
            "schema": {
              "type": "boolean",
              "description": "Include company details in each session."
            }
          },
          {
            "name": "include_company_sector",
            "in": "query",
            "required": false,
            "description": "Include company sector when company data is requested.",
            "schema": {
              "type": "boolean",
              "description": "Include company sector when company data is requested."
            }
          },
          {
            "name": "include_hidden",
            "in": "query",
            "required": false,
            "description": "Include frontend-hidden companies.",
            "schema": {
              "type": "boolean",
              "description": "Include frontend-hidden companies."
            }
          },
          {
            "name": "include_visits",
            "in": "query",
            "required": false,
            "description": "Include visit details in each session.",
            "schema": {
              "type": "boolean",
              "description": "Include visit details in each session."
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "description": "Locale used for localized output fields.",
            "schema": {
              "type": "string",
              "description": "Locale used for localized output fields."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based result page number.",
            "schema": {
              "type": "number",
              "description": "1-based result page number."
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of entries per page.",
            "schema": {
              "type": "number",
              "description": "Number of entries per page."
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "SVQL query string used to filter sessions.",
            "schema": {
              "type": "string",
              "description": "SVQL query string used to filter sessions."
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "Timezone used for input and output datetimes.",
            "schema": {
              "type": "string",
              "description": "Timezone used for input and output datetimes."
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Ending datetime for the session query.",
            "schema": {
              "type": "string",
              "description": "Ending datetime for the session query."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pagination": {
                            "type": "object",
                            "properties": {
                              "current": {
                                "type": "number",
                                "description": "Current 1-based page number."
                              },
                              "isFirst": {
                                "type": "boolean",
                                "description": "Whether the current page is the first page."
                              },
                              "isLast": {
                                "type": "boolean",
                                "description": "Whether the current page is the last page."
                              },
                              "pageSize": {
                                "type": "number",
                                "description": "Number of entries per page."
                              },
                              "total": {
                                "type": "number",
                                "description": "Total number of available records reported by SalesViewer."
                              },
                              "totalItems": {
                                "type": "number",
                                "description": "Total number of items available across all pages."
                              }
                            },
                            "additionalProperties": false
                          },
                          "result": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "List of session records returned by SalesViewer."
                          },
                          "totals": {
                            "type": "object",
                            "properties": {
                              "companies": {
                                "type": "number",
                                "description": "Total number of unique companies in the result set."
                              },
                              "interest_visits": {
                                "type": "number",
                                "description": "Total number of interest-triggering visits in the result set."
                              },
                              "interests": {
                                "type": "number",
                                "description": "Total number of interests in the result set."
                              },
                              "sessions": {
                                "type": "number",
                                "description": "Total number of unique sessions in the result set."
                              },
                              "visits": {
                                "type": "number",
                                "description": "Total number of page visits in the result set."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/salesViewer/latest/actions/search-sessions-by-form-data": {
      "get": {
        "operationId": "salesViewer.search-sessions-by-form-data",
        "summary": "Search Sessions by Form Data",
        "description": "Finds sessions in SalesViewer by form data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/salesViewer/latest/actions/search-sessions-by-form-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Starting datetime for the session query.",
            "schema": {
              "type": "string",
              "description": "Starting datetime for the session query."
            }
          },
          {
            "name": "include_company",
            "in": "query",
            "required": false,
            "description": "Include company details in each session.",
            "schema": {
              "type": "boolean",
              "description": "Include company details in each session."
            }
          },
          {
            "name": "include_company_sector",
            "in": "query",
            "required": false,
            "description": "Include company sector when company data is requested.",
            "schema": {
              "type": "boolean",
              "description": "Include company sector when company data is requested."
            }
          },
          {
            "name": "include_hidden",
            "in": "query",
            "required": false,
            "description": "Include frontend-hidden companies.",
            "schema": {
              "type": "boolean",
              "description": "Include frontend-hidden companies."
            }
          },
          {
            "name": "include_visits",
            "in": "query",
            "required": false,
            "description": "Include visit details in each session.",
            "schema": {
              "type": "boolean",
              "description": "Include visit details in each session."
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "description": "Locale used for localized output fields.",
            "schema": {
              "type": "string",
              "description": "Locale used for localized output fields."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based result page number.",
            "schema": {
              "type": "number",
              "description": "1-based result page number."
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of entries per page.",
            "schema": {
              "type": "number",
              "description": "Number of entries per page."
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "SVQL query string used to filter sessions.",
            "schema": {
              "type": "string",
              "description": "SVQL query string used to filter sessions."
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "Timezone used for input and output datetimes.",
            "schema": {
              "type": "string",
              "description": "Timezone used for input and output datetimes."
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Ending datetime for the session query.",
            "schema": {
              "type": "string",
              "description": "Ending datetime for the session query."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pagination": {
                            "type": "object",
                            "properties": {
                              "current": {
                                "type": "number",
                                "description": "Current 1-based page number."
                              },
                              "isFirst": {
                                "type": "boolean",
                                "description": "Whether the current page is the first page."
                              },
                              "isLast": {
                                "type": "boolean",
                                "description": "Whether the current page is the last page."
                              },
                              "pageSize": {
                                "type": "number",
                                "description": "Number of entries per page."
                              },
                              "total": {
                                "type": "number",
                                "description": "Total number of available records reported by SalesViewer."
                              },
                              "totalItems": {
                                "type": "number",
                                "description": "Total number of items available across all pages."
                              }
                            },
                            "additionalProperties": false
                          },
                          "result": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "List of session records returned by SalesViewer."
                          },
                          "totals": {
                            "type": "object",
                            "properties": {
                              "companies": {
                                "type": "number",
                                "description": "Total number of unique companies in the result set."
                              },
                              "interest_visits": {
                                "type": "number",
                                "description": "Total number of interest-triggering visits in the result set."
                              },
                              "interests": {
                                "type": "number",
                                "description": "Total number of interests in the result set."
                              },
                              "sessions": {
                                "type": "number",
                                "description": "Total number of unique sessions in the result set."
                              },
                              "visits": {
                                "type": "number",
                                "description": "Total number of page visits in the result set."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
