{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "goQR.me Universal API",
    "version": "0.0.2",
    "description": "Create and scan QR codes with goQR.me"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/goQRme/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/goQRme/latest/actions/create-qr-code": {
      "post": {
        "operationId": "goQRme.create-qr-code",
        "summary": "Create QR Code",
        "description": "Creates a QR code with goQR.me.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goQRme/latest/actions/create-qr-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data": {
                    "type": "string",
                    "description": "Text to encode in the QR code.",
                    "example": "Hello World"
                  },
                  "size": {
                    "type": "string",
                    "description": "Generated QR code size in pixels.",
                    "example": "200x200",
                    "default": "200x200"
                  },
                  "charsetSource": {
                    "type": "string",
                    "description": "Charset used to encode the input text.",
                    "enum": [
                      "ISO-8859-1",
                      "UTF-8"
                    ],
                    "default": "UTF-8"
                  },
                  "charsetTarget": {
                    "type": "string",
                    "description": "Charset to store inside the QR code.",
                    "enum": [
                      "ISO-8859-1",
                      "UTF-8"
                    ],
                    "default": "UTF-8"
                  },
                  "ecc": {
                    "type": "string",
                    "description": "QR error correction level.",
                    "enum": [
                      "H",
                      "L",
                      "M",
                      "Q"
                    ],
                    "default": "L"
                  },
                  "color": {
                    "type": "string",
                    "description": "QR data-module color.",
                    "example": "0-0-0",
                    "default": "0-0-0"
                  },
                  "bgcolor": {
                    "type": "string",
                    "description": "QR background color.",
                    "example": "255-255-255",
                    "default": "255-255-255"
                  },
                  "margin": {
                    "type": "number",
                    "description": "Pixel margin around the QR code.",
                    "default": 1
                  },
                  "qzone": {
                    "type": "number",
                    "description": "Quiet zone around the QR code.",
                    "default": 0
                  },
                  "format": {
                    "type": "string",
                    "description": "File format for the generated QR code image.",
                    "enum": [
                      "eps",
                      "gif",
                      "jpeg",
                      "jpg",
                      "png",
                      "svg"
                    ],
                    "default": "png"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/goQRme/latest/actions/read-qr-code": {
      "get": {
        "operationId": "goQRme.read-qr-code",
        "summary": "Read QR Code",
        "description": "Reads a QR code with goQR.me.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/goQRme/latest/actions/read-qr-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileurl",
            "in": "query",
            "required": false,
            "description": "URL of a publicly reachable QR code image.",
            "schema": {
              "type": "string",
              "description": "URL of a publicly reachable QR code image.",
              "example": "https://example.com/qr-code.png"
            }
          },
          {
            "name": "file",
            "in": "query",
            "required": false,
            "description": "Upload a QR code image file.",
            "schema": {
              "type": "string",
              "description": "Upload a QR code image file."
            }
          },
          {
            "name": "outputformat",
            "in": "query",
            "required": false,
            "description": "Response format for the scan result.",
            "schema": {
              "type": "string",
              "description": "Response format for the scan result.",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "json"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "string"
                                },
                                "error": {
                                  "type": "string"
                                },
                                "seq": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
