{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Moco Universal API",
    "version": "0.0.6",
    "description": "Track project time, manage invoices, and view team workloads in MOCO"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/moco/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/moco/latest/actions/create-activity": {
      "post": {
        "operationId": "moco.create-activity",
        "summary": "Create Activity",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moco/latest/actions/create-activity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "billable": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "remoteId": {
                    "type": "string"
                  },
                  "remoteService": {
                    "type": "string"
                  },
                  "remoteUrl": {
                    "type": "string"
                  },
                  "seconds": {
                    "type": "string"
                  },
                  "tag": {
                    "type": "string"
                  },
                  "taskId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billable": {
                            "type": "boolean"
                          },
                          "billed": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "date": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "hourlyRate": {
                            "type": "number"
                          },
                          "hours": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "invoiceId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "project": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "billable": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "remoteId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "remoteService": {
                            "type": "string"
                          },
                          "remoteUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "seconds": {
                            "type": "number"
                          },
                          "tag": {
                            "type": "string"
                          },
                          "task": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "billable": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "timerStartedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "firstname": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "lastname": {
                                "type": "string"
                              }
                            }
                          },
                          "workedSeconds": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moco/latest/actions/create-comment": {
      "post": {
        "operationId": "moco.create-comment",
        "summary": "Create Comment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moco/latest/actions/create-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "attachmentContent": {
                    "type": "string"
                  },
                  "attachmentFilename": {
                    "type": "string"
                  },
                  "commentableId": {
                    "type": "string"
                  },
                  "commentableType": {
                    "type": "string"
                  },
                  "createdAt": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "commentableId": {
                            "type": "number"
                          },
                          "commentableType": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "manual": {
                            "type": "boolean"
                          },
                          "text": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "firstname": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "lastname": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moco/latest/actions/create-company": {
      "post": {
        "operationId": "moco.create-company",
        "summary": "Create Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moco/latest/actions/create-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "address": {
                    "type": "string"
                  },
                  "alternativeCorrespondenceLanguage": {
                    "type": "string"
                  },
                  "bankBic": {
                    "type": "string"
                  },
                  "bankOwner": {
                    "type": "string"
                  },
                  "billingEmailCc": {
                    "type": "string"
                  },
                  "billingNotes": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "string"
                  },
                  "creditNumber": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "customerTax": {
                    "type": "string"
                  },
                  "customerVatCodeId": {
                    "type": "string"
                  },
                  "customProperties": {
                    "type": "string"
                  },
                  "debitNumber": {
                    "type": "string"
                  },
                  "defaultInvoiceDueDays": {
                    "type": "string"
                  },
                  "defaultPaymentMeans": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "fax": {
                    "type": "string"
                  },
                  "footer": {
                    "type": "string"
                  },
                  "iban": {
                    "type": "string"
                  },
                  "identifier": {
                    "type": "string"
                  },
                  "info": {
                    "type": "string"
                  },
                  "invoiceFormat": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "supplierTax": {
                    "type": "string"
                  },
                  "supplierVatCodeId": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  },
                  "vatIdentifier": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "address": {
                            "type": "string"
                          },
                          "alternativeCorrespondenceLanguage": {
                            "type": "boolean"
                          },
                          "archivedOn": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "billingEmailCc": {
                            "type": "string"
                          },
                          "billingNotes": {
                            "type": "string"
                          },
                          "billingTax": {
                            "type": "number"
                          },
                          "billingVat": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "active": {
                                "type": "boolean"
                              },
                              "code": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "creditAccount": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "intraEu": {
                                "type": "boolean"
                              },
                              "noticeTaxExemption": {
                                "type": "string"
                              },
                              "noticeTaxExemptionAlt": {
                                "type": "string"
                              },
                              "noticeTaxExemptionEn": {
                                "type": "string"
                              },
                              "printGrossTotal": {
                                "type": "boolean"
                              },
                              "reverseCharge": {
                                "type": "boolean"
                              },
                              "tax": {
                                "type": "number"
                              }
                            }
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customerVat": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "active": {
                                "type": "boolean"
                              },
                              "code": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "creditAccount": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "intraEu": {
                                "type": "boolean"
                              },
                              "noticeTaxExemption": {
                                "type": "string"
                              },
                              "noticeTaxExemptionAlt": {
                                "type": "string"
                              },
                              "noticeTaxExemptionEn": {
                                "type": "string"
                              },
                              "printGrossTotal": {
                                "type": "boolean"
                              },
                              "reverseCharge": {
                                "type": "boolean"
                              },
                              "tax": {
                                "type": "number"
                              }
                            }
                          },
                          "customProperties": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customRates": {
                            "type": "boolean"
                          },
                          "defaultCashDiscount": {
                            "type": "number"
                          },
                          "defaultCashDiscountDays": {
                            "type": "number"
                          },
                          "defaultDiscount": {
                            "type": "number"
                          },
                          "defaultInvoiceDueDays": {
                            "type": "number"
                          },
                          "defaultPaymentMeans": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "email": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "englishCorrespondenceLanguage": {
                            "type": "boolean"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "footer": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "identifier": {
                            "type": "string"
                          },
                          "includeTimeReport": {
                            "type": "boolean"
                          },
                          "info": {
                            "type": "string"
                          },
                          "intern": {
                            "type": "boolean"
                          },
                          "invoiceFormat": {
                            "type": "string"
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "projects": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "firstname": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "lastname": {
                                "type": "string"
                              }
                            }
                          },
                          "vatIdentifier": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moco/latest/actions/create-contact": {
      "post": {
        "operationId": "moco.create-contact",
        "summary": "Create Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moco/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "birthday": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "firstname": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  },
                  "homeAddress": {
                    "type": "string"
                  },
                  "homeEmail": {
                    "type": "string"
                  },
                  "info": {
                    "type": "string"
                  },
                  "jobPosition": {
                    "type": "string"
                  },
                  "lastname": {
                    "type": "string"
                  },
                  "mobilePhone": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  },
                  "workAddress": {
                    "type": "string"
                  },
                  "workEmail": {
                    "type": "string"
                  },
                  "workFax": {
                    "type": "string"
                  },
                  "workPhone": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatarUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "birthday": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "company": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customProperties": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "firstname": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "homeAddress": {
                            "type": "string"
                          },
                          "homeEmail": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "info": {
                            "type": "string"
                          },
                          "jobPosition": {
                            "type": "string"
                          },
                          "lastname": {
                            "type": "string"
                          },
                          "mobilePhone": {
                            "type": "string"
                          },
                          "salutation": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "firstname": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "lastname": {
                                "type": "string"
                              }
                            }
                          },
                          "workAddress": {
                            "type": "string"
                          },
                          "workEmail": {
                            "type": "string"
                          },
                          "workFax": {
                            "type": "string"
                          },
                          "workPhone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moco/latest/actions/create-deal": {
      "post": {
        "operationId": "moco.create-deal",
        "summary": "Create Deal",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moco/latest/actions/create-deal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "closedOn": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "dealCategoryId": {
                    "type": "string"
                  },
                  "info": {
                    "type": "string"
                  },
                  "money": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "personId": {
                    "type": "string"
                  },
                  "reminderDate": {
                    "type": "string"
                  },
                  "servicePeriodFrom": {
                    "type": "string"
                  },
                  "servicePeriodTo": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "probability": {
                                "type": "number"
                              }
                            }
                          },
                          "closedOn": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "company": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "customProperties": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "inboxEmailAddress": {
                            "type": "string"
                          },
                          "info": {
                            "type": "string"
                          },
                          "money": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "person": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reminderDate": {
                            "type": "string"
                          },
                          "servicePeriodFrom": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "servicePeriodTo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "firstname": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "lastname": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moco/latest/actions/create-invoice": {
      "post": {
        "operationId": "moco.create-invoice",
        "summary": "Create Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moco/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "cashDiscount": {
                    "type": "string"
                  },
                  "cashDiscountDays": {
                    "type": "string"
                  },
                  "changeAddress": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "customerId": {
                    "type": "string"
                  },
                  "customProperties": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "discount": {
                    "type": "string"
                  },
                  "dueDate": {
                    "type": "string"
                  },
                  "footer": {
                    "type": "string"
                  },
                  "internalContactId": {
                    "type": "string"
                  },
                  "items[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "printDetailColumns": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "recipientAddress": {
                    "type": "string"
                  },
                  "salutation": {
                    "type": "string"
                  },
                  "servicePeriodFrom": {
                    "type": "string"
                  },
                  "servicePeriodTo": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "string"
                  },
                  "tax": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activityHoursModified": {
                            "type": "boolean"
                          },
                          "cashDiscount": {
                            "type": "number"
                          },
                          "cashDiscountDays": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string"
                          },
                          "creditNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "creditorReference": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customerId": {
                            "type": "number"
                          },
                          "customProperties": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "date": {
                            "type": "string"
                          },
                          "debitNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discount": {
                            "type": "number"
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "fileUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "footer": {
                            "type": "string"
                          },
                          "grossTotal": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "identifier": {
                            "type": "string"
                          },
                          "internalContact": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "firstname": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "lastname": {
                                "type": "string"
                              }
                            }
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "description": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "id": {
                                  "type": "number"
                                },
                                "netTotal": {
                                  "type": "number"
                                },
                                "optional": {
                                  "type": "boolean"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "revenueCategory": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "serviceType": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "unit": {
                                  "type": "string"
                                },
                                "unitPrice": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "locked": {
                            "type": "boolean"
                          },
                          "netTotal": {
                            "type": "number"
                          },
                          "offerId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "payments": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "projectId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "recipientAddress": {
                            "type": "string"
                          },
                          "reminders": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "reversal": {
                            "type": "boolean"
                          },
                          "reversalInvoiceId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reversed": {
                            "type": "boolean"
                          },
                          "reversedInvoiceId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "salutation": {
                            "type": "string"
                          },
                          "servicePeriod": {
                            "type": "string"
                          },
                          "servicePeriodFrom": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "servicePeriodTo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "tax": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "updatedOn": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "firstname": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "lastname": {
                                "type": "string"
                              }
                            }
                          },
                          "vat": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "active": {
                                "type": "boolean"
                              },
                              "code": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "creditAccount": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "intraEu": {
                                "type": "boolean"
                              },
                              "noticeTaxExemption": {
                                "type": "string"
                              },
                              "noticeTaxExemptionAlt": {
                                "type": "string"
                              },
                              "noticeTaxExemptionEn": {
                                "type": "string"
                              },
                              "printGrossTotal": {
                                "type": "boolean"
                              },
                              "reverseCharge": {
                                "type": "boolean"
                              },
                              "tax": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moco/latest/actions/create-offer": {
      "post": {
        "operationId": "moco.create-offer",
        "summary": "Create Offer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moco/latest/actions/create-offer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "changeAddress": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "contactId": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "customProperties": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "dealId": {
                    "type": "string"
                  },
                  "discount": {
                    "type": "string"
                  },
                  "dueDate": {
                    "type": "string"
                  },
                  "footer": {
                    "type": "string"
                  },
                  "internalContactId": {
                    "type": "string"
                  },
                  "items[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "printDetailColumns": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "recipientAddress": {
                    "type": "string"
                  },
                  "salutation": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "string"
                  },
                  "tax": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customerApproval": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customProperties": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "date": {
                            "type": "string"
                          },
                          "deal": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discount": {
                            "type": "number"
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "footer": {
                            "type": "string"
                          },
                          "grossTotal": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "identifier": {
                            "type": "string"
                          },
                          "internalContact": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "firstname": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "lastname": {
                                "type": "string"
                              }
                            }
                          },
                          "invoiceId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "netTotal": {
                            "type": "number"
                          },
                          "offerConfirmation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "project": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "recipientAddress": {
                            "type": "string"
                          },
                          "salutation": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "tax": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "updatedOn": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "firstname": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "lastname": {
                                "type": "string"
                              }
                            }
                          },
                          "vat": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "active": {
                                "type": "boolean"
                              },
                              "code": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "creditAccount": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "intraEu": {
                                "type": "boolean"
                              },
                              "noticeTaxExemption": {
                                "type": "string"
                              },
                              "noticeTaxExemptionAlt": {
                                "type": "string"
                              },
                              "noticeTaxExemptionEn": {
                                "type": "string"
                              },
                              "printGrossTotal": {
                                "type": "boolean"
                              },
                              "reverseCharge": {
                                "type": "boolean"
                              },
                              "tax": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/moco/latest/actions/create-planning-entry": {
      "post": {
        "operationId": "moco.create-planning-entry",
        "summary": "Create Planning Entry",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/moco/latest/actions/create-planning-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "comment": {
                    "type": "string"
                  },
                  "dealId": {
                    "type": "string"
                  },
                  "endsOn": {
                    "type": "string"
                  },
                  "hoursPerDay": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "startsOn": {
                    "type": "string"
                  },
                  "symbol": {
                    "type": "string"
                  },
                  "tentative": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "color": {
                            "type": "string"
                          },
                          "comment": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "deal": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "endsOn": {
                            "type": "string"
                          },
                          "hoursPerDay": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "project": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "color": {
                                "type": "string"
                              },
                              "customerName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "identifier": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "readOnly": {
                            "type": "boolean"
                          },
                          "seriesId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "seriesRepeat": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "startsOn": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "task": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tentative": {
                            "type": "boolean"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "firstname": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "lastname": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
[...]
