{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Bookafy Universal API",
    "version": "0.0.6",
    "description": "Schedule appointments, manage customers, and coordinate staff availability"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/bookafy/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/bookafy/latest/actions/create-appointment": {
      "post": {
        "operationId": "bookafy.create-appointment",
        "summary": "Create Appointment",
        "description": "Creates an appointment in Bookafy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bookafy/latest/actions/create-appointment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "appointmentDate": {
                    "type": "string",
                    "description": "Appointment date in YYYY-MM-DD format."
                  },
                  "appointmentEndTime": {
                    "type": "string",
                    "description": "Appointment end time in Bookafy's displayed time format, for example 11:45 AM."
                  },
                  "appointmentStartTime": {
                    "type": "string",
                    "description": "Appointment start time in Bookafy's displayed time format, for example 11:30 AM."
                  },
                  "categoryId": {
                    "type": "string",
                    "description": "Bookafy category ID for the appointment."
                  },
                  "customerEmail": {
                    "type": "string",
                    "description": "Customer email address for the appointment."
                  },
                  "customerName": {
                    "type": "string",
                    "description": "Customer full name for the appointment."
                  },
                  "customerPhone": {
                    "type": "string",
                    "description": "Customer phone number for the appointment."
                  },
                  "description": {
                    "type": "string",
                    "description": "Appointment description value sent to Bookafy."
                  },
                  "duration": {
                    "type": "string",
                    "description": "Appointment duration in minutes."
                  },
                  "serviceId": {
                    "type": "string",
                    "description": "Bookafy service ID for the appointment."
                  },
                  "timeZone": {
                    "type": "string",
                    "description": "Bookafy time zone label, for example Central Time (US & Canada)."
                  },
                  "title": {
                    "type": "string",
                    "description": "Appointment title/notes value sent to Bookafy."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Bookafy staff user ID that owns the appointment."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "object",
                            "properties": {
                              "appointment": {
                                "type": "object",
                                "properties": {
                                  "appointmentDate": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Appointment calendar date."
                                  },
                                  "appointmentEndTime": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Appointment end timestamp."
                                  },
                                  "appointmentStartTime": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Appointment start timestamp."
                                  },
                                  "cancelToken": {
                                    "type": "string",
                                    "description": "Cancellation token for the appointment."
                                  },
                                  "category": {
                                    "type": "object",
                                    "properties": {
                                      "categoryId": {
                                        "type": "number",
                                        "description": "Appointment category ID."
                                      },
                                      "categoryName": {
                                        "type": "string",
                                        "description": "Appointment category name."
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Appointment creation timestamp."
                                  },
                                  "customerId": {
                                    "type": "number",
                                    "description": "Booked customer ID."
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "Appointment description."
                                  },
                                  "duration": {
                                    "type": "string",
                                    "description": "Appointment duration in minutes."
                                  },
                                  "id": {
                                    "type": "number",
                                    "description": "Appointment ID."
                                  },
                                  "isActive": {
                                    "type": "boolean",
                                    "description": "Whether the appointment is active."
                                  },
                                  "service": {
                                    "type": "object",
                                    "properties": {
                                      "serviceId": {
                                        "type": "number",
                                        "description": "Booked service ID."
                                      },
                                      "serviceName": {
                                        "type": "string",
                                        "description": "Booked service name."
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "Appointment title."
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Appointment update timestamp."
                                  },
                                  "updateToken": {
                                    "type": "string",
                                    "description": "Update token for the appointment."
                                  },
                                  "userId": {
                                    "type": "number",
                                    "description": "Assigned staff member ID."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "message": {
                                "type": "string",
                                "description": "Bookafy status message for the create request."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bookafy/latest/actions/create-customer": {
      "post": {
        "operationId": "bookafy.create-customer",
        "summary": "Create Customer",
        "description": "Creates a customer in Bookafy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bookafy/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customer.name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customer.name": {
                    "type": "string",
                    "description": "Customer name.",
                    "example": "Jane Smith"
                  },
                  "customer.email": {
                    "type": "string",
                    "description": "Customer email.",
                    "example": "jane@example.com"
                  },
                  "customer.phone": {
                    "type": "string",
                    "description": "Customer phone.",
                    "example": "+15555550101"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "object",
                            "properties": {
                              "customer": {
                                "type": "object",
                                "properties": {
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Customer creation timestamp."
                                  },
                                  "customerDetailHstore": {
                                    "type": "object",
                                    "properties": {
                                      "phone": {
                                        "type": "string",
                                        "description": "Customer phone number stored in detail fields."
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "email": {
                                    "type": "string",
                                    "description": "Customer email address."
                                  },
                                  "id": {
                                    "type": "number",
                                    "description": "Created customer ID."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Customer display name."
                                  },
                                  "softDelete": {
                                    "type": "boolean",
                                    "description": "Whether the customer is soft-deleted."
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Customer update timestamp."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "message": {
                                "type": "string",
                                "description": "Bookafy status message for the create request."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bookafy/latest/actions/delete-appointment": {
      "delete": {
        "operationId": "bookafy.delete-appointment",
        "summary": "Delete Appointment",
        "description": "Deletes or cancels an appointment in Bookafy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bookafy/latest/actions/delete-appointment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Bookafy appointment ID to cancel.",
            "schema": {
              "type": "string",
              "description": "Bookafy appointment ID to cancel."
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "Bookafy staff user ID that owns the appointment.",
            "schema": {
              "type": "string",
              "description": "Bookafy staff user ID that owns the appointment."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string",
                                "description": "Bookafy status message for the cancel request."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bookafy/latest/actions/delete-customer": {
      "delete": {
        "operationId": "bookafy.delete-customer",
        "summary": "Delete Customer",
        "description": "Deletes a customer from Bookafy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bookafy/latest/actions/delete-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Customer ID from Bookafy.",
            "schema": {
              "type": "number",
              "description": "Customer ID from Bookafy.",
              "example": 2980611
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string",
                                "description": "Bookafy status message for the delete request."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bookafy/latest/actions/get-customer": {
      "get": {
        "operationId": "bookafy.get-customer",
        "summary": "Get Customer",
        "description": "Retrieves a customer from Bookafy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bookafy/latest/actions/get-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Customer ID from Bookafy.",
            "schema": {
              "type": "number",
              "description": "Customer ID from Bookafy.",
              "example": 2980611
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "object",
                            "properties": {
                              "customer": {
                                "type": "object",
                                "properties": {
                                  "colorPattern": {
                                    "type": "string",
                                    "description": "Customer color pattern."
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Customer creation timestamp."
                                  },
                                  "customerDetailHstore": {
                                    "type": "object",
                                    "properties": {
                                      "email": {
                                        "type": "string",
                                        "description": "Customer email stored in detail fields."
                                      },
                                      "firstName": {
                                        "type": "string",
                                        "description": "Customer first name stored in detail fields."
                                      },
                                      "lastName": {
                                        "type": "string",
                                        "description": "Customer last name stored in detail fields."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Customer display name stored in detail fields."
                                      },
                                      "phone": {
                                        "type": "string",
                                        "description": "Customer phone stored in detail fields."
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "id": {
                                    "type": "number",
                                    "description": "Customer ID."
                                  },
                                  "isFake": {
                                    "type": "boolean",
                                    "description": "Whether the customer is marked as fake."
                                  },
                                  "softDelete": {
                                    "type": "boolean",
                                    "description": "Whether the customer is soft-deleted."
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Customer update timestamp."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "message": {
                                "type": "string",
                                "description": "Bookafy status message for the get request."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bookafy/latest/actions/list-appointment-types-with-booking-links": {
      "get": {
        "operationId": "bookafy.list-appointment-types-with-booking-links",
        "summary": "List Appointment Types with Booking Links",
        "description": "Retrieves appointment types and booking links from Bookafy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bookafy/latest/actions/list-appointment-types-with-booking-links"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "object",
                            "properties": {
                              "output": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "assignedServices": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "link": {
                                            "type": "string",
                                            "description": "Booking link for the assigned service."
                                          },
                                          "name": {
                                            "type": "string",
                                            "description": "Assigned service name."
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "categories": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "appointmentTypes": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "link": {
                                                  "type": "string",
                                                  "description": "Booking link for the appointment type."
                                                },
                                                "name": {
                                                  "type": "string",
                                                  "description": "Appointment type name."
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "link": {
                                            "type": "string",
                                            "description": "Booking link for the category."
                                          },
                                          "name": {
                                            "type": "string",
                                            "description": "Appointment type category name."
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "client": {
                                      "type": "number",
                                      "description": "Owning Bookafy client ID."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bookafy/latest/actions/list-appointments": {
      "get": {
        "operationId": "bookafy.list-appointments",
        "summary": "List Appointments",
        "description": "Retrieves appointments from Bookafy by date range.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bookafy/latest/actions/list-appointments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Staff email address to scope the appointment list.",
            "schema": {
              "type": "string",
              "description": "Staff email address to scope the appointment list."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "object",
                            "properties": {
                              "appointment": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "appointmentDate": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Appointment calendar date."
                                    },
                                    "appointmentEndTime": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Appointment end timestamp."
                                    },
                                    "appointmentStartTime": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Appointment start timestamp."
                                    },
                                    "cancelToken": {
                                      "type": "string",
                                      "description": "Cancellation token for the appointment."
                                    },
                                    "categoryId": {
                                      "type": "number",
                                      "description": "Appointment category ID."
                                    },
                                    "customer": {
                                      "type": "object",
                                      "properties": {
                                        "customerDetailHstore": {
                                          "type": "object",
                                          "properties": {
                                            "email": {
                                              "type": "string",
                                              "description": "Customer email."
                                            },
                                            "name": {
                                              "type": "string",
                                              "description": "Customer display name."
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "id": {
                                          "type": "number",
                                          "description": "Customer ID nested in the appointment payload."
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "customerId": {
                                      "type": "number",
                                      "description": "Booked customer ID."
                                    },
                                    "description": {
                                      "type": "string",
                                      "description": "Appointment description."
                                    },
                                    "duration": {
                                      "type": "string",
                                      "description": "Appointment duration in minutes."
                                    },
                                    "id": {
                                      "type": "number",
                                      "description": "Appointment ID."
                                    },
                                    "isActive": {
                                      "type": "boolean",
                                      "description": "Whether the appointment is active."
                                    },
                                    "serviceId": {
                                      "type": "number",
                                      "description": "Booked service ID."
                                    },
                                    "timeZone": {
                                      "type": "string",
                                      "description": "Appointment time zone label."
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Appointment title."
                                    },
                                    "updateToken": {
                                      "type": "string",
                                      "description": "Update token for the appointment."
                                    },
                                    "user": {
                                      "type": "object",
                                      "properties": {
                                        "email": {
                                          "type": "string",
                                          "description": "Assigned staff member email."
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "Assigned staff member name."
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "userId": {
                                      "type": "number",
                                      "description": "Assigned staff member ID."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "message": {
                                "type": "string",
                                "description": "Bookafy status message for the list request."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bookafy/latest/actions/list-customers": {
      "get": {
        "operationId": "bookafy.list-customers",
        "summary": "List Customers",
        "description": "Retrieves customers from Bookafy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bookafy/latest/actions/list-customers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "object",
                            "properties": {
                              "customers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "colorPattern": {
                                      "type": "string",
                                      "description": "Customer color pattern."
                                    },
                                    "createdAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Customer creation timestamp."
                                    },
                                    "customerDetailHstore": {
                                      "type": "object",
                                      "properties": {
                                        "email": {
                                          "type": "string",
                                          "description": "Customer email stored in detail fields."
                                        },
                                        "firstName": {
                                          "type": "string",
                                          "description": "Customer first name stored in detail fields."
                                        },
                                        "lastName": {
                                          "type": "string",
                                          "description": "Customer last name stored in detail fields."
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "Customer display name stored in detail fields."
                                        },
                                        "phone": {
                                          "type": "string",
                                          "description": "Customer phone stored in detail fields."
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "id": {
                                      "type": "number",
                                      "description": "Customer ID."
                                    },
                                    "isFake": {
                                      "type": "boolean",
                                      "description": "Whether the customer is marked as fake."
                                    },
                                    "softDelete": {
                                      "type": "boolean",
                                      "description": "Whether the customer is soft-deleted."
                                    },
                                    "updatedAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Customer update timestamp."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "message": {
                                "type": "string",
                                "description": "Bookafy status message for the list request."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bookafy/latest/actions/list-services-with-details": {
      "get": {
        "operationId": "bookafy.list-services-with-details",
        "summary": "List Services with Details",
        "description": "Retrieves services with details from Bookafy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bookafy/latest/actions/list-services-with-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "object",
                            "properties": {
                              "services": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "categoryId": {
                                      "type": "number",
                                      "description": "Service category ID."
                                    },
                                    "clientId": {
                                      "type": "number",
                                      "description": "Owning Bookafy client ID."
                                    },
                                    "createdAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Service creation timestamp."
                                    },
                                    "duration": {
                                      "type": "string",
                                      "description": "Service duration in minutes."
                                    },
                                    "forClient": {
                                      "type": "boolean",
                                      "description": "Whether the service is available to clients."
                                    },
                                    "id": {
                                      "type": "number",
                                      "description": "Service ID."
                                    },
                                    "isChargeable": {
                                      "type": "boolean",
                                      "description": "Whether the service is chargeable."
                                    },
                                    "price": {
                                      "type": "string",
                                      "description": "Service price."
                                    },
                                    "schedulingMode": {
                                      "type": "string",
                                      "description": "Scheduling mode for the service."
                                    },
                                    "serviceName": {
                                      "type": "string",
                                      "description": "Service display name."
                                    },
                                    "slug": {
                                      "type": "string",
                                      "description": "Service slug used in booking links."
                                    },
                                    "updatedAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Service update timestamp."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bookafy/latest/actions/list-staff-users": {
      "get": {
        "operationId": "bookafy.list-staff-users",
        "summary": "List Staff Users",
        "description": "Retrieves staff users from Bookafy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bookafy/latest/actions/list-staff-users"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "imageUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bookafy/latest/actions/list-webhook-subscriptions": {
      "get": {
        "operationId": "bookafy.list-webhook-subscriptions",
        "summary": "List Webhook Subscriptions",
        "description": "Retrieves webhook subscriptions from Bookafy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bookafy/latest/actions/list-webhook-subscriptions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string",
                                "description": "Bookafy status message for the subscription list request."
                              },
                              "subscriptions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "API subscriptions returned by Bookafy. Runtime evidence for this tenant is currently an empty list."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bookafy/latest/actions/update-appointment": {
      "put": {
        "operationId": "bookafy.update-appointment",
        "summary": "Update Appointment",
        "description": "Updates an appointment in Bookafy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bookafy/latest/actions/update-appointment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "appointmentDate": {
                    "type": "string",
                    "description": "Appointment date in YYYY-MM-DD format."
                  },
                  "appointmentEndTime": {
                    "type": "string",
                    "description": "Appointment end time in Bookafy's displayed time format, for example 12:15 PM."
                  },
                  "appointmentStartTime": {
                    "type": "string",
                    "description": "Appointment start time in Bookafy's displayed time format, for example 12:00 PM."
                  },
                  "categoryId": {
                    "type": "string",
                    "description": "Bookafy category ID for the appointment."
                  },
                  "customerEmail": {
                    "type": "string",
                    "description": "Customer email address on the appointment."
                  },
                  "customerName": {
                    "type": "string",
                    "description": "Customer full name on the appointment."
[...]
