{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "JustSift Universal API",
    "version": "0.0.3",
    "description": "Access Sift people directory profiles, search, media, and field metadata through the official JustSift API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/justSift/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/justSift/latest/actions/advanced-people-search": {
      "get": {
        "operationId": "justSift.advanced-people-search",
        "summary": "Advanced People Search",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/justSift/latest/actions/advanced-people-search"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Generic term searched across searchable Sift fields.",
            "schema": {
              "type": "string",
              "description": "Generic term searched across searchable Sift fields."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to retrieve. Sift pages start at 1.",
            "schema": {
              "type": "number",
              "description": "Page number to retrieve. Sift pages start at 1.",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of people to return, from 0 to 100.",
            "schema": {
              "type": "number",
              "description": "Number of people to return, from 0 to 100.",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sift field objectKey to sort by.",
            "schema": {
              "type": "string",
              "description": "Sift field objectKey to sort by."
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "required": false,
            "description": "Sort direction, asc or desc.",
            "schema": {
              "type": "string",
              "description": "Sort direction, asc or desc.",
              "enum": [
                "0",
                "1"
              ],
              "default": "asc"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Advanced Sift PeopleFilters object using and, or, not, or field comparison clauses.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Advanced Sift PeopleFilters object using and, or, not, or field comparison clauses.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "department": {
                            "type": "string",
                            "description": "Department."
                          },
                          "directoryId": {
                            "type": "string",
                            "description": "Directory identifier."
                          },
                          "directReportCount": {
                            "type": "number",
                            "description": "Number of direct reports."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Person display name."
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "First name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique person identifier."
                          },
                          "isTeamLeader": {
                            "type": "boolean",
                            "description": "Whether the person has direct reports."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Last name."
                          },
                          "pictureUrl": {
                            "type": "string",
                            "description": "Profile picture URL."
                          },
                          "reportingPath": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Hierarchy path of leader ids."
                          },
                          "teamLeaderId": {
                            "type": "string",
                            "description": "Direct leader person identifier."
                          },
                          "title": {
                            "type": "string",
                            "description": "Job title."
                          },
                          "totalReportCount": {
                            "type": "number",
                            "description": "Total direct and indirect reports."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/justSift/latest/actions/get-person": {
      "get": {
        "operationId": "justSift.get-person",
        "summary": "Get Person",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/justSift/latest/actions/get-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idOrEmail",
            "in": "query",
            "required": true,
            "description": "The person's Sift id or email address.",
            "schema": {
              "type": "string",
              "description": "The person's Sift id or email address."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customPictureUrl": {
                            "type": "string",
                            "description": "Custom profile picture URL."
                          },
                          "department": {
                            "type": "string",
                            "description": "Department."
                          },
                          "directoryId": {
                            "type": "string",
                            "description": "Directory identifier."
                          },
                          "directReportCount": {
                            "type": "number",
                            "description": "Number of direct reports."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Person display name."
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "First name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique person identifier."
                          },
                          "isTeamLeader": {
                            "type": "boolean",
                            "description": "Whether the person has direct reports."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Last name."
                          },
                          "officialPictureUrl": {
                            "type": "string",
                            "description": "Official profile picture URL."
                          },
                          "pictureUrl": {
                            "type": "string",
                            "description": "Profile picture URL."
                          },
                          "reportingPath": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Hierarchy path of leader ids."
                          },
                          "teamLeaderId": {
                            "type": "string",
                            "description": "Direct leader person identifier."
                          },
                          "title": {
                            "type": "string",
                            "description": "Job title."
                          },
                          "totalReportCount": {
                            "type": "number",
                            "description": "Total direct and indirect reports."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/justSift/latest/actions/get-person-media": {
      "get": {
        "operationId": "justSift.get-person-media",
        "summary": "Get Person Media",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/justSift/latest/actions/get-person-media"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idOrEmail",
            "in": "query",
            "required": true,
            "description": "The person's Sift id or email address.",
            "schema": {
              "type": "string",
              "description": "The person's Sift id or email address."
            }
          },
          {
            "name": "mediaKind",
            "in": "query",
            "required": true,
            "description": "Media kind to retrieve: profile-photo or background-photo.",
            "schema": {
              "type": "string",
              "description": "Media kind to retrieve: profile-photo or background-photo.",
              "enum": [
                "0",
                "1"
              ],
              "default": "profile-photo"
            }
          },
          {
            "name": "preferredType",
            "in": "query",
            "required": false,
            "description": "Optional profile photo subtype preference: custom or official.",
            "schema": {
              "type": "string",
              "description": "Optional profile photo subtype preference: custom or official.",
              "enum": [
                "0",
                "1"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "description": "Image height to return, up to 1000.",
            "schema": {
              "type": "number",
              "description": "Image height to return, up to 1000.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "description": "Image width to return, up to 1000.",
            "schema": {
              "type": "number",
              "description": "Image width to return, up to 1000.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fit",
            "in": "query",
            "required": false,
            "description": "Image fit mode: crop or scale.",
            "schema": {
              "type": "string",
              "description": "Image fit mode: crop or scale.",
              "enum": [
                "0",
                "1"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contentType": {
                            "type": "string",
                            "description": "Returned image content type."
                          },
                          "idOrEmail": {
                            "type": "string",
                            "description": "Person id or email used for the media request."
                          },
                          "mediaKind": {
                            "type": "string",
                            "description": "Requested media kind."
                          },
                          "size": {
                            "type": "number",
                            "description": "Image response size in bytes."
                          },
                          "url": {
                            "type": "string",
                            "description": "Media request URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/justSift/latest/actions/list-person-fields": {
      "get": {
        "operationId": "justSift.list-person-fields",
        "summary": "List Person Fields",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/justSift/latest/actions/list-person-fields"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "displayName": {
                            "type": "string",
                            "description": "Human-readable field name."
                          },
                          "filterable": {
                            "type": "boolean",
                            "description": "Whether this field can be used as a search filter."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique field identifier."
                          },
                          "objectKey": {
                            "type": "string",
                            "description": "Property name on the Person object."
                          },
                          "searchable": {
                            "type": "boolean",
                            "description": "Whether this field is searched by generic search terms."
                          },
                          "type": {
                            "type": "string",
                            "description": "Sift field type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/justSift/latest/actions/search-people": {
      "get": {
        "operationId": "justSift.search-people",
        "summary": "Search People",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/justSift/latest/actions/search-people"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Generic term searched across searchable Sift fields.",
            "schema": {
              "type": "string",
              "description": "Generic term searched across searchable Sift fields."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to retrieve. Sift pages start at 1.",
            "schema": {
              "type": "number",
              "description": "Page number to retrieve. Sift pages start at 1.",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of people to return, from 0 to 100.",
            "schema": {
              "type": "number",
              "description": "Number of people to return, from 0 to 100.",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sift field objectKey to sort by.",
            "schema": {
              "type": "string",
              "description": "Sift field objectKey to sort by."
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "required": false,
            "description": "Sort direction, asc or desc.",
            "schema": {
              "type": "string",
              "description": "Sort direction, asc or desc.",
              "enum": [
                "0",
                "1"
              ],
              "default": "asc"
            }
          },
          {
            "name": "orQuery",
            "in": "query",
            "required": false,
            "description": "When true, uses OR for provided filters instead of AND.",
            "schema": {
              "type": "boolean",
              "description": "When true, uses OR for provided filters instead of AND.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "department": {
                            "type": "string",
                            "description": "Department."
                          },
                          "directoryId": {
                            "type": "string",
                            "description": "Directory identifier."
                          },
                          "directReportCount": {
                            "type": "number",
                            "description": "Number of direct reports."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Person display name."
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "First name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique person identifier."
                          },
                          "isTeamLeader": {
                            "type": "boolean",
                            "description": "Whether the person has direct reports."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Last name."
                          },
                          "pictureUrl": {
                            "type": "string",
                            "description": "Profile picture URL."
                          },
                          "reportingPath": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Hierarchy path of leader ids."
                          },
                          "teamLeaderId": {
                            "type": "string",
                            "description": "Direct leader person identifier."
                          },
                          "title": {
                            "type": "string",
                            "description": "Job title."
                          },
                          "totalReportCount": {
                            "type": "number",
                            "description": "Total direct and indirect reports."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
