{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "EODHD Universal API",
    "version": "0.0.3",
    "description": "Financial market data APIs for EOD prices, live quotes, fundamentals, corporate actions, calendars, news, screeners, technical indicators, macro indicators, and exchange reference data from EODHD."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/eODHDAPI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/eODHDAPI/latest/actions/get-analyst-ratings": {
      "get": {
        "operationId": "eODHDAPI.get-analyst-ratings",
        "summary": "Get Analyst Ratings",
        "description": "Retrieves analyst ratings for a symbol from EODHD API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eODHDAPI/latest/actions/get-analyst-ratings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
            "schema": {
              "type": "string",
              "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
              "example": "AAPL.US"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Buy": {
                            "type": "number",
                            "description": "Buy recommendation count."
                          },
                          "Hold": {
                            "type": "number",
                            "description": "Hold recommendation count."
                          },
                          "Rating": {
                            "type": "number",
                            "description": "Aggregate rating value."
                          },
                          "Sell": {
                            "type": "number",
                            "description": "Sell recommendation count."
                          },
                          "StrongBuy": {
                            "type": "number",
                            "description": "Strong-buy recommendation count."
                          },
                          "StrongSell": {
                            "type": "number",
                            "description": "Strong-sell recommendation count."
                          },
                          "TargetPrice": {
                            "type": "number",
                            "description": "Analyst target price."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eODHDAPI/latest/actions/get-balance-sheet-fundamentals": {
      "get": {
        "operationId": "eODHDAPI.get-balance-sheet-fundamentals",
        "summary": "Get Balance Sheet Fundamentals",
        "description": "Retrieves balance sheet fundamentals for a symbol from EODHD API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eODHDAPI/latest/actions/get-balance-sheet-fundamentals"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
            "schema": {
              "type": "string",
              "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
              "example": "AAPL.US"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cash": {
                            "type": "number",
                            "description": "Cash."
                          },
                          "currency_symbol": {
                            "type": "string",
                            "description": "Statement currency."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Statement date."
                          },
                          "filing_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Filing date."
                          },
                          "shortTermInvestments": {
                            "type": "number",
                            "description": "Short-term investments."
                          },
                          "totalAssets": {
                            "type": "number",
                            "description": "Total assets."
                          },
                          "totalLiab": {
                            "type": "number",
                            "description": "Total liabilities."
                          },
                          "totalStockholderEquity": {
                            "type": "number",
                            "description": "Total stockholder equity."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eODHDAPI/latest/actions/get-cash-flow-fundamentals": {
      "get": {
        "operationId": "eODHDAPI.get-cash-flow-fundamentals",
        "summary": "Get Cash Flow Fundamentals",
        "description": "Retrieves cash flow fundamentals for a symbol from EODHD API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eODHDAPI/latest/actions/get-cash-flow-fundamentals"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
            "schema": {
              "type": "string",
              "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
              "example": "AAPL.US"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capitalExpenditures": {
                            "type": "number",
                            "description": "Capital expenditures."
                          },
                          "changeInCash": {
                            "type": "number",
                            "description": "Change in cash."
                          },
                          "currency_symbol": {
                            "type": "string",
                            "description": "Statement currency."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Statement date."
                          },
                          "filing_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Filing date."
                          },
                          "freeCashFlow": {
                            "type": "number",
                            "description": "Free cash flow when returned."
                          },
                          "totalCashFromOperatingActivities": {
                            "type": "number",
                            "description": "Operating cash flow."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eODHDAPI/latest/actions/get-earnings-fundamentals": {
      "get": {
        "operationId": "eODHDAPI.get-earnings-fundamentals",
        "summary": "Get Earnings Fundamentals",
        "description": "Retrieves earnings fundamentals for a symbol from EODHD API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eODHDAPI/latest/actions/get-earnings-fundamentals"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
            "schema": {
              "type": "string",
              "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
              "example": "AAPL.US"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Annual": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Annual earnings records."
                          },
                          "History": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Historical earnings records."
                          },
                          "Trend": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Earnings trend records."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eODHDAPI/latest/actions/get-exchange-details": {
      "get": {
        "operationId": "eODHDAPI.get-exchange-details",
        "summary": "Get Exchange Details",
        "description": "Retrieves trading hours and holidays for an exchange from EODHD API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eODHDAPI/latest/actions/get-exchange-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchangeCode",
            "in": "query",
            "required": true,
            "description": "EODHD exchange code for exchange details.",
            "schema": {
              "type": "string",
              "description": "EODHD exchange code for exchange details.",
              "example": "US"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ActiveTickers": {
                            "type": "number",
                            "description": "Active ticker count."
                          },
                          "Code": {
                            "type": "string",
                            "description": "Exchange code."
                          },
                          "Country": {
                            "type": "string",
                            "description": "Country name."
                          },
                          "Currency": {
                            "type": "string",
                            "description": "Exchange currency."
                          },
                          "Name": {
                            "type": "string",
                            "description": "Exchange name."
                          },
                          "OperatingMIC": {
                            "type": "string",
                            "description": "Operating MIC."
                          },
                          "PreviousDayUpdatedTickers": {
                            "type": "number",
                            "description": "Previous-day updated ticker count."
                          },
                          "Timezone": {
                            "type": "string",
                            "description": "Exchange timezone."
                          },
                          "UpdatedTickers": {
                            "type": "number",
                            "description": "Updated ticker count."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eODHDAPI/latest/actions/get-full-fundamentals": {
      "get": {
        "operationId": "eODHDAPI.get-full-fundamentals",
        "summary": "Get Full Fundamentals",
        "description": "Retrieves full fundamentals for a symbol from EODHD API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eODHDAPI/latest/actions/get-full-fundamentals"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
            "schema": {
              "type": "string",
              "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
              "example": "AAPL.US"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AnalystRatings": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Analyst rating summary."
                          },
                          "Earnings": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Earnings data."
                          },
                          "ESGScores": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "ESG score data."
                          },
                          "Financials": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Financial statement data."
                          },
                          "General": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "General company metadata."
                          },
                          "Highlights": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Key financial highlights."
                          },
                          "Holders": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Holder data."
                          },
                          "InsiderTransactions": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Insider transaction data."
                          },
                          "SharesStats": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Share statistics."
                          },
                          "SplitsDividends": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Splits and dividends summary."
                          },
                          "Technicals": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Technical summary."
                          },
                          "Valuation": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Valuation metrics."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eODHDAPI/latest/actions/get-fundamental-highlights": {
      "get": {
        "operationId": "eODHDAPI.get-fundamental-highlights",
        "summary": "Get Fundamental Highlights",
        "description": "Retrieves fundamental highlights for a symbol from EODHD API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eODHDAPI/latest/actions/get-fundamental-highlights"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
            "schema": {
              "type": "string",
              "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
              "example": "AAPL.US"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "BookValue": {
                            "type": "number",
                            "description": "Book value."
                          },
                          "DilutedEpsTTM": {
                            "type": "number",
                            "description": "Trailing twelve-month diluted EPS."
                          },
                          "DividendShare": {
                            "type": "number",
                            "description": "Dividend per share."
                          },
                          "DividendYield": {
                            "type": "number",
                            "description": "Dividend yield."
                          },
                          "EarningsShare": {
                            "type": "number",
                            "description": "Earnings per share."
                          },
                          "EBITDA": {
                            "type": "number",
                            "description": "EBITDA."
                          },
                          "GrossProfitTTM": {
                            "type": "number",
                            "description": "Trailing twelve-month gross profit."
                          },
                          "MarketCapitalization": {
                            "type": "number",
                            "description": "Market capitalization."
                          },
                          "PEGRatio": {
                            "type": "number",
                            "description": "PEG ratio."
                          },
                          "PERatio": {
                            "type": "number",
                            "description": "Price-to-earnings ratio."
                          },
                          "RevenueTTM": {
                            "type": "number",
                            "description": "Trailing twelve-month revenue."
                          },
                          "WallStreetTargetPrice": {
                            "type": "number",
                            "description": "Wall Street target price."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eODHDAPI/latest/actions/get-general-fundamentals": {
      "get": {
        "operationId": "eODHDAPI.get-general-fundamentals",
        "summary": "Get General Fundamentals",
        "description": "Retrieves general fundamentals for a symbol from EODHD API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eODHDAPI/latest/actions/get-general-fundamentals"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
            "schema": {
              "type": "string",
              "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
              "example": "AAPL.US"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Code": {
                            "type": "string",
                            "description": "EODHD symbol code."
                          },
                          "CountryISO": {
                            "type": "string",
                            "description": "Country ISO code."
                          },
                          "CountryName": {
                            "type": "string",
                            "description": "Country name."
                          },
                          "CurrencyCode": {
                            "type": "string",
                            "description": "Currency code."
                          },
                          "CurrencyName": {
                            "type": "string",
                            "description": "Currency name."
                          },
                          "CurrencySymbol": {
                            "type": "string",
                            "description": "Currency symbol."
                          },
                          "Description": {
                            "type": "string",
                            "description": "Company description."
                          },
                          "Exchange": {
                            "type": "string",
                            "description": "Exchange code."
                          },
                          "FullTimeEmployees": {
                            "type": "number",
                            "description": "Full-time employee count."
                          },
                          "Industry": {
                            "type": "string",
                            "description": "Industry."
                          },
                          "ISIN": {
                            "type": "string",
                            "description": "ISIN."
                          },
                          "LogoURL": {
                            "type": "string",
                            "description": "Logo URL."
                          },
                          "Name": {
                            "type": "string",
                            "description": "Security or company name."
                          },
                          "PrimaryTicker": {
                            "type": "string",
                            "description": "Primary ticker."
                          },
                          "Sector": {
                            "type": "string",
                            "description": "Sector."
                          },
                          "Type": {
                            "type": "string",
                            "description": "Security type."
                          },
                          "UpdatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update date."
                          },
                          "WebURL": {
                            "type": "string",
                            "description": "Website URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eODHDAPI/latest/actions/get-historical-index-constituents": {
      "get": {
        "operationId": "eODHDAPI.get-historical-index-constituents",
        "summary": "Get Historical Index Constituents",
        "description": "Retrieves historical index constituents from EODHD API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eODHDAPI/latest/actions/get-historical-index-constituents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indexSymbol",
            "in": "query",
            "required": true,
            "description": "EODHD index symbol, such as `GSPC.INDX`.",
            "schema": {
              "type": "string",
              "description": "EODHD index symbol, such as `GSPC.INDX`.",
              "example": "GSPC.INDX"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start date in `YYYY-MM-DD` format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start date in `YYYY-MM-DD` format.",
              "example": "2020-01-01"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End date in `YYYY-MM-DD` format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "End date in `YYYY-MM-DD` format.",
              "example": "2023-01-01"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "components": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Index constituent components for the snapshot."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Constituent snapshot date."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eODHDAPI/latest/actions/get-historical-market-cap": {
      "get": {
        "operationId": "eODHDAPI.get-historical-market-cap",
        "summary": "Get Historical Market Cap",
        "description": "Retrieves historical market capitalization for a symbol from EODHD API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eODHDAPI/latest/actions/get-historical-market-cap"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
            "schema": {
              "type": "string",
              "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
              "example": "AAPL.US"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start date in YYYY-MM-DD format.",
              "example": "2025-01-01"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "End date in YYYY-MM-DD format.",
              "example": "2025-12-31"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Market-cap date."
                          },
                          "value": {
                            "type": "number",
                            "description": "Historical market capitalization value."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eODHDAPI/latest/actions/get-holders": {
      "get": {
        "operationId": "eODHDAPI.get-holders",
        "summary": "Get Holders",
        "description": "Retrieves holder data for a symbol from EODHD API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eODHDAPI/latest/actions/get-holders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
            "schema": {
              "type": "string",
              "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
              "example": "AAPL.US"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Funds": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Fund holders collection."
                          },
                          "Institutions": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Institutional holders collection."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eODHDAPI/latest/actions/get-income-statement-fundamentals": {
      "get": {
        "operationId": "eODHDAPI.get-income-statement-fundamentals",
        "summary": "Get Income Statement Fundamentals",
        "description": "Retrieves income statement fundamentals for a symbol from EODHD API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eODHDAPI/latest/actions/get-income-statement-fundamentals"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
            "schema": {
              "type": "string",
              "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
              "example": "AAPL.US"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency_symbol": {
                            "type": "string",
                            "description": "Statement currency."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Statement date."
                          },
                          "eps": {
                            "type": "number",
                            "description": "Earnings per share."
                          },
                          "filing_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Filing date."
                          },
                          "grossProfit": {
                            "type": "number",
                            "description": "Gross profit."
                          },
                          "netIncome": {
                            "type": "number",
                            "description": "Net income."
                          },
                          "operatingIncome": {
                            "type": "number",
                            "description": "Operating income."
                          },
                          "totalRevenue": {
                            "type": "number",
                            "description": "Total revenue."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eODHDAPI/latest/actions/get-latest-eod-close": {
      "get": {
        "operationId": "eODHDAPI.get-latest-eod-close",
        "summary": "Get Latest EOD Close",
        "description": "Retrieves the latest end-of-day close for a symbol from EODHD API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eODHDAPI/latest/actions/get-latest-eod-close"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
            "schema": {
              "type": "string",
              "description": "EODHD ticker in `{symbol}.{exchange}` format, such as `AAPL.US`.",
              "example": "AAPL.US"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "close": {
                            "type": "number",
                            "description": "Latest close value returned by the last_close filter."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eODHDAPI/latest/actions/get-macro-indicator": {
      "get": {
        "operationId": "eODHDAPI.get-macro-indicator",
        "summary": "Get Macro Indicator",
        "description": "Retrieves a macroeconomic indicator by country from EODHD API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eODHDAPI/latest/actions/get-macro-indicator"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "Country code accepted by EODHD macro indicators, such as `USA`.",
            "schema": {
              "type": "string",
              "description": "Country code accepted by EODHD macro indicators, such as `USA`.",
              "example": "USA"
            }
          },
          {
            "name": "indicator",
            "in": "query",
            "required": true,
            "description": "Macro indicator code, for example gdp_current_usd.",
            "schema": {
              "type": "string",
              "description": "Macro indicator code, for example gdp_current_usd.",
              "example": "gdp_current_usd"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
[...]
