{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Viewpoint Spectrum Universal API",
    "version": "0.0.102",
    "description": "Web-based construction ERP solution with leading-edge tools"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/viewpointSpectrum/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/viewpointSpectrum/latest/actions/add-cash-receipts": {
      "post": {
        "operationId": "viewpointSpectrum.add-cash-receipts",
        "summary": "Add Cash Receipts",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointSpectrum/latest/actions/add-cash-receipts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "soapEnvelope": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointSpectrum/latest/actions/add-cash-receipts-soap": {
      "post": {
        "operationId": "viewpointSpectrum.add-cash-receipts-soap",
        "summary": "Add Cash Receipts (SOAP)",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointSpectrum/latest/actions/add-cash-receipts-soap"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerCode": {
                    "type": "string"
                  },
                  "batchCode": {
                    "type": "string"
                  },
                  "transactionCode": {
                    "type": "string"
                  },
                  "referenceNumber": {
                    "type": "string"
                  },
                  "referenceDate": {
                    "type": "string"
                  },
                  "transactionAmount": {
                    "type": "string"
                  },
                  "abaNumber": {
                    "type": "string"
                  },
                  "invoiceNumber": {
                    "type": "string"
                  },
                  "invoiceType": {
                    "type": "string"
                  },
                  "paymentAmount": {
                    "type": "string"
                  },
                  "discountTaken": {
                    "type": "string"
                  },
                  "costCenterHeader": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointSpectrum/latest/actions/create-ar-customer-invoice-multi-line": {
      "post": {
        "operationId": "viewpointSpectrum.create-ar-customer-invoice-multi-line",
        "summary": "Create AR Customer Invoice Multi-Line",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointSpectrum/latest/actions/create-ar-customer-invoice-multi-line"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "payload"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "payload": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointSpectrum/latest/actions/create-customer": {
      "post": {
        "operationId": "viewpointSpectrum.create-customer",
        "summary": "Create Customer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointSpectrum/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerCode",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "address1": {
                    "type": "string"
                  },
                  "address2": {
                    "type": "string"
                  },
                  "alphaSort": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "customerCode": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "zipCode": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "faxPhone": {
                    "type": "string"
                  },
                  "contact1": {
                    "type": "string"
                  },
                  "contact2": {
                    "type": "string"
                  },
                  "contact3": {
                    "type": "string"
                  },
                  "salesperson": {
                    "type": "string"
                  },
                  "termsCode": {
                    "type": "string",
                    "default": "NET30"
                  },
                  "standardRetentionPercent": {
                    "type": "number"
                  },
                  "taxableFlag": {
                    "type": "string"
                  },
                  "salesTaxCode": {
                    "type": "string",
                    "default": "\"\""
                  },
                  "resaleNumber": {
                    "type": "string"
                  },
                  "resaleExpDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "statementFlag": {
                    "type": "string"
                  },
                  "financeChargeTranCode": {
                    "type": "string"
                  },
                  "financeCharge": {
                    "type": "number"
                  },
                  "priceLevelMaterial": {
                    "type": "string"
                  },
                  "priceLevelLabor": {
                    "type": "string"
                  },
                  "creditLimit": {
                    "type": "number"
                  },
                  "dateCreated": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "Email1": {
                    "type": "string"
                  },
                  "markupCode": {
                    "type": "string"
                  },
                  "userDefinedFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "UDF1 — UDF20"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointSpectrum/latest/actions/create-customer-invoice": {
      "post": {
        "operationId": "viewpointSpectrum.create-customer-invoice",
        "summary": "Create Customer Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointSpectrum/latest/actions/create-customer-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "gLDate",
                  "batchCode",
                  "customerCode",
                  "transactionType",
                  "invoiceDate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "gLDate": {
                    "type": "string"
                  },
                  "batchCode": {
                    "type": "string"
                  },
                  "customerCode": {
                    "type": "string"
                  },
                  "jobNumber": {
                    "type": "string"
                  },
                  "invoiceOrTransaction": {
                    "type": "string"
                  },
                  "transactionType": {
                    "type": "string"
                  },
                  "invoiceDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "termsCode": {
                    "type": "string"
                  },
                  "salespersonCode": {
                    "type": "number"
                  },
                  "salesTaxCode": {
                    "type": "number"
                  },
                  "taxableFlag": {
                    "type": "string"
                  },
                  "retentionPercent": {
                    "type": "string"
                  },
                  "printJobAddressFlag": {
                    "type": "string"
                  },
                  "remarks": {
                    "type": "string"
                  },
                  "customerPO": {
                    "type": "string"
                  },
                  "aRGLAccount": {
                    "type": "string"
                  },
                  "detailDescription": {
                    "type": "string"
                  },
                  "lineExtension": {
                    "type": "string"
                  },
                  "gLAccount": {
                    "type": "string"
                  },
                  "salesTaxAmount": {
                    "type": "number"
                  },
                  "retentionAmount": {
                    "type": "string"
                  },
                  "vATCode": {
                    "type": "string"
                  },
                  "totalVATAmt": {
                    "type": "number"
                  },
                  "assetCostCenter": {
                    "type": "string"
                  },
                  "incomeCostCenter": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointSpectrum/latest/actions/create-purchase-order": {
      "post": {
        "operationId": "viewpointSpectrum.create-purchase-order",
        "summary": "Create Purchase Order",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointSpectrum/latest/actions/create-purchase-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "purchaseOrders[]",
                  "purchaseOrders[].Company_Code",
                  "purchaseOrders[].PO_Number",
                  "purchaseOrders[].Vendor_Code"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "purchaseOrders[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Purchase order batch items."
                  },
                  "purchaseOrders[].Company_Code": {
                    "type": "string",
                    "description": "Company code. Required; must be a valid company."
                  },
                  "purchaseOrders[].PO_Number": {
                    "type": "string",
                    "description": "Purchase order number. Required; leave blank to auto-assign the next PO number."
                  },
                  "purchaseOrders[].Vendor_Code": {
                    "type": "string",
                    "description": "Vendor code. Required; valid vendor code must exist in the company."
                  },
                  "purchaseOrders[].Warehouse_Code": {
                    "type": "string",
                    "description": "Warehouse code. Required unless no non-direct cost detail records are included."
                  },
                  "purchaseOrders[].Job_Number": {
                    "type": "string",
                    "description": "Job number. Required unless a valid warehouse code is defined and there are no direct job cost detail records."
                  },
                  "purchaseOrders[].VAT_Code": {
                    "type": "string",
                    "description": "VAT code. Must exist in the company when used."
                  },
                  "purchaseOrders[].Status_Flag": {
                    "type": "string",
                    "description": "PO status. P = Proposed, O = Open, C = Closed. Blank defaults to Proposed."
                  },
                  "purchaseOrders[].Cost_Center": {
                    "type": "string",
                    "description": "Cost center code. Must be valid if cost centers are enabled."
                  },
                  "purchaseOrders[].Remarks": {
                    "type": "string",
                    "description": "Remarks code or free text, up to 29 characters."
                  },
                  "purchaseOrders[].Special_Instructions": {
                    "type": "string",
                    "description": "Special instructions code or free text, up to 29 characters."
                  },
                  "purchaseOrders[].Ship_To_Code": {
                    "type": "string",
                    "description": "Ship-to code. D = Default, J = Job, I = Input. Blank defaults to D."
                  },
                  "purchaseOrders[].Ship_Name": {
                    "type": "string",
                    "description": "Ship-to name. Required when ship-to code is I."
                  },
                  "purchaseOrders[].Ship_Address_1": {
                    "type": "string",
                    "description": "Ship-to address line 1. Required when ship-to code is I."
                  },
                  "purchaseOrders[].Ship_Address_2": {
                    "type": "string",
                    "description": "Ship-to address line 2."
                  },
                  "purchaseOrders[].Ship_City": {
                    "type": "string",
                    "description": "Ship-to city. Required when ship-to code is I."
                  },
                  "purchaseOrders[].Ship_State": {
                    "type": "string",
                    "description": "Ship-to state. Required when ship-to code is I."
                  },
                  "purchaseOrders[].Ship_Zip_Code": {
                    "type": "string",
                    "description": "Ship-to postal code. Required when ship-to code is I."
                  },
                  "purchaseOrders[].Ship_Via": {
                    "type": "string",
                    "description": "Ship via code or free text. Blank defaults from Purchase Order Installation."
                  },
                  "purchaseOrders[].Ship_Terms": {
                    "type": "string",
                    "description": "Shipping terms code or free text. Blank defaults from Purchase Order Installation."
                  },
                  "purchaseOrders[].FOB": {
                    "type": "string",
                    "description": "FOB text. Blank defaults from Purchase Order Installation."
                  },
                  "purchaseOrders[].Ordered_By": {
                    "type": "string",
                    "description": "Ordered by, up to 20 characters."
                  },
                  "purchaseOrders[].Confirmed_By": {
                    "type": "string",
                    "description": "Confirmed by. Blank defaults from Purchase Order Installation."
                  },
                  "purchaseOrders[].PO_Order_Date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Order date in MM/DD/CCYY format. Blank defaults to the current PO processing date."
                  },
                  "purchaseOrders[].Batch_Code": {
                    "type": "string",
                    "description": "Batch code. Blank defaults to the operator code from Authorization_ID."
                  },
                  "purchaseOrders[].Terms_Code": {
                    "type": "string",
                    "description": "Payment terms basis. A = Based on invoice date, B = Based on first of next month."
                  },
                  "purchaseOrders[].Payment_Days": {
                    "type": "number",
                    "description": "Payment number of days. Must be non-negative."
                  },
                  "purchaseOrders[].Discount_From_Code": {
                    "type": "string",
                    "description": "Discount due basis. A = Based on invoice date, B = Based on first of next month."
                  },
                  "purchaseOrders[].Discount_Days": {
                    "type": "number",
                    "description": "Discount number of days. Must be non-negative."
                  },
                  "purchaseOrders[].Terms_Percent": {
                    "type": "number",
                    "description": "Discount percent. Enter 12.34 for 12.34%; must be non-negative."
                  },
                  "purchaseOrders[].Terms_Description": {
                    "type": "string",
                    "description": "Terms description, up to 20 characters. Constructed automatically when blank."
                  },
                  "purchaseOrders[].Resale_Flag": {
                    "type": "string",
                    "description": "For resale flag. Y = For resale, N = Not for resale."
                  },
                  "purchaseOrders[].Tax_Code": {
                    "type": "string",
                    "description": "Default sales/use tax code. Must exist in the company when used."
                  },
                  "purchaseOrders[].Routing_Code": {
                    "type": "string",
                    "description": "Routing code. Must exist in the company when used."
                  },
                  "purchaseOrders[].PO_Delivery_Date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Delivery date in MM/DD/CCYY format."
                  },
                  "purchaseOrders[].PO_Method": {
                    "type": "string",
                    "description": "Receiving method. Must be 1 or 2 when supplied."
                  },
                  "purchaseOrders[].PO_Type": {
                    "type": "string",
                    "description": "Pricing type. U = Unit price, L = Lump sum."
                  },
                  "purchaseOrders[].Bank_Account_Code": {
                    "type": "string",
                    "description": "Credit card account code. Must be a credit-card type account when used."
                  },
                  "purchaseOrders[].Card_Number": {
                    "type": "string",
                    "description": "Card number. Required if the account tracks card numbers."
                  },
                  "purchaseOrders[].Comment": {
                    "type": "string",
                    "description": "Header comment, up to 250 characters."
                  },
                  "purchaseOrders[].poDetails[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Purchase order detail lines."
                  },
                  "purchaseOrders[].poDetails[].Detail_Entry_Type": {
                    "type": "string",
                    "description": "Detail entry type. D = Defined item code, N = Non-stock item, M = Message-only."
                  },
                  "purchaseOrders[].poDetails[].PO_Quantity": {
                    "type": "number",
                    "description": "Quantity. Required and non-zero unless this is a message-only line."
                  },
                  "purchaseOrders[].poDetails[].Item_ID": {
                    "type": "string",
                    "description": "Item ID. Required unless this is a message-only line."
                  },
                  "purchaseOrders[].poDetails[].Item_Description": {
                    "type": "string",
                    "description": "Item description. Used for non-stock items; stock item descriptions default from inventory item master."
                  },
                  "purchaseOrders[].poDetails[].Unit_Of_Measure": {
                    "type": "string",
                    "description": "Unit of measure, up to 3 characters."
                  },
                  "purchaseOrders[].poDetails[].Item_Price": {
                    "type": "number",
                    "description": "Item price. Blank defaults using Spectrum purchase order rules."
                  },
                  "purchaseOrders[].poDetails[].Item_Discount_Percent": {
                    "type": "number",
                    "description": "Line discount percent. Enter 12.34 for 12.34%; must be non-negative."
                  },
                  "purchaseOrders[].poDetails[].GL_Account": {
                    "type": "string",
                    "description": "G/L account. Required unless this is a message-only line."
                  },
                  "purchaseOrders[].poDetails[].Phase_Code": {
                    "type": "string",
                    "description": "Phase code. Required unless this is a message-only line or non-job purchase."
                  },
                  "purchaseOrders[].poDetails[].Cost_Type": {
                    "type": "string",
                    "description": "Cost type. Required unless this is a message-only line or non-job purchase."
                  },
                  "purchaseOrders[].poDetails[].Tax_Code": {
                    "type": "string",
                    "description": "Detail sales/use tax code. Must exist in the company when used."
                  },
                  "purchaseOrders[].poDetails[].Delivery_Date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Detail delivery date in MM/DD/CCYY format."
                  },
                  "purchaseOrders[].poDetails[].Message": {
                    "type": "string",
                    "description": "Message text. Required for message-only lines; up to 250 characters."
                  },
                  "purchaseOrders[].poDetails[].Cost_Center": {
                    "type": "string",
                    "description": "Detail cost center. Must be valid if cost centers are enabled."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointSpectrum/latest/actions/create-vendor": {
      "post": {
        "operationId": "viewpointSpectrum.create-vendor",
        "summary": "Create Vendor",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointSpectrum/latest/actions/create-vendor"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "vendorCode",
                  "vendorName",
                  "alphaSort",
                  "termsCode",
                  "termsDays",
                  "termsDiscCode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "vendorCode": {
                    "type": "string",
                    "description": "Vendor Code."
                  },
                  "vendorName": {
                    "type": "string",
                    "description": "Vendor Name."
                  },
                  "alphaSort": {
                    "type": "string",
                    "description": "Vendor Alpha Ref."
                  },
                  "type": {
                    "type": "string",
                    "description": "Vendor Type."
                  },
                  "address1": {
                    "type": "string",
                    "description": "Address 1."
                  },
                  "address2": {
                    "type": "string",
                    "description": "Address 2."
                  },
                  "city": {
                    "type": "string",
                    "description": "City."
                  },
                  "state": {
                    "type": "string",
                    "description": "State/province."
                  },
                  "zipCode": {
                    "type": "string",
                    "description": "Postal code."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone Number."
                  },
                  "faxPhone": {
                    "type": "string",
                    "description": "Fax number."
                  },
                  "contactName": {
                    "type": "string",
                    "description": "Contact Name."
                  },
                  "ourAccountNumber": {
                    "type": "string",
                    "description": "Account reference."
                  },
                  "termsCode": {
                    "type": "string",
                    "description": "Payment due terms (A or B only)."
                  },
                  "termsDays": {
                    "type": "number",
                    "description": "Days Payment Due."
                  },
                  "termsDiscCode": {
                    "type": "string",
                    "description": "Discount Due (A or B only)."
                  },
                  "termsDiscDays": {
                    "type": "number",
                    "description": "Days Discount Due."
                  },
                  "termsDiscPercent": {
                    "type": "number",
                    "description": "Discount percent."
                  },
                  "insuranceCertFlag": {
                    "type": "string",
                    "description": "Insurance certificate flag (Y/N)."
                  },
                  "insuranceExpDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Insurance expiration date."
                  },
                  "holdFlag": {
                    "type": "string",
                    "description": "On hold flag (Y/N)."
                  },
                  "defaultGLAccount": {
                    "type": "string",
                    "description": "Default G/L Code."
                  },
                  "useTaxCode": {
                    "type": "string",
                    "description": "Sales/Use Tax Code."
                  },
                  "send1099Flag": {
                    "type": "string",
                    "description": "1099 flag (Y/N)."
                  },
                  "alt1099Name": {
                    "type": "string",
                    "description": "Alternate 1099 name."
                  },
                  "fed1099Indicator": {
                    "type": "string",
                    "description": "1099 payment indicator."
                  },
                  "socialSecNumber": {
                    "type": "string",
                    "description": "Social Security number."
                  },
                  "fedIdNumber": {
                    "type": "string",
                    "description": "Federal ID number."
                  },
                  "vendorEmail": {
                    "type": "string",
                    "description": "Vendor email."
                  },
                  "contactPhone": {
                    "type": "string",
                    "description": "Contact phone."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointSpectrum/latest/actions/create-vendor-invoice": {
      "post": {
        "operationId": "viewpointSpectrum.create-vendor-invoice",
        "summary": "Create Vendor Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointSpectrum/latest/actions/create-vendor-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "batchCode",
                  "gLDate",
                  "invoiceAmount",
                  "invoiceDate",
                  "invoiceNumber",
                  "invoiceTypeCode",
                  "vendorCode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "aPGLAccount": {
                    "type": "string"
                  },
                  "batchCode": {
                    "type": "string"
                  },
                  "contractNumber": {
                    "type": "string"
                  },
                  "costType": {
                    "type": "string"
                  },
                  "discountAmount": {
                    "type": "number"
                  },
                  "discountDueDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "distributionGLAccount": {
                    "type": "string"
                  },
                  "equipmentCategory": {
                    "type": "string"
                  },
                  "equipmentCode": {
                    "type": "string"
                  },
                  "equipmentWorkOrder": {
                    "type": "string"
                  },
                  "expenseCostCenter": {
                    "type": "string"
                  },
                  "gLDate": {
                    "type": "string"
                  },
                  "invoiceAmount": {
                    "type": "number"
                  },
                  "invoiceDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "invoiceNumber": {
                    "type": "string"
                  },
                  "invoiceTypeCode": {
                    "type": "string"
                  },
                  "itemCode": {
                    "type": "string"
                  },
                  "jobNumber": {
                    "type": "string"
                  },
                  "liabilityCostCenter": {
                    "type": "string"
                  },
                  "paymentDueDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "phaseCode": {
                    "type": "string"
                  },
                  "pONumber": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "number"
                  },
                  "remarks": {
                    "type": "string"
                  },
                  "retentionAmount": {
                    "type": "number"
                  },
                  "salesTaxAmount": {
                    "type": "number"
                  },
                  "status": {
                    "type": "string"
                  },
                  "taxCode": {
                    "type": "string"
                  },
                  "totalVATAmt": {
                    "type": "number"
                  },
                  "vATCode": {
                    "type": "string"
                  },
                  "vendorCode": {
                    "type": "string"
                  },
                  "wOComponent": {
                    "type": "string"
                  },
                  "wOEquipment": {
                    "type": "string"
                  },
                  "wONumber": {
                    "type": "string"
                  },
                  "wOSCContract": {
                    "type": "string"
                  },
                  "wOUnitPrice": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointSpectrum/latest/actions/create-vendor-invoice-multi-line": {
      "post": {
        "operationId": "viewpointSpectrum.create-vendor-invoice-multi-line",
        "summary": "Create Vendor Invoice Multi-Line",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointSpectrum/latest/actions/create-vendor-invoice-multi-line"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "APInvoiceDetails[].Amount": {
                    "type": "number"
                  },
                  "APInvoiceDetails[].Distribution.Cost_Center": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Distribution.GL_Account": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Equipment.Equipment_Category": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Equipment.Equipment_Code": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Item_Description": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Job": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "APInvoiceDetails[].Job.Cost_Type": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Job.Phase_Code": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Quantity": {
                    "type": "number"
                  },
                  "APInvoiceDetails[].Tax_Code": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Unit_Of_Measure": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Work_Order.Component": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Work_Order.Equipment": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Work_Order.Service_Contract": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Work_Order.Unit_Price": {
                    "type": "number"
                  },
                  "Images[].Document_ID": {
                    "type": "string"
                  },
                  "Images[].Image_Description": {
                    "type": "string"
                  },
                  "Images[].Image_File": {
                    "type": "string",
                    "description": "Base64"
                  },
                  "APInvoiceDetails[].Distribution": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "APInvoiceDetails[].Distribution.Company_Code": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Equipment.Equipment_Work_Order": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Job.Job_Number": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Work_Order.WO_Number": {
                    "type": "string"
                  },
                  "Images[].Image_Type": {
                    "type": "string"
                  },
                  "Invoice_Number": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Item_Code": {
                    "type": "string"
                  },
                  "Vendor_Code": {
                    "type": "string"
                  },
                  "Approval_Status": {
                    "type": "string"
                  },
                  "Invoice_Type_Code": {
                    "type": "string",
                    "description": "I — Invoice [default]\nC — Credit memo"
                  },
                  "Routing_Code": {
                    "type": "string"
                  },
                  "GL_Date": {
                    "type": "string",
                    "description": "Eg: 05/15/2017"
                  },
                  "Invoice_Date": {
                    "type": "string"
                  },
                  "Invoice_Amount": {
                    "type": "number"
                  },
                  "APInvoiceDetails[].Equipment": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Sales_Tax_Amount": {
                    "type": "number"
                  },
                  "APInvoiceDetails[].Work_Order": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "VAT_Code": {
                    "type": "string"
                  },
                  "APInvoiceDetails[].Remark": {
                    "type": "string"
                  },
                  "Total_VAT_Amount": {
                    "type": "string"
                  },
                  "Contract_Number": {
                    "type": "string"
                  },
                  "Retention_Amount": {
                    "type": "number"
                  },
                  "Batch_Code": {
                    "type": "string"
                  },
                  "Payment_Due_Date": {
                    "type": "string"
                  },
                  "Discount_Due_Date": {
                    "type": "string"
                  },
                  "Discount_Amount": {
                    "type": "number"
                  },
                  "Status": {
                    "type": "string"
                  },
                  "Payment_Status": {
                    "type": "string"
                  },
                  "Bank_Account_Code": {
                    "type": "string"
                  },
                  "Check_Number": {
                    "type": "string"
                  },
                  "Check_Date": {
                    "type": "string"
                  },
                  "Card_Number": {
                    "type": "string"
                  },
                  "AP_GL_Account": {
                    "type": "string"
                  },
                  "Cost_Center": {
                    "type": "string"
                  },
                  "Remarks": {
                    "type": "string"
                  },
                  "APInvoiceDetails[]": {
                    "type": "array",
                    "items": {}
                  },
                  "Images[]": {
                    "type": "array",
                    "items": {}
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointSpectrum/latest/actions/create-vendor-soap": {
      "post": {
        "operationId": "viewpointSpectrum.create-vendor-soap",
        "summary": "Create Vendor (SOAP)",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointSpectrum/latest/actions/create-vendor-soap"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "vendorCode",
                  "vendorName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "vendorCode": {
                    "type": "string"
                  },
                  "vendorName": {
                    "type": "string"
                  },
                  "alphaSort": {
                    "type": "string"
                  },
                  "vendorType": {
                    "type": "string"
                  },
                  "address1": {
                    "type": "string"
                  },
                  "address2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "zipCode": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "defaultGLAccount": {
                    "type": "string"
                  },
                  "faxPhone": {
                    "type": "string"
                  },
                  "contact1": {
                    "type": "string"
                  },
                  "contact2": {
                    "type": "string"
                  },
                  "contact3": {
                    "type": "string"
                  },
                  "salesperson": {
                    "type": "string"
                  },
                  "termsCode": {
                    "type": "string"
                  },
                  "termsDays": {
                    "type": "string"
                  },
                  "discountTermsCode": {
                    "type": "string"
                  },
                  "discountTermsDays": {
                    "type": "string"
                  },
                  "discountPercent": {
                    "type": "string"
                  },
                  "standardRetentionPercent": {
                    "type": "number"
                  },
                  "taxableFlag": {
                    "type": "string"
                  },
                  "salesTaxCode": {
                    "type": "string"
                  },
                  "resaleNumber": {
                    "type": "string"
                  },
                  "resaleExpDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "statementFlag": {
                    "type": "string"
                  },
                  "financeChargeTranCode": {
                    "type": "string"
                  },
                  "financeCharge": {
                    "type": "number"
                  },
                  "priceLevelMaterial": {
                    "type": "string"
                  },
                  "priceLevelLabor": {
                    "type": "string"
                  },
                  "creditLimit": {
                    "type": "number"
                  },
                  "dateCreated": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "customerEmail": {
                    "type": "string"
                  },
                  "markupCode": {
                    "type": "string"
                  },
                  "userDefinedFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "UDF1 — UDF20"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointSpectrum/latest/actions/create-work-orders": {
      "post": {
        "operationId": "viewpointSpectrum.create-work-orders",
        "summary": "Create Work Orders",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointSpectrum/latest/actions/create-work-orders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "woNumer": {
                    "type": "string"
                  },
                  "woReferenceCode": {
                    "type": "string"
                  },
                  "woJobNumber": {
                    "type": "string"
                  },
                  "woJobDivision": {
                    "type": "string"
                  },
                  "billCustomerCode": {
                    "type": "string"
                  },
                  "contractNumber": {
                    "type": "string"
                  },
                  "customerPONumber": {
                    "type": "string"
                  },
                  "customerJob": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "woPhone1": {
                    "type": "string"
                  },
                  "woPhone2": {
                    "type": "string"
                  },
                  "billContract": {
                    "type": "number"
                  },
                  "zone": {
                    "type": "string"
                  },
                  "priorityCode": {
                    "type": "string"
                  },
                  "woCaseType": {
                    "type": "string"
                  },
                  "priceType": {
                    "type": "string"
                  },
                  "totalQuoteAmount": {
                    "type": "string"
                  },
                  "projectedHours": {
                    "type": "string"
                  },
                  "estArrival": {
                    "type": "string"
                  },
                  "dispatchStatusCode": {
                    "type": "string"
                  },
                  "summaryDescription": {
                    "type": "string"
                  },
                  "orderedDate": {
                    "type": "number"
                  },
                  "timeEntered": {
                    "type": "string"
                  },
                  "requestedDate": {
                    "type": "string"
                  },
                  "estimatedCompleteTime": {
                    "type": "number"
                  },
                  "scheduledStartDate": {
                    "type": "string"
                  },
                  "scheduledStartTime": {
                    "type": "string"
                  },
                  "dateAssigned": {
                    "type": "string"
                  },
                  "timeAssigned": {
                    "type": "string"
                  },
                  "arrivalDate": {
                    "type": "string"
                  },
                  "arrivalTime": {
                    "type": "string"
                  },
                  "completeDate": {
                    "type": "string"
                  },
                  "completeTime": {
                    "type": "string"
                  },
                  "leadSource": {
                    "type": "string"
                  },
                  "salesPerson": {
                    "type": "string"
                  },
                  "takenBy": {
                    "type": "string"
                  },
                  "arTermsCode": {
                    "type": "string"
                  },
                  "salesTaxCode": {
                    "type": "string"
                  },
                  "taxableFlag": {
                    "type": "string"
                  },
                  "glDepartment": {
                    "type": "string"
                  },
                  "costCenter": {
                    "type": "string"
                  },
                  "billtoCode": {
                    "type": "string"
                  },
                  "overrideEroMarkup": {
                    "type": "string"
                  },
                  "materialPriceLevel": {
                    "type": "string"
                  },
                  "priceLevel": {
                    "type": "string"
                  },
                  "markupCode": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
[...]
