{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "OOPSpam Universal API",
    "version": "0.0.7",
    "description": "OOPSpam is an anti-spam API for classifying form submissions, reporting false positives/negatives, and checking domain reputation."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/oOPSpam/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/oOPSpam/latest/actions/check-content-for-spam": {
      "post": {
        "operationId": "oOPSpam.check-content-for-spam",
        "summary": "Check Content for Spam",
        "description": "Checks submitted content for spam in OOPSpam.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oOPSpam/latest/actions/check-content-for-spam"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "content": {
                    "type": "string",
                    "description": "Message content to analyze for spam."
                  },
                  "senderIP": {
                    "type": "string",
                    "description": "IP address of the original sender."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the original sender."
                  },
                  "checkForLength": {
                    "type": "boolean",
                    "description": "Treat very short content as spam.",
                    "default": true
                  },
                  "blockTempEmail": {
                    "type": "boolean",
                    "description": "Block disposable email addresses.",
                    "default": false
                  },
                  "logIt": {
                    "type": "boolean",
                    "description": "Send this request to OOPSpam dashboard logs.",
                    "default": false
                  },
                  "source": {
                    "type": "string",
                    "description": "Unique source identifier required when logIt is true."
                  },
                  "context": {
                    "type": "string",
                    "description": "Business or website context used for contextual detection."
                  },
                  "blockVPN": {
                    "type": "boolean",
                    "description": "Block VPN, proxy, and Tor IPs.",
                    "default": false
                  },
                  "blockDC": {
                    "type": "boolean",
                    "description": "Block cloud provider and data center IPs.",
                    "default": false
                  },
                  "urlFriendly": {
                    "type": "boolean",
                    "description": "Reduce the impact of links on the spam score.",
                    "default": false
                  },
                  "allowedLanguages[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Two-letter language codes that are allowed."
                  },
                  "allowedCountries[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Two-letter country codes that are allowed."
                  },
                  "blockedCountries[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Two-letter country codes that are blocked."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "details": {
                            "type": "object",
                            "properties": {
                              "isEmailBlocked": {
                                "type": "boolean"
                              },
                              "numberOfSpamWords": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "score": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oOPSpam/latest/actions/check-domain-reputation": {
      "get": {
        "operationId": "oOPSpam.check-domain-reputation",
        "summary": "Check Domain Reputation",
        "description": "Checks a domain's reputation in OOPSpam.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oOPSpam/latest/actions/check-domain-reputation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Fully qualified domain name without protocol or www.",
            "schema": {
              "type": "string",
              "description": "Fully qualified domain name without protocol or www."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blocked": {
                            "type": "boolean"
                          },
                          "blocker": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/oOPSpam/latest/actions/report-misdetection": {
      "post": {
        "operationId": "oOPSpam.report-misdetection",
        "summary": "Report Misdetection",
        "description": "Reports a false positive or false negative to OOPSpam.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/oOPSpam/latest/actions/report-misdetection"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "shouldBeSpam"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "content": {
                    "type": "string",
                    "description": "Message content that was misclassified."
                  },
                  "senderIP": {
                    "type": "string",
                    "description": "IP address of the original sender."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the original sender."
                  },
                  "checkForLength": {
                    "type": "boolean",
                    "description": "Treat very short content as spam.",
                    "default": true
                  },
                  "blockTempEmail": {
                    "type": "boolean",
                    "description": "Block disposable email addresses.",
                    "default": false
                  },
                  "logIt": {
                    "type": "boolean",
                    "description": "Send this request to OOPSpam dashboard logs.",
                    "default": false
                  },
                  "source": {
                    "type": "string",
                    "description": "Unique source identifier required when logIt is true."
                  },
                  "shouldBeSpam": {
                    "type": "boolean",
                    "description": "Whether the submission should have been classified as spam."
                  },
                  "context": {
                    "type": "string",
                    "description": "Business or website context used for contextual detection."
                  },
                  "blockVPN": {
                    "type": "boolean",
                    "description": "Block VPN, proxy, and Tor IPs.",
                    "default": false
                  },
                  "blockDC": {
                    "type": "boolean",
                    "description": "Block cloud provider and data center IPs.",
                    "default": false
                  },
                  "urlFriendly": {
                    "type": "boolean",
                    "description": "Reduce the impact of links on the spam score.",
                    "default": false
                  },
                  "allowedLanguages[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Two-letter language codes that are allowed."
                  },
                  "allowedCountries[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Two-letter country codes that are allowed."
                  },
                  "blockedCountries[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Two-letter country codes that are blocked."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
