{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "The Odds Universal API",
    "version": "0.0.6",
    "description": "Official sports odds, scores, events, participants, and historical odds data from The Odds API v4."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/theOddsAPI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/theOddsAPI/latest/actions/get-event-markets": {
      "get": {
        "operationId": "theOddsAPI.get-event-markets",
        "summary": "Get Event Markets",
        "description": "Retrieves markets for a specific event from The Odds API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theOddsAPI/latest/actions/get-event-markets"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated bookmaker keys. Overrides regions when supplied.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated bookmaker keys. Overrides regions when supplied."
            }
          },
          {
            "name": "dateFormat",
            "in": "query",
            "required": false,
            "description": "Optional timestamp format, unix or iso.",
            "schema": {
              "type": "string",
              "description": "Optional timestamp format, unix or iso."
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "description": "The event id returned by List Events.",
            "schema": {
              "type": "string",
              "description": "The event id returned by List Events."
            }
          },
          {
            "name": "regions",
            "in": "query",
            "required": true,
            "description": "Comma-separated regions to include, for example us or us,uk.",
            "schema": {
              "type": "string",
              "description": "Comma-separated regions to include, for example us or us,uk."
            }
          },
          {
            "name": "sport",
            "in": "query",
            "required": true,
            "description": "The sport key returned by List Sports.",
            "schema": {
              "type": "string",
              "description": "The sport key returned by List Sports."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "away_team": {
                            "type": "string"
                          },
                          "bookmakers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "commence_time": {
                            "type": "string"
                          },
                          "home_team": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "sport_key": {
                            "type": "string"
                          },
                          "sport_title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theOddsAPI/latest/actions/get-event-odds": {
      "get": {
        "operationId": "theOddsAPI.get-event-odds",
        "summary": "Get Event Odds",
        "description": "Retrieves odds for a specific event from The Odds API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theOddsAPI/latest/actions/get-event-odds"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated bookmaker keys. Overrides regions when supplied.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated bookmaker keys. Overrides regions when supplied."
            }
          },
          {
            "name": "dateFormat",
            "in": "query",
            "required": false,
            "description": "Optional timestamp format, unix or iso.",
            "schema": {
              "type": "string",
              "description": "Optional timestamp format, unix or iso."
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "description": "The event id returned by List Events.",
            "schema": {
              "type": "string",
              "description": "The event id returned by List Events."
            }
          },
          {
            "name": "markets",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated market keys.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated market keys."
            }
          },
          {
            "name": "oddsFormat",
            "in": "query",
            "required": false,
            "description": "Optional odds format such as american or decimal.",
            "schema": {
              "type": "string",
              "description": "Optional odds format such as american or decimal."
            }
          },
          {
            "name": "regions",
            "in": "query",
            "required": true,
            "description": "Comma-separated regions to include, for example us or us,uk.",
            "schema": {
              "type": "string",
              "description": "Comma-separated regions to include, for example us or us,uk."
            }
          },
          {
            "name": "sport",
            "in": "query",
            "required": true,
            "description": "The sport key returned by List Sports.",
            "schema": {
              "type": "string",
              "description": "The sport key returned by List Sports."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "away_team": {
                            "type": "string"
                          },
                          "bookmakers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "commence_time": {
                            "type": "string"
                          },
                          "home_team": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "sport_key": {
                            "type": "string"
                          },
                          "sport_title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theOddsAPI/latest/actions/get-historical-event-odds": {
      "get": {
        "operationId": "theOddsAPI.get-historical-event-odds",
        "summary": "Get Historical Event Odds",
        "description": "Retrieves historical odds for a specific event from The Odds API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theOddsAPI/latest/actions/get-historical-event-odds"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated bookmaker keys. Overrides regions when supplied.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated bookmaker keys. Overrides regions when supplied."
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Historical snapshot timestamp in ISO 8601 format.",
            "schema": {
              "type": "string",
              "description": "Historical snapshot timestamp in ISO 8601 format."
            }
          },
          {
            "name": "dateFormat",
            "in": "query",
            "required": false,
            "description": "Optional timestamp format, unix or iso.",
            "schema": {
              "type": "string",
              "description": "Optional timestamp format, unix or iso."
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "description": "The event id returned by List Historical Events or the provider snapshot.",
            "schema": {
              "type": "string",
              "description": "The event id returned by List Historical Events or the provider snapshot."
            }
          },
          {
            "name": "markets",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated market keys.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated market keys."
            }
          },
          {
            "name": "oddsFormat",
            "in": "query",
            "required": false,
            "description": "Optional odds format such as american or decimal.",
            "schema": {
              "type": "string",
              "description": "Optional odds format such as american or decimal."
            }
          },
          {
            "name": "regions",
            "in": "query",
            "required": true,
            "description": "Comma-separated regions to include, for example us or us,uk.",
            "schema": {
              "type": "string",
              "description": "Comma-separated regions to include, for example us or us,uk."
            }
          },
          {
            "name": "sport",
            "in": "query",
            "required": true,
            "description": "The sport key returned by List Sports.",
            "schema": {
              "type": "string",
              "description": "The sport key returned by List Sports."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "next_timestamp": {
                            "type": "string"
                          },
                          "previous_timestamp": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theOddsAPI/latest/actions/list-events": {
      "get": {
        "operationId": "theOddsAPI.list-events",
        "summary": "List Events",
        "description": "Retrieves sports events from The Odds API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theOddsAPI/latest/actions/list-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFormat",
            "in": "query",
            "required": false,
            "description": "Optional timestamp format, unix or iso.",
            "schema": {
              "type": "string",
              "description": "Optional timestamp format, unix or iso."
            }
          },
          {
            "name": "sport",
            "in": "query",
            "required": true,
            "description": "The sport key returned by List Sports.",
            "schema": {
              "type": "string",
              "description": "The sport key returned by List Sports."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "away_team": {
                            "type": "string"
                          },
                          "commence_time": {
                            "type": "string"
                          },
                          "home_team": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "sport_key": {
                            "type": "string"
                          },
                          "sport_title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theOddsAPI/latest/actions/list-historical-events": {
      "get": {
        "operationId": "theOddsAPI.list-historical-events",
        "summary": "List Historical Events",
        "description": "Retrieves historical events from The Odds API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theOddsAPI/latest/actions/list-historical-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Historical snapshot timestamp in ISO 8601 format.",
            "schema": {
              "type": "string",
              "description": "Historical snapshot timestamp in ISO 8601 format."
            }
          },
          {
            "name": "sport",
            "in": "query",
            "required": true,
            "description": "The sport key returned by List Sports.",
            "schema": {
              "type": "string",
              "description": "The sport key returned by List Sports."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "next_timestamp": {
                            "type": "string"
                          },
                          "previous_timestamp": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theOddsAPI/latest/actions/list-historical-odds": {
      "get": {
        "operationId": "theOddsAPI.list-historical-odds",
        "summary": "List Historical Odds",
        "description": "Retrieves historical odds from The Odds API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theOddsAPI/latest/actions/list-historical-odds"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated bookmaker keys. Overrides regions when supplied.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated bookmaker keys. Overrides regions when supplied."
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Historical snapshot timestamp in ISO 8601 format.",
            "schema": {
              "type": "string",
              "description": "Historical snapshot timestamp in ISO 8601 format."
            }
          },
          {
            "name": "dateFormat",
            "in": "query",
            "required": false,
            "description": "Optional timestamp format, unix or iso.",
            "schema": {
              "type": "string",
              "description": "Optional timestamp format, unix or iso."
            }
          },
          {
            "name": "markets",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated market keys.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated market keys."
            }
          },
          {
            "name": "oddsFormat",
            "in": "query",
            "required": false,
            "description": "Optional odds format such as american or decimal.",
            "schema": {
              "type": "string",
              "description": "Optional odds format such as american or decimal."
            }
          },
          {
            "name": "regions",
            "in": "query",
            "required": true,
            "description": "Comma-separated regions to include, for example us or us,uk.",
            "schema": {
              "type": "string",
              "description": "Comma-separated regions to include, for example us or us,uk."
            }
          },
          {
            "name": "sport",
            "in": "query",
            "required": true,
            "description": "The sport key returned by List Sports.",
            "schema": {
              "type": "string",
              "description": "The sport key returned by List Sports."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "next_timestamp": {
                            "type": "string"
                          },
                          "previous_timestamp": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theOddsAPI/latest/actions/list-odds": {
      "get": {
        "operationId": "theOddsAPI.list-odds",
        "summary": "List Odds",
        "description": "Retrieves odds for sports events from The Odds API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theOddsAPI/latest/actions/list-odds"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated bookmaker keys. Overrides regions when supplied.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated bookmaker keys. Overrides regions when supplied."
            }
          },
          {
            "name": "dateFormat",
            "in": "query",
            "required": false,
            "description": "Optional timestamp format, unix or iso.",
            "schema": {
              "type": "string",
              "description": "Optional timestamp format, unix or iso."
            }
          },
          {
            "name": "markets",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated market keys such as h2h or spreads.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated market keys such as h2h or spreads."
            }
          },
          {
            "name": "oddsFormat",
            "in": "query",
            "required": false,
            "description": "Optional odds format such as american or decimal.",
            "schema": {
              "type": "string",
              "description": "Optional odds format such as american or decimal."
            }
          },
          {
            "name": "regions",
            "in": "query",
            "required": true,
            "description": "Comma-separated regions to include, for example us or us,uk.",
            "schema": {
              "type": "string",
              "description": "Comma-separated regions to include, for example us or us,uk."
            }
          },
          {
            "name": "sport",
            "in": "query",
            "required": true,
            "description": "The sport key returned by List Sports.",
            "schema": {
              "type": "string",
              "description": "The sport key returned by List Sports."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "away_team": {
                            "type": "string"
                          },
                          "bookmakers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "commence_time": {
                            "type": "string"
                          },
                          "home_team": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "sport_key": {
                            "type": "string"
                          },
                          "sport_title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theOddsAPI/latest/actions/list-participants": {
      "get": {
        "operationId": "theOddsAPI.list-participants",
        "summary": "List Participants",
        "description": "Retrieves participants for a sport from The Odds API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theOddsAPI/latest/actions/list-participants"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sport",
            "in": "query",
            "required": true,
            "description": "The sport key returned by List Sports.",
            "schema": {
              "type": "string",
              "description": "The sport key returned by List Sports."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "full_name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theOddsAPI/latest/actions/list-scores": {
      "get": {
        "operationId": "theOddsAPI.list-scores",
        "summary": "List Scores",
        "description": "Retrieves scores for sports events from The Odds API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theOddsAPI/latest/actions/list-scores"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFormat",
            "in": "query",
            "required": false,
            "description": "Optional timestamp format, unix or iso.",
            "schema": {
              "type": "string",
              "description": "Optional timestamp format, unix or iso."
            }
          },
          {
            "name": "daysFrom",
            "in": "query",
            "required": false,
            "description": "Optional number of days from now to include in scores.",
            "schema": {
              "type": "string",
              "description": "Optional number of days from now to include in scores."
            }
          },
          {
            "name": "eventIds",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated event ids to filter scores.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated event ids to filter scores."
            }
          },
          {
            "name": "sport",
            "in": "query",
            "required": true,
            "description": "The sport key returned by List Sports.",
            "schema": {
              "type": "string",
              "description": "The sport key returned by List Sports."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "away_team": {
                            "type": "string"
                          },
                          "commence_time": {
                            "type": "string"
                          },
                          "completed": {
                            "type": "boolean"
                          },
                          "home_team": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "last_update": {
                            "type": "string"
                          },
                          "scores": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "sport_key": {
                            "type": "string"
                          },
                          "sport_title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theOddsAPI/latest/actions/list-sports": {
      "get": {
        "operationId": "theOddsAPI.list-sports",
        "summary": "List Sports",
        "description": "Retrieves supported sports from The Odds API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theOddsAPI/latest/actions/list-sports"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all",
            "in": "query",
            "required": false,
            "description": "Set true to include both in-season and out-of-season sports.",
            "schema": {
              "type": "boolean",
              "description": "Set true to include both in-season and out-of-season sports."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "string"
                          },
                          "group": {
                            "type": "string"
                          },
                          "has_outrights": {
                            "type": "boolean"
                          },
                          "key": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
