{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Ticket Tailor Universal API",
    "version": "0.0.8",
    "description": "Sell tickets, manage events, and track orders with Ticket Tailor"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/ticketTailor/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/ticketTailor/latest/actions/get-checkout-form-element": {
      "get": {
        "operationId": "ticketTailor.get-checkout-form-element",
        "summary": "Get Checkout Form Element",
        "description": "Retrieves a checkout form element from Ticket Tailor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ticketTailor/latest/actions/get-checkout-form-element"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checkoutFormId",
            "in": "query",
            "required": true,
            "description": "Ticket Tailor checkout form ID.",
            "schema": {
              "type": "string",
              "description": "Ticket Tailor checkout form ID."
            }
          },
          {
            "name": "checkoutFormElementId",
            "in": "query",
            "required": true,
            "description": "Ticket Tailor checkout form element ID.",
            "schema": {
              "type": "string",
              "description": "Ticket Tailor checkout form element ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "checkoutFormId": {
                            "type": "string",
                            "description": "A unique identifier for the checkout form"
                          },
                          "id": {
                            "type": "string",
                            "description": "A unique identifier for the checkout form element"
                          },
                          "object": {
                            "type": "string"
                          },
                          "options": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of possible answers for the element"
                          },
                          "perTicket": {
                            "type": "string",
                            "description": "Whether the checkout form element is asked globally or per ticket"
                          },
                          "question": {
                            "type": "string",
                            "description": "The question to be answered"
                          },
                          "required": {
                            "type": "string",
                            "description": "Indicates whether the question is required to answer"
                          },
                          "termsAndConditions": {
                            "type": "string",
                            "description": "The HTML content for Terms & Conditions elements (termsCheckbox and termsSignature types only). Returns null for other element types."
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of the checkout form element"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ticketTailor/latest/actions/get-discount": {
      "get": {
        "operationId": "ticketTailor.get-discount",
        "summary": "Get Discount",
        "description": "Retrieves a discount from Ticket Tailor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ticketTailor/latest/actions/get-discount"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "discountId",
            "in": "query",
            "required": true,
            "description": "Ticket Tailor discount ID.",
            "schema": {
              "type": "string",
              "description": "Ticket Tailor discount ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bookingFee": {
                            "type": "number",
                            "description": "Booking fee amount in cents. Could be null."
                          },
                          "bookingFeePercent": {
                            "type": "number",
                            "description": "Percent of the booking fee. Could be null."
                          },
                          "code": {
                            "type": "string",
                            "description": "Discount code"
                          },
                          "expires": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Discount code's expiry date",
                            "properties": {
                              "date": {
                                "type": "string",
                                "description": "ISO-8601 date for the start of the event"
                              },
                              "formatted": {
                                "type": "string",
                                "description": "A formatted date string for the start of the event"
                              },
                              "iso": {
                                "type": "string",
                                "description": "ISO-8601 date and time for the start of the event"
                              },
                              "time": {
                                "type": "string",
                                "description": "Time for the start of the event"
                              },
                              "timezone": {
                                "type": "string",
                                "description": "Timezone offset for the start of the event"
                              },
                              "unix": {
                                "type": "number",
                                "description": "Unix timestamp for the start of the event"
                              }
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "A unique identifier for the discount"
                          },
                          "maxRedemptions": {
                            "type": "number",
                            "description": "The maximum number of times this discount can be used."
                          },
                          "name": {
                            "type": "string",
                            "description": "A descriptive name given to the discount"
                          },
                          "object": {
                            "type": "string"
                          },
                          "price": {
                            "type": "number",
                            "description": "Price in cents. Could be null."
                          },
                          "pricePercent": {
                            "type": "number",
                            "description": "Percent of the price. Could be null."
                          },
                          "products": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "An array of associated products."
                          },
                          "ticketTypes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "An array of associated ticket types."
                          },
                          "timesRedeemed": {
                            "type": "number",
                            "description": "The number of times that the discount was used"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of discount. Either a fixed amount or a percentage"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ticketTailor/latest/actions/get-event": {
      "get": {
        "operationId": "ticketTailor.get-event",
        "summary": "Get Event",
        "description": "Retrieves an event from Ticket Tailor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ticketTailor/latest/actions/get-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "description": "Ticket Tailor event ID.",
            "schema": {
              "type": "string",
              "description": "Ticket Tailor event ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accessCode": {
                            "type": "string",
                            "description": "Code to access a protected event"
                          },
                          "availableStatus": {
                            "type": "string",
                            "description": "Optional custom status message when event is set to be available"
                          },
                          "callToAction": {
                            "type": "string",
                            "description": "Call to action text used on the event page"
                          },
                          "checkoutUrl": {
                            "type": "string",
                            "description": "Event checkout URL"
                          },
                          "chk": {
                            "type": "string",
                            "description": "Used for Ticket Tailor checkout chk value"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Information about the currency the event is configured to use"
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the event"
                          },
                          "end": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "date": {
                                "type": "string",
                                "description": "ISO-8601 date for the end of the event"
                              },
                              "formatted": {
                                "type": "string",
                                "description": "A formatted date string for the end of the event"
                              },
                              "iso": {
                                "type": "string",
                                "description": "ISO-8601 date and time for the end of the event"
                              },
                              "time": {
                                "type": "string",
                                "description": "Time of the end of the event"
                              },
                              "timezone": {
                                "type": "string",
                                "description": "Timezone offset for the end of the event"
                              },
                              "unix": {
                                "type": "number",
                                "description": "Unix timestamp for for the end of the event"
                              }
                            }
                          },
                          "eventSeriesId": {
                            "type": "string",
                            "description": "Recurring events are grouped by an event_series_id"
                          },
                          "hidden": {
                            "type": "string",
                            "description": "True, if event is set to hidden"
                          },
                          "id": {
                            "type": "string",
                            "description": "A unique identifier for the event"
                          },
                          "images": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Images that have been uploaded to this event",
                            "properties": {
                              "header": {
                                "type": "string",
                                "description": "Image URL of the header image used on your event page"
                              },
                              "thumbnail": {
                                "type": "string",
                                "description": "Image URL of the thumbnail used on your event page"
                              }
                            }
                          },
                          "maxTicketsSoldPerOccurrence": {
                            "type": "number",
                            "description": "Maximum quantity of tickets that can be sold across all ticket types"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the event"
                          },
                          "object": {
                            "type": "string"
                          },
                          "onlineEvent": {
                            "type": "string",
                            "description": "Returns whether or not the event is online"
                          },
                          "onlineLink": {
                            "type": "string",
                            "description": "URL of the online event"
                          },
                          "overrideId": {
                            "type": "number",
                            "description": "A unique identifier for the associated override"
                          },
                          "paymentMethods": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "externalId": {
                                  "type": "string",
                                  "description": "A unique identifier for the payment method"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "A unique identifier for internal payment methods"
                                },
                                "instructions": {
                                  "type": "string",
                                  "description": "Instructions for the customer on how to pay. Used for offline payments."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Name of the payment method"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "The type of payment method"
                                }
                              }
                            },
                            "description": "An array of payment methods"
                          },
                          "private": {
                            "type": "string",
                            "description": "Returns whether or not the event is private"
                          },
                          "revenue": {
                            "type": "number",
                            "description": "Total revenue of the event"
                          },
                          "salesTaxLabel": {
                            "type": "string",
                            "description": "The label for the sales tax"
                          },
                          "salesTaxPercentage": {
                            "type": "number",
                            "description": "The percentage of the sales tax"
                          },
                          "salesTaxTreatment": {
                            "type": "string",
                            "description": "The treatment of the sales tax"
                          },
                          "showMap": {
                            "type": "string",
                            "description": "Returns whether or not the map should be shown on the event page. It depends if venue location is set and if the event is not online and hide map is not set in the event series."
                          },
                          "start": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "date": {
                                "type": "string",
                                "description": "ISO-8601 date for the start of the event"
                              },
                              "formatted": {
                                "type": "string",
                                "description": "A formatted date string for the start of the event"
                              },
                              "iso": {
                                "type": "string",
                                "description": "ISO-8601 date and time for the start of the event"
                              },
                              "time": {
                                "type": "string",
                                "description": "Time of the start of the event"
                              },
                              "timezone": {
                                "type": "string",
                                "description": "Timezone offset for the start of the event"
                              },
                              "unix": {
                                "type": "number",
                                "description": "Unix timestamp for the start of the event"
                              }
                            }
                          },
                          "status": {
                            "type": "string",
                            "description": "Status of the event"
                          },
                          "ticketGroups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "bundleIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "An array of associated bundle ids"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "A unique identifier for the ticket group"
                                },
                                "maxPerOrder": {
                                  "type": "number",
                                  "description": "Maximum number of tickets allowed per order"
                                },
                                "maxQuantity": {
                                  "type": "number",
                                  "description": "Maximum quantity of tickets that are allowed to be sold for the tickets in the group"
                                },
                                "minPerOrder": {
                                  "type": "number",
                                  "description": "Minimum number of tickets allowed per order"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Name of the ticket group"
                                },
                                "object": {
                                  "type": "string"
                                },
                                "sortOrder": {
                                  "type": "number",
                                  "description": "Sort index of the group in the UI"
                                },
                                "ticketIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "An array of associated ticket type ids"
                                }
                              }
                            }
                          },
                          "ticketsAvailable": {
                            "type": "string",
                            "description": "Are there any ticket types available?"
                          },
                          "ticketsAvailableAt": {
                            "type": "number",
                            "description": "Timestamp in UTC in seconds when tickets become available for purchase"
                          },
                          "ticketsAvailableAtMessage": {
                            "type": "string",
                            "description": "Message to show when tickets are not yet available to purchase. {countdown} is replaced with time remaining until tickets become available"
                          },
                          "ticketsUnavailableAt": {
                            "type": "number",
                            "description": "Timestamp in UTC in seconds when tickets become unavailable for purchase"
                          },
                          "ticketsUnavailableAtMessage": {
                            "type": "string",
                            "description": "Message to show when tickets are unavailable to purchase"
                          },
                          "ticketTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "accessCode": {
                                  "type": "string",
                                  "description": "Code to access a hidden ticket"
                                },
                                "bookingFee": {
                                  "type": "number",
                                  "description": "Optional booking fee which is charged per ticket type to the customer and the funds are paid to you."
                                },
                                "description": {
                                  "type": "string"
                                },
                                "discounts": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "An array of associated discounts"
                                },
                                "groupId": {
                                  "type": "string",
                                  "description": "ID of the group this ticket type belongs to"
                                },
                                "hasOverrides": {
                                  "type": "string",
                                  "description": "Specifies whether the ticket type has overrides"
                                },
                                "hideAfter": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Timestamp in seconds when the ticket type should be hidden until.",
                                  "properties": {
                                    "date": {
                                      "type": "string",
                                      "description": "ISO-8601 date for the start of the event"
                                    },
                                    "formatted": {
                                      "type": "string",
                                      "description": "A formatted date string for the start of the event"
                                    },
                                    "iso": {
                                      "type": "string",
                                      "description": "ISO-8601 date and time for the start of the event"
                                    },
                                    "time": {
                                      "type": "string",
                                      "description": "Time for the start of the event"
                                    },
                                    "timezone": {
                                      "type": "string",
                                      "description": "Timezone offset for the start of the event"
                                    },
                                    "unix": {
                                      "type": "number",
                                      "description": "Unix timestamp for the start of the event"
                                    }
                                  }
                                },
                                "hideUntil": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Timestamp in seconds when the ticket type should be hidden after.",
                                  "properties": {
                                    "date": {
                                      "type": "string",
                                      "description": "ISO-8601 date for the start of the event"
                                    },
                                    "formatted": {
                                      "type": "string",
                                      "description": "A formatted date string for the start of the event"
                                    },
                                    "iso": {
                                      "type": "string",
                                      "description": "ISO-8601 date and time for the start of the event"
                                    },
                                    "time": {
                                      "type": "string",
                                      "description": "Time for the start of the event"
                                    },
                                    "timezone": {
                                      "type": "string",
                                      "description": "Timezone offset for the start of the event"
                                    },
                                    "unix": {
                                      "type": "number",
                                      "description": "Unix timestamp for the start of the event"
                                    }
                                  }
                                },
                                "hideWhenSoldOut": {
                                  "type": "string",
                                  "description": "Specifies whether the ticket is hidden when it has sold out"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "A unique identifier for the ticket type"
                                },
                                "maxPerOrder": {
                                  "type": "number",
                                  "description": "Maximum number of ticket types you can select per order"
                                },
                                "minPerOrder": {
                                  "type": "number",
                                  "description": "Minimum number of ticket types you can select per order"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Name of the ticket type"
                                },
                                "object": {
                                  "type": "string"
                                },
                                "overrideId": {
                                  "type": "string",
                                  "description": "The ID of the override associated with the ticket type"
                                },
                                "price": {
                                  "type": "number",
                                  "description": "Cost of the ticket type"
                                },
                                "quantity": {
                                  "type": "number",
                                  "description": "Number available for purchase"
                                },
                                "quantityHeld": {
                                  "type": "number",
                                  "description": "Number held"
                                },
                                "quantityInBaskets": {
                                  "type": "number",
                                  "description": "Number in baskets"
                                },
                                "quantityIssued": {
                                  "type": "number",
                                  "description": "Number issued"
                                },
                                "quantityTotal": {
                                  "type": "number",
                                  "description": "Total number including issued and still available"
                                },
                                "showQuantityRemaining": {
                                  "type": "string",
                                  "description": "Specifies whether to show the number of tickets still available"
                                },
                                "showQuantityRemainingLessThan": {
                                  "type": "number",
                                  "description": "Only show number of tickets still available when the available quantity is equal to or lower than this threshold"
                                },
                                "sortOrder": {
                                  "type": "number",
                                  "description": "Sort index of ticket type in the UI"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Status of the ticket type"
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "timezone": {
                            "type": "string",
                            "description": "TZ format timezone string"
                          },
                          "totalHolds": {
                            "type": "number",
                            "description": "Total number of holds"
                          },
                          "totalIssuedTickets": {
                            "type": "number",
                            "description": "Total number of issued tickets"
                          },
                          "totalOrders": {
                            "type": "number",
                            "description": "Total number of orders"
                          },
                          "transactionFeeFixedAmount": {
                            "type": "number",
                            "description": "Fixed amount of the transaction fee"
                          },
                          "transactionFeePercentage": {
                            "type": "number",
                            "description": "Percentage of the transaction fee"
                          },
                          "unavailable": {
                            "type": "string",
                            "description": "True, if event is set to unavailable"
                          },
                          "unavailableStatus": {
                            "type": "string",
                            "description": "optional custom status message when event is set to be unavailable"
                          },
                          "url": {
                            "type": "string",
                            "description": "Event page URL"
                          },
                          "venue": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "country": {
                                "type": "string",
                                "description": "Country of the venue"
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the venue"
                              },
                              "postalCode": {
                                "type": "string",
                                "description": "Postal code of the venue"
                              }
                            }
                          },
                          "voucherIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of voucher IDs"
                          },
                          "waitlistActive": {
                            "type": "string",
                            "description": "Indicates whether waitlist is enabled for the event series"
                          },
                          "waitlistCallToAction": {
                            "type": "string",
                            "description": "The text displayed on event action buttons and as a title above the waitlist format"
                          },
                          "waitlistConfirmationMessage": {
                            "type": "string",
                            "description": "Text shown to the user after they have signed up to the waitlist"
                          },
                          "waitlistEventPageText": {
                            "type": "string",
                            "description": "Description above ticket waitlist form"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ticketTailor/latest/actions/get-event-occurrence": {
      "get": {
        "operationId": "ticketTailor.get-event-occurrence",
        "summary": "Get Event Occurrence",
        "description": "Retrieves an event occurrence from Ticket Tailor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ticketTailor/latest/actions/get-event-occurrence"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventSeriesId",
            "in": "query",
            "required": true,
            "description": "Ticket Tailor event series ID.",
            "schema": {
              "type": "string",
              "description": "Ticket Tailor event series ID."
            }
          },
          {
            "name": "eventOccurrenceId",
            "in": "query",
            "required": true,
            "description": "Ticket Tailor event occurrence ID.",
            "schema": {
              "type": "string",
              "description": "Ticket Tailor event occurrence ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "availableStatus": {
                            "type": "string",
                            "description": "Optional custom status message when event is set to be available"
                          },
                          "bundles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "accessCode": {
                                  "type": "string",
                                  "description": "Code to access a bundle"
                                },
                                "bookingFee": {
                                  "type": "number",
                                  "description": "Booking fee in cents"
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Bundle description"
                                },
                                "groupId": {
                                  "type": "string",
                                  "description": "Bundle group ID"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Bundle name"
                                },
                                "object": {
                                  "type": "string"
                                },
                                "price": {
                                  "type": "number",
                                  "description": "Price in cents"
                                },
                                "products": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "A unique product identifier"
                                      },
                                      "quantity": {
                                        "type": "number",
                                        "description": "Product quantity"
                                      }
                                    }
                                  },
                                  "description": "Array of associated products"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Bundle status"
                                },
                                "ticketTypes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "A unique ticket type identifier"
                                      },
                                      "quantity": {
                                        "type": "number",
                                        "description": "Ticket type quantity"
                                      }
                                    }
                                  },
                                  "description": "Array of associated ticket types"
                                }
                              }
                            },
                            "description": "List of associated bundles"
                          },
                          "chk": {
                            "type": "string",
                            "description": "Used for Ticket Tailor checkout chk value"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Information about the currency the event is configured to use"
                          },
                          "end": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "The end date and time for the event",
                            "properties": {
                              "date": {
                                "type": "string",
                                "description": "ISO-8601 date for the end of the event"
                              },
                              "formatted": {
                                "type": "string",
                                "description": "A formatted date string for the end of the event"
                              },
                              "iso": {
                                "type": "string",
                                "description": "ISO-8601 date and time for the end of the event"
                              },
                              "time": {
                                "type": "string",
                                "description": "Time of the end of the event"
                              },
                              "timezone": {
                                "type": "string",
                                "description": "Timezone offset for the end of the event"
                              },
                              "unix": {
                                "type": "number",
                                "description": "Unix timestamp for for the end of the event"
                              }
                            }
                          },
                          "eventSeriesId": {
                            "type": "string",
                            "description": "A unique identifier for the associated event series"
                          },
                          "hidden": {
                            "type": "string",
                            "description": "True, if event is set to hidden"
                          },
                          "id": {
                            "type": "string",
                            "description": "A unique identifier for the event occurrence"
                          },
                          "maxTicketsSoldPerOccurrence": {
                            "type": "number",
                            "description": "Maximum quantity of tickets that can be sold across all ticket types"
                          },
                          "object": {
                            "type": "string"
                          },
                          "onlineLink": {
                            "type": "string",
                            "description": "URL of the online event"
                          },
                          "overrideId": {
                            "type": "string",
                            "description": "A unique identifier for the associated override"
                          },
                          "revenue": {
                            "type": "number",
                            "description": "Total revenue of the event"
                          },
                          "salesTaxLabel": {
                            "type": "string",
                            "description": "The label for the sales tax"
                          },
                          "salesTaxPercentage": {
                            "type": "number",
                            "description": "The percentage of the sales tax"
                          },
                          "salesTaxTreatment": {
                            "type": "string",
                            "description": "The treatment of the sales tax"
                          },
                          "start": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "The start date and time for the event",
                            "properties": {
                              "date": {
                                "type": "string",
                                "description": "ISO-8601 date for the start of the event"
                              },
                              "formatted": {
                                "type": "string",
                                "description": "A formatted date string for the start of the event"
                              },
                              "iso": {
                                "type": "string",
                                "description": "ISO-8601 date and time for the start of the event"
                              },
                              "time": {
                                "type": "string",
                                "description": "Time of the start of the event"
                              },
                              "timezone": {
                                "type": "string",
                                "description": "Timezone offset for the start of the event"
                              },
                              "unix": {
                                "type": "number",
                                "description": "Unix timestamp for the start of the event"
                              }
                            }
                          },
                          "ticketGroups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "bundleIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "An array of associated bundle ids"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "A unique identifier for the ticket group"
                                },
                                "maxPerOrder": {
                                  "type": "number",
                                  "description": "Maximum number of tickets allowed per order"
                                },
                                "maxQuantity": {
                                  "type": "number",
                                  "description": "Maximum quantity of tickets that are allowed to be sold for the tickets in the group"
                                },
                                "minPerOrder": {
                                  "type": "number",
                                  "description": "Minimum number of tickets allowed per order"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Name of the ticket group"
                                },
                                "object": {
                                  "type": "string"
                                },
                                "sortOrder": {
                                  "type": "number",
                                  "description": "Sort index of the group in the UI"
                                },
                                "ticketIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "An array of associated ticket type ids"
                                }
                              }
                            }
                          },
                          "ticketsAvailable": {
                            "type": "string",
                            "description": "Are there any ticket types available?"
                          },
                          "ticketTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "accessCode": {
                                  "type": "string",
                                  "description": "Code to access a hidden ticket"
                                },
                                "bookingFee": {
                                  "type": "number",
                                  "description": "Optional booking fee which is charged per ticket type to the customer and the funds are paid to you."
                                },
                                "description": {
                                  "type": "string"
                                },
                                "discounts": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "An array of associated discounts"
                                },
                                "groupId": {
                                  "type": "string",
                                  "description": "ID of the group this ticket type belongs to"
                                },
                                "hasOverrides": {
                                  "type": "string",
                                  "description": "Specifies whether the ticket type has overrides"
                                },
                                "hideAfter": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Timestamp in seconds when the ticket type should be hidden until.",
                                  "properties": {
                                    "date": {
                                      "type": "string",
                                      "description": "ISO-8601 date for the start of the event"
                                    },
                                    "formatted": {
                                      "type": "string",
                                      "description": "A formatted date string for the start of the event"
                                    },
                                    "iso": {
                                      "type": "string",
                                      "description": "ISO-8601 date and time for the start of the event"
                                    },
                                    "time": {
                                      "type": "string",
                                      "description": "Time for the start of the event"
                                    },
                                    "timezone": {
                                      "type": "string",
                                      "description": "Timezone offset for the start of the event"
                                    },
                                    "unix": {
                                      "type": "number",
                                      "description": "Unix timestamp for the start of the event"
                                    }
                                  }
                                },
                                "hideUntil": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Timestamp in seconds when the ticket type should be hidden after.",
                                  "properties": {
                                    "date": {
                                      "type": "string",
                                      "description": "ISO-8601 date for the start of the event"
                                    },
                                    "formatted": {
                                      "type": "string",
                                      "description": "A formatted date string for the start of the event"
                                    },
                                    "iso": {
                                      "type": "string",
                                      "description": "ISO-8601 date and time for the start of the event"
                                    },
                                    "time": {
                                      "type": "string",
                                      "description": "Time for the start of the event"
                                    },
                                    "timezone": {
                                      "type": "string",
                                      "description": "Timezone offset for the start of the event"
                                    },
                                    "unix": {
                                      "type": "number",
                                      "description": "Unix timestamp for the start of the event"
                                    }
                                  }
                                },
                                "hideWhenSoldOut": {
                                  "type": "string",
                                  "description": "Specifies whether the ticket is hidden when it has sold out"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "A unique identifier for the ticket type"
                                },
                                "maxPerOrder": {
                                  "type": "number",
                                  "description": "Maximum number of ticket types you can select per order"
                                },
                                "minPerOrder": {
                                  "type": "number",
                                  "description": "Minimum number of ticket types you can select per order"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Name of the ticket type"
                                },
                                "object": {
                                  "type": "string"
                                },
                                "overrideId": {
                                  "type": "string",
                                  "description": "The ID of the override associated with the ticket type"
                                },
                                "price": {
                                  "type": "number",
                                  "description": "Cost of the ticket type"
                                },
                                "quantity": {
                                  "type": "number",
                                  "description": "Number available for purchase"
                                },
                                "quantityHeld": {
                                  "type": "number",
                                  "description": "Number held"
                                },
                                "quantityInBaskets": {
                                  "type": "number",
                                  "description": "Number in baskets"
                                },
                                "quantityIssued": {
                                  "type": "number",
                                  "description": "Number issued"
                                },
                                "quantityTotal": {
                                  "type": "number",
                                  "description": "Total number including issued and still available"
                                },
                                "showQuantityRemaining": {
                                  "type": "string",
                                  "description": "Specifies whether to show the number of tickets still available"
                                },
                                "showQuantityRemainingLessThan": {
                                  "type": "number",
                                  "description": "Only show number of tickets still available when the available quantity is equal to or lower than this threshold"
                                },
                                "sortOrder": {
                                  "type": "number",
                                  "description": "Sort index of ticket type in the UI"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Status of the ticket type"
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "totalIssuedTickets": {
                            "type": "number",
                            "description": "Total number of issued tickets"
                          },
                          "transactionFeeFixedAmount": {
                            "type": "number",
                            "description": "Fixed amount of the transaction fee"
                          },
                          "transactionFeePercentage": {
                            "type": "number",
                            "description": "Percentage of the transaction fee"
                          },
                          "unavailable": {
                            "type": "string",
                            "description": "True, if event is set to unavailable"
                          },
                          "unavailableStatus": {
                            "type": "string",
                            "description": "Optional custom status message when event is set to be unavailable"
                          },
                          "url": {
                            "type": "string",
                            "description": "Event occurrence URL"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ticketTailor/latest/actions/get-event-series": {
      "get": {
        "operationId": "ticketTailor.get-event-series",
        "summary": "Get Event Series",
        "description": "Retrieves an event series from Ticket Tailor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ticketTailor/latest/actions/get-event-series"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventSeriesId",
            "in": "query",
            "required": true,
            "description": "Ticket Tailor event series ID.",
            "schema": {
              "type": "string",
              "description": "Ticket Tailor event series ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accessCode": {
                            "type": "string",
                            "description": "Code to access a protected event series"
                          },
                          "bundles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "accessCode": {
                                  "type": "string",
                                  "description": "Code to access a bundle"
                                },
                                "bookingFee": {
                                  "type": "number",
                                  "description": "Booking fee in cents"
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Bundle description"
                                },
                                "groupId": {
                                  "type": "string",
                                  "description": "Bundle group ID"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Bundle name"
                                },
                                "object": {
                                  "type": "string"
                                },
                                "price": {
                                  "type": "number",
                                  "description": "Price in cents"
                                },
                                "products": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "A unique product identifier"
                                      },
                                      "quantity": {
                                        "type": "number",
                                        "description": "Product quantity"
                                      }
                                    }
                                  },
                                  "description": "Array of associated products"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Bundle status"
                                },
                                "ticketTypes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "A unique ticket type identifier"
                                      },
                                      "quantity": {
                                        "type": "number",
                                        "description": "Ticket type quantity"
                                      }
                                    }
                                  },
                                  "description": "Array of associated ticket types"
                                }
                              }
                            },
                            "description": "List of associated bundles"
                          },
                          "callToAction": {
                            "type": "string",
                            "description": "Call to action text used on the event series page"
                          },
                          "createdAt": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Date and time when the event series were created",
                            "properties": {
                              "date": {
                                "type": "string",
                                "description": "ISO-8601 date for the end of the event"
                              },
                              "formatted": {
                                "type": "string",
                                "description": "A formatted date string for the end of the event"
                              },
                              "iso": {
                                "type": "string",
                                "description": "ISO-8601 date and time for the end of the event"
                              },
                              "time": {
                                "type": "string",
                                "description": "Time of the end of the event"
                              },
                              "timezone": {
                                "type": "string",
                                "description": "Timezone offset for the end of the event"
                              },
                              "unix": {
                                "type": "number",
                                "description": "Unix timestamp for for the end of the event"
                              }
                            }
                          },
                          "currency": {
                            "type": "string",
                            "description": "Information about the currency the event series is configured to use"
                          },
                          "defaultMaxTicketsSoldPerOccurrence": {
                            "type": "number",
                            "description": "Maximum quantity of tickets that can be sold across all ticket types"
                          },
                          "defaultTicketGroups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "bundleIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "An array of associated bundle ids"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "A unique identifier for the ticket group"
                                },
                                "maxPerOrder": {
                                  "type": "number",
                                  "description": "Maximum number of tickets allowed per order"
                                },
                                "maxQuantity": {
                                  "type": "number",
                                  "description": "Maximum quantity of tickets that are allowed to be sold for the tickets in the group"
                                },
                                "minPerOrder": {
                                  "type": "number",
                                  "description": "Minimum number of tickets allowed per order"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Name of the ticket group"
                                },
                                "object": {
                                  "type": "string"
                                },
                                "sortOrder": {
                                  "type": "number",
                                  "description": "Sort index of the group in the UI"
                                },
                                "ticketIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "An array of associated ticket type ids"
                                }
                              }
                            },
                            "description": "Ticket groups that are not overridden"
                          },
                          "defaultTicketTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "accessCode": {
                                  "type": "string",
                                  "description": "Code to access a hidden ticket"
                                },
                                "bookingFee": {
                                  "type": "number",
                                  "description": "Optional booking fee which is charged per ticket type to the customer and the funds are paid to you."
                                },
                                "description": {
                                  "type": "string"
                                },
                                "discounts": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "An array of associated discounts"
                                },
                                "groupId": {
                                  "type": "string",
                                  "description": "ID of the group this ticket type belongs to"
                                },
                                "hasOverrides": {
                                  "type": "string",
                                  "description": "Specifies whether the ticket type has overrides"
                                },
                                "hideAfter": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Timestamp in seconds when the ticket type should be hidden until.",
                                  "properties": {
                                    "date": {
                                      "type": "string",
                                      "description": "ISO-8601 date for the start of the event"
                                    },
                                    "formatted": {
                                      "type": "string",
                                      "description": "A formatted date string for the start of the event"
                                    },
                                    "iso": {
                                      "type": "string",
                                      "description": "ISO-8601 date and time for the start of the event"
                                    },
                                    "time": {
                                      "type": "string",
                                      "description": "Time for the start of the event"
                                    },
                                    "timezone": {
                                      "type": "string",
                                      "description": "Timezone offset for the start of the event"
                                    },
                                    "unix": {
                                      "type": "number",
                                      "description": "Unix timestamp for the start of the event"
                                    }
                                  }
                                },
                                "hideUntil": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Timestamp in seconds when the ticket type should be hidden after.",
                                  "properties": {
                                    "date": {
                                      "type": "string",
                                      "description": "ISO-8601 date for the start of the event"
                                    },
                                    "formatted": {
                                      "type": "string",
                                      "description": "A formatted date string for the start of the event"
                                    },
                                    "iso": {
                                      "type": "string",
                                      "description": "ISO-8601 date and time for the start of the event"
                                    },
                                    "time": {
                                      "type": "string",
                                      "description": "Time for the start of the event"
                                    },
                                    "timezone": {
                                      "type": "string",
                                      "description": "Timezone offset for the start of the event"
                                    },
                                    "unix": {
                                      "type": "number",
                                      "description": "Unix timestamp for the start of the event"
                                    }
                                  }
                                },
                                "hideWhenSoldOut": {
                                  "type": "string",
                                  "description": "Specifies whether the ticket is hidden when it has sold out"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "A unique identifier for the ticket type"
                                },
                                "maxPerOrder": {
                                  "type": "number",
                                  "description": "Maximum number of ticket types you can select per order"
                                },
                                "minPerOrder": {
                                  "type": "number",
                                  "description": "Minimum number of ticket types you can select per order"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Name of the ticket type"
                                },
                                "object": {
                                  "type": "string"
                                },
                                "overrideId": {
                                  "type": "string",
                                  "description": "The ID of the override associated with the ticket type"
                                },
[...]
