{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SearchAPI - Google Search Universal API",
    "version": "0.1.3",
    "description": "Search Google in real time through SearchAPI and retrieve structured search results, supported locations, and account usage data."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/searchAPIGoogleSearch/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/searchAPIGoogleSearch/latest/actions/find-supported-locations": {
      "get": {
        "operationId": "searchAPIGoogleSearch.find-supported-locations",
        "summary": "Find Supported Locations",
        "description": "Finds supported Google search locations in SearchAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/searchAPIGoogleSearch/latest/actions/find-supported-locations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Location search text such as london or new york.",
            "schema": {
              "type": "string",
              "description": "Location search text such as london or new york.",
              "example": "london"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of locations to return. Defaults to 10 and can be up to 100.",
            "schema": {
              "type": "number",
              "description": "Maximum number of locations to return. Defaults to 10 and can be up to 100.",
              "default": 10
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "canonical_name": {
                            "type": "string",
                            "description": "Canonical SearchAPI location name."
                          },
                          "country_code": {
                            "type": "string",
                            "description": "ISO country code."
                          },
                          "google_id": {
                            "type": "number",
                            "description": "Google location identifier."
                          },
                          "google_parent_id": {
                            "type": "number",
                            "description": "Google parent location identifier."
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitude."
                          },
                          "lon": {
                            "type": "number",
                            "description": "Longitude."
                          },
                          "name": {
                            "type": "string",
                            "description": "Location display name."
                          },
                          "reach": {
                            "type": "number",
                            "description": "Estimated location reach."
                          },
                          "target_type": {
                            "type": "string",
                            "description": "SearchAPI location target type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/searchAPIGoogleSearch/latest/actions/get-account-usage": {
      "get": {
        "operationId": "searchAPIGoogleSearch.get-account-usage",
        "summary": "Get Account Usage",
        "description": "Retrieves current account usage details from SearchAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/searchAPIGoogleSearch/latest/actions/get-account-usage"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Account allowance, usage, and remaining credits."
                          },
                          "api_usage": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Current API usage and hourly rate limit."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/searchAPIGoogleSearch/latest/actions/search-google": {
      "get": {
        "operationId": "searchAPIGoogleSearch.search-google",
        "summary": "Search Google",
        "description": "Finds Google web search results in SearchAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/searchAPIGoogleSearch/latest/actions/search-google"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search terms to send to Google. Supports Google operators like site:, inurl:, intitle:, AND, and OR.",
            "schema": {
              "type": "string",
              "description": "Search terms to send to Google. Supports Google operators like site:, inurl:, intitle:, AND, and OR.",
              "example": "companies providing developer documentation tools"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "Canonical Google location such as New York,United States. Use Find Supported Locations to discover valid values.",
            "schema": {
              "type": "string",
              "description": "Canonical Google location such as New York,United States. Use Find Supported Locations to discover valid values.",
              "example": "New York,United States"
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "description": "Google device profile for the search.",
            "schema": {
              "type": "string",
              "description": "Google device profile for the search.",
              "default": "desktop",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "description": "Google country code for localization. Defaults to us when omitted by SearchAPI.",
            "schema": {
              "type": "string",
              "description": "Google country code for localization. Defaults to us when omitted by SearchAPI.",
              "example": "us",
              "default": "us",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "description": "Google interface language code. Defaults to en when omitted by SearchAPI.",
            "schema": {
              "type": "string",
              "description": "Google interface language code. Defaults to en when omitted by SearchAPI.",
              "example": "en",
              "default": "en",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Search results page to return. SearchAPI defaults to page 1.",
            "schema": {
              "type": "number",
              "description": "Search results page to return. SearchAPI defaults to page 1.",
              "default": 1,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "safe",
            "in": "query",
            "required": false,
            "description": "SafeSearch behavior. SearchAPI defaults to blur.",
            "schema": {
              "type": "string",
              "description": "SafeSearch behavior. SearchAPI defaults to blur.",
              "default": "blur",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "timePeriod",
            "in": "query",
            "required": false,
            "description": "Restrict results to a supported relative time period such as last_day, last_week, or last_month.",
            "schema": {
              "type": "string",
              "description": "Restrict results to a supported relative time period such as last_day, last_week, or last_month.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "verbatim",
            "in": "query",
            "required": false,
            "description": "Force Google to use exact keywords and bypass automatic query modifications.",
            "schema": {
              "type": "boolean",
              "description": "Force Google to use exact keywords and bypass automatic query modifications.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "kgmid",
            "in": "query",
            "required": false,
            "description": "Knowledge Graph entity identifier such as /m/02_286 or /g/11f555cn8l.",
            "schema": {
              "type": "string",
              "description": "Knowledge Graph entity identifier such as /m/02_286 or /g/11f555cn8l.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "uule",
            "in": "query",
            "required": false,
            "description": "Exact Google-encoded location. Do not use together with Location.",
            "schema": {
              "type": "string",
              "description": "Exact Google-encoded location. Do not use together with Location.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "lr",
            "in": "query",
            "required": false,
            "description": "Restrict results to document languages using Google lang_ values such as lang_en or lang_it|lang_de.",
            "schema": {
              "type": "string",
              "description": "Restrict results to document languages using Google lang_ values such as lang_en or lang_it|lang_de.",
              "example": "lang_en",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "cr",
            "in": "query",
            "required": false,
            "description": "Restrict results to documents originating in a specific country using Google country restriction values.",
            "schema": {
              "type": "string",
              "description": "Restrict results to documents originating in a specific country using Google country restriction values.",
              "example": "countryUS",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "nfpr",
            "in": "query",
            "required": false,
            "description": "Set to 1 to exclude auto-corrected results.",
            "schema": {
              "type": "string",
              "description": "Set to 1 to exclude auto-corrected results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Set to 1 to enable duplicate-content and host-crowding filters, or 0 to disable them.",
            "schema": {
              "type": "string",
              "description": "Set to 1 to enable duplicate-content and host-crowding filters, or 0 to disable them.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "timePeriodMin",
            "in": "query",
            "required": false,
            "description": "Start date for custom time filtering in MM/DD/YYYY format.",
            "schema": {
              "type": "string",
              "description": "Start date for custom time filtering in MM/DD/YYYY format.",
              "example": "01/01/2026",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "timePeriodMax",
            "in": "query",
            "required": false,
            "description": "End date for custom time filtering in MM/DD/YYYY format.",
            "schema": {
              "type": "string",
              "description": "End date for custom time filtering in MM/DD/YYYY format.",
              "example": "01/31/2026",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "optimizationStrategy",
            "in": "query",
            "required": false,
            "description": "Controls request optimization: performance by default, or ads for higher ad collection success rate.",
            "schema": {
              "type": "string",
              "description": "Controls request optimization: performance by default, or ads for higher ad collection success rate.",
              "default": "performance",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ads": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Paid Google ad results when returned."
                          },
                          "organic_results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Organic Google web results."
                          },
                          "pagination": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Pagination links and next page details when available."
                          },
                          "related_questions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related question results when returned."
                          },
                          "search_information": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Google search summary such as displayed query and total results."
                          },
                          "search_metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "SearchAPI metadata including status, timing, and result URLs."
                          },
                          "search_parameters": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resolved Google search parameters used for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
