{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SendBox Universal API",
    "version": "0.0.5",
    "description": "SendBox shipping and payments API for shipment quotes, shipment creation, tracking, saved addresses, payment profile, and virtual account access."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/sendBox/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/sendBox/latest/actions/calculate-landed-cost": {
      "get": {
        "operationId": "sendBox.calculate-landed-cost",
        "summary": "Calculate Landed Cost",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sendBox/latest/actions/calculate-landed-cost"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback_url",
            "in": "query",
            "required": false,
            "description": "Webhook URL for tracking updates.",
            "schema": {
              "type": "string",
              "description": "Webhook URL for tracking updates."
            }
          },
          {
            "name": "channel_code",
            "in": "query",
            "required": true,
            "description": "Channel the request is being made from; set to api.",
            "schema": {
              "type": "string",
              "description": "Channel the request is being made from; set to api.",
              "default": "api"
            }
          },
          {
            "name": "customs_option",
            "in": "query",
            "required": true,
            "description": "Customs options.",
            "schema": {
              "type": "string",
              "description": "Customs options."
            }
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "description": "Recipient details object.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Recipient details object."
            }
          },
          {
            "name": "dimension",
            "in": "query",
            "required": true,
            "description": "Dimension details object.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Dimension details object."
            }
          },
          {
            "name": "incoming_option",
            "in": "query",
            "required": true,
            "description": "Incoming option; pickup or drop off.",
            "schema": {
              "type": "string",
              "description": "Incoming option; pickup or drop off."
            }
          },
          {
            "name": "items",
            "in": "query",
            "required": true,
            "description": "Array of shipment item objects.",
            "schema": {
              "type": "string",
              "description": "Array of shipment item objects."
            }
          },
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "description": "Sender details object.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Sender details object."
            }
          },
          {
            "name": "package_type",
            "in": "query",
            "required": true,
            "description": "Package type.",
            "schema": {
              "type": "string",
              "description": "Package type."
            }
          },
          {
            "name": "pickup_date",
            "in": "query",
            "required": true,
            "description": "Date package is picked up.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Date package is picked up."
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": true,
            "description": "Region the shipment is being shipped from.",
            "schema": {
              "type": "string",
              "description": "Region the shipment is being shipped from."
            }
          },
          {
            "name": "service_code",
            "in": "query",
            "required": true,
            "description": "Can be international, nation-wide, or local.",
            "schema": {
              "type": "string",
              "description": "Can be international, nation-wide, or local."
            }
          },
          {
            "name": "service_type",
            "in": "query",
            "required": true,
            "description": "Service type.",
            "schema": {
              "type": "string",
              "description": "Service type."
            }
          },
          {
            "name": "total_value",
            "in": "query",
            "required": true,
            "description": "Value of shipment.",
            "schema": {
              "type": "number",
              "description": "Value of shipment."
            }
          },
          {
            "name": "weight",
            "in": "query",
            "required": true,
            "description": "Weight of package.",
            "schema": {
              "type": "number",
              "description": "Weight of package."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "customs_option": {
                            "type": "string"
                          },
                          "destination": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dimension": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "entity_id": {
                            "type": "string"
                          },
                          "estimate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "incoming_option": {
                            "type": "string"
                          },
                          "instance_id": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "origin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "package_type": {
                            "type": "string"
                          },
                          "pickup_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "region": {
                            "type": "string"
                          },
                          "service_code": {
                            "type": "string"
                          },
                          "service_type": {
                            "type": "string"
                          },
                          "total_value": {
                            "type": "number"
                          },
                          "user_id": {
                            "type": "string"
                          },
                          "weight": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sendBox/latest/actions/create-shipment": {
      "post": {
        "operationId": "sendBox.create-shipment",
        "summary": "Create Shipment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sendBox/latest/actions/create-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "channel_code",
                  "destination",
                  "incoming_option",
                  "items",
                  "origin",
                  "package_type",
                  "pickup_date",
                  "region",
                  "service_code",
                  "total_value",
                  "weight"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "Webhook URL to receive tracking updates."
                  },
                  "channel_code": {
                    "type": "string",
                    "description": "Channel the request is being made from; set to api.",
                    "default": "api"
                  },
                  "destination": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Recipient details object."
                  },
                  "incoming_option": {
                    "type": "string",
                    "description": "Incoming option; pickup or dropoff."
                  },
                  "items": {
                    "type": "string",
                    "description": "Array of shipment item objects."
                  },
                  "origin": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Sender details object."
                  },
                  "package_type": {
                    "type": "string",
                    "description": "Package type."
                  },
                  "pickup_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date package is picked up."
                  },
                  "region": {
                    "type": "string",
                    "description": "Region the shipment is being shipped from."
                  },
                  "service_code": {
                    "type": "string",
                    "description": "Can be international, nation-wide, or local."
                  },
                  "total_value": {
                    "type": "number",
                    "description": "Value of shipment."
                  },
                  "weight": {
                    "type": "number",
                    "description": "Weight of package."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "code": {
                            "type": "string"
                          },
                          "current_status": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "date_created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "destination_city": {
                            "type": "string"
                          },
                          "destination_country": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "destination_name": {
                            "type": "string"
                          },
                          "destination_phone": {
                            "type": "string"
                          },
                          "destination_street": {
                            "type": "string"
                          },
                          "fee": {
                            "type": "number"
                          },
                          "has_waybill_error": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "last_updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "origin_city": {
                            "type": "string"
                          },
                          "origin_name": {
                            "type": "string"
                          },
                          "origin_phone": {
                            "type": "string"
                          },
                          "origin_state": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "origin_street": {
                            "type": "string"
                          },
                          "paid": {
                            "type": "number"
                          },
                          "payment_data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pickup_courier": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pickup_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "pk": {
                            "type": "string"
                          },
                          "possible_actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "region": {
                            "type": "string"
                          },
                          "selected_courier_id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status_code": {
                            "type": "string"
                          },
                          "tracking_code": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "string"
                          },
                          "weight": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sendBox/latest/actions/get-payment-profile": {
      "get": {
        "operationId": "sendBox.get-payment-profile",
        "summary": "Get Payment Profile",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sendBox/latest/actions/get-payment-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "accounts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "bvn": {
                            "type": "string"
                          },
                          "credits": {
                            "type": "number"
                          },
                          "credits_account": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "date_created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "escrow": {
                            "type": "number"
                          },
                          "escrow_account": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "funds": {
                            "type": "number"
                          },
                          "funds_account": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "last_updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "virtual_bank_accounts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sendBox/latest/actions/get-shipment": {
      "get": {
        "operationId": "sendBox.get-shipment",
        "summary": "Get Shipment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sendBox/latest/actions/get-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The shipment identifier.",
            "schema": {
              "type": "number",
              "description": "The shipment identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "code": {
                            "type": "string"
                          },
                          "courier": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "current_status": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "date_created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "destination_address": {
                            "type": "string"
                          },
                          "destination_city": {
                            "type": "string"
                          },
                          "destination_contact_phone": {
                            "type": "string"
                          },
                          "destination_name": {
                            "type": "string"
                          },
                          "destination_state": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fee": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "incoming_option": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "last_updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "merchant": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "origin_address": {
                            "type": "string"
                          },
                          "origin_city": {
                            "type": "string"
                          },
                          "origin_country": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "origin_phone": {
                            "type": "string"
                          },
                          "origin_state": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pk": {
                            "type": "string"
                          },
                          "possible_actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status_code": {
                            "type": "string"
                          },
                          "total_value": {
                            "type": "number"
                          },
                          "tracking": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tracking_code": {
                            "type": "string"
                          },
                          "weight": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sendBox/latest/actions/list-saved-addresses": {
      "get": {
        "operationId": "sendBox.list-saved-addresses",
        "summary": "List Saved Addresses",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sendBox/latest/actions/list-saved-addresses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to fetch.",
            "schema": {
              "type": "number",
              "description": "Page number to fetch."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "filter_by": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "page_by": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "query": {
                            "type": "string"
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "sort_by": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "view": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sendBox/latest/actions/list-shipments": {
      "get": {
        "operationId": "sendBox.list-shipments",
        "summary": "List Shipments",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sendBox/latest/actions/list-shipments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to fetch.",
            "schema": {
              "type": "number",
              "description": "Page number to fetch."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "custom_params": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "filter_by": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "page_by": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "query": {
                            "type": "string"
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "sort_by": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "view": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sendBox/latest/actions/list-virtual-accounts": {
      "get": {
        "operationId": "sendBox.list-virtual-accounts",
        "summary": "List Virtual Accounts",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sendBox/latest/actions/list-virtual-accounts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to fetch.",
            "schema": {
              "type": "number",
              "description": "Page number to fetch."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "filter_by": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "page_by": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "query": {
                            "type": "string"
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "sort_by": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "view": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sendBox/latest/actions/request-shipping-quotes": {
      "get": {
        "operationId": "sendBox.request-shipping-quotes",
        "summary": "Request Shipping Quotes",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sendBox/latest/actions/request-shipping-quotes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_code",
            "in": "query",
            "required": true,
            "description": "Channel the request is being made from; set to api.",
            "schema": {
              "type": "string",
              "description": "Channel the request is being made from; set to api.",
              "default": "api"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "Shop currency.",
            "schema": {
              "type": "string",
              "description": "Shop currency."
            }
          },
          {
            "name": "customs_option",
            "in": "query",
            "required": true,
            "description": "Customs options.",
            "schema": {
              "type": "string",
              "description": "Customs options."
            }
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "description": "Recipient details object.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Recipient details object."
            }
          },
          {
            "name": "dimension",
            "in": "query",
            "required": true,
            "description": "Dimension details object.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Dimension details object."
            }
          },
          {
            "name": "incoming_option",
            "in": "query",
            "required": true,
            "description": "Incoming option; pickup or drop off.",
            "schema": {
              "type": "string",
              "description": "Incoming option; pickup or drop off."
            }
          },
          {
            "name": "items",
            "in": "query",
            "required": true,
            "description": "Array of shipment item objects.",
            "schema": {
              "type": "string",
              "description": "Array of shipment item objects."
            }
          },
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "description": "Sender details object.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Sender details object."
            }
          },
          {
            "name": "package_type",
            "in": "query",
            "required": true,
            "description": "Package type.",
            "schema": {
              "type": "string",
              "description": "Package type."
            }
          },
          {
            "name": "pickup_date",
            "in": "query",
            "required": true,
            "description": "Date package is picked up.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Date package is picked up."
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": true,
            "description": "Region the package is shipped from.",
            "schema": {
              "type": "string",
              "description": "Region the package is shipped from."
            }
          },
          {
            "name": "service_code",
            "in": "query",
            "required": true,
            "description": "Can be standard, premium, or expedient.",
            "schema": {
              "type": "string",
              "description": "Can be standard, premium, or expedient."
            }
          },
          {
            "name": "service_type",
            "in": "query",
            "required": true,
            "description": "Set to either international or local.",
            "schema": {
              "type": "string",
              "description": "Set to either international or local."
            }
          },
          {
            "name": "total_value",
            "in": "query",
            "required": true,
            "description": "Value of shipment.",
            "schema": {
              "type": "number",
              "description": "Value of shipment."
            }
          },
          {
            "name": "weight",
            "in": "query",
            "required": true,
            "description": "Weight of package.",
            "schema": {
              "type": "number",
              "description": "Weight of package."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "connector_rates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "currency": {
                            "type": "string"
                          },
                          "destination": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "origin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "package_type": {
                            "type": "string"
                          },
                          "rate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "rate_type": {
                            "type": "string"
                          },
                          "rates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "region": {
                            "type": "string"
                          },
                          "service_code": {
                            "type": "string"
                          },
                          "service_type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "weight": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sendBox/latest/actions/track-shipment": {
      "get": {
        "operationId": "sendBox.track-shipment",
        "summary": "Track Shipment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sendBox/latest/actions/track-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "The shipment tracking code.",
            "schema": {
              "type": "string",
              "description": "The shipment tracking code."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agent": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "amount_to_receive": {
                            "type": "number"
                          },
                          "code": {
                            "type": "string"
                          },
                          "courier": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "date_created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "delivery_eta": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "destination_address": {
                            "type": "string"
                          },
                          "destination_name": {
                            "type": "string"
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "last_updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "origin_address": {
                            "type": "string"
                          },
                          "origin_country": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "origin_country_code": {
                            "type": "string"
                          },
                          "origin_name": {
                            "type": "string"
                          },
                          "origin_state": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pickup_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status_code": {
                            "type": "string"
                          },
                          "total_value": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
