{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Unicorn Universal API",
    "version": "0.0.5",
    "description": "Unicorn Platform is an AI website builder that helps founders quickly create websites, blogs, directories, and landing pages without design or development skills."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/unicorn/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/unicorn/latest/actions/create-blog-post": {
      "post": {
        "operationId": "unicorn.create-blog-post",
        "summary": "Create Blog Post",
        "description": "Creates a blog post in Unicorn.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/unicorn/latest/actions/create-blog-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "seobotPostId",
                  "slug",
                  "html",
                  "headline",
                  "metaDescription",
                  "metaKeywords",
                  "thumbnailUrl",
                  "createdAt",
                  "published"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "seobotPostId": {
                    "type": "string",
                    "description": "A string identifier that is unique across all Unicorn blog posts.",
                    "example": "post-001"
                  },
                  "slug": {
                    "type": "string",
                    "description": "Path of the new blog post. Must be unique across the blog.",
                    "example": "launch-day"
                  },
                  "html": {
                    "type": "string",
                    "description": "HTML content of the new post.",
                    "example": "<p>Hello world</p>"
                  },
                  "headline": {
                    "type": "string",
                    "description": "Meta title.",
                    "example": "Launch Day"
                  },
                  "metaDescription": {
                    "type": "string",
                    "description": "Meta description.",
                    "example": "Announcing our new release."
                  },
                  "metaKeywords": {
                    "type": "string",
                    "description": "Meta keywords. Unicorn notes that these are not used anywhere at the moment.",
                    "example": "launch,release"
                  },
                  "thumbnailUrl": {
                    "type": "string",
                    "description": "Source URL of the post's thumbnail image.",
                    "example": "https://example.com/cover.png"
                  },
                  "createdAt": {
                    "type": "string",
                    "description": "Publication date in YYYY-MM-DDTHH:MM:SS format.",
                    "example": "2026-04-06T10:00:00"
                  },
                  "published": {
                    "type": "boolean",
                    "description": "Whether the new post is publicly available.",
                    "example": true
                  },
                  "directory": {
                    "type": "string",
                    "description": "Optional subdirectory for the new blog post, for example nocode.",
                    "example": "nocode"
                  },
                  "isDeleted": {
                    "type": "boolean",
                    "description": "Mark the post as deleted.",
                    "example": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Whether the blog post was created successfully."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/unicorn/latest/actions/delete-blog-post": {
      "delete": {
        "operationId": "unicorn.delete-blog-post",
        "summary": "Delete Blog Post",
        "description": "Deletes an existing blog post from Unicorn.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/unicorn/latest/actions/delete-blog-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seobotPostId",
            "in": "query",
            "required": true,
            "description": "The unique string identifier assigned when the post was created.",
            "schema": {
              "type": "string",
              "description": "The unique string identifier assigned when the post was created.",
              "example": "post-001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "new_url": {
                            "type": "string",
                            "description": "The new URL returned by Unicorn after the delete completes."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the blog post was deleted successfully."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/unicorn/latest/actions/list-blog-posts": {
      "get": {
        "operationId": "unicorn.list-blog-posts",
        "summary": "List Blog Posts",
        "description": "Retrieves published blog posts from Unicorn.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/unicorn/latest/actions/list-blog-posts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subdomain",
            "in": "query",
            "required": true,
            "description": "The default subdomain of your Unicorn blog website.",
            "schema": {
              "type": "string",
              "description": "The default subdomain of your Unicorn blog website.",
              "example": "your-blog-subdomain"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "description": "The number of posts to return.",
            "schema": {
              "type": "number",
              "description": "The number of posts to return.",
              "example": 10
            }
          },
          {
            "name": "excludePostContent",
            "in": "query",
            "required": false,
            "description": "Exclude the post body fields from the response when true.",
            "schema": {
              "type": "boolean",
              "description": "Exclude the post body fields from the response when true.",
              "example": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author_id": {
                            "type": "number"
                          },
                          "blog": {
                            "type": "number"
                          },
                          "blog_url": {
                            "type": "string"
                          },
                          "body_html": {
                            "type": "string"
                          },
                          "body_json": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "comments": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "string"
                          },
                          "custom_head_html_code": {
                            "type": "string"
                          },
                          "directory": {
                            "type": "string"
                          },
                          "displayed_thumbnail": {
                            "type": "string"
                          },
                          "editor_type": {
                            "type": "string"
                          },
                          "excerpt": {
                            "type": "string"
                          },
                          "filters": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "first_image_height": {
                            "type": "number"
                          },
                          "first_image_url": {
                            "type": "string"
                          },
                          "first_image_width": {
                            "type": "number"
                          },
                          "first_paragraph_text": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_deleted": {
                            "type": "boolean"
                          },
                          "is_locked": {
                            "type": "boolean"
                          },
                          "is_meta_description_inherited": {
                            "type": "boolean"
                          },
                          "is_meta_keywords_inherited": {
                            "type": "boolean"
                          },
                          "is_seobot_post": {
                            "type": "boolean"
                          },
                          "likes": {
                            "type": "number"
                          },
                          "meta_description": {
                            "type": "string"
                          },
                          "meta_keywords": {
                            "type": "string"
                          },
                          "meta_title": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "og_description": {
                            "type": "string"
                          },
                          "og_image_height": {
                            "type": "number"
                          },
                          "og_image_url": {
                            "type": "string"
                          },
                          "og_image_uuid": {
                            "type": "string"
                          },
                          "og_image_width": {
                            "type": "number"
                          },
                          "og_title": {
                            "type": "string"
                          },
                          "published_on": {
                            "type": "string"
                          },
                          "shares": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "thumbnail_alt": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/unicorn/latest/actions/update-blog-post": {
      "put": {
        "operationId": "unicorn.update-blog-post",
        "summary": "Update Blog Post",
        "description": "Updates an existing blog post in Unicorn.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/unicorn/latest/actions/update-blog-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "seobotPostId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "seobotPostId": {
                    "type": "string",
                    "description": "The unique string identifier assigned when the post was created.",
                    "example": "post-001"
                  },
                  "slug": {
                    "type": "string",
                    "description": "Path of the updated blog post. Must be unique across the blog when changed.",
                    "example": "launch-day"
                  },
                  "html": {
                    "type": "string",
                    "description": "HTML content of the updated post.",
                    "example": "<p>Updated post</p>"
                  },
                  "headline": {
                    "type": "string",
                    "description": "Meta title.",
                    "example": "Updated title"
                  },
                  "metaDescription": {
                    "type": "string",
                    "description": "Meta description.",
                    "example": "Updated description"
                  },
                  "metaKeywords": {
                    "type": "string",
                    "description": "Meta keywords. Unicorn notes that these are not used anywhere at the moment.",
                    "example": "updated,keywords"
                  },
                  "thumbnailUrl": {
                    "type": "string",
                    "description": "Source URL of the post's thumbnail image.",
                    "example": "https://example.com/updated-cover.png"
                  },
                  "createdAt": {
                    "type": "string",
                    "description": "Publication date in YYYY-MM-DDTHH:MM:SS format.",
                    "example": "2026-04-06T10:00:00"
                  },
                  "published": {
                    "type": "boolean",
                    "description": "Whether the updated post is publicly available.",
                    "example": true
                  },
                  "directory": {
                    "type": "string",
                    "description": "Optional subdirectory for the blog post, for example nocode.",
                    "example": "nocode"
                  },
                  "isDeleted": {
                    "type": "boolean",
                    "description": "Mark the post as deleted.",
                    "example": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Whether the blog post was updated successfully."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
