{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Rijksoverheid Universal API",
    "version": "0.0.3",
    "description": "Official public open data from Rijksoverheid.nl, the central Dutch government information site. Current supported API actions expose Dutch school holiday data from the public REST open-data endpoint."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/rijksoverheid/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/rijksoverheid/latest/actions/get-school-holidays-by-school-year": {
      "get": {
        "operationId": "rijksoverheid.get-school-holidays-by-school-year",
        "summary": "Get School Holidays By School Year",
        "description": "Retrieves school holidays for a school year from Rijksoverheid.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rijksoverheid/latest/actions/get-school-holidays-by-school-year"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schoolYear",
            "in": "query",
            "required": true,
            "description": "School year to retrieve in YYYY-YYYY format, for example 2029-2030.",
            "schema": {
              "type": "string",
              "description": "School year to retrieve in YYYY-YYYY format, for example 2029-2030.",
              "example": "2029-2030",
              "default": "2029-2030"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authorities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Responsible government authority names."
                          },
                          "canonical": {
                            "type": "string",
                            "description": "Canonical Rijksoverheid page URL for the requested school-year holiday overview."
                          },
                          "content": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "School-year holiday content, including title, school year, and vacation periods."
                          },
                          "creators": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Creator organization names."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the school holiday data record."
                          },
                          "language": {
                            "type": "string",
                            "description": "Language tag for the response data."
                          },
                          "lastmodified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modified timestamp for the record."
                          },
                          "license": {
                            "type": "string",
                            "description": "Reuse license for the data."
                          },
                          "location": {
                            "type": "string",
                            "description": "Geographic location for the data."
                          },
                          "notice": {
                            "type": "string",
                            "description": "Additional notice text from Rijksoverheid about advisory or compulsory dates."
                          },
                          "rightsholders": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Organizations that hold or manage the rights."
                          },
                          "type": {
                            "type": "string",
                            "description": "Information type returned by Rijksoverheid."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rijksoverheid/latest/actions/list-school-holidays": {
      "get": {
        "operationId": "rijksoverheid.list-school-holidays",
        "summary": "List School Holidays",
        "description": "Lists all school holidays from Rijksoverheid.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rijksoverheid/latest/actions/list-school-holidays"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authorities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Responsible government authority names."
                          },
                          "canonical": {
                            "type": "string",
                            "description": "Canonical Rijksoverheid page URL for the school-year holiday overview."
                          },
                          "content": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "School-year holiday content, including title, school year, and vacation periods."
                          },
                          "creators": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Creator organization names."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the school holiday data record."
                          },
                          "language": {
                            "type": "string",
                            "description": "Language tag for the response data."
                          },
                          "lastmodified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modified timestamp for the record."
                          },
                          "license": {
                            "type": "string",
                            "description": "Reuse license for the data."
                          },
                          "location": {
                            "type": "string",
                            "description": "Geographic location for the data."
                          },
                          "notice": {
                            "type": "string",
                            "description": "Additional notice text from Rijksoverheid about advisory or compulsory dates."
                          },
                          "rightsholders": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Organizations that hold or manage the rights."
                          },
                          "type": {
                            "type": "string",
                            "description": "Information type returned by Rijksoverheid."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
