{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Logiwa Legacy WMS Universal API",
    "version": "0.0.98",
    "description": "Call Logiwa Legacy WMS actions through MindCloud's Universal API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/logiwaLegacyWMS/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/logiwaLegacyWMS/latest/actions/get-a-product-id": {
      "post": {
        "operationId": "logiwaLegacyWMS.get-a-product-id",
        "summary": "Get a Product ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/logiwaLegacyWMS/latest/actions/get-a-product-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "code": {
                    "type": "string",
                    "description": "product ID/description"
                  },
                  "depositorID": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/logiwaLegacyWMS/latest/actions/get-pack-type-info": {
      "get": {
        "operationId": "logiwaLegacyWMS.get-pack-type-info",
        "summary": "List Pack Types (SEARCH)",
        "description": "By using these endpoints, the users can obtain all the information that is related to the pack types of the items.\n\nTo obtain this information, the users should first reach the Pack Type ID values by using the InventoryItemPackTypeSearch endpoint. After this process, the users will be able to use the InventoryItemPackTypeGet endpoint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/logiwaLegacyWMS/latest/actions/get-pack-type-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inventoryItemID",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/logiwaLegacyWMS/latest/actions/get-receipt-report": {
      "post": {
        "operationId": "logiwaLegacyWMS.get-receipt-report",
        "summary": "Get Receipt Report",
        "description": "By using this endpoint, the users can obtain the receipt records.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/logiwaLegacyWMS/latest/actions/get-receipt-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "InventorySiteID": {
                    "type": "string",
                    "description": "ID of inventory site."
                  },
                  "WarehouseID": {
                    "type": "string",
                    "description": "Id of the warehouse that receives receipt order"
                  },
                  "DepositorID": {
                    "type": "string",
                    "description": "Id of depositor (client) who owns the inventory item to be received"
                  },
                  "WarehouseReceiptID": {
                    "type": "string",
                    "description": "Id of receipt if the receipt order is received. ( Use List Receipt Orders to obtain this value )"
                  },
                  "InventoryItemID": {
                    "type": "string",
                    "description": "Id of inventory item received or will be received. ( Use Get Item ID )"
                  },
                  "ReferanceNo": {
                    "type": "string",
                    "description": "Reference number"
                  },
                  "IsReturn": {
                    "type": "boolean",
                    "description": "If yes, the receive order is created for return operation."
                  },
                  "ReceiptDateTimeStart": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ReceiptDateTime_Start"
                  },
                  "ReceiptDateTime_End": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ReceiptDateTime_End"
                  },
                  "freeAttr3": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/logiwaLegacyWMS/latest/actions/insert-purchase-order": {
      "post": {
        "operationId": "logiwaLegacyWMS.insert-purchase-order",
        "summary": "Insert Purchase Order",
        "description": "By using this endpoint, the users can create single or multiple purchase orders with lines.\n\nAll the products used should be defined in the system before creating any purchase orders.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/logiwaLegacyWMS/latest/actions/insert-purchase-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "depositor",
                  "inventorySite"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "details[].ItemCode": {
                    "type": "string"
                  },
                  "details[].itemPackType": {
                    "type": "string"
                  },
                  "details[].quantity": {
                    "type": "number"
                  },
                  "details[].LineCode": {
                    "type": "string"
                  },
                  "details[].totalLinePrice": {
                    "type": "number",
                    "description": "Total purchase price of the order line"
                  },
                  "details[].detailsNote": {
                    "type": "string"
                  },
                  "addressText": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "clientreferenceCode": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "depositor": {
                    "type": "string"
                  },
                  "details[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "email": {
                    "type": "string"
                  },
                  "geoCode": {
                    "type": "string"
                  },
                  "inventorySite": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "partyAddressType": {
                    "type": "string"
                  },
                  "purchaseOrderStatus": {
                    "type": "string"
                  },
                  "purchaseOrderType": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "supplier": {
                    "type": "string"
                  },
                  "supplierAddress": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/logiwaLegacyWMS/latest/actions/insert-receipt-order": {
      "post": {
        "operationId": "logiwaLegacyWMS.insert-receipt-order",
        "summary": "Insert Receipt Order",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/logiwaLegacyWMS/latest/actions/insert-receipt-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "receiptOrders[].details[].itemCode": {
                    "type": "string"
                  },
                  "receiptOrders[].details[].itemDescription": {
                    "type": "string"
                  },
                  "receiptOrders[].details[].itemPackType": {
                    "type": "string"
                  },
                  "receiptOrders[].details[].plannedPackQuantity": {
                    "type": "number"
                  },
                  "receiptOrders[].details[].detailProject": {
                    "type": "string"
                  },
                  "receiptOrders[].details[].detailQuarantineReason": {
                    "type": "string"
                  },
                  "receiptOrders[].details[].detailSuitabilityReason": {
                    "type": "string"
                  },
                  "receiptOrders[].details[].detailPurchaseOrder": {
                    "type": "string"
                  },
                  "receiptOrders[].details[].detailReceiptCancelReason": {
                    "type": "string"
                  },
                  "receiptOrders[].details[].palletType": {
                    "type": "string"
                  },
                  "receiptOrders[].details[].customer": {
                    "type": "string"
                  },
                  "receiptOrders[].details[].locationCode": {
                    "type": "string"
                  },
                  "receiptOrders[].details[].expireDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "receiptOrders[].details[].lotBatchNo": {
                    "type": "string"
                  },
                  "receiptOrders[].details[].freeAttr1": {
                    "type": "string"
                  },
                  "receiptOrders[].details[].freeAttr2": {
                    "type": "string"
                  },
                  "receiptOrders[].details[].freeAttr3": {
                    "type": "string"
                  },
                  "receiptOrders[].details[].referenceNo": {
                    "type": "string"
                  },
                  "receiptOrders[]": {
                    "type": "array",
                    "items": {}
                  },
                  "receiptOrders[].addressText": {
                    "type": "string"
                  },
                  "receiptOrders[].addressType": {
                    "type": "string"
                  },
                  "receiptOrders[].backReceiptOrder": {
                    "type": "string"
                  },
                  "receiptOrders[].carrierAddressType": {
                    "type": "string"
                  },
                  "receiptOrders[].city": {
                    "type": "string"
                  },
                  "receiptOrders[].code": {
                    "type": "string"
                  },
                  "receiptOrders[].country": {
                    "type": "string"
                  },
                  "receiptOrders[].currencyCode": {
                    "type": "string"
                  },
                  "receiptOrders[].deliveryNoteNo": {
                    "type": "string"
                  },
                  "receiptOrders[].depositor": {
                    "type": "string"
                  },
                  "receiptOrders[].depositorRefCode": {
                    "type": "string"
                  },
                  "receiptOrders[].details[]": {
                    "type": "array",
                    "items": {}
                  },
                  "receiptOrders[].notes": {
                    "type": "string"
                  },
                  "receiptOrders[].notes2": {
                    "type": "string"
                  },
                  "receiptOrders[].notes3": {
                    "type": "string"
                  },
                  "receiptOrders[].productionOrder": {
                    "type": "string"
                  },
                  "receiptOrders[].project": {
                    "type": "string"
                  },
                  "receiptOrders[].purchaseOrder": {
                    "type": "string"
                  },
                  "receiptOrders[].purchaseOrderType": {
                    "type": "string"
                  },
                  "receiptOrders[].quarantineReason": {
                    "type": "string"
                  },
                  "receiptOrders[].receiptDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "receiptOrders[].receiptMainCategory": {
                    "type": "string"
                  },
                  "receiptOrders[].receiptOrderCancelReason": {
                    "type": "string"
                  },
                  "receiptOrders[].receiptOrderReturnReason": {
                    "type": "string"
                  },
                  "receiptOrders[].salesOrder": {
                    "type": "string"
                  },
                  "receiptOrders[].shipmentOrder": {
                    "type": "string"
                  },
                  "receiptOrders[].state": {
                    "type": "string"
                  },
                  "receiptOrders[].suitabilityReason": {
                    "type": "string"
                  },
                  "receiptOrders[].supplier": {
                    "type": "string"
                  },
                  "receiptOrders[].supplierAddress": {
                    "type": "string"
                  },
                  "receiptOrders[].supplierRefCode": {
                    "type": "string"
                  },
                  "receiptOrders[].town": {
                    "type": "string"
                  },
                  "receiptOrders[].transportationPaye": {
                    "type": "string"
                  },
                  "receiptOrders[].visitOrder": {
                    "type": "string"
                  },
                  "receiptOrders[].warehouse": {
                    "type": "string"
                  },
                  "receiptOrders[].warehouseReceiptType": {
                    "type": "string"
                  },
                  "receiptOrders[].workOrder": {
                    "type": "string"
                  },
                  "receiptOrders[].zone": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/logiwaLegacyWMS/latest/actions/insert-shipment-order": {
      "post": {
        "operationId": "logiwaLegacyWMS.insert-shipment-order",
        "summary": "Insert Shipment Order",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/logiwaLegacyWMS/latest/actions/insert-shipment-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "methodName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "shipmentOrders[].code": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[].itemCode": {
                    "type": "string"
                  },
                  "methodName": {
                    "type": "string",
                    "description": "***InsertShipmentOrder Endpoint***:\n- Lists the orders as a group and if one of the orders fails to import, the whole request operations will be rolled back and none of the orders will be imported\n\n***InsertShipmentOrderWithBulkResult***:\n- Evaluates orders separately. The successful records will be created and the failed records will be listed with an error message in the response."
                  },
                  "shipmentOrders[].depositor": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[].itemPackType": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[].plannedPackQuantity": {
                    "type": "string",
                    "description": "Planned quantity per defined pack type"
                  },
                  "shipmentOrders[].warehouseOrderStatus": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[].notes": {
                    "type": "string"
                  },
                  "shipmentOrders[].inventorySite": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[].location": {
                    "type": "string"
                  },
                  "shipmentOrders[].warehouse": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[].lotBatchNo": {
                    "type": "string"
                  },
                  "shipmentOrders[].warehouseOrderType": {
                    "type": "string"
                  },
                  "shipmentOrders[].customer": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[].giftNote": {
                    "type": "string"
                  },
                  "shipmentOrders[].customerAddress": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[].freeAttr1": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[].freeAttr2": {
                    "type": "string"
                  },
                  "shipmentOrders[].OrderDate": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[].freeAttr3": {
                    "type": "string"
                  },
                  "shipmentOrders[].state": {
                    "type": "string"
                  },
                  "shipmentOrders[].country": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[].notes1": {
                    "type": "string"
                  },
                  "shipmentOrders[].city": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[].notes2": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[].notes3": {
                    "type": "string"
                  },
                  "shipmentOrders[].postalCode": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[].channelorderdetailcode": {
                    "type": "string"
                  },
                  "shipmentOrders[].phone": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[].detailEDIReferences": {
                    "type": "string"
                  },
                  "shipmentOrders[].email": {
                    "type": "string"
                  },
                  "shipmentOrders[].adressText": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[].salesUnitPrice": {
                    "type": "string"
                  },
                  "shipmentOrders[].partyAdressType": {
                    "type": "string"
                  },
                  "shipmentOrders[].eDIBillTo": {
                    "type": "string"
                  },
                  "shipmentOrders[].businessDaysInTransit": {
                    "type": "number"
                  },
                  "shipmentOrders[].isCheckAllocationAvailability": {
                    "type": "boolean"
                  },
                  "shipmentOrders[].carrier": {
                    "type": "string"
                  },
                  "shipmentOrders[].prefix": {
                    "type": "string"
                  },
                  "shipmentOrders[].driver": {
                    "type": "string"
                  },
                  "shipmentOrders[].plannedShipDate": {
                    "type": "string"
                  },
                  "shipmentOrders[].earliestShipDate": {
                    "type": "string"
                  },
                  "shipmentOrders[].latestShipDate": {
                    "type": "string"
                  },
                  "shipmentOrders[].earliestDeliveryDate": {
                    "type": "string"
                  },
                  "shipmentOrders[].latestDeliveryDate": {
                    "type": "string"
                  },
                  "shipmentOrders[].warehouseReceipt": {
                    "type": "string"
                  },
                  "shipmentOrders[].notes": {
                    "type": "string"
                  },
                  "shipmentOrders[].customeRefCode": {
                    "type": "string"
                  },
                  "shipmentOrders[].depositorRefCode": {
                    "type": "string"
                  },
                  "shipmentOrders[].customerOrderNo": {
                    "type": "string"
                  },
                  "shipmentOrders[].giftNote": {
                    "type": "string"
                  },
                  "shipmentOrders[].deliveryNoteNo": {
                    "type": "string"
                  },
                  "shipmentOrders[].extraNotes": {
                    "type": "string"
                  },
                  "shipmentOrders[].instructions": {
                    "type": "string"
                  },
                  "shipmentOrders[].extraNotes1": {
                    "type": "string"
                  },
                  "shipmentOrders[].extraNotes3": {
                    "type": "string"
                  },
                  "shipmentOrders[].extraNotes4": {
                    "type": "string"
                  },
                  "shipmentOrders[].extraNotes5": {
                    "type": "string"
                  },
                  "shipmentOrders[].channel": {
                    "type": "string"
                  },
                  "shipmentOrders[].shipmentMethod": {
                    "type": "string"
                  },
                  "shipmentOrders[].packingNotes": {
                    "type": "string"
                  },
                  "shipmentOrders[].details[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "shipmentOrders[].thirdPartyAccount": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentOrders[].channelOrderCode": {
                    "type": "string"
                  },
                  "shipmentOrders[].storeName": {
                    "type": "string"
                  },
                  "shipmentOrders[].woPriority": {
                    "type": "string"
                  },
                  "shipmentOrders[].plannedPickupDate": {
                    "type": "string"
                  },
                  "shipmentOrders[].plannedDeliveryDate": {
                    "type": "string"
                  },
                  "shipmentOrders[].trackingNumber": {
                    "type": "string"
                  },
                  "shipmentOrders[].masterEDIReferences": {
                    "type": "string"
                  },
                  "shipmentOrders[].invoiceCustomer": {
                    "type": "string"
                  },
                  "shipmentOrders[].invoiceAddress": {
                    "type": "string"
                  },
                  "shipmentOrders[].invoiceAddressText": {
                    "type": "string"
                  },
                  "shipmentOrders[].invoiceAddressDirections": {
                    "type": "string"
                  },
                  "shipmentOrders[].invoiceState": {
                    "type": "string"
                  },
                  "shipmentOrders[].invoiceCountry": {
                    "type": "string"
                  },
                  "shipmentOrders[].invoiceCity": {
                    "type": "string"
                  },
                  "shipmentOrders[].invoicePostalCode": {
                    "type": "string"
                  },
                  "shipmentOrders[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "shipmentOrders[].thirdPartyAccount.accountNumber": {
                    "type": "string"
                  },
                  "shipmentOrders[].thirdPartyAccount.address": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipmentOrders[].thirdPartyAccount.address.addressDirections": {
                    "type": "string"
                  },
                  "shipmentOrders[].thirdPartyAccount.address.adressText": {
                    "type": "string"
                  },
                  "shipmentOrders[].thirdPartyAccount.address.city": {
                    "type": "string"
                  },
                  "shipmentOrders[].thirdPartyAccount.address.country": {
                    "type": "string"
                  },
                  "shipmentOrders[].thirdPartyAccount.address.customerAddress": {
                    "type": "string"
                  },
                  "shipmentOrders[].thirdPartyAccount.address.postalCode": {
                    "type": "number"
                  },
                  "shipmentOrders[].thirdPartyAccount.address.state": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/logiwaLegacyWMS/latest/actions/list-inventory": {
      "get": {
        "operationId": "logiwaLegacyWMS.list-inventory",
        "summary": "List Inventory",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/logiwaLegacyWMS/latest/actions/list-inventory"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelID",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depositorDescription",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "selectedPageIndex",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "availableStockQty": {
                            "type": "number"
                          },
                          "brand": {
                            "type": "string"
                          },
                          "channelDescription": {
                            "type": "string"
                          },
                          "channelID": {
                            "type": "number"
                          },
                          "channelInventoryAmount": {
                            "type": "number"
                          },
                          "channelIsActive": {
                            "type": "boolean"
                          },
                          "channelIsDropShip": {
                            "type": "boolean"
                          },
                          "channelIsExported": {
                            "type": "boolean"
                          },
                          "channelIsNotIncludeInOrder": {
                            "type": "boolean"
                          },
                          "channelItemNumber": {
                            "type": "string"
                          },
                          "channelMasterSellerSku": {
                            "type": "string"
                          },
                          "channelSellerSku": {
                            "type": "string"
                          },
                          "channelUnitPrice": {
                            "type": "number"
                          },
                          "closeToSaleQuantity": {
                            "type": "number"
                          },
                          "code": {
                            "type": "string"
                          },
                          "damagedQuantity": {
                            "type": "number"
                          },
                          "depositorDescription": {
                            "type": "string"
                          },
                          "depositorID": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "detailCategoryDescription": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fnSku": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "inventorySharingPercentage": {
                            "type": "number"
                          },
                          "isKitItem": {
                            "type": "boolean"
                          },
                          "isOutOfStock": {
                            "type": "boolean"
                          },
                          "lastOnhandQuantitySynced": {
                            "type": "number"
                          },
                          "lastQuantitySynced": {
                            "type": "number"
                          },
                          "lastQuantitySyncedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastQuantitySyncedDateEnd": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastQuantitySyncedDateStart": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "mainCategoryDescription": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "masterChannelItemNumber": {
                            "type": "string"
                          },
                          "orderQty": {
                            "type": "number"
                          },
                          "pageCount": {
                            "type": "number"
                          },
                          "pageSize": {
                            "type": "number"
                          },
                          "recordCount": {
                            "type": "number"
                          },
                          "selectedPageIndex": {
                            "type": "number"
                          },
                          "sellableStock": {
                            "type": "number"
                          },
                          "shareableQty": {
                            "type": "number"
                          },
                          "storeName": {
                            "type": "string"
                          },
                          "usableStock": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/logiwaLegacyWMS/latest/actions/list-inventory-stock-levels": {
      "get": {
        "operationId": "logiwaLegacyWMS.list-inventory-stock-levels",
        "summary": "List Inventory Stock Levels",
        "description": "By using this endpoint, the users can obtain their current inventories based on the locations and also they may obtain some attributes such as Lot Number, and Expiration Date. The data obtained from this endpoint is raw data, the users may calculate the stock according to their logic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/logiwaLegacyWMS/latest/actions/list-inventory-stock-levels"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemGroup",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lotNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "warehouseID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depoID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isDamaged",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isLocked",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isPickable",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "lastModifiedDateEnd",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastModifiedDateStart",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationZone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "openToSales",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "packType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pickingType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productionDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quarantineReason",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stockReferenceNo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suitabilityReason",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/logiwaLegacyWMS/latest/actions/list-locations": {
      "get": {
        "operationId": "logiwaLegacyWMS.list-locations",
        "summary": "List Locations",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/logiwaLegacyWMS/latest/actions/list-locations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "columnCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isLocked",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "lastCountedBeforeDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastModifiedDateEnd",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastModifiedDateStart",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "levelCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationGroupDescription",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationZoneDescription",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mobileLocationUnitDescription",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pickingTypeDescription",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pickingZoneDescription",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "putAwayZoneDescription",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sector",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sectorCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storageSystemDescription",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "warehouseID",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/logiwaLegacyWMS/latest/actions/list-pack-types-get": {
      "get": {
        "operationId": "logiwaLegacyWMS.list-pack-types-get",
        "summary": "List Pack Types (GET)",
        "description": "By using these endpoints, the users can obtain all the information that is related to the pack types of the items.\n\nTo obtain this information, the users should first reach the Pack Type ID values by using the InventoryItemPackTypeSearch endpoint. After this process, the users will be able to use the InventoryItemPackTypeGet endpoint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/logiwaLegacyWMS/latest/actions/list-pack-types-get"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iD",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/logiwaLegacyWMS/latest/actions/list-products": {
      "get": {
        "operationId": "logiwaLegacyWMS.list-products",
        "summary": "List Products",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/logiwaLegacyWMS/latest/actions/list-products"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "barcodeSearch",
            "in": "query",
            "required": false,
            "description": "Barcode of inventory item",
            "schema": {
              "type": "string",
              "description": "Barcode of inventory item"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "description": "Depositor (client) description of inventory item",
            "schema": {
              "type": "string",
              "description": "Depositor (client) description of inventory item"
            }
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "description": "Description of inventory item",
            "schema": {
              "type": "string",
              "description": "Description of inventory item"
            }
          },
          {
            "name": "depositorDescription",
            "in": "query",
            "required": false,
            "description": "Depositor (client) description of inventory item",
            "schema": {
              "type": "string",
              "description": "Depositor (client) description of inventory item"
            }
          },
          {
            "name": "lastModifiedDateStart",
            "in": "query",
            "required": false,
            "description": "Last modified date may be filtered within this range - Start",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Last modified date may be filtered within this range - Start"
            }
          },
          {
            "name": "lastModifiedDateEnd",
            "in": "query",
            "required": false,
            "description": "Last modified date may be filtered within this range - End",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Last modified date may be filtered within this range - End"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/logiwaLegacyWMS/latest/actions/list-purchase-orders": {
      "get": {
[...]
