{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SimpliRoute Universal API",
    "version": "0.0.4",
    "description": "Plan routes, optimize deliveries, manage visits, and track drivers and vehicles with SimpliRoute."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/simpliRoute/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/simpliRoute/latest/actions/create-user": {
      "post": {
        "operationId": "simpliRoute.create-user",
        "summary": "Create User",
        "description": "Creates a new driver in SimpliRoute.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpliRoute/latest/actions/create-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "password",
                  "username"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "Optional email address for the driver."
                  },
                  "isAdmin": {
                    "type": "boolean",
                    "description": "Set true to create the user as an admin.",
                    "default": false
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name for the driver."
                  },
                  "password": {
                    "type": "string",
                    "description": "Password for the new driver."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Optional phone number for the driver."
                  },
                  "username": {
                    "type": "string",
                    "description": "Unique username for the driver."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "app_version": {
                            "type": "string"
                          },
                          "blocked": {
                            "type": "boolean"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_admin": {
                            "type": "boolean"
                          },
                          "is_codriver": {
                            "type": "boolean"
                          },
                          "is_coordinator": {
                            "type": "boolean"
                          },
                          "is_driver": {
                            "type": "boolean"
                          },
                          "is_monitor": {
                            "type": "boolean"
                          },
                          "is_owner": {
                            "type": "boolean"
                          },
                          "is_router": {
                            "type": "boolean"
                          },
                          "is_router_jr": {
                            "type": "boolean"
                          },
                          "is_seller": {
                            "type": "boolean"
                          },
                          "is_seller_viewer": {
                            "type": "boolean"
                          },
                          "is_staff": {
                            "type": "boolean"
                          },
                          "last_login": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "last_mobile_activity": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "old_id": {
                            "type": "number"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpliRoute/latest/actions/create-vehicle": {
      "post": {
        "operationId": "simpliRoute.create-vehicle",
        "summary": "Create Vehicle",
        "description": "Creates a new vehicle in SimpliRoute.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpliRoute/latest/actions/create-vehicle"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "capacity",
                  "locationEndAddress",
                  "locationEndLatitude",
                  "locationEndLongitude",
                  "locationStartAddress",
                  "locationStartLatitude",
                  "locationStartLongitude",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "capacity": {
                    "type": "number",
                    "description": "Vehicle capacity."
                  },
                  "defaultDriver": {
                    "type": "number",
                    "description": "Optional default driver ID."
                  },
                  "licensePlate": {
                    "type": "string",
                    "description": "Optional license plate."
                  },
                  "locationEndAddress": {
                    "type": "string",
                    "description": "Ending address for the vehicle."
                  },
                  "locationEndLatitude": {
                    "type": "number",
                    "description": "Latitude for the ending address."
                  },
                  "locationEndLongitude": {
                    "type": "number",
                    "description": "Longitude for the ending address."
                  },
                  "locationStartAddress": {
                    "type": "string",
                    "description": "Starting address for the vehicle."
                  },
                  "locationStartLatitude": {
                    "type": "number",
                    "description": "Latitude for the starting address."
                  },
                  "locationStartLongitude": {
                    "type": "number",
                    "description": "Longitude for the starting address."
                  },
                  "name": {
                    "type": "string",
                    "description": "Vehicle name."
                  },
                  "referenceId": {
                    "type": "string",
                    "description": "Optional external reference for the vehicle."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capacity": {
                            "type": "number"
                          },
                          "capacity_2": {
                            "type": "number"
                          },
                          "capacity_3": {
                            "type": "number"
                          },
                          "capacity_4": {
                            "type": "number"
                          },
                          "codrivers": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "color": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "default_driver": {
                            "type": "number"
                          },
                          "deleted": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "license_plate": {
                            "type": "string"
                          },
                          "location_end_address": {
                            "type": "string"
                          },
                          "location_end_latitude": {
                            "type": "string"
                          },
                          "location_end_longitude": {
                            "type": "string"
                          },
                          "location_start_address": {
                            "type": "string"
                          },
                          "location_start_latitude": {
                            "type": "string"
                          },
                          "location_start_longitude": {
                            "type": "string"
                          },
                          "max_number_of_routes": {
                            "type": "number"
                          },
                          "max_route_distance": {
                            "type": "number"
                          },
                          "max_time": {
                            "type": "string"
                          },
                          "max_visit": {
                            "type": "number"
                          },
                          "min_load": {
                            "type": "number"
                          },
                          "min_load_2": {
                            "type": "number"
                          },
                          "min_load_3": {
                            "type": "number"
                          },
                          "min_load_4": {
                            "type": "number"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "plan": {
                            "type": "string"
                          },
                          "reference_id": {
                            "type": "string"
                          },
                          "rest_time_duration": {
                            "type": "string"
                          },
                          "rest_time_end": {
                            "type": "string"
                          },
                          "rest_time_start": {
                            "type": "string"
                          },
                          "shift_end": {
                            "type": "string"
                          },
                          "shift_start": {
                            "type": "string"
                          },
                          "skills": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "type_load": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpliRoute/latest/actions/delete-user": {
      "delete": {
        "operationId": "simpliRoute.delete-user",
        "summary": "Delete User",
        "description": "Deletes an existing driver from SimpliRoute.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpliRoute/latest/actions/delete-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "The SimpliRoute driver ID.",
            "schema": {
              "type": "number",
              "description": "The SimpliRoute driver ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpliRoute/latest/actions/delete-vehicle": {
      "delete": {
        "operationId": "simpliRoute.delete-vehicle",
        "summary": "Delete Vehicle",
        "description": "Deletes an existing vehicle from SimpliRoute.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpliRoute/latest/actions/delete-vehicle"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleId",
            "in": "query",
            "required": true,
            "description": "The SimpliRoute vehicle ID.",
            "schema": {
              "type": "number",
              "description": "The SimpliRoute vehicle ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpliRoute/latest/actions/get-account": {
      "get": {
        "operationId": "simpliRoute.get-account",
        "summary": "Get Account",
        "description": "Retrieves the authenticated account from SimpliRoute.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpliRoute/latest/actions/get-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "blocked": {
                            "type": "boolean"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "gps_config": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "has_suscription_id": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_admin": {
                            "type": "boolean"
                          },
                          "is_codriver": {
                            "type": "boolean"
                          },
                          "is_coordinator": {
                            "type": "boolean"
                          },
                          "is_driver": {
                            "type": "boolean"
                          },
                          "is_monitor": {
                            "type": "boolean"
                          },
                          "is_owner": {
                            "type": "boolean"
                          },
                          "is_router": {
                            "type": "boolean"
                          },
                          "is_router_jr": {
                            "type": "boolean"
                          },
                          "is_seller": {
                            "type": "boolean"
                          },
                          "is_seller_viewer": {
                            "type": "boolean"
                          },
                          "is_staff": {
                            "type": "boolean"
                          },
                          "last_login": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "old_id": {
                            "type": "number"
                          },
                          "organization": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "phone": {
                            "type": "string"
                          },
                          "role": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpliRoute/latest/actions/get-user": {
      "get": {
        "operationId": "simpliRoute.get-user",
        "summary": "Get User",
        "description": "Retrieves a driver from SimpliRoute by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpliRoute/latest/actions/get-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "The SimpliRoute driver ID.",
            "schema": {
              "type": "number",
              "description": "The SimpliRoute driver ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "app_version": {
                            "type": "string"
                          },
                          "blocked": {
                            "type": "boolean"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_admin": {
                            "type": "boolean"
                          },
                          "is_codriver": {
                            "type": "boolean"
                          },
                          "is_coordinator": {
                            "type": "boolean"
                          },
                          "is_driver": {
                            "type": "boolean"
                          },
                          "is_monitor": {
                            "type": "boolean"
                          },
                          "is_owner": {
                            "type": "boolean"
                          },
                          "is_router": {
                            "type": "boolean"
                          },
                          "is_router_jr": {
                            "type": "boolean"
                          },
                          "is_seller": {
                            "type": "boolean"
                          },
                          "is_seller_viewer": {
                            "type": "boolean"
                          },
                          "is_staff": {
                            "type": "boolean"
                          },
                          "last_login": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "last_mobile_activity": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "old_id": {
                            "type": "number"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpliRoute/latest/actions/get-vehicle": {
      "get": {
        "operationId": "simpliRoute.get-vehicle",
        "summary": "Get Vehicle",
        "description": "Retrieves a vehicle from SimpliRoute by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpliRoute/latest/actions/get-vehicle"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeExtraProperties",
            "in": "query",
            "required": false,
            "description": "When true, include the extraProperties object in the response.",
            "schema": {
              "type": "boolean",
              "description": "When true, include the extraProperties object in the response."
            }
          },
          {
            "name": "vehicleId",
            "in": "query",
            "required": true,
            "description": "The SimpliRoute vehicle ID.",
            "schema": {
              "type": "number",
              "description": "The SimpliRoute vehicle ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capacity": {
                            "type": "number"
                          },
                          "capacity_2": {
                            "type": "number"
                          },
                          "capacity_3": {
                            "type": "number"
                          },
                          "capacity_4": {
                            "type": "number"
                          },
                          "codrivers": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "color": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "default_driver": {
                            "type": "number"
                          },
                          "deleted": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "license_plate": {
                            "type": "string"
                          },
                          "location_end_address": {
                            "type": "string"
                          },
                          "location_end_latitude": {
                            "type": "string"
                          },
                          "location_end_longitude": {
                            "type": "string"
                          },
                          "location_start_address": {
                            "type": "string"
                          },
                          "location_start_latitude": {
                            "type": "string"
                          },
                          "location_start_longitude": {
                            "type": "string"
                          },
                          "max_number_of_routes": {
                            "type": "number"
                          },
                          "max_route_distance": {
                            "type": "number"
                          },
                          "max_time": {
                            "type": "string"
                          },
                          "max_visit": {
                            "type": "number"
                          },
                          "min_load": {
                            "type": "number"
                          },
                          "min_load_2": {
                            "type": "number"
                          },
                          "min_load_3": {
                            "type": "number"
                          },
                          "min_load_4": {
                            "type": "number"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "plan": {
                            "type": "string"
                          },
                          "reference_id": {
                            "type": "string"
                          },
                          "rest_time_duration": {
                            "type": "string"
                          },
                          "rest_time_end": {
                            "type": "string"
                          },
                          "rest_time_start": {
                            "type": "string"
                          },
                          "shift_end": {
                            "type": "string"
                          },
                          "shift_start": {
                            "type": "string"
                          },
                          "skills": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "type_load": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpliRoute/latest/actions/list-users": {
      "get": {
        "operationId": "simpliRoute.list-users",
        "summary": "List Users",
        "description": "Retrieves drivers from SimpliRoute.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpliRoute/latest/actions/list-users"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "expired_documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_admin": {
                            "type": "boolean"
                          },
                          "is_driver": {
                            "type": "boolean"
                          },
                          "is_staff": {
                            "type": "boolean"
                          },
                          "last_login": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "old_id": {
                            "type": "number"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpliRoute/latest/actions/list-vehicles": {
      "get": {
        "operationId": "simpliRoute.list-vehicles",
        "summary": "List Vehicles",
        "description": "Retrieves vehicles from SimpliRoute.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpliRoute/latest/actions/list-vehicles"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeExtraProperties",
            "in": "query",
            "required": false,
            "description": "When true, include the extraProperties object in the response.",
            "schema": {
              "type": "boolean",
              "description": "When true, include the extraProperties object in the response."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capacity": {
                            "type": "number"
                          },
                          "capacity_2": {
                            "type": "number"
                          },
                          "capacity_3": {
                            "type": "number"
                          },
                          "codrivers": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "color": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "default_driver": {
                            "type": "number"
                          },
                          "deleted": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "license_plate": {
                            "type": "string"
                          },
                          "location_end_address": {
                            "type": "string"
                          },
                          "location_end_latitude": {
                            "type": "string"
                          },
                          "location_end_longitude": {
                            "type": "string"
                          },
                          "location_start_address": {
                            "type": "string"
                          },
                          "location_start_latitude": {
                            "type": "string"
                          },
                          "location_start_longitude": {
                            "type": "string"
                          },
                          "max_time": {
                            "type": "string"
                          },
                          "max_visit": {
                            "type": "number"
                          },
                          "min_load": {
                            "type": "number"
                          },
                          "min_load_2": {
                            "type": "number"
                          },
                          "min_load_3": {
                            "type": "number"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "reference_id": {
                            "type": "string"
                          },
                          "rest_time_duration": {
                            "type": "string"
                          },
                          "rest_time_end": {
                            "type": "string"
                          },
                          "rest_time_start": {
                            "type": "string"
                          },
                          "shift_end": {
                            "type": "string"
                          },
                          "shift_start": {
                            "type": "string"
                          },
                          "skills": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpliRoute/latest/actions/update-user": {
      "put": {
        "operationId": "simpliRoute.update-user",
        "summary": "Update User",
        "description": "Updates an existing driver in SimpliRoute.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpliRoute/latest/actions/update-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "password",
                  "userId",
                  "username"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "Optional email address for the driver."
                  },
                  "isAdmin": {
                    "type": "boolean",
                    "description": "Set true to give the driver admin access.",
                    "default": false
                  },
                  "name": {
                    "type": "string",
                    "description": "Updated display name for the driver."
                  },
                  "password": {
                    "type": "string",
                    "description": "Password to keep or replace on the driver account."
                  },
                  "userId": {
                    "type": "number",
                    "description": "The SimpliRoute driver ID."
                  },
                  "username": {
                    "type": "string",
                    "description": "Updated username for the driver."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "app_version": {
                            "type": "string"
                          },
                          "blocked": {
                            "type": "boolean"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_admin": {
                            "type": "boolean"
                          },
                          "is_codriver": {
                            "type": "boolean"
                          },
                          "is_coordinator": {
                            "type": "boolean"
                          },
                          "is_driver": {
                            "type": "boolean"
                          },
                          "is_monitor": {
                            "type": "boolean"
                          },
                          "is_owner": {
                            "type": "boolean"
                          },
                          "is_router": {
                            "type": "boolean"
                          },
                          "is_router_jr": {
                            "type": "boolean"
                          },
                          "is_seller": {
                            "type": "boolean"
                          },
                          "is_seller_viewer": {
                            "type": "boolean"
                          },
                          "is_staff": {
                            "type": "boolean"
                          },
                          "last_login": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "last_mobile_activity": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "old_id": {
                            "type": "number"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpliRoute/latest/actions/update-vehicle": {
      "put": {
        "operationId": "simpliRoute.update-vehicle",
        "summary": "Update Vehicle",
        "description": "Updates an existing vehicle in SimpliRoute.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpliRoute/latest/actions/update-vehicle"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "vehicleId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "capacity": {
                    "type": "number",
                    "description": "Optional updated capacity."
                  },
                  "licensePlate": {
                    "type": "string",
                    "description": "Optional updated license plate."
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional updated vehicle name."
                  },
                  "referenceId": {
                    "type": "string",
                    "description": "Optional updated reference ID."
                  },
                  "vehicleId": {
                    "type": "number",
                    "description": "The SimpliRoute vehicle ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capacity": {
                            "type": "number"
                          },
                          "capacity_2": {
                            "type": "number"
                          },
                          "capacity_3": {
                            "type": "number"
                          },
                          "capacity_4": {
                            "type": "number"
                          },
                          "codrivers": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "color": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "default_driver": {
                            "type": "number"
                          },
                          "deleted": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "license_plate": {
                            "type": "string"
                          },
                          "location_end_address": {
                            "type": "string"
                          },
                          "location_end_latitude": {
                            "type": "string"
                          },
                          "location_end_longitude": {
                            "type": "string"
                          },
                          "location_start_address": {
                            "type": "string"
                          },
                          "location_start_latitude": {
                            "type": "string"
                          },
                          "location_start_longitude": {
                            "type": "string"
                          },
                          "max_number_of_routes": {
                            "type": "number"
                          },
                          "max_route_distance": {
                            "type": "number"
                          },
                          "max_time": {
                            "type": "string"
                          },
                          "max_visit": {
                            "type": "number"
                          },
                          "min_load": {
                            "type": "number"
                          },
                          "min_load_2": {
                            "type": "number"
                          },
                          "min_load_3": {
                            "type": "number"
                          },
                          "min_load_4": {
                            "type": "number"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "plan": {
                            "type": "string"
                          },
                          "reference_id": {
                            "type": "string"
                          },
                          "rest_time_duration": {
                            "type": "string"
                          },
                          "rest_time_end": {
                            "type": "string"
                          },
                          "rest_time_start": {
                            "type": "string"
                          },
                          "shift_end": {
                            "type": "string"
                          },
                          "shift_start": {
                            "type": "string"
                          },
                          "skills": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "type_load": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
[...]
