{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "IgnitePost Universal API",
    "version": "0.0.5",
    "description": "Create, preview, and track handwritten card orders"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/ignitePost/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/ignitePost/latest/actions/authenticate": {
      "get": {
        "operationId": "ignitePost.authenticate",
        "summary": "Authenticate",
        "description": "Tests your IgnitePost authentication and returns your account email.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ignitePost/latest/actions/authenticate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "Email address for the authenticated IgnitePOST account."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ignitePost/latest/actions/create-order": {
      "post": {
        "operationId": "ignitePost.create-order",
        "summary": "Create Order",
        "description": "Creates a new order in IgnitePost.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ignitePost/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "font",
                  "message",
                  "image",
                  "recipientAddressOne",
                  "recipientCity",
                  "recipientState",
                  "recipientZip"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "font": {
                    "type": "string",
                    "description": "IgnitePOST font key from the List Fonts action."
                  },
                  "message": {
                    "type": "string",
                    "description": "Handwritten message content, up to 450 characters."
                  },
                  "image": {
                    "type": "string",
                    "description": "Front image key from List Default Images or a public image URL."
                  },
                  "imageInside": {
                    "type": "string",
                    "description": "A stock image key or image URL for the card interior."
                  },
                  "imageBackside": {
                    "type": "string",
                    "description": "A stock image key or image URL for the card back."
                  },
                  "insert": {
                    "type": "string",
                    "description": "An optional IgnitePOST insert key, such as a gift card insert."
                  },
                  "recipientName": {
                    "type": "string",
                    "description": "Recipient full name."
                  },
                  "recipientEmail": {
                    "type": "string",
                    "description": "Recipient email address for delivery notifications."
                  },
                  "recipientCompanyName": {
                    "type": "string",
                    "description": "Recipient company name for business deliveries."
                  },
                  "recipientAddressOne": {
                    "type": "string",
                    "description": "Recipient street address line 1."
                  },
                  "recipientAddressTwo": {
                    "type": "string",
                    "description": "Recipient street address line 2, such as a suite or apartment."
                  },
                  "recipientCity": {
                    "type": "string",
                    "description": "Recipient city."
                  },
                  "recipientState": {
                    "type": "string",
                    "description": "Recipient state or region code."
                  },
                  "recipientZip": {
                    "type": "string",
                    "description": "Recipient ZIP or postal code."
                  },
                  "senderName": {
                    "type": "string",
                    "description": "Sender name shown on the card."
                  },
                  "senderAddressOne": {
                    "type": "string",
                    "description": "Sender street address line 1."
                  },
                  "senderAddressTwo": {
                    "type": "string",
                    "description": "Sender street address line 2, such as a suite or apartment."
                  },
                  "senderCity": {
                    "type": "string",
                    "description": "Sender city."
                  },
                  "senderState": {
                    "type": "string",
                    "description": "Sender state or region code."
                  },
                  "senderZip": {
                    "type": "string",
                    "description": "Sender ZIP or postal code."
                  },
                  "sendOn": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Schedule the order for a future send date in YYYY-MM-DD format."
                  },
                  "letterTemplateId": {
                    "type": "number",
                    "description": "Letter template ID from the List Letter Templates action."
                  },
                  "uid": {
                    "type": "string",
                    "description": "Your external unique identifier for the order."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Object of key-value metadata to attach to the order."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the order was created."
                          },
                          "font": {
                            "type": "string",
                            "description": "IgnitePost font key."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the order."
                          },
                          "imageBacksideUrl": {
                            "type": "string",
                            "description": "Backside image URL."
                          },
                          "imageInsideUrl": {
                            "type": "string",
                            "description": "Inside image URL."
                          },
                          "imageUrl": {
                            "type": "string",
                            "description": "Front image URL."
                          },
                          "insert": {
                            "type": "string",
                            "description": "Optional insert key."
                          },
                          "letterTemplateId": {
                            "type": "number",
                            "description": "Template identifier returned on the observed create-order response."
                          },
                          "message": {
                            "type": "string",
                            "description": "Handwritten letter text."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Arbitrary order metadata returned by IgnitePost."
                          },
                          "recipientAddressOne": {
                            "type": "string",
                            "description": "Recipient address line 1."
                          },
                          "recipientAddressTwo": {
                            "type": "string",
                            "description": "Recipient address line 2."
                          },
                          "recipientCity": {
                            "type": "string",
                            "description": "Recipient city."
                          },
                          "recipientCompanyName": {
                            "type": "string",
                            "description": "Recipient company name."
                          },
                          "recipientCountry": {
                            "type": "string",
                            "description": "Recipient country code returned on the observed create-order response."
                          },
                          "recipientEmail": {
                            "type": "string",
                            "description": "Recipient email."
                          },
                          "recipientName": {
                            "type": "string",
                            "description": "Recipient name."
                          },
                          "recipientState": {
                            "type": "string",
                            "description": "Recipient state."
                          },
                          "recipientZip": {
                            "type": "string",
                            "description": "Recipient ZIP or postal code."
                          },
                          "senderAddressOne": {
                            "type": "string",
                            "description": "Sender address line 1."
                          },
                          "senderAddressTwo": {
                            "type": "string",
                            "description": "Sender address line 2."
                          },
                          "senderCity": {
                            "type": "string",
                            "description": "Sender city."
                          },
                          "senderCountry": {
                            "type": "string",
                            "description": "Sender country code returned on the observed create-order response."
                          },
                          "senderName": {
                            "type": "string",
                            "description": "Sender name."
                          },
                          "senderState": {
                            "type": "string",
                            "description": "Sender state."
                          },
                          "senderZip": {
                            "type": "string",
                            "description": "Sender ZIP or postal code."
                          },
                          "sendOn": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Scheduled send date."
                          },
                          "sentAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the order was sent."
                          },
                          "uid": {
                            "type": "string",
                            "description": "External identifier from the calling system."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ignitePost/latest/actions/list-default-images": {
      "get": {
        "operationId": "ignitePost.list-default-images",
        "summary": "List Default Images",
        "description": "Retrieves available default images from IgnitePost.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ignitePost/latest/actions/list-default-images"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "IgnitePOST image key used in preview and order requests."
                          },
                          "label": {
                            "type": "string",
                            "description": "Display name of the stock image."
                          },
                          "url": {
                            "type": "string",
                            "description": "Hosted URL for the stock image asset."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ignitePost/latest/actions/list-fonts": {
      "get": {
        "operationId": "ignitePost.list-fonts",
        "summary": "List Fonts",
        "description": "Retrieves available handwriting fonts from IgnitePost.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ignitePost/latest/actions/list-fonts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "IgnitePOST font key used in preview and order requests."
                          },
                          "label": {
                            "type": "string",
                            "description": "Display name of the handwriting font."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ignitePost/latest/actions/list-inserts": {
      "get": {
        "operationId": "ignitePost.list-inserts",
        "summary": "List Inserts",
        "description": "Retrieves available gift card inserts from IgnitePost.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ignitePost/latest/actions/list-inserts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "denomination": {
                            "type": "number",
                            "description": "Gift card or insert face value."
                          },
                          "key": {
                            "type": "string",
                            "description": "IgnitePOST insert key used when creating an order."
                          },
                          "name": {
                            "type": "string",
                            "description": "Display name of the insert option."
                          },
                          "purchaseFee": {
                            "type": "number",
                            "description": "Additional purchase fee charged for the insert."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ignitePost/latest/actions/list-letter-templates": {
      "get": {
        "operationId": "ignitePost.list-letter-templates",
        "summary": "List Letter Templates",
        "description": "Retrieves available letter templates from IgnitePost.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ignitePost/latest/actions/list-letter-templates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "IgnitePOST letter template ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Display name of the letter template."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ignitePost/latest/actions/preview-note": {
      "get": {
        "operationId": "ignitePost.preview-note",
        "summary": "Preview Note",
        "description": "Retrieves preview image URLs for a note in IgnitePost.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ignitePost/latest/actions/preview-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "font",
            "in": "query",
            "required": true,
            "description": "IgnitePOST font key from the List Fonts action.",
            "schema": {
              "type": "string",
              "description": "IgnitePOST font key from the List Fonts action."
            }
          },
          {
            "name": "message",
            "in": "query",
            "required": true,
            "description": "Handwritten message content, up to 450 characters.",
            "schema": {
              "type": "string",
              "description": "Handwritten message content, up to 450 characters."
            }
          },
          {
            "name": "image",
            "in": "query",
            "required": true,
            "description": "Front image key from List Default Images or a public image URL.",
            "schema": {
              "type": "string",
              "description": "Front image key from List Default Images or a public image URL."
            }
          },
          {
            "name": "imageInside",
            "in": "query",
            "required": true,
            "description": "A stock image key or image URL for the card interior.",
            "schema": {
              "type": "string",
              "description": "A stock image key or image URL for the card interior."
            }
          },
          {
            "name": "imageBackside",
            "in": "query",
            "required": true,
            "description": "A stock image key or image URL for the card back.",
            "schema": {
              "type": "string",
              "description": "A stock image key or image URL for the card back."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "backsideImage": {
                            "type": "string",
                            "description": "Preview image URL for the back of the card."
                          },
                          "front": {
                            "type": "string",
                            "description": "Preview image URL for the front of the card."
                          },
                          "inside": {
                            "type": "string",
                            "description": "Preview image URL for the inside handwritten message."
                          },
                          "insideImage": {
                            "type": "string",
                            "description": "Preview image URL for the inside image panel."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ignitePost/latest/actions/retrieve-order": {
      "get": {
        "operationId": "ignitePost.retrieve-order",
        "summary": "Retrieve Order",
        "description": "Retrieves an existing order from IgnitePost.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ignitePost/latest/actions/retrieve-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": true,
            "description": "The IgnitePOST order ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "The IgnitePOST order ID to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the order was created."
                          },
                          "font": {
                            "type": "string",
                            "description": "IgnitePost font key."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the order."
                          },
                          "imageBacksideUrl": {
                            "type": "string",
                            "description": "Backside image URL."
                          },
                          "imageInsideUrl": {
                            "type": "string",
                            "description": "Inside image URL."
                          },
                          "imageUrl": {
                            "type": "string",
                            "description": "Front image URL."
                          },
                          "insert": {
                            "type": "string",
                            "description": "Optional insert key."
                          },
                          "message": {
                            "type": "string",
                            "description": "Handwritten letter text."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Arbitrary order metadata returned by IgnitePost."
                          },
                          "recipientAddressOne": {
                            "type": "string",
                            "description": "Recipient address line 1."
                          },
                          "recipientAddressTwo": {
                            "type": "string",
                            "description": "Recipient address line 2."
                          },
                          "recipientCity": {
                            "type": "string",
                            "description": "Recipient city."
                          },
                          "recipientCompanyName": {
                            "type": "string",
                            "description": "Recipient company name."
                          },
                          "recipientEmail": {
                            "type": "string",
                            "description": "Recipient email."
                          },
                          "recipientName": {
                            "type": "string",
                            "description": "Recipient name."
                          },
                          "recipientState": {
                            "type": "string",
                            "description": "Recipient state."
                          },
                          "recipientZip": {
                            "type": "string",
                            "description": "Recipient ZIP or postal code."
                          },
                          "senderAddressOne": {
                            "type": "string",
                            "description": "Sender address line 1."
                          },
                          "senderAddressTwo": {
                            "type": "string",
                            "description": "Sender address line 2."
                          },
                          "senderCity": {
                            "type": "string",
                            "description": "Sender city."
                          },
                          "senderName": {
                            "type": "string",
                            "description": "Sender name."
                          },
                          "senderState": {
                            "type": "string",
                            "description": "Sender state."
                          },
                          "senderZip": {
                            "type": "string",
                            "description": "Sender ZIP or postal code."
                          },
                          "sendOn": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Scheduled send date."
                          },
                          "sentAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the order was sent."
                          },
                          "uid": {
                            "type": "string",
                            "description": "External identifier from the calling system."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
