{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "LaGrowthMachine Universal API",
    "version": "0.0.5",
    "description": "Multichannel outbound sales automation platform for campaigns, leads, audiences, inbox workflows, and prospecting operations."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/laGrowthMachine/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/laGrowthMachine/latest/actions/create-audience-from-linked-in-url": {
      "post": {
        "operationId": "laGrowthMachine.create-audience-from-linked-in-url",
        "summary": "Create Audience from LinkedIn URL",
        "description": "Creates an audience in LaGrowthMachine from a LinkedIn URL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/laGrowthMachine/latest/actions/create-audience-from-linked-in-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "audience",
                  "identityId",
                  "linkedinUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "audience": {
                    "type": "string",
                    "description": "Audience name to populate from the LinkedIn search or post."
                  },
                  "identityId": {
                    "type": "string",
                    "description": "Identity ID used to impersonate the LinkedIn search query."
                  },
                  "linkedinPostCategory": {
                    "type": "string",
                    "description": "Post interaction category when importing from a LinkedIn post."
                  },
                  "linkedinUrl": {
                    "type": "string",
                    "description": "LinkedIn regular search URL, Sales Navigator search URL, or LinkedIn post URL."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "statusCode": {
                            "type": "number",
                            "description": "Provider status code returned after the audience import request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/laGrowthMachine/latest/actions/create-inbox-webhook": {
      "post": {
        "operationId": "laGrowthMachine.create-inbox-webhook",
        "summary": "Create Inbox Webhook",
        "description": "Creates an inbox webhook in LaGrowthMachine.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/laGrowthMachine/latest/actions/create-inbox-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "campaigns[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Campaign IDs to scope the webhook to, or `all`."
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description for the webhook."
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name of the webhook."
                  },
                  "url": {
                    "type": "string",
                    "description": "Public URL that receives webhook events."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audiences": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Audience identifiers scoped to the webhook."
                            }
                          },
                          "campaigns": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Campaign identifiers scoped to the webhook."
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Webhook creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Webhook identifier."
                          },
                          "key": {
                            "type": "string",
                            "description": "Webhook display label returned by LaGrowthMachine."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Tag filters applied to the webhook."
                            }
                          },
                          "type": {
                            "type": "string",
                            "description": "Webhook event type."
                          },
                          "url": {
                            "type": "string",
                            "description": "Webhook target URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/laGrowthMachine/latest/actions/create-or-update-lead": {
      "put": {
        "operationId": "laGrowthMachine.create-or-update-lead",
        "summary": "Create or Update Lead",
        "description": "Creates or updates a lead in LaGrowthMachine.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/laGrowthMachine/latest/actions/create-or-update-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "audience"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "audience": {
                    "type": "string",
                    "description": "Audience name."
                  },
                  "bio": {
                    "type": "string",
                    "description": "Lead bio."
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Lead company name."
                  },
                  "companyUrl": {
                    "type": "string",
                    "description": "Lead company URL."
                  },
                  "crmId": {
                    "type": "string",
                    "description": "Lead CRM ID."
                  },
                  "customAttribute1": {
                    "type": "string",
                    "description": "Lead custom attribute 1."
                  },
                  "customAttribute10": {
                    "type": "string",
                    "description": "Lead custom attribute 10."
                  },
                  "customAttribute2": {
                    "type": "string",
                    "description": "Lead custom attribute 2."
                  },
                  "customAttribute3": {
                    "type": "string",
                    "description": "Lead custom attribute 3."
                  },
                  "customAttribute4": {
                    "type": "string",
                    "description": "Lead custom attribute 4."
                  },
                  "customAttribute5": {
                    "type": "string",
                    "description": "Lead custom attribute 5."
                  },
                  "customAttribute6": {
                    "type": "string",
                    "description": "Lead custom attribute 6."
                  },
                  "customAttribute7": {
                    "type": "string",
                    "description": "Lead custom attribute 7."
                  },
                  "customAttribute8": {
                    "type": "string",
                    "description": "Lead custom attribute 8."
                  },
                  "customAttribute9": {
                    "type": "string",
                    "description": "Lead custom attribute 9."
                  },
                  "excludeContactedLeads": {
                    "type": "boolean",
                    "description": "Exclude leads who have already been contacted."
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Lead first name."
                  },
                  "gender": {
                    "type": "string",
                    "description": "Lead gender. Accepted values are `man` or `woman`."
                  },
                  "industry": {
                    "type": "string",
                    "description": "Lead industry."
                  },
                  "jobTitle": {
                    "type": "string",
                    "description": "Lead job title."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Lead last name."
                  },
                  "leadId": {
                    "type": "string",
                    "description": "Existing lead ID to update."
                  },
                  "linkedinUrl": {
                    "type": "string",
                    "description": "Lead LinkedIn URL."
                  },
                  "location": {
                    "type": "string",
                    "description": "Lead location."
                  },
                  "persoEmail": {
                    "type": "string",
                    "description": "Lead personal email."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Lead phone number."
                  },
                  "proEmail": {
                    "type": "string",
                    "description": "Lead professional email."
                  },
                  "profilePicture": {
                    "type": "string",
                    "description": "Lead profile picture URL."
                  },
                  "twitter": {
                    "type": "string",
                    "description": "Lead Twitter profile URL or handle."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "leadId": {
                            "type": "string",
                            "description": "Identifier of the created or updated lead."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message describing the lead update outcome."
                          },
                          "statusCode": {
                            "type": "number",
                            "description": "Provider status code returned after the lead create or update request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/laGrowthMachine/latest/actions/delete-inbox-webhook": {
      "delete": {
        "operationId": "laGrowthMachine.delete-inbox-webhook",
        "summary": "Delete Inbox Webhook",
        "description": "Deletes an inbox webhook from LaGrowthMachine.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/laGrowthMachine/latest/actions/delete-inbox-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhookId",
            "in": "query",
            "required": true,
            "description": "Inbox webhook ID.",
            "schema": {
              "type": "string",
              "description": "Inbox webhook ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Whether the webhook deletion request succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/laGrowthMachine/latest/actions/edit-inbox-conversation-note": {
      "put": {
        "operationId": "laGrowthMachine.edit-inbox-conversation-note",
        "summary": "Edit Inbox Conversation Note",
        "description": "Updates an inbox conversation note in LaGrowthMachine.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/laGrowthMachine/latest/actions/edit-inbox-conversation-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "note"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "campaignId": {
                    "type": "string",
                    "description": "Optional campaign filter when resolving the conversation."
                  },
                  "campaignName": {
                    "type": "string",
                    "description": "Optional campaign-name filter when resolving the conversation."
                  },
                  "conversationId": {
                    "type": "string",
                    "description": "Conversation ID. Fastest and most reliable identifier when available."
                  },
                  "email": {
                    "type": "string",
                    "description": "Lead email used to resolve the conversation."
                  },
                  "identityId": {
                    "type": "string",
                    "description": "Optional identity filter when resolving the conversation."
                  },
                  "leadId": {
                    "type": "string",
                    "description": "Lead ID used to resolve the conversation."
                  },
                  "linkedinUrl": {
                    "type": "string",
                    "description": "Lead LinkedIn URL used to resolve the conversation."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Either `replace` or `append`."
                  },
                  "note": {
                    "type": "string",
                    "description": "Note content to store on the conversation."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "conversationId": {
                                "type": "string",
                                "description": "Conversation identifier."
                              },
                              "leadId": {
                                "type": "string",
                                "description": "Lead identifier."
                              },
                              "mode": {
                                "type": "string",
                                "description": "How the note update was applied."
                              },
                              "note": {
                                "type": "string",
                                "description": "Full conversation note content after the edit."
                              },
                              "noteLength": {
                                "type": "number",
                                "description": "Length of the resulting note."
                              },
                              "timestamp": {
                                "type": "string",
                                "description": "Timestamp of the note update."
                              },
                              "truncated": {
                                "type": "boolean",
                                "description": "Whether the provider truncated the note content."
                              }
                            },
                            "additionalProperties": false
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the conversation note edit request succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/laGrowthMachine/latest/actions/get-campaign": {
      "get": {
        "operationId": "laGrowthMachine.get-campaign",
        "summary": "Get Campaign",
        "description": "Retrieves a campaign from LaGrowthMachine.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/laGrowthMachine/latest/actions/get-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "Campaign ID.",
            "schema": {
              "type": "string",
              "description": "Campaign ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activated": {
                            "type": "number",
                            "description": "Activated lead count."
                          },
                          "audienceName": {
                            "type": "string",
                            "description": "Audience name linked to the campaign."
                          },
                          "audienceSize": {
                            "type": "number",
                            "description": "Audience size."
                          },
                          "converted": {
                            "type": "number",
                            "description": "Converted lead count."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Campaign creation timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Campaign description."
                          },
                          "id": {
                            "type": "string",
                            "description": "Campaign identifier."
                          },
                          "identityFirstname": {
                            "type": "string",
                            "description": "Identity first name."
                          },
                          "identityId": {
                            "type": "string",
                            "description": "Linked identity ID."
                          },
                          "identityLastname": {
                            "type": "string",
                            "description": "Identity last name."
                          },
                          "language": {
                            "type": "string",
                            "description": "Campaign language."
                          },
                          "launchedAt": {
                            "type": "number",
                            "description": "Campaign launch timestamp."
                          },
                          "modifiedAt": {
                            "type": "number",
                            "description": "Campaign last update timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "Campaign name."
                          },
                          "status": {
                            "type": "string",
                            "description": "Campaign status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/laGrowthMachine/latest/actions/get-campaign-lead-stats": {
      "get": {
        "operationId": "laGrowthMachine.get-campaign-lead-stats",
        "summary": "Get Campaign Lead Stats",
        "description": "Retrieves campaign lead stats from LaGrowthMachine.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/laGrowthMachine/latest/actions/get-campaign-lead-stats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "Campaign ID.",
            "schema": {
              "type": "string",
              "description": "Campaign ID."
            }
          },
          {
            "name": "getLeadsAfter",
            "in": "query",
            "required": false,
            "description": "Lead ID cursor for the next page.",
            "schema": {
              "type": "string",
              "description": "Lead ID cursor for the next page."
            }
          },
          {
            "name": "getLeadsBefore",
            "in": "query",
            "required": false,
            "description": "Lead ID cursor for the previous page.",
            "schema": {
              "type": "string",
              "description": "Lead ID cursor for the previous page."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action_todo": {
                            "type": "string",
                            "description": "Next action marker for the lead."
                          },
                          "companyName": {
                            "type": "string",
                            "description": "Company name."
                          },
                          "companyUrl": {
                            "type": "string",
                            "description": "Company URL."
                          },
                          "count": {
                            "type": "number",
                            "description": "Total matching leads."
                          },
                          "email": {
                            "type": "string",
                            "description": "Lead email."
                          },
                          "firstname": {
                            "type": "string",
                            "description": "Lead first name."
                          },
                          "hasLess": {
                            "type": "boolean",
                            "description": "Whether a previous page exists."
                          },
                          "hasMore": {
                            "type": "boolean",
                            "description": "Whether a next page exists."
                          },
                          "id": {
                            "type": "string",
                            "description": "Lead identifier."
                          },
                          "lastname": {
                            "type": "string",
                            "description": "Lead last name."
                          },
                          "linkedinUrl": {
                            "type": "string",
                            "description": "Lead LinkedIn profile URL."
                          },
                          "status": {
                            "type": "string",
                            "description": "Lead campaign status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/laGrowthMachine/latest/actions/get-campaign-stats": {
      "get": {
        "operationId": "laGrowthMachine.get-campaign-stats",
        "summary": "Get Campaign Stats",
        "description": "Retrieves campaign stats from LaGrowthMachine.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/laGrowthMachine/latest/actions/get-campaign-stats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "Campaign ID.",
            "schema": {
              "type": "string",
              "description": "Campaign ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audienceSize": {
                            "type": "number",
                            "description": "Campaign audience size."
                          },
                          "campaignId": {
                            "type": "string",
                            "description": "Campaign identifier."
                          },
                          "completed": {
                            "type": "number",
                            "description": "Completed lead count."
                          },
                          "converted": {
                            "type": "number",
                            "description": "Converted lead count."
                          },
                          "started": {
                            "type": "number",
                            "description": "Started lead count."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/laGrowthMachine/latest/actions/list-audiences": {
      "get": {
        "operationId": "laGrowthMachine.list-audiences",
        "summary": "List Audiences",
        "description": "Retrieves audiences from LaGrowthMachine.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/laGrowthMachine/latest/actions/list-audiences"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Audience description."
                          },
                          "id": {
                            "type": "string",
                            "description": "Audience identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Audience name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/laGrowthMachine/latest/actions/list-campaigns": {
      "get": {
        "operationId": "laGrowthMachine.list-campaigns",
        "summary": "List Campaigns",
        "description": "Retrieves campaigns from LaGrowthMachine.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/laGrowthMachine/latest/actions/list-campaigns"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "description": "Maximum number of campaigns to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of campaigns to return.",
              "default": 25
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": true,
            "description": "Number of records to skip for pagination.",
            "schema": {
              "type": "number",
              "description": "Number of records to skip for pagination.",
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "number",
                            "description": "Campaign creation timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Campaign description."
                          },
                          "id": {
                            "type": "string",
                            "description": "Campaign identifier."
                          },
                          "language": {
                            "type": "string",
                            "description": "Campaign language."
                          },
                          "launchedAt": {
                            "type": "number",
                            "description": "Campaign launch timestamp."
                          },
                          "leadsCount": {
                            "type": "number",
                            "description": "Number of leads in the campaign."
                          },
                          "modifiedAt": {
                            "type": "number",
                            "description": "Campaign last update timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "Campaign name."
                          },
                          "status": {
                            "type": "string",
                            "description": "Campaign status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/laGrowthMachine/latest/actions/list-identities": {
      "get": {
        "operationId": "laGrowthMachine.list-identities",
        "summary": "List Identities",
        "description": "Retrieves identities from LaGrowthMachine.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/laGrowthMachine/latest/actions/list-identities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "LaGrowthMachine identity identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Identity display name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/laGrowthMachine/latest/actions/list-inbox-webhooks": {
      "get": {
        "operationId": "laGrowthMachine.list-inbox-webhooks",
        "summary": "List Inbox Webhooks",
        "description": "Retrieves inbox webhooks from LaGrowthMachine.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/laGrowthMachine/latest/actions/list-inbox-webhooks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Inbox webhook identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Webhook name."
                          },
                          "url": {
                            "type": "string",
                            "description": "Webhook target URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/laGrowthMachine/latest/actions/list-members": {
      "get": {
        "operationId": "laGrowthMachine.list-members",
        "summary": "List Members",
        "description": "Retrieves members from LaGrowthMachine.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/laGrowthMachine/latest/actions/list-members"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "LaGrowthMachine member identifier."
                          },
                          "label": {
                            "type": "string",
                            "description": "Label returned by the members endpoint."
                          },
                          "name": {
                            "type": "string",
                            "description": "Display name of the member."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/laGrowthMachine/latest/actions/remove-lead-from-audiences": {
      "put": {
        "operationId": "laGrowthMachine.remove-lead-from-audiences",
        "summary": "Remove Lead from Audiences",
        "description": "Removes a lead from audiences in LaGrowthMachine.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/laGrowthMachine/latest/actions/remove-lead-from-audiences"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "audience[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "audience[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Audience names to remove from the lead, or use `all` to remove the lead from every audience."
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Lead company name."
                  },
                  "companyUrl": {
                    "type": "string",
                    "description": "Lead company URL."
                  },
                  "crmId": {
                    "type": "string",
                    "description": "Lead CRM ID."
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Lead first name."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Lead last name."
                  },
                  "linkedinUrl": {
                    "type": "string",
                    "description": "Lead LinkedIn URL."
                  },
                  "persoEmail": {
                    "type": "string",
                    "description": "Lead personal email."
                  },
                  "proEmail": {
                    "type": "string",
                    "description": "Lead professional email."
                  },
                  "twitter": {
[...]
