{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Jetbuilt Universal API",
    "version": "0.0.81",
    "description": "Call Jetbuilt actions through MindCloud's Universal API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/jetbuilt/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/jetbuilt/latest/actions/create-a-product": {
      "post": {
        "operationId": "jetbuilt.create-a-product",
        "summary": "Create a Product",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jetbuilt/latest/actions/create-a-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "productDatabaseId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "commodityCode": {
                    "type": "string"
                  },
                  "cost": {
                    "type": "number"
                  },
                  "countryOfOrigin": {
                    "type": "string"
                  },
                  "currencyCode": {
                    "type": "string"
                  },
                  "depthUnit": {
                    "type": "string",
                    "description": "Possible values: in, ft, cm, mm"
                  },
                  "depthValue": {
                    "type": "number"
                  },
                  "favorite": {
                    "type": "string"
                  },
                  "heatLoadUnit": {
                    "type": "string",
                    "description": "Possible values: BTU"
                  },
                  "heatLoadValue": {
                    "type": "string"
                  },
                  "heightUnit": {
                    "type": "string",
                    "description": "Possible values: in, ft, cm, mm"
                  },
                  "heightValue": {
                    "type": "number"
                  },
                  "image": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "phaseId": {
                    "type": "string"
                  },
                  "poeUnit": {
                    "type": "string",
                    "description": "Possible values: W"
                  },
                  "poeValue": {
                    "type": "number"
                  },
                  "powerUnit": {
                    "type": "string",
                    "description": "Possible values: W"
                  },
                  "powerValue": {
                    "type": "number"
                  },
                  "Price": {
                    "type": "number"
                  },
                  "productId": {
                    "type": "number"
                  },
                  "rackUnit": {
                    "type": "string",
                    "description": "Possible values: RU"
                  },
                  "rackValue": {
                    "type": "number"
                  },
                  "shippingCost": {
                    "type": "string"
                  },
                  "shippingDepthUnit": {
                    "type": "string",
                    "description": "Possible values: in, ft, cm, mm"
                  },
                  "shippingDepthValue": {
                    "type": "number"
                  },
                  "shippingHeightUnit": {
                    "type": "string",
                    "description": "Possible values: in, ft, cm, mm"
                  },
                  "shippingHeightValue": {
                    "type": "number"
                  },
                  "shippingPrice": {
                    "type": "number"
                  },
                  "shippingWeightUnit": {
                    "type": "string",
                    "description": "Possible values: lb, oz, kg, g"
                  },
                  "shippingWeightValue": {
                    "type": "number"
                  },
                  "shippingWidthUnit": {
                    "type": "string",
                    "description": "Possible values: in, ft, cm, mm"
                  },
                  "shippingWidthValue": {
                    "type": "number"
                  },
                  "shortDescription": {
                    "type": "string"
                  },
                  "taxEquipment": {
                    "type": "boolean"
                  },
                  "taxLabor": {
                    "type": "boolean"
                  },
                  "taxShipping": {
                    "type": "boolean"
                  },
                  "warrantyUnit": {
                    "type": "string",
                    "description": "Possible values: d, mo, yr"
                  },
                  "warrantyValue": {
                    "type": "number",
                    "description": "The warranty value in days months or years (decimal)"
                  },
                  "weightUnit": {
                    "type": "string",
                    "description": "Possible values: lb, oz, kg, g"
                  },
                  "weightValue": {
                    "type": "number"
                  },
                  "widthUnit": {
                    "type": "string",
                    "description": "Possible values: in, ft, cm, mm"
                  },
                  "widthValue": {
                    "type": "number"
                  },
                  "productDatabaseId": {
                    "type": "string"
                  },
                  "manufacturerName": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jetbuilt/latest/actions/create-a-project-revision": {
      "post": {
        "operationId": "jetbuilt.create-a-project-revision",
        "summary": "Create a Project Revision",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jetbuilt/latest/actions/create-a-project-revision"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "description": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "versionName": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jetbuilt/latest/actions/create-client": {
      "post": {
        "operationId": "jetbuilt.create-client",
        "summary": "Create Client",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jetbuilt/latest/actions/create-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "city": {
                    "type": "string",
                    "example": "San Francisco"
                  },
                  "country": {
                    "type": "string",
                    "example": "United States"
                  },
                  "description": {
                    "type": "string",
                    "example": "Quarterly onboarding package"
                  },
                  "parentId": {
                    "type": "string",
                    "example": "parent_01J1KR2F8G5"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+1 415 555 0132"
                  },
                  "state": {
                    "type": "string",
                    "example": "California"
                  },
                  "streetAddress": {
                    "type": "string",
                    "example": "100 Market St"
                  },
                  "userId": {
                    "type": "string",
                    "example": "usr_01HZX3Q8N7A2"
                  },
                  "website": {
                    "type": "string",
                    "example": "https://acme.example"
                  },
                  "zipCode": {
                    "type": "string",
                    "example": "94105"
                  },
                  "companyName": {
                    "type": "string",
                    "example": "Acme Logistics"
                  },
                  "owner.id": {
                    "type": "string"
                  },
                  "owner.name": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "owner": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jetbuilt/latest/actions/create-client-contact": {
      "post": {
        "operationId": "jetbuilt.create-client-contact",
        "summary": "Create Client Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jetbuilt/latest/actions/create-client-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "emailAddress": {
                    "type": "string"
                  },
                  "phoneNumber1": {
                    "type": "string"
                  },
                  "phoneNumber2": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "primary": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jetbuilt/latest/actions/create-project": {
      "post": {
        "operationId": "jetbuilt.create-project",
        "summary": "Create Project",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jetbuilt/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "clientId",
                  "userId",
                  "name",
                  "locationId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "budget": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "clientId": {
                    "type": "string"
                  },
                  "closeDate": {
                    "type": "string"
                  },
                  "contractNumber": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "customId": {
                    "type": "string"
                  },
                  "paidToDate": {
                    "type": "string"
                  },
                  "priceValidUntil": {
                    "type": "string"
                  },
                  "primaryContactId": {
                    "type": "string"
                  },
                  "probability": {
                    "type": "string"
                  },
                  "projectType": {
                    "type": "string"
                  },
                  "shortDescription": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "streetAddress": {
                    "type": "string"
                  },
                  "tax": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  },
                  "zipCode": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "locationId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jetbuilt/latest/actions/create-project-item": {
      "post": {
        "operationId": "jetbuilt.create-project-item",
        "summary": "Create Project Item",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jetbuilt/latest/actions/create-project-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "currencyCode": {
                    "type": "string"
                  },
                  "externalNotes": {
                    "type": "string"
                  },
                  "manufacturerName": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "notes": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "quantityPerRoom": {
                    "type": "number"
                  },
                  "roomName": {
                    "type": "string"
                  },
                  "shippingCost": {
                    "type": "number"
                  },
                  "shippingPrice": {
                    "type": "number"
                  },
                  "shortDescription": {
                    "type": "string"
                  },
                  "systemName": {
                    "type": "string"
                  },
                  "taxEquipment": {
                    "type": "boolean"
                  },
                  "taxShipping": {
                    "type": "boolean"
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jetbuilt/latest/actions/create-project-system": {
      "get": {
        "operationId": "jetbuilt.create-project-system",
        "summary": "Create Project System",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jetbuilt/latest/actions/create-project-system"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jetbuilt/latest/actions/get-a-product": {
      "get": {
        "operationId": "jetbuilt.get-a-product",
        "summary": "Get a Product",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jetbuilt/latest/actions/get-a-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "databaseId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jetbuilt/latest/actions/get-a-product-for-a-vendor": {
      "get": {
        "operationId": "jetbuilt.get-a-product-for-a-vendor",
        "summary": "Get a product for a vendor",
        "description": "This endpoint retrieves a product for a vendor by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jetbuilt/latest/actions/get-a-product-for-a-vendor"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "databaseId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vendorId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jetbuilt/latest/actions/get-a-room": {
      "get": {
        "operationId": "jetbuilt.get-a-room",
        "summary": "Get a Room",
        "description": "Retrieve the details of an individual project room. Equipment and labor totals (cost & price). Line items in this room. Project factors, along with how much of each factor applies to the room.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jetbuilt/latest/actions/get-a-room"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "description": "The Id of the Room to retrieve details for. To get a room ID, use the \"Get All Rooms\" Action to find the RoomId 's available for a given project.",
            "schema": {
              "type": "string",
              "description": "The Id of the Room to retrieve details for. To get a room ID, use the \"Get All Rooms\" Action to find the RoomId 's available for a given project."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string"
                          },
                          "equipmentTotalCost": {
                            "type": "object",
                            "properties": {
                              "cents": {
                                "type": "number"
                              },
                              "currencyIso": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "equipmentTotalPrice": {
                            "type": "object",
                            "properties": {
                              "cents": {
                                "type": "number"
                              },
                              "currencyIso": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "number"
                          },
                          "laborTotalCost": {
                            "type": "string"
                          },
                          "laborTotalPrice": {
                            "type": "string"
                          },
                          "lineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "bundle": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "cost": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "currencyIso": {
                                  "type": "string"
                                },
                                "custom": {
                                  "type": "boolean"
                                },
                                "custom?": {
                                  "type": "boolean"
                                },
                                "customProductId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "discount": {
                                  "type": "string"
                                },
                                "engineeringReleased": {
                                  "type": "boolean"
                                },
                                "externalNotes": {
                                  "type": "string"
                                },
                                "hidden": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "kind": {
                                  "type": "string"
                                },
                                "laborPreset": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "manufacturerId": {
                                  "type": "number"
                                },
                                "manufacturerName": {
                                  "type": "string"
                                },
                                "mapp": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "model": {
                                  "type": "string"
                                },
                                "msrp": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "msrpDiscountPercent": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "notes": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "option": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "ownerFurnished": {
                                  "type": "boolean"
                                },
                                "partNumber": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "phase": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "price": {
                                  "type": "string"
                                },
                                "productId": {
                                  "type": "number"
                                },
                                "purchasingReleased": {
                                  "type": "boolean"
                                },
                                "purchasingSource": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "quantity": {
                                  "type": "string"
                                },
                                "quantityPerBundle": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "quantityPerRoom": {
                                  "type": "string"
                                },
                                "room": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "quantity": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "selectedPurchasingVendor": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "shippingPrice": {
                                  "type": "string"
                                },
                                "shortDescription": {
                                  "type": "string"
                                },
                                "subcontractLaborCost": {
                                  "type": "string"
                                },
                                "subcontractLaborPrice": {
                                  "type": "string"
                                },
                                "subtotalEquipmentPrice": {
                                  "type": "string"
                                },
                                "system": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "tag": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "taxEquipment": {
                                  "type": "boolean"
                                },
                                "taxShipping": {
                                  "type": "boolean"
                                },
                                "totalEquipmentPrice": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "otherTotalCost": {
                            "type": "object",
                            "properties": {
                              "cents": {
                                "type": "number"
                              },
                              "currencyIso": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "otherTotalPrice": {
                            "type": "object",
                            "properties": {
                              "cents": {
                                "type": "number"
                              },
                              "currencyIso": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "totalCost": {
                            "type": "object",
                            "properties": {
                              "cents": {
                                "type": "number"
                              },
                              "currencyIso": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "totalPrice": {
                            "type": "object",
                            "properties": {
                              "cents": {
                                "type": "number"
                              },
                              "currencyIso": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "totalTax": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jetbuilt/latest/actions/get-a-vendor": {
      "get": {
        "operationId": "jetbuilt.get-a-vendor",
        "summary": "Get a Vendor",
        "description": "This endpoint retrieves a vendor by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jetbuilt/latest/actions/get-a-vendor"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vendorId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "databaseID",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jetbuilt/latest/actions/get-all-products": {
      "get": {
        "operationId": "jetbuilt.get-all-products",
        "summary": "Get All Products",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jetbuilt/latest/actions/get-all-products"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "databaseId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_updated_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_updated_at",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manufactuer_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cost": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "custom": {
                            "type": "boolean"
                          },
                          "depthUnit": {
                            "type": "string"
                          },
                          "depthValue": {
                            "type": "string"
                          },
                          "directPricing": {
                            "type": "boolean"
                          },
                          "discontinued": {
                            "type": "boolean"
                          },
                          "favorite": {
                            "type": "boolean"
                          },
                          "heatLoadUnit": {
                            "type": "string"
                          },
                          "heatLoadValue": {
                            "type": "string"
                          },
                          "heightUnit": {
                            "type": "string"
                          },
                          "heightValue": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "manufacturer": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mapp": {
                            "type": "string"
                          },
                          "model": {
                            "type": "string"
                          },
                          "msrp": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "phaseId": {
                            "type": "number"
                          },
                          "poeUnit": {
                            "type": "string"
                          },
                          "poeValue": {
                            "type": "string"
                          },
                          "powerUnit": {
                            "type": "string"
                          },
                          "powerValue": {
                            "type": "string"
                          },
                          "price": {
                            "type": "string"
                          },
                          "productId": {
                            "type": "number"
                          },
                          "rackUnit": {
                            "type": "string"
                          },
                          "rackValue": {
                            "type": "string"
                          },
                          "shippingCost": {
                            "type": "string"
                          },
                          "shippingPrice": {
                            "type": "string"
                          },
                          "shortDescription": {
                            "type": "string"
                          },
                          "taxEquipment": {
                            "type": "boolean"
                          },
                          "taxLabor": {
                            "type": "boolean"
                          },
                          "taxShipping": {
                            "type": "boolean"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "warrantyUnit": {
                            "type": "string"
                          },
                          "warrantyValue": {
                            "type": "string"
                          },
                          "weightUnit": {
                            "type": "string"
                          },
                          "weightValue": {
                            "type": "string"
                          },
                          "widthUnit": {
                            "type": "string"
                          },
                          "widthValue": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jetbuilt/latest/actions/get-all-products-for-a-vendor": {
      "get": {
        "operationId": "jetbuilt.get-all-products-for-a-vendor",
        "summary": "Get All Products for a Vendor",
        "description": "Retrieves all products with your connected pricing for a specified vendor.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jetbuilt/latest/actions/get-all-products-for-a-vendor"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dbid",
            "in": "query",
            "required": false,
            "description": "The ID of the product database.",
            "schema": {
              "type": "string",
              "description": "The ID of the product database."
            }
          },
          {
            "name": "vendor",
            "in": "query",
            "required": false,
            "description": "The ID of the vendor (An approved Manufacturer or Distributor)",
            "schema": {
              "type": "string",
              "description": "The ID of the vendor (An approved Manufacturer or Distributor)"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
[...]
