{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "2Captcha Universal API",
    "version": "0.0.3",
    "description": "2Captcha solves CAPTCHA challenges through API v2 task creation, polling, balance, and result reporting endpoints."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/captcha/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/captcha/latest/actions/create-amazon-waf-task-proxyless": {
      "post": {
        "operationId": "captcha.create-amazon-waf-task-proxyless",
        "summary": "Create Amazon WAF Task Proxyless",
        "description": "Creates a proxyless Amazon WAF captcha task in 2Captcha.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captcha/latest/actions/create-amazon-waf-task-proxyless"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task.websiteURL",
                  "task.websiteKey",
                  "task.iv",
                  "task.context"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "task.websiteURL": {
                    "type": "string"
                  },
                  "task.websiteKey": {
                    "type": "string"
                  },
                  "task.iv": {
                    "type": "string"
                  },
                  "task.context": {
                    "type": "string"
                  },
                  "task.challengeScript": {
                    "type": "string"
                  },
                  "task.captchaScript": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorId": {
                            "type": "number",
                            "description": "2Captcha error id. 0 means success."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "Created 2Captcha task id."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captcha/latest/actions/create-amazon-waf-task-with-proxy": {
      "post": {
        "operationId": "captcha.create-amazon-waf-task-with-proxy",
        "summary": "Create Amazon WAF Task With Proxy",
        "description": "Creates a proxied Amazon WAF captcha task in 2Captcha.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captcha/latest/actions/create-amazon-waf-task-with-proxy"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task.websiteURL",
                  "task.websiteKey",
                  "task.jsapiScript",
                  "task.proxyType",
                  "task.proxyAddress",
                  "task.proxyPort"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "task.websiteURL": {
                    "type": "string"
                  },
                  "task.websiteKey": {
                    "type": "string"
                  },
                  "task.jsapiScript": {
                    "type": "string"
                  },
                  "task.proxyType": {
                    "type": "string",
                    "description": "Proxy type: http, socks4, or socks5."
                  },
                  "task.proxyAddress": {
                    "type": "string",
                    "description": "Proxy IP address or hostname."
                  },
                  "task.proxyPort": {
                    "type": "number",
                    "description": "Proxy port."
                  },
                  "task.proxyLogin": {
                    "type": "string",
                    "description": "Proxy login for basic authentication."
                  },
                  "task.proxyPassword": {
                    "type": "string",
                    "description": "Proxy password for basic authentication."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorId": {
                            "type": "number",
                            "description": "2Captcha error id. 0 means success."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "Created 2Captcha task id."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captcha/latest/actions/create-arkose-fun-captcha-task-proxyless": {
      "post": {
        "operationId": "captcha.create-arkose-fun-captcha-task-proxyless",
        "summary": "Create Arkose FunCaptcha Task Proxyless",
        "description": "Creates a proxyless Arkose FunCaptcha task in 2Captcha.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captcha/latest/actions/create-arkose-fun-captcha-task-proxyless"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task.websiteURL",
                  "task.websitePublicKey"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "task.websiteURL": {
                    "type": "string"
                  },
                  "task.websitePublicKey": {
                    "type": "string"
                  },
                  "task.funcaptchaApiJSSubdomain": {
                    "type": "string"
                  },
                  "task.data": {
                    "type": "string"
                  },
                  "task.userAgent": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorId": {
                            "type": "number",
                            "description": "2Captcha error id. 0 means success."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "Created 2Captcha task id."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captcha/latest/actions/create-arkose-fun-captcha-task-with-proxy": {
      "post": {
        "operationId": "captcha.create-arkose-fun-captcha-task-with-proxy",
        "summary": "Create Arkose FunCaptcha Task With Proxy",
        "description": "Creates a proxied Arkose FunCaptcha task in 2Captcha.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captcha/latest/actions/create-arkose-fun-captcha-task-with-proxy"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task.websiteURL",
                  "task.websitePublicKey",
                  "task.proxyType",
                  "task.proxyAddress",
                  "task.proxyPort"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "task.websiteURL": {
                    "type": "string"
                  },
                  "task.websitePublicKey": {
                    "type": "string"
                  },
                  "task.funcaptchaApiJSSubdomain": {
                    "type": "string"
                  },
                  "task.data": {
                    "type": "string"
                  },
                  "task.userAgent": {
                    "type": "string"
                  },
                  "task.proxyType": {
                    "type": "string",
                    "description": "Proxy type: http, socks4, or socks5."
                  },
                  "task.proxyAddress": {
                    "type": "string",
                    "description": "Proxy IP address or hostname."
                  },
                  "task.proxyPort": {
                    "type": "number",
                    "description": "Proxy port."
                  },
                  "task.proxyLogin": {
                    "type": "string",
                    "description": "Proxy login for basic authentication."
                  },
                  "task.proxyPassword": {
                    "type": "string",
                    "description": "Proxy password for basic authentication."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorId": {
                            "type": "number",
                            "description": "2Captcha error id. 0 means success."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "Created 2Captcha task id."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captcha/latest/actions/create-atb-captcha-task-proxyless": {
      "post": {
        "operationId": "captcha.create-atb-captcha-task-proxyless",
        "summary": "Create ATB Captcha Task Proxyless",
        "description": "Creates a proxyless ATB captcha task in 2Captcha.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captcha/latest/actions/create-atb-captcha-task-proxyless"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task.websiteURL",
                  "task.appId",
                  "task.apiServer"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "task.websiteURL": {
                    "type": "string"
                  },
                  "task.appId": {
                    "type": "string"
                  },
                  "task.apiServer": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorId": {
                            "type": "number",
                            "description": "2Captcha error id. 0 means success."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "Created 2Captcha task id."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captcha/latest/actions/create-atb-captcha-task-with-proxy": {
      "post": {
        "operationId": "captcha.create-atb-captcha-task-with-proxy",
        "summary": "Create ATB Captcha Task With Proxy",
        "description": "Creates a proxied ATB captcha task in 2Captcha.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captcha/latest/actions/create-atb-captcha-task-with-proxy"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task.websiteURL",
                  "task.appId",
                  "task.apiServer",
                  "task.proxyType",
                  "task.proxyAddress",
                  "task.proxyPort"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "task.websiteURL": {
                    "type": "string"
                  },
                  "task.appId": {
                    "type": "string"
                  },
                  "task.apiServer": {
                    "type": "string"
                  },
                  "task.proxyType": {
                    "type": "string",
                    "description": "Proxy type: http, socks4, or socks5."
                  },
                  "task.proxyAddress": {
                    "type": "string",
                    "description": "Proxy IP address or hostname."
                  },
                  "task.proxyPort": {
                    "type": "number",
                    "description": "Proxy port."
                  },
                  "task.proxyLogin": {
                    "type": "string",
                    "description": "Proxy login for basic authentication."
                  },
                  "task.proxyPassword": {
                    "type": "string",
                    "description": "Proxy password for basic authentication."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorId": {
                            "type": "number",
                            "description": "2Captcha error id. 0 means success."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "Created 2Captcha task id."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captcha/latest/actions/create-captcha-fox-task": {
      "post": {
        "operationId": "captcha.create-captcha-fox-task",
        "summary": "Create CaptchaFox Task",
        "description": "Creates a CaptchaFox captcha task in 2Captcha.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captcha/latest/actions/create-captcha-fox-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task.websiteURL",
                  "task.websiteKey",
                  "task.userAgent",
                  "task.proxyType",
                  "task.proxyAddress",
                  "task.proxyPort"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "task.websiteURL": {
                    "type": "string"
                  },
                  "task.apiServer": {
                    "type": "string"
                  },
                  "task.websiteKey": {
                    "type": "string"
                  },
                  "task.userAgent": {
                    "type": "string"
                  },
                  "task.proxyType": {
                    "type": "string",
                    "description": "Proxy type: http, socks4, or socks5."
                  },
                  "task.proxyAddress": {
                    "type": "string",
                    "description": "Proxy IP address or hostname."
                  },
                  "task.proxyPort": {
                    "type": "number",
                    "description": "Proxy port."
                  },
                  "task.proxyLogin": {
                    "type": "string",
                    "description": "Proxy login for basic authentication."
                  },
                  "task.proxyPassword": {
                    "type": "string",
                    "description": "Proxy password for basic authentication."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorId": {
                            "type": "number",
                            "description": "2Captcha error id. 0 means success."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "Created 2Captcha task id."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captcha/latest/actions/create-capy-puzzle-task-proxyless": {
      "post": {
        "operationId": "captcha.create-capy-puzzle-task-proxyless",
        "summary": "Create Capy Puzzle Task Proxyless",
        "description": "Creates a proxyless Capy Puzzle task in 2Captcha.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captcha/latest/actions/create-capy-puzzle-task-proxyless"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task.websiteURL",
                  "task.websiteKey"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "task.websiteURL": {
                    "type": "string"
                  },
                  "task.websiteKey": {
                    "type": "string"
                  },
                  "task.userAgent": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorId": {
                            "type": "number",
                            "description": "2Captcha error id. 0 means success."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "Created 2Captcha task id."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captcha/latest/actions/create-capy-puzzle-task-with-proxy": {
      "post": {
        "operationId": "captcha.create-capy-puzzle-task-with-proxy",
        "summary": "Create Capy Puzzle Task With Proxy",
        "description": "Creates a proxied Capy Puzzle task in 2Captcha.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captcha/latest/actions/create-capy-puzzle-task-with-proxy"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task.websiteURL",
                  "task.websiteKey",
                  "task.proxyType",
                  "task.proxyAddress",
                  "task.proxyPort"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "task.websiteURL": {
                    "type": "string"
                  },
                  "task.websiteKey": {
                    "type": "string"
                  },
                  "task.userAgent": {
                    "type": "string"
                  },
                  "task.proxyType": {
                    "type": "string",
                    "description": "Proxy type: http, socks4, or socks5."
                  },
                  "task.proxyAddress": {
                    "type": "string",
                    "description": "Proxy IP address or hostname."
                  },
                  "task.proxyPort": {
                    "type": "number",
                    "description": "Proxy port."
                  },
                  "task.proxyLogin": {
                    "type": "string",
                    "description": "Proxy login for basic authentication."
                  },
                  "task.proxyPassword": {
                    "type": "string",
                    "description": "Proxy password for basic authentication."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorId": {
                            "type": "number",
                            "description": "2Captcha error id. 0 means success."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "Created 2Captcha task id."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captcha/latest/actions/create-cloudflare-turnstile-task-proxyless": {
      "post": {
        "operationId": "captcha.create-cloudflare-turnstile-task-proxyless",
        "summary": "Create Cloudflare Turnstile Task Proxyless",
        "description": "Creates a proxyless Cloudflare Turnstile task in 2Captcha.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captcha/latest/actions/create-cloudflare-turnstile-task-proxyless"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task.websiteURL",
                  "task.websiteKey"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "task.websiteURL": {
                    "type": "string"
                  },
                  "task.websiteKey": {
                    "type": "string"
                  },
                  "task.action": {
                    "type": "string"
                  },
                  "task.data": {
                    "type": "string"
                  },
                  "task.pagedata": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorId": {
                            "type": "number",
                            "description": "2Captcha error id. 0 means success."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "Created 2Captcha task id."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captcha/latest/actions/create-cloudflare-turnstile-task-with-proxy": {
      "post": {
        "operationId": "captcha.create-cloudflare-turnstile-task-with-proxy",
        "summary": "Create Cloudflare Turnstile Task With Proxy",
        "description": "Creates a proxied Cloudflare Turnstile task in 2Captcha.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captcha/latest/actions/create-cloudflare-turnstile-task-with-proxy"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task.websiteURL",
                  "task.websiteKey",
                  "task.proxyType",
                  "task.proxyAddress",
                  "task.proxyPort"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "task.websiteURL": {
                    "type": "string"
                  },
                  "task.websiteKey": {
                    "type": "string"
                  },
                  "task.action": {
                    "type": "string"
                  },
                  "task.data": {
                    "type": "string"
                  },
                  "task.pagedata": {
                    "type": "string"
                  },
                  "task.proxyType": {
                    "type": "string",
                    "description": "Proxy type: http, socks4, or socks5."
                  },
                  "task.proxyAddress": {
                    "type": "string",
                    "description": "Proxy IP address or hostname."
                  },
                  "task.proxyPort": {
                    "type": "number",
                    "description": "Proxy port."
                  },
                  "task.proxyLogin": {
                    "type": "string",
                    "description": "Proxy login for basic authentication."
                  },
                  "task.proxyPassword": {
                    "type": "string",
                    "description": "Proxy password for basic authentication."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorId": {
                            "type": "number",
                            "description": "2Captcha error id. 0 means success."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "Created 2Captcha task id."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captcha/latest/actions/create-cut-captcha-task-proxyless": {
      "post": {
        "operationId": "captcha.create-cut-captcha-task-proxyless",
        "summary": "Create CutCaptcha Task Proxyless",
        "description": "Creates a proxyless CutCaptcha task in 2Captcha.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captcha/latest/actions/create-cut-captcha-task-proxyless"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task.websiteURL",
                  "task.miseryKey",
                  "task.apiKey"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "task.websiteURL": {
                    "type": "string"
                  },
                  "task.miseryKey": {
                    "type": "string"
                  },
                  "task.apiKey": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorId": {
                            "type": "number",
                            "description": "2Captcha error id. 0 means success."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "Created 2Captcha task id."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captcha/latest/actions/create-cut-captcha-task-with-proxy": {
      "post": {
        "operationId": "captcha.create-cut-captcha-task-with-proxy",
        "summary": "Create CutCaptcha Task With Proxy",
        "description": "Creates a proxied CutCaptcha task in 2Captcha.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captcha/latest/actions/create-cut-captcha-task-with-proxy"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task.websiteURL",
                  "task.miseryKey",
                  "task.apiKey",
                  "task.proxyType",
                  "task.proxyAddress",
                  "task.proxyPort"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "task.websiteURL": {
                    "type": "string"
                  },
                  "task.miseryKey": {
                    "type": "string"
                  },
                  "task.apiKey": {
                    "type": "string"
                  },
                  "task.proxyType": {
                    "type": "string",
                    "description": "Proxy type: http, socks4, or socks5."
                  },
                  "task.proxyAddress": {
                    "type": "string",
                    "description": "Proxy IP address or hostname."
                  },
                  "task.proxyPort": {
                    "type": "number",
                    "description": "Proxy port."
                  },
                  "task.proxyLogin": {
                    "type": "string",
                    "description": "Proxy login for basic authentication."
                  },
                  "task.proxyPassword": {
                    "type": "string",
                    "description": "Proxy password for basic authentication."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorId": {
                            "type": "number",
                            "description": "2Captcha error id. 0 means success."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "Created 2Captcha task id."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captcha/latest/actions/create-data-dome-slider-task": {
      "post": {
        "operationId": "captcha.create-data-dome-slider-task",
        "summary": "Create DataDome Slider Task",
        "description": "Creates a DataDome slider captcha task in 2Captcha.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captcha/latest/actions/create-data-dome-slider-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task.websiteURL",
                  "task.captchaUrl",
                  "task.userAgent",
                  "task.proxyType",
                  "task.proxyAddress",
                  "task.proxyPort"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "task.websiteURL": {
                    "type": "string"
                  },
                  "task.captchaUrl": {
                    "type": "string"
                  },
                  "task.userAgent": {
                    "type": "string"
                  },
                  "task.proxyType": {
                    "type": "string",
                    "description": "Proxy type: http, socks4, or socks5."
                  },
                  "task.proxyAddress": {
                    "type": "string",
                    "description": "Proxy IP address or hostname."
                  },
                  "task.proxyPort": {
                    "type": "number",
                    "description": "Proxy port."
                  },
                  "task.proxyLogin": {
                    "type": "string",
                    "description": "Proxy login for basic authentication."
                  },
                  "task.proxyPassword": {
                    "type": "string",
                    "description": "Proxy password for basic authentication."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorId": {
                            "type": "number",
                            "description": "2Captcha error id. 0 means success."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "Created 2Captcha task id."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/captcha/latest/actions/create-friendly-captcha-task-proxyless": {
      "post": {
        "operationId": "captcha.create-friendly-captcha-task-proxyless",
        "summary": "Create Friendly Captcha Task Proxyless",
        "description": "Creates a proxyless Friendly Captcha task in 2Captcha.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/captcha/latest/actions/create-friendly-captcha-task-proxyless"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task.websiteURL",
                  "task.websiteKey"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "task.websiteURL": {
                    "type": "string"
                  },
                  "task.websiteKey": {
                    "type": "string"
                  },
                  "task.version": {
                    "type": "string"
                  },
                  "task.moduleScript": {
                    "type": "string"
                  },
                  "task.nomoduleScript": {
[...]
