{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Melo Universal API",
    "version": "0.0.7",
    "description": "Melo provides real-estate data APIs for querying property listings, indicators, locations, saved searches, and webhook-driven events."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/melo/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/melo/latest/actions/create-search": {
      "post": {
        "operationId": "melo.create-search",
        "summary": "Create Search",
        "description": "Creates a new search in Melo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/melo/latest/actions/create-search"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "transactionType",
                  "propertyTypes[]",
                  "includedDepartments[]",
                  "budgetMax"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Search title."
                  },
                  "transactionType": {
                    "type": "number",
                    "description": "Transaction type: 0 sell, 1 rent.",
                    "example": 1
                  },
                  "propertyTypes[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Property type IDs."
                  },
                  "includedDepartments[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Department resource IDs to include, for example /departments/77."
                  },
                  "budgetMax": {
                    "type": "number",
                    "description": "Maximum budget amount.",
                    "example": 350000
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "advertPriceMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "advertPriceMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bedroomMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "budgetMax": {
                            "type": "number"
                          },
                          "budgetMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "endpointRecipient": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "eventEndpoint": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "furnished": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "geoShapes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hidePropertyContact": {
                            "type": "boolean"
                          },
                          "includedDepartments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "chefLieu": {
                                  "type": "string"
                                },
                                "departmentCode": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "nameClean": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "initiatedFromDashboard": {
                            "type": "boolean"
                          },
                          "landSurfaceMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "landSurfaceMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastAlertAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lat": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "notificationEnabled": {
                            "type": "boolean"
                          },
                          "notificationRecipient": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pricePerMeterMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pricePerMeterMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "propertyTypes": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "radius": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "roomMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "surfaceMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "surfaceMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "title": {
                            "type": "string"
                          },
                          "token": {
                            "type": "string"
                          },
                          "transactionType": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "user": {
                            "type": "string"
                          },
                          "withCoherentPrice": {
                            "type": "boolean"
                          },
                          "withVirtualTour": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/melo/latest/actions/delete-search": {
      "delete": {
        "operationId": "melo.delete-search",
        "summary": "Delete Search",
        "description": "Deletes an existing search from Melo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/melo/latest/actions/delete-search"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Search resource identifier.",
            "schema": {
              "type": "string",
              "description": "Search resource identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/melo/latest/actions/get-search": {
      "get": {
        "operationId": "melo.get-search",
        "summary": "Get Search",
        "description": "Retrieves details for an existing search from Melo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/melo/latest/actions/get-search"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Search resource identifier.",
            "schema": {
              "type": "string",
              "description": "Search resource identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "advertPriceMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "advertPriceMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bedroomMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "budgetMax": {
                            "type": "number"
                          },
                          "budgetMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "endpointRecipient": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "eventEndpoint": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "furnished": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "geoShapes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hidePropertyContact": {
                            "type": "boolean"
                          },
                          "includedDepartments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "chefLieu": {
                                  "type": "string"
                                },
                                "departmentCode": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "nameClean": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "initiatedFromDashboard": {
                            "type": "boolean"
                          },
                          "landSurfaceMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "landSurfaceMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastAlertAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lat": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "notificationEnabled": {
                            "type": "boolean"
                          },
                          "notificationRecipient": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pricePerMeterMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pricePerMeterMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "propertyTypes": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "radius": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "roomMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "surfaceMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "surfaceMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "title": {
                            "type": "string"
                          },
                          "token": {
                            "type": "string"
                          },
                          "transactionType": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "user": {
                            "type": "string"
                          },
                          "withCoherentPrice": {
                            "type": "boolean"
                          },
                          "withVirtualTour": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/melo/latest/actions/list-cities": {
      "get": {
        "operationId": "melo.list-cities",
        "summary": "List Cities",
        "description": "Retrieves cities from Melo matching the provided criteria.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/melo/latest/actions/list-cities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Collection page number.",
            "schema": {
              "type": "number",
              "description": "Collection page number.",
              "default": 1
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Filter by city name.",
            "schema": {
              "type": "string",
              "description": "Filter by city name."
            }
          },
          {
            "name": "zipcode",
            "in": "query",
            "required": false,
            "description": "Filter by zipcode.",
            "schema": {
              "type": "string",
              "description": "Filter by zipcode."
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "article": {
                            "type": "string"
                          },
                          "cityParent": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "department": {
                            "type": "string"
                          },
                          "insee": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "libelle": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "originalName": {
                            "type": "string"
                          },
                          "zipcode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/melo/latest/actions/list-departments": {
      "get": {
        "operationId": "melo.list-departments",
        "summary": "List Departments",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/melo/latest/actions/list-departments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chefLieu": {
                            "type": "string"
                          },
                          "departmentCode": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nameClean": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/melo/latest/actions/list-points-of-interest": {
      "get": {
        "operationId": "melo.list-points-of-interest",
        "summary": "List Points of Interest",
        "description": "Retrieves points of interest from Melo near specific coordinates.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/melo/latest/actions/list-points-of-interest"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude coordinate.",
            "schema": {
              "type": "number",
              "description": "Latitude coordinate."
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "description": "Longitude coordinate.",
            "schema": {
              "type": "number",
              "description": "Longitude coordinate."
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Search radius in kilometers.",
            "schema": {
              "type": "number",
              "description": "Search radius in kilometers.",
              "default": 3
            }
          },
          {
            "name": "facilities",
            "in": "query",
            "required": true,
            "description": "Facility types to include, comma-separated (for example school,kindergarten,bus_stop).",
            "schema": {
              "type": "string",
              "description": "Facility types to include, comma-separated (for example school,kindergarten,bus_stop).",
              "example": "school,kindergarten"
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lat": {
                            "type": "number"
                          },
                          "lon": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/melo/latest/actions/list-searches": {
      "get": {
        "operationId": "melo.list-searches",
        "summary": "List Searches",
        "description": "Retrieves existing searches from Melo matching the current criteria.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/melo/latest/actions/list-searches"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Collection page number.",
            "schema": {
              "type": "number",
              "description": "Collection page number.",
              "default": 1
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "required": false,
            "description": "Number of items per page.",
            "schema": {
              "type": "number",
              "description": "Number of items per page.",
              "default": 10
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "advertPriceMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "advertPriceMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bedroomMin": {
                            "type": "number"
                          },
                          "budgetMax": {
                            "type": "number"
                          },
                          "budgetMin": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "endpointRecipient": {
                            "type": "string"
                          },
                          "eventEndpoint": {
                            "type": "string"
                          },
                          "furnished": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "geoShapes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hidePropertyContact": {
                            "type": "boolean"
                          },
                          "initiatedFromDashboard": {
                            "type": "boolean"
                          },
                          "landSurfaceMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "landSurfaceMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastAlertAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lat": {
                            "type": "number"
                          },
                          "lon": {
                            "type": "number"
                          },
                          "notificationEnabled": {
                            "type": "boolean"
                          },
                          "notificationRecipient": {
                            "type": "string"
                          },
                          "pricePerMeterMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pricePerMeterMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "propertyTypes": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "radius": {
                            "type": "number"
                          },
                          "roomMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subscribedEvents": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "surfaceMax": {
                            "type": "number"
                          },
                          "surfaceMin": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "token": {
                            "type": "string"
                          },
                          "transactionType": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "user": {
                            "type": "string"
                          },
                          "withCoherentPrice": {
                            "type": "boolean"
                          },
                          "withVirtualTour": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/melo/latest/actions/search-locations": {
      "get": {
        "operationId": "melo.search-locations",
        "summary": "Search Locations",
        "description": "Finds locations in Melo by search term.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/melo/latest/actions/search-locations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search text for location suggestions.",
            "schema": {
              "type": "string",
              "description": "Search text for location suggestions."
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "groupedCityNames": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "zipcode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/melo/latest/actions/update-search": {
      "put": {
        "operationId": "melo.update-search",
        "summary": "Update Search",
        "description": "Updates an existing search in Melo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/melo/latest/actions/update-search"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "title",
                  "transactionType",
                  "propertyTypes[]",
                  "includedDepartments[]",
                  "budgetMax"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Search resource identifier."
                  },
                  "title": {
                    "type": "string",
                    "description": "Search title."
                  },
                  "transactionType": {
                    "type": "number",
                    "description": "Transaction type: 0 sell, 1 rent.",
                    "example": 1
                  },
                  "propertyTypes[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Property type IDs."
                  },
                  "includedDepartments[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Department resource IDs to include, for example /departments/77."
                  },
                  "budgetMax": {
                    "type": "number",
                    "description": "Maximum budget amount.",
                    "example": 350000
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "advertPriceMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "advertPriceMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bedroomMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "budgetMax": {
                            "type": "number"
                          },
                          "budgetMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "endpointRecipient": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "eventEndpoint": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "furnished": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "geoShapes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hidePropertyContact": {
                            "type": "boolean"
                          },
                          "includedDepartments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "chefLieu": {
                                  "type": "string"
                                },
                                "departmentCode": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "nameClean": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "initiatedFromDashboard": {
                            "type": "boolean"
                          },
                          "landSurfaceMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "landSurfaceMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastAlertAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lat": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "notificationEnabled": {
                            "type": "boolean"
                          },
                          "notificationRecipient": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pricePerMeterMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pricePerMeterMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "propertyTypes": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "radius": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "roomMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "surfaceMax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "surfaceMin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "title": {
                            "type": "string"
                          },
                          "token": {
                            "type": "string"
                          },
                          "transactionType": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "user": {
                            "type": "string"
                          },
                          "withCoherentPrice": {
                            "type": "boolean"
                          },
                          "withVirtualTour": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
