{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Deskpro Universal API",
    "version": "0.0.7",
    "description": "Deskpro is a help desk and customer support platform for tickets, users, organizations, knowledge content, and agent workflows."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/deskpro/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/deskpro/latest/actions/get-agent": {
      "get": {
        "operationId": "deskpro.get-agent",
        "summary": "Get Agent",
        "description": "Retrieves an agent record from Deskpro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deskpro/latest/actions/get-agent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agentId",
            "in": "query",
            "required": true,
            "description": "The Deskpro agent id to retrieve.",
            "schema": {
              "type": "number",
              "description": "The Deskpro agent id to retrieve.",
              "example": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agentData": {
                            "type": "object",
                            "properties": {
                              "agentCallsEnabled": {
                                "type": "boolean"
                              },
                              "agentCanUseForwarding": {
                                "type": "boolean"
                              },
                              "agentChatEnabled": {
                                "type": "boolean"
                              },
                              "agentType": {
                                "type": "string"
                              },
                              "availableStatus": {
                                "type": "string"
                              },
                              "forwardingLoggedOut": {
                                "type": "boolean"
                              },
                              "forwardingNumber": {
                                "type": "string"
                              },
                              "forwardingNumberType": {
                                "type": "string"
                              },
                              "forwardingRingTimeout": {
                                "type": "number"
                              },
                              "lastOnline": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "loginStatus": {
                                "type": "string"
                              },
                              "workStatusEnabled": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "avatar": {
                            "type": "object",
                            "properties": {
                              "defaultUrlPattern": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isAgent": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "lastSeen": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "online": {
                            "type": "boolean"
                          },
                          "onlineForChat": {
                            "type": "boolean"
                          },
                          "primaryEmail": {
                            "type": "string"
                          },
                          "titlePrefix": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deskpro/latest/actions/get-current-user": {
      "get": {
        "operationId": "deskpro.get-current-user",
        "summary": "Get Current User",
        "description": "Retrieves the current user from Deskpro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deskpro/latest/actions/get-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiVersion": {
                            "type": "number"
                          },
                          "authMethod": {
                            "type": "string"
                          },
                          "clientType": {
                            "type": "string"
                          },
                          "clientVersion": {
                            "type": "string"
                          },
                          "person": {
                            "type": "object",
                            "properties": {
                              "agentData": {
                                "type": "object",
                                "properties": {
                                  "agentCallsEnabled": {
                                    "type": "boolean"
                                  },
                                  "agentCanUseForwarding": {
                                    "type": "boolean"
                                  },
                                  "agentChatEnabled": {
                                    "type": "boolean"
                                  },
                                  "agentType": {
                                    "type": "string"
                                  },
                                  "availableStatus": {
                                    "type": "string"
                                  },
                                  "forwardingLoggedOut": {
                                    "type": "boolean"
                                  },
                                  "forwardingNumber": {
                                    "type": "string"
                                  },
                                  "forwardingNumberType": {
                                    "type": "string"
                                  },
                                  "forwardingRingTimeout": {
                                    "type": "number"
                                  },
                                  "lastOnline": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "loginStatus": {
                                    "type": "string"
                                  },
                                  "workStatusEnabled": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "agentGroups": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "allUserGroups": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "avatar": {
                                "type": "object",
                                "properties": {
                                  "defaultUrlPattern": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "brands": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "canAdmin": {
                                "type": "boolean"
                              },
                              "canAgent": {
                                "type": "boolean"
                              },
                              "canBilling": {
                                "type": "boolean"
                              },
                              "canReopenResolved": {
                                "type": "object",
                                "properties": {
                                  "permission": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "canReports": {
                                "type": "boolean"
                              },
                              "chatsCount": {
                                "type": "number"
                              },
                              "creationSystem": {
                                "type": "string"
                              },
                              "dateCreated": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "dateLastLogin": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "disableAutoresponses": {
                                "type": "boolean"
                              },
                              "disablePicture": {
                                "type": "boolean"
                              },
                              "displayContact": {
                                "type": "string"
                              },
                              "displayName": {
                                "type": "string"
                              },
                              "emails": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "gravatarUrl": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "isAgent": {
                                "type": "boolean"
                              },
                              "isConfirmed": {
                                "type": "boolean"
                              },
                              "isContact": {
                                "type": "boolean"
                              },
                              "isDeleted": {
                                "type": "boolean"
                              },
                              "isDisabled": {
                                "type": "boolean"
                              },
                              "isUser": {
                                "type": "boolean"
                              },
                              "language": {
                                "type": "number"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "lastSeen": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "name": {
                                "type": "string"
                              },
                              "online": {
                                "type": "boolean"
                              },
                              "onlineForChat": {
                                "type": "boolean"
                              },
                              "organizationManager": {
                                "type": "boolean"
                              },
                              "organizationPosition": {
                                "type": "string"
                              },
                              "overrideDisplayName": {
                                "type": "string"
                              },
                              "primaryEmail": {
                                "type": "string"
                              },
                              "primaryTeam": {
                                "type": "number"
                              },
                              "summary": {
                                "type": "string"
                              },
                              "teams": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "ticketsCount": {
                                "type": "number"
                              },
                              "timelimit": {
                                "type": "number"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "titlePrefix": {
                                "type": "string"
                              },
                              "wasAgent": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "personId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deskpro/latest/actions/get-organization": {
      "get": {
        "operationId": "deskpro.get-organization",
        "summary": "Get Organization",
        "description": "Retrieves an organization record from Deskpro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deskpro/latest/actions/get-organization"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "example": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chatsCount": {
                            "type": "number"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "emailDomains": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "importance": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "parent": {
                            "type": "number"
                          },
                          "phoneNumbers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "summary": {
                            "type": "string"
                          },
                          "ticketsCount": {
                            "type": "number"
                          },
                          "userGroups": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deskpro/latest/actions/get-person": {
      "get": {
        "operationId": "deskpro.get-person",
        "summary": "Get Person",
        "description": "Retrieves a person record from Deskpro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deskpro/latest/actions/get-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The id of the person resource to retrieve, for example 1.",
            "schema": {
              "type": "number",
              "description": "The id of the person resource to retrieve, for example 1.",
              "example": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agentData": {
                            "type": "object",
                            "properties": {
                              "agentCallsEnabled": {
                                "type": "boolean"
                              },
                              "agentCanUseForwarding": {
                                "type": "boolean"
                              },
                              "agentChatEnabled": {
                                "type": "boolean"
                              },
                              "agentType": {
                                "type": "string"
                              },
                              "availableStatus": {
                                "type": "string"
                              },
                              "forwardingLoggedOut": {
                                "type": "boolean"
                              },
                              "forwardingNumber": {
                                "type": "string"
                              },
                              "forwardingNumberType": {
                                "type": "string"
                              },
                              "forwardingRingTimeout": {
                                "type": "number"
                              },
                              "lastOnline": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "loginStatus": {
                                "type": "string"
                              },
                              "workStatusEnabled": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "agentGroups": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "allUserGroups": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "avatar": {
                            "type": "object",
                            "properties": {
                              "defaultUrlPattern": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "brands": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "canAdmin": {
                            "type": "boolean"
                          },
                          "canAgent": {
                            "type": "boolean"
                          },
                          "canBilling": {
                            "type": "boolean"
                          },
                          "canReopenResolved": {
                            "type": "object",
                            "properties": {
                              "permission": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "canReports": {
                            "type": "boolean"
                          },
                          "chatsCount": {
                            "type": "number"
                          },
                          "creationSystem": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateLastLogin": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "disableAutoresponses": {
                            "type": "boolean"
                          },
                          "disablePicture": {
                            "type": "boolean"
                          },
                          "displayContact": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "gravatarUrl": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isAgent": {
                            "type": "boolean"
                          },
                          "isConfirmed": {
                            "type": "boolean"
                          },
                          "isContact": {
                            "type": "boolean"
                          },
                          "isDeleted": {
                            "type": "boolean"
                          },
                          "isDisabled": {
                            "type": "boolean"
                          },
                          "isUser": {
                            "type": "boolean"
                          },
                          "language": {
                            "type": "number"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "lastSeen": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "online": {
                            "type": "boolean"
                          },
                          "onlineForChat": {
                            "type": "boolean"
                          },
                          "organizationManager": {
                            "type": "boolean"
                          },
                          "organizationPosition": {
                            "type": "string"
                          },
                          "overrideDisplayName": {
                            "type": "string"
                          },
                          "primaryEmail": {
                            "type": "string"
                          },
                          "primaryTeam": {
                            "type": "number"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "teams": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "ticketsCount": {
                            "type": "number"
                          },
                          "timelimit": {
                            "type": "number"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "titlePrefix": {
                            "type": "string"
                          },
                          "wasAgent": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deskpro/latest/actions/get-ticket": {
      "get": {
        "operationId": "deskpro.get-ticket",
        "summary": "Get Ticket",
        "description": "Retrieves a ticket record from Deskpro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deskpro/latest/actions/get-ticket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticketId",
            "in": "query",
            "required": true,
            "description": "The Deskpro ticket id to retrieve.",
            "schema": {
              "type": "number",
              "description": "The Deskpro ticket id to retrieve.",
              "example": 3
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accessCode": {
                            "type": "string"
                          },
                          "agent": {
                            "type": "number"
                          },
                          "agentTeam": {
                            "type": "number"
                          },
                          "auth": {
                            "type": "string"
                          },
                          "brand": {
                            "type": "number"
                          },
                          "countAgentReplies": {
                            "type": "number"
                          },
                          "countUserReplies": {
                            "type": "number"
                          },
                          "dateArchived": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateFirstAgentAssign": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateFirstAgentReply": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateLastAgentReply": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateLastUserReply": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateResolved": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateStatus": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "department": {
                            "type": "number"
                          },
                          "hasAttachments": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isHold": {
                            "type": "boolean"
                          },
                          "organization": {
                            "type": "number"
                          },
                          "originalSubject": {
                            "type": "string"
                          },
                          "person": {
                            "type": "number"
                          },
                          "personEmail": {
                            "type": "string"
                          },
                          "ref": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "ticketStatus": {
                            "type": "string"
                          },
                          "urgency": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deskpro/latest/actions/get-ticket-filter": {
      "get": {
        "operationId": "deskpro.get-ticket-filter",
        "summary": "Get Ticket Filter",
        "description": "Retrieves a ticket filter from Deskpro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deskpro/latest/actions/get-ticket-filter"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticketFilterId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "example": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "isEnabled": {
                            "type": "boolean"
                          },
                          "isGlobal": {
                            "type": "boolean"
                          },
                          "query": {
                            "type": "string"
                          },
                          "sharedAgents": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "sharedTeams": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deskpro/latest/actions/get-ticket-filter-count": {
      "get": {
        "operationId": "deskpro.get-ticket-filter-count",
        "summary": "Get Ticket Filter Count",
        "description": "Retrieves the ticket count for a Deskpro filter.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deskpro/latest/actions/get-ticket-filter-count"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticketFilterId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "example": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "groupedBy": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deskpro/latest/actions/get-ticket-log": {
      "get": {
        "operationId": "deskpro.get-ticket-log",
        "summary": "Get Ticket Log",
        "description": "Retrieves a ticket log from Deskpro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deskpro/latest/actions/get-ticket-log"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticketId",
            "in": "query",
            "required": true,
            "description": "The Deskpro ticket id containing the log entry.",
            "schema": {
              "type": "number",
              "description": "The Deskpro ticket id containing the log entry.",
              "example": 3
            }
          },
          {
            "name": "logId",
            "in": "query",
            "required": true,
            "description": "The Deskpro ticket log id to retrieve.",
            "schema": {
              "type": "number",
              "description": "The Deskpro ticket log id to retrieve.",
              "example": 17
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actionType": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "details": {
                            "type": "object",
                            "properties": {
                              "creationSystem": {
                                "type": "string"
                              },
                              "emailFrom": {
                                "type": "string"
                              },
                              "emailTo": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "event": {
                                "type": "string"
                              },
                              "eventMethod": {
                                "type": "string"
                              },
                              "eventPerformer": {
                                "type": "string"
                              },
                              "isAgentMessage": {
                                "type": "boolean"
                              },
                              "isAgentNote": {
                                "type": "boolean"
                              },
                              "messageId": {
                                "type": "string"
                              },
                              "new": {
                                "type": "string"
                              },
                              "newBrandId": {
                                "type": "number"
                              },
                              "newBrandName": {
                                "type": "string"
                              },
                              "newDepartmentId": {
                                "type": "number"
                              },
                              "newDepartmentTitle": {
                                "type": "string"
                              },
                              "newPersonEmail": {
                                "type": "string"
                              },
                              "newPersonId": {
                                "type": "number"
                              },
                              "newPersonName": {
                                "type": "string"
                              },
                              "newSubject": {
                                "type": "string"
                              },
                              "old": {
                                "type": "string"
                              },
                              "oldSubject": {
                                "type": "string"
                              },
                              "personEmail": {
                                "type": "string"
                              },
                              "personId": {
                                "type": "number"
                              },
                              "personName": {
                                "type": "string"
                              },
                              "ticketId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "number"
                          },
                          "messageHtml": {
                            "type": "string"
                          },
                          "messageText": {
                            "type": "string"
                          },
                          "parent": {
                            "type": "number"
                          },
                          "person": {
                            "type": "number"
                          },
                          "ticket": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deskpro/latest/actions/get-ticket-message": {
      "get": {
        "operationId": "deskpro.get-ticket-message",
        "summary": "Get Ticket Message",
        "description": "Retrieves a ticket message from Deskpro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deskpro/latest/actions/get-ticket-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticketId",
            "in": "query",
            "required": true,
            "description": "The Deskpro ticket id containing the message.",
            "schema": {
              "type": "number",
              "description": "The Deskpro ticket id containing the message.",
              "example": 3
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "The Deskpro ticket message id to retrieve.",
            "schema": {
              "type": "number",
              "description": "The Deskpro ticket message id to retrieve.",
              "example": 3
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "dateCreated": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "creationSystem": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "emailSource": {
                            "type": "number"
                          },
                          "hostname": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "ipAddress": {
                            "type": "string"
                          },
                          "isAgentNote": {
                            "type": "boolean"
                          },
                          "langCode": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "messageFull": {
                            "type": "string"
                          },
                          "messageHash": {
                            "type": "string"
                          },
                          "messagePreviewText": {
                            "type": "string"
                          },
                          "messageRaw": {
                            "type": "string"
                          },
                          "messageWithoutImages": {
                            "type": "string"
                          },
                          "person": {
                            "type": "number"
                          },
                          "showFullHint": {
                            "type": "boolean"
                          },
                          "ticket": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deskpro/latest/actions/list-agents": {
      "get": {
        "operationId": "deskpro.list-agents",
        "summary": "List Agents",
        "description": "Retrieves a list of agents from Deskpro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deskpro/latest/actions/list-agents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agentData": {
                            "type": "object",
                            "properties": {
                              "agentCallsEnabled": {
                                "type": "boolean"
                              },
                              "agentCanUseForwarding": {
                                "type": "boolean"
                              },
                              "agentChatEnabled": {
                                "type": "boolean"
                              },
                              "agentType": {
                                "type": "string"
                              },
                              "availableStatus": {
                                "type": "string"
                              },
                              "forwardingLoggedOut": {
                                "type": "boolean"
                              },
                              "forwardingNumber": {
                                "type": "string"
                              },
                              "forwardingNumberType": {
                                "type": "string"
                              },
                              "forwardingRingTimeout": {
                                "type": "number"
                              },
                              "lastOnline": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "loginStatus": {
                                "type": "string"
                              },
                              "workStatusEnabled": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "avatar": {
                            "type": "object",
                            "properties": {
                              "defaultUrlPattern": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isAgent": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "lastSeen": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "online": {
                            "type": "boolean"
                          },
                          "onlineForChat": {
                            "type": "boolean"
                          },
                          "primaryEmail": {
                            "type": "string"
                          },
                          "titlePrefix": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deskpro/latest/actions/list-articles": {
      "get": {
        "operationId": "deskpro.list-articles",
        "summary": "List Articles",
        "description": "Retrieves a list of articles from Deskpro.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deskpro/latest/actions/list-articles"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
[...]
