{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Insightly Universal API",
    "version": "0.0.8",
    "description": "Insightly: Manage CRM contacts, leads, organizations, opportunities, projects, and tasks through the official Insightly CRM API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/insightly/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/insightly/latest/actions/create-contact": {
      "post": {
        "operationId": "insightly.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in Insightly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/insightly/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "The contact's first name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "The contact's last name."
                  },
                  "emailAddress": {
                    "type": "string",
                    "description": "The contact's email address."
                  },
                  "phone": {
                    "type": "string",
                    "description": "The contact's primary phone number."
                  },
                  "title": {
                    "type": "string",
                    "description": "The contact's job title."
                  },
                  "organisationId": {
                    "type": "number",
                    "description": "The related Organisation ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contactId": {
                            "type": "number"
                          },
                          "createdUserId": {
                            "type": "number"
                          },
                          "dateCreatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "emailAddress": {
                            "type": "string"
                          },
                          "emailOptedOut": {
                            "type": "boolean"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "lastActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "nextActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "organisationId": {
                            "type": "number"
                          },
                          "ownerUserId": {
                            "type": "number"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "visibleTo": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/insightly/latest/actions/create-lead": {
      "post": {
        "operationId": "insightly.create-lead",
        "summary": "Create Lead",
        "description": "Creates a new lead in Insightly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/insightly/latest/actions/create-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "lastName",
                  "leadSourceId",
                  "leadStatusId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "The lead's first name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "The lead's last name."
                  },
                  "leadSourceId": {
                    "type": "number",
                    "description": "The Lead Source ID."
                  },
                  "leadStatusId": {
                    "type": "number",
                    "description": "The Lead Status ID."
                  },
                  "email": {
                    "type": "string",
                    "description": "The lead's email address."
                  },
                  "phone": {
                    "type": "string",
                    "description": "The lead's phone number."
                  },
                  "title": {
                    "type": "string",
                    "description": "The lead's job title."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "converted": {
                            "type": "boolean"
                          },
                          "createdUserId": {
                            "type": "number"
                          },
                          "dateCreatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "emailOptedOut": {
                            "type": "boolean"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "lastActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "leadId": {
                            "type": "number"
                          },
                          "leadSourceId": {
                            "type": "number"
                          },
                          "leadStatusId": {
                            "type": "number"
                          },
                          "nextActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "organisationName": {
                            "type": "string"
                          },
                          "ownerUserId": {
                            "type": "number"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "responsibleUserId": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/insightly/latest/actions/create-opportunity": {
      "post": {
        "operationId": "insightly.create-opportunity",
        "summary": "Create Opportunity",
        "description": "Creates a new opportunity in Insightly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/insightly/latest/actions/create-opportunity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "opportunityName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "opportunityName": {
                    "type": "string",
                    "description": "The opportunity name."
                  },
                  "opportunityState": {
                    "type": "string",
                    "description": "The opportunity state."
                  },
                  "bidAmount": {
                    "type": "number",
                    "description": "The bid amount for the opportunity."
                  },
                  "bidCurrency": {
                    "type": "string",
                    "description": "The bid currency code."
                  },
                  "forecastCloseDate": {
                    "type": "string",
                    "description": "The forecast close date in UTC."
                  },
                  "organisationId": {
                    "type": "number",
                    "description": "The related Organisation ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actualCloseDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "bidAmount": {
                            "type": "number"
                          },
                          "bidCurrency": {
                            "type": "string"
                          },
                          "createdUserId": {
                            "type": "number"
                          },
                          "dateCreatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "forecastCloseDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "nextActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "opportunityDetails": {
                            "type": "string"
                          },
                          "opportunityId": {
                            "type": "number"
                          },
                          "opportunityName": {
                            "type": "string"
                          },
                          "opportunityState": {
                            "type": "string"
                          },
                          "organisationId": {
                            "type": "number"
                          },
                          "ownerUserId": {
                            "type": "number"
                          },
                          "pipelineId": {
                            "type": "number"
                          },
                          "probability": {
                            "type": "number"
                          },
                          "responsibleUserId": {
                            "type": "number"
                          },
                          "stageId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/insightly/latest/actions/create-organisation": {
      "post": {
        "operationId": "insightly.create-organisation",
        "summary": "Create Organisation",
        "description": "Creates a new organisation in Insightly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/insightly/latest/actions/create-organisation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organisationName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organisationName": {
                    "type": "string",
                    "description": "The organisation name."
                  },
                  "phone": {
                    "type": "string",
                    "description": "The organisation phone number."
                  },
                  "website": {
                    "type": "string",
                    "description": "The organisation website URL."
                  },
                  "background": {
                    "type": "string",
                    "description": "Background notes for the organisation."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "background": {
                            "type": "string"
                          },
                          "createdUserId": {
                            "type": "number"
                          },
                          "dateCreatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "lastActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "nextActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "organisationId": {
                            "type": "number"
                          },
                          "organisationName": {
                            "type": "string"
                          },
                          "ownerUserId": {
                            "type": "number"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/insightly/latest/actions/create-project": {
      "post": {
        "operationId": "insightly.create-project",
        "summary": "Create Project",
        "description": "Creates a new project in Insightly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/insightly/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectName",
                  "status"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "projectName": {
                    "type": "string",
                    "description": "The project name."
                  },
                  "status": {
                    "type": "string",
                    "description": "The project status."
                  },
                  "projectDetails": {
                    "type": "string",
                    "description": "Details for the project."
                  },
                  "startedDate": {
                    "type": "string",
                    "description": "The project start date."
                  },
                  "completedDate": {
                    "type": "string",
                    "description": "The project completion date."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "completedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdUserId": {
                            "type": "number"
                          },
                          "dateCreatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "lastActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "nextActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "opportunityId": {
                            "type": "number"
                          },
                          "ownerUserId": {
                            "type": "number"
                          },
                          "pipelineId": {
                            "type": "number"
                          },
                          "projectDetails": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "number"
                          },
                          "projectName": {
                            "type": "string"
                          },
                          "responsibleUserId": {
                            "type": "number"
                          },
                          "stageId": {
                            "type": "number"
                          },
                          "startedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/insightly/latest/actions/create-task": {
      "post": {
        "operationId": "insightly.create-task",
        "summary": "Create Task",
        "description": "Creates a new task in Insightly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/insightly/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "completed"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string"
                  },
                  "details": {
                    "type": "string"
                  },
                  "dueDate": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "priority": {
                    "type": "number"
                  },
                  "completed": {
                    "type": "boolean"
                  },
                  "projectId": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "categoryId": {
                            "type": "number"
                          },
                          "completed": {
                            "type": "boolean"
                          },
                          "completedDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdUserId": {
                            "type": "number"
                          },
                          "details": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "opportunityId": {
                            "type": "number"
                          },
                          "ownerUserId": {
                            "type": "number"
                          },
                          "ownerVisible": {
                            "type": "boolean"
                          },
                          "parentTaskId": {
                            "type": "number"
                          },
                          "percentComplete": {
                            "type": "number"
                          },
                          "priority": {
                            "type": "number"
                          },
                          "projectId": {
                            "type": "number"
                          },
                          "reminderDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "responsibleUserId": {
                            "type": "number"
                          },
                          "stageId": {
                            "type": "number"
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string"
                          },
                          "taskId": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/insightly/latest/actions/get-contact": {
      "get": {
        "operationId": "insightly.get-contact",
        "summary": "Get Contact",
        "description": "Retrieves a contact from Insightly by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/insightly/latest/actions/get-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "required": true,
            "description": "The Contact ID.",
            "schema": {
              "type": "number",
              "description": "The Contact ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contactId": {
                            "type": "number"
                          },
                          "createdUserId": {
                            "type": "number"
                          },
                          "dateCreatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "emailAddress": {
                            "type": "string"
                          },
                          "emailOptedOut": {
                            "type": "boolean"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "lastActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "nextActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "organisationId": {
                            "type": "number"
                          },
                          "ownerUserId": {
                            "type": "number"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "visibleTo": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/insightly/latest/actions/get-lead": {
      "get": {
        "operationId": "insightly.get-lead",
        "summary": "Get Lead",
        "description": "Retrieves a lead from Insightly by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/insightly/latest/actions/get-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "query",
            "required": true,
            "description": "The Lead ID.",
            "schema": {
              "type": "number",
              "description": "The Lead ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "converted": {
                            "type": "boolean"
                          },
                          "createdUserId": {
                            "type": "number"
                          },
                          "dateCreatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "emailOptedOut": {
                            "type": "boolean"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "lastActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "leadId": {
                            "type": "number"
                          },
                          "leadSourceId": {
                            "type": "number"
                          },
                          "leadStatusId": {
                            "type": "number"
                          },
                          "nextActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "organisationName": {
                            "type": "string"
                          },
                          "ownerUserId": {
                            "type": "number"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "responsibleUserId": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/insightly/latest/actions/get-opportunity": {
      "get": {
        "operationId": "insightly.get-opportunity",
        "summary": "Get Opportunity",
        "description": "Retrieves an opportunity from Insightly by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/insightly/latest/actions/get-opportunity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "opportunityId",
            "in": "query",
            "required": true,
            "description": "The Opportunity ID.",
            "schema": {
              "type": "number",
              "description": "The Opportunity ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actualCloseDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "bidAmount": {
                            "type": "number"
                          },
                          "bidCurrency": {
                            "type": "string"
                          },
                          "createdUserId": {
                            "type": "number"
                          },
                          "dateCreatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "forecastCloseDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "nextActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "opportunityDetails": {
                            "type": "string"
                          },
                          "opportunityId": {
                            "type": "number"
                          },
                          "opportunityName": {
                            "type": "string"
                          },
                          "opportunityState": {
                            "type": "string"
                          },
                          "organisationId": {
                            "type": "number"
                          },
                          "ownerUserId": {
                            "type": "number"
                          },
                          "pipelineId": {
                            "type": "number"
                          },
                          "probability": {
                            "type": "number"
                          },
                          "responsibleUserId": {
                            "type": "number"
                          },
                          "stageId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/insightly/latest/actions/get-organisation": {
      "get": {
        "operationId": "insightly.get-organisation",
        "summary": "Get Organisation",
        "description": "Retrieves an organisation from Insightly by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/insightly/latest/actions/get-organisation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organisationId",
            "in": "query",
            "required": true,
            "description": "The Organisation ID.",
            "schema": {
              "type": "number",
              "description": "The Organisation ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "background": {
                            "type": "string"
                          },
                          "createdUserId": {
                            "type": "number"
                          },
                          "dateCreatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "lastActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "nextActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "organisationId": {
                            "type": "number"
                          },
                          "organisationName": {
                            "type": "string"
                          },
                          "ownerUserId": {
                            "type": "number"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/insightly/latest/actions/get-project": {
      "get": {
        "operationId": "insightly.get-project",
        "summary": "Get Project",
        "description": "Retrieves a project from Insightly by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/insightly/latest/actions/get-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "The Project ID.",
            "schema": {
              "type": "number",
              "description": "The Project ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "completedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdUserId": {
                            "type": "number"
                          },
                          "dateCreatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateUpdatedUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "lastActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "nextActivityDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "opportunityId": {
                            "type": "number"
                          },
                          "ownerUserId": {
                            "type": "number"
                          },
                          "pipelineId": {
                            "type": "number"
                          },
                          "projectDetails": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "number"
                          },
                          "projectName": {
                            "type": "string"
                          },
                          "responsibleUserId": {
                            "type": "number"
                          },
                          "stageId": {
                            "type": "number"
                          },
                          "startedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/insightly/latest/actions/get-task": {
      "get": {
        "operationId": "insightly.get-task",
        "summary": "Get Task",
        "description": "Retrieves a task from Insightly by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/insightly/latest/actions/get-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "The Task ID.",
            "schema": {
              "type": "number",
              "description": "The Task ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "categoryId": {
                            "type": "number"
                          },
                          "completed": {
                            "type": "boolean"
                          },
                          "completedDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdUserId": {
                            "type": "number"
                          },
                          "details": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "opportunityId": {
                            "type": "number"
                          },
                          "ownerUserId": {
                            "type": "number"
                          },
                          "ownerVisible": {
                            "type": "boolean"
                          },
                          "parentTaskId": {
                            "type": "number"
                          },
                          "percentComplete": {
                            "type": "number"
                          },
                          "priority": {
                            "type": "number"
                          },
                          "projectId": {
                            "type": "number"
                          },
                          "reminderDateUtc": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "responsibleUserId": {
                            "type": "number"
                          },
                          "stageId": {
                            "type": "number"
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string"
                          },
                          "taskId": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
[...]
