{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "MyHR Universal API",
    "version": "0.0.3",
    "description": "myHR is an HR management platform for employee data, leave, absences, expenses, training, scheduling, and related HR workflows."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/myHR/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/myHR/latest/actions/activate-employee": {
      "put": {
        "operationId": "myHR.activate-employee",
        "summary": "Activate Employee",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/myHR/latest/actions/activate-employee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "dateEffective",
                  "employeePid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Optional activation comment."
                  },
                  "dateEffective": {
                    "type": "string",
                    "description": "The activation effective date in YYYY-MM-DD format."
                  },
                  "employeePid": {
                    "type": "string",
                    "description": "The employee PID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string"
                          },
                          "dateCreation": {
                            "type": "string"
                          },
                          "dateEffective": {
                            "type": "string"
                          },
                          "dateLastAction": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "pid": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/myHR/latest/actions/create-company-time-off-reason": {
      "post": {
        "operationId": "myHR.create-company-time-off-reason",
        "summary": "Create Company Time Off Reason",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/myHR/latest/actions/create-company-time-off-reason"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "label"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "label": {
                    "type": "string",
                    "description": "The company time off reason label."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dateCreation": {
                            "type": "string"
                          },
                          "dateLastAction": {
                            "type": "string"
                          },
                          "dateLastUpdate": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "pid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/myHR/latest/actions/create-employee": {
      "post": {
        "operationId": "myHR.create-employee",
        "summary": "Create Employee",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/myHR/latest/actions/create-employee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "hireDate",
                  "person.firstName",
                  "person.language",
                  "person.lastName",
                  "person.workEmail",
                  "seniorityDate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "hireDate": {
                    "type": "string",
                    "description": "The employee hire date in YYYY-MM-DD format."
                  },
                  "internalNumber": {
                    "type": "string",
                    "description": "Optional internal employee number."
                  },
                  "person.firstName": {
                    "type": "string",
                    "description": "The employee first name."
                  },
                  "person.language": {
                    "type": "string",
                    "description": "The employee language."
                  },
                  "person.lastName": {
                    "type": "string",
                    "description": "The employee last name."
                  },
                  "person.workEmail": {
                    "type": "string",
                    "description": "The employee work email."
                  },
                  "seniorityDate": {
                    "type": "string",
                    "description": "The employee seniority date in YYYY-MM-DD format."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dateCreation": {
                            "type": "string"
                          },
                          "dateLastAction": {
                            "type": "string"
                          },
                          "dateLastUpdate": {
                            "type": "string"
                          },
                          "hireDate": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "person": {
                            "type": "object",
                            "properties": {
                              "dateCreation": {
                                "type": "string"
                              },
                              "dateLastAction": {
                                "type": "string"
                              },
                              "dateLastUpdate": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "hasSelfService": {
                                "type": "boolean"
                              },
                              "language": {
                                "type": "string"
                              },
                              "object": {
                                "type": "string"
                              },
                              "pid": {
                                "type": "string"
                              },
                              "usualName": {
                                "type": "string"
                              },
                              "workEmail": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "pid": {
                            "type": "string"
                          },
                          "seniorityDate": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/myHR/latest/actions/create-employee-address": {
      "post": {
        "operationId": "myHR.create-employee-address",
        "summary": "Create Employee Address",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/myHR/latest/actions/create-employee-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "city",
                  "countryCode",
                  "dateEffective",
                  "employeePid",
                  "number",
                  "street",
                  "zipCode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "city": {
                    "type": "string",
                    "description": "The city name."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Optional comment for the address record."
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "The 2-letter country code."
                  },
                  "dateEffective": {
                    "type": "string",
                    "description": "The date the address becomes effective in YYYY-MM-DD format."
                  },
                  "employeePid": {
                    "type": "string",
                    "description": "The employee PID."
                  },
                  "number": {
                    "type": "string",
                    "description": "The street number."
                  },
                  "street": {
                    "type": "string",
                    "description": "The street name."
                  },
                  "zipCode": {
                    "type": "string",
                    "description": "The ZIP or postal code."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string"
                          },
                          "comment": {
                            "type": "string"
                          },
                          "complements": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "dateCreation": {
                            "type": "string"
                          },
                          "dateEffective": {
                            "type": "string"
                          },
                          "dateLastAction": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "pid": {
                            "type": "number"
                          },
                          "state": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "street": {
                            "type": "string"
                          },
                          "zipcode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/myHR/latest/actions/create-employee-time-off-request": {
      "post": {
        "operationId": "myHR.create-employee-time-off-request",
        "summary": "Create Employee Time Off Request",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/myHR/latest/actions/create-employee-time-off-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "employeePid",
                  "company_timeoff_reason.pid",
                  "employee_timeoff_request_days[].date",
                  "employee_timeoff_request_days[].num_hours",
                  "status"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "employeePid": {
                    "type": "string",
                    "description": "The employee PID to create the time off request for."
                  },
                  "company_timeoff_reason.pid": {
                    "type": "string",
                    "description": "The company time off reason PID to apply to the request."
                  },
                  "employee_timeoff_request_days[].date": {
                    "type": "string",
                    "description": "The date for one requested time off day in YYYY-MM-DD format, for example 2026-03-31."
                  },
                  "employee_timeoff_request_days[].num_hours": {
                    "type": "number",
                    "description": "The number of hours requested for one time off day, for example 8."
                  },
                  "status": {
                    "type": "string",
                    "description": "The initial time off request status tag, for example TO_REVIEW."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companyTimeoffReason": {
                            "type": "object",
                            "properties": {
                              "dateCreation": {
                                "type": "string"
                              },
                              "dateLastAction": {
                                "type": "string"
                              },
                              "dateLastUpdate": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "object": {
                                "type": "string"
                              },
                              "pid": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dateCreation": {
                            "type": "string"
                          },
                          "dateLastAction": {
                            "type": "string"
                          },
                          "dateLastUpdate": {
                            "type": "string"
                          },
                          "employee": {
                            "type": "object",
                            "properties": {
                              "foreignKey": {
                                "type": "string"
                              },
                              "isPartial": {
                                "type": "boolean"
                              },
                              "object": {
                                "type": "string"
                              },
                              "pid": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "endDate": {
                            "type": "string"
                          },
                          "numHours": {
                            "type": "number"
                          },
                          "object": {
                            "type": "string"
                          },
                          "pid": {
                            "type": "string"
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/myHR/latest/actions/deactivate-employee": {
      "put": {
        "operationId": "myHR.deactivate-employee",
        "summary": "Deactivate Employee",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/myHR/latest/actions/deactivate-employee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "dateEffective",
                  "employeePid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Optional deactivation comment."
                  },
                  "dateEffective": {
                    "type": "string",
                    "description": "The deactivation effective date in YYYY-MM-DD format."
                  },
                  "employeePid": {
                    "type": "string",
                    "description": "The employee PID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "string"
                          },
                          "dateCreation": {
                            "type": "string"
                          },
                          "dateEffective": {
                            "type": "string"
                          },
                          "dateLastAction": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "pid": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/myHR/latest/actions/get-company": {
      "get": {
        "operationId": "myHR.get-company",
        "summary": "Get Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/myHR/latest/actions/get-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dateCreation": {
                            "type": "string"
                          },
                          "dateLastAction": {
                            "type": "string"
                          },
                          "dateLastUpdate": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/myHR/latest/actions/get-current-employee-address": {
      "get": {
        "operationId": "myHR.get-current-employee-address",
        "summary": "Get Current Employee Address",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/myHR/latest/actions/get-current-employee-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employeePid",
            "in": "query",
            "required": true,
            "description": "The employee PID.",
            "schema": {
              "type": "string",
              "description": "The employee PID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string"
                          },
                          "comment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "complements": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "dateCreation": {
                            "type": "string"
                          },
                          "dateEffective": {
                            "type": "string"
                          },
                          "dateLastAction": {
                            "type": "string"
                          },
                          "isTrashed": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "pid": {
                            "type": "number"
                          },
                          "state": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "street": {
                            "type": "string"
                          },
                          "zipcode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/myHR/latest/actions/get-current-employee-status": {
      "get": {
        "operationId": "myHR.get-current-employee-status",
        "summary": "Get Current Employee Status",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/myHR/latest/actions/get-current-employee-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employeePid",
            "in": "query",
            "required": true,
            "description": "The employee PID.",
            "schema": {
              "type": "string",
              "description": "The employee PID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dateCreation": {
                            "type": "string"
                          },
                          "dateEffective": {
                            "type": "string"
                          },
                          "dateLastAction": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "pid": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/myHR/latest/actions/get-employee-by-foreign-key": {
      "get": {
        "operationId": "myHR.get-employee-by-foreign-key",
        "summary": "Get Employee By Foreign Key",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/myHR/latest/actions/get-employee-by-foreign-key"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employeeForeignKey",
            "in": "query",
            "required": true,
            "description": "Employee foreign key used to resolve the @ endpoint header.",
            "schema": {
              "type": "string",
              "description": "Employee foreign key used to resolve the @ endpoint header."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dateCreation": {
                            "type": "string"
                          },
                          "dateLastAction": {
                            "type": "string"
                          },
                          "dateLastUpdate": {
                            "type": "string"
                          },
                          "employeeAddress": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "countryCode": {
                                "type": "string"
                              },
                              "dateCreation": {
                                "type": "string"
                              },
                              "dateLastAction": {
                                "type": "string"
                              },
                              "dateLastUpdate": {
                                "type": "string"
                              },
                              "number": {
                                "type": "string"
                              },
                              "object": {
                                "type": "string"
                              },
                              "pid": {
                                "type": "string"
                              },
                              "street": {
                                "type": "string"
                              },
                              "zipcode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "employeeJob": {
                            "type": "object",
                            "properties": {
                              "companyJobDepartment": {
                                "type": "object",
                                "properties": {
                                  "dateCreation": {
                                    "type": "string"
                                  },
                                  "dateLastAction": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "object": {
                                    "type": "string"
                                  },
                                  "pid": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "companyJobDivision": {
                                "type": "object",
                                "properties": {
                                  "dateCreation": {
                                    "type": "string"
                                  },
                                  "dateLastAction": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "object": {
                                    "type": "string"
                                  },
                                  "pid": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "companyJobTitle": {
                                "type": "object",
                                "properties": {
                                  "dateCreation": {
                                    "type": "string"
                                  },
                                  "dateLastAction": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "object": {
                                    "type": "string"
                                  },
                                  "pid": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "dateCreation": {
                                "type": "string"
                              },
                              "dateLastAction": {
                                "type": "string"
                              },
                              "dateLastUpdate": {
                                "type": "string"
                              },
                              "effectiveDate": {
                                "type": "string"
                              },
                              "object": {
                                "type": "string"
                              },
                              "pid": {
                                "type": "string"
                              },
                              "supervisor": {
                                "type": "object",
                                "properties": {
                                  "dateCreation": {
                                    "type": "string"
                                  },
                                  "dateLastAction": {
                                    "type": "string"
                                  },
                                  "dateLastUpdate": {
                                    "type": "string"
                                  },
                                  "EmployeeAddress": {
                                    "type": "string"
                                  },
                                  "EmployeeEmploymentStatus": {
                                    "type": "string"
                                  },
                                  "EmployeeJob": {
                                    "type": "string"
                                  },
                                  "EmployeeStatus": {
                                    "type": "string"
                                  },
                                  "hireDate": {
                                    "type": "string"
                                  },
                                  "internalNumber": {
                                    "type": "string"
                                  },
                                  "object": {
                                    "type": "string"
                                  },
                                  "Person": {
                                    "type": "string"
                                  },
                                  "pid": {
                                    "type": "string"
                                  },
                                  "seniorityDate": {
                                    "type": "string"
                                  },
                                  "sosecNumber": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "employeeStatus": {
                            "type": "object",
                            "properties": {
                              "dateCreation": {
                                "type": "string"
                              },
                              "dateLastAction": {
                                "type": "string"
                              },
                              "object": {
                                "type": "string"
                              },
                              "pid": {
                                "type": "string"
                              },
                              "tag": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "foreignKey": {
                            "type": "string"
                          },
                          "hireDate": {
                            "type": "string"
                          },
                          "internalNumber": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "person": {
                            "type": "object",
                            "properties": {
                              "birthDate": {
                                "type": "string"
                              },
                              "dateCreation": {
                                "type": "string"
                              },
                              "dateLastAction": {
                                "type": "string"
                              },
                              "dateLastUpdate": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "gender": {
                                "type": "string"
                              },
                              "hasSelfService": {
                                "type": "boolean"
                              },
                              "language": {
                                "type": "string"
                              },
                              "maritalStatus": {
                                "type": "string"
                              },
                              "object": {
                                "type": "string"
                              },
                              "phoneWork": {
                                "type": "string"
                              },
                              "phoneWorkCountryCode": {
                                "type": "string"
                              },
                              "phoneWorkFormatted": {
                                "type": "string"
                              },
                              "phoneWorkMobile": {
                                "type": "string"
                              },
                              "phoneWorkMobileCountryCode": {
                                "type": "string"
                              },
                              "phoneWorkMobileFormatted": {
                                "type": "string"
                              },
                              "pid": {
                                "type": "string"
                              },
                              "usualName": {
                                "type": "string"
                              },
                              "workEmail": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "pid": {
                            "type": "string"
                          },
                          "seniorityDate": {
                            "type": "string"
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "dateCreation": {
                                "type": "string"
                              },
                              "dateLastAction": {
                                "type": "string"
                              },
                              "dateLastUpdate": {
                                "type": "string"
                              },
                              "effectiveDate": {
                                "type": "string"
                              },
                              "fullTimeEquivalent": {
                                "type": "string"
                              },
                              "object": {
                                "type": "string"
                              },
                              "pid": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/myHR/latest/actions/get-employee-by-pid": {
      "get": {
        "operationId": "myHR.get-employee-by-pid",
        "summary": "Get Employee By PID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/myHR/latest/actions/get-employee-by-pid"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employeePid",
            "in": "query",
            "required": true,
            "description": "The employee PID.",
            "schema": {
              "type": "string",
              "description": "The employee PID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dateCreation": {
                            "type": "string"
                          },
                          "dateLastAction": {
                            "type": "string"
                          },
                          "dateLastUpdate": {
                            "type": "string"
                          },
                          "employeeAddress": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "countryCode": {
                                "type": "string"
                              },
                              "dateCreation": {
                                "type": "string"
                              },
                              "dateLastAction": {
                                "type": "string"
                              },
                              "number": {
                                "type": "string"
                              },
                              "object": {
                                "type": "string"
                              },
                              "pid": {
                                "type": "string"
                              },
                              "street": {
                                "type": "string"
                              },
                              "zipcode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "employeeJob": {
                            "type": "object",
                            "properties": {
                              "companyJobDepartment": {
                                "type": "object",
                                "properties": {
                                  "dateCreation": {
                                    "type": "string"
                                  },
                                  "dateLastAction": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "object": {
                                    "type": "string"
                                  },
                                  "pid": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "companyJobDivision": {
                                "type": "object",
                                "properties": {
                                  "dateCreation": {
                                    "type": "string"
                                  },
                                  "dateLastAction": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "object": {
                                    "type": "string"
                                  },
                                  "pid": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "companyJobTitle": {
                                "type": "object",
                                "properties": {
                                  "dateCreation": {
                                    "type": "string"
                                  },
                                  "dateLastAction": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "object": {
                                    "type": "string"
                                  },
                                  "pid": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "dateCreation": {
                                "type": "string"
                              },
                              "dateLastAction": {
                                "type": "string"
                              },
                              "dateLastUpdate": {
                                "type": "string"
                              },
                              "effectiveDate": {
                                "type": "string"
                              },
                              "object": {
                                "type": "string"
                              },
                              "pid": {
                                "type": "string"
                              },
                              "supervisor": {
                                "type": "object",
                                "properties": {
                                  "dateCreation": {
                                    "type": "string"
                                  },
                                  "dateLastAction": {
                                    "type": "string"
                                  },
                                  "dateLastUpdate": {
                                    "type": "string"
                                  },
                                  "EmployeeAddress": {
                                    "type": "string"
                                  },
                                  "EmployeeEmploymentStatus": {
                                    "type": "string"
                                  },
                                  "EmployeeJob": {
                                    "type": "string"
                                  },
                                  "EmployeeStatus": {
                                    "type": "string"
                                  },
                                  "hireDate": {
                                    "type": "string"
                                  },
                                  "internalNumber": {
                                    "type": "string"
                                  },
                                  "object": {
                                    "type": "string"
                                  },
                                  "Person": {
                                    "type": "string"
                                  },
                                  "pid": {
                                    "type": "string"
                                  },
                                  "seniorityDate": {
                                    "type": "string"
                                  },
                                  "sosecNumber": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "employeeStatus": {
                            "type": "object",
                            "properties": {
                              "dateCreation": {
                                "type": "string"
                              },
                              "dateLastAction": {
                                "type": "string"
                              },
                              "object": {
                                "type": "string"
                              },
                              "pid": {
                                "type": "string"
                              },
                              "tag": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "foreignKey": {
                            "type": "string"
                          },
                          "hireDate": {
                            "type": "string"
                          },
                          "internalNumber": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "person": {
                            "type": "object",
                            "properties": {
                              "birthDate": {
                                "type": "string"
                              },
                              "dateCreation": {
                                "type": "string"
                              },
                              "dateLastAction": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "gender": {
                                "type": "string"
                              },
                              "hasSelfService": {
                                "type": "boolean"
                              },
                              "language": {
                                "type": "string"
                              },
                              "maritalStatus": {
                                "type": "string"
                              },
                              "object": {
                                "type": "string"
[...]
