{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Vapi Universal API",
    "version": "0.0.6",
    "description": "Manage Vapi assistants, calls, chats, tools, files, sessions, squads, and campaigns with the Vapi management API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/vapi/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/vapi/latest/actions/create-assistant": {
      "post": {
        "operationId": "vapi.create-assistant",
        "summary": "Create Assistant",
        "description": "Creates a new assistant in Vapi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vapi/latest/actions/create-assistant"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "transcriber": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "model": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "voice": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "firstMessage": {
                    "type": "string",
                    "description": "This is the first message that the assistant will say. This can also be a URL to a containerized audio file (mp3, wav, etc.).\n\nIf unspecified, assistant will wait for user to speak and use the model to respond once they speak."
                  },
                  "firstMessageInterruptionsEnabled": {
                    "type": "boolean"
                  },
                  "firstMessageMode": {
                    "type": "string",
                    "description": "This is the mode for the first message. Default is 'assistant-speaks-first'.\n\nUse:\n- 'assistant-speaks-first' to have the assistant speak first.\n- 'assistant-waits-for-user' to have the assistant wait for the user to speak first.\n- 'assistant-speaks-first-with-model-generated-message' to have the assistant speak first with a message generated by the model based on the conversation state. (`assistant.model.messages` at call start, `call.messages` at squad transfer points).\n\n@default 'assistant-speaks-first'"
                  },
                  "voicemailDetection": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "clientMessages": {
                    "type": "string",
                    "description": "These are the messages that will be sent to your Client SDKs. Default is conversation-update,function-call,hang,model-output,speech-update,status-update,transfer-update,transcript,tool-calls,user-interrupted,voice-input,workflow.node.started,assistant.started. You can check the shape of the messages in ClientMessage schema."
                  },
                  "serverMessages": {
                    "type": "string",
                    "description": "These are the messages that will be sent to your Server URL. Default is conversation-update,end-of-call-report,function-call,hang,speech-update,status-update,tool-calls,transfer-destination-request,handoff-destination-request,user-interrupted,assistant.started. You can check the shape of the messages in ServerMessage schema."
                  },
                  "maxDurationSeconds": {
                    "type": "number",
                    "description": "This is the maximum number of seconds that the call will last. When the call reaches this duration, it will be ended.\n\n@default 600 (10 minutes)"
                  },
                  "backgroundSound": {
                    "type": "string"
                  },
                  "modelOutputInMessagesEnabled": {
                    "type": "boolean",
                    "description": "This determines whether the model's output is used in conversation history rather than the transcription of assistant's speech.\n\n@default false"
                  },
                  "transportConfigurations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "These are the configurations to be passed to the transport providers of assistant's calls, like Twilio. You can store multiple configurations for different transport providers. For a call, only the configuration matching the call transport provider is used."
                  },
                  "observabilityPlan": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "credentials[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "These are dynamic credentials that will be used for the assistant calls. By default, all the credentials are available for use in the call but you can supplement an additional credentials using this. Dynamic credentials override existing credentials."
                  },
                  "hooks[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "This is a set of actions that will be performed on certain events."
                  },
                  "name": {
                    "type": "string",
                    "description": "This is the name of the assistant.\n\nThis is required when you want to transfer between assistants in a call."
                  },
                  "voicemailMessage": {
                    "type": "string",
                    "description": "This is the message that the assistant will say if the call is forwarded to voicemail.\n\nIf unspecified, it will hang up."
                  },
                  "endCallMessage": {
                    "type": "string",
                    "description": "This is the message that the assistant will say if it ends the call.\n\nIf unspecified, it will hang up without saying anything."
                  },
                  "endCallPhrases[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "This list contains phrases that, if spoken by the assistant, will trigger the call to be hung up. Case insensitive."
                  },
                  "compliancePlan": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "This is for metadata you want to store on the assistant."
                  },
                  "backgroundSpeechDenoisingPlan": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "analysisPlan": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "artifactPlan": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "startSpeakingPlan": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "stopSpeakingPlan": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "monitorPlan": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "credentialIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "These are the credentials that will be used for the assistant calls. By default, all the credentials are available for use in the call but you can provide a subset using this."
                  },
                  "server": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "keypadInputPlan": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "analysisPlan": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "artifactPlan": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "backgroundSound": {
                            "type": "string"
                          },
                          "backgroundSpeechDenoisingPlan": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "clientMessages": {
                            "type": "string",
                            "description": "These are the messages that will be sent to your Client SDKs. Default is conversation-update,function-call,hang,model-output,speech-update,status-update,transfer-update,transcript,tool-calls,user-interrupted,voice-input,workflow.node.started,assistant.started. You can check the shape of the messages in ClientMessage schema."
                          },
                          "compliancePlan": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "This is the ISO 8601 date-time string of when the assistant was created."
                          },
                          "credentialIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "These are the credentials that will be used for the assistant calls. By default, all the credentials are available for use in the call but you can provide a subset using this."
                          },
                          "credentials": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "These are dynamic credentials that will be used for the assistant calls. By default, all the credentials are available for use in the call but you can supplement an additional credentials using this. Dynamic credentials override existing credentials."
                          },
                          "endCallMessage": {
                            "type": "string",
                            "description": "This is the message that the assistant will say if it ends the call.\n\nIf unspecified, it will hang up without saying anything."
                          },
                          "endCallPhrases": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "This list contains phrases that, if spoken by the assistant, will trigger the call to be hung up. Case insensitive."
                          },
                          "firstMessage": {
                            "type": "string",
                            "description": "This is the first message that the assistant will say. This can also be a URL to a containerized audio file (mp3, wav, etc.).\n\nIf unspecified, assistant will wait for user to speak and use the model to respond once they speak."
                          },
                          "firstMessageInterruptionsEnabled": {
                            "type": "boolean"
                          },
                          "firstMessageMode": {
                            "type": "string",
                            "description": "This is the mode for the first message. Default is 'assistant-speaks-first'.\n\nUse:\n- 'assistant-speaks-first' to have the assistant speak first.\n- 'assistant-waits-for-user' to have the assistant wait for the user to speak first.\n- 'assistant-speaks-first-with-model-generated-message' to have the assistant speak first with a message generated by the model based on the conversation state. (`assistant.model.messages` at call start, `call.messages` at squad transfer points).\n\n@default 'assistant-speaks-first'"
                          },
                          "hooks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "This is a set of actions that will be performed on certain events."
                          },
                          "id": {
                            "type": "string",
                            "description": "This is the unique identifier for the assistant."
                          },
                          "keypadInputPlan": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "maxDurationSeconds": {
                            "type": "number",
                            "description": "This is the maximum number of seconds that the call will last. When the call reaches this duration, it will be ended.\n\n@default 600 (10 minutes)"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "This is for metadata you want to store on the assistant."
                          },
                          "model": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "modelOutputInMessagesEnabled": {
                            "type": "boolean",
                            "description": "This determines whether the model's output is used in conversation history rather than the transcription of assistant's speech.\n\n@default false"
                          },
                          "monitorPlan": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string",
                            "description": "This is the name of the assistant.\n\nThis is required when you want to transfer between assistants in a call."
                          },
                          "observabilityPlan": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orgId": {
                            "type": "string",
                            "description": "This is the unique identifier for the org that this assistant belongs to."
                          },
                          "server": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "serverMessages": {
                            "type": "string",
                            "description": "These are the messages that will be sent to your Server URL. Default is conversation-update,end-of-call-report,function-call,hang,speech-update,status-update,tool-calls,transfer-destination-request,handoff-destination-request,user-interrupted,assistant.started. You can check the shape of the messages in ServerMessage schema."
                          },
                          "startSpeakingPlan": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "stopSpeakingPlan": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "transcriber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "transportConfigurations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "These are the configurations to be passed to the transport providers of assistant's calls, like Twilio. You can store multiple configurations for different transport providers. For a call, only the configuration matching the call transport provider is used."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "This is the ISO 8601 date-time string of when the assistant was last updated."
                          },
                          "voice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "voicemailDetection": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "voicemailMessage": {
                            "type": "string",
                            "description": "This is the message that the assistant will say if the call is forwarded to voicemail.\n\nIf unspecified, it will hang up."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vapi/latest/actions/create-call": {
      "post": {
        "operationId": "vapi.create-call",
        "summary": "Create Call",
        "description": "Creates a new call in Vapi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vapi/latest/actions/create-call"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customers[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "This is used to issue batch calls to multiple customers.\n\nOnly relevant for `outboundPhoneCall`. To call a single customer, use `customer` instead."
                  },
                  "name": {
                    "type": "string",
                    "description": "This is the name of the call. This is just for your own reference."
                  },
                  "schedulePlan": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "transport": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "This is the transport of the call."
                  },
                  "assistantId": {
                    "type": "string",
                    "description": "This is the assistant ID that will be used for the call. To use a transient assistant, use `assistant` instead.\n\nTo start a call with:\n- Assistant, use `assistantId` or `assistant`\n- Squad, use `squadId` or `squad`\n- Workflow, use `workflowId` or `workflow`"
                  },
                  "assistant": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "assistantOverrides": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "squadId": {
                    "type": "string",
                    "description": "This is the squad that will be used for the call. To use a transient squad, use `squad` instead.\n\nTo start a call with:\n- Assistant, use `assistant` or `assistantId`\n- Squad, use `squad` or `squadId`\n- Workflow, use `workflow` or `workflowId`"
                  },
                  "squad": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "squadOverrides": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "workflowId": {
                    "type": "string",
                    "description": "This is the workflow that will be used for the call. To use a transient workflow, use `workflow` instead.\n\nTo start a call with:\n- Assistant, use `assistant` or `assistantId`\n- Squad, use `squad` or `squadId`\n- Workflow, use `workflow` or `workflowId`"
                  },
                  "workflow": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "workflowOverrides": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "phoneNumberId": {
                    "type": "string",
                    "description": "This is the phone number that will be used for the call. To use a transient number, use `phoneNumber` instead.\n\nOnly relevant for `outboundPhoneCall` and `inboundPhoneCall` type."
                  },
                  "phoneNumber": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "customerId": {
                    "type": "string",
                    "description": "This is the customer that will be called. To call a transient customer , use `customer` instead.\n\nOnly relevant for `outboundPhoneCall` and `inboundPhoneCall` type."
                  },
                  "customer": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "analysis": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "artifact": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "artifactPlan": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "assistant": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "assistantId": {
                            "type": "string",
                            "description": "This is the assistant ID that will be used for the call. To use a transient assistant, use `assistant` instead.\n\nTo start a call with:\n- Assistant, use `assistantId` or `assistant`\n- Squad, use `squadId` or `squad`\n- Workflow, use `workflowId` or `workflow`"
                          },
                          "assistantOverrides": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "campaignId": {
                            "type": "string",
                            "description": "This is the campaign ID that the call belongs to."
                          },
                          "compliance": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cost": {
                            "type": "number",
                            "description": "This is the cost of the call in USD."
                          },
                          "costBreakdown": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "costs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "These are the costs of individual components of the call in USD."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "This is the ISO 8601 date-time string of when the call was created."
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customerId": {
                            "type": "string",
                            "description": "This is the customer that will be called. To call a transient customer , use `customer` instead.\n\nOnly relevant for `outboundPhoneCall` and `inboundPhoneCall` type."
                          },
                          "destination": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "endedAt": {
                            "type": "string",
                            "description": "This is the ISO 8601 date-time string of when the call was ended."
                          },
                          "endedMessage": {
                            "type": "string",
                            "description": "This is the message that adds more context to the ended reason. It can be used to provide potential error messages or warnings."
                          },
                          "endedReason": {
                            "type": "string",
                            "description": "This is the explanation for how the call ended."
                          },
                          "id": {
                            "type": "string",
                            "description": "This is the unique identifier for the call."
                          },
                          "messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "monitor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string",
                            "description": "This is the name of the call. This is just for your own reference."
                          },
                          "orgId": {
                            "type": "string",
                            "description": "This is the unique identifier for the org that this call belongs to."
                          },
                          "phoneCallProvider": {
                            "type": "string",
                            "description": "This is the provider of the call.\n\nOnly relevant for `outboundPhoneCall` and `inboundPhoneCall` type."
                          },
                          "phoneCallProviderId": {
                            "type": "string",
                            "description": "The ID of the call as provided by the phone number service. callSid in Twilio. conversationUuid in Vonage. callControlId in Telnyx.\n\nOnly relevant for `outboundPhoneCall` and `inboundPhoneCall` type."
                          },
                          "phoneCallTransport": {
                            "type": "string",
                            "description": "This is the transport of the phone call.\n\nOnly relevant for `outboundPhoneCall` and `inboundPhoneCall` type."
                          },
                          "phoneNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "phoneNumberId": {
                            "type": "string",
                            "description": "This is the phone number that will be used for the call. To use a transient number, use `phoneNumber` instead.\n\nOnly relevant for `outboundPhoneCall` and `inboundPhoneCall` type."
                          },
                          "schedulePlan": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "squad": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "squadId": {
                            "type": "string",
                            "description": "This is the squad that will be used for the call. To use a transient squad, use `squad` instead.\n\nTo start a call with:\n- Assistant, use `assistant` or `assistantId`\n- Squad, use `squad` or `squadId`\n- Workflow, use `workflow` or `workflowId`"
                          },
                          "squadOverrides": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "startedAt": {
                            "type": "string",
                            "description": "This is the ISO 8601 date-time string of when the call was started."
                          },
                          "status": {
                            "type": "string",
                            "description": "This is the status of the call."
                          },
                          "transport": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "This is the transport of the call."
                          },
                          "type": {
                            "type": "string",
                            "description": "This is the type of call."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "This is the ISO 8601 date-time string of when the call was last updated."
                          },
                          "workflow": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "workflowId": {
                            "type": "string",
                            "description": "This is the workflow that will be used for the call. To use a transient workflow, use `workflow` instead.\n\nTo start a call with:\n- Assistant, use `assistant` or `assistantId`\n- Squad, use `squad` or `squadId`\n- Workflow, use `workflow` or `workflowId`"
                          },
                          "workflowOverrides": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vapi/latest/actions/create-campaign": {
      "post": {
        "operationId": "vapi.create-campaign",
        "summary": "Create Campaign",
        "description": "Creates a new campaign in Vapi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vapi/latest/actions/create-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "This is the name of the campaign. This is just for your own reference."
                  },
                  "assistantId": {
                    "type": "string",
                    "description": "This is the assistant ID that will be used for the campaign calls. Note: Only one of assistantId, workflowId, or squadId can be used."
                  },
                  "workflowId": {
                    "type": "string",
                    "description": "This is the workflow ID that will be used for the campaign calls. Note: Only one of assistantId, workflowId, or squadId can be used."
                  },
                  "squadId": {
                    "type": "string",
                    "description": "This is the squad ID that will be used for the campaign calls. Note: Only one of assistantId, workflowId, or squadId can be used."
                  },
                  "phoneNumberId": {
                    "type": "string",
                    "description": "This is the phone number ID that will be used for the campaign calls. Required if dialPlan is not provided. Note: phoneNumberId and dialPlan are mutually exclusive."
                  },
                  "dialPlan[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "This is a list of dial entries, each specifying a phone number and the customers to call using that number. Use this when you want different phone numbers to call different sets of customers. Note: phoneNumberId and dialPlan are mutually exclusive."
                  },
                  "schedulePlan": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "customers[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "These are the customers that will be called in the campaign. Required if dialPlan is not provided."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assistantId": {
                            "type": "string",
                            "description": "This is the assistant ID that will be used for the campaign calls. Note: Only one of assistantId, workflowId, or squadId can be used."
                          },
                          "calls": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "This is a map of call IDs to campaign call details."
                          },
                          "callsCounterEnded": {
                            "type": "number",
                            "description": "This is the number of calls that have ended."
                          },
                          "callsCounterEndedVoicemail": {
                            "type": "number",
                            "description": "This is the number of calls whose ended reason is 'voicemail'."
                          },
                          "callsCounterInProgress": {
                            "type": "number",
                            "description": "This is the number of calls that have been in progress."
                          },
                          "callsCounterQueued": {
                            "type": "number",
                            "description": "This is the number of calls that have been queued."
                          },
                          "callsCounterScheduled": {
                            "type": "number",
                            "description": "This is the number of calls that have been scheduled."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "This is the ISO 8601 date-time string of when the campaign was created."
                          },
                          "customers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "These are the customers that will be called in the campaign. Required if dialPlan is not provided."
                          },
                          "dialPlan": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "This is a list of dial entries, each specifying a phone number and the customers to call using that number. Use this when you want different phone numbers to call different sets of customers. Note: phoneNumberId and dialPlan are mutually exclusive."
                          },
                          "endedReason": {
                            "type": "string",
                            "description": "This is the explanation for how the campaign ended."
                          },
                          "id": {
                            "type": "string",
                            "description": "This is the unique identifier for the campaign."
                          },
                          "name": {
                            "type": "string",
                            "description": "This is the name of the campaign. This is just for your own reference."
                          },
                          "orgId": {
                            "type": "string",
                            "description": "This is the unique identifier for the org that this campaign belongs to."
                          },
                          "phoneNumberId": {
                            "type": "string",
                            "description": "This is the phone number ID that will be used for the campaign calls. Required if dialPlan is not provided. Note: phoneNumberId and dialPlan are mutually exclusive."
                          },
                          "schedulePlan": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "squadId": {
                            "type": "string",
                            "description": "This is the squad ID that will be used for the campaign calls. Note: Only one of assistantId, workflowId, or squadId can be used."
                          },
                          "status": {
                            "type": "string",
                            "description": "This is the status of the campaign."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "This is the ISO 8601 date-time string of when the campaign was last updated."
                          },
                          "workflowId": {
                            "type": "string",
                            "description": "This is the workflow ID that will be used for the campaign calls. Note: Only one of assistantId, workflowId, or squadId can be used."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vapi/latest/actions/create-chat": {
      "post": {
        "operationId": "vapi.create-chat",
        "summary": "Create Chat",
        "description": "Creates a new chat in Vapi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vapi/latest/actions/create-chat"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "assistantId": {
                    "type": "string",
                    "description": "This is the assistant that will be used for the chat. To use an existing assistant, use `assistantId` instead."
                  },
                  "assistant": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "assistantOverrides": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "squadId": {
                    "type": "string",
                    "description": "This is the squad that will be used for the chat. To use a transient squad, use `squad` instead."
                  },
                  "squad": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "name": {
                    "type": "string",
                    "description": "This is the name of the chat. This is just for your own reference."
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "This is the ID of the session that will be used for the chat.\nMutually exclusive with previousChatId."
                  },
                  "input": {
                    "type": "string"
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "This is a flag that determines whether the response should be streamed.\nWhen true, the response will be sent as chunks of text."
                  },
                  "previousChatId": {
                    "type": "string",
                    "description": "This is the ID of the chat that will be used as context for the new chat.\nThe messages from the previous chat will be used as context.\nMutually exclusive with sessionId."
                  },
                  "transport": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assistant": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "assistantId": {
                            "type": "string",
                            "description": "This is the assistant that will be used for the chat. To use an existing assistant, use `assistantId` instead."
                          },
                          "assistantOverrides": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cost": {
                            "type": "number",
                            "description": "This is the cost of the chat in USD."
                          },
                          "costs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "These are the costs of individual components of the chat in USD."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "This is the ISO 8601 date-time string of when the chat was created."
                          },
                          "id": {
                            "type": "string",
                            "description": "This is the unique identifier for the chat."
                          },
                          "input": {
                            "type": "string"
                          },
                          "messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "This is an array of messages used as context for the chat.\nUsed to provide message history for multi-turn conversations."
                          },
                          "name": {
                            "type": "string",
                            "description": "This is the name of the chat. This is just for your own reference."
                          },
                          "orgId": {
                            "type": "string",
                            "description": "This is the unique identifier for the org that this chat belongs to."
                          },
                          "output": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "This is the output messages generated by the system in response to the input."
                          },
                          "previousChatId": {
                            "type": "string",
                            "description": "This is the ID of the chat that will be used as context for the new chat.\nThe messages from the previous chat will be used as context.\nMutually exclusive with sessionId."
                          },
                          "sessionId": {
                            "type": "string",
                            "description": "This is the ID of the session that will be used for the chat.\nMutually exclusive with previousChatId."
                          },
                          "squad": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "squadId": {
                            "type": "string",
                            "description": "This is the squad that will be used for the chat. To use a transient squad, use `squad` instead."
                          },
                          "stream": {
                            "type": "boolean",
                            "description": "This is a flag that determines whether the response should be streamed.\nWhen true, the response will be sent as chunks of text."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "This is the ISO 8601 date-time string of when the chat was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vapi/latest/actions/create-chat-response": {
      "post": {
        "operationId": "vapi.create-chat-response",
        "summary": "Create Chat Response",
        "description": "Creates an OpenAI-compatible chat response in Vapi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vapi/latest/actions/create-chat-response"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "assistantId": {
                    "type": "string",
                    "description": "This is the assistant that will be used for the chat. To use an existing assistant, use `assistantId` instead."
                  },
                  "assistant": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "assistantOverrides": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "squadId": {
                    "type": "string",
                    "description": "This is the squad that will be used for the chat. To use a transient squad, use `squad` instead."
                  },
                  "squad": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "name": {
                    "type": "string",
                    "description": "This is the name of the chat. This is just for your own reference."
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "This is the ID of the session that will be used for the chat.\nMutually exclusive with previousChatId."
                  },
                  "input": {
                    "type": "string"
                  },
                  "previousChatId": {
                    "type": "string",
                    "description": "This is the ID of the chat that will be used as context for the new chat.\nThe messages from the previous chat will be used as context.\nMutually exclusive with sessionId."
                  },
                  "transport": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "number",
                            "description": "Unix timestamp (in seconds) of when this Response was created"
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message if the response failed"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for this Response"
                          },
                          "object": {
                            "type": "string",
                            "description": "The object type"
                          },
                          "output": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Output messages from the model"
                          },
                          "status": {
                            "type": "string",
                            "description": "Status of the response"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vapi/latest/actions/create-session": {
      "post": {
        "operationId": "vapi.create-session",
        "summary": "Create Session",
        "description": "Creates a new session in Vapi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vapi/latest/actions/create-session"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "This is a user-defined name for the session. Maximum length is 40 characters."
                  },
                  "status": {
                    "type": "string",
                    "description": "This is the current status of the session. Can be either 'active' or 'completed'."
                  },
                  "expirationSeconds": {
                    "type": "number",
                    "description": "Session expiration time in seconds. Defaults to 24 hours (86400 seconds) if not set."
                  },
                  "assistantId": {
                    "type": "string",
                    "description": "This is the ID of the assistant associated with this session. Use this when referencing an existing assistant."
                  },
                  "assistant": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "assistantOverrides": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "squadId": {
                    "type": "string",
                    "description": "This is the squad ID associated with this session. Use this when referencing an existing squad."
                  },
                  "squad": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "messages[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "This is an array of chat messages in the session."
                  },
                  "customer": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "customerId": {
                    "type": "string",
                    "description": "This is the customerId of the customer associated with this session."
                  },
                  "phoneNumberId": {
                    "type": "string",
                    "description": "This is the ID of the phone number associated with this session."
                  },
                  "phoneNumber": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "artifact": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "assistant": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "assistantId": {
                            "type": "string",
                            "description": "This is the ID of the assistant associated with this session. Use this when referencing an existing assistant."
                          },
                          "assistantOverrides": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cost": {
                            "type": "number",
                            "description": "This is the cost of the session in USD."
                          },
                          "costs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "These are the costs of individual components of the session in USD."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "This is the ISO 8601 timestamp indicating when the session was created."
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customerId": {
                            "type": "string",
                            "description": "This is the customerId of the customer associated with this session."
                          },
                          "expirationSeconds": {
                            "type": "number",
                            "description": "Session expiration time in seconds. Defaults to 24 hours (86400 seconds) if not set."
                          },
                          "id": {
                            "type": "string",
                            "description": "This is the unique identifier for the session."
                          },
                          "messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "This is an array of chat messages in the session."
                          },
                          "name": {
                            "type": "string",
                            "description": "This is a user-defined name for the session. Maximum length is 40 characters."
                          },
                          "orgId": {
                            "type": "string",
                            "description": "This is the unique identifier for the organization that owns this session."
                          },
                          "phoneNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "phoneNumberId": {
                            "type": "string",
                            "description": "This is the ID of the phone number associated with this session."
                          },
                          "squad": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "squadId": {
                            "type": "string",
                            "description": "This is the squad ID associated with this session. Use this when referencing an existing squad."
                          },
                          "status": {
                            "type": "string",
                            "description": "This is the current status of the session. Can be either 'active' or 'completed'."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "This is the ISO 8601 timestamp indicating when the session was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vapi/latest/actions/create-squad": {
      "post": {
        "operationId": "vapi.create-squad",
        "summary": "Create Squad",
        "description": "Creates a new squad in Vapi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vapi/latest/actions/create-squad"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "members[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "This is the name of the squad."
                  },
                  "members[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "This is the list of assistants that make up the squad.\n\nThe call will start with the first assistant in the list."
                  },
                  "membersOverrides": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "description": "This is the ISO 8601 date-time string of when the squad was created."
                          },
                          "id": {
                            "type": "string",
                            "description": "This is the unique identifier for the squad."
                          },
                          "members": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "This is the list of assistants that make up the squad.\n\nThe call will start with the first assistant in the list."
                          },
                          "membersOverrides": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string",
                            "description": "This is the name of the squad."
                          },
                          "orgId": {
                            "type": "string",
                            "description": "This is the unique identifier for the org that this squad belongs to."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "This is the ISO 8601 date-time string of when the squad was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vapi/latest/actions/create-tool": {
      "post": {
        "operationId": "vapi.create-tool",
        "summary": "Create Tool",
        "description": "Creates a new tool in Vapi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vapi/latest/actions/create-tool"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "type",
                  "method",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "type": {
                    "type": "string",
                    "description": "Discriminator value: apiRequest"
                  },
                  "messages[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "These are the messages that will be spoken to the user as the tool is running.\n\nFor some tools, this is auto-filled based on special fields like `tool.destinations`. For others like the function tool, these can be custom configured."
                  },
                  "method": {
                    "type": "string"
                  },
                  "timeoutSeconds": {
                    "type": "number",
                    "description": "This is the timeout in seconds for the request. Defaults to 20 seconds.\n\n@default 20"
                  },
                  "credentialId": {
                    "type": "string",
                    "description": "The credential ID for API request authentication"
                  },
                  "encryptedPaths[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "This is the paths to encrypt in the request body if credentialId and encryptionPlan are defined."
                  },
                  "name": {
                    "type": "string",
[...]
