{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Veteran Confirmation Universal API",
    "version": "0.0.3",
    "description": "Confirm Title 38 Veteran status with VA"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/veteranConfirmation/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/veteranConfirmation/latest/actions/confirm-veteran-status": {
      "get": {
        "operationId": "veteranConfirmation.confirm-veteran-status",
        "summary": "Confirm Veteran Status",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/veteranConfirmation/latest/actions/confirm-veteran-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "firstName",
            "in": "query",
            "required": true,
            "description": "Person's first name.",
            "schema": {
              "type": "string",
              "description": "Person's first name.",
              "default": "Alfredo"
            }
          },
          {
            "name": "middleName",
            "in": "query",
            "required": false,
            "description": "Person's middle name.",
            "schema": {
              "type": "string",
              "description": "Person's middle name.",
              "default": "M"
            }
          },
          {
            "name": "lastName",
            "in": "query",
            "required": true,
            "description": "Person's last name.",
            "schema": {
              "type": "string",
              "description": "Person's last name.",
              "default": "Armstrong"
            }
          },
          {
            "name": "birthDate",
            "in": "query",
            "required": true,
            "description": "Birth date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Birth date in YYYY-MM-DD format.",
              "default": "1993-06-08"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "description": "Gender value; only M or F helps the search currently.",
            "schema": {
              "type": "string",
              "description": "Gender value; only M or F helps the search currently.",
              "default": "M"
            }
          },
          {
            "name": "streetAddressLine1",
            "in": "query",
            "required": true,
            "description": "Current residence street address line 1.",
            "schema": {
              "type": "string",
              "description": "Current residence street address line 1.",
              "default": "17020 Tortoise St"
            }
          },
          {
            "name": "streetAddressLine2",
            "in": "query",
            "required": false,
            "description": "Current residence street address line 2.",
            "schema": {
              "type": "string",
              "description": "Current residence street address line 2.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "streetAddressLine3",
            "in": "query",
            "required": false,
            "description": "Current residence street address line 3.",
            "schema": {
              "type": "string",
              "description": "Current residence street address line 3.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "description": "Current residence city.",
            "schema": {
              "type": "string",
              "description": "Current residence city.",
              "default": "Round Rock"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "Current residence state.",
            "schema": {
              "type": "string",
              "description": "Current residence state.",
              "default": "TX"
            }
          },
          {
            "name": "zipCode",
            "in": "query",
            "required": true,
            "description": "Current residence zip code.",
            "schema": {
              "type": "string",
              "description": "Current residence zip code.",
              "default": "78664"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "Current residence country.",
            "schema": {
              "type": "string",
              "description": "Current residence country.",
              "default": "USA"
            }
          },
          {
            "name": "homePhoneNumber",
            "in": "query",
            "required": false,
            "description": "Home phone number.",
            "schema": {
              "type": "string",
              "description": "Home phone number.",
              "default": "555-555-5555",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "mothersMaidenName",
            "in": "query",
            "required": false,
            "description": "Mother's maiden name.",
            "schema": {
              "type": "string",
              "description": "Mother's maiden name.",
              "default": "Smith",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "birthPlaceCity",
            "in": "query",
            "required": false,
            "description": "Birth place city.",
            "schema": {
              "type": "string",
              "description": "Birth place city.",
              "default": "Johnson City",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "birthPlaceState",
            "in": "query",
            "required": false,
            "description": "Birth place state.",
            "schema": {
              "type": "string",
              "description": "Birth place state.",
              "default": "MA",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "birthPlaceCountry",
            "in": "query",
            "required": false,
            "description": "Birth place country.",
            "schema": {
              "type": "string",
              "description": "Birth place country.",
              "default": "USA",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "notConfirmedReason": {
                            "type": "string"
                          },
                          "veteranStatus": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
