{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "AssessTEAM Universal API",
    "version": "0.0.6",
    "description": "Manage employee evaluations, goals, OKRs, and performance reports"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/assessTEAM/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/assessTEAM/latest/actions/add-person": {
      "post": {
        "operationId": "assessTEAM.add-person",
        "summary": "Add Person",
        "description": "Creates a new person in AssessTEAM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assessTEAM/latest/actions/add-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName",
                  "lastName",
                  "personCode",
                  "dateOfJoining",
                  "email",
                  "contactNumber",
                  "team",
                  "jobTitle",
                  "enableSelfEvaluation"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Person first name, for example Jon."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Person last name, for example Doe."
                  },
                  "personCode": {
                    "type": "string",
                    "description": "Unique person code, for example 1001."
                  },
                  "dateOfJoining": {
                    "type": "string",
                    "description": "Date of joining, for example 2026-04-07."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address, for example sample1@yourcompany.com."
                  },
                  "contactNumber": {
                    "type": "string",
                    "description": "Contact number, for example 1234567890."
                  },
                  "userPermissions": {
                    "type": "string",
                    "description": "User permission or role, for example Employee."
                  },
                  "team": {
                    "type": "string",
                    "description": "Team assigned to person, for example Administration."
                  },
                  "jobTitle": {
                    "type": "string",
                    "description": "Job title, for example QA Analyst."
                  },
                  "evaluators": {
                    "type": "string",
                    "description": "Person evaluator names, for example Jack Doe."
                  },
                  "enableSelfEvaluation": {
                    "type": "boolean",
                    "description": "Enable self evaluation."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "message": {
                                "type": "string"
                              },
                              "personID": {
                                "type": "number"
                              },
                              "statusCode": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assessTEAM/latest/actions/add-timesheet": {
      "post": {
        "operationId": "assessTEAM.add-timesheet",
        "summary": "Add Timesheet",
        "description": "Creates a new timesheet entry in AssessTEAM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assessTEAM/latest/actions/add-timesheet"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectName",
                  "personCode",
                  "timeBy",
                  "dateOrMonth",
                  "hours"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "projectName": {
                    "type": "string",
                    "description": "Project name, for example Acme Sample Project."
                  },
                  "personCode": {
                    "type": "string",
                    "description": "Unique person code, for example 1001."
                  },
                  "timeBy": {
                    "type": "string",
                    "description": "Time by mode, either Time_by_Day or Time_by_Month.",
                    "default": "Time_by_Month"
                  },
                  "dateOrMonth": {
                    "type": "string",
                    "description": "Date for day mode or month for month mode, for example Apr-2026."
                  },
                  "hours": {
                    "type": "number",
                    "description": "Hours, for example 8.5."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Optional comment for the timesheet entry."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assessTEAM/latest/actions/delete-person": {
      "delete": {
        "operationId": "assessTEAM.delete-person",
        "summary": "Delete Person",
        "description": "Deletes an existing person from AssessTEAM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assessTEAM/latest/actions/delete-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "personCode",
            "in": "query",
            "required": true,
            "description": "Unique person code, for example 1001.",
            "schema": {
              "type": "string",
              "description": "Unique person code, for example 1001."
            }
          },
          {
            "name": "deleteRelatedData",
            "in": "query",
            "required": false,
            "description": "Delete the person together with associated details when true.",
            "schema": {
              "type": "boolean",
              "description": "Delete the person together with associated details when true.",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "message": {
                            "type": "string"
                          },
                          "personID": {
                            "type": "number"
                          },
                          "statusCode": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assessTEAM/latest/actions/generate-access-token": {
      "get": {
        "operationId": "assessTEAM.generate-access-token",
        "summary": "Generate Access Token",
        "description": "Retrieves an access token from AssessTEAM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assessTEAM/latest/actions/generate-access-token"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assessTEAM/latest/actions/get-person": {
      "get": {
        "operationId": "assessTEAM.get-person",
        "summary": "Get Person",
        "description": "Retrieves a person by person code from AssessTEAM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assessTEAM/latest/actions/get-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "personCode",
            "in": "query",
            "required": true,
            "description": "Unique person code, for example 1001.",
            "schema": {
              "type": "string",
              "description": "Unique person code, for example 1001."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "contactnumber": {
                                "type": "string"
                              },
                              "dateofjoining": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "email": {
                                "type": "string"
                              },
                              "evaluators": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "firstname": {
                                "type": "string"
                              },
                              "jobtitle": {
                                "type": "string"
                              },
                              "lastname": {
                                "type": "string"
                              },
                              "personcode": {
                                "type": "string"
                              },
                              "team": {
                                "type": "string"
                              },
                              "userpermissions": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          },
                          "personID": {
                            "type": "number"
                          },
                          "statusCode": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assessTEAM/latest/actions/get-timely-timesheet-data": {
      "get": {
        "operationId": "assessTEAM.get-timely-timesheet-data",
        "summary": "Get Timely Timesheet Data",
        "description": "Retrieves timely timesheet data from AssessTEAM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assessTEAM/latest/actions/get-timely-timesheet-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": true,
            "description": "Month, for example Apr-2026.",
            "schema": {
              "type": "string",
              "description": "Month, for example Apr-2026."
            }
          },
          {
            "name": "dayWiseTimesheet",
            "in": "query",
            "required": false,
            "description": "Show day-wise timesheet data when true.",
            "schema": {
              "type": "boolean",
              "description": "Show day-wise timesheet data when true."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "message": {
                            "type": "string"
                          },
                          "personID": {
                            "type": "number"
                          },
                          "statusCode": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assessTEAM/latest/actions/get-timesheet-data": {
      "get": {
        "operationId": "assessTEAM.get-timesheet-data",
        "summary": "Get Timesheet Data",
        "description": "Retrieves recorded timesheet data from AssessTEAM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assessTEAM/latest/actions/get-timesheet-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": true,
            "description": "Month, for example Apr-2026.",
            "schema": {
              "type": "string",
              "description": "Month, for example Apr-2026."
            }
          },
          {
            "name": "personCode",
            "in": "query",
            "required": true,
            "description": "Unique person code, for example 1001.",
            "schema": {
              "type": "string",
              "description": "Unique person code, for example 1001."
            }
          },
          {
            "name": "projectName",
            "in": "query",
            "required": false,
            "description": "Project name to narrow the result.",
            "schema": {
              "type": "string",
              "description": "Project name to narrow the result."
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Date for day mode, for example 5-Mar-2025.",
            "schema": {
              "type": "string",
              "description": "Date for day mode, for example 5-Mar-2025."
            }
          },
          {
            "name": "dayWiseTimesheet",
            "in": "query",
            "required": false,
            "description": "Show day-wise timesheet data when true.",
            "schema": {
              "type": "boolean",
              "description": "Show day-wise timesheet data when true."
            }
          },
          {
            "name": "projectWiseTimesheet",
            "in": "query",
            "required": false,
            "description": "Show project-wise timesheet data with comments when true.",
            "schema": {
              "type": "boolean",
              "description": "Show project-wise timesheet data with comments when true."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "message": {
                            "type": "string"
                          },
                          "personID": {
                            "type": "number"
                          },
                          "statusCode": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assessTEAM/latest/actions/list-evaluations-report": {
      "get": {
        "operationId": "assessTEAM.list-evaluations-report",
        "summary": "List Evaluations Report",
        "description": "Retrieves the evaluations report from AssessTEAM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assessTEAM/latest/actions/list-evaluations-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": true,
            "description": "From month of the date range, for example Jan-2026.",
            "schema": {
              "type": "string",
              "description": "From month of the date range, for example Jan-2026."
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": true,
            "description": "To month of the date range, for example Apr-2026.",
            "schema": {
              "type": "string",
              "description": "To month of the date range, for example Apr-2026."
            }
          },
          {
            "name": "projectName",
            "in": "query",
            "required": false,
            "description": "Project name, for example Acme web site.",
            "schema": {
              "type": "string",
              "description": "Project name, for example Acme web site."
            }
          },
          {
            "name": "teamName",
            "in": "query",
            "required": false,
            "description": "Team name, for example Testing team.",
            "schema": {
              "type": "string",
              "description": "Team name, for example Testing team."
            }
          },
          {
            "name": "personName",
            "in": "query",
            "required": false,
            "description": "Person name, for example Jon doe.",
            "schema": {
              "type": "string",
              "description": "Person name, for example Jon doe."
            }
          },
          {
            "name": "personTag",
            "in": "query",
            "required": false,
            "description": "Person tag, for example tag1.",
            "schema": {
              "type": "string",
              "description": "Person tag, for example tag1."
            }
          },
          {
            "name": "peer",
            "in": "query",
            "required": false,
            "description": "Include evaluations from peer reviews.",
            "schema": {
              "type": "boolean",
              "description": "Include evaluations from peer reviews."
            }
          },
          {
            "name": "upward",
            "in": "query",
            "required": false,
            "description": "Include evaluations from upward reviews.",
            "schema": {
              "type": "boolean",
              "description": "Include evaluations from upward reviews."
            }
          },
          {
            "name": "self",
            "in": "query",
            "required": false,
            "description": "Include evaluations from self reviews.",
            "schema": {
              "type": "boolean",
              "description": "Include evaluations from self reviews.",
              "default": true
            }
          },
          {
            "name": "downward",
            "in": "query",
            "required": false,
            "description": "Include evaluations from downward reviews.",
            "schema": {
              "type": "boolean",
              "description": "Include evaluations from downward reviews."
            }
          },
          {
            "name": "customer",
            "in": "query",
            "required": false,
            "description": "Include customer satisfaction evaluations.",
            "schema": {
              "type": "boolean",
              "description": "Include customer satisfaction evaluations."
            }
          },
          {
            "name": "undefinedLevel",
            "in": "query",
            "required": false,
            "description": "Include undefined evaluation levels.",
            "schema": {
              "type": "boolean",
              "description": "Include undefined evaluation levels."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "message": {
                            "type": "string"
                          },
                          "personID": {
                            "type": "number"
                          },
                          "statusCode": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assessTEAM/latest/actions/list-performance-indicators-report": {
      "get": {
        "operationId": "assessTEAM.list-performance-indicators-report",
        "summary": "List Performance Indicators Report",
        "description": "Retrieves the performance indicators report from AssessTEAM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assessTEAM/latest/actions/list-performance-indicators-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": true,
            "description": "From month of the date range, for example Jan-2026.",
            "schema": {
              "type": "string",
              "description": "From month of the date range, for example Jan-2026."
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": true,
            "description": "To month of the date range, for example Apr-2026.",
            "schema": {
              "type": "string",
              "description": "To month of the date range, for example Apr-2026."
            }
          },
          {
            "name": "resultAreaName",
            "in": "query",
            "required": false,
            "description": "Result area name, for example Engineering.",
            "schema": {
              "type": "string",
              "description": "Result area name, for example Engineering."
            }
          },
          {
            "name": "display",
            "in": "query",
            "required": false,
            "description": "Display mode, 1 for scores by evaluation or 2 for average scores by peer level.",
            "schema": {
              "type": "string",
              "description": "Display mode, 1 for scores by evaluation or 2 for average scores by peer level.",
              "default": "1"
            }
          },
          {
            "name": "projectName",
            "in": "query",
            "required": false,
            "description": "Project name, for example Acme web site.",
            "schema": {
              "type": "string",
              "description": "Project name, for example Acme web site."
            }
          },
          {
            "name": "teamName",
            "in": "query",
            "required": false,
            "description": "Team name, for example Testing team.",
            "schema": {
              "type": "string",
              "description": "Team name, for example Testing team."
            }
          },
          {
            "name": "personName",
            "in": "query",
            "required": false,
            "description": "Person name, for example Jon doe.",
            "schema": {
              "type": "string",
              "description": "Person name, for example Jon doe."
            }
          },
          {
            "name": "peer",
            "in": "query",
            "required": false,
            "description": "Include evaluations from peer reviews.",
            "schema": {
              "type": "boolean",
              "description": "Include evaluations from peer reviews."
            }
          },
          {
            "name": "upward",
            "in": "query",
            "required": false,
            "description": "Include evaluations from upward reviews.",
            "schema": {
              "type": "boolean",
              "description": "Include evaluations from upward reviews."
            }
          },
          {
            "name": "self",
            "in": "query",
            "required": false,
            "description": "Include evaluations from self reviews.",
            "schema": {
              "type": "boolean",
              "description": "Include evaluations from self reviews.",
              "default": true
            }
          },
          {
            "name": "downward",
            "in": "query",
            "required": false,
            "description": "Include evaluations from downward reviews.",
            "schema": {
              "type": "boolean",
              "description": "Include evaluations from downward reviews."
            }
          },
          {
            "name": "customer",
            "in": "query",
            "required": false,
            "description": "Include customer satisfaction evaluations.",
            "schema": {
              "type": "boolean",
              "description": "Include customer satisfaction evaluations."
            }
          },
          {
            "name": "undefinedLevel",
            "in": "query",
            "required": false,
            "description": "Include undefined evaluation levels.",
            "schema": {
              "type": "boolean",
              "description": "Include undefined evaluation levels."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "message": {
                            "type": "string"
                          },
                          "personID": {
                            "type": "number"
                          },
                          "statusCode": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assessTEAM/latest/actions/list-persons-report": {
      "get": {
        "operationId": "assessTEAM.list-persons-report",
        "summary": "List Persons Report",
        "description": "Retrieves the persons report from AssessTEAM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assessTEAM/latest/actions/list-persons-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": true,
            "description": "From month of the date range, for example Jan-2026.",
            "schema": {
              "type": "string",
              "description": "From month of the date range, for example Jan-2026."
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": true,
            "description": "To month of the date range, for example Apr-2026.",
            "schema": {
              "type": "string",
              "description": "To month of the date range, for example Apr-2026."
            }
          },
          {
            "name": "display",
            "in": "query",
            "required": false,
            "description": "Display mode, for example 3.",
            "schema": {
              "type": "string",
              "description": "Display mode, for example 3.",
              "default": "1"
            }
          },
          {
            "name": "projectName",
            "in": "query",
            "required": false,
            "description": "Project name, for example Acme Web Site.",
            "schema": {
              "type": "string",
              "description": "Project name, for example Acme Web Site."
            }
          },
          {
            "name": "teamName",
            "in": "query",
            "required": false,
            "description": "Team name, for example Testing Team.",
            "schema": {
              "type": "string",
              "description": "Team name, for example Testing Team."
            }
          },
          {
            "name": "personName",
            "in": "query",
            "required": false,
            "description": "Person name, for example Jon Doe.",
            "schema": {
              "type": "string",
              "description": "Person name, for example Jon Doe."
            }
          },
          {
            "name": "peer",
            "in": "query",
            "required": false,
            "description": "Include peer evaluations.",
            "schema": {
              "type": "boolean",
              "description": "Include peer evaluations."
            }
          },
          {
            "name": "upward",
            "in": "query",
            "required": false,
            "description": "Include upward evaluations.",
            "schema": {
              "type": "boolean",
              "description": "Include upward evaluations."
            }
          },
          {
            "name": "self",
            "in": "query",
            "required": false,
            "description": "Include self evaluations.",
            "schema": {
              "type": "boolean",
              "description": "Include self evaluations.",
              "default": true
            }
          },
          {
            "name": "downward",
            "in": "query",
            "required": false,
            "description": "Include downward evaluations.",
            "schema": {
              "type": "boolean",
              "description": "Include downward evaluations."
            }
          },
          {
            "name": "customer",
            "in": "query",
            "required": false,
            "description": "Include customer evaluations.",
            "schema": {
              "type": "boolean",
              "description": "Include customer evaluations."
            }
          },
          {
            "name": "undefinedLevel",
            "in": "query",
            "required": false,
            "description": "Include undefined evaluation level.",
            "schema": {
              "type": "boolean",
              "description": "Include undefined evaluation level."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "message": {
                            "type": "string"
                          },
                          "personID": {
                            "type": "number"
                          },
                          "statusCode": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assessTEAM/latest/actions/list-result-areas-report": {
      "get": {
        "operationId": "assessTEAM.list-result-areas-report",
        "summary": "List Result Areas Report",
        "description": "Retrieves the result areas report from AssessTEAM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assessTEAM/latest/actions/list-result-areas-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": true,
            "description": "From month of the date range, for example Jan-2026.",
            "schema": {
              "type": "string",
              "description": "From month of the date range, for example Jan-2026."
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": true,
            "description": "To month of the date range, for example Apr-2026.",
            "schema": {
              "type": "string",
              "description": "To month of the date range, for example Apr-2026."
            }
          },
          {
            "name": "resultAreaName",
            "in": "query",
            "required": false,
            "description": "Result area name, for example Engineering.",
            "schema": {
              "type": "string",
              "description": "Result area name, for example Engineering."
            }
          },
          {
            "name": "display",
            "in": "query",
            "required": false,
            "description": "Display mode, 1 for average scores by evaluator or 2 for average scores by peer level.",
            "schema": {
              "type": "string",
              "description": "Display mode, 1 for average scores by evaluator or 2 for average scores by peer level.",
              "default": "1"
            }
          },
          {
            "name": "projectName",
            "in": "query",
            "required": false,
            "description": "Project name, for example Acme web site.",
            "schema": {
              "type": "string",
              "description": "Project name, for example Acme web site."
            }
          },
          {
            "name": "teamName",
            "in": "query",
            "required": false,
            "description": "Team name, for example Testing team.",
            "schema": {
              "type": "string",
              "description": "Team name, for example Testing team."
            }
          },
          {
            "name": "personName",
            "in": "query",
            "required": false,
            "description": "Person name, for example Jon doe.",
            "schema": {
              "type": "string",
              "description": "Person name, for example Jon doe."
            }
          },
          {
            "name": "peer",
            "in": "query",
            "required": false,
            "description": "Include evaluations from peer reviews.",
            "schema": {
              "type": "boolean",
              "description": "Include evaluations from peer reviews."
            }
          },
          {
            "name": "upward",
            "in": "query",
            "required": false,
            "description": "Include evaluations from upward reviews.",
            "schema": {
              "type": "boolean",
              "description": "Include evaluations from upward reviews."
            }
          },
          {
            "name": "self",
            "in": "query",
            "required": false,
            "description": "Include evaluations from self reviews.",
            "schema": {
              "type": "boolean",
              "description": "Include evaluations from self reviews.",
              "default": true
            }
          },
          {
            "name": "downward",
            "in": "query",
            "required": false,
            "description": "Include evaluations from downward reviews.",
            "schema": {
              "type": "boolean",
              "description": "Include evaluations from downward reviews."
            }
          },
          {
            "name": "customer",
            "in": "query",
            "required": false,
            "description": "Include customer satisfaction evaluations.",
            "schema": {
              "type": "boolean",
              "description": "Include customer satisfaction evaluations."
            }
          },
          {
            "name": "undefinedLevel",
            "in": "query",
            "required": false,
            "description": "Include undefined evaluation levels.",
            "schema": {
              "type": "boolean",
              "description": "Include undefined evaluation levels."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "message": {
                            "type": "string"
                          },
                          "personID": {
                            "type": "number"
                          },
                          "statusCode": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assessTEAM/latest/actions/list-teams": {
      "get": {
        "operationId": "assessTEAM.list-teams",
        "summary": "List Teams",
        "description": "Retrieves the teams report from AssessTEAM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assessTEAM/latest/actions/list-teams"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamName",
            "in": "query",
            "required": false,
            "description": "Team name, for example Testing team.",
            "schema": {
              "type": "string",
              "description": "Team name, for example Testing team."
            }
          },
          {
            "name": "averageResultAreaScore",
            "in": "query",
            "required": false,
            "description": "Average result area score, for example 7.",
            "schema": {
              "type": "number",
              "description": "Average result area score, for example 7."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "averagescore": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "goalsetting": {
                            "type": "boolean"
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "persons": {
                            "type": "number"
                          },
                          "teamname": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/assessTEAM/latest/actions/update-person": {
      "put": {
        "operationId": "assessTEAM.update-person",
        "summary": "Update Person",
        "description": "Updates an existing person in AssessTEAM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/assessTEAM/latest/actions/update-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName",
                  "lastName",
                  "personCode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Person first name, for example Jon."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Person last name, for example Doe."
                  },
                  "personCode": {
                    "type": "string",
                    "description": "Unique person code, for example 1001."
                  },
                  "dateOfJoining": {
                    "type": "string",
                    "description": "Date of joining, for example 2026-04-07."
                  },
                  "email": {
[...]
