{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Microsoft Clarity Universal API",
    "version": "0.0.6",
    "description": "Export recent Microsoft Clarity dashboard insights for traffic, engagement, devices, browsers, URLs, and campaigns."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/microsoftClarity/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/microsoftClarity/latest/actions/get-project-live-insights": {
      "get": {
        "operationId": "microsoftClarity.get-project-live-insights",
        "summary": "Get Project Live Insights",
        "description": "Retrieves project live insights from Microsoft Clarity.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftClarity/latest/actions/get-project-live-insights"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numOfDays",
            "in": "query",
            "required": false,
            "description": "Number of days to export from the current time. Allowed values are 1, 2, or 3.",
            "schema": {
              "type": "number",
              "description": "Number of days to export from the current time. Allowed values are 1, 2, or 3.",
              "default": 1
            }
          },
          {
            "name": "dimension1",
            "in": "query",
            "required": false,
            "description": "The first dimension used to break down insights. Allowed values are Browser, Device, Country/Region, OS, Source, Medium, Campaign, Channel, or URL.",
            "schema": {
              "type": "string",
              "description": "The first dimension used to break down insights. Allowed values are Browser, Device, Country/Region, OS, Source, Medium, Campaign, Channel, or URL.",
              "enum": [
                "Browser",
                "Campaign",
                "Channel",
                "Country/Region",
                "Device",
                "Medium",
                "OS",
                "Source",
                "URL"
              ]
            }
          },
          {
            "name": "dimension2",
            "in": "query",
            "required": false,
            "description": "The second dimension used to break down insights. Allowed values are Browser, Device, Country/Region, OS, Source, Medium, Campaign, Channel, or URL.",
            "schema": {
              "type": "string",
              "description": "The second dimension used to break down insights. Allowed values are Browser, Device, Country/Region, OS, Source, Medium, Campaign, Channel, or URL.",
              "enum": [
                "Browser",
                "Campaign",
                "Channel",
                "Country/Region",
                "Device",
                "Medium",
                "OS",
                "Source",
                "URL"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "dimension3",
            "in": "query",
            "required": false,
            "description": "The third dimension used to break down insights. Allowed values are Browser, Device, Country/Region, OS, Source, Medium, Campaign, Channel, or URL.",
            "schema": {
              "type": "string",
              "description": "The third dimension used to break down insights. Allowed values are Browser, Device, Country/Region, OS, Source, Medium, Campaign, Channel, or URL.",
              "enum": [
                "Browser",
                "Campaign",
                "Channel",
                "Country/Region",
                "Device",
                "Medium",
                "OS",
                "Source",
                "URL"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "information": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Metric rows returned by Microsoft Clarity for the selected lookback window."
                          },
                          "metricName": {
                            "type": "string",
                            "description": "Microsoft Clarity metric name for this insight block."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
