{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "WooCommerce Universal API",
    "version": "0.0.14",
    "description": "Manage WooCommerce products, orders, customers, and store settings"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/wooCommerce/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/wooCommerce/latest/actions/create-coupon": {
      "post": {
        "operationId": "wooCommerce.create-coupon",
        "summary": "Create Coupon",
        "description": "Creates a new coupon in WooCommerce.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wooCommerce/latest/actions/create-coupon"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "code"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "code": {
                    "type": "string",
                    "description": "Coupon code string."
                  },
                  "amount": {
                    "type": "string",
                    "description": "Discount amount as a string."
                  },
                  "discountType": {
                    "type": "string",
                    "description": "Coupon discount type such as percent, fixed_cart, or fixed_product.",
                    "enum": [
                      "fixed_cart",
                      "fixed_product",
                      "percent"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "description": "Coupon description."
                  },
                  "dateExpires": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Expiration date for the coupon."
                  },
                  "individualUse": {
                    "type": "boolean"
                  },
                  "excludeSaleItems": {
                    "type": "boolean"
                  },
                  "minimumAmount": {
                    "type": "string"
                  },
                  "maximumAmount": {
                    "type": "string"
                  },
                  "freeShipping": {
                    "type": "boolean"
                  },
                  "usageLimit": {
                    "type": "number"
                  },
                  "usageLimitPerUser": {
                    "type": "number"
                  },
                  "productIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  },
                  "excludedProductIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  },
                  "emailRestrictions[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCreatedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateExpires": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateExpiresGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateModified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateModifiedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "discountType": {
                            "type": "string"
                          },
                          "emailRestrictions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "excludedProductCategories": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "excludedProductIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "excludeSaleItems": {
                            "type": "boolean"
                          },
                          "freeShipping": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "individualUse": {
                            "type": "boolean"
                          },
                          "maximumAmount": {
                            "type": "string"
                          },
                          "metaData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "minimumAmount": {
                            "type": "string"
                          },
                          "productCategories": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "productIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "usageCount": {
                            "type": "number"
                          },
                          "usedBy": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wooCommerce/latest/actions/create-customer": {
      "post": {
        "operationId": "wooCommerce.create-customer",
        "summary": "Create Customer",
        "description": "Creates a new customer in WooCommerce.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wooCommerce/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "Customer email address."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Customer first name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Customer last name."
                  },
                  "username": {
                    "type": "string",
                    "description": "Customer username."
                  },
                  "password": {
                    "type": "string",
                    "description": "Customer password."
                  },
                  "billing": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "billing.firstName": {
                    "type": "string"
                  },
                  "billing.lastName": {
                    "type": "string"
                  },
                  "meta_data[]": {
                    "type": "array",
                    "items": {}
                  },
                  "billing.company": {
                    "type": "string"
                  },
                  "billing.address1": {
                    "type": "string"
                  },
                  "billing.address2": {
                    "type": "string"
                  },
                  "billing.city": {
                    "type": "string"
                  },
                  "billing.state": {
                    "type": "string"
                  },
                  "billing.postcode": {
                    "type": "string"
                  },
                  "billing.country": {
                    "type": "string"
                  },
                  "billing.email": {
                    "type": "string"
                  },
                  "billing.phone": {
                    "type": "string"
                  },
                  "shipping": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipping.firstName": {
                    "type": "string"
                  },
                  "shipping.lastName": {
                    "type": "string"
                  },
                  "shipping.company": {
                    "type": "string"
                  },
                  "shipping.address1": {
                    "type": "string"
                  },
                  "shipping.address2": {
                    "type": "string"
                  },
                  "shipping.city": {
                    "type": "string"
                  },
                  "shipping.state": {
                    "type": "string"
                  },
                  "shipping.postcode": {
                    "type": "string"
                  },
                  "shipping.country": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatarUrl": {
                            "type": "string"
                          },
                          "billing": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCreatedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateModified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateModifiedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isPayingCustomer": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "metaData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "role": {
                            "type": "string"
                          },
                          "shipping": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "username": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wooCommerce/latest/actions/create-order": {
      "post": {
        "operationId": "wooCommerce.create-order",
        "summary": "Create Order",
        "description": "Creates a new order in WooCommerce.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wooCommerce/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "status": {
                    "type": "string",
                    "description": "Order status such as pending, processing, completed, or cancelled.",
                    "enum": [
                      "cancelled",
                      "completed",
                      "failed",
                      "on-hold",
                      "pending",
                      "processing",
                      "refunded",
                      "trash"
                    ]
                  },
                  "setPaid": {
                    "type": "boolean",
                    "description": "Whether the order should be marked paid immediately."
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Numeric ID of the existing customer for the order."
                  },
                  "paymentMethod": {
                    "type": "string"
                  },
                  "paymentMethodTitle": {
                    "type": "string"
                  },
                  "billing": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "billing.firstName": {
                    "type": "string"
                  },
                  "billing.lastName": {
                    "type": "string"
                  },
                  "billing.company": {
                    "type": "string"
                  },
                  "billing.address1": {
                    "type": "string"
                  },
                  "shipping.phone": {
                    "type": "string"
                  },
                  "billing.address2": {
                    "type": "string"
                  },
                  "billing.city": {
                    "type": "string"
                  },
                  "billing.state": {
                    "type": "string"
                  },
                  "billing.postcode": {
                    "type": "string"
                  },
                  "meta_data[]": {
                    "type": "array",
                    "items": {}
                  },
                  "billing.country": {
                    "type": "string"
                  },
                  "billing.email": {
                    "type": "string"
                  },
                  "billing.phone": {
                    "type": "string"
                  },
                  "shipping": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipping.firstName": {
                    "type": "string"
                  },
                  "shipping.lastName": {
                    "type": "string"
                  },
                  "shipping.company": {
                    "type": "string"
                  },
                  "shipping.address1": {
                    "type": "string"
                  },
                  "shipping.address2": {
                    "type": "string"
                  },
                  "shipping.city": {
                    "type": "string"
                  },
                  "shipping.state": {
                    "type": "string"
                  },
                  "shipping.postcode": {
                    "type": "string"
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "shipping.country": {
                    "type": "string"
                  },
                  "lineItems[].productId": {
                    "type": "number"
                  },
                  "lineItems[].variationId": {
                    "type": "number"
                  },
                  "lineItems[].quantity": {
                    "type": "number"
                  },
                  "lineItems[].name": {
                    "type": "string"
                  },
                  "lineItems[].taxClass": {
                    "type": "string"
                  },
                  "lineItems[].subtotal": {
                    "type": "string"
                  },
                  "lineItems[].total": {
                    "type": "string"
                  },
                  "shippingLines[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "shippingLines[].methodId": {
                    "type": "string"
                  },
                  "shippingLines[].methodTitle": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "shippingLines[].total": {
                    "type": "string"
                  },
                  "customerNote": {
                    "type": "string"
                  },
                  "feeLines[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "feeLines[].name": {
                    "type": "string"
                  },
                  "feeLines[].taxClass": {
                    "type": "string"
                  },
                  "feeLines[].taxStatus": {
                    "type": "string"
                  },
                  "couponLines[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "feeLines[].total": {
                    "type": "string"
                  },
                  "couponLines[].code": {
                    "type": "string"
                  },
                  "couponLines[].discount": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billing": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cartHash": {
                            "type": "string"
                          },
                          "cartTax": {
                            "type": "string"
                          },
                          "couponLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "createdVia": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "currencySymbol": {
                            "type": "string"
                          },
                          "customerId": {
                            "type": "number"
                          },
                          "customerIpAddress": {
                            "type": "string"
                          },
                          "customerNote": {
                            "type": "string"
                          },
                          "customerUserAgent": {
                            "type": "string"
                          },
                          "dateCompleted": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCompletedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCreatedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateModified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateModifiedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "datePaid": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "datePaidGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "discountTax": {
                            "type": "string"
                          },
                          "discountTotal": {
                            "type": "string"
                          },
                          "feeLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "isEditable": {
                            "type": "boolean"
                          },
                          "lineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "metaData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "needsPayment": {
                            "type": "boolean"
                          },
                          "needsProcessing": {
                            "type": "boolean"
                          },
                          "number": {
                            "type": "string"
                          },
                          "orderKey": {
                            "type": "string"
                          },
                          "parentId": {
                            "type": "number"
                          },
                          "paymentMethod": {
                            "type": "string"
                          },
                          "paymentMethodTitle": {
                            "type": "string"
                          },
                          "paymentUrl": {
                            "type": "string"
                          },
                          "pricesIncludeTax": {
                            "type": "boolean"
                          },
                          "refunds": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "shipping": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shippingLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "shippingTax": {
                            "type": "string"
                          },
                          "shippingTotal": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "taxLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "total": {
                            "type": "string"
                          },
                          "totalTax": {
                            "type": "string"
                          },
                          "transactionId": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wooCommerce/latest/actions/create-order-note": {
      "put": {
        "operationId": "wooCommerce.create-order-note",
        "summary": "Create Order Note",
        "description": "Creates an order note in WooCommerce.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wooCommerce/latest/actions/create-order-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Unique numeric ID of the order to update."
                  },
                  "note": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billing": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cartHash": {
                            "type": "string"
                          },
                          "cartTax": {
                            "type": "string"
                          },
                          "couponLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "createdVia": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "currencySymbol": {
                            "type": "string"
                          },
                          "customerId": {
                            "type": "number"
                          },
                          "customerIpAddress": {
                            "type": "string"
                          },
                          "customerNote": {
                            "type": "string"
                          },
                          "customerUserAgent": {
                            "type": "string"
                          },
                          "dateCompleted": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCompletedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCreatedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateModified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateModifiedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "datePaid": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "datePaidGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "discountTax": {
                            "type": "string"
                          },
                          "discountTotal": {
                            "type": "string"
                          },
                          "feeLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "isEditable": {
                            "type": "boolean"
                          },
                          "lineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "metaData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "needsPayment": {
                            "type": "boolean"
                          },
                          "needsProcessing": {
                            "type": "boolean"
                          },
                          "number": {
                            "type": "string"
                          },
                          "orderKey": {
                            "type": "string"
                          },
                          "parentId": {
                            "type": "number"
                          },
                          "paymentMethod": {
                            "type": "string"
                          },
                          "paymentMethodTitle": {
                            "type": "string"
                          },
                          "paymentUrl": {
                            "type": "string"
                          },
                          "pricesIncludeTax": {
                            "type": "boolean"
                          },
                          "refunds": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "shipping": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shippingLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "shippingTax": {
                            "type": "string"
                          },
                          "shippingTotal": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "taxLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "total": {
                            "type": "string"
                          },
                          "totalTax": {
                            "type": "string"
                          },
                          "transactionId": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wooCommerce/latest/actions/create-product": {
      "post": {
        "operationId": "wooCommerce.create-product",
        "summary": "Create Product",
        "description": "Creates a new product in WooCommerce.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wooCommerce/latest/actions/create-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Product name."
                  },
                  "type": {
                    "type": "string",
                    "description": "Product type such as simple, grouped, external, or variable.",
                    "enum": [
                      "external",
                      "grouped",
                      "simple",
                      "variable"
                    ]
                  },
                  "regularPrice": {
                    "type": "string",
                    "description": "Regular product price as a string amount."
                  },
                  "salePrice": {
                    "type": "string",
                    "description": "Sale price as a string amount."
                  },
                  "sku": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string",
                    "description": "Full product description in text or HTML."
                  },
                  "shortDescription": {
                    "type": "string",
                    "description": "Short product description in text or HTML."
                  },
                  "virtual": {
                    "type": "boolean"
                  },
                  "downloadable": {
                    "type": "boolean"
                  },
                  "manageStock": {
                    "type": "boolean"
                  },
                  "stockQuantity": {
                    "type": "number"
                  },
                  "status": {
                    "type": "string",
                    "description": "Catalog status such as draft, pending, private, or publish.",
                    "enum": [
                      "draft",
                      "pending",
                      "private",
                      "publish"
                    ]
                  },
                  "categories[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "categories[].id": {
                    "type": "number"
                  },
                  "images[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "images[].id": {
                    "type": "number"
                  },
                  "images[].src": {
                    "type": "string"
                  },
                  "images[].name": {
                    "type": "string"
                  },
                  "images[].alt": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "averageRating": {
                            "type": "string"
                          },
                          "catalogVisibility": {
                            "type": "string"
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCreatedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateModified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateModifiedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "dimensions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "downloadable": {
                            "type": "boolean"
                          },
                          "featured": {
                            "type": "boolean"
                          },
                          "hasOptions": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "menuOrder": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "onSale": {
                            "type": "boolean"
                          },
                          "parentId": {
                            "type": "number"
                          },
                          "permalink": {
                            "type": "string"
                          },
                          "price": {
                            "type": "string"
                          },
                          "purchasable": {
                            "type": "boolean"
                          },
                          "ratingCount": {
                            "type": "number"
                          },
                          "regularPrice": {
                            "type": "string"
                          },
                          "reviewsAllowed": {
                            "type": "boolean"
                          },
                          "salePrice": {
                            "type": "string"
                          },
                          "shippingRequired": {
                            "type": "boolean"
                          },
                          "shippingTaxable": {
                            "type": "boolean"
                          },
                          "shortDescription": {
                            "type": "string"
                          },
                          "sku": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "stockStatus": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "totalSales": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "virtual": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wooCommerce/latest/actions/create-product-category": {
      "post": {
        "operationId": "wooCommerce.create-product-category",
        "summary": "Create Product Category",
        "description": "Creates a new product category in WooCommerce.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wooCommerce/latest/actions/create-product-category"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Category name."
                  },
                  "slug": {
                    "type": "string",
                    "description": "Category slug."
                  },
                  "description": {
                    "type": "string",
                    "description": "Category description."
                  },
                  "parent": {
                    "type": "string",
                    "description": "Numeric ID of the parent category."
                  },
                  "display": {
                    "type": "string",
                    "enum": [
                      "both",
                      "default",
                      "products",
                      "subcategories"
                    ]
                  },
                  "image": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "image.id": {
                    "type": "number"
                  },
                  "image.src": {
                    "type": "string"
                  },
                  "image.name": {
                    "type": "string"
                  },
                  "image.alt": {
                    "type": "string"
                  },
                  "menuOrder": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "display": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "menuOrder": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "parent": {
                            "type": "number"
                          },
                          "slug": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wooCommerce/latest/actions/delete-coupon": {
      "delete": {
        "operationId": "wooCommerce.delete-coupon",
        "summary": "Delete Coupon",
        "description": "Deletes an existing coupon from WooCommerce.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wooCommerce/latest/actions/delete-coupon"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "description": "Whether to permanently delete the coupon. Defaults to false in WooCommerce.",
            "schema": {
              "type": "boolean",
              "description": "Whether to permanently delete the coupon. Defaults to false in WooCommerce."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique numeric ID of the coupon to delete.",
            "schema": {
              "type": "string",
              "description": "Unique numeric ID of the coupon to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCreatedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateExpires": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateExpiresGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateModified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateModifiedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "discountType": {
                            "type": "string"
                          },
                          "emailRestrictions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "excludedProductCategories": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "excludedProductIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "excludeSaleItems": {
                            "type": "boolean"
                          },
                          "freeShipping": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "individualUse": {
                            "type": "boolean"
                          },
                          "maximumAmount": {
                            "type": "string"
                          },
                          "metaData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "minimumAmount": {
                            "type": "string"
                          },
                          "productCategories": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "productIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "usageCount": {
                            "type": "number"
                          },
                          "usedBy": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wooCommerce/latest/actions/delete-customer": {
      "delete": {
        "operationId": "wooCommerce.delete-customer",
        "summary": "Delete Customer",
        "description": "Deletes an existing customer from WooCommerce.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wooCommerce/latest/actions/delete-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": true,
            "description": "Required to be true because customer deletion does not support trashing.",
            "schema": {
              "type": "boolean",
              "description": "Required to be true because customer deletion does not support trashing."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique numeric ID of the customer to delete.",
            "schema": {
              "type": "string",
              "description": "Unique numeric ID of the customer to delete."
            }
          },
          {
            "name": "reassign",
            "in": "query",
            "required": false,
            "description": "User ID to reassign posts to when deleting a customer.",
            "schema": {
              "type": "number",
              "description": "User ID to reassign posts to when deleting a customer."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatarUrl": {
                            "type": "string"
                          },
                          "billing": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCreatedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateModified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateModifiedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isPayingCustomer": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "metaData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "role": {
                            "type": "string"
                          },
                          "shipping": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "username": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wooCommerce/latest/actions/delete-order": {
      "delete": {
        "operationId": "wooCommerce.delete-order",
        "summary": "Delete Order",
        "description": "Deletes an existing order from WooCommerce.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wooCommerce/latest/actions/delete-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "description": "Whether to permanently delete the order. Defaults to false in WooCommerce.",
            "schema": {
              "type": "boolean",
              "description": "Whether to permanently delete the order. Defaults to false in WooCommerce."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique numeric ID of the order to delete.",
            "schema": {
              "type": "string",
              "description": "Unique numeric ID of the order to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billing": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cartHash": {
                            "type": "string"
                          },
                          "cartTax": {
                            "type": "string"
                          },
                          "couponLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "createdVia": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "currencySymbol": {
                            "type": "string"
                          },
                          "customerId": {
                            "type": "number"
                          },
                          "customerIpAddress": {
                            "type": "string"
                          },
                          "customerNote": {
                            "type": "string"
                          },
                          "customerUserAgent": {
                            "type": "string"
                          },
                          "dateCompleted": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCompletedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateCreatedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateModified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateModifiedGmt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "datePaid": {
[...]
