{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Encodian - Barcode Universal API",
    "version": "0.1.1",
    "description": "Create and read barcodes, QR codes, and Swiss QR codes using Encodian's Barcode API. File inputs are base64 strings; document reads may return an Operation ID for a follow-up status check."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/encodianBarcode/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/encodianBarcode/latest/actions/barcode-create": {
      "post": {
        "operationId": "encodianBarcode.barcode-create",
        "summary": "Barcode - Create",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianBarcode/latest/actions/barcode-create"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "barcodeType",
                  "barcodeData",
                  "barcodeImageFormat"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "barcodeType": {
                    "type": "string",
                    "description": "Barcode symbology to generate, such as Code128, QR-compatible two-dimensional types, EAN13, or UPCA.",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3",
                      "4",
                      "5",
                      "6",
                      "7"
                    ]
                  },
                  "barcodeData": {
                    "type": "string",
                    "description": "Text value encoded into the barcode."
                  },
                  "barcodeImageFormat": {
                    "type": "string",
                    "description": "Output image format for the generated barcode.",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3",
                      "4",
                      "5"
                    ]
                  },
                  "width": {
                    "type": "number",
                    "description": "Barcode image width in pixels.",
                    "x-mindcloud-advanced": true
                  },
                  "height": {
                    "type": "number",
                    "description": "Barcode image height in pixels.",
                    "x-mindcloud-advanced": true
                  },
                  "barColor": {
                    "type": "string",
                    "description": "Barcode bar color as an HTML color value.",
                    "example": "#000000",
                    "x-mindcloud-advanced": true
                  },
                  "sizeMode": {
                    "type": "string",
                    "description": "Barcode auto sizing mode.",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3"
                    ],
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Error messages returned by Encodian."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Generated barcode image file content."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "Generated barcode image filename."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Encodian operation identifier."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianBarcode/latest/actions/barcode-read-document-status": {
      "get": {
        "operationId": "encodianBarcode.barcode-read-document-status",
        "summary": "Barcode - Read Document Status",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianBarcode/latest/actions/barcode-read-document-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operationId",
            "in": "query",
            "required": true,
            "description": "Operation ID returned by Barcode - Read from Document.",
            "schema": {
              "type": "string",
              "description": "Operation ID returned by Barcode - Read from Document."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "barcodes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Barcode values detected in the document."
                          },
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Error messages returned by Encodian."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianBarcode/latest/actions/barcode-read-from-document": {
      "get": {
        "operationId": "encodianBarcode.barcode-read-from-document",
        "summary": "Barcode - Read from Document",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianBarcode/latest/actions/barcode-read-from-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "required": true,
            "description": "Source document format, such as PDF or DOCX.",
            "schema": {
              "type": "string",
              "description": "Source document format, such as PDF or DOCX.",
              "enum": [
                "0",
                "1",
                "2"
              ]
            }
          },
          {
            "name": "fileContent",
            "in": "query",
            "required": true,
            "description": "Base64 source document file content.",
            "schema": {
              "type": "string",
              "description": "Base64 source document file content."
            }
          },
          {
            "name": "barcodeReadConfidence",
            "in": "query",
            "required": false,
            "description": "Confidence level for barcode detection.",
            "schema": {
              "type": "string",
              "description": "Confidence level for barcode detection.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "barcodeReadQuality",
            "in": "query",
            "required": false,
            "description": "Quality level for barcode detection.",
            "schema": {
              "type": "string",
              "description": "Quality level for barcode detection.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "startPage",
            "in": "query",
            "required": false,
            "description": "Page number to begin reading from.",
            "schema": {
              "type": "number",
              "description": "Page number to begin reading from.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "endPage",
            "in": "query",
            "required": false,
            "description": "Page number to end reading on.",
            "schema": {
              "type": "number",
              "description": "Page number to end reading on.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "barcodeRemoveControlChars",
            "in": "query",
            "required": false,
            "description": "Remove recognized control characters from decoded values.",
            "schema": {
              "type": "boolean",
              "description": "Remove recognized control characters from decoded values.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "barcodes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Barcode values detected in the document."
                          },
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "HttpStatusCode": {
                            "type": "number"
                          },
                          "HttpStatusMessage": {
                            "type": "string"
                          },
                          "OperationId": {
                            "type": "string"
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianBarcode/latest/actions/barcode-read-from-image": {
      "get": {
        "operationId": "encodianBarcode.barcode-read-from-image",
        "summary": "Barcode - Read from Image",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianBarcode/latest/actions/barcode-read-from-image"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileContent",
            "in": "query",
            "required": true,
            "description": "Base64 source image file content.",
            "schema": {
              "type": "string",
              "description": "Base64 source image file content."
            }
          },
          {
            "name": "barcodeImageFormat",
            "in": "query",
            "required": true,
            "description": "Image format of the source barcode image.",
            "schema": {
              "type": "string",
              "description": "Image format of the source barcode image.",
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4",
                "5"
              ]
            }
          },
          {
            "name": "barcodeReadConfidence",
            "in": "query",
            "required": false,
            "description": "Confidence level for barcode detection.",
            "schema": {
              "type": "string",
              "description": "Confidence level for barcode detection.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "barcodeRemoveControlChars",
            "in": "query",
            "required": false,
            "description": "Remove recognized control characters from decoded values.",
            "schema": {
              "type": "boolean",
              "description": "Remove recognized control characters from decoded values.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "HttpStatusCode": {
                            "type": "number"
                          },
                          "HttpStatusMessage": {
                            "type": "string"
                          },
                          "OperationId": {
                            "type": "string"
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          },
                          "Value": {
                            "type": "string",
                            "description": "Barcode value detected in the image."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianBarcode/latest/actions/qr-code-create": {
      "post": {
        "operationId": "encodianBarcode.qr-code-create",
        "summary": "QR Code - Create",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianBarcode/latest/actions/qr-code-create"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "barcodeData",
                  "barcodeImageFormat"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "barcodeData": {
                    "type": "string",
                    "description": "Text value encoded into the QR code."
                  },
                  "barcodeImageFormat": {
                    "type": "string",
                    "description": "Output image format for the generated QR code.",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3",
                      "4",
                      "5"
                    ]
                  },
                  "width": {
                    "type": "number",
                    "description": "QR code width in pixels.",
                    "x-mindcloud-advanced": true
                  },
                  "height": {
                    "type": "number",
                    "description": "QR code height in pixels.",
                    "x-mindcloud-advanced": true
                  },
                  "foreColor": {
                    "type": "string",
                    "description": "QR code foreground color as an HTML color value.",
                    "example": "#000000",
                    "x-mindcloud-advanced": true
                  },
                  "backColor": {
                    "type": "string",
                    "description": "QR code background color as an HTML color value.",
                    "example": "#FFFFFF",
                    "x-mindcloud-advanced": true
                  },
                  "logoFileContent": {
                    "type": "string",
                    "description": "Optional source logo file content to embed in the QR code.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Error messages returned by Encodian."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Generated QR code image file content."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "Generated QR code image filename."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Encodian operation identifier."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianBarcode/latest/actions/qr-code-read-document-status": {
      "get": {
        "operationId": "encodianBarcode.qr-code-read-document-status",
        "summary": "QR Code - Read Document Status",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianBarcode/latest/actions/qr-code-read-document-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operationId",
            "in": "query",
            "required": true,
            "description": "Operation ID returned by QR Code - Read from Document.",
            "schema": {
              "type": "string",
              "description": "Operation ID returned by QR Code - Read from Document."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Error messages returned by Encodian."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          },
                          "qrCodes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "QR code values detected in the document."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianBarcode/latest/actions/qr-code-read-from-document": {
      "get": {
        "operationId": "encodianBarcode.qr-code-read-from-document",
        "summary": "QR Code - Read from Document",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianBarcode/latest/actions/qr-code-read-from-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "required": true,
            "description": "Source document format, such as PDF or DOCX.",
            "schema": {
              "type": "string",
              "description": "Source document format, such as PDF or DOCX.",
              "enum": [
                "0",
                "1",
                "2"
              ]
            }
          },
          {
            "name": "fileContent",
            "in": "query",
            "required": true,
            "description": "Base64 source document file content.",
            "schema": {
              "type": "string",
              "description": "Base64 source document file content."
            }
          },
          {
            "name": "barcodeReadConfidence",
            "in": "query",
            "required": false,
            "description": "Confidence level for QR code detection.",
            "schema": {
              "type": "string",
              "description": "Confidence level for QR code detection.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "startPage",
            "in": "query",
            "required": false,
            "description": "Page number to begin reading from.",
            "schema": {
              "type": "number",
              "description": "Page number to begin reading from.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "endPage",
            "in": "query",
            "required": false,
            "description": "Page number to end reading on.",
            "schema": {
              "type": "number",
              "description": "Page number to end reading on.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "barcodeRemoveControlChars",
            "in": "query",
            "required": false,
            "description": "Remove recognized control characters from decoded values.",
            "schema": {
              "type": "boolean",
              "description": "Remove recognized control characters from decoded values.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "HttpStatusCode": {
                            "type": "number"
                          },
                          "HttpStatusMessage": {
                            "type": "string"
                          },
                          "OperationId": {
                            "type": "string"
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          },
                          "qrCodes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "QR code values detected in the document."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianBarcode/latest/actions/qr-code-read-from-image": {
      "get": {
        "operationId": "encodianBarcode.qr-code-read-from-image",
        "summary": "QR Code - Read from Image",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianBarcode/latest/actions/qr-code-read-from-image"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileContent",
            "in": "query",
            "required": true,
            "description": "Base64 source image file content.",
            "schema": {
              "type": "string",
              "description": "Base64 source image file content."
            }
          },
          {
            "name": "barcodeImageFormat",
            "in": "query",
            "required": true,
            "description": "Image format of the source QR code image.",
            "schema": {
              "type": "string",
              "description": "Image format of the source QR code image.",
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4",
                "5"
              ]
            }
          },
          {
            "name": "barcodeReadConfidence",
            "in": "query",
            "required": false,
            "description": "Confidence level for QR code detection.",
            "schema": {
              "type": "string",
              "description": "Confidence level for QR code detection.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "barcodeRemoveControlChars",
            "in": "query",
            "required": false,
            "description": "Remove recognized control characters from decoded values.",
            "schema": {
              "type": "boolean",
              "description": "Remove recognized control characters from decoded values.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "HttpStatusCode": {
                            "type": "number"
                          },
                          "HttpStatusMessage": {
                            "type": "string"
                          },
                          "OperationId": {
                            "type": "string"
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          },
                          "Value": {
                            "type": "string",
                            "description": "QR code value detected in the image."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianBarcode/latest/actions/swiss-qr-code-create": {
      "post": {
        "operationId": "encodianBarcode.swiss-qr-code-create",
        "summary": "Swiss QR Code - Create",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianBarcode/latest/actions/swiss-qr-code-create"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "imageFormat",
                  "account",
                  "currency",
                  "amount",
                  "reference",
                  "creditor",
                  "debtor"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "imageFormat": {
                    "type": "string",
                    "description": "Output image format of the Swiss QR code.",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3",
                      "4",
                      "5"
                    ]
                  },
                  "account": {
                    "type": "string",
                    "description": "Creditor IBAN or account value for the Swiss QR code."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Payment currency.",
                    "enum": [
                      "0",
                      "1"
                    ]
                  },
                  "amount": {
                    "type": "number",
                    "description": "Payment amount."
                  },
                  "reference": {
                    "type": "string",
                    "description": "Swiss QR payment reference value."
                  },
                  "creditor": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Creditor object containing name and address fields."
                  },
                  "debtor": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Debtor object containing name and address fields."
                  },
                  "width": {
                    "type": "number",
                    "description": "Swiss QR code width in pixels.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Error messages returned by Encodian."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Generated Swiss QR code image file content."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code returned by Encodian."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message returned by Encodian."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Encodian operation identifier."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianBarcode/latest/actions/swiss-qr-code-read-from-document": {
      "get": {
        "operationId": "encodianBarcode.swiss-qr-code-read-from-document",
        "summary": "Swiss QR Code - Read from Document",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianBarcode/latest/actions/swiss-qr-code-read-from-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileContent",
            "in": "query",
            "required": true,
            "description": "Base64 source document file content.",
            "schema": {
              "type": "string",
              "description": "Base64 source document file content."
            }
          },
          {
            "name": "barcodeReadConfidence",
            "in": "query",
            "required": false,
            "description": "Confidence level for Swiss QR detection.",
            "schema": {
              "type": "string",
              "description": "Confidence level for Swiss QR detection.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "barcodeReadQuality",
            "in": "query",
            "required": false,
            "description": "Quality level for Swiss QR detection.",
            "schema": {
              "type": "string",
              "description": "Quality level for Swiss QR detection.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "pageNumbers",
            "in": "query",
            "required": false,
            "description": "Comma-separated page numbers to inspect, such as 1,3,4.",
            "schema": {
              "type": "string",
              "description": "Comma-separated page numbers to inspect, such as 1,3,4.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "barcodeRemoveControlChars",
            "in": "query",
            "required": false,
            "description": "Remove recognized control characters from decoded values.",
            "schema": {
              "type": "boolean",
              "description": "Remove recognized control characters from decoded values.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "HttpStatusCode": {
                            "type": "number"
                          },
                          "HttpStatusMessage": {
                            "type": "string"
                          },
                          "OperationId": {
                            "type": "string"
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          },
                          "swissQrCodes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Swiss QR code records detected in the document."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianBarcode/latest/actions/swiss-qr-code-read-from-image": {
      "get": {
        "operationId": "encodianBarcode.swiss-qr-code-read-from-image",
        "summary": "Swiss QR Code - Read from Image",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianBarcode/latest/actions/swiss-qr-code-read-from-image"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileContent",
            "in": "query",
            "required": true,
            "description": "Base64 source image file content.",
            "schema": {
              "type": "string",
              "description": "Base64 source image file content."
            }
          },
          {
            "name": "barcodeRemoveControlChars",
            "in": "query",
            "required": false,
            "description": "Remove recognized control characters from decoded values.",
            "schema": {
              "type": "boolean",
              "description": "Remove recognized control characters from decoded values.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "string",
                            "description": "Account from the Swiss QR code."
                          },
                          "amount": {
                            "type": "number",
                            "description": "Amount from the Swiss QR code."
                          },
                          "creditorAddressLine1": {
                            "type": "string",
                            "description": "Creditor address line 1 from the Swiss QR code."
                          },
                          "creditorAddressLine2": {
                            "type": "string",
                            "description": "Creditor address line 2 from the Swiss QR code."
                          },
                          "creditorCountryCode": {
                            "type": "string",
                            "description": "Creditor country code from the Swiss QR code."
                          },
                          "creditorHouseNo": {
                            "type": "string",
                            "description": "Creditor house number from the Swiss QR code."
                          },
                          "creditorName": {
                            "type": "string",
                            "description": "Creditor name from the Swiss QR code."
                          },
                          "creditorPostcode": {
                            "type": "string",
                            "description": "Creditor postal code from the Swiss QR code."
                          },
                          "creditorStreet": {
                            "type": "string",
                            "description": "Creditor street from the Swiss QR code."
                          },
                          "creditorTown": {
                            "type": "string",
                            "description": "Creditor town from the Swiss QR code."
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency from the Swiss QR code."
                          },
                          "debtorAddressLine1": {
                            "type": "string",
                            "description": "Debtor address line 1 from the Swiss QR code."
                          },
                          "debtorAddressLine2": {
                            "type": "string",
                            "description": "Debtor address line 2 from the Swiss QR code."
                          },
                          "debtorCountryCode": {
                            "type": "string",
                            "description": "Debtor country code from the Swiss QR code."
                          },
                          "debtorHouseNo": {
                            "type": "string",
                            "description": "Debtor house number from the Swiss QR code."
                          },
                          "debtorName": {
                            "type": "string",
                            "description": "Debtor name from the Swiss QR code."
                          },
                          "debtorPostcode": {
                            "type": "string",
                            "description": "Debtor postal code from the Swiss QR code."
                          },
                          "debtorStreet": {
                            "type": "string",
                            "description": "Debtor street from the Swiss QR code."
                          },
                          "debtorTown": {
                            "type": "string",
                            "description": "Debtor town from the Swiss QR code."
                          },
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Error messages returned by Encodian."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          },
                          "reference": {
                            "type": "string",
                            "description": "Reference from the Swiss QR code."
                          },
                          "value": {
                            "type": "string",
                            "description": "Decoded Swiss QR code value."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
