{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "GenderAPI.io Universal API",
    "version": "0.0.9",
    "description": "Infer gender and validate phone numbers from names, emails, and usernames"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/genderAPIio/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/genderAPIio/latest/actions/get-gender-by-email": {
      "get": {
        "operationId": "genderAPIio.get-gender-by-email",
        "summary": "Get Gender by Email",
        "description": "Retrieves gender details from GenderAPI.io by email address.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/genderAPIio/latest/actions/get-gender-by-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "The email address to analyze.",
            "schema": {
              "type": "string",
              "description": "The email address to analyze."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Optional ISO 3166-1 alpha-2 country code to improve prediction accuracy.",
            "schema": {
              "type": "string",
              "description": "Optional ISO 3166-1 alpha-2 country code to improve prediction accuracy."
            }
          },
          {
            "name": "askToAI",
            "in": "query",
            "required": false,
            "description": "Ask GenderAPI's AI model when the name extracted from the email is not found in the database.",
            "schema": {
              "type": "boolean",
              "description": "Ask GenderAPI's AI model when the name extracted from the email is not found in the database."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string",
                            "description": "The most likely country code."
                          },
                          "duration": {
                            "type": "string",
                            "description": "Processing time for the request."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp for plan expiration."
                          },
                          "gender": {
                            "type": "string",
                            "description": "Predicted gender result."
                          },
                          "name": {
                            "type": "string",
                            "description": "The found or extracted first name."
                          },
                          "probability": {
                            "type": "number",
                            "description": "Confidence percentage for the prediction."
                          },
                          "q": {
                            "type": "string",
                            "description": "The submitted query value."
                          },
                          "remaining_credits": {
                            "type": "number",
                            "description": "The number of credits remaining after the request."
                          },
                          "status": {
                            "type": "boolean",
                            "description": "Whether the request was successful."
                          },
                          "total_names": {
                            "type": "number",
                            "description": "The number of samples behind the prediction."
                          },
                          "used_credits": {
                            "type": "number",
                            "description": "The number of credits used for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/genderAPIio/latest/actions/get-gender-by-email-batch": {
      "get": {
        "operationId": "genderAPIio.get-gender-by-email-batch",
        "summary": "Get Gender by Email Batch",
        "description": "Retrieves gender details from GenderAPI.io for multiple email addresses.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/genderAPIio/latest/actions/get-gender-by-email-batch"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "required": true,
            "description": "Array of email records to analyze. Each object can include email, country, and id.",
            "schema": {
              "type": "string",
              "description": "Array of email records to analyze. Each object can include email, country, and id."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "string",
                            "description": "Processing time for the request."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp for plan expiration."
                          },
                          "names": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Array of gender results for each submitted email record."
                          },
                          "remaining_credits": {
                            "type": "number",
                            "description": "The number of credits remaining after the request."
                          },
                          "status": {
                            "type": "boolean",
                            "description": "Whether the batch request was successful."
                          },
                          "used_credits": {
                            "type": "number",
                            "description": "The number of credits used for the batch request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/genderAPIio/latest/actions/get-gender-by-email-get": {
      "get": {
        "operationId": "genderAPIio.get-gender-by-email-get",
        "summary": "Get Gender by Email (GET)",
        "description": "Retrieves gender details from GenderAPI.io by email address.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/genderAPIio/latest/actions/get-gender-by-email-get"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "askToAI",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string",
                            "description": "The most likely country code."
                          },
                          "duration": {
                            "type": "string",
                            "description": "Processing time for the request."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp for plan expiration."
                          },
                          "gender": {
                            "type": "string",
                            "description": "Predicted gender result."
                          },
                          "name": {
                            "type": "string",
                            "description": "The found or extracted first name."
                          },
                          "probability": {
                            "type": "number",
                            "description": "Confidence percentage for the prediction."
                          },
                          "q": {
                            "type": "string",
                            "description": "The submitted query value."
                          },
                          "remaining_credits": {
                            "type": "number",
                            "description": "The number of credits remaining after the request."
                          },
                          "status": {
                            "type": "boolean",
                            "description": "Whether the request was successful."
                          },
                          "total_names": {
                            "type": "number",
                            "description": "The number of samples behind the prediction."
                          },
                          "used_credits": {
                            "type": "number",
                            "description": "The number of credits used for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/genderAPIio/latest/actions/get-gender-by-name": {
      "get": {
        "operationId": "genderAPIio.get-gender-by-name",
        "summary": "Get Gender by Name",
        "description": "Retrieves gender details from GenderAPI.io by name.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/genderAPIio/latest/actions/get-gender-by-name"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "The first name to analyze.",
            "schema": {
              "type": "string",
              "description": "The first name to analyze."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Optional ISO 3166-1 alpha-2 country code to improve prediction accuracy.",
            "schema": {
              "type": "string",
              "description": "Optional ISO 3166-1 alpha-2 country code to improve prediction accuracy."
            }
          },
          {
            "name": "askToAI",
            "in": "query",
            "required": false,
            "description": "Ask GenderAPI's AI model when the name is not found in the database.",
            "schema": {
              "type": "boolean",
              "description": "Ask GenderAPI's AI model when the name is not found in the database."
            }
          },
          {
            "name": "forceToGenderize",
            "in": "query",
            "required": false,
            "description": "Attempt a gender prediction even for nicknames or non-name words.",
            "schema": {
              "type": "boolean",
              "description": "Attempt a gender prediction even for nicknames or non-name words."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string",
                            "description": "The most likely country code."
                          },
                          "duration": {
                            "type": "string",
                            "description": "Processing time for the request."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp for plan expiration."
                          },
                          "gender": {
                            "type": "string",
                            "description": "Predicted gender result."
                          },
                          "name": {
                            "type": "string",
                            "description": "The found or normalized first name."
                          },
                          "probability": {
                            "type": "number",
                            "description": "Confidence percentage for the prediction."
                          },
                          "q": {
                            "type": "string",
                            "description": "The submitted query value."
                          },
                          "remaining_credits": {
                            "type": "number",
                            "description": "The number of credits remaining after the request."
                          },
                          "status": {
                            "type": "boolean",
                            "description": "Whether the request was successful."
                          },
                          "total_names": {
                            "type": "number",
                            "description": "The number of samples behind the prediction."
                          },
                          "used_credits": {
                            "type": "number",
                            "description": "The number of credits used for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/genderAPIio/latest/actions/get-gender-by-name-batch": {
      "get": {
        "operationId": "genderAPIio.get-gender-by-name-batch",
        "summary": "Get Gender by Name Batch",
        "description": "Retrieves gender details from GenderAPI.io for multiple names.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/genderAPIio/latest/actions/get-gender-by-name-batch"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "required": true,
            "description": "Array of name records to analyze. Each object can include name, country, and id.",
            "schema": {
              "type": "string",
              "description": "Array of name records to analyze. Each object can include name, country, and id."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "string",
                            "description": "Processing time for the request."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp for plan expiration."
                          },
                          "names": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Array of gender results for each submitted name record."
                          },
                          "remaining_credits": {
                            "type": "number",
                            "description": "The number of credits remaining after the request."
                          },
                          "status": {
                            "type": "boolean",
                            "description": "Whether the batch request was successful."
                          },
                          "used_credits": {
                            "type": "number",
                            "description": "The number of credits used for the batch request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/genderAPIio/latest/actions/get-gender-by-name-get": {
      "get": {
        "operationId": "genderAPIio.get-gender-by-name-get",
        "summary": "Get Gender by Name (GET)",
        "description": "Retrieves gender details from GenderAPI.io by name.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/genderAPIio/latest/actions/get-gender-by-name-get"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "askToAI",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "forceToGenderize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string",
                            "description": "The most likely country code."
                          },
                          "duration": {
                            "type": "string",
                            "description": "Processing time for the request."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp for plan expiration."
                          },
                          "gender": {
                            "type": "string",
                            "description": "Predicted gender result."
                          },
                          "name": {
                            "type": "string",
                            "description": "The found or normalized first name."
                          },
                          "probability": {
                            "type": "number",
                            "description": "Confidence percentage for the prediction."
                          },
                          "q": {
                            "type": "string",
                            "description": "The submitted query value."
                          },
                          "remaining_credits": {
                            "type": "number",
                            "description": "The number of credits remaining after the request."
                          },
                          "status": {
                            "type": "boolean",
                            "description": "Whether the request was successful."
                          },
                          "total_names": {
                            "type": "number",
                            "description": "The number of samples behind the prediction."
                          },
                          "used_credits": {
                            "type": "number",
                            "description": "The number of credits used for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/genderAPIio/latest/actions/get-gender-by-username": {
      "get": {
        "operationId": "genderAPIio.get-gender-by-username",
        "summary": "Get Gender by Username",
        "description": "Retrieves gender details from GenderAPI.io by username.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/genderAPIio/latest/actions/get-gender-by-username"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": true,
            "description": "The username or nickname to analyze.",
            "schema": {
              "type": "string",
              "description": "The username or nickname to analyze."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Optional ISO 3166-1 alpha-2 country code to improve prediction accuracy.",
            "schema": {
              "type": "string",
              "description": "Optional ISO 3166-1 alpha-2 country code to improve prediction accuracy."
            }
          },
          {
            "name": "askToAI",
            "in": "query",
            "required": false,
            "description": "Ask GenderAPI's AI model when the username cannot be matched from the database.",
            "schema": {
              "type": "boolean",
              "description": "Ask GenderAPI's AI model when the username cannot be matched from the database."
            }
          },
          {
            "name": "forceToGenderize",
            "in": "query",
            "required": false,
            "description": "Attempt a gender prediction even for nicknames or non-name words.",
            "schema": {
              "type": "boolean",
              "description": "Attempt a gender prediction even for nicknames or non-name words."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string",
                            "description": "The most likely country code."
                          },
                          "duration": {
                            "type": "string",
                            "description": "Processing time for the request."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp for plan expiration."
                          },
                          "gender": {
                            "type": "string",
                            "description": "Predicted gender result."
                          },
                          "name": {
                            "type": "string",
                            "description": "The extracted or normalized first name."
                          },
                          "probability": {
                            "type": "number",
                            "description": "Confidence percentage for the prediction."
                          },
                          "q": {
                            "type": "string",
                            "description": "The submitted query value."
                          },
                          "remaining_credits": {
                            "type": "number",
                            "description": "The number of credits remaining after the request."
                          },
                          "status": {
                            "type": "boolean",
                            "description": "Whether the request was successful."
                          },
                          "total_names": {
                            "type": "number",
                            "description": "The number of samples behind the prediction."
                          },
                          "used_credits": {
                            "type": "number",
                            "description": "The number of credits used for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/genderAPIio/latest/actions/get-gender-by-username-batch": {
      "get": {
        "operationId": "genderAPIio.get-gender-by-username-batch",
        "summary": "Get Gender by Username Batch",
        "description": "Retrieves gender details from GenderAPI.io for multiple usernames.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/genderAPIio/latest/actions/get-gender-by-username-batch"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "required": true,
            "description": "Array of username records to analyze. Each object can include username, country, and id.",
            "schema": {
              "type": "string",
              "description": "Array of username records to analyze. Each object can include username, country, and id."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "string",
                            "description": "Processing time for the request."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp for plan expiration."
                          },
                          "names": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Array of gender results for each submitted username record."
                          },
                          "remaining_credits": {
                            "type": "number",
                            "description": "The number of credits remaining after the request."
                          },
                          "status": {
                            "type": "boolean",
                            "description": "Whether the batch request was successful."
                          },
                          "used_credits": {
                            "type": "number",
                            "description": "The number of credits used for the batch request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/genderAPIio/latest/actions/get-gender-by-username-get": {
      "get": {
        "operationId": "genderAPIio.get-gender-by-username-get",
        "summary": "Get Gender by Username (GET)",
        "description": "Retrieves gender details from GenderAPI.io by username.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/genderAPIio/latest/actions/get-gender-by-username-get"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "askToAI",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "forceToGenderize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string",
                            "description": "The most likely country code."
                          },
                          "duration": {
                            "type": "string",
                            "description": "Processing time for the request."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp for plan expiration."
                          },
                          "gender": {
                            "type": "string",
                            "description": "Predicted gender result."
                          },
                          "name": {
                            "type": "string",
                            "description": "The extracted or normalized first name."
                          },
                          "probability": {
                            "type": "number",
                            "description": "Confidence percentage for the prediction."
                          },
                          "q": {
                            "type": "string",
                            "description": "The submitted query value."
                          },
                          "remaining_credits": {
                            "type": "number",
                            "description": "The number of credits remaining after the request."
                          },
                          "status": {
                            "type": "boolean",
                            "description": "Whether the request was successful."
                          },
                          "total_names": {
                            "type": "number",
                            "description": "The number of samples behind the prediction."
                          },
                          "used_credits": {
                            "type": "number",
                            "description": "The number of credits used for the request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/genderAPIio/latest/actions/get-remaining-credits": {
      "get": {
        "operationId": "genderAPIio.get-remaining-credits",
        "summary": "Get Remaining Credits",
        "description": "Retrieves remaining API credits from GenderAPI.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/genderAPIio/latest/actions/get-remaining-credits"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "expiresAt": {
                            "type": "number",
                            "description": "Unix timestamp for the current credit package expiration."
                          },
                          "remaining": {
                            "type": "number",
                            "description": "The number of API credits remaining."
                          },
                          "status": {
                            "type": "boolean",
                            "description": "Whether the quota request was successful."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/genderAPIio/latest/actions/validate-phone-number": {
      "get": {
        "operationId": "genderAPIio.validate-phone-number",
        "summary": "Validate Phone Number",
        "description": "Retrieves phone validation details from GenderAPI.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/genderAPIio/latest/actions/validate-phone-number"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "number",
            "in": "query",
            "required": true,
            "description": "The phone number to validate in E.164, national, or international format.",
            "schema": {
              "type": "string",
              "description": "The phone number to validate in E.164, national, or international format."
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "description": "Optional country, region, or city hint used when the number does not include an international country code.",
            "schema": {
              "type": "string",
              "description": "Optional country, region, or city hint used when the number does not include an international country code."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "areaCode": {
                            "type": "string",
                            "description": "Detected area code."
                          },
                          "country": {
                            "type": "string",
                            "description": "Full country name."
                          },
                          "countryCode": {
                            "type": "number",
                            "description": "International dialing country code."
                          },
                          "duration": {
                            "type": "string",
                            "description": "Processing time for the request."
                          },
                          "e164": {
                            "type": "string",
                            "description": "Phone number in E.164 format."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp for plan expiration."
                          },
                          "international": {
                            "type": "string",
                            "description": "Formatted international phone number."
                          },
                          "isGeographical": {
                            "type": "boolean",
                            "description": "Whether the number is tied to a geographic area."
                          },
                          "isPossible": {
                            "type": "boolean",
                            "description": "Whether the number could exist structurally."
                          },
                          "isValid": {
                            "type": "boolean",
                            "description": "Whether the number is valid."
                          },
                          "location": {
                            "type": "string",
                            "description": "Detected geographic location."
                          },
                          "national": {
                            "type": "string",
                            "description": "Formatted national phone number."
                          },
                          "nationalSignificantNumber": {
                            "type": "string",
                            "description": "National number without country code."
                          },
                          "numberType": {
                            "type": "string",
                            "description": "The detected phone number type."
                          },
                          "rawInput": {
                            "type": "string",
                            "description": "Original phone number input."
                          },
                          "regionCode": {
                            "type": "string",
                            "description": "ISO 3166-1 alpha-2 region code."
                          },
                          "remaining_credits": {
                            "type": "number",
                            "description": "The number of credits remaining after the request."
                          },
                          "status": {
                            "type": "boolean",
                            "description": "Whether the request was successful."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/genderAPIio/latest/actions/validate-phone-number-get": {
      "get": {
        "operationId": "genderAPIio.validate-phone-number-get",
        "summary": "Validate Phone Number (GET)",
        "description": "Retrieves phone validation details from GenderAPI.io.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/genderAPIio/latest/actions/validate-phone-number-get"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "number",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "areaCode": {
                            "type": "string",
                            "description": "Detected area code."
                          },
                          "country": {
                            "type": "string",
                            "description": "Full country name."
                          },
                          "countryCode": {
                            "type": "number",
                            "description": "International dialing country code."
                          },
                          "duration": {
                            "type": "string",
                            "description": "Processing time for the request."
                          },
                          "e164": {
                            "type": "string",
                            "description": "Phone number in E.164 format."
                          },
                          "expires": {
                            "type": "number",
                            "description": "Unix timestamp for plan expiration."
                          },
                          "international": {
                            "type": "string",
                            "description": "Formatted international phone number."
                          },
                          "isGeographical": {
                            "type": "boolean",
                            "description": "Whether the number is tied to a geographic area."
                          },
                          "isPossible": {
                            "type": "boolean",
                            "description": "Whether the number could exist structurally."
                          },
                          "isValid": {
                            "type": "boolean",
                            "description": "Whether the number is valid."
                          },
                          "location": {
                            "type": "string",
                            "description": "Detected geographic location."
                          },
                          "national": {
                            "type": "string",
                            "description": "Formatted national phone number."
                          },
                          "nationalSignificantNumber": {
                            "type": "string",
                            "description": "National number without country code."
                          },
                          "numberType": {
                            "type": "string",
                            "description": "The detected phone number type."
                          },
                          "rawInput": {
                            "type": "string",
                            "description": "Original phone number input."
                          },
                          "regionCode": {
                            "type": "string",
                            "description": "ISO 3166-1 alpha-2 region code."
                          },
                          "remaining_credits": {
                            "type": "number",
                            "description": "The number of credits remaining after the request."
                          },
                          "status": {
                            "type": "boolean",
                            "description": "Whether the request was successful."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
