{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "WiserReview Universal API",
    "version": "0.0.3",
    "description": "Collect, manage, and display product reviews"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/wiserReview/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/wiserReview/latest/actions/create-review": {
      "post": {
        "operationId": "wiserReview.create-review",
        "summary": "Create Review",
        "description": "Creates a new review in WiserReview.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wiserReview/latest/actions/create-review"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string",
                    "description": "Reviewer email address."
                  },
                  "rating": {
                    "type": "number",
                    "description": "Review rating value."
                  },
                  "userName": {
                    "type": "string",
                    "description": "Reviewer display name."
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Reviewer phone number."
                  },
                  "title": {
                    "type": "string",
                    "description": "Review title."
                  },
                  "reviewText": {
                    "type": "string",
                    "description": "Review body text."
                  },
                  "reviewerImage": {
                    "type": "string",
                    "description": "Reviewer profile image URL."
                  },
                  "reviewImages[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of review image URLs."
                  },
                  "productName": {
                    "type": "string",
                    "description": "Product name associated with the review."
                  },
                  "productURL": {
                    "type": "string",
                    "description": "Product page URL."
                  },
                  "productId": {
                    "type": "string",
                    "description": "Product identifier associated with the review."
                  },
                  "productImageURL": {
                    "type": "string",
                    "description": "Product image URL."
                  },
                  "orderId": {
                    "type": "string",
                    "description": "Order identifier associated with the review."
                  },
                  "isVerified": {
                    "type": "boolean",
                    "description": "Whether the reviewer is verified."
                  },
                  "isRecommended": {
                    "type": "boolean",
                    "description": "Whether the reviewer recommends the product."
                  },
                  "youtubeURL": {
                    "type": "string",
                    "description": "YouTube URL associated with the review."
                  },
                  "xURL": {
                    "type": "string",
                    "description": "X profile or post URL associated with the review."
                  },
                  "linkedinURL": {
                    "type": "string",
                    "description": "LinkedIn URL associated with the review."
                  },
                  "instagramURL": {
                    "type": "string",
                    "description": "Instagram URL associated with the review."
                  },
                  "city": {
                    "type": "string",
                    "description": "Reviewer city."
                  },
                  "state": {
                    "type": "string",
                    "description": "Reviewer state or region."
                  },
                  "country": {
                    "type": "string",
                    "description": "Reviewer country."
                  },
                  "ipAddress": {
                    "type": "string",
                    "description": "Reviewer IP address."
                  },
                  "latitude": {
                    "type": "string",
                    "description": "Latitude associated with the review."
                  },
                  "longitude": {
                    "type": "string",
                    "description": "Longitude associated with the review."
                  },
                  "skuId": {
                    "type": "string",
                    "description": "SKU identifier associated with the review."
                  },
                  "variantId": {
                    "type": "string",
                    "description": "Product variant identifier."
                  },
                  "skuTitle": {
                    "type": "string",
                    "description": "SKU title."
                  },
                  "companyDesignation": {
                    "type": "string",
                    "description": "Reviewer company designation."
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Reviewer company name."
                  },
                  "companySiteURL": {
                    "type": "string",
                    "description": "Reviewer company website URL."
                  },
                  "companyLogo": {
                    "type": "string",
                    "description": "Reviewer company logo URL."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wiserReview/latest/actions/generate-token": {
      "get": {
        "operationId": "wiserReview.generate-token",
        "summary": "Generate Token",
        "description": "Generates an auth token for WiserReview.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wiserReview/latest/actions/generate-token"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dashboardApiKey",
            "in": "query",
            "required": true,
            "description": "API key from Settings in the WiserReview dashboard.",
            "schema": {
              "type": "string",
              "description": "API key from Settings in the WiserReview dashboard."
            }
          },
          {
            "name": "expiresIn",
            "in": "query",
            "required": false,
            "description": "Optional number of days before the generated auth token expires.",
            "schema": {
              "type": "number",
              "description": "Optional number of days before the generated auth token expires."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authToken": {
                            "type": "string",
                            "description": "Generated bearer auth token."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider status message."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether token generation succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wiserReview/latest/actions/get-product-review-data": {
      "get": {
        "operationId": "wiserReview.get-product-review-data",
        "summary": "Get Product Review Data",
        "description": "Retrieves product review data from WiserReview.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wiserReview/latest/actions/get-product-review-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "description": "Product ID for which to retrieve review data.",
            "schema": {
              "type": "string",
              "description": "Product ID for which to retrieve review data."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "arrimg": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Review image URLs."
                          },
                          "arrvdo": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Review video URLs."
                          },
                          "cn": {
                            "type": "string",
                            "description": "Reviewer country."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Record creation timestamp."
                          },
                          "ct": {
                            "type": "string",
                            "description": "Reviewer city."
                          },
                          "Id": {
                            "type": "string",
                            "description": "Unique review identifier."
                          },
                          "ircmnd": {
                            "type": "boolean",
                            "description": "Whether the reviewer recommends the product."
                          },
                          "ivrfd": {
                            "type": "boolean",
                            "description": "Whether the review is verified."
                          },
                          "pid": {
                            "type": "string",
                            "description": "Product identifier associated with the review."
                          },
                          "pn": {
                            "type": "string",
                            "description": "Product name."
                          },
                          "rtng": {
                            "type": "number",
                            "description": "Rating value."
                          },
                          "rttl": {
                            "type": "string",
                            "description": "Review title."
                          },
                          "rtxt": {
                            "type": "string",
                            "description": "Review text content."
                          },
                          "st": {
                            "type": "string",
                            "description": "Reviewer state or region."
                          },
                          "udt": {
                            "type": "string",
                            "description": "Last update timestamp."
                          },
                          "un": {
                            "type": "string",
                            "description": "Reviewer display name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wiserReview/latest/actions/get-star-ratings": {
      "get": {
        "operationId": "wiserReview.get-star-ratings",
        "summary": "Get Star Ratings",
        "description": "Retrieves star ratings for a product from WiserReview.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wiserReview/latest/actions/get-star-ratings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listProductId[]",
            "in": "query",
            "required": true,
            "description": "List of product IDs for which to retrieve star ratings.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of product IDs for which to retrieve star ratings."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avgrtng": {
                            "type": "number",
                            "description": "Average rating for the product."
                          },
                          "html": {
                            "type": "string",
                            "description": "Provider-supplied HTML snippet for the rating widget."
                          },
                          "isReqSyncWoo": {
                            "type": "boolean",
                            "description": "Provider flag indicating whether WooCommerce synchronization is required."
                          },
                          "pid": {
                            "type": "string",
                            "description": "Unique product identifier."
                          },
                          "prtng": {
                            "type": "number",
                            "description": "Total number of ratings."
                          },
                          "queCount": {
                            "type": "number",
                            "description": "Count of related questions."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wiserReview/latest/actions/list-reviews": {
      "get": {
        "operationId": "wiserReview.list-reviews",
        "summary": "List Reviews",
        "description": "Retrieves reviews from WiserReview.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wiserReview/latest/actions/list-reviews"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "arrimg": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Review image URLs."
                          },
                          "arrvdo": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Review video URLs."
                          },
                          "cn": {
                            "type": "string",
                            "description": "Reviewer country."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Record creation timestamp."
                          },
                          "ct": {
                            "type": "string",
                            "description": "Reviewer city."
                          },
                          "e": {
                            "type": "string",
                            "description": "Reviewer email address."
                          },
                          "Id": {
                            "type": "string",
                            "description": "Unique review identifier."
                          },
                          "ircmnd": {
                            "type": "boolean",
                            "description": "Whether the reviewer recommends the product."
                          },
                          "ivrfd": {
                            "type": "boolean",
                            "description": "Whether the review is verified."
                          },
                          "rtng": {
                            "type": "number",
                            "description": "Rating value."
                          },
                          "rttl": {
                            "type": "string",
                            "description": "Review title."
                          },
                          "rtxt": {
                            "type": "string",
                            "description": "Review text content."
                          },
                          "st": {
                            "type": "string",
                            "description": "Reviewer state or region."
                          },
                          "udt": {
                            "type": "string",
                            "description": "Last update timestamp."
                          },
                          "un": {
                            "type": "string",
                            "description": "Reviewer display name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/wiserReview/latest/actions/list-reviews-by-product": {
      "get": {
        "operationId": "wiserReview.list-reviews-by-product",
        "summary": "List Reviews By Product",
        "description": "Retrieves reviews for a product from WiserReview.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/wiserReview/latest/actions/list-reviews-by-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the product to fetch related reviews for.",
            "schema": {
              "type": "string",
              "description": "Unique identifier of the product to fetch related reviews for."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "arrimg": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Review image URLs."
                          },
                          "arrvdo": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Review video URLs."
                          },
                          "cn": {
                            "type": "string",
                            "description": "Reviewer country."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Record creation timestamp."
                          },
                          "ct": {
                            "type": "string",
                            "description": "Reviewer city."
                          },
                          "e": {
                            "type": "string",
                            "description": "Reviewer email address."
                          },
                          "Id": {
                            "type": "string",
                            "description": "Unique review identifier."
                          },
                          "ircmnd": {
                            "type": "boolean",
                            "description": "Whether the reviewer recommends the product."
                          },
                          "ivrfd": {
                            "type": "boolean",
                            "description": "Whether the review is verified."
                          },
                          "rtng": {
                            "type": "number",
                            "description": "Rating value."
                          },
                          "rttl": {
                            "type": "string",
                            "description": "Review title."
                          },
                          "rtxt": {
                            "type": "string",
                            "description": "Review text content."
                          },
                          "st": {
                            "type": "string",
                            "description": "Reviewer state or region."
                          },
                          "udt": {
                            "type": "string",
                            "description": "Last update timestamp."
                          },
                          "un": {
                            "type": "string",
                            "description": "Reviewer display name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
