{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Booqable Universal API",
    "version": "0.0.8",
    "description": "Manage rental inventory, orders, customers, and payments"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/booqable/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/booqable/latest/actions/create-customer": {
      "post": {
        "operationId": "booqable.create-customer",
        "summary": "Create Customer",
        "description": "Creates a new customer in Booqable.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/booqable/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fields.customers": {
                    "type": "string",
                    "description": "Comma-separated customer fields to include instead of the default field set."
                  },
                  "include": {
                    "type": "string",
                    "description": "Comma-separated relationships to sideload."
                  },
                  "data.attributes.name": {
                    "type": "string",
                    "description": "Person or company name."
                  },
                  "data.attributes.email": {
                    "type": "string",
                    "description": "Email address used for communication."
                  },
                  "data.attributes.legalType": {
                    "type": "string",
                    "description": "Whether the customer is a person or commercial entity."
                  },
                  "data.attributes.depositType": {
                    "type": "string",
                    "description": "Default deposit type for new orders."
                  },
                  "data.attributes.depositValue": {
                    "type": "number",
                    "description": "Deposit value used with the selected deposit type."
                  },
                  "data.attributes.discountPercentage": {
                    "type": "number",
                    "description": "Default discount applied to new orders for this customer."
                  },
                  "data.attributes.emailMarketingConsented": {
                    "type": "boolean",
                    "description": "Whether the customer has consented to receive email marketing."
                  },
                  "data.attributes.mergeSuggestionCustomerId": {
                    "type": "string",
                    "description": "Customer this record may duplicate."
                  },
                  "data.attributes.stripeId": {
                    "type": "string",
                    "description": "Stripe customer ID."
                  },
                  "data.attributes.tagList[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Case-insensitive customer tags."
                  },
                  "data.attributes.taxRegionId": {
                    "type": "string",
                    "description": "Tax region for new orders for this customer."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "archived": {
                                "type": "boolean",
                                "description": "Whether the customer is archived."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the customer was created."
                              },
                              "depositType": {
                                "type": "string",
                                "description": "Default deposit type."
                              },
                              "depositValue": {
                                "type": "number",
                                "description": "Default deposit value."
                              },
                              "discountPercentage": {
                                "type": "number",
                                "description": "Default discount percentage."
                              },
                              "email": {
                                "type": "string",
                                "description": "Customer email address."
                              },
                              "legalType": {
                                "type": "string",
                                "description": "Customer legal type."
                              },
                              "name": {
                                "type": "string",
                                "description": "Customer name."
                              },
                              "number": {
                                "type": "number",
                                "description": "Customer number."
                              },
                              "orderCount": {
                                "type": "number",
                                "description": "Number of orders."
                              },
                              "properties": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Custom properties."
                              },
                              "tagList": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Customer tags."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the customer was last updated."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Customer ID."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/booqable/latest/actions/create-order": {
      "post": {
        "operationId": "booqable.create-order",
        "summary": "Create Order",
        "description": "Creates a new order in Booqable.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/booqable/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON:API order payload with the nested `data` object expected by Booqable. Include `type: orders` and any `attributes` or `relationships` you want to create."
                  },
                  "fields.orders": {
                    "type": "string",
                    "description": "Comma-separated order fields to include instead of the default fields.",
                    "example": "created_at,updated_at,number",
                    "x-mindcloud-advanced": true
                  },
                  "include": {
                    "type": "string",
                    "description": "Comma-separated relationships to sideload.",
                    "example": "customer,coupon,start_location",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order attributes object."
                          },
                          "id": {
                            "type": "string",
                            "description": "Order UUID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order relationships object."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/booqable/latest/actions/create-product": {
      "post": {
        "operationId": "booqable.create-product",
        "summary": "Create Product",
        "description": "Creates a new product in Booqable.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/booqable/latest/actions/create-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Product payload. Enter the inner JSON:API resource object, for example type plus attributes."
                  },
                  "include": {
                    "type": "string",
                    "description": "Comma-separated relationships to sideload, for example barcode,inventory_levels,photo.",
                    "example": "barcode,inventory_levels,photo",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "archived": {
                                "type": "boolean",
                                "description": "Whether the product is archived."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the product was created."
                              },
                              "name": {
                                "type": "string",
                                "description": "Product name."
                              },
                              "productType": {
                                "type": "string",
                                "description": "Product type."
                              },
                              "slug": {
                                "type": "string",
                                "description": "Store slug."
                              },
                              "trackingType": {
                                "type": "string",
                                "description": "Tracking type."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the product was last updated."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Product ID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Product relationships."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/booqable/latest/actions/get-customer": {
      "get": {
        "operationId": "booqable.get-customer",
        "summary": "Get Customer",
        "description": "Retrieves a customer from Booqable.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/booqable/latest/actions/get-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Customer ID.",
            "schema": {
              "type": "string",
              "description": "Customer ID."
            }
          },
          {
            "name": "fields.customers",
            "in": "query",
            "required": false,
            "description": "Comma-separated customer fields to include instead of the default field set.",
            "schema": {
              "type": "string",
              "description": "Comma-separated customer fields to include instead of the default field set."
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated relationships to sideload.",
            "schema": {
              "type": "string",
              "description": "Comma-separated relationships to sideload."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "archived": {
                                "type": "boolean",
                                "description": "Whether the customer is archived."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the customer was created."
                              },
                              "depositType": {
                                "type": "string",
                                "description": "Default deposit type."
                              },
                              "depositValue": {
                                "type": "number",
                                "description": "Default deposit value."
                              },
                              "discountPercentage": {
                                "type": "number",
                                "description": "Default discount percentage."
                              },
                              "email": {
                                "type": "string",
                                "description": "Customer email address."
                              },
                              "legalType": {
                                "type": "string",
                                "description": "Customer legal type."
                              },
                              "name": {
                                "type": "string",
                                "description": "Customer name."
                              },
                              "number": {
                                "type": "number",
                                "description": "Customer number."
                              },
                              "orderCount": {
                                "type": "number",
                                "description": "Number of orders."
                              },
                              "properties": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Custom properties."
                              },
                              "tagList": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Customer tags."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the customer was last updated."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Customer ID."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/booqable/latest/actions/get-item": {
      "get": {
        "operationId": "booqable.get-item",
        "summary": "Get Item",
        "description": "Retrieves an item from Booqable.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/booqable/latest/actions/get-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Item ID.",
            "schema": {
              "type": "string",
              "description": "Item ID."
            }
          },
          {
            "name": "fields.items",
            "in": "query",
            "required": false,
            "description": "Comma-separated item fields to include instead of the default field set.",
            "schema": {
              "type": "string",
              "description": "Comma-separated item fields to include instead of the default field set."
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated relationships to sideload.",
            "schema": {
              "type": "string",
              "description": "Comma-separated relationships to sideload."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "allowShortage": {
                                "type": "boolean",
                                "description": "Whether shortage is allowed."
                              },
                              "archived": {
                                "type": "boolean",
                                "description": "Whether the item is archived."
                              },
                              "basePriceInCents": {
                                "type": "number",
                                "description": "Base price in cents."
                              },
                              "bufferTimeAfter": {
                                "type": "number",
                                "description": "Post-rental buffer time."
                              },
                              "bufferTimeBefore": {
                                "type": "number",
                                "description": "Pre-rental buffer time."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the item was created."
                              },
                              "defaultPurchaseCostInCents": {
                                "type": "number",
                                "description": "Default purchase cost in cents."
                              },
                              "depositInCents": {
                                "type": "number",
                                "description": "Deposit in cents."
                              },
                              "description": {
                                "type": "string",
                                "description": "Full description."
                              },
                              "discountable": {
                                "type": "boolean",
                                "description": "Whether discounts are allowed."
                              },
                              "extraInformation": {
                                "type": "string",
                                "description": "Additional information."
                              },
                              "groupName": {
                                "type": "string",
                                "description": "Parent group name when applicable."
                              },
                              "hasVariations": {
                                "type": "boolean",
                                "description": "Whether the item has variations."
                              },
                              "name": {
                                "type": "string",
                                "description": "Item name."
                              },
                              "photoId": {
                                "type": "string",
                                "description": "Photo ID."
                              },
                              "pricePeriod": {
                                "type": "string",
                                "description": "Price period."
                              },
                              "priceType": {
                                "type": "string",
                                "description": "Price type."
                              },
                              "productType": {
                                "type": "string",
                                "description": "Product type."
                              },
                              "properties": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Custom properties."
                              },
                              "shortageLimit": {
                                "type": "number",
                                "description": "Shortage limit."
                              },
                              "showInStore": {
                                "type": "boolean",
                                "description": "Whether the item is visible in the store."
                              },
                              "sku": {
                                "type": "string",
                                "description": "SKU."
                              },
                              "slug": {
                                "type": "string",
                                "description": "Store slug."
                              },
                              "sortingWeight": {
                                "type": "number",
                                "description": "Sorting weight."
                              },
                              "tagList": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Item tags."
                              },
                              "taxable": {
                                "type": "boolean",
                                "description": "Whether the item is taxable."
                              },
                              "taxCategoryId": {
                                "type": "string",
                                "description": "Tax category ID."
                              },
                              "trackable": {
                                "type": "boolean",
                                "description": "Whether the item is trackable."
                              },
                              "trackingType": {
                                "type": "string",
                                "description": "Tracking type."
                              },
                              "type": {
                                "type": "string",
                                "description": "Underlying item subtype."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the item was last updated."
                              },
                              "variation": {
                                "type": "boolean",
                                "description": "Whether the item is a variation."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Item ID."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/booqable/latest/actions/get-new-order": {
      "get": {
        "operationId": "booqable.get-new-order",
        "summary": "Get New Order",
        "description": "Retrieves an existing or new order for the current employee in Booqable.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/booqable/latest/actions/get-new-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields.orders",
            "in": "query",
            "required": false,
            "description": "Comma-separated order fields to include instead of the default fields.",
            "schema": {
              "type": "string",
              "description": "Comma-separated order fields to include instead of the default fields.",
              "example": "created_at,updated_at,number",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated relationships to sideload.",
            "schema": {
              "type": "string",
              "description": "Comma-separated relationships to sideload.",
              "example": "barcode,coupon,customer",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order attributes object."
                          },
                          "id": {
                            "type": "string",
                            "description": "Order UUID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order relationships object."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/booqable/latest/actions/get-order": {
      "get": {
        "operationId": "booqable.get-order",
        "summary": "Get Order",
        "description": "Retrieves an order from Booqable.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/booqable/latest/actions/get-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The UUID of the order to fetch.",
            "schema": {
              "type": "string",
              "description": "The UUID of the order to fetch.",
              "example": "2e98315c-3f90-450a-b5b0-955bfb29e2eb"
            }
          },
          {
            "name": "fields.orders",
            "in": "query",
            "required": false,
            "description": "Comma-separated order fields to include instead of the default fields.",
            "schema": {
              "type": "string",
              "description": "Comma-separated order fields to include instead of the default fields.",
              "example": "created_at,updated_at,number",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated relationships to sideload.",
            "schema": {
              "type": "string",
              "description": "Comma-separated relationships to sideload.",
              "example": "barcode,coupon,customer",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order attributes object."
                          },
                          "id": {
                            "type": "string",
                            "description": "Order UUID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order relationships object."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/booqable/latest/actions/get-product": {
      "get": {
        "operationId": "booqable.get-product",
        "summary": "Get Product",
        "description": "Retrieves a product from Booqable.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/booqable/latest/actions/get-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Product ID.",
            "schema": {
              "type": "string",
              "description": "Product ID.",
              "example": "8f191698-6a00-445a-8b40-3f5449981539"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated relationships to sideload, for example barcode,inventory_levels,photo.",
            "schema": {
              "type": "string",
              "description": "Comma-separated relationships to sideload, for example barcode,inventory_levels,photo.",
              "example": "barcode,inventory_levels,photo",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "archived": {
                                "type": "boolean",
                                "description": "Whether the product is archived."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the product was created."
                              },
                              "name": {
                                "type": "string",
                                "description": "Product name."
                              },
                              "productType": {
                                "type": "string",
                                "description": "Product type."
                              },
                              "slug": {
                                "type": "string",
                                "description": "Store slug."
                              },
                              "trackingType": {
                                "type": "string",
                                "description": "Tracking type."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the product was last updated."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Product ID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Product relationships."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/booqable/latest/actions/get-product-availability": {
      "get": {
        "operationId": "booqable.get-product-availability",
        "summary": "Get Product Availability",
        "description": "Retrieves availability for a product in Booqable.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/booqable/latest/actions/get-product-availability"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields.availabilities",
            "in": "query",
            "required": false,
            "description": "Comma-separated availability fields to include instead of the default fields.",
            "schema": {
              "type": "string",
              "description": "Comma-separated availability fields to include instead of the default fields.",
              "example": "subject_type,subject_id,date,status,available",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "meta.total[]",
            "in": "query",
            "required": false,
            "description": "Aggregations to include in meta.total.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Aggregations to include in meta.total.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "month",
            "in": "query",
            "required": true,
            "description": "Calendar month to inspect.",
            "schema": {
              "type": "number",
              "description": "Calendar month to inspect.",
              "example": 4
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "Calendar year to inspect.",
            "schema": {
              "type": "number",
              "description": "Calendar year to inspect.",
              "example": 2026
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "description": "Product UUID to evaluate for booking availability.",
            "schema": {
              "type": "string",
              "description": "Product UUID to evaluate for booking availability.",
              "example": "6774b37c-a832-4868-8ae9-b9c90cb5c75e"
            }
          },
          {
            "name": "day",
            "in": "query",
            "required": false,
            "description": "Day of the month for time-based availability.",
            "schema": {
              "type": "number",
              "description": "Day of the month for time-based availability.",
              "example": 10,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "startsAt",
            "in": "query",
            "required": false,
            "description": "Start timestamp for time-based availability.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start timestamp for time-based availability.",
              "example": "2026-04-10 09:00:00",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "durationPeriod",
            "in": "query",
            "required": false,
            "description": "Time-slot duration period for day views.",
            "schema": {
              "type": "string",
              "description": "Time-slot duration period for day views.",
              "example": "day",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Minute interval for time-based availability.",
            "schema": {
              "type": "number",
              "description": "Minute interval for time-based availability.",
              "example": 60,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "useBusinessHours",
            "in": "query",
            "required": false,
            "description": "Limit time-based results to business hours.",
            "schema": {
              "type": "boolean",
              "description": "Limit time-based results to business hours.",
              "example": true,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "required": false,
            "description": "Location UUID to scope the availability query.",
            "schema": {
              "type": "string",
              "description": "Location UUID to scope the availability query.",
              "example": "158d5e18-4cbe-4e0b-8bc7-647b95797e14",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Availability details such as date, status, subject, and time granularity."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the availability record."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type, always availabilities."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/booqable/latest/actions/get-stock-item": {
      "get": {
        "operationId": "booqable.get-stock-item",
        "summary": "Get Stock Item",
        "description": "Retrieves a stock item from Booqable.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/booqable/latest/actions/get-stock-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Stock item ID.",
            "schema": {
              "type": "string",
              "description": "Stock item ID.",
              "example": "218c1f4b-3124-4718-86e3-fc4646fe5562"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated relationships to sideload, for example barcode,location,properties.",
            "schema": {
              "type": "string",
              "description": "Comma-separated relationships to sideload, for example barcode,location,properties.",
              "example": "barcode,location,properties",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "archived": {
                                "type": "boolean",
                                "description": "Whether the stock item is archived."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the stock item was created."
                              },
                              "identifier": {
                                "type": "string",
                                "description": "Stock item identifier."
                              },
                              "status": {
                                "type": "string",
                                "description": "Current stock item status."
                              },
                              "stockItemType": {
                                "type": "string",
                                "description": "Stock item type."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the stock item was last updated."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Stock item ID."
                          },
                          "relationships": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Stock item relationships."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/booqable/latest/actions/list-customers": {
      "get": {
        "operationId": "booqable.list-customers",
        "summary": "List Customers",
        "description": "Retrieves customer records from Booqable.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/booqable/latest/actions/list-customers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields.customers",
            "in": "query",
            "required": false,
            "description": "Comma-separated customer fields to include instead of the default field set.",
            "schema": {
              "type": "string",
              "description": "Comma-separated customer fields to include instead of the default field set."
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Field-qualified customer filters using Booqable filter syntax.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Field-qualified customer filters using Booqable filter syntax."
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated relationships to sideload.",
            "schema": {
              "type": "string",
              "description": "Comma-separated relationships to sideload."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "archived": {
                                "type": "boolean",
                                "description": "Whether the customer is archived."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the customer was created."
                              },
                              "depositType": {
                                "type": "string",
                                "description": "Default deposit type."
                              },
                              "depositValue": {
                                "type": "number",
                                "description": "Default deposit value."
                              },
                              "discountPercentage": {
                                "type": "number",
                                "description": "Default discount percentage."
                              },
                              "email": {
[...]
