{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Mediastack Universal API",
    "version": "0.0.3",
    "description": "Access worldwide live and historical news articles and news-source metadata from Mediastack's REST API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/mediastack/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/mediastack/latest/actions/search-historical-news": {
      "get": {
        "operationId": "mediastack.search-historical-news",
        "summary": "Search Historical News",
        "description": "Finds historical news articles in Mediastack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mediastack/latest/actions/search-historical-news"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Required historical date or date range, such as 2026-04-30 or 2026-04-01,2026-04-30.",
            "schema": {
              "type": "string",
              "description": "Required historical date or date range, such as 2026-04-30 or 2026-04-01,2026-04-30.",
              "example": "2026-04-30 or 2026-04-01,2026-04-30"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "description": "One or more comma-separated search keywords. Prefix a keyword with - to exclude it.",
            "schema": {
              "type": "string",
              "description": "One or more comma-separated search keywords. Prefix a keyword with - to exclude it.",
              "example": "tennis, economy, -rumor"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "description": "One or more comma-separated source codes, such as abc-news. Prefix a source code with - to exclude it.",
            "schema": {
              "type": "string",
              "description": "One or more comma-separated source codes, such as abc-news. Prefix a source code with - to exclude it.",
              "example": "cnn,-bbc",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "description": "One or more comma-separated categories. Prefix a category with - to exclude it.",
            "schema": {
              "type": "string",
              "description": "One or more comma-separated categories. Prefix a category with - to exclude it.",
              "example": "business,-sports"
            }
          },
          {
            "name": "countries",
            "in": "query",
            "required": false,
            "description": "One or more comma-separated 2-letter country codes. Prefix a country with - to exclude it.",
            "schema": {
              "type": "string",
              "description": "One or more comma-separated 2-letter country codes. Prefix a country with - to exclude it.",
              "example": "us,gb,-de"
            }
          },
          {
            "name": "languages",
            "in": "query",
            "required": false,
            "description": "One or more comma-separated 2-letter language codes. Prefix a language with - to exclude it.",
            "schema": {
              "type": "string",
              "description": "One or more comma-separated 2-letter language codes. Prefix a language with - to exclude it.",
              "example": "en,-de"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "image": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "published_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "source": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mediastack/latest/actions/search-news": {
      "get": {
        "operationId": "mediastack.search-news",
        "summary": "Search News",
        "description": "Finds news articles in Mediastack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mediastack/latest/actions/search-news"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "description": "One or more comma-separated search keywords. Prefix a keyword with - to exclude it.",
            "schema": {
              "type": "string",
              "description": "One or more comma-separated search keywords. Prefix a keyword with - to exclude it.",
              "example": "tennis, economy, -rumor"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "description": "One or more comma-separated source codes, such as abc-news. Prefix a source code with - to exclude it.",
            "schema": {
              "type": "string",
              "description": "One or more comma-separated source codes, such as abc-news. Prefix a source code with - to exclude it.",
              "example": "cnn,-bbc",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "description": "One or more comma-separated categories. Prefix a category with - to exclude it.",
            "schema": {
              "type": "string",
              "description": "One or more comma-separated categories. Prefix a category with - to exclude it.",
              "example": "business,-sports"
            }
          },
          {
            "name": "countries",
            "in": "query",
            "required": false,
            "description": "One or more comma-separated 2-letter country codes. Prefix a country with - to exclude it.",
            "schema": {
              "type": "string",
              "description": "One or more comma-separated 2-letter country codes. Prefix a country with - to exclude it.",
              "example": "us,gb,-de"
            }
          },
          {
            "name": "languages",
            "in": "query",
            "required": false,
            "description": "One or more comma-separated 2-letter language codes. Prefix a language with - to exclude it.",
            "schema": {
              "type": "string",
              "description": "One or more comma-separated 2-letter language codes. Prefix a language with - to exclude it.",
              "example": "en,-de"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Optional date or date range, such as 2026-04-30 or 2026-04-01,2026-04-30.",
            "schema": {
              "type": "string",
              "description": "Optional date or date range, such as 2026-04-30 or 2026-04-01,2026-04-30.",
              "example": "2026-04-30 or 2026-04-01,2026-04-30",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "image": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "published_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "source": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mediastack/latest/actions/search-news-sources": {
      "get": {
        "operationId": "mediastack.search-news-sources",
        "summary": "Search News Sources",
        "description": "Finds news sources in Mediastack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mediastack/latest/actions/search-news-sources"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": true,
            "description": "Required search keyword for matching news sources.",
            "schema": {
              "type": "string",
              "description": "Required search keyword for matching news sources.",
              "example": "abc"
            }
          },
          {
            "name": "countries",
            "in": "query",
            "required": false,
            "description": "One or more comma-separated 2-letter country codes. Prefix a country with - to exclude it.",
            "schema": {
              "type": "string",
              "description": "One or more comma-separated 2-letter country codes. Prefix a country with - to exclude it.",
              "example": "us,gb,-de"
            }
          },
          {
            "name": "languages",
            "in": "query",
            "required": false,
            "description": "One or more comma-separated 2-letter language codes. Prefix a language with - to exclude it.",
            "schema": {
              "type": "string",
              "description": "One or more comma-separated 2-letter language codes. Prefix a language with - to exclude it.",
              "example": "en,-de"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "description": "One or more comma-separated categories. Prefix a category with - to exclude it.",
            "schema": {
              "type": "string",
              "description": "One or more comma-separated categories. Prefix a category with - to exclude it.",
              "example": "general,technology"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string",
                            "description": "News category for the source."
                          },
                          "code": {
                            "type": "string",
                            "description": "Mediastack source code returned by the runtime response."
                          },
                          "country": {
                            "type": "string",
                            "description": "Two-letter source country code."
                          },
                          "language": {
                            "type": "string",
                            "description": "Two-letter source language code."
                          },
                          "name": {
                            "type": "string",
                            "description": "Display name of the news source."
                          },
                          "url": {
                            "type": "string",
                            "description": "Source website URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
