{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Extensiv Order Manager Universal API",
    "version": "0.0.4",
    "description": "Extensiv Order Manager, formerly Skubana, manages ecommerce orders, shipments, inventory, listings, and fulfillment operations through the Order Manager API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/extensiv/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/extensiv/latest/actions/create-external-shipment": {
      "post": {
        "operationId": "extensiv.create-external-shipment",
        "summary": "Create External Shipment",
        "description": "Creates an external shipment in Extensiv Order Manager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/extensiv/latest/actions/create-external-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "shipments[].shipMethod.shippingCarrier",
                  "shipments[].trackingNumber",
                  "shipments[].shipMethod",
                  "shipments[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "notifyCustomer": {
                    "type": "boolean"
                  },
                  "shipments[].carrierFee.amount": {
                    "type": "number"
                  },
                  "shipments[].shipMethod.shippingCarrier": {
                    "type": "string"
                  },
                  "shipments[].trackingNumber": {
                    "type": "string"
                  },
                  "shipments[].carrierFee.currency": {
                    "type": "string"
                  },
                  "shipments[].shipMethod": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipments[].shipMethod.packageTypeId": {
                    "type": "number"
                  },
                  "updateChannel": {
                    "type": "boolean"
                  },
                  "shipments[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "shipments[].carrierFee": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipments[].shipMethod.shippingServiceId": {
                    "type": "number"
                  },
                  "shipments[].deliveryStatus": {
                    "type": "string"
                  },
                  "shipments[].estimatedArrival": {
                    "type": "string"
                  },
                  "shipments[].insuranceTrackingNumber": {
                    "type": "string"
                  },
                  "shipments[].orderId": {
                    "type": "number"
                  },
                  "shipments[].orderNumber": {
                    "type": "string"
                  },
                  "shipments[].received": {
                    "type": "string"
                  },
                  "shipments[].salesChannelId": {
                    "type": "string"
                  },
                  "shipments[].shipDate": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "order": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order identifier object."
                          },
                          "orderBatchNumber": {
                            "type": "number",
                            "description": "Order batch number."
                          },
                          "processingMessage": {
                            "type": "string",
                            "description": "Processing message."
                          },
                          "shipment": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Created shipment object."
                          },
                          "status": {
                            "type": "string",
                            "description": "Shipment processing status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/extensiv/latest/actions/create-order": {
      "post": {
        "operationId": "extensiv.create-order",
        "summary": "Create Order",
        "description": "Creates orders in Extensiv Order Manager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/extensiv/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "insuranceCost",
                  "insuredValue",
                  "salesChannelId",
                  "shipAddress1",
                  "shipCity",
                  "shipCountry",
                  "shipName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amountPaid": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "amountPaid.amount": {
                    "type": "number"
                  },
                  "confirmationCost.amount": {
                    "type": "number"
                  },
                  "customFieldValues[].customFieldDefId": {
                    "type": "string"
                  },
                  "customsDeclarationItems.country": {
                    "type": "string"
                  },
                  "customsDeclarationItems.declaredValue.amount": {
                    "type": "number"
                  },
                  "customShipBilling.accountNumber": {
                    "type": "string"
                  },
                  "customShipBilling.codAmount.amount": {
                    "type": "number"
                  },
                  "discount.amount": {
                    "type": "number"
                  },
                  "insuranceCost.amount": {
                    "type": "number"
                  },
                  "insuredValue.amount": {
                    "type": "number"
                  },
                  "orderTotal.amount": {
                    "type": "number"
                  },
                  "shipMethod.ltlFtlShipment": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipMethod.ltlFtlShipment.boxCount": {
                    "type": "number"
                  },
                  "shipMethod.ltlFtlShipment.contact.email": {
                    "type": "string"
                  },
                  "shipMethod.ltlFtlShipment.pallets[].height": {
                    "type": "number"
                  },
                  "shipMethod.ltlFtlShipment.pallets[].packages[].height": {
                    "type": "number"
                  },
                  "shippingCost.amount": {
                    "type": "number"
                  },
                  "amountPaid.currency": {
                    "type": "string"
                  },
                  "billDutiesToPayor": {
                    "type": "boolean"
                  },
                  "confirmationCost.currency": {
                    "type": "string"
                  },
                  "customsDeclarationItems.declaredValue": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "customsDeclarationItems.declaredValue.currency": {
                    "type": "string"
                  },
                  "customShipBilling.billingZipCode": {
                    "type": "string"
                  },
                  "customShipBilling.codAmount.currency": {
                    "type": "string"
                  },
                  "discount.currency": {
                    "type": "string"
                  },
                  "insuranceCost.currency": {
                    "type": "string"
                  },
                  "insuredValue.currency": {
                    "type": "string"
                  },
                  "orderTotal.currency": {
                    "type": "string"
                  },
                  "shipMethod.ltlFtlShipment.contact": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipMethod.ltlFtlShipment.contact.fax": {
                    "type": "string"
                  },
                  "shipMethod.ltlFtlShipment.pallets[].id": {
                    "type": "number"
                  },
                  "shipMethod.ltlFtlShipment.pallets[].packages[].id": {
                    "type": "number"
                  },
                  "shipMethod.packageTypeId": {
                    "type": "number"
                  },
                  "shippingCost.currency": {
                    "type": "string"
                  },
                  "confirmationCost": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "customsDeclarationItems.description": {
                    "type": "string"
                  },
                  "customShipBilling.codAmount": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipMethod.ltlFtlShipment.contact.id": {
                    "type": "number"
                  },
                  "shipMethod.ltlFtlShipment.freightReadyDate": {
                    "type": "string"
                  },
                  "shipMethod.ltlFtlShipment.pallets[].length": {
                    "type": "number"
                  },
                  "shipMethod.ltlFtlShipment.pallets[].packages[].length": {
                    "type": "number"
                  },
                  "shipMethod.shippingCarrier": {
                    "type": "string"
                  },
                  "containsAlcohol": {
                    "type": "boolean"
                  },
                  "customsDeclarationItems.harmonizationCode": {
                    "type": "string"
                  },
                  "customShipBilling.country": {
                    "type": "string"
                  },
                  "shipMethod.ltlFtlShipment.contact.name": {
                    "type": "string"
                  },
                  "shipMethod.ltlFtlShipment.id": {
                    "type": "number"
                  },
                  "shipMethod.ltlFtlShipment.pallets[].packages[].packagingTypeId": {
                    "type": "number"
                  },
                  "shipMethod.ltlFtlShipment.pallets[].packagingType": {
                    "type": "string"
                  },
                  "shipMethod.shippingProviderId": {
                    "type": "number"
                  },
                  "containsDryIce": {
                    "type": "boolean"
                  },
                  "customsDeclarationItems.productId": {
                    "type": "number"
                  },
                  "shipMethod.ltlFtlShipment.contact.phone": {
                    "type": "string"
                  },
                  "shipMethod.ltlFtlShipment.liabilityCoverage": {
                    "type": "number"
                  },
                  "shipMethod.ltlFtlShipment.pallets[].packages[].width": {
                    "type": "number"
                  },
                  "shipMethod.ltlFtlShipment.pallets[].width": {
                    "type": "number"
                  },
                  "shipMethod.shippingServiceId": {
                    "type": "number"
                  },
                  "customField1": {
                    "type": "string"
                  },
                  "customsDeclarationItems.quantity": {
                    "type": "number"
                  },
                  "shipMethod.ltlFtlShipment.liabilityType": {
                    "type": "string"
                  },
                  "shipMethod.ltlFtlShipment.pallets[].packages[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "customField2": {
                    "type": "string"
                  },
                  "customsDeclarationItems.weight": {
                    "type": "number"
                  },
                  "shipMethod.ltlFtlShipment.measurementUnitId": {
                    "type": "number"
                  },
                  "customField3": {
                    "type": "string"
                  },
                  "customsDeclarationItems.weightUnit": {
                    "type": "string"
                  },
                  "shipMethod.ltlFtlShipment.pallets[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "customFieldValues[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "shipMethod.ltlFtlShipment.roleType": {
                    "type": "string"
                  },
                  "customShipBilling": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipMethod.ltlFtlShipment.sellerDeclaredValue": {
                    "type": "number"
                  },
                  "customShipBillingOption": {
                    "type": "string"
                  },
                  "shipMethod.ltlFtlShipment.sellerFreightClass": {
                    "type": "string"
                  },
                  "customsDeclarationItems": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipMethod.ltlFtlShipment.specialService": {
                    "type": "string"
                  },
                  "customsDeclarationType": {
                    "type": "string"
                  },
                  "shipMethod.ltlFtlShipment.totalWeight": {
                    "type": "number"
                  },
                  "deliveryConfirmation": {
                    "type": "string"
                  },
                  "discount": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "doNotPrepayPostage": {
                    "type": "boolean"
                  },
                  "dryIceWeight": {
                    "type": "number"
                  },
                  "gift": {
                    "type": "boolean"
                  },
                  "giftMessage": {
                    "type": "string"
                  },
                  "height": {
                    "type": "number"
                  },
                  "holdUntilDate": {
                    "type": "string"
                  },
                  "includeReturnLabel": {
                    "type": "boolean"
                  },
                  "insuranceCost": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "insuranceProvider": {
                    "type": "string"
                  },
                  "insuredValue": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "internalNotes": {
                    "type": "string"
                  },
                  "length": {
                    "type": "number"
                  },
                  "nonMachinable": {
                    "type": "boolean"
                  },
                  "notesFromBuyer": {
                    "type": "string"
                  },
                  "notesToBuyer": {
                    "type": "string"
                  },
                  "orderDate": {
                    "type": "string"
                  },
                  "orderItems[]": {
                    "type": "array",
                    "items": {}
                  },
                  "orderNumber": {
                    "type": "string"
                  },
                  "orderTotal": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "paymentDate": {
                    "type": "string"
                  },
                  "receiveByDate": {
                    "type": "string"
                  },
                  "releaseWithoutSignature": {
                    "type": "boolean"
                  },
                  "requestedShippingService": {
                    "type": "string"
                  },
                  "salesChannelId": {
                    "type": "number"
                  },
                  "saturdayDelivery": {
                    "type": "boolean"
                  },
                  "shipAddress1": {
                    "type": "string"
                  },
                  "shipAddress2": {
                    "type": "string"
                  },
                  "shipAddress3": {
                    "type": "string"
                  },
                  "shipByDate": {
                    "type": "string"
                  },
                  "shipCity": {
                    "type": "string"
                  },
                  "shipCompany": {
                    "type": "string"
                  },
                  "shipCountry": {
                    "type": "string"
                  },
                  "shipEmail": {
                    "type": "string"
                  },
                  "shipMethod": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipName": {
                    "type": "string"
                  },
                  "shipPhone": {
                    "type": "string"
                  },
                  "shipState": {
                    "type": "string"
                  },
                  "shipZipCode": {
                    "type": "string"
                  },
                  "shippingCost": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "showPostage": {
                    "type": "boolean"
                  },
                  "suppressChannelUpdate": {
                    "type": "boolean"
                  },
                  "weight": {
                    "type": "number"
                  },
                  "width": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ids": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Created order identifiers."
                          },
                          "message": {
                            "type": "string",
                            "description": "Create order result message."
                          },
                          "orders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Created order result records."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/extensiv/latest/actions/create-standard-shipment": {
      "post": {
        "operationId": "extensiv.create-standard-shipment",
        "summary": "Create Standard Shipment",
        "description": "Creates a standard shipment in Extensiv Order Manager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/extensiv/latest/actions/create-standard-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "orderIds[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "completeBatchAndDiscardFailedOrders": {
                    "type": "boolean"
                  },
                  "orderBatchNumber": {
                    "type": "number"
                  },
                  "orderIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Validation errors returned by the API."
                          },
                          "message": {
                            "type": "string",
                            "description": "Bulk create result message."
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Bulk create result records."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/extensiv/latest/actions/get-order": {
      "get": {
        "operationId": "extensiv.get-order",
        "summary": "Get Order",
        "description": "Retrieves an order from Extensiv Order Manager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/extensiv/latest/actions/get-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orderDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Order date."
                          },
                          "orderId": {
                            "type": "number",
                            "description": "Order identifier."
                          },
                          "orderNumber": {
                            "type": "string",
                            "description": "Order number."
                          },
                          "orderTotal": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order total amount object."
                          },
                          "salesChannelId": {
                            "type": "number",
                            "description": "Sales channel identifier."
                          },
                          "status": {
                            "type": "string",
                            "description": "Order status."
                          },
                          "warehouseId": {
                            "type": "number",
                            "description": "Warehouse identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/extensiv/latest/actions/list-orders": {
      "get": {
        "operationId": "extensiv.list-orders",
        "summary": "List Orders",
        "description": "Retrieves orders from Extensiv Order Manager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/extensiv/latest/actions/list-orders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdDateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdDateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "modifiedDateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modifiedDateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderDateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderDateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "orderNumber[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "paymentDateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentDateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "salesChannelId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "shipDateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shipDateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "unresolvedStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "warehouseId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orderDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Order date."
                          },
                          "orderId": {
                            "type": "number",
                            "description": "Order identifier."
                          },
                          "orderNumber": {
                            "type": "string",
                            "description": "Order number."
                          },
                          "orderTotal": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order total amount object."
                          },
                          "salesChannelId": {
                            "type": "number",
                            "description": "Sales channel identifier."
                          },
                          "status": {
                            "type": "string",
                            "description": "Order status."
                          },
                          "warehouseId": {
                            "type": "number",
                            "description": "Warehouse identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/extensiv/latest/actions/list-product-listings": {
      "get": {
        "operationId": "extensiv.list-product-listings",
        "summary": "List Product Listings",
        "description": "Retrieves product listings from Extensiv Order Manager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/extensiv/latest/actions/list-product-listings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "createdDateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdDateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listingId[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "listingSku[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "masterSku[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "modifiedDateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modifiedDateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {}
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "salesChannelId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "warehouseId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Whether the listing is active."
                          },
                          "listingId": {
                            "type": "number",
                            "description": "Product listing identifier."
                          },
                          "listingSku": {
                            "type": "string",
                            "description": "Listing SKU."
                          },
                          "masterSku": {
                            "type": "string",
                            "description": "Master SKU."
                          },
                          "productId": {
                            "type": "number",
                            "description": "Product identifier."
                          },
                          "salesChannelId": {
                            "type": "number",
                            "description": "Sales channel identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/extensiv/latest/actions/list-shipments": {
      "get": {
        "operationId": "extensiv.list-shipments",
        "summary": "List Shipments",
        "description": "Retrieves shipments from Extensiv Order Manager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/extensiv/latest/actions/list-shipments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "batchNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deliveryStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "orderNumber[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "recipient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "salesChannelId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "shipmentCreatedFromDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shipmentCreatedToDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shipmentFromDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shipmentId[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "shipmentToDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shippingProviderId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trackingNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "warehouseId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deliveryStatus": {
                            "type": "string",
                            "description": "Delivery status."
                          },
                          "orderId": {
                            "type": "number",
                            "description": "Order identifier."
                          },
                          "orderNumber": {
                            "type": "string",
                            "description": "Order number."
                          },
                          "shipDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Shipment date."
                          },
                          "shipmentId": {
                            "type": "number",
                            "description": "Shipment identifier."
                          },
                          "trackingNumber": {
                            "type": "string",
                            "description": "Carrier tracking number."
                          },
                          "warehouseId": {
                            "type": "number",
                            "description": "Warehouse identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/extensiv/latest/actions/update-orders": {
      "post": {
        "operationId": "extensiv.update-orders",
        "summary": "Update Orders",
        "description": "Updates orders in Extensiv Order Manager.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/extensiv/latest/actions/update-orders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amountPaid": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "amountPaid.amount": {
                    "type": "number"
                  },
                  "customShipBilling.accountNumber": {
                    "type": "string"
                  },
                  "customShipBilling.codAmount.amount": {
                    "type": "number"
                  },
                  "fulfillmentSource.name": {
                    "type": "string"
                  },
                  "orderIdentifier.orderId": {
                    "type": "number"
                  },
                  "shipMethod.ltlFtlShipment": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Less Than Truckload Full Truckload Shipment"
                  },
                  "shipMethod.ltlFtlShipment.boxCount": {
                    "type": "number"
                  },
                  "amountPaid.currency": {
                    "type": "string"
                  },
                  "customField1": {
                    "type": "string"
                  },
                  "customShipBilling.billingZipCode": {
                    "type": "string"
                  },
                  "customShipBilling.codAmount.currency": {
                    "type": "string"
                  },
                  "fulfillmentSource.warehouseId": {
                    "type": "number"
                  },
                  "orderIdentifier.orderNumber": {
                    "type": "string"
                  },
                  "shipMethod.ltlFtlShipment.freightReadyDate": {
                    "type": "string"
                  },
                  "shipMethod.shippingCarrier": {
                    "type": "string"
                  },
                  "customField2": {
                    "type": "string"
                  },
                  "customShipBilling.codAmount": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "orderIdentifier.salesChannelId": {
                    "type": "number"
                  },
                  "shipMethod.ltlFtlShipment.id": {
                    "type": "number"
                  },
                  "shipMethod.shippingProviderId": {
                    "type": "number"
                  },
                  "customField3": {
                    "type": "string"
                  },
                  "customShipBilling.country": {
                    "type": "string"
                  },
                  "shipMethod.ltlFtlShipment.liabilityCoverage": {
                    "type": "number"
                  },
                  "shipMethod.shippingServiceId": {
                    "type": "number"
                  },
                  "customShipBilling": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipMethod.ltlFtlShipment.liabilityType": {
                    "type": "string"
                  },
                  "shipMethod.packageTypeId": {
                    "type": "number"
                  },
                  "customShipBillingOption": {
                    "type": "string"
                  },
                  "shipMethod.ltlFtlShipment.measurementUnitId": {
                    "type": "number"
                  },
                  "fulfillmentSource": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "gift": {
                    "type": "boolean"
                  },
                  "giftMessage": {
                    "type": "string"
                  },
                  "height": {
                    "type": "number"
                  },
                  "internalNotes": {
                    "type": "string"
                  },
                  "length": {
                    "type": "number"
                  },
                  "orderIdentifier": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "paymentDate": {
                    "type": "string"
                  },
                  "receiveByDate": {
                    "type": "string"
                  },
                  "shipAddress1": {
                    "type": "string"
                  },
                  "shipAddress2": {
                    "type": "string"
                  },
                  "shipAddress3": {
                    "type": "string"
                  },
                  "shipByDate": {
                    "type": "string"
                  },
                  "shipCity": {
                    "type": "string"
                  },
                  "shipCompany": {
                    "type": "string"
                  },
                  "shipCountry": {
                    "type": "string"
                  },
                  "shipMethod": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipName": {
                    "type": "string"
                  },
                  "shipPhone": {
                    "type": "string"
                  },
                  "shipState": {
                    "type": "string"
                  },
                  "shipZipCode": {
                    "type": "string"
                  },
                  "weight": {
                    "type": "number"
                  },
                  "width": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Validation errors returned by the API."
                          },
                          "message": {
                            "type": "string",
                            "description": "Bulk update result message."
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Bulk update result records."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
