{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Blueink Universal API",
    "version": "0.0.7",
    "description": "Send, sign, and manage eSignature bundles and templates"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/blueink/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/blueink/latest/actions/add-bundle-tags": {
      "put": {
        "operationId": "blueink.add-bundle-tags",
        "summary": "Add Bundle Tags",
        "description": "Adds tags to a Blueink bundle.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueink/latest/actions/add-bundle-tags"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "bundleSlug",
                  "tags[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "bundleSlug": {
                    "type": "string",
                    "description": "Bundle slug to add tags to."
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to add to the bundle."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ccSender": {
                            "type": "boolean"
                          },
                          "completedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customKey": {
                            "type": "string"
                          },
                          "customText": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "order": {
                                  "type": "number"
                                },
                                "templateId": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "emailFooter": {
                            "type": "string"
                          },
                          "emailMessage": {
                            "type": "string"
                          },
                          "emailSubject": {
                            "type": "string"
                          },
                          "expires": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "inOrder": {
                            "type": "boolean"
                          },
                          "isTest": {
                            "type": "boolean"
                          },
                          "label": {
                            "type": "string"
                          },
                          "packets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "authId": {
                                  "type": "boolean"
                                },
                                "authSelfie": {
                                  "type": "boolean"
                                },
                                "authSms": {
                                  "type": "boolean"
                                },
                                "completedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "deliverVia": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "key": {
                                  "type": "string"
                                },
                                "lastAccessedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "order": {
                                  "type": "number"
                                },
                                "personId": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "signingCompleteRedirect": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "suppressAll": {
                                  "type": "boolean"
                                },
                                "suppressDocsReady": {
                                  "type": "boolean"
                                },
                                "suppressReminder": {
                                  "type": "boolean"
                                },
                                "suppressSigning": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "reminderExpires": {
                            "type": "number"
                          },
                          "reminderInterval": {
                            "type": "number"
                          },
                          "reminderOffset": {
                            "type": "number"
                          },
                          "requesterEmail": {
                            "type": "string"
                          },
                          "requesterName": {
                            "type": "string"
                          },
                          "sendReminders": {
                            "type": "boolean"
                          },
                          "sent": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "smsMessage": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueink/latest/actions/cancel-bundle": {
      "put": {
        "operationId": "blueink.cancel-bundle",
        "summary": "Cancel Bundle",
        "description": "Cancels an existing bundle in Blueink.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueink/latest/actions/cancel-bundle"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "bundleSlug"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "bundleSlug": {
                    "type": "string",
                    "description": "Bundle slug to cancel."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ccSender": {
                            "type": "boolean"
                          },
                          "completedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customKey": {
                            "type": "string"
                          },
                          "customText": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "order": {
                                  "type": "number"
                                },
                                "templateId": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "emailFooter": {
                            "type": "string"
                          },
                          "emailMessage": {
                            "type": "string"
                          },
                          "emailSubject": {
                            "type": "string"
                          },
                          "expires": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "inOrder": {
                            "type": "boolean"
                          },
                          "isTest": {
                            "type": "boolean"
                          },
                          "label": {
                            "type": "string"
                          },
                          "packets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "authId": {
                                  "type": "boolean"
                                },
                                "authSelfie": {
                                  "type": "boolean"
                                },
                                "authSms": {
                                  "type": "boolean"
                                },
                                "completedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "deliverVia": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "key": {
                                  "type": "string"
                                },
                                "lastAccessedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "order": {
                                  "type": "number"
                                },
                                "personId": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "signingCompleteRedirect": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "suppressAll": {
                                  "type": "boolean"
                                },
                                "suppressDocsReady": {
                                  "type": "boolean"
                                },
                                "suppressReminder": {
                                  "type": "boolean"
                                },
                                "suppressSigning": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "reminderExpires": {
                            "type": "number"
                          },
                          "reminderInterval": {
                            "type": "number"
                          },
                          "reminderOffset": {
                            "type": "number"
                          },
                          "requesterEmail": {
                            "type": "string"
                          },
                          "requesterName": {
                            "type": "string"
                          },
                          "sendReminders": {
                            "type": "boolean"
                          },
                          "sent": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "smsMessage": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueink/latest/actions/create-bundle": {
      "post": {
        "operationId": "blueink.create-bundle",
        "summary": "Create Bundle",
        "description": "Creates a new bundle in Blueink.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueink/latest/actions/create-bundle"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "packets[].key",
                  "packets[].name",
                  "packets[].email",
                  "documents[].template_id",
                  "documents[].assignments[].role",
                  "documents[].assignments[].signer"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "isTest": {
                    "type": "boolean",
                    "description": "Create the bundle as a test bundle."
                  },
                  "status": {
                    "type": "string",
                    "description": "Use dr to create a draft bundle without sending it."
                  },
                  "packets[].key": {
                    "type": "string",
                    "description": "Unique signer key for the bundle."
                  },
                  "packets[].name": {
                    "type": "string",
                    "description": "Name of the signer."
                  },
                  "packets[].email": {
                    "type": "string",
                    "description": "Email address of the signer."
                  },
                  "documents[].template_id": {
                    "type": "string",
                    "description": "Document template ID to include in the bundle."
                  },
                  "documents[].assignments[].role": {
                    "type": "string",
                    "description": "Template role to assign."
                  },
                  "documents[].assignments[].signer": {
                    "type": "string",
                    "description": "Signer key to bind to the template role."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ccSender": {
                            "type": "boolean"
                          },
                          "completedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customKey": {
                            "type": "string"
                          },
                          "customText": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "order": {
                                  "type": "number"
                                },
                                "templateId": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "emailFooter": {
                            "type": "string"
                          },
                          "emailMessage": {
                            "type": "string"
                          },
                          "emailSubject": {
                            "type": "string"
                          },
                          "expires": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "inOrder": {
                            "type": "boolean"
                          },
                          "isTest": {
                            "type": "boolean"
                          },
                          "label": {
                            "type": "string"
                          },
                          "packets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "authId": {
                                  "type": "boolean"
                                },
                                "authSelfie": {
                                  "type": "boolean"
                                },
                                "authSms": {
                                  "type": "boolean"
                                },
                                "completedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "deliverVia": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "key": {
                                  "type": "string"
                                },
                                "lastAccessedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "order": {
                                  "type": "number"
                                },
                                "personId": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "signingCompleteRedirect": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "suppressAll": {
                                  "type": "boolean"
                                },
                                "suppressDocsReady": {
                                  "type": "boolean"
                                },
                                "suppressReminder": {
                                  "type": "boolean"
                                },
                                "suppressSigning": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "reminderExpires": {
                            "type": "number"
                          },
                          "reminderInterval": {
                            "type": "number"
                          },
                          "reminderOffset": {
                            "type": "number"
                          },
                          "requesterEmail": {
                            "type": "string"
                          },
                          "requesterName": {
                            "type": "string"
                          },
                          "sendReminders": {
                            "type": "boolean"
                          },
                          "sent": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "smsMessage": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueink/latest/actions/create-bundle-from-envelope-template": {
      "post": {
        "operationId": "blueink.create-bundle-from-envelope-template",
        "summary": "Create Bundle from Envelope Template",
        "description": "Creates a Blueink bundle from an envelope template.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueink/latest/actions/create-bundle-from-envelope-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "envelope_template.template_id",
                  "packets[].key",
                  "packets[].name",
                  "packets[].email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "label": {
                    "type": "string",
                    "description": "A label to help you identify this Bundle"
                  },
                  "isTest": {
                    "type": "boolean",
                    "description": "Set to true while the integration is under development"
                  },
                  "status": {
                    "type": "string",
                    "description": "Leave blank to send normally or use dr to create a draft bundle"
                  },
                  "envelope_template.template_id": {
                    "type": "string",
                    "description": "The envelope template identifier to instantiate"
                  },
                  "packets[].key": {
                    "type": "string",
                    "description": "The signer role key from the envelope template"
                  },
                  "packets[].name": {
                    "type": "string",
                    "description": "The recipient name for this packet"
                  },
                  "packets[].email": {
                    "type": "string",
                    "description": "The recipient email address for this packet"
                  },
                  "packets[].phone": {
                    "type": "string",
                    "description": "The recipient phone number for this packet when SMS delivery or SMS auth is used"
                  },
                  "packets[].deliver_via": {
                    "type": "string",
                    "description": "How Blueink should deliver the signing request"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ccSender": {
                            "type": "boolean"
                          },
                          "completedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customKey": {
                            "type": "string"
                          },
                          "customText": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "order": {
                                  "type": "number"
                                },
                                "templateId": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "emailFooter": {
                            "type": "string"
                          },
                          "emailMessage": {
                            "type": "string"
                          },
                          "emailSubject": {
                            "type": "string"
                          },
                          "expires": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "inOrder": {
                            "type": "boolean"
                          },
                          "isTest": {
                            "type": "boolean"
                          },
                          "label": {
                            "type": "string"
                          },
                          "packets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "authId": {
                                  "type": "boolean"
                                },
                                "authSelfie": {
                                  "type": "boolean"
                                },
                                "authSms": {
                                  "type": "boolean"
                                },
                                "completedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "deliverVia": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "key": {
                                  "type": "string"
                                },
                                "lastAccessedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "order": {
                                  "type": "number"
                                },
                                "personId": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "signingCompleteRedirect": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "suppressAll": {
                                  "type": "boolean"
                                },
                                "suppressDocsReady": {
                                  "type": "boolean"
                                },
                                "suppressReminder": {
                                  "type": "boolean"
                                },
                                "suppressSigning": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "reminderExpires": {
                            "type": "number"
                          },
                          "reminderInterval": {
                            "type": "number"
                          },
                          "reminderOffset": {
                            "type": "number"
                          },
                          "requesterEmail": {
                            "type": "string"
                          },
                          "requesterName": {
                            "type": "string"
                          },
                          "sendReminders": {
                            "type": "boolean"
                          },
                          "sent": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "smsMessage": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueink/latest/actions/create-embedded-signing-url": {
      "post": {
        "operationId": "blueink.create-embedded-signing-url",
        "summary": "Create Embedded Signing URL",
        "description": "Creates an embedded signing URL for a Blueink packet.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueink/latest/actions/create-embedded-signing-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "packetId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "packetId": {
                    "type": "string",
                    "description": "Packet ID to generate an embedded signing URL for."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "expires": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueink/latest/actions/create-person": {
      "post": {
        "operationId": "blueink.create-person",
        "summary": "Create Person",
        "description": "Creates a new person in Blueink.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueink/latest/actions/create-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "channels[].kind",
                  "channels[].email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the person to create."
                  },
                  "channels[].kind": {
                    "type": "string",
                    "description": "Contact channel type. Use em for email."
                  },
                  "channels[].email": {
                    "type": "string",
                    "description": "Email address for the contact channel."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "channels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "email": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "kind": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "isUser": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueink/latest/actions/delete-person": {
      "delete": {
        "operationId": "blueink.delete-person",
        "summary": "Delete Person",
        "description": "Deletes an existing person from Blueink.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueink/latest/actions/delete-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "personId",
            "in": "query",
            "required": true,
            "description": "Person ID to delete.",
            "schema": {
              "type": "string",
              "description": "Person ID to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueink/latest/actions/list-bundle-events": {
      "get": {
        "operationId": "blueink.list-bundle-events",
        "summary": "List Bundle Events",
        "description": "Retrieves event history for a Blueink bundle.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueink/latest/actions/list-bundle-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bundleSlug",
            "in": "query",
            "required": true,
            "description": "Bundle slug to inspect events for.",
            "schema": {
              "type": "string",
              "description": "Bundle slug to inspect events for."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string"
                          },
                          "kind": {
                            "type": "string"
                          },
                          "packetId": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueink/latest/actions/list-bundles": {
      "get": {
        "operationId": "blueink.list-bundles",
        "summary": "List Bundles",
        "description": "Retrieves bundles from your Blueink account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueink/latest/actions/list-bundles"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search bundle slug, label, custom key, signer name, email, or phone.",
            "schema": {
              "type": "string",
              "description": "Search bundle slug, label, custom key, signer name, email, or phone."
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusIn",
            "in": "query",
            "required": false,
            "description": "Comma-separated bundle statuses to include.",
            "schema": {
              "type": "string",
              "description": "Comma-separated bundle statuses to include."
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagIn",
            "in": "query",
            "required": false,
            "description": "Comma-separated tags; bundles with any listed tag match.",
            "schema": {
              "type": "string",
              "description": "Comma-separated tags; bundles with any listed tag match."
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "required": false,
            "description": "Sort by created, sent, or completed_at. Prefix with - for descending order.",
            "schema": {
              "type": "string",
              "description": "Sort by created, sent, or completed_at. Prefix with - for descending order."
            }
          },
          {
            "name": "template",
            "in": "query",
            "required": false,
            "description": "Filter bundles created from a specific template ID.",
            "schema": {
              "type": "string",
              "description": "Filter bundles created from a specific template ID."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ccSender": {
                            "type": "boolean"
                          },
                          "completedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customKey": {
                            "type": "string"
                          },
                          "customText": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "order": {
                                  "type": "number"
                                },
                                "templateId": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "emailFooter": {
                            "type": "string"
                          },
                          "emailMessage": {
                            "type": "string"
                          },
                          "emailSubject": {
                            "type": "string"
                          },
                          "expires": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "inOrder": {
                            "type": "boolean"
                          },
                          "isTest": {
                            "type": "boolean"
                          },
                          "label": {
                            "type": "string"
                          },
                          "packets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "authId": {
                                  "type": "boolean"
                                },
                                "authSelfie": {
                                  "type": "boolean"
                                },
                                "authSms": {
                                  "type": "boolean"
                                },
                                "completedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "deliverVia": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "key": {
                                  "type": "string"
                                },
                                "lastAccessedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "order": {
                                  "type": "number"
                                },
                                "personId": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "signingCompleteRedirect": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "suppressAll": {
                                  "type": "boolean"
                                },
                                "suppressDocsReady": {
                                  "type": "boolean"
                                },
                                "suppressReminder": {
                                  "type": "boolean"
                                },
                                "suppressSigning": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "reminderExpires": {
                            "type": "number"
                          },
                          "reminderInterval": {
                            "type": "number"
                          },
                          "reminderOffset": {
                            "type": "number"
                          },
                          "requesterEmail": {
                            "type": "string"
                          },
                          "requesterName": {
                            "type": "string"
                          },
                          "sendReminders": {
                            "type": "boolean"
                          },
                          "sent": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "smsMessage": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueink/latest/actions/list-document-templates": {
      "get": {
        "operationId": "blueink.list-document-templates",
        "summary": "List Document Templates",
        "description": "Retrieves available document templates from Blueink.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueink/latest/actions/list-document-templates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "defaultValue": {
                                  "type": "string"
                                },
                                "editorRoles": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "format": {
                                  "type": "string"
                                },
                                "h": {
                                  "type": "number"
                                },
                                "key": {
                                  "type": "string"
                                },
                                "kind": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                },
                                "page": {
                                  "type": "number"
                                },
                                "vMax": {
                                  "type": "number"
                                },
                                "vMin": {
                                  "type": "number"
                                },
                                "vPattern": {
                                  "type": "string"
                                },
                                "w": {
                                  "type": "number"
                                },
                                "x": {
                                  "type": "number"
                                },
                                "y": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "fileUrl": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isShared": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
[...]
