{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "BlueSnap Universal API",
    "version": "0.0.5",
    "description": "BlueSnap is a global payment platform for processing card and alternative payments through the BlueSnap Payment API and related merchant services."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/blueSnap/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/blueSnap/latest/actions/capture-authorized-transaction": {
      "put": {
        "operationId": "blueSnap.capture-authorized-transaction",
        "summary": "Capture Authorized Transaction",
        "description": "Captures an authorized BlueSnap transaction.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueSnap/latest/actions/capture-authorized-transaction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "transactionId",
                  "amount",
                  "currency",
                  "cardTransactionType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "transactionId": {
                    "type": "string",
                    "description": "Authorized transaction ID to capture."
                  },
                  "amount": {
                    "type": "string",
                    "description": "Amount to capture."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Capture currency, e.g. USD."
                  },
                  "cardTransactionType": {
                    "type": "string",
                    "description": "Use CAPTURE for this action.",
                    "default": "CAPTURE"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number",
                            "description": "Captured amount."
                          },
                          "cardTransactionType": {
                            "type": "string",
                            "description": "Card transaction type."
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency."
                          },
                          "openToCapture": {
                            "type": "number",
                            "description": "Remaining open-to-capture amount."
                          },
                          "processingInfo": {
                            "type": "object",
                            "properties": {
                              "processingStatus": {
                                "type": "string",
                                "description": "Processing status."
                              }
                            },
                            "additionalProperties": false
                          },
                          "transactionId": {
                            "type": "string",
                            "description": "Transaction ID."
                          },
                          "vaultedShopperId": {
                            "type": "number",
                            "description": "Vaulted shopper ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueSnap/latest/actions/create-plan": {
      "post": {
        "operationId": "blueSnap.create-plan",
        "summary": "Create Plan",
        "description": "Creates a plan in BlueSnap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueSnap/latest/actions/create-plan"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "chargeFrequency",
                  "currency",
                  "recurringChargeAmount"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the billing plan."
                  },
                  "chargeFrequency": {
                    "type": "string",
                    "description": "Charge frequency, e.g. MONTHLY.",
                    "default": "MONTHLY"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code (ISO 4217), e.g. USD.",
                    "default": "USD"
                  },
                  "recurringChargeAmount": {
                    "type": "string",
                    "description": "Recurring amount to charge.",
                    "default": "19.99"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chargeFrequency": {
                            "type": "string",
                            "description": "Charge frequency."
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency."
                          },
                          "name": {
                            "type": "string",
                            "description": "Plan name."
                          },
                          "planId": {
                            "type": "number",
                            "description": "Plan ID."
                          },
                          "recurringChargeAmount": {
                            "type": "number",
                            "description": "Recurring charge amount."
                          },
                          "status": {
                            "type": "string",
                            "description": "Plan status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueSnap/latest/actions/create-subscription": {
      "post": {
        "operationId": "blueSnap.create-subscription",
        "summary": "Create Subscription",
        "description": "Creates a subscription in BlueSnap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueSnap/latest/actions/create-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "planId",
                  "vaultedShopperId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "planId": {
                    "type": "string",
                    "description": "Billing plan ID for the subscription."
                  },
                  "vaultedShopperId": {
                    "type": "string",
                    "description": "Vaulted shopper ID to attach to the subscription."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "charge": {
                            "type": "object",
                            "properties": {
                              "chargeId": {
                                "type": "number",
                                "description": "Initial charge ID."
                              },
                              "transactionId": {
                                "type": "string",
                                "description": "Initial charge transaction ID."
                              }
                            },
                            "additionalProperties": false
                          },
                          "chargeFrequency": {
                            "type": "string",
                            "description": "Charge frequency."
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency."
                          },
                          "nextChargeDate": {
                            "type": "string",
                            "description": "Next charge date."
                          },
                          "planId": {
                            "type": "number",
                            "description": "Plan ID."
                          },
                          "quantity": {
                            "type": "number",
                            "description": "Subscription quantity."
                          },
                          "recurringChargeAmount": {
                            "type": "number",
                            "description": "Recurring amount."
                          },
                          "status": {
                            "type": "string",
                            "description": "Subscription status."
                          },
                          "subscriptionId": {
                            "type": "number",
                            "description": "Subscription ID."
                          },
                          "vaultedShopperId": {
                            "type": "number",
                            "description": "Vaulted shopper ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueSnap/latest/actions/create-transaction": {
      "post": {
        "operationId": "blueSnap.create-transaction",
        "summary": "Create Transaction",
        "description": "Creates a transaction in BlueSnap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueSnap/latest/actions/create-transaction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number",
                            "description": "Transaction amount."
                          },
                          "cardTransactionType": {
                            "type": "string",
                            "description": "Card transaction type."
                          },
                          "creditCard": {
                            "type": "object",
                            "properties": {
                              "cardLastFourDigits": {
                                "type": "string",
                                "description": "Card last four digits."
                              },
                              "cardType": {
                                "type": "string",
                                "description": "Card type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency."
                          },
                          "networkTransactionInfo": {
                            "type": "object",
                            "properties": {
                              "networkTransactionId": {
                                "type": "string",
                                "description": "Network transaction ID."
                              }
                            },
                            "additionalProperties": false
                          },
                          "processingInfo": {
                            "type": "object",
                            "properties": {
                              "processingStatus": {
                                "type": "string",
                                "description": "Processing status."
                              }
                            },
                            "additionalProperties": false
                          },
                          "softDescriptor": {
                            "type": "string",
                            "description": "Soft descriptor."
                          },
                          "transactionId": {
                            "type": "string",
                            "description": "Transaction ID."
                          },
                          "usdAmount": {
                            "type": "number",
                            "description": "USD amount."
                          },
                          "vaultedShopperId": {
                            "type": "number",
                            "description": "Vaulted shopper ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueSnap/latest/actions/create-vaulted-shopper": {
      "post": {
        "operationId": "blueSnap.create-vaulted-shopper",
        "summary": "Create Vaulted Shopper",
        "description": "Creates a vaulted shopper in BlueSnap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueSnap/latest/actions/create-vaulted-shopper"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dateCreated": {
                            "type": "string",
                            "description": "Creation date."
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "First name."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Last name."
                          },
                          "shopperCurrency": {
                            "type": "string",
                            "description": "Shopper currency."
                          },
                          "timeCreated": {
                            "type": "string",
                            "description": "Creation time."
                          },
                          "vaultedShopperId": {
                            "type": "number",
                            "description": "Vaulted shopper ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueSnap/latest/actions/delete-vaulted-shopper": {
      "delete": {
        "operationId": "blueSnap.delete-vaulted-shopper",
        "summary": "Delete Vaulted Shopper",
        "description": "Deletes a vaulted shopper from BlueSnap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueSnap/latest/actions/delete-vaulted-shopper"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vaultedShopperId",
            "in": "query",
            "required": true,
            "description": "ID of the vaulted shopper to delete.",
            "schema": {
              "type": "string",
              "description": "ID of the vaulted shopper to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Delete request status message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueSnap/latest/actions/list-plans": {
      "get": {
        "operationId": "blueSnap.list-plans",
        "summary": "List Plans",
        "description": "Retrieves plans from BlueSnap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueSnap/latest/actions/list-plans"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Return plans after this plan ID.",
            "schema": {
              "type": "string",
              "description": "Return plans after this plan ID."
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Return plans before this plan ID.",
            "schema": {
              "type": "string",
              "description": "Return plans before this plan ID."
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Number of results to return.",
            "schema": {
              "type": "string",
              "description": "Number of results to return.",
              "default": "10"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by plan status.",
            "schema": {
              "type": "string",
              "description": "Filter by plan status."
            }
          },
          {
            "name": "gettotal",
            "in": "query",
            "required": false,
            "description": "Whether to include total results count.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include total results count.",
              "default": false
            }
          },
          {
            "name": "fulldescription",
            "in": "query",
            "required": false,
            "description": "Return full plan details.",
            "schema": {
              "type": "boolean",
              "description": "Return full plan details.",
              "default": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lastPage": {
                            "type": "boolean",
                            "description": "Whether this is the last page."
                          },
                          "plans": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "chargeFrequency": {
                                  "type": "string",
                                  "description": "Charge frequency."
                                },
                                "currency": {
                                  "type": "string",
                                  "description": "Currency."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Plan name."
                                },
                                "planId": {
                                  "type": "number",
                                  "description": "Plan ID."
                                },
                                "recurringChargeAmount": {
                                  "type": "number",
                                  "description": "Recurring charge amount."
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Plan status."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "totalResults": {
                            "type": "number",
                            "description": "Total results count."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueSnap/latest/actions/list-subscriptions": {
      "get": {
        "operationId": "blueSnap.list-subscriptions",
        "summary": "List Subscriptions",
        "description": "Retrieves subscriptions from BlueSnap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueSnap/latest/actions/list-subscriptions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Return subscriptions after this subscription ID.",
            "schema": {
              "type": "string",
              "description": "Return subscriptions after this subscription ID."
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Return subscriptions before this subscription ID.",
            "schema": {
              "type": "string",
              "description": "Return subscriptions before this subscription ID."
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Number of results to return.",
            "schema": {
              "type": "string",
              "description": "Number of results to return.",
              "default": "10"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by subscription status.",
            "schema": {
              "type": "string",
              "description": "Filter by subscription status."
            }
          },
          {
            "name": "planId",
            "in": "query",
            "required": false,
            "description": "Filter by plan ID.",
            "schema": {
              "type": "string",
              "description": "Filter by plan ID."
            }
          },
          {
            "name": "vaultedShopperId",
            "in": "query",
            "required": false,
            "description": "Filter by vaulted shopper ID.",
            "schema": {
              "type": "string",
              "description": "Filter by vaulted shopper ID."
            }
          },
          {
            "name": "gettotal",
            "in": "query",
            "required": false,
            "description": "Whether to include total results count.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include total results count.",
              "default": false
            }
          },
          {
            "name": "fulldescription",
            "in": "query",
            "required": false,
            "description": "Return full subscription details.",
            "schema": {
              "type": "boolean",
              "description": "Return full subscription details.",
              "default": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lastPage": {
                            "type": "boolean",
                            "description": "Whether this is the last page."
                          },
                          "subscriptions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "description": "Currency."
                                },
                                "nextChargeDate": {
                                  "type": "string",
                                  "description": "Next charge date."
                                },
                                "planId": {
                                  "type": "number",
                                  "description": "Plan ID."
                                },
                                "recurringChargeAmount": {
                                  "type": "number",
                                  "description": "Recurring amount."
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Subscription status."
                                },
                                "subscriptionId": {
                                  "type": "number",
                                  "description": "Subscription ID."
                                },
                                "vaultedShopperId": {
                                  "type": "number",
                                  "description": "Vaulted shopper ID."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "totalResults": {
                            "type": "number",
                            "description": "Total results count."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueSnap/latest/actions/list-transactions": {
      "get": {
        "operationId": "blueSnap.list-transactions",
        "summary": "List Transactions",
        "description": "Retrieves transactions from BlueSnap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueSnap/latest/actions/list-transactions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "required": false,
            "description": "Number of results to return.",
            "schema": {
              "type": "string",
              "description": "Number of results to return.",
              "default": "10"
            }
          },
          {
            "name": "gettotal",
            "in": "query",
            "required": false,
            "description": "Whether to include total results count.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include total results count.",
              "default": false
            }
          },
          {
            "name": "merchantTransactionId",
            "in": "query",
            "required": false,
            "description": "Filter by merchant transaction ID, if supported.",
            "schema": {
              "type": "string",
              "description": "Filter by merchant transaction ID, if supported."
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Return transactions after this transaction ID.",
            "schema": {
              "type": "string",
              "description": "Return transactions after this transaction ID."
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Return transactions before this transaction ID.",
            "schema": {
              "type": "string",
              "description": "Return transactions before this transaction ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lastPage": {
                            "type": "boolean",
                            "description": "Whether this is the last page."
                          },
                          "totalResults": {
                            "type": "number",
                            "description": "Total results count."
                          },
                          "transactions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number",
                                  "description": "Transaction amount."
                                },
                                "cardTransactionType": {
                                  "type": "string",
                                  "description": "Card transaction type."
                                },
                                "currency": {
                                  "type": "string",
                                  "description": "Currency."
                                },
                                "processingInfo": {
                                  "type": "object",
                                  "properties": {
                                    "processingStatus": {
                                      "type": "string",
                                      "description": "Processing status."
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "transactionId": {
                                  "type": "string",
                                  "description": "Transaction ID."
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueSnap/latest/actions/list-vaulted-shoppers": {
      "get": {
        "operationId": "blueSnap.list-vaulted-shoppers",
        "summary": "List Vaulted Shoppers",
        "description": "Retrieves vaulted shoppers from BlueSnap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueSnap/latest/actions/list-vaulted-shoppers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lastPage": {
                            "type": "boolean",
                            "description": "Whether this is the last page."
                          },
                          "shoppers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "country": {
                                  "type": "string",
                                  "description": "Country code."
                                },
                                "email": {
                                  "type": "string",
                                  "description": "Email address."
                                },
                                "firstName": {
                                  "type": "string",
                                  "description": "First name."
                                },
                                "lastName": {
                                  "type": "string",
                                  "description": "Last name."
                                },
                                "shopperCurrency": {
                                  "type": "string",
                                  "description": "Shopper currency."
                                },
                                "vaultedShopperId": {
                                  "type": "number",
                                  "description": "Vaulted shopper ID."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "totalResults": {
                            "type": "number",
                            "description": "Total results count."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueSnap/latest/actions/refund-transaction": {
      "post": {
        "operationId": "blueSnap.refund-transaction",
        "summary": "Refund Transaction",
        "description": "Creates a refund for a BlueSnap transaction.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueSnap/latest/actions/refund-transaction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "transactionId",
                  "amount"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "transactionId": {
                    "type": "string",
                    "description": "BlueSnap transaction ID to refund."
                  },
                  "amount": {
                    "type": "string",
                    "description": "Refund amount, e.g. 1.00",
                    "default": "1.00"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number",
                            "description": "Refund amount."
                          },
                          "refundStatus": {
                            "type": "string",
                            "description": "Refund processing status."
                          },
                          "refundTransactionId": {
                            "type": "number",
                            "description": "Refund transaction ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueSnap/latest/actions/retrieve-card-info": {
      "get": {
        "operationId": "blueSnap.retrieve-card-info",
        "summary": "Retrieve Card Info",
        "description": "Retrieves card information from BlueSnap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueSnap/latest/actions/retrieve-card-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardNumber",
            "in": "query",
            "required": true,
            "description": "Card BIN or card number to resolve metadata.",
            "schema": {
              "type": "string",
              "description": "Card BIN or card number to resolve metadata.",
              "default": "411111"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "binCategory": {
                            "type": "string",
                            "description": "BIN category."
                          },
                          "cardCategory": {
                            "type": "string",
                            "description": "Card category."
                          },
                          "cardRegulated": {
                            "type": "string",
                            "description": "Regulation indicator."
                          },
                          "cardType": {
                            "type": "string",
                            "description": "Card brand."
                          },
                          "issuingBank": {
                            "type": "string",
                            "description": "Issuing bank name."
                          },
                          "issuingCountryCode": {
                            "type": "string",
                            "description": "Issuing country ISO code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/blueSnap/latest/actions/retrieve-plan": {
      "get": {
        "operationId": "blueSnap.retrieve-plan",
        "summary": "Retrieve Plan",
        "description": "Retrieves a plan from BlueSnap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/blueSnap/latest/actions/retrieve-plan"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planId",
            "in": "query",
            "required": true,
            "description": "Billing plan ID.",
            "schema": {
              "type": "string",
              "description": "Billing plan ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chargeFrequency": {
                            "type": "string",
                            "description": "Charge frequency."
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency."
                          },
                          "name": {
                            "type": "string",
                            "description": "Plan name."
                          },
                          "planId": {
                            "type": "number",
                            "description": "Plan ID."
                          },
                          "recurringChargeAmount": {
                            "type": "number",
                            "description": "Recurring charge amount."
                          },
                          "status": {
                            "type": "string",
                            "description": "Plan status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
[...]
