{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "JVZoo Universal API",
    "version": "0.0.7",
    "description": "Manage JVZoo transactions, affiliates, and recurring payments."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/jVZoo/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/jVZoo/latest/actions/cancel-recurring-payment": {
      "put": {
        "operationId": "jVZoo.cancel-recurring-payment",
        "summary": "Cancel Recurring Payment",
        "description": "Cancels a recurring payment in JVZoo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jVZoo/latest/actions/cancel-recurring-payment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "preKey"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "preKey": {
                    "type": "string",
                    "description": "The key used for the recurring payment."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "canceled": {
                            "type": "boolean",
                            "description": "Whether the recurring payment was canceled."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jVZoo/latest/actions/get-affiliate-transactions": {
      "get": {
        "operationId": "jVZoo.get-affiliate-transactions",
        "summary": "Get Affiliate Transactions",
        "description": "Retrieves your latest affiliate transactions from JVZoo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jVZoo/latest/actions/get-affiliate-transactions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payKey",
            "in": "query",
            "required": false,
            "description": "If provided, JVZoo starts after this payKey and does not include it in the results.",
            "schema": {
              "type": "string",
              "description": "If provided, JVZoo starts after this payKey and does not include it in the results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "affiliateCommission": {
                            "type": "string",
                            "description": "Affiliate commission amount."
                          },
                          "affiliateCommissionStatus": {
                            "type": "string",
                            "description": "Affiliate commission payment status."
                          },
                          "affiliateId": {
                            "type": "number",
                            "description": "Affiliate ID."
                          },
                          "affiliateName": {
                            "type": "string",
                            "description": "Affiliate name."
                          },
                          "customerEmail": {
                            "type": "string",
                            "description": "Customer email address."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Transaction timestamp."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Customer first name."
                          },
                          "ip": {
                            "type": "string",
                            "description": "Customer IP address."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Customer last name."
                          },
                          "price": {
                            "type": "string",
                            "description": "Transaction price."
                          },
                          "productId": {
                            "type": "number",
                            "description": "Product ID."
                          },
                          "productName": {
                            "type": "string",
                            "description": "Product name."
                          },
                          "status": {
                            "type": "string",
                            "description": "Transaction status."
                          },
                          "transactionId": {
                            "type": "string",
                            "description": "JVZoo transaction identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jVZoo/latest/actions/get-latest-transactions": {
      "get": {
        "operationId": "jVZoo.get-latest-transactions",
        "summary": "Get Latest Transactions",
        "description": "Retrieves latest transactions across your JVZoo products.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jVZoo/latest/actions/get-latest-transactions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payKey",
            "in": "query",
            "required": false,
            "description": "If provided, JVZoo starts after this payKey and does not include it in the results.",
            "schema": {
              "type": "string",
              "description": "If provided, JVZoo starts after this payKey and does not include it in the results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "affiliateId": {
                            "type": "number",
                            "description": "Affiliate ID."
                          },
                          "affiliateName": {
                            "type": "string",
                            "description": "Affiliate name."
                          },
                          "customerEmail": {
                            "type": "string",
                            "description": "Customer email address."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Transaction timestamp."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Customer first name."
                          },
                          "ip": {
                            "type": "string",
                            "description": "Customer IP address."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Customer last name."
                          },
                          "price": {
                            "type": "string",
                            "description": "Transaction price."
                          },
                          "productId": {
                            "type": "number",
                            "description": "Product ID."
                          },
                          "productName": {
                            "type": "string",
                            "description": "Product name."
                          },
                          "status": {
                            "type": "string",
                            "description": "Transaction status."
                          },
                          "transactionId": {
                            "type": "string",
                            "description": "JVZoo transaction identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jVZoo/latest/actions/get-recurring-payment-status": {
      "get": {
        "operationId": "jVZoo.get-recurring-payment-status",
        "summary": "Get Recurring Payment Status",
        "description": "Retrieves recurring payment status from JVZoo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jVZoo/latest/actions/get-recurring-payment-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "preKey",
            "in": "query",
            "required": true,
            "description": "The key used for the recurring payment.",
            "schema": {
              "type": "string",
              "description": "The key used for the recurring payment."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Recurring payment code when available."
                          },
                          "contactEmail": {
                            "type": "string",
                            "description": "Contact email address."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the recurring payment was created."
                          },
                          "currentPayments": {
                            "type": "number",
                            "description": "Number of payments made so far."
                          },
                          "currentPaymentsAmount": {
                            "type": "string",
                            "description": "Current payments total amount."
                          },
                          "hasPaymentTrial": {
                            "type": "boolean",
                            "description": "Whether a trial payment exists."
                          },
                          "id": {
                            "type": "number",
                            "description": "Recurring payment ID."
                          },
                          "ip": {
                            "type": "string",
                            "description": "IP address associated with the payment."
                          },
                          "lastDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last payment date."
                          },
                          "maxAmountPerPayment": {
                            "type": "string",
                            "description": "Maximum amount per payment."
                          },
                          "maxNumberOfPayments": {
                            "type": "number",
                            "description": "Maximum number of payments."
                          },
                          "maxTotalOfAllPayments": {
                            "type": "string",
                            "description": "Maximum total value of all payments."
                          },
                          "nextDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Next payment date."
                          },
                          "nextPayment": {
                            "type": "string",
                            "description": "Next payment amount."
                          },
                          "paymentCount": {
                            "type": "number",
                            "description": "Payment count."
                          },
                          "paymentFirstPayout": {
                            "type": "string",
                            "description": "First payout amount."
                          },
                          "paymentPeriod": {
                            "type": "number",
                            "description": "Payment period value."
                          },
                          "paymentTrialPayout": {
                            "type": "string",
                            "description": "Trial payout amount."
                          },
                          "paymentTrialPeriod": {
                            "type": "number",
                            "description": "Trial payment period."
                          },
                          "paymentTrialPrice": {
                            "type": "string",
                            "description": "Trial payment price."
                          },
                          "payout": {
                            "type": "string",
                            "description": "Recurring payout value."
                          },
                          "paypalEmail": {
                            "type": "string",
                            "description": "PayPal email address."
                          },
                          "preKey": {
                            "type": "string",
                            "description": "Recurring payment preKey."
                          },
                          "price": {
                            "type": "string",
                            "description": "Recurring payment price."
                          },
                          "productId": {
                            "type": "number",
                            "description": "Product ID."
                          },
                          "referrer": {
                            "type": "string",
                            "description": "Referrer URL."
                          },
                          "senderEmail": {
                            "type": "string",
                            "description": "Sender email address."
                          },
                          "status": {
                            "type": "string",
                            "description": "Recurring payment status."
                          },
                          "tid": {
                            "type": "string",
                            "description": "Transaction ID when available."
                          },
                          "vtid": {
                            "type": "string",
                            "description": "Vendor transaction ID when available."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jVZoo/latest/actions/get-transaction-summary": {
      "get": {
        "operationId": "jVZoo.get-transaction-summary",
        "summary": "Get Transaction Summary",
        "description": "Retrieves a transaction summary from JVZoo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jVZoo/latest/actions/get-transaction-summary"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payKey",
            "in": "query",
            "required": true,
            "description": "The payKey for the transaction you want JVZoo to summarize.",
            "schema": {
              "type": "string",
              "description": "The payKey for the transaction you want JVZoo to summarize."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Transaction timestamp."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Customer first name."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Customer last name."
                          },
                          "paypalEmail": {
                            "type": "string",
                            "description": "PayPal email address."
                          },
                          "price": {
                            "type": "string",
                            "description": "Transaction price."
                          },
                          "productId": {
                            "type": "number",
                            "description": "Product ID."
                          },
                          "productName": {
                            "type": "string",
                            "description": "Product name."
                          },
                          "status": {
                            "type": "string",
                            "description": "Transaction status."
                          },
                          "transactionId": {
                            "type": "string",
                            "description": "JVZoo transaction identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/jVZoo/latest/actions/retrieve-affiliate-status": {
      "get": {
        "operationId": "jVZoo.retrieve-affiliate-status",
        "summary": "Retrieve Affiliate Status",
        "description": "Retrieves affiliate status for a JVZoo product.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/jVZoo/latest/actions/retrieve-affiliate-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "affiliateId",
            "in": "query",
            "required": true,
            "description": "The ID of the affiliate.",
            "schema": {
              "type": "number",
              "description": "The ID of the affiliate."
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "description": "The ID of the product.",
            "schema": {
              "type": "number",
              "description": "The ID of the product."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "affiliateId": {
                            "type": "string",
                            "description": "Affiliate ID."
                          },
                          "comments": {
                            "type": "string",
                            "description": "Relationship comments."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the affiliate relationship was created."
                          },
                          "customCommission": {
                            "type": "string",
                            "description": "Custom commission rate."
                          },
                          "delayedCommission": {
                            "type": "string",
                            "description": "Delayed commission value."
                          },
                          "productId": {
                            "type": "number",
                            "description": "Product ID."
                          },
                          "statusId": {
                            "type": "number",
                            "description": "Affiliate status ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
