{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Amiibo API Universal API",
    "version": "0.0.1",
    "description": "Browse archived AmiiboAPI catalog and metadata. Provider host is currently unavailable; retest before use."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/amiiboAPI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/amiiboAPI/latest/actions/get-amiibo-by-id": {
      "get": {
        "operationId": "amiiboAPI.get-amiibo-by-id",
        "summary": "Get Amiibo by ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amiiboAPI/latest/actions/get-amiibo-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Required 16-digit hexadecimal Amiibo ID, optionally 0x-prefixed.",
            "schema": {
              "type": "string",
              "description": "Required 16-digit hexadecimal Amiibo ID, optionally 0x-prefixed."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amiibo": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Native AmiiboAPI result envelope.",
                            "properties": {
                              "amiiboSeries": {
                                "type": "string",
                                "description": "Amiibo series."
                              },
                              "character": {
                                "type": "string",
                                "description": "Character."
                              },
                              "gameSeries": {
                                "type": "string",
                                "description": "Game series."
                              },
                              "head": {
                                "type": "string",
                                "description": "8-digit hexadecimal head identifier."
                              },
                              "image": {
                                "type": "string",
                                "description": "Provider image URL."
                              },
                              "name": {
                                "type": "string",
                                "description": "Amiibo name."
                              },
                              "release": {
                                "type": "object",
                                "properties": {
                                  "au": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Australia release date, if known."
                                  },
                                  "eu": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Europe release date, if known."
                                  },
                                  "jp": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Japan release date, if known."
                                  },
                                  "na": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "North America release date, if known."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "tail": {
                                "type": "string",
                                "description": "8-digit hexadecimal tail identifier."
                              },
                              "type": {
                                "type": "string",
                                "description": "Amiibo type."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/amiiboAPI/latest/actions/get-amiibo-last-updated": {
      "get": {
        "operationId": "amiiboAPI.get-amiibo-last-updated",
        "summary": "Get Amiibo Last Updated",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amiiboAPI/latest/actions/get-amiibo-last-updated"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lastUpdated": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Native last-update envelope.",
                            "properties": {
                              "amiibo_sha1": {
                                "type": "string",
                                "description": "Archived Amiibo dataset SHA-1."
                              },
                              "game_info_sha1": {
                                "type": "string",
                                "description": "Archived game-info dataset SHA-1."
                              },
                              "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Archived source dataset timestamp."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/amiiboAPI/latest/actions/get-amiibo-series-by-key": {
      "get": {
        "operationId": "amiiboAPI.get-amiibo-series-by-key",
        "summary": "Get Amiibo Series by Key",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amiiboAPI/latest/actions/get-amiibo-series-by-key"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Required 2-digit hexadecimal Amiibo series key.",
            "schema": {
              "type": "string",
              "description": "Required 2-digit hexadecimal Amiibo series key."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amiibo": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Native AmiiboAPI metadata envelope.",
                            "properties": {
                              "key": {
                                "type": "string",
                                "description": "Hexadecimal metadata key."
                              },
                              "name": {
                                "type": "string",
                                "description": "Metadata name."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/amiiboAPI/latest/actions/get-amiibo-type-by-key": {
      "get": {
        "operationId": "amiiboAPI.get-amiibo-type-by-key",
        "summary": "Get Amiibo Type by Key",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amiiboAPI/latest/actions/get-amiibo-type-by-key"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Required 2-digit hexadecimal Amiibo type key.",
            "schema": {
              "type": "string",
              "description": "Required 2-digit hexadecimal Amiibo type key."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amiibo": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Native AmiiboAPI metadata envelope.",
                            "properties": {
                              "key": {
                                "type": "string",
                                "description": "Hexadecimal metadata key."
                              },
                              "name": {
                                "type": "string",
                                "description": "Metadata name."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/amiiboAPI/latest/actions/get-character-by-key": {
      "get": {
        "operationId": "amiiboAPI.get-character-by-key",
        "summary": "Get Character by Key",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amiiboAPI/latest/actions/get-character-by-key"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Required 4-digit hexadecimal character key.",
            "schema": {
              "type": "string",
              "description": "Required 4-digit hexadecimal character key."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amiibo": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Native AmiiboAPI metadata envelope.",
                            "properties": {
                              "key": {
                                "type": "string",
                                "description": "Hexadecimal metadata key."
                              },
                              "name": {
                                "type": "string",
                                "description": "Metadata name."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/amiiboAPI/latest/actions/get-detailed-amiibo-by-head-and-tail": {
      "get": {
        "operationId": "amiiboAPI.get-detailed-amiibo-by-head-and-tail",
        "summary": "Get Detailed Amiibo by Head and Tail",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amiiboAPI/latest/actions/get-detailed-amiibo-by-head-and-tail"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "head",
            "in": "query",
            "required": true,
            "description": "Required 8-digit hexadecimal head identifier.",
            "schema": {
              "type": "string",
              "description": "Required 8-digit hexadecimal head identifier."
            }
          },
          {
            "name": "tail",
            "in": "query",
            "required": true,
            "description": "Required 8-digit hexadecimal tail identifier.",
            "schema": {
              "type": "string",
              "description": "Required 8-digit hexadecimal tail identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amiibo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "amiiboSeries": {
                                  "type": "string",
                                  "description": "Amiibo series."
                                },
                                "character": {
                                  "type": "string",
                                  "description": "Character."
                                },
                                "games3DS": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "description": "Nintendo 3DS game-usage records."
                                },
                                "gameSeries": {
                                  "type": "string",
                                  "description": "Game series."
                                },
                                "gamesSwitch": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "description": "Nintendo Switch game-usage records."
                                },
                                "gamesWiiU": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "description": "Wii U game-usage records."
                                },
                                "head": {
                                  "type": "string",
                                  "description": "8-digit hexadecimal head identifier."
                                },
                                "image": {
                                  "type": "string",
                                  "description": "Provider image URL."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Amiibo name."
                                },
                                "release": {
                                  "type": "object",
                                  "properties": {
                                    "au": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Australia release date, if known."
                                    },
                                    "eu": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Europe release date, if known."
                                    },
                                    "jp": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Japan release date, if known."
                                    },
                                    "na": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "North America release date, if known."
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "tail": {
                                  "type": "string",
                                  "description": "8-digit hexadecimal tail identifier."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Amiibo type."
                                }
                              }
                            },
                            "description": "Native AmiiboAPI result envelope."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/amiiboAPI/latest/actions/get-game-series-by-key": {
      "get": {
        "operationId": "amiiboAPI.get-game-series-by-key",
        "summary": "Get Game Series by Key",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amiiboAPI/latest/actions/get-game-series-by-key"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Required 3-digit hexadecimal game-series key.",
            "schema": {
              "type": "string",
              "description": "Required 3-digit hexadecimal game-series key."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amiibo": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Native AmiiboAPI metadata envelope.",
                            "properties": {
                              "key": {
                                "type": "string",
                                "description": "Hexadecimal metadata key."
                              },
                              "name": {
                                "type": "string",
                                "description": "Metadata name."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/amiiboAPI/latest/actions/list-amiibo-series": {
      "get": {
        "operationId": "amiiboAPI.list-amiibo-series",
        "summary": "List Amiibo Series",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amiiboAPI/latest/actions/list-amiibo-series"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Optional series name filter.",
            "schema": {
              "type": "string",
              "description": "Optional series name filter."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Comma-separated source-defined fields: key or name.",
            "schema": {
              "type": "string",
              "description": "Comma-separated source-defined fields: key or name."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amiibo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "description": "Hexadecimal metadata key."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Metadata name."
                                }
                              }
                            },
                            "description": "Native AmiiboAPI metadata envelope."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/amiiboAPI/latest/actions/list-amiibo-type": {
      "get": {
        "operationId": "amiiboAPI.list-amiibo-type",
        "summary": "List Amiibo Type",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amiiboAPI/latest/actions/list-amiibo-type"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Optional Amiibo type name filter.",
            "schema": {
              "type": "string",
              "description": "Optional Amiibo type name filter."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Comma-separated source-defined fields: key or name.",
            "schema": {
              "type": "string",
              "description": "Comma-separated source-defined fields: key or name."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amiibo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "description": "Hexadecimal metadata key."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Metadata name."
                                }
                              }
                            },
                            "description": "Native AmiiboAPI metadata envelope."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/amiiboAPI/latest/actions/list-character": {
      "get": {
        "operationId": "amiiboAPI.list-character",
        "summary": "List Character",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amiiboAPI/latest/actions/list-character"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Optional character name filter.",
            "schema": {
              "type": "string",
              "description": "Optional character name filter."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Comma-separated source-defined fields: key or name.",
            "schema": {
              "type": "string",
              "description": "Comma-separated source-defined fields: key or name."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amiibo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "description": "Hexadecimal metadata key."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Metadata name."
                                }
                              }
                            },
                            "description": "Native AmiiboAPI metadata envelope."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/amiiboAPI/latest/actions/list-game-series": {
      "get": {
        "operationId": "amiiboAPI.list-game-series",
        "summary": "List Game Series",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amiiboAPI/latest/actions/list-game-series"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Optional game-series name filter.",
            "schema": {
              "type": "string",
              "description": "Optional game-series name filter."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Comma-separated source-defined fields: key or name.",
            "schema": {
              "type": "string",
              "description": "Comma-separated source-defined fields: key or name."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amiibo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "description": "Hexadecimal metadata key."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Metadata name."
                                }
                              }
                            },
                            "description": "Native AmiiboAPI metadata envelope."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/amiiboAPI/latest/actions/search-amiibo": {
      "get": {
        "operationId": "amiiboAPI.search-amiibo",
        "summary": "Search Amiibo",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/amiiboAPI/latest/actions/search-amiibo"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "head",
            "in": "query",
            "required": false,
            "description": "8-digit hexadecimal head identifier.",
            "schema": {
              "type": "string",
              "description": "8-digit hexadecimal head identifier."
            }
          },
          {
            "name": "tail",
            "in": "query",
            "required": false,
            "description": "8-digit hexadecimal tail identifier.",
            "schema": {
              "type": "string",
              "description": "8-digit hexadecimal tail identifier."
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Amiibo name filter.",
            "schema": {
              "type": "string",
              "description": "Amiibo name filter."
            }
          },
          {
            "name": "gameseries",
            "in": "query",
            "required": false,
            "description": "Game series name or 0x-prefixed hexadecimal game-series key.",
            "schema": {
              "type": "string",
              "description": "Game series name or 0x-prefixed hexadecimal game-series key."
            }
          },
          {
            "name": "switch_titleid",
            "in": "query",
            "required": false,
            "description": "Nintendo Switch title ID filter.",
            "schema": {
              "type": "string",
              "description": "Nintendo Switch title ID filter."
            }
          },
          {
            "name": "wiiu_titleid",
            "in": "query",
            "required": false,
            "description": "Wii U title ID filter.",
            "schema": {
              "type": "string",
              "description": "Wii U title ID filter."
            }
          },
          {
            "name": "3ds_titleid",
            "in": "query",
            "required": false,
            "description": "Nintendo 3DS title ID filter.",
            "schema": {
              "type": "string",
              "description": "Nintendo 3DS title ID filter."
            }
          },
          {
            "name": "character",
            "in": "query",
            "required": false,
            "description": "Character name or 0x-prefixed hexadecimal character key.",
            "schema": {
              "type": "string",
              "description": "Character name or 0x-prefixed hexadecimal character key."
            }
          },
          {
            "name": "variant",
            "in": "query",
            "required": false,
            "description": "6-digit hexadecimal variant key.",
            "schema": {
              "type": "string",
              "description": "6-digit hexadecimal variant key."
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Amiibo type name or 0x-prefixed hexadecimal type key.",
            "schema": {
              "type": "string",
              "description": "Amiibo type name or 0x-prefixed hexadecimal type key."
            }
          },
          {
            "name": "amiibo_model",
            "in": "query",
            "required": false,
            "description": "4-digit hexadecimal amiibo-model key.",
            "schema": {
              "type": "string",
              "description": "4-digit hexadecimal amiibo-model key."
            }
          },
          {
            "name": "amiiboSeries",
            "in": "query",
            "required": false,
            "description": "Amiibo series name or 0x-prefixed hexadecimal series key.",
            "schema": {
              "type": "string",
              "description": "Amiibo series name or 0x-prefixed hexadecimal series key."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Comma-separated source-defined sort fields, such as name, gameseries, character, type, series, or release_na.",
            "schema": {
              "type": "string",
              "description": "Comma-separated source-defined sort fields, such as name, gameseries, character, type, series, or release_na."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amiibo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "amiiboSeries": {
                                  "type": "string",
                                  "description": "Amiibo series."
                                },
                                "character": {
                                  "type": "string",
                                  "description": "Character."
                                },
                                "gameSeries": {
                                  "type": "string",
                                  "description": "Game series."
                                },
                                "head": {
                                  "type": "string",
                                  "description": "8-digit hexadecimal head identifier."
                                },
                                "image": {
                                  "type": "string",
                                  "description": "Provider image URL."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Amiibo name."
                                },
                                "release": {
                                  "type": "object",
                                  "properties": {
                                    "au": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Australia release date, if known."
                                    },
                                    "eu": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Europe release date, if known."
                                    },
                                    "jp": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Japan release date, if known."
                                    },
                                    "na": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "North America release date, if known."
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "tail": {
                                  "type": "string",
                                  "description": "8-digit hexadecimal tail identifier."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Amiibo type."
                                }
                              }
                            },
                            "description": "Native AmiiboAPI result envelope."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
