{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zoho Mail Universal API",
    "version": "0.0.12",
    "description": "Send, receive, and organize business email conversations"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zohoMail/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zohoMail/latest/actions/apply-labels-to-emails": {
      "put": {
        "operationId": "zohoMail.apply-labels-to-emails",
        "summary": "Apply Labels To Emails",
        "description": "Applies labels to emails in Zoho Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMail/latest/actions/apply-labels-to-emails"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "labelId[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Zoho Mail account ID."
                  },
                  "messageId[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "One or more message IDs to apply labels to."
                  },
                  "threadId[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "One or more thread IDs to apply labels to instead of specific message IDs.",
                    "x-mindcloud-advanced": true
                  },
                  "labelId[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "One or more label IDs to apply to the selected emails."
                  },
                  "isFolderSpecific": {
                    "type": "boolean",
                    "description": "Whether this label update should be restricted to a specific folder.",
                    "x-mindcloud-advanced": true
                  },
                  "folderId": {
                    "type": "string",
                    "description": "Folder ID used when Folder Specific is true.",
                    "example": "12345",
                    "x-mindcloud-advanced": true
                  },
                  "isArchive": {
                    "type": "boolean",
                    "description": "Whether archived emails should also be included in this label action.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "Zoho Mail status code for the label update request."
                          },
                          "description": {
                            "type": "string",
                            "description": "Zoho Mail status description for the label update request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMail/latest/actions/archive-emails": {
      "put": {
        "operationId": "zohoMail.archive-emails",
        "summary": "Archive Emails",
        "description": "Archives email messages in Zoho Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMail/latest/actions/archive-emails"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Zoho Mail account ID."
                  },
                  "messageId[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "One or more message IDs to archive."
                  },
                  "threadId[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "One or more thread IDs to archive instead of specific message IDs.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "Zoho Mail status code for the archive request."
                          },
                          "description": {
                            "type": "string",
                            "description": "Zoho Mail status description for the archive request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMail/latest/actions/create-folder": {
      "post": {
        "operationId": "zohoMail.create-folder",
        "summary": "Create Folder",
        "description": "Creates a new folder in Zoho Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMail/latest/actions/create-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "folderName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Account identifier returned by List Accounts.",
                    "example": "3048445000000008002"
                  },
                  "folderName": {
                    "type": "string",
                    "description": "Unique folder name to create. Special characters are not allowed.",
                    "example": "CodexStageThreeFolder"
                  },
                  "parentFolderId": {
                    "type": "string",
                    "description": "Optional parent folder identifier.",
                    "example": "3048445000000008014",
                    "x-mindcloud-advanced": true
                  },
                  "parentFolderPath": {
                    "type": "string",
                    "description": "Optional parent folder path.",
                    "example": "/Inbox",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "folderIcon": {
                            "type": "string",
                            "description": "Folder icon"
                          },
                          "folderId": {
                            "type": "string",
                            "description": "Folder identifier"
                          },
                          "folderName": {
                            "type": "string",
                            "description": "Folder name"
                          },
                          "folderType": {
                            "type": "string",
                            "description": "Folder type"
                          },
                          "hide": {
                            "type": "boolean",
                            "description": "Folder hidden flag"
                          },
                          "imapAccess": {
                            "type": "boolean",
                            "description": "IMAP access flag"
                          },
                          "isArchived": {
                            "type": "number",
                            "description": "Folder archived status code"
                          },
                          "path": {
                            "type": "string",
                            "description": "Folder path"
                          },
                          "previousFolderId": {
                            "type": "string",
                            "description": "Previous folder identifier"
                          },
                          "uri": {
                            "type": "string",
                            "description": "Folder API URI"
                          },
                          "vw": {
                            "type": "boolean",
                            "description": "Folder visibility flag"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMail/latest/actions/create-label": {
      "post": {
        "operationId": "zohoMail.create-label",
        "summary": "Create Label",
        "description": "Creates a new label in Zoho Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMail/latest/actions/create-label"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "displayName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Account identifier returned by List Accounts.",
                    "example": "3048445000000008002"
                  },
                  "displayName": {
                    "type": "string",
                    "description": "Label name to create.",
                    "example": "CodexStageLabel"
                  },
                  "color": {
                    "type": "string",
                    "description": "Optional label color as a hexadecimal value.",
                    "example": "#ffd700",
                    "default": "#ffd700"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "color": {
                            "type": "string",
                            "description": "Label color"
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Label display name"
                          },
                          "labelId": {
                            "type": "string",
                            "description": "Label identifier"
                          },
                          "sequence": {
                            "type": "number",
                            "description": "Label sequence"
                          },
                          "tagId": {
                            "type": "string",
                            "description": "Tag identifier"
                          },
                          "uri": {
                            "type": "string",
                            "description": "Label API URI"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMail/latest/actions/delete-email": {
      "delete": {
        "operationId": "zohoMail.delete-email",
        "summary": "Delete Email",
        "description": "Deletes an email from Zoho Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMail/latest/actions/delete-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Zoho Mail account ID containing the email to delete.",
            "schema": {
              "type": "string",
              "description": "Zoho Mail account ID containing the email to delete."
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "description": "Folder ID containing the email to delete.",
            "schema": {
              "type": "string",
              "description": "Folder ID containing the email to delete.",
              "example": "9000000002014"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "Message ID of the email to delete.",
            "schema": {
              "type": "string",
              "description": "Message ID of the email to delete.",
              "example": "1710915488416100000"
            }
          },
          {
            "name": "expunge",
            "in": "query",
            "required": false,
            "description": "Whether to permanently delete the email instead of moving it to Trash.",
            "schema": {
              "type": "boolean",
              "description": "Whether to permanently delete the email instead of moving it to Trash.",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cId": {
                            "type": "string",
                            "description": "Delete confirmation identifier"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMail/latest/actions/download-attachment": {
      "get": {
        "operationId": "zohoMail.download-attachment",
        "summary": "Download Attachment",
        "description": "Retrieves attachment content from Zoho Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMail/latest/actions/download-attachment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Zoho Mail account ID.",
            "schema": {
              "type": "string",
              "description": "Zoho Mail account ID."
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "description": "Folder ID containing the email.",
            "schema": {
              "type": "string",
              "description": "Folder ID containing the email.",
              "example": "3048445000000008014"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "Message ID of the email.",
            "schema": {
              "type": "string",
              "description": "Message ID of the email.",
              "example": "1773241114744157000"
            }
          },
          {
            "name": "attachmentId",
            "in": "query",
            "required": true,
            "description": "Attachment ID to download.",
            "schema": {
              "type": "string",
              "description": "Attachment ID to download.",
              "example": "3048445000000009001"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Attachment byte values returned from Zoho Mail."
                          },
                          "type": {
                            "type": "string",
                            "description": "Raw binary payload wrapper type from the runtime response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMail/latest/actions/flag-emails": {
      "put": {
        "operationId": "zohoMail.flag-emails",
        "summary": "Flag Emails",
        "description": "Flags email messages in Zoho Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMail/latest/actions/flag-emails"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "flagId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Zoho Mail account ID."
                  },
                  "messageId[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "One or more message IDs to flag."
                  },
                  "threadId[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "One or more thread IDs to flag instead of specific message IDs.",
                    "x-mindcloud-advanced": true
                  },
                  "flagId": {
                    "type": "string",
                    "description": "Flag to apply to the selected emails.",
                    "enum": [
                      "flag_not_set",
                      "followup",
                      "important",
                      "info"
                    ]
                  },
                  "isFolderSpecific": {
                    "type": "boolean",
                    "description": "Whether the flag update should be restricted to a specific folder.",
                    "x-mindcloud-advanced": true
                  },
                  "folderId": {
                    "type": "string",
                    "description": "Folder ID used when Folder Specific is true.",
                    "example": "12345",
                    "x-mindcloud-advanced": true
                  },
                  "isArchive": {
                    "type": "boolean",
                    "description": "Whether archived emails should also be included in the flag action.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "Zoho Mail status code for the flag update request."
                          },
                          "description": {
                            "type": "string",
                            "description": "Zoho Mail status description for the flag update request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMail/latest/actions/get-account-details": {
      "get": {
        "operationId": "zohoMail.get-account-details",
        "summary": "Get Account Details",
        "description": "Retrieves account details from Zoho Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMail/latest/actions/get-account-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Account identifier returned by List Accounts.",
            "schema": {
              "type": "string",
              "description": "Account identifier returned by List Accounts.",
              "example": "3048445000000008002"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountCreationTime": {
                            "type": "number",
                            "description": "Account creation timestamp"
                          },
                          "accountDisplayName": {
                            "type": "string",
                            "description": "Account display name"
                          },
                          "accountId": {
                            "type": "string",
                            "description": "Account identifier"
                          },
                          "accountName": {
                            "type": "string",
                            "description": "Account name"
                          },
                          "activeSyncEnabled": {
                            "type": "boolean",
                            "description": "ActiveSync enabled flag"
                          },
                          "address": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Address details"
                          },
                          "allowedStorage": {
                            "type": "number",
                            "description": "Allowed storage amount"
                          },
                          "country": {
                            "type": "string",
                            "description": "Account country code"
                          },
                          "deliveryType": {
                            "type": "string",
                            "description": "Delivery type"
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Display name"
                          },
                          "emailAddress": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Email addresses for the account"
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Enabled flag"
                          },
                          "extraEdiscoveryStorage": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Extra e-discovery storage details"
                          },
                          "extraStorage": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Extra storage details"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "First name"
                          },
                          "gender": {
                            "type": "string",
                            "description": "Gender value"
                          },
                          "iamStatus": {
                            "type": "number",
                            "description": "IAM status code"
                          },
                          "iamUserRole": {
                            "type": "string",
                            "description": "IAM user role"
                          },
                          "imapAccessEnabled": {
                            "type": "boolean",
                            "description": "IMAP access enabled flag"
                          },
                          "imapBlocked": {
                            "type": "boolean",
                            "description": "IMAP blocked flag"
                          },
                          "incomingBlocked": {
                            "type": "boolean",
                            "description": "Incoming mail blocked flag"
                          },
                          "incomingUserName": {
                            "type": "string",
                            "description": "Incoming username"
                          },
                          "isDesignatedMailbox": {
                            "type": "boolean",
                            "description": "Designated mailbox flag"
                          },
                          "isLogoExist": {
                            "type": "boolean",
                            "description": "Logo availability flag"
                          },
                          "language": {
                            "type": "string",
                            "description": "Account language"
                          },
                          "lastClient": {
                            "type": "string",
                            "description": "Last client name"
                          },
                          "lastLogin": {
                            "type": "number",
                            "description": "Last login timestamp"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Last name"
                          },
                          "mailboxAddress": {
                            "type": "string",
                            "description": "Mailbox address"
                          },
                          "mailboxCreationTime": {
                            "type": "number",
                            "description": "Mailbox creation timestamp"
                          },
                          "mailboxStatus": {
                            "type": "string",
                            "description": "Mailbox status"
                          },
                          "mxStatus": {
                            "type": "boolean",
                            "description": "MX status enabled flag"
                          },
                          "outgoingBlocked": {
                            "type": "boolean",
                            "description": "Outgoing blocked flag"
                          },
                          "planStorage": {
                            "type": "number",
                            "description": "Plan storage allocation"
                          },
                          "planType": {
                            "type": "number",
                            "description": "Plan type code"
                          },
                          "policyId": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Policy identifiers"
                          },
                          "popAccessEnabled": {
                            "type": "boolean",
                            "description": "POP access enabled flag"
                          },
                          "popBlocked": {
                            "type": "boolean",
                            "description": "POP access blocked flag"
                          },
                          "popFetchTime": {
                            "type": "number",
                            "description": "POP fetch timestamp"
                          },
                          "primaryEmailAddress": {
                            "type": "string",
                            "description": "Primary email address"
                          },
                          "role": {
                            "type": "string",
                            "description": "Account role"
                          },
                          "sendMailDetails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Send mail details"
                          },
                          "sequence": {
                            "type": "number",
                            "description": "Account sequence"
                          },
                          "smtpStatus": {
                            "type": "boolean",
                            "description": "SMTP status flag"
                          },
                          "spamcheckEnabled": {
                            "type": "boolean",
                            "description": "Spam check enabled flag"
                          },
                          "status": {
                            "type": "boolean",
                            "description": "Account status flag"
                          },
                          "tfaEnabled": {
                            "type": "boolean",
                            "description": "Two-factor enabled flag"
                          },
                          "timeZone": {
                            "type": "string",
                            "description": "Account time zone"
                          },
                          "type": {
                            "type": "string",
                            "description": "Account type"
                          },
                          "uri": {
                            "type": "string",
                            "description": "Account API URI"
                          },
                          "usedStorage": {
                            "type": "number",
                            "description": "Used storage amount"
                          },
                          "userExpiry": {
                            "type": "number",
                            "description": "User expiry timestamp"
                          },
                          "webBlocked": {
                            "type": "boolean",
                            "description": "Web access blocked flag"
                          },
                          "zuid": {
                            "type": "number",
                            "description": "Zoho user identifier"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMail/latest/actions/get-attachment-info": {
      "get": {
        "operationId": "zohoMail.get-attachment-info",
        "summary": "Get Attachment Info",
        "description": "Retrieves attachment info from Zoho Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMail/latest/actions/get-attachment-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Zoho Mail account ID.",
            "schema": {
              "type": "string",
              "description": "Zoho Mail account ID."
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "description": "Folder ID containing the email.",
            "schema": {
              "type": "string",
              "description": "Folder ID containing the email.",
              "example": "3048445000000008014"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "Message ID of the email.",
            "schema": {
              "type": "string",
              "description": "Message ID of the email.",
              "example": "1773241114744157000"
            }
          },
          {
            "name": "includeInline",
            "in": "query",
            "required": false,
            "description": "Whether inline attachments should be included in the attachment info response.",
            "schema": {
              "type": "boolean",
              "description": "Whether inline attachments should be included in the attachment info response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Attachment metadata rows"
                          },
                          "messageId": {
                            "type": "string",
                            "description": "Message identifier"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMail/latest/actions/get-email-content": {
      "get": {
        "operationId": "zohoMail.get-email-content",
        "summary": "Get Email Content",
        "description": "Retrieves email content from Zoho Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMail/latest/actions/get-email-content"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Zoho Mail account ID.",
            "schema": {
              "type": "string",
              "description": "Zoho Mail account ID."
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "description": "Folder ID containing the email.",
            "schema": {
              "type": "string",
              "description": "Folder ID containing the email.",
              "example": "3048445000000008014"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "Message ID of the email.",
            "schema": {
              "type": "string",
              "description": "Message ID of the email.",
              "example": "1773241114744157000"
            }
          },
          {
            "name": "includeBlockContent",
            "in": "query",
            "required": false,
            "description": "Whether blocked content should be included in the email body response.",
            "schema": {
              "type": "boolean",
              "description": "Whether blocked content should be included in the email body response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Email body content"
                          },
                          "messageId": {
                            "type": "string",
                            "description": "Message identifier"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMail/latest/actions/get-email-metadata": {
      "get": {
        "operationId": "zohoMail.get-email-metadata",
        "summary": "Get Email Metadata",
        "description": "Retrieves email metadata from Zoho Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMail/latest/actions/get-email-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Zoho Mail account ID.",
            "schema": {
              "type": "string",
              "description": "Zoho Mail account ID."
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "description": "Folder ID containing the email.",
            "schema": {
              "type": "string",
              "description": "Folder ID containing the email.",
              "example": "3048445000000008014"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "Message ID of the email.",
            "schema": {
              "type": "string",
              "description": "Message ID of the email.",
              "example": "1773241114744157000"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "calendarType": {
                            "type": "number",
                            "description": "Calendar type"
                          },
                          "ccAddress": {
                            "type": "string",
                            "description": "CC address"
                          },
                          "flagid": {
                            "type": "string",
                            "description": "Flag identifier"
                          },
                          "folderId": {
                            "type": "string",
                            "description": "Folder identifier"
                          },
                          "fromAddress": {
                            "type": "string",
                            "description": "From address"
                          },
                          "hasAttachment": {
                            "type": "string",
                            "description": "Attachment flag"
                          },
                          "hasInline": {
                            "type": "string",
                            "description": "Inline content flag"
                          },
                          "labelId": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Applied label identifiers"
                          },
                          "messageId": {
                            "type": "string",
                            "description": "Message identifier"
                          },
                          "priority": {
                            "type": "string",
                            "description": "Priority code"
                          },
                          "receivedTime": {
                            "type": "string",
                            "description": "Received timestamp"
                          },
                          "sender": {
                            "type": "string",
                            "description": "Sender"
                          },
                          "sentDateInGMT": {
                            "type": "string",
                            "description": "Sent date timestamp in GMT"
                          },
                          "size": {
                            "type": "string",
                            "description": "Message size"
                          },
                          "status": {
                            "type": "string",
                            "description": "Read status code"
                          },
                          "status2": {
                            "type": "string",
                            "description": "Secondary status code"
                          },
                          "subject": {
                            "type": "string",
                            "description": "Email subject"
                          },
                          "summary": {
                            "type": "string",
                            "description": "Email summary"
                          },
                          "toAddress": {
                            "type": "string",
                            "description": "To address"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMail/latest/actions/get-folder": {
      "get": {
        "operationId": "zohoMail.get-folder",
        "summary": "Get Folder",
        "description": "Retrieves a folder from Zoho Mail.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMail/latest/actions/get-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Account identifier returned by List Accounts.",
            "schema": {
              "type": "string",
              "description": "Account identifier returned by List Accounts.",
              "example": "3048445000000008002"
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "description": "Folder identifier returned by List Folders.",
            "schema": {
              "type": "string",
              "description": "Folder identifier returned by List Folders.",
              "example": "3048445000000008014"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "folderIcon": {
                            "type": "string",
                            "description": "Folder icon"
                          },
                          "folderId": {
                            "type": "string",
                            "description": "Folder identifier"
                          },
                          "folderName": {
                            "type": "string",
                            "description": "Folder name"
                          },
                          "folderType": {
                            "type": "string",
                            "description": "Folder type"
                          },
                          "hide": {
                            "type": "boolean",
                            "description": "Folder hidden flag"
                          },
                          "imapAccess": {
                            "type": "boolean",
                            "description": "IMAP access flag"
                          },
                          "isArchived": {
                            "type": "number",
                            "description": "Folder archived status code"
                          },
                          "path": {
                            "type": "string",
                            "description": "Folder path"
                          },
                          "previousFolderId": {
                            "type": "string",
                            "description": "Previous folder identifier"
                          },
                          "uri": {
                            "type": "string",
                            "description": "Folder API URI"
                          },
                          "vw": {
                            "type": "boolean",
                            "description": "Folder visibility flag"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
[...]
