{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "The Guardian Universal API",
    "version": "0.0.4",
    "description": "Access The Guardian Open Platform to search and retrieve published Guardian content, metadata, tags, sections, editions, and individual items."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/theGuardian/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/theGuardian/latest/actions/get-content-by-ids": {
      "get": {
        "operationId": "theGuardian.get-content-by-ids",
        "summary": "Get Content By IDs",
        "description": "Retrieves Guardian content items by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theGuardian/latest/actions/get-content-by-ids"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated Guardian content ids to fetch exactly.",
            "schema": {
              "type": "string",
              "description": "Comma-separated Guardian content ids to fetch exactly."
            }
          },
          {
            "name": "showFields",
            "in": "query",
            "required": false,
            "description": "Comma-separated content field names to expand in each matched item.",
            "schema": {
              "type": "string",
              "description": "Comma-separated content field names to expand in each matched item."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiUrl": {
                            "type": "string"
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "headline": {
                                "type": "string"
                              },
                              "trailText": {
                                "type": "string"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "isHosted": {
                            "type": "boolean"
                          },
                          "pillarId": {
                            "type": "string"
                          },
                          "pillarName": {
                            "type": "string"
                          },
                          "sectionId": {
                            "type": "string"
                          },
                          "sectionName": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "webPublicationDate": {
                            "type": "string"
                          },
                          "webTitle": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theGuardian/latest/actions/get-editors-picks": {
      "get": {
        "operationId": "theGuardian.get-editors-picks",
        "summary": "Get Editors Picks",
        "description": "Retrieves editors' picks for a Guardian path.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theGuardian/latest/actions/get-editors-picks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemPath",
            "in": "query",
            "required": true,
            "description": "Guardian section, edition, or item path used to resolve editors' picks.",
            "schema": {
              "type": "string",
              "description": "Guardian section, edition, or item path used to resolve editors' picks."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiUrl": {
                            "type": "string"
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "headline": {
                                "type": "string"
                              },
                              "trailText": {
                                "type": "string"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "isHosted": {
                            "type": "boolean"
                          },
                          "pillarId": {
                            "type": "string"
                          },
                          "pillarName": {
                            "type": "string"
                          },
                          "sectionId": {
                            "type": "string"
                          },
                          "sectionName": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "webPublicationDate": {
                            "type": "string"
                          },
                          "webTitle": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theGuardian/latest/actions/get-home-editors-picks": {
      "get": {
        "operationId": "theGuardian.get-home-editors-picks",
        "summary": "Get Home Editors Picks",
        "description": "Retrieves home-page editors' picks from The Guardian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theGuardian/latest/actions/get-home-editors-picks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiUrl": {
                            "type": "string"
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "headline": {
                                "type": "string"
                              },
                              "trailText": {
                                "type": "string"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "isHosted": {
                            "type": "boolean"
                          },
                          "pillarId": {
                            "type": "string"
                          },
                          "pillarName": {
                            "type": "string"
                          },
                          "sectionId": {
                            "type": "string"
                          },
                          "sectionName": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "webPublicationDate": {
                            "type": "string"
                          },
                          "webTitle": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theGuardian/latest/actions/get-home-most-viewed": {
      "get": {
        "operationId": "theGuardian.get-home-most-viewed",
        "summary": "Get Home Most Viewed",
        "description": "Retrieves home-page most-viewed content from The Guardian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theGuardian/latest/actions/get-home-most-viewed"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiUrl": {
                            "type": "string"
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "headline": {
                                "type": "string"
                              },
                              "trailText": {
                                "type": "string"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "isHosted": {
                            "type": "boolean"
                          },
                          "pillarId": {
                            "type": "string"
                          },
                          "pillarName": {
                            "type": "string"
                          },
                          "sectionId": {
                            "type": "string"
                          },
                          "sectionName": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "webPublicationDate": {
                            "type": "string"
                          },
                          "webTitle": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theGuardian/latest/actions/get-item": {
      "get": {
        "operationId": "theGuardian.get-item",
        "summary": "Get Item",
        "description": "Retrieves a Guardian item by path.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theGuardian/latest/actions/get-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemPath",
            "in": "query",
            "required": true,
            "description": "Guardian content path or item id, for example sport/2022/oct/07/example-story.",
            "schema": {
              "type": "string",
              "description": "Guardian content path or item id, for example sport/2022/oct/07/example-story."
            }
          },
          {
            "name": "showEditorsPicks",
            "in": "query",
            "required": false,
            "description": "When true, include editors' picks for the requested item path.",
            "schema": {
              "type": "string",
              "description": "When true, include editors' picks for the requested item path."
            }
          },
          {
            "name": "showMostViewed",
            "in": "query",
            "required": false,
            "description": "When true, include most-viewed content for the requested path.",
            "schema": {
              "type": "string",
              "description": "When true, include most-viewed content for the requested path."
            }
          },
          {
            "name": "showRelated",
            "in": "query",
            "required": false,
            "description": "When true, include related content items.",
            "schema": {
              "type": "string",
              "description": "When true, include related content items."
            }
          },
          {
            "name": "showStoryPackage",
            "in": "query",
            "required": false,
            "description": "When true, include story-package content for the requested item.",
            "schema": {
              "type": "string",
              "description": "When true, include story-package content for the requested item."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiUrl": {
                            "type": "string"
                          },
                          "edition": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "apiUrl": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "webTitle": {
                                "type": "string"
                              },
                              "webUrl": {
                                "type": "string"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "section": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "apiUrl": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "webTitle": {
                                "type": "string"
                              },
                              "webUrl": {
                                "type": "string"
                              }
                            }
                          },
                          "sectionId": {
                            "type": "string"
                          },
                          "sectionName": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "webPublicationDate": {
                            "type": "string"
                          },
                          "webTitle": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theGuardian/latest/actions/get-most-viewed": {
      "get": {
        "operationId": "theGuardian.get-most-viewed",
        "summary": "Get Most Viewed",
        "description": "Retrieves most-viewed content for a Guardian path.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theGuardian/latest/actions/get-most-viewed"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemPath",
            "in": "query",
            "required": true,
            "description": "Guardian section, edition, or item path used to resolve most-viewed content.",
            "schema": {
              "type": "string",
              "description": "Guardian section, edition, or item path used to resolve most-viewed content."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiUrl": {
                            "type": "string"
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "headline": {
                                "type": "string"
                              },
                              "trailText": {
                                "type": "string"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "isHosted": {
                            "type": "boolean"
                          },
                          "pillarId": {
                            "type": "string"
                          },
                          "pillarName": {
                            "type": "string"
                          },
                          "sectionId": {
                            "type": "string"
                          },
                          "sectionName": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "webPublicationDate": {
                            "type": "string"
                          },
                          "webTitle": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theGuardian/latest/actions/get-next-items": {
      "get": {
        "operationId": "theGuardian.get-next-items",
        "summary": "Get Next Items",
        "description": "Retrieves the next Guardian search results after an item.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theGuardian/latest/actions/get-next-items"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemPath",
            "in": "query",
            "required": true,
            "description": "Guardian content path or item id, for example sport/2022/oct/07/example-story.",
            "schema": {
              "type": "string",
              "description": "Guardian content path or item id, for example sport/2022/oct/07/example-story."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiUrl": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isHosted": {
                            "type": "boolean"
                          },
                          "pillarId": {
                            "type": "string"
                          },
                          "pillarName": {
                            "type": "string"
                          },
                          "sectionId": {
                            "type": "string"
                          },
                          "sectionName": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "webPublicationDate": {
                            "type": "string"
                          },
                          "webTitle": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theGuardian/latest/actions/get-related-content": {
      "get": {
        "operationId": "theGuardian.get-related-content",
        "summary": "Get Related Content",
        "description": "Retrieves related content for a Guardian item.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theGuardian/latest/actions/get-related-content"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemPath",
            "in": "query",
            "required": true,
            "description": "Guardian content item path used to resolve related content.",
            "schema": {
              "type": "string",
              "description": "Guardian content item path used to resolve related content."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiUrl": {
                            "type": "string"
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "headline": {
                                "type": "string"
                              },
                              "trailText": {
                                "type": "string"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "isHosted": {
                            "type": "boolean"
                          },
                          "pillarId": {
                            "type": "string"
                          },
                          "pillarName": {
                            "type": "string"
                          },
                          "sectionId": {
                            "type": "string"
                          },
                          "sectionName": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "webPublicationDate": {
                            "type": "string"
                          },
                          "webTitle": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theGuardian/latest/actions/get-story-package": {
      "get": {
        "operationId": "theGuardian.get-story-package",
        "summary": "Get Story Package",
        "description": "Retrieves story package content for a Guardian item.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theGuardian/latest/actions/get-story-package"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemPath",
            "in": "query",
            "required": true,
            "description": "Guardian content item path used to resolve story-package content.",
            "schema": {
              "type": "string",
              "description": "Guardian content item path used to resolve story-package content."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiUrl": {
                            "type": "string"
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "headline": {
                                "type": "string"
                              },
                              "trailText": {
                                "type": "string"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "isHosted": {
                            "type": "boolean"
                          },
                          "pillarId": {
                            "type": "string"
                          },
                          "pillarName": {
                            "type": "string"
                          },
                          "sectionId": {
                            "type": "string"
                          },
                          "sectionName": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "webPublicationDate": {
                            "type": "string"
                          },
                          "webTitle": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theGuardian/latest/actions/list-editions": {
      "get": {
        "operationId": "theGuardian.list-editions",
        "summary": "List Editions",
        "description": "Finds matching editions in The Guardian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theGuardian/latest/actions/list-editions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Return editions matching this query term.",
            "schema": {
              "type": "string",
              "description": "Return editions matching this query term."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiUrl": {
                            "type": "string"
                          },
                          "edition": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "webTitle": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theGuardian/latest/actions/list-sections": {
      "get": {
        "operationId": "theGuardian.list-sections",
        "summary": "List Sections",
        "description": "Finds matching sections in The Guardian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theGuardian/latest/actions/list-sections"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Return sections matching this query term.",
            "schema": {
              "type": "string",
              "description": "Return sections matching this query term."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiUrl": {
                            "type": "string"
                          },
                          "editions": {
                            "type": "object",
                            "properties": {
                              "apiUrl": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "webTitle": {
                                "type": "string"
                              },
                              "webUrl": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "webTitle": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theGuardian/latest/actions/list-tags": {
      "get": {
        "operationId": "theGuardian.list-tags",
        "summary": "List Tags",
        "description": "Finds matching tags in The Guardian.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theGuardian/latest/actions/list-tags"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Return tags containing exactly this free text.",
            "schema": {
              "type": "string",
              "description": "Return tags containing exactly this free text."
            }
          },
          {
            "name": "reference",
            "in": "query",
            "required": false,
            "description": "Filter tags by reference value.",
            "schema": {
              "type": "string",
              "description": "Filter tags by reference value."
            }
          },
          {
            "name": "referenceType",
            "in": "query",
            "required": false,
            "description": "Filter tags by reference type.",
            "schema": {
              "type": "string",
              "description": "Filter tags by reference type."
            }
          },
          {
            "name": "section",
            "in": "query",
            "required": false,
            "description": "Filter tags to one or more sections.",
            "schema": {
              "type": "string",
              "description": "Filter tags to one or more sections."
            }
          },
          {
            "name": "showReferences",
            "in": "query",
            "required": false,
            "description": "Comma-separated reference groups to include in each tag result.",
            "schema": {
              "type": "string",
              "description": "Comma-separated reference groups to include in each tag result."
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter tags by type.",
            "schema": {
              "type": "string",
              "description": "Filter tags by type."
            }
          },
          {
            "name": "webTitle",
            "in": "query",
            "required": false,
            "description": "Return tags whose web title starts with this prefix.",
            "schema": {
              "type": "string",
              "description": "Return tags whose web title starts with this prefix."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiUrl": {
                            "type": "string"
                          },
                          "bio": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "keywordType": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "sectionId": {
                            "type": "string"
                          },
                          "sectionName": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "webTitle": {
                            "type": "string"
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/theGuardian/latest/actions/search-content": {
      "get": {
        "operationId": "theGuardian.search-content",
        "summary": "Search Content",
        "description": "Finds content in The Guardian with optional search filters.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/theGuardian/latest/actions/search-content"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "description": "Return content published on or after this date.",
            "schema": {
              "type": "string",
              "description": "Return content published on or after this date."
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Free-text query string used to search Guardian content.",
            "schema": {
              "type": "string",
              "description": "Free-text query string used to search Guardian content."
            }
          },
          {
            "name": "section",
            "in": "query",
            "required": false,
            "description": "Filter results to one or more Guardian sections.",
            "schema": {
              "type": "string",
              "description": "Filter results to one or more Guardian sections."
            }
          },
          {
            "name": "showBlocks",
            "in": "query",
            "required": false,
            "description": "Block expansion mode for each returned item.",
            "schema": {
              "type": "string",
              "description": "Block expansion mode for each returned item."
            }
          },
          {
            "name": "showElements",
            "in": "query",
            "required": false,
            "description": "When true, include element data in each result.",
            "schema": {
              "type": "string",
              "description": "When true, include element data in each result."
            }
          },
          {
            "name": "showFields",
            "in": "query",
            "required": false,
            "description": "Comma-separated content field names to expand in each result.",
            "schema": {
              "type": "string",
              "description": "Comma-separated content field names to expand in each result."
            }
          },
          {
            "name": "showReferences",
            "in": "query",
            "required": false,
            "description": "Reference expansion mode for each returned item.",
            "schema": {
              "type": "string",
              "description": "Reference expansion mode for each returned item."
            }
          },
          {
            "name": "showSection",
            "in": "query",
            "required": false,
            "description": "When true, include section information in each result.",
            "schema": {
              "type": "string",
              "description": "When true, include section information in each result."
            }
          },
          {
            "name": "showTags",
            "in": "query",
            "required": false,
            "description": "Tag expansion mode for each returned item.",
            "schema": {
              "type": "string",
              "description": "Tag expansion mode for each returned item."
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Filter results to one or more Guardian tags.",
            "schema": {
              "type": "string",
              "description": "Filter results to one or more Guardian tags."
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "description": "Return content published on or before this date.",
            "schema": {
              "type": "string",
              "description": "Return content published on or before this date."
            }
          },
          {
            "name": "useDate",
            "in": "query",
            "required": false,
            "description": "Date field Guardian should use when applying from/to date filters.",
            "schema": {
              "type": "string",
              "description": "Date field Guardian should use when applying from/to date filters."
            }
          },
          {
            "name": "limit",
[...]
