{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "TrainerCentral Universal API",
    "version": "0.0.3",
    "description": "Create courses, host workshops, and manage learners with TrainerCentral"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/trainerCentral/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/trainerCentral/latest/actions/create-chapter": {
      "post": {
        "operationId": "trainerCentral.create-chapter",
        "summary": "Create Chapter",
        "description": "Creates a new chapter in TrainerCentral.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trainerCentral/latest/actions/create-chapter"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "section.courseId",
                  "section.name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "section.courseId": {
                    "type": "string",
                    "description": "The course ID the chapter belongs to."
                  },
                  "section.name": {
                    "type": "string",
                    "description": "The chapter name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdBy": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastUpdatedBy": {
                            "type": "string"
                          },
                          "lastUpdatedTime": {
                            "type": "string"
                          },
                          "sectionId": {
                            "type": "string"
                          },
                          "sectionIndex": {
                            "type": "string"
                          },
                          "sectionName": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trainerCentral/latest/actions/create-course": {
      "post": {
        "operationId": "trainerCentral.create-course",
        "summary": "Create Course",
        "description": "Creates a new course in TrainerCentral.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trainerCentral/latest/actions/create-course"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "course.courseName",
                  "course.subTitle",
                  "course.description"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "course.courseName": {
                    "type": "string",
                    "description": "The name of the course to create."
                  },
                  "course.subTitle": {
                    "type": "string",
                    "description": "A short subtitle for the course."
                  },
                  "course.description": {
                    "type": "string",
                    "description": "A short course description."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "courseId": {
                            "type": "string"
                          },
                          "courseName": {
                            "type": "string"
                          },
                          "courseURL": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "decriptionId": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "enableReview": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "kind": {
                            "type": "string"
                          },
                          "lastUpdatedBy": {
                            "type": "string"
                          },
                          "lastUpdatedTime": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "assignments": {
                                "type": "string"
                              },
                              "certificates": {
                                "type": "string"
                              },
                              "coupons": {
                                "type": "string"
                              },
                              "drips": {
                                "type": "string"
                              },
                              "paymentPortals": {
                                "type": "string"
                              },
                              "reviews": {
                                "type": "string"
                              },
                              "sections": {
                                "type": "string"
                              },
                              "sessionInfos": {
                                "type": "string"
                              },
                              "sessions": {
                                "type": "string"
                              },
                              "site": {
                                "type": "string"
                              },
                              "siteSettings": {
                                "type": "string"
                              },
                              "tests": {
                                "type": "string"
                              },
                              "tickets": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "publishStatus": {
                            "type": "string"
                          },
                          "subTitle": {
                            "type": "string"
                          },
                          "time": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "uniqueKey": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trainerCentral/latest/actions/create-lesson": {
      "post": {
        "operationId": "trainerCentral.create-lesson",
        "summary": "Create Lesson",
        "description": "Creates a lesson in TrainerCentral.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trainerCentral/latest/actions/create-lesson"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "session.name",
                  "session.courseId",
                  "session.sectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "session.name": {
                    "type": "string",
                    "description": "The lesson name."
                  },
                  "session.courseId": {
                    "type": "string",
                    "description": "The course ID the lesson belongs to."
                  },
                  "session.sectionId": {
                    "type": "string",
                    "description": "The chapter ID the lesson belongs to."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attendedCount": {
                            "type": "string"
                          },
                          "attendeeLimit": {
                            "type": "string"
                          },
                          "course": {
                            "type": "string"
                          },
                          "courseId": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "createdbyName": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string"
                          },
                          "deletedTime": {
                            "type": "string"
                          },
                          "deliveryMode": {
                            "type": "string"
                          },
                          "enableDraft": {
                            "type": "string"
                          },
                          "enablePrerequisite": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invitedCount": {
                            "type": "string"
                          },
                          "joinURL": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "assignmentSubmissions": {
                                "type": "string"
                              },
                              "certificates": {
                                "type": "string"
                              },
                              "coupons": {
                                "type": "string"
                              },
                              "evaluation": {
                                "type": "string"
                              },
                              "mailTemplates": {
                                "type": "string"
                              },
                              "paymentPortals": {
                                "type": "string"
                              },
                              "polls": {
                                "type": "string"
                              },
                              "presentationData": {
                                "type": "string"
                              },
                              "presentersettings": {
                                "type": "string"
                              },
                              "recentTalks": {
                                "type": "string"
                              },
                              "registrationSettings": {
                                "type": "string"
                              },
                              "remainderTimings": {
                                "type": "string"
                              },
                              "sessionIntegration": {
                                "type": "string"
                              },
                              "sessionMaterials": {
                                "type": "string"
                              },
                              "sessionMaterialSettings": {
                                "type": "string"
                              },
                              "sessionSettings": {
                                "type": "string"
                              },
                              "site": {
                                "type": "string"
                              },
                              "siteSettings": {
                                "type": "string"
                              },
                              "testAnalytics": {
                                "type": "string"
                              },
                              "tests": {
                                "type": "string"
                              },
                              "tickets": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "memberRole": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "orgName": {
                            "type": "string"
                          },
                          "paymentsHomePageURL": {
                            "type": "string"
                          },
                          "presenterAutoStartUrl": {
                            "type": "string"
                          },
                          "presenterUrl": {
                            "type": "string"
                          },
                          "protoFlag": {
                            "type": "string"
                          },
                          "recurringType": {
                            "type": "string"
                          },
                          "referrer": {
                            "type": "string"
                          },
                          "registeredCount": {
                            "type": "string"
                          },
                          "scheduledBy": {
                            "type": "string"
                          },
                          "scheduledbyName": {
                            "type": "string"
                          },
                          "scheduledTime": {
                            "type": "string"
                          },
                          "scheduleType": {
                            "type": "string"
                          },
                          "sessionId": {
                            "type": "string"
                          },
                          "sessionIndex": {
                            "type": "string"
                          },
                          "sessionName": {
                            "type": "string"
                          },
                          "sessionScheduledTime": {
                            "type": "string"
                          },
                          "sessionState": {
                            "type": "string"
                          },
                          "sessionType": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "timeZone": {
                            "type": "string"
                          },
                          "uniqueKey": {
                            "type": "string"
                          },
                          "zaid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trainerCentral/latest/actions/create-live-lesson": {
      "post": {
        "operationId": "trainerCentral.create-live-lesson",
        "summary": "Create Live Lesson",
        "description": "Creates a live lesson in TrainerCentral.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trainerCentral/latest/actions/create-live-lesson"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "session.name",
                  "session.courseId",
                  "session.sectionId",
                  "session.scheduledTime",
                  "session.scheduledEndTime",
                  "session.timezone"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "session.name": {
                    "type": "string",
                    "description": "The name of the live lesson."
                  },
                  "session.description": {
                    "type": "string",
                    "description": "Optional description for the live lesson.",
                    "default": "Live validation session created by MindCloud wizard"
                  },
                  "session.courseId": {
                    "type": "string",
                    "description": "The course under which the live lesson should be created."
                  },
                  "session.sectionId": {
                    "type": "string",
                    "description": "The chapter under which the live lesson should be created."
                  },
                  "session.scheduledTime": {
                    "type": "number",
                    "description": "Live lesson start time in milliseconds."
                  },
                  "session.scheduledEndTime": {
                    "type": "number",
                    "description": "Live lesson end time in milliseconds."
                  },
                  "session.timezone": {
                    "type": "string",
                    "description": "IANA timezone for the scheduled start and end times.",
                    "default": "UTC"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attendedCount": {
                            "type": "string"
                          },
                          "attendeeLimit": {
                            "type": "string"
                          },
                          "course": {
                            "type": "string"
                          },
                          "courseId": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "createdbyName": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string"
                          },
                          "deletedTime": {
                            "type": "string"
                          },
                          "deliveryMode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "descriptionId": {
                            "type": "string"
                          },
                          "enableDraft": {
                            "type": "string"
                          },
                          "enablePrerequisite": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invitedCount": {
                            "type": "string"
                          },
                          "joinURL": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "assignmentSubmissions": {
                                "type": "string"
                              },
                              "certificates": {
                                "type": "string"
                              },
                              "coupons": {
                                "type": "string"
                              },
                              "evaluation": {
                                "type": "string"
                              },
                              "mailTemplates": {
                                "type": "string"
                              },
                              "paymentPortals": {
                                "type": "string"
                              },
                              "polls": {
                                "type": "string"
                              },
                              "presentationData": {
                                "type": "string"
                              },
                              "presentersettings": {
                                "type": "string"
                              },
                              "recentTalks": {
                                "type": "string"
                              },
                              "registrationSettings": {
                                "type": "string"
                              },
                              "remainderTimings": {
                                "type": "string"
                              },
                              "sessionIntegration": {
                                "type": "string"
                              },
                              "sessionMaterials": {
                                "type": "string"
                              },
                              "sessionMaterialSettings": {
                                "type": "string"
                              },
                              "sessionSettings": {
                                "type": "string"
                              },
                              "site": {
                                "type": "string"
                              },
                              "siteSettings": {
                                "type": "string"
                              },
                              "testAnalytics": {
                                "type": "string"
                              },
                              "tests": {
                                "type": "string"
                              },
                              "tickets": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "memberRole": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "orgName": {
                            "type": "string"
                          },
                          "paymentsHomePageURL": {
                            "type": "string"
                          },
                          "presenterAutoStartUrl": {
                            "type": "string"
                          },
                          "presenterUrl": {
                            "type": "string"
                          },
                          "protoFlag": {
                            "type": "string"
                          },
                          "recurringType": {
                            "type": "string"
                          },
                          "referrer": {
                            "type": "string"
                          },
                          "registeredCount": {
                            "type": "string"
                          },
                          "scheduledBy": {
                            "type": "string"
                          },
                          "scheduledbyName": {
                            "type": "string"
                          },
                          "scheduledEndTime": {
                            "type": "string"
                          },
                          "scheduledTime": {
                            "type": "string"
                          },
                          "scheduleType": {
                            "type": "string"
                          },
                          "sessionId": {
                            "type": "string"
                          },
                          "sessionIndex": {
                            "type": "string"
                          },
                          "sessionName": {
                            "type": "string"
                          },
                          "sessionScheduledEndTime": {
                            "type": "string"
                          },
                          "sessionScheduledTime": {
                            "type": "string"
                          },
                          "sessionState": {
                            "type": "string"
                          },
                          "sessionType": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "timeZone": {
                            "type": "string"
                          },
                          "uniqueKey": {
                            "type": "string"
                          },
                          "zaid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trainerCentral/latest/actions/create-live-workshop": {
      "post": {
        "operationId": "trainerCentral.create-live-workshop",
        "summary": "Create Live Workshop",
        "description": "Creates a live workshop in TrainerCentral.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trainerCentral/latest/actions/create-live-workshop"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "session.name",
                  "session.scheduledTime",
                  "session.scheduledEndTime",
                  "session.timezone"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "session.name": {
                    "type": "string",
                    "description": "The name of the live workshop."
                  },
                  "session.description": {
                    "type": "string",
                    "description": "Optional description for the live workshop.",
                    "default": "Standalone live workshop created by MindCloud wizard"
                  },
                  "session.scheduledTime": {
                    "type": "number",
                    "description": "Live workshop start time in milliseconds."
                  },
                  "session.scheduledEndTime": {
                    "type": "number",
                    "description": "Live workshop end time in milliseconds."
                  },
                  "session.timezone": {
                    "type": "string",
                    "description": "IANA timezone for the scheduled start and end times.",
                    "default": "UTC"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attendedCount": {
                            "type": "string"
                          },
                          "attendeeLimit": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "createdbyName": {
                            "type": "string"
                          },
                          "createdTime": {
                            "type": "string"
                          },
                          "deletedTime": {
                            "type": "string"
                          },
                          "deliveryMode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "descriptionId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invitedCount": {
                            "type": "string"
                          },
                          "joinURL": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "assignmentSubmissions": {
                                "type": "string"
                              },
                              "certificates": {
                                "type": "string"
                              },
                              "coupons": {
                                "type": "string"
                              },
                              "evaluation": {
                                "type": "string"
                              },
                              "mailTemplates": {
                                "type": "string"
                              },
                              "paymentPortals": {
                                "type": "string"
                              },
                              "polls": {
                                "type": "string"
                              },
                              "presentationData": {
                                "type": "string"
                              },
                              "presentersettings": {
                                "type": "string"
                              },
                              "recentTalks": {
                                "type": "string"
                              },
                              "registrationSettings": {
                                "type": "string"
                              },
                              "remainderTimings": {
                                "type": "string"
                              },
                              "sessionIntegration": {
                                "type": "string"
                              },
                              "sessionMaterials": {
                                "type": "string"
                              },
                              "sessionMaterialSettings": {
                                "type": "string"
                              },
                              "sessionSettings": {
                                "type": "string"
                              },
                              "site": {
                                "type": "string"
                              },
                              "siteSettings": {
                                "type": "string"
                              },
                              "testAnalytics": {
                                "type": "string"
                              },
                              "tests": {
                                "type": "string"
                              },
                              "tickets": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "memberRole": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "orgName": {
                            "type": "string"
                          },
                          "paymentsHomePageURL": {
                            "type": "string"
                          },
                          "presenterAutoStartUrl": {
                            "type": "string"
                          },
                          "presenterUrl": {
                            "type": "string"
                          },
                          "protoFlag": {
                            "type": "string"
                          },
                          "recurringType": {
                            "type": "string"
                          },
                          "referrer": {
                            "type": "string"
                          },
                          "registeredCount": {
                            "type": "string"
                          },
                          "scheduledBy": {
                            "type": "string"
                          },
                          "scheduledbyName": {
                            "type": "string"
                          },
                          "scheduledEndTime": {
                            "type": "string"
                          },
                          "scheduledTime": {
                            "type": "string"
                          },
                          "scheduleType": {
                            "type": "string"
                          },
                          "sessionId": {
                            "type": "string"
                          },
                          "sessionIndex": {
                            "type": "string"
                          },
                          "sessionName": {
                            "type": "string"
                          },
                          "sessionScheduledEndTime": {
                            "type": "string"
                          },
                          "sessionScheduledTime": {
                            "type": "string"
                          },
                          "sessionType": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "timeZone": {
                            "type": "string"
                          },
                          "uniqueKey": {
                            "type": "string"
                          },
                          "zaid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trainerCentral/latest/actions/get-learner-info": {
      "get": {
        "operationId": "trainerCentral.get-learner-info",
        "summary": "Get Learner Info",
        "description": "Retrieves learner info from signup forms in TrainerCentral.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trainerCentral/latest/actions/get-learner-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "The learner email address to fetch.",
            "schema": {
              "type": "string",
              "description": "The learner email address to fetch."
            }
          },
          {
            "name": "fetchSignupData",
            "in": "query",
            "required": true,
            "description": "Set true to include signup form field data with the master fields.",
            "schema": {
              "type": "boolean",
              "description": "Set true to include signup form field data with the master fields.",
              "default": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string"
                          },
                          "emailId": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "orgMemberId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "userFirstName": {
                            "type": "string"
                          },
                          "userLastName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trainerCentral/latest/actions/invite-learner-to-course": {
      "post": {
        "operationId": "trainerCentral.invite-learner-to-course",
        "summary": "Invite Learner to Course",
        "description": "Invites a learner to a course in TrainerCentral.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trainerCentral/latest/actions/invite-learner-to-course"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "courseAttendee.email",
                  "courseAttendee.firstName",
                  "courseAttendee.lastName",
                  "courseAttendee.courseId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "courseAttendee.email": {
                    "type": "string",
                    "description": "The learner email address to invite."
                  },
                  "courseAttendee.firstName": {
                    "type": "string",
                    "description": "The learner first name."
                  },
                  "courseAttendee.lastName": {
                    "type": "string",
                    "description": "The learner last name."
                  },
                  "courseAttendee.courseId": {
                    "type": "string",
                    "description": "The course ID the learner should be invited to."
                  },
                  "courseAttendee.password": {
                    "type": "string",
                    "description": "Optional learner password."
                  },
                  "courseAttendee.expiryTime": {
                    "type": "number",
                    "description": "Optional course access expiry timestamp in milliseconds."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "courseMember": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "completionPercentage": {
                                  "type": "string"
                                },
                                "courseId": {
                                  "type": "string"
                                },
                                "courseMembersId": {
                                  "type": "string"
                                },
                                "currentStatus": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "invitedTime": {
                                  "type": "string"
                                },
                                "orgId": {
                                  "type": "string"
                                },
                                "orgMemberId": {
                                  "type": "string"
                                },
                                "role": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "time": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "portalMember": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "emailId": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "invitedBy": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "lastUpdatedTime": {
                                "type": "string"
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "enrolledCourses": {
                                    "type": "string"
                                  },
                                  "enrolledSessions": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "loginType": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "orgId": {
                                "type": "string"
                              },
                              "orgMemberId": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "time": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trainerCentral/latest/actions/list-academy-learners": {
      "get": {
        "operationId": "trainerCentral.list-academy-learners",
        "summary": "List Academy Learners",
        "description": "Retrieves academy learners from TrainerCentral.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trainerCentral/latest/actions/list-academy-learners"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "enrolledCourses": {
                                "type": "string"
                              },
                              "enrolledSessions": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "loginType": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "noofLogin": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "orgMemberId": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "time": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trainerCentral/latest/actions/list-course-members": {
      "get": {
        "operationId": "trainerCentral.list-course-members",
        "summary": "List Course Members",
        "description": "Retrieves course members from TrainerCentral.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trainerCentral/latest/actions/list-course-members"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "courseId",
            "in": "query",
            "required": true,
            "description": "The TrainerCentral course ID whose learner membership list should be fetched.",
            "schema": {
              "type": "string",
              "description": "The TrainerCentral course ID whose learner membership list should be fetched."
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "description": "Optional learner name search text.",
            "schema": {
              "type": "string",
              "description": "Optional learner name search text."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "completedLesson": {
                            "type": "number",
                            "description": "Number of completed lessons in the course."
                          },
                          "completionPercentage": {
                            "type": "number",
                            "description": "Course completion percentage."
                          },
                          "country": {
                            "type": "string",
                            "description": "Learner country."
                          },
                          "course": {
                            "type": "string",
                            "description": "Course ID."
                          },
                          "courseId": {
                            "type": "string",
                            "description": "Course ID."
                          },
                          "courseMembersId": {
                            "type": "string",
                            "description": "TrainerCentral course-member record ID."
                          },
                          "email": {
                            "type": "string",
                            "description": "Learner email address."
                          },
                          "enrolledTime": {
                            "type": "number",
                            "description": "Course enrollment time in milliseconds since epoch."
                          },
                          "formattedTotalRevenue": {
                            "type": "string",
                            "description": "Formatted revenue string for this learner in the course."
                          },
                          "id": {
                            "type": "string",
                            "description": "Course-member record ID."
                          },
                          "imageUrl": {
                            "type": "string",
                            "description": "Learner profile image URL."
                          },
                          "ipAddress": {
                            "type": "string",
                            "description": "Last known learner IP address."
                          },
                          "lastLogin": {
                            "type": "number",
                            "description": "Learner last login time in milliseconds since epoch."
                          },
                          "name": {
                            "type": "string",
                            "description": "Learner display name."
                          },
                          "orgId": {
                            "type": "string",
                            "description": "TrainerCentral academy org ID."
                          },
                          "orgMemberId": {
                            "type": "string",
                            "description": "TrainerCentral academy member ID."
                          },
                          "role": {
                            "type": "string",
                            "description": "TrainerCentral role code for the course member."
                          },
                          "status": {
                            "type": "string",
                            "description": "TrainerCentral learner-course status code."
                          },
                          "time": {
                            "type": "number",
                            "description": "Last update time in milliseconds since epoch."
                          },
                          "totalLesson": {
                            "type": "number",
                            "description": "Total number of lessons in the course."
                          },
                          "totalRevenue": {
                            "type": "number",
                            "description": "Total revenue for this learner in the course."
                          },
                          "userId": {
                            "type": "string",
                            "description": "TrainerCentral user ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/trainerCentral/latest/actions/list-courses": {
      "get": {
        "operationId": "trainerCentral.list-courses",
        "summary": "List Courses",
        "description": "Retrieves courses from TrainerCentral.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/trainerCentral/latest/actions/list-courses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Optional course source filter. Use 1 for public page, 2 for site builder, 3 for API-created, or 4 for mapped courses.",
            "schema": {
              "type": "number",
              "description": "Optional course source filter. Use 1 for public page, 2 for site builder, 3 for API-created, or 4 for mapped courses."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
[...]
