{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Kickbox Universal API",
    "version": "0.0.6",
    "description": "Verify individual emails and batch email lists with Kickbox."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/kickbox/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/kickbox/latest/actions/get-batch-verification-status": {
      "get": {
        "operationId": "kickbox.get-batch-verification-status",
        "summary": "Get Batch Verification Status",
        "description": "Retrieves a batch verification job from Kickbox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kickbox/latest/actions/get-batch-verification-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "The batch verification job ID returned when the batch job was created.",
            "schema": {
              "type": "string",
              "description": "The batch verification job ID returned when the batch job was created."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the batch verification job was created."
                          },
                          "download_url": {
                            "type": "string",
                            "description": "Signed CSV download URL when the job has completed."
                          },
                          "duration": {
                            "type": "number",
                            "description": "Batch processing duration in milliseconds."
                          },
                          "error": {
                            "type": "string",
                            "description": "Error details when the batch job fails."
                          },
                          "id": {
                            "type": "number",
                            "description": "Kickbox batch verification job ID."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message returned with the job status response."
                          },
                          "name": {
                            "type": "string",
                            "description": "Kickbox-generated batch job name."
                          },
                          "progress": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "In-progress counters returned while Kickbox is processing a batch job."
                          },
                          "stats": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Summary counts returned for a completed batch verification job."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current job status returned by Kickbox."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the status request succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/kickbox/latest/actions/start-batch-verification": {
      "post": {
        "operationId": "kickbox.start-batch-verification",
        "summary": "Start Batch Verification",
        "description": "Starts a batch email verification job in Kickbox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kickbox/latest/actions/start-batch-verification"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "emails"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "emails": {
                    "type": "string",
                    "description": "Plain-text or CSV body content containing one email address per line."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Kickbox batch verification job ID."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message returned when the batch job is created."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the batch verification job was accepted by Kickbox."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/kickbox/latest/actions/verify-email": {
      "get": {
        "operationId": "kickbox.verify-email",
        "summary": "Verify Email",
        "description": "Verifies an email address with Kickbox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kickbox/latest/actions/verify-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "The email address to verify, URL-encoded.",
            "schema": {
              "type": "string",
              "description": "The email address to verify, URL-encoded."
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Maximum time in milliseconds for the verification request. Default 6000, maximum 30000.",
            "schema": {
              "type": "number",
              "description": "Maximum time in milliseconds for the verification request. Default 6000, maximum 30000."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accept_all": {
                            "type": "boolean",
                            "description": "Whether the domain appears configured as accept-all."
                          },
                          "did_you_mean": {
                            "type": "string",
                            "description": "Suggested correction for a likely typo in the email address."
                          },
                          "disposable": {
                            "type": "boolean",
                            "description": "Whether the address appears disposable or temporary."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Domain portion of the email address."
                          },
                          "email": {
                            "type": "string",
                            "description": "Normalized email address returned by Kickbox."
                          },
                          "free": {
                            "type": "boolean",
                            "description": "Whether the address belongs to a free email provider."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider message returned with the verification result."
                          },
                          "reason": {
                            "type": "string",
                            "description": "Specific reason associated with the verification outcome."
                          },
                          "result": {
                            "type": "string",
                            "description": "Top-level verification outcome for the email address."
                          },
                          "role": {
                            "type": "boolean",
                            "description": "Whether the address appears to be a role account."
                          },
                          "sendex": {
                            "type": "number",
                            "description": "Kickbox Sendex quality score for the email address."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the verification request succeeded."
                          },
                          "user": {
                            "type": "string",
                            "description": "Local-part user portion of the email address."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
