{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ScrapeOwl Universal API",
    "version": "0.0.3",
    "description": "ScrapeOwl is a web scraping and data extraction API for fetching pages, extracting elements, rendering JavaScript, using proxies, and checking account usage."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/scrapeOwl/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/scrapeOwl/latest/actions/get-usage": {
      "get": {
        "operationId": "scrapeOwl.get-usage",
        "summary": "Get Usage",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapeOwl/latest/actions/get-usage"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "concurrency_limit": {
                            "type": "number",
                            "description": "Allowed concurrent request count."
                          },
                          "concurrent_requests": {
                            "type": "number",
                            "description": "Current concurrent request count."
                          },
                          "credits": {
                            "type": "number",
                            "description": "Current available credits."
                          },
                          "credits_used": {
                            "type": "number",
                            "description": "Credits used."
                          },
                          "failed_requests": {
                            "type": "number",
                            "description": "Failed request count."
                          },
                          "requests": {
                            "type": "number",
                            "description": "Total requests."
                          },
                          "successful_requests": {
                            "type": "number",
                            "description": "Successful request count."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scrapeOwl/latest/actions/scrape-url": {
      "get": {
        "operationId": "scrapeOwl.scrape-url",
        "summary": "Scrape URL",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scrapeOwl/latest/actions/scrape-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Target URL to scrape.",
            "schema": {
              "type": "string",
              "description": "Target URL to scrape.",
              "example": "https://example.com"
            }
          },
          {
            "name": "elements[]",
            "in": "query",
            "required": false,
            "description": "List of element selectors to extract from the webpage.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "List of element selectors to extract from the webpage."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "html",
            "in": "query",
            "required": false,
            "description": "Return the page HTML when true.",
            "schema": {
              "type": "boolean",
              "description": "Return the page HTML when true.",
              "default": false
            }
          },
          {
            "name": "jsonResponse",
            "in": "query",
            "required": false,
            "description": "Return JSON formatted output when true.",
            "schema": {
              "type": "boolean",
              "description": "Return JSON formatted output when true.",
              "default": true,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "returnHeaders",
            "in": "query",
            "required": false,
            "description": "Return headers from the target website server.",
            "schema": {
              "type": "boolean",
              "description": "Return headers from the target website server.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "returnCookies",
            "in": "query",
            "required": false,
            "description": "Return cookies from the target website server.",
            "schema": {
              "type": "boolean",
              "description": "Return cookies from the target website server.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "headers",
            "in": "query",
            "required": false,
            "description": "HTTP headers to send to the target URL.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "HTTP headers to send to the target URL.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "cookies",
            "in": "query",
            "required": false,
            "description": "Cookie header value to send to the target URL.",
            "schema": {
              "type": "string",
              "description": "Cookie header value to send to the target URL.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "requestMethod",
            "in": "query",
            "required": false,
            "description": "Target request method: GET, POST, or PUT.",
            "schema": {
              "type": "string",
              "description": "Target request method: GET, POST, or PUT.",
              "example": "GET",
              "default": "GET",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "postData",
            "in": "query",
            "required": false,
            "description": "Data to send when requestMethod is POST or PUT.",
            "schema": {
              "type": "string",
              "description": "Data to send when requestMethod is POST or PUT.",
              "example": "name=value",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "renderJs",
            "in": "query",
            "required": false,
            "description": "Use a headless Chrome instance to execute JavaScript.",
            "schema": {
              "type": "boolean",
              "description": "Use a headless Chrome instance to execute JavaScript.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "waitFor",
            "in": "query",
            "required": false,
            "description": "Element selector or millisecond duration to wait before scraping.",
            "schema": {
              "type": "string",
              "description": "Element selector or millisecond duration to wait before scraping.",
              "example": "p",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "customJs",
            "in": "query",
            "required": false,
            "description": "JavaScript to run on the page before extraction.",
            "schema": {
              "type": "string",
              "description": "JavaScript to run on the page before extraction.",
              "example": "window.scrollTo(0,document.body.scrollHeight);",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "screenshot",
            "in": "query",
            "required": false,
            "description": "Capture a screenshot; only works with render_js.",
            "schema": {
              "type": "boolean",
              "description": "Capture a screenshot; only works with render_js.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "blockResources",
            "in": "query",
            "required": false,
            "description": "Block CSS, images, and fonts while rendering JavaScript.",
            "schema": {
              "type": "boolean",
              "description": "Block CSS, images, and fonts while rendering JavaScript.",
              "default": true,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "rejectRequests[]",
            "in": "query",
            "required": false,
            "description": "Resource extensions or URLs to block during render_js scraping.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Resource extensions or URLs to block during render_js scraping.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "premiumProxies",
            "in": "query",
            "required": false,
            "description": "Use residential premium proxies.",
            "schema": {
              "type": "boolean",
              "description": "Use residential premium proxies.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Residential proxy source country ISO code.",
            "schema": {
              "type": "string",
              "description": "Residential proxy source country ISO code.",
              "example": "us",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "session",
            "in": "query",
            "required": false,
            "description": "Sticky session value for reusing the same IP address.",
            "schema": {
              "type": "string",
              "description": "Sticky session value for reusing the same IP address.",
              "example": "123456",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cookies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Cookies returned by the scrape request."
                          },
                          "credits": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Credit balance and request cost details.",
                            "properties": {
                              "available": {
                                "type": "number",
                                "description": "Available credits."
                              },
                              "request_cost": {
                                "type": "number",
                                "description": "Credits charged for this request."
                              },
                              "used": {
                                "type": "number",
                                "description": "Used credits."
                              }
                            }
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Extracted element results when elements are requested."
                          },
                          "html": {
                            "type": "string",
                            "description": "Returned page HTML or raw response content."
                          },
                          "is_billed": {
                            "type": "boolean",
                            "description": "Whether the request was billed."
                          },
                          "resolved_url": {
                            "type": "string",
                            "description": "Final resolved URL after redirects."
                          },
                          "status": {
                            "type": "number",
                            "description": "ScrapeOwl response status code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
