{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Rocketlane Universal API",
    "version": "0.0.9",
    "description": "Manage Rocketlane projects, tasks, conversations, and time entries"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/rocketlane/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/rocketlane/latest/actions/add-conversation-members": {
      "put": {
        "operationId": "rocketlane.add-conversation-members",
        "summary": "Add Conversation Members",
        "description": "Adds members to a conversation in Rocketlane.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rocketlane/latest/actions/add-conversation-members"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "conversationId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "conversationId": {
                    "type": "number",
                    "description": "The ID of the conversation object"
                  },
                  "includeFields": {
                    "type": "string",
                    "description": "Use this query parameter to opt in for fields to be returned in the response body. Use comma separated values to fetch the respective fields. If left blank, default properties are returned."
                  },
                  "includeAllFields": {
                    "type": "boolean",
                    "description": "This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conversationId": {
                            "type": "number",
                            "description": "Conversation ID"
                          },
                          "members": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Conversation Members"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rocketlane/latest/actions/add-project-members": {
      "put": {
        "operationId": "rocketlane.add-project-members",
        "summary": "Add Project Members",
        "description": "Adds members to a project in Rocketlane.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rocketlane/latest/actions/add-project-members"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "projectId": {
                    "type": "number",
                    "description": "The project's unique, system-generated identifier, which can be used to identify the project globally."
                  },
                  "members": {
                    "type": "string",
                    "description": "The project team members."
                  },
                  "customers": {
                    "type": "string",
                    "description": "The project customers."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean",
                            "description": "The field `archived` denotes whether the project is archived or not. If the project is archived, there's an option to un-archive the project."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The time when the project was created. The referenced time will be in epoch millis."
                          },
                          "createdBy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The team member who created the project."
                          },
                          "currency": {
                            "type": "string",
                            "description": "The currency for handling the project’s financials. You can only specify a currency for a project that is added at the account level. Please note that the project’s currency cannot to changed once set."
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Company details for the invoice"
                          },
                          "dueDate": {
                            "type": "string",
                            "description": "The day on which the project's execution is planned to be completed. The due date is not required and can be left blank. If sources (templates) are included as part of the project creation, the project's due date will be calculated depending on the duration of the specified sources. For projects where both startDate and dueDate are specified, the latter must be on or after the given startDate. The format for the due date is _YYYY-MM-DD_."
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Fields lists the custom project fields whose values were provided during project creation or updated later. Refer these [examples](https://developer.rocketlane.com/v1.0/docs/custom-fields#examples-of-requests-and-responses-for-assigning-custom-field-values) to know more about different types of custom fields returned in response."
                          },
                          "financials": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "This section addresses the financial aspects of the projects and the associated fields."
                          },
                          "owner": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The project owner is the team member who has access to everything in the project and is in charge of managing it. Any team member can be assigned as the project owner during the project creation or can be modified later.  In the absence of a selection, the project owner is set to the team member who created the project by default."
                          },
                          "partnerCompanies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The `partners` field contains list of partner companies."
                          },
                          "projectId": {
                            "type": "number",
                            "description": "The project's unique, system-generated identifier, which can be used to identify the project globally."
                          },
                          "projectName": {
                            "type": "string",
                            "description": "The name of the project."
                          },
                          "startDate": {
                            "type": "string",
                            "description": "On this date the project's execution officially begins. If sources (templates) are mentioned in the request, the start date is required. For projects without any defined sources, it may be empty. The format for the start date is _YYYY-MM-DD_."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The project status value along with the label will be present here."
                          },
                          "teamMembers": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The teamMembers field can be used to specify the project members, customers and customerChampion. Once the project is created, an invite will be emailed to all the teamMembers specified."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The time when the project was updated. Any changes that's related to the project are captured and specified here in epoch millis."
                          },
                          "updatedBy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The team member who updated the project"
                          },
                          "visibility": {
                            "type": "string",
                            "description": "Set visibility parameters to restrict who can see your project. There are two options: `EVERYONE` and `MEMBERS`. Selecting `EVERYONE` allows all team members from your firm to view the project, while selecting `MEMBER` restricts access to only those team members who have been specifically invited."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rocketlane/latest/actions/add-task-assignees": {
      "put": {
        "operationId": "rocketlane.add-task-assignees",
        "summary": "Add Task Assignees",
        "description": "Adds assignees to a task in Rocketlane.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rocketlane/latest/actions/add-task-assignees"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "taskId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "taskId": {
                    "type": "number",
                    "description": "The task's unique, system-generated **identifier**, which can be used to identify the task globally"
                  },
                  "members": {
                    "type": "string",
                    "description": "The list includes both `team members` and `customers` assigned to the task."
                  },
                  "placeholders": {
                    "type": "string",
                    "description": "Rocketlane's placeholders are associated with roles.  Based on the kind of roles and expertise that are needed to execute a task, placeholders can be added as assignees to templates as well as projects. Eventually, you can resolve placeholders by replacing them with team members according to their availability and role.\nNote: If the project is not built using sources, this value will be ignored but the mappings are retained and can be used in the future"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean",
                            "description": "The field `archived` denotes whether the task is archived or not. The task if archived will not be available in all search requests."
                          },
                          "assignees": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The users who are assigned the responsibility to execute the task. The assignees can be either **members** (team members or customers) or **placeholders**."
                          },
                          "atRisk": {
                            "type": "boolean",
                            "description": "Indicates whether the task has been marked as At Risk. This parameter is used to indicate that immediate action is necessary to unblock the task's execution."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The time when the task was created. The referenced time will be in epoch millis."
                          },
                          "createdBy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The team member who updated the task."
                          },
                          "dueDate": {
                            "type": "string",
                            "description": "The date when a task completes its execution. It can be empty. If both `startDate` and `dueDate` are specified for a given task, it is necessary that the latter should be on or after the given `startDate`. The format for the due date is _YYYY-MM-DD_."
                          },
                          "effortInMinutes": {
                            "type": "number",
                            "description": "The effort is the expected time required to complete the task. The value is determined in minutes."
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Fields lists the custom project fields whose values were provided during project creation or updated later. Refer these [examples](https://developer.rocketlane.com/v1.0/docs/custom-fields#examples-of-requests-and-responses-for-assigning-custom-field-values) to know more about different types of custom fields returned in response."
                          },
                          "followers": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The task followers are the team members who keep track of the execution of the project. It can be either `members` (team members or customers) or `placeholders`."
                          },
                          "private": {
                            "type": "boolean",
                            "description": "This depicts if the task is private or not."
                          },
                          "progress": {
                            "type": "number",
                            "description": "The task's progress, if indicated, will be available here and ranges in value from 0 to 100. The task's status can be used in place of this field, however progress can offer more precise data."
                          },
                          "project": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The `project` associated with task."
                          },
                          "startDate": {
                            "type": "string",
                            "description": "The date when a task starts its execution. It can be empty. The format for the start date is _YYYY-MM-DD_."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The task status value and the label. v 10, l xyz."
                          },
                          "taskDescription": {
                            "type": "string",
                            "description": "The `description` of the task. The description body needs to be in **html** format to avoid any formatting issues in the application."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "The task's unique, system-generated **identifier**, which can be used to identify the task globally."
                          },
                          "taskName": {
                            "type": "string",
                            "description": "The **name** of the task."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The time when the task was last updated. Any changes that's related to the task are captured and specified here in epoch millis."
                          },
                          "updatedBy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The team member who updated the task."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rocketlane/latest/actions/add-task-dependencies": {
      "put": {
        "operationId": "rocketlane.add-task-dependencies",
        "summary": "Add Task Dependencies",
        "description": "Adds dependencies to a task in Rocketlane.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rocketlane/latest/actions/add-task-dependencies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "taskId",
                  "dependencies"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "taskId": {
                    "type": "number",
                    "description": "The task's unique, system-generated **identifier**, which can be used to identify the task globally"
                  },
                  "dependencies": {
                    "type": "string",
                    "description": "Task Dependencies allow you to define relationships between tasks that are dependent on each other."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean",
                            "description": "The field `archived` denotes whether the task is archived or not. The task if archived will not be available in all search requests."
                          },
                          "atRisk": {
                            "type": "boolean",
                            "description": "Indicates whether the task has been marked as At Risk. This parameter is used to indicate that immediate action is necessary to unblock the task's execution."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The time when the task was created. The referenced time will be in epoch millis."
                          },
                          "createdBy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The team member who updated the task."
                          },
                          "dependencies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Task Dependencies allow you to define relationships between tasks that are dependent on each other.\nNote: Rocketlane allows you to have finish to start task dependencies. This means that dependent tasks are meant to start after the dependencies are marked as Complete."
                          },
                          "dueDate": {
                            "type": "string",
                            "description": "The date when a task completes its execution. It can be empty. If both `startDate` and `dueDate` are specified for a given task, it is necessary that the latter should be on or after the given `startDate`. The format for the due date is _YYYY-MM-DD_."
                          },
                          "effortInMinutes": {
                            "type": "number",
                            "description": "The effort is the expected time required to complete the task. The value is determined in minutes."
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Fields lists the custom project fields whose values were provided during project creation or updated later. Refer these [examples](https://developer.rocketlane.com/v1.0/docs/custom-fields#examples-of-requests-and-responses-for-assigning-custom-field-values) to know more about different types of custom fields returned in response."
                          },
                          "private": {
                            "type": "boolean",
                            "description": "This depicts if the task is private or not."
                          },
                          "progress": {
                            "type": "number",
                            "description": "The task's progress, if indicated, will be available here and ranges in value from 0 to 100. The task's status can be used in place of this field, however progress can offer more precise data."
                          },
                          "project": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The `project` associated with task."
                          },
                          "startDate": {
                            "type": "string",
                            "description": "The date when a task starts its execution. It can be empty. The format for the start date is _YYYY-MM-DD_."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The task status value and the label. v 10, l xyz."
                          },
                          "taskDescription": {
                            "type": "string",
                            "description": "The `description` of the task. The description body needs to be in **html** format to avoid any formatting issues in the application."
                          },
                          "taskId": {
                            "type": "number",
                            "description": "The task's unique, system-generated **identifier**, which can be used to identify the task globally."
                          },
                          "taskName": {
                            "type": "string",
                            "description": "The **name** of the task."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The time when the task was last updated. Any changes that's related to the task are captured and specified here in epoch millis."
                          },
                          "updatedBy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The team member who updated the task."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rocketlane/latest/actions/archive-project": {
      "put": {
        "operationId": "rocketlane.archive-project",
        "summary": "Archive Project",
        "description": "Archives a project in Rocketlane.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rocketlane/latest/actions/archive-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "projectId": {
                    "type": "number",
                    "description": "The project's unique, system-generated identifier, which can be used to identify the project globally."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rocketlane/latest/actions/create-comment": {
      "post": {
        "operationId": "rocketlane.create-comment",
        "summary": "Create Comment",
        "description": "Creates a comment in Rocketlane.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rocketlane/latest/actions/create-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "content",
                  "source"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "includeFields": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string",
                    "description": "Content of the comment"
                  },
                  "source": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Source associated with the comment"
                  },
                  "attachments": {
                    "type": "string",
                    "description": "List of attachments associated with the comment"
                  },
                  "private": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "List of attachments associated with the comment"
                          },
                          "commentId": {
                            "type": "number",
                            "description": "Unique identifier for the comment"
                          },
                          "content": {
                            "type": "string",
                            "description": "Content of the comment"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Timestamp representing the creation time of the comment"
                          },
                          "createdBy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Details of the user who created the comment"
                          },
                          "private": {
                            "type": "boolean",
                            "description": "Indicates whether the comment is private or public"
                          },
                          "source": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Source associated with the comment"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rocketlane/latest/actions/create-conversation": {
      "post": {
        "operationId": "rocketlane.create-conversation",
        "summary": "Create Conversation",
        "description": "Creates a conversation in Rocketlane.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rocketlane/latest/actions/create-conversation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "source"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "includeFields": {
                    "type": "string",
                    "description": "Use this query parameter to opt in for fields to be returned in the response body. Use comma separated values to fetch the respective fields. If left blank, default properties are returned."
                  },
                  "includeAllFields": {
                    "type": "boolean",
                    "description": "This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned."
                  },
                  "name": {
                    "type": "string",
                    "description": "Conversation name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Conversation description"
                  },
                  "source": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Source associated with the conversation"
                  },
                  "allMembers": {
                    "type": "boolean",
                    "description": "Conversation all members inclusion"
                  },
                  "members": {
                    "type": "string",
                    "description": "Conversation members"
                  },
                  "private": {
                    "type": "boolean",
                    "description": "Conversation privacy"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allMembers": {
                            "type": "boolean",
                            "description": "Conversation all members inclusion"
                          },
                          "conversationId": {
                            "type": "number",
                            "description": "Conversation ID"
                          },
                          "conversationName": {
                            "type": "string",
                            "description": "Conversation name"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Conversation Created timestamp"
                          },
                          "description": {
                            "type": "string",
                            "description": "Conversation description"
                          },
                          "members": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Conversation members"
                          },
                          "private": {
                            "type": "boolean",
                            "description": "Conversation privacy"
                          },
                          "source": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Source associated with the conversation"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rocketlane/latest/actions/create-phase": {
      "post": {
        "operationId": "rocketlane.create-phase",
        "summary": "Create Phase",
        "description": "Creates a phase in Rocketlane.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rocketlane/latest/actions/create-phase"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "phaseName",
                  "project",
                  "startDate",
                  "dueDate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "includeFields": {
                    "type": "string",
                    "description": "This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned."
                  },
                  "includeAllFields": {
                    "type": "boolean",
                    "description": "This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned."
                  },
                  "phaseId": {
                    "type": "number",
                    "description": "The `identifier` of the phase is generated by the system and can be used to identify the phase globally."
                  },
                  "phaseName": {
                    "type": "string",
                    "description": "The `name` of the phase. The name specified will be displayed everywhere else and can be used for filtering purposes."
                  },
                  "project": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The `project` associated with phase needs to be specified here and it is mandatory for the phase to get created and map accordingly."
                  },
                  "startDate": {
                    "type": "string",
                    "description": "On this date the phase's execution officially begins. The start date is required. The format for the start date is _YYYY-MM-DD_."
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "The day on which the phase's execution is planned to be completed. The due date is required and cannot be left blank. The `dueDate` must be on or after the given `startDate`. The format for the due date is _YYYY-MM-DD_."
                  },
                  "status": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The value of the phase status can be specified here and this is essential to keep track of the phase."
                  },
                  "private": {
                    "type": "boolean",
                    "description": "Describes the privacy of the phase i.e. if it is private or shared."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "number",
                            "description": "The time when the phase was created. The referenced time will be in epoch millis."
                          },
                          "createdBy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The team member who created the phase."
                          },
                          "dueDate": {
                            "type": "string",
                            "description": "The day on which the phase's execution is planned to be completed. The due date is mandatory. The dueDate must be on or after the given startDate. The format for the due date is _YYYY-MM-DD_."
                          },
                          "dueDateActual": {
                            "type": "string",
                            "description": "The date when phase status gets changed to completed. The status can be either the default provided status (completed) or a custom status that is labelled under the Completed category.  It will be null if the phase is yet to be completed. The format for the actual due date is _YYYY-MM-DD_."
                          },
                          "phaseId": {
                            "type": "number",
                            "description": "The phases's unique, system-generated identifier, which can be used to identify the phase globally."
                          },
                          "phaseName": {
                            "type": "string",
                            "description": "The name of the phase."
                          },
                          "private": {
                            "type": "boolean",
                            "description": "Describes the privacy of the phase i.e. if it is private or shared."
                          },
                          "project": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The `project` associated with phase."
                          },
                          "startDate": {
                            "type": "string",
                            "description": "On this date the phase's execution officially begins. . The due date is mandatory. The format for the start date is _YYYY-MM-DD_."
                          },
                          "startDateActual": {
                            "type": "string",
                            "description": "The date on which the phase status is changed to in progress. The status can be either the default said status (in progress) or custom statuses that are categorised as in progress. It can be null for phases that have not yet begun. The format for the actual start date is _YYYY-MM-DD_."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The phase status value along with the label will be present here."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "The time when the phase was last updated. Any changes that's related to the phase are captured and specified here in epoch millis."
                          },
                          "updatedBy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The team member who updated the phase"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rocketlane/latest/actions/create-project": {
      "post": {
        "operationId": "rocketlane.create-project",
        "summary": "Create Project",
        "description": "Creates a project in Rocketlane.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rocketlane/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectName",
                  "owner",
                  "customer"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "includeFields": {
                    "type": "string",
                    "description": "This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned."
                  },
                  "includeAllFields": {
                    "type": "boolean",
                    "description": "This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned."
                  },
                  "projectId": {
                    "type": "number",
                    "description": "The `identifier` of the project is generated by the system and can be used to identify the project globally."
                  },
                  "projectName": {
                    "type": "string",
                    "description": "The `name` of the project. The name specified will be displayed everywhere else and can be used for filtering purposes."
                  },
                  "startDate": {
                    "type": "string",
                    "description": "On this date the project's execution officially begins. If sources (templates) are mentioned in the request, the start date is required. For projects without any defined sources, it may be empty. The format for the start date is _YYYY-MM-DD_."
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "The day on which the project's execution is planned to be completed. The due date is not required and can be left blank. If sources (templates) are included as part of the project creation, the project's due date will be calculated depending on the duration of the specified sources. For projects where both `startDate` and `dueDate` are specified, the latter must be on or after the given `startDate`. The format for the due date is _YYYY-MM-DD_."
                  },
                  "visibility": {
                    "type": "string",
                    "description": "Set visibility parameters to restrict who can see your project. There are two options: `EVERYONE` and `MEMBERS`. Selecting `EVERYONE` allows all team members from your firm to view the project, while selecting `MEMBERS` restricts access to only those team members who have been specifically invited."
                  },
                  "owner": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The project owner is mandatory to be specified along with the project creation. The owner gets access to everything in the project and can be used to control the activities that happens in the project. Project owner will receive project invite email based on their notification configuration"
                  },
                  "teamMembers": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The teamMembers field can be used to specify the project members, customers and customerChampion. Once the project is created, an invite will be emailed to all the `teamMembers` specified."
                  },
                  "status": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The value of the project status can be specified here and this is essential to keep track of the project."
                  },
                  "fields": {
                    "type": "string",
                    "description": "The custom fields can be set during the project creation with the help of `fields`. The `fieldValue` can be either a string or a number or an array and it has to comply with the type of the field. Refer [examples](https://developer.rocketlane.com/v1.0/docs/custom-fields#examples-of-requests-and-responses-for-assigning-custom-field-values) to know how to assign `fieldValue` based on their `field_type`."
                  },
                  "customer": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "This field is required to identify the `customer` as part of the request. The customer's name is case-sensitive, and an exact match is required for further processing. It should be noted that once the customer information is entered, it cannot be modified during the project's lifespan."
                  },
                  "partners": {
                    "type": "string",
                    "description": "The `partners` field is used to specify partner companies."
                  },
                  "sources": {
                    "type": "string",
                    "description": "Sources denotes the project templates involved in creation/ imported post creation of the `project`."
                  },
                  "assignProjectOwner": {
                    "type": "boolean",
                    "description": "When a project is created, you can use this param to automatically assign any unassigned tasks to the **project owner**. Note: If the project hasn't been created using sources, this value will be skipped."
                  },
                  "placeholders": {
                    "type": "string",
                    "description": "Rocketlane's placeholders are associated with roles.  Based on the kind of roles and expertise that are needed to execute a task, placeholders can be added as assignees to templates as well as projects. Eventually, you can resolve placeholders by replacing them with team members according to their availability and role.\nNote: If the project is not built using sources, this value will be ignored but the mappings are retained and can be used in the future."
                  },
                  "annualizedRecurringRevenue": {
                    "type": "number",
                    "description": "Indicates the value of the recurring revenue of the customer's subscriptions for a single calendar year."
                  },
                  "projectFee": {
                    "type": "number",
                    "description": "The total fee that is charged for the project."
                  },
                  "autoAllocation": {
                    "type": "boolean",
                    "description": "The field autoAllocation defines whether Auto Allocation is enabled for the project or not. If auto allocation is enabled, instead of adding it manually, the allocations are computed from the tasks duration, effort and the assignees specified in the project."
                  },
                  "autoCreateCompany": {
                    "type": "boolean",
                    "description": "The field auto create company defines whether company should be created as part of the project creation. If the field is set to true, then if the company exists we re-use the company and proceed further. Else we will create a new company."
                  },
                  "budgetedHours": {
                    "type": "number",
                    "description": "Budgeted hours represent the total hours allocated for project execution. This value can be edited at any point throughout the project's duration. You can enter the budgeted hours in decimal form, including both hours and minutes, with up to two decimal places of precision. Eg: 1.65 hrs = 1h 39m(1.65h * 60m = 99m)."
                  },
                  "financials": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "This section addresses the financial aspects of the projects and the associated fields."
                  },
                  "currency": {
                    "type": "string",
                    "description": "The currency for handling the project’s financials. You can only specify a currency for a project that is added at the account level. Please note that the project’s currency cannot to changed once set."
                  },
                  "externalReferenceId": {
                    "type": "string",
                    "description": "An externalReferenceId is a unique identifier that links entities or transactions between external systems and Rocketlane, ensuring accurate data correlation and consistency."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allocatedHours": {
                            "type": "number",
                            "description": "If the project has `allocations` against say users or placeholders, it is collected and computed in hours."
                          },
                          "allocatedMinutes": {
                            "type": "number",
                            "description": "If the project has `allocations` against say users or placeholders, it is collected and computed in minutes."
                          },
                          "annualizedRecurringRevenue": {
                            "type": "number",
                            "description": "Indicates the value of the recurring revenue of the customer's subscriptions for a single calendar year."
                          },
                          "archived": {
                            "type": "boolean",
                            "description": "The field `archived` denotes whether the project is archived or not. If the project is archived, there's an option to un-archive the project."
                          },
                          "autoAllocation": {
                            "type": "boolean",
                            "description": "The field autoAllocation defines whether Auto Allocation is enabled for the project or not. If auto allocation is enabled, instead of adding it manually, the allocations are computed from the tasks duration, effort and the assignees specified in the project."
                          },
                          "billableHours": {
                            "type": "number",
                            "description": "If the project has time entries tracked under billable, it is collected and computed in hours."
                          },
                          "billableMinutes": {
                            "type": "number",
                            "description": "If the project has time entries tracked under billable, it is collected and computed in minutes."
                          },
                          "budgetedHours": {
                            "type": "number",
                            "description": "Budgeted hours represent the total hours allocated for project execution. This value can be edited at any point throughout the project's duration. You can enter the budgeted hours in decimal form, including both hours and minutes, with up to two decimal places of precision. Eg: 1.65 hrs = 1h 39m(1.65h * 60m = 99m)."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "The time when the project was created. The referenced time will be in epoch millis."
                          },
                          "createdBy": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The team member who created the project."
                          },
                          "currency": {
                            "type": "string",
                            "description": "The currency for handling the project’s financials. You can only specify a currency for a project that is added at the account level. Please note that the project’s currency cannot to changed once set."
                          },
                          "currentPhases": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The phases that are currently marked as in progress are available here."
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Company details for the invoice"
                          },
                          "customersInvited": {
                            "type": "number",
                            "description": "Reflects the number of customers that have been invited to the project."
                          },
                          "customersJoined": {
                            "type": "number",
                            "description": "CustomersJoined tracks the actual number of customers who joined the project after being invited. It is mostly used to track customer engagement."
                          },
                          "dueDate": {
                            "type": "string",
                            "description": "The day on which the project's execution is planned to be completed. The due date is not required and can be left blank. If sources (templates) are included as part of the project creation, the project's due date will be calculated depending on the duration of the specified sources. For projects where both startDate and dueDate are specified, the latter must be on or after the given startDate. The format for the due date is _YYYY-MM-DD_."
                          },
                          "dueDateActual": {
                            "type": "string",
                            "description": "The date when project status gets changed to completed. The status can be either the default provided status (completed) or a custom status that is labelled under the Completed category.  It will be null if the project is yet to be completed. The format for the actual due date is _YYYY-MM-DD_."
                          },
                          "externalReferenceId": {
                            "type": "string",
                            "description": "An externalReferenceId is a unique identifier that links entities or transactions between external systems and Rocketlane, ensuring accurate data correlation and consistency."
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Fields lists the custom project fields whose values were provided during project creation or updated later. Refer these [examples](https://developer.rocketlane.com/v1.0/docs/custom-fields#examples-of-requests-and-responses-for-assigning-custom-field-values) to know more about different types of custom fields returned in response."
                          },
                          "financials": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "This section addresses the financial aspects of the projects and the associated fields."
                          },
                          "inferredProgress": {
                            "type": "string",
                            "description": "The `inferredProgress` can be used to know whether the project's progress is as per the expectation. For eg: the value `ON_TRACK` specifies that the project is in good state and not further action would be necessary to track the progress of it, whereas the value `RUNNING_LATE` means that the project state deviates from the original plan and needs immediate attention."
                          },
                          "nonBillableHours": {
                            "type": "number",
                            "description": "If the project has time entries tracked under non-billable, it is collected and computed in hours."
                          },
                          "nonBillableMinutes": {
                            "type": "number",
                            "description": "If the project has time entries tracked under non-billable, it is collected and computed in minutes."
                          },
                          "owner": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The project owner is the team member who has access to everything in the project and is in charge of managing it. Any team member can be assigned as the project owner during the project creation or can be modified later.  In the absence of a selection, the project owner is set to the team member who created the project by default."
                          },
                          "partnerCompanies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The `partners` field contains list of partner companies."
                          },
                          "percentageBudgetConsumed": {
                            "type": "number",
                            "description": "The budget consumed percentage."
                          },
                          "percentageBudgetedHoursConsumed": {
                            "type": "number",
                            "description": "The budgeted hours consumed percentage."
                          },
                          "plannedDurationInDays": {
                            "type": "number",
                            "description": "The difference between `startDate` and `dueDate` is computed and stored in days as `plannedDurationInDays`."
                          },
                          "progressPercentage": {
                            "type": "number",
                            "description": "The progress percentage is computed based on the number of tasks that are completed vs the total number of tasks in the project. This can be used to track how much the project has progressed over time."
                          },
                          "projectAgeInDays": {
                            "type": "number",
                            "description": "If both the project actual dates (`startDateActual` and `dueDateActual`) are available, the difference is computed and shown in days. If `dueDateActual` isn't available, then the value is computed by the difference of today's date and the available date under `startDateActual`. The value will be null or not present if `startDateActual` is not available."
                          },
                          "projectFee": {
[...]
