{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PDFMonkey Universal API",
    "version": "0.0.6",
    "description": "Generate PDFs, manage templates, preview documents, and automate delivery."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/pDFMonkey/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/pDFMonkey/latest/actions/create-document": {
      "post": {
        "operationId": "pDFMonkey.create-document",
        "summary": "Create Document",
        "description": "Creates a document asynchronously in PDFMonkey.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFMonkey/latest/actions/create-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "documentTemplateId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "documentTemplateId": {
                    "type": "string",
                    "description": "ID of the source Template to use.",
                    "example": "12345678-90ab-cdef-1234-567890abcdef"
                  },
                  "status": {
                    "type": "string",
                    "description": "Document lifecycle state. Use pending to queue generation immediately.",
                    "example": "draft",
                    "default": "draft"
                  },
                  "payload": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Data used for document generation."
                  },
                  "meta": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Meta-data to attach to the document."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "document": {
                            "type": "object",
                            "properties": {
                              "appId": {
                                "type": "string",
                                "description": "Owning PDFMonkey app ID."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Creation timestamp."
                              },
                              "documentTemplateId": {
                                "type": "string",
                                "description": "Source template ID."
                              },
                              "downloadUrl": {
                                "type": "string",
                                "description": "Download URL."
                              },
                              "failureCause": {
                                "type": "string",
                                "description": "Failure cause when generation does not succeed."
                              },
                              "filename": {
                                "type": "string",
                                "description": "Generated file name."
                              },
                              "generationLogs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Generation log entries."
                              },
                              "id": {
                                "type": "string",
                                "description": "Document ID."
                              },
                              "meta": {
                                "type": "string",
                                "description": "Serialized document metadata."
                              },
                              "outputType": {
                                "type": "string",
                                "description": "Generated file output type."
                              },
                              "payload": {
                                "type": "string",
                                "description": "Serialized document payload."
                              },
                              "previewUrl": {
                                "type": "string",
                                "description": "Preview URL."
                              },
                              "publicShareLink": {
                                "type": "string",
                                "description": "Public share URL."
                              },
                              "status": {
                                "type": "string",
                                "description": "Document lifecycle status."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Last update timestamp."
                              },
                              "xmlData": {
                                "type": "string",
                                "description": "Serialized XML data when present."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFMonkey/latest/actions/create-template": {
      "post": {
        "operationId": "pDFMonkey.create-template",
        "summary": "Create Template",
        "description": "Creates a template in PDFMonkey.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFMonkey/latest/actions/create-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "identifier",
                  "pdfEngineDraftId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "identifier": {
                    "type": "string",
                    "description": "Human name of the document template.",
                    "example": "Stage 3 Template"
                  },
                  "editionMode": {
                    "type": "string",
                    "description": "Template editing mode.",
                    "example": "code",
                    "default": "code"
                  },
                  "bodyDraft": {
                    "type": "string",
                    "description": "Draft HTML + Liquid content.",
                    "example": "<p>Hello {{name}}</p>"
                  },
                  "scssStyleDraft": {
                    "type": "string",
                    "description": "Draft CSS or SCSS style.",
                    "example": "body { font-family: sans-serif; }"
                  },
                  "sampleDataDraft": {
                    "type": "string",
                    "description": "Draft sample data as a JSON string.",
                    "example": "[object Object]"
                  },
                  "settingsDraft": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Draft template settings object."
                  },
                  "pdfEngineDraftId": {
                    "type": "string",
                    "description": "PDF engine used to preview draft changes.",
                    "example": "c1931951-3a89-4066-9eb7-0adce6c9dcc8"
                  },
                  "ttl": {
                    "type": "number",
                    "description": "Document expiration delay in seconds.",
                    "example": 86400,
                    "default": 86400
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "documentTemplate": {
                            "type": "object",
                            "properties": {
                              "appId": {
                                "type": "string",
                                "description": "Owning workspace ID."
                              },
                              "body": {
                                "type": "string",
                                "description": "Published template body."
                              },
                              "bodyDraft": {
                                "type": "string",
                                "description": "Draft template body."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Creation timestamp."
                              },
                              "deletedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Deletion timestamp when present."
                              },
                              "editionMode": {
                                "type": "string",
                                "description": "Template editing mode."
                              },
                              "id": {
                                "type": "string",
                                "description": "Template ID."
                              },
                              "identifier": {
                                "type": "string",
                                "description": "Template name."
                              },
                              "outputType": {
                                "type": "string",
                                "description": "Generated file output type."
                              },
                              "pdfEngineDraftId": {
                                "type": "string",
                                "description": "Draft PDF engine ID."
                              },
                              "pdfEngineId": {
                                "type": "string",
                                "description": "Published PDF engine ID."
                              },
                              "previewUrl": {
                                "type": "string",
                                "description": "Template preview URL."
                              },
                              "sampleData": {
                                "type": "string",
                                "description": "Published sample data."
                              },
                              "sampleDataDraft": {
                                "type": "string",
                                "description": "Draft sample data."
                              },
                              "scssStyle": {
                                "type": "string",
                                "description": "Published template style."
                              },
                              "scssStyleDraft": {
                                "type": "string",
                                "description": "Draft template style."
                              },
                              "settings": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Published template settings."
                              },
                              "settingsDraft": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Draft template settings."
                              },
                              "templateFolderId": {
                                "type": "string",
                                "description": "Template folder ID when present."
                              },
                              "ttl": {
                                "type": "number",
                                "description": "Document expiration delay."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Last update timestamp."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFMonkey/latest/actions/delete-document": {
      "delete": {
        "operationId": "pDFMonkey.delete-document",
        "summary": "Delete Document",
        "description": "Deletes an existing document from PDFMonkey.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFMonkey/latest/actions/delete-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of the Document to delete.",
            "schema": {
              "type": "string",
              "description": "ID of the Document to delete.",
              "example": "4ba1447a-2f06-4d47-8dc2-a1074a1aa496"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the delete request succeeded."
                          },
                          "id": {
                            "type": "string",
                            "description": "Deleted document ID from the request context."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFMonkey/latest/actions/delete-template": {
      "delete": {
        "operationId": "pDFMonkey.delete-template",
        "summary": "Delete Template",
        "description": "Deletes an existing template from PDFMonkey.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFMonkey/latest/actions/delete-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of the template to delete.",
            "schema": {
              "type": "string",
              "description": "ID of the template to delete.",
              "example": "3e642963-37eb-43ec-a6f5-71be4514b26b"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the delete request succeeded."
                          },
                          "id": {
                            "type": "string",
                            "description": "Deleted template ID from the request context."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFMonkey/latest/actions/generate-document-synchronously": {
      "post": {
        "operationId": "pDFMonkey.generate-document-synchronously",
        "summary": "Generate Document Synchronously",
        "description": "Generates a document synchronously in PDFMonkey.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFMonkey/latest/actions/generate-document-synchronously"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "documentTemplateId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "documentTemplateId": {
                    "type": "string",
                    "description": "ID of the source Template to use.",
                    "example": "12345678-90ab-cdef-1234-567890abcdef"
                  },
                  "payload": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Data to use for the Document generation."
                  },
                  "meta": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Meta-data to attach to the Document."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "documentCard": {
                            "type": "object",
                            "properties": {
                              "appId": {
                                "type": "string",
                                "description": "Owning PDFMonkey app ID."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Creation timestamp."
                              },
                              "documentTemplateId": {
                                "type": "string",
                                "description": "Source template ID."
                              },
                              "documentTemplateIdentifier": {
                                "type": "string",
                                "description": "Source template identifier."
                              },
                              "downloadUrl": {
                                "type": "string",
                                "description": "Download URL."
                              },
                              "failureCause": {
                                "type": "string",
                                "description": "Failure cause when generation does not succeed."
                              },
                              "filename": {
                                "type": "string",
                                "description": "Generated file name."
                              },
                              "id": {
                                "type": "string",
                                "description": "Document card ID."
                              },
                              "meta": {
                                "type": "string",
                                "description": "Serialized document metadata."
                              },
                              "outputType": {
                                "type": "string",
                                "description": "Generated file output type."
                              },
                              "previewUrl": {
                                "type": "string",
                                "description": "Preview URL."
                              },
                              "publicShareLink": {
                                "type": "string",
                                "description": "Public share URL."
                              },
                              "status": {
                                "type": "string",
                                "description": "Generation status."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Last update timestamp."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFMonkey/latest/actions/get-current-user": {
      "get": {
        "operationId": "pDFMonkey.get-current-user",
        "summary": "Get Current User",
        "description": "Retrieves the current user from PDFMonkey.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFMonkey/latest/actions/get-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currentUser": {
                            "type": "object",
                            "properties": {
                              "availableDocuments": {
                                "type": "number",
                                "description": "Remaining or available document quota."
                              },
                              "blockResources": {
                                "type": "boolean",
                                "description": "Whether account resources are blocked."
                              },
                              "companyName": {
                                "type": "string",
                                "description": "Company name on the account."
                              },
                              "country": {
                                "type": "string",
                                "description": "Country code for the account."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Creation timestamp."
                              },
                              "currentPlan": {
                                "type": "string",
                                "description": "Current subscription plan."
                              },
                              "currentPlanInterval": {
                                "type": "string",
                                "description": "Billing interval for the current plan."
                              },
                              "desiredName": {
                                "type": "string",
                                "description": "Desired account display name."
                              },
                              "email": {
                                "type": "string",
                                "description": "Account email address."
                              },
                              "firstName": {
                                "type": "string",
                                "description": "First name."
                              },
                              "id": {
                                "type": "string",
                                "description": "Current user ID."
                              },
                              "lang": {
                                "type": "string",
                                "description": "Preferred language."
                              },
                              "lastName": {
                                "type": "string",
                                "description": "Last name."
                              },
                              "onboardingCompletedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Onboarding completion timestamp."
                              },
                              "payingCustomer": {
                                "type": "boolean",
                                "description": "Whether the account is a paying customer."
                              },
                              "phoneNumber": {
                                "type": "string",
                                "description": "Phone number."
                              },
                              "shareLinks": {
                                "type": "boolean",
                                "description": "Whether share links are enabled."
                              },
                              "trialEndsOn": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Trial end date."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Last update timestamp."
                              },
                              "useCase": {
                                "type": "string",
                                "description": "Declared product use case."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFMonkey/latest/actions/get-document": {
      "get": {
        "operationId": "pDFMonkey.get-document",
        "summary": "Get Document",
        "description": "Retrieves a document from PDFMonkey.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFMonkey/latest/actions/get-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of the Document to fetch.",
            "schema": {
              "type": "string",
              "description": "ID of the Document to fetch.",
              "example": "2c55399c-f469-41d5-a584-1323270f2dd3"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "document": {
                            "type": "object",
                            "properties": {
                              "appId": {
                                "type": "string",
                                "description": "Owning PDFMonkey app ID."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Creation timestamp."
                              },
                              "documentTemplateId": {
                                "type": "string",
                                "description": "Source template ID."
                              },
                              "downloadUrl": {
                                "type": "string",
                                "description": "Download URL."
                              },
                              "failureCause": {
                                "type": "string",
                                "description": "Failure cause when generation does not succeed."
                              },
                              "filename": {
                                "type": "string",
                                "description": "Generated file name."
                              },
                              "generationLogs": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": "Generation log entries."
                              },
                              "id": {
                                "type": "string",
                                "description": "Document ID."
                              },
                              "meta": {
                                "type": "string",
                                "description": "Serialized document metadata."
                              },
                              "outputType": {
                                "type": "string",
                                "description": "Generated file output type."
                              },
                              "payload": {
                                "type": "string",
                                "description": "Serialized document payload."
                              },
                              "previewUrl": {
                                "type": "string",
                                "description": "Preview URL."
                              },
                              "publicShareLink": {
                                "type": "string",
                                "description": "Public share URL."
                              },
                              "status": {
                                "type": "string",
                                "description": "Document lifecycle status."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Last update timestamp."
                              },
                              "xmlData": {
                                "type": "string",
                                "description": "Serialized XML data when present."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFMonkey/latest/actions/get-document-card": {
      "get": {
        "operationId": "pDFMonkey.get-document-card",
        "summary": "Get Document Card",
        "description": "Retrieves a document card from PDFMonkey.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFMonkey/latest/actions/get-document-card"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of the Document to fetch.",
            "schema": {
              "type": "string",
              "description": "ID of the Document to fetch.",
              "example": "0262787a-7c7d-43f6-a2f6-311f4695c9b3"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "documentCard": {
                            "type": "object",
                            "properties": {
                              "appId": {
                                "type": "string",
                                "description": "Owning PDFMonkey app ID."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Creation timestamp."
                              },
                              "documentTemplateId": {
                                "type": "string",
                                "description": "Source template ID."
                              },
                              "documentTemplateIdentifier": {
                                "type": "string",
                                "description": "Source template identifier."
                              },
                              "downloadUrl": {
                                "type": "string",
                                "description": "Download URL."
                              },
                              "failureCause": {
                                "type": "string",
                                "description": "Failure cause when generation does not succeed."
                              },
                              "filename": {
                                "type": "string",
                                "description": "Generated file name."
                              },
                              "id": {
                                "type": "string",
                                "description": "Document card ID."
                              },
                              "meta": {
                                "type": "string",
                                "description": "Serialized document metadata."
                              },
                              "outputType": {
                                "type": "string",
                                "description": "Generated file output type."
                              },
                              "previewUrl": {
                                "type": "string",
                                "description": "Preview URL."
                              },
                              "publicShareLink": {
                                "type": "string",
                                "description": "Public share URL."
                              },
                              "status": {
                                "type": "string",
                                "description": "Generation status."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Last update timestamp."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFMonkey/latest/actions/get-template": {
      "get": {
        "operationId": "pDFMonkey.get-template",
        "summary": "Get Template",
        "description": "Retrieves a template from PDFMonkey.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFMonkey/latest/actions/get-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of the template to fetch.",
            "schema": {
              "type": "string",
              "description": "ID of the template to fetch.",
              "example": "BD22B61C-FDF2-42F1-B56A-1FE18C3C2E40"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "documentTemplate": {
                            "type": "object",
                            "properties": {
                              "appId": {
                                "type": "string",
                                "description": "Owning workspace ID."
                              },
                              "body": {
                                "type": "string",
                                "description": "Published template body."
                              },
                              "bodyDraft": {
                                "type": "string",
                                "description": "Draft template body."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Creation timestamp."
                              },
                              "deletedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Deletion timestamp when present."
                              },
                              "editionMode": {
                                "type": "string",
                                "description": "Template editing mode."
                              },
                              "id": {
                                "type": "string",
                                "description": "Template ID."
                              },
                              "identifier": {
                                "type": "string",
                                "description": "Template name."
                              },
                              "outputType": {
                                "type": "string",
                                "description": "Generated file output type."
                              },
                              "pdfEngineDraftId": {
                                "type": "string",
                                "description": "Draft PDF engine ID."
                              },
                              "pdfEngineId": {
                                "type": "string",
                                "description": "Published PDF engine ID."
                              },
                              "previewUrl": {
                                "type": "string",
                                "description": "Template preview URL."
                              },
                              "sampleData": {
                                "type": "string",
                                "description": "Published sample data."
                              },
                              "sampleDataDraft": {
                                "type": "string",
                                "description": "Draft sample data."
                              },
                              "scssStyle": {
                                "type": "string",
                                "description": "Published template style."
                              },
                              "scssStyleDraft": {
                                "type": "string",
                                "description": "Draft template style."
                              },
                              "settings": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Published template settings."
                              },
                              "settingsDraft": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Draft template settings."
                              },
                              "templateFolderId": {
                                "type": "string",
                                "description": "Template folder ID when present."
                              },
                              "ttl": {
                                "type": "number",
                                "description": "Document expiration delay."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Last update timestamp."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFMonkey/latest/actions/list-documents": {
      "get": {
        "operationId": "pDFMonkey.list-documents",
        "summary": "List Documents",
        "description": "Retrieves documents from PDFMonkey.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFMonkey/latest/actions/list-documents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "description": "Results page number.",
            "schema": {
              "type": "number",
              "description": "Results page number.",
              "example": 1
            }
          },
          {
            "name": "documentTemplateIds",
            "in": "query",
            "required": false,
            "description": "Template IDs to filter on.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Template IDs to filter on."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Document status to filter on.",
            "schema": {
              "type": "string",
              "description": "Document status to filter on.",
              "example": "success"
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": false,
            "description": "Workspace ID to filter on.",
            "schema": {
              "type": "string",
              "description": "Workspace ID to filter on.",
              "example": "12345678-90ab-cdef-1234-567890abcdef"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "required": false,
            "description": "Unix timestamp filter for recently updated documents.",
            "schema": {
              "type": "number",
              "description": "Unix timestamp filter for recently updated documents.",
              "example": 1640995200
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "documentCard": {
                            "type": "object",
                            "properties": {
                              "appId": {
                                "type": "string",
                                "description": "Owning PDFMonkey app ID."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Creation timestamp."
                              },
                              "documentTemplateId": {
                                "type": "string",
                                "description": "Source template ID."
                              },
                              "documentTemplateIdentifier": {
                                "type": "string",
                                "description": "Source template identifier."
                              },
                              "downloadUrl": {
                                "type": "string",
                                "description": "Download URL."
                              },
                              "failureCause": {
                                "type": "string",
                                "description": "Failure cause when generation does not succeed."
                              },
                              "filename": {
                                "type": "string",
                                "description": "Generated file name."
                              },
                              "id": {
                                "type": "string",
                                "description": "Document card ID."
                              },
                              "meta": {
                                "type": "string",
                                "description": "Serialized document metadata."
                              },
                              "outputType": {
                                "type": "string",
                                "description": "Generated file output type."
                              },
                              "previewUrl": {
                                "type": "string",
                                "description": "Preview URL."
                              },
                              "publicShareLink": {
                                "type": "string",
                                "description": "Public share URL."
                              },
                              "status": {
                                "type": "string",
                                "description": "Generation status."
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Last update timestamp."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFMonkey/latest/actions/list-pdf-engines": {
      "get": {
        "operationId": "pDFMonkey.list-pdf-engines",
        "summary": "List PDF Engines",
        "description": "Retrieves PDF engines from PDFMonkey.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFMonkey/latest/actions/list-pdf-engines"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pdfEngine": {
                            "type": "object",
                            "properties": {
                              "deprecatedOn": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Deprecation date when present."
                              },
                              "id": {
                                "type": "string",
                                "description": "PDF engine ID."
                              },
                              "name": {
                                "type": "string",
                                "description": "PDF engine name."
                              },
                              "version": {
                                "type": "number",
                                "description": "Engine version number."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
[...]
