{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Freshsales Classic Universal API",
    "version": "0.0.8",
    "description": "Freshsales Classic is a Freshworks CRM integration for managing contacts, accounts, deals, tasks, search, and related sales data through the legacy Freshsales API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/freshsalesClassic/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/freshsalesClassic/latest/actions/list-account-views": {
      "get": {
        "operationId": "freshsalesClassic.list-account-views",
        "summary": "List Account Views",
        "description": "Retrieves account views from Freshsales Classic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshsalesClassic/latest/actions/list-account-views"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currentUserPermissions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "isDefault": {
                            "type": "boolean"
                          },
                          "modelClassName": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "number"
                          },
                          "userName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshsalesClassic/latest/actions/list-all-account-fields": {
      "get": {
        "operationId": "freshsalesClassic.list-all-account-fields",
        "summary": "List All Account Fields",
        "description": "Retrieves account fields from Freshsales Classic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshsalesClassic/latest/actions/list-all-account-fields"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Optional related data to include, for example field_group.",
            "schema": {
              "type": "string",
              "description": "Optional related data to include, for example field_group."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actionable": {
                            "type": "boolean",
                            "description": "Whether the field can be used in actions."
                          },
                          "baseModel": {
                            "type": "string",
                            "description": "Freshsales base model for the field."
                          },
                          "choices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Available option choices for selectable fields."
                          },
                          "default": {
                            "type": "boolean",
                            "description": "Whether the field is a default field."
                          },
                          "id": {
                            "type": "number",
                            "description": "Field ID."
                          },
                          "label": {
                            "type": "string",
                            "description": "Field label."
                          },
                          "name": {
                            "type": "string",
                            "description": "Field API name."
                          },
                          "position": {
                            "type": "number",
                            "description": "Field display position."
                          },
                          "quickAddPosition": {
                            "type": "number",
                            "description": "Quick-add position when defined."
                          },
                          "required": {
                            "type": "boolean",
                            "description": "Whether the field is required."
                          },
                          "type": {
                            "type": "string",
                            "description": "Field input type."
                          },
                          "visible": {
                            "type": "boolean",
                            "description": "Whether the field is visible by default."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshsalesClassic/latest/actions/list-all-accounts": {
      "get": {
        "operationId": "freshsalesClassic.list-all-accounts",
        "summary": "List All Accounts",
        "description": "Retrieves accounts from a Freshsales Classic view.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshsalesClassic/latest/actions/list-all-accounts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to return for the selected account view.",
            "schema": {
              "type": "number",
              "description": "Page number to return for the selected account view."
            }
          },
          {
            "name": "viewId",
            "in": "query",
            "required": true,
            "description": "The account view ID.",
            "schema": {
              "type": "number",
              "description": "The account view ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "annualRevenue": {
                            "type": "number"
                          },
                          "city": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "numberOfEmployees": {
                            "type": "number"
                          },
                          "openDealsAmount": {
                            "type": "string"
                          },
                          "openDealsCount": {
                            "type": "number"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "website": {
                            "type": "string"
                          },
                          "wonDealsAmount": {
                            "type": "string"
                          },
                          "wonDealsCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshsalesClassic/latest/actions/list-all-appointments": {
      "get": {
        "operationId": "freshsalesClassic.list-all-appointments",
        "summary": "List All Appointments",
        "description": "Retrieves appointments from Freshsales Classic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshsalesClassic/latest/actions/list-all-appointments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "description": "Freshsales appointment filter. Use one documented filter at a time: open or complete.",
            "schema": {
              "type": "string",
              "description": "Freshsales appointment filter. Use one documented filter at a time: open or complete.",
              "example": "open",
              "default": "open"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to return.",
            "schema": {
              "type": "number",
              "description": "Page number to return."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "description": "Appointment creation timestamp."
                          },
                          "createrId": {
                            "type": "number",
                            "description": "Creator user ID."
                          },
                          "description": {
                            "type": "string",
                            "description": "Appointment description."
                          },
                          "endDate": {
                            "type": "string",
                            "description": "Appointment end date and time."
                          },
                          "fromDate": {
                            "type": "string",
                            "description": "Appointment start date and time."
                          },
                          "hasMultipleEmails": {
                            "type": "boolean",
                            "description": "Whether multiple attendee emails are associated."
                          },
                          "id": {
                            "type": "number",
                            "description": "Appointment ID."
                          },
                          "isAllday": {
                            "type": "boolean",
                            "description": "Whether the appointment is all day."
                          },
                          "location": {
                            "type": "string",
                            "description": "Appointment location."
                          },
                          "outcomeId": {
                            "type": "number",
                            "description": "Appointment outcome ID."
                          },
                          "provider": {
                            "type": "string",
                            "description": "Appointment provider."
                          },
                          "targetables": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related target entities."
                          },
                          "targetablesWithEmail": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related target entities with names."
                          },
                          "timeZone": {
                            "type": "string",
                            "description": "Appointment time zone."
                          },
                          "title": {
                            "type": "string",
                            "description": "Appointment title."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Appointment update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshsalesClassic/latest/actions/list-all-contact-fields": {
      "get": {
        "operationId": "freshsalesClassic.list-all-contact-fields",
        "summary": "List All Contact Fields",
        "description": "Retrieves contact fields from Freshsales Classic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshsalesClassic/latest/actions/list-all-contact-fields"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Optional related data to include, for example field_group.",
            "schema": {
              "type": "string",
              "description": "Optional related data to include, for example field_group."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actionable": {
                            "type": "boolean",
                            "description": "Whether the field can be used in actions."
                          },
                          "baseModel": {
                            "type": "string",
                            "description": "Freshsales base model for the field."
                          },
                          "choices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Available option choices for selectable fields."
                          },
                          "default": {
                            "type": "boolean",
                            "description": "Whether the field is a default field."
                          },
                          "id": {
                            "type": "number",
                            "description": "Field ID."
                          },
                          "label": {
                            "type": "string",
                            "description": "Field label."
                          },
                          "name": {
                            "type": "string",
                            "description": "Field API name."
                          },
                          "position": {
                            "type": "number",
                            "description": "Field display position."
                          },
                          "quickAddPosition": {
                            "type": "number",
                            "description": "Quick-add position when defined."
                          },
                          "required": {
                            "type": "boolean",
                            "description": "Whether the field is required."
                          },
                          "type": {
                            "type": "string",
                            "description": "Field input type."
                          },
                          "visible": {
                            "type": "boolean",
                            "description": "Whether the field is visible by default."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshsalesClassic/latest/actions/list-all-contacts": {
      "get": {
        "operationId": "freshsalesClassic.list-all-contacts",
        "summary": "List All Contacts",
        "description": "Retrieves contacts from a Freshsales Classic view.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshsalesClassic/latest/actions/list-all-contacts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to return for the selected contact view.",
            "schema": {
              "type": "number",
              "description": "Page number to return for the selected contact view."
            }
          },
          {
            "name": "viewId",
            "in": "query",
            "required": true,
            "description": "The contact view ID.",
            "schema": {
              "type": "number",
              "description": "The contact view ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "jobTitle": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "leadScore": {
                            "type": "number"
                          },
                          "mobileNumber": {
                            "type": "string"
                          },
                          "openDealsAmount": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "wonDealsAmount": {
                            "type": "string"
                          },
                          "workNumber": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshsalesClassic/latest/actions/list-all-deal-fields": {
      "get": {
        "operationId": "freshsalesClassic.list-all-deal-fields",
        "summary": "List All Deal Fields",
        "description": "Retrieves deal fields from Freshsales Classic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshsalesClassic/latest/actions/list-all-deal-fields"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Optional related data to include, for example field_group.",
            "schema": {
              "type": "string",
              "description": "Optional related data to include, for example field_group."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actionable": {
                            "type": "boolean",
                            "description": "Whether the field can be used in actions."
                          },
                          "baseModel": {
                            "type": "string",
                            "description": "Freshsales base model for the field."
                          },
                          "choices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Available option choices for selectable fields."
                          },
                          "default": {
                            "type": "boolean",
                            "description": "Whether the field is a default field."
                          },
                          "id": {
                            "type": "number",
                            "description": "Field ID."
                          },
                          "label": {
                            "type": "string",
                            "description": "Field label."
                          },
                          "name": {
                            "type": "string",
                            "description": "Field API name."
                          },
                          "position": {
                            "type": "number",
                            "description": "Field display position."
                          },
                          "quickAddPosition": {
                            "type": "number",
                            "description": "Quick-add position when defined."
                          },
                          "required": {
                            "type": "boolean",
                            "description": "Whether the field is required."
                          },
                          "type": {
                            "type": "string",
                            "description": "Field input type."
                          },
                          "visible": {
                            "type": "boolean",
                            "description": "Whether the field is visible by default."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshsalesClassic/latest/actions/list-all-deals": {
      "get": {
        "operationId": "freshsalesClassic.list-all-deals",
        "summary": "List All Deals",
        "description": "Retrieves deals from a Freshsales Classic view.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshsalesClassic/latest/actions/list-all-deals"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to return for the selected deal view.",
            "schema": {
              "type": "number",
              "description": "Page number to return for the selected deal view."
            }
          },
          {
            "name": "viewId",
            "in": "query",
            "required": true,
            "description": "The deal view ID.",
            "schema": {
              "type": "number",
              "description": "The deal view ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "age": {
                            "type": "number"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "closedDate": {
                            "type": "string"
                          },
                          "dealPipelineId": {
                            "type": "number"
                          },
                          "dealStageId": {
                            "type": "number"
                          },
                          "expectedClose": {
                            "type": "string"
                          },
                          "expectedDealValue": {
                            "type": "string"
                          },
                          "forecastCategory": {
                            "type": "number"
                          },
                          "hasProducts": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "probability": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshsalesClassic/latest/actions/list-all-sales-activities": {
      "get": {
        "operationId": "freshsalesClassic.list-all-sales-activities",
        "summary": "List All Sales Activities",
        "description": "Retrieves sales activities from Freshsales Classic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshsalesClassic/latest/actions/list-all-sales-activities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to return.",
            "schema": {
              "type": "number",
              "description": "Page number to return."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalUserCount": {
                            "type": "number",
                            "description": "Count of additional associated users when present."
                          },
                          "checkedinAt": {
                            "type": "string",
                            "description": "Timestamp of the check-in when present."
                          },
                          "checkedinDuration": {
                            "type": "number",
                            "description": "Duration spent checked in, in seconds, when present."
                          },
                          "checkedoutAt": {
                            "type": "string",
                            "description": "Checkout timestamp when present."
                          },
                          "checkedoutLatitude": {
                            "type": "string",
                            "description": "Latitude captured at checkout when present."
                          },
                          "checkedoutLocation": {
                            "type": "string",
                            "description": "Location captured at checkout when present."
                          },
                          "checkedoutLongitude": {
                            "type": "string",
                            "description": "Longitude captured at checkout when present."
                          },
                          "completedDate": {
                            "type": "string",
                            "description": "Completion timestamp when present."
                          },
                          "conversationId": {
                            "type": "number",
                            "description": "Conversation ID linked to the sales activity when present."
                          },
                          "conversationTime": {
                            "type": "string",
                            "description": "Conversation timestamp associated with the activity when present."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Sales activity creation timestamp."
                          },
                          "createrId": {
                            "type": "number",
                            "description": "ID of the user who created the sales activity."
                          },
                          "customField": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom field payload for the sales activity when present."
                          },
                          "endDate": {
                            "type": "string",
                            "description": "End timestamp of the sales activity."
                          },
                          "hasMultipleEmails": {
                            "type": "boolean",
                            "description": "Whether multiple target emails are associated."
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique ID of the sales activity."
                          },
                          "importId": {
                            "type": "string",
                            "description": "Import identifier when present."
                          },
                          "latitude": {
                            "type": "string",
                            "description": "Latitude captured for the activity location when present."
                          },
                          "location": {
                            "type": "string",
                            "description": "Location associated with the sales activity when present."
                          },
                          "longitude": {
                            "type": "string",
                            "description": "Longitude captured for the activity location when present."
                          },
                          "noteId": {
                            "type": "number",
                            "description": "Note ID associated with the sales activity when present."
                          },
                          "notes": {
                            "type": "string",
                            "description": "Description or notes for the sales activity."
                          },
                          "ownerId": {
                            "type": "number",
                            "description": "ID of the user who owns the sales activity."
                          },
                          "remoteId": {
                            "type": "string",
                            "description": "Remote identifier when present."
                          },
                          "salesActivityOutcomeId": {
                            "type": "number",
                            "description": "ID of the selected sales activity outcome when present."
                          },
                          "salesActivityTypeId": {
                            "type": "number",
                            "description": "ID of the sales activity type."
                          },
                          "startDate": {
                            "type": "string",
                            "description": "Start timestamp of the sales activity."
                          },
                          "status": {
                            "type": "boolean",
                            "description": "Whether the sales activity is marked completed."
                          },
                          "targetableId": {
                            "type": "number",
                            "description": "ID of the related contact, account, or deal."
                          },
                          "targetables": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related target entities for the sales activity."
                          },
                          "targetablesWithEmail": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related target entities with display names."
                          },
                          "targetableType": {
                            "type": "string",
                            "description": "Entity type related to the sales activity."
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the sales activity."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Sales activity update timestamp."
                          },
                          "updaterId": {
                            "type": "number",
                            "description": "ID of the user who last updated the sales activity when present."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshsalesClassic/latest/actions/list-all-sales-activity-fields": {
      "get": {
        "operationId": "freshsalesClassic.list-all-sales-activity-fields",
        "summary": "List All Sales Activity Fields",
        "description": "Retrieves sales activity fields from Freshsales Classic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshsalesClassic/latest/actions/list-all-sales-activity-fields"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Optional related data to include, for example field_group.",
            "schema": {
              "type": "string",
              "description": "Optional related data to include, for example field_group."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actionable": {
                            "type": "boolean",
                            "description": "Whether the field can be used in actions."
                          },
                          "baseModel": {
                            "type": "string",
                            "description": "Freshsales base model for the field."
                          },
                          "choices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Available option choices for selectable fields."
                          },
                          "default": {
                            "type": "boolean",
                            "description": "Whether the field is a default field."
                          },
                          "id": {
                            "type": "number",
                            "description": "Field ID."
                          },
                          "label": {
                            "type": "string",
                            "description": "Field label."
                          },
                          "name": {
                            "type": "string",
                            "description": "Field API name."
                          },
                          "position": {
                            "type": "number",
                            "description": "Field display position."
                          },
                          "quickAddPosition": {
                            "type": "number",
                            "description": "Quick-add position when defined."
                          },
                          "required": {
                            "type": "boolean",
                            "description": "Whether the field is required."
                          },
                          "type": {
                            "type": "string",
                            "description": "Field input type."
                          },
                          "visible": {
                            "type": "boolean",
                            "description": "Whether the field is visible by default."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshsalesClassic/latest/actions/list-all-tasks": {
      "get": {
        "operationId": "freshsalesClassic.list-all-tasks",
        "summary": "List All Tasks",
        "description": "Retrieves tasks from Freshsales Classic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshsalesClassic/latest/actions/list-all-tasks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "description": "Freshsales task filter. Use one documented filter at a time, such as open, due_today, due_tomorrow, overdue, or completed.",
            "schema": {
              "type": "string",
              "description": "Freshsales task filter. Use one documented filter at a time, such as open, due_today, due_tomorrow, overdue, or completed.",
              "example": "open",
              "default": "open"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number to return.",
            "schema": {
              "type": "number",
              "description": "Page number to return."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "completedDate": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createrId": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "hasMultipleEmails": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isLinkedinType": {
                            "type": "boolean"
                          },
                          "outcomeId": {
                            "type": "number"
                          },
                          "ownerId": {
                            "type": "number"
                          },
                          "status": {
                            "type": "number"
                          },
                          "targetables": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "targetablesWithEmail": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "taskTypeId": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "updaterId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshsalesClassic/latest/actions/list-campaigns": {
      "get": {
        "operationId": "freshsalesClassic.list-campaigns",
        "summary": "List Campaigns",
        "description": "Retrieves campaigns from Freshsales Classic.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshsalesClassic/latest/actions/list-campaigns"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Unique ID of the campaign."
                          },
                          "name": {
                            "type": "string",
                            "description": "Campaign name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
[...]
