{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "FBI Most Wanted Universal API",
    "version": "0.0.2",
    "description": "Access public wanted-person and case records from the FBI Wanted program through the official FBI Wanted API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/fBIMostWanted/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/fBIMostWanted/latest/actions/list-wanted-records": {
      "get": {
        "operationId": "fBIMostWanted.list-wanted-records",
        "summary": "List Wanted Records",
        "description": "Retrieves wanted records from FBI Most Wanted.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/fBIMostWanted/latest/actions/list-wanted-records"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "caution": {
                            "type": "string",
                            "description": "Long public caution text when available."
                          },
                          "description": {
                            "type": "string",
                            "description": "Short public description for the wanted record."
                          },
                          "details": {
                            "type": "string",
                            "description": "Long public details text when available."
                          },
                          "eyes": {
                            "type": "string",
                            "description": "Eye color value when available."
                          },
                          "field_offices": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "FBI field offices associated with the record."
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Downloadable file metadata returned by the API."
                          },
                          "hair": {
                            "type": "string",
                            "description": "Hair value when available."
                          },
                          "height_max": {
                            "type": "number",
                            "description": "Maximum height in inches when available."
                          },
                          "height_min": {
                            "type": "number",
                            "description": "Minimum height in inches when available."
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Image metadata objects returned by the API."
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modified timestamp returned by the API."
                          },
                          "path": {
                            "type": "string",
                            "description": "FBI.gov relative path for the record."
                          },
                          "pathId": {
                            "type": "string",
                            "description": "API path identifier for the record."
                          },
                          "poster_classification": {
                            "type": "string",
                            "description": "FBI poster classification for the record."
                          },
                          "publication": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Publication timestamp returned by the API."
                          },
                          "race": {
                            "type": "string",
                            "description": "Normalized race value when available."
                          },
                          "remarks": {
                            "type": "string",
                            "description": "Additional public remarks when available."
                          },
                          "reward_max": {
                            "type": "number",
                            "description": "Maximum reward amount when available."
                          },
                          "reward_min": {
                            "type": "number",
                            "description": "Minimum reward amount when available."
                          },
                          "reward_text": {
                            "type": "string",
                            "description": "Public reward text when available."
                          },
                          "sex": {
                            "type": "string",
                            "description": "Sex value when available."
                          },
                          "status": {
                            "type": "string",
                            "description": "Public status value returned by the FBI Wanted API."
                          },
                          "subjects": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "FBI wanted categories associated with the record."
                          },
                          "title": {
                            "type": "string",
                            "description": "Wanted record title or person/case name."
                          },
                          "uid": {
                            "type": "string",
                            "description": "Unique FBI Wanted API record identifier."
                          },
                          "url": {
                            "type": "string",
                            "description": "Public FBI.gov wanted-record page URL."
                          },
                          "warning_message": {
                            "type": "string",
                            "description": "Public warning message when available."
                          },
                          "weight_max": {
                            "type": "number",
                            "description": "Maximum weight in pounds when available."
                          },
                          "weight_min": {
                            "type": "number",
                            "description": "Minimum weight in pounds when available."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
