{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Where the ISS at Universal API",
    "version": "0.0.1",
    "description": "Track the International Space Station, retrieve historical orbital positions and TLE data, and look up timezone information for coordinates."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/whereTheISSAt/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/whereTheISSAt/latest/actions/get-coordinate-timezone": {
      "get": {
        "operationId": "whereTheISSAt.get-coordinate-timezone",
        "summary": "Get Coordinate Timezone",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whereTheISSAt/latest/actions/get-coordinate-timezone"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "description": "Latitude in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Latitude in decimal degrees."
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "description": "Longitude in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Longitude in decimal degrees."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country_code": {
                            "type": "string",
                            "description": "Country code."
                          },
                          "latitude": {
                            "type": "string",
                            "description": "Requested latitude."
                          },
                          "longitude": {
                            "type": "string",
                            "description": "Requested longitude."
                          },
                          "map_url": {
                            "type": "string",
                            "description": "Map URL for the coordinates."
                          },
                          "offset": {
                            "type": "number",
                            "description": "Current timezone offset."
                          },
                          "timezone_id": {
                            "type": "string",
                            "description": "IANA timezone ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/whereTheISSAt/latest/actions/get-satellite-position": {
      "get": {
        "operationId": "whereTheISSAt.get-satellite-position",
        "summary": "Get Satellite Position",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whereTheISSAt/latest/actions/get-satellite-position"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "satelliteId",
            "in": "query",
            "required": true,
            "description": "NORAD catalog ID; use 25544 for the International Space Station.",
            "schema": {
              "type": "number",
              "description": "NORAD catalog ID; use 25544 for the International Space Station."
            }
          },
          {
            "name": "units",
            "in": "query",
            "required": false,
            "description": "Optional distance and velocity units: miles or kilometers; provider defaults to kilometers.",
            "schema": {
              "type": "string",
              "description": "Optional distance and velocity units: miles or kilometers; provider defaults to kilometers.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "description": "Optional Unix timestamp for the orbital position; provider defaults to the current timestamp.",
            "schema": {
              "type": "number",
              "description": "Optional Unix timestamp for the orbital position; provider defaults to the current timestamp.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "altitude": {
                            "type": "number",
                            "description": "Altitude in the requested units."
                          },
                          "daynum": {
                            "type": "number",
                            "description": "Julian day number."
                          },
                          "footprint": {
                            "type": "number",
                            "description": "Ground footprint in the requested units."
                          },
                          "id": {
                            "type": "number",
                            "description": "NORAD catalog ID."
                          },
                          "latitude": {
                            "type": "number",
                            "description": "Latitude in decimal degrees."
                          },
                          "longitude": {
                            "type": "number",
                            "description": "Longitude in decimal degrees."
                          },
                          "name": {
                            "type": "string",
                            "description": "Satellite name."
                          },
                          "solar_lat": {
                            "type": "number",
                            "description": "Solar latitude."
                          },
                          "solar_lon": {
                            "type": "number",
                            "description": "Solar longitude."
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "Unix timestamp for the position."
                          },
                          "units": {
                            "type": "string",
                            "description": "Units used for altitude, velocity, and footprint."
                          },
                          "velocity": {
                            "type": "number",
                            "description": "Velocity in the requested units."
                          },
                          "visibility": {
                            "type": "string",
                            "description": "Current visibility state."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/whereTheISSAt/latest/actions/get-satellite-positions": {
      "get": {
        "operationId": "whereTheISSAt.get-satellite-positions",
        "summary": "Get Satellite Positions",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whereTheISSAt/latest/actions/get-satellite-positions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "satelliteId",
            "in": "query",
            "required": true,
            "description": "NORAD catalog ID; use 25544 for the International Space Station.",
            "schema": {
              "type": "number",
              "description": "NORAD catalog ID; use 25544 for the International Space Station."
            }
          },
          {
            "name": "timestamps",
            "in": "query",
            "required": true,
            "description": "Required comma-delimited Unix timestamps, up to 10 values.",
            "schema": {
              "type": "string",
              "description": "Required comma-delimited Unix timestamps, up to 10 values."
            }
          },
          {
            "name": "units",
            "in": "query",
            "required": false,
            "description": "Optional distance and velocity units: miles or kilometers; provider defaults to kilometers.",
            "schema": {
              "type": "string",
              "description": "Optional distance and velocity units: miles or kilometers; provider defaults to kilometers.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "altitude": {
                            "type": "number",
                            "description": "Altitude in the requested units."
                          },
                          "daynum": {
                            "type": "number",
                            "description": "Julian day number."
                          },
                          "footprint": {
                            "type": "number",
                            "description": "Ground footprint in the requested units."
                          },
                          "id": {
                            "type": "number",
                            "description": "NORAD catalog ID."
                          },
                          "latitude": {
                            "type": "number",
                            "description": "Latitude in decimal degrees."
                          },
                          "longitude": {
                            "type": "number",
                            "description": "Longitude in decimal degrees."
                          },
                          "name": {
                            "type": "string",
                            "description": "Satellite name."
                          },
                          "solar_lat": {
                            "type": "number",
                            "description": "Solar latitude."
                          },
                          "solar_lon": {
                            "type": "number",
                            "description": "Solar longitude."
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "Unix timestamp for the position."
                          },
                          "units": {
                            "type": "string",
                            "description": "Units used for altitude, velocity, and footprint."
                          },
                          "velocity": {
                            "type": "number",
                            "description": "Velocity in the requested units."
                          },
                          "visibility": {
                            "type": "string",
                            "description": "Current visibility state."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/whereTheISSAt/latest/actions/get-satellite-tle": {
      "get": {
        "operationId": "whereTheISSAt.get-satellite-tle",
        "summary": "Get Satellite TLE",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whereTheISSAt/latest/actions/get-satellite-tle"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "satelliteId",
            "in": "query",
            "required": true,
            "description": "NORAD catalog ID; use 25544 for the International Space Station.",
            "schema": {
              "type": "number",
              "description": "NORAD catalog ID; use 25544 for the International Space Station."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "header": {
                            "type": "string",
                            "description": "TLE header."
                          },
                          "id": {
                            "type": "string",
                            "description": "Satellite ID returned by the provider."
                          },
                          "line1": {
                            "type": "string",
                            "description": "First TLE line."
                          },
                          "line2": {
                            "type": "string",
                            "description": "Second TLE line."
                          },
                          "name": {
                            "type": "string",
                            "description": "Satellite name."
                          },
                          "requested_timestamp": {
                            "type": "number",
                            "description": "Unix timestamp requested for the TLE."
                          },
                          "tle_timestamp": {
                            "type": "number",
                            "description": "Unix timestamp of the TLE."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/whereTheISSAt/latest/actions/list-satellites": {
      "get": {
        "operationId": "whereTheISSAt.list-satellites",
        "summary": "List Satellites",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whereTheISSAt/latest/actions/list-satellites"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "NORAD catalog ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Satellite common name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
