{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Scalelist Universal API",
    "version": "0.0.8",
    "description": "Find verified work emails and mobile numbers for prospects"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/scalelist/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/scalelist/latest/actions/find-email": {
      "get": {
        "operationId": "scalelist.find-email",
        "summary": "Find Email",
        "description": "Finds a contact email in Scalelist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scalelist/latest/actions/find-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "description": "Full name of the person to look up.",
            "schema": {
              "type": "string",
              "description": "Full name of the person to look up."
            }
          },
          {
            "name": "firstName",
            "in": "query",
            "required": false,
            "description": "First name of the person to look up.",
            "schema": {
              "type": "string",
              "description": "First name of the person to look up."
            }
          },
          {
            "name": "lastName",
            "in": "query",
            "required": false,
            "description": "Last name of the person to look up.",
            "schema": {
              "type": "string",
              "description": "Last name of the person to look up."
            }
          },
          {
            "name": "companyName",
            "in": "query",
            "required": false,
            "description": "Company name to help the lookup.",
            "schema": {
              "type": "string",
              "description": "Company name to help the lookup."
            }
          },
          {
            "name": "companyWebsite",
            "in": "query",
            "required": false,
            "description": "Company website to help the lookup.",
            "schema": {
              "type": "string",
              "description": "Company website to help the lookup."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string",
                            "description": "Lookup result identifier."
                          },
                          "companyDomain": {
                            "type": "string",
                            "description": "Company domain returned with the lookup result."
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address returned by Scalelist."
                          },
                          "status": {
                            "type": "string",
                            "description": "Email verification status returned by Scalelist."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scalelist/latest/actions/find-phone": {
      "get": {
        "operationId": "scalelist.find-phone",
        "summary": "Find Phone",
        "description": "Finds a contact phone number in Scalelist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scalelist/latest/actions/find-phone"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkedinProfileUrl",
            "in": "query",
            "required": false,
            "description": "LinkedIn profile URL of the person.",
            "schema": {
              "type": "string",
              "description": "LinkedIn profile URL of the person."
            }
          },
          {
            "name": "linkedinId",
            "in": "query",
            "required": false,
            "description": "LinkedIn ID of the person.",
            "schema": {
              "type": "string",
              "description": "LinkedIn ID of the person."
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Email address of the person.",
            "schema": {
              "type": "string",
              "description": "Email address of the person."
            }
          },
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "description": "Full name of the person to look up.",
            "schema": {
              "type": "string",
              "description": "Full name of the person to look up."
            }
          },
          {
            "name": "firstName",
            "in": "query",
            "required": false,
            "description": "First name of the person to look up.",
            "schema": {
              "type": "string",
              "description": "First name of the person to look up."
            }
          },
          {
            "name": "lastName",
            "in": "query",
            "required": false,
            "description": "Last name of the person to look up.",
            "schema": {
              "type": "string",
              "description": "Last name of the person to look up."
            }
          },
          {
            "name": "companyName",
            "in": "query",
            "required": false,
            "description": "Company name to help the lookup.",
            "schema": {
              "type": "string",
              "description": "Company name to help the lookup."
            }
          },
          {
            "name": "companyWebsite",
            "in": "query",
            "required": false,
            "description": "Company website to help the lookup.",
            "schema": {
              "type": "string",
              "description": "Company website to help the lookup."
            }
          },
          {
            "name": "jobTitle",
            "in": "query",
            "required": false,
            "description": "Job title of the person.",
            "schema": {
              "type": "string",
              "description": "Job title of the person."
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "City of the person.",
            "schema": {
              "type": "string",
              "description": "City of the person."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "phone": {
                            "type": "string",
                            "description": "Phone number returned by Scalelist."
                          },
                          "status": {
                            "type": "string",
                            "description": "Phone lookup status returned by Scalelist."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
