{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "TikTok Shop Universal API",
    "version": "0.0.154",
    "description": "Call TikTok Shop actions through MindCloud's Universal API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/tikTokShop/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/tikTokShop/latest/actions/cancel-order": {
      "put": {
        "operationId": "tikTokShop.cancel-order",
        "summary": "Cancel Order",
        "description": "Use this API to cancel an order on behalf of a seller. In the US and UK markets, when an item is out of stock, partial cancellation on the single item level is supported by this API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tikTokShop/latest/actions/cancel-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "skus.skuId",
                  "orderId",
                  "skus.quantity",
                  "cancelReason"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "shopCipher": {
                    "type": "string"
                  },
                  "skus.skuId": {
                    "type": "string"
                  },
                  "orderId": {
                    "type": "string",
                    "description": "TikTok Shop order id"
                  },
                  "skus.quantity": {
                    "type": "number"
                  },
                  "skus": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "orderLineitemids[]": {
                    "type": "array",
                    "items": {},
                    "description": "List of order line item ids to cancel. In the US and UK markets, when an item is out of stock, partial cancellation on the single item level is supported. To initiate a partial cancellation, specify the item's order line id."
                  },
                  "cancelReason": {
                    "type": "string",
                    "description": "Reason to cancel the order \nUNPAID\nOut of stock\nseller_cancel_unpaid_reason_out_of_stock\nPricing error\nseller_cancel_unpaid_reason_wrong_price\nBuyer did not pay on time\nseller_cancel_unpaid_reason_buyer_hasnt_paid_within_time_allowed\nBuyer requested cancellation\nseller_cancel_unpaid_reason_buyer_requested_cancellation\nON_HOLD and AWAITING_SHIPMENT\nOut of stock\nseller_cancel_reason_out_of_stock\nPricing error\nseller_cancel_reason_wrong_price\nUnable to deliver to buyer address\nseller_cancel_paid_reason_address_not_deliver\nBuyer requested cancellation\nseller_cancel_paid_reason_buyer_requested_cancellation"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tikTokShop/latest/actions/create-packages": {
      "post": {
        "operationId": "tikTokShop.create-packages",
        "summary": "Create Packages",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tikTokShop/latest/actions/create-packages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "orderId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "weight.unit": {
                    "type": "string",
                    "description": "Available values:\n- GRAM\n- POUND"
                  },
                  "dimension.length": {
                    "type": "string"
                  },
                  "orderId": {
                    "type": "string"
                  },
                  "weight.value": {
                    "type": "string"
                  },
                  "dimension.width": {
                    "type": "string"
                  },
                  "dimension.height": {
                    "type": "string"
                  },
                  "dimension.unit": {
                    "type": "string",
                    "description": "The unit of measurement for the package dimensions.\n\nAvailable values:\n- CM\n- INCH"
                  },
                  "shopCipher": {
                    "type": "string"
                  },
                  "dimension": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "order_line_item_ids": {
                    "type": "string"
                  },
                  "shippingServiceId": {
                    "type": "string"
                  },
                  "weight": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tikTokShop/latest/actions/create-product": {
      "post": {
        "operationId": "tikTokShop.create-product",
        "summary": "Create Product",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tikTokShop/latest/actions/create-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "description",
                  "category_id",
                  "main_images"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "save_mode": {
                    "type": "string",
                    "description": "Indicates how the product should be saved. Possible values: - AS_DRAFT: Save the product as a draft for future editing. - LISTING: Immediately list the product in the shop. Default: LISTING"
                  },
                  "description": {
                    "type": "string",
                    "description": "The product description in HTML format. **Note**: - The content must conform to the [HTML syntax](https://html.spec.whatwg.org/). All HTML tags are accepted but to optimize display on the TikTok Shop product detail page, the system will automatically convert certain tags into alternative formats, such as rendering `<table>` tags as images. - Max length: 10,000 characters. - Image guidelines: You must use [TikTok Shop image URLs](6509df95defece02be598a22). Max 30 `<img>` tags, each under 4000px with `src`, `width`, and `height` attributes. **Recommendations**: - If you are syncing a pre-existing description from another platform, include the full HTML source description here. - Provide a detailed description, ideally over 300 characters. - Include 3-5 key selling points, each under 250 characters, with supporting images. - Use 1600x1600 px for the image dimensions."
                  },
                  "category_id": {
                    "type": "string"
                  },
                  "main_images": {
                    "type": "string",
                    "description": "A list of images to display in the product image gallery. - Max count: 9 - Arrange your image URIs in the sequence that they should appear on TikTok Shop. - Image dimensions: [300x300 px, 4000x4000 px] **Recommendations**: - Use a minimum of 5 images. - The first image should have a white background. Use the [Optimize Images API](665692b35d39dc02deb49a97) to change the background to white."
                  },
                  "skus": {
                    "type": "string"
                  },
                  "size_chart": {
                    "type": "boolean"
                  },
                  "is_cod_allowed": {
                    "type": "boolean"
                  },
                  "package_dimensions": {
                    "type": "boolean"
                  },
                  "length": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tikTokShop/latest/actions/get-authorized-shops": {
      "get": {
        "operationId": "tikTokShop.get-authorized-shops",
        "summary": "Get Authorized Shops",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tikTokShop/latest/actions/get-authorized-shops"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shopId",
            "in": "query",
            "required": false,
            "description": "(optional)",
            "schema": {
              "type": "string",
              "description": "(optional)"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cipher": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "sellerType": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tikTokShop/latest/actions/get-order-detail": {
      "get": {
        "operationId": "tikTokShop.get-order-detail",
        "summary": "Get Order Detail",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tikTokShop/latest/actions/get-order-detail"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "description": "A list of TikTok Shop order ID values. **max: 50 per request**",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A list of TikTok Shop order ID values. **max: 50 per request**"
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "shopCipher",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tikTokShop/latest/actions/get-order-list": {
      "get": {
        "operationId": "tikTokShop.get-order-list",
        "summary": "Get Order List",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tikTokShop/latest/actions/get-order-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buyerUserId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createTimeGe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createTimeLt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "isBuyerRequestCancel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "orderStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shippingType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shopCipher",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateTimeGe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updateTimeLt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "warehouseIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "buyerEmail": {
                            "type": "string"
                          },
                          "buyerMessage": {
                            "type": "string"
                          },
                          "cancelOrderSlaTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "collectionTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deliveryOptionId": {
                            "type": "string"
                          },
                          "deliveryOptionName": {
                            "type": "string"
                          },
                          "deliverySlaTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deliveryTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deliveryType": {
                            "type": "string"
                          },
                          "fulfillmentType": {
                            "type": "string"
                          },
                          "hasUpdatedRecipientAddress": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isCod": {
                            "type": "boolean"
                          },
                          "isExchangeOrder": {
                            "type": "boolean"
                          },
                          "isOnHoldOrder": {
                            "type": "boolean"
                          },
                          "isReplacementOrder": {
                            "type": "boolean"
                          },
                          "isSampleOrder": {
                            "type": "boolean"
                          },
                          "lineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string"
                                },
                                "displayStatus": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "isDangerousGood": {
                                  "type": "boolean"
                                },
                                "isGift": {
                                  "type": "boolean"
                                },
                                "itemTax": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "taxAmount": {
                                        "type": "string"
                                      },
                                      "taxRate": {
                                        "type": "string"
                                      },
                                      "taxType": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "originalPrice": {
                                  "type": "string"
                                },
                                "packageId": {
                                  "type": "string"
                                },
                                "packageStatus": {
                                  "type": "string"
                                },
                                "platformDiscount": {
                                  "type": "string"
                                },
                                "productId": {
                                  "type": "string"
                                },
                                "productName": {
                                  "type": "string"
                                },
                                "rtsTime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "salePrice": {
                                  "type": "string"
                                },
                                "sellerDiscount": {
                                  "type": "string"
                                },
                                "sellerSku": {
                                  "type": "string"
                                },
                                "shippingProviderId": {
                                  "type": "string"
                                },
                                "shippingProviderName": {
                                  "type": "string"
                                },
                                "skuId": {
                                  "type": "string"
                                },
                                "skuImage": {
                                  "type": "string"
                                },
                                "skuName": {
                                  "type": "string"
                                },
                                "skuType": {
                                  "type": "string"
                                },
                                "trackingNumber": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "packages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "paidTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "payment": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "originalShippingFee": {
                                "type": "string"
                              },
                              "originalTotalProductPrice": {
                                "type": "string"
                              },
                              "platformDiscount": {
                                "type": "string"
                              },
                              "productTax": {
                                "type": "string"
                              },
                              "sellerDiscount": {
                                "type": "string"
                              },
                              "shippingFee": {
                                "type": "string"
                              },
                              "shippingFeeCofundedDiscount": {
                                "type": "string"
                              },
                              "shippingFeePlatformDiscount": {
                                "type": "string"
                              },
                              "shippingFeeSellerDiscount": {
                                "type": "string"
                              },
                              "shippingFeeTax": {
                                "type": "string"
                              },
                              "subTotal": {
                                "type": "string"
                              },
                              "tax": {
                                "type": "string"
                              },
                              "totalAmount": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "paymentMethodName": {
                            "type": "string"
                          },
                          "recipientAddress": {
                            "type": "object",
                            "properties": {
                              "addressDetail": {
                                "type": "string"
                              },
                              "addressLine1": {
                                "type": "string"
                              },
                              "addressLine2": {
                                "type": "string"
                              },
                              "addressLine3": {
                                "type": "string"
                              },
                              "addressLine4": {
                                "type": "string"
                              },
                              "districtInfo": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "addressLevel": {
                                      "type": "string"
                                    },
                                    "addressLevelName": {
                                      "type": "string"
                                    },
                                    "addressName": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "fullAddress": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phoneNumber": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "regionCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "rtsSlaTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "rtsTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "shippingProvider": {
                            "type": "string"
                          },
                          "shippingProviderId": {
                            "type": "string"
                          },
                          "shippingType": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "trackingNumber": {
                            "type": "string"
                          },
                          "ttsSlaTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "warehouseId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tikTokShop/latest/actions/get-package-detail": {
      "get": {
        "operationId": "tikTokShop.get-package-detail",
        "summary": "Get Package Detail",
        "description": "Returns information about a package, including handover time slot, tracking number, and shipping provider information.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tikTokShop/latest/actions/get-package-detail"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packageID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shopCipher",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "create_time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "delivery_option_id": {
                            "type": "string"
                          },
                          "delivery_option_name": {
                            "type": "string"
                          },
                          "dimension": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "height": {
                                "type": "string"
                              },
                              "length": {
                                "type": "string"
                              },
                              "unit": {
                                "type": "string"
                              },
                              "width": {
                                "type": "string"
                              }
                            }
                          },
                          "handover_method": {
                            "type": "string"
                          },
                          "has_multi_skus": {
                            "type": "boolean"
                          },
                          "insurance": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "claim_status": {
                                "type": "string"
                              },
                              "coverage_amount": {
                                "type": "string"
                              },
                              "is_claim_eligible": {
                                "type": "boolean"
                              },
                              "is_purchased": {
                                "type": "boolean"
                              }
                            }
                          },
                          "last_mile_tracking_number": {
                            "type": "string"
                          },
                          "note_tag": {
                            "type": "string"
                          },
                          "order_line_item_ids": {
                            "type": "array",
                            "items": {}
                          },
                          "orders": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "skus": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "image_url": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "quantity": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "package_id": {
                            "type": "string"
                          },
                          "package_status": {
                            "type": "string"
                          },
                          "pickup_slot": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "end_time": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "start_time": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          },
                          "recipient_address": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "address_detail": {
                                "type": "string"
                              },
                              "address_line1": {
                                "type": "string"
                              },
                              "address_line2": {
                                "type": "string"
                              },
                              "full_address": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone_number": {
                                "type": "string"
                              },
                              "postal_code": {
                                "type": "string"
                              },
                              "region_code": {
                                "type": "string"
                              }
                            }
                          },
                          "sender_address": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "full_address": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone_number": {
                                "type": "string"
                              },
                              "postal_code": {
                                "type": "string"
                              }
                            }
                          },
                          "shipping_provider_id": {
                            "type": "string"
                          },
                          "shipping_provider_name": {
                            "type": "string"
                          },
                          "shipping_type": {
                            "type": "string"
                          },
                          "split_and_combine_tag": {
                            "type": "string"
                          },
                          "tracking_number": {
                            "type": "string"
                          },
                          "update_time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "weight": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "unit": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tikTokShop/latest/actions/get-package-shipping-document": {
      "get": {
        "operationId": "tikTokShop.get-package-shipping-document",
        "summary": "Get Package Shipping Document",
        "description": "For orders shipped by TikTok Shop, this API retrieves the URL of shipping documents (shipping label and packing slip) for a package specified by the package ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tikTokShop/latest/actions/get-package-shipping-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packageId",
            "in": "query",
            "required": true,
            "description": "A TikTok Shop package ID.",
            "schema": {
              "type": "string",
              "description": "A TikTok Shop package ID."
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "description": "Available document types: \n- `SHIPPING_LABEL`: Returns the shipping label in PDF format by default.\n- `PACKING_SLIP`: Returns the packing slip in PDF format by default.\n- `SHIPPING_LABEL_AND_PACKING_SLIP`: Returns both the shipping label and the packing slip for the package, both in PDF format by default.              \n- `SHIPPING_LABEL_PICTURE`: Returns the shipping label in PNG format. \n- `HAZMAT_LABEL`: Returns the hazmat label in PDF format by default. You must only use this value when there are hazmat items in the package. When you use this value, `document_size` is fixed to `A4`, and you don't need to specify it.\n- `INVOICE_LABEL`: For Brazil market only, document_size is fixed to `A6`, and you don't need to specify document_size. Returns the invoice label in PDF format by default.",
            "schema": {
              "type": "string",
              "description": "Available document types: \n- `SHIPPING_LABEL`: Returns the shipping label in PDF format by default.\n- `PACKING_SLIP`: Returns the packing slip in PDF format by default.\n- `SHIPPING_LABEL_AND_PACKING_SLIP`: Returns both the shipping label and the packing slip for the package, both in PDF format by default.              \n- `SHIPPING_LABEL_PICTURE`: Returns the shipping label in PNG format. \n- `HAZMAT_LABEL`: Returns the hazmat label in PDF format by default. You must only use this value when there are hazmat items in the package. When you use this value, `document_size` is fixed to `A4`, and you don't need to specify it.\n- `INVOICE_LABEL`: For Brazil market only, document_size is fixed to `A6`, and you don't need to specify document_size. Returns the invoice label in PDF format by default."
            }
          },
          {
            "name": "documentSize",
            "in": "query",
            "required": false,
            "description": "Specify the size of the document to obtain. This parameter is only applicable to shipping labels, picking slips, and packing slips that are in the PDF format. It is not applicable for hazmat labels as these are fixed to `A4`.  If you specify `SHIPPING_LABEL_PICTURE` for the `document_type`, any value specified will be ignored.\n\nPossible values: \n- `A6` (Default)\n- `A5`",
            "schema": {
              "type": "string",
              "description": "Specify the size of the document to obtain. This parameter is only applicable to shipping labels, picking slips, and packing slips that are in the PDF format. It is not applicable for hazmat labels as these are fixed to `A4`.  If you specify `SHIPPING_LABEL_PICTURE` for the `document_type`, any value specified will be ignored.\n\nPossible values: \n- `A6` (Default)\n- `A5`"
            }
          },
          {
            "name": "documentFormat",
            "in": "query",
            "required": false,
            "description": "The format of the shipping document. Possible values: \n- `PDF` (Default)\n- `ZPL` (Only for BR market)\n\n**Note**: Not applicable for `SHIPPING_LABEL_PICTURE` document type.",
            "schema": {
              "type": "string",
              "description": "The format of the shipping document. Possible values: \n- `PDF` (Default)\n- `ZPL` (Only for BR market)\n\n**Note**: Not applicable for `SHIPPING_LABEL_PICTURE` document type."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tikTokShop/latest/actions/get-package-shipping-document-v2": {
      "get": {
        "operationId": "tikTokShop.get-package-shipping-document-v2",
        "summary": "Get Package Shipping Document (v2)",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tikTokShop/latest/actions/get-package-shipping-document-v2"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shopCipher",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document_format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "package_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tikTokShop/latest/actions/get-product": {
      "get": {
        "operationId": "tikTokShop.get-product",
        "summary": "Get Product",
        "description": "Retrieve all properties of a product that is in the DRAFT, PENDING, or ACTIVATE status.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tikTokShop/latest/actions/get-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shopCipher",
            "in": "query",
            "required": false,
            "description": "Use this property to pass shop information in requesting the API. Failure in passing the correct value when requesting the API for cross-border shops will return incorrect response. \nGet by API Get Authorization Shop",
            "schema": {
              "type": "string",
              "description": "Use this property to pass shop information in requesting the API. Failure in passing the correct value when requesting the API for cross-border shops will return incorrect response. \nGet by API Get Authorization Shop"
            }
          },
          {
            "name": "return_under_review_version",
            "in": "query",
            "required": false,
            "description": "A flag to indicate what product information to retrieve if a live product (ACTIVATE status) is edited and resent for TikTok Shop review.\n- True: Retrieves the latest version of the product information that is currently under review.\n- False: Retrieves a snapshot of the product information that is live and online (before the edit).\nDefault: False",
            "schema": {
              "type": "string",
              "description": "A flag to indicate what product information to retrieve if a live product (ACTIVATE status) is edited and resent for TikTok Shop review.\n- True: Retrieves the latest version of the product information that is currently under review.\n- False: Retrieves a snapshot of the product information that is live and online (before the edit).\nDefault: False",
              "default": "False"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/tikTokShop/latest/actions/get-product-inventory": {
      "get": {
        "operationId": "tikTokShop.get-product-inventory",
        "summary": "Get Product Inventory",
        "description": "Use this api to get product stock details.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/tikTokShop/latest/actions/get-product-inventory"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_cipher",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "sku_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
[...]
