{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "No Stupid Questions Podcast Universal API",
    "version": "0.0.3",
    "description": "Read public episode and show metadata from the No Stupid Questions podcast RSS feed."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/noStupidQuestionsPodcast/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/noStupidQuestionsPodcast/latest/actions/list-episodes": {
      "get": {
        "operationId": "noStupidQuestionsPodcast.list-episodes",
        "summary": "List Episodes",
        "description": "Retrieves podcast episodes from No Stupid Questions Podcast.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/noStupidQuestionsPodcast/latest/actions/list-episodes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audioLengthBytes": {
                            "type": "number",
                            "description": "Audio file size in bytes when provided."
                          },
                          "audioType": {
                            "type": "string",
                            "description": "Audio MIME type."
                          },
                          "audioUrl": {
                            "type": "string",
                            "description": "Direct audio file URL."
                          },
                          "author": {
                            "type": "string",
                            "description": "Episode author."
                          },
                          "contentHtml": {
                            "type": "string",
                            "description": "Full encoded episode content HTML when present."
                          },
                          "descriptionHtml": {
                            "type": "string",
                            "description": "Episode description HTML from the RSS item description."
                          },
                          "duration": {
                            "type": "string",
                            "description": "Episode duration as published in the feed."
                          },
                          "episodeNumber": {
                            "type": "number",
                            "description": "Episode number from iTunes metadata."
                          },
                          "episodeTitle": {
                            "type": "string",
                            "description": "Episode title without the numeric prefix when available."
                          },
                          "episodeType": {
                            "type": "string",
                            "description": "iTunes episode type."
                          },
                          "explicit": {
                            "type": "boolean",
                            "description": "Whether the episode is marked explicit."
                          },
                          "guid": {
                            "type": "string",
                            "description": "Provider GUID for the episode."
                          },
                          "imageUrl": {
                            "type": "string",
                            "description": "Episode artwork URL when provided."
                          },
                          "link": {
                            "type": "string",
                            "description": "Public show or episode page URL from the RSS item."
                          },
                          "publishedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Episode publish timestamp in ISO 8601 format."
                          },
                          "summary": {
                            "type": "string",
                            "description": "Plain-text episode summary."
                          },
                          "title": {
                            "type": "string",
                            "description": "Full episode title from the RSS feed."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
