{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Iris Dfir Universal API",
    "version": "0.0.2",
    "description": "IRIS is an incident response and DFIR collaboration platform for managing cases, alerts, IOCs, assets, evidences, tasks, comments, and related response workflows."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/irisDfir/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/irisDfir/latest/actions/add-note": {
      "post": {
        "operationId": "irisDfir.add-note",
        "summary": "Add Note",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/irisDfir/latest/actions/add-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "directoryId",
                  "noteTitle",
                  "noteContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "directoryId": {
                    "type": "number",
                    "description": "IRIS note directory identifier."
                  },
                  "noteTitle": {
                    "type": "string",
                    "description": "Title of the note."
                  },
                  "noteContent": {
                    "type": "string",
                    "description": "Content of the note."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "comments": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "custom_attributes": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "directory_id": {
                                "type": "number"
                              },
                              "directory": {
                                "type": "object",
                                "properties": {
                                  "case_id": {
                                    "type": "number"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "parent_id": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "modification_history": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "note_case_id": {
                                "type": "number"
                              },
                              "note_content": {
                                "type": "string"
                              },
                              "note_creationdate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "note_id": {
                                "type": "number"
                              },
                              "note_lastupdate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "note_title": {
                                "type": "string"
                              },
                              "note_user": {
                                "type": "number"
                              },
                              "note_uuid": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/irisDfir/latest/actions/create-asset": {
      "post": {
        "operationId": "irisDfir.create-asset",
        "summary": "Create Asset",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/irisDfir/latest/actions/create-asset"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "assetName",
                  "assetTypeId",
                  "caseIdentifier"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "assetName": {
                    "type": "string",
                    "description": "Name of the asset."
                  },
                  "assetTypeId": {
                    "type": "number",
                    "description": "IRIS asset type identifier."
                  },
                  "caseIdentifier": {
                    "type": "number",
                    "description": "IRIS case identifier."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alerts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "analysis_status": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "analysis_status_id": {
                            "type": "number"
                          },
                          "asset_compromise_status_id": {
                            "type": "number"
                          },
                          "asset_description": {
                            "type": "string"
                          },
                          "asset_domain": {
                            "type": "string"
                          },
                          "asset_enrichment": {
                            "type": "string"
                          },
                          "asset_id": {
                            "type": "number"
                          },
                          "asset_info": {
                            "type": "string"
                          },
                          "asset_ip": {
                            "type": "string"
                          },
                          "asset_name": {
                            "type": "string"
                          },
                          "asset_tags": {
                            "type": "string"
                          },
                          "asset_type_id": {
                            "type": "number"
                          },
                          "asset_type": {
                            "type": "object",
                            "properties": {
                              "asset_description": {
                                "type": "string"
                              },
                              "asset_icon_compromised": {
                                "type": "string"
                              },
                              "asset_icon_not_compromised": {
                                "type": "string"
                              },
                              "asset_id": {
                                "type": "number"
                              },
                              "asset_name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "asset_uuid": {
                            "type": "string"
                          },
                          "case_id": {
                            "type": "number"
                          },
                          "custom_attributes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "date_added": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "date_update": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modification_history": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "user_id": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/irisDfir/latest/actions/create-case": {
      "post": {
        "operationId": "irisDfir.create-case",
        "summary": "Create Case",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/irisDfir/latest/actions/create-case"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "caseCustomer",
                  "caseDescription",
                  "caseName",
                  "caseSocId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "caseCustomer": {
                    "type": "number",
                    "description": "Customer linked to the case."
                  },
                  "caseDescription": {
                    "type": "string",
                    "description": "Short summary of the case."
                  },
                  "caseName": {
                    "type": "string",
                    "description": "Short name for the case."
                  },
                  "caseSocId": {
                    "type": "string",
                    "description": "SOC ticket reference for the case."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "case_customer_id": {
                            "type": "number"
                          },
                          "case_description": {
                            "type": "string"
                          },
                          "case_id": {
                            "type": "number"
                          },
                          "case_name": {
                            "type": "string"
                          },
                          "case_soc_id": {
                            "type": "string"
                          },
                          "case_uuid": {
                            "type": "string"
                          },
                          "close_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "closing_note": {
                            "type": "string"
                          },
                          "custom_attributes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "modification_history": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "open_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "owner": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "user_email": {
                                "type": "string"
                              },
                              "user_login": {
                                "type": "string"
                              },
                              "user_name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "severity_id": {
                            "type": "number"
                          },
                          "state": {
                            "type": "object",
                            "properties": {
                              "protected": {
                                "type": "boolean"
                              },
                              "state_description": {
                                "type": "string"
                              },
                              "state_id": {
                                "type": "number"
                              },
                              "state_name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status_id": {
                            "type": "number"
                          },
                          "user_id": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/irisDfir/latest/actions/create-task": {
      "post": {
        "operationId": "irisDfir.create-task",
        "summary": "Create Task",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/irisDfir/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "caseIdentifier",
                  "taskAssigneesId[]",
                  "taskStatusId",
                  "taskTitle"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "caseIdentifier": {
                    "type": "number",
                    "description": "IRIS case identifier."
                  },
                  "taskAssigneesId[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "IRIS task assignee identifier."
                  },
                  "taskDescription": {
                    "type": "string",
                    "description": "Optional task description."
                  },
                  "taskStatusId": {
                    "type": "number",
                    "description": "IRIS task status identifier."
                  },
                  "taskTags": {
                    "type": "string",
                    "description": "Optional comma-separated task tags."
                  },
                  "taskTitle": {
                    "type": "string",
                    "description": "Title of the task."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "case": {
                            "type": "object",
                            "properties": {
                              "case_id": {
                                "type": "number"
                              },
                              "case_name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "custom_attributes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "modification_history": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "status_bscolor": {
                                "type": "string"
                              },
                              "status_description": {
                                "type": "string"
                              },
                              "status_name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "task_case_id": {
                            "type": "number"
                          },
                          "task_close_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "task_description": {
                            "type": "string"
                          },
                          "task_last_update": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "task_open_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "task_status_id": {
                            "type": "number"
                          },
                          "task_tags": {
                            "type": "string"
                          },
                          "task_title": {
                            "type": "string"
                          },
                          "task_userid_close": {
                            "type": "number"
                          },
                          "task_userid_open": {
                            "type": "number"
                          },
                          "task_userid_update": {
                            "type": "number"
                          },
                          "task_uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/irisDfir/latest/actions/delete-asset": {
      "delete": {
        "operationId": "irisDfir.delete-asset",
        "summary": "Delete Asset",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/irisDfir/latest/actions/delete-asset"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "caseIdentifier",
            "in": "query",
            "required": true,
            "description": "IRIS case identifier.",
            "schema": {
              "type": "number",
              "description": "IRIS case identifier."
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "description": "IRIS asset identifier.",
            "schema": {
              "type": "number",
              "description": "IRIS asset identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/irisDfir/latest/actions/delete-case": {
      "delete": {
        "operationId": "irisDfir.delete-case",
        "summary": "Delete Case",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/irisDfir/latest/actions/delete-case"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "caseIdentifier",
            "in": "query",
            "required": true,
            "description": "IRIS case identifier.",
            "schema": {
              "type": "number",
              "description": "IRIS case identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/irisDfir/latest/actions/delete-note": {
      "delete": {
        "operationId": "irisDfir.delete-note",
        "summary": "Delete Note",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/irisDfir/latest/actions/delete-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "description": "IRIS note identifier.",
            "schema": {
              "type": "number",
              "description": "IRIS note identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "message": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/irisDfir/latest/actions/delete-task": {
      "delete": {
        "operationId": "irisDfir.delete-task",
        "summary": "Delete Task",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/irisDfir/latest/actions/delete-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "caseIdentifier",
            "in": "query",
            "required": true,
            "description": "IRIS case identifier.",
            "schema": {
              "type": "number",
              "description": "IRIS case identifier."
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "description": "IRIS task identifier.",
            "schema": {
              "type": "number",
              "description": "IRIS task identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/irisDfir/latest/actions/get-asset": {
      "get": {
        "operationId": "irisDfir.get-asset",
        "summary": "Get Asset",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/irisDfir/latest/actions/get-asset"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "caseIdentifier",
            "in": "query",
            "required": true,
            "description": "IRIS case identifier.",
            "schema": {
              "type": "number",
              "description": "IRIS case identifier."
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "description": "IRIS asset identifier.",
            "schema": {
              "type": "number",
              "description": "IRIS asset identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alerts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "analysis_status": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "analysis_status_id": {
                            "type": "number"
                          },
                          "asset_compromise_status_id": {
                            "type": "number"
                          },
                          "asset_description": {
                            "type": "string"
                          },
                          "asset_domain": {
                            "type": "string"
                          },
                          "asset_enrichment": {
                            "type": "string"
                          },
                          "asset_id": {
                            "type": "number"
                          },
                          "asset_info": {
                            "type": "string"
                          },
                          "asset_ip": {
                            "type": "string"
                          },
                          "asset_name": {
                            "type": "string"
                          },
                          "asset_tags": {
                            "type": "string"
                          },
                          "asset_type_id": {
                            "type": "number"
                          },
                          "asset_type": {
                            "type": "object",
                            "properties": {
                              "asset_description": {
                                "type": "string"
                              },
                              "asset_icon_compromised": {
                                "type": "string"
                              },
                              "asset_icon_not_compromised": {
                                "type": "string"
                              },
                              "asset_id": {
                                "type": "number"
                              },
                              "asset_name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "asset_uuid": {
                            "type": "string"
                          },
                          "case_id": {
                            "type": "number"
                          },
                          "custom_attributes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "date_added": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "date_update": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modification_history": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "user_id": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/irisDfir/latest/actions/get-case": {
      "get": {
        "operationId": "irisDfir.get-case",
        "summary": "Get Case",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/irisDfir/latest/actions/get-case"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "caseIdentifier",
            "in": "query",
            "required": true,
            "description": "IRIS case identifier.",
            "schema": {
              "type": "number",
              "description": "IRIS case identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "case_customer_id": {
                            "type": "number"
                          },
                          "case_description": {
                            "type": "string"
                          },
                          "case_id": {
                            "type": "number"
                          },
                          "case_name": {
                            "type": "string"
                          },
                          "case_soc_id": {
                            "type": "string"
                          },
                          "case_uuid": {
                            "type": "string"
                          },
                          "close_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "closing_note": {
                            "type": "string"
                          },
                          "custom_attributes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "modification_history": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "open_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "owner": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "user_email": {
                                "type": "string"
                              },
                              "user_login": {
                                "type": "string"
                              },
                              "user_name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "severity_id": {
                            "type": "number"
                          },
                          "state": {
                            "type": "object",
                            "properties": {
                              "protected": {
                                "type": "boolean"
                              },
                              "state_description": {
                                "type": "string"
                              },
                              "state_id": {
                                "type": "number"
                              },
                              "state_name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status_id": {
                            "type": "number"
                          },
                          "user_id": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/irisDfir/latest/actions/get-note": {
      "get": {
        "operationId": "irisDfir.get-note",
        "summary": "Get Note",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/irisDfir/latest/actions/get-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "description": "IRIS note identifier.",
            "schema": {
              "type": "number",
              "description": "IRIS note identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "comments": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "custom_attributes": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "directory_id": {
                                "type": "number"
                              },
                              "directory": {
                                "type": "object",
                                "properties": {
                                  "case_id": {
                                    "type": "number"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "parent_id": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "modification_history": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "note_case_id": {
                                "type": "number"
                              },
                              "note_content": {
                                "type": "string"
                              },
                              "note_creationdate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "note_id": {
                                "type": "number"
                              },
                              "note_lastupdate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "note_title": {
                                "type": "string"
                              },
                              "note_user": {
                                "type": "number"
                              },
                              "note_uuid": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/irisDfir/latest/actions/get-task": {
      "get": {
        "operationId": "irisDfir.get-task",
        "summary": "Get Task",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/irisDfir/latest/actions/get-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "caseIdentifier",
            "in": "query",
            "required": true,
            "description": "IRIS case identifier.",
            "schema": {
              "type": "number",
              "description": "IRIS case identifier."
            }
          },
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "description": "IRIS task identifier.",
            "schema": {
              "type": "number",
              "description": "IRIS task identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "case": {
                            "type": "object",
                            "properties": {
                              "case_id": {
                                "type": "number"
                              },
                              "case_name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "custom_attributes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "modification_history": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "status_bscolor": {
                                "type": "string"
                              },
                              "status_description": {
                                "type": "string"
                              },
                              "status_name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "task_case_id": {
                            "type": "number"
                          },
                          "task_close_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "task_description": {
                            "type": "string"
                          },
                          "task_last_update": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "task_open_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "task_status_id": {
                            "type": "number"
                          },
                          "task_tags": {
                            "type": "string"
                          },
                          "task_title": {
                            "type": "string"
                          },
                          "task_userid_close": {
                            "type": "number"
                          },
                          "task_userid_open": {
                            "type": "number"
                          },
                          "task_userid_update": {
                            "type": "number"
                          },
                          "task_uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/irisDfir/latest/actions/list-alerts": {
      "get": {
        "operationId": "irisDfir.list-alerts",
        "summary": "List Alerts",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/irisDfir/latest/actions/list-alerts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
[...]
