{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "RightSignature Universal API",
    "version": "0.0.4",
    "description": "Send, sign, and manage documents, reusable templates, and signature workflows with RightSignature."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/rightSignature/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/rightSignature/latest/actions/add-or-update-reusable-template-tags": {
      "put": {
        "operationId": "rightSignature.add-or-update-reusable-template-tags",
        "summary": "Add Or Update Reusable Template Tags",
        "description": "Adds or updates tags on a RightSignature reusable template.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rightSignature/latest/actions/add-or-update-reusable-template-tags"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "tags",
                  "tags.tagName",
                  "reusableTemplateId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "tags": {
                    "type": "string",
                    "description": "Optional key value tags for categorization"
                  },
                  "tags.tagName": {
                    "type": "string",
                    "description": "Tag name is required"
                  },
                  "tags.value": {
                    "type": "string",
                    "description": "Optional value for the tag"
                  },
                  "reusableTemplateId": {
                    "type": "string",
                    "description": "Reusable Template Id value"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rightSignature/latest/actions/create-sending-request": {
      "post": {
        "operationId": "rightSignature.create-sending-request",
        "summary": "Create Sending Request",
        "description": "Creates a RightSignature sending request for a one-off document.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rightSignature/latest/actions/create-sending-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file",
                  "file.name",
                  "file.source",
                  "document",
                  "document.name",
                  "document.signerSequencing",
                  "document.roles",
                  "document.roles.name",
                  "document.roles.signerName",
                  "document.roles.signerEmail",
                  "document.expiresIn"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Upload file information"
                  },
                  "file.name": {
                    "type": "string",
                    "description": "Filename withe extension"
                  },
                  "file.source": {
                    "type": "string",
                    "description": "Source of file. Only 'upload' is supported."
                  },
                  "document": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Document information"
                  },
                  "document.name": {
                    "type": "string",
                    "description": "Document name"
                  },
                  "document.signerSequencing": {
                    "type": "boolean",
                    "description": "Send to signers in specified sequence."
                  },
                  "document.personalizedMessages": {
                    "type": "boolean",
                    "description": "Use custom messages per signer. Specified in 'roles' attribute."
                  },
                  "document.sharedWith": {
                    "type": "string",
                    "description": "Array of emails to CC document."
                  },
                  "document.identityMethod": {
                    "type": "string",
                    "description": "How to authenticate signers (email | none)."
                  },
                  "document.callbackUrl": {
                    "type": "string",
                    "description": "Document callback url. The URL will receive a POST for each of the following document events: created , viewed , signed , executed , voided , declined . Note that due to the asynchronous nature of processing, the order in which the document callbacks are sent is not guaranteed. Only HTTP ports 80, 8000-8099, 3000-3009 and HTTPS port 443 is supported. Basic auth is also supported. Ex. “ me:pass@yourhost.example:8001/callback ”. Note : This is different from the sending request callback url which receives status updates regarding the sending request itself. ex. callback when document is viewed { \"callbackType\": \"Document\" , \"id\": \"edc7823a-7b99-45d7-9c3c-c7dc81f8dbf2\" , \"event\": \"viewed\" , \"documentState\": \"pending\" , \"createdAt\": \"2016-11-14T13:45:23.199-08:00\" }"
                  },
                  "document.apiEmbedded": {
                    "type": "boolean",
                    "description": "Whether the document should be embedded."
                  },
                  "document.apiEmbedWidth": {
                    "type": "string",
                    "description": "Embed width"
                  },
                  "document.apiEmbedHeight": {
                    "type": "string",
                    "description": "Embed height"
                  },
                  "document.roles": {
                    "type": "string",
                    "description": "Document signers"
                  },
                  "document.roles.name": {
                    "type": "string",
                    "description": "Role name. For text tags, the role name in the request must correspond to the recipient name given as the second argument (name) in the text tag. When signer sequencing is enabled, the role name must match the signer name set on the template."
                  },
                  "document.roles.signerName": {
                    "type": "string",
                    "description": "Signer name"
                  },
                  "document.roles.isSender": {
                    "type": "boolean",
                    "description": "Is signer the owner of document?"
                  },
                  "document.roles.sequence": {
                    "type": "number",
                    "description": "Signer order (starting at 0), required if signer_sequencing is enabled."
                  },
                  "document.roles.message": {
                    "type": "string",
                    "description": "Custom message to signer."
                  },
                  "document.roles.signerEmail": {
                    "type": "string",
                    "description": "Signer email"
                  },
                  "document.expiresIn": {
                    "type": "string",
                    "description": "Document expiration. Must be between 1 and 365 days"
                  },
                  "document.pin": {
                    "type": "string",
                    "description": "Document pin. Must be between 10000 and 99999"
                  },
                  "document.tags": {
                    "type": "string",
                    "description": "Optional key value tags for categorization"
                  },
                  "document.kba": {
                    "type": "boolean",
                    "description": "Enable KBA on the document (applicable for KBA enabled plans)"
                  },
                  "callbackUrl": {
                    "type": "string",
                    "description": "URL to receive sending request status updates. The URL will receive a POST when the sending request is sent as a document or an error occured in processing. Only HTTP ports 80, 8000-8099, 3000-3009 and HTTPS port 443 is supported. Basic auth is also supported. Ex. value: “ me:pass@yourhost.example/req_callback ” ex. callback when successful { \"sending_request\": { \"id\": \"09001350-1853-471c-955a-abb7d3120aa1\", \"status\": \"completed\", \"document_template_id\": \"733816f6-939f-4a8d-98de-55e357ab07d4\", \"created_at\":\"2016-08-10T18:57:29.400-07:00\", \"updated_at\":\"2016-08-10T19:05:11.100-07:00\" } } ex. callback when processing fails { \"sending_request\": { \"id\": \"09001350-1853-471c-955a-abb7d3120aa1\", \"status\": \"errored\", \"status_message\": \"File was password protected\" \"document_template_id\": null, \"created_at\":\"2016-08-10T18:57:29.400-07:00\", \"updated_at\":\"2016-08-10T19:05:11.100-07:00\" } }"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "documentTemplateId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "statusMessage": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uploadUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rightSignature/latest/actions/delete-reusable-template": {
      "delete": {
        "operationId": "rightSignature.delete-reusable-template",
        "summary": "Delete Reusable Template",
        "description": "Deletes a reusable template from RightSignature.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rightSignature/latest/actions/delete-reusable-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Reusable Template ID",
            "schema": {
              "type": "string",
              "description": "Reusable Template ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rightSignature/latest/actions/delete-reusable-template-tag": {
      "delete": {
        "operationId": "rightSignature.delete-reusable-template-tag",
        "summary": "Delete Reusable Template Tag",
        "description": "Deletes a tag from a RightSignature reusable template.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rightSignature/latest/actions/delete-reusable-template-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "description": "Tag name is required",
            "schema": {
              "type": "string",
              "description": "Tag name is required"
            }
          },
          {
            "name": "reusableTemplateId",
            "in": "query",
            "required": true,
            "description": "Reusable Template Id value",
            "schema": {
              "type": "string",
              "description": "Reusable Template Id value"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rightSignature/latest/actions/embed-document-from-reusable-template": {
      "post": {
        "operationId": "rightSignature.embed-document-from-reusable-template",
        "summary": "Embed Document From Reusable Template",
        "description": "Creates an embeddable document from a RightSignature reusable template.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rightSignature/latest/actions/embed-document-from-reusable-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "roles",
                  "roles.name",
                  "roles.signerName",
                  "apiEmbedWidth",
                  "apiEmbedHeight",
                  "mergeFieldValues.value",
                  "expiresIn",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "A name for the document you are sending"
                  },
                  "sharedWith": {
                    "type": "string",
                    "description": "List of email recipients to share the document with"
                  },
                  "message": {
                    "type": "string",
                    "description": "A message for all signers"
                  },
                  "roles": {
                    "type": "string",
                    "description": "Document signers"
                  },
                  "roles.name": {
                    "type": "string",
                    "description": "Role name. For text tags, role name must match."
                  },
                  "roles.signerName": {
                    "type": "string",
                    "description": "Signer name"
                  },
                  "roles.signerEmail": {
                    "type": "string",
                    "description": "Signer email."
                  },
                  "roles.isSender": {
                    "type": "boolean",
                    "description": "Is signer the owner of document?"
                  },
                  "roles.message": {
                    "type": "string",
                    "description": "Custom message to signer."
                  },
                  "apiEmbedWidth": {
                    "type": "string",
                    "description": "Embed width"
                  },
                  "apiEmbedHeight": {
                    "type": "string",
                    "description": "Embed height"
                  },
                  "mergeFieldIdentifier": {
                    "type": "string",
                    "description": "Merge Field Identifier. By specifying it to “name” API user can map merge field value with the name instead of merge field id"
                  },
                  "mergeFieldValues": {
                    "type": "string",
                    "description": "Merge Fields"
                  },
                  "mergeFieldValues.id": {
                    "type": "string",
                    "description": "Merge Field ID"
                  },
                  "mergeFieldValues.name": {
                    "type": "string",
                    "description": "Merge Field Name. This is the name provided to the merge field on the webapp, while creating the template. If it matches more than one merge field component in template all of them will be filled with the same value"
                  },
                  "mergeFieldValues.value": {
                    "type": "string",
                    "description": "Merge Field value. If the merge field is a date, the value should be in yyyy/mm/dd or yyyy-mm-dd format."
                  },
                  "expiresIn": {
                    "type": "string",
                    "description": "Document expiration. Must be between 1 and 365 days"
                  },
                  "tags": {
                    "type": "string",
                    "description": "Optional key value tags for categorization"
                  },
                  "id": {
                    "type": "string",
                    "description": "Merge Field ID"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audits": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "currentSignerId": {
                            "type": "string"
                          },
                          "embedCodes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "executedAt": {
                            "type": "string"
                          },
                          "expiredAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "identityMethod": {
                            "type": "string"
                          },
                          "inPerson": {
                            "type": "boolean"
                          },
                          "mergeFieldValues": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "originalFileUrl": {
                            "type": "string"
                          },
                          "pageImageUrls": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "passcodePinEnabled": {
                            "type": "boolean"
                          },
                          "recipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "sender": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sentAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "sharedWith": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "signedPdfUrl": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "thumbnailUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rightSignature/latest/actions/get-archived-document-by-original-guid": {
      "get": {
        "operationId": "rightSignature.get-archived-document-by-original-guid",
        "summary": "Get Archived Document By Original GUID",
        "description": "Retrieves an archived RightSignature document by original GUID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rightSignature/latest/actions/get-archived-document-by-original-guid"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originalGuid",
            "in": "query",
            "required": true,
            "description": "Archived Document Original GUID",
            "schema": {
              "type": "string",
              "description": "Archived Document Original GUID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audits": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "ccParties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "documentExecutedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "documentExpiresAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "documentSentAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "documentState": {
                            "type": "string"
                          },
                          "fileAttachments": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "imageHeight": {
                            "type": "number"
                          },
                          "imageWidth": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "originalGuid": {
                            "type": "string"
                          },
                          "pageImages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "senderEmail": {
                            "type": "string"
                          },
                          "sharedWith": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "signedPdfUrl": {
                            "type": "string"
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "userId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rightSignature/latest/actions/get-document": {
      "get": {
        "operationId": "rightSignature.get-document",
        "summary": "Get Document",
        "description": "Retrieves a specific document from RightSignature.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rightSignature/latest/actions/get-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string",
              "description": "Document ID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audits": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "currentSignerId": {
                            "type": "string"
                          },
                          "embedCodes": {
                            "type": "string"
                          },
                          "executedAt": {
                            "type": "string"
                          },
                          "expiredAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "formFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "identityMethod": {
                            "type": "string"
                          },
                          "inPerson": {
                            "type": "boolean"
                          },
                          "kba": {
                            "type": "boolean"
                          },
                          "mergedDocumentCertificateUrl": {
                            "type": "string"
                          },
                          "mergeFieldValues": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "originalFileUrl": {
                            "type": "string"
                          },
                          "pageImageUrls": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "passcodePinEnabled": {
                            "type": "boolean"
                          },
                          "recipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "sender": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sentAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "sharedWith": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "signatureCertificateUrl": {
                            "type": "string"
                          },
                          "signedPdfUrl": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "thumbnailUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rightSignature/latest/actions/get-me": {
      "get": {
        "operationId": "rightSignature.get-me",
        "summary": "Get Me",
        "description": "Retrieves the authenticated RightSignature user profile.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rightSignature/latest/actions/get-me"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatarUrl": {
                            "type": "string"
                          },
                          "cancellationDate": {
                            "type": "string"
                          },
                          "canSendDocuments": {
                            "type": "boolean"
                          },
                          "company": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isGracePeriod": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rightSignature/latest/actions/get-reusable-template": {
      "get": {
        "operationId": "rightSignature.get-reusable-template",
        "summary": "Get Reusable Template",
        "description": "Retrieves a specific reusable template from RightSignature.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rightSignature/latest/actions/get-reusable-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Reusable Template ID",
            "schema": {
              "type": "string",
              "description": "Reusable Template ID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creator": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "distributionMethod": {
                            "type": "string"
                          },
                          "expiresIn": {
                            "type": "number"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "identityMethod": {
                            "type": "string"
                          },
                          "kba": {
                            "type": "boolean"
                          },
                          "mergeFieldComponents": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "pageImageUrls": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "passcode": {
                            "type": "boolean"
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "sharedWith": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "signerSequencing": {
                            "type": "boolean"
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "thumbnailUrl": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rightSignature/latest/actions/get-sending-request": {
      "get": {
        "operationId": "rightSignature.get-sending-request",
        "summary": "Get Sending Request",
        "description": "Retrieves a RightSignature sending request status.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rightSignature/latest/actions/get-sending-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Sending Request id",
            "schema": {
              "type": "string",
              "description": "Sending Request id"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "documentTemplateId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "statusMessage": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uploadUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rightSignature/latest/actions/list-documents": {
      "get": {
        "operationId": "rightSignature.list-documents",
        "summary": "List Documents",
        "description": "Retrieves available documents from your RightSignature account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rightSignature/latest/actions/list-documents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "A search token.",
            "schema": {
              "type": "string",
              "description": "A search token."
            }
          },
          {
            "name": "templateId",
            "in": "query",
            "required": false,
            "description": "Documents from a specific template",
            "schema": {
              "type": "string",
              "description": "Documents from a specific template"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "The document state filter. Must be one of valid document states or comma seperated list of states. Valid document states are: draft, pending, executed, voided, expired, declined, editing",
            "schema": {
              "type": "string",
              "description": "The document state filter. Must be one of valid document states or comma seperated list of states. Valid document states are: draft, pending, executed, voided, expired, declined, editing"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rightSignature/latest/actions/list-reusable-template-tags": {
      "get": {
        "operationId": "rightSignature.list-reusable-template-tags",
        "summary": "List Reusable Template Tags",
        "description": "Retrieves tags for a RightSignature reusable template.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rightSignature/latest/actions/list-reusable-template-tags"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reusableTemplateId",
            "in": "query",
            "required": true,
            "description": "Reusable Template Id value",
            "schema": {
              "type": "string",
              "description": "Reusable Template Id value"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rightSignature/latest/actions/list-reusable-templates": {
      "get": {
        "operationId": "rightSignature.list-reusable-templates",
        "summary": "List Reusable Templates",
        "description": "Retrieves reusable templates from your RightSignature account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rightSignature/latest/actions/list-reusable-templates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "A search token.",
            "schema": {
              "type": "string",
              "description": "A search token."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
[...]
