{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Detrack Universal API",
    "version": "0.0.4",
    "description": "Manage delivery jobs, routes, depots, tracking, and proof of delivery"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/detrack/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/detrack/latest/actions/batch-create-jobs": {
      "post": {
        "operationId": "detrack.batch-create-jobs",
        "summary": "Batch Create Jobs",
        "description": "Creates multiple jobs in Detrack at once.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/detrack/latest/actions/batch-create-jobs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of job objects to create. Each item should include at least do_number, date, and address; type defaults to Delivery."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "actualCrates": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "actualPallets": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "actualUtilization": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "actualWeight": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address": {
                            "type": "string"
                          },
                          "address1": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address3": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressLat": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressLng": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressTrackedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "arrivedAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "arrivedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "arrivedLat": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "arrivedLng": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "assignTo": {
                            "type": "string"
                          },
                          "attachmentUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "attempt": {
                            "type": "number"
                          },
                          "autoReschedule": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bankPrefix": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "billingAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bins": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "boxes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bundles": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "calledAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "canReattempt": {
                            "type": "boolean"
                          },
                          "carrier": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cartons": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "city": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "completionDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "connectHost": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "connectId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "connectToken": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contactlessSignatureLink": {
                            "type": "string"
                          },
                          "contractorGroupName": {
                            "type": "string"
                          },
                          "country": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "cubicMeter": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cubicMeters": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customerFeedback": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "date": {
                            "type": "string"
                          },
                          "deliverToCollectFrom": {
                            "type": "string"
                          },
                          "department": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "depot": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "depotAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "depotContact": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "depotContactNo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "destinationTimeWindow": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "detrackNumber": {
                            "type": "string"
                          },
                          "doNumber": {
                            "type": "string"
                          },
                          "door": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "driverMobileNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "driverRating": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "envelopes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "etaTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "faxNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "geofenceAckAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "geofenceAckLat": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "geofenceAckLng": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "goodsServiceRating": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "groupCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "groupId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "groupName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "headToDeliveryAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "holdTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "identificationNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "instructions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "insuranceCoverage": {
                            "type": "boolean"
                          },
                          "insurancePrice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "invoiceAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "invoiceNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "itemsCount": {
                            "type": "number"
                          },
                          "jobAge": {
                            "type": "number"
                          },
                          "jobFee": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobOrder": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobOwner": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobPrice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobReceivedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobReleaseTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobSequence": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "liveEta": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lockerAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lockerError": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lockerLat": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lockerLng": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lockerStationId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lockerTransactionId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lockerTransactionStatus": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "marketplaceOffer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "massPod": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "milestones": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "assignTo": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "podAt": {
                                  "type": "string"
                                },
                                "reason": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "status": {
                                  "type": "string"
                                },
                                "userName": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "note": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "notifyEmail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "numberOfShippingLabels": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "onDemand": {
                            "type": "boolean"
                          },
                          "openToMarketplace": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orderNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "otherPhoneNumbers": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pallets": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "parcelHeight": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "parcelLength": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "parcelWidth": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "payerType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentCollected": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentMode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "phoneNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo10At": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo10FileUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo1At": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo1FileUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo2At": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo2FileUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo3At": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo3FileUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo4At": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo4FileUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo5At": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo5FileUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo6At": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo6FileUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo7At": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo7FileUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo8At": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo8FileUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo9At": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photo9FileUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photoPreviewAckAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photoPreviewAckLat": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "photoPreviewAckLng": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pickUpPhotoPreviewAckAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pickUpPhotoPreviewAckLat": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pickUpPhotoPreviewAckLng": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pieces": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "podAddress": {
                            "type": "string"
                          },
                          "podAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "podGpsPermission": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "podGpsStatus": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "podLat": {
                            "type": "string"
                          },
                          "podLng": {
                            "type": "string"
                          },
                          "podTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "postalCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "primaryJobStatus": {
                            "type": "string"
                          },
                          "priority": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "rateCardChargeable": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "rateCardChargeableId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "rateCardId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "rateCardVersion": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reason": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reattempted": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "receivedBySentBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "recipientSenderDevicePodAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "recipientSenderDeviceSignatureFileUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "recipientSenderDeviceSignedBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "remarks": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "rolls": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "runNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "salesPerson": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "senderPhoneNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "serialNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "serviceTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "serviceType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "signatureFileUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "signedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "source": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "state": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "temperature": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "textedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "timeWindow": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "timeWindowFrom": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "timeWindowTo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "timeZone": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "totalPrice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "trackingLink": {
                            "type": "string"
                          },
                          "trackingNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "trackingStatus": {
                            "type": "string"
                          },
                          "trackingStatusCode": {
                            "type": "string"
                          },
                          "trays": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "useLocker": {
                            "type": "boolean"
                          },
                          "vehicleType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "verificationCode": {
                            "type": "number"
                          },
                          "warehouseAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "webhookUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "weight": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "zone": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/detrack/latest/actions/batch-delete-jobs": {
      "delete": {
        "operationId": "detrack.batch-delete-jobs",
        "summary": "Batch Delete Jobs",
        "description": "Deletes multiple jobs from Detrack at once.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/detrack/latest/actions/batch-delete-jobs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data[]",
            "in": "query",
            "required": true,
            "description": "Array of job identity objects to delete. Use Detrack job ids for the most reliable batch delete behavior.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Array of job identity objects to delete. Use Detrack job ids for the most reliable batch delete behavior."
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "doNumber": {
                            "type": "string"
                          },
                          "ok": {
                            "type": "boolean"
                          },
                          "type": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/detrack/latest/actions/batch-update-jobs": {
      "put": {
        "operationId": "detrack.batch-update-jobs",
        "summary": "Batch Update Jobs",
        "description": "Updates multiple jobs in Detrack at once.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/detrack/latest/actions/batch-update-jobs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of job update objects. Each item must include do_number, date, and a nested data object with the fields to update."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "doNumber": {
                            "type": "string"
                          },
                          "ok": {
                            "type": "boolean"
                          },
                          "type": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/detrack/latest/actions/bulk-create-depots": {
      "post": {
        "operationId": "detrack.bulk-create-depots",
        "summary": "Bulk Create Depots",
        "description": "Creates multiple depots in Detrack at once.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/detrack/latest/actions/bulk-create-depots"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of depot objects with name and address."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addr1": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addr2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addr3": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address": {
                            "type": "string"
                          },
                          "addressLat": {
                            "type": "number"
                          },
                          "addressLng": {
                            "type": "number"
                          },
                          "city": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "country": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "countryId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "location": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "state": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "zipCode": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/detrack/latest/actions/bulk-delete-depots": {
      "delete": {
        "operationId": "detrack.bulk-delete-depots",
        "summary": "Bulk Delete Depots",
        "description": "Deletes multiple depots from Detrack at once.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/detrack/latest/actions/bulk-delete-depots"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data[]",
            "in": "query",
            "required": true,
            "description": "Array of depot objects to delete by name.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Array of depot objects to delete by name."
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/detrack/latest/actions/bulk-update-depots": {
      "put": {
        "operationId": "detrack.bulk-update-depots",
        "summary": "Bulk Update Depots",
        "description": "Updates multiple depots in Detrack at once.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/detrack/latest/actions/bulk-update-depots"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of depot update objects with name and nested data fields."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "ok": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/detrack/latest/actions/create-depot": {
      "post": {
        "operationId": "detrack.create-depot",
        "summary": "Create Depot",
        "description": "Creates a new depot in Detrack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/detrack/latest/actions/create-depot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data.name",
                  "data.address"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data.name": {
                    "type": "string",
                    "description": "Depot name."
                  },
                  "data.address": {
                    "type": "string",
                    "description": "Depot address that can be geocoded."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addr1": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addr2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addr3": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address": {
                            "type": "string"
                          },
                          "addressLat": {
                            "type": "number"
                          },
                          "addressLng": {
                            "type": "number"
                          },
                          "city": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "country": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "countryId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "location": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "state": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "zipCode": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/detrack/latest/actions/create-job": {
      "post": {
        "operationId": "detrack.create-job",
        "summary": "Create Job",
        "description": "Creates a new job in Detrack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/detrack/latest/actions/create-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data.doNumber",
                  "data.date",
                  "data.address"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data.doNumber": {
                    "type": "string",
                    "description": "Unique delivery order number for the job."
                  },
                  "data.date": {
                    "type": "string",
                    "description": "Job date in YYYY-MM-DD format."
                  },
                  "data.address": {
                    "type": "string",
                    "description": "Delivery address."
                  },
                  "data.deliverToCollectFrom": {
                    "type": "string",
                    "description": "Recipient or contact name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "actualCrates": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "actualPallets": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "actualUtilization": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "actualWeight": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address": {
                            "type": "string"
                          },
                          "address1": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address2": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "address3": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressLat": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressLng": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressTrackedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "arrivedAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "arrivedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "arrivedLat": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "arrivedLng": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "assignTo": {
                            "type": "string"
                          },
                          "attachmentUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "attempt": {
                            "type": "number"
                          },
                          "autoReschedule": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bankPrefix": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "billingAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bins": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "boxes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bundles": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "calledAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "canReattempt": {
                            "type": "boolean"
                          },
                          "carrier": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cartons": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "city": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "companyName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "completionDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "connectHost": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "connectId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "connectToken": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contactlessSignatureLink": {
                            "type": "string"
                          },
                          "contractorGroupName": {
                            "type": "string"
                          },
                          "country": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "cubicMeter": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cubicMeters": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customerFeedback": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "date": {
                            "type": "string"
                          },
                          "deliverToCollectFrom": {
                            "type": "string"
                          },
                          "department": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "depot": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "depotAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "depotContact": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "depotContactNo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "destinationTimeWindow": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "detrackNumber": {
                            "type": "string"
                          },
                          "doNumber": {
                            "type": "string"
                          },
                          "door": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "driverMobileNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "driverRating": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "envelopes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "etaTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "faxNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "geofenceAckAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "geofenceAckLat": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "geofenceAckLng": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "goodsServiceRating": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "groupCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "groupId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "groupName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "headToDeliveryAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "holdTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "identificationNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "instructions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "insuranceCoverage": {
                            "type": "boolean"
                          },
                          "insurancePrice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "invoiceAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "invoiceNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "itemsCount": {
                            "type": "number"
                          },
                          "jobAge": {
                            "type": "number"
                          },
                          "jobFee": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobOrder": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobOwner": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobPrice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobReceivedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobReleaseTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobSequence": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "liveEta": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lockerAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lockerError": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lockerLat": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lockerLng": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lockerStationId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lockerTransactionId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lockerTransactionStatus": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "marketplaceOffer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "massPod": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "milestones": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
[...]
