{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Screenshotbase Universal API",
    "version": "0.0.9",
    "description": "Render websites and capture screenshots with Screenshotbase"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/screenshotbase/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/screenshotbase/latest/actions/check-api-status": {
      "get": {
        "operationId": "screenshotbase.check-api-status",
        "summary": "Check API Status",
        "description": "Retrieves current quota status from Screenshotbase.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/screenshotbase/latest/actions/check-api-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "number",
                            "description": "The account identifier for the authenticated Screenshotbase account."
                          },
                          "quotas": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Contains information about the available request quotas.",
                            "properties": {
                              "grace": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Grace quota information.",
                                "properties": {
                                  "remaining": {
                                    "type": "number",
                                    "description": "The remaining grace quota."
                                  },
                                  "total": {
                                    "type": "number",
                                    "description": "The total grace quota available."
                                  },
                                  "used": {
                                    "type": "number",
                                    "description": "The used grace quota."
                                  }
                                }
                              },
                              "month": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Monthly request quota information.",
                                "properties": {
                                  "remaining": {
                                    "type": "number",
                                    "description": "The number of monthly requests remaining."
                                  },
                                  "total": {
                                    "type": "number",
                                    "description": "The total number of monthly requests available."
                                  },
                                  "used": {
                                    "type": "number",
                                    "description": "The number of monthly requests already used."
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/screenshotbase/latest/actions/take-website-screenshot": {
      "post": {
        "operationId": "screenshotbase.take-website-screenshot",
        "summary": "Take Website Screenshot",
        "description": "Captures a website screenshot with Screenshotbase.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/screenshotbase/latest/actions/take-website-screenshot"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL of the website you want to render."
                  },
                  "format": {
                    "type": "string",
                    "description": "The format of the image returned.",
                    "default": "png"
                  },
                  "quality": {
                    "type": "number",
                    "description": "The quality of the image returned for JPG or JPEG output.",
                    "default": 80
                  },
                  "fullPage": {
                    "type": "boolean",
                    "description": "Take a screenshot of the full page.",
                    "default": false
                  },
                  "viewportWidth": {
                    "type": "number",
                    "description": "The browser viewport width in pixels.",
                    "default": 1280
                  },
                  "viewportHeight": {
                    "type": "number",
                    "description": "The browser viewport height in pixels.",
                    "default": 800
                  },
                  "ipCountryCode": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code for the screenshot IP location."
                  },
                  "delay": {
                    "type": "number",
                    "description": "Seconds to wait before taking the screenshot.",
                    "default": 0
                  },
                  "timeout": {
                    "type": "number",
                    "description": "The timeout in seconds for the page load.",
                    "default": 60
                  },
                  "waitUntil": {
                    "type": "string",
                    "description": "When the screenshot should be taken based on page load state.",
                    "default": "load"
                  },
                  "blockCookieBanners": {
                    "type": "boolean",
                    "description": "Block cookie banners on the page.",
                    "default": false
                  },
                  "blockAds": {
                    "type": "boolean",
                    "description": "Block ads on the page.",
                    "default": false
                  },
                  "blockChats": {
                    "type": "boolean",
                    "description": "Block chat widgets on the page.",
                    "default": false
                  },
                  "hideSelectors[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "CSS selectors to hide before taking the screenshot."
                  },
                  "styles": {
                    "type": "string",
                    "description": "Custom CSS styles to inject before taking the screenshot."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
