{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Encodian - Image Universal API",
    "version": "0.0.2",
    "description": "Manipulate, transform, optimize, watermark, inspect, and extract text from images using Encodian Flowr Image actions."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/encodianImage/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/encodianImage/latest/actions/image-add-image-watermark": {
      "post": {
        "operationId": "encodianImage.image-add-image-watermark",
        "summary": "Image - Add Image Watermark",
        "description": "Creates an image with an image watermark in Encodian - Image.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianImage/latest/actions/image-add-image-watermark"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "filename",
                  "fileContent",
                  "watermarkFilename",
                  "watermarkFileContent",
                  "watermarkPosition"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "filename": {
                    "type": "string",
                    "description": "The filename of the source file. The file extension is mandatory, such as file.png."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "Base64 content of the source image file."
                  },
                  "watermarkFilename": {
                    "type": "string",
                    "description": "The filename of the watermark image file. The file extension is mandatory."
                  },
                  "watermarkFileContent": {
                    "type": "string",
                    "description": "Base64 content of the watermark image file."
                  },
                  "watermarkPosition": {
                    "type": "string",
                    "description": "The position of the image watermark on the source image.",
                    "enum": [
                      "BottomLeft",
                      "BottomRight",
                      "CentreHorizontal",
                      "CentreVertical",
                      "Custom",
                      "Diagonal",
                      "TopLeft",
                      "TopRight"
                    ],
                    "default": "CentreHorizontal"
                  },
                  "imageYOffSet": {
                    "type": "number",
                    "description": "Vertical watermark offset in pixels when Watermark Position is Custom.",
                    "x-mindcloud-advanced": true
                  },
                  "imageXOffset": {
                    "type": "number",
                    "description": "Horizontal watermark offset in pixels when Watermark Position is Custom.",
                    "x-mindcloud-advanced": true
                  },
                  "rotationAngle": {
                    "type": "number",
                    "description": "Rotation angle for the watermark image in degrees.",
                    "x-mindcloud-advanced": true
                  },
                  "opacity": {
                    "type": "number",
                    "description": "Watermark opacity from 0.0 to 1.0. Default is 0.7.",
                    "default": 0.7,
                    "x-mindcloud-advanced": true
                  },
                  "alignImage": {
                    "type": "boolean",
                    "description": "Align the source image using EXIF orientation tags.",
                    "x-mindcloud-advanced": true
                  },
                  "alignWatermark": {
                    "type": "boolean",
                    "description": "Align the watermark image using EXIF orientation tags.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Error messages, if any."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Base64 content of the processed image."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "The filename of the processed image."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianImage/latest/actions/image-add-text-watermark": {
      "post": {
        "operationId": "encodianImage.image-add-text-watermark",
        "summary": "Image - Add Text Watermark",
        "description": "Creates an image with a text watermark in Encodian - Image.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianImage/latest/actions/image-add-text-watermark"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileName",
                  "text",
                  "finalOperation"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The filename of the source image file. The file extension is mandatory."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "Base64 content of the source image file."
                  },
                  "text": {
                    "type": "string",
                    "description": "The text to embed as a watermark within the image."
                  },
                  "finalOperation": {
                    "type": "boolean",
                    "description": "Return the processed file content instead of only an operation ID.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "watermarkPosition": {
                    "type": "string",
                    "description": "Position of the text watermark within the image.",
                    "enum": [
                      "BottomLeft",
                      "BottomRight",
                      "CentreHorizontal",
                      "CentreVertical",
                      "Diagonal",
                      "TopLeft",
                      "TopRight"
                    ],
                    "default": "BottomLeft"
                  },
                  "font": {
                    "type": "string",
                    "description": "Font applied to the text watermark. Default is Arial."
                  },
                  "textColour": {
                    "type": "string",
                    "description": "HTML colour for the text watermark. Default is #E81123."
                  },
                  "textSize": {
                    "type": "number",
                    "description": "Font size for the text watermark. Default is 10."
                  },
                  "operationId": {
                    "type": "string",
                    "description": "Advanced: use a previous Encodian operation ID instead of file content.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Error messages, if any."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Base64 content of the processed image."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "The filename of the processed image."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianImage/latest/actions/image-clean-up-document": {
      "post": {
        "operationId": "encodianImage.image-clean-up-document",
        "summary": "Image - Clean Up Document",
        "description": "Creates a cleaned-up document image in Encodian - Image.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianImage/latest/actions/image-clean-up-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileName",
                  "finalOperation",
                  "autoRotateConfidenceLevel"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The filename of the source image file. The file extension is mandatory."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "Base64 content of the source image file."
                  },
                  "finalOperation": {
                    "type": "boolean",
                    "description": "Return the processed file content instead of only an operation ID.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "autoRotateConfidenceLevel": {
                    "type": "number",
                    "description": "Minimum confidence percentage from 0 to 100 used to control whether rotation is applied.",
                    "default": 60,
                    "x-mindcloud-advanced": true
                  },
                  "cleanUpType": {
                    "type": "string",
                    "description": "Clean-up mode to apply. Default performs automatic document clean-up; None skips clean-up; Specific uses selected advanced clean-up flags.",
                    "enum": [
                      "Default",
                      "None",
                      "Specific"
                    ],
                    "default": "Default"
                  },
                  "autoRotate": {
                    "type": "boolean",
                    "description": "Automatically detects orientation and rotates the image upright.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "deskew": {
                    "type": "boolean",
                    "description": "Detects the skew angle and rotates to remove that skew.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "despeckle": {
                    "type": "boolean",
                    "description": "Automatically detects speckles and removes them.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "adjustBrightnessContrast": {
                    "type": "boolean",
                    "description": "Automatically adjusts brightness and contrast based on image analysis.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "removeBorder": {
                    "type": "boolean",
                    "description": "Locates and removes border pixels from the document.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "smoothBackground": {
                    "type": "boolean",
                    "description": "Smooths background colors to reduce noise.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "smoothObjects": {
                    "type": "boolean",
                    "description": "Smooths object edges in bitonal documents.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "removeDotShading": {
                    "type": "boolean",
                    "description": "Removes shaded regions from bitonal documents.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "imageDetergent": {
                    "type": "boolean",
                    "description": "Smooths regions by shifting similar color values toward a central value.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "applyAverageFilter": {
                    "type": "boolean",
                    "description": "Applies a 3x3 average filter smoothing operation.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "removeHolePunch": {
                    "type": "boolean",
                    "description": "Detects and removes hole punch marks from a bitonal document.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "binarize": {
                    "type": "boolean",
                    "description": "Binarizes the image for dark text on brighter background documents.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Error messages, if any."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Base64 content of the processed image."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "The filename of the processed image."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianImage/latest/actions/image-clean-up-photo": {
      "post": {
        "operationId": "encodianImage.image-clean-up-photo",
        "summary": "Image - Clean Up Photo",
        "description": "Creates a cleaned-up photo image in Encodian - Image.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianImage/latest/actions/image-clean-up-photo"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileName",
                  "finalOperation",
                  "autoRotateConfidenceLevel"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The filename of the source image file. The file extension is mandatory."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "Base64 content of the source image file."
                  },
                  "finalOperation": {
                    "type": "boolean",
                    "description": "Return the processed file content instead of only an operation ID.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "autoRotateConfidenceLevel": {
                    "type": "number",
                    "description": "Minimum confidence percentage from 0 to 100 used to control whether rotation is applied.",
                    "default": 40,
                    "x-mindcloud-advanced": true
                  },
                  "cleanUpType": {
                    "type": "string",
                    "description": "Clean-up mode to apply. Default performs automatic photo clean-up; None skips clean-up; Specific uses selected advanced clean-up flags.",
                    "enum": [
                      "Default",
                      "None",
                      "Specific"
                    ],
                    "default": "Default"
                  },
                  "deskew": {
                    "type": "boolean",
                    "description": "Detects the skew angle and rotates to remove that skew.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "despeckle": {
                    "type": "boolean",
                    "description": "Automatically detects speckles and removes them.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "colorBalance": {
                    "type": "boolean",
                    "description": "Restores and balances image color quality.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "removeBorder": {
                    "type": "boolean",
                    "description": "Locates and removes border pixels from the image.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "contrast": {
                    "type": "boolean",
                    "description": "Adjusts contrast in the image.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "removeRedeye": {
                    "type": "boolean",
                    "description": "Reduces red flash reflection in eyes.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "blur": {
                    "type": "boolean",
                    "description": "Blurs the image by averaging neighboring pixels.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "diffuse": {
                    "type": "boolean",
                    "description": "Diffuses the image by replacing pixels with nearby pixels.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "binarize": {
                    "type": "boolean",
                    "description": "Binarizes the image for dark text on brighter background images.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "autoRotate": {
                    "type": "boolean",
                    "description": "Automatically detects orientation and rotates the image upright.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Error messages, if any."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Base64 content of the processed image."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "The filename of the processed image."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianImage/latest/actions/image-compress": {
      "post": {
        "operationId": "encodianImage.image-compress",
        "summary": "Image - Compress",
        "description": "Creates a compressed image in Encodian - Image.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianImage/latest/actions/image-compress"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileContent",
                  "fileName",
                  "imageType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "Base64 content of the source image file."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The filename of the source image file."
                  },
                  "imageType": {
                    "type": "string",
                    "description": "The source image file format.",
                    "enum": [
                      "JPG",
                      "PNG"
                    ],
                    "default": "JPG"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Error messages, if any."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Base64 content of the processed image."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "The filename of the processed image."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianImage/latest/actions/image-convert-format": {
      "post": {
        "operationId": "encodianImage.image-convert-format",
        "summary": "Image - Convert Format",
        "description": "Creates an image in a new format in Encodian - Image.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianImage/latest/actions/image-convert-format"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileContent",
                  "newImageFormat",
                  "fileName",
                  "currentImageFormat"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "Base64 content of the source image file."
                  },
                  "newImageFormat": {
                    "type": "string",
                    "description": "The target image file format.",
                    "enum": [
                      "BMP",
                      "GIF",
                      "JPG",
                      "PNG",
                      "TIF"
                    ]
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The filename of the source image file."
                  },
                  "currentImageFormat": {
                    "type": "string",
                    "description": "The current image file format.",
                    "enum": [
                      "BMP",
                      "GIF",
                      "HEIC",
                      "JPG",
                      "PNG",
                      "TIF"
                    ],
                    "default": "BMP"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Error messages, if any."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Base64 content of the processed image."
                          },
                          "Filename": {
                            "type": "string",
                            "description": "The filename of the processed image."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianImage/latest/actions/image-convert-to-grayscale": {
      "post": {
        "operationId": "encodianImage.image-convert-to-grayscale",
        "summary": "Image - Convert to Grayscale",
        "description": "Creates a grayscale image in Encodian - Image.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianImage/latest/actions/image-convert-to-grayscale"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "fileContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "Base64 content of the source image file."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Error messages, if any."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Base64 content of the processed grayscale image."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianImage/latest/actions/image-crop": {
      "post": {
        "operationId": "encodianImage.image-crop",
        "summary": "Image - Crop",
        "description": "Creates a cropped image in Encodian - Image.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianImage/latest/actions/image-crop"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "cropType",
                  "fileContent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "cropType": {
                    "type": "string",
                    "description": "Crop method to use, such as borders or rectangle.",
                    "enum": [
                      "Border",
                      "Rectangle"
                    ]
                  },
                  "fileContent": {
                    "type": "string",
                    "description": "Base64 content of the source image file."
                  },
                  "leftBorder": {
                    "type": "number",
                    "description": "Pixel adjustment for the left border."
                  },
                  "rightBorder": {
                    "type": "number",
                    "description": "Pixel adjustment for the right border."
                  },
                  "topBorder": {
                    "type": "number",
                    "description": "Pixel adjustment for the top border."
                  },
                  "bottomBorder": {
                    "type": "number",
                    "description": "Pixel adjustment for the bottom border."
                  },
                  "upperLeftX": {
                    "type": "number",
                    "description": "Upper-left X coordinate of the crop area in pixels."
                  },
                  "upperLeftY": {
                    "type": "number",
                    "description": "Upper-left Y coordinate of the crop area in pixels."
                  },
                  "width": {
                    "type": "number",
                    "description": "Crop area width in pixels."
                  },
                  "height": {
                    "type": "number",
                    "description": "Crop area height in pixels."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Error messages, if any."
                          },
                          "FileContent": {
                            "type": "string",
                            "description": "Base64 content of the cropped image."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianImage/latest/actions/image-extract-metadata": {
      "get": {
        "operationId": "encodianImage.image-extract-metadata",
        "summary": "Image - Extract Metadata",
        "description": "Retrieves image metadata from Encodian - Image.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianImage/latest/actions/image-extract-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileContent",
            "in": "query",
            "required": true,
            "description": "Base64 content of the source image file.",
            "schema": {
              "type": "string",
              "description": "Base64 content of the source image file."
            }
          },
          {
            "name": "simplifiedLatLongFormat",
            "in": "query",
            "required": false,
            "description": "Return latitude and longitude as formatted strings when location metadata is available.",
            "schema": {
              "type": "boolean",
              "description": "Return latitude and longitude as formatted strings when location metadata is available."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bitsPerPixel": {
                            "type": "number",
                            "description": "Bits per pixel."
                          },
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Error messages, if any."
                          },
                          "exifDataJson": {
                            "type": "string",
                            "description": "EXIF data as a JSON string."
                          },
                          "fileSize": {
                            "type": "string",
                            "description": "Image file size in MB."
                          },
                          "hasExifData": {
                            "type": "boolean",
                            "description": "Whether EXIF data is present."
                          },
                          "hasXmpData": {
                            "type": "boolean",
                            "description": "Whether XMP data is present."
                          },
                          "height": {
                            "type": "number",
                            "description": "Image height in pixels."
                          },
                          "horizontalResolution": {
                            "type": "number",
                            "description": "Horizontal resolution in DPI."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message."
                          },
                          "imageFormat": {
                            "type": "string",
                            "description": "Image file format."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          },
                          "orientation": {
                            "type": "string",
                            "description": "Image orientation."
                          },
                          "verticalResolution": {
                            "type": "number",
                            "description": "Vertical resolution in DPI."
                          },
                          "width": {
                            "type": "number",
                            "description": "Image width in pixels."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianImage/latest/actions/image-extract-text": {
      "get": {
        "operationId": "encodianImage.image-extract-text",
        "summary": "Image - Extract Text",
        "description": "Retrieves text from an image in Encodian - Image.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianImage/latest/actions/image-extract-text"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "required": true,
            "description": "The filename of the source image file.",
            "schema": {
              "type": "string",
              "description": "The filename of the source image file."
            }
          },
          {
            "name": "imageType",
            "in": "query",
            "required": true,
            "description": "Source image file format for OCR processing.",
            "schema": {
              "type": "string",
              "description": "Source image file format for OCR processing.",
              "enum": [
                "BMP",
                "JPG",
                "PNG",
                "TIFF"
              ],
              "default": "PNG"
            }
          },
          {
            "name": "fileContent",
            "in": "query",
            "required": true,
            "description": "Base64 content of the source image file.",
            "schema": {
              "type": "string",
              "description": "Base64 content of the source image file."
            }
          },
          {
            "name": "autoRotateConfidenceLevel",
            "in": "query",
            "required": true,
            "description": "Minimum confidence percentage from 0 to 100 used to control whether rotation is applied.",
            "schema": {
              "type": "number",
              "description": "Minimum confidence percentage from 0 to 100 used to control whether rotation is applied.",
              "default": 70,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "ocrLanguage",
            "in": "query",
            "required": false,
            "description": "Language used for OCR processing. Default is English.",
            "schema": {
              "type": "string",
              "description": "Language used for OCR processing. Default is English.",
              "enum": [
                "Albanian",
                "Arabic",
                "Azerbaijani",
                "Basque",
                "Belarusian",
                "Bengali",
                "Bosnian",
                "Bulgarian",
                "Burmese",
                "Catalan",
                "ChineseSimplified",
                "ChineseTraditional",
                "Croatian",
                "Czech",
                "Danish",
                "Dutch",
                "English",
                "Estonian",
                "Finnish",
                "French",
                "Georgian",
                "German",
                "Greek",
                "Gujarati",
                "Hebrew",
                "Hindi",
                "Hungarian",
                "Icelandic",
                "Indonesian",
                "Italian",
                "Japanese",
                "Kannada",
                "Kazakh",
                "Khmer",
                "Korean",
                "Kurdish",
                "Kyrgyz",
                "Laotian",
                "Latin",
                "Latvian",
                "Lithuanian",
                "Macedonian",
                "Maharashtra",
                "Malay",
                "Malayalam",
                "Maltese",
                "Nepali",
                "Norwegian",
                "Oriya",
                "Panjabi",
                "Persian",
                "Polish",
                "Portuguese",
                "Pushto",
                "Romanian",
                "Russian",
                "Sanskrit",
                "Serbian",
                "Singhalese",
                "Slovakian",
                "Slovenian",
                "Spanish",
                "Swahili",
                "Swedish",
                "Syriac",
                "Tamil",
                "Telugu",
                "Thai",
                "Turkish",
                "Ukrainian",
                "Urdu",
                "Uzbek",
                "Vietnamese",
                "Welsh",
                "Yiddish"
              ],
              "default": "English",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "cleanUpType",
            "in": "query",
            "required": false,
            "description": "Clean-up mode to apply before OCR processing. Default performs automatic clean-up; None skips clean-up; Specific uses selected advanced clean-up flags.",
            "schema": {
              "type": "string",
              "description": "Clean-up mode to apply before OCR processing. Default performs automatic clean-up; None skips clean-up; Specific uses selected advanced clean-up flags.",
              "enum": [
                "Default",
                "None",
                "Specific"
              ],
              "default": "None",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "autoRotate",
            "in": "query",
            "required": false,
            "description": "Automatically detects orientation and rotates the image upright before OCR.",
            "schema": {
              "type": "boolean",
              "description": "Automatically detects orientation and rotates the image upright before OCR.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "deskew",
            "in": "query",
            "required": false,
            "description": "Detects the skew angle and rotates to remove that skew before OCR.",
            "schema": {
              "type": "boolean",
              "description": "Detects the skew angle and rotates to remove that skew before OCR.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "despeckle",
            "in": "query",
            "required": false,
            "description": "Automatically detects speckles and removes them before OCR.",
            "schema": {
              "type": "boolean",
              "description": "Automatically detects speckles and removes them before OCR.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "adjustBrightnessContrast",
            "in": "query",
            "required": false,
            "description": "Automatically adjusts brightness and contrast before OCR.",
            "schema": {
              "type": "boolean",
              "description": "Automatically adjusts brightness and contrast before OCR.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "removeBorder",
            "in": "query",
            "required": false,
            "description": "Locates and removes border pixels before OCR.",
            "schema": {
              "type": "boolean",
              "description": "Locates and removes border pixels before OCR.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "smoothBackground",
            "in": "query",
            "required": false,
            "description": "Smooths background colors to reduce noise before OCR.",
            "schema": {
              "type": "boolean",
              "description": "Smooths background colors to reduce noise before OCR.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "smoothObjects",
            "in": "query",
            "required": false,
            "description": "Smooths object edges in bitonal documents before OCR.",
            "schema": {
              "type": "boolean",
              "description": "Smooths object edges in bitonal documents before OCR.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "removeDotShading",
            "in": "query",
            "required": false,
            "description": "Removes shaded regions from bitonal documents before OCR.",
            "schema": {
              "type": "boolean",
              "description": "Removes shaded regions from bitonal documents before OCR.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "imageDetergent",
            "in": "query",
            "required": false,
            "description": "Smooths regions by shifting similar color values toward a central value before OCR.",
            "schema": {
              "type": "boolean",
              "description": "Smooths regions by shifting similar color values toward a central value before OCR.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "applyAverageFilter",
            "in": "query",
            "required": false,
            "description": "Applies a 3x3 average filter smoothing operation before OCR.",
            "schema": {
              "type": "boolean",
              "description": "Applies a 3x3 average filter smoothing operation before OCR.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "removeHolePunch",
            "in": "query",
            "required": false,
            "description": "Detects and removes hole punch marks before OCR.",
            "schema": {
              "type": "boolean",
              "description": "Detects and removes hole punch marks before OCR.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "binarize",
            "in": "query",
            "required": false,
            "description": "Binarizes the image before OCR.",
            "schema": {
              "type": "boolean",
              "description": "Binarizes the image before OCR.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Error messages, if any."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique Encodian operation ID."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Encodian operation status."
                          },
                          "Text": {
                            "type": "string",
                            "description": "Text extracted from the image."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
[...]
