{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "CDC Content Services Universal API",
    "version": "0.0.2",
    "description": "Access CDC Content Services resources, including syndicated media, topics, tags, audiences, languages, organizations, and source metadata from the public CDC Content Services API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/cDCContentServices/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/cDCContentServices/latest/actions/get-media": {
      "get": {
        "operationId": "cDCContentServices.get-media",
        "summary": "Get Media",
        "description": "Retrieves media from CDC Content Services by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cDCContentServices/latest/actions/get-media"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mediaId",
            "in": "query",
            "required": true,
            "description": "CDC media identifier.",
            "schema": {
              "type": "number",
              "description": "CDC media identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alternateImages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Alternate image renditions."
                          },
                          "alternateText": {
                            "type": "string",
                            "description": "Alternate text."
                          },
                          "attribution": {
                            "type": "string",
                            "description": "CDC attribution HTML."
                          },
                          "author": {
                            "type": "string",
                            "description": "Author value from CDC metadata."
                          },
                          "campaigns": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Campaign metadata."
                          },
                          "childCount": {
                            "type": "number",
                            "description": "Number of child media items."
                          },
                          "contentUrl": {
                            "type": "string",
                            "description": "CDC content endpoint URL."
                          },
                          "dataSize": {
                            "type": "string",
                            "description": "Data size value."
                          },
                          "dateContentAuthored": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Content authored timestamp."
                          },
                          "dateContentPublished": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Content published timestamp."
                          },
                          "dateContentReviewed": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Content reviewed timestamp."
                          },
                          "dateContentUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Content updated timestamp."
                          },
                          "dateModified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Modified timestamp."
                          },
                          "datePublished": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Published timestamp."
                          },
                          "dateSyndicationCaptured": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Syndication captured timestamp."
                          },
                          "dateSyndicationUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Syndication updated timestamp."
                          },
                          "dateSyndicationVisible": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Syndication visible timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Media description."
                          },
                          "domainName": {
                            "type": "string",
                            "description": "Associated domain name."
                          },
                          "embedCode": {
                            "type": "string",
                            "description": "CDC embed code."
                          },
                          "embedUrl": {
                            "type": "string",
                            "description": "CDC embed endpoint URL."
                          },
                          "enclosures": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Enclosure metadata."
                          },
                          "extendedAttributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Extended CDC attributes."
                          },
                          "extension": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Extension metadata."
                          },
                          "featuredText": {
                            "type": "string",
                            "description": "Featured text."
                          },
                          "geoTags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Geographic tags attached to the media item."
                          },
                          "id": {
                            "type": "number",
                            "description": "CDC media identifier from runtime."
                          },
                          "isTopSyndicated": {
                            "type": "string",
                            "description": "CDC top-syndicated flag value."
                          },
                          "language": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Language metadata."
                          },
                          "length": {
                            "type": "string",
                            "description": "Length value from CDC metadata."
                          },
                          "maintainingOrgId": {
                            "type": "string",
                            "description": "Maintaining organization identifier."
                          },
                          "maintainingOrgName": {
                            "type": "string",
                            "description": "Maintaining organization name."
                          },
                          "mediaType": {
                            "type": "string",
                            "description": "CDC media type."
                          },
                          "name": {
                            "type": "string",
                            "description": "Media title/name."
                          },
                          "noScriptText": {
                            "type": "string",
                            "description": "No-script fallback text."
                          },
                          "owningOrgId": {
                            "type": "string",
                            "description": "Owning organization identifier."
                          },
                          "owningOrgName": {
                            "type": "string",
                            "description": "Owning organization name."
                          },
                          "pageCount": {
                            "type": "string",
                            "description": "Page count value."
                          },
                          "parentCount": {
                            "type": "number",
                            "description": "Number of parent media items."
                          },
                          "parents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Parent media items."
                          },
                          "persistentUrl": {
                            "type": "string",
                            "description": "Persistent CDC API URL."
                          },
                          "persistentUrlToken": {
                            "type": "string",
                            "description": "Persistent URL token."
                          },
                          "source": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Source metadata."
                          },
                          "sourceUrl": {
                            "type": "string",
                            "description": "Original CDC source URL."
                          },
                          "status": {
                            "type": "string",
                            "description": "Publication status."
                          },
                          "syndicateUrl": {
                            "type": "string",
                            "description": "CDC syndication endpoint URL."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tags attached to the media item."
                          },
                          "targetUrl": {
                            "type": "string",
                            "description": "Target URL for the media item."
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Thumbnail image URL."
                          },
                          "url": {
                            "type": "string",
                            "description": "CDC API URL for this media resource."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cDCContentServices/latest/actions/get-media-content": {
      "get": {
        "operationId": "cDCContentServices.get-media-content",
        "summary": "Get Media Content",
        "description": "Retrieves media content from CDC Content Services.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cDCContentServices/latest/actions/get-media-content"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mediaId",
            "in": "query",
            "required": true,
            "description": "CDC media identifier.",
            "schema": {
              "type": "number",
              "description": "CDC media identifier."
            }
          },
          {
            "name": "stripScripts",
            "in": "query",
            "required": false,
            "description": "When true, JavaScript is stripped from content results. CDC defaults to true.",
            "schema": {
              "type": "boolean",
              "description": "When true, JavaScript is stripped from content results. CDC defaults to true.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string",
                            "description": "CDC HTML content body returned by the content endpoint."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cDCContentServices/latest/actions/get-media-embed-code": {
      "get": {
        "operationId": "cDCContentServices.get-media-embed-code",
        "summary": "Get Media Embed Code",
        "description": "Retrieves media embed code from CDC Content Services.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cDCContentServices/latest/actions/get-media-embed-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mediaId",
            "in": "query",
            "required": true,
            "description": "CDC media identifier.",
            "schema": {
              "type": "number",
              "description": "CDC media identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string",
                            "description": "CDC embed code string returned as the top-level results value."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cDCContentServices/latest/actions/get-media-syndication": {
      "get": {
        "operationId": "cDCContentServices.get-media-syndication",
        "summary": "Get Media Syndication",
        "description": "Retrieves media syndication details from CDC Content Services.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cDCContentServices/latest/actions/get-media-syndication"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mediaId",
            "in": "query",
            "required": true,
            "description": "CDC media identifier.",
            "schema": {
              "type": "number",
              "description": "CDC media identifier."
            }
          },
          {
            "name": "stripScripts",
            "in": "query",
            "required": false,
            "description": "When true, JavaScript is stripped from syndicated results. CDC defaults to true.",
            "schema": {
              "type": "boolean",
              "description": "When true, JavaScript is stripped from syndicated results. CDC defaults to true.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "stripImages",
            "in": "query",
            "required": false,
            "description": "When true, images are stripped from syndicated results.",
            "schema": {
              "type": "boolean",
              "description": "When true, images are stripped from syndicated results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Syndicated HTML/content."
                          },
                          "description": {
                            "type": "string",
                            "description": "Content description."
                          },
                          "mediaId": {
                            "type": "number",
                            "description": "CDC media identifier."
                          },
                          "mediaType": {
                            "type": "string",
                            "description": "CDC media type."
                          },
                          "name": {
                            "type": "string",
                            "description": "Content title/name."
                          },
                          "sourceUrl": {
                            "type": "string",
                            "description": "Original CDC source URL."
                          },
                          "targetUrl": {
                            "type": "string",
                            "description": "Target URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cDCContentServices/latest/actions/get-tag": {
      "get": {
        "operationId": "cDCContentServices.get-tag",
        "summary": "Get Tag",
        "description": "Retrieves a tag from CDC Content Services.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cDCContentServices/latest/actions/get-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "query",
            "required": true,
            "description": "CDC tag identifier.",
            "schema": {
              "type": "number",
              "description": "CDC tag identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Tag identifier."
                          },
                          "language": {
                            "type": "string",
                            "description": "Tag language."
                          },
                          "name": {
                            "type": "string",
                            "description": "Tag name."
                          },
                          "type": {
                            "type": "string",
                            "description": "Tag type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cDCContentServices/latest/actions/list-audiences": {
      "get": {
        "operationId": "cDCContentServices.list-audiences",
        "summary": "List Audiences",
        "description": "Retrieves audiences from CDC Content Services.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cDCContentServices/latest/actions/list-audiences"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Language filter; CDC defaults to English when omitted.",
            "schema": {
              "type": "string",
              "description": "Language filter; CDC defaults to English when omitted."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Audience description."
                          },
                          "displayOrdinal": {
                            "type": "number",
                            "description": "Display order."
                          },
                          "id": {
                            "type": "number",
                            "description": "Audience identifier."
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Child audience items."
                          },
                          "language": {
                            "type": "string",
                            "description": "Audience language."
                          },
                          "mediaUsageCount": {
                            "type": "number",
                            "description": "Number of tagged media items."
                          },
                          "name": {
                            "type": "string",
                            "description": "Audience name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cDCContentServices/latest/actions/list-languages": {
      "get": {
        "operationId": "cDCContentServices.list-languages",
        "summary": "List Languages",
        "description": "Retrieves languages from CDC Content Services.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cDCContentServices/latest/actions/list-languages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "isoCode": {
                            "type": "string",
                            "description": "CDC language ISO code."
                          },
                          "isoCode2": {
                            "type": "string",
                            "description": "Two-letter ISO language code."
                          },
                          "name": {
                            "type": "string",
                            "description": "Language name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cDCContentServices/latest/actions/list-media": {
      "get": {
        "operationId": "cDCContentServices.list-media",
        "summary": "List Media",
        "description": "Retrieves media from CDC Content Services.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cDCContentServices/latest/actions/list-media"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search topic, name, and description. Use quotes for exact phrase matching.",
            "schema": {
              "type": "string",
              "description": "Search topic, name, and description. Use quotes for exact phrase matching."
            }
          },
          {
            "name": "mediaTypes",
            "in": "query",
            "required": false,
            "description": "Comma-separated media type names, such as HTML, Image, Video, Button, Badge, Widget, or Infographic.",
            "schema": {
              "type": "string",
              "description": "Comma-separated media type names, such as HTML, Image, Video, Button, Badge, Widget, or Infographic.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "nameContains",
            "in": "query",
            "required": false,
            "description": "Return media whose name contains this value.",
            "schema": {
              "type": "string",
              "description": "Return media whose name contains this value."
            }
          },
          {
            "name": "topic",
            "in": "query",
            "required": false,
            "description": "Filter media by topic name.",
            "schema": {
              "type": "string",
              "description": "Filter media by topic name."
            }
          },
          {
            "name": "topicIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated CDC topic identifiers.",
            "schema": {
              "type": "string",
              "description": "Comma-separated CDC topic identifiers.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "audience",
            "in": "query",
            "required": false,
            "description": "Filter media by audience name.",
            "schema": {
              "type": "string",
              "description": "Filter media by audience name."
            }
          },
          {
            "name": "languageName",
            "in": "query",
            "required": false,
            "description": "Filter media by language name, such as English or Spanish.",
            "schema": {
              "type": "string",
              "description": "Filter media by language name, such as English or Spanish."
            }
          },
          {
            "name": "sourceAcronym",
            "in": "query",
            "required": false,
            "description": "Filter media by source acronym, such as CDC.",
            "schema": {
              "type": "string",
              "description": "Filter media by source acronym, such as CDC.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alternateImages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Alternate image renditions."
                          },
                          "alternateText": {
                            "type": "string",
                            "description": "Alternate text."
                          },
                          "attribution": {
                            "type": "string",
                            "description": "CDC attribution HTML."
                          },
                          "author": {
                            "type": "string",
                            "description": "Author value from CDC metadata."
                          },
                          "campaigns": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Campaign metadata."
                          },
                          "childCount": {
                            "type": "number",
                            "description": "Number of child media items."
                          },
                          "contentUrl": {
                            "type": "string",
                            "description": "CDC content endpoint URL."
                          },
                          "dataSize": {
                            "type": "string",
                            "description": "Data size value."
                          },
                          "dateContentAuthored": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Content authored timestamp."
                          },
                          "dateContentPublished": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Content published timestamp."
                          },
                          "dateContentReviewed": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Content reviewed timestamp."
                          },
                          "dateContentUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Content updated timestamp."
                          },
                          "dateModified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Modified timestamp."
                          },
                          "datePublished": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Published timestamp."
                          },
                          "dateSyndicationCaptured": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Syndication captured timestamp."
                          },
                          "dateSyndicationUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Syndication updated timestamp."
                          },
                          "dateSyndicationVisible": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Syndication visible timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Media description."
                          },
                          "domainName": {
                            "type": "string",
                            "description": "Associated domain name."
                          },
                          "embedCode": {
                            "type": "string",
                            "description": "CDC embed code."
                          },
                          "embedUrl": {
                            "type": "string",
                            "description": "CDC embed endpoint URL."
                          },
                          "enclosures": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Enclosure metadata."
                          },
                          "extendedAttributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Extended CDC attributes."
                          },
                          "extension": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Extension metadata."
                          },
                          "featuredText": {
                            "type": "string",
                            "description": "Featured text."
                          },
                          "geoTags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Geographic tags attached to the media item."
                          },
                          "id": {
                            "type": "number",
                            "description": "CDC media identifier from runtime."
                          },
                          "isTopSyndicated": {
                            "type": "string",
                            "description": "CDC top-syndicated flag value."
                          },
                          "language": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Language metadata."
                          },
                          "length": {
                            "type": "string",
                            "description": "Length value from CDC metadata."
                          },
                          "maintainingOrgId": {
                            "type": "string",
                            "description": "Maintaining organization identifier."
                          },
                          "maintainingOrgName": {
                            "type": "string",
                            "description": "Maintaining organization name."
                          },
                          "mediaType": {
                            "type": "string",
                            "description": "CDC media type."
                          },
                          "name": {
                            "type": "string",
                            "description": "Media title/name."
                          },
                          "noScriptText": {
                            "type": "string",
                            "description": "No-script fallback text."
                          },
                          "owningOrgId": {
                            "type": "string",
                            "description": "Owning organization identifier."
                          },
                          "owningOrgName": {
                            "type": "string",
                            "description": "Owning organization name."
                          },
                          "pageCount": {
                            "type": "string",
                            "description": "Page count value."
                          },
                          "parentCount": {
                            "type": "number",
                            "description": "Number of parent media items."
                          },
                          "parents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Parent media items."
                          },
                          "persistentUrl": {
                            "type": "string",
                            "description": "Persistent CDC API URL."
                          },
                          "persistentUrlToken": {
                            "type": "string",
                            "description": "Persistent URL token."
                          },
                          "source": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Source metadata."
                          },
                          "sourceUrl": {
                            "type": "string",
                            "description": "Original CDC source URL."
                          },
                          "status": {
                            "type": "string",
                            "description": "Publication status."
                          },
                          "syndicateUrl": {
                            "type": "string",
                            "description": "CDC syndication endpoint URL."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tags attached to the media item."
                          },
                          "targetUrl": {
                            "type": "string",
                            "description": "Target URL for the media item."
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Thumbnail image URL."
                          },
                          "url": {
                            "type": "string",
                            "description": "CDC API URL for this media resource."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cDCContentServices/latest/actions/list-media-by-tag": {
      "get": {
        "operationId": "cDCContentServices.list-media-by-tag",
        "summary": "List Media By Tag",
        "description": "Retrieves media by tag from CDC Content Services.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cDCContentServices/latest/actions/list-media-by-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "query",
            "required": true,
            "description": "CDC tag identifier.",
            "schema": {
              "type": "number",
              "description": "CDC tag identifier."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alternateImages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Alternate image renditions."
                          },
                          "alternateText": {
                            "type": "string",
                            "description": "Alternate text."
                          },
                          "attribution": {
                            "type": "string",
                            "description": "CDC attribution HTML."
                          },
                          "author": {
                            "type": "string",
                            "description": "Author value from CDC metadata."
                          },
                          "campaigns": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Campaign metadata."
                          },
                          "childCount": {
                            "type": "number",
                            "description": "Number of child media items."
                          },
                          "contentUrl": {
                            "type": "string",
                            "description": "CDC content endpoint URL."
                          },
                          "dataSize": {
                            "type": "string",
                            "description": "Data size value."
                          },
                          "dateContentAuthored": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Content authored timestamp."
                          },
                          "dateContentPublished": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Content published timestamp."
                          },
                          "dateContentReviewed": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Content reviewed timestamp."
                          },
                          "dateContentUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Content updated timestamp."
                          },
                          "dateModified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Modified timestamp."
                          },
                          "datePublished": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Published timestamp."
                          },
                          "dateSyndicationCaptured": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Syndication captured timestamp."
                          },
                          "dateSyndicationUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Syndication updated timestamp."
                          },
                          "dateSyndicationVisible": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Syndication visible timestamp."
                          },
                          "description": {
                            "type": "string",
                            "description": "Media description."
                          },
                          "domainName": {
                            "type": "string",
                            "description": "Associated domain name."
                          },
                          "embedCode": {
                            "type": "string",
                            "description": "CDC embed code."
                          },
                          "embedUrl": {
                            "type": "string",
                            "description": "CDC embed endpoint URL."
                          },
                          "enclosures": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Enclosure metadata."
                          },
                          "extendedAttributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Extended CDC attributes."
                          },
                          "extension": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Extension metadata."
                          },
                          "featuredText": {
                            "type": "string",
                            "description": "Featured text."
                          },
                          "geoTags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Geographic tags attached to the media item."
                          },
                          "id": {
                            "type": "number",
                            "description": "CDC media identifier from runtime."
                          },
                          "isTopSyndicated": {
                            "type": "string",
                            "description": "CDC top-syndicated flag value."
                          },
                          "language": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Language metadata."
                          },
                          "length": {
                            "type": "string",
                            "description": "Length value from CDC metadata."
                          },
                          "maintainingOrgId": {
                            "type": "string",
                            "description": "Maintaining organization identifier."
                          },
                          "maintainingOrgName": {
                            "type": "string",
                            "description": "Maintaining organization name."
                          },
                          "mediaType": {
                            "type": "string",
                            "description": "CDC media type."
                          },
                          "name": {
                            "type": "string",
                            "description": "Media title/name."
                          },
                          "noScriptText": {
                            "type": "string",
                            "description": "No-script fallback text."
                          },
                          "owningOrgId": {
                            "type": "string",
                            "description": "Owning organization identifier."
                          },
                          "owningOrgName": {
                            "type": "string",
                            "description": "Owning organization name."
                          },
                          "pageCount": {
                            "type": "string",
                            "description": "Page count value."
                          },
                          "parentCount": {
                            "type": "number",
                            "description": "Number of parent media items."
                          },
                          "parents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Parent media items."
                          },
                          "persistentUrl": {
                            "type": "string",
                            "description": "Persistent CDC API URL."
                          },
                          "persistentUrlToken": {
                            "type": "string",
                            "description": "Persistent URL token."
                          },
                          "source": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Source metadata."
                          },
                          "sourceUrl": {
                            "type": "string",
                            "description": "Original CDC source URL."
                          },
                          "status": {
                            "type": "string",
                            "description": "Publication status."
                          },
                          "syndicateUrl": {
                            "type": "string",
                            "description": "CDC syndication endpoint URL."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tags attached to the media item."
                          },
                          "targetUrl": {
                            "type": "string",
                            "description": "Target URL for the media item."
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "Thumbnail image URL."
                          },
                          "url": {
                            "type": "string",
                            "description": "CDC API URL for this media resource."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cDCContentServices/latest/actions/list-media-types": {
      "get": {
        "operationId": "cDCContentServices.list-media-types",
        "summary": "List Media Types",
        "description": "Retrieves media types from CDC Content Services.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cDCContentServices/latest/actions/list-media-types"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
[...]
