{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ShareFile Universal API",
    "version": "0.0.8",
    "description": "ShareFile integration for managing files, folders, shares, users, groups, accounts, zones, and sessions via the ShareFile API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/shareFile/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/shareFile/latest/actions/create-client-user": {
      "post": {
        "operationId": "shareFile.create-client-user",
        "summary": "Create Client User",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shareFile/latest/actions/create-client-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "Email",
                  "FirstName",
                  "LastName",
                  "Company"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "Email": {
                    "type": "string",
                    "description": "The email address for the ShareFile user."
                  },
                  "FirstName": {
                    "type": "string",
                    "description": "The first name of the ShareFile user."
                  },
                  "LastName": {
                    "type": "string",
                    "description": "The last name of the ShareFile user."
                  },
                  "Company": {
                    "type": "string",
                    "description": "The company name for the ShareFile user."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Company": {
                            "type": "string"
                          },
                          "Contacted": {
                            "type": "number"
                          },
                          "DateCreated": {
                            "type": "string"
                          },
                          "Domain": {
                            "type": "string"
                          },
                          "Email": {
                            "type": "string"
                          },
                          "EmailAddresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Emails": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "FirstName": {
                            "type": "string"
                          },
                          "FullName": {
                            "type": "string"
                          },
                          "FullNameShort": {
                            "type": "string"
                          },
                          "Id": {
                            "type": "string"
                          },
                          "Initials": {
                            "type": "string"
                          },
                          "IsBillingContact": {
                            "type": "boolean"
                          },
                          "IsConfirmed": {
                            "type": "boolean"
                          },
                          "IsDeleted": {
                            "type": "boolean"
                          },
                          "LastName": {
                            "type": "string"
                          },
                          "odata": {
                            "type": "object",
                            "properties": {
                              "metadata": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ReferredBy": {
                            "type": "string"
                          },
                          "Roles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "TotalSharedFiles": {
                            "type": "number"
                          },
                          "url": {
                            "type": "string"
                          },
                          "Username": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shareFile/latest/actions/create-folder": {
      "post": {
        "operationId": "shareFile.create-folder",
        "summary": "Create Folder",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shareFile/latest/actions/create-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "Name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The parent folder item identifier where the new folder should be created."
                  },
                  "Name": {
                    "type": "string",
                    "description": "The name of the folder to create."
                  },
                  "Description": {
                    "type": "string",
                    "description": "An optional description for the folder."
                  },
                  "Zone": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "An optional ShareFile zone object for the folder."
                  },
                  "ExpirationDate": {
                    "type": "string",
                    "description": "An optional ISO timestamp for folder expiration."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AssociatedFolderTemplateID": {
                            "type": "string"
                          },
                          "BandwidthLimitInMB": {
                            "type": "number"
                          },
                          "CreationDate": {
                            "type": "string"
                          },
                          "CreatorFirstName": {
                            "type": "string"
                          },
                          "CreatorLastName": {
                            "type": "string"
                          },
                          "CreatorNameShort": {
                            "type": "string"
                          },
                          "Description": {
                            "type": "string"
                          },
                          "DiskSpaceLimit": {
                            "type": "number"
                          },
                          "ExpirationDate": {
                            "type": "string"
                          },
                          "ExpirationDays": {
                            "type": "number"
                          },
                          "FileCount": {
                            "type": "number"
                          },
                          "FileName": {
                            "type": "string"
                          },
                          "FileSizeBytes": {
                            "type": "number"
                          },
                          "FileSizeInKB": {
                            "type": "number"
                          },
                          "HasPendingAsyncOp": {
                            "type": "boolean"
                          },
                          "HasPendingDeletion": {
                            "type": "boolean"
                          },
                          "HasPermissionInfo": {
                            "type": "boolean"
                          },
                          "Id": {
                            "type": "string"
                          },
                          "Info": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "IsHidden": {
                            "type": "boolean"
                          },
                          "IsTemplateOwned": {
                            "type": "boolean"
                          },
                          "LastActivityUserNameShort": {
                            "type": "string"
                          },
                          "LastModifiedByUserID": {
                            "type": "string"
                          },
                          "Name": {
                            "type": "string"
                          },
                          "odata": {
                            "type": "object",
                            "properties": {
                              "metadata": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Parent": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Path": {
                            "type": "string"
                          },
                          "ProgenyEditDate": {
                            "type": "string"
                          },
                          "State": {
                            "type": "number"
                          },
                          "StreamID": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shareFile/latest/actions/create-group": {
      "post": {
        "operationId": "shareFile.create-group",
        "summary": "Create Group",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shareFile/latest/actions/create-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "Group"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "Group": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The ShareFile group object to create."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "The ShareFile group identifier."
                          },
                          "IsShared": {
                            "type": "boolean",
                            "description": "Whether the returned ShareFile group is shared."
                          },
                          "Name": {
                            "type": "string",
                            "description": "The ShareFile group name."
                          },
                          "odata": {
                            "type": "object",
                            "properties": {
                              "metadata": {
                                "type": "string",
                                "description": "The OData metadata URL for the returned group."
                              },
                              "type": {
                                "type": "string",
                                "description": "The OData type for the returned group."
                              }
                            },
                            "additionalProperties": false
                          },
                          "url": {
                            "type": "string",
                            "description": "The API URL for the returned group."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shareFile/latest/actions/delete-group": {
      "delete": {
        "operationId": "shareFile.delete-group",
        "summary": "Delete Group",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shareFile/latest/actions/delete-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ShareFile group identifier to delete.",
            "schema": {
              "type": "string",
              "description": "The ShareFile group identifier to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shareFile/latest/actions/delete-item": {
      "delete": {
        "operationId": "shareFile.delete-item",
        "summary": "Delete Item",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shareFile/latest/actions/delete-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ShareFile item identifier to delete.",
            "schema": {
              "type": "string",
              "description": "The ShareFile item identifier to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shareFile/latest/actions/delete-share": {
      "delete": {
        "operationId": "shareFile.delete-share",
        "summary": "Delete Share",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shareFile/latest/actions/delete-share"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ShareFile share identifier to delete.",
            "schema": {
              "type": "string",
              "description": "The ShareFile share identifier to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shareFile/latest/actions/delete-user": {
      "delete": {
        "operationId": "shareFile.delete-user",
        "summary": "Delete User",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shareFile/latest/actions/delete-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ShareFile user identifier to delete.",
            "schema": {
              "type": "string",
              "description": "The ShareFile user identifier to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shareFile/latest/actions/get-account": {
      "get": {
        "operationId": "shareFile.get-account",
        "summary": "Get Account",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shareFile/latest/actions/get-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ShareFile account identifier.",
            "schema": {
              "type": "string",
              "description": "The ShareFile account identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AccountManagerId": {
                            "type": "string",
                            "description": "The account manager user identifier."
                          },
                          "AccountSubType": {
                            "type": "string",
                            "description": "The ShareFile account subtype."
                          },
                          "BandwidthMax": {
                            "type": "number",
                            "description": "The maximum bandwidth allocation."
                          },
                          "BaseDiskSpace": {
                            "type": "number",
                            "description": "The base disk space allocation."
                          },
                          "BaseUsers": {
                            "type": "number",
                            "description": "The included user count."
                          },
                          "BillingContactId": {
                            "type": "string",
                            "description": "The billing contact user identifier."
                          },
                          "BillingRate": {
                            "type": "number",
                            "description": "The current billing rate."
                          },
                          "BillingType": {
                            "type": "string",
                            "description": "The ShareFile billing type."
                          },
                          "CanCancel": {
                            "type": "boolean",
                            "description": "Whether the account can be cancelled."
                          },
                          "CancellationDate": {
                            "type": "string",
                            "description": "The cancellation timestamp."
                          },
                          "CanChangeBilling": {
                            "type": "boolean",
                            "description": "Whether billing can be changed."
                          },
                          "CanChangePlan": {
                            "type": "boolean",
                            "description": "Whether the plan can be changed."
                          },
                          "CanConvertFreeTrial": {
                            "type": "boolean",
                            "description": "Whether the account can convert from free trial."
                          },
                          "CloudStorageType": {
                            "type": "string",
                            "description": "The cloud storage type."
                          },
                          "CompanyName": {
                            "type": "string",
                            "description": "The ShareFile account company name."
                          },
                          "Country": {
                            "type": "string",
                            "description": "The account country."
                          },
                          "CreationDate": {
                            "type": "string",
                            "description": "The account creation timestamp."
                          },
                          "DiskSpaceMax": {
                            "type": "number",
                            "description": "The maximum disk space allocation."
                          },
                          "Id": {
                            "type": "string",
                            "description": "The ShareFile account identifier."
                          },
                          "IsCancelled": {
                            "type": "boolean",
                            "description": "Whether the account is cancelled."
                          },
                          "IsFreeTrial": {
                            "type": "boolean",
                            "description": "Whether the account is a free trial."
                          },
                          "IsSolutionOffering": {
                            "type": "boolean",
                            "description": "Whether the account is a solution offering."
                          },
                          "IsSuspended": {
                            "type": "boolean",
                            "description": "Whether the account is suspended."
                          },
                          "LastBillingDate": {
                            "type": "string",
                            "description": "The last billing date."
                          },
                          "LogoURL": {
                            "type": "string",
                            "description": "The logo URL."
                          },
                          "MasterAdminId": {
                            "type": "string",
                            "description": "The master admin user identifier."
                          },
                          "NextBillingDate": {
                            "type": "string",
                            "description": "The next billing date."
                          },
                          "odata": {
                            "type": "object",
                            "properties": {
                              "metadata": {
                                "type": "string",
                                "description": "The OData metadata URL for the returned account."
                              },
                              "type": {
                                "type": "string",
                                "description": "The OData type for the returned account."
                              }
                            },
                            "additionalProperties": false
                          },
                          "Phone": {
                            "type": "string",
                            "description": "The account phone number."
                          },
                          "PlanName": {
                            "type": "string",
                            "description": "The ShareFile plan name."
                          },
                          "PlanTrack": {
                            "type": "string",
                            "description": "The ShareFile plan track."
                          },
                          "PlanTrackEnum": {
                            "type": "string",
                            "description": "The plan track enum value."
                          },
                          "Subdomain": {
                            "type": "string",
                            "description": "The primary ShareFile subdomain."
                          },
                          "Subdomains": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The ShareFile subdomains tied to the account."
                          },
                          "TechnicalContactId": {
                            "type": "string",
                            "description": "The technical contact user identifier."
                          },
                          "url": {
                            "type": "string",
                            "description": "The API URL for the returned account."
                          },
                          "UserMax": {
                            "type": "number",
                            "description": "The maximum user count."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shareFile/latest/actions/get-current-account": {
      "get": {
        "operationId": "shareFile.get-current-account",
        "summary": "Get Current Account",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shareFile/latest/actions/get-current-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AccountManagerId": {
                            "type": "string",
                            "description": "The account manager user identifier."
                          },
                          "AccountSubType": {
                            "type": "string",
                            "description": "The ShareFile account subtype."
                          },
                          "BandwidthMax": {
                            "type": "number",
                            "description": "The maximum bandwidth allocation."
                          },
                          "BaseDiskSpace": {
                            "type": "number",
                            "description": "The base disk space allocation."
                          },
                          "BaseUsers": {
                            "type": "number",
                            "description": "The included user count."
                          },
                          "BillingContactId": {
                            "type": "string",
                            "description": "The billing contact user identifier."
                          },
                          "BillingRate": {
                            "type": "number",
                            "description": "The current billing rate."
                          },
                          "BillingType": {
                            "type": "string",
                            "description": "The ShareFile billing type."
                          },
                          "CanCancel": {
                            "type": "boolean",
                            "description": "Whether the account can be cancelled."
                          },
                          "CancellationDate": {
                            "type": "string",
                            "description": "The cancellation timestamp."
                          },
                          "CanChangeBilling": {
                            "type": "boolean",
                            "description": "Whether billing can be changed."
                          },
                          "CanChangePlan": {
                            "type": "boolean",
                            "description": "Whether the plan can be changed."
                          },
                          "CanConvertFreeTrial": {
                            "type": "boolean",
                            "description": "Whether the account can convert from free trial."
                          },
                          "CloudStorageType": {
                            "type": "string",
                            "description": "The cloud storage type."
                          },
                          "CompanyName": {
                            "type": "string",
                            "description": "The ShareFile account company name."
                          },
                          "Country": {
                            "type": "string",
                            "description": "The account country."
                          },
                          "CreationDate": {
                            "type": "string",
                            "description": "The account creation timestamp."
                          },
                          "DiskSpaceMax": {
                            "type": "number",
                            "description": "The maximum disk space allocation."
                          },
                          "Id": {
                            "type": "string",
                            "description": "The ShareFile account identifier."
                          },
                          "IsCancelled": {
                            "type": "boolean",
                            "description": "Whether the account is cancelled."
                          },
                          "IsFreeTrial": {
                            "type": "boolean",
                            "description": "Whether the account is a free trial."
                          },
                          "IsSolutionOffering": {
                            "type": "boolean",
                            "description": "Whether the account is a solution offering."
                          },
                          "IsSuspended": {
                            "type": "boolean",
                            "description": "Whether the account is suspended."
                          },
                          "LastBillingDate": {
                            "type": "string",
                            "description": "The last billing date."
                          },
                          "LogoURL": {
                            "type": "string",
                            "description": "The logo URL."
                          },
                          "MasterAdminId": {
                            "type": "string",
                            "description": "The master admin user identifier."
                          },
                          "NextBillingDate": {
                            "type": "string",
                            "description": "The next billing date."
                          },
                          "odata": {
                            "type": "object",
                            "properties": {
                              "metadata": {
                                "type": "string",
                                "description": "The OData metadata URL for the returned account."
                              },
                              "type": {
                                "type": "string",
                                "description": "The OData type for the returned account."
                              }
                            },
                            "additionalProperties": false
                          },
                          "Phone": {
                            "type": "string",
                            "description": "The account phone number."
                          },
                          "PlanName": {
                            "type": "string",
                            "description": "The ShareFile plan name."
                          },
                          "PlanTrack": {
                            "type": "string",
                            "description": "The ShareFile plan track."
                          },
                          "PlanTrackEnum": {
                            "type": "string",
                            "description": "The plan track enum value."
                          },
                          "Subdomain": {
                            "type": "string",
                            "description": "The primary ShareFile subdomain."
                          },
                          "Subdomains": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The ShareFile subdomains tied to the account."
                          },
                          "TechnicalContactId": {
                            "type": "string",
                            "description": "The technical contact user identifier."
                          },
                          "url": {
                            "type": "string",
                            "description": "The API URL for the returned account."
                          },
                          "UserMax": {
                            "type": "number",
                            "description": "The maximum user count."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shareFile/latest/actions/get-current-user": {
      "get": {
        "operationId": "shareFile.get-current-user",
        "summary": "Get Current User",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shareFile/latest/actions/get-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CanCreateFolders": {
                            "type": "boolean",
                            "description": "Whether the returned user can create folders."
                          },
                          "CanManageUsers": {
                            "type": "boolean",
                            "description": "Whether the returned user can manage users."
                          },
                          "CanUseFileBox": {
                            "type": "boolean",
                            "description": "Whether the returned user can use File Box."
                          },
                          "Company": {
                            "type": "string",
                            "description": "The ShareFile company name."
                          },
                          "Domain": {
                            "type": "string",
                            "description": "The ShareFile domain."
                          },
                          "Email": {
                            "type": "string",
                            "description": "The primary email address."
                          },
                          "Emails": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The user email addresses."
                          },
                          "FirstName": {
                            "type": "string",
                            "description": "The user first name."
                          },
                          "FullName": {
                            "type": "string",
                            "description": "The user full name."
                          },
                          "Id": {
                            "type": "string",
                            "description": "The ShareFile user identifier."
                          },
                          "IsAdministrator": {
                            "type": "boolean",
                            "description": "Whether the returned user is an administrator."
                          },
                          "LastName": {
                            "type": "string",
                            "description": "The user last name."
                          },
                          "odata": {
                            "type": "object",
                            "properties": {
                              "metadata": {
                                "type": "string",
                                "description": "The OData metadata URL for the returned user."
                              },
                              "type": {
                                "type": "string",
                                "description": "The OData type for the returned user."
                              }
                            },
                            "additionalProperties": false
                          },
                          "Roles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The user roles."
                          },
                          "url": {
                            "type": "string",
                            "description": "The API URL for the returned user resource."
                          },
                          "Username": {
                            "type": "string",
                            "description": "The ShareFile username."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shareFile/latest/actions/get-group": {
      "get": {
        "operationId": "shareFile.get-group",
        "summary": "Get Group",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shareFile/latest/actions/get-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ShareFile group identifier.",
            "schema": {
              "type": "string",
              "description": "The ShareFile group identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "The ShareFile group identifier."
                          },
                          "IsShared": {
                            "type": "boolean",
                            "description": "Whether the returned ShareFile group is shared."
                          },
                          "Name": {
                            "type": "string",
                            "description": "The ShareFile group name."
                          },
                          "odata": {
                            "type": "object",
                            "properties": {
                              "metadata": {
                                "type": "string",
                                "description": "The OData metadata URL for the returned group."
                              },
                              "type": {
                                "type": "string",
                                "description": "The OData type for the returned group."
                              }
                            },
                            "additionalProperties": false
                          },
                          "url": {
                            "type": "string",
                            "description": "The API URL for the returned group."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shareFile/latest/actions/get-home-folder-for-current-user": {
      "get": {
        "operationId": "shareFile.get-home-folder-for-current-user",
        "summary": "Get Home Folder for Current User",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shareFile/latest/actions/get-home-folder-for-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AssociatedFolderTemplateID": {
                            "type": "string",
                            "description": "The associated folder template identifier."
                          },
                          "BandwidthLimitInMB": {
                            "type": "number",
                            "description": "The bandwidth limit for the item."
                          },
                          "CreationDate": {
                            "type": "string",
                            "description": "The item creation timestamp."
                          },
                          "CreatorFirstName": {
                            "type": "string",
                            "description": "The creator first name."
                          },
                          "CreatorLastName": {
                            "type": "string",
                            "description": "The creator last name."
                          },
                          "CreatorNameShort": {
                            "type": "string",
                            "description": "The creator short display name."
                          },
                          "Description": {
                            "type": "string",
                            "description": "The item description."
                          },
                          "DiskSpaceLimit": {
                            "type": "number",
                            "description": "The disk space limit for the item."
                          },
                          "ExpirationDate": {
                            "type": "string",
                            "description": "The item expiration timestamp."
                          },
                          "ExpirationDays": {
                            "type": "number",
                            "description": "The remaining expiration days."
                          },
                          "FileCount": {
                            "type": "number",
                            "description": "The number of files directly under the returned root item."
                          },
                          "FileName": {
                            "type": "string",
                            "description": "The underlying file or folder name."
                          },
                          "FileSizeBytes": {
                            "type": "number",
                            "description": "The item size in bytes."
                          },
                          "FileSizeInKB": {
                            "type": "number",
                            "description": "The item size in kilobytes."
                          },
                          "HasPendingAsyncOp": {
                            "type": "boolean",
                            "description": "Whether an async operation is pending."
                          },
                          "HasPendingDeletion": {
                            "type": "boolean",
                            "description": "Whether the item has a pending deletion."
                          },
                          "HasPermissionInfo": {
                            "type": "boolean",
                            "description": "Whether permission information is present."
                          },
                          "Id": {
                            "type": "string",
                            "description": "The ShareFile item identifier."
                          },
[...]
