{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Mapulus Universal API",
    "version": "0.0.3",
    "description": "Explore, enrich, and query Australian location intelligence data"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/mapulus/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/mapulus/latest/actions/create-location": {
      "post": {
        "operationId": "mapulus.create-location",
        "summary": "Create Location",
        "description": "Creates a new location in Mapulus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mapulus/latest/actions/create-location"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "layerId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "layerId": {
                    "type": "string",
                    "description": "The layer that will contain the location."
                  },
                  "lat": {
                    "type": "number",
                    "description": "Latitude in decimal degrees."
                  },
                  "lon": {
                    "type": "number",
                    "description": "Longitude in decimal degrees."
                  },
                  "label": {
                    "type": "string",
                    "description": "Short label for the location."
                  },
                  "title": {
                    "type": "string",
                    "description": "Display title for the location."
                  },
                  "address": {
                    "type": "string",
                    "description": "Address for the location."
                  },
                  "externalId": {
                    "type": "string",
                    "description": "External identifier for the location."
                  },
                  "travelContour": {
                    "type": "boolean",
                    "description": "Whether to generate a travel contour."
                  },
                  "contourMode": {
                    "type": "string",
                    "description": "Routing mode for contour generation."
                  },
                  "contourMetric": {
                    "type": "string",
                    "description": "Metric for contour generation."
                  },
                  "contourStyle": {
                    "type": "string",
                    "description": "Style for contour output."
                  },
                  "contourMinutes": {
                    "type": "string",
                    "description": "Travel time for contour generation in minutes."
                  },
                  "createOrUpdateCustomAttributes": {
                    "type": "boolean",
                    "description": "Whether to create or update custom attributes automatically."
                  },
                  "customAttributes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Custom attributes to attach to the location."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "The formatted address."
                          },
                          "contourMetric": {
                            "type": "string",
                            "description": "The contour metric."
                          },
                          "contourMinutes": {
                            "type": "string",
                            "description": "The contour duration value."
                          },
                          "contourMode": {
                            "type": "string",
                            "description": "The contour travel mode."
                          },
                          "contourStyle": {
                            "type": "string",
                            "description": "The contour style."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the location was created."
                          },
                          "customAttributes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom attributes attached to the location."
                          },
                          "externalId": {
                            "type": "string",
                            "description": "The provider-side external identifier."
                          },
                          "geocodingError": {
                            "type": "boolean",
                            "description": "Whether geocoding failed for the location."
                          },
                          "geocodingErrorType": {
                            "type": "string",
                            "description": "The geocoding error type, when present."
                          },
                          "id": {
                            "type": "string",
                            "description": "The location identifier."
                          },
                          "label": {
                            "type": "string",
                            "description": "The short label for the location."
                          },
                          "lat": {
                            "type": "number",
                            "description": "The latitude of the location."
                          },
                          "layerId": {
                            "type": "string",
                            "description": "The parent layer identifier."
                          },
                          "lon": {
                            "type": "number",
                            "description": "The longitude of the location."
                          },
                          "mapId": {
                            "type": "string",
                            "description": "The parent map identifier."
                          },
                          "object": {
                            "type": "string",
                            "description": "The resource type returned by Mapulus."
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of the location."
                          },
                          "travelContour": {
                            "type": "boolean",
                            "description": "Whether a travel contour is enabled."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the location was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mapulus/latest/actions/delete-location": {
      "delete": {
        "operationId": "mapulus.delete-location",
        "summary": "Delete Location",
        "description": "Deletes an existing location from Mapulus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mapulus/latest/actions/delete-location"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Location ID.",
            "schema": {
              "type": "string",
              "description": "Location ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the location was deleted."
                          },
                          "id": {
                            "type": "string",
                            "description": "The location identifier."
                          },
                          "object": {
                            "type": "string",
                            "description": "The resource type returned by Mapulus."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mapulus/latest/actions/get-location": {
      "get": {
        "operationId": "mapulus.get-location",
        "summary": "Get Location",
        "description": "Retrieves a specific location from Mapulus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mapulus/latest/actions/get-location"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Location ID.",
            "schema": {
              "type": "string",
              "description": "Location ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "The formatted address."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the location was created."
                          },
                          "customAttributes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom attributes attached to the location."
                          },
                          "description": {
                            "type": "string",
                            "description": "The freeform description for the location."
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address for the location."
                          },
                          "externalId": {
                            "type": "string",
                            "description": "The provider-side external identifier."
                          },
                          "focusForProfileId": {
                            "type": "string",
                            "description": "The routing profile focus identifier, when present."
                          },
                          "geocodingError": {
                            "type": "boolean",
                            "description": "Whether geocoding failed for the location."
                          },
                          "geocodingErrorType": {
                            "type": "string",
                            "description": "The geocoding error type, when present."
                          },
                          "id": {
                            "type": "string",
                            "description": "The location identifier."
                          },
                          "label": {
                            "type": "string",
                            "description": "The short label for the location."
                          },
                          "lat": {
                            "type": "number",
                            "description": "The latitude of the location."
                          },
                          "layerId": {
                            "type": "string",
                            "description": "The parent layer identifier."
                          },
                          "lon": {
                            "type": "number",
                            "description": "The longitude of the location."
                          },
                          "mapId": {
                            "type": "string",
                            "description": "The parent map identifier."
                          },
                          "object": {
                            "type": "string",
                            "description": "The resource type returned by Mapulus."
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "The phone number for the location."
                          },
                          "primaryImage": {
                            "type": "string",
                            "description": "The primary image URL for the location."
                          },
                          "rating": {
                            "type": "number",
                            "description": "The location rating, when present."
                          },
                          "ratingCount": {
                            "type": "number",
                            "description": "The number of ratings, when present."
                          },
                          "ratingSource": {
                            "type": "string",
                            "description": "The rating source, when present."
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of the location."
                          },
                          "travelContour": {
                            "type": "boolean",
                            "description": "Whether a travel contour is enabled."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the location was last updated."
                          },
                          "website": {
                            "type": "string",
                            "description": "The website URL for the location."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mapulus/latest/actions/get-map": {
      "get": {
        "operationId": "mapulus.get-map",
        "summary": "Get Map",
        "description": "Retrieves a specific map from Mapulus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mapulus/latest/actions/get-map"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Map ID.",
            "schema": {
              "type": "string",
              "description": "Map ID."
            }
          },
          {
            "name": "expand[]",
            "in": "query",
            "required": false,
            "description": "Expand related resources such as layers.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Expand related resources such as layers."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the map was created."
                          },
                          "id": {
                            "type": "string",
                            "description": "The map identifier."
                          },
                          "object": {
                            "type": "string",
                            "description": "The resource type returned by Mapulus."
                          },
                          "title": {
                            "type": "string",
                            "description": "The map title."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the map was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mapulus/latest/actions/list-locations": {
      "get": {
        "operationId": "mapulus.list-locations",
        "summary": "List Locations",
        "description": "Retrieves locations from your Mapulus account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mapulus/latest/actions/list-locations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mapId",
            "in": "query",
            "required": false,
            "description": "Filter locations by map ID.",
            "schema": {
              "type": "string",
              "description": "Filter locations by map ID."
            }
          },
          {
            "name": "layerId",
            "in": "query",
            "required": false,
            "description": "Filter locations by layer ID.",
            "schema": {
              "type": "string",
              "description": "Filter locations by layer ID."
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "required": false,
            "description": "Filter locations by external ID.",
            "schema": {
              "type": "string",
              "description": "Filter locations by external ID."
            }
          },
          {
            "name": "nearest.lat",
            "in": "query",
            "required": false,
            "description": "Latitude for nearest-location search.",
            "schema": {
              "type": "number",
              "description": "Latitude for nearest-location search."
            }
          },
          {
            "name": "nearest.lon",
            "in": "query",
            "required": false,
            "description": "Longitude for nearest-location search.",
            "schema": {
              "type": "number",
              "description": "Longitude for nearest-location search."
            }
          },
          {
            "name": "nearest.address",
            "in": "query",
            "required": false,
            "description": "Address for nearest-location search.",
            "schema": {
              "type": "string",
              "description": "Address for nearest-location search."
            }
          },
          {
            "name": "nearest.sortBy",
            "in": "query",
            "required": false,
            "description": "Sort nearest results by distance or time.",
            "schema": {
              "type": "string",
              "description": "Sort nearest results by distance or time."
            }
          },
          {
            "name": "nearest.profile",
            "in": "query",
            "required": false,
            "description": "Routing profile for nearest-location search.",
            "schema": {
              "type": "string",
              "description": "Routing profile for nearest-location search."
            }
          },
          {
            "name": "nearest.liveTraffic",
            "in": "query",
            "required": false,
            "description": "Whether to include live traffic in nearest-location search.",
            "schema": {
              "type": "string",
              "description": "Whether to include live traffic in nearest-location search."
            }
          },
          {
            "name": "nearest.limit",
            "in": "query",
            "required": false,
            "description": "Limit nearest-location results.",
            "schema": {
              "type": "number",
              "description": "Limit nearest-location results."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "The formatted address."
                          },
                          "contourMetric": {
                            "type": "string",
                            "description": "The contour metric."
                          },
                          "contourMinutes": {
                            "type": "string",
                            "description": "The contour duration value."
                          },
                          "contourMode": {
                            "type": "string",
                            "description": "The contour travel mode."
                          },
                          "contourStyle": {
                            "type": "string",
                            "description": "The contour style."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the location was created."
                          },
                          "customAttributes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom attributes attached to the location."
                          },
                          "description": {
                            "type": "string",
                            "description": "The freeform description for the location."
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address for the location."
                          },
                          "externalId": {
                            "type": "string",
                            "description": "The provider-side external identifier."
                          },
                          "focusForProfileId": {
                            "type": "string",
                            "description": "The routing profile focus identifier, when present."
                          },
                          "geocodingError": {
                            "type": "boolean",
                            "description": "Whether geocoding failed for the location."
                          },
                          "geocodingErrorType": {
                            "type": "string",
                            "description": "The geocoding error type, when present."
                          },
                          "id": {
                            "type": "string",
                            "description": "The location identifier."
                          },
                          "label": {
                            "type": "string",
                            "description": "The short label for the location."
                          },
                          "lat": {
                            "type": "number",
                            "description": "The latitude of the location."
                          },
                          "layerId": {
                            "type": "string",
                            "description": "The parent layer identifier."
                          },
                          "lon": {
                            "type": "number",
                            "description": "The longitude of the location."
                          },
                          "mapId": {
                            "type": "string",
                            "description": "The parent map identifier."
                          },
                          "object": {
                            "type": "string",
                            "description": "The resource type returned by Mapulus."
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "The phone number for the location."
                          },
                          "primaryImage": {
                            "type": "string",
                            "description": "The primary image URL for the location."
                          },
                          "rating": {
                            "type": "number",
                            "description": "The location rating, when present."
                          },
                          "ratingCount": {
                            "type": "number",
                            "description": "The number of ratings, when present."
                          },
                          "ratingSource": {
                            "type": "string",
                            "description": "The rating source, when present."
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of the location."
                          },
                          "travelContour": {
                            "type": "boolean",
                            "description": "Whether a travel contour is enabled."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the location was last updated."
                          },
                          "website": {
                            "type": "string",
                            "description": "The website URL for the location."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mapulus/latest/actions/list-maps": {
      "get": {
        "operationId": "mapulus.list-maps",
        "summary": "List Maps",
        "description": "Retrieves all maps from your Mapulus account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mapulus/latest/actions/list-maps"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the map was created."
                          },
                          "id": {
                            "type": "string",
                            "description": "The map identifier."
                          },
                          "object": {
                            "type": "string",
                            "description": "The resource type returned by Mapulus."
                          },
                          "title": {
                            "type": "string",
                            "description": "The map title."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the map was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mapulus/latest/actions/update-location": {
      "put": {
        "operationId": "mapulus.update-location",
        "summary": "Update Location",
        "description": "Updates an existing location in Mapulus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mapulus/latest/actions/update-location"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "layerId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Location ID."
                  },
                  "layerId": {
                    "type": "string",
                    "description": "The layer that will contain the location."
                  },
                  "lat": {
                    "type": "number",
                    "description": "Latitude in decimal degrees."
                  },
                  "lon": {
                    "type": "number",
                    "description": "Longitude in decimal degrees."
                  },
                  "label": {
                    "type": "string",
                    "description": "Short label for the location."
                  },
                  "title": {
                    "type": "string",
                    "description": "Display title for the location."
                  },
                  "address": {
                    "type": "string",
                    "description": "Address for the location."
                  },
                  "externalId": {
                    "type": "string",
                    "description": "External identifier for the location."
                  },
                  "travelContour": {
                    "type": "boolean",
                    "description": "Whether to generate a travel contour."
                  },
                  "contourMode": {
                    "type": "string",
                    "description": "Routing mode for contour generation."
                  },
                  "contourMetric": {
                    "type": "string",
                    "description": "Metric for contour generation."
                  },
                  "contourStyle": {
                    "type": "string",
                    "description": "Style for contour output."
                  },
                  "contourMinutes": {
                    "type": "string",
                    "description": "Travel time for contour generation in minutes."
                  },
                  "createOrUpdateCustomAttributes": {
                    "type": "boolean",
                    "description": "Whether to create or update custom attributes automatically."
                  },
                  "customAttributes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Custom attributes to attach to the location."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "The formatted address."
                          },
                          "contourMetric": {
                            "type": "string",
                            "description": "The contour metric."
                          },
                          "contourMinutes": {
                            "type": "string",
                            "description": "The contour duration value."
                          },
                          "contourMode": {
                            "type": "string",
                            "description": "The contour travel mode."
                          },
                          "contourStyle": {
                            "type": "string",
                            "description": "The contour style."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the location was created."
                          },
                          "customAttributes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom attributes attached to the location."
                          },
                          "externalId": {
                            "type": "string",
                            "description": "The provider-side external identifier."
                          },
                          "geocodingError": {
                            "type": "boolean",
                            "description": "Whether geocoding failed for the location."
                          },
                          "geocodingErrorType": {
                            "type": "string",
                            "description": "The geocoding error type, when present."
                          },
                          "id": {
                            "type": "string",
                            "description": "The location identifier."
                          },
                          "label": {
                            "type": "string",
                            "description": "The short label for the location."
                          },
                          "lat": {
                            "type": "number",
                            "description": "The latitude of the location."
                          },
                          "layerId": {
                            "type": "string",
                            "description": "The parent layer identifier."
                          },
                          "lon": {
                            "type": "number",
                            "description": "The longitude of the location."
                          },
                          "mapId": {
                            "type": "string",
                            "description": "The parent map identifier."
                          },
                          "object": {
                            "type": "string",
                            "description": "The resource type returned by Mapulus."
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of the location."
                          },
                          "travelContour": {
                            "type": "boolean",
                            "description": "Whether a travel contour is enabled."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the location was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
